{
  "batchPath": "batch",
  "canonicalName": "Batch",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "id": "batch:v1",
  "title": "Batch API",
  "description": "An API to manage the running of Batch resources on Google Cloud Platform.",
  "name": "batch",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "revision": "20260302",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://batch.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "id": "batch.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}/locations"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "id": "batch.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "batch.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "batch.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "batch.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "batch.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                }
              }
            },
            "jobs": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Delete a Job.",
                  "id": "batch.projects.locations.jobs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Job name.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    },
                    "reason": {
                      "location": "query",
                      "description": "Optional. Reason for this deletion.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "id": "batch.projects.locations.jobs.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Cancel a Job.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. Job name.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Create a Job.",
                  "id": "batch.projects.locations.jobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name where the Job will be created. Pattern: \"projects/{project}/locations/{location}\"",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "location": "query",
                      "description": "ID used to uniquely identify the Job within its parent scope. This field should contain at most 63 characters and must start with lowercase characters. Only lowercase characters, numbers and '-' are accepted. The '-' character cannot be the first or the last one. A system generated ID will be used if the field is not set. The job.name field in the request will be ignored and the created resource name of the Job will be \"{parent}/jobs/{job_id}\".",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "POST"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Sort results. Supported are \"name\", \"name desc\", \"create_time\", and \"create_time desc\".",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Parent path.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Page size.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "description": "List all Jobs for a project within a region.",
                  "id": "batch.projects.locations.jobs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/jobs"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. Job name.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Get a Job specified by its resource name.",
                  "id": "batch.projects.locations.jobs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "taskGroups": {
                  "resources": {
                    "tasks": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Task"
                          },
                          "description": "Return a single Task.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+/tasks/[^/]+$",
                              "description": "Required. Task name.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks/{tasksId}"
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks",
                          "parameters": {
                            "parent": {
                              "description": "Required. Name of a TaskGroup from which Tasks are being requested. Pattern: \"projects/{project}/locations/{location}/jobs/{job}/taskGroups/{task_group}\"",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+$",
                              "location": "path"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Task filter, null filter matches all Tasks. Filter string should be of the format State=TaskStatus.State e.g. State=RUNNING",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Page size.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "Page token.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListTasksResponse"
                          },
                          "description": "List Tasks associated with a job.",
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/tasks",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              }
            },
            "state": {
              "methods": {
                "report": {
                  "id": "batch.projects.locations.state.report",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ReportAgentStateRequest"
                  },
                  "response": {
                    "$ref": "ReportAgentStateResponse"
                  },
                  "description": "Report agent's state, e.g. agent status and tasks information",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: projects/{project}/locations/{location} {project} should be a project number.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/state:report",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/state:report",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "mtlsRootUrl": "https://batch.mtls.googleapis.com/",
  "schemas": {
    "Accelerator": {
      "description": "Accelerator describes Compute Engine accelerators to be attached to the VM.",
      "type": "object",
      "properties": {
        "installGpuDrivers": {
          "description": "Deprecated: please use instances[0].install_gpu_drivers instead.",
          "type": "boolean",
          "deprecated": true
        },
        "type": {
          "description": "The accelerator type. For example, \"nvidia-tesla-t4\". See `gcloud compute accelerator-types list`.",
          "type": "string"
        },
        "count": {
          "description": "The number of accelerators of this type.",
          "type": "string",
          "format": "int64"
        },
        "driverVersion": {
          "description": "Optional. The NVIDIA GPU driver version that should be installed for this type. You can define the specific driver version such as \"470.103.01\", following the driver version requirements in https://cloud.google.com/compute/docs/gpus/install-drivers-gpu#minimum-driver. Batch will install the specific accelerator driver if qualified.",
          "type": "string"
        }
      },
      "id": "Accelerator"
    },
    "ReportAgentStateResponse": {
      "description": "Response to ReportAgentStateRequest.",
      "type": "object",
      "properties": {
        "minReportInterval": {
          "format": "google-duration",
          "description": "Minimum report interval override",
          "type": "string"
        },
        "tasks": {
          "items": {
            "$ref": "AgentTask"
          },
          "description": "Tasks assigned to the agent",
          "type": "array"
        },
        "useBatchMonitoredResource": {
          "description": "If true, the cloud logging for batch agent will use batch.googleapis.com/Job as monitored resource for Batch job related logging.",
          "type": "boolean"
        },
        "defaultReportInterval": {
          "format": "google-duration",
          "description": "Default report interval override",
          "type": "string"
        }
      },
      "id": "ReportAgentStateResponse"
    },
    "CloudLoggingOption": {
      "id": "CloudLoggingOption",
      "description": "`CloudLoggingOption` contains additional settings for Cloud Logging logs generated by Batch job.",
      "type": "object",
      "properties": {
        "useGenericTaskMonitoredResource": {
          "description": "Optional. Set this field to `true` to change the [monitored resource type](https://cloud.google.com/monitoring/api/resources) for Cloud Logging logs generated by this Batch job from the [`batch.googleapis.com/Job`](https://cloud.google.com/monitoring/api/resources#tag_batch.googleapis.com/Job) type to the formerly used [`generic_task`](https://cloud.google.com/monitoring/api/resources#tag_generic_task) type.",
          "type": "boolean"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "Environment": {
      "id": "Environment",
      "description": "An Environment describes a collection of environment variables to set when executing Tasks.",
      "type": "object",
      "properties": {
        "variables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of environment variable names to values.",
          "type": "object"
        },
        "secretVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "type": "object"
        },
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values.",
          "$ref": "KMSEnvMap"
        }
      }
    },
    "TaskGroup": {
      "description": "A TaskGroup defines one or more Tasks that all share the same TaskSpec.",
      "type": "object",
      "properties": {
        "taskCountPerNode": {
          "format": "int64",
          "description": "Max number of tasks that can be run on a VM at the same time. If not specified, the system will decide a value based on available compute resources on a VM and task requirements.",
          "type": "string"
        },
        "permissiveSsh": {
          "description": "When true, Batch will configure SSH to allow passwordless login between VMs running the Batch tasks in the same TaskGroup.",
          "type": "boolean"
        },
        "requireHostsFile": {
          "description": "When true, Batch will populate a file with a list of all VMs assigned to the TaskGroup and set the BATCH_HOSTS_FILE environment variable to the path of that file. Defaults to false. The host file supports up to 1000 VMs.",
          "type": "boolean"
        },
        "taskSpec": {
          "$ref": "TaskSpec",
          "description": "Required. Tasks in the group share the same task spec."
        },
        "parallelism": {
          "description": "Max number of tasks that can run in parallel. Default to min(task_count, parallel tasks per job limit). See: [Job Limits](https://cloud.google.com/batch/quotas#job_limits). Field parallelism must be 1 if the scheduling_policy is IN_ORDER.",
          "type": "string",
          "format": "int64"
        },
        "schedulingPolicy": {
          "description": "Scheduling policy for Tasks in the TaskGroup. The default value is AS_SOON_AS_POSSIBLE.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Run Tasks as soon as resources are available. Tasks might be executed in parallel depending on parallelism and task_count values.",
            "Run Tasks sequentially with increased task index."
          ],
          "enum": [
            "SCHEDULING_POLICY_UNSPECIFIED",
            "AS_SOON_AS_POSSIBLE",
            "IN_ORDER"
          ]
        },
        "name": {
          "description": "Output only. TaskGroup name. The system generates this field based on parent Job name. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01\".",
          "readOnly": true,
          "type": "string"
        },
        "taskEnvironments": {
          "description": "An array of environment variable mappings, which are passed to Tasks with matching indices. If task_environments is used then task_count should not be specified in the request (and will be ignored). Task count will be the length of task_environments. Tasks get a BATCH_TASK_INDEX and BATCH_TASK_COUNT environment variable, in addition to any environment variables set in task_environments, specifying the number of Tasks in the Task's parent TaskGroup, and the specific Task's index in the TaskGroup (0 through BATCH_TASK_COUNT - 1).",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "taskCount": {
          "description": "Number of Tasks in the TaskGroup. Default is 1.",
          "type": "string",
          "format": "int64"
        },
        "runAsNonRoot": {
          "description": "Optional. If not set or set to false, Batch uses the root user to execute runnables. If set to true, Batch runs the runnables using a non-root user. Currently, the non-root user Batch used is generated by OS Login. For more information, see [About OS Login](https://cloud.google.com/compute/docs/oslogin).",
          "type": "boolean"
        }
      },
      "id": "TaskGroup"
    },
    "KMSEnvMap": {
      "type": "object",
      "properties": {
        "cipherText": {
          "description": "The value of the cipherText response from the `encrypt` method.",
          "type": "string"
        },
        "keyName": {
          "description": "The name of the KMS key that will be used to decrypt the cipher text.",
          "type": "string"
        }
      },
      "id": "KMSEnvMap"
    },
    "AllocationPolicy": {
      "description": "A Job's resource allocation policy describes when, where, and how compute resources should be allocated for the Job.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location where compute resources should be allocated for the Job.",
          "$ref": "LocationPolicy"
        },
        "labels": {
          "description": "Custom labels to apply to the job and all the Compute Engine resources that both are created by this allocation policy and support labels. Use labels to group and describe the resources they are applied to. Batch automatically applies predefined labels and supports multiple `labels` fields for each job, which each let you apply custom labels to various resources. Label names that start with \"goog-\" or \"google-\" are reserved for predefined labels. For more information about labels with Batch, see [Organize resources using labels](https://cloud.google.com/batch/docs/organize-resources-using-labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instances": {
          "description": "Describe instances that can be created by this AllocationPolicy. Only instances[0] is supported now.",
          "type": "array",
          "items": {
            "$ref": "InstancePolicyOrTemplate"
          }
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Defines the service account for Batch-created VMs. If omitted, the [default Compute Engine service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used. Must match the service account specified in any used instance template configured in the Batch job. Includes the following fields: * email: The service account's email address. If not set, the default Compute Engine service account is used. * scopes: Additional OAuth scopes to grant the service account, beyond the default cloud-platform scope. (list of strings)"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Tags applied to the VM instances. The tags identify valid sources or targets for network firewalls. Each tag must be 1-63 characters long, and comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt).",
          "type": "array"
        },
        "network": {
          "description": "The network policy. If you define an instance template in the `InstancePolicyOrTemplate` field, Batch will use the network settings in the instance template instead of this field.",
          "$ref": "NetworkPolicy"
        },
        "placement": {
          "$ref": "PlacementPolicy",
          "description": "The placement policy."
        }
      },
      "id": "AllocationPolicy"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "Status"
    },
    "Message": {
      "description": "Message details. Describe the conditions under which messages will be sent. If no attribute is defined, no message will be sent by default. One message should specify either the job or the task level attributes, but not both. For example, job level: JOB_STATE_CHANGED and/or a specified new_job_state; task level: TASK_STATE_CHANGED and/or a specified new_task_state.",
      "type": "object",
      "properties": {
        "newTaskState": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ],
          "description": "The new task state.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Notify users that the job state has changed.",
            "Notify users that the task state has changed."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "JOB_STATE_CHANGED",
            "TASK_STATE_CHANGED"
          ],
          "description": "The message type.",
          "type": "string"
        },
        "newJobState": {
          "enumDescriptions": [
            "Job state unspecified.",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up.",
            "The Job cancellation is in progress, this is because the resources used by the Job are still being cleaned up.",
            "The Job has been cancelled, the task executions were stopped and the resources were cleaned up."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS",
            "CANCELLATION_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "The new job state.",
          "type": "string"
        }
      },
      "id": "Message"
    },
    "AgentMetadata": {
      "id": "AgentMetadata",
      "description": "VM Agent Metadata.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "GCP instance name (go/instance-name).",
          "type": "string"
        },
        "instanceId": {
          "description": "GCP instance ID (go/instance-id).",
          "type": "string",
          "format": "uint64"
        },
        "version": {
          "description": "agent binary version running on VM",
          "type": "string"
        },
        "zone": {
          "description": "Agent zone.",
          "type": "string"
        },
        "osRelease": {
          "description": "parsed contents of /etc/os-release",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "imageVersion": {
          "description": "image version for the VM that this agent is installed on.",
          "type": "string"
        },
        "creator": {
          "description": "Full name of the entity that created this vm. For MIG, this path is: projects/{project}/regions/{region}/InstanceGroupManagers/{igm} The value is retrieved from the vm metadata key of \"created-by\".",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. machine type of the VM",
          "type": "string"
        },
        "instancePreemptionNoticeReceived": {
          "description": "If the GCP instance has received preemption notice.",
          "type": "boolean"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "When the VM agent started. Use agent_startup_time instead.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "A new or an existing persistent disk (PD) or a local ssd attached to a VM instance.",
      "type": "object",
      "properties": {
        "deviceName": {
          "description": "Device name that the guest operating system will see. It is used by Runnable.volumes field to mount disks. So please specify the device_name if you want Batch to help mount the disk, and it should match the device_name field in volumes.",
          "type": "string"
        },
        "newDisk": {
          "$ref": "Disk"
        },
        "existingDisk": {
          "description": "Name of an existing PD.",
          "type": "string"
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "description": "Job status.",
      "type": "object",
      "properties": {
        "statusEvents": {
          "items": {
            "$ref": "StatusEvent"
          },
          "description": "Job status events",
          "type": "array"
        },
        "runDuration": {
          "description": "The duration of time that the Job spent in status RUNNING.",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "description": "Job state",
          "type": "string",
          "enumDescriptions": [
            "Job state unspecified.",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up.",
            "The Job cancellation is in progress, this is because the resources used by the Job are still being cleaned up.",
            "The Job has been cancelled, the task executions were stopped and the resources were cleaned up."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS",
            "CANCELLATION_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "taskGroups": {
          "additionalProperties": {
            "$ref": "TaskGroupStatus"
          },
          "description": "Aggregated task status for each TaskGroup in the Job. The map key is TaskGroup ID.",
          "type": "object"
        }
      }
    },
    "NetworkInterface": {
      "description": "A network interface.",
      "type": "object",
      "properties": {
        "network": {
          "description": "The URL of an existing network resource. You can specify the network as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network} * projects/{project}/global/networks/{network} * global/networks/{network}",
          "type": "string"
        },
        "noExternalIpAddress": {
          "description": "Default is false (with an external IP address). Required if no external public IP address is attached to the VM. If no external public IP address, additional configuration is required to allow the VM to access Google Services. See https://cloud.google.com/vpc/docs/configure-private-google-access and https://cloud.google.com/nat/docs/gce-example#create-nat for more information.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "The URL of an existing subnetwork resource in the network. You can specify the subnetwork as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/subnetworks/{subnetwork} * projects/{project}/regions/{region}/subnetworks/{subnetwork} * regions/{region}/subnetworks/{subnetwork}",
          "type": "string"
        }
      },
      "id": "NetworkInterface"
    },
    "PlacementPolicy": {
      "id": "PlacementPolicy",
      "description": "PlacementPolicy describes a group placement policy for the VMs controlled by this AllocationPolicy.",
      "type": "object",
      "properties": {
        "collocation": {
          "description": "UNSPECIFIED vs. COLLOCATED (default UNSPECIFIED). Use COLLOCATED when you want VMs to be located close to each other for low network latency between the VMs. No placement policy will be generated when collocation is UNSPECIFIED.",
          "type": "string"
        },
        "maxDistance": {
          "format": "int64",
          "description": "When specified, causes the job to fail if more than max_distance logical switches are required between VMs. Batch uses the most compact possible placement of VMs even when max_distance is not specified. An explicit max_distance makes that level of compactness a strict requirement. Not yet implemented",
          "type": "string"
        }
      }
    },
    "TaskStatus": {
      "description": "Status of a task.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ],
          "description": "Task state.",
          "type": "string"
        },
        "statusEvents": {
          "items": {
            "$ref": "StatusEvent"
          },
          "description": "Detailed info about why the state is reached.",
          "type": "array"
        }
      },
      "id": "TaskStatus"
    },
    "InstancePolicy": {
      "id": "InstancePolicy",
      "description": "InstancePolicy describes an instance type and resources attached to each VM created by this InstancePolicy.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The Compute Engine machine type.",
          "type": "string"
        },
        "provisioningModel": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE",
            "RESERVATION_BOUND",
            "FLEX_START"
          ],
          "description": "The provisioning model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported.",
            "Bound to the lifecycle of the reservation in which it is provisioned.",
            "Instance is provisioned with DWS Flex Start and has limited max run duration."
          ]
        },
        "bootDisk": {
          "description": "Boot disk to be created and attached to each VM by this InstancePolicy. Boot disk will be deleted when the VM is deleted. Batch API now only supports booting from image.",
          "$ref": "Disk"
        },
        "reservation": {
          "description": "Optional. If not specified (default), VMs will consume any applicable reservation. If \"NO_RESERVATION\" is specified, VMs will not consume any reservation. Otherwise, if specified, VMs will consume only the specified reservation.",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "The minimum CPU platform. See https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform.",
          "type": "string"
        },
        "disks": {
          "description": "Non-boot disks to be attached for each VM created by this InstancePolicy. New disks will be deleted when the VM is deleted. A non-boot disk is a disk that can be of a device with a file system or a raw storage drive that is not ready for data storage and accessing.",
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "accelerators": {
          "items": {
            "$ref": "Accelerator"
          },
          "description": "The accelerators attached to each VM instance.",
          "type": "array"
        }
      }
    },
    "Disk": {
      "description": "A new persistent disk or a local ssd. A VM can only have one local SSD setting but multiple local SSD partitions. See https://cloud.google.com/compute/docs/disks#pdspecs and https://cloud.google.com/compute/docs/disks#localssds.",
      "type": "object",
      "properties": {
        "snapshot": {
          "description": "Name of a snapshot used as the data source. Snapshot is not supported as boot disk now.",
          "type": "string"
        },
        "diskInterface": {
          "description": "Local SSDs are available through both \"SCSI\" and \"NVMe\" interfaces. If not indicated, \"NVMe\" will be the default one for local ssds. This field is ignored for persistent disks as the interface is chosen automatically. See https://cloud.google.com/compute/docs/disks/persistent-disks#choose_an_interface.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Disk size in GB. **Non-Boot Disk**: If the `type` specifies a persistent disk, this field is ignored if `data_source` is set as `image` or `snapshot`. If the `type` specifies a local SSD, this field should be a multiple of 375 GB, otherwise, the final size will be the next greater multiple of 375 GB. **Boot Disk**: Batch will calculate the boot disk size based on source image and task requirements if you do not speicify the size. If both this field and the `boot_disk_mib` field in task spec's `compute_resource` are defined, Batch will only honor this field. Also, this field should be no smaller than the source disk's size when the `data_source` is set as `snapshot` or `image`. For example, if you set an image as the `data_source` field and the image's default disk size 30 GB, you can only use this field to make the disk larger or equal to 30 GB.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Disk type as shown in `gcloud compute disk-types list`. For example, local SSD uses type \"local-ssd\". Persistent disks and boot disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\". If not specified, \"pd-standard\" will be used as the default type for non-boot disks, \"pd-balanced\" will be used as the default type for boot disks.",
          "type": "string"
        },
        "image": {
          "description": "URL for a VM image to use as the data source for this disk. For example, the following are all valid URLs: * Specify the image by its family name: projects/{project}/global/images/family/{image_family} * Specify the image version: projects/{project}/global/images/{image_version} You can also use Batch customized image in short names. The following image values are supported for a boot disk: * `batch-debian`: use Batch Debian images. * `batch-cos`: use Batch Container-Optimized images. * `batch-hpc-rocky`: use Batch HPC Rocky Linux images.",
          "type": "string"
        }
      },
      "id": "Disk"
    },
    "ReportAgentStateRequest": {
      "id": "ReportAgentStateRequest",
      "description": "Request to report agent's state. The Request itself implies the agent is healthy.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Agent metadata.",
          "$ref": "AgentMetadata"
        },
        "agentInfo": {
          "description": "Agent info.",
          "$ref": "AgentInfo"
        },
        "agentTimingInfo": {
          "description": "Agent timing info.",
          "$ref": "AgentTimingInfo"
        }
      }
    },
    "Script": {
      "id": "Script",
      "description": "Script runnable.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The path to a script file that is accessible from the host VM(s). Unless the script file supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) as the first line of the file. For example, to execute the script using bash, include `#!/bin/bash` as the first line of the file. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3` as the first line of the file.",
          "type": "string"
        },
        "text": {
          "description": "The text for a script. Unless the script text supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) at the beginning of the text. For example, to execute the script using bash, include `#!/bin/bash\\n` at the beginning of the text. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3\\n` at the beginning of the text.",
          "type": "string"
        }
      }
    },
    "TaskGroupStatus": {
      "id": "TaskGroupStatus",
      "description": "Aggregated task status for a TaskGroup.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "Status of instances allocated for the TaskGroup.",
          "type": "array",
          "items": {
            "$ref": "InstanceStatus"
          }
        },
        "counts": {
          "description": "Count of task in each state in the TaskGroup. The map key is task state name.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "InstanceStatus": {
      "description": "VM instance status.",
      "type": "object",
      "properties": {
        "taskPack": {
          "format": "int64",
          "description": "The max number of tasks can be assigned to this instance type.",
          "type": "string"
        },
        "bootDisk": {
          "$ref": "Disk",
          "description": "The VM boot disk."
        },
        "provisioningModel": {
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE",
            "RESERVATION_BOUND",
            "FLEX_START"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "description": "The VM instance provisioning model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported.",
            "Bound to the lifecycle of the reservation in which it is provisioned.",
            "Instance is provisioned with DWS Flex Start and has limited max run duration."
          ]
        },
        "machineType": {
          "description": "The Compute Engine machine type.",
          "type": "string"
        }
      },
      "id": "InstanceStatus"
    },
    "AgentKMSEnvMap": {
      "description": "AgentKMSEnvMap contains the encrypted key/value pair to be used in the environment on the Agent side.",
      "type": "object",
      "properties": {
        "cipherText": {
          "description": "The value of the cipherText response from the `encrypt` method.",
          "type": "string"
        },
        "keyName": {
          "description": "The name of the KMS key that will be used to decrypt the cipher text.",
          "type": "string"
        }
      },
      "id": "AgentKMSEnvMap"
    },
    "AgentContainer": {
      "id": "AgentContainer",
      "description": "Container runnable representation on the agent side.",
      "type": "object",
      "properties": {
        "options": {
          "description": "Arbitrary additional options to include in the \"docker run\" command when running this container, e.g. \"--network host\".",
          "type": "string"
        },
        "commands": {
          "description": "Overrides the `CMD` specified in the container. If there is an ENTRYPOINT (either in the container image or with the entrypoint field below) then commands are appended as arguments to the ENTRYPOINT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "imageUri": {
          "description": "The URI to pull the container image from.",
          "type": "string"
        },
        "volumes": {
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match docker run's --volume option, e.g. /foo:/bar, or /foo:/bar:ro",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entrypoint": {
          "description": "Overrides the `ENTRYPOINT` specified in the container.",
          "type": "string"
        }
      }
    },
    "JobNotification": {
      "description": "Notification configurations.",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "The attribute requirements of messages to be sent to this Pub/Sub topic. Without this field, no message will be sent."
        },
        "pubsubTopic": {
          "description": "The Pub/Sub topic where notifications for the job, like state changes, will be published. If undefined, no Pub/Sub notifications are sent for this job. Specify the topic using the following format: `projects/{project}/topics/{topic}`. Notably, if you want to specify a Pub/Sub topic that is in a different project than the job, your administrator must grant your project's Batch service agent permission to publish to that topic. For more information about configuring Pub/Sub notifications for a job, see https://cloud.google.com/batch/docs/enable-notifications.",
          "type": "string"
        }
      },
      "id": "JobNotification"
    },
    "AgentTask": {
      "id": "AgentTask",
      "description": "TODO(b/182501497) The message needs to be redefined when the Agent API server updates data in storage per the backend design.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Task status.",
          "$ref": "TaskStatus"
        },
        "taskSource": {
          "enumDescriptions": [
            "Unspecified task source.",
            "The AgentTask from this source is generated by Batch server. E.g. all the VMActions are from this source. When Batch Agent execute AgentTask from BATCH_INTERNAL, it will log stdout/err with \"batch_agent_logs\" log name.",
            "The AgentTask from this source is provided by Batch users. When Batch Agent execute AgentTask from USER, it will log stdout/err with \"batch_task_logs\" log name."
          ],
          "enum": [
            "TASK_SOURCE_UNSPECIFIED",
            "BATCH_INTERNAL",
            "USER"
          ],
          "description": "TaskSource represents the source of the task.",
          "type": "string"
        },
        "reachedBarrier": {
          "format": "int64",
          "description": "The highest barrier reached by all tasks in the task's TaskGroup.",
          "type": "string"
        },
        "spec": {
          "$ref": "TaskSpec",
          "description": "Task Spec. This field will be replaced by agent_task_spec below in future."
        },
        "task": {
          "description": "Task name.",
          "type": "string"
        },
        "agentTaskSpec": {
          "$ref": "AgentTaskSpec",
          "description": "AgentTaskSpec is the taskSpec representation between Agent and CLH communication. This field will replace the TaskSpec field above in future to have a better separation between user-facaing API and internal API."
        },
        "intendedState": {
          "enumDescriptions": [
            "Unspecified state.",
            "Assigned state (includes running and finished).",
            "The agent should cancel the execution of this task.",
            "Delete task from agent storage, stop reporting its state."
          ],
          "enum": [
            "INTENDED_STATE_UNSPECIFIED",
            "ASSIGNED",
            "CANCELLED",
            "DELETED"
          ],
          "description": "The intended state of the task.",
          "type": "string"
        }
      }
    },
    "NFS": {
      "id": "NFS",
      "description": "Represents an NFS volume.",
      "type": "object",
      "properties": {
        "server": {
          "description": "The IP address of the NFS.",
          "type": "string"
        },
        "remotePath": {
          "description": "Remote source path exported from the NFS, e.g., \"/share\".",
          "type": "string"
        }
      }
    },
    "StatusEvent": {
      "id": "StatusEvent",
      "description": "Status event.",
      "type": "object",
      "properties": {
        "taskExecution": {
          "$ref": "TaskExecution",
          "description": "Task Execution. This field is only defined for task-level status events where the task fails."
        },
        "taskState": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ],
          "description": "Task State. This field is only defined for task-level status events.",
          "type": "string"
        },
        "eventTime": {
          "description": "The time this event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Type of the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string"
        }
      }
    },
    "Job": {
      "description": "The Cloud Batch Job description.",
      "type": "object",
      "properties": {
        "priority": {
          "description": "Priority of the Job. The valid value range is [0, 100). Default value is 0. Higher value indicates higher priority. A job with higher priority value is more likely to run earlier if all other requirements are satisfied.",
          "type": "string",
          "format": "int64"
        },
        "logsPolicy": {
          "description": "Log preservation policy for the Job.",
          "$ref": "LogsPolicy"
        },
        "name": {
          "description": "Output only. Job name. For example: \"projects/123456/locations/us-central1/jobs/job01\".",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system generated unique ID for the Job.",
          "readOnly": true,
          "type": "string"
        },
        "taskGroups": {
          "description": "Required. TaskGroups in the Job. Only one TaskGroup is supported now.",
          "type": "array",
          "items": {
            "$ref": "TaskGroup"
          }
        },
        "allocationPolicy": {
          "description": "Compute resource allocation for all TaskGroups in the Job.",
          "$ref": "AllocationPolicy"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom labels to apply to the job and any Cloud Logging [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) that it generates. Use labels to group and describe the resources they are applied to. Batch automatically applies predefined labels and supports multiple `labels` fields for each job, which each let you apply custom labels to various resources. Label names that start with \"goog-\" or \"google-\" are reserved for predefined labels. For more information about labels with Batch, see [Organize resources using labels](https://cloud.google.com/batch/docs/organize-resources-using-labels).",
          "type": "object"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "Output only. Job status. It is read only for users.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Job was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time the Job was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "notifications": {
          "items": {
            "$ref": "JobNotification"
          },
          "description": "Notification configurations.",
          "type": "array"
        }
      },
      "id": "Job"
    },
    "Container": {
      "id": "Container",
      "description": "Container runnable.",
      "type": "object",
      "properties": {
        "entrypoint": {
          "description": "Required for some container images. Overrides the `ENTRYPOINT` specified in the container.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "type": "string"
          },
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match `--volume` option for the `docker run` command—for example, `/foo:/bar` or `/foo:/bar:ro`. If the `TaskSpec.Volumes` field is specified but this field is not, Batch will mount each volume from the host machine to the container with the same mount path by default. In this case, the default mount option for containers will be read-only (`ro`) for existing persistent disks and read-write (`rw`) for other volume types, regardless of the original mount options specified in `TaskSpec.Volumes`. If you need different mount settings, you can explicitly configure them in this field.",
          "type": "array"
        },
        "username": {
          "description": "Required if the container image is from a private Docker registry. The username to login to the Docker registry that contains the image. You can either specify the username directly by using plain text or specify an encrypted username by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. However, using a secret is recommended for enhanced security. Caution: If you specify the username using plain text, you risk the username being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the username instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager).",
          "type": "string"
        },
        "imageUri": {
          "description": "Required. The URI to pull the container image from.",
          "type": "string"
        },
        "blockExternalNetwork": {
          "description": "If set to true, external network access to and from container will be blocked, containers that are with block_external_network as true can still communicate with each other, network cannot be specified in the `container.options` field.",
          "type": "boolean"
        },
        "commands": {
          "items": {
            "type": "string"
          },
          "description": "Required for some container images. Overrides the `CMD` specified in the container. If there is an `ENTRYPOINT` (either in the container image or with the `entrypoint` field below) then these commands are appended as arguments to the `ENTRYPOINT`.",
          "type": "array"
        },
        "password": {
          "description": "Required if the container image is from a private Docker registry. The password to login to the Docker registry that contains the image. For security, it is strongly recommended to specify an encrypted password by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. Warning: If you specify the password using plain text, you risk the password being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the password instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager).",
          "type": "string"
        },
        "enableImageStreaming": {
          "description": "Optional. If set to true, this container runnable uses Image streaming. Use Image streaming to allow the runnable to initialize without waiting for the entire container image to download, which can significantly reduce startup time for large container images. When `enableImageStreaming` is set to true, the container runtime is [containerd](https://containerd.io/) instead of Docker. Additionally, this container runnable only supports the following `container` subfields: `imageUri`, `commands[]`, `entrypoint`, and `volumes[]`; any other `container` subfields are ignored. For more information about the requirements and limitations for using Image streaming with Batch, see the [`image-streaming` sample on GitHub](https://github.com/GoogleCloudPlatform/batch-samples/tree/main/api-samples/image-streaming).",
          "type": "boolean"
        },
        "options": {
          "description": "Required for some container images. Arbitrary additional options to include in the `docker run` command when running this container—for example, `--network host`. For the `--volume` option, use the `volumes` field for the container.",
          "type": "string"
        }
      }
    },
    "ActionCondition": {
      "description": "Conditions for actions to deal with task failures.",
      "type": "object",
      "properties": {
        "exitCodes": {
          "description": "Exit codes of a task execution. If there are more than 1 exit codes, when task executes with any of the exit code in the list, the condition is met and the action will be executed.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "ActionCondition"
    },
    "AgentTaskInfo": {
      "id": "AgentTaskInfo",
      "description": "Task Info",
      "type": "object",
      "properties": {
        "taskId": {
          "description": "ID of the Task",
          "type": "string"
        },
        "taskStatus": {
          "$ref": "TaskStatus",
          "description": "The status of the Task. If we need agent specific fields we should fork the public TaskStatus into an agent specific one. Or add them below."
        },
        "runnable": {
          "description": "The highest index of a runnable started by the agent for this task. The runnables are indexed from 1. Value 0 is undefined.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Task": {
      "description": "A Cloud Batch task.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Task name. The name is generated from the parent TaskGroup name and 'id' field. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01/tasks/task01\".",
          "type": "string"
        },
        "status": {
          "$ref": "TaskStatus",
          "description": "Task Status."
        }
      },
      "id": "Task"
    },
    "AgentInfo": {
      "id": "AgentInfo",
      "description": "VM Agent Info.",
      "type": "object",
      "properties": {
        "jobId": {
          "description": "Optional. The assigned Job ID",
          "type": "string"
        },
        "state": {
          "description": "Agent state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The agent is starting on the VM instance.",
            "The agent is running. The agent in the RUNNING state can never go back to the STARTING state.",
            "The agent has stopped, either on request or due to a failure."
          ],
          "enum": [
            "AGENT_STATE_UNSPECIFIED",
            "AGENT_STARTING",
            "AGENT_RUNNING",
            "AGENT_STOPPED"
          ]
        },
        "reportTime": {
          "description": "When the AgentInfo is generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "taskGroupId": {
          "description": "The assigned task group ID.",
          "type": "string"
        },
        "tasks": {
          "description": "Task Info.",
          "type": "array",
          "items": {
            "$ref": "AgentTaskInfo"
          }
        }
      }
    },
    "AgentTaskUserAccount": {
      "description": "AgentTaskUserAccount contains the information of a POSIX account on the guest os which is used to execute the runnables.",
      "type": "object",
      "properties": {
        "gid": {
          "format": "int64",
          "description": "gid id an unique identifier of the POSIX account group corresponding to the user account.",
          "type": "string"
        },
        "uid": {
          "format": "int64",
          "description": "uid is an unique identifier of the POSIX account corresponding to the user account.",
          "type": "string"
        }
      },
      "id": "AgentTaskUserAccount"
    },
    "LifecyclePolicy": {
      "description": "LifecyclePolicy describes how to deal with task failures based on different conditions.",
      "type": "object",
      "properties": {
        "action": {
          "description": "Action to execute when ActionCondition is true. When RETRY_TASK is specified, we will retry failed tasks if we notice any exit code match and fail tasks if no match is found. Likewise, when FAIL_TASK is specified, we will fail tasks if we notice any exit code match and retry tasks if no match is found.",
          "type": "string",
          "enumDescriptions": [
            "Action unspecified.",
            "Action that tasks in the group will be scheduled to re-execute.",
            "Action that tasks in the group will be stopped immediately."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "RETRY_TASK",
            "FAIL_TASK"
          ]
        },
        "actionCondition": {
          "$ref": "ActionCondition",
          "description": "Conditions that decide why a task failure is dealt with a specific action."
        }
      },
      "id": "LifecyclePolicy"
    },
    "CancelJobRequest": {
      "description": "CancelJob Request.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "CancelJobRequest"
    },
    "AgentScript": {
      "description": "Script runnable representation on the agent side.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Script file path on the host VM. To specify an interpreter, please add a `#!`(also known as [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix))) as the first line of the file.(For example, to execute the script using bash, `#!/bin/bash` should be the first line of the file. To execute the script using`Python3`, `#!/usr/bin/env python3` should be the first line of the file.) Otherwise, the file will by default be executed by `/bin/sh`.",
          "type": "string"
        },
        "text": {
          "description": "Shell script text. To specify an interpreter, please add a `#!\\n` at the beginning of the text.(For example, to execute the script using bash, `#!/bin/bash\\n` should be added. To execute the script using`Python3`, `#!/usr/bin/env python3\\n` should be added.) Otherwise, the script will by default be executed by `/bin/sh`.",
          "type": "string"
        }
      },
      "id": "AgentScript"
    },
    "Barrier": {
      "id": "Barrier",
      "description": "A barrier runnable automatically blocks the execution of subsequent runnables until all the tasks in the task group reach the barrier.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Barriers are identified by their index in runnable list. Names are not required, but if present should be an identifier.",
          "type": "string"
        }
      }
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "description": "NetworkPolicy describes VM instance network configurations.",
      "type": "object",
      "properties": {
        "networkInterfaces": {
          "description": "Network configurations.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        }
      }
    },
    "AgentEnvironment": {
      "description": "AgentEnvironment is the Environment representation between Agent and CLH communication. The environment is used in both task level and agent level.",
      "type": "object",
      "properties": {
        "variables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of environment variable names to values.",
          "type": "object"
        },
        "secretVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "type": "object"
        },
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values.",
          "$ref": "AgentKMSEnvMap"
        }
      },
      "id": "AgentEnvironment"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume describes a volume and parameters for it to be mounted to a VM.",
      "type": "object",
      "properties": {
        "nfs": {
          "$ref": "NFS",
          "description": "A Network File System (NFS) volume. For example, a Filestore file share."
        },
        "deviceName": {
          "description": "Device name of an attached disk volume, which should align with a device_name specified by job.allocation_policy.instances[0].policy.disks[i].device_name or defined by the given instance template in job.allocation_policy.instances[0].instance_template.",
          "type": "string"
        },
        "mountOptions": {
          "description": "Mount options vary based on the type of storage volume: * For a Cloud Storage bucket, all the mount options provided by the [`gcsfuse` tool](https://cloud.google.com/storage/docs/gcsfuse-cli) are supported. * For an existing persistent disk, all mount options provided by the [`mount` command](https://man7.org/linux/man-pages/man8/mount.8.html) except writing are supported. This is due to restrictions of [multi-writer mode](https://cloud.google.com/compute/docs/disks/sharing-disks-between-vms). * For any other disk or a Network File System (NFS), all the mount options provided by the `mount` command are supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mountPath": {
          "description": "The mount path for the volume, e.g. /mnt/disks/share.",
          "type": "string"
        },
        "gcs": {
          "description": "A Google Cloud Storage (GCS) volume.",
          "$ref": "GCS"
        }
      }
    },
    "AgentTaskSpec": {
      "description": "AgentTaskSpec is the user's TaskSpec representation between Agent and CLH communication.",
      "type": "object",
      "properties": {
        "userAccount": {
          "description": "User account on the VM to run the runnables in the agentTaskSpec. If not set, the runnable will be run under root user.",
          "$ref": "AgentTaskUserAccount"
        },
        "environment": {
          "$ref": "AgentEnvironment",
          "description": "Environment variables to set before running the Task."
        },
        "loggingOption": {
          "$ref": "AgentTaskLoggingOption",
          "description": "Logging option for the task."
        },
        "runnables": {
          "description": "AgentTaskRunnable is runanbles that will be executed on the agent.",
          "type": "array",
          "items": {
            "$ref": "AgentTaskRunnable"
          }
        },
        "maxRunDuration": {
          "format": "google-duration",
          "description": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration.",
          "type": "string"
        }
      },
      "id": "AgentTaskSpec"
    },
    "TaskSpec": {
      "description": "Spec of a task",
      "type": "object",
      "properties": {
        "computeResource": {
          "description": "ComputeResource requirements.",
          "$ref": "ComputeResource"
        },
        "lifecyclePolicies": {
          "description": "Lifecycle management schema when any task in a task group is failed. Currently we only support one lifecycle policy. When the lifecycle policy condition is met, the action in the policy will execute. If task execution result does not meet with the defined lifecycle policy, we consider it as the default policy. Default policy means if the exit code is 0, exit task. If task ends with non-zero exit code, retry the task with max_retry_count.",
          "type": "array",
          "items": {
            "$ref": "LifecyclePolicy"
          }
        },
        "environment": {
          "description": "Environment variables to set before running the Task.",
          "$ref": "Environment"
        },
        "maxRetryCount": {
          "description": "Maximum number of retries on failures. The default, 0, which means never retry. The valid value range is [0, 10].",
          "type": "integer",
          "format": "int32"
        },
        "runnables": {
          "description": "Required. The sequence of one or more runnables (executable scripts, executable containers, and/or barriers) for each task in this task group to run. Each task runs this list of runnables in order. For a task to succeed, all of its script and container runnables each must meet at least one of the following conditions: + The runnable exited with a zero status. + The runnable didn't finish, but you enabled its `background` subfield. + The runnable exited with a non-zero status, but you enabled its `ignore_exit_status` subfield.",
          "type": "array",
          "items": {
            "$ref": "Runnable"
          }
        },
        "maxRunDuration": {
          "description": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration.",
          "type": "string",
          "format": "google-duration"
        },
        "volumes": {
          "description": "Volumes to mount before running Tasks using this TaskSpec.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "environments": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Deprecated: please use environment(non-plural) instead.",
          "type": "object",
          "deprecated": true
        }
      },
      "id": "TaskSpec"
    },
    "AgentTaskLoggingOption": {
      "id": "AgentTaskLoggingOption",
      "description": "AgentTaskLoggingOption contains the options for the logging of the task.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to be added to the log entry. Now only cloud logging is supported.",
          "type": "object"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "ComputeResource": {
      "id": "ComputeResource",
      "description": "Compute resource requirements. ComputeResource defines the amount of resources required for each task. Make sure your tasks have enough resources to successfully run. If you also define the types of resources for a job to use with the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure both fields are compatible with each other.",
      "type": "object",
      "properties": {
        "memoryMib": {
          "description": "Memory in MiB. `memoryMib` defines the amount of memory per task in MiB units. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the memory resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 8 GiB each, you are recommended to set `memoryMib` to no more than `8192`, or you are recommended to run two tasks on the same VM if you set `memoryMib` to `4096` or less.",
          "type": "string",
          "format": "int64"
        },
        "cpuMilli": {
          "format": "int64",
          "description": "The milliCPU count. `cpuMilli` defines the amount of CPU resources per task in milliCPU units. For example, `1000` corresponds to 1 vCPU per task. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the CPU resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 2 vCPUs each, you are recommended to set `cpuMilli` no more than `2000`, or you are recommended to run two tasks on the same VM if you set `cpuMilli` to `1000` or less.",
          "type": "string"
        },
        "bootDiskMib": {
          "format": "int64",
          "description": "Extra boot disk size in MiB for each task.",
          "type": "string"
        }
      }
    },
    "ListTasksResponse": {
      "id": "ListTasksResponse",
      "description": "ListTasks Response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "description": "Tasks.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "LogsPolicy": {
      "description": "LogsPolicy describes if and how a job's logs are preserved. Logs include information that is automatically written by the Batch service agent and any information that you configured the job's runnables to write to the `stdout` or `stderr` streams.",
      "type": "object",
      "properties": {
        "logsPath": {
          "description": "When `destination` is set to `PATH`, you must set this field to the path where you want logs to be saved. This path can point to a local directory on the VM or (if congifured) a directory under the mount path of any Cloud Storage bucket, network file system (NFS), or writable persistent disk that is mounted to the job. For example, if the job has a bucket with `mountPath` set to `/mnt/disks/my-bucket`, you can write logs to the root directory of the `remotePath` of that bucket by setting this field to `/mnt/disks/my-bucket/`.",
          "type": "string"
        },
        "destination": {
          "description": "If and where logs should be saved.",
          "type": "string",
          "enumDescriptions": [
            "(Default) Logs are not preserved.",
            "Logs are streamed to Cloud Logging. Optionally, you can configure additional settings in the `cloudLoggingOption` field.",
            "Logs are saved to the file path specified in the `logsPath` field."
          ],
          "enum": [
            "DESTINATION_UNSPECIFIED",
            "CLOUD_LOGGING",
            "PATH"
          ]
        },
        "cloudLoggingOption": {
          "description": "Optional. When `destination` is set to `CLOUD_LOGGING`, you can optionally set this field to configure additional settings for Cloud Logging.",
          "$ref": "CloudLoggingOption"
        }
      },
      "id": "LogsPolicy"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "apiVersion": {
[...]
