{
  "baseUrl": "https://beyondcorp.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "BeyondCorp",
  "kind": "discovery#restDescription",
  "id": "beyondcorp:v1alpha",
  "version": "v1alpha",
  "version_module": true,
  "mtlsRootUrl": "https://beyondcorp.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "basePath": "",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "BeyondCorp API",
  "rootUrl": "https://beyondcorp.googleapis.com/",
  "documentationLink": "https://cloud.google.com/",
  "description": "Chrome Enterprise Premium is a secure enterprise browsing solution that provides secure access to applications and resources, and offers integrated threat and data protection. It adds an extra layer of security to safeguard your Chrome browser environment, including Data Loss Prevention (DLP), real-time URL and file scanning, and Context-Aware Access for SaaS and web apps.",
  "servicePath": "",
  "schemas": {
    "ConnectorInstanceConfig": {
      "id": "ConnectorInstanceConfig",
      "type": "object",
      "description": "ConnectorInstanceConfig defines the instance config of a connector.",
      "properties": {
        "sequenceNumber": {
          "description": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change.",
          "type": "string",
          "format": "int64"
        },
        "imageConfig": {
          "$ref": "ImageConfig",
          "description": "ImageConfig defines the GCR images to run for the remote agent's control plane."
        },
        "instanceConfig": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The SLM instance agent configuration."
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification."
        }
      }
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping",
      "type": "object",
      "description": "Customised grouping option that allows setting the group_by fields and also the filters togather for a configured insight request.",
      "properties": {
        "groupFields": {
          "description": "Required. Fields to be used for grouping. NOTE: Use the `filter_alias` from `Insight.Metadata.Field` message for declaring the fields to be grouped-by here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldFilter": {
          "description": "Optional. Filterable parameters to be added to the grouping clause. Available fields could be fetched by calling insight list and get APIs in `BASIC` view. `=` is the only comparison operator supported. `AND` is the only logical operator supported. Usage: field_filter=\"fieldName1=fieldVal1 AND fieldName2=fieldVal2\". NOTE: Only `AND` conditions are allowed. NOTE: Use the `filter_alias` from `Insight.Metadata.Field` message for the filtering the corresponding fields in this filter field. (These expressions are based on the filter language described at https://google.aip.dev/160).",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      },
      "id": "GoogleIamV1Binding"
    },
    "CloudSecurityZerotrustApplinkLogagentProtoLogAgentDetails": {
      "id": "CloudSecurityZerotrustApplinkLogagentProtoLogAgentDetails",
      "description": "LogAgentDetails reflects the details of a log agent.",
      "properties": {},
      "type": "object"
    },
    "AppGateway": {
      "description": "A BeyondCorp AppGateway resource represents a BeyondCorp protected AppGateway to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected AppGateway. Multiple connectors can be authorised for a single AppGateway.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Unique resource name of the AppGateway. The name is ignored when creating an AppGateway."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URI for this resource."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "type": {
          "description": "Required. The type of network connectivity used by the AppGateway.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "TCP Proxy based BeyondCorp Connection. API will default to this if unset."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TCP_PROXY"
          ]
        },
        "updateTime": {
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for the instance generated by the system."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An arbitrary user-provided name for the AppGateway. Cannot exceed 64 characters."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "hostType": {
          "description": "Required. The type of hosting used by the AppGateway.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppGateway hosted in a GCP regional managed instance group."
          ],
          "type": "string",
          "enum": [
            "HOST_TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ]
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the AppGateway.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppGateway is being created.",
            "AppGateway has been created.",
            "AppGateway's configuration is being updated.",
            "AppGateway is being deleted.",
            "AppGateway is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ]
        },
        "allocatedConnections": {
          "items": {
            "$ref": "AllocatedConnection"
          },
          "description": "Output only. A list of connections allocated for the Gateway",
          "readOnly": true,
          "type": "array"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AppGateway"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector",
      "description": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection.",
      "properties": {
        "name": {
          "description": "Required. Unique resource name of the AppConnector. The name is ignored when creating a AppConnector.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An arbitrary user-provided name for the AppConnector. Cannot exceed 64 characters."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A unique identifier for the instance generated by the system.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "description": "Output only. The current state of the AppConnector.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnector is being created.",
            "AppConnector has been created.",
            "AppConnector's configuration is being updated.",
            "AppConnector is being deleted.",
            "AppConnector is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "type": "string"
        },
        "principalInfo": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo",
          "description": "Required. Principal information about the Identity of the AppConnector."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "resourceInfo": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo",
          "description": "Optional. Resource info of the connector."
        }
      },
      "type": "object"
    },
    "ResolveConnectionsResponse": {
      "type": "object",
      "description": "Response message for BeyondCorp.ResolveConnections.",
      "properties": {
        "connectionDetails": {
          "type": "array",
          "description": "A list of BeyondCorp Connections with details in the project.",
          "items": {
            "$ref": "ConnectionDetails"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        }
      },
      "id": "ResolveConnectionsResponse"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders",
      "type": "object",
      "description": "Contextual headers configuration.",
      "properties": {
        "groupInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedGroupInfo",
          "description": "Optional. Group details."
        },
        "userInfo": {
          "description": "Optional. User details.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo"
        },
        "deviceInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo",
          "description": "Optional. The device information configuration."
        },
        "outputType": {
          "description": "Optional. Default output type for all enabled headers.",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "type": "string",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ]
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication": {
      "type": "object",
      "description": "The information about an application resource.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the resource.",
          "type": "string"
        },
        "endpointMatchers": {
          "description": "Optional. An array of conditions to match the application's network endpoint. Each element in the array is an EndpointMatcher object, which defines a specific combination of a hostname pattern and one or more ports. The application is considered matched if at least one of the EndpointMatcher conditions in this array is met (the conditions are combined using OR logic). Each EndpointMatcher must contain a hostname pattern, such as \"example.com\", and one or more port numbers specified as a string, such as \"443\". Hostname and port number examples: \"*.example.com\", \"443\" \"example.com\" and \"22\" \"example.com\" and \"22,33\"",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointMatcher"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "schema": {
          "description": "Optional. Type of the external application.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Proxy which routes traffic to actual applications, like Netscaler Gateway.",
            "Service Discovery API endpoint when Service Discovery is enabled in Gateway."
          ],
          "type": "string",
          "enum": [
            "SCHEMA_UNSPECIFIED",
            "PROXY_GATEWAY",
            "API_GATEWAY"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the resource was last modified.",
          "format": "google-datetime"
        },
        "upstreams": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream"
          },
          "type": "array",
          "description": "Optional. Which upstream resources to forward traffic to."
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the application resource. Cannot exceed 64 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo": {
      "type": "object",
      "description": "The configuration information for the delegated user.",
      "properties": {
        "outputType": {
          "description": "Optional. The delegated user's information.",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "type": "string",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ]
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo"
    },
    "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaListSubscriptionsResponse": {
      "type": "object",
      "description": "Response message for BeyondCorp.ListSubscriptions.",
      "properties": {
        "subscriptions": {
          "description": "A list of BeyondCorp Subscriptions in the organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscription"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaListSubscriptionsResponse"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaRemoteAgentDetails": {
      "description": "RemoteAgentDetails reflects the details of a remote agent.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaRemoteAgentDetails"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig",
      "type": "object",
      "description": "NotificationConfig defines the mechanisms to notify instance agent.",
      "properties": {
        "pubsubNotification": {
          "description": "Cloud Pub/Sub Configuration to receive notifications.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo": {
      "type": "object",
      "description": "The delegated device information configuration.",
      "properties": {
        "outputType": {
          "description": "Optional. The output type details for the delegated device.",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "type": "string",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ]
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo"
    },
    "ImageConfig": {
      "type": "object",
      "description": "ImageConfig defines the control plane images to run.",
      "properties": {
        "targetImage": {
          "description": "The initial image the remote agent will attempt to run for the control plane.",
          "type": "string"
        },
        "stableImage": {
          "description": "The stable image that the remote agent will fallback to if the target image fails.",
          "type": "string"
        }
      },
      "id": "ImageConfig"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig",
      "description": "AppConnectorInstanceConfig defines the instance config of a AppConnector.",
      "properties": {
        "imageConfig": {
          "description": "ImageConfig defines the GCR images to run for the remote agent's control plane.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig"
        },
        "sequenceNumber": {
          "format": "int64",
          "type": "string",
          "description": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change."
        },
        "instanceConfig": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The SLM instance agent configuration.",
          "type": "object"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig",
          "description": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification."
        }
      },
      "type": "object"
    },
    "ApplicationEndpoint": {
      "id": "ApplicationEndpoint",
      "type": "object",
      "description": "ApplicationEndpoint represents a remote application endpoint.",
      "properties": {
        "host": {
          "description": "Required. Hostname or IP address of the remote application endpoint.",
          "type": "string"
        },
        "port": {
          "description": "Required. Port of the remote application endpoint.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata",
      "deprecated": true,
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoGateway": {
      "type": "object",
      "description": "Gateway represents a GCE VM Instance endpoint for use by IAP TCP.",
      "properties": {
        "project": {
          "type": "string",
          "description": "project is the tenant project the gateway belongs to. Different from the project in the connection, it is a BeyondCorpAPI internally created project to manage all the gateways. It is sharing the same network with the consumer project user owned. It is derived from the gateway URL. For example, project=${project} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
        },
        "interface": {
          "description": "interface specifies the network interface of the gateway to connect to.",
          "type": "string"
        },
        "port": {
          "format": "uint32",
          "type": "integer",
          "description": "port specifies the port of the gateway for tunnel connections from the connectors."
        },
        "zone": {
          "type": "string",
          "description": "zone represents the zone the instance belongs. It is derived from the gateway URL. For example, zone=${zone} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
        },
        "name": {
          "description": "name is the name of an instance running a gateway. It is the unique ID for a gateway. All gateways under the same connection have the same prefix. It is derived from the gateway URL. For example, name=${instance} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "self_link is the gateway URL in the form https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
        }
      },
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaHub": {
      "description": "The Hub message contains information pertaining to the regional data path deployments.",
      "properties": {
        "internetGateway": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaInternetGateway",
          "description": "Optional. Internet Gateway configuration."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaHub"
    },
    "AppGatewayOperationMetadata": {
      "id": "AppGatewayOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata": {
      "id": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      }
    },
    "GoogleTypeExpr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListSecurityGatewaysResponse": {
      "description": "Message for response to listing SecurityGateways.",
      "properties": {
        "securityGateways": {
          "description": "A list of BeyondCorp SecurityGateway in the project.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGateway"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListSecurityGatewaysResponse"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream": {
      "type": "object",
      "description": "Which upstream resource to forward traffic to.",
      "properties": {
        "network": {
          "description": "Network to forward traffic to.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork"
        },
        "external": {
          "description": "List of the external endpoints to forward traffic to.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal"
        },
        "proxyProtocol": {
          "description": "Optional. Enables proxy protocol configuration for the upstream.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig"
        },
        "egressPolicy": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEgressPolicy",
          "description": "Optional. Routing policy information."
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection": {
      "description": "A BeyondCorp AppConnection resource represents a BeyondCorp protected AppConnection to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected AppConnection. Multiple connectors can be authorized for a single AppConnection.",
      "properties": {
        "gateway": {
          "description": "Optional. Gateway used by the AppConnection.",
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway"
        },
        "name": {
          "description": "Required. Unique resource name of the AppConnection. The name is ignored when creating a AppConnection.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for the instance generated by the system."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. An arbitrary user-provided name for the AppConnection. Cannot exceed 64 characters."
        },
        "connectors": {
          "description": "Optional. List of [google.cloud.beyondcorp.v1main.Connector.name] that are authorized to be associated with this AppConnection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of network connectivity used by the AppConnection.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "TCP Proxy based BeyondCorp AppConnection. API will default to this if unset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TCP_PROXY"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "applicationEndpoint": {
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint",
          "description": "Required. Address of the remote application endpoint for the BeyondCorp AppConnection."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the AppConnection.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnection is being created.",
            "AppConnection has been created.",
            "AppConnection's configuration is being updated.",
            "AppConnection is being deleted.",
            "AppConnection is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object"
    },
    "CloudPubSubNotificationConfig": {
      "type": "object",
      "description": "The configuration for Pub/Sub messaging for the connector.",
      "properties": {
        "pubsubSubscription": {
          "description": "The Pub/Sub subscription the connector uses to receive notifications.",
          "type": "string"
        }
      },
      "id": "CloudPubSubNotificationConfig"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaListAppConnectionsResponse": {
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaListAppConnectionsResponse",
      "description": "Response message for BeyondCorp.ListAppConnections.",
      "properties": {
        "appConnections": {
          "type": "array",
          "description": "A list of BeyondCorp AppConnections in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetails": {
      "type": "object",
      "description": "Details of the AppConnection.",
      "properties": {
        "appConnection": {
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection",
          "description": "A BeyondCorp AppConnection in the project."
        },
        "recentMigVms": {
          "type": "array",
          "description": "If type=GCP_REGIONAL_MIG, contains most recent VM instances, like `https://www.googleapis.com/compute/v1/projects/{project_id}/zones/{zone_id}/instances/{instance_id}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetails"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "description": "ResourceInfo represents the information/status of the associated resource.",
      "properties": {
        "sub": {
          "items": {
            "$ref": "ResourceInfo"
          },
          "description": "List of Info for the sub level resources.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. Unique Id for the resource."
        },
        "resource": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Specific details for the resource.",
          "type": "object"
        },
        "status": {
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "UNRESPONSIVE",
            "DEGRADED"
          ],
          "description": "Overall health status. Overall status is derived based on the status of each sub level resources.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unhealthy.",
            "The resource is unresponsive.",
            "Some sub-resources are UNHEALTHY."
          ],
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "The timestamp to collect the info. It is suggested to be set by the topmost level resource only.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ConnectorOperationMetadata": {
      "id": "ConnectorOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      }
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "type": "object",
      "description": "Response message for BeyondCorp.ListConnections.",
      "properties": {
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array",
          "description": "A list of BeyondCorp Connections in the project."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig",
      "type": "object",
      "description": "The configuration for Pub/Sub messaging for the AppConnector.",
      "properties": {
        "pubsubSubscription": {
          "type": "string",
          "description": "The Pub/Sub subscription the AppConnector uses to receive notifications."
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListApplicationsResponse": {
      "type": "object",
      "description": "Message for response to listing Applications.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached.",
          "type": "array"
        },
        "applications": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication"
          },
          "description": "A list of BeyondCorp Application in the project.",
          "type": "array"
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListApplicationsResponse"
    },
    "GoogleCloudBeyondcorpPartnerservicesV1mainPartnerServiceOperationMetadata": {
      "id": "GoogleCloudBeyondcorpPartnerservicesV1mainPartnerServiceOperationMetadata",
      "deprecated": true,
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ContainerHealthDetails": {
      "description": "ContainerHealthDetails reflects the health details of a container.",
      "properties": {
        "extendedStatus": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
        },
        "expectedConfigVersion": {
          "type": "string",
          "description": "The version of the expected config."
        },
        "currentConfigVersion": {
          "type": "string",
          "description": "The version of the current config."
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContainerHealthDetails"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway": {
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway",
      "description": "Gateway represents a user facing component that serves as an entrance to enable connectivity.",
      "properties": {
        "l7psc": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. L7 private service connection for this resource."
        },
        "appGateway": {
          "description": "Required. AppGateway name in following format: `projects/{project_id}/locations/{location_id}/appgateways/{gateway_id}`",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ],
          "type": "string",
          "description": "Required. The type of hosting used by the gateway.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Gateway hosted in a GCP regional managed instance group."
          ]
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URI for this resource."
        },
        "ingressPort": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Ingress port reserved on the gateways for this AppConnection, if not specified or zero, the default port is 19443.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Gateway": {
      "description": "Gateway represents a user facing component that serves as an entrance to enable connectivity.",
      "properties": {
        "uri": {
          "description": "Output only. Server-defined URI for this resource.",
          "readOnly": true,
          "type": "string"
        },
        "userPort": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. User port reserved on the gateways for this connection, if not specified or zero, the default port is 19443."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ],
          "description": "Required. The type of hosting used by the gateway.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Gateway hosted in a GCP regional managed instance group."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Gateway"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataField": {
      "type": "object",
      "description": "Field metadata. Commonly understandable name and description for the field. Multiple such fields constitute the Insight.",
      "properties": {
        "filterAlias": {
          "description": "Output only. Field name to be used in filter while requesting configured insight filtered on this field.",
          "readOnly": true,
          "type": "string"
        },
        "groupable": {
          "description": "Output only. Indicates whether the field can be used for grouping in custom grouping request.",
          "readOnly": true,
          "type": "boolean"
        },
        "filterable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the field can be used for filtering."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Field id for which this is the metadata."
        },
        "description": {
          "description": "Output only. Description of the field.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Name of the field.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataField"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork",
      "description": "Network to forward traffic to.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Network name is of the format: `projects/{project}/global/networks/{network}"
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaListInsightsResponse": {
      "type": "object",
      "description": "The response for the list of insights.",
      "properties": {
        "insights": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all insights.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsight"
          }
        },
        "nextPageToken": {
          "description": "Output only. Next page token to be fetched. Set to empty or NULL if there are no more pages available.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaListInsightsResponse"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal",
      "description": "Endpoints to forward traffic to.",
      "properties": {
        "endpoints": {
          "description": "Required. List of the endpoints to forward traffic to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpoint"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails": {
      "description": "ContainerHealthDetails reflects the health details of a container.",
      "properties": {
        "expectedConfigVersion": {
          "type": "string",
          "description": "The version of the expected config."
        },
        "currentConfigVersion": {
          "type": "string",
          "description": "The version of the current config."
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        },
        "extendedStatus": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow",
      "type": "object",
      "description": "Row of the fetch response consisting of a set of entries.",
      "properties": {
        "fieldValues": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Columns/entries/key-vals in the result.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal"
          }
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadata": {
      "description": "Insight filters, groupings and aggregations that can be applied for the insight. Examples: aggregations, groups, field filters.",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the insight. It is metadata describing whether the insight is a metric (e.g. count) or a report (e.g. list, status)."
        },
        "subCategory": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Sub-Category of the insight."
        },
        "groups": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of groupings available for insight.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Common name of the insight."
        },
        "fields": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataField"
          },
          "description": "Output only. List of fields available for insight.",
          "readOnly": true,
          "type": "array"
        },
        "aggregations": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Insight should be aggregated at hourly level.",
              "Insight should be aggregated at daily level.",
              "Insight should be aggregated at weekly level.",
              "Insight should be aggregated at monthly level.",
              "Insight should be aggregated at the custom date range passed in as the start and end time in the request."
            ],
            "type": "string",
            "enum": [
              "AGGREGATION_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "CUSTOM_DATE_RANGE"
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of aggregation types available for insight."
        },
        "category": {
          "description": "Output only. Category of the insight.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadata"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "type": "object",
      "description": "ServiceAccount represents a GCP service account.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account."
        }
      }
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal": {
      "type": "object",
      "description": "Column or key value pair from the request as part of key to use in query or a single pair of the fetch response.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Value of the field in string format. Acceptable values are strings or numbers."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Field id."
        },
        "displayName": {
          "description": "Output only. Name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "filterAlias": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Field name to be used in filter while requesting configured insight filtered on this field."
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal"
    },
    "Connector": {
      "id": "Connector",
      "description": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for the instance generated by the system."
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the connector. Cannot exceed 64 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Unique resource name of the connector. The name is ignored when creating a connector."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata."
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Optional. Resource info of the connector."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the connector.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Connector is being created.",
            "Connector has been created.",
            "Connector's configuration is being updated.",
            "Connector is being deleted.",
            "Connector is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ]
        },
        "principalInfo": {
          "description": "Required. Principal information about the Identity of the connector.",
          "$ref": "PrincipalInfo"
        }
      },
      "type": "object"
    },
    "ConnectionDetails": {
      "description": "Details of the Connection.",
      "properties": {
        "connection": {
          "$ref": "Connection",
          "description": "A BeyondCorp Connection in the project."
        },
        "recentMigVms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If type=GCP_REGIONAL_MIG, contains most recent VM instances, like \"https://www.googleapis.com/compute/v1/projects/{project_id}/zones/{zone_id}/instances/{instance_id}\"."
        }
      },
      "type": "object",
      "id": "ConnectionDetails"
    },
    "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscription": {
      "type": "object",
      "description": "A BeyondCorp Subscription resource represents BeyondCorp Enterprise Subscription. BeyondCorp Enterprise Subscription enables BeyondCorp Enterprise permium features for an organization.",
      "properties": {
        "startTime": {
          "description": "Optional. Start time of the subscription.",
          "type": "string",
          "format": "google-datetime"
        },
        "autoRenewEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Represents that, if subscription will renew or end when the term ends."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the subscription."
        },
        "csgCustomer": {
          "type": "boolean",
          "description": "Optional. Whether the subscription is being created as part of the Citrix flow. If this field is set to true, the subscription should have both the start_time and end_time set in the request and the billing account used will be the Citrix master billing account regardless of what its set to in the request. This field can only be set to true in create requests."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "COMPLETED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the subscription.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents an active subscription.",
            "Represents an upcomming subscription.",
            "Represents a completed subscription."
          ],
          "type": "string"
        },
        "seatCount": {
          "description": "Optional. Number of seats in the subscription.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRIAL",
            "PAID",
            "ALLOWLIST"
          ],
          "description": "Required. Type of subscription.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents a trial subscription.",
            "Represents a paid subscription.",
            "Reresents an allowlisted subscription."
          ],
          "type": "string"
        },
        "subscriberType": {
          "enum": [
            "SUBSCRIBER_TYPE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE",
            "CEP_TRIAL"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of subscriber.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents an online subscription.",
            "Represents an offline subscription.",
            "Represents a trial subscription. This maps to the 'TRIAL' subscriber_type in the Entitler proto (google3/identity/cloud/contextawareaccess/billing/proto/enums.proto), but is named 'CEP_TRIAL' here to avoid a name collision with the 'Type' enum defined above."
          ]
        },
        "sku": {
          "description": "Required. SKU of subscription.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents BeyondCorp Standard SKU."
          ],
          "type": "string",
          "enum": [
            "SKU_UNSPECIFIED",
            "BCE_STANDARD_SKU"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Unique resource name of the Subscription. The name is ignored when creating a subscription."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. End time of the subscription.",
          "type": "string"
        },
        "billingAccount": {
          "description": "Optional. Name of the billing account in the format. e.g. billingAccounts/123456-123456-123456 Required if Subscription is of Paid type.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscription"
    },
    "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaRestartSubscriptionResponse": {
      "id": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaRestartSubscriptionResponse",
      "description": "Response message for BeyondCorp.RestartSubscription",
      "properties": {},
      "type": "object"
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig": {
      "description": "ConnectionConfig represents a Connection Configuration object.",
      "properties": {
        "project": {
          "description": "project represents the consumer project the connection belongs to.",
          "type": "string"
        },
        "userPort": {
          "format": "int32",
          "type": "integer",
          "description": "user_port specifies the reserved port on gateways for user connections."
        },
        "tunnelsPerGateway": {
          "format": "uint32",
          "type": "integer",
          "description": "tunnels_per_gateway reflects the number of tunnels between a connector and a gateway."
        },
        "name": {
          "description": "name is the unique ID for each connection. TODO(b/190732451) returns connection name from user-specified name in config. Now, name = ${application_name}:${application_endpoint}",
          "type": "string"
        },
        "applicationEndpoint": {
          "type": "string",
          "description": "application_endpoint is the endpoint of the application the form of host:port. For example, \"localhost:80\"."
        },
        "applicationName": {
          "description": "application_name represents the given name of the application the connection is connecting with.",
          "type": "string"
        },
        "gateway": {
          "description": "gateway lists all instances running a gateway in GCP. They all connect to a connector on the host.",
          "type": "array",
          "items": {
            "$ref": "CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
          }
        }
      },
      "type": "object",
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEgressPolicy": {
      "description": "Routing policy information.",
      "properties": {
        "regions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of the regions where the application sends traffic."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEgressPolicy"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpoint": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpoint",
      "type": "object",
      "description": "Internet Gateway endpoint to forward traffic to.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname of the endpoint."
        },
        "port": {
          "format": "int32",
          "description": "Required. Port of the endpoint.",
          "type": "integer"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      }
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig",
      "type": "object",
      "description": "The configuration that was applied to generate the result.",
      "properties": {
        "customGrouping": {
          "readOnly": true,
          "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping",
          "description": "Output only. Customised grouping applied."
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Starting time for the duration for which insight was pulled."
        },
        "aggregation": {
          "type": "string",
          "description": "Output only. Aggregation type applied.",
          "enumDescriptions": [
            "Unspecified.",
            "Insight should be aggregated at hourly level.",
            "Insight should be aggregated at daily level.",
            "Insight should be aggregated at weekly level.",
            "Insight should be aggregated at monthly level.",
            "Insight should be aggregated at the custom date range passed in as the start and end time in the request."
          ],
          "readOnly": true,
          "enum": [
            "AGGREGATION_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "CUSTOM_DATE_RANGE"
          ]
        },
        "fieldFilter": {
          "description": "Output only. Filters applied.",
          "readOnly": true,
          "type": "string"
        },
        "group": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Group id of the grouping applied."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Ending time for the duration for which insight was pulled."
        }
      }
    },
    "NotificationConfig": {
      "description": "NotificationConfig defines the mechanisms to notify instance agent.",
      "properties": {
        "pubsubNotification": {
          "description": "Pub/Sub topic for Connector to subscribe and receive notifications from `projects/{project}/topics/{pubsub_topic}`",
          "$ref": "CloudPubSubNotificationConfig"
        }
      },
      "type": "object",
      "id": "NotificationConfig"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaListAppConnectorsResponse": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaListAppConnectorsResponse",
      "type": "object",
      "description": "Response message for BeyondCorp.ListAppConnectors.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appConnectors": {
          "type": "array",
          "description": "A list of BeyondCorp AppConnectors in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector"
          }
        }
      }
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaConfiguredInsightResponse": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaConfiguredInsightResponse",
      "description": "The response for the configured insight.",
      "properties": {
        "rows": {
          "description": "Output only. Result rows returned containing the required value(s) for configured insight.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow"
          }
        },
        "appliedConfig": {
          "description": "Output only. Applied insight config to generate the result data rows.",
          "readOnly": true,
          "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Next page token to be fetched. Set to empty or NULL if there are no more pages available."
        }
      },
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery",
      "type": "object",
      "description": "Settings related to the Service Discovery.",
      "properties": {
        "apiGateway": {
          "description": "Optional. External API configuration.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway"
        }
      }
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoConnectorDetails": {
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoConnectorDetails",
      "type": "object",
      "description": "ConnectorDetails reflects the details of a connector.",
      "properties": {}
    },
    "ConnectionOperationMetadata": {
      "id": "ConnectionOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "readOnly": true,
[...]
