{
  "title": "BeyondCorp API",
  "rootUrl": "https://beyondcorp.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260401",
  "basePath": "",
  "id": "beyondcorp:v1",
  "documentationLink": "https://cloud.google.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "version": "v1",
  "name": "beyondcorp",
  "schemas": {
    "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionGateway": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Gateway hosted in a GCP regional managed instance group."
          ],
          "description": "Required. The type of hosting used by the gateway.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ]
        },
        "uri": {
          "description": "Output only. Server-defined URI for this resource.",
          "readOnly": true,
          "type": "string"
        },
        "ingressPort": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Ingress port reserved on the gateways for this AppConnection, if not specified or zero, the default port is 19443."
        },
        "appGateway": {
          "description": "Required. AppGateway name in following format: `projects/{project_id}/locations/{location_id}/appgateways/{gateway_id}`",
          "type": "string"
        },
        "l7psc": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. L7 private service connection for this resource."
        }
      },
      "description": "Gateway represents a user facing component that serves as an entrance to enable connectivity.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionGateway",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeaders": {
      "properties": {
        "userInfo": {
          "description": "Optional. User details.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedUserInfo"
        },
        "groupInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedGroupInfo",
          "description": "Optional. Group details."
        },
        "deviceInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedDeviceInfo",
          "description": "Optional. The device information configuration."
        },
        "outputType": {
          "description": "Optional. Default output type for all enabled headers.",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ]
        }
      },
      "description": "Contextual headers configuration.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeaders",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscoveryApiGateway": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscoveryApiGateway",
      "type": "object",
      "properties": {
        "resourceOverride": {
          "description": "Optional. Enables fetching resource model updates to alter service behavior per Chrome profile.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscoveryApiGatewayOperationDescriptor"
        }
      },
      "description": "If Service Discovery is done through API, defines its settings."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamNetwork": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamNetwork",
      "description": "Network to forward traffic to.",
      "properties": {
        "name": {
          "description": "Required. Network name is of the format: `projects/{project}/global/networks/{network}",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "AppGateway": {
      "description": "A BeyondCorp AppGateway resource represents a BeyondCorp protected AppGateway to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected AppGateway. Multiple connectors can be authorised for a single AppGateway.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URI for this resource."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "uid": {
          "description": "Output only. A unique identifier for the instance generated by the system.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppGateway is being created.",
            "AppGateway has been created.",
            "AppGateway's configuration is being updated.",
            "AppGateway is being deleted.",
            "AppGateway is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "description": "Output only. The current state of the AppGateway."
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the AppGateway. Cannot exceed 64 characters.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "TCP Proxy based BeyondCorp Connection. API will default to this if unset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TCP_PROXY"
          ],
          "description": "Required. The type of network connectivity used by the AppGateway."
        },
        "hostType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppGateway hosted in a GCP regional managed instance group."
          ],
          "enum": [
            "HOST_TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ],
          "description": "Required. The type of hosting used by the AppGateway."
        },
        "allocatedConnections": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AllocatedConnection"
          },
          "description": "Output only. A list of connections allocated for the Gateway"
        },
        "name": {
          "description": "Required. Unique resource name of the AppGateway. The name is ignored when creating an AppGateway.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppGateway"
    },
    "GoogleCloudBeyondcorpConnectionsV1alphaConnectionOperationMetadata": {
      "id": "GoogleCloudBeyondcorpConnectionsV1alphaConnectionOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1AppConnector": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1AppConnector",
      "description": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the AppConnector.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnector is being created.",
            "AppConnector has been created.",
            "AppConnector's configuration is being updated.",
            "AppConnector is being deleted.",
            "AppConnector is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ]
        },
        "name": {
          "description": "Required. Unique resource name of the AppConnector. The name is ignored when creating a AppConnector.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "uid": {
          "description": "Output only. A unique identifier for the instance generated by the system.",
          "readOnly": true,
          "type": "string"
        },
        "resourceInfo": {
          "description": "Optional. Resource info of the connector.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1ResourceInfo"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the AppConnector. Cannot exceed 64 characters.",
          "type": "string"
        },
        "principalInfo": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfo",
          "description": "Required. Principal information about the Identity of the AppConnector."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1Hub": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1Hub",
      "description": "The Hub message contains information pertaining to the regional data path deployments.",
      "properties": {
        "internetGateway": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1InternetGateway",
          "description": "Optional. Internet Gateway configuration."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorInstanceConfig": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorInstanceConfig",
      "type": "object",
      "properties": {
        "instanceConfig": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The SLM instance agent configuration."
        },
        "sequenceNumber": {
          "type": "string",
          "format": "int64",
          "description": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change."
        },
        "notificationConfig": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1NotificationConfig",
          "description": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification."
        },
        "imageConfig": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1ImageConfig",
          "description": "ImageConfig defines the GCR images to run for the remote agent's control plane."
        }
      },
      "description": "AppConnectorInstanceConfig defines the instance config of a AppConnector."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfoServiceAccount": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfoServiceAccount",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the service account.",
          "type": "string"
        }
      },
      "description": "ServiceAccount represents a GCP service account."
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedUserInfo": {
      "description": "The configuration information for the delegated user.",
      "properties": {
        "outputType": {
          "description": "Optional. The delegated user's information.",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedUserInfo"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails",
      "type": "object",
      "properties": {
        "expectedConfigVersion": {
          "description": "The version of the expected config.",
          "type": "string"
        },
        "currentConfigVersion": {
          "description": "The version of the current config.",
          "type": "string"
        },
        "extendedStatus": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        }
      },
      "description": "ContainerHealthDetails reflects the health details of a container."
    },
    "GoogleCloudBeyondcorpPartnerservicesV1mainPartnerServiceOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "GoogleCloudBeyondcorpPartnerservicesV1mainPartnerServiceOperationMetadata",
      "deprecated": true,
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectionsV1AppConnection": {
      "description": "A BeyondCorp AppConnection resource represents a BeyondCorp protected AppConnection to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected AppConnection. Multiple connectors can be authorized for a single AppConnection.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "applicationEndpoint": {
          "description": "Required. Address of the remote application endpoint for the BeyondCorp AppConnection.",
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionApplicationEndpoint"
        },
        "connectors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of [google.cloud.beyondcorp.v1main.Connector.name] that are authorized to be associated with this AppConnection."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for the instance generated by the system."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the AppConnection.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnection is being created.",
            "AppConnection has been created.",
            "AppConnection's configuration is being updated.",
            "AppConnection is being deleted.",
            "AppConnection is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ]
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the AppConnection. Cannot exceed 64 characters.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "TCP Proxy based BeyondCorp AppConnection. API will default to this if unset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TCP_PROXY"
          ],
          "description": "Required. The type of network connectivity used by the AppConnection."
        },
        "gateway": {
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionGateway",
          "description": "Optional. Gateway used by the AppConnection."
        },
        "name": {
          "description": "Required. Unique resource name of the AppConnection. The name is ignored when creating a AppConnection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1AppConnection"
    },
    "GoogleTypeExpr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails",
      "description": "RemoteAgentDetails reflects the details of a remote agent.",
      "properties": {}
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig": {
      "properties": {
        "applicationName": {
          "description": "application_name represents the given name of the application the connection is connecting with.",
          "type": "string"
        },
        "applicationEndpoint": {
          "description": "application_endpoint is the endpoint of the application the form of host:port. For example, \"localhost:80\".",
          "type": "string"
        },
        "tunnelsPerGateway": {
          "type": "integer",
          "format": "uint32",
          "description": "tunnels_per_gateway reflects the number of tunnels between a connector and a gateway."
        },
        "project": {
          "description": "project represents the consumer project the connection belongs to.",
          "type": "string"
        },
        "gateway": {
          "description": "gateway lists all instances running a gateway in GCP. They all connect to a connector on the host.",
          "type": "array",
          "items": {
            "$ref": "CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
          }
        },
        "name": {
          "description": "name is the unique ID for each connection. TODO(b/190732451) returns connection name from user-specified name in config. Now, name = ${application_name}:${application_endpoint}",
          "type": "string"
        },
        "userPort": {
          "type": "integer",
          "format": "int32",
          "description": "user_port specifies the reserved port on gateways for user connections."
        }
      },
      "description": "ConnectionConfig represents a Connection Configuration object.",
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfo": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfo",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "A GCP service account.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfoServiceAccount"
        }
      },
      "description": "PrincipalInfo represents an Identity oneof."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ListAppConnectorsResponse": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ListAppConnectorsResponse",
      "type": "object",
      "properties": {
        "appConnectors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectorsV1AppConnector"
          },
          "description": "A list of BeyondCorp AppConnectors in the project."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for BeyondCorp.ListAppConnectors."
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponse": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponse",
      "description": "Response message for BeyondCorp.ResolveAppConnections.",
      "properties": {
        "appConnectionDetails": {
          "description": "A list of BeyondCorp AppConnections with details in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponseAppConnectionDetails"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1LoggingConfig": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1LoggingConfig",
      "type": "object",
      "properties": {},
      "description": "Configuration for Cloud Logging."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1NotificationConfig": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1NotificationConfig",
      "description": "NotificationConfig defines the mechanisms to notify instance agent.",
      "properties": {
        "pubsubNotification": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1NotificationConfigCloudPubSubNotificationConfig",
          "description": "Cloud Pub/Sub Configuration to receive notifications."
        }
      }
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoGateway": {
      "description": "Gateway represents a GCE VM Instance endpoint for use by IAP TCP.",
      "properties": {
        "name": {
          "description": "name is the name of an instance running a gateway. It is the unique ID for a gateway. All gateways under the same connection have the same prefix. It is derived from the gateway URL. For example, name=${instance} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}",
          "type": "string"
        },
        "project": {
          "description": "project is the tenant project the gateway belongs to. Different from the project in the connection, it is a BeyondCorpAPI internally created project to manage all the gateways. It is sharing the same network with the consumer project user owned. It is derived from the gateway URL. For example, project=${project} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}",
          "type": "string"
        },
        "interface": {
          "description": "interface specifies the network interface of the gateway to connect to.",
          "type": "string"
        },
        "port": {
          "description": "port specifies the port of the gateway for tunnel connections from the connectors.",
          "type": "integer",
          "format": "uint32"
        },
        "selfLink": {
          "description": "self_link is the gateway URL in the form https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}",
          "type": "string"
        },
        "zone": {
          "description": "zone represents the zone the instance belongs. It is derived from the gateway URL. For example, zone=${zone} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionOperationMetadata"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1Endpoint": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1Endpoint",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname of the endpoint.",
          "type": "string"
        },
        "port": {
          "description": "Required. Port of the endpoint.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Internet Gateway endpoint to forward traffic to."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponseAppConnectionDetails": {
      "properties": {
        "recentMigVms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If type=GCP_REGIONAL_MIG, contains most recent VM instances, like `https://www.googleapis.com/compute/v1/projects/{project_id}/zones/{zone_id}/instances/{instance_id}`."
        },
        "appConnection": {
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1AppConnection",
          "description": "A BeyondCorp AppConnection in the project."
        }
      },
      "description": "Details of the AppConnection.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponseAppConnectionDetails",
      "type": "object"
    },
    "Tunnelv1ProtoTunnelerError": {
      "properties": {
        "retryable": {
          "description": "retryable isn't used for now, but we may want to reuse it in the future.",
          "type": "boolean"
        },
        "err": {
          "description": "Original raw error",
          "type": "string"
        }
      },
      "description": "TunnelerError is an error proto for errors returned by the connection manager.",
      "id": "Tunnelv1ProtoTunnelerError",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ResolveInstanceConfigResponse": {
      "description": "Response message for BeyondCorp.ResolveInstanceConfig.",
      "properties": {
        "instanceConfig": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorInstanceConfig",
          "description": "AppConnectorInstanceConfig."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ResolveInstanceConfigResponse"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ListSecurityGatewaysResponse": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ListSecurityGatewaysResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securityGateways": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGateway"
          },
          "description": "A list of BeyondCorp SecurityGateway in the project."
        }
      },
      "description": "Message for response to listing SecurityGateways."
    },
    "AppGatewayOperationMetadata": {
      "id": "AppGatewayOperationMetadata",
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1EgressPolicy": {
      "properties": {
        "regions": {
          "description": "Required. List of the regions where the application sends traffic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Routing policy information.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1EgressPolicy",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamExternal": {
      "description": "Endpoints to forward traffic to.",
      "properties": {
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1Endpoint"
          },
          "description": "Required. List of the endpoints to forward traffic to."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamExternal"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscoveryApiGatewayOperationDescriptor": {
      "properties": {
        "path": {
          "description": "Optional. Contains the URI path fragment where HTTP request is sent.",
          "type": "string"
        }
      },
      "description": "API operation descriptor.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscoveryApiGatewayOperationDescriptor",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ReportStatusRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "resourceInfo": {
          "description": "Required. Resource info of the connector.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1ResourceInfo"
        },
        "validateOnly": {
          "description": "Optional. If set, validates request by executing a dry-run which would not alter the resource in any way.",
          "type": "boolean"
        }
      },
      "description": "Request report the connector status.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ReportStatusRequest",
      "type": "object"
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoConnectorDetails": {
      "type": "object",
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoConnectorDetails",
      "description": "ConnectorDetails reflects the details of a connector.",
      "properties": {}
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedGroupInfo": {
      "properties": {
        "outputType": {
          "type": "string",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ],
          "description": "Optional. The output type of the delegated group information."
        }
      },
      "description": "The delegated group configuration details.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedGroupInfo",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1InternetGateway": {
      "description": "Represents the Internet Gateway configuration.",
      "properties": {
        "assignedIps": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of IP addresses assigned to the Cloud NAT."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1InternetGateway"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1Application": {
      "description": "The information about an application resource.",
      "properties": {
        "schema": {
          "description": "Optional. Type of the external application.",
          "enum": [
            "SCHEMA_UNSPECIFIED",
            "PROXY_GATEWAY",
            "API_GATEWAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Proxy which routes traffic to actual applications, like Netscaler Gateway.",
            "Service Discovery API endpoint when Service Discovery is enabled in Gateway."
          ]
        },
        "endpointMatchers": {
          "description": "Optional. An array of conditions to match the application's network endpoint. Each element in the array is an EndpointMatcher object, which defines a specific combination of a hostname pattern and one or more ports. The application is considered matched if at least one of the EndpointMatcher conditions in this array is met (the conditions are combined using OR logic). Each EndpointMatcher must contain a hostname pattern, such as \"example.com\", and one or more port numbers specified as a string, such as \"443\". Hostname and port number examples: \"*.example.com\", \"443\" \"example.com\" and \"22\" \"example.com\" and \"22,33\"",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1EndpointMatcher"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Name of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "upstreams": {
          "description": "Optional. Which upstream resources to forward traffic to.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstream"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the application resource. Cannot exceed 64 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1Application"
    },
    "GoogleCloudBeyondcorpConnectorsV1alphaRemoteAgentDetails": {
      "properties": {},
      "description": "RemoteAgentDetails reflects the details of a remote agent.",
      "id": "GoogleCloudBeyondcorpConnectorsV1alphaRemoteAgentDetails",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1ListAppConnectionsResponse": {
      "description": "Response message for BeyondCorp.ListAppConnections.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        },
        "appConnections": {
          "description": "A list of BeyondCorp AppConnections in the project.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectionsV1AppConnection"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1ListAppConnectionsResponse"
    },
    "GoogleCloudBeyondcorpAppgatewaysV1alphaAppGatewayOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppgatewaysV1alphaAppGatewayOperationMetadata"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGateway": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "name": {
          "description": "Identifier. Name of the resource.",
          "type": "string"
        },
        "serviceDiscovery": {
          "description": "Optional. Settings related to the Service Discovery.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscovery"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RUNNING",
            "DOWN",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "SecurityGateway is being created.",
            "SecurityGateway is being updated.",
            "SecurityGateway is being deleted.",
            "SecurityGateway is running.",
            "SecurityGateway is down and may be restored in the future.",
            "SecurityGateway encountered an error and is in an indeterministic state."
          ],
          "description": "Output only. The operational state of the SecurityGateway."
        },
        "hubs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1Hub"
          },
          "description": "Optional. Map of Hubs that represents regional data path deployment with GCP region as a key."
        },
        "delegatingServiceAccount": {
          "description": "Output only. Service account used for operations that involve resources in consumer projects.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the SecurityGateway. Cannot exceed 64 characters.",
          "type": "string"
        },
        "proxyProtocolConfig": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ProxyProtocolConfig",
          "description": "Optional. Shared proxy configuration for all apps."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created."
        },
        "logging": {
          "description": "Optional. Configuration for Cloud Logging. If this field is present, the logging will be enabled.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1LoggingConfig"
        },
        "externalIps": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. IP addresses that will be used for establishing connection to the endpoints."
        }
      },
      "description": "The information about a security gateway resource.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGateway",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ListApplicationsResponse": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ListApplicationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached."
        },
        "applications": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1Application"
          },
          "type": "array",
          "description": "A list of BeyondCorp Application in the project."
        }
      },
      "description": "Message for response to listing Applications."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstream": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstream",
      "description": "Which upstream resource to forward traffic to.",
      "properties": {
        "network": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamNetwork",
          "description": "Network to forward traffic to."
        },
        "proxyProtocol": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ProxyProtocolConfig",
          "description": "Optional. Enables proxy protocol configuration for the upstream."
        },
        "external": {
          "description": "List of the external endpoints to forward traffic to.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamExternal"
        },
        "egressPolicy": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1EgressPolicy",
          "description": "Optional. Routing policy information."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionApplicationEndpoint": {
      "description": "ApplicationEndpoint represents a remote application endpoint.",
      "properties": {
        "host": {
          "description": "Required. Hostname or IP address of the remote application endpoint.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Port of the remote application endpoint."
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionApplicationEndpoint"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaRemoteAgentDetails": {
      "properties": {},
      "description": "RemoteAgentDetails reflects the details of a remote agent.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaRemoteAgentDetails",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscovery": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscovery",
      "type": "object",
      "properties": {
        "apiGateway": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscoveryApiGateway",
          "description": "Optional. External API configuration."
        }
      },
      "description": "Settings related to the Service Discovery."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedDeviceInfo": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedDeviceInfo",
      "type": "object",
      "properties": {
        "outputType": {
          "type": "string",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ],
          "description": "Optional. The output type details for the delegated device."
        }
      },
      "description": "The delegated device information configuration."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ImageConfig": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ImageConfig",
      "type": "object",
      "properties": {
        "stableImage": {
          "description": "The stable image that the remote agent will fallback to if the target image fails. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1",
          "type": "string"
        },
        "targetImage": {
          "description": "The initial image the remote agent will attempt to run for the control plane. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1",
          "type": "string"
        }
      },
      "description": "ImageConfig defines the control plane images to run."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGatewayOperationMetadata": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGatewayOperationMetadata",
      "type": "object",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "AllocatedConnection": {
      "description": "Allocated connection of the AppGateway.",
      "properties": {
        "ingressPort": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The ingress port of an allocated connection"
        },
        "pscUri": {
          "description": "Required. The PSC uri of an allocated connection",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AllocatedConnection"
    },
    "Tunnelv1ProtoTunnelerInfo": {
      "type": "object",
      "id": "Tunnelv1ProtoTunnelerInfo",
      "description": "TunnelerInfo contains metadata about tunneler launched by connection manager.",
      "properties": {
        "totalRetryCount": {
          "type": "integer",
          "format": "uint32",
          "description": "total_retry_count stores the total number of times the tunneler has been retried by tunManager."
        },
        "backoffRetryCount": {
          "type": "integer",
          "format": "uint32",
          "description": "backoff_retry_count stores the number of times the tunneler has been retried by tunManager for current backoff sequence. Gets reset to 0 if time difference between 2 consecutive retries exceeds backoffRetryResetTime."
        },
        "latestRetryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "latest_retry_time stores the time when the tunneler was last restarted."
        },
        "latestErr": {
          "description": "latest_err stores the Error for the latest tunneler failure. Gets reset everytime the tunneler is retried by tunManager.",
          "$ref": "Tunnelv1ProtoTunnelerError"
        },
        "id": {
          "description": "id is the unique id of a tunneler.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1NotificationConfigCloudPubSubNotificationConfig": {
      "properties": {
        "pubsubSubscription": {
          "description": "The Pub/Sub subscription the AppConnector uses to receive notifications.",
          "type": "string"
        }
      },
      "description": "The configuration for Pub/Sub messaging for the AppConnector.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1NotificationConfigCloudPubSubNotificationConfig",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "type": "object"
    },
    "GoogleCloudBeyondcorpConnectorsV1alphaContainerHealthDetails": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpConnectorsV1alphaContainerHealthDetails",
      "description": "ContainerHealthDetails reflects the health details of a container.",
      "properties": {
        "expectedConfigVersion": {
          "description": "The version of the expected config.",
          "type": "string"
        },
        "currentConfigVersion": {
          "description": "The version of the current config.",
          "type": "string"
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        },
        "extendedStatus": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaContainerHealthDetails": {
      "description": "ContainerHealthDetails reflects the health details of a container.",
      "properties": {
        "extendedStatus": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        },
        "expectedConfigVersion": {
          "description": "The version of the expected config.",
          "type": "string"
        },
        "currentConfigVersion": {
          "description": "The version of the current config.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaContainerHealthDetails"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1ProxyProtocolConfig": {
      "description": "The configuration for the proxy.",
      "properties": {
        "metadataHeaders": {
          "description": "Optional. Custom resource specific headers along with the values. The names should conform to RFC 9110: >Field names can contain alphanumeric characters, hyphens, and periods, can contain only ASCII-printable characters and tabs, and must start with a letter.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "clientIp": {
          "description": "Optional. Client IP configuration. The client IP address is included if true.",
          "type": "boolean"
        },
        "contextualHeaders": {
          "description": "Optional. Configuration for the contextual headers.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeaders"
        },
        "gatewayIdentity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified gateway identity.",
            "Resource name for gateway identity, in the format: projects/{project_id}/locations/{location_id}/securityGateways/{security_gateway_id}"
          ],
          "description": "Optional. The security gateway identity configuration.",
          "enum": [
            "GATEWAY_IDENTITY_UNSPECIFIED",
            "RESOURCE_NAME"
          ]
        },
        "allowedClientHeaders": {
          "description": "Optional. List of the allowed client header names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1ProxyProtocolConfig"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object"
    },
    "GoogleCloudBeyondcorpConnectorsV1alphaConnectorOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudBeyondcorpConnectorsV1alphaConnectorOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1EndpointMatcher": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1EndpointMatcher",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname of the application.",
          "type": "string"
        },
        "ports": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Required. The ports of the application."
        }
      },
      "description": "EndpointMatcher contains the information of the endpoint that will match the application."
    },
    "GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata": {
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "type": "object",
[...]
