{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "BigQuery Data Transfer API",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
  "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "id": "bigquerydatatransfer:v1",
  "documentationLink": "https://cloud.google.com/bigquery-transfer/",
  "canonicalName": "BigQuery Data Transfer",
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "dataSources": {
          "methods": {
            "checkValidCreds": {
              "request": {
                "$ref": "CheckValidCredsRequest"
              },
              "response": {
                "$ref": "CheckValidCredsResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Returns true if valid credentials exist for the given data source and requesting user.",
              "httpMethod": "POST",
              "path": "v1/{+name}:checkValidCreds",
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.dataSources.get",
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Retrieves a supported data source and returns its settings.",
              "response": {
                "$ref": "DataSource"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "bigquerydatatransfer.projects.dataSources.list",
              "flatPath": "v1/projects/{projectsId}/dataSources",
              "path": "v1/{+parent}/dataSources",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists supported data sources and returns their settings.",
              "response": {
                "$ref": "ListDataSourcesResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "transferConfigs": {
          "resources": {
            "runs": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified transfer run.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Returns information about the particular transfer run.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "TransferRun"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "states": {
                      "type": "string",
                      "description": "When specified, only transfer runs with requested states are returned.",
                      "location": "query",
                      "enumDescriptions": [
                        "State placeholder (0).",
                        "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                        "Data transfer is in progress (3).",
                        "Data transfer completed successfully (4).",
                        "Data transfer failed (5).",
                        "Data transfer is cancelled (6)."
                      ],
                      "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                      ],
                      "repeated": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "location": "query"
                    },
                    "runAttempt": {
                      "enum": [
                        "RUN_ATTEMPT_UNSPECIFIED",
                        "LATEST"
                      ],
                      "description": "Indicates how run attempts are to be pulled.",
                      "location": "query",
                      "enumDescriptions": [
                        "All runs should be returned.",
                        "Only latest run per day should be returned."
                      ],
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListTransferRunsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Returns information about running and completed transfer runs.",
                  "path": "v1/{+parent}/runs",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs"
                }
              },
              "resources": {
                "transferLogs": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/transferLogs",
                      "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                      "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Transfer run name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "messageTypes": {
                          "enum": [
                            "MESSAGE_SEVERITY_UNSPECIFIED",
                            "INFO",
                            "WARNING",
                            "ERROR"
                          ],
                          "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                          "location": "query",
                          "enumDescriptions": [
                            "No severity specified.",
                            "Informational message.",
                            "Warning message.",
                            "Error message."
                          ],
                          "type": "string",
                          "repeated": true
                        }
                      },
                      "response": {
                        "$ref": "ListTransferLogsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Returns log messages for the transfer run.",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "transferResources": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Returns a transfer resource.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "TransferResource"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the transfer resource in the form of: * `projects/{project}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}` * `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/transferResources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources/{transferResourcesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.get",
                  "path": "v1/{+name}"
                },
                "list": {
                  "path": "v1/{+parent}/transferResources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.list",
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources",
                  "response": {
                    "$ref": "ListTransferResourcesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of transfer configuration for which transfer resources should be retrieved. The name should be in one of the following forms: * `projects/{project}/transferConfigs/{transfer_config}` * `projects/{project}/locations/{location_id}/transferConfigs/{transfer_config}`",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of transfer resources to return. The maximum value is 1000; values above 1000 will be coerced to 1000. The default page size is the maximum value of 1000 results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTransferResources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTransferResources` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter for the transfer resources. Currently supported filters include: * Resource name: `name` - Wildcard supported * Resource type: `type` * Resource destination: `destination` * Latest resource state: `latest_status_detail.state` * Last update time: `update_time` - RFC-3339 format * Parent table name: `hierarchy_detail.partition_detail.table` Multiple filters can be applied using the `AND/OR` operator. Examples: * `name=\"*123\" AND (type=\"TABLE\" OR latest_status_detail.state=\"SUCCEEDED\")` * `update_time >= \"2012-04-21T11:30:00-04:00\"` * `hierarchy_detail.partition_detail.table = \"table1\"`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Returns information about transfer resources."
                }
              }
            }
          },
          "methods": {
            "scheduleRuns": {
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "deprecated": true,
              "response": {
                "$ref": "ScheduleTransferRunsResponse"
              },
              "request": {
                "$ref": "ScheduleTransferRunsRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
              "path": "v1/{+parent}:scheduleRuns",
              "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns"
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.patch",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "TransferConfig"
              },
              "response": {
                "$ref": "TransferConfig"
              },
              "parameters": {
                "versionInfo": {
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "location": "query",
                  "type": "string"
                },
                "serviceAccountName": {
                  "type": "string",
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "location": "query"
                },
                "authorizationCode": {
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "location": "query",
                  "deprecated": true,
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. Required list of fields to be updated in this request.",
                  "location": "query"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Returns information about a data transfer config.",
              "httpMethod": "GET",
              "response": {
                "$ref": "TransferConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.get",
              "path": "v1/{+name}"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the resource to delete. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.delete"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.create",
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "path": "v1/{+parent}/transferConfigs",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new data transfer configuration.",
              "response": {
                "$ref": "TransferConfig"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "authorizationCode": {
                  "deprecated": true,
                  "type": "string",
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "location": "query"
                },
                "versionInfo": {
                  "type": "string",
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "location": "query"
                },
                "serviceAccountName": {
                  "type": "string",
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "TransferConfig"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The BigQuery project id for which transfer configs should be returned. If you are using the regionless method, the location must be `US` and `parent` should be in the following form: * `projects/{project_id} If you are using the regionalized method, `parent` should be in the following form: * `projects/{project_id}/locations/{location_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "location": "query"
                },
                "dataSourceIds": {
                  "description": "When specified, only configurations of requested data sources are returned.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListTransferConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Returns information about all transfer configs owned by a project in the specified location.",
              "httpMethod": "GET",
              "path": "v1/{+parent}/transferConfigs",
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "id": "bigquerydatatransfer.projects.transferConfigs.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "startManualRuns": {
              "path": "v1/{+parent}:startManualRuns",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:startManualRuns",
              "parameterOrder": [
                "parent"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.startManualRuns",
              "request": {
                "$ref": "StartManualTransferRunsRequest"
              },
              "response": {
                "$ref": "StartManualTransferRunsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Manually initiates transfer runs. You can schedule these runs in two ways: 1. For a specific point in time using the 'requested_run_time' parameter. 2. For a period between 'start_time' (inclusive) and 'end_time' (exclusive). If scheduling a single run, it is set to execute immediately (schedule_time equals the current time). When scheduling multiple runs within a time range, the first run starts now, and subsequent runs are delayed by 15 seconds each.",
              "httpMethod": "POST"
            }
          }
        },
        "locations": {
          "resources": {
            "dataSources": {
              "methods": {
                "checkValidCreds": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:checkValidCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Returns true if valid credentials exist for the given data source and requesting user.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CheckValidCredsRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "CheckValidCredsResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "DataSource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Retrieves a supported data source and returns its settings.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListDataSourcesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists supported data sources and returns their settings.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/dataSources",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.dataSources.list"
                }
              }
            },
            "transferConfigs": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/transferConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "versionInfo": {
                      "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                      "location": "query",
                      "type": "string"
                    },
                    "serviceAccountName": {
                      "type": "string",
                      "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                      "location": "query"
                    },
                    "authorizationCode": {
                      "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new data transfer configuration."
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "location": "query"
                    },
                    "dataSourceIds": {
                      "repeated": true,
                      "type": "string",
                      "description": "When specified, only configurations of requested data sources are returned.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The BigQuery project id for which transfer configs should be returned. If you are using the regionless method, the location must be `US` and `parent` should be in the following form: * `projects/{project_id} If you are using the regionalized method, `parent` should be in the following form: * `projects/{project_id}/locations/{location_id}`",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListTransferConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Returns information about all transfer configs owned by a project in the specified location.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/transferConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "startManualRuns": {
                  "path": "v1/{+parent}:startManualRuns",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:startManualRuns",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.startManualRuns",
                  "request": {
                    "$ref": "StartManualTransferRunsRequest"
                  },
                  "response": {
                    "$ref": "StartManualTransferRunsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Manually initiates transfer runs. You can schedule these runs in two ways: 1. For a specific point in time using the 'requested_run_time' parameter. 2. For a period between 'start_time' (inclusive) and 'end_time' (exclusive). If scheduling a single run, it is set to execute immediately (schedule_time equals the current time). When scheduling multiple runs within a time range, the first run starts now, and subsequent runs are delayed by 15 seconds each.",
                  "httpMethod": "POST"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "parameters": {
                    "versionInfo": {
                      "type": "string",
                      "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "location": "query"
                    },
                    "serviceAccountName": {
                      "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                      "location": "query",
                      "type": "string"
                    },
                    "authorizationCode": {
                      "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Required list of fields to be updated in this request.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "TransferConfig"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Returns information about a data transfer config.",
                  "path": "v1/{+name}",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}"
                },
                "scheduleRuns": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.scheduleRuns",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}:scheduleRuns",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ScheduleTransferRunsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "deprecated": true,
                  "response": {
                    "$ref": "ScheduleTransferRunsResponse"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the resource to delete. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "transferResources": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Returns a transfer resource.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the transfer resource in the form of: * `projects/{project}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}` * `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/transferResources/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "TransferResource"
                      },
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.transferResources.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/transferResources/{transferResourcesId}",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "path": "v1/{+parent}/transferResources",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.transferResources.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/transferResources",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListTransferResources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTransferResources` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter for the transfer resources. Currently supported filters include: * Resource name: `name` - Wildcard supported * Resource type: `type` * Resource destination: `destination` * Latest resource state: `latest_status_detail.state` * Last update time: `update_time` - RFC-3339 format * Parent table name: `hierarchy_detail.partition_detail.table` Multiple filters can be applied using the `AND/OR` operator. Examples: * `name=\"*123\" AND (type=\"TABLE\" OR latest_status_detail.state=\"SUCCEEDED\")` * `update_time >= \"2012-04-21T11:30:00-04:00\"` * `hierarchy_detail.partition_detail.table = \"table1\"`",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Name of transfer configuration for which transfer resources should be retrieved. The name should be in one of the following forms: * `projects/{project}/transferConfigs/{transfer_config}` * `projects/{project}/locations/{location_id}/transferConfigs/{transfer_config}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of transfer resources to return. The maximum value is 1000; values above 1000 will be coerced to 1000. The default page size is the maximum value of 1000 results.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListTransferResourcesResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Returns information about transfer resources."
                    }
                  }
                },
                "runs": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified transfer run.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Returns information about the particular transfer run.",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "TransferRun"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Returns information about running and completed transfer runs.",
                      "parameters": {
                        "states": {
                          "type": "string",
                          "description": "When specified, only transfer runs with requested states are returned.",
                          "location": "query",
                          "enumDescriptions": [
                            "State placeholder (0).",
                            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                            "Data transfer is in progress (3).",
                            "Data transfer completed successfully (4).",
                            "Data transfer failed (5).",
                            "Data transfer is cancelled (6)."
                          ],
                          "enum": [
                            "TRANSFER_STATE_UNSPECIFIED",
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "CANCELLED"
                          ],
                          "repeated": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "location": "query"
                        },
                        "runAttempt": {
                          "type": "string",
                          "description": "Indicates how run attempts are to be pulled.",
                          "location": "query",
                          "enumDescriptions": [
                            "All runs should be returned.",
                            "Only latest run per day should be returned."
                          ],
                          "enum": [
                            "RUN_ATTEMPT_UNSPECIFIED",
                            "LATEST"
                          ]
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListTransferRunsResponse"
                      },
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs",
                      "path": "v1/{+parent}/runs"
                    }
                  },
                  "resources": {
                    "transferLogs": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                          "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.transferLogs.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/transferLogs",
                          "scopes": [
                            "https://www.googleapis.com/auth/bigquery",
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Returns log messages for the transfer run.",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                              "location": "query"
                            },
                            "messageTypes": {
                              "enum": [
                                "MESSAGE_SEVERITY_UNSPECIFIED",
                                "INFO",
                                "WARNING",
                                "ERROR"
                              ],
                              "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                              "location": "query",
                              "enumDescriptions": [
                                "No severity specified.",
                                "Informational message.",
                                "Warning message.",
                                "Error message."
                              ],
                              "type": "string",
                              "repeated": true
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                              "type": "string",
                              "description": "Required. Transfer run name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "Page size. The default page size is the maximum value of 1000 results.",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListTransferLogsResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "bigquerydatatransfer.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "bigquerydatatransfer.projects.locations.get",
              "parameterOrder": [
                "name"
              ]
            },
            "enrollDataSources": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers).",
              "httpMethod": "POST",
              "request": {
                "$ref": "EnrollDataSourcesRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the project resource in the form: `projects/{project_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:enrollDataSources",
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.locations.enrollDataSources",
              "path": "v1/{+name}:enrollDataSources"
            },
            "unenrollDataSources": {
              "path": "v1/{+name}:unenrollDataSources",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:unenrollDataSources",
              "id": "bigquerydatatransfer.projects.locations.unenrollDataSources",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UnenrollDataSourcesRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the project resource in the form: `projects/{project_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Unenroll data sources in a user project. This allows users to remove transfer configurations for these data sources. They will no longer appear in the ListDataSources RPC and will also no longer appear in the [BigQuery UI](https://console.cloud.google.com/bigquery). Data transfers configurations of unenrolled data sources will not be scheduled.",
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "enrollDataSources": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers).",
          "httpMethod": "POST",
          "request": {
            "$ref": "EnrollDataSourcesRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the project resource in the form: `projects/{project_id}`",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectsId}:enrollDataSources",
          "parameterOrder": [
            "name"
          ],
          "id": "bigquerydatatransfer.projects.enrollDataSources",
          "path": "v1/{+name}:enrollDataSources"
        }
      }
    }
  },
  "schemas": {
    "ScheduleTransferRunsResponse": {
      "id": "ScheduleTransferRunsResponse",
      "type": "object",
      "description": "A response to schedule transfer runs for a time range.",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          },
          "description": "The transfer runs that were scheduled."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "TransferStatusMetric": {
      "description": "Metrics for tracking the transfer status.",
      "properties": {
        "completed": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Number of units transferred successfully."
        },
        "pending": {
          "description": "Optional. Number of units pending transfer.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "Optional. Unit for measuring progress (e.g., BYTES).",
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ],
          "type": "string"
        },
        "failed": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Number of units that failed to transfer."
        },
        "total": {
          "description": "Optional. Total number of units for the transfer.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TransferStatusMetric",
      "type": "object"
    },
    "TransferConfig": {
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account.",
      "properties": {
        "params": {
          "type": "object",
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string"
        },
        "scheduleOptionsV2": {
          "$ref": "ScheduleOptionsV2",
          "description": "Options customizing different types of data transfer schedule. This field replaces \"schedule\" and \"schedule_options\" fields. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule."
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the most recently updated transfer run.",
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "readOnly": true,
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "userId": {
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "type": "string",
          "format": "int64"
        },
        "encryptionConfiguration": {
          "description": "The encryption configuration part. Currently, it is only used for the optional KMS key name. The BigQuery service account of your project must be granted permissions to use the key. Read methods will return the key name applied in effect. Write methods will apply the key if it is present, or otherwise try to apply project default keys if it is absent.",
          "$ref": "EncryptionConfiguration"
        },
        "dataSourceId": {
          "description": "Data source ID. This cannot be changed once data transfer is created. The full list of available data source IDs can be returned through an API call: https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.dataSources/list",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error code with detailed information about reason of the latest config failure."
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "ownerInfo": {
          "description": "Output only. Information about the user whose credentials are used to transfer data. Populated only for `transferConfigs.get` requests. In case the user information is not available, this field will not be populated.",
          "readOnly": true,
          "$ref": "UserInfo"
        },
        "managedTableType": {
          "enum": [
            "MANAGED_TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "BIGLAKE"
          ],
          "description": "The classification of the destination table.",
          "enumDescriptions": [
            "Type unspecified. This defaults to `NATIVE` table.",
            "The managed table is a native BigQuery table. This is the default value.",
[...]
