{
  "version": "v1",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://bigqueryconnection.googleapis.com/",
  "schemas": {
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "type": "object"
    },
    "ConnectorConfigurationAuthentication": {
      "properties": {
        "usernamePassword": {
          "$ref": "ConnectorConfigurationUsernamePassword",
          "description": "Username/password authentication."
        },
        "serviceAccount": {
          "description": "Output only. Google-managed service account associated with this connection, e.g., `service-{project_number}@gcp-sa-bigqueryconnection.iam.gserviceaccount.com`. BigQuery jobs using this connection will act as `service_account` identity while connecting to the datasource.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ConnectorConfigurationAuthentication",
      "description": "Client authentication.",
      "type": "object"
    },
    "MetastoreServiceConfig": {
      "type": "object",
      "description": "Configuration of the Dataproc Metastore Service.",
      "id": "MetastoreServiceConfig",
      "properties": {
        "metastoreService": {
          "description": "Optional. Resource name of an existing Dataproc Metastore service. Example: * `projects/[project_id]/locations/[region]/services/[service_id]`",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "type": "object",
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "CloudResourceProperties": {
      "type": "object",
      "id": "CloudResourceProperties",
      "description": "Container for connection properties for delegation of access to GCP resources.",
      "properties": {
        "serviceAccountId": {
          "readOnly": true,
          "description": "Output only. The account ID of the service created for the purpose of this connection. The service account does not have any permissions associated with it when it is created. After creation, customers delegate permissions to the service account. When the connection is used in the context of an operation in BigQuery, the service account will be used to connect to the desired resources in GCP. The account ID is in the form of: @gcp-sa-bigquery-cloudresource.iam.gserviceaccount.com",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ConnectorConfigurationNetwork": {
      "id": "ConnectorConfigurationNetwork",
      "properties": {
        "privateServiceConnect": {
          "description": "Private Service Connect networking configuration.",
          "$ref": "ConnectorConfigurationPrivateServiceConnect"
        }
      },
      "type": "object",
      "description": "Network related configuration."
    },
    "ConnectorConfigurationPrivateServiceConnect": {
      "description": "Private Service Connect configuration.",
      "properties": {
        "networkAttachment": {
          "description": "Required. Network Attachment name in the format of `projects/{project}/regions/{region}/networkAttachments/{networkattachment}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConnectorConfigurationPrivateServiceConnect"
    },
    "ConnectorConfigurationUsernamePassword": {
      "description": "Username and Password authentication.",
      "id": "ConnectorConfigurationUsernamePassword",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Username.",
          "type": "string"
        },
        "password": {
          "description": "Required. Password.",
          "$ref": "ConnectorConfigurationSecret"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object"
    },
    "AwsAccessRole": {
      "properties": {
        "iamRoleId": {
          "description": "The user’s AWS IAM Role that trusts the Google-owned AWS IAM user Connection.",
          "type": "string"
        },
        "identity": {
          "description": "A unique Google-owned and Google-generated identity for the Connection. This identity will be used to access the user's AWS IAM Role.",
          "type": "string"
        }
      },
      "id": "AwsAccessRole",
      "description": "Authentication method for Amazon Web Services (AWS) that uses Google owned Google service account to assume into customer's AWS IAM Role.",
      "type": "object"
    },
    "ConnectorConfigurationEndpoint": {
      "id": "ConnectorConfigurationEndpoint",
      "description": "Remote endpoint specification.",
      "type": "object",
      "properties": {
        "hostPort": {
          "type": "string",
          "description": "Host and port in a format of `hostname:port` as defined in https://www.ietf.org/rfc/rfc3986.html#section-3.2.2 and https://www.ietf.org/rfc/rfc3986.html#section-3.2.3."
        }
      }
    },
    "AzureProperties": {
      "properties": {
        "federatedApplicationClientId": {
          "type": "string",
          "description": "The client ID of the user's Azure Active Directory Application used for a federated connection."
        },
        "application": {
          "description": "Output only. The name of the Azure Active Directory Application.",
          "type": "string",
          "readOnly": true
        },
        "redirectUri": {
          "type": "string",
          "description": "The URL user will be redirected to after granting consent during connection setup."
        },
        "identity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique Google-owned and Google-generated identity for the Connection. This identity will be used to access the user's Azure Active Directory Application."
        },
        "objectId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object id of the Azure Active Directory Application."
        },
        "customerTenantId": {
          "type": "string",
          "description": "The id of customer's directory that host the data."
        },
        "clientId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The client id of the Azure Active Directory Application."
        }
      },
      "description": "Container for connection properties specific to Azure.",
      "type": "object",
      "id": "AzureProperties"
    },
    "ConnectorConfigurationAsset": {
      "type": "object",
      "properties": {
        "database": {
          "description": "Name of the database.",
          "type": "string"
        },
        "googleCloudResource": {
          "type": "string",
          "description": "Full Google Cloud resource name - https://cloud.google.com/apis/design/resource_names#full_resource_name. Example: `//library.googleapis.com/shelves/shelf1/books/book2`"
        }
      },
      "description": "Data Asset - a resource within instance of the system, reachable under specified endpoint. For example a database name in a SQL DB.",
      "id": "ConnectorConfigurationAsset"
    },
    "ConnectorConfigurationSecret": {
      "id": "ConnectorConfigurationSecret",
      "description": "Secret value parameter.",
      "type": "object",
      "properties": {
        "plaintext": {
          "description": "Input only. Secret as plaintext.",
          "type": "string"
        },
        "secretType": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Output only. Indicates type of secret. Can be used to check type of stored secret value even if it's `INPUT_ONLY`.",
          "enum": [
            "SECRET_TYPE_UNSPECIFIED",
            "PLAINTEXT"
          ]
        }
      }
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "CloudSpannerProperties": {
      "properties": {
        "useDataBoost": {
          "type": "boolean",
          "description": "If set, the request will be executed via Spanner independent compute resources. REQUIRES: `use_parallelism` must be set."
        },
        "useServerlessAnalytics": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated: prefer use_data_boost instead. If the serverless analytics service should be used to read data from Cloud Spanner. Note: `use_parallelism` must be set when using serverless analytics."
        },
        "databaseRole": {
          "type": "string",
          "description": "Optional. Cloud Spanner database role for fine-grained access control. The Cloud Spanner admin should have provisioned the database role with appropriate permissions, such as `SELECT` and `INSERT`. Other users should only use roles provided by their Cloud Spanner admins. For more details, see [About fine-grained access control] (https://cloud.google.com/spanner/docs/fgac-about). REQUIRES: The database role name must start with a letter, and can only contain letters, numbers, and underscores."
        },
        "maxParallelism": {
          "description": "Allows setting max parallelism per query when executing on Spanner independent compute resources. If unspecified, default values of parallelism are chosen that are dependent on the Cloud Spanner instance configuration. REQUIRES: `use_parallelism` must be set. REQUIRES: `use_data_boost` must be set.",
          "format": "int32",
          "type": "integer"
        },
        "database": {
          "description": "Cloud Spanner database in the form `project/instance/database'",
          "type": "string"
        },
        "useParallelism": {
          "description": "If parallelism should be used when reading from Cloud Spanner",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Connection properties specific to Cloud Spanner.",
      "id": "CloudSpannerProperties"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      }
    },
    "SparkHistoryServerConfig": {
      "id": "SparkHistoryServerConfig",
      "description": "Configuration of the Spark History Server.",
      "type": "object",
      "properties": {
        "dataprocCluster": {
          "type": "string",
          "description": "Optional. Resource name of an existing Dataproc Cluster to act as a Spark History Server for the connection. Example: * `projects/[project_id]/regions/[region]/clusters/[cluster_name]`"
        }
      }
    },
    "ConnectorConfiguration": {
      "type": "object",
      "id": "ConnectorConfiguration",
      "description": "Represents concrete parameter values for Connector Configuration.",
      "properties": {
        "endpoint": {
          "description": "Specifies how to reach the remote system this connection is pointing to.",
          "$ref": "ConnectorConfigurationEndpoint"
        },
        "network": {
          "$ref": "ConnectorConfigurationNetwork",
          "description": "Networking configuration."
        },
        "connectorId": {
          "description": "Required. Immutable. The ID of the Connector these parameters are configured for.",
          "type": "string"
        },
        "asset": {
          "description": "Data asset.",
          "$ref": "ConnectorConfigurationAsset"
        },
        "authentication": {
          "description": "Client authentication.",
          "$ref": "ConnectorConfigurationAuthentication"
        }
      }
    },
    "CloudSqlCredential": {
      "description": "Credential info for the Cloud SQL.",
      "properties": {
        "password": {
          "type": "string",
          "description": "The password for the credential."
        },
        "username": {
          "description": "The username for the credential.",
          "type": "string"
        }
      },
      "id": "CloudSqlCredential",
      "type": "object"
    },
    "AwsProperties": {
      "properties": {
        "accessRole": {
          "$ref": "AwsAccessRole",
          "description": "Authentication using Google owned service account to assume into customer's AWS IAM Role."
        }
      },
      "description": "Connection properties specific to Amazon Web Services (AWS).",
      "id": "AwsProperties",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "Connection": {
      "id": "Connection",
      "description": "Configuration parameters to establish connection with an external data source, except the credential attributes.",
      "type": "object",
      "properties": {
        "cloudResource": {
          "$ref": "CloudResourceProperties",
          "description": "Cloud Resource properties."
        },
        "kmsKeyName": {
          "description": "Optional. The Cloud KMS key that is used for credentials encryption. If omitted, internal Google owned encryption keys are used. Example: `projects/[kms_project_id]/locations/[region]/keyRings/[key_region]/cryptoKeys/[key]`",
          "type": "string"
        },
        "aws": {
          "$ref": "AwsProperties",
          "description": "Amazon Web Services (AWS) properties."
        },
        "hasCredential": {
          "readOnly": true,
          "description": "Output only. True, if credential is configured for this connection.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "User provided description."
        },
        "salesforceDataCloud": {
          "$ref": "SalesforceDataCloudProperties",
          "description": "Optional. Salesforce DataCloud properties. This field is intended for use only by Salesforce partner projects. This field contains properties for your Salesforce DataCloud connection."
        },
        "spark": {
          "$ref": "SparkProperties",
          "description": "Spark properties."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the connection in the form of: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`",
          "readOnly": true
        },
        "cloudSql": {
          "$ref": "CloudSqlProperties",
          "description": "Cloud SQL properties."
        },
        "cloudSpanner": {
          "$ref": "CloudSpannerProperties",
          "description": "Cloud Spanner properties."
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The creation timestamp of the connection."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The last update timestamp of the connection.",
          "readOnly": true
        },
        "configuration": {
          "description": "Optional. Connector configuration.",
          "$ref": "ConnectorConfiguration"
        },
        "azure": {
          "description": "Azure properties.",
          "$ref": "AzureProperties"
        },
        "friendlyName": {
          "type": "string",
          "description": "User provided display name for the connection."
        }
      }
    },
    "SalesforceDataCloudProperties": {
      "description": "Connection properties specific to Salesforce DataCloud. This is intended for use only by Salesforce partner projects.",
      "properties": {
        "identity": {
          "type": "string",
          "description": "Output only. A unique Google-owned and Google-generated service account identity for the connection.",
          "readOnly": true
        },
        "instanceUri": {
          "description": "The URL to the user's Salesforce DataCloud instance.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the user's Salesforce tenant."
        }
      },
      "type": "object",
      "id": "SalesforceDataCloudProperties"
    },
    "SparkProperties": {
      "properties": {
        "serviceAccountId": {
          "type": "string",
          "description": "Output only. The account ID of the service created for the purpose of this connection. The service account does not have any permissions associated with it when it is created. After creation, customers delegate permissions to the service account. When the connection is used in the context of a stored procedure for Apache Spark in BigQuery, the service account is used to connect to the desired resources in Google Cloud. The account ID is in the form of: bqcx--@gcp-sa-bigquery-consp.iam.gserviceaccount.com",
          "readOnly": true
        },
        "metastoreServiceConfig": {
          "description": "Optional. Dataproc Metastore Service configuration for the connection.",
          "$ref": "MetastoreServiceConfig"
        },
        "sparkHistoryServerConfig": {
          "$ref": "SparkHistoryServerConfig",
          "description": "Optional. Spark History Server configuration for the connection."
        }
      },
      "type": "object",
      "description": "Container for connection properties to execute stored procedures for Apache Spark.",
      "id": "SparkProperties"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "description": "The response for ConnectionService.ListConnections.",
      "properties": {
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "description": "List of connections.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "ListConnectionsResponse"
    },
    "CloudSqlProperties": {
      "id": "CloudSqlProperties",
      "properties": {
        "credential": {
          "$ref": "CloudSqlCredential",
          "description": "Input only. Cloud SQL credential."
        },
        "type": {
          "description": "Type of the Cloud SQL database.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ],
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ]
        },
        "serviceAccountId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The account ID of the service used for the purpose of this connection. When the connection is used in the context of an operation in BigQuery, this service account will serve as the identity being used for connecting to the CloudSQL instance specified in this connection."
        },
        "instanceId": {
          "type": "string",
          "description": "Cloud SQL instance ID in the form `project:location:instance`."
        },
        "database": {
          "type": "string",
          "description": "Database name."
        }
      },
      "description": "Connection properties specific to the Cloud SQL.",
      "type": "object"
    }
  },
  "revision": "20260211",
  "servicePath": "",
  "mtlsRootUrl": "https://bigqueryconnection.mtls.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "title": "BigQuery Connection API",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "BigQuery Connection Service",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "baseUrl": "https://bigqueryconnection.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "id": "bigqueryconnection.projects.locations.connections.list",
                  "description": "Returns a list of connections in the given project.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent resource name. Must be in the form: `projects/{project_id}/locations/{location_id}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Required. Page size."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  }
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "bigqueryconnection.projects.locations.connections.testIamPermissions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions"
                },
                "create": {
                  "response": {
                    "$ref": "Connection"
                  },
                  "request": {
                    "$ref": "Connection"
                  },
                  "id": "bigqueryconnection.projects.locations.connections.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new connection.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/connections",
                  "parameters": {
                    "connectionId": {
                      "location": "query",
                      "description": "Optional. Connection id that should be assigned to the created connection.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent resource name. Must be in the format `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "id": "bigqueryconnection.projects.locations.connections.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "path": "v1/{+resource}:setIamPolicy"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes connection and associated credential.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the deleted connection, for example: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "id": "bigqueryconnection.projects.locations.connections.delete",
                  "path": "v1/{+name}"
                },
                "get": {
                  "id": "bigqueryconnection.projects.locations.connections.get",
                  "description": "Returns specified connection.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Connection"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the requested connection, for example: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "bigqueryconnection.projects.locations.connections.getIamPolicy",
                  "httpMethod": "POST"
                },
                "patch": {
                  "description": "Updates the specified connection. For security reasons, also resets credential if connection properties are in the update field mask.",
                  "id": "bigqueryconnection.projects.locations.connections.patch",
                  "response": {
                    "$ref": "Connection"
                  },
                  "request": {
                    "$ref": "Connection"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the connection to update, for example: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. Update mask for the connection fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "bigqueryconnection:v1",
  "documentationLink": "https://cloud.google.com/bigquery/docs/connections-api-intro",
  "description": "Allows users to manage BigQuery connections to external data sources.",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "name": "bigqueryconnection"
}