{
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "canonicalName": "Bigtable Admin",
  "title": "Cloud Bigtable Admin API",
  "batchPath": "batch",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "schemas": {
    "HotTablet": {
      "properties": {
        "name": {
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`.",
          "type": "string"
        },
        "tableName": {
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The start time of the hot tablet.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the hot tablet.",
          "format": "google-datetime",
          "type": "string"
        },
        "startKey": {
          "description": "Tablet Start Key (inclusive).",
          "type": "string"
        },
        "endKey": {
          "description": "Tablet End Key (inclusive).",
          "type": "string"
        },
        "nodeCpuUsagePercent": {
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "id": "HotTablet",
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "type": "object"
    },
    "ClusterAutoscalingConfig": {
      "properties": {
        "autoscalingLimits": {
          "$ref": "AutoscalingLimits",
          "description": "Required. Autoscaling limits for this cluster."
        },
        "autoscalingTargets": {
          "$ref": "AutoscalingTargets",
          "description": "Required. Autoscaling targets for this cluster."
        }
      },
      "id": "ClusterAutoscalingConfig",
      "description": "Autoscaling config for a cluster.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeGeography": {
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeGeography",
      "description": "A geography type, representing a point or region on Earth. The value is stored in `Value.bytes_value` as Well-Known Binary (WKB) bytes.",
      "type": "object"
    },
    "AutomatedBackupPolicy": {
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "type": "string",
          "description": "Required. How long the automated backups should be retained. Values must be at least 3 days and at most 90 days.",
          "format": "google-duration"
        },
        "frequency": {
          "description": "How frequently automated backups should occur. The only supported value at this time is 24 hours. An undefined frequency is treated as 24 hours.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "AutomatedBackupPolicy",
      "description": "Defines an automated backup policy for a table"
    },
    "TieredStorageConfig": {
      "properties": {
        "infrequentAccess": {
          "description": "Rule to specify what data is stored in the infrequent access(IA) tier. The IA tier allows storing more data per node with reduced performance.",
          "$ref": "TieredStorageRule"
        }
      },
      "id": "TieredStorageConfig",
      "description": "Config for tiered storage. A valid config must have a valid TieredStorageRule. Otherwise the whole TieredStorageConfig must be unset. By default all data is stored in the SSD tier (only SSD instances can configure tiered storage).",
      "type": "object"
    },
    "ColumnFamily": {
      "type": "object",
      "id": "ColumnFamily",
      "description": "A set of columns within a table which share a common configuration.",
      "properties": {
        "gcRule": {
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family.",
          "$ref": "GcRule"
        },
        "valueType": {
          "description": "The type of data stored in each of this family's cell values, including its full encoding. If omitted, the family only serves raw untyped bytes. For now, only the `Aggregate` type is supported. `Aggregate` can only be set at family creation and is immutable afterwards. This field is mutually exclusive with `sql_type`. If `value_type` is `Aggregate`, written data must be compatible with: * `value_type.input_type` for `AddInput` mutations",
          "$ref": "Type"
        },
        "stats": {
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above.",
          "readOnly": true,
          "$ref": "ColumnFamilyStats"
        }
      }
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "properties": {
        "originalRequest": {
          "$ref": "PartialUpdateInstanceRequest",
          "description": "The request that prompted the initiation of this UpdateInstance operation."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppProfile": {
      "properties": {
        "name": {
          "description": "The unique name of the app profile, up to 50 characters long. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "description": {
          "description": "Long form description of the use case for this AppProfile.",
          "type": "string"
        },
        "standardIsolation": {
          "$ref": "StandardIsolation",
          "description": "The standard options used for isolating this app profile's traffic from other use cases."
        },
        "multiClusterRoutingUseAny": {
          "$ref": "MultiClusterRoutingUseAny",
          "description": "Use a multi-cluster routing policy."
        },
        "singleClusterRouting": {
          "description": "Use a single-cluster routing policy.",
          "$ref": "SingleClusterRouting"
        },
        "priority": {
          "description": "This field has been deprecated in favor of `standard_isolation.priority`. If you set this field, `standard_isolation.priority` will be set instead. The priority of requests sent using this app profile.",
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        },
        "dataBoostIsolationReadOnly": {
          "description": "Specifies that this app profile is intended for read-only usage via the Data Boost feature.",
          "$ref": "DataBoostIsolationReadOnly"
        },
        "etag": {
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the meantime. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details.",
          "type": "string"
        }
      },
      "id": "AppProfile",
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.",
      "type": "object"
    },
    "SchemaBundle": {
      "id": "SchemaBundle",
      "description": "A named collection of related schemas.",
      "properties": {
        "protoSchema": {
          "$ref": "ProtoSchema",
          "description": "Schema for Protobufs."
        },
        "name": {
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MultiClusterRoutingUseAny": {
      "id": "MultiClusterRoutingUseAny",
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "properties": {
        "clusterIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible."
        },
        "rowAffinity": {
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically.",
          "$ref": "RowAffinity"
        }
      },
      "type": "object"
    },
    "StandardIsolation": {
      "type": "object",
      "id": "StandardIsolation",
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "properties": {
        "priority": {
          "description": "The priority of requests sent using this app profile.",
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructEncodingSingleton": {
      "id": "GoogleBigtableAdminV2TypeStructEncodingSingleton",
      "description": "Uses the encoding of `fields[0].type` as-is. Only valid if `fields.size == 1`. This encoding does not support `DESC` field ordering.",
      "properties": {},
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "id": "GoogleBigtableAdminV2TypeStructField",
      "description": "A struct field and its type.",
      "properties": {
        "fieldName": {
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name.",
          "type": "string"
        },
        "type": {
          "$ref": "Type",
          "description": "The type of values in this field."
        }
      },
      "type": "object"
    },
    "GenerateConsistencyTokenResponse": {
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      },
      "id": "GenerateConsistencyTokenResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "type": "object"
    },
    "CreateInstanceRequest": {
      "properties": {
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "instance": {
          "$ref": "Instance",
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank."
        },
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
          "type": "string"
        },
        "clusters": {
          "type": "object",
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank.",
          "additionalProperties": {
            "$ref": "Cluster"
          }
        }
      },
      "id": "CreateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "type": "object"
    },
    "BackupInfo": {
      "type": "object",
      "id": "BackupInfo",
      "description": "Information about a backup.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "sourceTable": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the table the backup was created from."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the backup."
        },
        "sourceBackup": {
          "type": "string",
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "readOnly": true
        }
      }
    },
    "CreateLogicalViewRequest": {
      "type": "object",
      "properties": {
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "logicalView": {
          "$ref": "LogicalView",
          "description": "Required. The logical view to create."
        }
      },
      "id": "CreateLogicalViewRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView."
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)",
      "properties": {}
    },
    "Union": {
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GcRule"
          },
          "description": "Delete cells which would be deleted by any element of `rules`."
        }
      },
      "id": "Union",
      "description": "A GcRule which deletes cells matching any of the given rules."
    },
    "ListHotTabletsResponse": {
      "id": "ListHotTabletsResponse",
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "properties": {
        "nextPageToken": {
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "hotTablets": {
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response.",
          "type": "array",
          "items": {
            "$ref": "HotTablet"
          }
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "type": "object",
      "properties": {
        "delimitedBytes": {
          "description": "Use `DelimitedBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes"
        },
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "orderedCodeBytes": {
          "description": "User `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeStructEncoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "ListLogicalViewsResponse": {
      "type": "object",
      "id": "ListLogicalViewsResponse",
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalViews": {
          "description": "The list of requested logical views.",
          "type": "array",
          "items": {
            "$ref": "LogicalView"
          }
        }
      }
    },
    "Intersection": {
      "type": "object",
      "id": "Intersection",
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "properties": {
        "rules": {
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "type": "array",
          "items": {
            "$ref": "GcRule"
          }
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeAggregateMin",
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input",
      "type": "object"
    },
    "Split": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Row key to use as an initial tablet boundary.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Split",
      "description": "An initial split point for a newly created table."
    },
    "ProtoSchema": {
      "properties": {
        "protoDescriptors": {
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description).",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "ProtoSchema",
      "description": "Represents a protobuf schema.",
      "type": "object"
    },
    "TableStats": {
      "properties": {
        "rowCount": {
          "description": "How many rows are in the table.",
          "format": "int64",
          "type": "string"
        },
        "averageColumnsPerRow": {
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "format": "double",
          "type": "number"
        },
        "logicalDataBytes": {
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        },
        "averageCellsPerColumn": {
          "type": "number",
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field.",
          "format": "double"
        }
      },
      "id": "TableStats",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified.",
      "type": "object"
    },
    "RestoreTableMetadata": {
      "id": "RestoreTableMetadata",
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "properties": {
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        },
        "sourceType": {
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source.",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "type": "string"
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateLogicalViewRequest": {
      "id": "UpdateLogicalViewRequest",
      "description": "Request message for BigtableInstanceAdmin.UpdateLogicalView.",
      "properties": {
        "updateMask": {
          "description": "Optional. The list of fields to update.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "logicalView": {
          "description": "Required. The logical view to update. The logical view's `name` field is used to identify the view to update. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`.",
          "$ref": "LogicalView"
        }
      },
      "type": "object"
    },
    "CreateMaterializedViewMetadata": {
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateMaterializedView operation.",
          "$ref": "CreateMaterializedViewRequest"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "CreateMaterializedViewMetadata",
      "description": "The metadata for the Operation returned by CreateMaterializedView.",
      "type": "object"
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "type": "object",
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState",
      "description": "The state of a materialized view's data in a particular cluster.",
      "properties": {
        "replicationState": {
          "readOnly": true,
          "description": "Output only. The state of the materialized view in this cluster.",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ],
          "type": "string"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance.",
      "properties": {
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "type": {
          "description": "The type of the instance. Defaults to `PRODUCTION`.",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "type": "string"
        },
        "labels": {
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion.",
          "type": "string"
        },
        "name": {
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the instance.",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "PartialUpdateInstanceRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        }
      },
      "id": "PartialUpdateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes": {
      "properties": {
        "nullEscapeChar": {
          "description": "Single-character escape sequence used to support NULL values. If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value where every character equals `null_escape_char`, has one more `null_escape_char` appended. If `null_escape_char` is set and does not equal the ASCII null character `0x00`, then the encoding will not support sorted mode. .",
          "type": "string"
        }
      },
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
      "description": "UTF-8 encoding. Sorted mode: - All values are supported. - Code point order is preserved. Distinct mode: all values are supported. Compatible with: - BigQuery `TEXT` encoding - HBase `Bytes.toBytes` - Java `String#getBytes(StandardCharsets.UTF_8)`",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeInt64Encoding": {
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt64Encoding",
      "description": "Rules used to convert to or from lower level types.",
      "type": "object"
    },
    "DataBoostReadLocalWrites": {
      "id": "DataBoostReadLocalWrites",
      "description": "Checks that all writes before the consistency token was generated in the same cluster are readable by Databoost.",
      "properties": {},
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeTimestampEncoding": {
      "properties": {
        "unixMicrosInt64": {
          "description": "Encodes the number of microseconds since the Unix epoch using the given `Int64` encoding. Values must be microsecond-aligned. Compatible with: - Java `Instant.truncatedTo()` with `ChronoUnit.MICROS`",
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding"
        }
      },
      "id": "GoogleBigtableAdminV2TypeTimestampEncoding",
      "description": "Rules used to convert to or from lower level types.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "LogicalView": {
      "type": "object",
      "id": "LogicalView",
      "description": "A SQL logical view object that can be referenced in SQL queries.",
      "properties": {
        "query": {
          "description": "Required. The logical view's select query.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "deletionProtection": {
          "description": "Optional. Set to true to make the LogicalView protected against deletion.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`",
          "type": "string"
        }
      }
    },
    "RestoreTableRequest": {
      "id": "RestoreTableRequest",
      "description": "The request for RestoreTable.",
      "properties": {
        "tableId": {
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`.",
          "type": "string"
        },
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "CreateClusterRequest": {
      "type": "object",
      "id": "CreateClusterRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "properties": {
        "clusterId": {
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "cluster": {
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Cluster"
        }
      }
    },
    "GoogleBigtableAdminV2TypeProto": {
      "id": "GoogleBigtableAdminV2TypeProto",
      "description": "A protobuf message type. Values of type `Proto` are stored in `Value.bytes_value`.",
      "properties": {
        "messageName": {
          "description": "The fully qualified name of the protobuf message, including package. In the format of \"foo.bar.Message\".",
          "type": "string"
        },
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this proto is defined in.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "properties": {
        "serveNodes": {
          "description": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ],
          "type": "string"
        },
        "clusterConfig": {
          "$ref": "ClusterConfig",
          "description": "Configuration for this cluster."
        },
        "name": {
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.",
          "type": "string"
        },
        "location": {
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`.",
          "type": "string"
        },
        "defaultStorageType": {
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        },
        "nodeScalingFactor": {
          "type": "string",
          "description": "Immutable. The node scaling factor of this cluster.",
          "enumDescriptions": [
            "No node scaling specified. Defaults to NODE_SCALING_FACTOR_1X.",
            "The cluster is running with a scaling factor of 1.",
            "The cluster is running with a scaling factor of 2. All node count values must be in increments of 2 with this scaling factor enabled, otherwise an INVALID_ARGUMENT error will be returned."
          ],
          "enum": [
            "NODE_SCALING_FACTOR_UNSPECIFIED",
            "NODE_SCALING_FACTOR_1X",
            "NODE_SCALING_FACTOR_2X"
          ]
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeMap": {
      "id": "GoogleBigtableAdminV2TypeMap",
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "properties": {
        "keyType": {
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types.",
          "$ref": "Type"
        },
        "valueType": {
          "description": "The type of the values in a map.",
          "$ref": "Type"
        }
      },
      "type": "object"
    },
    "UpdateLogicalViewMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "UpdateLogicalViewRequest",
          "description": "The request that prompted the initiation of this UpdateLogicalView operation."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "UpdateLogicalViewMetadata",
      "description": "The metadata for the Operation returned by UpdateLogicalView."
    },
    "OptimizeRestoredTableMetadata": {
      "type": "object",
      "id": "OptimizeRestoredTableMetadata",
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "properties": {
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        },
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        }
      }
    },
    "ChangeStreamConfig": {
      "type": "object",
      "id": "ChangeStreamConfig",
      "description": "Change stream configuration.",
      "properties": {
        "retentionPeriod": {
          "description": "How long the change stream should be retained. Change stream data older than the retention period will not be returned when reading the change stream from the table. Values must be at least 1 day and at most 7 days, and will be truncated to microsecond granularity.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "properties": {
        "enumName": {
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\".",
          "type": "string"
        },
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this enum is defined in.",
          "type": "string"
        }
      },
      "id": "GoogleBigtableAdminV2TypeEnum",
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`.",
      "type": "object"
    },
    "CopyBackupRequest": {
      "type": "object",
      "properties": {
        "backupId": {
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*.",
          "type": "string"
        },
        "expireTime": {
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "id": "CopyBackupRequest",
      "description": "The request for CopyBackup."
    },
    "StandardReadRemoteWrites": {
      "properties": {},
      "id": "StandardReadRemoteWrites",
      "description": "Checks that all writes before the consistency token was generated are replicated in every cluster and readable.",
      "type": "object"
    },
    "CopyBackupMetadata": {
      "type": "object",
      "properties": {
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the CopyBackup operation."
        },
        "sourceBackupInfo": {
          "description": "Information about the source backup that is being copied from.",
          "$ref": "BackupInfo"
        },
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "id": "CopyBackupMetadata",
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup."
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "description": "Configuration for a cluster.",
      "properties": {
        "clusterAutoscalingConfig": {
          "$ref": "ClusterAutoscalingConfig",
          "description": "Autoscaling configuration for this cluster."
        }
      },
      "type": "object"
    },
    "Table": {
      "type": "object",
      "properties": {
        "changeStreamConfig": {
          "$ref": "ChangeStreamConfig",
          "description": "If specified, enable the change stream on this table. Otherwise, the change stream is disabled and the change stream is not retained."
        },
        "columnFamilies": {
          "additionalProperties": {
            "$ref": "ColumnFamily"
          },
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `STATS_VIEW`, `FULL`",
          "type": "object"
        },
        "name": {
          "description": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`",
          "type": "string"
        },
        "clusterStates": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ClusterState"
          },
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`"
        },
        "rowKeySchema": {
          "description": "The row key schema for this table. The schema is used to decode the raw row key bytes into a structured format. The order of field declarations in this schema is important, as it reflects how the raw row key bytes are structured. Currently, this only affects how the key is read via a GoogleSQL query from the ExecuteQuery API. For a SQL query, the _key column is still read as raw bytes. But queries can reference the key fields by name, which will be decoded from _key using provided type and encoding. Queries that reference key fields will fail if they encounter an invalid row key. For example, if _key = \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" with the following schema: { fields { field_name: \"id\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"date\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"product_code\" type { int64 { encoding: big_endian_bytes {} } } } encoding { delimited_bytes { delimiter: \"#\" } } } The decoded key parts would be: id = \"some_id\", date = \"2024-04-30\", product_code = 1245427 The query \"SELECT _key, product_code FROM table\" will return two columns: /------------------------------------------------------\\ | _key | product_code | | --------------------------------------|--------------| | \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" | 1245427 | \\------------------------------------------------------/ The schema has the following invariants: (1) The decoded field values are order-preserved. For read, the field values will be decoded in sorted mode from the raw bytes. (2) Every field in the schema must specify a non-empty name. (3) Every field must specify a type with an associated encoding. The type is limited to scalar types only: Array, Map, Aggregate, and Struct are not allowed. (4) The field names must not collide with existing column family names and reserved keywords \"_key\" and \"_timestamp\". The following update operations are allowed for row_key_schema: - Update from an empty schema to a new schema. - Remove the existing schema. This operation requires setting the `ignore_warnings` flag to `true`, since it might be a backward incompatible change. Without the flag, the update request will fail with an INVALID_ARGUMENT error. Any other row key schema update operation (e.g. update existing schema columns names or types) is currently unsupported.",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "stats": {
          "$ref": "TableStats",
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about the entire table contents. For statistics about a specific column family, see ColumnFamilyStats in the mapped ColumnFamily collection above.",
          "readOnly": true
        },
        "granularity": {
          "description": "Immutable. The granularity at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`.",
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned.",
            "The table keeps data versioned at a granularity of 1ms."
          ],
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS"
          ],
          "type": "string"
        },
        "tieredStorageConfig": {
          "$ref": "TieredStorageConfig",
          "description": "Rules to specify what data is stored in each storage tier. Different tiers store data differently, providing different trade-offs between cost and performance. Different parts of a table can be stored separately on different tiers. If a config is specified, tiered storage is enabled for this table. Otherwise, tiered storage is disabled. Only SSD instances can configure tiered storage."
        },
        "restoreInfo": {
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore.",
          "readOnly": true,
          "$ref": "RestoreInfo"
        },
        "deletionProtection": {
          "description": "Set to true to make the table protected against data loss. i.e. deleting the following resources through Admin APIs are prohibited: * The table. * The column families in the table. * The instance containing the table. Note one can still delete the data stored in the table through Data APIs.",
          "type": "boolean"
        },
        "automatedBackupPolicy": {
          "$ref": "AutomatedBackupPolicy",
          "description": "If specified, automated backups are enabled for this table. Otherwise, automated backups are disabled."
        }
      },
      "id": "Table",
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster."
    },
    "CreateAuthorizedViewRequest": {
      "properties": {
        "parent": {
          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
          "type": "string"
        },
        "authorizedViewId": {
          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`.",
          "type": "string"
        },
        "authorizedView": {
          "$ref": "AuthorizedView",
          "description": "Required. The AuthorizedView to create."
        }
      },
      "id": "CreateAuthorizedViewRequest",
      "description": "The request for CreateAuthorizedView",
      "type": "object"
    },
    "CheckConsistencyResponse": {
      "properties": {
        "consistent": {
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.",
          "type": "boolean"
        }
      },
      "id": "CheckConsistencyResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "type": "object"
    },
    "CreateClusterMetadata": {
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "CreateClusterRequest",
          "description": "The request that prompted the initiation of this CreateCluster operation."
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "tables": {
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far.",
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "type": "object"
        }
      },
      "id": "CreateClusterMetadata",
      "description": "The metadata for the Operation returned by CreateCluster.",
      "type": "object"
    },
    "MaterializedView": {
      "id": "MaterializedView",
      "description": "A materialized view object that can be referenced in SQL queries.",
      "properties": {
        "name": {
          "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "deletionProtection": {
          "description": "Set to true to make the MaterializedView protected against deletion. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "boolean"
        },
        "clusterStates": {
          "type": "object",
          "description": "Output only. Map from cluster ID to per-cluster materialized view state. If it could not be determined whether or not the materialized view has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with `STATE_NOT_KNOWN` state. Views: `REPLICATION_VIEW`, `FULL`.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2MaterializedViewClusterState"
          }
        },
        "query": {
          "description": "Required. Immutable. The materialized view's select query. Views: `SCHEMA_VIEW`, `FULL`.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this materialized view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListMaterializedViewsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "materializedViews": {
          "description": "The list of requested materialized views.",
          "type": "array",
          "items": {
            "$ref": "MaterializedView"
          }
        }
      },
      "id": "ListMaterializedViewsResponse",
      "description": "Response message for BigtableInstanceAdmin.ListMaterializedViews.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "type": "object",
      "properties": {
        "raw": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
          "description": "Use `Raw` encoding."
        }
      },
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "type": "object",
      "deprecated": true,
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`.",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeDate": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeDate",
      "description": "Date Values of type `Date` are stored in `Value.date_value`.",
      "properties": {}
    },
    "ColumnFamilyStats": {
      "properties": {
        "averageColumnsPerRow": {
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field.",
          "format": "double",
          "type": "number"
        },
        "logicalDataBytes": {
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        },
        "averageCellsPerColumn": {
          "type": "number",
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field.",
          "format": "double"
        }
      },
      "id": "ColumnFamilyStats",
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes": {
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes",
      "description": "Fields are encoded independently, then escaped and delimited by appling the following rules in order: - While the last remaining field is `ASC` or `UNSPECIFIED`, and encodes to the empty string \"\", remove it. - In each remaining field, replace all null bytes `0x00` with the fixed byte pair `{0x00, 0xFF}`. - If any remaining field encodes to the empty string \"\", replace it with the fixed byte pair `{0x00, 0x00}`. - Append the fixed byte pair `{0x00, 0x01}` to each remaining field, except for the last remaining field if it is `ASC`. - Bitwise negate all `DESC` fields. - Concatenate the results, or emit the fixed byte pair `{0x00, 0x00}` if there are no remaining fields to concatenate. Examples: ``` - STRUCT() -> \"\\00\\00\" - STRUCT(\"\") -> \"\\00\\00\" - STRUCT(\"\", \"\") -> \"\\00\\00\" - STRUCT(\"\", \"B\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\") -> \"A\" - STRUCT(\"\", \"B\", \"\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\", \"C\") -> \"A\" + \"\\00\\01\" + \"\\00\\00\" + \"\\00\\01\" + \"C\" ``` Examples for struct with `DESC` fields: ``` - STRUCT(\"\" DESC) -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\", \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"A\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" + \"A\" - STRUCT(\"A\", \"\" DESC, \"\") -> \"A\" + \"\\00\\01\" + \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\", \"A\" DESC) -> \"\\x00\\x00\" + \"\\x00\\x01\" + \"\\xBE\" + \"\\xFF\\xFE\" ``` Since null bytes are always escaped, this encoding can cause size blowup for encodings like `Int64.BigEndianBytes` that are likely to produce many such bytes. Sorted mode: - Fields are encoded in sorted mode. - All values supported by the field encodings are allowed. - Fields with unset or `UNSPECIFIED` order are treated as `ASC`. - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. Distinct mode: - Fields are encoded in distinct mode. - All values supported by the field encodings are allowed.",
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "properties": {
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of matching backups."
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse",
      "description": "The response for ListBackups."
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "id": "GoogleBigtableAdminV2TypeBytes",
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "type": "object"
    },
    "TieredStorageRule": {
      "id": "TieredStorageRule",
      "description": "Rule to specify what data is stored in a storage tier.",
      "properties": {
        "includeIfOlderThan": {
          "type": "string",
          "description": "Include cells older than the given age. For the infrequent access tier, this value must be at least 30 days.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "CreateAuthorizedViewMetadata": {
      "id": "CreateAuthorizedViewMetadata",
      "description": "The metadata for the Operation returned by CreateAuthorizedView.",
      "properties": {
        "originalRequest": {
          "$ref": "CreateAuthorizedViewRequest",
          "description": "The request that prompted the initiation of this CreateAuthorizedView operation."
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateLogicalViewMetadata": {
      "properties": {
        "originalRequest": {
          "$ref": "CreateLogicalViewRequest",
          "description": "The request that prompted the initiation of this CreateLogicalView operation."
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        }
      },
      "id": "CreateLogicalViewMetadata",
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "type": "object"
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation.",
      "properties": {
        "startTime": {
          "description": "Time the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressPercent": {
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Type": {
      "id": "Type",
      "description": "`Type` represents the type of data that is written to, read from, or stored in Bigtable. It is heavily based on the GoogleSQL standard to help maintain familiarity and consistency across products and features. For compatibility with Bigtable's existing untyped APIs, each `Type` includes an `Encoding` which describes how to convert to or from the underlying data. Each encoding can operate in one of two modes: - Sorted: In this mode, Bigtable guarantees that `Encode(X) <= Encode(Y)` if and only if `X <= Y`. This is useful anywhere sort order is important, for example when encoding keys. - Distinct: In this mode, Bigtable guarantees that if `X != Y` then `Encode(X) != Encode(Y)`. However, the converse is not guaranteed. For example, both `{'foo': '1', 'bar': '2'}` and `{'bar': '2', 'foo': '1'}` are valid encodings of the same JSON value. The API clearly documents which mode is used wherever an encoding can be configured. Each encoding also documents which values are supported in which modes. For example, when encoding INT64 as a numeric STRING, negative numbers cannot be encoded in sorted mode. This is because `INT64(1) > INT64(-1)`, but `STRING(\"-00001\") > STRING(\"00001\")`.",
      "properties": {
        "geographyType": {
          "$ref": "GoogleBigtableAdminV2TypeGeography",
          "description": "Geography"
        },
        "enumType": {
          "$ref": "GoogleBigtableAdminV2TypeEnum",
          "description": "Enum"
        },
        "float32Type": {
          "$ref": "GoogleBigtableAdminV2TypeFloat32",
          "description": "Float32"
        },
        "mapType": {
          "$ref": "GoogleBigtableAdminV2TypeMap",
          "description": "Map"
        },
        "protoType": {
          "description": "Proto",
          "$ref": "GoogleBigtableAdminV2TypeProto"
        },
        "arrayType": {
          "$ref": "GoogleBigtableAdminV2TypeArray",
          "description": "Array"
        },
        "boolType": {
          "$ref": "GoogleBigtableAdminV2TypeBool",
          "description": "Bool"
        },
        "aggregateType": {
          "description": "Aggregate",
          "$ref": "GoogleBigtableAdminV2TypeAggregate"
        },
        "dateType": {
          "$ref": "GoogleBigtableAdminV2TypeDate",
          "description": "Date"
        },
        "timestampType": {
          "$ref": "GoogleBigtableAdminV2TypeTimestamp",
          "description": "Timestamp"
        },
        "int64Type": {
          "$ref": "GoogleBigtableAdminV2TypeInt64",
          "description": "Int64"
        },
        "structType": {
          "description": "Struct",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "bytesType": {
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "description": "Bytes"
        },
        "stringType": {
          "description": "String",
          "$ref": "GoogleBigtableAdminV2TypeString"
        },
        "float64Type": {
          "$ref": "GoogleBigtableAdminV2TypeFloat64",
          "description": "Float64"
        }
      },
      "type": "object"
    },
    "DataBoostIsolationReadOnly": {
      "type": "object",
      "id": "DataBoostIsolationReadOnly",
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing.",
      "properties": {
        "computeBillingOwner": {
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "description": "The Compute Billing Owner for this Data Boost App Profile.",
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ],
          "type": "string"
        }
      }
    },
    "UpdateTableMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the table being updated.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      },
      "id": "UpdateTableMetadata",
      "description": "Metadata type for the operation returned by UpdateTable."
    },
    "UpdateAuthorizedViewMetadata": {
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation.",
          "$ref": "UpdateAuthorizedViewRequest"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      },
      "id": "UpdateAuthorizedViewMetadata",
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView.",
      "type": "object"
    },
    "ListAppProfilesResponse": {
      "type": "object",
      "id": "ListAppProfilesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "properties": {
        "failedLocations": {
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appProfiles": {
          "type": "array",
          "items": {
            "$ref": "AppProfile"
          },
          "description": "The list of requested app profiles."
        },
        "nextPageToken": {
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      }
    },
    "GenerateConsistencyTokenRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "UpdateSchemaBundleMetadata": {
      "type": "object",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "UpdateSchemaBundleMetadata",
      "description": "The metadata for the Operation returned by UpdateSchemaBundle."
    },
    "ModifyColumnFamiliesRequest": {
      "type": "object",
      "properties": {
        "modifications": {
          "type": "array",
          "items": {
            "$ref": "Modification"
          },
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example)."
        },
        "ignoreWarnings": {
          "description": "Optional. If true, ignore safety checks when modifying the column families.",
          "type": "boolean"
        }
      },
      "id": "ModifyColumnFamiliesRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies"
    },
    "AuthorizedView": {
      "id": "AuthorizedView",
      "description": "An Authorized View of a Cloud Bigtable Table.",
      "properties": {
        "name": {
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`",
          "type": "string"
        },
        "etag": {
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "subsetView": {
          "description": "An AuthorizedView permitting access to an explicit subset of a Table.",
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView"
        },
        "deletionProtection": {
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeTimestamp": {
      "id": "GoogleBigtableAdminV2TypeTimestamp",
      "description": "Timestamp Values of type `Timestamp` are stored in `Value.timestamp_value`.",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeTimestampEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "type": "object"
    },
    "Backup": {
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "Required. The expiration time of the backup. When creating a backup or updating its `expire_time`, the value must be greater than the backup creation time by: - At least 6 hours - At most 90 days Once the `expire_time` has passed, Cloud Bigtable will delete the backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Size of the backup in bytes.",
          "format": "int64"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the backup."
        },
        "name": {
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "backupType": {
          "type": "string",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "HOT"
          ],
          "description": "Indicates the backup type of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The default type for Cloud Bigtable managed backups. Supported for backups created in both HDD and SSD instances. Requires optimization when restored to a table in an SSD instance.",
            "A backup type with faster restore to SSD performance. Only supported for backups created in SSD instances. A new SSD table restored from a hot backup reaches production performance more quickly than a standard backup."
          ]
        },
        "sourceBackup": {
          "type": "string",
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "readOnly": true
        },
        "encryptionInfo": {
          "readOnly": true,
          "description": "Output only. The encryption information for the backup.",
          "$ref": "EncryptionInfo"
        },
        "hotToStandardTime": {
          "description": "The time at which the hot backup will be converted to a standard backup. Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the hot backup to a standard backup. This value must be greater than the backup creation time by: - At least 24 hours This field only applies for hot backups. When creating or updating a standard backup, attempting to set this field will fail the request.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleBigtableAdminV2TypeString": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeString",
      "description": "String Values of type `String` are stored in `Value.string_value`.",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncoding"
        }
      }
    },
    "EncryptionInfo": {
      "type": "object",
      "id": "EncryptionInfo",
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status.",
      "properties": {
        "encryptionType": {
          "type": "string",
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Output only. The type of encryption used to protect this resource.",
          "readOnly": true
        },
        "encryptionStatus": {
          "readOnly": true,
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest.",
          "$ref": "Status"
        },
        "kmsKeyVersion": {
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2AuthorizedViewSubsetView": {
      "id": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
      "description": "Defines a simple AuthorizedView that is a subset of the underlying Table.",
      "properties": {
        "rowPrefixes": {
          "description": "Row prefixes to be included in the AuthorizedView. To provide access to all rows, include the empty string as a prefix (\"\").",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "familySubsets": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
          },
          "description": "Map from column family name to the columns in this family to be included in the AuthorizedView."
        }
      },
      "type": "object"
    },
    "UpdateAppProfileMetadata": {
      "type": "object",
      "properties": {},
      "id": "UpdateAppProfileMetadata",
      "description": "The metadata for the Operation returned by UpdateAppProfile."
    },
    "CreateMaterializedViewRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "materializedView": {
          "description": "Required. The materialized view to create.",
          "$ref": "MaterializedView"
        },
        "materializedViewId": {
          "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name.",
          "type": "string"
        }
      },
      "id": "CreateMaterializedViewRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateMaterializedView.",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeAggregate": {
      "properties": {
        "min": {
[...]
