{
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "bigtableadmin:v2",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/bigtable/",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Bigtable Admin",
  "title": "Cloud Bigtable Admin API",
  "schemas": {
    "Policy": {
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "CopyBackupRequest": {
      "id": "CopyBackupRequest",
      "description": "The request for CopyBackup.",
      "type": "object",
      "properties": {
        "backupId": {
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*.",
          "type": "string"
        },
        "expireTime": {
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`."
        }
      }
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes": {
      "description": "UTF-8 encoding. Sorted mode: - All values are supported. - Code point order is preserved. Distinct mode: all values are supported. Compatible with: - BigQuery `TEXT` encoding - HBase `Bytes.toBytes` - Java `String#getBytes(StandardCharsets.UTF_8)`",
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
      "type": "object",
      "properties": {
        "nullEscapeChar": {
          "description": "Single-character escape sequence used to support NULL values. If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value where every character equals `null_escape_char`, has one more `null_escape_char` appended. If `null_escape_char` is set and does not equal the ASCII null character `0x00`, then the encoding will not support sorted mode. .",
          "type": "string"
        }
      }
    },
    "GenerateConsistencyTokenResponse": {
      "type": "object",
      "properties": {
        "consistencyToken": {
          "type": "string",
          "description": "The generated consistency token."
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "id": "GenerateConsistencyTokenResponse"
    },
    "UpdateAppProfileMetadata": {
      "id": "UpdateAppProfileMetadata",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "type": "object",
      "properties": {}
    },
    "DataBoostIsolationReadOnly": {
      "type": "object",
      "properties": {
        "computeBillingOwner": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ],
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "description": "The Compute Billing Owner for this Data Boost App Profile."
        }
      },
      "id": "DataBoostIsolationReadOnly",
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        }
      }
    },
    "Cluster": {
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "id": "Cluster",
      "type": "object",
      "properties": {
        "defaultStorageType": {
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Immutable. The encryption configuration for CMEK-protected clusters.",
          "$ref": "EncryptionConfig"
        },
        "location": {
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ],
          "description": "Output only. The current state of the cluster.",
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "readOnly": true
        },
        "serveNodes": {
          "description": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization.",
          "type": "integer",
          "format": "int32"
        },
        "nodeScalingFactor": {
          "enumDescriptions": [
            "No node scaling specified. Defaults to NODE_SCALING_FACTOR_1X.",
            "The cluster is running with a scaling factor of 1.",
            "The cluster is running with a scaling factor of 2. All node count values must be in increments of 2 with this scaling factor enabled, otherwise an INVALID_ARGUMENT error will be returned."
          ],
          "type": "string",
          "description": "Immutable. The node scaling factor of this cluster.",
          "enum": [
            "NODE_SCALING_FACTOR_UNSPECIFIED",
            "NODE_SCALING_FACTOR_1X",
            "NODE_SCALING_FACTOR_2X"
          ]
        },
        "clusterConfig": {
          "description": "Configuration for this cluster.",
          "$ref": "ClusterConfig"
        }
      }
    },
    "GoogleBigtableAdminV2TypeMap": {
      "id": "GoogleBigtableAdminV2TypeMap",
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "type": "object",
      "properties": {
        "keyType": {
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types.",
          "$ref": "Type"
        },
        "valueType": {
          "description": "The type of the values in a map.",
          "$ref": "Type"
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "properties": {
        "raw": {
          "description": "Use `Raw` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw"
        }
      }
    },
    "CreateLogicalViewMetadata": {
      "id": "CreateLogicalViewMetadata",
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "type": "object",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "DEPRECATED: Use request_time instead."
        },
        "endTime": {
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateLogicalView operation.",
          "$ref": "CreateLogicalViewRequest"
        }
      }
    },
    "MultiClusterRoutingUseAny": {
      "type": "object",
      "properties": {
        "clusterIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible."
        },
        "rowAffinity": {
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically.",
          "$ref": "RowAffinity"
        }
      },
      "id": "MultiClusterRoutingUseAny",
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability."
    },
    "GoogleBigtableAdminV2TypeAggregate": {
      "type": "object",
      "properties": {
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateSum"
        },
        "min": {
          "description": "Min aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMin"
        },
        "stateType": {
          "readOnly": true,
          "description": "Output only. Type that holds the internal accumulator state for the `Aggregate`. This is a function of the `input_type` and `aggregator` chosen.",
          "$ref": "Type"
        },
        "max": {
          "description": "Max aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMax"
        },
        "hllppUniqueCount": {
          "description": "HyperLogLogPlusPlusUniqueCount aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount"
        },
        "inputType": {
          "description": "Type of the inputs that are accumulated by this `Aggregate`. Use `AddInput` mutations to accumulate new inputs.",
          "$ref": "Type"
        }
      },
      "description": "A value that combines incremental updates into a summarized value. Data is never directly written or read using type `Aggregate`. Writes provide either the `input_type` or `state_type`, and reads always return the `state_type` .",
      "id": "GoogleBigtableAdminV2TypeAggregate"
    },
    "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes": {
      "description": "Encodes the value in a variable length binary format of up to 5 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "id": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
      "type": "object",
      "properties": {}
    },
    "CopyBackupMetadata": {
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup.",
      "id": "CopyBackupMetadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the CopyBackup operation.",
          "$ref": "OperationProgress"
        },
        "sourceBackupInfo": {
          "description": "Information about the source backup that is being copied from.",
          "$ref": "BackupInfo"
        }
      }
    },
    "UpdateSchemaBundleMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`"
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "id": "UpdateSchemaBundleMetadata"
    },
    "GoogleBigtableAdminV2TypeArray": {
      "id": "GoogleBigtableAdminV2TypeArray",
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`.",
      "type": "object",
      "properties": {
        "elementType": {
          "description": "The type of the elements in the array. This must not be `Array`.",
          "$ref": "Type"
        }
      }
    },
    "RestoreTableRequest": {
      "type": "object",
      "properties": {
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`."
        }
      },
      "description": "The request for RestoreTable.",
      "id": "RestoreTableRequest"
    },
    "OptimizeRestoredTableMetadata": {
      "id": "OptimizeRestoredTableMetadata",
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        }
      }
    },
    "MaterializedView": {
      "description": "A materialized view object that can be referenced in SQL queries.",
      "id": "MaterializedView",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. The etag for this materialized view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Required. Immutable. The materialized view's select query. Views: `SCHEMA_VIEW`, `FULL`."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the MaterializedView protected against deletion. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`."
        },
        "clusterStates": {
          "type": "object",
          "description": "Output only. Map from cluster ID to per-cluster materialized view state. If it could not be determined whether or not the materialized view has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with `STATE_NOT_KNOWN` state. Views: `REPLICATION_VIEW`, `FULL`.",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2MaterializedViewClusterState"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "StandardIsolation": {
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "id": "StandardIsolation",
      "type": "object",
      "properties": {
        "priority": {
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The priority of requests sent using this app profile.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        },
        "memoryConfig": {
          "description": "Optional. The memory config to use for requests sent using this app profile.",
          "$ref": "MemoryConfig"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input",
      "id": "GoogleBigtableAdminV2TypeAggregateMin",
      "type": "object",
      "properties": {}
    },
    "ChangeStreamConfig": {
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "How long the change stream should be retained. Change stream data older than the retention period will not be returned when reading the change stream from the table. Values must be at least 1 day and at most 7 days, and will be truncated to microsecond granularity."
        }
      },
      "id": "ChangeStreamConfig",
      "description": "Change stream configuration."
    },
    "ListMemoryLayersResponse": {
      "id": "ListMemoryLayersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListMemoryLayers.",
      "type": "object",
      "properties": {
        "failedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations from which MemoryLayer information could not be retrieved, due to an outage or some other transient condition. MemoryLayers from these locations may be missing from `memory_layers`, or may only have partial information returned. Values are of the form `projects//locations/`"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "memoryLayers": {
          "description": "The list of requested memory layers.",
          "type": "array",
          "items": {
            "$ref": "MemoryLayer"
          }
        }
      }
    },
    "UpdateAuthorizedViewRequest": {
      "type": "object",
      "properties": {
        "authorizedView": {
          "description": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`.",
          "$ref": "AuthorizedView"
        },
        "updateMask": {
          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
          "type": "string",
          "format": "google-fieldmask"
        },
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView."
        }
      },
      "description": "The request for UpdateAuthorizedView.",
      "id": "UpdateAuthorizedViewRequest"
    },
    "ListAppProfilesResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "id": "ListAppProfilesResponse",
      "type": "object",
      "properties": {
        "appProfiles": {
          "type": "array",
          "items": {
            "$ref": "AppProfile"
          },
          "description": "The list of requested app profiles."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        },
        "failedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`"
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "type": "object",
      "properties": {},
      "description": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "id": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes"
    },
    "UpdateAuthorizedViewMetadata": {
      "type": "object",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation.",
          "$ref": "UpdateAuthorizedViewRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView.",
      "id": "UpdateAuthorizedViewMetadata"
    },
    "GoogleBigtableAdminV2TypeInt32Encoding": {
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes"
        }
      },
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeInt32Encoding"
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`.",
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
      "type": "object",
      "properties": {
        "delimiter": {
          "type": "string",
          "format": "byte",
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters."
        }
      }
    },
    "RestoreTableMetadata": {
      "id": "RestoreTableMetadata",
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "type": "object",
      "properties": {
        "optimizeTableOperationName": {
          "type": "string",
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful."
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        },
        "sourceType": {
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "type": "string",
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ]
        }
      }
    },
    "GoogleBigtableAdminV2TypeDate": {
      "type": "object",
      "properties": {},
      "description": "Date Values of type `Date` are stored in `Value.date_value`.",
      "id": "GoogleBigtableAdminV2TypeDate"
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeBoolEncoding",
      "description": "Defines rules used to convert to or from lower level types."
    },
    "GoogleBigtableAdminV2TypeStruct": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncoding"
        },
        "fields": {
          "description": "The names and types of the fields in this struct.",
          "type": "array",
          "items": {
            "$ref": "GoogleBigtableAdminV2TypeStructField"
          }
        }
      },
      "id": "GoogleBigtableAdminV2TypeStruct",
      "description": "A structured data value, consisting of fields which map to dynamically typed values. Values of type `Struct` are stored in `Value.array_value` where entries are in the same order and number as `field_types`."
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`",
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "type": "object",
      "properties": {}
    },
    "ClusterAutoscalingConfig": {
      "type": "object",
      "properties": {
        "autoscalingLimits": {
          "description": "Required. Autoscaling limits for this cluster.",
          "$ref": "AutoscalingLimits"
        },
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        }
      },
      "description": "Autoscaling config for a cluster.",
      "id": "ClusterAutoscalingConfig"
    },
    "CreateMaterializedViewRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "materializedView": {
          "description": "Required. The materialized view to create.",
          "$ref": "MaterializedView"
        },
        "materializedViewId": {
          "type": "string",
          "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name."
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateMaterializedView.",
      "id": "CreateMaterializedViewRequest"
    },
    "AutoscalingLimits": {
      "type": "object",
      "properties": {
        "minServeNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Minimum number of nodes to scale down to."
        },
        "maxServeNodes": {
          "description": "Required. Maximum number of nodes to scale up to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AutoscalingLimits",
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to."
    },
    "CreateInstanceRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "clusters": {
          "type": "object",
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank.",
          "additionalProperties": {
            "$ref": "Cluster"
          }
        },
        "instance": {
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "id": "CreateInstanceRequest"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "GenerateConsistencyTokenRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "ListSchemaBundlesResponse": {
      "id": "ListSchemaBundlesResponse",
      "description": "The response for ListSchemaBundles.",
      "type": "object",
      "properties": {
        "schemaBundles": {
          "type": "array",
          "items": {
            "$ref": "SchemaBundle"
          },
          "description": "The schema bundles from the specified table."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AutomatedBackupPolicy": {
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "description": "Required. How long the automated backups should be retained. Values must be at least 3 days and at most 90 days.",
          "type": "string",
          "format": "google-duration"
        },
        "frequency": {
          "type": "string",
          "format": "google-duration",
          "description": "How frequently automated backups should occur. The only supported value at this time is 24 hours. An undefined frequency is treated as 24 hours."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Cloud Bigtable zones where automated backups are allowed to be created. If empty, automated backups will be created in all zones of the instance. Locations are in the format `projects/{project}/locations/{zone}`. This field can only set for tables in Enterprise Plus instances."
        }
      },
      "id": "AutomatedBackupPolicy",
      "description": "Defines an automated backup policy for a table"
    },
    "MemoryLayer": {
      "type": "object",
      "properties": {
        "memoryConfig": {
          "description": "The configuration of this memory layer. Set an empty `memory_config` to enable the memory layer. Unset this to disable the memory layer.",
          "$ref": "GoogleBigtableAdminV2MemoryLayerMemoryConfig"
        },
        "name": {
          "description": "Identifier. Name of the memory layer. This is always: \"projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer\".",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the memory layer.",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "ENABLING",
            "RESIZING",
            "DISABLED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the memory layer could not be determined.",
            "The memory layer has been successfully enabled and is ready to serve requests.",
            "The memory layer is currently being enabled, and may be disabled if the enablement process encounters an error. A cluster may not be able to serve requests from the memory layer while being enabled.",
            "The memory layer is currently being resized, and may revert to its previous storage size if the process encounters an error. The memory layer is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The memory layer is disabled. The default state for a cluster without a memory layer."
          ]
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this memory layer. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        }
      },
      "id": "MemoryLayer",
      "description": "The memory layer of a cluster. A memory layer serves reads from memory without hitting the backing persistent data store."
    },
    "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes": {
      "id": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes",
      "description": "Encodes the value as an 8-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putLong()` with `ByteOrder.BIG_ENDIAN`",
      "type": "object",
      "properties": {
        "bytesType": {
          "description": "Deprecated: ignored if set.",
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "deprecated": true
        }
      }
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`.",
      "id": "GoogleBigtableAdminV2TypeEnum",
      "type": "object",
      "properties": {
        "schemaBundleId": {
          "type": "string",
          "description": "The ID of the schema bundle that this enum is defined in."
        },
        "enumName": {
          "type": "string",
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\"."
        }
      }
    },
    "ColumnFamilyStats": {
      "type": "object",
      "properties": {
        "averageColumnsPerRow": {
          "format": "double",
          "type": "number",
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field."
        },
        "averageCellsPerColumn": {
          "type": "number",
          "format": "double",
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field."
        },
        "logicalDataBytes": {
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ColumnFamilyStats",
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified."
    },
    "CreateClusterRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "id": "CreateClusterRequest",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Cluster"
        },
        "parent": {
          "type": "string",
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`."
        }
      }
    },
    "CreateLogicalViewRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView.",
      "id": "CreateLogicalViewRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`."
        },
        "logicalView": {
          "description": "Required. The logical view to create.",
          "$ref": "LogicalView"
        },
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        }
      }
    },
    "CreateBackupMetadata": {
      "id": "CreateBackupMetadata",
      "description": "Metadata type for the operation returned by CreateBackup.",
      "type": "object",
      "properties": {
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "type": "object",
      "properties": {},
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`.",
      "id": "GoogleBigtableAdminV2TypeFloat64"
    },
    "SingleClusterRouting": {
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "id": "SingleClusterRouting",
      "type": "object",
      "properties": {
        "allowTransactionalWrites": {
          "type": "boolean",
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters."
        },
        "clusterId": {
          "description": "The cluster to which read/write requests should be routed.",
          "type": "string"
        }
      }
    },
    "UpdateTableMetadata": {
      "id": "UpdateTableMetadata",
      "description": "Metadata type for the operation returned by UpdateTable.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the table being updated.",
          "type": "string"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead."
        },
        "startTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RowAffinity": {
      "type": "object",
      "properties": {},
      "id": "RowAffinity",
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group."
    },
    "MemoryConfig": {
      "type": "object",
      "properties": {},
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled.",
      "id": "MemoryConfig"
    },
    "ModifyColumnFamiliesRequest": {
      "id": "ModifyColumnFamiliesRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies",
      "type": "object",
      "properties": {
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore safety checks when modifying the column families."
        },
        "modifications": {
          "type": "array",
          "items": {
            "$ref": "Modification"
          },
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example)."
        }
      }
    },
    "CreateClusterMetadata": {
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateCluster operation.",
          "$ref": "CreateClusterRequest"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "tables": {
          "type": "object",
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far.",
          "additionalProperties": {
            "$ref": "TableProgress"
          }
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CreateClusterMetadata",
      "description": "The metadata for the Operation returned by CreateCluster."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "HotTablet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the hot tablet.",
          "type": "string",
          "format": "google-datetime"
        },
        "startKey": {
          "description": "Tablet Start Key (inclusive).",
          "type": "string"
        },
        "endKey": {
          "type": "string",
          "description": "Tablet End Key (inclusive)."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The start time of the hot tablet.",
          "type": "string",
          "format": "google-datetime"
        },
        "tableName": {
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "nodeCpuUsagePercent": {
          "readOnly": true,
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "type": "number",
          "format": "float"
        }
      },
      "id": "HotTablet",
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time."
    },
    "ColumnFamily": {
      "id": "ColumnFamily",
      "description": "A set of columns within a table which share a common configuration.",
      "type": "object",
      "properties": {
        "stats": {
          "readOnly": true,
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above.",
          "$ref": "ColumnFamilyStats"
        },
        "valueType": {
          "description": "The type of data stored in each of this family's cell values, including its full encoding. If omitted, the family only serves raw untyped bytes. For now, only the `Aggregate` type is supported. `Aggregate` can only be set at family creation and is immutable afterwards. This field is mutually exclusive with `sql_type`. If `value_type` is `Aggregate`, written data must be compatible with: * `value_type.input_type` for `AddInput` mutations",
          "$ref": "Type"
        },
        "gcRule": {
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family.",
          "$ref": "GcRule"
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt64Encoding": {
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt64Encoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "CreateSchemaBundleMetadata": {
      "type": "object",
      "properties": {
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "name": {
          "type": "string",
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for the Operation returned by CreateSchemaBundle.",
      "id": "CreateSchemaBundleMetadata"
    },
    "GoogleBigtableAdminV2TypeProto": {
      "description": "A protobuf message type. Values of type `Proto` are stored in `Value.bytes_value`.",
      "id": "GoogleBigtableAdminV2TypeProto",
      "type": "object",
      "properties": {
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this proto is defined in.",
          "type": "string"
        },
        "messageName": {
          "description": "The fully qualified name of the protobuf message, including package. In the format of \"foo.bar.Message\".",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "Intersection": {
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GcRule"
          },
          "description": "Only delete cells which would be deleted by every element of `rules`."
        }
      },
      "id": "Intersection",
      "description": "A GcRule which deletes cells matching all of the given rules."
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name.",
          "type": "string"
        },
        "type": {
          "description": "The type of values in this field.",
          "$ref": "Type"
        }
      },
      "id": "GoogleBigtableAdminV2TypeStructField",
      "description": "A struct field and its type."
    },
    "PartialUpdateClusterMetadata": {
      "type": "object",
      "properties": {
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "originalRequest": {
          "description": "The original request for PartialUpdateCluster.",
          "$ref": "PartialUpdateClusterRequest"
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        }
      },
      "id": "PartialUpdateClusterMetadata",
      "description": "The metadata for the Operation returned by PartialUpdateCluster."
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "ListHotTabletsResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "id": "ListHotTabletsResponse",
      "type": "object",
      "properties": {
        "hotTablets": {
          "type": "array",
          "items": {
            "$ref": "HotTablet"
          },
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      }
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "type": "object",
      "properties": {
        "replicationState": {
          "description": "Output only. The state of the materialized view in this cluster.",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ]
        }
      },
      "description": "The state of a materialized view's data in a particular cluster.",
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState"
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object",
      "properties": {
        "escapeNulls": {
          "type": "boolean",
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended."
        }
      }
    },
    "DataBoostReadLocalWrites": {
      "type": "object",
      "properties": {},
      "id": "DataBoostReadLocalWrites",
      "description": "Checks that all writes before the consistency token was generated in the same cluster are readable by Databoost."
    },
    "AppProfile": {
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.",
      "id": "AppProfile",
      "type": "object",
      "properties": {
        "standardIsolation": {
          "description": "The standard options used for isolating this app profile's traffic from other use cases.",
          "$ref": "StandardIsolation"
        },
        "description": {
          "description": "Long form description of the use case for this AppProfile.",
          "type": "string"
        },
        "dataBoostIsolationReadOnly": {
          "description": "Specifies that this app profile is intended for read-only usage via the Data Boost feature.",
          "$ref": "DataBoostIsolationReadOnly"
        },
        "etag": {
          "type": "string",
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the meantime. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details."
        },
        "multiClusterRoutingUseAny": {
          "description": "Use a multi-cluster routing policy.",
          "$ref": "MultiClusterRoutingUseAny"
        },
        "name": {
          "description": "The unique name of the app profile, up to 50 characters long. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "priority": {
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "deprecated": true,
          "type": "string",
          "description": "This field has been deprecated in favor of `standard_isolation.priority`. If you set this field, `standard_isolation.priority` will be set instead. The priority of requests sent using this app profile.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        },
        "singleClusterRouting": {
          "description": "Use a single-cluster routing policy.",
          "$ref": "SingleClusterRouting"
        }
      }
    },
    "SchemaBundle": {
      "description": "A named collection of related schemas.",
      "id": "SchemaBundle",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "protoSchema": {
          "description": "Schema for Protobufs.",
          "$ref": "ProtoSchema"
        },
        "etag": {
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateMax": {
      "id": "GoogleBigtableAdminV2TypeAggregateMax",
      "description": "Computes the max of the input values. Allowed input: `Int64` State: same as input",
      "type": "object",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeInt32": {
      "description": "Int32 Values of type `Int32` are stored in `Value.int_value`.",
      "id": "GoogleBigtableAdminV2TypeInt32",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeInt32Encoding"
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "id": "GoogleBigtableAdminV2TypeBytes",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding"
        }
      }
    },
    "ListLogicalViewsResponse": {
      "type": "object",
      "properties": {
        "logicalViews": {
          "type": "array",
          "items": {
            "$ref": "LogicalView"
          },
          "description": "The list of requested logical views."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "id": "ListLogicalViewsResponse"
    },
    "PartialUpdateInstanceRequest": {
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "id": "PartialUpdateInstanceRequest",
      "type": "object",
      "properties": {
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set."
        }
      }
    },
    "CreateAuthorizedViewRequest": {
      "type": "object",
      "properties": {
        "authorizedViewId": {
          "type": "string",
          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`."
        },
        "authorizedView": {
          "description": "Required. The AuthorizedView to create.",
          "$ref": "AuthorizedView"
        },
        "parent": {
          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
          "type": "string"
        }
      },
      "description": "The request for CreateAuthorizedView",
      "id": "CreateAuthorizedViewRequest"
    },
    "RestoreInfo": {
      "description": "Information about a table restore.",
      "id": "RestoreInfo",
      "type": "object",
      "properties": {
        "backupInfo": {
          "description": "Information about the backup used to restore the table. The backup may no longer exist.",
          "$ref": "BackupInfo"
        },
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source."
        }
      }
    },
    "CreateInstanceMetadata": {
      "description": "The metadata for the Operation returned by CreateInstance.",
      "id": "CreateInstanceMetadata",
      "type": "object",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      }
    },
    "CreateTableRequest": {
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters."
        },
        "table": {
          "description": "Required. The Table to create.",
          "$ref": "Table"
        },
        "initialSplits": {
          "type": "array",
          "items": {
            "$ref": "Split"
          },
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`"
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "id": "CreateTableRequest"
    },
    "LogicalView": {
      "id": "LogicalView",
      "description": "A SQL logical view object that can be referenced in SQL queries.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Required. The logical view's select query."
        },
        "deletionProtection": {
          "description": "Optional. Set to true to make the LogicalView protected against deletion.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes",
      "description": "Fields are encoded independently, then escaped and delimited by appling the following rules in order: - While the last remaining field is `ASC` or `UNSPECIFIED`, and encodes to the empty string \"\", remove it. - In each remaining field, replace all null bytes `0x00` with the fixed byte pair `{0x00, 0xFF}`. - If any remaining field encodes to the empty string \"\", replace it with the fixed byte pair `{0x00, 0x00}`. - Append the fixed byte pair `{0x00, 0x01}` to each remaining field, except for the last remaining field if it is `ASC`. - Bitwise negate all `DESC` fields. - Concatenate the results, or emit the fixed byte pair `{0x00, 0x00}` if there are no remaining fields to concatenate. Examples: ``` - STRUCT() -> \"\\00\\00\" - STRUCT(\"\") -> \"\\00\\00\" - STRUCT(\"\", \"\") -> \"\\00\\00\" - STRUCT(\"\", \"B\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\") -> \"A\" - STRUCT(\"\", \"B\", \"\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\", \"C\") -> \"A\" + \"\\00\\01\" + \"\\00\\00\" + \"\\00\\01\" + \"C\" ``` Examples for struct with `DESC` fields: ``` - STRUCT(\"\" DESC) -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\", \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"A\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" + \"A\" - STRUCT(\"A\", \"\" DESC, \"\") -> \"A\" + \"\\00\\01\" + \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\", \"A\" DESC) -> \"\\x00\\x00\" + \"\\x00\\x01\" + \"\\xBE\" + \"\\xFF\\xFE\" ``` Since null bytes are always escaped, this encoding can cause size blowup for encodings like `Int64.BigEndianBytes` that are likely to produce many such bytes. Sorted mode: - Fields are encoded in sorted mode. - All values supported by the field encodings are allowed. - Fields with unset or `UNSPECIFIED` order are treated as `ASC`. - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. Distinct mode: - Fields are encoded in distinct mode. - All values supported by the field encodings are allowed."
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`"
        }
      },
      "id": "EncryptionConfig",
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster."
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "type": "object",
      "properties": {
        "delimitedBytes": {
          "description": "Use `DelimitedBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes"
        },
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "orderedCodeBytes": {
          "description": "User `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeStructEncoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "StandardReadRemoteWrites": {
      "type": "object",
      "properties": {},
      "id": "StandardReadRemoteWrites",
      "description": "Checks that all writes before the consistency token was generated are replicated in every cluster and readable."
    },
    "UndeleteTableMetadata": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "name": {
          "description": "The name of the table being restored.",
          "type": "string"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead."
        }
      },
      "id": "UndeleteTableMetadata",
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable."
    },
    "GoogleBigtableAdminV2TypeBool": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Specifies the encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeBoolEncoding"
        }
      },
      "description": "bool Values of type `Bool` are stored in `Value.bool_value`.",
      "id": "GoogleBigtableAdminV2TypeBool"
    },
    "GcRule": {
      "type": "object",
      "properties": {
        "intersection": {
          "description": "Delete cells that would be deleted by every nested rule.",
          "$ref": "Intersection"
        },
        "union": {
          "description": "Delete cells that would be deleted by any nested rule.",
          "$ref": "Union"
        },
        "maxNumVersions": {
          "format": "int32",
          "type": "integer",
          "description": "Delete all cells in a column except the most recent N."
        },
        "maxAge": {
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Rule for determining which cells to delete during garbage collection.",
      "id": "GcRule"
    },
    "GoogleBigtableAdminV2TypeAggregateSum": {
      "id": "GoogleBigtableAdminV2TypeAggregateSum",
      "description": "Computes the sum of the input values. Allowed input: `Int64` State: same as input",
      "type": "object",
      "properties": {}
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "deprecated": true,
      "properties": {},
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`.",
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeTimestamp": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeTimestampEncoding"
        }
      },
      "description": "Timestamp Values of type `Timestamp` are stored in `Value.timestamp_value`.",
      "id": "GoogleBigtableAdminV2TypeTimestamp"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
[...]
