{
  "version": "v2",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "canonicalName": "Bigtable Admin",
  "documentationLink": "https://cloud.google.com/bigtable/",
  "version_module": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "UndeleteTableRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable",
      "type": "object",
      "id": "UndeleteTableRequest",
      "properties": {}
    },
    "CreateInstanceRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "id": "CreateInstanceRequest",
      "properties": {
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        },
        "clusters": {
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank.",
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStringEncoding",
      "properties": {
        "utf8Raw": {
          "deprecated": true,
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
          "description": "Deprecated: if set, converts to an empty `utf8_bytes`."
        },
        "utf8Bytes": {
          "description": "Use `Utf8Bytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes"
        }
      }
    },
    "ListClustersResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "id": "ListClustersResponse",
      "properties": {
        "nextPageToken": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED: This field is unused and ignored."
        },
        "failedLocations": {
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clusters": {
          "description": "The list of requested clusters.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateBackupMetadata": {
      "type": "object",
      "id": "CreateBackupMetadata",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        },
        "endTime": {
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        },
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata type for the operation returned by CreateBackup."
    },
    "CreateLogicalViewRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView.",
      "id": "CreateLogicalViewRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        },
        "logicalView": {
          "description": "Required. The logical view to create.",
          "$ref": "LogicalView"
        }
      },
      "type": "object"
    },
    "DropRowRangeRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "type": "object",
      "id": "DropRowRangeRequest",
      "properties": {
        "rowKeyPrefix": {
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "format": "byte",
          "type": "string"
        },
        "deleteAllDataFromTable": {
          "description": "Delete all rows in the table. Setting this to false is a no-op.",
          "type": "boolean"
        }
      }
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "type": "object",
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState",
      "properties": {
        "replicationState": {
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ],
          "description": "Output only. The state of the materialized view in this cluster.",
          "type": "string"
        }
      },
      "description": "The state of a materialized view's data in a particular cluster."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeProto": {
      "description": "A protobuf message type. Values of type `Proto` are stored in `Value.bytes_value`.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeProto",
      "properties": {
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this proto is defined in.",
          "type": "string"
        },
        "messageName": {
          "description": "The fully qualified name of the protobuf message, including package. In the format of \"foo.bar.Message\".",
          "type": "string"
        }
      }
    },
    "CopyBackupMetadata": {
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup.",
      "id": "CopyBackupMetadata",
      "properties": {
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "sourceBackupInfo": {
          "description": "Information about the source backup that is being copied from.",
          "$ref": "BackupInfo"
        },
        "progress": {
          "description": "The progress of the CopyBackup operation.",
          "$ref": "OperationProgress"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleBigtableAdminV2TypeStruct": {
      "description": "A structured data value, consisting of fields which map to dynamically typed values. Values of type `Struct` are stored in `Value.array_value` where entries are in the same order and number as `field_types`.",
      "id": "GoogleBigtableAdminV2TypeStruct",
      "properties": {
        "fields": {
          "description": "The names and types of the fields in this struct.",
          "items": {
            "$ref": "GoogleBigtableAdminV2TypeStructField"
          },
          "type": "array"
        },
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncoding"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeEnum",
      "properties": {
        "enumName": {
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\".",
          "type": "string"
        },
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this enum is defined in.",
          "type": "string"
        }
      },
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`."
    },
    "MaterializedView": {
      "description": "A materialized view object that can be referenced in SQL queries.",
      "type": "object",
      "id": "MaterializedView",
      "properties": {
        "etag": {
          "description": "Optional. The etag for this materialized view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "deletionProtection": {
          "description": "Set to true to make the MaterializedView protected against deletion. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "query": {
          "description": "Required. Immutable. The materialized view's select query. Views: `SCHEMA_VIEW`, `FULL`.",
          "type": "string"
        },
        "clusterStates": {
          "description": "Output only. Map from cluster ID to per-cluster materialized view state. If it could not be determined whether or not the materialized view has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with `STATE_NOT_KNOWN` state. Views: `REPLICATION_VIEW`, `FULL`.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2MaterializedViewClusterState"
          },
          "type": "object"
        }
      }
    },
    "DataBoostIsolationReadOnly": {
      "id": "DataBoostIsolationReadOnly",
      "properties": {
        "computeBillingOwner": {
          "description": "The Compute Billing Owner for this Data Boost App Profile.",
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ]
        }
      },
      "type": "object",
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeDate": {
      "description": "Date Values of type `Date` are stored in `Value.date_value`.",
      "id": "GoogleBigtableAdminV2TypeDate",
      "properties": {},
      "type": "object"
    },
    "CreateLogicalViewMetadata": {
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "type": "object",
      "id": "CreateLogicalViewMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED: Use finish_time instead.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateLogicalView operation.",
          "$ref": "CreateLogicalViewRequest"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "startTime": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED: Use request_time instead.",
          "format": "google-datetime"
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "properties": {
        "name": {
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the backup."
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "description": "Required. The expiration time of the backup. When creating a backup or updating its `expire_time`, the value must be greater than the backup creation time by: - At least 6 hours - At most 90 days Once the `expire_time` has passed, Cloud Bigtable will delete the backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "readOnly": true,
          "type": "string"
        },
        "hotToStandardTime": {
          "type": "string",
          "description": "The time at which the hot backup will be converted to a standard backup. Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the hot backup to a standard backup. This value must be greater than the backup creation time by: - At least 24 hours This field only applies for hot backups. When creating or updating a standard backup, attempting to set this field will fail the request.",
          "format": "google-datetime"
        },
        "backupType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The default type for Cloud Bigtable managed backups. Supported for backups created in both HDD and SSD instances. Requires optimization when restored to a table in an SSD instance.",
            "A backup type with faster restore to SSD performance. Only supported for backups created in SSD instances. A new SSD table restored from a hot backup reaches production performance more quickly than a standard backup."
          ],
          "description": "Indicates the backup type of the backup.",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "HOT"
          ]
        }
      },
      "type": "object",
      "description": "A backup of a Cloud Bigtable table."
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`.",
      "deprecated": true,
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "description": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
      "properties": {}
    },
    "TableStats": {
      "id": "TableStats",
      "properties": {
        "averageColumnsPerRow": {
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "format": "double",
          "type": "number"
        },
        "averageCellsPerColumn": {
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field.",
          "format": "double",
          "type": "number"
        },
        "rowCount": {
          "description": "How many rows are in the table.",
          "format": "int64",
          "type": "string"
        },
        "logicalDataBytes": {
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified."
    },
    "PartialUpdateClusterMetadata": {
      "description": "The metadata for the Operation returned by PartialUpdateCluster.",
      "type": "object",
      "id": "PartialUpdateClusterMetadata",
      "properties": {
        "originalRequest": {
          "description": "The original request for PartialUpdateCluster.",
          "$ref": "PartialUpdateClusterRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "PartialUpdateClusterRequest": {
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster.",
      "id": "PartialUpdateClusterRequest",
      "properties": {
        "cluster": {
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask.",
          "$ref": "Cluster"
        },
        "updateMask": {
          "description": "Required. The subset of Cluster fields which should be replaced.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ColumnFamilyStats": {
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified.",
      "type": "object",
      "id": "ColumnFamilyStats",
      "properties": {
        "averageColumnsPerRow": {
          "type": "number",
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field.",
          "format": "double"
        },
        "averageCellsPerColumn": {
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field.",
          "format": "double",
          "type": "number"
        },
        "logicalDataBytes": {
          "type": "string",
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out).",
          "format": "int64"
        }
      }
    },
    "ProtoSchema": {
      "type": "object",
      "id": "ProtoSchema",
      "properties": {
        "protoDescriptors": {
          "type": "string",
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description).",
          "format": "byte"
        }
      },
      "description": "Represents a protobuf schema."
    },
    "UpdateAppProfileMetadata": {
      "id": "UpdateAppProfileMetadata",
      "properties": {},
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateAppProfile."
    },
    "SingleClusterRouting": {
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "type": "object",
      "id": "SingleClusterRouting",
      "properties": {
        "clusterId": {
          "description": "The cluster to which read/write requests should be routed.",
          "type": "string"
        },
        "allowTransactionalWrites": {
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters.",
          "type": "boolean"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "GcRule": {
      "description": "Rule for determining which cells to delete during garbage collection.",
      "type": "object",
      "id": "GcRule",
      "properties": {
        "maxAge": {
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity.",
          "format": "google-duration",
          "type": "string"
        },
        "union": {
          "description": "Delete cells that would be deleted by any nested rule.",
          "$ref": "Union"
        },
        "intersection": {
          "description": "Delete cells that would be deleted by every nested rule.",
          "$ref": "Intersection"
        },
        "maxNumVersions": {
          "description": "Delete all cells in a column except the most recent N.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "GenerateConsistencyTokenResponse": {
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "id": "GenerateConsistencyTokenResponse",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StandardReadRemoteWrites": {
      "type": "object",
      "id": "StandardReadRemoteWrites",
      "properties": {},
      "description": "Checks that all writes before the consistency token was generated are replicated in every cluster and readable."
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "properties": {
        "raw": {
          "description": "Use `Raw` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw"
        }
      },
      "description": "Rules used to convert to or from lower level types."
    },
    "GoogleBigtableAdminV2AuthorizedViewFamilySubsets": {
      "description": "Subsets of a column family that are included in this AuthorizedView.",
      "type": "object",
      "id": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets",
      "properties": {
        "qualifiers": {
          "type": "array",
          "description": "Individual exact column qualifiers to be included in the AuthorizedView.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "qualifierPrefixes": {
          "description": "Prefixes for qualifiers to be included in the AuthorizedView. Every qualifier starting with one of these prefixes is included in the AuthorizedView. To provide access to all qualifiers, include the empty string as a prefix (\"\").",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        }
      }
    },
    "UpdateLogicalViewMetadata": {
      "description": "The metadata for the Operation returned by UpdateLogicalView.",
      "id": "UpdateLogicalViewMetadata",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "DEPRECATED: Use request_time instead.",
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED: Use finish_time instead.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateLogicalView operation.",
          "$ref": "UpdateLogicalViewRequest"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBool": {
      "description": "bool Values of type `Bool` are stored in `Value.bool_value`.",
      "id": "GoogleBigtableAdminV2TypeBool",
      "properties": {},
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeInt64Encoding": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeInt64Encoding",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes"
        }
      },
      "description": "Rules used to convert to or from lower level types."
    },
    "ListLogicalViewsResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "id": "ListLogicalViewsResponse",
      "properties": {
        "logicalViews": {
          "type": "array",
          "description": "The list of requested logical views.",
          "items": {
            "$ref": "LogicalView"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cluster": {
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "type": "object",
      "id": "Cluster",
      "properties": {
        "defaultStorageType": {
          "type": "string",
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ]
        },
        "location": {
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Immutable. The encryption configuration for CMEK-protected clusters.",
          "$ref": "EncryptionConfig"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the cluster.",
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ]
        },
        "serveNodes": {
          "type": "integer",
          "description": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization.",
          "format": "int32"
        },
        "nodeScalingFactor": {
          "type": "string",
          "enumDescriptions": [
            "No node scaling specified. Defaults to NODE_SCALING_FACTOR_1X.",
            "The cluster is running with a scaling factor of 1.",
            "The cluster is running with a scaling factor of 2. All node count values must be in increments of 2 with this scaling factor enabled, otherwise an INVALID_ARGUMENT error will be returned."
          ],
          "description": "Immutable. The node scaling factor of this cluster.",
          "enum": [
            "NODE_SCALING_FACTOR_UNSPECIFIED",
            "NODE_SCALING_FACTOR_1X",
            "NODE_SCALING_FACTOR_2X"
          ]
        },
        "name": {
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.",
          "type": "string"
        },
        "clusterConfig": {
          "description": "Configuration for this cluster.",
          "$ref": "ClusterConfig"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PartialUpdateInstanceRequest": {
      "id": "PartialUpdateInstanceRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "format": "google-fieldmask"
        },
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        }
      },
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance."
    },
    "CreateClusterRequest": {
      "type": "object",
      "id": "CreateClusterRequest",
      "properties": {
        "cluster": {
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Cluster"
        },
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`.",
          "type": "string"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateCluster."
    },
    "ClusterAutoscalingConfig": {
      "type": "object",
      "id": "ClusterAutoscalingConfig",
      "properties": {
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        },
        "autoscalingLimits": {
          "description": "Required. Autoscaling limits for this cluster.",
          "$ref": "AutoscalingLimits"
        }
      },
      "description": "Autoscaling config for a cluster."
    },
    "OptimizeRestoredTableMetadata": {
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "type": "object",
      "id": "OptimizeRestoredTableMetadata",
      "properties": {
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        },
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeString": {
      "description": "String Values of type `String` are stored in `Value.string_value`.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeString",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncoding"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStructField",
      "properties": {
        "type": {
          "description": "The type of values in this field.",
          "$ref": "Type"
        },
        "fieldName": {
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name.",
          "type": "string"
        }
      },
      "description": "A struct field and its type."
    },
    "AuthorizedView": {
      "type": "object",
      "id": "AuthorizedView",
      "properties": {
        "name": {
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`",
          "type": "string"
        },
        "etag": {
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "deletionProtection": {
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set.",
          "type": "boolean"
        },
        "subsetView": {
          "description": "An AuthorizedView permitting access to an explicit subset of a Table.",
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView"
        }
      },
      "description": "An Authorized View of a Cloud Bigtable Table."
    },
    "CreateAuthorizedViewRequest": {
      "description": "The request for CreateAuthorizedView",
      "type": "object",
      "id": "CreateAuthorizedViewRequest",
      "properties": {
        "authorizedViewId": {
          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`.",
          "type": "string"
        },
        "parent": {
          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
          "type": "string"
        },
        "authorizedView": {
          "description": "Required. The AuthorizedView to create.",
          "$ref": "AuthorizedView"
        }
      }
    },
    "GoogleBigtableAdminV2TypeTimestampEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeTimestampEncoding",
      "properties": {
        "unixMicrosInt64": {
          "description": "Encodes the number of microseconds since the Unix epoch using the given `Int64` encoding. Values must be microsecond-aligned. Compatible with: - Java `Instant.truncatedTo()` with `ChronoUnit.MICROS`",
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding"
        }
      },
      "type": "object"
    },
    "UpdateClusterMetadata": {
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "id": "UpdateClusterMetadata",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateCluster operation.",
          "$ref": "Cluster"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeAggregate": {
      "id": "GoogleBigtableAdminV2TypeAggregate",
      "properties": {
        "max": {
          "description": "Max aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMax"
        },
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateSum"
        },
        "min": {
          "description": "Min aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMin"
        },
        "inputType": {
          "description": "Type of the inputs that are accumulated by this `Aggregate`. Use `AddInput` mutations to accumulate new inputs.",
          "$ref": "Type"
        },
        "hllppUniqueCount": {
          "description": "HyperLogLogPlusPlusUniqueCount aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount"
        },
        "stateType": {
          "$ref": "Type",
          "readOnly": true,
          "description": "Output only. Type that holds the internal accumulator state for the `Aggregate`. This is a function of the `input_type` and `aggregator` chosen."
        }
      },
      "type": "object",
      "description": "A value that combines incremental updates into a summarized value. Data is never directly written or read using type `Aggregate`. Writes provide either the `input_type` or `state_type`, and reads always return the `state_type` ."
    },
    "GoogleBigtableAdminV2TypeAggregateSum": {
      "id": "GoogleBigtableAdminV2TypeAggregateSum",
      "properties": {},
      "type": "object",
      "description": "Computes the sum of the input values. Allowed input: `Int64` State: same as input"
    },
    "RestoreTableMetadata": {
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "id": "RestoreTableMetadata",
      "properties": {
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        },
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        },
        "sourceType": {
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        }
      },
      "type": "object"
    },
    "GenerateConsistencyTokenRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "id": "GenerateConsistencyTokenRequest",
      "properties": {},
      "type": "object"
    },
    "ListAppProfilesResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "id": "ListAppProfilesResponse",
      "properties": {
        "failedLocations": {
          "type": "array",
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          }
        },
        "appProfiles": {
          "type": "array",
          "description": "The list of requested app profiles.",
          "items": {
            "$ref": "AppProfile"
          }
        },
        "nextPageToken": {
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClusterConfig": {
      "description": "Configuration for a cluster.",
      "id": "ClusterConfig",
      "properties": {
        "clusterAutoscalingConfig": {
          "description": "Autoscaling configuration for this cluster.",
          "$ref": "ClusterAutoscalingConfig"
        }
      },
      "type": "object"
    },
    "RowAffinity": {
      "type": "object",
      "id": "RowAffinity",
      "properties": {},
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group."
    },
    "ClusterState": {
      "id": "ClusterState",
      "properties": {
        "replicationState": {
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of replication for the table in this cluster."
        },
        "encryptionInfo": {
          "type": "array",
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS.",
          "items": {
            "$ref": "EncryptionInfo"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The state of a table's data in a particular cluster."
    },
    "ListTablesResponse": {
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables",
      "type": "object",
      "id": "ListTablesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "tables": {
          "type": "array",
          "description": "The tables present in the requested instance.",
          "items": {
            "$ref": "Table"
          }
        }
      }
    },
    "BackupInfo": {
      "description": "Information about a backup.",
      "id": "BackupInfo",
      "properties": {
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the backup."
        },
        "sourceTable": {
          "readOnly": true,
          "description": "Output only. Name of the table the backup was created from.",
          "type": "string"
        },
        "sourceBackup": {
          "readOnly": true,
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CheckConsistencyResponse": {
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "type": "object",
      "id": "CheckConsistencyResponse",
      "properties": {
        "consistent": {
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.",
          "type": "boolean"
        }
      }
    },
    "GoogleBigtableAdminV2TypeTimestamp": {
      "id": "GoogleBigtableAdminV2TypeTimestamp",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeTimestampEncoding"
        }
      },
      "type": "object",
      "description": "Timestamp Values of type `Timestamp` are stored in `Value.timestamp_value`."
    },
    "CreateMaterializedViewRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateMaterializedView.",
      "id": "CreateMaterializedViewRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "materializedViewId": {
          "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name.",
          "type": "string"
        },
        "materializedView": {
          "description": "Required. The materialized view to create.",
          "$ref": "MaterializedView"
        }
      },
      "type": "object"
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateInstance."
    },
    "AutoscalingLimits": {
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to.",
      "id": "AutoscalingLimits",
      "properties": {
        "minServeNodes": {
          "type": "integer",
          "description": "Required. Minimum number of nodes to scale down to.",
          "format": "int32"
        },
        "maxServeNodes": {
          "description": "Required. Maximum number of nodes to scale up to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeGeography": {
      "description": "A geography type, representing a point or region on Earth. The value is stored in `Value.bytes_value` as Well-Known Binary (WKB) bytes.",
      "id": "GoogleBigtableAdminV2TypeGeography",
      "properties": {},
      "type": "object"
    },
    "Modification": {
      "type": "object",
      "id": "Modification",
      "properties": {
        "updateMask": {
          "description": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "update": {
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "create": {
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "drop": {
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the column family to be modified.",
          "type": "string"
        }
      },
      "description": "A create, update, or delete of a particular column family."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeStructEncoding",
      "properties": {
        "delimitedBytes": {
          "description": "Use `DelimitedBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes"
        },
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "orderedCodeBytes": {
          "description": "User `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes"
        }
      },
      "type": "object"
    },
    "UpdateAuthorizedViewMetadata": {
      "id": "UpdateAuthorizedViewMetadata",
      "properties": {
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation.",
          "$ref": "UpdateAuthorizedViewRequest"
        }
      },
      "type": "object",
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView."
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "properties": {
        "escapeNulls": {
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended.",
          "type": "boolean"
        }
      },
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported."
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`.",
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeArray": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeArray",
      "properties": {
        "elementType": {
          "description": "The type of the elements in the array. This must not be `Array`.",
          "$ref": "Type"
        }
      },
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "AppProfile": {
      "type": "object",
      "id": "AppProfile",
      "properties": {
        "singleClusterRouting": {
          "description": "Use a single-cluster routing policy.",
          "$ref": "SingleClusterRouting"
        },
        "standardIsolation": {
          "description": "The standard options used for isolating this app profile's traffic from other use cases.",
          "$ref": "StandardIsolation"
        },
        "name": {
          "description": "The unique name of the app profile, up to 50 characters long. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "multiClusterRoutingUseAny": {
          "description": "Use a multi-cluster routing policy.",
          "$ref": "MultiClusterRoutingUseAny"
        },
        "description": {
          "description": "Long form description of the use case for this AppProfile.",
          "type": "string"
        },
        "priority": {
          "description": "This field has been deprecated in favor of `standard_isolation.priority`. If you set this field, `standard_isolation.priority` will be set instead. The priority of requests sent using this app profile.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ]
        },
        "dataBoostIsolationReadOnly": {
          "description": "Specifies that this app profile is intended for read-only usage via the Data Boost feature.",
          "$ref": "DataBoostIsolationReadOnly"
        },
        "etag": {
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the meantime. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details.",
          "type": "string"
        }
      },
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application."
    },
    "CheckConsistencyRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "type": "object",
      "id": "CheckConsistencyRequest",
      "properties": {
        "standardReadRemoteWrites": {
          "description": "Checks that reads using an app profile with `StandardIsolation` can see all writes committed before the token was created, even if the read and write target different clusters.",
          "$ref": "StandardReadRemoteWrites"
        },
        "dataBoostReadLocalWrites": {
          "description": "Checks that reads using an app profile with `DataBoostIsolationReadOnly` can see all writes committed before the token was created, but only if the read and write target the same cluster.",
          "$ref": "DataBoostReadLocalWrites"
        },
        "consistencyToken": {
          "description": "Required. The token created using GenerateConsistencyToken for the Table.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeBytes",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding"
        }
      }
    },
    "UndeleteTableMetadata": {
      "id": "UndeleteTableMetadata",
      "properties": {
        "endTime": {
          "deprecated": true,
          "type": "string",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the table being restored.",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable."
    },
    "StandardIsolation": {
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "type": "object",
      "id": "StandardIsolation",
      "properties": {
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "description": "The priority of requests sent using this app profile.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        }
      }
    },
    "ListHotTabletsResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "id": "ListHotTabletsResponse",
      "properties": {
        "hotTablets": {
          "type": "array",
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response.",
          "items": {
            "$ref": "HotTablet"
          }
        },
        "nextPageToken": {
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input",
      "id": "GoogleBigtableAdminV2TypeAggregateMin",
      "properties": {},
      "type": "object"
    },
    "Table": {
      "type": "object",
      "id": "Table",
      "properties": {
        "tieredStorageConfig": {
          "description": "Rules to specify what data is stored in each storage tier. Different tiers store data differently, providing different trade-offs between cost and performance. Different parts of a table can be stored separately on different tiers. If a config is specified, tiered storage is enabled for this table. Otherwise, tiered storage is disabled. Only SSD instances can configure tiered storage.",
          "$ref": "TieredStorageConfig"
        },
        "name": {
          "description": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`",
          "type": "string"
        },
        "clusterStates": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ClusterState"
          },
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`"
        },
        "stats": {
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about the entire table contents. For statistics about a specific column family, see ColumnFamilyStats in the mapped ColumnFamily collection above.",
          "readOnly": true,
          "$ref": "TableStats"
        },
        "changeStreamConfig": {
          "description": "If specified, enable the change stream on this table. Otherwise, the change stream is disabled and the change stream is not retained.",
          "$ref": "ChangeStreamConfig"
        },
        "rowKeySchema": {
          "description": "The row key schema for this table. The schema is used to decode the raw row key bytes into a structured format. The order of field declarations in this schema is important, as it reflects how the raw row key bytes are structured. Currently, this only affects how the key is read via a GoogleSQL query from the ExecuteQuery API. For a SQL query, the _key column is still read as raw bytes. But queries can reference the key fields by name, which will be decoded from _key using provided type and encoding. Queries that reference key fields will fail if they encounter an invalid row key. For example, if _key = \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" with the following schema: { fields { field_name: \"id\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"date\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"product_code\" type { int64 { encoding: big_endian_bytes {} } } } encoding { delimited_bytes { delimiter: \"#\" } } } The decoded key parts would be: id = \"some_id\", date = \"2024-04-30\", product_code = 1245427 The query \"SELECT _key, product_code FROM table\" will return two columns: /------------------------------------------------------\\ | _key | product_code | | --------------------------------------|--------------| | \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" | 1245427 | \\------------------------------------------------------/ The schema has the following invariants: (1) The decoded field values are order-preserved. For read, the field values will be decoded in sorted mode from the raw bytes. (2) Every field in the schema must specify a non-empty name. (3) Every field must specify a type with an associated encoding. The type is limited to scalar types only: Array, Map, Aggregate, and Struct are not allowed. (4) The field names must not collide with existing column family names and reserved keywords \"_key\" and \"_timestamp\". The following update operations are allowed for row_key_schema: - Update from an empty schema to a new schema. - Remove the existing schema. This operation requires setting the `ignore_warnings` flag to `true`, since it might be a backward incompatible change. Without the flag, the update request will fail with an INVALID_ARGUMENT error. Any other row key schema update operation (e.g. update existing schema columns names or types) is currently unsupported.",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "columnFamilies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ColumnFamily"
          },
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `STATS_VIEW`, `FULL`"
        },
        "restoreInfo": {
          "readOnly": true,
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore.",
          "$ref": "RestoreInfo"
        },
        "granularity": {
          "description": "Immutable. The granularity at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`.",
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned.",
            "The table keeps data versioned at a granularity of 1ms."
          ]
        },
        "deletionProtection": {
          "description": "Set to true to make the table protected against data loss. i.e. deleting the following resources through Admin APIs are prohibited: * The table. * The column families in the table. * The instance containing the table. Note one can still delete the data stored in the table through Data APIs.",
          "type": "boolean"
        },
        "automatedBackupPolicy": {
          "description": "If specified, automated backups are enabled for this table. Otherwise, automated backups are disabled.",
          "$ref": "AutomatedBackupPolicy"
        }
      },
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster."
    },
    "SchemaBundle": {
      "description": "A named collection of related schemas.",
      "type": "object",
      "id": "SchemaBundle",
      "properties": {
        "protoSchema": {
          "description": "Schema for Protobufs.",
          "$ref": "ProtoSchema"
        },
        "name": {
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeFloat32": {
      "description": "Float32 Values of type `Float32` are stored in `Value.float_value`.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeFloat32",
      "properties": {}
    },
    "MultiClusterRoutingUseAny": {
      "id": "MultiClusterRoutingUseAny",
      "properties": {
        "clusterIds": {
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rowAffinity": {
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically.",
          "$ref": "RowAffinity"
        }
      },
      "type": "object",
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability."
    },
    "UpdateTableMetadata": {
      "description": "Metadata type for the operation returned by UpdateTable.",
      "type": "object",
      "id": "UpdateTableMetadata",
      "properties": {
        "endTime": {
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the table being updated.",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "LogicalView": {
      "description": "A SQL logical view object that can be referenced in SQL queries.",
      "type": "object",
      "id": "LogicalView",
      "properties": {
        "query": {
          "description": "Required. The logical view's select query.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "deletionProtection": {
          "description": "Optional. Set to true to make the LogicalView protected against deletion.",
          "type": "boolean"
        }
      }
    },
    "Intersection": {
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "type": "object",
      "id": "Intersection",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "items": {
            "$ref": "GcRule"
          }
        }
      }
    },
    "GoogleBigtableAdminV2TypeMap": {
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "id": "GoogleBigtableAdminV2TypeMap",
      "properties": {
        "keyType": {
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types.",
          "$ref": "Type"
        },
        "valueType": {
          "description": "The type of the values in a map.",
          "$ref": "Type"
        }
      },
      "type": "object"
    },
    "UpdateAuthorizedViewRequest": {
      "description": "The request for UpdateAuthorizedView.",
      "id": "UpdateAuthorizedViewRequest",
      "properties": {
        "authorizedView": {
          "description": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`.",
          "$ref": "AuthorizedView"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
          "format": "google-fieldmask"
        },
        "ignoreWarnings": {
          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Union": {
      "id": "Union",
      "properties": {
        "rules": {
          "description": "Delete cells which would be deleted by any element of `rules`.",
          "items": {
            "$ref": "GcRule"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A GcRule which deletes cells matching any of the given rules."
    },
    "RestoreTableRequest": {
      "description": "The request for RestoreTable.",
      "id": "RestoreTableRequest",
      "properties": {
        "tableId": {
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`.",
          "type": "string"
        },
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateSchemaBundleMetadata": {
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "id": "UpdateSchemaBundleMetadata",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EncryptionConfig": {
      "type": "object",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster."
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "CreateMaterializedViewMetadata": {
      "description": "The metadata for the Operation returned by CreateMaterializedView.",
      "id": "CreateMaterializedViewMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "deprecated": true,
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateMaterializedView operation.",
          "$ref": "CreateMaterializedViewRequest"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Type": {
      "type": "object",
      "id": "Type",
      "properties": {
        "float64Type": {
          "description": "Float64",
          "$ref": "GoogleBigtableAdminV2TypeFloat64"
        },
        "enumType": {
          "description": "Enum",
          "$ref": "GoogleBigtableAdminV2TypeEnum"
        },
        "int64Type": {
          "description": "Int64",
          "$ref": "GoogleBigtableAdminV2TypeInt64"
        },
        "boolType": {
          "description": "Bool",
          "$ref": "GoogleBigtableAdminV2TypeBool"
        },
        "geographyType": {
          "description": "Geography",
          "$ref": "GoogleBigtableAdminV2TypeGeography"
        },
        "dateType": {
          "description": "Date",
          "$ref": "GoogleBigtableAdminV2TypeDate"
        },
        "bytesType": {
          "description": "Bytes",
          "$ref": "GoogleBigtableAdminV2TypeBytes"
        },
        "timestampType": {
          "description": "Timestamp",
          "$ref": "GoogleBigtableAdminV2TypeTimestamp"
        },
        "structType": {
          "description": "Struct",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "arrayType": {
          "description": "Array",
          "$ref": "GoogleBigtableAdminV2TypeArray"
        },
        "float32Type": {
          "description": "Float32",
          "$ref": "GoogleBigtableAdminV2TypeFloat32"
        },
        "mapType": {
          "description": "Map",
          "$ref": "GoogleBigtableAdminV2TypeMap"
        },
        "aggregateType": {
          "description": "Aggregate",
          "$ref": "GoogleBigtableAdminV2TypeAggregate"
        },
        "protoType": {
          "description": "Proto",
          "$ref": "GoogleBigtableAdminV2TypeProto"
        },
        "stringType": {
          "description": "String",
          "$ref": "GoogleBigtableAdminV2TypeString"
        }
      },
[...]
