{
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "basePath": "",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "bigtableadmin",
  "documentationLink": "https://cloud.google.com/bigtable/",
  "canonicalName": "Bigtable Admin",
  "servicePath": "",
  "schemas": {
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "CreateBackupMetadata": {
      "properties": {
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateBackupMetadata",
      "description": "Metadata type for the operation returned by CreateBackup."
    },
    "ListClustersResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "id": "ListClustersResponse",
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of requested clusters."
        },
        "failedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`"
        },
        "nextPageToken": {
          "type": "string",
          "description": "DEPRECATED: This field is unused and ignored.",
          "deprecated": true
        }
      }
    },
    "UpdateClusterMetadata": {
      "id": "UpdateClusterMetadata",
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "$ref": "Cluster",
          "description": "The request that prompted the initiation of this UpdateCluster operation."
        }
      },
      "type": "object"
    },
    "SingleClusterRouting": {
      "properties": {
        "allowTransactionalWrites": {
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters.",
          "type": "boolean"
        },
        "clusterId": {
          "description": "The cluster to which read/write requests should be routed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SingleClusterRouting",
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability."
    },
    "GenerateConsistencyTokenRequest": {
      "properties": {},
      "type": "object",
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "Binding": {
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "ListLogicalViewsResponse": {
      "type": "object",
      "properties": {
        "logicalViews": {
          "description": "The list of requested logical views.",
          "items": {
            "$ref": "LogicalView"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "id": "ListLogicalViewsResponse"
    },
    "ColumnFamily": {
      "type": "object",
      "properties": {
        "stats": {
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above.",
          "$ref": "ColumnFamilyStats",
          "readOnly": true
        },
        "gcRule": {
          "$ref": "GcRule",
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family."
        },
        "valueType": {
          "description": "The type of data stored in each of this family's cell values, including its full encoding. If omitted, the family only serves raw untyped bytes. For now, only the `Aggregate` type is supported. `Aggregate` can only be set at family creation and is immutable afterwards. This field is mutually exclusive with `sql_type`. If `value_type` is `Aggregate`, written data must be compatible with: * `value_type.input_type` for `AddInput` mutations",
          "$ref": "Type"
        }
      },
      "description": "A set of columns within a table which share a common configuration.",
      "id": "ColumnFamily"
    },
    "GoogleBigtableAdminV2TypeInt32Encoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeInt32Encoding",
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
          "description": "Use `BigEndianBytes` encoding."
        },
        "orderedCodeBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
          "description": "Use `OrderedCodeBytes` encoding."
        }
      }
    },
    "GoogleBigtableAdminV2AuthorizedViewSubsetView": {
      "description": "Defines a simple AuthorizedView that is a subset of the underlying Table.",
      "id": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
      "type": "object",
      "properties": {
        "familySubsets": {
          "description": "Map from column family name to the columns in this family to be included in the AuthorizedView.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
          }
        },
        "rowPrefixes": {
          "description": "Row prefixes to be included in the AuthorizedView. To provide access to all rows, include the empty string as a prefix (\"\").",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "properties": {},
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregateMin",
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input"
    },
    "Intersection": {
      "id": "Intersection",
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GcRule"
          },
          "description": "Only delete cells which would be deleted by every element of `rules`."
        }
      },
      "type": "object"
    },
    "Union": {
      "id": "Union",
      "description": "A GcRule which deletes cells matching any of the given rules.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GcRule"
          },
          "description": "Delete cells which would be deleted by any element of `rules`.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name.",
          "type": "string"
        },
        "type": {
          "description": "The type of values in this field.",
          "$ref": "Type"
        }
      },
      "description": "A struct field and its type.",
      "id": "GoogleBigtableAdminV2TypeStructField"
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "id": "GoogleBigtableAdminV2TypeStructEncoding",
      "description": "Rules used to convert to or from lower level types.",
      "properties": {
        "delimitedBytes": {
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
          "description": "Use `DelimitedBytes` encoding."
        },
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "orderedCodeBytes": {
          "description": "User `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes"
        }
      },
      "type": "object"
    },
    "UpdateTableMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the table being updated.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata type for the operation returned by UpdateTable.",
      "id": "UpdateTableMetadata"
    },
    "CreateClusterMetadata": {
      "properties": {
        "originalRequest": {
          "$ref": "CreateClusterRequest",
          "description": "The request that prompted the initiation of this CreateCluster operation."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "tables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateClusterMetadata",
      "description": "The metadata for the Operation returned by CreateCluster."
    },
    "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes": {
      "description": "Encodes the value as an 8-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putLong()` with `ByteOrder.BIG_ENDIAN`",
      "id": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes",
      "type": "object",
      "properties": {
        "bytesType": {
          "description": "Deprecated: ignored if set.",
          "deprecated": true,
          "$ref": "GoogleBigtableAdminV2TypeBytes"
        }
      }
    },
    "ListSchemaBundlesResponse": {
      "description": "The response for ListSchemaBundles.",
      "id": "ListSchemaBundlesResponse",
      "type": "object",
      "properties": {
        "schemaBundles": {
          "items": {
            "$ref": "SchemaBundle"
          },
          "description": "The schema bundles from the specified table.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "OperationProgress": {
      "properties": {
        "endTime": {
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Time the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressPercent": {
          "type": "integer",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "OperationProgress",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation."
    },
    "ColumnFamilyStats": {
      "properties": {
        "averageColumnsPerRow": {
          "type": "number",
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field.",
          "format": "double"
        },
        "averageCellsPerColumn": {
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field.",
          "format": "double",
          "type": "number"
        },
        "logicalDataBytes": {
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ColumnFamilyStats",
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified."
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "id": "GoogleBigtableAdminV2TypeBoolEncoding",
      "description": "Defines rules used to convert to or from lower level types.",
      "properties": {},
      "type": "object"
    },
    "PartialUpdateClusterMetadata": {
      "description": "The metadata for the Operation returned by PartialUpdateCluster.",
      "id": "PartialUpdateClusterMetadata",
      "type": "object",
      "properties": {
        "originalRequest": {
          "$ref": "PartialUpdateClusterRequest",
          "description": "The original request for PartialUpdateCluster."
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes": {
      "type": "object",
      "properties": {
        "delimiter": {
          "description": "Byte sequence used to delimit concatenated fields. The delimiter must contain at least 1 character and at most 50 characters.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Fields are encoded independently and concatenated with a configurable `delimiter` in between. A struct with no fields defined is encoded as a single `delimiter`. Sorted mode: - Fields are encoded in sorted mode. - Encoded field values must not contain any bytes <= `delimiter[0]` - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. - This encoding does not support `DESC` field ordering. Distinct mode: - Fields are encoded in distinct mode. - Encoded field values must not contain `delimiter[0]`.",
      "id": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes"
    },
    "Instance": {
      "id": "Instance",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance.",
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "displayName": {
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "type": "string",
          "description": "Output only. The current state of the instance."
        },
        "name": {
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`.",
          "type": "string"
        },
        "edition": {
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "description": "Optional. The edition of the instance. See Edition for details.",
          "enumDescriptions": [
            "The edition is unspecified. This is treated as `ENTERPRISE`.",
            "The Enterprise edition. This is the default offering that is designed to meet the needs of most enterprise workloads.",
            "The Enterprise Plus edition. This is a premium tier that is designed for demanding, multi-tenant workloads requiring the highest levels of performance, scale, and global availability. The nodes in the Enterprise Plus tier come at a higher cost than the Enterprise tier. Any Enterprise Plus features must be disabled before downgrading to Enterprise."
          ]
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "labels": {
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`.",
          "format": "google-datetime"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "description": "The type of the instance. Defaults to `PRODUCTION`."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeAggregateSum": {
      "description": "Computes the sum of the input values. Allowed input: `Int64` State: same as input",
      "id": "GoogleBigtableAdminV2TypeAggregateSum",
      "type": "object",
      "properties": {}
    },
    "RestoreTableMetadata": {
      "properties": {
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        },
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        },
        "sourceType": {
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "type": "string"
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the RestoreTable operation."
        }
      },
      "type": "object",
      "id": "RestoreTableMetadata",
      "description": "Metadata type for the long-running operation returned by RestoreTable."
    },
    "UpdateLogicalViewMetadata": {
      "description": "The metadata for the Operation returned by UpdateLogicalView.",
      "id": "UpdateLogicalViewMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "UpdateLogicalViewRequest",
          "description": "The request that prompted the initiation of this UpdateLogicalView operation."
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeArray": {
      "properties": {
        "elementType": {
          "description": "The type of the elements in the array. This must not be `Array`.",
          "$ref": "Type"
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeArray",
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`."
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "id": "EncryptionConfig"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "UpdateAuthorizedViewRequest": {
      "id": "UpdateAuthorizedViewRequest",
      "description": "The request for UpdateAuthorizedView.",
      "properties": {
        "ignoreWarnings": {
          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView.",
          "type": "boolean"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
          "format": "google-fieldmask"
        },
        "authorizedView": {
          "description": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`.",
          "$ref": "AuthorizedView"
        }
      },
      "type": "object"
    },
    "Type": {
      "properties": {
        "stringType": {
          "description": "String",
          "$ref": "GoogleBigtableAdminV2TypeString"
        },
        "float64Type": {
          "description": "Float64",
          "$ref": "GoogleBigtableAdminV2TypeFloat64"
        },
        "boolType": {
          "$ref": "GoogleBigtableAdminV2TypeBool",
          "description": "Bool"
        },
        "geographyType": {
          "$ref": "GoogleBigtableAdminV2TypeGeography",
          "description": "Geography"
        },
        "dateType": {
          "description": "Date",
          "$ref": "GoogleBigtableAdminV2TypeDate"
        },
        "arrayType": {
          "description": "Array",
          "$ref": "GoogleBigtableAdminV2TypeArray"
        },
        "int32Type": {
          "description": "Int32",
          "$ref": "GoogleBigtableAdminV2TypeInt32"
        },
        "int64Type": {
          "$ref": "GoogleBigtableAdminV2TypeInt64",
          "description": "Int64"
        },
        "bytesType": {
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "description": "Bytes"
        },
        "structType": {
          "description": "Struct",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "aggregateType": {
          "$ref": "GoogleBigtableAdminV2TypeAggregate",
          "description": "Aggregate"
        },
        "protoType": {
          "$ref": "GoogleBigtableAdminV2TypeProto",
          "description": "Proto"
        },
        "float32Type": {
          "$ref": "GoogleBigtableAdminV2TypeFloat32",
          "description": "Float32"
        },
        "enumType": {
          "$ref": "GoogleBigtableAdminV2TypeEnum",
          "description": "Enum"
        },
        "timestampType": {
          "description": "Timestamp",
          "$ref": "GoogleBigtableAdminV2TypeTimestamp"
        },
        "mapType": {
          "$ref": "GoogleBigtableAdminV2TypeMap",
          "description": "Map"
        }
      },
      "type": "object",
      "id": "Type",
      "description": "`Type` represents the type of data that is written to, read from, or stored in Bigtable. It is heavily based on the GoogleSQL standard to help maintain familiarity and consistency across products and features. For compatibility with Bigtable's existing untyped APIs, each `Type` includes an `Encoding` which describes how to convert to or from the underlying data. Each encoding can operate in one of two modes: - Sorted: In this mode, Bigtable guarantees that `Encode(X) <= Encode(Y)` if and only if `X <= Y`. This is useful anywhere sort order is important, for example when encoding keys. - Distinct: In this mode, Bigtable guarantees that if `X != Y` then `Encode(X) != Encode(Y)`. However, the converse is not guaranteed. For example, both `{'foo': '1', 'bar': '2'}` and `{'bar': '2', 'foo': '1'}` are valid encodings of the same JSON value. The API clearly documents which mode is used wherever an encoding can be configured. Each encoding also documents which values are supported in which modes. For example, when encoding INT64 as a numeric STRING, negative numbers cannot be encoded in sorted mode. This is because `INT64(1) > INT64(-1)`, but `STRING(\"-00001\") > STRING(\"00001\")`."
    },
    "GoogleBigtableAdminV2TypeFloat32": {
      "properties": {},
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeFloat32",
      "description": "Float32 Values of type `Float32` are stored in `Value.float_value`."
    },
    "RestoreInfo": {
      "id": "RestoreInfo",
      "description": "Information about a table restore.",
      "properties": {
        "sourceType": {
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "type": "string"
        },
        "backupInfo": {
          "$ref": "BackupInfo",
          "description": "Information about the backup used to restore the table. The backup may no longer exist."
        }
      },
      "type": "object"
    },
    "CheckConsistencyResponse": {
      "properties": {
        "consistent": {
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CheckConsistencyResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency"
    },
    "AutoscalingTargets": {
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes.",
      "id": "AutoscalingTargets",
      "type": "object",
      "properties": {
        "cpuUtilizationPercent": {
          "type": "integer",
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error.",
          "format": "int32"
        },
        "storageUtilizationGibPerNode": {
          "type": "integer",
          "description": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD.",
          "format": "int32"
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructEncodingSingleton": {
      "properties": {},
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStructEncodingSingleton",
      "description": "Uses the encoding of `fields[0].type` as-is. Only valid if `fields.size == 1`. This encoding does not support `DESC` field ordering."
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListInstances.",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of requested instances."
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array"
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableProgress": {
      "description": "Progress info for copying a table's data to the new cluster.",
      "id": "TableProgress",
      "type": "object",
      "properties": {
        "estimatedSizeBytes": {
          "type": "string",
          "description": "Estimate of the size of the table to be copied.",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ]
        },
        "estimatedCopiedBytes": {
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RestoreTableRequest": {
      "description": "The request for RestoreTable.",
      "id": "RestoreTableRequest",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2AuthorizedViewFamilySubsets": {
      "properties": {
        "qualifiers": {
          "description": "Individual exact column qualifiers to be included in the AuthorizedView.",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        },
        "qualifierPrefixes": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "Prefixes for qualifiers to be included in the AuthorizedView. Every qualifier starting with one of these prefixes is included in the AuthorizedView. To provide access to all qualifiers, include the empty string as a prefix (\"\")."
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets",
      "description": "Subsets of a column family that are included in this AuthorizedView."
    },
    "Expr": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "CopyBackupRequest": {
      "properties": {
        "sourceBackup": {
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "backupId": {
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*.",
          "type": "string"
        },
        "expireTime": {
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CopyBackupRequest",
      "description": "The request for CopyBackup."
    },
    "UpdateMemoryLayerRequest": {
      "description": "Request message for BigtableInstanceAdmin.UpdateMemoryLayer.",
      "id": "UpdateMemoryLayerRequest",
      "type": "object",
      "properties": {
        "memoryLayer": {
          "description": "Required. The memory layer to update. The memory layer's `name` format is as follows: `projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer`.",
          "$ref": "MemoryLayer"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update.",
          "format": "google-fieldmask"
        }
      }
    },
    "SchemaBundle": {
      "properties": {
        "name": {
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "protoSchema": {
          "description": "Schema for Protobufs.",
          "$ref": "ProtoSchema"
        }
      },
      "type": "object",
      "id": "SchemaBundle",
      "description": "A named collection of related schemas."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "AuthorizedView": {
      "description": "An Authorized View of a Cloud Bigtable Table.",
      "id": "AuthorizedView",
      "type": "object",
      "properties": {
        "deletionProtection": {
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set.",
          "type": "boolean"
        },
        "subsetView": {
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
          "description": "An AuthorizedView permitting access to an explicit subset of a Table."
        },
        "name": {
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`",
          "type": "string"
        },
        "etag": {
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeGeography": {
      "description": "A geography type, representing a point or region on Earth. The value is stored in `Value.bytes_value` as Well-Known Binary (WKB) bytes.",
      "id": "GoogleBigtableAdminV2TypeGeography",
      "type": "object",
      "properties": {}
    },
    "UpdateSchemaBundleMetadata": {
      "type": "object",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "id": "UpdateSchemaBundleMetadata"
    },
    "CreateClusterRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "id": "CreateClusterRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank."
        }
      }
    },
    "GoogleBigtableAdminV2TypeStruct": {
      "properties": {
        "fields": {
          "description": "The names and types of the fields in this struct.",
          "items": {
            "$ref": "GoogleBigtableAdminV2TypeStructField"
          },
          "type": "array"
        },
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncoding"
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStruct",
      "description": "A structured data value, consisting of fields which map to dynamically typed values. Values of type `Struct` are stored in `Value.array_value` where entries are in the same order and number as `field_types`."
    },
    "OptimizeRestoredTableMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        }
      },
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "id": "OptimizeRestoredTableMetadata"
    },
    "CreateInstanceRequest": {
      "properties": {
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "clusters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank."
        },
        "instance": {
          "$ref": "Instance",
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank."
        },
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance."
    },
    "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "description": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "id": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
      "type": "object",
      "properties": {}
    },
    "PartialUpdateClusterRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. The subset of Cluster fields which should be replaced.",
          "format": "google-fieldmask"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask."
        }
      },
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster.",
      "id": "PartialUpdateClusterRequest"
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)",
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "type": "object",
      "properties": {}
    },
    "AutoscalingLimits": {
      "properties": {
        "minServeNodes": {
          "type": "integer",
          "description": "Required. Minimum number of nodes to scale down to.",
          "format": "int32"
        },
        "maxServeNodes": {
          "type": "integer",
          "description": "Required. Maximum number of nodes to scale up to.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "AutoscalingLimits",
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to."
    },
    "ClusterState": {
      "properties": {
        "replicationState": {
          "description": "Output only. The state of replication for the table in this cluster.",
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ],
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "readOnly": true
        },
        "encryptionInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EncryptionInfo"
          },
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS."
        }
      },
      "type": "object",
      "id": "ClusterState",
      "description": "The state of a table's data in a particular cluster."
    },
    "BackupInfo": {
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "format": "google-datetime"
        },
        "sourceTable": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the table the backup was created from."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime"
        },
        "backup": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the backup."
        },
        "sourceBackup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/"
        }
      },
      "type": "object",
      "id": "BackupInfo",
      "description": "Information about a backup."
    },
    "UpdateMemoryLayerMetadata": {
      "description": "The metadata for the Operation returned by UpdateMemoryLayer.",
      "id": "UpdateMemoryLayerMetadata",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateMemoryLayer operation.",
          "$ref": "UpdateMemoryLayerRequest"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "UpdateAuthorizedViewMetadata": {
      "id": "UpdateAuthorizedViewMetadata",
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView.",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "UpdateAuthorizedViewRequest",
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes": {
      "properties": {
        "nullEscapeChar": {
          "description": "Single-character escape sequence used to support NULL values. If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value where every character equals `null_escape_char`, has one more `null_escape_char` appended. If `null_escape_char` is set and does not equal the ASCII null character `0x00`, then the encoding will not support sorted mode. .",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
      "description": "UTF-8 encoding. Sorted mode: - All values are supported. - Code point order is preserved. Distinct mode: all values are supported. Compatible with: - BigQuery `TEXT` encoding - HBase `Bytes.toBytes` - Java `String#getBytes(StandardCharsets.UTF_8)`"
    },
    "GoogleBigtableAdminV2TypeAggregateMax": {
      "id": "GoogleBigtableAdminV2TypeAggregateMax",
      "description": "Computes the max of the input values. Allowed input: `Int64` State: same as input",
      "properties": {},
      "type": "object"
    },
    "CreateLogicalViewMetadata": {
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "id": "CreateLogicalViewMetadata",
      "type": "object",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateLogicalView operation.",
          "$ref": "CreateLogicalViewRequest"
        },
        "endTime": {
          "description": "DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        }
      }
    },
    "RowAffinity": {
      "properties": {},
      "type": "object",
      "id": "RowAffinity",
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group."
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`",
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "type": "object",
      "properties": {}
    },
    "StandardIsolation": {
      "properties": {
        "priority": {
          "description": "The priority of requests sent using this app profile.",
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        },
        "memoryConfig": {
          "$ref": "MemoryConfig",
          "description": "Optional. The memory config to use for requests sent using this app profile."
        }
      },
      "type": "object",
      "id": "StandardIsolation",
      "description": "Standard options for isolating this app profile's traffic from other use cases."
    },
    "MemoryLayer": {
      "properties": {
        "name": {
          "description": "Identifier. Name of the memory layer. This is always: \"projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer\".",
          "type": "string"
        },
        "memoryConfig": {
          "description": "The configuration of this memory layer. Set an empty `memory_config` to enable the memory layer. Unset this to disable the memory layer.",
          "$ref": "GoogleBigtableAdminV2MemoryLayerMemoryConfig"
        },
        "etag": {
          "description": "Optional. The etag for this memory layer. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the memory layer could not be determined.",
            "The memory layer has been successfully enabled and is ready to serve requests.",
            "The memory layer is currently being enabled, and may be disabled if the enablement process encounters an error. A cluster may not be able to serve requests from the memory layer while being enabled.",
            "The memory layer is currently being resized, and may revert to its previous storage size if the process encounters an error. The memory layer is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The memory layer is disabled. The default state for a cluster without a memory layer."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "ENABLING",
            "RESIZING",
            "DISABLED"
          ],
          "type": "string",
          "description": "Output only. The current state of the memory layer."
        }
      },
      "type": "object",
      "id": "MemoryLayer",
      "description": "The memory layer of a cluster. A memory layer serves reads from memory without hitting the backing persistent data store."
    },
    "MultiClusterRoutingUseAny": {
      "type": "object",
      "properties": {
        "rowAffinity": {
          "$ref": "RowAffinity",
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically."
        },
        "clusterIds": {
          "type": "array",
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "id": "MultiClusterRoutingUseAny"
    },
    "CreateLogicalViewRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "logicalView": {
          "$ref": "LogicalView",
          "description": "Required. The logical view to create."
        },
        "logicalViewId": {
          "description": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateLogicalViewRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateLogicalView."
    },
    "ChangeStreamConfig": {
      "description": "Change stream configuration.",
      "id": "ChangeStreamConfig",
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "description": "How long the change stream should be retained. Change stream data older than the retention period will not be returned when reading the change stream from the table. Values must be at least 1 day and at most 7 days, and will be truncated to microsecond granularity.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "UndeleteTableMetadata": {
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable.",
      "id": "UndeleteTableMetadata",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The name of the table being restored.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "deprecated": true,
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "UpdateAppProfileMetadata": {
      "type": "object",
      "properties": {},
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "id": "UpdateAppProfileMetadata"
    },
    "ClusterAutoscalingConfig": {
      "properties": {
        "autoscalingLimits": {
          "description": "Required. Autoscaling limits for this cluster.",
          "$ref": "AutoscalingLimits"
        },
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        }
      },
      "type": "object",
      "id": "ClusterAutoscalingConfig",
      "description": "Autoscaling config for a cluster."
    },
    "UpdateInstanceMetadata": {
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "id": "UpdateInstanceMetadata",
      "type": "object",
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        }
      }
    },
    "GoogleBigtableAdminV2MemoryLayerMemoryConfig": {
      "type": "object",
      "properties": {
        "storageSizeGib": {
          "description": "Output only. Reporting the current size of the memory layer in GiB.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "Configuration of a memory layer.",
      "id": "GoogleBigtableAdminV2MemoryLayerMemoryConfig"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`.",
      "id": "GoogleBigtableAdminV2TypeFloat64",
      "type": "object",
      "properties": {}
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "id": "GoogleBigtableAdminV2TypeBytes",
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "type": "object"
    },
    "MemoryConfig": {
      "properties": {},
      "type": "object",
      "id": "MemoryConfig",
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleBigtableAdminV2TypeStringEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeStringEncoding",
      "type": "object",
      "properties": {
        "utf8Bytes": {
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
          "description": "Use `Utf8Bytes` encoding."
        },
        "utf8Raw": {
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
          "description": "Deprecated: if set, converts to an empty `utf8_bytes`.",
          "deprecated": true
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "GcRule": {
      "type": "object",
      "properties": {
        "maxAge": {
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity.",
          "format": "google-duration",
          "type": "string"
        },
        "maxNumVersions": {
          "type": "integer",
          "description": "Delete all cells in a column except the most recent N.",
          "format": "int32"
        },
        "union": {
          "$ref": "Union",
          "description": "Delete cells that would be deleted by any nested rule."
        },
        "intersection": {
          "description": "Delete cells that would be deleted by every nested rule.",
          "$ref": "Intersection"
        }
      },
      "description": "Rule for determining which cells to delete during garbage collection.",
      "id": "GcRule"
    },
    "GoogleBigtableAdminV2TypeInt64Encoding": {
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes",
          "description": "Use `BigEndianBytes` encoding."
        },
        "orderedCodeBytes": {
          "$ref": "GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
          "description": "Use `OrderedCodeBytes` encoding."
        }
      },
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeInt64Encoding"
    },
    "DataBoostReadLocalWrites": {
      "type": "object",
      "properties": {},
      "description": "Checks that all writes before the consistency token was generated in the same cluster are readable by Databoost.",
      "id": "DataBoostReadLocalWrites"
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "deprecated": true,
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`.",
      "properties": {},
      "type": "object"
    },
    "ModifyColumnFamiliesRequest": {
      "properties": {
        "modifications": {
          "type": "array",
          "items": {
            "$ref": "Modification"
          },
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example)."
        },
        "ignoreWarnings": {
          "description": "Optional. If true, ignore safety checks when modifying the column families.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ModifyColumnFamiliesRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies"
    },
    "GoogleBigtableAdminV2TypeMap": {
      "type": "object",
      "properties": {
        "keyType": {
          "$ref": "Type",
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types."
        },
        "valueType": {
          "$ref": "Type",
          "description": "The type of the values in a map."
        }
      },
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "id": "GoogleBigtableAdminV2TypeMap"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GenerateConsistencyTokenResponse": {
      "type": "object",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "id": "GenerateConsistencyTokenResponse"
    },
    "ListAppProfilesResponse": {
      "id": "ListAppProfilesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "properties": {
        "appProfiles": {
          "type": "array",
          "description": "The list of requested app profiles.",
          "items": {
            "$ref": "AppProfile"
          }
        },
        "nextPageToken": {
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeDate": {
      "properties": {},
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeDate",
      "description": "Date Values of type `Date` are stored in `Value.date_value`."
    },
    "CheckConsistencyRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "id": "CheckConsistencyRequest",
      "type": "object",
      "properties": {
        "consistencyToken": {
          "description": "Required. The token created using GenerateConsistencyToken for the Table.",
          "type": "string"
        },
        "standardReadRemoteWrites": {
          "$ref": "StandardReadRemoteWrites",
          "description": "Checks that reads using an app profile with `StandardIsolation` can see all writes committed before the token was created, even if the read and write target different clusters."
        },
        "dataBoostReadLocalWrites": {
          "description": "Checks that reads using an app profile with `DataBoostIsolationReadOnly` can see all writes committed before the token was created, but only if the read and write target the same cluster.",
          "$ref": "DataBoostReadLocalWrites"
        }
      }
    },
    "Backup": {
      "properties": {
        "state": {
          "description": "Output only. The current state of the backup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "readOnly": true
        },
        "name": {
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.",
          "type": "string"
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sourceBackup": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "hotToStandardTime": {
          "type": "string",
          "description": "The time at which the hot backup will be converted to a standard backup. Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the hot backup to a standard backup. This value must be greater than the backup creation time by: - At least 24 hours This field only applies for hot backups. When creating or updating a standard backup, attempting to set this field will fail the request.",
          "format": "google-datetime"
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "backupType": {
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "HOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The default type for Cloud Bigtable managed backups. Supported for backups created in both HDD and SSD instances. Requires optimization when restored to a table in an SSD instance.",
            "A backup type with faster restore to SSD performance. Only supported for backups created in SSD instances. A new SSD table restored from a hot backup reaches production performance more quickly than a standard backup."
          ],
          "description": "Indicates the backup type of the backup."
        },
        "expireTime": {
          "type": "string",
          "description": "Required. The expiration time of the backup. When creating a backup or updating its `expire_time`, the value must be greater than the backup creation time by: - At least 6 hours - At most 90 days Once the `expire_time` has passed, Cloud Bigtable will delete the backup.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table."
    },
    "ProtoSchema": {
      "properties": {
        "protoDescriptors": {
[...]
