{
  "canonicalName": "Blockchain Node Engine",
  "id": "blockchainnodeengine:v1",
  "servicePath": "",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/blockchain-node-engine",
  "batchPath": "batch",
  "name": "blockchainnodeengine",
  "ownerName": "Google",
  "baseUrl": "https://blockchainnodeengine.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Blockchain Node Engine API",
  "schemas": {
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have `Operation.error` value with a `google.rpc.Status.code` of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "EthereumEndpoints": {
      "properties": {
        "executionClientPrometheusMetricsApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node's execution client's Prometheus metrics endpoint.",
          "type": "string"
        },
        "beaconApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node's Beacon API endpoint.",
          "type": "string"
        },
        "beaconPrometheusMetricsApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node's Beacon Prometheus metrics endpoint. See [Prometheus Metrics](https://lighthouse-book.sigmaprime.io/advanced_metrics.html) for more details.",
          "type": "string"
        }
      },
      "id": "EthereumEndpoints",
      "description": "Contains endpoint information specific to Ethereum nodes.",
      "type": "object"
    },
    "EndpointInfo": {
      "description": "Contains endpoint information through which to interact with a blockchain node.",
      "type": "object",
      "id": "EndpointInfo",
      "properties": {
        "jsonRpcApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node JSON-RPC API endpoint.",
          "type": "string"
        },
        "websocketsApiEndpoint": {
          "description": "Output only. The assigned URL for the node WebSockets API endpoint.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BlockchainNode": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
          "type": "string"
        },
        "ethereumDetails": {
          "$ref": "EthereumDetails",
          "description": "Ethereum-specific blockchain node details."
        },
        "privateServiceConnectEnabled": {
          "deprecated": true,
          "description": "Optional. When true, the node is only accessible via Private Service Connect; no public endpoints are exposed. Otherwise, the node is only accessible via public endpoints. Warning: These nodes are deprecated, please use public endpoints instead.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The timestamp at which the blockchain node was first created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "connectionInfo": {
          "description": "Output only. The connection information used to interact with a blockchain node.",
          "readOnly": true,
          "$ref": "ConnectionInfo"
        },
        "updateTime": {
          "description": "Output only. The timestamp at which the blockchain node was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "User-provided key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. A status representing the state of the node.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "RUNNING",
            "ERROR",
            "UPDATING",
            "REPAIRING",
            "RECONCILING",
            "SYNCING"
          ],
          "enumDescriptions": [
            "The state has not been specified.",
            "The node has been requested and is in the process of being created.",
            "The existing node is undergoing deletion, but is not yet finished.",
            "The node is running and ready for use.",
            "The node is in an unexpected or errored state.",
            "The node is currently being updated.",
            "The node is currently being repaired.",
            "The node is currently being reconciled.",
            "The node is syncing, which is the process by which it obtains the latest block and current global state."
          ],
          "readOnly": true
        },
        "blockchainType": {
          "description": "Immutable. The blockchain type of the node.",
          "type": "string",
          "enum": [
            "BLOCKCHAIN_TYPE_UNSPECIFIED",
            "ETHEREUM"
          ],
          "enumDescriptions": [
            "Blockchain type has not been specified, but should be.",
            "The blockchain type is Ethereum."
          ]
        }
      },
      "description": "A representation of a blockchain node.",
      "type": "object",
      "id": "BlockchainNode"
    },
    "ValidatorConfig": {
      "id": "ValidatorConfig",
      "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client.",
      "type": "object",
      "properties": {
        "mevRelayUrls": {
          "items": {
            "type": "string"
          },
          "description": "URLs for MEV-relay services to use for block building. When set, a GCP-managed MEV-boost service is configured on the beacon client.",
          "type": "array"
        },
        "beaconFeeRecipient": {
          "description": "An Ethereum address which the beacon client will send fee rewards to if no recipient is configured in the validator client. See https://lighthouse-book.sigmaprime.io/suggested-fee-recipient.html or https://docs.prylabs.network/docs/execution-node/fee-recipient for examples of how this is used. Note that while this is often described as \"suggested\", as we run the execution node we can trust the execution node, and therefore this is considered enforced.",
          "type": "string"
        },
        "managedValidatorClient": {
          "description": "Immutable. When true, deploys a GCP-managed validator client alongside the beacon client.",
          "type": "boolean",
          "deprecated": true
        }
      }
    },
    "ConnectionInfo": {
      "properties": {
        "endpointInfo": {
          "$ref": "EndpointInfo",
          "readOnly": true,
          "description": "Output only. The endpoint information through which to interact with a blockchain node."
        },
        "serviceAttachment": {
          "description": "Output only. A service attachment that exposes a node, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ConnectionInfo",
      "description": "The connection information through which to interact with a blockchain node.",
      "type": "object"
    },
    "EthereumDetails": {
      "properties": {
        "apiEnableAdmin": {
          "description": "Immutable. Enables JSON-RPC access to functions in the `admin` namespace. Defaults to `false`.",
          "type": "boolean"
        },
        "validatorConfig": {
          "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client.",
          "$ref": "ValidatorConfig"
        },
        "gethDetails": {
          "$ref": "GethDetails",
          "description": "Details for the Geth execution client."
        },
        "executionClient": {
          "description": "Immutable. The execution client",
          "type": "string",
          "enum": [
            "EXECUTION_CLIENT_UNSPECIFIED",
            "GETH",
            "ERIGON"
          ],
          "enumDescriptions": [
            "Execution client has not been specified, but should be.",
            "Official Go implementation of the Ethereum protocol. See [go-ethereum](https://geth.ethereum.org/) for details.",
            "An implementation of Ethereum (execution client), on the efficiency frontier, written in Go. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon) for details."
          ]
        },
        "network": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "description": "Immutable. The Ethereum environment being accessed.",
          "type": "string",
          "enum": [
            "NETWORK_UNSPECIFIED",
            "MAINNET",
            "TESTNET_GOERLI_PRATER",
            "TESTNET_SEPOLIA",
            "TESTNET_HOLESKY"
          ],
          "enumDescriptions": [
            "The network has not been specified, but should be.",
            "The Ethereum Mainnet.",
            "Deprecated: The Ethereum Testnet based on Goerli protocol. Please use another test network.",
            "The Ethereum Testnet based on Sepolia/Bepolia protocol. See https://github.com/eth-clients/sepolia.",
            "The Ethereum Testnet based on Holesky specification. See https://github.com/eth-clients/holesky."
          ]
        },
        "apiEnableDebug": {
          "description": "Immutable. Enables JSON-RPC access to functions in the `debug` namespace. Defaults to `false`.",
          "type": "boolean"
        },
        "additionalEndpoints": {
          "description": "Output only. Ethereum-specific endpoint information.",
          "readOnly": true,
          "$ref": "EthereumEndpoints"
        },
        "nodeType": {
          "description": "Immutable. The type of Ethereum node.",
          "type": "string",
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "LIGHT",
            "FULL",
            "ARCHIVE"
          ],
          "enumDescriptions": [
            "Node type has not been specified, but should be.",
            "An Ethereum node that only downloads Ethereum block headers.",
            "Keeps a complete copy of the blockchain data, and contributes to the network by receiving, validating, and forwarding transactions.",
            "Holds the same data as full node as well as all of the blockchain's history state data dating back to the Genesis Block."
          ]
        },
        "consensusClient": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "description": "Immutable. The consensus client.",
          "type": "string",
          "enum": [
            "CONSENSUS_CLIENT_UNSPECIFIED",
            "LIGHTHOUSE",
            "ERIGON_EMBEDDED_CONSENSUS_LAYER"
          ],
          "enumDescriptions": [
            "Consensus client has not been specified, but should be.",
            "Consensus client implementation written in Rust, maintained by Sigma Prime. See [Lighthouse - Sigma Prime](https://lighthouse.sigmaprime.io/) for details.",
            "Erigon's embedded consensus client embedded in the execution client. Note this option is not currently available when creating new blockchain nodes. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon#embedded-consensus-layer) for details."
          ]
        }
      },
      "description": "Ethereum-specific blockchain node details.",
      "type": "object",
      "id": "EthereumDetails"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "GethDetails": {
      "properties": {
        "garbageCollectionMode": {
          "enumDescriptions": [
            "The garbage collection has not been specified.",
            "Configures Geth's garbage collection so that older data not needed for a full node is deleted. This is the default mode when creating a full node.",
            "Configures Geth's garbage collection so that old data is never deleted. This is the default mode when creating an archive node. This value can also be chosen when creating a full node in order to create a partial/recent archive node. See [Sync modes](https://geth.ethereum.org/docs/fundamentals/sync-modes) for more details."
          ],
          "description": "Immutable. Blockchain garbage collection mode.",
          "type": "string",
          "enum": [
            "GARBAGE_COLLECTION_MODE_UNSPECIFIED",
            "FULL",
            "ARCHIVE"
          ]
        }
      },
      "id": "GethDetails",
      "description": "Options for the Geth execution client. See [Command-line Options](https://geth.ethereum.org/docs/fundamentals/command-line-options) for more details.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ListBlockchainNodesResponse": {
      "id": "ListBlockchainNodesResponse",
      "description": "Message for response to listing blockchain nodes.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blockchainNodes": {
          "items": {
            "$ref": "BlockchainNode"
          },
          "description": "The list of nodes",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "blockchainnodeengine.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "blockchainnodeengine.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "blockchainnodeengine.projects.locations.operations.list"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "blockchainnodeengine.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            },
            "blockchainNodes": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "description": "Required. The fully qualified name of the blockchain node to delete. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single blockchain node.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}"
                },
                "get": {
                  "description": "Gets details of a single blockchain node.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully qualified name of the blockchain node to fetch. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "BlockchainNode"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "description": "Creates a new blockchain node in a given project and location.",
                  "path": "v1/{+parent}/blockchainNodes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.create",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "blockchainNodeId": {
                      "location": "query",
                      "description": "Required. ID of the requesting object.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "description": "Lists blockchain nodes in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.list",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Hint for how to order the results.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for `ListNodesRequest`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filtering results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/blockchainNodes",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBlockchainNodesResponse"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "description": "Updates the parameters of a single blockchain node.",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Blockchain node resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.patch",
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. A list of extra location types that should be used as conditions for controlling the visibility of the locations.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "blockchainnodeengine.projects.locations.list",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "blockchainnodeengine.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location."
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://blockchainnodeengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://blockchainnodeengine.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "version_module": true,
  "protocol": "rest",
  "version": "v1",
  "ownerDomain": "google.com",
  "revision": "20250507",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true
}