{
  "basePath": "",
  "rootUrl": "https://books.googleapis.com/",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "revision": "20260504",
  "discoveryVersion": "v1",
  "schemas": {
    "AnnotationsSummary": {
      "id": "AnnotationsSummary",
      "type": "object",
      "properties": {
        "layers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "limitType": {
                "type": "string"
              },
              "allowedCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "layerId": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              },
              "remainingCharacterCount": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "Offers": {
      "id": "Offers",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of offers.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    }
                  }
                }
              },
              "gservicesKey": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "Volumes": {
      "id": "Volumes",
      "type": "object",
      "properties": {
        "items": {
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "totalItems": {
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "ReadingPosition": {
      "id": "ReadingPosition",
      "type": "object",
      "properties": {
        "gbTextPosition": {
          "type": "string",
          "description": "Position in a volume for text-based content."
        },
        "pdfPosition": {
          "type": "string",
          "description": "Position in a PDF file."
        },
        "kind": {
          "description": "Resource type for a reading position.",
          "type": "string"
        },
        "volumeId": {
          "description": "Volume id associated with this reading position.",
          "type": "string"
        },
        "gbImagePosition": {
          "description": "Position in a volume for image-based content.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution)."
        },
        "epubCfiPosition": {
          "description": "Position in an EPUB as a CFI.",
          "type": "string"
        }
      }
    },
    "Volumeannotations": {
      "id": "Volumeannotations",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book).",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of volume annotations.",
          "items": {
            "$ref": "Volumeannotation"
          }
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of volume annotations found.",
          "format": "int32"
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "RequestAccessData": {
      "id": "RequestAccessData",
      "type": "object",
      "properties": {
        "downloadAccess": {
          "description": "A download access response.",
          "$ref": "DownloadAccessRestriction"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "concurrentAccess": {
          "$ref": "ConcurrentAccessRestriction",
          "description": "A concurrent access response."
        }
      }
    },
    "Metadata": {
      "properties": {
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "download_url": {
                "type": "string"
              },
              "language": {
                "type": "string"
              },
              "size": {
                "format": "int64",
                "type": "string"
              },
              "encrypted_key": {
                "type": "string"
              },
              "version": {
                "format": "int64",
                "type": "string"
              }
            }
          },
          "description": "A list of offline dictionary metadata.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "Metadata",
      "type": "object"
    },
    "Bookshelf": {
      "properties": {
        "created": {
          "type": "string",
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "access": {
          "type": "string",
          "description": "Whether this bookshelf is PUBLIC or PRIVATE."
        },
        "updated": {
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "volumeCount": {
          "description": "Number of volumes in this bookshelf.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for bookshelf metadata."
        },
        "description": {
          "description": "Description of this bookshelf.",
          "type": "string"
        },
        "id": {
          "description": "Id of this bookshelf, only unique by user.",
          "format": "int32",
          "type": "integer"
        },
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of this bookshelf."
        }
      },
      "id": "Bookshelf",
      "type": "object"
    },
    "Notification": {
      "id": "Notification",
      "type": "object",
      "properties": {
        "pcampaign_id": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "timeToExpireMs": {
          "format": "int64",
          "type": "string"
        },
        "doc_type": {
          "type": "string"
        },
        "notificationGroup": {
          "type": "string"
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "body": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "targetUrl": {
          "type": "string"
        },
        "notification_type": {
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "crmExperimentIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The list of crm experiment ids."
        },
        "dont_show_notification": {
          "type": "boolean"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        }
      }
    },
    "BooksCloudloadingResource": {
      "properties": {
        "volumeId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        },
        "author": {
          "type": "string"
        }
      },
      "id": "BooksCloudloadingResource",
      "type": "object"
    },
    "Series": {
      "id": "Series",
      "type": "object",
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "bannerImageUrl": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              },
              "title": {
                "type": "string"
              },
              "seriesFormatType": {
                "type": "string"
              },
              "subscriptionId": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "type": "object",
                "properties": {
                  "nextReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "currentReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      }
                    }
                  },
                  "cancelTime": {
                    "type": "string"
                  }
                }
              },
              "seriesId": {
                "type": "string"
              },
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "imageUrl": {
                "type": "string"
              },
              "seriesType": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      }
    },
    "FamilyInfo": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "membership": {
          "description": "Family membership info of the user that made the request.",
          "properties": {
            "ageGroup": {
              "description": "The age group of the user.",
              "type": "string"
            },
            "isInFamily": {
              "type": "boolean"
            },
            "acquirePermission": {
              "description": "Restrictions on user buying and acquiring content.",
              "type": "string"
            },
            "allowedMaturityRating": {
              "type": "string",
              "description": "The maximum allowed maturity rating for the user."
            },
            "role": {
              "type": "string",
              "description": "The role of the user in the family."
            }
          },
          "type": "object"
        }
      },
      "id": "FamilyInfo",
      "type": "object"
    },
    "Volumeannotation": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique id of this volume annotation."
        },
        "volumeId": {
          "type": "string",
          "description": "The Volume this annotation is for."
        },
        "annotationDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "pageIds": {
          "type": "array",
          "description": "Pages the annotation spans.",
          "items": {
            "type": "string"
          }
        },
        "layerId": {
          "type": "string",
          "description": "The Layer this annotation is for."
        },
        "annotationType": {
          "description": "The type of annotation this is.",
          "type": "string"
        },
        "annotationDataId": {
          "description": "The annotation data id for this volume annotation.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "contentRanges": {
          "properties": {
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "description": "The content ranges to identify the selected text.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "updated": {
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "data": {
          "description": "Data for this annotation.",
          "type": "string"
        }
      },
      "id": "Volumeannotation",
      "type": "object"
    },
    "Review": {
      "properties": {
        "source": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "description": "URL of the source of the review."
            },
            "description": {
              "description": "Name of the source.",
              "type": "string"
            },
            "extraDescription": {
              "description": "Extra text about the source of the review.",
              "type": "string"
            }
          },
          "description": "Information regarding the source of this review, when the review is not from a Google Books user."
        },
        "type": {
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER.",
          "type": "string"
        },
        "author": {
          "properties": {
            "displayName": {
              "description": "Name of this person.",
              "type": "string"
            }
          },
          "description": "Author of this review.",
          "type": "object"
        },
        "fullTextUrl": {
          "type": "string",
          "description": "URL for the full review text, for reviews gathered from the web."
        },
        "content": {
          "description": "Review text.",
          "type": "string"
        },
        "date": {
          "description": "Date of this review.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title for this review."
        },
        "volumeId": {
          "type": "string",
          "description": "Volume that this review is for."
        },
        "rating": {
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a review."
        }
      },
      "id": "Review",
      "type": "object"
    },
    "Volume": {
      "properties": {
        "volumeInfo": {
          "type": "object",
          "description": "General volume information.",
          "properties": {
            "publishedDate": {
              "description": "Date of publication. (In LITE projection.)",
              "type": "string"
            },
            "subtitle": {
              "type": "string",
              "description": "Volume subtitle. (In LITE projection.)"
            },
            "printedPageCount": {
              "type": "integer",
              "description": "Total number of printed pages in generated pdf representation.",
              "format": "int32"
            },
            "printType": {
              "type": "string",
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE."
            },
            "panelizationSummary": {
              "type": "object",
              "description": "A top-level summary of the panelization info in this volume.",
              "properties": {
                "containsEpubBubbles": {
                  "type": "boolean"
                },
                "epubBubbleVersion": {
                  "type": "string"
                },
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "imageBubbleVersion": {
                  "type": "string"
                }
              }
            },
            "description": {
              "type": "string",
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)"
            },
            "infoLink": {
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "ratingsCount": {
              "description": "The number of review ratings for this volume.",
              "format": "int32",
              "type": "integer"
            },
            "previewLink": {
              "description": "URL to preview this volume on the Google Books site.",
              "type": "string"
            },
            "contentVersion": {
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)",
              "type": "string"
            },
            "industryIdentifiers": {
              "type": "array",
              "description": "Industry standard identifiers for this volume.",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER."
                  },
                  "identifier": {
                    "description": "Industry specific volume identifier.",
                    "type": "string"
                  }
                }
              }
            },
            "allowAnonLogging": {
              "type": "boolean",
              "description": "Whether anonymous logging should be allowed."
            },
            "title": {
              "type": "string",
              "description": "Volume title. (In LITE projection.)"
            },
            "samplePageCount": {
              "type": "integer",
              "description": "Total number of sample pages as per publisher metadata.",
              "format": "int32"
            },
            "averageRating": {
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "format": "double",
              "type": "number"
            },
            "maturityRating": {
              "type": "string"
            },
            "pageCount": {
              "type": "integer",
              "description": "Total number of pages as per publisher metadata.",
              "format": "int32"
            },
            "language": {
              "type": "string",
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc."
            },
            "comicsContent": {
              "type": "boolean",
              "description": "Whether the volume has comics content."
            },
            "publisher": {
              "type": "string",
              "description": "Publisher of this volume. (In LITE projection.)"
            },
            "imageLinks": {
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)",
              "properties": {
                "large": {
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                  "type": "string"
                },
                "smallThumbnail": {
                  "type": "string",
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)"
                },
                "thumbnail": {
                  "type": "string",
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)"
                },
                "extraLarge": {
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)",
                  "type": "string"
                },
                "small": {
                  "type": "string",
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)"
                },
                "medium": {
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "mainCategory": {
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
              "type": "string"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "categories": {
              "items": {
                "type": "string"
              },
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
              "type": "array"
            },
            "canonicalVolumeLink": {
              "type": "string",
              "description": "Canonical URL for a volume. (In LITE projection.)"
            },
            "readingModes": {
              "description": "The reading modes available for this volume.",
              "properties": {
                "text": {
                  "type": "boolean"
                },
                "image": {
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "authors": {
              "items": {
                "type": "string"
              },
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)",
              "type": "array"
            },
            "dimensions": {
              "properties": {
                "width": {
                  "type": "string",
                  "description": "Width of this volume (in cm)."
                },
                "thickness": {
                  "description": "Thickness of this volume (in cm).",
                  "type": "string"
                },
                "height": {
                  "description": "Height or length of this volume (in cm).",
                  "type": "string"
                }
              },
              "description": "Physical dimensions of this volume.",
              "type": "object"
            }
          }
        },
        "recommendedInfo": {
          "type": "object",
          "properties": {
            "explanation": {
              "description": "A text explaining why this volume is recommended.",
              "type": "string"
            }
          },
          "description": "Recommendation related information for this volume."
        },
        "saleInfo": {
          "type": "object",
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "properties": {
            "listPrice": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number",
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "format": "double"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "Suggested retail price. (In LITE projection.)"
            },
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
              "type": "string"
            },
            "isEbook": {
              "type": "boolean",
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf)."
            },
            "retailPrice": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number",
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "format": "double"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)"
                }
              },
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)"
            },
            "saleability": {
              "type": "string",
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER."
            },
            "buyLink": {
              "type": "string",
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)"
            },
            "offers": {
              "description": "Offers available for this volume (sales and rentals).",
              "items": {
                "type": "object",
                "properties": {
                  "giftable": {
                    "type": "boolean",
                    "description": "Indicates whether the offer is giftable."
                  },
                  "finskyOfferType": {
                    "type": "integer",
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                    "format": "int32"
                  },
                  "listPrice": {
                    "type": "object",
                    "description": "Offer list (=undiscounted) price in Micros.",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "retailPrice": {
                    "description": "Offer retail (=discounted) price in Micros",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "type": "object"
                  },
                  "rentalDuration": {
                    "type": "object",
                    "description": "The rental duration (for rental offers only).",
                    "properties": {
                      "count": {
                        "format": "double",
                        "type": "number"
                      },
                      "unit": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "type": "array"
            },
            "onSaleDate": {
              "type": "string",
              "description": "The date on which this book is available for sale."
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)"
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource. (In LITE projection.)"
        },
        "layerInfo": {
          "properties": {
            "layers": {
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "items": {
                "type": "object",
                "properties": {
                  "volumeAnnotationsVersion": {
                    "type": "string",
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
                  },
                  "layerId": {
                    "type": "string",
                    "description": "The layer id of this layer (e.g. \"geo\")."
                  }
                }
              },
              "type": "array"
            }
          },
          "description": "What layers exist in this volume and high level information about them.",
          "type": "object"
        },
        "accessInfo": {
          "type": "object",
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "properties": {
            "accessViewStatus": {
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
              "type": "string"
            },
            "publicDomain": {
              "type": "boolean",
              "description": "Whether or not this book is public domain in the country listed above."
            },
            "embeddable": {
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API.",
              "type": "boolean"
            },
            "explicitOfflineLicenseManagement": {
              "type": "boolean",
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it."
            },
            "downloadAccess": {
              "description": "Information about a volume's download license access restrictions.",
              "$ref": "DownloadAccessRestriction"
            },
            "quoteSharingAllowed": {
              "type": "boolean",
              "description": "Whether quote sharing is allowed for this volume."
            },
            "webReaderLink": {
              "type": "string",
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes."
            },
            "viewability": {
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES.",
              "type": "string"
            },
            "textToSpeechPermission": {
              "type": "string",
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED."
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            },
            "pdf": {
              "description": "Information about pdf content. (In LITE projection.)",
              "properties": {
                "downloadLink": {
                  "description": "URL to download pdf. (In LITE projection.)",
                  "type": "string"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)"
                },
                "isAvailable": {
                  "type": "boolean",
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)"
                }
              },
              "type": "object"
            },
            "driveImportedContentLink": {
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive.",
              "type": "string"
            },
            "epub": {
              "type": "object",
              "properties": {
                "isAvailable": {
                  "type": "boolean",
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)"
                },
                "downloadLink": {
                  "type": "string",
                  "description": "URL to download epub. (In LITE projection.)"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)"
                }
              },
              "description": "Information about epub content. (In LITE projection.)"
            },
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
            }
          }
        },
        "kind": {
          "description": "Resource type for a volume. (In LITE projection.)",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for a volume. (In LITE projection.)",
          "type": "string"
        },
        "searchInfo": {
          "properties": {
            "textSnippet": {
              "description": "A text snippet containing the search query.",
              "type": "string"
            }
          },
          "description": "Search result information related to this volume.",
          "type": "object"
        },
        "userInfo": {
          "type": "object",
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "properties": {
            "rentalState": {
              "type": "string",
              "description": "Whether this book is an active or an expired rental."
            },
            "review": {
              "$ref": "Review",
              "description": "This user's review of this volume, if one exists."
            },
            "copy": {
              "properties": {
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "limitType": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                },
                "remainingCharacterCount": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Copy/Paste accounting information.",
              "type": "object"
            },
            "isFamilySharingDisabledByFop": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            },
            "isUploaded": {
              "description": "Whether or not this volume was user uploaded.",
              "type": "boolean"
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "isPurchased": {
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            },
            "isFamilySharedToUser": {
              "type": "boolean",
              "description": "Whether or not the user received this volume through family sharing."
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "userUploadedVolumeInfo": {
              "type": "object",
              "properties": {
                "processingState": {
                  "type": "string"
                }
              }
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "familySharing": {
              "description": "Information on the ability to share with the family.",
              "properties": {
                "familyRole": {
                  "type": "string",
                  "description": "The role of the user in the family."
                },
                "isSharingDisabledByFop": {
                  "type": "boolean",
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet."
                },
                "isSharingAllowed": {
                  "type": "boolean",
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action."
                }
              },
              "type": "object"
            },
            "acquiredTime": {
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
              "type": "string"
            },
            "acquisitionType": {
              "description": "How this volume was acquired.",
              "format": "int32",
              "type": "integer"
            },
            "entitlementType": {
              "type": "integer",
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "format": "int32"
            },
            "updated": {
              "type": "string",
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format)."
            },
            "rentalPeriod": {
              "type": "object",
              "properties": {
                "endUtcSec": {
                  "format": "int64",
                  "type": "string"
                },
                "startUtcSec": {
                  "type": "string",
                  "format": "int64"
                }
              },
              "description": "Period during this book is/was a valid rental."
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            }
          }
        }
      },
      "id": "Volume",
      "type": "object"
    },
    "Discoveryclusters": {
      "properties": {
        "totalClusters": {
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "clusters": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "subTitle": {
                "type": "string"
              },
              "banner_with_content_container": {
                "type": "object",
                "properties": {
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  }
                }
              },
              "totalVolumes": {
                "format": "int32",
                "type": "integer"
              },
              "title": {
                "type": "string"
              },
              "volumes": {
                "type": "array",
                "items": {
                  "$ref": "Volume"
                }
              },
              "uid": {
                "type": "string"
              }
            }
          }
        }
      },
      "id": "Discoveryclusters",
      "type": "object"
    },
    "Usersettings": {
      "id": "Usersettings",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "notesExport": {
          "properties": {
            "isEnabled": {
              "type": "boolean"
            },
            "folderName": {
              "type": "string"
            }
          },
          "description": "User settings in sub-objects, each for different purposes.",
          "type": "object"
        },
        "notification": {
          "type": "object",
          "properties": {
            "priceDrop": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "matchMyInterests": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromSeries": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromAuthors": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "Annotation": {
      "properties": {
        "data": {
          "description": "User-created data for this annotation.",
          "type": "string"
        },
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string"
        },
        "clientVersionRanges": {
          "description": "Selection ranges sent from the client.",
          "properties": {
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation sent by client."
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation sent by client."
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object"
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this annotation was modified.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string"
        },
        "currentVersionRanges": {
          "description": "Selection ranges for the most recent content version.",
          "properties": {
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "layerId": {
          "type": "string",
          "description": "The layer this annotation is for."
        },
        "afterSelectedText": {
          "type": "string",
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "id": {
          "type": "string",
          "description": "Id of this annotation, in the form of a GUID."
        },
        "volumeId": {
          "type": "string",
          "description": "The volume that this annotation belongs to."
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "allowedCharacterCount": {
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32",
              "type": "integer"
            },
            "limitType": {
              "type": "string",
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer."
            },
            "remainingCharacterCount": {
              "type": "integer",
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32"
            }
          }
        },
        "pageIds": {
          "items": {
            "type": "string"
          },
          "description": "Pages that this annotation spans.",
          "type": "array"
        },
        "beforeSelectedText": {
          "type": "string",
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        }
      },
      "id": "Annotation",
      "type": "object"
    },
    "DictionaryAnnotationdata": {
      "properties": {
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id for this data. *"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "encodedData": {
          "type": "string",
          "description": "Base64 encoded data for this annotation data.",
          "format": "byte"
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        },
        "data": {
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated.",
          "$ref": "Dictlayerdata"
        }
      },
      "id": "DictionaryAnnotationdata",
      "type": "object"
    },
    "Volumeseriesinfo": {
      "properties": {
        "shortSeriesBookTitle": {
          "type": "string",
          "description": "Short book title in the context of the series."
        },
        "volumeSeries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "seriesBookType": {
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                "type": "string"
              },
              "seriesId": {
                "description": "The series id.",
                "type": "string"
              },
              "orderNumber": {
                "description": "The book order number in the series.",
                "format": "int32",
                "type": "integer"
              },
              "issue": {
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "items": {
                  "type": "object",
                  "properties": {
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  }
                },
                "type": "array"
              }
            }
          }
        },
        "bookDisplayNumber": {
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "id": "Volumeseriesinfo",
      "type": "object"
    },
    "Bookshelves": {
      "id": "Bookshelves",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Bookshelf"
          },
          "description": "A list of bookshelves."
        }
      }
    },
    "BooksAnnotationsRange": {
      "properties": {
        "startOffset": {
          "type": "string",
          "description": "The offset from the starting position."
        },
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        },
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "description": "The offset from the ending position."
        }
      },
      "id": "BooksAnnotationsRange",
      "type": "object"
    },
    "Layersummaries": {
      "id": "Layersummaries",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of layer summary items.",
          "items": {
            "$ref": "Layersummary"
          }
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of layer summaries found.",
          "format": "int32"
        }
      }
    },
    "Geolayerdata": {
      "properties": {
        "geo": {
          "type": "object",
          "properties": {
            "latitude": {
              "description": "The latitude of the location.",
              "format": "double",
              "type": "number"
            },
            "boundary": {
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "mapType": {
              "type": "string",
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN"
            },
            "viewport": {
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle.",
              "properties": {
                "lo": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "format": "double",
                      "type": "number"
                    },
                    "latitude": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                },
                "hi": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "format": "double",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                }
              },
              "type": "object"
            },
            "cachePolicy": {
              "type": "string",
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER"
            },
            "longitude": {
              "description": "The longitude of the location.",
              "format": "double",
              "type": "number"
            },
            "zoom": {
              "type": "integer",
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "format": "int32"
            },
            "countryCode": {
              "type": "string",
              "description": "The country code of the location."
            }
          }
        },
        "kind": {
          "type": "string"
        },
        "common": {
          "type": "object",
          "properties": {
            "snippet": {
              "type": "string",
              "description": "The description for this location."
            },
            "lang": {
              "type": "string",
              "description": "The language of the information url and description."
            },
            "title": {
              "type": "string",
              "description": "The display title and localized canonical name to use when searching for this entity on Google search."
            },
            "previewImageUrl": {
              "type": "string",
              "description": "The URL for the preview image information."
            },
            "snippetUrl": {
              "description": "The URL for information for this location. Ex: wikipedia link.",
              "type": "string"
            }
          }
        }
      },
      "id": "Geolayerdata",
      "type": "object"
    },
    "DownloadAccesses": {
      "id": "DownloadAccesses",
      "type": "object",
      "properties": {
        "downloadAccessList": {
          "items": {
            "$ref": "DownloadAccessRestriction"
          },
          "description": "A list of download access responses.",
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "Annotations": {
      "id": "Annotations",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of annotations.",
          "items": {
            "$ref": "Annotation"
          }
        },
        "totalItems": {
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        }
      }
    },
    "Seriesmembership": {
      "properties": {
        "member": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        }
      },
      "id": "Seriesmembership",
      "type": "object"
    },
    "Annotationsdata": {
      "properties": {
        "kind": {
          "description": "Resource type",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of Annotation Data.",
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of volume annotations found.",
          "format": "int32"
        }
      },
      "id": "Annotationsdata",
      "type": "object"
    },
    "GeoAnnotationdata": {
      "id": "GeoAnnotationdata",
      "type": "object",
      "properties": {
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "format": "byte",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        },
        "data": {
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated.",
          "$ref": "Geolayerdata"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        }
      }
    },
    "DownloadAccessRestriction": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "justAcquired": {
          "description": "If deviceAllowed, whether access was just acquired with this request.",
          "type": "boolean"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "downloadsAcquired": {
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "format": "int32",
          "type": "integer"
        },
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean"
        },
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "maxDownloadDevices": {
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "format": "int32",
          "type": "integer"
        },
        "deviceAllowed": {
          "type": "boolean",
          "description": "If restricted, whether access is granted for this (user, device, volume)."
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        }
      },
      "id": "DownloadAccessRestriction",
      "type": "object"
    },
    "Layersummary": {
      "properties": {
        "dataCount": {
          "description": "The number of data items for this layer.",
          "format": "int32",
          "type": "integer"
        },
        "annotationTypes": {
          "description": "The list of annotation types contained for this layer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format)."
        },
        "annotationsDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "volumeAnnotationsVersion": {
          "type": "string",
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "annotationCount": {
          "description": "The number of annotations for this layer.",
          "format": "int32",
          "type": "integer"
        },
        "contentVersion": {
          "description": "The content version this resource is for.",
          "type": "string"
        },
        "layerId": {
          "description": "The layer id for this summary.",
          "type": "string"
        },
        "annotationsLink": {
          "description": "The link to get the annotations for this layer.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique id of this layer summary."
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id this resource is for."
        }
      },
      "id": "Layersummary",
      "type": "object"
    },
    "ConcurrentAccessRestriction": {
      "id": "ConcurrentAccessRestriction",
      "type": "object",
      "properties": {
        "timeWindowSeconds": {
          "description": "Time in seconds for license auto-expiration.",
          "format": "int32",
          "type": "integer"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "restricted": {
          "type": "boolean",
          "description": "Whether this volume has any concurrent access restrictions."
        },
        "signature": {
          "type": "string",
          "description": "Response signature."
        },
        "maxConcurrentDevices": {
          "type": "integer",
          "description": "The maximum number of concurrent access licenses for this volume.",
          "format": "int32"
        },
        "nonce": {
          "type": "string",
          "description": "Client nonce for verification. Download access and client-validation only."
        },
        "reasonCode": {
          "type": "string",
          "description": "Error/warning reason code."
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "deviceAllowed": {
          "type": "boolean",
          "description": "Whether access is granted for this (user, device, volume)."
        }
      }
    },
    "Category": {
      "id": "Category",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "categoryId": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "description": "A list of onboarding categories.",
          "type": "array"
        }
      }
    },
    "Volume2": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "nextPageToken": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          }
        }
      },
      "id": "Volume2",
      "type": "object"
    },
    "Dictlayerdata": {
      "id": "Dictlayerdata",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "common": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "The display title and localized canonical name to use when searching for this entity on Google search."
            }
          }
        },
        "dict": {
          "type": "object",
          "properties": {
            "words": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "object",
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb).",
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "attribution": {
                        "type": "string"
                      }
                    }
                  },
                  "senses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "examples": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "definition": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "syllabification": {
                          "type": "string"
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "conjugations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "synonyms": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "attribution": {
                                    "type": "string"
                                  }
                                }
                              },
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "derivatives": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "source": {
              "properties": {
                "url": {
                  "type": "string"
                },
                "attribution": {
                  "type": "string"
                }
              },
              "description": "The source, url and attribution for this dictionary data.",
              "type": "object"
            }
          }
        }
      }
    },
    "BooksVolumesRecommendedRateResponse": {
      "id": "BooksVolumesRecommendedRateResponse",
      "type": "object",
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      }
    }
  },
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "ownerDomain": "google.com",
  "version_module": true,
  "id": "books:v1",
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "resources": {
    "layers": {
      "resources": {
        "annotationData": {
          "methods": {
            "get": {
              "id": "books.layers.annotationData.get",
              "description": "Gets the annotation data.",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "response": {
                "$ref": "DictionaryAnnotationdata"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "httpMethod": "GET",
              "parameters": {
                "annotationDataId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the annotation data to retrieve."
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "description": "The volume to retrieve annotations for.",
                  "type": "string"
                },
                "w": {
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "allowWebDefinitions": {
                  "location": "query",
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "type": "boolean"
                },
                "h": {
                  "type": "integer",
                  "location": "query",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "format": "int32"
                },
                "layerId": {
                  "type": "string",
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true
                },
                "locale": {
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string"
                },
                "contentVersion": {
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "description": "The content version for the volume you are trying to retrieve."
                },
                "scale": {
                  "minimum": "0",
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The requested scale for the image."
                }
              },
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ]
            },
            "list": {
              "id": "books.layers.annotationData.list",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "description": "Gets the annotation data for a volume and layer.",
              "response": {
                "$ref": "Annotationsdata"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "w": {
                  "location": "query",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "format": "int32",
                  "type": "integer"
                },
                "maxResults": {
                  "type": "integer",
                  "maximum": "200",
                  "description": "Maximum number of results to return",
                  "minimum": "0",
                  "location": "query",
                  "format": "uint32"
                },
                "scale": {
                  "description": "The requested scale for the image.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "minimum": "0"
                },
                "annotationDataId": {
                  "location": "query",
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query",
                  "type": "string"
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The volume to retrieve annotation data for."
                },
                "h": {
                  "location": "query",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "format": "int32",
                  "type": "integer"
                },
                "layerId": {
                  "type": "string",
                  "description": "The ID for the layer to get the annotation data.",
                  "location": "path",
                  "required": true
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "contentVersion": {
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "description": "The content version for the requested volume."
                }
              },
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ]
            }
          }
        },
        "volumeAnnotations": {
          "methods": {
            "get": {
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "description": "Gets the volume annotation.",
              "id": "books.layers.volumeAnnotations.get",
              "response": {
                "$ref": "Volumeannotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "parameters": {
                "volumeId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The volume to retrieve annotations for."
                },
                "layerId": {
                  "type": "string",
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "annotationId": {
                  "description": "The ID of the volume annotation to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "locale": {
                  "type": "string",
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'."
                }
              },
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationId"
              ]
            },
            "list": {
              "parameters": {
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "locale": {
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string"
                },
                "contentVersion": {
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "description": "The content version for the requested volume."
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updatedMin": {
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query"
                },
                "showDeleted": {
                  "location": "query",
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "type": "boolean"
                },
                "startOffset": {
                  "type": "string",
                  "description": "The start offset to start retrieving data from.",
                  "location": "query"
                },
                "endPosition": {
                  "type": "string",
                  "location": "query",
                  "description": "The end position to end retrieving data from."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "type": "integer",
                  "maximum": "200",
                  "location": "query",
                  "format": "uint32",
                  "minimum": "0"
                },
                "endOffset": {
                  "description": "The end offset to end retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "startPosition": {
                  "location": "query",
                  "description": "The start position to start retrieving data from.",
                  "type": "string"
                },
                "volumeAnnotationsVersion": {
                  "type": "string",
                  "description": "The version of the volume annotations that you are requesting.",
                  "location": "query"
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                }
              },
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Volumeannotations"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Gets the volume annotations for a volume and layer.",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "id": "books.layers.volumeAnnotations.list"
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "books.layers.get",
          "flatPath": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "description": "Gets the layer summary for a volume.",
          "response": {
            "$ref": "Layersummary"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "parameters": {
            "contentVersion": {
              "location": "query",
              "description": "The content version for the requested volume.",
              "type": "string"
            },
            "summaryId": {
              "type": "string",
              "description": "The ID for the layer to get the summary for.",
              "location": "path",
              "required": true
            },
            "volumeId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The volume to retrieve layers for."
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "volumeId",
            "summaryId"
          ]
        },
        "list": {
          "response": {
            "$ref": "Layersummaries"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "List the layer summaries for a volume.",
          "flatPath": "books/v1/volumes/{volumeId}/layersummary",
          "id": "books.layers.list",
          "parameters": {
            "volumeId": {
              "description": "The volume to retrieve layers for.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value of the nextToken from the previous page."
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "location": "query",
              "maximum": "200",
              "type": "integer",
              "description": "Maximum number of results to return"
            }
          },
          "parameterOrder": [
            "volumeId"
          ],
          "path": "books/v1/volumes/{volumeId}/layersummary",
          "httpMethod": "GET"
        }
      }
    },
    "bookshelves": {
      "methods": {
        "list": {
          "flatPath": "books/v1/users/{userId}/bookshelves",
          "description": "Retrieves a list of public bookshelves for the specified user.",
          "id": "books.bookshelves.list",
          "response": {
            "$ref": "Bookshelves"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "path": "books/v1/users/{userId}/bookshelves",
          "parameters": {
            "userId": {
              "location": "path",
              "required": true,
              "description": "ID of user for whom to retrieve bookshelves.",
              "type": "string"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "userId"
          ]
        },
        "get": {
          "response": {
            "$ref": "Bookshelf"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
[...]
