{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "Layersummaries": {
      "type": "object",
      "id": "Layersummaries",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Layersummary"
          },
          "description": "A list of layer summary items."
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of layer summaries found."
        }
      }
    },
    "Notification": {
      "id": "Notification",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "dont_show_notification": {
          "type": "boolean"
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "pcampaign_id": {
          "type": "string"
        },
        "doc_type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "notificationGroup": {
          "type": "string"
        },
        "targetUrl": {
          "type": "string"
        },
        "timeToExpireMs": {
          "type": "string",
          "format": "int64"
        },
        "reason": {
          "type": "string"
        },
        "notification_type": {
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        },
        "crmExperimentIds": {
          "type": "array",
          "description": "The list of crm experiment ids.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "Volumeseriesinfo": {
      "type": "object",
      "id": "Volumeseriesinfo",
      "properties": {
        "shortSeriesBookTitle": {
          "type": "string",
          "description": "Short book title in the context of the series."
        },
        "bookDisplayNumber": {
          "type": "string",
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "volumeSeries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "seriesBookType": {
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                "type": "string"
              },
              "orderNumber": {
                "description": "The book order number in the series.",
                "format": "int32",
                "type": "integer"
              },
              "issue": {
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "items": {
                  "type": "object",
                  "properties": {
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  }
                },
                "type": "array"
              },
              "seriesId": {
                "type": "string",
                "description": "The series id."
              }
            }
          }
        }
      }
    },
    "Layersummary": {
      "id": "Layersummary",
      "properties": {
        "annotationsDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
          "type": "string"
        },
        "dataCount": {
          "description": "The number of data items for this layer.",
          "format": "int32",
          "type": "integer"
        },
        "annotationCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of annotations for this layer."
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id this resource is for."
        },
        "annotationTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of annotation types contained for this layer."
        },
        "id": {
          "type": "string",
          "description": "Unique id of this layer summary."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "contentVersion": {
          "type": "string",
          "description": "The content version this resource is for."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationsLink": {
          "type": "string",
          "description": "The link to get the annotations for this layer."
        },
        "layerId": {
          "type": "string",
          "description": "The layer id for this summary."
        }
      },
      "type": "object"
    },
    "ConcurrentAccessRestriction": {
      "id": "ConcurrentAccessRestriction",
      "properties": {
        "maxConcurrentDevices": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of concurrent access licenses for this volume."
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "timeWindowSeconds": {
          "description": "Time in seconds for license auto-expiration.",
          "format": "int32",
          "type": "integer"
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string"
        },
        "restricted": {
          "description": "Whether this volume has any concurrent access restrictions.",
          "type": "boolean"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "nonce": {
          "type": "string",
          "description": "Client nonce for verification. Download access and client-validation only."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volume": {
      "id": "Volume",
      "properties": {
        "volumeInfo": {
          "type": "object",
          "description": "General volume information.",
          "properties": {
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc."
            },
            "panelizationSummary": {
              "description": "A top-level summary of the panelization info in this volume.",
              "properties": {
                "imageBubbleVersion": {
                  "type": "string"
                },
                "epubBubbleVersion": {
                  "type": "string"
                },
                "containsEpubBubbles": {
                  "type": "boolean"
                },
                "containsImageBubbles": {
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "infoLink": {
              "type": "string",
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)"
            },
            "averageRating": {
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "type": "number",
              "format": "double"
            },
            "printedPageCount": {
              "description": "Total number of printed pages in generated pdf representation.",
              "format": "int32",
              "type": "integer"
            },
            "mainCategory": {
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
              "type": "string"
            },
            "pageCount": {
              "description": "Total number of pages as per publisher metadata.",
              "format": "int32",
              "type": "integer"
            },
            "imageLinks": {
              "type": "object",
              "properties": {
                "thumbnail": {
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                  "type": "string"
                },
                "extraLarge": {
                  "type": "string",
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)"
                },
                "medium": {
                  "type": "string",
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)"
                },
                "large": {
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                  "type": "string"
                },
                "small": {
                  "type": "string",
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)"
                },
                "smallThumbnail": {
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                  "type": "string"
                }
              },
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)"
            },
            "comicsContent": {
              "type": "boolean",
              "description": "Whether the volume has comics content."
            },
            "industryIdentifiers": {
              "description": "Industry standard identifiers for this volume.",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER.",
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Industry specific volume identifier."
                  }
                }
              },
              "type": "array"
            },
            "maturityRating": {
              "type": "string"
            },
            "ratingsCount": {
              "format": "int32",
              "type": "integer",
              "description": "The number of review ratings for this volume."
            },
            "canonicalVolumeLink": {
              "type": "string",
              "description": "Canonical URL for a volume. (In LITE projection.)"
            },
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            },
            "description": {
              "type": "string",
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)"
            },
            "publishedDate": {
              "type": "string",
              "description": "Date of publication. (In LITE projection.)"
            },
            "samplePageCount": {
              "format": "int32",
              "type": "integer",
              "description": "Total number of sample pages as per publisher metadata."
            },
            "subtitle": {
              "description": "Volume subtitle. (In LITE projection.)",
              "type": "string"
            },
            "previewLink": {
              "type": "string",
              "description": "URL to preview this volume on the Google Books site."
            },
            "contentVersion": {
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)",
              "type": "string"
            },
            "authors": {
              "type": "array",
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)",
              "items": {
                "type": "string"
              }
            },
            "dimensions": {
              "type": "object",
              "description": "Physical dimensions of this volume.",
              "properties": {
                "thickness": {
                  "description": "Thickness of this volume (in cm).",
                  "type": "string"
                },
                "height": {
                  "type": "string",
                  "description": "Height or length of this volume (in cm)."
                },
                "width": {
                  "description": "Width of this volume (in cm).",
                  "type": "string"
                }
              }
            },
            "readingModes": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "boolean"
                },
                "image": {
                  "type": "boolean"
                }
              },
              "description": "The reading modes available for this volume."
            },
            "publisher": {
              "type": "string",
              "description": "Publisher of this volume. (In LITE projection.)"
            },
            "title": {
              "type": "string",
              "description": "Volume title. (In LITE projection.)"
            },
            "printType": {
              "type": "string",
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE."
            },
            "language": {
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc.",
              "type": "string"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            }
          }
        },
        "searchInfo": {
          "description": "Search result information related to this volume.",
          "properties": {
            "textSnippet": {
              "type": "string",
              "description": "A text snippet containing the search query."
            }
          },
          "type": "object"
        },
        "selfLink": {
          "description": "URL to this resource. (In LITE projection.)",
          "type": "string"
        },
        "recommendedInfo": {
          "properties": {
            "explanation": {
              "description": "A text explaining why this volume is recommended.",
              "type": "string"
            }
          },
          "description": "Recommendation related information for this volume.",
          "type": "object"
        },
        "kind": {
          "description": "Resource type for a volume. (In LITE projection.)",
          "type": "string"
        },
        "userInfo": {
          "type": "object",
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "properties": {
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "isUploaded": {
              "type": "boolean",
              "description": "Whether or not this volume was user uploaded."
            },
            "entitlementType": {
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "type": "integer",
              "format": "int32"
            },
            "isFamilySharingDisabledByFop": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "acquisitionType": {
              "description": "How this volume was acquired.",
              "format": "int32",
              "type": "integer"
            },
            "isPurchased": {
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            },
            "copy": {
              "type": "object",
              "description": "Copy/Paste accounting information.",
              "properties": {
                "remainingCharacterCount": {
                  "format": "int32",
                  "type": "integer"
                },
                "limitType": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                },
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "acquiredTime": {
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
              "type": "string"
            },
            "userUploadedVolumeInfo": {
              "type": "object",
              "properties": {
                "processingState": {
                  "type": "string"
                }
              }
            },
            "rentalPeriod": {
              "type": "object",
              "properties": {
                "startUtcSec": {
                  "format": "int64",
                  "type": "string"
                },
                "endUtcSec": {
                  "format": "int64",
                  "type": "string"
                }
              },
              "description": "Period during this book is/was a valid rental."
            },
            "review": {
              "$ref": "Review",
              "description": "This user's review of this volume, if one exists."
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "updated": {
              "type": "string",
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format)."
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "familySharing": {
              "type": "object",
              "description": "Information on the ability to share with the family.",
              "properties": {
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                },
                "isSharingDisabledByFop": {
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                  "type": "boolean"
                },
                "isSharingAllowed": {
                  "type": "boolean",
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action."
                }
              }
            },
            "rentalState": {
              "type": "string",
              "description": "Whether this book is an active or an expired rental."
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            }
          }
        },
        "accessInfo": {
          "properties": {
            "viewability": {
              "type": "string",
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES."
            },
            "quoteSharingAllowed": {
              "description": "Whether quote sharing is allowed for this volume.",
              "type": "boolean"
            },
            "accessViewStatus": {
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
              "type": "string"
            },
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
            },
            "publicDomain": {
              "type": "boolean",
              "description": "Whether or not this book is public domain in the country listed above."
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            },
            "explicitOfflineLicenseManagement": {
              "type": "boolean",
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it."
            },
            "textToSpeechPermission": {
              "type": "string",
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED."
            },
            "webReaderLink": {
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes.",
              "type": "string"
            },
            "downloadAccess": {
              "description": "Information about a volume's download license access restrictions.",
              "$ref": "DownloadAccessRestriction"
            },
            "epub": {
              "type": "object",
              "description": "Information about epub content. (In LITE projection.)",
              "properties": {
                "downloadLink": {
                  "type": "string",
                  "description": "URL to download epub. (In LITE projection.)"
                },
                "isAvailable": {
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)"
                }
              }
            },
            "pdf": {
              "type": "object",
              "properties": {
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)",
                  "type": "string"
                },
                "downloadLink": {
                  "description": "URL to download pdf. (In LITE projection.)",
                  "type": "string"
                },
                "isAvailable": {
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                }
              },
              "description": "Information about pdf content. (In LITE projection.)"
            },
            "driveImportedContentLink": {
              "type": "string",
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive."
            },
            "embeddable": {
              "type": "boolean",
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API."
            }
          },
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "type": "object"
        },
        "id": {
          "description": "Unique identifier for a volume. (In LITE projection.)",
          "type": "string"
        },
        "layerInfo": {
          "properties": {
            "layers": {
              "items": {
                "type": "object",
                "properties": {
                  "layerId": {
                    "description": "The layer id of this layer (e.g. \"geo\").",
                    "type": "string"
                  },
                  "volumeAnnotationsVersion": {
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
                    "type": "string"
                  }
                }
              },
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "type": "array"
            }
          },
          "description": "What layers exist in this volume and high level information about them.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)"
        },
        "saleInfo": {
          "type": "object",
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "properties": {
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
              "type": "string"
            },
            "isEbook": {
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
              "type": "boolean"
            },
            "buyLink": {
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "offers": {
              "description": "Offers available for this volume (sales and rentals).",
              "items": {
                "type": "object",
                "properties": {
                  "giftable": {
                    "type": "boolean",
                    "description": "Indicates whether the offer is giftable."
                  },
                  "listPrice": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      }
                    },
                    "description": "Offer list (=undiscounted) price in Micros."
                  },
                  "retailPrice": {
                    "description": "Offer retail (=discounted) price in Micros",
                    "properties": {
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "rentalDuration": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "format": "double",
                        "type": "number"
                      },
                      "unit": {
                        "type": "string"
                      }
                    },
                    "description": "The rental duration (for rental offers only)."
                  },
                  "finskyOfferType": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)"
                  }
                }
              },
              "type": "array"
            },
            "listPrice": {
              "type": "object",
              "properties": {
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                },
                "amount": {
                  "format": "double",
                  "type": "number",
                  "description": "Amount in the currency listed below. (In LITE projection.)"
                }
              },
              "description": "Suggested retail price. (In LITE projection.)"
            },
            "onSaleDate": {
              "description": "The date on which this book is available for sale.",
              "type": "string"
            },
            "saleability": {
              "type": "string",
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER."
            },
            "retailPrice": {
              "type": "object",
              "properties": {
                "amount": {
                  "format": "double",
                  "type": "number",
                  "description": "Amount in the currency listed below. (In LITE projection.)"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)"
            }
          }
        }
      },
      "type": "object"
    },
    "Volumeannotations": {
      "id": "Volumeannotations",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "items": {
          "description": "A list of volume annotations.",
          "items": {
            "$ref": "Volumeannotation"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book)."
        },
        "kind": {
          "type": "string",
          "description": "Resource type"
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BooksAnnotationsRange": {
      "type": "object",
      "id": "BooksAnnotationsRange",
      "properties": {
        "startPosition": {
          "type": "string",
          "description": "The starting position for the range."
        },
        "startOffset": {
          "type": "string",
          "description": "The offset from the starting position."
        },
        "endOffset": {
          "type": "string",
          "description": "The offset from the ending position."
        },
        "endPosition": {
          "type": "string",
          "description": "The ending position for the range."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Geolayerdata": {
      "type": "object",
      "id": "Geolayerdata",
      "properties": {
        "common": {
          "type": "object",
          "properties": {
            "lang": {
              "type": "string",
              "description": "The language of the information url and description."
            },
            "snippet": {
              "description": "The description for this location.",
              "type": "string"
            },
            "previewImageUrl": {
              "type": "string",
              "description": "The URL for the preview image information."
            },
            "snippetUrl": {
              "type": "string",
              "description": "The URL for information for this location. Ex: wikipedia link."
            },
            "title": {
              "type": "string",
              "description": "The display title and localized canonical name to use when searching for this entity on Google search."
            }
          }
        },
        "kind": {
          "type": "string"
        },
        "geo": {
          "type": "object",
          "properties": {
            "zoom": {
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "format": "int32",
              "type": "integer"
            },
            "cachePolicy": {
              "type": "string",
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER"
            },
            "viewport": {
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle.",
              "properties": {
                "lo": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "format": "double",
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    }
                  }
                },
                "hi": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                }
              },
              "type": "object"
            },
            "countryCode": {
              "type": "string",
              "description": "The country code of the location."
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN",
              "type": "string"
            },
            "boundary": {
              "items": {
                "type": "string"
              },
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.",
              "type": "array"
            },
            "longitude": {
              "description": "The longitude of the location.",
              "type": "number",
              "format": "double"
            },
            "latitude": {
              "format": "double",
              "type": "number",
              "description": "The latitude of the location."
            }
          }
        }
      }
    },
    "Category": {
      "id": "Category",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "badgeUrl": {
                "type": "string"
              },
              "categoryId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "description": "A list of onboarding categories."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "type": "object"
    },
    "Volume2": {
      "id": "Volume2",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "type": "array",
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FamilyInfo": {
      "id": "FamilyInfo",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "membership": {
          "type": "object",
          "properties": {
            "isInFamily": {
              "type": "boolean"
            },
            "ageGroup": {
              "description": "The age group of the user.",
              "type": "string"
            },
            "acquirePermission": {
              "type": "string",
              "description": "Restrictions on user buying and acquiring content."
            },
            "allowedMaturityRating": {
              "type": "string",
              "description": "The maximum allowed maturity rating for the user."
            },
            "role": {
              "description": "The role of the user in the family.",
              "type": "string"
            }
          },
          "description": "Family membership info of the user that made the request."
        }
      },
      "type": "object"
    },
    "DictionaryAnnotationdata": {
      "id": "DictionaryAnnotationdata",
      "properties": {
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "data": {
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated.",
          "$ref": "Dictlayerdata"
        },
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        }
      },
      "type": "object"
    },
    "AnnotationsSummary": {
      "id": "AnnotationsSummary",
      "properties": {
        "layers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "remainingCharacterCount": {
                "format": "int32",
                "type": "integer"
              },
              "layerId": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              },
              "limitType": {
                "type": "string"
              },
              "allowedCharacterCount": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "kind": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Offers": {
      "id": "Offers",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of offers.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              },
              "gservicesKey": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              }
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Annotationsdata": {
      "id": "Annotationsdata",
      "properties": {
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "description": "A list of Annotation Data.",
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volumeannotation": {
      "type": "object",
      "id": "Volumeannotation",
      "properties": {
        "pageIds": {
          "description": "Pages the annotation spans.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "annotationDataId": {
          "type": "string",
          "description": "The annotation data id for this volume annotation."
        },
        "layerId": {
          "description": "The Layer this annotation is for.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        },
        "volumeId": {
          "description": "The Volume this annotation is for.",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this is.",
          "type": "string"
        },
        "contentRanges": {
          "description": "The content ranges to identify the selected text.",
          "properties": {
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            }
          },
          "type": "object"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "data": {
          "description": "Data for this annotation.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "id": {
          "description": "Unique id of this volume annotation.",
          "type": "string"
        }
      }
    },
    "Series": {
      "type": "object",
      "id": "Series",
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "bannerImageUrl": {
                "type": "string"
              },
              "subscriptionId": {
                "type": "string"
              },
              "seriesId": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "type": "object",
                "properties": {
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "currentReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      }
                    }
                  },
                  "cancelTime": {
                    "type": "string"
                  },
                  "nextReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "isComplete": {
                "type": "boolean"
              },
              "seriesType": {
                "type": "string"
              },
              "seriesFormatType": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "DownloadAccessRestriction": {
      "id": "DownloadAccessRestriction",
      "properties": {
        "maxDownloadDevices": {
          "format": "int32",
          "type": "integer",
          "description": "If restricted, the maximum number of content download licenses for this volume."
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "deviceAllowed": {
          "description": "If restricted, whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean"
        },
        "downloadsAcquired": {
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "format": "int32",
          "type": "integer"
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "justAcquired": {
          "description": "If deviceAllowed, whether access was just acquired with this request.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "download_url": {
                "type": "string"
              },
              "size": {
                "type": "string",
                "format": "int64"
              },
              "version": {
                "type": "string",
                "format": "int64"
              },
              "encrypted_key": {
                "type": "string"
              }
            }
          },
          "description": "A list of offline dictionary metadata."
        }
      },
      "type": "object"
    },
    "Dictlayerdata": {
      "id": "Dictlayerdata",
      "properties": {
        "kind": {
          "type": "string"
        },
        "dict": {
          "type": "object",
          "properties": {
            "words": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "derivatives": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "source": {
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "attribution": {
                        "type": "string"
                      }
                    },
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb).",
                    "type": "object"
                  },
                  "senses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "pronunciation": {
                          "type": "string"
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "synonyms": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "source": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "attribution": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "examples": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "source": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "definition": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        },
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "conjugations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "syllabification": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "source": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "attribution": {
                  "type": "string"
                }
              },
              "description": "The source, url and attribution for this dictionary data."
            }
          }
        },
        "common": {
          "type": "object",
          "properties": {
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          }
        }
      },
      "type": "object"
    },
    "Volumes": {
      "id": "Volumes",
      "properties": {
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated."
        },
        "items": {
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Annotations": {
      "type": "object",
      "id": "Annotations",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Annotation"
          },
          "description": "A list of annotations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "totalItems": {
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Bookshelves": {
      "id": "Bookshelves",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of bookshelves.",
          "items": {
            "$ref": "Bookshelf"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BooksVolumesRecommendedRateResponse": {
      "type": "object",
      "id": "BooksVolumesRecommendedRateResponse",
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      }
    },
    "Review": {
      "id": "Review",
      "properties": {
        "content": {
          "description": "Review text.",
          "type": "string"
        },
        "volumeId": {
          "description": "Volume that this review is for.",
          "type": "string"
        },
        "title": {
          "description": "Title for this review.",
          "type": "string"
        },
        "rating": {
          "type": "string",
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED."
        },
        "type": {
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER.",
          "type": "string"
        },
        "source": {
          "type": "object",
          "properties": {
            "description": {
              "type": "string",
              "description": "Name of the source."
            },
            "url": {
              "type": "string",
              "description": "URL of the source of the review."
            },
            "extraDescription": {
              "type": "string",
              "description": "Extra text about the source of the review."
            }
          },
          "description": "Information regarding the source of this review, when the review is not from a Google Books user."
        },
        "author": {
          "description": "Author of this review.",
          "properties": {
            "displayName": {
              "description": "Name of this person.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "fullTextUrl": {
          "type": "string",
          "description": "URL for the full review text, for reviews gathered from the web."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a review."
        },
        "date": {
          "description": "Date of this review.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DownloadAccesses": {
      "id": "DownloadAccesses",
      "properties": {
        "downloadAccessList": {
          "type": "array",
          "description": "A list of download access responses.",
          "items": {
            "$ref": "DownloadAccessRestriction"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RequestAccessData": {
      "id": "RequestAccessData",
      "properties": {
        "concurrentAccess": {
          "$ref": "ConcurrentAccessRestriction",
          "description": "A concurrent access response."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "downloadAccess": {
          "$ref": "DownloadAccessRestriction",
          "description": "A download access response."
        }
      },
      "type": "object"
    },
    "Seriesmembership": {
      "type": "object",
      "id": "Seriesmembership",
      "properties": {
        "member": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        }
      }
    },
    "BooksCloudloadingResource": {
      "id": "BooksCloudloadingResource",
      "properties": {
        "author": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        },
        "volumeId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReadingPosition": {
      "id": "ReadingPosition",
      "properties": {
        "gbTextPosition": {
          "description": "Position in a volume for text-based content.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for a reading position.",
          "type": "string"
        },
        "gbImagePosition": {
          "description": "Position in a volume for image-based content.",
          "type": "string"
        },
        "volumeId": {
          "description": "Volume id associated with this reading position.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "pdfPosition": {
          "type": "string",
          "description": "Position in a PDF file."
        },
        "epubCfiPosition": {
          "type": "string",
          "description": "Position in an EPUB as a CFI."
        }
      },
      "type": "object"
    },
    "Usersettings": {
      "id": "Usersettings",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "notification": {
          "type": "object",
          "properties": {
            "moreFromAuthors": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromSeries": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "priceDrop": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "matchMyInterests": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            }
          }
        },
        "notesExport": {
          "type": "object",
          "description": "User settings in sub-objects, each for different purposes.",
          "properties": {
            "isEnabled": {
              "type": "boolean"
            },
            "folderName": {
              "type": "string"
            }
          }
        }
      },
      "type": "object"
    },
    "Bookshelf": {
      "type": "object",
      "id": "Bookshelf",
      "properties": {
        "description": {
          "description": "Description of this bookshelf.",
          "type": "string"
        },
        "title": {
          "description": "Title of this bookshelf.",
          "type": "string"
        },
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Id of this bookshelf, only unique by user."
        },
        "access": {
          "description": "Whether this bookshelf is PUBLIC or PRIVATE.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for bookshelf metadata.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "volumeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of volumes in this bookshelf."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "created": {
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        }
      }
    },
    "Annotation": {
      "type": "object",
      "id": "Annotation",
      "properties": {
        "currentVersionRanges": {
          "type": "object",
          "properties": {
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation for version above."
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            }
          },
          "description": "Selection ranges for the most recent content version."
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "User-created data for this annotation."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "beforeSelectedText": {
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        },
        "highlightStyle": {
          "type": "string",
          "description": "The highlight style for this annotation."
        },
        "afterSelectedText": {
          "type": "string",
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "layerId": {
          "type": "string",
          "description": "The layer this annotation is for."
        },
        "created": {
          "type": "string",
          "description": "Timestamp for the created time of this annotation."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "clientVersionRanges": {
          "type": "object",
          "properties": {
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation sent by client."
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "description": "Selection ranges sent from the client."
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "remainingCharacterCount": {
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32",
              "type": "integer"
            },
            "limitType": {
              "type": "string",
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer."
            },
            "allowedCharacterCount": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer."
            }
          }
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        }
      }
    },
    "GeoAnnotationdata": {
      "id": "GeoAnnotationdata",
      "properties": {
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "encodedData": {
          "type": "string",
          "format": "byte",
          "description": "Base64 encoded data for this annotation data."
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
        },
        "data": {
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated.",
          "$ref": "Geolayerdata"
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        }
      },
      "type": "object"
    },
    "Discoveryclusters": {
      "type": "object",
      "id": "Discoveryclusters",
      "properties": {
        "totalClusters": {
          "type": "integer",
          "format": "int32"
        },
        "clusters": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "uid": {
                "type": "string"
              },
              "banner_with_content_container": {
                "type": "object",
                "properties": {
                  "maskColorArgb": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  }
                }
              },
              "title": {
                "type": "string"
              },
              "subTitle": {
                "type": "string"
              },
              "totalVolumes": {
                "type": "integer",
                "format": "int32"
              },
              "volumes": {
                "type": "array",
                "items": {
                  "$ref": "Volume"
                }
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        }
      }
    }
  },
  "version": "v1",
  "ownerDomain": "google.com",
  "title": "Books API",
  "rootUrl": "https://books.googleapis.com/",
  "servicePath": "",
  "resources": {
    "personalizedstream": {
      "methods": {
        "get": {
          "parameters": {
            "locale": {
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
              "location": "query"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/personalizedstream/get",
          "description": "Returns a stream of personalized book clusters",
          "id": "books.personalizedstream.get",
          "path": "books/v1/personalizedstream/get",
          "parameterOrder": [],
          "response": {
            "$ref": "Discoveryclusters"
          }
        }
      }
    },
    "cloudloading": {
      "methods": {
        "addBook": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "drive_document_id": {
              "type": "string",
              "location": "query",
              "description": "A drive document id. The upload_client_token must not be set."
            },
            "upload_client_token": {
              "description": "Scotty upload token.",
              "location": "query",
              "type": "string"
            },
            "mime_type": {
              "type": "string",
              "description": "The document MIME type. It can be set only if the drive_document_id is set.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "The document name. It can be set only if the drive_document_id is set."
            }
          },
          "flatPath": "books/v1/cloudloading/addBook",
          "description": "Add a user-upload volume and triggers processing.",
          "path": "books/v1/cloudloading/addBook",
          "id": "books.cloudloading.addBook",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "parameterOrder": []
        },
        "deleteBook": {
          "parameterOrder": [
            "volumeId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "books.cloudloading.deleteBook",
          "path": "books/v1/cloudloading/deleteBook",
          "flatPath": "books/v1/cloudloading/deleteBook",
          "description": "Remove the book and its contents",
          "parameters": {
            "volumeId": {
              "required": true,
              "type": "string",
              "description": "The id of the book to be removed.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "POST"
        },
        "updateBook": {
          "httpMethod": "POST",
          "request": {
            "$ref": "BooksCloudloadingResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {},
          "flatPath": "books/v1/cloudloading/updateBook",
          "description": "Updates a user-upload volume.",
          "path": "books/v1/cloudloading/updateBook",
          "id": "books.cloudloading.updateBook",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "parameterOrder": []
        }
      }
    },
    "promooffer": {
      "methods": {
        "dismiss": {
          "path": "books/v1/promooffer/dismiss",
          "id": "books.promooffer.dismiss",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "manufacturer": {
              "location": "query",
              "description": "device manufacturer",
              "type": "string"
            },
            "serial": {
              "description": "device serial",
              "location": "query",
              "type": "string"
            },
            "device": {
              "type": "string",
              "location": "query",
              "description": "device device"
            },
            "offerId": {
              "location": "query",
              "description": "Offer to dimiss",
              "type": "string"
            },
            "androidId": {
              "type": "string",
              "location": "query",
              "description": "device android_id"
            },
            "model": {
              "location": "query",
              "description": "device model",
              "type": "string"
            },
            "product": {
              "type": "string",
              "description": "device product",
              "location": "query"
            }
          },
          "flatPath": "books/v1/promooffer/dismiss",
          "description": "Marks the promo offer as dismissed."
        },
        "get": {
          "flatPath": "books/v1/promooffer/get",
          "description": "Returns a list of promo offers available to the user",
          "parameters": {
            "manufacturer": {
              "type": "string",
              "description": "device manufacturer",
              "location": "query"
            },
            "serial": {
              "type": "string",
              "description": "device serial",
              "location": "query"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "androidId": {
              "location": "query",
              "description": "device android_id",
              "type": "string"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "device model"
            },
            "product": {
              "type": "string",
              "description": "device product",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "Offers"
          },
          "id": "books.promooffer.get",
          "path": "books/v1/promooffer/get"
        },
        "accept": {
          "id": "books.promooffer.accept",
          "path": "books/v1/promooffer/accept",
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            },
            "androidId": {
              "location": "query",
              "description": "device android_id",
              "type": "string"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "device model"
            },
            "volumeId": {
              "type": "string",
              "description": "Volume id to exercise the offer",
              "location": "query"
            },
            "device": {
              "location": "query",
              "description": "device device",
              "type": "string"
            },
            "offerId": {
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "type": "string",
              "location": "query",
              "description": "device manufacturer"
            },
            "serial": {
              "location": "query",
              "description": "device serial",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "POST",
          "flatPath": "books/v1/promooffer/accept",
          "description": "Accepts the promo offer."
        }
      }
    },
    "onboarding": {
      "methods": {
        "listCategories": {
          "response": {
            "$ref": "Category"
          },
          "parameterOrder": [],
          "path": "books/v1/onboarding/listCategories",
          "id": "books.onboarding.listCategories",
          "flatPath": "books/v1/onboarding/listCategories",
          "description": "List categories for onboarding experience.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "locale": {
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "location": "query"
            }
          }
        },
        "listCategoryVolumes": {
          "id": "books.onboarding.listCategoryVolumes",
          "path": "books/v1/onboarding/listCategoryVolumes",
          "parameterOrder": [],
          "response": {
            "$ref": "Volume2"
          },
          "parameters": {
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "location": "query",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ]
            },
            "pageSize": {
              "description": "Number of maximum results per page to be included in the response.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "location": "query",
              "type": "string"
            },
            "categoryId": {
              "description": "List of category ids requested.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/onboarding/listCategoryVolumes",
          "description": "List available volumes under categories for onboarding experience."
        }
      }
    },
    "dictionary": {
      "methods": {
        "listOfflineMetadata": {
          "parameters": {
            "cpksver": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The device/version ID from which to request the data."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/dictionary/listOfflineMetadata",
          "description": "Returns a list of offline dictionary metadata available",
          "id": "books.dictionary.listOfflineMetadata",
          "path": "books/v1/dictionary/listOfflineMetadata",
          "parameterOrder": [
            "cpksver"
          ],
          "response": {
            "$ref": "Metadata"
          }
        }
      }
    },
    "layers": {
      "resources": {
        "annotationData": {
          "methods": {
            "get": {
              "parameters": {
                "annotationDataId": {
                  "description": "The ID of the annotation data to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "h": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query"
                },
                "scale": {
                  "minimum": "0",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The requested scale for the image."
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "w": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "location": "query"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "contentVersion": {
                  "required": true,
                  "type": "string",
                  "description": "The content version for the volume you are trying to retrieve.",
                  "location": "query"
                },
                "layerId": {
                  "location": "path",
                  "description": "The ID for the layer to get the annotations.",
                  "required": true,
                  "type": "string"
                },
                "allowWebDefinitions": {
                  "location": "query",
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "description": "Gets the annotation data.",
              "id": "books.layers.annotationData.get",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ],
              "response": {
                "$ref": "DictionaryAnnotationdata"
              }
            },
            "list": {
              "parameters": {
                "layerId": {
                  "description": "The ID for the layer to get the annotation data.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "contentVersion": {
                  "required": true,
                  "type": "string",
                  "description": "The content version for the requested volume.",
                  "location": "query"
                },
                "w": {
                  "location": "query",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "type": "integer",
                  "format": "int32"
                },
                "annotationDataId": {
                  "location": "query",
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "repeated": true,
                  "type": "string"
                },
                "h": {
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query"
                },
                "updatedMax": {
                  "type": "string",
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive)."
                },
                "locale": {
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "format": "uint32",
                  "maximum": "200",
                  "location": "query",
                  "minimum": "0",
                  "type": "integer"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotation data for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "scale": {
                  "format": "int32",
                  "description": "The requested scale for the image.",
                  "minimum": "0",
                  "type": "integer",
                  "location": "query"
                },
                "updatedMin": {
                  "type": "string",
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive)."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "description": "Gets the annotation data for a volume and layer.",
              "id": "books.layers.annotationData.list",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "response": {
                "$ref": "Annotationsdata"
              }
            }
          }
        },
        "volumeAnnotations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "volumeId",
[...]
