{
  "version": "v1",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Books API",
  "resources": {
    "series": {
      "resources": {
        "membership": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "books.series.membership.get",
              "response": {
                "$ref": "Seriesmembership"
              },
              "parameterOrder": [
                "series_id"
              ],
              "path": "books/v1/series/membership/get",
              "parameters": {
                "page_token": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "page_size": {
                  "type": "integer",
                  "format": "uint32",
                  "description": "Number of maximum results per page to be included in the response.",
                  "location": "query"
                },
                "series_id": {
                  "type": "string",
                  "description": "String that identifies the series",
                  "location": "query",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/series/membership/get",
              "description": "Returns Series membership data given the series id."
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "books/v1/series/get",
          "parameters": {
            "series_id": {
              "repeated": true,
              "description": "String that identifies the series",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "books/v1/series/get",
          "description": "Returns Series metadata for the given series ids.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Series"
          },
          "id": "books.series.get",
          "parameterOrder": [
            "series_id"
          ]
        }
      }
    },
    "cloudloading": {
      "methods": {
        "deleteBook": {
          "httpMethod": "POST",
          "parameterOrder": [
            "volumeId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "books.cloudloading.deleteBook",
          "parameters": {
            "volumeId": {
              "type": "string",
              "description": "The id of the book to be removed.",
              "location": "query",
              "required": true
            }
          },
          "path": "books/v1/cloudloading/deleteBook",
          "flatPath": "books/v1/cloudloading/deleteBook",
          "description": "Remove the book and its contents",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "addBook": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/cloudloading/addBook",
          "description": "Add a user-upload volume and triggers processing.",
          "path": "books/v1/cloudloading/addBook",
          "parameters": {
            "mime_type": {
              "description": "The document MIME type. It can be set only if the drive_document_id is set.",
              "location": "query",
              "type": "string"
            },
            "upload_client_token": {
              "type": "string",
              "description": "Scotty upload token.",
              "location": "query"
            },
            "drive_document_id": {
              "description": "A drive document id. The upload_client_token must not be set.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "The document name. It can be set only if the drive_document_id is set.",
              "location": "query"
            }
          },
          "id": "books.cloudloading.addBook",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "updateBook": {
          "request": {
            "$ref": "BooksCloudloadingResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/cloudloading/updateBook",
          "description": "Updates a user-upload volume.",
          "path": "books/v1/cloudloading/updateBook",
          "parameters": {},
          "id": "books.cloudloading.updateBook",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        }
      }
    },
    "myconfig": {
      "methods": {
        "requestAccess": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/requestAccess",
          "description": "Request concurrent and download access restrictions.",
          "path": "books/v1/myconfig/requestAccess",
          "parameters": {
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            },
            "nonce": {
              "type": "string",
              "description": "The client nonce value.",
              "location": "query",
              "required": true
            },
            "cpksver": {
              "description": "The device/version ID from which to request the restrictions.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query",
              "required": true
            },
            "volumeId": {
              "type": "string",
              "description": "The volume to request concurrent/download restrictions for.",
              "location": "query",
              "required": true
            },
            "licenseTypes": {
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ],
              "type": "string",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ]
            }
          },
          "id": "books.myconfig.requestAccess",
          "response": {
            "$ref": "RequestAccessData"
          },
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source",
            "volumeId"
          ],
          "httpMethod": "POST"
        },
        "updateUserSettings": {
          "parameters": {},
          "path": "books/v1/myconfig/updateUserSettings",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/updateUserSettings",
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
          "request": {
            "$ref": "Usersettings"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "books.myconfig.updateUserSettings",
          "response": {
            "$ref": "Usersettings"
          }
        },
        "syncVolumeLicenses": {
          "httpMethod": "POST",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source"
          ],
          "id": "books.myconfig.syncVolumeLicenses",
          "response": {
            "$ref": "Volumes"
          },
          "parameters": {
            "nonce": {
              "type": "string",
              "description": "The client nonce value.",
              "location": "query",
              "required": true
            },
            "features": {
              "description": "List of features supported by the client, i.e., 'RENTALS'",
              "location": "query",
              "enumDescriptions": [
                "",
                "Client supports rentals."
              ],
              "repeated": true,
              "type": "string",
              "enum": [
                "FEATURES_UNDEFINED",
                "RENTALS"
              ]
            },
            "volumeIds": {
              "type": "string",
              "description": "The volume(s) to request download restrictions for.",
              "location": "query",
              "repeated": true
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            },
            "includeNonComicsSeries": {
              "type": "boolean",
              "description": "Set to true to include non-comics series. Defaults to false.",
              "location": "query"
            },
            "showPreorders": {
              "type": "boolean",
              "description": "Set to true to show pre-ordered books. Defaults to false.",
              "location": "query"
            },
            "cpksver": {
              "description": "The device/version ID from which to release the restriction.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query",
              "required": true
            }
          },
          "path": "books/v1/myconfig/syncVolumeLicenses",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/syncVolumeLicenses",
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf."
        },
        "getUserSettings": {
          "parameters": {
            "country": {
              "description": "Unused. Added only to workaround TEX mandatory request template requirement",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/myconfig/getUserSettings",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/getUserSettings",
          "description": "Gets the current settings for the user.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "books.myconfig.getUserSettings",
          "response": {
            "$ref": "Usersettings"
          }
        },
        "releaseDownloadAccess": {
          "response": {
            "$ref": "DownloadAccesses"
          },
          "id": "books.myconfig.releaseDownloadAccess",
          "parameterOrder": [
            "cpksver",
            "volumeIds"
          ],
          "httpMethod": "POST",
          "flatPath": "books/v1/myconfig/releaseDownloadAccess",
          "description": "Release downloaded content access restriction.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/myconfig/releaseDownloadAccess",
          "parameters": {
            "volumeIds": {
              "description": "The volume(s) to release restrictions for.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "cpksver": {
              "description": "The device/version ID from which to release the restriction.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "promooffer": {
      "methods": {
        "get": {
          "flatPath": "books/v1/promooffer/get",
          "description": "Returns a list of promo offers available to the user",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "model": {
              "type": "string",
              "description": "device model",
              "location": "query"
            },
            "serial": {
              "type": "string",
              "description": "device serial",
              "location": "query"
            },
            "androidId": {
              "type": "string",
              "description": "device android_id",
              "location": "query"
            },
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/promooffer/get",
          "parameterOrder": [],
          "response": {
            "$ref": "Offers"
          },
          "id": "books.promooffer.get",
          "httpMethod": "GET"
        },
        "accept": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "id": "books.promooffer.accept",
          "parameters": {
            "androidId": {
              "type": "string",
              "description": "device android_id",
              "location": "query"
            },
            "product": {
              "type": "string",
              "description": "device product",
              "location": "query"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "type": "string",
              "description": "device manufacturer",
              "location": "query"
            },
            "offerId": {
              "location": "query",
              "type": "string"
            },
            "volumeId": {
              "type": "string",
              "description": "Volume id to exercise the offer",
              "location": "query"
            },
            "serial": {
              "description": "device serial",
              "location": "query",
              "type": "string"
            },
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/promooffer/accept",
          "flatPath": "books/v1/promooffer/accept",
          "description": "Accepts the promo offer.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "dismiss": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/promooffer/dismiss",
          "description": "Marks the promo offer as dismissed.",
          "parameters": {
            "serial": {
              "type": "string",
              "description": "device serial",
              "location": "query"
            },
            "androidId": {
              "description": "device android_id",
              "location": "query",
              "type": "string"
            },
            "product": {
              "type": "string",
              "description": "device product",
              "location": "query"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "location": "query",
              "type": "string"
            },
            "offerId": {
              "type": "string",
              "description": "Offer to dimiss",
              "location": "query"
            },
            "model": {
              "type": "string",
              "description": "device model",
              "location": "query"
            }
          },
          "path": "books/v1/promooffer/dismiss",
          "parameterOrder": [],
          "id": "books.promooffer.dismiss",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST"
        }
      }
    },
    "volumes": {
      "resources": {
        "associated": {
          "methods": {
            "list": {
              "flatPath": "books/v1/volumes/{volumeId}/associated",
              "description": "Return a list of associated books.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/{volumeId}/associated",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "type": "string",
                  "description": "ID of the source volume.",
                  "location": "path",
                  "required": true
                },
                "association": {
                  "description": "Association type.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Recommendations for display end-of-sample.",
                    "Recommendations for display end-of-volume.",
                    "Related volumes for Play Store."
                  ],
                  "type": "string",
                  "enum": [
                    "ASSOCIATION_UNDEFINED",
                    "end-of-sample",
                    "end-of-volume",
                    "related-for-play"
                  ]
                },
                "locale": {
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query"
                },
                "maxAllowedMaturityRating": {
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "type": "string",
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ]
                }
              },
              "response": {
                "$ref": "Volumes"
              },
              "id": "books.volumes.associated.list",
              "parameterOrder": [
                "volumeId"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "useruploaded": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/useruploaded",
              "description": "Return a list of books uploaded by the current user.",
              "parameters": {
                "maxResults": {
                  "minimum": "0",
                  "format": "uint32",
                  "description": "Maximum number of results to return.",
                  "maximum": "40",
                  "location": "query",
                  "type": "integer"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "repeated": true,
                  "description": "The ids of the volumes to be returned. If not specified all that match the processingState are returned.",
                  "location": "query",
                  "type": "string"
                },
                "locale": {
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query"
                },
                "processingState": {
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "type": "string",
                  "repeated": true,
                  "description": "The processing state of the user uploaded volumes to be returned.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ]
                },
                "startIndex": {
                  "minimum": "0",
                  "format": "uint32",
                  "description": "Index of the first result to return (starts at 0)",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "books/v1/volumes/useruploaded",
              "parameterOrder": [],
              "id": "books.volumes.useruploaded.list",
              "response": {
                "$ref": "Volumes"
              },
              "httpMethod": "GET"
            }
          }
        },
        "mybooks": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [],
              "response": {
                "$ref": "Volumes"
              },
              "id": "books.volumes.mybooks.list",
              "parameters": {
                "maxResults": {
                  "type": "integer",
                  "description": "Maximum number of results to return.",
                  "maximum": "100",
                  "location": "query",
                  "minimum": "0",
                  "format": "uint32"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "processingState": {
                  "type": "string",
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "description": "The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "repeated": true
                },
                "startIndex": {
                  "minimum": "0",
                  "format": "uint32",
                  "description": "Index of the first result to return (starts at 0)",
                  "location": "query",
                  "type": "integer"
                },
                "country": {
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "location": "query",
                  "type": "string"
                },
                "locale": {
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used for generating recommendations.",
                  "location": "query"
                },
                "acquireMethod": {
                  "repeated": true,
                  "description": "How the book was acquired",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Books acquired via Family Sharing",
                    "Preordered books (not yet available)",
                    "User-rented books past their expiration time",
                    "Public domain books",
                    "Purchased books",
                    "User-rented books",
                    "Sample books",
                    "User uploaded books"
                  ],
                  "enum": [
                    "ACQUIRE_METHOD_UNDEFINED",
                    "FAMILY_SHARED",
                    "PREORDERED",
                    "PREVIOUSLY_RENTED",
                    "PUBLIC_DOMAIN",
                    "PURCHASED",
                    "RENTED",
                    "SAMPLE",
                    "UPLOADED"
                  ],
                  "type": "string"
                }
              },
              "path": "books/v1/volumes/mybooks",
              "flatPath": "books/v1/volumes/mybooks",
              "description": "Return a list of books in My Library.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "recommended": {
          "methods": {
            "list": {
              "parameters": {
                "maxAllowedMaturityRating": {
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "type": "string",
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ]
                },
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                }
              },
              "path": "books/v1/volumes/recommended",
              "flatPath": "books/v1/volumes/recommended",
              "description": "Return a list of recommended books for the current user.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "parameterOrder": [],
              "response": {
                "$ref": "Volumes"
              },
              "id": "books.volumes.recommended.list"
            },
            "rate": {
              "path": "books/v1/volumes/recommended/rate",
              "parameters": {
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "rating": {
                  "description": "Rating to be given to the volume.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Rating indicating a dismissal due to ownership.",
                    "Rating indicating a negative dismissal of a volume."
                  ],
                  "required": true,
                  "type": "string",
                  "enum": [
                    "RATING_UNDEFINED",
                    "HAVE_IT",
                    "NOT_INTERESTED"
                  ]
                },
                "volumeId": {
                  "description": "ID of the source volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/recommended/rate",
              "description": "Rate a recommended book for the current user.",
              "httpMethod": "POST",
              "id": "books.volumes.recommended.rate",
              "response": {
                "$ref": "BooksVolumesRecommendedRateResponse"
              },
              "parameterOrder": [
                "rating",
                "volumeId"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "books/v1/volumes/{volumeId}",
          "description": "Gets volume information for a single volume.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/volumes/{volumeId}",
          "parameters": {
            "source": {
              "type": "string",
              "description": "string to identify the originator of this request.",
              "location": "query"
            },
            "volumeId": {
              "description": "ID of volume to retrieve.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeNonComicsSeries": {
              "type": "boolean",
              "description": "Set to true to include non-comics series. Defaults to false.",
              "location": "query"
            },
            "user_library_consistent_read": {
              "location": "query",
              "type": "boolean"
            },
            "partner": {
              "type": "string",
              "description": "Brand results for partner ID.",
              "location": "query"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ],
              "type": "string",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ]
            },
            "country": {
              "type": "string",
              "description": "ISO-3166-1 code to override the IP-based location.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Volume"
          },
          "id": "books.volumes.get",
          "parameterOrder": [
            "volumeId"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "books/v1/volumes",
          "description": "Performs a book search.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "partner": {
              "type": "string",
              "description": "Restrict and brand results for partner ID.",
              "location": "query"
            },
            "printType": {
              "type": "string",
              "enum": [
                "PRINT_TYPE_UNDEFINED",
                "ALL",
                "BOOKS",
                "MAGAZINES"
              ],
              "description": "Restrict to books or magazines.",
              "location": "query",
              "enumDescriptions": [
                "",
                "All volume content types.",
                "Just books.",
                "Just magazines."
              ]
            },
            "showPreorders": {
              "type": "boolean",
              "description": "Set to true to show books available for preorder. Defaults to false.",
              "location": "query"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ]
            },
            "startIndex": {
              "type": "integer",
              "description": "Index of the first result to return (starts at 0)",
              "location": "query",
              "minimum": "0",
              "format": "uint32"
            },
            "langRestrict": {
              "description": "Restrict results to books with this language code.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "enum": [
                "ORDER_BY_UNDEFINED",
                "newest",
                "relevance"
              ],
              "description": "Sort search results.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Most recently published.",
                "Relevance to search terms."
              ]
            },
            "q": {
              "type": "string",
              "description": "Full-text search query string.",
              "location": "query",
              "required": true
            },
            "download": {
              "description": "Restrict to volumes by download availability.",
              "location": "query",
              "enumDescriptions": [
                "",
                "All volumes with epub."
              ],
              "type": "string",
              "enum": [
                "DOWNLOAD_UNDEFINED",
                "EPUB"
              ]
            },
            "libraryRestrict": {
              "description": "Restrict search to this user's library.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Restrict to the user's library, any shelf.",
                "Do not restrict based on user's library."
              ],
              "type": "string",
              "enum": [
                "LIBRARY_RESTRICT_UNDEFINED",
                "my-library",
                "no-restrict"
              ]
            },
            "projection": {
              "type": "string",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ],
              "description": "Restrict information returned to a set of selected fields.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ]
            },
            "filter": {
              "enum": [
                "FILTER_UNDEFINED",
                "ebooks",
                "free-ebooks",
                "full",
                "paid-ebooks",
                "partial"
              ],
              "type": "string",
              "description": "Filter search results.",
              "location": "query",
              "enumDescriptions": [
                "",
                "All Google eBooks.",
                "Google eBook with full volume text viewability.",
                "Public can view entire volume text.",
                "Google eBook with a price.",
                "Public able to see parts of text."
              ]
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "description": "Maximum number of results to return.",
              "maximum": "40",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "books/v1/volumes",
          "parameterOrder": [
            "q"
          ],
          "response": {
            "$ref": "Volumes"
          },
          "id": "books.volumes.list",
          "httpMethod": "GET"
        }
      }
    },
    "onboarding": {
      "methods": {
        "listCategories": {
          "path": "books/v1/onboarding/listCategories",
          "parameters": {
            "locale": {
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "location": "query"
            }
          },
          "flatPath": "books/v1/onboarding/listCategories",
          "description": "List categories for onboarding experience.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Category"
          },
          "id": "books.onboarding.listCategories",
          "parameterOrder": []
        },
        "listCategoryVolumes": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/onboarding/listCategoryVolumes",
          "description": "List available volumes under categories for onboarding experience.",
          "parameters": {
            "categoryId": {
              "type": "string",
              "repeated": true,
              "description": "List of category ids requested.",
              "location": "query"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "uint32",
              "description": "Number of maximum results per page to be included in the response.",
              "location": "query"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "location": "query",
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/onboarding/listCategoryVolumes",
          "parameterOrder": [],
          "id": "books.onboarding.listCategoryVolumes",
          "response": {
            "$ref": "Volume2"
          },
          "httpMethod": "GET"
        }
      }
    },
    "mylibrary": {
      "resources": {
        "bookshelves": {
          "resources": {
            "volumes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Volumes"
                  },
                  "id": "books.mylibrary.bookshelves.volumes.list",
                  "parameterOrder": [
                    "shelf"
                  ],
                  "path": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "parameters": {
                    "q": {
                      "description": "Full-text search query string in this bookshelf.",
                      "location": "query",
                      "type": "string"
                    },
                    "showPreorders": {
                      "type": "boolean",
                      "description": "Set to true to show pre-ordered books. Defaults to false.",
                      "location": "query"
                    },
                    "maxResults": {
                      "description": "Maximum number of results to return",
                      "location": "query",
                      "minimum": "0",
                      "format": "uint32",
                      "type": "integer"
                    },
                    "source": {
                      "description": "String to identify the originator of this request.",
                      "location": "query",
                      "type": "string"
                    },
                    "country": {
                      "description": "ISO-3166-1 code to override the IP-based location.",
                      "location": "query",
                      "type": "string"
                    },
                    "projection": {
                      "type": "string",
                      "enum": [
                        "PROJECTION_UNDEFINED",
                        "FULL",
                        "LITE"
                      ],
                      "description": "Restrict information returned to a set of selected fields.",
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        "Includes all volume data.",
                        "Includes a subset of fields in volumeInfo and accessInfo."
                      ]
                    },
                    "startIndex": {
                      "type": "integer",
                      "description": "Index of the first element to return (starts at 0)",
                      "location": "query",
                      "minimum": "0",
                      "format": "uint32"
                    },
                    "shelf": {
                      "type": "string",
                      "description": "The bookshelf ID or name retrieve volumes for.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "description": "Gets volume information for volumes on a bookshelf.",
                  "scopes": [
                    "https://www.googleapis.com/auth/books"
                  ]
                }
              }
            }
          },
          "methods": {
            "addVolume": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "description": "Adds a volume to a bookshelf.",
              "path": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "parameters": {
                "shelf": {
                  "type": "string",
                  "description": "ID of bookshelf to which to add a volume.",
                  "location": "path",
                  "required": true
                },
                "reason": {
                  "description": "The reason for which the book is added to the library.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Volumes added from the PREX flow on iOS.",
                    "Volumes added from the Search flow on iOS.",
                    "Volumes added from the Onboarding flow."
                  ],
                  "enum": [
                    "REASON_UNDEFINED",
                    "IOS_PREX",
                    "IOS_SEARCH",
                    "ONBOARDING"
                  ],
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "volumeId": {
                  "description": "ID of volume to add.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "books.mylibrary.bookshelves.addVolume",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "httpMethod": "POST"
            },
            "removeVolume": {
              "path": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "parameters": {
                "volumeId": {
                  "description": "ID of volume to remove.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "shelf": {
                  "type": "string",
                  "description": "ID of bookshelf from which to remove a volume.",
                  "location": "path",
                  "required": true
                },
                "reason": {
                  "description": "The reason for which the book is removed from the library.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Samples removed from the Onboarding flow."
                  ],
                  "type": "string",
                  "enum": [
                    "REASON_UNDEFINED",
                    "ONBOARDING"
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "description": "Removes a volume from a bookshelf.",
              "httpMethod": "POST",
              "id": "books.mylibrary.bookshelves.removeVolume",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "shelf",
                "volumeId"
              ]
            },
            "moveVolume": {
              "parameterOrder": [
                "shelf",
                "volumeId",
                "volumePosition"
              ],
              "id": "books.mylibrary.bookshelves.moveVolume",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
              "description": "Moves a volume within a bookshelf.",
              "parameters": {
                "shelf": {
                  "type": "string",
                  "description": "ID of bookshelf with the volume.",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "volumeId": {
                  "description": "ID of volume to move.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "volumePosition": {
                  "format": "int32",
                  "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
                  "location": "query",
                  "type": "integer",
                  "required": true
                }
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume"
            },
            "list": {
              "flatPath": "books/v1/mylibrary/bookshelves",
              "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "books/v1/mylibrary/bookshelves",
              "parameterOrder": [],
              "response": {
                "$ref": "Bookshelves"
              },
              "id": "books.mylibrary.bookshelves.list",
              "httpMethod": "GET"
            },
            "clearVolumes": {
              "httpMethod": "POST",
              "parameterOrder": [
                "shelf"
              ],
              "id": "books.mylibrary.bookshelves.clearVolumes",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "shelf": {
                  "type": "string",
                  "description": "ID of bookshelf from which to remove a volume.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "description": "Clears all volumes from a bookshelf."
            },
            "get": {
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}",
              "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "shelf": {
                  "description": "ID of bookshelf to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}",
              "parameterOrder": [
                "shelf"
              ],
              "response": {
                "$ref": "Bookshelf"
              },
              "id": "books.mylibrary.bookshelves.get",
              "httpMethod": "GET"
            }
          }
        },
        "annotations": {
          "methods": {
            "delete": {
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "parameters": {
                "annotationId": {
                  "type": "string",
                  "description": "The ID for the annotation to delete.",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "description": "Deletes an annotation.",
              "httpMethod": "DELETE",
              "id": "books.mylibrary.annotations.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "annotationId"
              ]
            },
            "update": {
              "response": {
                "$ref": "Annotation"
              },
              "id": "books.mylibrary.annotations.update",
              "parameterOrder": [
                "annotationId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Annotation"
              },
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "description": "Updates an existing annotation.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "parameters": {
                "annotationId": {
                  "type": "string",
                  "description": "The ID for the annotation to update.",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "insert": {
              "httpMethod": "POST",
              "parameterOrder": [],
              "id": "books.mylibrary.annotations.insert",
              "response": {
                "$ref": "Annotation"
              },
              "parameters": {
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "annotationId": {
                  "type": "string",
                  "description": "The ID for the annotation to insert.",
                  "location": "query"
                },
                "showOnlySummaryInResponse": {
                  "description": "Requests that only the summary of the specified layer be provided in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "country": {
                  "type": "string",
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "location": "query"
                }
              },
              "path": "books/v1/mylibrary/annotations",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations",
              "description": "Inserts a new annotation.",
              "request": {
                "$ref": "Annotation"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations",
              "description": "Retrieves a list of annotations, possibly filtered.",
              "path": "books/v1/mylibrary/annotations",
              "parameters": {
                "updatedMax": {
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query"
                },
                "layerId": {
                  "description": "The layer ID to limit annotation by.",
                  "location": "query",
                  "type": "string"
                },
                "showDeleted": {
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "updatedMin": {
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "layerIds": {
                  "description": "The layer ID(s) to limit annotation by.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "contentVersion": {
                  "type": "string",
                  "description": "The content version for the requested volume.",
                  "location": "query"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "maximum": "40",
                  "location": "query",
                  "minimum": "0",
                  "format": "uint32",
                  "type": "integer"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "volumeId": {
                  "type": "string",
                  "description": "The volume to restrict annotations to.",
                  "location": "query"
                }
              },
              "id": "books.mylibrary.annotations.list",
              "response": {
                "$ref": "Annotations"
              },
              "parameterOrder": [],
              "httpMethod": "GET"
            },
            "summary": {
              "httpMethod": "POST",
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ],
              "response": {
                "$ref": "AnnotationsSummary"
              },
              "id": "books.mylibrary.annotations.summary",
              "parameters": {
                "layerIds": {
                  "description": "Array of layer IDs to get the summary for.",
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "required": true
                },
                "volumeId": {
                  "type": "string",
                  "description": "Volume id to get the summary for.",
                  "location": "query",
                  "required": true
                },
                "source": {
                  "description": "Optional. String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "books/v1/mylibrary/annotations/summary",
              "flatPath": "books/v1/mylibrary/annotations/summary",
              "description": "Gets the summary of specified layers.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "readingpositions": {
          "methods": {
            "get": {
              "path": "books/v1/mylibrary/readingpositions/{volumeId}",
              "parameters": {
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "contentVersion": {
                  "type": "string",
                  "description": "Volume content version for which this reading position is requested.",
                  "location": "query"
                },
                "volumeId": {
                  "description": "ID of volume for which to retrieve a reading position.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}",
              "description": "Retrieves my reading position information for a volume.",
              "httpMethod": "GET",
              "id": "books.mylibrary.readingpositions.get",
              "response": {
                "$ref": "ReadingPosition"
              },
              "parameterOrder": [
                "volumeId"
              ]
            },
            "setPosition": {
              "parameters": {
                "contentVersion": {
                  "type": "string",
                  "description": "Volume content version for which this reading position applies.",
                  "location": "query"
                },
                "timestamp": {
                  "type": "string",
                  "description": "RFC 3339 UTC format timestamp associated with this reading position.",
                  "location": "query",
                  "required": true
                },
                "deviceCookie": {
                  "description": "Random persistent device cookie optional on set position.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "type": "string",
                  "description": "ID of volume for which to update the reading position.",
                  "location": "path",
                  "required": true
                },
                "position": {
                  "description": "Position string for the new volume reading position.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "action": {
                  "description": "Action that caused this reading position to be set.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "User chose bookmark within volume.",
                    "User selected chapter from list.",
                    "Next page event.",
                    "Previous page event.",
                    "User navigated to page.",
                    "User chose search results within volume."
                  ],
                  "enum": [
                    "ACTION_UNDEFINED",
                    "bookmark",
                    "chapter",
                    "next-page",
                    "prev-page",
                    "scroll",
                    "search"
                  ],
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                }
              },
              "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "description": "Sets my reading position information for a volume.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "volumeId",
                "position",
                "timestamp"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "books.mylibrary.readingpositions.setPosition"
            }
          }
        }
      }
    },
    "notification": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Notification"
          },
          "id": "books.notification.get",
          "parameterOrder": [
            "notification_id"
          ],
          "httpMethod": "GET",
          "flatPath": "books/v1/notification/get",
          "description": "Returns notification details for a given notification id.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/notification/get",
          "parameters": {
            "locale": {
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
              "location": "query"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "notification_id": {
              "description": "String to identify the notification.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "dictionary": {
      "methods": {
        "listOfflineMetadata": {
          "httpMethod": "GET",
          "parameterOrder": [
            "cpksver"
          ],
          "id": "books.dictionary.listOfflineMetadata",
          "response": {
            "$ref": "Metadata"
          },
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to request the data.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "books/v1/dictionary/listOfflineMetadata",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/dictionary/listOfflineMetadata",
          "description": "Returns a list of offline dictionary metadata available"
        }
      }
    },
    "personalizedstream": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "books.personalizedstream.get",
          "response": {
            "$ref": "Discoveryclusters"
          },
          "parameterOrder": [],
          "path": "books/v1/personalizedstream/get",
          "parameters": {
            "maxAllowedMaturityRating": {
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ]
            },
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/personalizedstream/get",
          "description": "Returns a stream of personalized book clusters"
        }
      }
    },
    "bookshelves": {
      "resources": {
        "volumes": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "books.bookshelves.volumes.list",
              "response": {
                "$ref": "Volumes"
              },
              "parameterOrder": [
                "userId",
                "shelf"
              ],
              "path": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "parameters": {
                "showPreorders": {
                  "description": "Set to true to show pre-ordered books. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "maxResults": {
                  "type": "integer",
                  "description": "Maximum number of results to return",
                  "location": "query",
                  "minimum": "0",
                  "format": "uint32"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "description": "ID of user for whom to retrieve bookshelf volumes.",
                  "location": "path",
                  "required": true
                },
                "shelf": {
                  "type": "string",
                  "description": "ID of bookshelf to retrieve volumes.",
                  "location": "path",
                  "required": true
                },
                "startIndex": {
                  "type": "integer",
                  "description": "Index of the first element to return (starts at 0)",
                  "location": "query",
                  "minimum": "0",
                  "format": "uint32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "description": "Retrieves volumes in a specific bookshelf for the specified user."
            }
          }
        }
      },
      "methods": {
        "list": {
          "path": "books/v1/users/{userId}/bookshelves",
          "parameters": {
            "userId": {
              "type": "string",
              "description": "ID of user for whom to retrieve bookshelves.",
              "location": "path",
              "required": true
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            }
          },
          "flatPath": "books/v1/users/{userId}/bookshelves",
          "description": "Retrieves a list of public bookshelves for the specified user.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Bookshelves"
          },
          "id": "books.bookshelves.list",
          "parameterOrder": [
            "userId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "userId",
            "shelf"
          ],
          "response": {
            "$ref": "Bookshelf"
          },
          "id": "books.bookshelves.get",
          "parameters": {
            "userId": {
              "description": "ID of user for whom to retrieve bookshelves.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "shelf": {
              "description": "ID of bookshelf to retrieve.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "books/v1/users/{userId}/bookshelves/{shelf}",
          "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}",
          "description": "Retrieves metadata for a specific bookshelf for the specified user.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "familysharing": {
      "methods": {
        "share": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "id": "books.familysharing.share",
          "parameters": {
            "docId": {
              "type": "string",
              "description": "The docid to share.",
              "location": "query"
            },
            "volumeId": {
              "description": "The volume to share.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/familysharing/share",
          "flatPath": "books/v1/familysharing/share",
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "getFamilyInfo": {
          "parameterOrder": [],
          "id": "books.familysharing.getFamilyInfo",
          "response": {
            "$ref": "FamilyInfo"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/familysharing/getFamilyInfo",
          "description": "Gets information regarding the family that the user is part of.",
          "parameters": {
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            }
          },
          "path": "books/v1/familysharing/getFamilyInfo"
        },
        "unshare": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/familysharing/unshare",
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
          "parameters": {
            "docId": {
              "description": "The docid to unshare.",
              "location": "query",
              "type": "string"
            },
            "volumeId": {
              "type": "string",
              "description": "The volume to unshare.",
              "location": "query"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            }
          },
          "path": "books/v1/familysharing/unshare",
          "parameterOrder": [],
          "id": "books.familysharing.unshare",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST"
        }
      }
    },
    "layers": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "books.layers.get",
          "response": {
            "$ref": "Layersummary"
          },
          "parameterOrder": [
            "volumeId",
            "summaryId"
          ],
          "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "parameters": {
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "summaryId": {
              "description": "The ID for the layer to get the summary for.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "volumeId": {
              "type": "string",
              "description": "The volume to retrieve layers for.",
              "location": "path",
              "required": true
            },
            "contentVersion": {
              "type": "string",
              "description": "The content version for the requested volume.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "description": "Gets the layer summary for a volume."
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "volumeId"
          ],
          "id": "books.layers.list",
          "response": {
            "$ref": "Layersummaries"
          },
          "parameters": {
            "volumeId": {
              "description": "The volume to retrieve layers for.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "maximum": "200",
              "location": "query",
              "minimum": "0",
              "format": "uint32",
              "type": "integer"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/volumes/{volumeId}/layersummary",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/volumes/{volumeId}/layersummary",
          "description": "List the layer summaries for a volume."
        }
      },
      "resources": {
        "annotationData": {
          "methods": {
            "get": {
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "description": "Gets the annotation data.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "parameters": {
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "scale": {
                  "minimum": "0",
                  "format": "int32",
                  "description": "The requested scale for the image.",
                  "location": "query",
                  "type": "integer"
                },
                "annotationDataId": {
                  "description": "The ID of the annotation data to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "contentVersion": {
                  "type": "string",
                  "description": "The content version for the volume you are trying to retrieve.",
                  "location": "query",
                  "required": true
                },
                "allowWebDefinitions": {
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "location": "query",
                  "type": "boolean"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "w": {
                  "format": "int32",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "location": "query",
                  "type": "integer"
                },
                "locale": {
                  "type": "string",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query"
                },
                "h": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "DictionaryAnnotationdata"
              },
              "id": "books.layers.annotationData.get",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "description": "Gets the annotation data for a volume and layer.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "parameters": {
                "locale": {
                  "type": "string",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query"
                },
                "updatedMax": {
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotation data for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotation data.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query",
                  "type": "string"
                },
                "scale": {
                  "type": "integer",
                  "description": "The requested scale for the image.",
                  "location": "query",
                  "minimum": "0",
                  "format": "int32"
                },
                "h": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "maximum": "200",
                  "location": "query",
                  "minimum": "0",
                  "format": "uint32",
                  "type": "integer"
                },
                "w": {
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "annotationDataId": {
                  "repeated": true,
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "location": "query",
                  "type": "string"
                },
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Annotationsdata"
              },
              "id": "books.layers.annotationData.list",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "volumeAnnotations": {
          "methods": {
            "get": {
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "description": "Gets the volume annotation.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "annotationId": {
                  "description": "The ID of the volume annotation to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "layerId": {
                  "type": "string",
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                }
              },
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationId"
              ],
              "response": {
                "$ref": "Volumeannotation"
              },
              "id": "books.layers.volumeAnnotations.get",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "description": "Gets the volume annotations for a volume and layer.",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "parameters": {
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "endPosition": {
                  "description": "The end position to end retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "volumeAnnotationsVersion": {
                  "description": "The version of the volume annotations that you are requesting.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "minimum": "0",
                  "format": "uint32",
                  "description": "Maximum number of results to return",
                  "maximum": "200",
                  "location": "query",
                  "type": "integer"
                },
                "startOffset": {
                  "description": "The start offset to start retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "endOffset": {
                  "type": "string",
                  "description": "The end offset to end retrieving data from.",
                  "location": "query"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showDeleted": {
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query",
                  "type": "string"
                },
                "startPosition": {
                  "type": "string",
                  "description": "The start position to start retrieving data from.",
                  "location": "query"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query",
                  "type": "string"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "books.layers.volumeAnnotations.list",
              "response": {
                "$ref": "Volumeannotations"
              },
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "baseUrl": "https://books.googleapis.com/",
  "protocol": "rest",
  "name": "books",
  "batchPath": "batch",
  "id": "books:v1",
  "rootUrl": "https://books.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260312",
  "ownerName": "Google",
  "basePath": "",
  "schemas": {
    "Volumes": {
      "id": "Volumes",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Volume"
          },
          "description": "A list of volumes.",
          "type": "array"
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated."
        }
      }
    },
    "ConcurrentAccessRestriction": {
      "properties": {
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string"
        },
        "timeWindowSeconds": {
          "type": "integer",
          "description": "Time in seconds for license auto-expiration.",
          "format": "int32"
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "maxConcurrentDevices": {
          "type": "integer",
          "description": "The maximum number of concurrent access licenses for this volume.",
          "format": "int32"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "restricted": {
          "description": "Whether this volume has any concurrent access restrictions.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ConcurrentAccessRestriction"
    },
    "Bookshelf": {
      "type": "object",
      "id": "Bookshelf",
      "properties": {
        "title": {
          "description": "Title of this bookshelf.",
[...]
