{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "canonicalName": "Business Profile Performance",
  "title": "Business Profile Performance API",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "resources": {
    "locations": {
      "methods": {
        "fetchMultiDailyMetricsTimeSeries": {
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range and optionally the sub entity type, where applicable, that are associated with the specific daily metrics. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries",
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          },
          "parameters": {
            "dailyRange.endDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.startDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "dailyMetrics": {
              "repeated": true,
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "type": "string",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "description": "Required. The metrics to retrieve time series for.",
              "location": "query"
            },
            "dailyRange.endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "location": {
              "required": true,
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "pattern": "^locations/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "dailyRange.startDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "dailyRange.startDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "dailyRange.endDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "location"
          ]
        },
        "getDailyMetricsTimeSeries": {
          "parameters": {
            "dailyRange.startDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "format": "int32",
              "type": "integer",
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
              "location": "query"
            },
            "dailySubEntityType.dayOfWeek": {
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
              "location": "query",
              "type": "string",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ]
            },
            "name": {
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "pattern": "^locations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "dailyMetric": {
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "description": "Required. The metric to retrieve time series.",
              "location": "query",
              "type": "string",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ]
            },
            "dailySubEntityType.timeOfDay.hours": {
              "format": "int32",
              "type": "integer",
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "format": "int32",
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
              "location": "query",
              "type": "integer"
            },
            "dailyRange.endDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "type": "integer",
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "dailyRange.endDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.startDate.year": {
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries"
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "monthlyRange.startMonth.day": {
                          "format": "int32",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.year": {
                          "type": "integer",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query",
                          "format": "int32"
                        },
                        "monthlyRange.startMonth.year": {
                          "type": "integer",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageSize": {
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "monthlyRange.startMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.day": {
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "format": "byte",
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "pattern": "^locations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "revision": "20260412",
  "version_module": true,
  "name": "businessprofileperformance",
  "servicePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "schemas": {
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "properties": {
        "multiDailyMetricTimeSeries": {
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          },
          "type": "array",
          "description": "DailyMetrics and their corresponding time series."
        }
      },
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "type": "object",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries."
    },
    "InsightsValue": {
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "Represents the actual value."
        },
        "threshold": {
          "format": "int64",
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string"
        }
      },
      "description": "Represents an insights value.",
      "id": "InsightsValue",
      "type": "object"
    },
    "DatedValue": {
      "id": "DatedValue",
      "type": "object",
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the datapoint. This will not be present when the value is zero.",
          "format": "int64"
        },
        "date": {
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set.",
          "$ref": "Date"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      }
    },
    "MultiDailyMetricTimeSeries": {
      "id": "MultiDailyMetricTimeSeries",
      "type": "object",
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "properties": {
        "dailyMetricTimeSeries": {
          "items": {
            "$ref": "DailyMetricTimeSeries"
          },
          "description": "List of DailyMetric-TimeSeries pairs.",
          "type": "array"
        }
      }
    },
    "TimeSeries": {
      "properties": {
        "datedValues": {
          "items": {
            "$ref": "DatedValue"
          },
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "type": "array"
        }
      },
      "description": "Represents a timeseries.",
      "id": "TimeSeries",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      }
    },
    "DailyMetricTimeSeries": {
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "id": "DailyMetricTimeSeries",
      "type": "object",
      "properties": {
        "timeSeries": {
          "description": "List of datapoints where each datapoint is a date-value pair.",
          "$ref": "TimeSeries"
        },
        "dailyMetric": {
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ],
          "description": "The DailyMetric that the TimeSeries represents.",
          "type": "string",
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "dailySubEntityType": {
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist.",
          "$ref": "DailySubEntityType"
        }
      }
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "properties": {
        "timeSeries": {
          "description": "The daily time series.",
          "$ref": "TimeSeries"
        }
      },
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "id": "GetDailyMetricsTimeSeriesResponse",
      "type": "object"
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "type": "object",
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "properties": {
        "searchKeywordsCounts": {
          "description": "Search terms which have been used to find a business.",
          "type": "array",
          "items": {
            "$ref": "SearchKeywordCount"
          }
        },
        "nextPageToken": {
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "DailySubEntityType": {
      "id": "DailySubEntityType",
      "type": "object",
      "description": "Represents all possible subentity types that are associated with DailyMetrics.",
      "properties": {
        "timeOfDay": {
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE."
        }
      }
    },
    "SearchKeywordCount": {
      "description": "Represents a single search keyword and its value.",
      "id": "SearchKeywordCount",
      "type": "object",
      "properties": {
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        },
        "insightsValue": {
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold.",
          "$ref": "InsightsValue"
        }
      }
    }
  },
  "id": "businessprofileperformance:v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "basePath": ""
}