{
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "servicePath": "",
  "canonicalName": "Business Profile Performance",
  "revision": "20260306",
  "name": "businessprofileperformance",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "id": "businessprofileperformance:v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "version": "v1",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "locations": {
      "methods": {
        "getDailyMetricsTimeSeries": {
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "parameters": {
            "dailySubEntityType.timeOfDay.hours": {
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "type": "integer",
              "format": "int32",
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
              "location": "query"
            },
            "dailyRange.startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailySubEntityType.dayOfWeek": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE."
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "type": "integer",
              "format": "int32",
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "location": "query"
            },
            "name": {
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "required": true,
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "dailyRange.endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyMetric": {
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "type": "string",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "location": "query",
              "description": "Required. The metric to retrieve time series."
            }
          },
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          }
        },
        "fetchMultiDailyMetricsTimeSeries": {
          "httpMethod": "GET",
          "parameterOrder": [
            "location"
          ],
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          },
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "parameters": {
            "dailyRange.endDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "dailyRange.endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyMetrics": {
              "description": "Required. The metrics to retrieve time series for.",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "location": "query",
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ]
            },
            "dailyRange.startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "location": {
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "required": true,
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "dailyRange.startDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "dailyRange.startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": " Returns the values for each date from a given time range and optionally the sub entity type, where applicable, that are associated with the specific daily metrics. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries"
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "parameters": {
                        "parent": {
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "required": true,
                          "pattern": "^locations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "location": "query",
                          "type": "string",
                          "format": "byte"
                        },
                        "monthlyRange.endMonth.day": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query"
                        },
                        "monthlyRange.endMonth.year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query"
                        },
                        "monthlyRange.endMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "monthlyRange.startMonth.month": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query"
                        },
                        "monthlyRange.startMonth.year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query"
                        },
                        "monthlyRange.startMonth.day": {
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Business Profile Performance API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "properties": {
        "searchKeywordsCounts": {
          "type": "array",
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business."
        },
        "nextPageToken": {
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "type": "object"
    },
    "SearchKeywordCount": {
      "id": "SearchKeywordCount",
      "properties": {
        "insightsValue": {
          "$ref": "InsightsValue",
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold."
        },
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        }
      },
      "description": "Represents a single search keyword and its value.",
      "type": "object"
    },
    "MultiDailyMetricTimeSeries": {
      "type": "object",
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "id": "MultiDailyMetricTimeSeries",
      "properties": {
        "dailyMetricTimeSeries": {
          "type": "array",
          "items": {
            "$ref": "DailyMetricTimeSeries"
          },
          "description": "List of DailyMetric-TimeSeries pairs."
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "id": "GetDailyMetricsTimeSeriesResponse",
      "properties": {
        "timeSeries": {
          "$ref": "TimeSeries",
          "description": "The daily time series."
        }
      },
      "type": "object",
      "description": "Represents the response for GetDailyMetricsTimeSeries."
    },
    "TimeSeries": {
      "description": "Represents a timeseries.",
      "type": "object",
      "id": "TimeSeries",
      "properties": {
        "datedValues": {
          "type": "array",
          "items": {
            "$ref": "DatedValue"
          },
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair."
        }
      }
    },
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "properties": {
        "multiDailyMetricTimeSeries": {
          "description": "DailyMetrics and their corresponding time series.",
          "type": "array",
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          }
        }
      },
      "type": "object",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries."
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "DatedValue": {
      "id": "DatedValue",
      "properties": {
        "date": {
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set.",
          "$ref": "Date"
        },
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The value of the datapoint. This will not be present when the value is zero."
        }
      },
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "type": "object"
    },
    "InsightsValue": {
      "type": "object",
      "description": "Represents an insights value.",
      "id": "InsightsValue",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Represents the actual value."
        },
        "threshold": {
          "type": "string",
          "format": "int64",
          "description": "Represents the threshold below which the actual value falls."
        }
      }
    },
    "DailySubEntityType": {
      "description": "Represents all possible subentity types that are associated with DailyMetrics.",
      "type": "object",
      "id": "DailySubEntityType",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "timeOfDay": {
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "DailyMetricTimeSeries": {
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "type": "object",
      "id": "DailyMetricTimeSeries",
      "properties": {
        "dailySubEntityType": {
          "$ref": "DailySubEntityType",
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist."
        },
        "timeSeries": {
          "description": "List of datapoints where each datapoint is a date-value pair.",
          "$ref": "TimeSeries"
        },
        "dailyMetric": {
          "type": "string",
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ],
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "description": "The DailyMetric that the TimeSeries represents."
        }
      }
    }
  },
  "basePath": "",
  "version_module": true
}