{
  "basePath": "/calendar/v3/",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "discoveryVersion": "v1",
  "version": "v3",
  "description": "Manipulates events and other calendar data.",
  "revision": "20260407",
  "resources": {
    "acl": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "id": "calendar.acl.delete",
          "description": "Deletes an access control rule.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "httpMethod": "DELETE",
          "parameters": {
            "ruleId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        },
        "update": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "ruleId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "ACL rule identifier."
            },
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "description": "Updates an access control rule.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.update"
        },
        "list": {
          "id": "calendar.acl.list",
          "response": {
            "$ref": "Acl"
          },
          "path": "calendars/{calendarId}/acl",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "description": "Returns the rules in the access control list for the calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            }
          },
          "supportsSubscription": true,
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            },
            "ruleId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "description": "Updates an access control rule. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "response": {
            "$ref": "AclRule"
          },
          "request": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.patch"
        },
        "insert": {
          "id": "calendar.acl.insert",
          "path": "calendars/{calendarId}/acl",
          "response": {
            "$ref": "AclRule"
          },
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "description": "Creates an access control rule.",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True."
            }
          }
        },
        "watch": {
          "supportsSubscription": true,
          "httpMethod": "POST",
          "parameters": {
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "description": "Watch for changes to ACL resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/acl/watch",
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "calendar.acl.watch"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.acl.get",
          "description": "Returns an access control rule.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "ruleId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "httpMethod": "GET"
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "id": "calendar.freebusy.query",
          "description": "Returns free/busy information for a set of calendars.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.freebusy",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "freeBusy",
          "httpMethod": "POST",
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "response": {
            "$ref": "FreeBusyResponse"
          }
        }
      }
    },
    "calendarList": {
      "methods": {
        "delete": {
          "id": "calendar.calendarList.delete",
          "description": "Removes a calendar from the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "DELETE",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        },
        "update": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "colorRgbFormat": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "description": "Updates an existing calendar on the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "id": "calendar.calendarList.update"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendarList.get",
          "description": "Returns a calendar from the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "list": {
          "supportsSubscription": true,
          "path": "users/me/calendarList",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "minAccessRole": {
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ]
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            }
          },
          "response": {
            "$ref": "CalendarList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendarList.list",
          "description": "Returns the calendars on the user's calendar list."
        },
        "patch": {
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "colorRgbFormat": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "httpMethod": "PATCH",
          "id": "calendar.calendarList.patch",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "id": "calendar.calendarList.insert",
          "description": "Inserts an existing calendar into the user's calendar list.",
          "path": "users/me/calendarList",
          "httpMethod": "POST",
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "request": {
            "$ref": "CalendarListEntry"
          }
        },
        "watch": {
          "parameters": {
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "minAccessRole": {
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string",
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "supportsSubscription": true,
          "description": "Watch for changes to CalendarList resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "path": "users/me/calendarList/watch",
          "id": "calendar.calendarList.watch"
        }
      }
    },
    "calendars": {
      "methods": {
        "get": {
          "path": "calendars/{calendarId}",
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.get",
          "description": "Returns metadata for a calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars",
            "https://www.googleapis.com/auth/calendar.calendars.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}",
          "id": "calendar.calendars.patch",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "id": "calendar.calendars.insert",
          "description": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred.",
          "path": "calendars",
          "httpMethod": "POST",
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          }
        },
        "delete": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "calendars/{calendarId}",
          "httpMethod": "DELETE",
          "id": "calendar.calendars.delete",
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "description": "Updates metadata for a calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}",
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.update"
        },
        "clear": {
          "id": "calendar.calendars.clear",
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "path": "calendars/{calendarId}/clear",
          "httpMethod": "POST",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Colors"
          },
          "path": "colors",
          "httpMethod": "GET",
          "id": "calendar.colors.get",
          "description": "Returns the color definitions for calendars and events.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        }
      }
    },
    "settings": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.settings.list",
          "description": "Returns all user settings for the authenticated user.",
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "supportsSubscription": true,
          "path": "users/me/settings",
          "httpMethod": "GET"
        },
        "watch": {
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            }
          },
          "httpMethod": "POST",
          "supportsSubscription": true,
          "description": "Watch for changes to Settings resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "path": "users/me/settings/watch",
          "id": "calendar.settings.watch"
        },
        "get": {
          "parameters": {
            "setting": {
              "description": "The id of the user setting.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Setting"
          },
          "path": "users/me/settings/{setting}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.settings.get",
          "description": "Returns a single user setting.",
          "parameterOrder": [
            "setting"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.channels.stop",
          "description": "Stop watching resources through this channel",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "channels/stop",
          "httpMethod": "POST"
        }
      }
    },
    "events": {
      "methods": {
        "instances": {
          "httpMethod": "GET",
          "supportsSubscription": true,
          "parameters": {
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "originalStart": {
              "location": "query",
              "type": "string",
              "description": "The original start time of the instance in the result. Optional."
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "eventId": {
              "description": "Recurring event identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "timeMax": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "timeMin": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset."
            }
          },
          "description": "Returns instances of the specified recurring event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "response": {
            "$ref": "Events"
          },
          "id": "calendar.events.instances"
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Event identifier."
            },
            "conferenceDataVersion": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "maximum": "1",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.update"
        },
        "move": {
          "id": "calendar.events.move",
          "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "httpMethod": "POST",
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "destination": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Calendar identifier of the target calendar where the event is to be moved to."
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier of the source calendar where the event currently is on."
            },
            "eventId": {
              "description": "Event identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Event"
          }
        },
        "insert": {
          "parameters": {
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "conferenceDataVersion": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "maximum": "1",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "sendUpdates": {
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "location": "query",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ]
            }
          },
          "httpMethod": "POST",
          "description": "Creates an event.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events",
          "id": "calendar.events.insert"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "description": "Updates an event. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "eventId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Event identifier."
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "conferenceDataVersion": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "maximum": "1",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "maxAttendees": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            }
          },
          "httpMethod": "PATCH",
          "id": "calendar.events.patch",
          "response": {
            "$ref": "Event"
          },
          "request": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}"
        },
        "delete": {
          "id": "calendar.events.delete",
          "description": "Deletes an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameters": {
            "sendUpdates": {
              "description": "Guests who should receive notifications about the deletion of the event.",
              "location": "query",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Event identifier."
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "DELETE"
        },
        "import": {
          "id": "calendar.events.import",
          "response": {
            "$ref": "Event"
          },
          "request": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/import",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "minimum": "0",
              "maximum": "1",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "httpMethod": "POST"
        },
        "get": {
          "id": "calendar.events.get",
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "GET",
          "parameters": {
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "maxAttendees": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Event identifier."
            }
          },
          "response": {
            "$ref": "Event"
          }
        },
        "quickAdd": {
          "path": "calendars/{calendarId}/events/quickAdd",
          "httpMethod": "POST",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "text": {
              "description": "The text describing the event to be created.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the creation of the new event.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "id": "calendar.events.quickAdd",
          "description": "Creates an event based on a simple text string.",
          "parameterOrder": [
            "calendarId",
            "text"
          ]
        },
        "watch": {
          "id": "calendar.events.watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "path": "calendars/{calendarId}/events/watch",
          "description": "Watch for changes to Events resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "privateExtendedProperty": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "showHiddenInvitations": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query",
              "type": "string",
              "format": "date-time"
            },
            "iCalUID": {
              "type": "string",
              "location": "query",
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID."
            },
            "singleEvents": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False."
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "format": "date-time",
              "location": "query"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "location": "query",
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "timeMin": {
              "location": "query",
              "type": "string",
              "format": "date-time",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "orderBy": {
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "enum": [
                "startTime",
                "updated"
              ]
            },
            "eventTypes": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types."
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored.",
              "location": "query",
              "type": "boolean"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "maxResults": {
              "default": "250",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "minimum": "1"
            }
          },
          "httpMethod": "POST",
          "supportsSubscription": true
        },
        "list": {
          "id": "calendar.events.list",
          "response": {
            "$ref": "Events"
          },
          "path": "calendars/{calendarId}/events",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns events on the specified calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "privateExtendedProperty": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "type": "string",
              "format": "date-time",
              "location": "query"
            },
            "singleEvents": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False."
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "location": "query",
              "type": "string"
            },
            "updatedMin": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "sharedExtendedProperty": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "timeMin": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "location": "query",
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order."
            },
            "eventTypes": {
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ]
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "minimum": "1",
              "default": "250",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "supportsSubscription": true,
          "httpMethod": "GET"
        }
      }
    }
  },
  "name": "calendar",
  "documentationLink": "https://developers.google.com/workspace/calendar/firstapp",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "calendar/v3/",
  "ownerName": "Google",
  "batchPath": "batch/calendar/v3",
  "protocol": "rest",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for the response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Calendar API",
  "id": "calendar:v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.events.owned.readonly": {
          "description": "See the events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist": {
          "description": "See, add, and remove Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.acls": {
          "description": "See and change the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.acls.readonly": {
          "description": "See the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.calendars": {
          "description": "See and change the properties of Google calendars you have access to, and create secondary calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.public.readonly": {
          "description": "See the events on public calendars"
        },
        "https://www.googleapis.com/auth/calendar.app.created": {
          "description": "Make secondary Google calendars, and see, create, change, and delete events on them"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist.readonly": {
          "description": "See the list of Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.calendars.readonly": {
          "description": "See the title, description, default time zone, and other properties of Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.freebusy": {
          "description": "View your availability in your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.events.owned": {
          "description": "See, create, change, and delete events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.events.freebusy": {
          "description": "See the availability on Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        }
      }
    }
  },
  "schemas": {
    "ConferenceData": {
      "type": "object",
      "id": "ConferenceData",
      "properties": {
        "conferenceSolution": {
          "$ref": "ConferenceSolution",
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "parameters": {
          "$ref": "ConferenceParameters",
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
        },
        "createRequest": {
          "$ref": "CreateConferenceRequest",
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "notes": {
          "type": "string",
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional."
        },
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "type": "array",
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "signature": {
          "type": "string",
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
        }
      }
    },
    "Acl": {
      "id": "Acl",
      "properties": {
        "kind": {
          "description": "Type of the collection (\"calendar#acl\").",
          "default": "calendar#acl",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "items": {
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        }
      },
      "type": "object"
    },
    "EventReminder": {
      "id": "EventReminder",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        },
        "minutes": {
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Settings": {
      "id": "Settings",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "kind": {
          "description": "Type of the collection (\"calendar#settings\").",
          "default": "calendar#settings",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Setting"
          },
          "type": "array",
          "description": "List of user settings."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        }
      },
      "type": "object"
    },
    "ColorDefinition": {
      "type": "object",
      "id": "ColorDefinition",
      "properties": {
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        },
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        }
      }
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "properties": {
        "end": {
          "description": "The (exclusive) end of the time period.",
          "type": "string",
          "format": "date-time"
        },
        "start": {
          "description": "The (inclusive) start of the time period.",
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    },
    "Events": {
      "type": "object",
      "id": "Events",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#events\").",
          "default": "calendar#events"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only."
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "defaultReminders": {
[...]
