{
  "name": "certificatemanager",
  "discoveryVersion": "v1",
  "baseUrl": "https://certificatemanager.googleapis.com/",
  "title": "Certificate Manager API",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://certificatemanager.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "schemas": {
    "CNAME": {
      "description": "CNAME troubleshooting information.",
      "properties": {
        "resolvedData": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`.",
          "type": "string"
        },
        "expectedData": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`."
        }
      },
      "type": "object",
      "id": "CNAME"
    },
    "CertificateAuthorityConfig": {
      "type": "object",
      "id": "CertificateAuthorityConfig",
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc.",
      "properties": {
        "certificateAuthorityServiceConfig": {
          "description": "Defines a CertificateAuthorityServiceConfig.",
          "$ref": "CertificateAuthorityServiceConfig"
        }
      }
    },
    "TrustConfig": {
      "description": "Defines a trust config.",
      "properties": {
        "name": {
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with a TrustConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "allowlistedCertificates": {
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met.",
          "type": "array",
          "items": {
            "$ref": "AllowlistedCertificate"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "trustStores": {
          "type": "array",
          "items": {
            "$ref": "TrustStore"
          },
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a TrustConfig.",
          "type": "string"
        },
        "spiffeTrustStores": {
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation.",
          "additionalProperties": {
            "$ref": "TrustStore"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "TrustConfig"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GclbTarget": {
      "id": "GclbTarget",
      "type": "object",
      "description": "Describes a Target Proxy that uses this Certificate Map.",
      "properties": {
        "targetHttpsProxy": {
          "readOnly": true,
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetHttpsProxies/*`.",
          "type": "string"
        },
        "targetSslProxy": {
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetSslProxies/*`.",
          "readOnly": true,
          "type": "string"
        },
        "ipConfigs": {
          "type": "array",
          "items": {
            "$ref": "IpConfig"
          },
          "readOnly": true,
          "description": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving."
        }
      }
    },
    "UsedBy": {
      "id": "UsedBy",
      "type": "object",
      "description": "Defines a resource that uses the certificate.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`.",
          "readOnly": true
        }
      }
    },
    "IpConfig": {
      "description": "Defines IP configuration where this Certificate Map is serving.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An external IP address."
        },
        "ports": {
          "description": "Output only. Ports.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "type": "object",
      "id": "IpConfig"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "Troubleshooting": {
      "description": "Troubleshooting information for the authorization attempt.",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "enum": [
              "ISSUE_UNSPECIFIED",
              "CNAME_MISMATCH",
              "RESOLVED_TO_NOT_SERVING",
              "RESOLVED_TO_SERVING_ON_ALT_PORTS",
              "NO_RESOLVED_IPS",
              "CERTIFICATE_NOT_ATTACHED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Issue is unspecified.",
              "The resolved CNAME value doesn't match the expected CNAME.",
              "Domain has A/AAAA records that point to IPs, where the certificate is not attached.",
              "Domain has A/AAAA records that point to IPs, where the certificate is attached, but port 443 is not open.",
              "Domain doesn't have any A/AAAA records.",
              "Certificate is not configured to be served from any IPs (e.g. Certificate is not attached to any load balancer)."
            ]
          },
          "description": "Output only. The list of issues discovered during the authorization attempt.",
          "readOnly": true
        },
        "cname": {
          "readOnly": true,
          "description": "Output only. CNAME troubleshooting information.",
          "$ref": "CNAME"
        },
        "ips": {
          "$ref": "IPs",
          "readOnly": true,
          "description": "Output only. IPs troubleshooting information."
        }
      },
      "id": "Troubleshooting",
      "type": "object"
    },
    "ListTrustConfigsResponse": {
      "description": "Response for the `ListTrustConfigs` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "trustConfigs": {
          "type": "array",
          "items": {
            "$ref": "TrustConfig"
          },
          "description": "A list of TrustConfigs for the parent resource."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListTrustConfigsResponse",
      "type": "object"
    },
    "ListDnsAuthorizationsResponse": {
      "type": "object",
      "id": "ListDnsAuthorizationsResponse",
      "description": "Response for the `ListDnsAuthorizations` method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "dnsAuthorizations": {
          "description": "A list of dns authorizations for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "DnsAuthorization"
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation. Output only.",
      "properties": {
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "statusMessage": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      }
    },
    "ProvisioningIssue": {
      "description": "Information about issues with provisioning a Managed Certificate.",
      "properties": {
        "reason": {
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "AUTHORIZATION_ISSUE",
            "RATE_LIMITED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Certificate provisioning failed due to an issue with one or more of the domains on the certificate. For details of which domains failed, consult the `authorization_attempt_info` field.",
            "Exceeded Certificate Authority quotas or internal rate limits of the system. Provisioning may take longer to complete."
          ],
          "description": "Output only. Reason for provisioning failures."
        },
        "details": {
          "readOnly": true,
          "description": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProvisioningIssue"
    },
    "CertificateMapEntry": {
      "id": "CertificateMapEntry",
      "type": "object",
      "description": "Defines a certificate map entry.",
      "properties": {
        "certificates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A set of Certificates defines for the given `hostname`. There can be defined up to four certificates in each Certificate Map Entry. Each certificate must match pattern `projects/*/locations/*/certificates/*`."
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate map entry."
        },
        "state": {
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "ACTIVE",
            "PENDING"
          ],
          "readOnly": true,
          "description": "Output only. A serving state of this Certificate Map Entry.",
          "type": "string",
          "enumDescriptions": [
            "The status is undefined.",
            "The configuration is serving.",
            "Update is in progress. Some frontends may serve this configuration."
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update timestamp of a Certificate Map Entry."
        },
        "hostname": {
          "type": "string",
          "description": "A Hostname (FQDN, e.g. `example.com`) or a wildcard hostname expression (`*.example.com`) for a set of hostnames with common suffix. Used as Server Name Indication (SNI) for selecting a proper certificate."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate Map Entry.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a Certificate Map Entry."
        },
        "matcher": {
          "description": "A predefined matcher for particular cases, other than SNI selection.",
          "enum": [
            "MATCHER_UNSPECIFIED",
            "PRIMARY"
          ],
          "type": "string",
          "enumDescriptions": [
            "A matcher has't been recognized.",
            "A primary certificate that is served when SNI wasn't specified in the request or SNI couldn't be found in the map."
          ]
        }
      }
    },
    "SelfManagedCertificate": {
      "description": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any."
        },
        "pemPrivateKey": {
          "type": "string",
          "description": "Optional. Input only. The PEM-encoded private key of the leaf certificate."
        }
      },
      "id": "SelfManagedCertificate",
      "type": "object"
    },
    "ListCertificateMapsResponse": {
      "description": "Response for the `ListCertificateMaps` method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "certificateMaps": {
          "type": "array",
          "items": {
            "$ref": "CertificateMap"
          },
          "description": "A list of certificate maps for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "ListCertificateMapsResponse",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "Certificate": {
      "id": "Certificate",
      "type": "object",
      "description": "Defines TLS certificate.",
      "properties": {
        "managed": {
          "description": "If set, contains configuration and state of a managed certificate.",
          "$ref": "ManagedCertificate"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate.",
          "type": "string"
        },
        "selfManaged": {
          "description": "If set, defines data of a self-managed certificate.",
          "$ref": "SelfManagedCertificate"
        },
        "managedIdentity": {
          "description": "If set, contains configuration and state of a managed identity certificate.",
          "$ref": "ManagedIdentityCertificate"
        },
        "pemCertificate": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The PEM-encoded certificate chain."
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`."
        },
        "sanDnsnames": {
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expireTime": {
          "description": "Output only. The expiry timestamp of a Certificate.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "usedBy": {
          "type": "array",
          "items": {
            "$ref": "UsedBy"
          },
          "description": "Output only. The list of resources that use this Certificate.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a Certificate.",
          "type": "string"
        },
        "scope": {
          "description": "Optional. Immutable. The scope of the certificate.",
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a Certificate."
        }
      }
    },
    "DnsAuthorization": {
      "description": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance.",
      "properties": {
        "updateTime": {
          "description": "Output only. The last update timestamp of a DnsAuthorization.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "dnsResourceRecord": {
          "readOnly": true,
          "description": "Output only. DNS Resource Record that needs to be added to DNS configuration.",
          "$ref": "DnsResourceRecord"
        },
        "type": {
          "description": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED_RECORD",
            "PER_PROJECT_RECORD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "FIXED_RECORD DNS authorization uses DNS-01 validation method.",
            "PER_PROJECT_RECORD DNS authorization allows for independent management of Google-managed certificates with DNS authorization across multiple projects."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`."
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a DnsAuthorization.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with a DnsAuthorization.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a DnsAuthorization.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`."
        }
      },
      "type": "object",
      "id": "DnsAuthorization"
    },
    "ListCertificateIssuanceConfigsResponse": {
      "description": "Response for the `ListCertificateIssuanceConfigs` method.",
      "properties": {
        "certificateIssuanceConfigs": {
          "type": "array",
          "items": {
            "$ref": "CertificateIssuanceConfig"
          },
          "description": "A list of certificate configs for the parent resource."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListCertificateIssuanceConfigsResponse"
    },
    "IntermediateCA": {
      "description": "Defines an intermediate CA.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB."
        }
      },
      "type": "object",
      "id": "IntermediateCA"
    },
    "AuthorizationAttemptInfo": {
      "id": "AuthorizationAttemptInfo",
      "type": "object",
      "description": "State of the latest attempt to authorize a domain for certificate issuance.",
      "properties": {
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum."
        },
        "failureReason": {
          "readOnly": true,
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "CONFIG",
            "CAA",
            "RATE_LIMITED"
          ],
          "type": "string",
          "enumDescriptions": [
            "FailureReason is unspecified.",
            "There was a problem with the user's DNS or load balancer configuration for this domain.",
            "Certificate issuance forbidden by an explicit CAA record for the domain or a failure to check CAA records for the domain.",
            "Reached a CA or internal rate-limit for the domain, e.g. for certificates per top-level private domain."
          ],
          "description": "Output only. Reason for failure of the authorization attempt for the domain."
        },
        "troubleshooting": {
          "$ref": "Troubleshooting",
          "description": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate provisioning for this domain is under way. Google Cloud will attempt to authorize the domain.",
            "A managed certificate can be provisioned, no issues for this domain.",
            "Attempt to authorize the domain failed. This prevents the Managed Certificate from being issued. See `failure_reason` and `details` fields for more information."
          ],
          "description": "Output only. State of the domain for managed certificate issuance.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AUTHORIZING",
            "AUTHORIZED",
            "FAILED"
          ],
          "readOnly": true
        },
        "attemptTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp, when the authorization attempt was made."
        },
        "domain": {
          "type": "string",
          "description": "Output only. Domain name of the authorization attempt.",
          "readOnly": true
        }
      }
    },
    "DnsResourceRecord": {
      "id": "DnsResourceRecord",
      "type": "object",
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`"
        },
        "data": {
          "type": "string",
          "description": "Output only. Data of the DNS Resource Record.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\".",
          "readOnly": true
        }
      }
    },
    "ListCertificatesResponse": {
      "type": "object",
      "id": "ListCertificatesResponse",
      "description": "Response for the `ListCertificates` method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached."
        },
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "Certificate"
          },
          "description": "A list of certificates for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "ManagedIdentityCertificate": {
      "type": "object",
      "id": "ManagedIdentityCertificate",
      "description": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "identity": {
          "type": "string",
          "description": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate."
        },
        "provisioningIssue": {
          "readOnly": true,
          "description": "Output only. Information about issues with provisioning a managed certificate.",
          "$ref": "ProvisioningIssue"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "description": "Output only. State of the managed certificate resource."
        }
      }
    },
    "CertificateAuthorityServiceConfig": {
      "type": "object",
      "id": "CertificateAuthorityServiceConfig",
      "description": "Contains information required to contact CA service.",
      "properties": {
        "caPool": {
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "CertificateMap": {
      "type": "object",
      "id": "CertificateMap",
      "description": "Defines a collection of certificate configurations.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate map."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate Map.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`."
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate Map.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update timestamp of a Certificate Map."
        },
        "gclbTargets": {
          "description": "Output only. A list of GCLB targets that use this Certificate Map. A Target Proxy is only present on this list if it's attached to a Forwarding Rule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GclbTarget"
          }
        }
      }
    },
    "ListCertificateMapEntriesResponse": {
      "id": "ListCertificateMapEntriesResponse",
      "type": "object",
      "description": "Response for the `ListCertificateMapEntries` method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "certificateMapEntries": {
          "type": "array",
          "items": {
            "$ref": "CertificateMapEntry"
          },
          "description": "A list of certificate map entries for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object",
      "id": "Location"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "IPs": {
      "id": "IPs",
      "type": "object",
      "description": "IPs troubleshooting information.",
      "properties": {
        "resolved": {
          "description": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serving": {
          "description": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "servingOnAltPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open."
        }
      }
    },
    "AllowlistedCertificate": {
      "description": "Defines an allowlisted certificate.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "Required. PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate."
        }
      },
      "type": "object",
      "id": "AllowlistedCertificate"
    },
    "TrustAnchor": {
      "description": "Defines a trust anchor.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB."
        }
      },
      "id": "TrustAnchor",
      "type": "object"
    },
    "TrustStore": {
      "type": "object",
      "id": "TrustStore",
      "description": "Defines a trust store.",
      "properties": {
        "trustAnchors": {
          "type": "array",
          "items": {
            "$ref": "TrustAnchor"
          },
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore."
        },
        "intermediateCas": {
          "type": "array",
          "items": {
            "$ref": "IntermediateCA"
          },
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature."
        }
      }
    },
    "CertificateIssuanceConfig": {
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "keyAlgorithm": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ],
          "description": "Required. The key algorithm to use when generating the private key.",
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ]
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive."
        },
        "certificateAuthorityConfig": {
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc.",
          "$ref": "CertificateAuthorityConfig"
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig."
        },
        "lifetime": {
          "description": "Required. Workload certificate lifetime requested.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CertificateIssuanceConfig"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "ManagedCertificate": {
      "id": "ManagedCertificate",
      "type": "object",
      "description": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "authorizationAttemptInfo": {
          "type": "array",
          "items": {
            "$ref": "AuthorizationAttemptInfo"
          },
          "description": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource.",
          "readOnly": true
        },
        "domains": {
          "description": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provisioningIssue": {
          "readOnly": true,
          "description": "Output only. Information about issues with provisioning a Managed Certificate.",
          "$ref": "ProvisioningIssue"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "description": "Output only. State of the managed certificate resource."
        },
        "dnsAuthorizations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Authorizations that will be used for performing domain authorization."
        },
        "issuanceConfig": {
          "type": "string",
          "description": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "certificateMaps": {
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Maximum number of certificate map entries to return. The service may return fewer than this value. If unspecified, at most 50 certificate map entries will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter expression to restrict the returned Certificate Map Entries.",
                          "type": "string"
                        }
                      },
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "path": "v1/{+parent}/certificateMapEntries"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get",
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Gets details of a single CertificateMapEntry.",
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "description": "Deletes a single CertificateMapEntry.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "type": "string",
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "Updates a CertificateMapEntry.",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                          "required": true,
                          "location": "path"
                        },
                        "certificateMapEntryId": {
                          "location": "query",
                          "description": "Required. A user-provided name of the certificate map entry.",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "path": "v1/{+parent}/certificateMapEntries",
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "path": "v1/{+parent}/certificateMaps",
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "parameters": {
                    "certificateMapId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A user-provided name of the certificate map."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of certificate maps to return per call."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/certificateMaps",
                  "description": "Lists CertificateMaps in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single CertificateMap.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "response": {
                    "$ref": "CertificateMap"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method.",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "description": "Updates a CertificateMap.",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "dnsAuthorizations": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "description": "Lists DnsAuthorizations in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "description": "Gets details of a single DnsAuthorization.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get",
                  "response": {
                    "$ref": "DnsAuthorization"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$"
                    }
                  },
                  "description": "Deletes a single DnsAuthorization.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "type": "string",
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask."
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "description": "Updates a DnsAuthorization.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new DnsAuthorization in a given project and location.",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "dnsAuthorizationId": {
                      "type": "string",
                      "description": "Required. A user-provided name of the dns authorization.",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "trustConfigs": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "certificatemanager.projects.locations.trustConfigs.list",
                  "response": {
                    "$ref": "ListTrustConfigsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the TrustConfigs returned."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListTrustConfigsResponse`. Indicates that this is a continuation of a prior `ListTrustConfigs` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. A list of TrustConfig field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location from which the TrustConfigs should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of TrustConfigs to return per call."
                    }
                  },
                  "description": "Lists TrustConfigs in a given project and location.",
                  "path": "v1/{+parent}/trustConfigs"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TrustConfig"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.get",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the TrustConfig to describe. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single TrustConfig.",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "description": "Deletes a single TrustConfig.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. A name of the TrustConfig to delete. Must be in the format `projects/*/locations/*/trustConfigs/*`."
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The current etag of the TrustConfig. If an etag is provided and does not match the current etag of the resource, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "type": "string",
                      "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`."
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a TrustConfig.",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.trustConfigs.patch",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "trustConfigId": {
                      "description": "Required. A user-provided name of the TrustConfig. Must match the regexp `[a-z0-9-]{1,63}`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource of the TrustConfig. Must be in the format `projects/*/locations/*`."
                    }
                  },
                  "path": "v1/{+parent}/trustConfigs",
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "description": "Creates a new TrustConfig in a given project and location."
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "certificatemanager.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "certificates": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificates.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`."
                    },
                    "certificateId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A user-provided name of the certificate."
                    }
                  },
                  "description": "Creates a new Certificate in a given project and location.",
                  "path": "v1/{+parent}/certificates",
                  "request": {
                    "$ref": "Certificate"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "certificatemanager.projects.locations.certificates.list",
                  "response": {
                    "$ref": "ListCertificatesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of certificates to return per call.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates returned.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Certificates in a given project and location.",
                  "path": "v1/{+parent}/certificates"
                },
                "get": {
                  "id": "certificatemanager.projects.locations.certificates.get",
                  "response": {
                    "$ref": "Certificate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Certificate.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes a single Certificate.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "description": "Required. A name of the certificate to delete. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.certificates.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "description": "Updates a Certificate."
                }
              }
            },
            "certificateIssuanceConfigs": {
              "methods": {
                "list": {
                  "description": "Lists CertificateIssuanceConfigs in a given project and location.",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Certificates Configs returned.",
                      "location": "query",
                      "type": "string"
                    },
[...]
