{
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/certificate-manager/docs/overview",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "certificatemanager.projects.locations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations"
            },
            "get": {
              "id": "certificatemanager.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "certificates": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "certificatemanager.projects.locations.certificates.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the certificate to delete. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Deletes a single Certificate.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "path": "v1/{+name}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Certificate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single Certificate.",
                  "id": "certificatemanager.projects.locations.certificates.get",
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "v1/{+parent}/certificates",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "certificateId": {
                      "description": "Required. A user-provided name of the certificate.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new Certificate in a given project and location.",
                  "id": "certificatemanager.projects.locations.certificates.create",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificatesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of certificates to return per call."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Certificates returned.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Certificates in a given project and location.",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificates.list",
                  "path": "v1/{+parent}/certificates",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true,
                      "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Updates a Certificate.",
                  "id": "certificatemanager.projects.locations.certificates.patch",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "trustConfigs": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the TrustConfig. Must be in the format `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "trustConfigId": {
                      "description": "Required. A user-provided name of the TrustConfig. Must match the regexp `[a-z0-9-]{1,63}`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new TrustConfig in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "certificatemanager.projects.locations.trustConfigs.create",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "path": "v1/{+parent}/trustConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TrustConfig"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/trustConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.trustConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTrustConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The project and location from which the TrustConfigs should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Optional. A list of TrustConfig field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of TrustConfigs to return per call.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListTrustConfigsResponse`. Indicates that this is a continuation of a prior `ListTrustConfigs` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the TrustConfigs returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists TrustConfigs in a given project and location."
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "description": "Updates a TrustConfig.",
                  "id": "certificatemanager.projects.locations.trustConfigs.patch",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the TrustConfig to delete. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "location": "path"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The current etag of the TrustConfig. If an etag is provided and does not match the current etag of the resource, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single TrustConfig.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "id": "certificatemanager.projects.locations.trustConfigs.delete"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the TrustConfig to describe. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single TrustConfig.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TrustConfig"
                  },
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.trustConfigs.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "certificateMaps": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "id": "certificatemanager.projects.locations.certificateMaps.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "certificateMapId": {
                      "description": "Required. A user-provided name of the certificate map.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "path": "v1/{+parent}/certificateMaps"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of certificate maps to return per call.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data."
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    }
                  },
                  "description": "Lists CertificateMaps in a given project and location.",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "path": "v1/{+parent}/certificateMaps",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a CertificateMap."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method.",
                  "httpMethod": "DELETE",
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$"
                    }
                  },
                  "description": "Gets details of a single CertificateMap.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CertificateMap"
                  },
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "path": "v1/{+parent}/certificateMapEntries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "required": true
                        },
                        "certificateMapEntryId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. A user-provided name of the certificate map entry."
                        }
                      },
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "path": "v1/{+parent}/certificateMapEntries",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of certificate map entries to return. The service may return fewer than this value. If unspecified, at most 50 certificate map entries will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data.",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the returned Certificate Map Entries."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "required": true
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                        }
                      },
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "Updates a CertificateMapEntry.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes a single CertificateMapEntry.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "location": "path",
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "type": "string"
                        }
                      },
                      "description": "Gets details of a single CertificateMapEntry.",
                      "httpMethod": "GET",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.operations.list"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "certificatemanager.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dnsAuthorizations": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "dnsAuthorizationId": {
                      "location": "query",
                      "description": "Required. A user-provided name of the dns authorization.",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new DnsAuthorization in a given project and location.",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned.",
                      "location": "query"
                    }
                  },
                  "description": "Lists DnsAuthorizations in a given project and location."
                },
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
                      "location": "path"
                    }
                  },
                  "description": "Updates a DnsAuthorization.",
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch"
                },
                "delete": {
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a single DnsAuthorization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single DnsAuthorization.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DnsAuthorization"
                  },
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get"
                }
              }
            },
            "certificateIssuanceConfigs": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCertificateIssuanceConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of certificate configs to return per call.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateIssuanceConfigsResponse`. Indicates that this is a continuation of a prior `ListCertificateIssuanceConfigs` call, and that the system should return the next page of data."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Certificates Configs returned.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. A list of Certificate Config field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "type": "string"
                    }
                  },
                  "description": "Lists CertificateIssuanceConfigs in a given project and location.",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.list",
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`."
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "description": "Updates a CertificateIssuanceConfig.",
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.patch",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the certificate issuance config. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "certificateIssuanceConfigId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A user-provided name of the certificate config."
                    }
                  },
                  "description": "Creates a new CertificateIssuanceConfig in a given project and location.",
                  "httpMethod": "POST",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.create"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the certificate issuance config to describe. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single CertificateIssuanceConfig.",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.get"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the certificate issuance config to delete. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a single CertificateIssuanceConfig.",
                  "httpMethod": "DELETE",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://certificatemanager.mtls.googleapis.com/",
  "baseUrl": "https://certificatemanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Certificate Manager API",
  "protocol": "rest",
  "id": "certificatemanager:v1",
  "version": "v1",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "certificatemanager",
  "description": "",
  "revision": "20260427",
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://certificatemanager.googleapis.com/",
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "ManagedCertificate": {
      "type": "object",
      "description": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "issuanceConfig": {
          "description": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa.",
          "type": "string"
        },
        "domains": {
          "description": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsAuthorizations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Authorizations that will be used for performing domain authorization.",
          "type": "array"
        },
        "provisioningIssue": {
          "description": "Output only. Information about issues with provisioning a Managed Certificate.",
          "readOnly": true,
          "$ref": "ProvisioningIssue"
        },
        "state": {
          "description": "Output only. State of the managed certificate resource.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ]
        },
        "authorizationAttemptInfo": {
          "items": {
            "$ref": "AuthorizationAttemptInfo"
          },
          "type": "array",
          "description": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource.",
          "readOnly": true
        }
      },
      "id": "ManagedCertificate"
    },
    "TrustStore": {
      "type": "object",
      "description": "Defines a trust store.",
      "properties": {
        "trustAnchors": {
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore.",
          "type": "array",
          "items": {
            "$ref": "TrustAnchor"
          }
        },
        "intermediateCas": {
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature.",
          "type": "array",
          "items": {
            "$ref": "IntermediateCA"
          }
        }
      },
      "id": "TrustStore"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation. Output only.",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "CNAME": {
      "description": "CNAME troubleshooting information.",
      "properties": {
        "resolvedData": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`.",
          "readOnly": true
        },
        "expectedData": {
          "type": "string",
          "description": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CNAME"
    },
    "ManagedIdentityCertificate": {
      "type": "object",
      "description": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of the managed certificate resource.",
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "identity": {
          "type": "string",
          "description": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate."
        },
        "provisioningIssue": {
          "description": "Output only. Information about issues with provisioning a managed certificate.",
          "readOnly": true,
          "$ref": "ProvisioningIssue"
        }
      },
      "id": "ManagedIdentityCertificate"
    },
    "CertificateAuthorityServiceConfig": {
      "type": "object",
      "description": "Contains information required to contact CA service.",
      "properties": {
        "caPool": {
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        }
      },
      "id": "CertificateAuthorityServiceConfig"
    },
    "Troubleshooting": {
      "id": "Troubleshooting",
      "type": "object",
      "description": "Troubleshooting information for the authorization attempt.",
      "properties": {
        "cname": {
          "description": "Output only. CNAME troubleshooting information.",
          "readOnly": true,
          "$ref": "CNAME"
        },
        "ips": {
          "description": "Output only. IPs troubleshooting information.",
          "readOnly": true,
          "$ref": "IPs"
        },
        "issues": {
          "items": {
            "enum": [
              "ISSUE_UNSPECIFIED",
              "CNAME_MISMATCH",
              "RESOLVED_TO_NOT_SERVING",
              "RESOLVED_TO_SERVING_ON_ALT_PORTS",
              "NO_RESOLVED_IPS",
              "CERTIFICATE_NOT_ATTACHED"
            ],
            "enumDescriptions": [
              "Issue is unspecified.",
              "The resolved CNAME value doesn't match the expected CNAME.",
              "Domain has A/AAAA records that point to IPs, where the certificate is not attached.",
              "Domain has A/AAAA records that point to IPs, where the certificate is attached, but port 443 is not open.",
              "Domain doesn't have any A/AAAA records.",
              "Certificate is not configured to be served from any IPs (e.g. Certificate is not attached to any load balancer)."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of issues discovered during the authorization attempt.",
          "readOnly": true
        }
      }
    },
    "DnsAuthorization": {
      "id": "DnsAuthorization",
      "description": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a DnsAuthorization.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a DnsAuthorization.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED_RECORD",
            "PER_PROJECT_RECORD"
          ],
          "type": "string",
          "description": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD.",
          "enumDescriptions": [
            "Type is unspecified.",
            "FIXED_RECORD DNS authorization uses DNS-01 validation method.",
            "PER_PROJECT_RECORD DNS authorization allows for independent management of Google-managed certificates with DNS authorization across multiple projects."
          ]
        },
        "dnsResourceRecord": {
          "description": "Output only. DNS Resource Record that needs to be added to DNS configuration.",
          "readOnly": true,
          "$ref": "DnsResourceRecord"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a DnsAuthorization."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a DnsAuthorization.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "ListCertificateIssuanceConfigsResponse": {
      "id": "ListCertificateIssuanceConfigsResponse",
      "description": "Response for the `ListCertificateIssuanceConfigs` method.",
      "properties": {
        "certificateIssuanceConfigs": {
          "items": {
            "$ref": "CertificateIssuanceConfig"
          },
          "type": "array",
          "description": "A list of certificate configs for the parent resource."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TrustConfig": {
      "id": "TrustConfig",
      "type": "object",
      "description": "Defines a trust config.",
      "properties": {
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a TrustConfig.",
          "type": "string"
        },
        "allowlistedCertificates": {
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met.",
          "type": "array",
          "items": {
            "$ref": "AllowlistedCertificate"
          }
        },
        "trustStores": {
          "type": "array",
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed.",
          "items": {
            "$ref": "TrustStore"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "readOnly": true
        },
        "spiffeTrustStores": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TrustStore"
          },
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation."
        },
        "labels": {
          "description": "Optional. Set of labels associated with a TrustConfig.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse"
    },
    "Certificate": {
      "description": "Defines TLS certificate.",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The expiry timestamp of a Certificate.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate.",
          "type": "string"
        },
        "usedBy": {
          "description": "Output only. The list of resources that use this Certificate.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UsedBy"
          }
        },
        "name": {
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a Certificate.",
          "readOnly": true
        },
        "managed": {
          "description": "If set, contains configuration and state of a managed certificate.",
          "$ref": "ManagedCertificate"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a Certificate."
        },
        "selfManaged": {
          "description": "If set, defines data of a self-managed certificate.",
          "$ref": "SelfManagedCertificate"
        },
        "scope": {
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ],
          "type": "string",
          "description": "Optional. Immutable. The scope of the certificate.",
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ]
        },
        "sanDnsnames": {
          "type": "array",
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "managedIdentity": {
          "description": "If set, contains configuration and state of a managed identity certificate.",
          "$ref": "ManagedIdentityCertificate"
        },
        "pemCertificate": {
          "description": "Output only. The PEM-encoded certificate chain.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Certificate"
    },
    "ListCertificateMapEntriesResponse": {
      "type": "object",
      "description": "Response for the `ListCertificateMapEntries` method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "certificateMapEntries": {
          "description": "A list of certificate map entries for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "CertificateMapEntry"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListCertificateMapEntriesResponse"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "CertificateIssuanceConfig": {
      "id": "CertificateIssuanceConfig",
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig.",
          "readOnly": true
        },
        "lifetime": {
          "description": "Required. Workload certificate lifetime requested.",
          "type": "string",
          "format": "google-duration"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig.",
          "type": "string"
        },
        "certificateAuthorityConfig": {
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc.",
          "$ref": "CertificateAuthorityConfig"
        },
        "keyAlgorithm": {
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ],
          "type": "string",
          "description": "Required. The key algorithm to use when generating the private key.",
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ]
        },
        "labels": {
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig.",
          "readOnly": true
        },
        "rotationWindowPercentage": {
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "IntermediateCA": {
      "id": "IntermediateCA",
      "type": "object",
      "description": "Defines an intermediate CA.",
      "properties": {
        "pemCertificate": {
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      }
    },
    "ListCertificatesResponse": {
      "type": "object",
      "description": "Response for the `ListCertificates` method.",
      "properties": {
        "certificates": {
          "items": {
            "$ref": "Certificate"
          },
          "description": "A list of certificates for the parent resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCertificatesResponse"
    },
    "AuthorizationAttemptInfo": {
      "id": "AuthorizationAttemptInfo",
      "type": "object",
      "description": "State of the latest attempt to authorize a domain for certificate issuance.",
      "properties": {
        "state": {
          "description": "Output only. State of the domain for managed certificate issuance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate provisioning for this domain is under way. Google Cloud will attempt to authorize the domain.",
            "A managed certificate can be provisioned, no issues for this domain.",
            "Attempt to authorize the domain failed. This prevents the Managed Certificate from being issued. See `failure_reason` and `details` fields for more information."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "AUTHORIZING",
            "AUTHORIZED",
            "FAILED"
          ]
        },
        "attemptTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp, when the authorization attempt was made.",
          "readOnly": true
        },
        "domain": {
          "description": "Output only. Domain name of the authorization attempt.",
          "readOnly": true,
          "type": "string"
        },
        "troubleshooting": {
          "description": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed.",
          "readOnly": true,
          "$ref": "Troubleshooting"
        },
        "failureReason": {
          "enumDescriptions": [
            "FailureReason is unspecified.",
            "There was a problem with the user's DNS or load balancer configuration for this domain.",
            "Certificate issuance forbidden by an explicit CAA record for the domain or a failure to check CAA records for the domain.",
            "Reached a CA or internal rate-limit for the domain, e.g. for certificates per top-level private domain."
          ],
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "CONFIG",
            "CAA",
            "RATE_LIMITED"
          ],
          "description": "Output only. Reason for failure of the authorization attempt for the domain.",
          "readOnly": true,
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum.",
          "readOnly": true
        }
      }
    },
    "DnsResourceRecord": {
      "id": "DnsResourceRecord",
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate.",
      "properties": {
        "name": {
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\".",
          "readOnly": true
        },
        "data": {
          "description": "Output only. Data of the DNS Resource Record.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CertificateAuthorityConfig": {
      "id": "CertificateAuthorityConfig",
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc.",
      "properties": {
        "certificateAuthorityServiceConfig": {
[...]
