{
  "id": "certificatemanager:v1",
  "kind": "discovery#restDescription",
  "description": "",
  "servicePath": "",
  "rootUrl": "https://certificatemanager.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version": "v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://certificatemanager.googleapis.com/",
  "revision": "20260505",
  "ownerName": "Google",
  "protocol": "rest",
  "name": "certificatemanager",
  "documentationLink": "https://docs.cloud.google.com/certificate-manager/docs/overview",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://certificatemanager.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dnsAuthorizations": {
              "methods": {
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "description": "Creates a new DnsAuthorization in a given project and location.",
                  "parameters": {
                    "dnsAuthorizationId": {
                      "description": "Required. A user-provided name of the dns authorization.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "description": "Updates a DnsAuthorization."
                },
                "get": {
                  "response": {
                    "$ref": "DnsAuthorization"
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single DnsAuthorization.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single DnsAuthorization.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "httpMethod": "GET",
                  "description": "Lists DnsAuthorizations in a given project and location.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "trustConfigs": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "response": {
                    "$ref": "ListTrustConfigsResponse"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.list",
                  "path": "v1/{+parent}/trustConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter expression to restrict the TrustConfigs returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The project and location from which the TrustConfigs should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListTrustConfigsResponse`. Indicates that this is a continuation of a prior `ListTrustConfigs` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of TrustConfigs to return per call.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. A list of TrustConfig field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists TrustConfigs in a given project and location."
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single TrustConfig.",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the TrustConfig. If an etag is provided and does not match the current etag of the resource, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. A name of the TrustConfig to delete. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "response": {
                    "$ref": "TrustConfig"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the TrustConfig to describe. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single TrustConfig."
                },
                "create": {
                  "id": "certificatemanager.projects.locations.trustConfigs.create",
                  "path": "v1/{+parent}/trustConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new TrustConfig in a given project and location.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of the TrustConfig. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "trustConfigId": {
                      "description": "Required. A user-provided name of the TrustConfig. Must match the regexp `[a-z0-9-]{1,63}`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TrustConfig"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a TrustConfig.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "certificatemanager.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "certificatemanager.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "certificatemanager.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            },
            "certificateMaps": {
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "httpMethod": "GET",
                      "description": "Gets details of a single CertificateMapEntry.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "certificateMapEntryId": {
                          "type": "string",
                          "description": "Required. A user-provided name of the certificate map entry.",
                          "location": "query"
                        }
                      },
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create",
                      "path": "v1/{+parent}/certificateMapEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries"
                    },
                    "patch": {
                      "description": "Updates a CertificateMapEntry.",
                      "parameters": {
                        "name": {
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "CertificateMapEntry"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "httpMethod": "GET",
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter expression to restrict the returned Certificate Map Entries.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Maximum number of certificate map entries to return. The service may return fewer than this value. If unspecified, at most 50 certificate map entries will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "path": "v1/{+parent}/certificateMapEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes a single CertificateMapEntry."
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "id": "certificatemanager.projects.locations.certificateMaps.create",
                  "path": "v1/{+parent}/certificateMaps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "certificateMapId": {
                      "type": "string",
                      "description": "Required. A user-provided name of the certificate map.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CertificateMap"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a CertificateMap.",
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}"
                },
                "get": {
                  "description": "Gets details of a single CertificateMap.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "CertificateMap"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "httpMethod": "GET"
                },
                "list": {
                  "description": "Lists CertificateMaps in a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of certificate maps to return per call.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "path": "v1/{+parent}/certificateMaps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "certificateIssuanceConfigs": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.list",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCertificateIssuanceConfigsResponse"
                  },
                  "description": "Lists CertificateIssuanceConfigs in a given project and location.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates Configs returned.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateIssuanceConfigsResponse`. Indicates that this is a continuation of a prior `ListCertificateIssuanceConfigs` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of certificate configs to return per call.",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Certificate Config field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. A name of the certificate issuance config to delete. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single CertificateIssuanceConfig.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.create",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new CertificateIssuanceConfig in a given project and location.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the certificate issuance config. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "certificateIssuanceConfigId": {
                      "description": "Required. A user-provided name of the certificate config.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a CertificateIssuanceConfig.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the certificate issuance config to describe. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single CertificateIssuanceConfig.",
                  "response": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "certificates": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "DELETE",
                  "id": "certificatemanager.projects.locations.certificates.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Certificate.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. A name of the certificate to delete. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "response": {
                    "$ref": "ListCertificatesResponse"
                  },
                  "id": "certificatemanager.projects.locations.certificates.list",
                  "path": "v1/{+parent}/certificates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of certificates to return per call.",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates returned.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Certificates in a given project and location."
                },
                "create": {
                  "description": "Creates a new Certificate in a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "certificateId": {
                      "description": "Required. A user-provided name of the certificate.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificates.create",
                  "path": "v1/{+parent}/certificates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Certificate"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificates.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a Certificate.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single Certificate.",
                  "response": {
                    "$ref": "Certificate"
                  },
                  "id": "certificatemanager.projects.locations.certificates.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "certificatemanager.projects.locations.list",
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "certificatemanager.projects.locations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets information about a location."
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Certificate Manager API",
  "schemas": {
    "TrustAnchor": {
      "description": "Defines a trust anchor.",
      "id": "TrustAnchor",
      "type": "object",
      "properties": {
        "pemCertificate": {
          "description": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "CertificateAuthorityServiceConfig": {
      "properties": {
        "caPool": {
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CertificateAuthorityServiceConfig",
      "description": "Contains information required to contact CA service."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation. Output only.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      }
    },
    "ListCertificatesResponse": {
      "id": "ListCertificatesResponse",
      "description": "Response for the `ListCertificates` method.",
      "properties": {
        "certificates": {
          "items": {
            "$ref": "Certificate"
          },
          "type": "array",
          "description": "A list of certificates for the parent resource."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Certificate": {
      "properties": {
        "pemCertificate": {
          "description": "Output only. The PEM-encoded certificate chain.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a Certificate.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sanDnsnames": {
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "description": "Optional. Immutable. The scope of the certificate.",
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ],
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The expiry timestamp of a Certificate.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate.",
          "type": "string"
        },
        "managed": {
          "description": "If set, contains configuration and state of a managed certificate.",
          "$ref": "ManagedCertificate"
        },
        "managedIdentity": {
          "description": "If set, contains configuration and state of a managed identity certificate.",
          "$ref": "ManagedIdentityCertificate"
        },
        "selfManaged": {
          "description": "If set, defines data of a self-managed certificate.",
          "$ref": "SelfManagedCertificate"
        },
        "usedBy": {
          "description": "Output only. The list of resources that use this Certificate.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UsedBy"
          }
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Set of labels associated with a Certificate.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Certificate",
      "description": "Defines TLS certificate."
    },
    "UsedBy": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`."
        }
      },
      "type": "object",
      "id": "UsedBy",
      "description": "Defines a resource that uses the certificate."
    },
    "CertificateMapEntry": {
      "id": "CertificateMapEntry",
      "description": "Defines a certificate map entry.",
      "properties": {
        "updateTime": {
          "description": "Output only. The update timestamp of a Certificate Map Entry.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. A serving state of this Certificate Map Entry.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "ACTIVE",
            "PENDING"
          ],
          "enumDescriptions": [
            "The status is undefined.",
            "The configuration is serving.",
            "Update is in progress. Some frontends may serve this configuration."
          ]
        },
        "certificates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A set of Certificates defines for the given `hostname`. There can be defined up to four certificates in each Certificate Map Entry. Each certificate must match pattern `projects/*/locations/*/certificates/*`."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate map entry.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate Map Entry."
        },
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate Map Entry.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "matcher": {
          "description": "A predefined matcher for particular cases, other than SNI selection.",
          "enum": [
            "MATCHER_UNSPECIFIED",
            "PRIMARY"
          ],
          "enumDescriptions": [
            "A matcher has't been recognized.",
            "A primary certificate that is served when SNI wasn't specified in the request or SNI couldn't be found in the map."
          ],
          "type": "string"
        },
        "hostname": {
          "description": "A Hostname (FQDN, e.g. `example.com`) or a wildcard hostname expression (`*.example.com`) for a set of hostnames with common suffix. Used as Server Name Indication (SNI) for selecting a proper certificate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SelfManagedCertificate": {
      "id": "SelfManagedCertificate",
      "description": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility.",
      "properties": {
        "pemCertificate": {
          "description": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any.",
          "type": "string"
        },
        "pemPrivateKey": {
          "description": "Optional. Input only. The PEM-encoded private key of the leaf certificate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListCertificateMapsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "certificateMaps": {
          "description": "A list of certificate maps for the parent resource.",
          "items": {
            "$ref": "CertificateMap"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCertificateMapsResponse",
      "description": "Response for the `ListCertificateMaps` method."
    },
    "IntermediateCA": {
      "type": "object",
      "properties": {
        "pemCertificate": {
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      },
      "description": "Defines an intermediate CA.",
      "id": "IntermediateCA"
    },
    "TrustConfig": {
      "description": "Defines a trust config.",
      "id": "TrustConfig",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a TrustConfig."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a TrustConfig.",
          "type": "string"
        },
        "trustStores": {
          "items": {
            "$ref": "TrustStore"
          },
          "type": "array",
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed."
        },
        "name": {
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "allowlistedCertificates": {
          "type": "array",
          "items": {
            "$ref": "AllowlistedCertificate"
          },
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met."
        },
        "spiffeTrustStores": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TrustStore"
          },
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      }
    },
    "CertificateAuthorityConfig": {
      "properties": {
        "certificateAuthorityServiceConfig": {
          "description": "Defines a CertificateAuthorityServiceConfig.",
          "$ref": "CertificateAuthorityServiceConfig"
        }
      },
      "type": "object",
      "id": "CertificateAuthorityConfig",
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc."
    },
    "CertificateIssuanceConfig": {
      "type": "object",
      "properties": {
        "rotationWindowPercentage": {
          "type": "integer",
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive.",
          "format": "int32"
        },
        "keyAlgorithm": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ],
          "description": "Required. The key algorithm to use when generating the private key.",
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ]
        },
        "name": {
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "lifetime": {
          "description": "Required. Workload certificate lifetime requested.",
          "format": "google-duration",
          "type": "string"
        },
        "certificateAuthorityConfig": {
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc.",
          "$ref": "CertificateAuthorityConfig"
        }
      },
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate.",
      "id": "CertificateIssuanceConfig"
    },
    "ProvisioningIssue": {
      "description": "Information about issues with provisioning a Managed Certificate.",
      "id": "ProvisioningIssue",
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "AUTHORIZATION_ISSUE",
            "RATE_LIMITED"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Certificate provisioning failed due to an issue with one or more of the domains on the certificate. For details of which domains failed, consult the `authorization_attempt_info` field.",
            "Exceeded Certificate Authority quotas or internal rate limits of the system. Provisioning may take longer to complete."
          ],
          "description": "Output only. Reason for provisioning failures.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum."
        }
      }
    },
    "CertificateMap": {
      "id": "CertificateMap",
      "description": "Defines a collection of certificate configurations.",
      "properties": {
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate map.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with a Certificate Map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update timestamp of a Certificate Map.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate Map.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "gclbTargets": {
          "description": "Output only. A list of GCLB targets that use this Certificate Map. A Target Proxy is only present on this list if it's attached to a Forwarding Rule.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GclbTarget"
          }
        }
      },
      "type": "object"
    },
    "ListTrustConfigsResponse": {
      "description": "Response for the `ListTrustConfigs` method.",
      "id": "ListTrustConfigsResponse",
      "type": "object",
      "properties": {
        "trustConfigs": {
          "description": "A list of TrustConfigs for the parent resource.",
          "items": {
            "$ref": "TrustConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "TrustStore": {
      "id": "TrustStore",
      "description": "Defines a trust store.",
      "properties": {
        "intermediateCas": {
          "items": {
            "$ref": "IntermediateCA"
          },
          "type": "array",
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature."
        },
        "trustAnchors": {
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore.",
          "items": {
            "$ref": "TrustAnchor"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ManagedIdentityCertificate": {
      "type": "object",
      "properties": {
        "identity": {
          "description": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate.",
          "type": "string"
        },
        "provisioningIssue": {
          "description": "Output only. Information about issues with provisioning a managed certificate.",
          "$ref": "ProvisioningIssue",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the managed certificate resource.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ]
        }
      },
      "description": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so.",
      "id": "ManagedIdentityCertificate"
    },
    "DnsResourceRecord": {
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate.",
      "id": "DnsResourceRecord",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\".",
          "readOnly": true,
          "type": "string"
        },
        "data": {
          "description": "Output only. Data of the DNS Resource Record.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CNAME": {
      "properties": {
        "resolvedData": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`."
        },
        "expectedData": {
          "description": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CNAME",
      "description": "CNAME troubleshooting information."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "IpConfig": {
      "description": "Defines IP configuration where this Certificate Map is serving.",
      "id": "IpConfig",
      "type": "object",
      "properties": {
        "ports": {
          "description": "Output only. Ports.",
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array"
        },
        "ipAddress": {
          "description": "Output only. An external IP address.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IPs": {
      "properties": {
        "servingOnAltPorts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open."
        },
        "resolved": {
          "description": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serving": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open."
        }
      },
      "type": "object",
      "id": "IPs",
      "description": "IPs troubleshooting information."
    },
    "GclbTarget": {
      "id": "GclbTarget",
      "description": "Describes a Target Proxy that uses this Certificate Map.",
      "properties": {
        "targetHttpsProxy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetHttpsProxies/*`."
        },
        "targetSslProxy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetSslProxies/*`."
        },
        "ipConfigs": {
          "readOnly": true,
          "items": {
            "$ref": "IpConfig"
          },
          "type": "array",
          "description": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving."
        }
      },
      "type": "object"
    },
    "ListDnsAuthorizationsResponse": {
[...]
