{
  "title": "Gemini Enterprise for Customer Experience API",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "rootUrl": "https://ces.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1beta",
  "discoveryVersion": "v1",
  "servicePath": "",
  "protocol": "rest",
  "description": "",
  "version_module": true,
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "path": "v1beta/{+name}",
                  "id": "ces.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "ces.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1beta/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.operations.get",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "id": "ces.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "apps": {
              "resources": {
                "evaluationDatasets": {
                  "methods": {
                    "create": {
                      "id": "ces.projects.locations.apps.evaluationDatasets.create",
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "description": "Creates an evaluation dataset.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "evaluationDatasetId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation dataset, which will become the final component of the evaluation dataset's resource name. If not provided, a unique ID will be automatically assigned for the evaluation.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The app to create the evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "EvaluationDataset"
                      },
                      "path": "v1beta/{+parent}/evaluationDatasets",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets"
                    },
                    "patch": {
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "id": "ces.projects.locations.apps.evaluationDatasets.patch",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated."
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$",
                          "location": "path",
                          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "EvaluationDataset"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "path": "v1beta/{+name}",
                      "description": "Updates an evaluation dataset.",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the evaluation dataset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation dataset, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the evaluation dataset to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$"
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.evaluationDatasets.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes an evaluation dataset.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the evaluation dataset to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Gets details of the specified evaluation dataset.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.evaluationDatasets.get"
                    },
                    "list": {
                      "path": "v1beta/{+parent}/evaluationDatasets",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the evaluation datasets. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the app to list evaluation datasets from."
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationDatasets call.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "ces.projects.locations.apps.evaluationDatasets.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all evaluation datasets in the given app.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListEvaluationDatasetsResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets"
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "delete": {
                      "id": "ces.projects.locations.apps.examples.delete",
                      "description": "Deletes the specified example.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "description": "Required. The resource name of the example to delete.",
                          "required": true
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the example. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the example, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the example to retrieve."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "description": "Gets details of the specified example.",
                      "response": {
                        "$ref": "Example"
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.examples.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "Example"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "exampleId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the example, which will become the final component of the example's resource name. If not provided, a unique ID will be automatically assigned for the example."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the app to create an example in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        }
                      },
                      "id": "ces.projects.locations.apps.examples.create",
                      "path": "v1beta/{+parent}/examples",
                      "response": {
                        "$ref": "Example"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "description": "Creates a new example in the given app.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Example"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Example"
                      },
                      "id": "ces.projects.locations.apps.examples.patch",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "description": "Updates the specified example."
                    },
                    "list": {
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "description": "Lists examples in the given app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/examples",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListExamples call."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list examples from."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the examples. See https://google.aip.dev/160 for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        }
                      },
                      "id": "ces.projects.locations.apps.examples.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "versions": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions",
                      "id": "ces.projects.locations.apps.versions.list",
                      "response": {
                        "$ref": "ListAppVersionsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all app versions in the given app.",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAppVersions call.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the app to list app versions from."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the app versions. See https://google.aip.dev/160 for more details."
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the app to create an app version in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "appVersionId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the app version, which will become the final component of the app version's resource name. If not provided, a unique ID will be automatically assigned for the app version."
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Creates a new app version in the given app.",
                      "request": {
                        "$ref": "AppVersion"
                      },
                      "path": "v1beta/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions",
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.versions.create"
                    },
                    "restore": {
                      "httpMethod": "POST",
                      "path": "v1beta/{+name}:restore",
                      "id": "ces.projects.locations.apps.versions.restore",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RestoreAppVersionRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the app version to restore.",
                          "required": true
                        }
                      },
                      "description": "Restores the specified app version. This will create a new app version from the current draft app and overwrite the current draft with the specified app version.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}:restore",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the app version to retrieve."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "id": "ces.projects.locations.apps.versions.get",
                      "description": "Gets details of the specified app version."
                    },
                    "delete": {
                      "id": "ces.projects.locations.apps.versions.delete",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the app version to delete.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the app version. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app version, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified app version."
                    }
                  }
                },
                "scheduledEvaluationRuns": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.patch",
                      "description": "Updates a scheduled evaluation run.",
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the scheduled evaluation run to retrieve.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "description": "Gets details of the specified scheduled evaluation run.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}",
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The app to create the scheduled evaluation run for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "scheduledEvaluationRunId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the scheduled evaluation run, which will become the final component of the scheduled evaluation run's resource name. If not provided, a unique ID will be automatically assigned.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+parent}/scheduledEvaluationRuns",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "ScheduledEvaluationRun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns",
                      "description": "Creates a scheduled evaluation run.",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.create"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "etag": {
                          "type": "string",
                          "description": "Optional. The etag of the ScheduledEvaluationRun. If provided, it must match the server's etag.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/scheduledEvaluationRuns/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the scheduled evaluation run to delete.",
                          "required": true
                        }
                      },
                      "description": "Deletes a scheduled evaluation run.",
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns/{scheduledEvaluationRunsId}"
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.scheduledEvaluationRuns.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/scheduledEvaluationRuns",
                      "response": {
                        "$ref": "ListScheduledEvaluationRunsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all scheduled evaluation runs in the given app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/scheduledEvaluationRuns",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. Supported fields are: \"name\" (ascending), \"create_time\" (descending), \"update_time\" (descending), \"next_scheduled_execution\" (ascending), and \"last_completed_run.create_time\" (descending). If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list scheduled evaluation runs from.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the scheduled evaluation runs. See https://google.aip.dev/160 for more details. Currently supports filtering by: * request.evaluations:evaluation_id * request.evaluation_dataset:evaluation_dataset_id"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListScheduledEvaluationRuns call."
                        }
                      }
                    }
                  }
                },
                "evaluationExpectations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "description": "Gets details of the specified evaluation expectation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "description": "Required. The resource name of the evaluation expectation to retrieve."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.evaluationExpectations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the evaluation expectation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation expectation, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "name": {
                          "description": "Required. The resource name of the evaluation expectation to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an evaluation expectation."
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "id": "ces.projects.locations.apps.evaluationExpectations.patch",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "description": "Updates an evaluation expectation.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "id": "ces.projects.locations.apps.evaluationExpectations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The app to create the evaluation expectation for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path"
                        },
                        "evaluationExpectationId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation expectation, which will become the final component of the evaluation expectation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation expectation."
                        }
                      },
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates an evaluation expectation."
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.evaluationExpectations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListEvaluationExpectationsResponse"
                      },
                      "description": "Lists all evaluation expectations in the given app.",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationExpectations call.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the evaluation expectations. See https://google.aip.dev/160 for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The resource name of the app to list evaluation expectations from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations"
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "runSession": {
                      "id": "ces.projects.locations.apps.sessions.runSession",
                      "parameterOrder": [
                        "session"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:runSession",
                      "parameters": {
                        "session": {
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Initiates a single-turn interaction with the CES agent within a session.",
                      "path": "v1beta/{+session}:runSession"
                    },
                    "generateChatToken": {
                      "httpMethod": "POST",
                      "description": "Generates a session scoped token for chat widget to authenticate with Session APIs.",
                      "path": "v1beta/{+name}:generateChatToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GenerateChatTokenResponse"
                      },
                      "request": {
                        "$ref": "GenerateChatTokenRequest"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:generateChatToken",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.sessions.generateChatToken",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The session name to generate the chat token for. Format: projects/{project}/locations/{location}/apps/{app}/sessions/{session}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "get": {
                      "description": "Gets the specified changelog.",
                      "response": {
                        "$ref": "Changelog"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$",
                          "description": "Required. The resource name of the changelog to retrieve."
                        }
                      },
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.changelogs.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "path": "v1beta/{+parent}/changelogs",
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "description": "Lists the changelogs of the specified app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.changelogs.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call."
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list changelogs from.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "guardrails": {
                  "methods": {
                    "list": {
                      "path": "v1beta/{+parent}/guardrails",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails",
                      "response": {
                        "$ref": "ListGuardrailsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list guardrails from."
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the guardrails. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListGuardrails call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.guardrails.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists guardrails in the given app."
                    },
                    "delete": {
                      "id": "ces.projects.locations.apps.guardrails.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified guardrail.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the guardrail to delete.",
                          "required": true
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the guardrail. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the guardrail, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the guardrail, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any apps/agents still reference the guardrail. * If `force = true`, all existing references from apps/agents will be removed and the guardrail will be deleted.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the specified guardrail.",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "id": "ces.projects.locations.apps.guardrails.patch",
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "httpMethod": "PATCH",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "description": "Gets details of the specified guardrail.",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "description": "Required. The resource name of the guardrail to retrieve.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "id": "ces.projects.locations.apps.guardrails.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/guardrails",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new guardrail in the given app.",
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "parameters": {
                        "guardrailId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the guardrail, which will become the final component of the guardrail's resource name. If not provided, a unique ID will be automatically assigned for the guardrail.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the app to create a guardrail in.",
                          "location": "path"
                        }
                      },
                      "id": "ces.projects.locations.apps.guardrails.create",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails"
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "batchDelete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations:batchDelete",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to delete conversations from. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Batch deletes the specified conversations.",
                      "request": {
                        "$ref": "BatchDeleteConversationsRequest"
                      },
                      "id": "ces.projects.locations.apps.conversations.batchDelete",
                      "path": "v1beta/{+parent}/conversations:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the conversation to retrieve.",
                          "required": true
                        },
                        "source": {
                          "description": "Optional. Indicate the source of the conversation. If not set, all source will be searched.",
                          "deprecated": true,
                          "type": "string",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL"
                          ],
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation."
                          ],
                          "location": "query"
                        }
                      },
                      "description": "Gets details of the specified conversation.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}",
                      "id": "ces.projects.locations.apps.conversations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Conversation"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListConversationsResponse"
                      },
                      "parameters": {
                        "source": {
                          "location": "query",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation."
                          ],
                          "description": "Optional. Indicate the source of the conversation. If not set, Source.Live will be applied by default. Will be deprecated in favor of `sources` field."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list conversations from.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the conversations. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListConversations call.",
                          "location": "query",
                          "type": "string"
                        },
                        "sources": {
                          "repeated": true,
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation."
                          ],
                          "type": "string",
                          "description": "Optional. Indicate the sources of the conversations. If not set, all available sources will be applied by default."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.conversations.list",
                      "path": "v1beta/{+parent}/conversations",
                      "description": "Lists conversations in the given app."
                    },
                    "generateEvaluation": {
                      "parameters": {
                        "conversation": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The conversation to create the golden evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Creates a golden evaluation from a conversation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.conversations.generateEvaluation",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}:generateEvaluation",
                      "request": {
                        "$ref": "GenerateEvaluationRequest"
                      },
                      "path": "v1beta/{+conversation}:generateEvaluation",
                      "parameterOrder": [
                        "conversation"
                      ]
                    },
                    "delete": {
                      "description": "Deletes the specified conversation.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "ces.projects.locations.apps.conversations.delete",
                      "parameters": {
                        "source": {
                          "deprecated": true,
                          "location": "query",
                          "description": "Optional. Indicate the source of the conversation. If not set, Source.Live will be applied by default.",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL"
                          ],
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation."
                          ],
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the conversation to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE"
                    }
                  }
                },
                "evaluations": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The app to create the evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path"
                        },
                        "evaluationId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the evaluation, which will become the final component of the evaluation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations",
                      "request": {
                        "$ref": "Evaluation"
                      },
                      "path": "v1beta/{+parent}/evaluations",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Evaluation"
                      },
                      "description": "Creates an evaluation.",
                      "id": "ces.projects.locations.apps.evaluations.create"
                    },
                    "get": {
                      "response": {
                        "$ref": "Evaluation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the evaluation to retrieve.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}",
                      "description": "Gets details of the specified evaluation.",
                      "id": "ces.projects.locations.apps.evaluations.get"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.evaluations.patch",
                      "description": "Updates an evaluation.",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                          "description": "Identifier. The unique identifier of this evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Evaluation"
                      },
                      "response": {
                        "$ref": "Evaluation"
                      }
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the app to list evaluations from.",
                          "location": "path"
                        },
                        "evaluationFilter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied on the evaluation when listing the evaluations. See https://google.aip.dev/160 for more details. Supported fields: evaluation_datasets",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "lastTenResults": {
                          "type": "boolean",
                          "description": "Optional. Whether to include the last 10 evaluation results for each evaluation in the response.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluations call.",
                          "location": "query",
                          "type": "string"
                        },
                        "evaluationRunFilter": {
                          "type": "string",
                          "description": "Optional. Filter string for fields on the associated EvaluationRun resources. See https://google.aip.dev/160 for more details. Supported fields: create_time, initiated_by, app_version_display_name",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Deprecated: Use evaluation_filter and evaluation_run_filter instead.",
                          "location": "query",
                          "type": "string",
                          "deprecated": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListEvaluationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.evaluations.list",
                      "description": "Lists all evaluations in the given app.",
                      "path": "v1beta/{+parent}/evaluations",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "id": "ces.projects.locations.apps.evaluations.delete",
                      "parameters": {
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the evaluation, even if it is still referenced by evaluation datasets. * If `force = false`, the deletion will fail if any datasets still reference the evaluation. * If `force = true`, all existing references from datasets will be removed and the evaluation will be deleted.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the evaluation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                          "description": "Required. The resource name of the evaluation to delete.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Deletes an evaluation.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}"
                    },
                    "uploadEvaluationAudio": {
                      "description": "Uploads audio for use in Golden Evaluations. Stores the audio in the Cloud Storage bucket defined in 'App.logging_settings.evaluation_audio_recording_config.gcs_bucket' and returns a transcript.",
                      "response": {
                        "$ref": "UploadEvaluationAudioResponse"
                      },
                      "id": "ces.projects.locations.apps.evaluations.uploadEvaluationAudio",
                      "request": {
                        "$ref": "UploadEvaluationAudioRequest"
                      },
                      "path": "v1beta/{+name}:uploadEvaluationAudio",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the Evaluation for which to upload the evaluation audio. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}:uploadEvaluationAudio"
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+/results/[^/]+$",
                              "description": "Required. The resource name of the evaluation result to delete."
                            }
                          },
                          "response": {
                            "$ref": "Empty"
                          },
                          "description": "Deletes an evaluation result.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}/results/{resultsId}",
                          "path": "v1beta/{+name}",
                          "id": "ces.projects.locations.apps.evaluations.results.delete"
                        },
                        "list": {
[...]
