{
  "version": "v1beta",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "basePath": "",
  "id": "ces:v1beta",
  "baseUrl": "https://ces.googleapis.com/",
  "version_module": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "schemas": {
    "Event": {
      "description": "Event input.",
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        }
      },
      "id": "Event",
      "type": "object"
    },
    "ClientCertificateSettings": {
      "description": "Settings for custom client certificates.",
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        }
      },
      "id": "ClientCertificateSettings",
      "type": "object"
    },
    "EndUserAuthConfig": {
      "id": "EndUserAuthConfig",
      "type": "object",
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "properties": {
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        },
        "oauth2AuthCodeConfig": {
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig",
          "description": "Oauth 2.0 Authorization Code authentication."
        }
      }
    },
    "ConversationTurn": {
      "description": "All information about a single turn in the conversation.",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing."
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      },
      "id": "ConversationTurn",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "description": "Response message for AgentService.ListDeployments.",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListDeploymentsResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "ServiceAgentIdTokenAuthConfig": {
      "type": "object",
      "id": "ServiceAgentIdTokenAuthConfig",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "properties": {}
    },
    "BatchDeleteConversationsResponse": {
      "id": "BatchDeleteConversationsResponse",
      "type": "object",
      "description": "Response message for AgentService.BatchDeleteConversations.",
      "properties": {
        "failedConversations": {
          "items": {
            "type": "string"
          },
          "description": "The list of conversations that failed to be deleted.",
          "type": "array"
        },
        "errorMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of error messages associated with conversations that failed to be deleted."
        },
        "deletedConversations": {
          "description": "The list of conversations that were successfully deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "LoggingSettings": {
      "type": "object",
      "id": "LoggingSettings",
      "description": "Settings to describe the logging behaviors for the app.",
      "properties": {
        "conversationLoggingSettings": {
          "description": "Optional. Settings to describe the conversation logging behaviors for the app.",
          "$ref": "ConversationLoggingSettings"
        },
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "unredactedAudioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configures recording of unredacted audio. Use this to maintain a raw backup with restricted access when audio redaction is enabled, typically for auditing or monitoring purposes."
        },
        "metricAnalysisSettings": {
          "$ref": "MetricAnalysisSettings",
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
        },
        "audioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configuration for how audio interactions should be recorded."
        },
        "evaluationAudioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions."
        },
        "bigqueryExportSettings": {
          "description": "Optional. Settings to describe the BigQuery export behaviors for the app. The conversation data will be exported to BigQuery tables if it is enabled.",
          "$ref": "BigQueryExportSettings"
        },
        "cloudLoggingSettings": {
          "$ref": "CloudLoggingSettings",
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app."
        }
      }
    },
    "Citations": {
      "description": "Citations associated with the agent response.",
      "properties": {
        "citedChunks": {
          "description": "List of cited pieces of information.",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Citations"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "description": "Expectation level metrics thresholds.",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
        },
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        }
      }
    },
    "AggregatedMetricsTurnLatencyMetrics": {
      "id": "AggregatedMetricsTurnLatencyMetrics",
      "type": "object",
      "description": "Metrics for turn latency.",
      "properties": {
        "averageLatency": {
          "readOnly": true,
          "description": "Output only. The average latency of the turns.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ToolFakeConfig": {
      "id": "ToolFakeConfig",
      "type": "object",
      "description": "Configuration for tool behavior in fake mode.",
      "properties": {
        "codeBlock": {
          "description": "Optional. Code block which will be executed instead of a real tool call.",
          "$ref": "CodeBlock"
        },
        "enableFakeMode": {
          "description": "Optional. Whether the tool is using fake mode.",
          "type": "boolean"
        }
      }
    },
    "GenerateAppResourceResponseAppResources": {
      "description": "The list of app resources generated by the LLM assistant.",
      "properties": {
        "appSnapshot": {
          "description": "The app snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant.",
          "$ref": "AppSnapshot"
        },
        "evaluations": {
          "description": "The list of evaluations generated by the LLM assistant.",
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceResponseAppResources"
    },
    "ToolsetTool": {
      "id": "ToolsetTool",
      "type": "object",
      "description": "A tool that is created from a toolset.",
      "properties": {
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      }
    },
    "AudioProcessingConfig": {
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "properties": {
        "synthesizeSpeechConfigs": {
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        },
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "inactivityTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement."
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        }
      },
      "id": "AudioProcessingConfig",
      "type": "object"
    },
    "DataStore": {
      "id": "DataStore",
      "type": "object",
      "description": "A DataStore resource in Vertex AI Search.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the data store was created.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the data store."
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "type": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ]
        },
        "documentProcessingMode": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "type": "string",
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        }
      }
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "type": "object",
      "description": "The TLS configuration.",
      "properties": {
        "caCerts": {
          "type": "array",
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      }
    },
    "EvaluationResultGoldenResultTurnReplayResult": {
      "type": "object",
      "id": "EvaluationResultGoldenResultTurnReplayResult",
      "description": "The result of running a single turn of the golden conversation.",
      "properties": {
        "expectationOutcome": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultGoldenExpectationOutcome"
          },
          "description": "Output only. The outcome of each expectation.",
          "type": "array"
        },
        "semanticSimilarityResult": {
          "description": "Output only. The result of the semantic similarity check.",
          "readOnly": true,
          "$ref": "EvaluationResultSemanticSimilarityResult"
        },
        "errorInfo": {
          "description": "Output only. Information about the error that occurred during this turn.",
          "readOnly": true,
          "$ref": "EvaluationErrorInfo"
        },
        "spanLatencies": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "description": "Output only. The latency of spans in the turn."
        },
        "toolInvocationScore": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Deprecated. Use OverallToolInvocationResult instead.",
          "deprecated": true,
          "format": "float"
        },
        "toolCallLatencies": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          },
          "description": "Output only. The latency of each tool call in the turn.",
          "type": "array"
        },
        "overallToolInvocationResult": {
          "readOnly": true,
          "description": "Output only. The result of the overall tool invocation check.",
          "$ref": "EvaluationResultOverallToolInvocationResult"
        },
        "hallucinationResult": {
          "$ref": "EvaluationResultHallucinationResult",
          "readOnly": true,
          "description": "Output only. The result of the hallucination check."
        },
        "turnLatency": {
          "readOnly": true,
          "description": "Output only. Duration of the turn.",
          "type": "string",
          "format": "google-duration"
        },
        "conversation": {
          "readOnly": true,
          "description": "Output only. The conversation that was generated for this turn.",
          "type": "string"
        },
        "toolOrderedInvocationScore": {
          "description": "Output only. The overall tool ordered invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked in the expected order.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        }
      }
    },
    "EvaluationScenarioUserFact": {
      "description": "Facts about the user as a key value pair.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the user fact."
        },
        "value": {
          "description": "Required. The value of the user fact.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationScenarioUserFact"
    },
    "EvaluationResultSpanLatency": {
      "id": "EvaluationResultSpanLatency",
      "type": "object",
      "description": "The latency of a span execution.",
      "properties": {
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "Output only. The resource name of the guardrail or tool spans.",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The start time of span.",
          "readOnly": true
        },
        "callback": {
          "description": "Output only. The name of the user callback span.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of span.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOOL",
            "USER_CALLBACK",
            "GUARDRAIL",
            "LLM"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tool call span.",
            "User callback span.",
            "Guardrail span.",
            "LLM span."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the span. Applicable to tool and guardrail spans.",
          "readOnly": true
        },
        "executionLatency": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The latency of span.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The end time of span."
        },
        "model": {
          "description": "Output only. The name of the LLM span.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "EvaluationGoldenTurn": {
      "description": "A golden turn defines a single turn in a golden conversation.",
      "properties": {
        "steps": {
          "items": {
            "$ref": "EvaluationStep"
          },
          "description": "Required. The steps required to replay a golden conversation.",
          "type": "array"
        },
        "rootSpan": {
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information.",
          "$ref": "Span"
        }
      },
      "type": "object",
      "id": "EvaluationGoldenTurn"
    },
    "EvaluationResultSemanticSimilarityResult": {
      "id": "EvaluationResultSemanticSimilarityResult",
      "type": "object",
      "description": "The result of the semantic similarity check.",
      "properties": {
        "label": {
          "readOnly": true,
          "description": "Output only. The label associated with each score. Score 4: Fully Consistent Score 3: Mostly Consistent Score 2: Partially Consistent (Minor Omissions) Score 1: Largely Inconsistent (Major Omissions) Score 0: Completely Inconsistent / Contradictory",
          "type": "string"
        },
        "score": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The semantic similarity score. Can be 0, 1, 2, 3, or 4.",
          "readOnly": true
        },
        "outcome": {
          "description": "Output only. The outcome of the semantic similarity check. This is determined by comparing the score to the semantic_similarity_success_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "type": "string"
        },
        "explanation": {
          "description": "Output only. The explanation for the semantic similarity score.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "properties": {
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      },
      "type": "object",
      "id": "SessionOutputDiagnosticInfo"
    },
    "PersonaRunConfig": {
      "id": "PersonaRunConfig",
      "type": "object",
      "description": "Configuration for running an evaluation for a specific persona.",
      "properties": {
        "taskCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of tasks to run for the persona."
        },
        "persona": {
          "type": "string",
          "description": "Optional. The persona to use for the evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "description": "Settings for golden evaluations.",
      "properties": {
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        },
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
    },
    "WidgetToolTextResponseConfig": {
      "id": "WidgetToolTextResponseConfig",
      "type": "object",
      "description": "Configuration for the text response returned with the widget.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "description": "Optional. The strategy for providing the text response.",
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ]
        },
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        },
        "textResponseInstruction": {
          "type": "string",
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
        }
      }
    },
    "TriggerAction": {
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        },
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      },
      "type": "object",
      "id": "TriggerAction"
    },
    "Agent": {
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "afterToolCallbacks": {
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        },
        "beforeAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "afterModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "generatedSummary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the agent was created.",
          "readOnly": true
        },
        "beforeToolCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "afterAgentCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "tools": {
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "beforeModelCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "llmAgent": {
          "$ref": "AgentLlmAgent",
          "description": "Optional. The default agent type."
        },
        "transferRules": {
          "items": {
            "$ref": "TransferRule"
          },
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "type": "array"
        },
        "childAgents": {
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Agent",
      "type": "object"
    },
    "GenerateAppResourceRequestToolGenerationConfig": {
      "id": "GenerateAppResourceRequestToolGenerationConfig",
      "type": "object",
      "description": "The configuration to be used to generate a tool.",
      "properties": {
        "context": {
          "description": "Optional. The context which describes the tool to be generated. This can be empty if the tool request & response are provided.",
          "type": "string"
        },
        "fileContexts": {
          "type": "array",
          "items": {
            "$ref": "FileContext"
          },
          "description": "Optional. The files to be used as context."
        },
        "openApiToolsetGenerationConfig": {
          "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig",
          "description": "Optional. The configuration to be used to generate an Open API schema."
        }
      }
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "type": "object",
      "description": "Settings for matching tool calls.",
      "properties": {
        "extraToolCallBehavior": {
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "type": "string",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ]
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "EvaluationScenarioExpectation": {
      "description": "The expectation to evaluate the conversation produced by the simulation.",
      "properties": {
        "toolExpectation": {
          "$ref": "EvaluationScenarioExpectationToolExpectation",
          "description": "Optional. The tool call and response pair to be evaluated."
        },
        "agentResponse": {
          "description": "Optional. The agent response to be evaluated.",
          "$ref": "Message"
        }
      },
      "id": "EvaluationScenarioExpectation",
      "type": "object"
    },
    "Guardrail": {
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the guardrail is enabled."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "readOnly": true
        },
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      },
      "id": "Guardrail",
      "type": "object"
    },
    "OutputAudioConfig": {
      "id": "OutputAudioConfig",
      "type": "object",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the output audio data."
        },
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the output audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        }
      }
    },
    "ChannelProfileWebWidgetConfig": {
      "description": "Message for configuration for the web widget.",
      "properties": {
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "modality": {
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "description": "Optional. The modality of the web widget.",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ]
        },
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "description": "Optional. The theme of the web widget.",
          "type": "string",
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ]
        }
      },
      "type": "object",
      "id": "ChannelProfileWebWidgetConfig"
    },
    "RunSessionRequest": {
      "type": "object",
      "id": "RunSessionRequest",
      "description": "Request message for SessionService.RunSession.",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session."
        }
      }
    },
    "GoogleSearchTool": {
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "properties": {
        "promptConfig": {
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice.",
          "$ref": "GoogleSearchToolPromptConfig"
        },
        "contextUrls": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "preferredDomains": {
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleSearchTool"
    },
    "GenerateEvaluationOperationMetadata": {
      "description": "Operation metadata for EvaluationService.GenerateEvaluation.",
      "properties": {},
      "type": "object",
      "id": "GenerateEvaluationOperationMetadata"
    },
    "Toolset": {
      "id": "Toolset",
      "type": "object",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "properties": {
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the toolset."
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "etag": {
          "type": "string",
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the toolset. Must be unique within the same app."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the toolset was last updated."
        },
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "executionType": {
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tools in the toolset.",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        }
      }
    },
    "AggregatedMetricsMetricsByTurn": {
      "description": "Metrics aggregated per turn.",
      "properties": {
        "toolMetrics": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "description": "Output only. Metrics for each tool within this turn."
        },
        "toolCallLatencyMetrics": {
          "description": "Output only. Metrics for tool call latency within this turn.",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "type": "array"
        },
        "semanticSimilarityMetrics": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "description": "Output only. Metrics for semantic similarity within this turn."
        },
        "hallucinationMetrics": {
          "type": "array",
          "description": "Output only. Metrics for hallucination within this turn.",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        },
        "turnIndex": {
          "readOnly": true,
          "description": "Output only. The turn index (0-based).",
          "type": "integer",
          "format": "int32"
        },
        "turnLatencyMetrics": {
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "description": "Output only. Metrics for turn latency within this turn.",
          "type": "array"
        }
      },
      "id": "AggregatedMetricsMetricsByTurn",
      "type": "object"
    },
    "SessionOutput": {
      "type": "object",
      "id": "SessionOutput",
      "description": "Output for the session.",
      "properties": {
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "turnIndex": {
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32",
          "type": "integer"
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "audio": {
          "format": "byte",
          "type": "string",
          "description": "Output audio from the CES agent."
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "turnCompleted": {
          "type": "boolean",
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn."
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "citations": {
          "$ref": "Citations",
          "description": "Citations that provide the source information for the agent's generated text."
        }
      }
    },
    "WidgetTool": {
      "type": "object",
      "id": "WidgetTool",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "properties": {
        "uiConfig": {
          "description": "Optional. Configuration for rendering the widget.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The display name of the widget tool.",
          "type": "string"
        },
        "widgetType": {
          "type": "string",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ]
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        }
      }
    },
    "CodeBlock": {
      "description": "A code block to be executed instead of a real tool call.",
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "id": "CodeBlock",
      "type": "object"
    },
    "EvaluationResultHallucinationResult": {
      "type": "object",
      "id": "EvaluationResultHallucinationResult",
      "description": "The result of the hallucination check for a single turn.",
      "properties": {
        "explanation": {
          "type": "string",
          "description": "Output only. The explanation for the hallucination score.",
          "readOnly": true
        },
        "label": {
          "readOnly": true,
          "description": "Output only. The label associated with each score. Score 1: Justified Score 0: Not Justified Score -1: No Claim To Assess",
          "type": "string"
        },
        "score": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The hallucination score. Can be -1, 0, 1.",
          "readOnly": true
        }
      }
    },
    "EndSession": {
      "id": "EndSession",
      "type": "object",
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session."
        }
      }
    },
    "Omnichannel": {
      "description": "Represents an Omnichannel resource.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the omnichannel resource was created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the omnichannel resource. Format: `projects/{project}/locations/{location}/omnichannels/{omnichannel}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the omnichannel resource."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the omnichannel resource."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the omnichannel resource was last updated."
        },
        "integrationConfig": {
          "description": "Optional. The integration config for the omnichannel resource.",
          "$ref": "OmnichannelIntegrationConfig"
        }
      },
      "type": "object",
      "id": "Omnichannel"
    },
    "AppVariableDeclaration": {
      "description": "Defines the structure and metadata for a variable.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Required. The description of the variable."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        }
      },
      "id": "AppVariableDeclaration",
      "type": "object"
    },
    "OAuthConfig": {
      "description": "Configurations for authentication with OAuth.",
      "properties": {
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "description": "Required. OAuth grant types.",
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID from the OAuth provider."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token."
        }
      },
      "type": "object",
      "id": "OAuthConfig"
    },
    "DataStoreToolBoostSpecs": {
      "type": "object",
      "id": "DataStoreToolBoostSpecs",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array"
        },
        "spec": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "description": "Required. A list of boosting specifications."
        }
      }
    },
    "EvaluationScenarioExpectationToolExpectation": {
      "description": "The tool call and response pair to be evaluated.",
      "properties": {
        "expectedToolCall": {
          "description": "Required. The expected tool call, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolCall"
        },
        "mockToolResponse": {
          "description": "Required. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolResponse"
        }
      },
      "type": "object",
      "id": "EvaluationScenarioExpectationToolExpectation"
    },
    "ListAgentsResponse": {
      "id": "ListAgentsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "The list of agents.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "EvaluationSettings": {
      "description": "Settings for evaluation.",
      "properties": {
        "goldenRunMethod": {
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ]
        },
        "goldenEvaluationToolCallBehaviour": {
          "description": "Optional. Configures the default tool call behaviour for golden evaluations.",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        },
        "scenarioConversationInitiator": {
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "description": "Optional. Who starts the conversation in a scenario evaluation.",
          "type": "string",
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ]
        },
        "scenarioEvaluationToolCallBehaviour": {
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations.",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        }
      },
      "id": "EvaluationSettings",
      "type": "object"
    },
    "TransferRuleDisablePlannerTransfer": {
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent."
        }
      },
      "id": "TransferRuleDisablePlannerTransfer",
      "type": "object"
    },
    "QualityReport": {
      "description": "The report describing any identified quality issues in the app.",
      "properties": {
        "evaluationRuns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`.",
          "type": "array"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "QualityReportAgentIssues"
          },
          "description": "Optional. The issues grouped by agent."
        },
        "generalIssues": {
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "description": "Optional. General issues not specific to any agent."
        }
      },
      "id": "QualityReport",
      "type": "object"
    },
    "DataStoreToolEngineSource": {
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "dataStoreSources": {
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "type": "array"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        }
      },
      "id": "DataStoreToolEngineSource",
      "type": "object"
    },
    "TestPersonaVoiceRequest": {
      "description": "Request message for EvaluationService.TestPersonaVoice.",
      "properties": {
        "personaId": {
          "type": "string",
          "description": "Required. The persona ID to test the voice for. Also accepts \"default\"."
        },
        "text": {
          "type": "string",
          "description": "Required. The text to test the voice for."
        }
      },
      "id": "TestPersonaVoiceRequest",
      "type": "object"
    },
    "ConnectorTool": {
      "type": "object",
      "id": "ConnectorTool",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "properties": {
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      }
    },
    "GenerateEvaluationRequest": {
      "description": "Request message for EvaluationService.GenerateEvaluation.",
      "properties": {
        "source": {
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched.",
          "deprecated": true,
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "type": "string"
        }
      },
      "id": "GenerateEvaluationRequest",
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationGenerationConfig": {
      "description": "The configuration to be used to generate the evaluations.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the evaluations. Format: `projects/{project}/locations/{location}/datasets/{dataset}`."
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestEvaluationGenerationConfig"
    },
    "ChannelProfile": {
      "id": "ChannelProfile",
      "type": "object",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "properties": {
        "webWidgetConfig": {
          "$ref": "ChannelProfileWebWidgetConfig",
          "description": "Optional. The configuration for the web widget."
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "disableDtmf": {
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency).",
          "type": "boolean"
        },
        "channelType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION"
          ],
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Five9 channel.",
            "Third party contact center integration channel."
          ],
          "description": "Optional. The type of the channel profile."
        },
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        }
      }
    },
    "OmnichannelOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        }
      },
      "type": "object",
      "id": "OmnichannelOperationMetadata"
    },
    "LatencyReportLatencyMetrics": {
      "description": "Latency metrics for a component.",
      "properties": {
        "p50Latency": {
          "description": "Output only. The 50th percentile latency.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "p99Latency": {
          "description": "Output only. The 99th percentile latency.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "callCount": {
          "description": "Output only. The number of times the resource was called.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "p90Latency": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. The 90th percentile latency."
        }
      },
      "id": "LatencyReportLatencyMetrics",
      "type": "object"
    },
    "GenerateAppResourceResponseEvaluations": {
      "type": "object",
      "id": "GenerateAppResourceResponseEvaluations",
      "description": "The list of evaluations generated by the LLM assistant.",
      "properties": {
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of generated evaluations."
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "description": "Summarization configuration.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether summarization is disabled."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        }
      },
      "id": "DataStoreToolSummarizationConfig",
      "type": "object"
    },
    "ListConversationsResponse": {
      "description": "Response message for AgentService.ListConversations.",
      "properties": {
        "conversations": {
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConversationsResponse",
      "type": "object"
    },
    "GenerateAppResourceRequestHillClimbingFixConfig": {
      "description": "The configuration to be used for hill climbing fixes.",
      "properties": {
        "qualityReport": {
          "description": "Required. The quality report used to inform the instruction following fix.",
          "$ref": "QualityReport"
        }
      },
      "id": "GenerateAppResourceRequestHillClimbingFixConfig",
      "type": "object"
    },
    "OpenApiToolset": {
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "properties": {
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OpenApiToolset"
    },
    "EvaluationRunEvaluationRunSummary": {
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "properties": {
        "passedCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of passed results for the associated Evaluation in this run.",
          "readOnly": true
        },
        "failedCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of failed results for the associated Evaluation in this run.",
          "readOnly": true
        },
        "errorCount": {
          "description": "Output only. Number of error results for the associated Evaluation in this run.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EvaluationRunEvaluationRunSummary",
      "type": "object"
    },
    "ActionEntityOperation": {
      "id": "ActionEntityOperation",
      "type": "object",
      "description": "Entity CRUD operation specification.",
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Required. Operation to perform on the entity.",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ]
        }
      }
    },
    "EvaluationPersonaSpeechConfig": {
      "description": "Configuration for Text-to-Speech generation.",
      "properties": {
        "speakingRate": {
          "type": "number",
          "format": "double",
          "description": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers."
        },
        "voiceId": {
          "type": "string",
          "description": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\""
        },
        "environment": {
          "type": "string",
          "enum": [
            "BACKGROUND_ENVIRONMENT_UNSPECIFIED",
            "CALL_CENTER",
            "TRAFFIC",
            "KIDS_NOISE",
            "CAFE"
          ],
          "description": "Optional. The simulated audio environment.",
          "enumDescriptions": [
            "Background environment unspecified.",
            "Call center environment.",
            "Traffic noise environment.",
            "Kids noise environment.",
            "Cafe environment."
          ]
        }
      },
      "type": "object",
      "id": "EvaluationPersonaSpeechConfig"
    },
    "DataStoreTool": {
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "boostSpecs": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "description": "Optional. Boost specification to boost certain documents."
        },
        "filterParameterBehavior": {
          "type": "string",
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior.",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ]
        },
        "engineSource": {
          "$ref": "DataStoreToolEngineSource",
          "description": "Optional. Search within an Engine (potentially across multiple DataStores)."
        },
        "modalityConfigs": {
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "description": "Optional. The modality configs for the data store.",
          "type": "array"
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        }
      },
      "id": "DataStoreTool",
      "type": "object"
    },
    "RunSessionResponse": {
      "description": "Response message for SessionService.RunSession.",
      "properties": {
        "outputs": {
          "items": {
            "$ref": "SessionOutput"
          },
          "description": "Outputs for the session.",
          "type": "array"
        }
      },
      "id": "RunSessionResponse",
      "type": "object"
    },
    "ApiAuthentication": {
      "description": "Authentication information required for API calls.",
      "properties": {
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        }
      },
      "type": "object",
      "id": "ApiAuthentication"
    },
    "EvaluationScenario": {
      "description": "The config for a scenario",
      "properties": {
        "userGoalBehavior": {
          "enumDescriptions": [
            "Behavior unspecified. Will default to USER_GOAL_SATISFIED.",
            "The user goal should be completed successfully.",
            "The user goal should be rejected.",
            "Ignore the user goal status."
          ],
          "description": "Optional. The expected behavior of the user goal.",
          "type": "string",
          "enum": [
            "USER_GOAL_BEHAVIOR_UNSPECIFIED",
            "USER_GOAL_SATISFIED",
            "USER_GOAL_REJECTED",
            "USER_GOAL_IGNORED"
          ]
        },
        "evaluationExpectations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The evaluation expectations to evaluate the conversation produced by the simulation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`"
        },
        "maxTurns": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of turns to simulate. If not specified, the simulation will continue until the task is complete."
        },
        "userFacts": {
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "description": "Optional. The user facts to be used by the scenario.",
          "type": "array"
        },
        "taskCompletionBehavior": {
          "deprecated": true,
          "enum": [
            "TASK_COMPLETION_BEHAVIOR_UNSPECIFIED",
            "TASK_SATISFIED",
            "TASK_REJECTED"
          ],
          "description": "Optional. Deprecated. Use user_goal_behavior instead.",
          "type": "string",
          "enumDescriptions": [
            "Behavior unspecified. Will default to TASK_SATISFIED.",
            "The user task should be completed successfully.",
            "The user task should be rejected."
          ]
        },
        "scenarioExpectations": {
          "type": "array",
          "items": {
            "$ref": "EvaluationScenarioExpectation"
          },
          "description": "Required. The ScenarioExpectations to evaluate the conversation produced by the user simulation."
        },
        "rubrics": {
          "items": {
            "type": "string"
          },
          "description": "Required. The rubrics to score the scenario against.",
          "type": "array"
        },
        "variableOverrides": {
          "description": "Optional. Variables / Session Parameters as context for the session, keyed by variable names. Members of this struct will override any default values set by the system. Note, these are different from user facts, which are facts known to the user. Variables are parameters known to the agent: i.e. MDN (phone number) passed by the telephony system.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "task": {
          "description": "Required. The task to be targeted by the scenario.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationScenario"
    },
    "AgentAgentToolset": {
      "description": "A toolset with a selection of its tools.",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AgentAgentToolset"
    },
    "SystemTool": {
      "description": "Pre-defined system tool.",
      "properties": {
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the system tool.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "SystemTool"
    },
    "FileContext": {
      "type": "object",
      "id": "FileContext",
      "description": "Files to be used as context. Files can be provided as raw bytes.",
      "properties": {
        "fileBytes": {
          "description": "Optional. File provided as raw bytes.",
          "$ref": "FileContextFileBytes"
        }
      }
    },
    "AgentRemoteDialogflowAgent": {
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "inputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input."
        },
        "outputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends."
        },
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentRemoteDialogflowAgent"
    },
    "ConversationLoggingSettings": {
      "id": "ConversationLoggingSettings",
      "type": "object",
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "properties": {
        "disableConversationLogging": {
          "type": "boolean",
          "description": "Optional. Whether to disable conversation logging for the sessions."
        },
        "retentionWindow": {
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GuardrailLlmPromptSecurity": {
      "id": "GuardrailLlmPromptSecurity",
      "type": "object",
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "properties": {
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        },
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration."
        }
      }
    },
    "EvaluationResultScenarioRubricOutcome": {
      "type": "object",
      "id": "EvaluationResultScenarioRubricOutcome",
      "description": "The outcome of the evaluation against the rubric.",
      "properties": {
        "scoreExplanation": {
          "description": "Output only. The rater's response to the rubric.",
          "readOnly": true,
          "type": "string"
        },
        "rubric": {
          "description": "Output only. The rubric that was used to evaluate the conversation.",
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "Output only. The score of the conversation against the rubric.",
          "readOnly": true
        }
      }
    },
    "DataStoreConnectorConfig": {
      "description": "The connector config for the data store connection.",
      "properties": {
        "collection": {
          "type": "string",
          "description": "Resource name of the collection the data store belongs to."
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        },
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        }
      },
[...]
