{
  "parameters": {
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "ownerName": "Google",
  "description": "",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "id": "ces:v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "rootUrl": "https://ces.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "ces",
  "ownerDomain": "google.com",
  "schemas": {
    "ListAppVersionsResponse": {
      "id": "ListAppVersionsResponse",
      "description": "Response message for AgentService.ListAppVersions.",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OpenApiTool": {
      "description": "A remote API tool defined by an OpenAPI schema.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response."
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema in JSON or YAML format."
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        }
      },
      "id": "OpenApiTool"
    },
    "Changelog": {
      "properties": {
        "newResource": {
          "type": "object",
          "description": "Output only. The new resource after the change.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "resourceType": {
          "type": "string",
          "description": "Output only. The type of the resource that was changed.",
          "readOnly": true
        },
        "action": {
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true,
          "type": "string"
        },
        "originalResource": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The original resource before the change."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource."
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the change was made.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the change author."
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "sequenceNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "format": "int64"
        },
        "resource": {
          "type": "string",
          "description": "Output only. The resource that was changed.",
          "readOnly": true
        }
      },
      "id": "Changelog",
      "type": "object",
      "description": "Changelogs represent a change made to the app or to an resource within the app."
    },
    "ChannelProfilePersonaProperty": {
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel.",
      "properties": {
        "persona": {
          "type": "string",
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ]
        }
      },
      "type": "object"
    },
    "Action": {
      "type": "object",
      "properties": {
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputFields": {
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        }
      },
      "id": "Action",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "TlsConfigCaCert": {
      "description": "The CA certificate.",
      "properties": {
        "cert": {
          "type": "string",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "format": "byte"
        },
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TlsConfigCaCert"
    },
    "TriggerActionRespondImmediately": {
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly."
        }
      },
      "type": "object",
      "id": "TriggerActionRespondImmediately",
      "description": "The agent will immediately respond with a preconfigured response."
    },
    "AgentLlmAgent": {
      "properties": {},
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "type": "object",
      "id": "AgentLlmAgent"
    },
    "ClientCertificateSettings": {
      "type": "object",
      "description": "Settings for custom client certificates.",
      "id": "ClientCertificateSettings",
      "properties": {
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "passphrase": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      }
    },
    "ToolCalls": {
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "type": "object",
      "id": "ToolCalls",
      "properties": {
        "toolCalls": {
          "description": "Optional. The list of tool calls to execute.",
          "items": {
            "$ref": "ToolCall"
          },
          "type": "array"
        }
      }
    },
    "ConnectorToolset": {
      "properties": {
        "connectorActions": {
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        }
      },
      "type": "object",
      "id": "ConnectorToolset",
      "description": "A toolset that generates tools from an Integration Connectors Connection."
    },
    "OmnichannelIntegrationConfigWhatsappConfig": {
      "id": "OmnichannelIntegrationConfigWhatsappConfig",
      "description": "How Omnichannel should receive/reply events from WhatsApp.",
      "properties": {
        "phoneNumberId": {
          "description": "The Phone Number ID associated with the WhatsApp Business Account.",
          "type": "string"
        },
        "whatsappBusinessToken": {
          "type": "string",
          "description": "The access token for authenticating API calls to the WhatsApp Cloud API. https://developers.facebook.com/docs/whatsapp/business-management-api/get-started/#business-integration-system-user-access-tokens"
        },
        "webhookVerifyToken": {
          "description": "The verify token configured in the Meta App Dashboard for webhook verification.",
          "type": "string"
        },
        "whatsappBusinessAccountId": {
          "description": "The customer's WhatsApp Business Account (WABA) ID.",
          "type": "string"
        },
        "metaBusinessPortfolioId": {
          "type": "string",
          "description": "The Meta Business Portfolio (MBP) ID. https://www.facebook.com/business/help/1710077379203657"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number used for sending/receiving messages."
        }
      },
      "type": "object"
    },
    "RestoreAppVersionRequest": {
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion",
      "id": "RestoreAppVersionRequest",
      "properties": {}
    },
    "ExportAppResponse": {
      "properties": {
        "appContent": {
          "format": "byte",
          "type": "string",
          "description": "App folder compressed as a zip file."
        },
        "appUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
        }
      },
      "description": "Response message for AgentService.ExportApp.",
      "id": "ExportAppResponse",
      "type": "object"
    },
    "OmnichannelIntegrationConfigRoutingConfig": {
      "description": "Routing config specify how/who to route app events to a subscriber.",
      "properties": {
        "subscriberKey": {
          "type": "string",
          "description": "The key of the subscriber."
        }
      },
      "id": "OmnichannelIntegrationConfigRoutingConfig",
      "type": "object"
    },
    "Guardrail": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated."
        },
        "codeCallback": {
          "$ref": "GuardrailCodeCallback",
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "createTime": {
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the guardrail is enabled."
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        }
      },
      "id": "Guardrail",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "GuardrailContentFilter": {
      "description": "Guardrail that bans certain content from being used in the conversation.",
      "type": "object",
      "id": "GuardrailContentFilter",
      "properties": {
        "bannedContents": {
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bannedContentsInAgentResponse": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "type": "array"
        },
        "matchType": {
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "description": "Required. Match type for the content filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ]
        },
        "bannedContentsInUserInput": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "items": {
            "type": "string"
          }
        },
        "disregardDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritics are ignored during matching."
        }
      }
    },
    "Citations": {
      "properties": {
        "citedChunks": {
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "type": "array",
          "description": "List of cited pieces of information."
        }
      },
      "id": "Citations",
      "description": "Citations associated with the agent response.",
      "type": "object"
    },
    "AmbientSoundConfig": {
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "type": "object",
      "id": "AmbientSoundConfig",
      "properties": {
        "prebuiltAmbientNoise": {
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "deprecated": true,
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ]
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ExecuteToolResponse": {
      "type": "object",
      "properties": {
        "variables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The variable values at the end of the tool execution."
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that got executed."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object"
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        }
      },
      "id": "ExecuteToolResponse",
      "description": "Response message for ToolService.ExecuteTool."
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "type": "object",
      "description": "Security settings for the web widget.",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "properties": {
        "enableOriginCheck": {
          "type": "boolean",
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
        },
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CodeBlock": {
      "id": "CodeBlock",
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A code block to be executed instead of a real tool call."
    },
    "TransferRuleDeterministicTransfer": {
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs."
        },
        "pythonCodeCondition": {
          "$ref": "PythonCodeCondition",
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs."
        }
      },
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs.",
      "id": "TransferRuleDeterministicTransfer",
      "type": "object"
    },
    "SessionConfig": {
      "description": "The configuration for the session.",
      "properties": {
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\"."
        },
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "remoteDialogflowQueryParameters": {
          "$ref": "SessionConfigRemoteDialogflowQueryParameters",
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "historicalContexts": {
          "type": "array",
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "items": {
            "$ref": "Message"
          }
        },
        "inputAudioConfig": {
          "$ref": "InputAudioConfig",
          "description": "Optional. Configuration for processing the input audio."
        }
      },
      "type": "object",
      "id": "SessionConfig"
    },
    "DataStoreToolBoostSpecs": {
      "type": "object",
      "id": "DataStoreToolBoostSpecs",
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array"
        },
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array"
        }
      },
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting."
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "properties": {
        "extraToolCallBehavior": {
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "type": "string"
        }
      },
      "description": "Settings for matching tool calls.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "id": "ImportAppRequestImportOptions",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "type": "object",
      "properties": {
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ]
        }
      }
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "properties": {
        "gcsBucket": {
          "type": "string",
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        }
      },
      "id": "AudioRecordingConfig",
      "type": "object"
    },
    "AgentTransfer": {
      "type": "object",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the agent.",
          "readOnly": true
        }
      },
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "id": "AgentTransfer"
    },
    "TriggerAction": {
      "id": "TriggerAction",
      "description": "Action that is taken when a certain precondition is met.",
      "type": "object",
      "properties": {
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        },
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      }
    },
    "LanguageSettings": {
      "description": "Language settings of the app.",
      "properties": {
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "fallbackAction": {
          "type": "string",
          "description": "Optional. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation."
        },
        "supportedLanguageCodes": {
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        }
      },
      "id": "LanguageSettings",
      "type": "object"
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "properties": {
        "hallucinationMetricBehavior": {
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "deprecated": true
        },
        "goldenEvaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
          "description": "Optional. The golden evaluation metrics thresholds."
        },
        "scenarioHallucinationMetricBehavior": {
          "type": "string",
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "goldenHallucinationMetricBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The hallucination metric behavior for golden evaluations."
        }
      },
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object"
    },
    "RedactionConfig": {
      "type": "object",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "id": "RedactionConfig",
      "properties": {
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording.",
          "type": "boolean"
        }
      }
    },
    "ModelSettings": {
      "properties": {
        "temperature": {
          "format": "double",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number"
        },
        "model": {
          "type": "string",
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent."
        }
      },
      "id": "ModelSettings",
      "description": "Model settings contains various configurations for the LLM model.",
      "type": "object"
    },
    "AgentAgentToolset": {
      "properties": {
        "toolIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset."
        },
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        }
      },
      "description": "A toolset with a selection of its tools.",
      "id": "AgentAgentToolset",
      "type": "object"
    },
    "GuardrailModelSafetySafetySetting": {
      "description": "Safety setting.",
      "type": "object",
      "properties": {
        "category": {
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ],
          "description": "Required. The harm category.",
          "type": "string"
        },
        "threshold": {
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "description": "Required. The harm block threshold."
        }
      },
      "id": "GuardrailModelSafetySafetySetting"
    },
    "Message": {
      "description": "A message within a conversation.",
      "properties": {
        "chunks": {
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks.",
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Optional. The role within the conversation, e.g., user, agent."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example."
        }
      },
      "id": "Message",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "PythonFunction": {
      "id": "PythonFunction",
      "description": "A Python function tool.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        }
      }
    },
    "ExpressionCondition": {
      "description": "Expression condition based on session state.",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      },
      "id": "ExpressionCondition",
      "type": "object"
    },
    "ApiKeyConfig": {
      "id": "ApiKeyConfig",
      "properties": {
        "keyName": {
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name.",
          "type": "string"
        },
        "apiKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "requestLocation": {
          "description": "Required. Key location in the request.",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ]
        }
      },
      "type": "object",
      "description": "Configurations for authentication with API key."
    },
    "ServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used."
        }
      },
      "id": "ServiceAccountAuthConfig",
      "description": "Configurations for authentication using a custom service account."
    },
    "GuardrailCodeCallback": {
      "type": "object",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "properties": {
        "beforeModelCallback": {
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        }
      },
      "id": "GuardrailCodeCallback"
    },
    "ExportAppRequest": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object."
        },
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "type": "string",
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "description": "Required. The format to export the app in."
        }
      },
      "description": "Request message for AgentService.ExportApp.",
      "id": "ExportAppRequest"
    },
    "EndSession": {
      "id": "EndSession",
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ListToolsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "tools": {
          "description": "The list of tools.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListToolsResponse"
    },
    "DataStoreToolEngineSource": {
      "id": "DataStoreToolEngineSource",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "dataStoreSources": {
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "type": "array"
        }
      }
    },
    "AudioProcessingConfig": {
      "id": "AudioProcessingConfig",
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "type": "object",
      "properties": {
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "synthesizeSpeechConfigs": {
          "type": "object",
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "inactivityTimeout": {
          "type": "string",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "format": "google-duration"
        }
      }
    },
    "ConversationLoggingSettings": {
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "properties": {
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        }
      },
      "id": "ConversationLoggingSettings",
      "type": "object"
    },
    "OmnichannelIntegrationConfig": {
      "id": "OmnichannelIntegrationConfig",
      "type": "object",
      "description": "OmnichannelIntegrationConfig contains all App integration configs.",
      "properties": {
        "routingConfigs": {
          "description": "Optional. The key of routing_configs is a key of `app_configs`, value is a `RoutingConfig`, which contains subscriber's key.",
          "type": "object",
          "additionalProperties": {
            "$ref": "OmnichannelIntegrationConfigRoutingConfig"
          }
        },
        "subscriberConfigs": {
          "description": "Optional. Various of subscribers configs.",
          "additionalProperties": {
            "$ref": "OmnichannelIntegrationConfigSubscriberConfig"
          },
          "type": "object"
        },
        "channelConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "OmnichannelIntegrationConfigChannelConfig"
          },
          "description": "Optional. Various of configuration for handling App events."
        }
      }
    },
    "DataStoreSettingsEngine": {
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the engine.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ]
        }
      }
    },
    "ServiceAgentIdTokenAuthConfig": {
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "type": "object",
      "id": "ServiceAgentIdTokenAuthConfig",
      "properties": {}
    },
    "Chunk": {
      "type": "object",
      "description": "A chunk of content within a message.",
      "id": "Chunk",
      "properties": {
        "defaultVariables": {
          "type": "object",
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Agent transfer event."
        },
        "payload": {
          "description": "Optional. Custom payload data.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "updatedVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object"
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Optional. Tool execution request."
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "transcript": {
          "type": "string",
          "description": "Optional. Transcript associated with the audio."
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "type": "object",
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteConversationsRequest"
    },
    "ListGuardrailsResponse": {
      "description": "Response message for AgentService.ListGuardrails.",
      "id": "ListGuardrailsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "OAuthConfig": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Required. The client ID from the OAuth provider."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token."
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string",
          "description": "Required. OAuth grant types."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes to grant."
        },
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "id": "OAuthConfig",
      "description": "Configurations for authentication with OAuth."
    },
    "ImportAppResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here."
        },
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        }
      },
      "id": "ImportAppResponse",
      "description": "Response message for AgentService.ImportApp."
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration."
        },
        "defaultSettings": {
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response.",
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
        },
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        }
      },
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
    },
    "EndpointControlPolicy": {
      "type": "object",
      "properties": {
        "enforcementScope": {
          "type": "string",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ],
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ]
        },
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\"."
        }
      },
      "description": "Defines project/location level endpoint control policy.",
      "id": "EndpointControlPolicy"
    },
    "Conversation": {
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "id": "Conversation",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "Message"
          },
          "description": "Deprecated. Use turns instead."
        },
        "turnCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of turns in the conversation."
        },
        "languageCode": {
          "description": "Output only. The language code of the conversation.",
          "type": "string",
          "readOnly": true
        },
        "inputTypes": {
          "readOnly": true,
          "description": "Output only. The input types of the conversation.",
          "type": "array",
          "items": {
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "The input message is text.",
              "The input message is audio.",
              "The input message is image.",
              "The input message is blob file.",
              "The input message is client function tool response.",
              "The input message are variables."
            ],
            "type": "string"
          }
        },
        "turns": {
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array",
          "description": "Required. The turns in the conversation."
        },
        "appVersion": {
          "readOnly": true,
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed.",
          "type": "string",
          "readOnly": true
        },
        "deployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "source": {
          "type": "string",
          "description": "Output only. Indicate the source of the conversation.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation."
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was created.",
          "readOnly": true
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true,
          "type": "string"
        },
        "channelType": {
          "deprecated": true,
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "type": "string",
          "description": "DEPRECATED. Please use input_types instead."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`"
        }
      }
    },
    "DataStoreConnectorConfig": {
      "type": "object",
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "properties": {
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        }
      }
    },
    "Schema": {
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "id": "Schema",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data.",
          "type": "string"
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "defs": {
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object",
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema."
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
        },
        "prefixItems": {
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "maximum": {
          "format": "double",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "type": "number"
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "minimum": {
          "type": "number",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "format": "double"
        },
        "maxItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. Properties of Type.OBJECT."
        },
        "enum": {
          "type": "array",
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        }
      },
      "type": "object"
    },
    "AppSnapshot": {
      "description": "A snapshot of the app.",
      "type": "object",
      "properties": {
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app.",
          "type": "array"
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "tools": {
          "description": "Optional. List of tools in the app.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "examples": {
          "type": "array",
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          }
        }
      },
      "id": "AppSnapshot"
    },
    "RunSessionRequest": {
      "properties": {
        "inputs": {
          "description": "Required. Inputs for the session.",
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          }
        },
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        }
      },
      "id": "RunSessionRequest",
      "type": "object",
      "description": "Request message for SessionService.RunSession."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "properties": {
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        }
      },
      "description": "Settings for golden evaluations.",
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
    },
    "AgentRemoteDialogflowAgent": {
      "type": "object",
      "id": "AgentRemoteDialogflowAgent",
      "properties": {
        "respectResponseInterruptionSettings": {
          "type": "boolean",
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings."
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "type": "object"
        },
        "inputVariableMapping": {
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "flowId": {
          "type": "string",
          "description": "Optional. The flow ID of the flow in the Dialogflow agent."
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent."
    },
    "ListToolsetsResponse": {
      "type": "object",
      "id": "ListToolsetsResponse",
      "properties": {
        "toolsets": {
          "type": "array",
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListToolsets."
    },
    "GoogleSearchTool": {
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "id": "GoogleSearchTool",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "preferredDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified."
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "excludeDomains": {
          "type": "array",
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "items": {
            "type": "string"
          }
        },
        "contextUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
        },
        "promptConfig": {
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice.",
          "$ref": "GoogleSearchToolPromptConfig"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update time of the security settings.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag of the security settings."
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the security settings.",
          "readOnly": true
        },
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        }
      },
      "type": "object",
      "description": "Project/Location level security settings for CES."
    },
    "McpToolset": {
      "id": "McpToolset",
      "properties": {
        "serverAddress": {
          "type": "string",
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        }
      },
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "type": "object"
    },
    "BigQueryExportSettings": {
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "type": "object",
      "id": "BigQueryExportSettings",
      "properties": {
        "project": {
          "description": "Optional. The project ID of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "dataset": {
          "description": "Optional. The BigQuery dataset to export the data to.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CloudLoggingSettings": {
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      },
      "id": "CloudLoggingSettings",
      "type": "object"
    },
    "PythonCodeCondition": {
      "id": "PythonCodeCondition",
      "description": "Python code block to evaluate the condition.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "type": "object",
      "description": "Boost specification for a condition.",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))"
        },
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "type": "number",
          "format": "float"
        },
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        }
      }
    },
    "ListChangelogsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "type": "array",
          "description": "The list of changelogs."
        }
      },
      "description": "Response message for AgentService.ListChangelogs.",
      "id": "ListChangelogsResponse",
      "type": "object"
    },
    "Tool": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "generatedSummary": {
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the tool was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was last updated.",
          "type": "string"
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. The python function tool."
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "executionType": {
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        }
      },
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "id": "Tool",
      "type": "object"
    },
    "DataStoreToolDataStoreSource": {
[...]
