{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListAgentsResponse": {
      "properties": {
        "agents": {
          "type": "array",
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents."
    },
    "DataStoreToolModalityConfig": {
      "id": "DataStoreToolModalityConfig",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "modalityType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type."
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "groundingConfig": {
          "$ref": "DataStoreToolGroundingConfig",
          "description": "Optional. The grounding configuration."
        },
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        }
      },
      "type": "object"
    },
    "AgentCard": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        },
        "skills": {
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          }
        },
        "name": {
          "description": "Required. A human-readable name for the agent.",
          "type": "string"
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "items": {
            "$ref": "AgentInterface"
          },
          "type": "array"
        }
      },
      "id": "AgentCard",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "description": "Settings to describe how errors should be handled in the app.",
      "type": "object",
      "properties": {
        "fallbackResponseConfig": {
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig",
          "description": "Optional. Configuration for handling fallback responses."
        },
        "errorHandlingStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ],
          "description": "Optional. The strategy to use for error handling."
        },
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        }
      }
    },
    "ExpressionCondition": {
      "id": "ExpressionCondition",
      "description": "Expression condition based on session state.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      }
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent."
        }
      },
      "type": "object"
    },
    "ToolCall": {
      "type": "object",
      "properties": {
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute."
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display name of the tool.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ToolCall",
      "description": "Request for the client or the agent to execute the specified tool."
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "type": "object",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      },
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors)."
    },
    "GuardrailCodeCallback": {
      "properties": {
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        }
      },
      "type": "object",
      "id": "GuardrailCodeCallback",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided."
    },
    "ListAppsResponse": {
      "properties": {
        "apps": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps."
    },
    "Agent": {
      "id": "Agent",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "guardrails": {
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "items": {
            "$ref": "TransferRule"
          },
          "type": "array"
        },
        "childAgents": {
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "beforeModelCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "validationErrors": {
          "readOnly": true,
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "generatedSummary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "beforeToolCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "afterToolCallbacks": {
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "afterModelCallbacks": {
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was created."
        },
        "remoteDialogflowAgent": {
          "$ref": "AgentRemoteDialogflowAgent",
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the agent was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "tools": {
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "type": "object",
      "properties": {
        "engineSource": {
          "$ref": "DataStoreToolEngineSource",
          "description": "Optional. Search within an Engine (potentially across multiple DataStores)."
        },
        "boostSpecs": {
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "type": "array"
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        },
        "modalityConfigs": {
          "type": "array",
          "description": "Optional. The modality configs for the data store.",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          }
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "filterParameterBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior."
        }
      }
    },
    "ImportAppRequest": {
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        },
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        }
      },
      "type": "object"
    },
    "ExportAppResponse": {
      "id": "ExportAppResponse",
      "description": "Response message for AgentService.ExportApp.",
      "type": "object",
      "properties": {
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "App folder compressed as a zip file."
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "type": "object",
      "properties": {
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        }
      }
    },
    "AgentLlmAgent": {
      "properties": {},
      "type": "object",
      "id": "AgentLlmAgent",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model."
    },
    "ImportAppRequestImportOptions": {
      "properties": {
        "conflictResolutionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import."
        }
      },
      "type": "object",
      "id": "ImportAppRequestImportOptions",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
    },
    "RunSessionResponse": {
      "id": "RunSessionResponse",
      "description": "Response message for SessionService.RunSession.",
      "properties": {
        "outputs": {
          "description": "Outputs for the session.",
          "items": {
            "$ref": "SessionOutput"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AppVariableDeclaration": {
      "properties": {
        "name": {
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        }
      },
      "type": "object",
      "id": "AppVariableDeclaration",
      "description": "Defines the structure and metadata for a variable."
    },
    "TransferRule": {
      "properties": {
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "description": "Required. The direction of the transfer."
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        }
      },
      "type": "object",
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent."
    },
    "TriggerActionResponse": {
      "id": "TriggerActionResponse",
      "description": "Represents a response from the agent.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        }
      }
    },
    "CloudLoggingSettings": {
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app."
    },
    "ClientCertificateSettings": {
      "id": "ClientCertificateSettings",
      "description": "Settings for custom client certificates.",
      "type": "object",
      "properties": {
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      }
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "type": "array",
          "description": "The list of tools that are included in the specified toolset.",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "type": "object",
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools."
    },
    "ModelSettings": {
      "properties": {
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        },
        "temperature": {
          "type": "number",
          "format": "double",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative."
        }
      },
      "type": "object",
      "id": "ModelSettings",
      "description": "Model settings contains various configurations for the LLM model."
    },
    "TlsConfigCaCert": {
      "properties": {
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "string",
          "format": "byte"
        },
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TlsConfigCaCert",
      "description": "The CA certificate."
    },
    "ToolResponses": {
      "type": "object",
      "properties": {
        "toolResponses": {
          "type": "array",
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          }
        }
      },
      "id": "ToolResponses",
      "description": "Execution results for the requested tool calls from the client."
    },
    "VpcScSettings": {
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app."
    },
    "SessionOutputDiagnosticInfo": {
      "properties": {
        "messages": {
          "type": "array",
          "description": "List of the messages that happened during the processing.",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      },
      "type": "object",
      "id": "SessionOutputDiagnosticInfo",
      "description": "Contains execution details during the processing."
    },
    "AgentRemoteDialogflowAgent": {
      "type": "object",
      "properties": {
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        },
        "outputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputVariableMapping": {
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "AgentRemoteDialogflowAgent",
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent."
    },
    "AgentAgentToolset": {
      "id": "AgentAgentToolset",
      "description": "A toolset with a selection of its tools.",
      "properties": {
        "toolIds": {
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset.",
          "items": {
            "type": "string"
          }
        },
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppVersion": {
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "snapshot": {
          "$ref": "AppSnapshot",
          "description": "Output only. The snapshot of the app when the version is created.",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the app version was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      },
      "type": "object",
      "id": "AppVersion",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created."
    },
    "ConversationTurn": {
      "id": "ConversationTurn",
      "description": "All information about a single turn in the conversation.",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      },
      "type": "object"
    },
    "GuardrailContentFilter": {
      "properties": {
        "bannedContentsInAgentResponse": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          }
        },
        "bannedContents": {
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "description": "Required. Match type for the content filter."
        },
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        },
        "bannedContentsInUserInput": {
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GuardrailContentFilter",
      "description": "Guardrail that bans certain content from being used in the conversation."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "properties": {
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below."
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the input audio data."
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the input audio data."
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "properties": {
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "type": "object",
      "properties": {
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        },
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations."
    },
    "Conversation": {
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "properties": {
        "messages": {
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Use turns instead.",
          "items": {
            "$ref": "Message"
          }
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "inputTypes": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The input types of the conversation.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ]
          }
        },
        "channelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "deprecated": true,
          "description": "DEPRECATED. Please use input_types instead."
        },
        "turnCount": {
          "readOnly": true,
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "format": "int32"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "description": "Output only. Indicate the source of the conversation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "readOnly": true
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. The language code of the conversation.",
          "type": "string"
        },
        "deployment": {
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array"
        },
        "startTime": {
          "description": "Output only. Timestamp when the conversation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "CodeBlock": {
      "id": "CodeBlock",
      "description": "A code block to be executed instead of a real tool call.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      }
    },
    "ChannelProfile": {
      "type": "object",
      "properties": {
        "channelType": {
          "description": "Optional. The type of the channel profile.",
          "type": "string",
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Five9 channel.",
            "Third party contact center integration channel."
          ],
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION"
          ]
        },
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "disableDtmf": {
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency).",
          "type": "boolean"
        },
        "webWidgetConfig": {
          "$ref": "ChannelProfileWebWidgetConfig",
          "description": "Optional. The configuration for the web widget."
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        }
      },
      "id": "ChannelProfile",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony."
    },
    "McpTool": {
      "properties": {
        "name": {
          "description": "Required. The name of the MCP tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the output arguments of the MCP tool."
        },
        "inputSchema": {
          "description": "Optional. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object"
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        }
      },
      "type": "object",
      "id": "McpTool",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details."
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateChatTokenRequest",
      "description": "Request message for WidgetService.GenerateChatToken."
    },
    "SessionOutput": {
      "id": "SessionOutput",
      "description": "Output for the session.",
      "properties": {
        "audio": {
          "description": "Output audio from the CES agent.",
          "type": "string",
          "format": "byte"
        },
        "citations": {
          "$ref": "Citations",
          "description": "Citations that provide the source information for the agent's generated text."
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "turnIndex": {
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "type": "integer",
          "format": "int32"
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "type": "object",
      "properties": {
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        },
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "description": "Boost specification for a condition."
    },
    "SessionConfig": {
      "properties": {
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "historicalContexts": {
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "inputAudioConfig": {
          "$ref": "InputAudioConfig",
          "description": "Optional. Configuration for processing the input audio."
        },
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SessionConfig",
      "description": "The configuration for the session."
    },
    "Changelog": {
      "id": "Changelog",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "properties": {
        "author": {
          "type": "string",
          "description": "Output only. Email address of the change author.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "type": "string"
        },
        "newResource": {
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The new resource after the change.",
          "type": "object"
        },
        "action": {
          "readOnly": true,
          "description": "Output only. The action that was performed on the resource.",
          "type": "string"
        },
        "resourceType": {
          "description": "Output only. The type of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the change was made.",
          "type": "string",
          "format": "google-datetime"
        },
        "sequenceNumber": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The monotonically increasing sequence number of the changelog."
        },
        "dependentResources": {
          "type": "array",
          "description": "Output only. The dependent resources that were changed.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "readOnly": true
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The resource that was changed.",
          "type": "string"
        },
        "originalResource": {
          "type": "object",
          "description": "Output only. The original resource before the change.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "endUserMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      },
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
    },
    "PythonFunction": {
      "id": "PythonFunction",
      "description": "A Python function tool.",
      "properties": {
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "description": {
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "readOnly": true,
          "type": "string"
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MockedToolCall": {
      "type": "object",
      "properties": {
        "expectedArgsPattern": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "type": "object"
        },
        "tool": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated. Use tool_identifier instead."
        },
        "mockResponse": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern."
        },
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset to mock."
        }
      },
      "id": "MockedToolCall",
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned."
    },
    "RestoreAppVersionRequest": {
      "id": "RestoreAppVersionRequest",
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {},
      "type": "object"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataStoreToolEngineSource": {
      "properties": {
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStoreSources": {
          "type": "array",
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        }
      },
      "type": "object",
      "id": "DataStoreToolEngineSource",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores."
    },
    "ChannelProfilePersonaProperty": {
      "properties": {
        "persona": {
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "description": "Optional. The persona of the channel."
        }
      },
      "type": "object",
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel."
    },
    "ListChangelogsResponse": {
      "type": "object",
      "properties": {
        "changelogs": {
          "type": "array",
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs."
    },
    "AgentSkill": {
      "properties": {
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AgentSkill",
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "ExportAppRequest": {
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp.",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "description": "Required. The format to export the app in."
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportAppResponse": {
      "id": "ImportAppResponse",
      "description": "Response message for AgentService.ImportApp.",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ToolCalls": {
      "id": "ToolCalls",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "type": "object",
      "properties": {
        "toolCalls": {
          "type": "array",
          "description": "Optional. The list of tool calls to execute.",
          "items": {
            "$ref": "ToolCall"
          }
        }
      }
    },
    "LoggingSettings": {
      "properties": {
        "audioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configuration for how audio interactions should be recorded."
        },
        "conversationLoggingSettings": {
          "$ref": "ConversationLoggingSettings",
          "description": "Optional. Settings to describe the conversation logging behaviors for the app."
        },
        "metricAnalysisSettings": {
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app.",
          "$ref": "MetricAnalysisSettings"
        },
        "bigqueryExportSettings": {
          "description": "Optional. Settings to describe the BigQuery export behaviors for the app. The conversation data will be exported to BigQuery tables if it is enabled.",
          "$ref": "BigQueryExportSettings"
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "unredactedAudioRecordingConfig": {
          "description": "Optional. Configures recording of unredacted audio. Use this to maintain a raw backup with restricted access when audio redaction is enabled, typically for auditing or monitoring purposes.",
          "$ref": "AudioRecordingConfig"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        }
      },
      "type": "object",
      "id": "LoggingSettings",
      "description": "Settings to describe the logging behaviors for the app."
    },
    "Schema": {
      "id": "Schema",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "properties": {
        "type": {
          "description": "Required. The type of the data.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "required": {
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          }
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "anyOf": {
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          }
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "minItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "ref": {
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring.",
          "type": "string"
        },
        "enum": {
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "properties": {
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "defs": {
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "prefixItems": {
          "type": "array",
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "items": {
            "$ref": "Schema"
          }
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "type": "number",
          "format": "double"
        },
        "additionalProperties": {
          "$ref": "Schema",
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties."
        },
        "minimum": {
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "type": "number",
          "format": "double"
        },
        "maxItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY."
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        }
      },
      "type": "object"
    },
    "DataStoreSettings": {
      "properties": {
        "engines": {
          "description": "Output only. The engines for the app.",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app."
    },
    "DataStoreToolDataStoreSource": {
      "properties": {
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        }
      },
      "type": "object",
      "id": "DataStoreToolDataStoreSource",
      "description": "Configuration for searching within a specific DataStore."
    },
    "ToolsetTool": {
      "id": "ToolsetTool",
      "description": "A tool that is created from a toolset.",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolId": {
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Image": {
      "id": "Image",
      "description": "Represents an image input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the image."
        }
      }
    },
    "RetrieveToolSchemaRequest": {
      "properties": {
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ExperimentConfig": {
      "id": "ExperimentConfig",
      "description": "Experiment for the deployment.",
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "type": "object"
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "description": "A snapshot of the app.",
      "type": "object",
      "properties": {
        "tools": {
          "type": "array",
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          }
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "agents": {
          "type": "array",
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          }
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array"
        }
      }
    },
    "Toolset": {
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the toolset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "openApiToolset": {
          "$ref": "OpenApiToolset",
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema."
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "executionType": {
          "type": "string",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tools in the toolset."
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        }
      },
      "type": "object",
      "id": "Toolset",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent."
    },
    "ListAppVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "appVersions": {
          "type": "array",
          "description": "The list of app versions.",
          "items": {
            "$ref": "AppVersion"
          }
        }
      },
      "type": "object",
      "id": "ListAppVersionsResponse",
      "description": "Response message for AgentService.ListAppVersions."
    },
    "CitationsCitedChunk": {
      "properties": {
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "text": {
          "description": "Text used for citation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "RunSessionRequest": {
      "properties": {
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        },
        "inputs": {
          "type": "array",
          "description": "Required. Inputs for the session.",
          "items": {
            "$ref": "SessionInput"
          }
        }
      },
      "type": "object",
      "id": "RunSessionRequest",
      "description": "Request message for SessionService.RunSession."
    },
    "DataStoreToolGroundingConfig": {
      "properties": {
        "groundingLevel": {
          "type": "number",
          "format": "float",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned."
        },
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DataStoreToolGroundingConfig",
      "description": "Grounding configuration."
    },
    "SecuritySettings": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the security settings."
        },
        "etag": {
          "description": "Output only. Etag of the security settings.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of the security settings."
        },
        "endpointControlPolicy": {
          "$ref": "EndpointControlPolicy",
          "description": "Optional. Endpoint control related settings."
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        }
      },
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES."
    },
    "Blob": {
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ApiAuthentication": {
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls.",
      "type": "object",
      "properties": {
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "serviceAccountAuthConfig": {
[...]
