{
  "ownerName": "Google",
  "id": "ces:v1",
  "discoveryVersion": "v1",
  "canonicalName": "Customer Engagement Suite",
  "baseUrl": "https://ces.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "ces",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "OmnichannelIntegrationConfigChannelConfig": {
      "description": "ChannelConfig contains config for various of app integration.",
      "id": "OmnichannelIntegrationConfigChannelConfig",
      "type": "object",
      "properties": {
        "whatsappConfig": {
          "description": "WhatsApp config.",
          "$ref": "OmnichannelIntegrationConfigWhatsappConfig"
        }
      }
    },
    "Tool": {
      "type": "object",
      "id": "Tool",
      "properties": {
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "mcpTool": {
          "$ref": "McpTool",
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the tool was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "fileSearchTool": {
          "$ref": "FileSearchTool",
          "description": "Optional. The file search tool."
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was created."
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        }
      },
      "description": "A tool represents an action that the CES agent can take to achieve certain goals."
    },
    "DataStoreSettings": {
      "type": "object",
      "description": "Data store related settings for the app.",
      "properties": {
        "engines": {
          "readOnly": true,
          "description": "Output only. The engines for the app.",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "type": "array"
        }
      },
      "id": "DataStoreSettings"
    },
    "GenerateChatTokenResponse": {
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which the chat token expires.",
          "type": "string"
        },
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateChatTokenResponse"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "properties": {
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        },
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "properties": {
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "type": "string",
          "description": "Required. The encoding of the input audio data.",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data."
    },
    "ErrorHandlingSettings": {
      "properties": {
        "errorHandlingStrategy": {
          "enumDescriptions": [
            "Unspecified error handling strategy. Defaults to FALLBACK_RESPONSE.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of LLM errors."
          ],
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE"
          ],
          "type": "string",
          "description": "Optional. The strategy to use for error handling."
        }
      },
      "description": "Settings to describe how errors should be handled in the app.",
      "type": "object",
      "id": "ErrorHandlingSettings"
    },
    "BatchDeleteConversationsRequest": {
      "type": "object",
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListAgentsResponse": {
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "type": "array",
          "description": "The list of agents."
        }
      },
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget."
        }
      },
      "description": "Request message for WidgetService.GenerateChatToken.",
      "type": "object",
      "id": "GenerateChatTokenRequest"
    },
    "LoggingSettings": {
      "id": "LoggingSettings",
      "type": "object",
      "properties": {
        "conversationLoggingSettings": {
          "description": "Optional. Settings to describe the conversation logging behaviors for the app.",
          "$ref": "ConversationLoggingSettings"
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "evaluationAudioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions."
        },
        "audioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded.",
          "$ref": "AudioRecordingConfig"
        },
        "redactionConfig": {
          "$ref": "RedactionConfig",
          "description": "Optional. Configuration for how sensitive data should be redacted."
        },
        "metricAnalysisSettings": {
          "$ref": "MetricAnalysisSettings",
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
        },
        "bigqueryExportSettings": {
          "description": "Optional. Settings to describe the BigQuery export behaviors for the app. The conversation data will be exported to BigQuery tables if it is enabled.",
          "$ref": "BigQueryExportSettings"
        }
      },
      "description": "Settings to describe the logging behaviors for the app."
    },
    "ClientFunction": {
      "type": "object",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "id": "ClientFunction",
      "properties": {
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "response": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function response."
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        }
      }
    },
    "ServiceAgentIdTokenAuthConfig": {
      "id": "ServiceAgentIdTokenAuthConfig",
      "type": "object",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "properties": {}
    },
    "RetrieveToolsRequest": {
      "description": "Request message for ToolService.RetrieveTools.",
      "id": "RetrieveToolsRequest",
      "properties": {
        "toolIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ToolsetTool": {
      "type": "object",
      "description": "A tool that is created from a toolset.",
      "properties": {
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      },
      "id": "ToolsetTool"
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "properties": {
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
        },
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        },
        "enableOriginCheck": {
          "type": "boolean",
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
        }
      },
      "type": "object",
      "description": "Security settings for the web widget."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ExecuteToolResponse": {
      "properties": {
        "variables": {
          "description": "The variable values at the end of the tool execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        }
      },
      "description": "Response message for ToolService.ExecuteTool.",
      "id": "ExecuteToolResponse",
      "type": "object"
    },
    "MetricAnalysisSettings": {
      "properties": {
        "llmMetricsOptedOut": {
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected.",
          "type": "boolean"
        }
      },
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "id": "MetricAnalysisSettings",
      "type": "object"
    },
    "GuardrailCodeCallback": {
      "type": "object",
      "id": "GuardrailCodeCallback",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "properties": {
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "beforeModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        }
      }
    },
    "Deployment": {
      "type": "object",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this deployment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Deployment"
    },
    "OmnichannelIntegrationConfigRoutingConfig": {
      "type": "object",
      "properties": {
        "subscriberKey": {
          "description": "The key of the subscriber.",
          "type": "string"
        }
      },
      "description": "Routing config specify how/who to route app events to a subscriber.",
      "id": "OmnichannelIntegrationConfigRoutingConfig"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "properties": {
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "issuer": {
          "type": "string",
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "type": "object"
    },
    "OmnichannelIntegrationConfigSubscriberConfig": {
      "description": "Configs of subscribers.",
      "properties": {
        "cesAppConfig": {
          "$ref": "OmnichannelIntegrationConfigCesAppConfig",
          "description": "Ces app config."
        }
      },
      "id": "OmnichannelIntegrationConfigSubscriberConfig",
      "type": "object"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "type": "object"
    },
    "GuardrailModelSafety": {
      "id": "GuardrailModelSafety",
      "type": "object",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "properties": {
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "description": "Required. List of safety settings."
        }
      }
    },
    "ServiceAccountAuthConfig": {
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used."
        },
        "serviceAccount": {
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "description": "Configurations for authentication using a custom service account.",
      "type": "object",
      "id": "ServiceAccountAuthConfig"
    },
    "Action": {
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "id": "Action",
      "type": "object",
      "properties": {
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used."
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "description": "Configuration for searching within a specific DataStore.",
      "id": "DataStoreToolDataStoreSource",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "dataStore": {
          "$ref": "DataStore",
          "description": "Optional. The data store."
        }
      },
      "type": "object"
    },
    "ChannelProfilePersonaProperty": {
      "properties": {
        "persona": {
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "description": "Optional. The persona of the channel."
        }
      },
      "description": "Represents the persona property of a channel.",
      "type": "object",
      "id": "ChannelProfilePersonaProperty"
    },
    "Blob": {
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Blob"
    },
    "Schema": {
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "type": "object",
      "id": "Schema",
      "properties": {
        "minItems": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "prefixItems": {
          "type": "array",
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "items": {
            "$ref": "Schema"
          }
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the schema."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. Properties of Type.OBJECT."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the data."
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "type": "string",
          "description": "Required. The type of the data.",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ]
        },
        "enum": {
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defs": {
          "type": "object",
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER."
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        },
        "additionalProperties": {
          "$ref": "Schema",
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties."
        },
        "ref": {
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring.",
          "type": "string"
        },
        "required": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Required properties of Type.OBJECT."
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        }
      }
    },
    "DataStoreToolRewriterConfig": {
      "description": "Rewriter configuration.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the rewriter is disabled."
        },
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "id": "DataStoreToolRewriterConfig",
      "type": "object"
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app."
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. List of examples in the app.",
          "type": "array"
        },
        "tools": {
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "type": "array",
          "description": "Optional. List of toolsets in the app."
        },
        "guardrails": {
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          },
          "description": "Optional. List of guardrails in the app."
        }
      },
      "type": "object",
      "description": "A snapshot of the app."
    },
    "RestoreAppVersionRequest": {
      "description": "Request message for AgentService.RestoreAppVersion",
      "id": "RestoreAppVersionRequest",
      "type": "object",
      "properties": {}
    },
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "properties": {
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "prebuiltAmbientNoise": {
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ]
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
        }
      },
      "type": "object",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "interpolationType": {
          "type": "string",
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
        },
        "controlPoints": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array"
        }
      }
    },
    "ListToolsetsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListToolsets.",
      "id": "ListToolsetsResponse",
      "properties": {
        "toolsets": {
          "description": "The list of toolsets.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "OmnichannelOperationMetadata": {
      "id": "OmnichannelOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TimeZoneSettings": {
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "id": "TimeZoneSettings"
    },
    "ListAppsResponse": {
      "description": "Response message for AgentService.ListApps.",
      "id": "ListAppsResponse",
      "properties": {
        "apps": {
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TlsConfigCaCert": {
      "id": "TlsConfigCaCert",
      "description": "The CA certificate.",
      "type": "object",
      "properties": {
        "cert": {
          "format": "byte",
          "type": "string",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "properties": {
        "semanticSimilarityChannel": {
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "type": "string",
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation."
        },
        "overallToolInvocationCorrectnessThreshold": {
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "format": "float",
          "type": "number"
        },
        "semanticSimilaritySuccessThreshold": {
          "format": "int32",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "type": "integer"
        }
      },
      "description": "Turn level metrics thresholds.",
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
    },
    "ConnectorTool": {
      "id": "ConnectorTool",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      }
    },
    "ConnectorToolset": {
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "type": "object",
      "id": "ConnectorToolset",
      "properties": {
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        },
        "connectorActions": {
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "items": {
            "$ref": "Action"
          },
          "type": "array"
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        }
      },
      "description": "Response message for AgentService.ListDeployments.",
      "type": "object"
    },
    "BigQueryExportSettings": {
      "properties": {
        "dataset": {
          "description": "Optional. The BigQuery dataset to export the data to.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        },
        "project": {
          "description": "Optional. The project ID of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "id": "BigQueryExportSettings",
      "type": "object",
      "description": "Settings to describe the BigQuery export behaviors for the app."
    },
    "TriggerActionRespondImmediately": {
      "type": "object",
      "id": "TriggerActionRespondImmediately",
      "description": "The agent will immediately respond with a preconfigured response.",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly."
        }
      }
    },
    "Chunk": {
      "properties": {
        "updatedVariables": {
          "type": "object",
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "defaultVariables": {
          "type": "object",
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Custom payload data."
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        }
      },
      "id": "Chunk",
      "description": "A chunk of content within a message.",
      "type": "object"
    },
    "GuardrailModelSafetySafetySetting": {
      "properties": {
        "threshold": {
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Required. The harm block threshold.",
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ],
          "description": "Required. The harm category.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ],
          "type": "string"
        }
      },
      "id": "GuardrailModelSafetySafetySetting",
      "type": "object",
      "description": "Safety setting."
    },
    "OpenApiTool": {
      "id": "OpenApiTool",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SessionOutput": {
      "description": "Output for the session.",
      "id": "SessionOutput",
      "type": "object",
      "properties": {
        "audio": {
          "description": "Output audio from the CES agent.",
          "type": "string",
          "format": "byte"
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "turnIndex": {
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32"
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom payload with structured output from the CES agent."
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        }
      }
    },
    "WebSearchQuery": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI to the Google Search results page for the query."
        },
        "query": {
          "type": "string",
          "description": "The search query text."
        }
      },
      "type": "object",
      "description": "Represents a single web search query and its associated search uri.",
      "id": "WebSearchQuery"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "TriggerActionGenerativeAnswer": {
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The agent will immediately respond with a generative answer.",
      "id": "TriggerActionGenerativeAnswer"
    },
    "RetrieveToolSchemaRequest": {
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        }
      },
      "type": "object"
    },
    "Conversation": {
      "properties": {
        "inputTypes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The input types of the conversation.",
          "items": {
            "enumDescriptions": [
              "Unspecified input type.",
              "The input message is text.",
              "The input message is audio.",
              "The input message is image.",
              "The input message is blob file.",
              "The input message is client function tool response.",
              "The input message are variables."
            ],
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "type": "string"
          }
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the conversation was created."
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "type": "array",
          "items": {
            "$ref": "ConversationTurn"
          }
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Use turns instead."
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "description": "DEPRECATED. Please use input_types instead."
        },
        "entryAgent": {
          "readOnly": true,
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string",
          "readOnly": true
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`"
        },
        "languageCode": {
          "description": "Output only. The language code of the conversation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed.",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL"
          ],
          "description": "Output only. Indicate the source of the conversation.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app."
    },
    "ToolCalls": {
      "id": "ToolCalls",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "properties": {
        "toolCalls": {
          "type": "array",
          "description": "Optional. The list of tool calls to execute.",
          "items": {
            "$ref": "ToolCall"
          }
        }
      },
      "type": "object"
    },
    "EndSession": {
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session."
        }
      },
      "type": "object",
      "id": "EndSession"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "TriggerActionResponse": {
      "description": "Represents a response from the agent.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        },
        "text": {
          "type": "string",
          "description": "Required. Text for the agent to respond with."
        }
      },
      "id": "TriggerActionResponse"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "DataStoreSettingsEngine": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the engine.",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ]
        }
      },
      "id": "DataStoreSettingsEngine",
      "type": "object",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "ServiceDirectoryConfig": {
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "id": "ServiceDirectoryConfig",
      "type": "object",
      "description": "Configuration for tools using Service Directory."
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "description": "The list of tools that are included in the specified toolset.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        }
      },
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools.",
      "type": "object"
    },
    "Omnichannel": {
      "properties": {
        "description": {
          "description": "Optional. Human-readable description of the omnichannel resource.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the omnichannel resource was created.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the omnichannel resource. Format: `projects/{project}/locations/{location}/omnichannels/{omnichannel}`",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the omnichannel resource was last updated.",
          "readOnly": true
        },
        "integrationConfig": {
          "description": "Optional. The integration config for the omnichannel resource.",
          "$ref": "OmnichannelIntegrationConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the omnichannel resource."
        }
      },
      "type": "object",
      "description": "Represents an Omnichannel resource.",
      "id": "Omnichannel"
    },
    "PythonCodeCondition": {
      "type": "object",
      "id": "PythonCodeCondition",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      },
      "description": "Python code block to evaluate the condition."
    },
    "ImportAppRequest": {
      "id": "ImportAppRequest",
      "properties": {
        "ignoreAppLock": {
          "type": "boolean",
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
        },
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        }
      },
      "description": "Request message for AgentService.ImportApp.",
      "type": "object"
    },
    "Citations": {
      "type": "object",
      "id": "Citations",
      "description": "Citations associated with the agent response.",
      "properties": {
        "citedChunks": {
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "type": "array",
          "description": "List of cited pieces of information."
        }
      }
    },
    "AgentTransfer": {
      "id": "AgentTransfer",
      "properties": {
        "targetAgent": {
          "type": "string",
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the agent."
        }
      },
      "type": "object",
      "description": "Represents an event indicating the transfer of a conversation to a different agent."
    },
    "TransferRule": {
      "properties": {
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "disablePlannerTransfer": {
          "$ref": "TransferRuleDisablePlannerTransfer",
          "description": "Optional. Rule that prevents the planner from transferring to the target agent."
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ]
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "id": "TransferRule",
      "type": "object",
      "description": "Rule for transferring to a specific agent."
    },
    "TriggerAction": {
      "type": "object",
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      },
      "id": "TriggerAction"
    },
    "RunSessionRequest": {
      "id": "RunSessionRequest",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "description": "Required. Inputs for the session.",
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          }
        }
      },
      "description": "Request message for SessionService.RunSession."
    },
    "McpTool": {
      "id": "McpTool",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "type": "object",
      "properties": {
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the MCP tool."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the input arguments of the MCP tool."
        },
        "name": {
          "description": "Required. The name of the MCP tool.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        }
      }
    },
    "Agent": {
      "id": "Agent",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "afterToolCallbacks": {
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "beforeToolCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "beforeAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "afterModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "afterAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "generatedSummary": {
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the agent was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "childAgents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "toolsets": {
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "type": "array",
          "description": "Optional. List of toolsets for the agent."
        },
        "createTime": {
          "description": "Output only. Timestamp when the agent was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "type": "array",
          "items": {
            "$ref": "TransferRule"
          }
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ApiAuthentication": {
      "id": "ApiAuthentication",
      "type": "object",
      "properties": {
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        }
      },
      "description": "Authentication information required for API calls."
    },
    "ToolResponses": {
      "properties": {
        "toolResponses": {
          "description": "Optional. The list of tool execution results.",
          "type": "array",
          "items": {
            "$ref": "ToolResponse"
          }
        }
      },
      "type": "object",
      "description": "Execution results for the requested tool calls from the client.",
      "id": "ToolResponses"
    },
    "GoogleSearchTool": {
      "type": "object",
      "id": "GoogleSearchTool",
      "properties": {
        "promptConfig": {
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice.",
          "$ref": "GoogleSearchToolPromptConfig"
        },
        "excludeDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded."
        },
        "preferredDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array"
        },
        "contextUrls": {
          "type": "array",
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        }
      },
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "BearerTokenConfig": {
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BearerTokenConfig",
      "description": "Configurations for authentication with a bearer token."
    },
    "ModelSettings": {
      "type": "object",
      "id": "ModelSettings",
      "properties": {
        "model": {
          "type": "string",
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent."
        },
        "temperature": {
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Model settings contains various configurations for the LLM model."
    },
    "SessionOutputDiagnosticInfo": {
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "List of the messages that happened during the processing."
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      },
      "description": "Contains execution details during the processing.",
      "id": "SessionOutputDiagnosticInfo"
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      },
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "type": "object"
    },
    "ImportAppResponse": {
      "id": "ImportAppResponse",
      "description": "Response message for AgentService.ImportApp.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here."
        }
      }
    },
    "ExecuteToolRequest": {
      "description": "Request message for ToolService.ExecuteTool.",
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The variables that are available for the tool execution."
        },
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "context": {
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteToolRequest",
      "type": "object"
    },
    "ConversationTurn": {
      "description": "All information about a single turn in the conversation.",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      },
      "type": "object",
      "id": "ConversationTurn"
    },
    "GoogleSearchToolPromptConfig": {
      "type": "object",
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      }
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "properties": {
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "filterParameterBehavior": {
          "type": "string",
          "description": "Optional. The filter parameter behavior.",
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ]
        },
        "modalityConfigs": {
          "description": "Optional. The modality configs for the data store.",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The data store tool name."
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "boostSpecs": {
          "description": "Optional. Boost specification to boost certain documents.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          }
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        }
      },
      "type": "object",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "DataStoreToolEngineSource": {
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStoreSources": {
          "type": "array",
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        },
        "engine": {
[...]
