{
  "title": "Gemini Enterprise for Customer Experience API",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "version": "v1beta",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "name": "ces",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "revision": "20260513",
  "canonicalName": "Customer Engagement Suite",
  "id": "ces:v1beta",
  "schemas": {
    "LatencyReportToolLatency": {
      "id": "LatencyReportToolLatency",
      "type": "object",
      "properties": {
        "tool": {
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "latencyMetrics": {
          "readOnly": true,
          "description": "Output only. The latency metrics for the tool.",
          "$ref": "LatencyReportLatencyMetrics"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true
        }
      },
      "description": "Latency metrics for a single tool."
    },
    "WidgetToolDataMapping": {
      "id": "WidgetToolDataMapping",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "type": "object",
      "properties": {
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format."
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ],
          "description": "Optional. The mode of the data mapping.",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ]
        },
        "pythonScript": {
          "description": "Deprecated: Use `python_function` instead.",
          "deprecated": true,
          "type": "string"
        },
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        },
        "fieldMappings": {
          "type": "object",
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "type": "object",
      "properties": {
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        },
        "errorHandlingStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "description": "Optional. The strategy to use for error handling.",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ]
        },
        "fallbackResponseConfig": {
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig",
          "description": "Optional. Configuration for handling fallback responses."
        }
      },
      "description": "Settings to describe how errors should be handled in the app."
    },
    "SessionOutput": {
      "id": "SessionOutput",
      "type": "object",
      "properties": {
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "citations": {
          "$ref": "Citations",
          "description": "Citations that provide the source information for the agent's generated text."
        },
        "payload": {
          "type": "object",
          "description": "Custom payload with structured output from the CES agent.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        },
        "audio": {
          "type": "string",
          "format": "byte",
          "description": "Output audio from the CES agent."
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "text": {
          "type": "string",
          "description": "Output text from the CES agent."
        },
        "toolCalls": {
          "$ref": "ToolCalls",
          "description": "Request for the client to execute the tools."
        },
        "turnIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1."
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        }
      },
      "description": "Output for the session."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "EvaluationMetricsConfigUserGoalMetMetricsConfig": {
      "type": "object",
      "properties": {
        "enableUserGoalMetMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate the user goal met metrics for the evaluation."
        }
      },
      "description": "Configuration for the user goal met metrics for the evaluation. To disable the metric, set the message but do not set the `enable_user_goal_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "id": "EvaluationMetricsConfigUserGoalMetMetricsConfig"
    },
    "Agent": {
      "type": "object",
      "properties": {
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was last updated.",
          "readOnly": true
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "beforeToolCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "afterToolCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "childAgents": {
          "type": "array",
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          }
        },
        "afterModelCallbacks": {
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        },
        "generatedSummary": {
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "tools": {
          "type": "array",
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          }
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "items": {
            "$ref": "TransferRule"
          },
          "type": "array"
        }
      },
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "id": "Agent"
    },
    "ToolResponses": {
      "id": "ToolResponses",
      "description": "Execution results for the requested tool calls from the client.",
      "type": "object",
      "properties": {
        "toolResponses": {
          "type": "array",
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          }
        }
      }
    },
    "ListAgentsResponse": {
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "type": "object",
      "properties": {
        "agents": {
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "EvaluationMetricsConfigExpectationsMetMetricsConfig": {
      "type": "object",
      "properties": {
        "enableExpectationsMetMetrics": {
          "description": "Optional. Whether to calculate the expectation level metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the expectation level metrics for the evaluation. To disable the metric, set the message but do not set the `enable_expectations_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "id": "EvaluationMetricsConfigExpectationsMetMetricsConfig"
    },
    "AggregatedMetrics": {
      "type": "object",
      "properties": {
        "metricsByAppVersion": {
          "type": "array",
          "description": "Output only. Aggregated metrics, grouped by app version ID.",
          "items": {
            "$ref": "AggregatedMetricsMetricsByAppVersion"
          },
          "readOnly": true
        }
      },
      "description": "Aggregated metrics for an evaluation or evaluation dataset.",
      "id": "AggregatedMetrics"
    },
    "DataStoreConnectorConfig": {
      "description": "The connector config for the data store connection.",
      "type": "object",
      "properties": {
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        }
      },
      "id": "DataStoreConnectorConfig"
    },
    "ActionEntityOperation": {
      "id": "ActionEntityOperation",
      "description": "Entity CRUD operation specification.",
      "type": "object",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Required. ID of the entity."
        },
        "operation": {
          "description": "Required. Operation to perform on the entity.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ]
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))"
        },
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "type": "number",
          "format": "float"
        },
        "boostControlSpec": {
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        }
      },
      "description": "Boost specification for a condition."
    },
    "TransferRule": {
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "disablePlannerTransfer": {
          "$ref": "TransferRuleDisablePlannerTransfer",
          "description": "Optional. Rule that prevents the planner from transferring to the target agent."
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "description": "Required. The direction of the transfer.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ]
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        }
      }
    },
    "LfA2aV1SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "type": "object",
      "properties": {
        "acceptedOutputModes": {
          "type": "array",
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "items": {
            "type": "string"
          }
        },
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        },
        "historyLength": {
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer",
          "format": "int32"
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        }
      },
      "id": "LfA2aV1SendMessageConfiguration"
    },
    "OutputAudioConfig": {
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the output audio data."
        },
        "audioEncoding": {
          "description": "Required. The encoding of the output audio data.",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        }
      },
      "id": "OutputAudioConfig"
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "type": "object",
      "properties": {
        "observedToolCall": {
          "readOnly": true,
          "$ref": "ToolCall",
          "description": "Output only. The result of the tool call expectation."
        },
        "outcome": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "description": "Output only. The outcome of the expectation."
        },
        "observedPayload": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "description": "Output only. The expectation that was evaluated.",
          "readOnly": true
        },
        "toolInvocationResult": {
          "readOnly": true,
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "description": "Output only. The result of the tool invocation check."
        },
        "observedAgentResponse": {
          "$ref": "Message",
          "description": "Output only. The result of the agent response expectation.",
          "readOnly": true
        },
        "semanticSimilarityResult": {
          "deprecated": true,
          "$ref": "EvaluationResultSemanticSimilarityResult",
          "description": "Output only. The result of the semantic similarity check.",
          "readOnly": true
        },
        "observedToolResponse": {
          "readOnly": true,
          "description": "Output only. The result of the tool response expectation.",
          "$ref": "ToolResponse"
        },
        "observedAgentTransfer": {
          "description": "Output only. The result of the agent transfer expectation.",
          "$ref": "AgentTransfer",
          "readOnly": true
        }
      },
      "description": "Specifies the expectation and the result of that expectation.",
      "id": "EvaluationResultGoldenExpectationOutcome"
    },
    "ImportEvaluationsOperationMetadata": {
      "id": "ImportEvaluationsOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "description": "Represents the metadata of the long-running operation for EvaluationService.ImportEvaluations."
    },
    "FileContextFileBytes": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "fileName": {
          "description": "Required. The name of the file provided as raw bytes.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the file."
        }
      },
      "description": "File provided as raw bytes.",
      "id": "FileContextFileBytes"
    },
    "Span": {
      "id": "Span",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the span.",
          "type": "string",
          "readOnly": true
        },
        "attributes": {
          "type": "object",
          "description": "Output only. Key-value attributes associated with the span.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The start time of the span.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the span.",
          "type": "string",
          "format": "google-datetime"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration of the span.",
          "readOnly": true
        },
        "childSpans": {
          "readOnly": true,
          "description": "Output only. The child spans that are nested under this span.",
          "items": {
            "$ref": "Span"
          },
          "type": "array"
        }
      },
      "description": "A span is a unit of work or a single operation during the request processing."
    },
    "AgentTransfer": {
      "id": "AgentTransfer",
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the agent."
        },
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "McpToolset": {
      "id": "McpToolset",
      "type": "object",
      "properties": {
        "serverAddress": {
          "type": "string",
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "customHeaders": {
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "toolOverrides": {
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "items": {
            "$ref": "McpToolOverride"
          },
          "type": "array"
        }
      },
      "description": "A toolset that contains a list of tools that are offered by the MCP server."
    },
    "VpcScSettings": {
      "description": "VPC-SC settings for the app.",
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "type": "array",
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VpcScSettings"
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "description": "The observed tool call and response.",
      "type": "object",
      "properties": {
        "toolCall": {
          "readOnly": true,
          "$ref": "ToolCall",
          "description": "Output only. The observed tool call."
        },
        "toolResponse": {
          "readOnly": true,
          "$ref": "ToolResponse",
          "description": "Output only. The observed tool response."
        }
      },
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object",
      "properties": {
        "endUserMetadata": {
          "type": "object",
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "webhookHeaders": {
          "type": "object",
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "type": "object",
      "properties": {
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        },
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        },
        "enableOriginCheck": {
          "type": "boolean",
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
        },
        "allowedOrigins": {
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ChannelProfileWebWidgetConfigSecuritySettings"
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "type": "object",
      "properties": {
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number",
          "format": "double"
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        }
      },
      "description": "Configuration for how the agent response should be synthesized."
    },
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "type": "object",
      "properties": {
        "customFallbackMessages": {
          "type": "object",
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxFallbackAttempts": {
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for handling fallback responses.",
      "id": "ErrorHandlingSettingsFallbackResponseConfig"
    },
    "EvaluationResultScenarioExpectationOutcome": {
      "type": "object",
      "properties": {
        "outcome": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "description": "Output only. The outcome of the ScenarioExpectation.",
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true
        },
        "observedToolCall": {
          "readOnly": true,
          "description": "Output only. The observed tool call.",
          "$ref": "EvaluationResultScenarioExpectationOutcomeObservedToolCall"
        },
        "observedAgentResponse": {
          "readOnly": true,
          "description": "Output only. The observed agent response.",
          "$ref": "Message"
        },
        "expectation": {
          "readOnly": true,
          "$ref": "EvaluationScenarioExpectation",
          "description": "Output only. The expectation that was evaluated."
        }
      },
      "description": "The outcome of a scenario expectation.",
      "id": "EvaluationResultScenarioExpectationOutcome"
    },
    "ImportEvaluationsRequestConversationList": {
      "description": "A list of conversation resource names.",
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "Optional. Conversation resource names.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ImportEvaluationsRequestConversationList"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "type": "object",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "The agent will transfer the conversation to a different agent."
    },
    "WidgetToolTextResponseConfig": {
      "description": "Configuration for the text response returned with the widget.",
      "type": "object",
      "properties": {
        "textResponseInstruction": {
          "type": "string",
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
        },
        "type": {
          "description": "Optional. The strategy for providing the text response.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ]
        },
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        }
      },
      "id": "WidgetToolTextResponseConfig"
    },
    "AppSnapshot": {
      "description": "A snapshot of the app.",
      "type": "object",
      "properties": {
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array"
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        },
        "agents": {
          "type": "array",
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          }
        },
        "tools": {
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          }
        }
      },
      "id": "AppSnapshot"
    },
    "EvaluationMetricsConfigToolCorrectnessMetricsConfig": {
      "id": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
      "type": "object",
      "properties": {
        "enableToolCorrectnessMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate tool correctness metrics for the evaluation."
        }
      },
      "description": "Configuration for correctness metrics for the evaluation. To disable the metric, set the message but do not set the `enable_tool_correctness_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely."
    },
    "OpenApiTool": {
      "id": "OpenApiTool",
      "type": "object",
      "properties": {
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        }
      },
      "description": "A remote API tool defined by an OpenAPI schema."
    },
    "ToolCalls": {
      "id": "ToolCalls",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "type": "object",
      "properties": {
        "toolCalls": {
          "type": "array",
          "description": "Optional. The list of tool calls to execute.",
          "items": {
            "$ref": "ToolCall"
          }
        }
      }
    },
    "AgentAgentToolset": {
      "description": "A toolset with a selection of its tools.",
      "type": "object",
      "properties": {
        "toolIds": {
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset.",
          "items": {
            "type": "string"
          }
        },
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        }
      },
      "id": "AgentAgentToolset"
    },
    "PythonFunction": {
      "id": "PythonFunction",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for the tool.",
          "$ref": "ServiceDirectoryConfig"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "readOnly": true
        }
      },
      "description": "A Python function tool."
    },
    "RestoreAppVersionRequest": {
      "id": "RestoreAppVersionRequest",
      "description": "Request message for AgentService.RestoreAppVersion",
      "type": "object",
      "properties": {}
    },
    "SessionInput": {
      "description": "Input for the session.",
      "type": "object",
      "properties": {
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "toolResponses": {
          "$ref": "ToolResponses",
          "description": "Optional. Execution results for the tool calls from the client."
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "audio": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Audio data from the end user."
        }
      },
      "id": "SessionInput"
    },
    "OptimizationConfig": {
      "id": "OptimizationConfig",
      "description": "Configuration for running the optimization step after the evaluation run.",
      "type": "object",
      "properties": {
        "shouldSuggestFix": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether to suggest a fix for the losses."
        },
        "generateLossReport": {
          "type": "boolean",
          "description": "Optional. Whether to generate a loss report."
        },
        "lossReport": {
          "type": "object",
          "description": "Output only. The generated loss report.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "readOnly": true
        },
        "reportSummary": {
          "type": "string",
          "description": "Output only. The summary of the loss report.",
          "readOnly": true
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The error message if the optimization run failed.",
          "type": "string"
        },
        "assistantSession": {
          "description": "Output only. The assistant session to use for the optimization based on this evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistantSession}`",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "enumDescriptions": [
            "Optimization status is not specified.",
            "Optimization is running.",
            "Optimization has completed.",
            "Optimization failed due to an internal error."
          ],
          "description": "Output only. The status of the optimization run.",
          "type": "string",
          "enum": [
            "OPTIMIZATION_STATUS_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "ERROR"
          ],
          "readOnly": true
        }
      }
    },
    "ClientCertificateSettings": {
      "type": "object",
      "properties": {
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "description": "Settings for custom client certificates.",
      "id": "ClientCertificateSettings"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "description": "Request message for EvaluationService.RunEvaluation.",
      "type": "object",
      "properties": {
        "evaluations": {
          "description": "Optional. List of evaluations to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "optimizationConfig": {
          "$ref": "OptimizationConfig",
          "description": "Optional. Configuration for running the optimization step after the evaluation run. If not set, the optimization step will not be run."
        },
        "generateLatencyReport": {
          "type": "boolean",
          "description": "Optional. Whether to generate a latency report for the evaluation run."
        },
        "evaluationDataset": {
          "type": "string",
          "description": "Optional. An evaluation dataset to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
        },
        "runCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of times to run the evaluation. If not set, the default value is 1 per golden, and 5 per scenario."
        },
        "appVersion": {
          "description": "Optional. The app version to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "app": {
          "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "personaRunConfigs": {
          "description": "Optional. The configuration to use for the run per persona.",
          "items": {
            "$ref": "PersonaRunConfig"
          },
          "type": "array"
        },
        "config": {
          "$ref": "EvaluationConfig",
          "description": "Optional. The configuration to use for the run."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the evaluation run."
        },
        "goldenRunMethod": {
          "description": "Optional. The method to run the evaluation if it is a golden evaluation. If not set, default to STABLE.",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "scheduledEvaluationRun": {
          "description": "Optional. The resource name of the `ScheduledEvaluationRun` that is triggering this evaluation run. If this field is set, the `scheduled_evaluation_run` field on the created `EvaluationRun` resource will be populated from this value. Format: `projects/{project}/locations/{location}/apps/{app}/scheduledEvaluationRuns/{scheduled_evaluation_run}`",
          "type": "string"
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "description": "The agent will immediately respond with a preconfigured response.",
      "type": "object",
      "properties": {
        "responses": {
          "type": "array",
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "items": {
            "$ref": "TriggerActionResponse"
          }
        }
      },
      "id": "TriggerActionRespondImmediately"
    },
    "AgentRemoteDialogflowAgent": {
      "type": "object",
      "properties": {
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "inputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "languageCodeVariable": {
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used.",
          "type": "string"
        },
        "outputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "respectResponseInterruptionSettings": {
          "type": "boolean",
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings."
        },
        "flowId": {
          "type": "string",
          "description": "Optional. The flow ID of the flow in the Dialogflow agent."
        }
      },
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "id": "AgentRemoteDialogflowAgent"
    },
    "RunSessionRequest": {
      "id": "RunSessionRequest",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Required. Inputs for the session.",
          "items": {
            "$ref": "SessionInput"
          },
          "type": "array"
        },
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        }
      },
      "description": "Request message for SessionService.RunSession."
    },
    "EvaluationResultTaskCompletionResult": {
      "id": "EvaluationResultTaskCompletionResult",
      "description": "The result of the task completion check for the conversation.",
      "type": "object",
      "properties": {
        "label": {
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined",
          "type": "string",
          "readOnly": true
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. The explanation for the task completion score.",
          "type": "string"
        },
        "score": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The task completion score. Can be -1, 0, 1"
        }
      }
    },
    "ExportEvaluationResultsRequest": {
      "type": "object",
      "properties": {
        "exportOptions": {
          "description": "Optional. The export options for the evaluation results.",
          "$ref": "ExportOptions"
        },
        "names": {
          "description": "Required. The resource names of the evaluation results to export.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for EvaluationService.ExportEvaluationResults.",
      "id": "ExportEvaluationResultsRequest"
    },
    "ExperimentConfigVersionRelease": {
      "id": "ExperimentConfigVersionRelease",
      "description": "Version release for the experiment.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Pending state. Experiment is pending and not valid.",
            "Running state. Experiment is running and valid.",
            "Done state. Experiment is done and no longer valid.",
            "Expired state. Experiment is expired and no longer valid."
          ],
          "description": "Optional. State of the version release.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ]
        },
        "trafficAllocations": {
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "type": "array"
        }
      }
    },
    "ToolResponse": {
      "id": "ToolResponse",
      "description": "The execution result of a specific tool from the client or the agent.",
      "type": "object",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the tool.",
          "type": "string"
        },
        "response": {
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool that got executed."
        },
        "id": {
          "type": "string",
          "description": "Optional. The matching ID of the tool call the response is for."
        }
      }
    },
    "EvaluationScenarioExpectation": {
      "id": "EvaluationScenarioExpectation",
      "description": "The expectation to evaluate the conversation produced by the simulation.",
      "type": "object",
      "properties": {
        "toolExpectation": {
          "$ref": "EvaluationScenarioExpectationToolExpectation",
          "description": "Optional. The tool call and response pair to be evaluated."
        },
        "agentResponse": {
          "$ref": "Message",
          "description": "Optional. The agent response to be evaluated."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "AppVersion": {
      "id": "AppVersion",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "creator": {
          "type": "string",
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app version was created."
        },
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "$ref": "AppSnapshot",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        }
      }
    },
    "ExportEvaluationRunsResponse": {
      "type": "object",
      "properties": {
        "evaluationRunsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request."
        },
        "evaluationRunsContent": {
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Response message for EvaluationService.ExportEvaluationRuns.",
      "id": "ExportEvaluationRunsResponse"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "SystemTool": {
      "id": "SystemTool",
      "description": "Pre-defined system tool.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the system tool.",
          "type": "string"
        }
      }
    },
    "LfA2aV1SendMessageRequest": {
      "description": "Represents a request for the `SendMessage` method.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "A flexible key-value map for passing additional context or parameters.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "LfA2aV1Message"
        },
        "configuration": {
          "$ref": "LfA2aV1SendMessageConfiguration",
          "description": "Configuration for the send request."
        }
      },
      "id": "LfA2aV1SendMessageRequest"
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function parameters."
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        }
      },
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "GenerateEvaluationOperationMetadata": {
      "type": "object",
      "properties": {},
      "description": "Operation metadata for EvaluationService.GenerateEvaluation.",
      "id": "GenerateEvaluationOperationMetadata"
    },
    "WidgetTool": {
      "id": "WidgetTool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "widgetType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ]
        },
        "uiConfig": {
          "description": "Optional. Configuration for rendering the widget.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        }
      },
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent."
    },
    "WebSearchQuery": {
      "type": "object",
      "properties": {
        "query": {
          "description": "The search query text.",
          "type": "string"
        },
        "uri": {
          "description": "The URI to the Google Search results page for the query.",
          "type": "string"
        }
      },
      "description": "Represents a single web search query and its associated search uri.",
      "id": "WebSearchQuery"
    },
    "ApiAuthentication": {
      "type": "object",
      "properties": {
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        },
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        }
      },
      "description": "Authentication information required for API calls.",
      "id": "ApiAuthentication"
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "id": "GenerateAppResourceResponseGenerateResultInfo",
      "description": "This provides additional information about the generated result.",
      "type": "object",
      "properties": {
        "explanation": {
          "type": "string",
          "description": "An explanation of the changes in the generated resource."
        }
      }
    },
    "DataStoreSettingsEngine": {
      "id": "DataStoreSettingsEngine",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "description": "Output only. The type of the engine."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        }
      },
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "LfA2aV1TaskStatus": {
      "description": "A container for the status of a task",
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\""
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "description": "Required. The current state of this task.",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ]
        },
        "message": {
          "description": "A message associated with the status.",
          "$ref": "LfA2aV1Message"
        }
      },
      "id": "LfA2aV1TaskStatus"
    },
    "TlsConfigCaCert": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        },
        "cert": {
          "type": "string",
          "format": "byte",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```"
        }
      },
      "description": "The CA certificate.",
      "id": "TlsConfigCaCert"
    },
    "AgentInterface": {
      "id": "AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "type": "object",
      "properties": {
        "protocolBinding": {
          "type": "string",
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
        },
        "tenant": {
          "type": "string",
          "description": "Tenant ID to be used in the request when calling the agent."
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        }
      }
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "type": "object",
      "properties": {
        "apps": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for AgentService.ListApps."
    },
    "ServiceAgentIdTokenAuthConfig": {
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "type": "object",
      "properties": {},
      "id": "ServiceAgentIdTokenAuthConfig"
    },
    "ExportEvaluationsRequest": {
      "id": "ExportEvaluationsRequest",
      "type": "object",
      "properties": {
        "includeEvaluationResults": {
          "type": "boolean",
          "description": "Optional. Includes evaluation results in the export. At least one of include_evaluation_results or include_evaluations must be set."
        },
        "exportOptions": {
          "description": "Optional. The export options for the evaluations.",
          "$ref": "ExportOptions"
        },
        "names": {
          "type": "array",
          "description": "Required. The resource names of the evaluations to export.",
          "items": {
            "type": "string"
          }
        },
        "includeEvaluations": {
          "type": "boolean",
          "description": "Optional. Includes evaluations in the export. At least one of include_evaluation_results or include_evaluations must be set."
        }
      },
      "description": "Request message for EvaluationService.ExportEvaluations."
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "description": "Request message for ToolService.ExecuteTool.",
      "type": "object",
      "properties": {
        "mockConfig": {
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses.",
          "$ref": "MockConfig"
        },
        "variables": {
          "type": "object",
          "description": "Optional. The variables that are available for the tool execution.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "args": {
          "type": "object",
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "context": {
          "type": "object",
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ExportEvaluationResultsResponse": {
      "id": "ExportEvaluationResultsResponse",
      "description": "Response message for EvaluationService.ExportEvaluationResults.",
      "type": "object",
      "properties": {
        "evaluationResultsContent": {
          "description": "The content of the exported Evaluation Results. This will be populated if gcs_uri was not specified in the request.",
          "type": "string",
          "format": "byte"
        },
        "evaluationResultsUri": {
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Results were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        }
      }
    },
    "EvaluationResultScenarioResult": {
      "type": "object",
      "properties": {
        "taskCompleted": {
          "type": "boolean",
          "description": "Output only. Whether the task was completed for this turn. This is a composite of all expectations satisfied, no hallucinations, and user goal satisfaction.",
          "readOnly": true
        },
        "taskCompletionResult": {
          "description": "Output only. The result of the task completion check.",
          "deprecated": true,
          "$ref": "EvaluationResultTaskCompletionResult",
          "readOnly": true
        },
        "evaluationExpectationResults": {
          "type": "array",
          "description": "Output only. The results of the evaluation expectations.",
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "readOnly": true
        },
        "userGoalSatisfactionResult": {
          "readOnly": true,
          "$ref": "EvaluationResultUserGoalSatisfactionResult",
          "description": "Output only. The result of the user goal satisfaction check."
        },
        "conversation": {
          "readOnly": true,
          "description": "Output only. The conversation that was generated in the scenario.",
          "type": "string"
        },
        "expectationOutcomes": {
          "description": "Output only. The outcome of each expectation.",
          "items": {
            "$ref": "EvaluationResultScenarioExpectationOutcome"
          },
          "type": "array",
          "readOnly": true
        },
        "userFacts": {
          "description": "Output only. The user facts that were used by the scenario for this result.",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "type": "array",
          "readOnly": true
        },
        "task": {
          "type": "string",
          "description": "Output only. The task that was used when running the scenario for this result.",
          "readOnly": true
        },
        "spanLatencies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The latency of spans in the conversation.",
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          }
        },
        "hallucinationResult": {
          "description": "Output only. The result of the hallucination check. There will be one hallucination result for each turn in the conversation.",
          "items": {
            "$ref": "EvaluationResultHallucinationResult"
          },
          "type": "array",
          "readOnly": true
        },
        "rubricOutcomes": {
          "type": "array",
          "description": "Output only. The outcome of the rubric.",
          "items": {
            "$ref": "EvaluationResultScenarioRubricOutcome"
          },
          "readOnly": true
        },
        "toolCallLatencies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The latency of each tool call execution in the conversation.",
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          }
        },
        "allExpectationsSatisfied": {
          "description": "Output only. Whether all expectations were satisfied for this turn.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "The outcome of a scenario evaluation.",
      "id": "EvaluationResultScenarioResult"
    },
    "ChannelProfile": {
      "id": "ChannelProfile",
      "type": "object",
      "properties": {
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        },
        "disableBargeInControl": {
          "type": "boolean",
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "channelType": {
          "description": "Optional. The type of the channel profile.",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Five9 channel.",
            "Third party contact center integration channel."
          ]
        },
        "disableDtmf": {
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency).",
          "type": "boolean"
        },
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        }
      },
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony."
    },
    "ListAppVersionsResponse": {
      "id": "ListAppVersionsResponse",
      "type": "object",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListAppVersions."
    },
    "ChannelProfilePersonaProperty": {
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel.",
      "type": "object",
      "properties": {
        "persona": {
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "description": "Optional. The persona of the channel.",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ]
        }
      }
    },
    "EndUserAuthConfig": {
      "id": "EndUserAuthConfig",
      "type": "object",
      "properties": {
        "oauth2AuthCodeConfig": {
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig",
          "description": "Oauth 2.0 Authorization Code authentication."
        },
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        }
      },
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "type": "object",
      "properties": {
        "toolsets": {
          "type": "array",
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListToolsets."
    },
    "EvaluationResultEvaluationExpectationResult": {
      "id": "EvaluationResultEvaluationExpectationResult",
      "type": "object",
      "properties": {
        "evaluationExpectation": {
          "type": "string",
          "description": "Output only. The evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
          "readOnly": true
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The explanation for the result."
        },
        "prompt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The prompt that was used for the evaluation."
        },
        "outcome": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "description": "Output only. The outcome of the evaluation expectation."
        }
      },
      "description": "The result of a single evaluation expectation."
    },
    "RemoteAgentTool": {
      "description": "Represents a tool that allows the agent to call another remote agent.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Required. The description of the tool.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "agentCard": {
          "description": "Required. The agent card of the remote agent that this tool invokes.",
          "$ref": "AgentCard"
        }
      },
      "id": "RemoteAgentTool"
    },
    "TriggerActionGenerativeAnswer": {
      "id": "TriggerActionGenerativeAnswer",
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      }
    },
    "ListConversationsResponse": {
      "id": "ListConversationsResponse",
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListConversations."
    },
    "ExpressionCondition": {
      "description": "Expression condition based on session state.",
[...]
