{
  "revision": "20260227",
  "title": "Gemini Enterprise for Customer Experience API",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "",
  "batchPath": "batch",
  "name": "ces",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListExamplesResponse": {
      "properties": {
        "examples": {
          "type": "array",
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "type": "object"
    },
    "Image": {
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the image.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        }
      },
      "id": "Image",
      "type": "object",
      "description": "Represents an image input or output in the conversation."
    },
    "SystemTool": {
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the system tool."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        }
      },
      "description": "Pre-defined system tool.",
      "id": "SystemTool",
      "type": "object"
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "description": "Configuration for how the user barge-in activities should be handled.",
      "type": "object",
      "properties": {
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        },
        "disableBargeIn": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile."
        }
      }
    },
    "ListEvaluationsResponse": {
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "evaluations": {
          "description": "The list of evaluations.",
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          }
        }
      },
      "id": "ListEvaluationsResponse"
    },
    "UploadEvaluationAudioResponse": {
      "id": "UploadEvaluationAudioResponse",
      "description": "Response message for EvaluationService.UploadEvaluationAudio.",
      "type": "object",
      "properties": {
        "duration": {
          "description": "The duration of the audio.",
          "format": "google-duration",
          "type": "string"
        },
        "audioGcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the uploaded audio file is stored. Format: `gs:///`"
        },
        "transcript": {
          "description": "The transcript of the audio, generated by Cloud Speech-to-Text.",
          "type": "string"
        }
      }
    },
    "EvaluationSettings": {
      "description": "Settings for evaluation.",
      "properties": {
        "scenarioConversationInitiator": {
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "type": "string",
          "description": "Optional. Who starts the conversation in a scenario evaluation."
        },
        "goldenEvaluationToolCallBehaviour": {
          "description": "Optional. Configures the default tool call behaviour for golden evaluations.",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        },
        "scenarioEvaluationToolCallBehaviour": {
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations."
        },
        "goldenRunMethod": {
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ]
        }
      },
      "id": "EvaluationSettings",
      "type": "object"
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "properties": {
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "type": "array",
          "description": "Optional. List of agents in the app."
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array"
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        },
        "tools": {
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        }
      },
      "description": "A snapshot of the app.",
      "type": "object"
    },
    "Example": {
      "id": "Example",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "invalid": {
          "type": "boolean",
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the example was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the example was created.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. The collection of messages that make up the conversation."
        }
      },
      "description": "An example represents a sample conversation between the user and the agent(s)."
    },
    "GoogleSearchSuggestions": {
      "id": "GoogleSearchSuggestions",
      "properties": {
        "htmls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`."
        },
        "webSearchQueries": {
          "items": {
            "$ref": "WebSearchQuery"
          },
          "type": "array",
          "description": "List of queries used to perform the google search along with the search result URIs forming the search suggestions."
        }
      },
      "type": "object",
      "description": "Search suggestions from Google Search Tool."
    },
    "Span": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the span."
        },
        "startTime": {
          "description": "Output only. The start time of the span.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "attributes": {
          "description": "Output only. Key-value attributes associated with the span.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. The duration of the span."
        },
        "childSpans": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Span"
          },
          "description": "Output only. The child spans that are nested under this span."
        }
      },
      "description": "A span is a unit of work or a single operation during the request processing.",
      "id": "Span",
      "type": "object"
    },
    "AgentLlmAgent": {
      "type": "object",
      "id": "AgentLlmAgent",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "properties": {}
    },
    "McpTool": {
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The description of the MCP tool."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the MCP tool."
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the input arguments of the MCP tool."
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the output arguments of the MCP tool."
        }
      },
      "id": "McpTool"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "interpolationType": {
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "type": "string"
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
        }
      }
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "type": "object",
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      }
    },
    "GenerateAppResourceResponseAppResources": {
      "id": "GenerateAppResourceResponseAppResources",
      "description": "The list of app resources generated by the LLM assistant.",
      "type": "object",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations generated by the LLM assistant."
        },
        "appSnapshot": {
          "description": "The app snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant.",
          "$ref": "AppSnapshot"
        }
      }
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "Event": {
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        }
      },
      "description": "Event input.",
      "type": "object",
      "id": "Event"
    },
    "DataStore": {
      "type": "object",
      "id": "DataStore",
      "description": "A DataStore resource in Vertex AI Search.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the data store was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ]
        },
        "connectorConfig": {
          "$ref": "DataStoreConnectorConfig",
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the data store.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "documentProcessingMode": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores."
        }
      }
    },
    "ScheduledEvaluationRun": {
      "id": "ScheduledEvaluationRun",
      "type": "object",
      "properties": {
        "lastUpdatedBy": {
          "description": "Output only. The user who last updated the evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation was last updated."
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the scheduled evaluation run config."
        },
        "name": {
          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of the scheduled evaluation run."
        },
        "nextScheduledExecutionTime": {
          "format": "google-datetime",
          "description": "Output only. The next time this is scheduled to execute",
          "type": "string",
          "readOnly": true
        },
        "totalExecutions": {
          "type": "integer",
          "description": "Output only. The total number of times this run has been executed",
          "readOnly": true,
          "format": "int32"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the scheduled evaluation run was created.",
          "readOnly": true
        },
        "createdBy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user who created the scheduled evaluation run."
        },
        "active": {
          "description": "Optional. Whether this config is active",
          "type": "boolean"
        },
        "lastCompletedRun": {
          "readOnly": true,
          "description": "Output only. The last successful EvaluationRun of this scheduled execution. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "type": "string"
        },
        "schedulingConfig": {
          "description": "Required. Configuration for the timing and frequency with which to execute the evaluations.",
          "$ref": "ScheduledEvaluationRunSchedulingConfig"
        },
        "request": {
          "description": "Required. The RunEvaluationRequest to schedule",
          "$ref": "RunEvaluationRequest"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      },
      "description": "Represents a scheduled evaluation run configuration."
    },
    "ExpressionCondition": {
      "description": "Expression condition based on session state.",
      "type": "object",
      "id": "ExpressionCondition",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      }
    },
    "ActionEntityOperation": {
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Required. Operation to perform on the entity.",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ],
          "type": "string"
        }
      },
      "id": "ActionEntityOperation",
      "type": "object",
      "description": "Entity CRUD operation specification."
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object",
      "id": "SynthesizeSpeechConfig",
      "properties": {
        "speakingRate": {
          "format": "double",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number"
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        }
      }
    },
    "ConversationTurn": {
      "description": "All information about a single turn in the conversation.",
      "id": "ConversationTurn",
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing."
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      }
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "type": "object",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the input audio data.",
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32"
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        }
      }
    },
    "EvaluationPersonaSpeechConfig": {
      "description": "Configuration for Text-to-Speech generation.",
      "properties": {
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers.",
          "format": "double"
        },
        "environment": {
          "type": "string",
          "description": "Optional. The simulated audio environment.",
          "enumDescriptions": [
            "Background environment unspecified.",
            "Call center environment.",
            "Traffic noise environment.",
            "Kids noise environment.",
            "Cafe environment."
          ],
          "enum": [
            "BACKGROUND_ENVIRONMENT_UNSPECIFIED",
            "CALL_CENTER",
            "TRAFFIC",
            "KIDS_NOISE",
            "CAFE"
          ]
        },
        "voiceId": {
          "type": "string",
          "description": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\""
        }
      },
      "type": "object",
      "id": "EvaluationPersonaSpeechConfig"
    },
    "GuardrailCodeCallback": {
      "type": "object",
      "properties": {
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeModelCallback": {
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      },
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "id": "GuardrailCodeCallback"
    },
    "RedactionConfig": {
      "id": "RedactionConfig",
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        }
      },
      "description": "Configuration to instruct how sensitive data should be handled.",
      "type": "object"
    },
    "ImportEvaluationsRequestConversationList": {
      "properties": {
        "conversations": {
          "description": "Optional. Conversation resource names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A list of conversation resource names.",
      "id": "ImportEvaluationsRequestConversationList",
      "type": "object"
    },
    "ExecuteToolRequest": {
      "type": "object",
      "description": "Request message for ToolService.ExecuteTool.",
      "properties": {
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "variables": {
          "description": "Optional. The variables that are available for the tool execution.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "ExecuteToolRequest"
    },
    "ListAppsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListApps.",
      "id": "ListAppsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "apps": {
          "type": "array",
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          }
        }
      }
    },
    "AmbientSoundConfig": {
      "type": "object",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "properties": {
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
        },
        "prebuiltAmbientNoise": {
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "type": "string",
          "deprecated": true
        }
      },
      "id": "AmbientSoundConfig"
    },
    "GenerateEvaluationOperationMetadata": {
      "properties": {},
      "id": "GenerateEvaluationOperationMetadata",
      "type": "object",
      "description": "Operation metadata for EvaluationService.GenerateEvaluation."
    },
    "EvaluationExpectation": {
      "properties": {
        "displayName": {
          "description": "Required. User-defined display name. Must be unique within the app.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. User-defined tags for expectations. Can be used to filter expectations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`"
        },
        "llmCriteria": {
          "description": "Optional. Evaluation criteria based on an LLM prompt.",
          "$ref": "EvaluationExpectationLlmCriteria"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the evaluation expectation was last updated."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation expectation was created."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      },
      "id": "EvaluationExpectation",
      "description": "An evaluation expectation represents a specific criteria to evaluate against.",
      "type": "object"
    },
    "ChannelProfilePersonaProperty": {
      "properties": {
        "persona": {
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the persona property of a channel.",
      "id": "ChannelProfilePersonaProperty"
    },
    "ToolCalls": {
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "type": "object",
      "properties": {
        "toolCalls": {
          "description": "Optional. The list of tool calls to execute.",
          "type": "array",
          "items": {
            "$ref": "ToolCall"
          }
        }
      },
      "id": "ToolCalls"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "AppVariableDeclaration": {
      "id": "AppVariableDeclaration",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the variable."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        }
      },
      "description": "Defines the structure and metadata for a variable."
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "description": "This provides additional information about the generated result.",
      "type": "object",
      "id": "GenerateAppResourceResponseGenerateResultInfo",
      "properties": {
        "explanation": {
          "description": "An explanation of the changes in the generated resource.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "EvaluationResultGoldenResult": {
      "id": "EvaluationResultGoldenResult",
      "description": "The result of a golden evaluation.",
      "type": "object",
      "properties": {
        "turnReplayResults": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultGoldenResultTurnReplayResult"
          },
          "description": "Output only. The result of running each turn of the golden conversation."
        },
        "evaluationExpectationResults": {
          "description": "Output only. The results of the evaluation expectations.",
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "EvaluationResultScenarioRubricOutcome": {
      "id": "EvaluationResultScenarioRubricOutcome",
      "description": "The outcome of the evaluation against the rubric.",
      "properties": {
        "score": {
          "format": "float",
          "description": "Output only. The score of the conversation against the rubric.",
          "type": "number",
          "readOnly": true
        },
        "rubric": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The rubric that was used to evaluate the conversation."
        },
        "scoreExplanation": {
          "type": "string",
          "description": "Output only. The rater's response to the rubric.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Action": {
      "properties": {
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Action",
      "type": "object",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "CloudLoggingSettings": {
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Whether to enable Cloud Logging for the sessions."
        }
      },
      "type": "object"
    },
    "GoogleSearchTool": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "contextUrls": {
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "preferredDomains": {
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "id": "GoogleSearchTool"
    },
    "ListToolsetsResponse": {
      "type": "object",
      "id": "ListToolsetsResponse",
      "description": "Response message for AgentService.ListToolsets.",
      "properties": {
        "toolsets": {
          "type": "array",
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "OmnichannelOperationMetadata": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation."
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "id": "OmnichannelOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ImportEvaluationsRequestImportOptions": {
      "id": "ImportEvaluationsRequestImportOptions",
      "properties": {
        "conflictResolutionStrategy": {
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Overwrite the existing evaluation with the new one.",
            "Keep the existing evaluation and skip the new one.",
            "Keep the existing evaluation and duplicate the new one as a new evaluation."
          ],
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "SKIP",
            "DUPLICATE"
          ],
          "type": "string",
          "description": "Optional. The strategy to use when resolving conflicts during import."
        }
      },
      "type": "object",
      "description": "Configuration options for the evaluation import process. These options control how the import behaves, particularly when conflicts arise with existing evaluations data."
    },
    "ListEvaluationResultsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationResults.",
      "properties": {
        "evaluationResults": {
          "items": {
            "$ref": "EvaluationResult"
          },
          "description": "The list of evaluation results.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListEvaluationResultsResponse",
      "type": "object"
    },
    "DataStoreToolBoostSpecs": {
      "properties": {
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array"
        },
        "dataStores": {
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DataStoreToolBoostSpecs",
      "type": "object",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting."
    },
    "Blob": {
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "properties": {
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the blob.",
          "format": "byte"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        }
      },
      "type": "object"
    },
    "BatchDeleteConversationsRequest": {
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchDeleteConversationsRequest"
    },
    "EvaluationDataset": {
      "properties": {
        "evaluations": {
          "description": "Optional. Evaluations that are included in this dataset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastUpdatedBy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user who last updated the evaluation dataset."
        },
        "aggregatedMetrics": {
          "description": "Output only. The aggregated metrics for this evaluation dataset across all runs.",
          "$ref": "AggregatedMetrics",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the evaluation dataset was last updated."
        },
        "createdBy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user who created the evaluation dataset."
        },
        "createTime": {
          "description": "Output only. Timestamp when the evaluation dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the evaluation dataset. Unique within an App."
        }
      },
      "id": "EvaluationDataset",
      "description": "An evaluation dataset represents a set of evaluations that are grouped together basaed on shared tags.",
      "type": "object"
    },
    "TestPersonaVoiceRequest": {
      "description": "Request message for EvaluationService.TestPersonaVoice.",
      "type": "object",
      "id": "TestPersonaVoiceRequest",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text to test the voice for."
        },
        "personaId": {
          "description": "Required. The persona ID to test the voice for. Also accepts \"default\".",
          "type": "string"
        }
      }
    },
    "AgentAgentToolset": {
      "description": "A toolset with a selection of its tools.",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The tools IDs to filter the toolset.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "AgentAgentToolset"
    },
    "AudioRecordingConfig": {
      "type": "object",
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      },
      "description": "Configuration for how the audio interactions should be recorded.",
      "id": "AudioRecordingConfig"
    },
    "SessionConfig": {
      "type": "object",
      "properties": {
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "historicalContexts": {
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "type": "array"
        },
        "deployment": {
          "type": "string",
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "outputAudioConfig": {
          "$ref": "OutputAudioConfig",
          "description": "Optional. Configuration for generating the output audio."
        },
        "useToolFakes": {
          "type": "boolean",
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools."
        },
        "remoteDialogflowQueryParameters": {
          "$ref": "SessionConfigRemoteDialogflowQueryParameters",
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
        }
      },
      "description": "The configuration for the session.",
      "id": "SessionConfig"
    },
    "TriggerAction": {
      "type": "object",
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        },
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "respondImmediately": {
          "$ref": "TriggerActionRespondImmediately",
          "description": "Optional. Immediately respond with a preconfigured response."
        }
      },
      "id": "TriggerAction"
    },
    "EndpointControlPolicy": {
      "id": "EndpointControlPolicy",
      "type": "object",
      "description": "Defines project/location level endpoint control policy.",
      "properties": {
        "enforcementScope": {
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ],
          "type": "string"
        },
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\"."
        }
      }
    },
    "UploadEvaluationAudioRequest": {
      "properties": {
        "audioContent": {
          "type": "string",
          "description": "Required. The raw audio bytes. The format of the audio must be single-channel LINEAR16 with a sample rate of 16kHz (default InputAudioConfig).",
          "format": "byte"
        },
        "previousAudioGcsUri": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage URI of the previously uploaded audio file to be deleted. Format: `gs:///`"
        }
      },
      "description": "Request message for EvaluationService.UploadEvaluationAudio.",
      "id": "UploadEvaluationAudioRequest",
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        }
      },
      "id": "GenerateChatTokenRequest",
      "description": "Request message for WidgetService.GenerateChatToken.",
      "type": "object"
    },
    "ChannelProfile": {
      "properties": {
        "disableBargeInControl": {
          "type": "boolean",
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt."
        },
        "profileId": {
          "type": "string",
          "description": "Optional. The unique identifier of the channel profile."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "personaProperty": {
          "description": "Optional. The persona property of the channel profile.",
          "$ref": "ChannelProfilePersonaProperty"
        },
        "webWidgetConfig": {
          "$ref": "ChannelProfileWebWidgetConfig",
          "description": "Optional. The configuration for the web widget."
        },
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "channelType": {
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Five9 channel.",
            "Third party contact center integration channel."
          ],
          "description": "Optional. The type of the channel profile.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION"
          ]
        }
      },
      "id": "ChannelProfile",
      "type": "object",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony."
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "type": "object",
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "description": "Oauth 2.0 Authorization Code authentication configuration."
    },
    "EvaluationResultScenarioResult": {
      "id": "EvaluationResultScenarioResult",
      "type": "object",
      "properties": {
        "rubricOutcomes": {
          "type": "array",
          "items": {
            "$ref": "EvaluationResultScenarioRubricOutcome"
          },
          "readOnly": true,
          "description": "Output only. The outcome of the rubric."
        },
        "userGoalSatisfactionResult": {
          "readOnly": true,
          "$ref": "EvaluationResultUserGoalSatisfactionResult",
          "description": "Output only. The result of the user goal satisfaction check."
        },
        "taskCompleted": {
          "description": "Output only. Whether the task was completed for this turn. This is a composite of all expectations satisfied, no hallucinations, and user goal satisfaction.",
          "readOnly": true,
          "type": "boolean"
        },
        "userFacts": {
          "type": "array",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "readOnly": true,
          "description": "Output only. The user facts that were used by the scenario for this result."
        },
        "task": {
          "description": "Output only. The task that was used when running the scenario for this result.",
          "type": "string",
          "readOnly": true
        },
        "taskCompletionResult": {
          "deprecated": true,
          "$ref": "EvaluationResultTaskCompletionResult",
          "description": "Output only. The result of the task completion check.",
          "readOnly": true
        },
        "toolCallLatencies": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          },
          "type": "array",
          "description": "Output only. The latency of each tool call execution in the conversation."
        },
        "conversation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The conversation that was generated in the scenario."
        },
        "evaluationExpectationResults": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "description": "Output only. The results of the evaluation expectations."
        },
        "spanLatencies": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "description": "Output only. The latency of spans in the conversation.",
          "type": "array"
        },
        "hallucinationResult": {
          "items": {
            "$ref": "EvaluationResultHallucinationResult"
          },
          "readOnly": true,
          "description": "Output only. The result of the hallucination check. There will be one hallucination result for each turn in the conversation.",
          "type": "array"
        },
        "allExpectationsSatisfied": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether all expectations were satisfied for this turn."
        },
        "expectationOutcomes": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultScenarioExpectationOutcome"
          },
          "description": "Output only. The outcome of each expectation.",
          "type": "array"
        }
      },
      "description": "The outcome of a scenario evaluation."
    },
    "Callback": {
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent."
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        }
      },
      "id": "Callback"
    },
    "AggregatedMetricsToolMetrics": {
      "description": "Metrics for a single tool.",
      "properties": {
        "passCount": {
          "description": "Output only. The number of times the tool passed.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "failCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of times the tool failed."
        },
        "tool": {
          "description": "Output only. The name of the tool.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "AggregatedMetricsToolMetrics",
      "type": "object"
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "properties": {
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        },
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "fallbackAction": {
          "type": "string",
          "description": "Optional. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation."
        }
      },
      "description": "Language settings of the app.",
      "type": "object"
    },
    "OutputAudioConfig": {
      "type": "object",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "id": "OutputAudioConfig",
      "properties": {
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the output audio data.",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "format": "int32"
        }
      }
    },
    "ListScheduledEvaluationRunsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListScheduledEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "scheduledEvaluationRuns": {
          "type": "array",
          "items": {
            "$ref": "ScheduledEvaluationRun"
          },
          "description": "The list of scheduled evaluation runs."
        }
      },
      "id": "ListScheduledEvaluationRunsResponse",
      "description": "Response message for EvaluationService.ListScheduledEvaluationRuns.",
      "type": "object"
    },
    "LatencyReportToolLatency": {
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true
        },
        "tool": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`."
        },
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the tool.",
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics"
        }
      },
      "description": "Latency metrics for a single tool.",
      "id": "LatencyReportToolLatency",
      "type": "object"
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
      "properties": {
        "toolCall": {
          "readOnly": true,
          "description": "Output only. The observed tool call.",
          "$ref": "ToolCall"
        },
        "toolResponse": {
          "description": "Output only. The observed tool response.",
          "readOnly": true,
          "$ref": "ToolResponse"
        }
      },
      "type": "object",
      "description": "The observed tool call and response."
    },
    "EvaluationResultGoldenResultTurnReplayResult": {
      "properties": {
        "spanLatencies": {
          "type": "array",
          "description": "Output only. The latency of spans in the turn.",
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "readOnly": true
        },
        "conversation": {
          "type": "string",
          "description": "Output only. The conversation that was generated for this turn.",
          "readOnly": true
        },
        "toolInvocationScore": {
          "description": "Output only. Deprecated. Use OverallToolInvocationResult instead.",
          "type": "number",
          "format": "float",
          "readOnly": true,
          "deprecated": true
        },
        "toolOrderedInvocationScore": {
          "type": "number",
          "description": "Output only. The overall tool ordered invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked in the expected order.",
          "readOnly": true,
          "format": "float"
        },
        "overallToolInvocationResult": {
          "readOnly": true,
          "$ref": "EvaluationResultOverallToolInvocationResult",
          "description": "Output only. The result of the overall tool invocation check."
        },
        "errorInfo": {
          "description": "Output only. Information about the error that occurred during this turn.",
          "readOnly": true,
          "$ref": "EvaluationErrorInfo"
        },
        "turnLatency": {
          "description": "Output only. Duration of the turn.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "semanticSimilarityResult": {
          "readOnly": true,
          "$ref": "EvaluationResultSemanticSimilarityResult",
          "description": "Output only. The result of the semantic similarity check."
        },
        "expectationOutcome": {
          "type": "array",
          "items": {
            "$ref": "EvaluationResultGoldenExpectationOutcome"
          },
          "description": "Output only. The outcome of each expectation.",
          "readOnly": true
        },
        "toolCallLatencies": {
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          },
          "readOnly": true,
          "description": "Output only. The latency of each tool call in the turn.",
          "type": "array"
        },
        "hallucinationResult": {
          "description": "Output only. The result of the hallucination check.",
          "$ref": "EvaluationResultHallucinationResult",
          "readOnly": true
        }
      },
      "description": "The result of running a single turn of the golden conversation.",
      "id": "EvaluationResultGoldenResultTurnReplayResult",
      "type": "object"
    },
    "App": {
      "id": "App",
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "type": "object",
      "properties": {
        "evaluationPersonas": {
          "type": "array",
          "items": {
            "$ref": "EvaluationPersona"
          },
          "description": "Optional. The evaluation personas for the app. This field is used to define the personas that can be used for evaluation. Maximum of 30 personas can be defined."
        },
        "variableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "type": "array",
          "description": "Optional. The declarations of the variables."
        },
        "languageSettings": {
          "description": "Optional. Language settings of the app.",
          "$ref": "LanguageSettings"
        },
        "locked": {
          "type": "boolean",
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed."
        },
        "audioProcessingConfig": {
          "$ref": "AudioProcessingConfig",
          "description": "Optional. Audio processing configuration of the app."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages."
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the app."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "rootAgent": {
          "type": "string",
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "dataStoreSettings": {
          "description": "Optional. The data store settings for the app.",
          "$ref": "DataStoreSettings"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the app was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "evaluationSettings": {
          "description": "Optional. The evaluation settings for the app.",
          "$ref": "EvaluationSettings"
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the app was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "timeZoneSettings": {
          "$ref": "TimeZoneSettings",
          "description": "Optional. TimeZone settings of the app."
        },
        "errorHandlingSettings": {
          "$ref": "ErrorHandlingSettings",
          "description": "Optional. Error handling settings of the app."
        },
        "pinned": {
          "type": "boolean",
          "description": "Optional. Whether the app is pinned in the app list."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the app."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`"
        },
        "defaultChannelProfile": {
          "$ref": "ChannelProfile",
          "description": "Optional. The default channel profile used by the app."
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "predefinedVariableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The declarations of predefined variables for the app."
        },
        "toolExecutionMode": {
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "type": "string"
        },
        "clientCertificateSettings": {
          "description": "Optional. The default client certificate settings for the app.",
          "$ref": "ClientCertificateSettings"
        },
        "deploymentCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of deployments in the app.",
          "type": "integer"
        }
      }
    },
    "ConnectorToolset": {
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "id": "ConnectorToolset",
      "properties": {
        "connectorActions": {
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "items": {
            "$ref": "Action"
          },
          "type": "array"
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        }
      },
      "type": "object"
    },
    "EvaluationResult": {
      "type": "object",
      "id": "EvaluationResult",
      "properties": {
        "evaluationRun": {
          "type": "string",
          "description": "Output only. The evaluation run that produced this result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the evaluation result was created.",
          "format": "google-datetime"
        },
        "goldenRunMethod": {
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "readOnly": true,
          "description": "Output only. The method used to run the golden evaluation.",
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ]
        },
        "error": {
          "deprecated": true,
          "$ref": "Status",
          "description": "Output only. Deprecated: Use `error_info` instead. Errors encountered during execution.",
          "readOnly": true
        },
        "persona": {
          "readOnly": true,
          "$ref": "EvaluationPersona",
          "description": "Output only. The persona used to generate the conversation for the evaluation result."
        },
        "appVersionDisplayName": {
          "description": "Output only. The display name of the `app_version` that the evaluation ran against.",
          "type": "string",
          "readOnly": true
        },
        "executionState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Evaluation result execution state is not specified.",
            "Evaluation result execution is running.",
            "Evaluation result execution has completed.",
            "Evaluation result execution failed due to an internal error."
          ],
          "description": "Output only. The state of the evaluation result execution."
        },
        "initiatedBy": {
          "description": "Output only. The user who initiated the evaluation run that resulted in this result.",
          "type": "string",
          "readOnly": true
        },
        "scenarioResult": {
          "description": "Output only. The outcome of a scenario evaluation.",
          "readOnly": true,
          "$ref": "EvaluationResultScenarioResult"
        },
        "changelog": {
          "description": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "type": "string",
          "readOnly": true
        },
        "config": {
          "$ref": "EvaluationConfig",
          "readOnly": true,
          "description": "Output only. The configuration used in the evaluation run that resulted in this result."
        },
        "evaluationStatus": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The outcome of the evaluation. Only populated if execution_state is COMPLETE.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL"
          ]
        },
        "errorInfo": {
          "readOnly": true,
          "description": "Output only. Error information for the evaluation result.",
          "$ref": "EvaluationErrorInfo"
        },
        "changelogCreateTime": {
          "description": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "appVersion": {
          "description": "Output only. The app version used to generate the conversation that resulted in this result. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true,
          "type": "string"
        },
        "evaluationMetricsThresholds": {
          "description": "Output only. The evaluation thresholds for the result.",
          "$ref": "EvaluationMetricsThresholds",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the evaluation result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the Evaluation Result. Unique within an Evaluation. By default, it has the following format: \" result - \".",
          "type": "string"
        },
        "goldenResult": {
          "$ref": "EvaluationResultGoldenResult",
          "description": "Output only. The outcome of a golden evaluation.",
          "readOnly": true
        }
      },
      "description": "An evaluation result represents the output of running an Evaluation."
    },
    "OAuthConfig": {
      "type": "object",
      "properties": {
        "oauthGrantType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "description": "Required. OAuth grant types.",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID from the OAuth provider."
        }
      },
      "description": "Configurations for authentication with OAuth.",
      "id": "OAuthConfig"
    },
    "EvaluationExpectationLlmCriteria": {
      "id": "EvaluationExpectationLlmCriteria",
      "description": "Configuration for LLM-based evaluation criteria.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt/instructions provided to the LLM judge.",
          "type": "string"
        }
      }
    },
    "EvaluationResultUserGoalSatisfactionResult": {
      "description": "The result of a user goal satisfaction check for a conversation.",
      "properties": {
        "score": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The user task satisfaction score. Can be -1, 0, 1.",
          "type": "integer"
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The explanation for the user task satisfaction score."
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The label associated with each score. Score 1: User Task Satisfied Score 0: User Task Not Satisfied Score -1: User Task Unspecified"
        }
      },
      "id": "EvaluationResultUserGoalSatisfactionResult",
      "type": "object"
    },
    "DataStoreToolEngineSource": {
      "properties": {
        "dataStoreSources": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine."
        },
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        }
      },
      "id": "DataStoreToolEngineSource",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "type": "object"
    },
    "OmnichannelIntegrationConfigSubscriberConfig": {
      "id": "OmnichannelIntegrationConfigSubscriberConfig",
      "type": "object",
      "description": "Configs of subscribers.",
      "properties": {
        "cesAppConfig": {
          "description": "Ces app config.",
          "$ref": "OmnichannelIntegrationConfigCesAppConfig"
        }
      }
    },
    "ServiceAccountAuthConfig": {
      "id": "ServiceAccountAuthConfig",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "description": "Configurations for authentication using a custom service account.",
      "type": "object"
[...]
