{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "id": "ces:v1beta",
  "discoveryVersion": "v1",
  "schemas": {
    "GuardrailLlmPolicy": {
      "type": "object",
      "properties": {
        "allowShortUtterance": {
          "type": "boolean",
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped."
        },
        "maxConversationMessages": {
          "type": "integer",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32"
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        },
        "policyScope": {
          "type": "string",
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ]
        },
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        }
      },
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "id": "GuardrailLlmPolicy"
    },
    "FileContextFileBytes": {
      "id": "FileContextFileBytes",
      "type": "object",
      "properties": {
        "fileName": {
          "description": "Required. The name of the file provided as raw bytes.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the file.",
          "format": "byte"
        }
      },
      "description": "File provided as raw bytes."
    },
    "TransferRuleDeterministicTransfer": {
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs.",
      "type": "object",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs."
        },
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        }
      },
      "id": "TransferRuleDeterministicTransfer"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "type": "object",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "ClientFunction": {
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function parameters."
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        }
      },
      "id": "ClientFunction"
    },
    "EvaluationResultScenarioResult": {
      "id": "EvaluationResultScenarioResult",
      "type": "object",
      "properties": {
        "hallucinationResult": {
          "description": "Output only. The result of the hallucination check. There will be one hallucination result for each turn in the conversation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EvaluationResultHallucinationResult"
          }
        },
        "spanLatencies": {
          "type": "array",
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "description": "Output only. The latency of spans in the conversation.",
          "readOnly": true
        },
        "evaluationExpectationResults": {
          "type": "array",
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "description": "Output only. The results of the evaluation expectations.",
          "readOnly": true
        },
        "task": {
          "type": "string",
          "description": "Output only. The task that was used when running the scenario for this result.",
          "readOnly": true
        },
        "taskCompletionResult": {
          "deprecated": true,
          "description": "Output only. The result of the task completion check.",
          "readOnly": true,
          "$ref": "EvaluationResultTaskCompletionResult"
        },
        "expectationOutcomes": {
          "description": "Output only. The outcome of each expectation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EvaluationResultScenarioExpectationOutcome"
          }
        },
        "toolCallLatencies": {
          "description": "Output only. The latency of each tool call execution in the conversation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          }
        },
        "userFacts": {
          "description": "Output only. The user facts that were used by the scenario for this result.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          }
        },
        "conversation": {
          "description": "Output only. The conversation that was generated in the scenario.",
          "readOnly": true,
          "type": "string"
        },
        "rubricOutcomes": {
          "description": "Output only. The outcome of the rubric.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EvaluationResultScenarioRubricOutcome"
          }
        },
        "taskCompleted": {
          "type": "boolean",
          "description": "Output only. Whether the task was completed for this turn. This is a composite of all expectations satisfied, no hallucinations, and user goal satisfaction.",
          "readOnly": true
        },
        "allExpectationsSatisfied": {
          "description": "Output only. Whether all expectations were satisfied for this turn.",
          "readOnly": true,
          "type": "boolean"
        },
        "userGoalSatisfactionResult": {
          "description": "Output only. The result of the user goal satisfaction check.",
          "readOnly": true,
          "$ref": "EvaluationResultUserGoalSatisfactionResult"
        }
      },
      "description": "The outcome of a scenario evaluation."
    },
    "Image": {
      "description": "Represents an image input or output in the conversation.",
      "type": "object",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Required. Raw bytes of the image."
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        }
      },
      "id": "Image"
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "type": "object",
      "properties": {
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        }
      },
      "id": "SessionOutputDiagnosticInfo"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "description": "Settings for golden evaluations.",
      "type": "object",
      "properties": {
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        },
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
    },
    "BatchDeleteConversationsRequest": {
      "id": "BatchDeleteConversationsRequest",
      "type": "object",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for AgentService.BatchDeleteConversations."
    },
    "ExportOptions": {
      "description": "Options for exporting CES evaluation resources.",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage URI to write the exported Evaluation Results to."
        },
        "exportFormat": {
          "type": "string",
          "description": "Optional. The format to export the evaluation results in. Defaults to JSON if not specified.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified format.",
            "JSON format.",
            "YAML format."
          ]
        }
      },
      "id": "ExportOptions"
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "type": "object",
      "properties": {
        "speakingRate": {
          "format": "double",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number"
        },
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        }
      },
      "description": "Configuration for how the agent response should be synthesized."
    },
    "ListGuardrailsResponse": {
      "type": "object",
      "properties": {
        "guardrails": {
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for AgentService.ListGuardrails.",
      "id": "ListGuardrailsResponse"
    },
    "AppVersion": {
      "id": "AppVersion",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app version."
        },
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "readOnly": true,
          "$ref": "AppSnapshot"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the app version was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ScheduledEvaluationRun": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the scheduled evaluation run was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "description": "Required. The RunEvaluationRequest to schedule",
          "$ref": "RunEvaluationRequest"
        },
        "totalExecutions": {
          "type": "integer",
          "description": "Output only. The total number of times this run has been executed",
          "readOnly": true,
          "format": "int32"
        },
        "createdBy": {
          "description": "Output only. The user who created the scheduled evaluation run.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}",
          "type": "string"
        },
        "schedulingConfig": {
          "description": "Required. Configuration for the timing and frequency with which to execute the evaluations.",
          "$ref": "ScheduledEvaluationRunSchedulingConfig"
        },
        "lastCompletedRun": {
          "type": "string",
          "description": "Output only. The last successful EvaluationRun of this scheduled execution. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of the scheduled evaluation run."
        },
        "lastUpdatedBy": {
          "description": "Output only. The user who last updated the evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "nextScheduledExecutionTime": {
          "type": "string",
          "description": "Output only. The next time this is scheduled to execute",
          "readOnly": true,
          "format": "google-datetime"
        },
        "active": {
          "description": "Optional. Whether this config is active",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. User-defined display name of the scheduled evaluation run config.",
          "type": "string"
        }
      },
      "description": "Represents a scheduled evaluation run configuration.",
      "id": "ScheduledEvaluationRun"
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "type": "object",
      "properties": {
        "goldenEvaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
          "description": "Optional. The golden evaluation metrics thresholds."
        },
        "goldenHallucinationMetricBehavior": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string",
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "scenarioHallucinationMetricBehavior": {
          "type": "string",
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "hallucinationMetricBehavior": {
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "deprecated": true
        }
      },
      "description": "Threshold settings for metrics in an Evaluation."
    },
    "ConversationTurn": {
      "description": "All information about a single turn in the conversation.",
      "type": "object",
      "properties": {
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the action processing."
        }
      },
      "id": "ConversationTurn"
    },
    "GenerateAppResourceRequestAppGenerationConfig": {
      "type": "object",
      "properties": {
        "context": {
          "description": "Optional. The context which describes the requirements of the agents & tools to be generated.",
          "type": "string"
        },
        "fileContexts": {
          "description": "Optional. The files to be used as context.",
          "type": "array",
          "items": {
            "$ref": "FileContext"
          }
        },
        "datasetId": {
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the agents & tools. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        },
        "generateEvaluations": {
          "type": "boolean",
          "description": "Optional. Whether to generate the evaluations for the app. If true, the provided context will be used to generate the evaluations data."
        },
        "gcsLocation": {
          "description": "Optional. The Cloud Storage location to store the generated question answer data to be used by the Datastore tool. This data is generated only when using conversation data as an input source. The location must be in the same project as the app. Format: `gs://...`.",
          "type": "string"
        }
      },
      "description": "The configuration to be used to generate the app.",
      "id": "GenerateAppResourceRequestAppGenerationConfig"
    },
    "AgentSkill": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle."
        },
        "inputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform.",
      "id": "AgentSkill"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number"
        }
      },
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
    },
    "ExperimentConfig": {
      "id": "ExperimentConfig",
      "type": "object",
      "properties": {
        "versionRelease": {
          "$ref": "ExperimentConfigVersionRelease",
          "description": "Optional. Version release for the experiment."
        }
      },
      "description": "Experiment for the deployment."
    },
    "EvaluationResultOverallToolInvocationResult": {
      "id": "EvaluationResultOverallToolInvocationResult",
      "description": "The result of the overall tool invocation check.",
      "type": "object",
      "properties": {
        "toolInvocationScore": {
          "type": "number",
          "description": "The overall tool invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked.",
          "format": "float"
        },
        "outcome": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "type": "string",
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the tool_invocation_score to the overall_tool_invocation_correctness_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "readOnly": true
        }
      }
    },
    "TriggerActionResponse": {
      "id": "TriggerActionResponse",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        }
      },
      "description": "Represents a response from the agent."
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "properties": {
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "AggregatedMetricsHallucinationMetrics": {
      "description": "Metrics for hallucination results.",
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "Output only. The average hallucination score (0 to 1).",
          "readOnly": true
        }
      },
      "id": "AggregatedMetricsHallucinationMetrics"
    },
    "McpTool": {
      "type": "object",
      "properties": {
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "inputSchema": {
          "description": "Optional. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the MCP tool."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the MCP tool."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "customHeaders": {
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "id": "McpTool"
    },
    "CloudLoggingSettings": {
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "type": "object",
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Whether to enable Cloud Logging for the sessions."
        }
      }
    },
    "Conversation": {
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Output only. The language code of the conversation.",
          "readOnly": true
        },
        "turns": {
          "type": "array",
          "items": {
            "$ref": "ConversationTurn"
          },
          "description": "Required. The turns in the conversation."
        },
        "channelType": {
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "deprecated": true,
          "description": "DEPRECATED. Please use input_types instead."
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the conversation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "turnCount": {
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true,
          "format": "int32"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "description": "Output only. Indicate the source of the conversation.",
          "readOnly": true
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true,
          "type": "string"
        },
        "messages": {
          "deprecated": true,
          "description": "Deprecated. Use turns instead.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "inputTypes": {
          "type": "array",
          "items": {
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ]
          },
          "description": "Output only. The input types of the conversation.",
          "readOnly": true
        },
        "deployment": {
          "type": "string",
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GuardrailModelSafetySafetySetting": {
      "description": "Safety setting.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Required. The harm category.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ]
        },
        "threshold": {
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "type": "string",
          "description": "Required. The harm block threshold.",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      },
      "id": "GuardrailModelSafetySafetySetting"
    },
    "AggregatedMetricsMetricsByTurn": {
      "type": "object",
      "properties": {
        "semanticSimilarityMetrics": {
          "description": "Output only. Metrics for semantic similarity within this turn.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          }
        },
        "toolCallLatencyMetrics": {
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this turn.",
          "readOnly": true
        },
        "toolMetrics": {
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "description": "Output only. Metrics for each tool within this turn.",
          "readOnly": true
        },
        "hallucinationMetrics": {
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          },
          "description": "Output only. Metrics for hallucination within this turn.",
          "readOnly": true
        },
        "turnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The turn index (0-based).",
          "readOnly": true
        },
        "turnLatencyMetrics": {
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "description": "Output only. Metrics for turn latency within this turn.",
          "readOnly": true
        }
      },
      "description": "Metrics aggregated per turn.",
      "id": "AggregatedMetricsMetricsByTurn"
    },
    "Message": {
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Optional. The role within the conversation, e.g., user, agent."
        },
        "eventTime": {
          "type": "string",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "format": "google-datetime"
        },
        "chunks": {
          "type": "array",
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks."
        }
      },
      "description": "A message within a conversation.",
      "id": "Message"
    },
    "GenerateAppResourceRequest": {
      "id": "GenerateAppResourceRequest",
      "type": "object",
      "properties": {
        "toolGenerationConfig": {
          "$ref": "GenerateAppResourceRequestToolGenerationConfig",
          "description": "Optional. The configuration to be used to generate the tool."
        },
        "refineInstructions": {
          "type": "array",
          "items": {
            "$ref": "GenerateAppResourceRequestRefineInstructions"
          },
          "description": "Optional. List of refine instructions to be used to refine the resource."
        },
        "toolset": {
          "$ref": "Toolset",
          "description": "The toolset resource to be used by the LLM assistant, can be empty for generating a new toolset."
        },
        "appGenerationConfig": {
          "$ref": "GenerateAppResourceRequestAppGenerationConfig",
          "description": "Optional. The configuration to be used to generate the agents and tools."
        },
        "evaluationPersonasGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the evaluation personas.",
          "$ref": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig"
        },
        "agent": {
          "$ref": "Agent",
          "description": "The agent resource to be used by the LLM assistant, can be empty for generating a new agent."
        },
        "tool": {
          "$ref": "Tool",
          "description": "The tool resource to be used by the LLM assistant, can be empty for generating a new tool."
        },
        "evaluationGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the evaluations.",
          "$ref": "GenerateAppResourceRequestEvaluationGenerationConfig"
        },
        "qualityReportGenerationConfig": {
          "$ref": "GenerateAppResourceRequestQualityReportGenerationConfig",
          "description": "Optional. The configuration to be used for quality report generation."
        },
        "hillClimbingFixConfig": {
          "$ref": "GenerateAppResourceRequestHillClimbingFixConfig",
          "description": "Optional. The configuration to be used for hill climbing fixes."
        }
      },
      "description": "Request message for AgentService.GenerateAppResource."
    },
    "AggregatedMetricsTurnLatencyMetrics": {
      "type": "object",
      "properties": {
        "averageLatency": {
          "format": "google-duration",
          "description": "Output only. The average latency of the turns.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Metrics for turn latency.",
      "id": "AggregatedMetricsTurnLatencyMetrics"
    },
    "EvaluationResultSemanticSimilarityResult": {
      "description": "The result of the semantic similarity check.",
      "type": "object",
      "properties": {
        "score": {
          "format": "int32",
          "description": "Output only. The semantic similarity score. Can be 0, 1, 2, 3, or 4.",
          "readOnly": true,
          "type": "integer"
        },
        "explanation": {
          "description": "Output only. The explanation for the semantic similarity score.",
          "readOnly": true,
          "type": "string"
        },
        "outcome": {
          "description": "Output only. The outcome of the semantic similarity check. This is determined by comparing the score to the semantic_similarity_success_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ]
        },
        "label": {
          "type": "string",
          "description": "Output only. The label associated with each score. Score 4: Fully Consistent Score 3: Mostly Consistent Score 2: Partially Consistent (Minor Omissions) Score 1: Largely Inconsistent (Major Omissions) Score 0: Completely Inconsistent / Contradictory",
          "readOnly": true
        }
      },
      "id": "EvaluationResultSemanticSimilarityResult"
    },
    "GenerateChatTokenRequest": {
      "description": "Request message for WidgetService.GenerateChatToken.",
      "type": "object",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        }
      },
      "id": "GenerateChatTokenRequest"
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "type": "object",
      "properties": {
        "disableBargeIn": {
          "description": "Optional. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile.",
          "type": "boolean",
          "deprecated": true
        },
        "bargeInAwareness": {
          "type": "boolean",
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually."
        }
      },
      "description": "Configuration for how the user barge-in activities should be handled."
    },
    "RetrieveToolSchemaRequest": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        }
      },
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "id": "RetrieveToolSchemaRequest"
    },
    "TimeZoneSettings": {
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      },
      "id": "TimeZoneSettings"
    },
    "EvaluationResultSpanLatency": {
      "description": "The latency of a span execution.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Output only. The resource name of the guardrail or tool spans.",
          "readOnly": true,
          "type": "string"
        },
        "callback": {
          "type": "string",
          "description": "Output only. The name of the user callback span.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the span. Applicable to tool and guardrail spans.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Output only. The name of the LLM span.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of span.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of span.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true
        },
        "executionLatency": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The latency of span.",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of span.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tool call span.",
            "User callback span.",
            "Guardrail span.",
            "LLM span."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOOL",
            "USER_CALLBACK",
            "GUARDRAIL",
            "LLM"
          ],
          "type": "string"
        }
      },
      "id": "EvaluationResultSpanLatency"
    },
    "TlsConfigCaCert": {
      "description": "The CA certificate.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        },
        "cert": {
          "type": "string",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "format": "byte"
        }
      },
      "id": "TlsConfigCaCert"
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "examples": {
          "description": "The list of examples.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        }
      }
    },
    "Toolset": {
      "id": "Toolset",
      "type": "object",
      "properties": {
        "mcpToolset": {
          "$ref": "McpToolset",
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the toolset."
        },
        "executionType": {
          "description": "Optional. The execution type of the tools in the toolset.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tools behavior in fake mode."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the toolset. Must be unique within the same app."
        }
      },
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent."
    },
    "QualityReport": {
      "type": "object",
      "properties": {
        "generalIssues": {
          "description": "Optional. General issues not specific to any agent.",
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          }
        },
        "issues": {
          "description": "Optional. The issues grouped by agent.",
          "type": "array",
          "items": {
            "$ref": "QualityReportAgentIssues"
          }
        },
        "evaluationRuns": {
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The report describing any identified quality issues in the app.",
      "id": "QualityReport"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "description": "Request message for EvaluationService.RunEvaluation.",
      "type": "object",
      "properties": {
        "scheduledEvaluationRun": {
          "description": "Optional. The resource name of the `ScheduledEvaluationRun` that is triggering this evaluation run. If this field is set, the `scheduled_evaluation_run` field on the created `EvaluationRun` resource will be populated from this value. Format: `projects/{project}/locations/{location}/apps/{app}/scheduledEvaluationRuns/{scheduled_evaluation_run}`",
          "type": "string"
        },
        "goldenRunMethod": {
          "description": "Optional. The method to run the evaluation if it is a golden evaluation. If not set, default to STABLE.",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "evaluationDataset": {
          "description": "Optional. An evaluation dataset to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
          "type": "string"
        },
        "personaRunConfigs": {
          "type": "array",
          "items": {
            "$ref": "PersonaRunConfig"
          },
          "description": "Optional. The configuration to use for the run per persona."
        },
        "app": {
          "type": "string",
          "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`"
        },
        "config": {
          "description": "Optional. The configuration to use for the run.",
          "$ref": "EvaluationConfig"
        },
        "generateLatencyReport": {
          "type": "boolean",
          "description": "Optional. Whether to generate a latency report for the evaluation run."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the evaluation run."
        },
        "appVersion": {
          "description": "Optional. The app version to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "evaluations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of evaluations to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`"
        },
        "runCount": {
          "description": "Optional. The number of times to run the evaluation. If not set, the default value is 1 per golden, and 5 per scenario.",
          "type": "integer",
          "format": "int32"
        },
        "optimizationConfig": {
          "$ref": "OptimizationConfig",
          "description": "Optional. Configuration for running the optimization step after the evaluation run. If not set, the optimization step will not be run."
        }
      }
    },
    "Chunk": {
      "type": "object",
      "properties": {
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "transcript": {
          "type": "string",
          "description": "Optional. Transcript associated with the audio."
        },
        "defaultVariables": {
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data."
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data."
        },
        "payload": {
          "type": "object",
          "description": "Optional. Custom payload data.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        }
      },
      "description": "A chunk of content within a message.",
      "id": "Chunk"
    },
    "PythonCodeCondition": {
      "description": "Python code block to evaluate the condition.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      },
      "id": "PythonCodeCondition"
    },
    "FileContext": {
      "description": "Files to be used as context. Files can be provided as raw bytes.",
      "type": "object",
      "properties": {
        "fileBytes": {
          "$ref": "FileContextFileBytes",
          "description": "Optional. File provided as raw bytes."
        }
      },
      "id": "FileContext"
    },
    "TransferRule": {
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "direction": {
          "description": "Required. The direction of the transfer.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ]
        }
      }
    },
    "ListEvaluationsResponse": {
      "type": "object",
      "properties": {
        "evaluations": {
          "description": "The list of evaluations.",
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for EvaluationService.ListEvaluations.",
      "id": "ListEvaluationsResponse"
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "type": "object",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      }
    },
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "type": "object",
      "properties": {
        "prebuiltAmbientNoise": {
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "deprecated": true
        },
        "volumeGainDb": {
          "format": "double",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "type": "number"
        },
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        }
      }
    },
    "EvaluationRunEvaluationRunSummary": {
      "id": "EvaluationRunEvaluationRunSummary",
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "type": "object",
      "properties": {
        "failedCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of failed results for the associated Evaluation in this run.",
          "readOnly": true
        },
        "passedCount": {
          "type": "integer",
          "description": "Output only. Number of passed results for the associated Evaluation in this run.",
          "readOnly": true,
          "format": "int32"
        },
        "errorCount": {
          "type": "integer",
          "description": "Output only. Number of error results for the associated Evaluation in this run.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "Citations": {
      "type": "object",
      "properties": {
        "citedChunks": {
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "description": "List of cited pieces of information."
        }
      },
      "description": "Citations associated with the agent response.",
      "id": "Citations"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "ConnectorToolset": {
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "type": "object",
      "properties": {
        "connectorActions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for."
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        }
      },
      "id": "ConnectorToolset"
    },
    "GenerateEvaluationOperationMetadata": {
      "description": "Operation metadata for EvaluationService.GenerateEvaluation.",
      "type": "object",
      "properties": {},
      "id": "GenerateEvaluationOperationMetadata"
    },
    "ImportAppRequestImportOptions": {
      "type": "object",
      "properties": {
        "conflictResolutionStrategy": {
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "type": "string",
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ]
        }
      },
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "id": "ImportAppRequestImportOptions"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "type": "object",
      "properties": {
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      }
    },
    "AppVariableDeclaration": {
      "description": "Defines the structure and metadata for a variable.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores.",
          "type": "string"
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        }
      },
      "id": "AppVariableDeclaration"
    },
    "EvaluationMetricsConfigHallucinationMetricsConfig": {
      "type": "object",
      "properties": {
        "enableHallucinationMetrics": {
          "description": "Optional. Whether to calculate hallucination metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the hallucination metrics for the evaluation. To disable the metric, set the message but do not set the `enable_hallucination_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "id": "EvaluationMetricsConfigHallucinationMetricsConfig"
    },
    "ChannelProfilePersonaProperty": {
      "description": "Represents the persona property of a channel.",
      "type": "object",
      "properties": {
        "persona": {
          "type": "string",
          "description": "Optional. The persona of the channel.",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ]
        }
      },
      "id": "ChannelProfilePersonaProperty"
    },
    "ListEvaluationResultsResponse": {
      "type": "object",
      "properties": {
        "evaluationResults": {
          "type": "array",
          "items": {
            "$ref": "EvaluationResult"
          },
          "description": "The list of evaluation results."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for EvaluationService.ListEvaluationResults.",
      "id": "ListEvaluationResultsResponse"
    },
    "Blob": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw bytes of the blob.",
          "type": "string"
        }
      },
      "description": "Represents a blob input or output in the conversation.",
      "id": "Blob"
    },
    "GenerateChatTokenResponse": {
      "description": "Response message for WidgetService.GenerateChatToken.",
      "type": "object",
      "properties": {
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the chat token expires."
        }
      },
      "id": "GenerateChatTokenResponse"
    },
    "EvaluationGolden": {
      "id": "EvaluationGolden",
      "type": "object",
      "properties": {
        "turns": {
          "type": "array",
          "items": {
            "$ref": "EvaluationGoldenTurn"
          },
          "description": "Required. The golden turns required to replay a golden conversation."
        },
        "evaluationExpectations": {
          "description": "Optional. The evaluation expectations to evaluate the replayed conversation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The steps required to replay a golden conversation."
    },
    "AggregatedMetricsMetricsByAppVersion": {
      "id": "AggregatedMetricsMetricsByAppVersion",
      "description": "Metrics aggregated per app version.",
      "type": "object",
      "properties": {
        "turnLatencyMetrics": {
          "description": "Output only. Metrics for turn latency within this app version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          }
        },
        "metricsByTurn": {
          "description": "Output only. Metrics aggregated per turn within this app version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsMetricsByTurn"
          }
        },
        "passCount": {
          "format": "int32",
          "description": "Output only. The number of times the evaluation passed.",
          "readOnly": true,
          "type": "integer"
        },
        "toolCallLatencyMetrics": {
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this app version.",
          "readOnly": true
        },
        "failCount": {
          "description": "Output only. The number of times the evaluation failed.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "appVersionId": {
          "description": "Output only. The app version ID.",
          "readOnly": true,
          "type": "string"
        },
        "toolMetrics": {
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "description": "Output only. Metrics for each tool within this app version.",
          "readOnly": true
        },
        "hallucinationMetrics": {
          "description": "Output only. Metrics for hallucination within this app version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        },
        "semanticSimilarityMetrics": {
          "description": "Output only. Metrics for semantic similarity within this app version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          }
        }
      }
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "description": "Security settings for the web widget.",
      "type": "object",
      "properties": {
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        },
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        }
      }
    },
    "LatencyReportLatencyMetrics": {
      "id": "LatencyReportLatencyMetrics",
      "type": "object",
      "properties": {
        "p50Latency": {
          "description": "Output only. The 50th percentile latency.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "p99Latency": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The 99th percentile latency.",
          "readOnly": true
        },
        "callCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of times the resource was called.",
          "readOnly": true
        },
        "p90Latency": {
          "format": "google-duration",
          "description": "Output only. The 90th percentile latency.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Latency metrics for a component."
    },
    "McpToolset": {
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "type": "object",
      "properties": {
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "customHeaders": {
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "McpToolset"
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "description": "The observed tool call and response.",
      "type": "object",
      "properties": {
        "toolResponse": {
          "description": "Output only. The observed tool response.",
          "readOnly": true,
          "$ref": "ToolResponse"
        },
        "toolCall": {
          "description": "Output only. The observed tool call.",
          "readOnly": true,
          "$ref": "ToolCall"
        }
      },
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall"
    },
    "EvaluationGoldenTurn": {
      "id": "EvaluationGoldenTurn",
      "description": "A golden turn defines a single turn in a golden conversation.",
      "type": "object",
      "properties": {
        "rootSpan": {
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate.",
          "$ref": "Span"
        },
        "steps": {
          "description": "Required. The steps required to replay a golden conversation.",
          "type": "array",
          "items": {
            "$ref": "EvaluationStep"
          }
        },
        "turnLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides for turn-level metric thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "hallucinationMetricBehaviorOverride": {
          "description": "Optional. Override for turn-level hallucination metric behavior.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        }
      }
    },
    "ImportEvaluationsRequestConversationList": {
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Conversation resource names."
        }
      },
      "description": "A list of conversation resource names.",
      "id": "ImportEvaluationsRequestConversationList"
    },
    "LatencyReportToolLatency": {
      "type": "object",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true
        },
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "tool": {
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "readOnly": true
        },
        "latencyMetrics": {
          "$ref": "LatencyReportLatencyMetrics",
          "description": "Output only. The latency metrics for the tool.",
          "readOnly": true
        }
      },
      "description": "Latency metrics for a single tool.",
      "id": "LatencyReportToolLatency"
    },
    "AgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. Display name of the agent.",
          "readOnly": true,
          "type": "string"
        },
        "targetAgent": {
          "type": "string",
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "id": "AgentTransfer"
    },
    "MockConfig": {
      "type": "object",
      "properties": {
        "mockedToolCalls": {
          "type": "array",
          "items": {
            "$ref": "MockedToolCall"
          },
          "description": "Optional. All tool calls to mock for the duration of the session."
        },
        "unmatchedToolCallBehavior": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "type": "string"
        }
      },
      "description": "Mock tool calls configuration for the session.",
      "id": "MockConfig"
    },
    "ListEvaluationExpectationsResponse": {
      "id": "ListEvaluationExpectationsResponse",
      "type": "object",
      "properties": {
        "evaluationExpectations": {
          "type": "array",
          "items": {
            "$ref": "EvaluationExpectation"
          },
          "description": "The list of evaluation expectations."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationExpectationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for EvaluationService.ListEvaluationExpectations."
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "description": "Language settings of the app.",
      "type": "object",
      "properties": {
        "fallbackAction": {
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "type": "string",
          "deprecated": true
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        },
        "enableMultilingualSupport": {
          "type": "boolean",
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input."
        }
      }
    },
    "ExportEvaluationRunsResponse": {
      "description": "Response message for EvaluationService.ExportEvaluationRuns.",
      "type": "object",
      "properties": {
        "evaluationRunsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request."
        },
        "evaluationRunsContent": {
          "type": "string",
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request.",
          "format": "byte"
        }
      },
      "id": "ExportEvaluationRunsResponse"
    },
    "DataStore": {
      "description": "A DataStore resource in Vertex AI Search.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the data store was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "documentProcessingMode": {
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "readOnly": true,
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ]
        },
        "type": {
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the data store.",
          "readOnly": true
        }
      },
      "id": "DataStore"
    },
    "GenerateAppResourceRequestRefineInstructions": {
      "description": "The instructions to be used to refine a part of the resource. The part of the resource can be specified with a start index, end index and a field mask. For example, if you want to refine a part of the agent instructions you can specify the index of the first character of the instructions, the index of the last character of the instructions and the field mask as \"instructions\".",
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int64",
          "description": "Required. The last character (inclusive) of the text to refine.",
          "type": "string"
        },
        "instructions": {
          "description": "Required. The instructions to refine the resource.",
          "type": "string"
        },
        "startIndex": {
          "format": "int64",
          "description": "Required. The first character (inclusive) of the text to refine.",
          "type": "string"
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The field of the resource being refined. Only one field is allowed per RefineInstructions. If refining agent instructions, the field mask should be \"instructions\"."
        }
      },
      "id": "GenerateAppResourceRequestRefineInstructions"
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configuration for default system security settings.",
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
    },
    "AudioRecordingConfig": {
      "type": "object",
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      },
      "description": "Configuration for how the audio interactions should be recorded.",
      "id": "AudioRecordingConfig"
    },
    "EvaluationScenarioUserFact": {
      "id": "EvaluationScenarioUserFact",
      "description": "Facts about the user as a key value pair.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the user fact."
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the user fact."
        }
      }
    },
    "SessionOutput": {
      "type": "object",
      "properties": {
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        },
        "turnIndex": {
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32"
        },
        "turnCompleted": {
          "type": "boolean",
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn."
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
[...]
