{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Gemini Enterprise for Customer Experience API",
  "servicePath": "",
  "basePath": "",
  "revision": "20260318",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://ces.googleapis.com/",
  "schemas": {
    "EvaluationScenario": {
      "description": "The config for a scenario",
      "id": "EvaluationScenario",
      "properties": {
        "userFacts": {
          "type": "array",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "description": "Optional. The user facts to be used by the scenario."
        },
        "variableOverrides": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Variables / Session Parameters as context for the session, keyed by variable names. Members of this struct will override any default values set by the system. Note, these are different from user facts, which are facts known to the user. Variables are parameters known to the agent: i.e. MDN (phone number) passed by the telephony system."
        },
        "evaluationExpectations": {
          "type": "array",
          "description": "Optional. The evaluation expectations to evaluate the conversation produced by the simulation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "items": {
            "type": "string"
          }
        },
        "maxTurns": {
          "description": "Optional. The maximum number of turns to simulate. If not specified, the simulation will continue until the task is complete.",
          "type": "integer",
          "format": "int32"
        },
        "rubrics": {
          "type": "array",
          "description": "Required. The rubrics to score the scenario against.",
          "items": {
            "type": "string"
          }
        },
        "taskCompletionBehavior": {
          "description": "Optional. Deprecated. Use user_goal_behavior instead.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "TASK_COMPLETION_BEHAVIOR_UNSPECIFIED",
            "TASK_SATISFIED",
            "TASK_REJECTED"
          ],
          "enumDescriptions": [
            "Behavior unspecified. Will default to TASK_SATISFIED.",
            "The user task should be completed successfully.",
            "The user task should be rejected."
          ]
        },
        "task": {
          "description": "Required. The task to be targeted by the scenario.",
          "type": "string"
        },
        "userGoalBehavior": {
          "enumDescriptions": [
            "Behavior unspecified. Will default to USER_GOAL_SATISFIED.",
            "The user goal should be completed successfully.",
            "The user goal should be rejected.",
            "Ignore the user goal status."
          ],
          "type": "string",
          "enum": [
            "USER_GOAL_BEHAVIOR_UNSPECIFIED",
            "USER_GOAL_SATISFIED",
            "USER_GOAL_REJECTED",
            "USER_GOAL_IGNORED"
          ],
          "description": "Optional. The expected behavior of the user goal."
        },
        "scenarioExpectations": {
          "description": "Required. The ScenarioExpectations to evaluate the conversation produced by the user simulation.",
          "type": "array",
          "items": {
            "$ref": "EvaluationScenarioExpectation"
          }
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "interpolationType": {
          "type": "string",
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "controlPoints": {
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string"
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      }
    },
    "GenerateEvaluationRequest": {
      "type": "object",
      "properties": {
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL"
          ],
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched."
        }
      },
      "id": "GenerateEvaluationRequest",
      "description": "Request message for EvaluationService.GenerateEvaluation."
    },
    "BigQueryExportSettings": {
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "id": "BigQueryExportSettings",
      "type": "object",
      "properties": {
        "project": {
          "type": "string",
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "dataset": {
          "type": "string",
          "description": "Optional. The BigQuery **dataset ID** to export the data to."
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        }
      }
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "type": "object",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        },
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        }
      },
      "id": "SessionOutputDiagnosticInfo"
    },
    "EvaluationResultUserGoalSatisfactionResult": {
      "type": "object",
      "id": "EvaluationResultUserGoalSatisfactionResult",
      "properties": {
        "score": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The user task satisfaction score. Can be -1, 0, 1.",
          "readOnly": true
        },
        "label": {
          "description": "Output only. The label associated with each score. Score 1: User Task Satisfied Score 0: User Task Not Satisfied Score -1: User Task Unspecified",
          "type": "string",
          "readOnly": true
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The explanation for the user task satisfaction score."
        }
      },
      "description": "The result of a user goal satisfaction check for a conversation."
    },
    "DataStore": {
      "id": "DataStore",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "readOnly": true,
          "type": "string"
        },
        "documentProcessingMode": {
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "readOnly": true,
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the data store."
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the data store was created."
        }
      },
      "description": "A DataStore resource in Vertex AI Search."
    },
    "Guardrail": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true
        }
      },
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "id": "Guardrail"
    },
    "ImportEvaluationsRequestConversationList": {
      "type": "object",
      "description": "A list of conversation resource names.",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Conversation resource names."
        }
      },
      "id": "ImportEvaluationsRequestConversationList"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "properties": {
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      },
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "type": "object"
    },
    "AppVersion": {
      "properties": {
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the app version was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app version."
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "snapshot": {
          "readOnly": true,
          "$ref": "AppSnapshot",
          "description": "Output only. The snapshot of the app when the version is created."
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "id": "AppVersion",
      "type": "object"
    },
    "ImportEvaluationsRequestImportOptions": {
      "id": "ImportEvaluationsRequestImportOptions",
      "properties": {
        "conflictResolutionStrategy": {
          "type": "string",
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "SKIP",
            "DUPLICATE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Overwrite the existing evaluation with the new one.",
            "Keep the existing evaluation and skip the new one.",
            "Keep the existing evaluation and duplicate the new one as a new evaluation."
          ]
        }
      },
      "description": "Configuration options for the evaluation import process. These options control how the import behaves, particularly when conflicts arise with existing evaluations data.",
      "type": "object"
    },
    "PythonCodeCondition": {
      "id": "PythonCodeCondition",
      "description": "Python code block to evaluate the condition.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      }
    },
    "LatencyReportLlmCallLatency": {
      "description": "Latency metrics for a single LLM call.",
      "id": "LatencyReportLlmCallLatency",
      "type": "object",
      "properties": {
        "model": {
          "readOnly": true,
          "description": "Output only. The name of the model.",
          "type": "string"
        },
        "latencyMetrics": {
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics",
          "description": "Output only. The latency metrics for the LLM call."
        }
      }
    },
    "LatencyReportCallbackLatency": {
      "properties": {
        "stage": {
          "description": "Output only. The stage of the callback.",
          "type": "string",
          "readOnly": true
        },
        "latencyMetrics": {
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics",
          "description": "Output only. The latency metrics for the callback."
        }
      },
      "type": "object",
      "description": "Latency metrics for a single callback.",
      "id": "LatencyReportCallbackLatency"
    },
    "ConnectorTool": {
      "properties": {
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      },
      "id": "ConnectorTool",
      "type": "object",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview."
    },
    "EvaluationDataset": {
      "type": "object",
      "description": "An evaluation dataset represents a set of evaluations that are grouped together basaed on shared tags.",
      "id": "EvaluationDataset",
      "properties": {
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation dataset was created.",
          "readOnly": true,
          "type": "string"
        },
        "aggregatedMetrics": {
          "readOnly": true,
          "$ref": "AggregatedMetrics",
          "description": "Output only. The aggregated metrics for this evaluation dataset across all runs."
        },
        "createdBy": {
          "readOnly": true,
          "description": "Output only. The user who created the evaluation dataset.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the evaluation dataset was last updated."
        },
        "evaluations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Evaluations that are included in this dataset."
        },
        "name": {
          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
          "type": "string"
        },
        "lastUpdatedBy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user who last updated the evaluation dataset."
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the evaluation dataset. Unique within an App."
        }
      }
    },
    "ListAgentsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "agents": {
          "description": "The list of agents.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAgentsResponse"
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "description": "This provides additional information about the generated result.",
      "properties": {
        "explanation": {
          "description": "An explanation of the changes in the generated resource.",
          "type": "string"
        }
      },
      "id": "GenerateAppResourceResponseGenerateResultInfo",
      "type": "object"
    },
    "EvaluationConfig": {
      "description": "EvaluationConfig configures settings for running the evaluation.",
      "type": "object",
      "properties": {
        "toolCallBehaviour": {
          "type": "string",
          "description": "Optional. Specifies whether the evaluation should use real tool calls or fake tools.",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ]
        },
        "evaluationChannel": {
          "enumDescriptions": [
            "Unspecified evaluation channel.",
            "Text-only evaluation channel.",
            "Audio evaluation channel."
          ],
          "enum": [
            "EVALUATION_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "type": "string",
          "description": "Optional. The channel to evaluate."
        },
        "outputAudioConfig": {
          "deprecated": true,
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig",
          "deprecated": true
        }
      },
      "id": "EvaluationConfig"
    },
    "OmnichannelOperationMetadata": {
      "id": "OmnichannelOperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      },
      "type": "object"
    },
    "EvaluationPersonaSpeechConfig": {
      "description": "Configuration for Text-to-Speech generation.",
      "properties": {
        "voiceId": {
          "description": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\"",
          "type": "string"
        },
        "environment": {
          "enum": [
            "BACKGROUND_ENVIRONMENT_UNSPECIFIED",
            "CALL_CENTER",
            "TRAFFIC",
            "KIDS_NOISE",
            "CAFE"
          ],
          "type": "string",
          "description": "Optional. The simulated audio environment.",
          "enumDescriptions": [
            "Background environment unspecified.",
            "Call center environment.",
            "Traffic noise environment.",
            "Kids noise environment.",
            "Cafe environment."
          ]
        },
        "speakingRate": {
          "description": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "EvaluationPersonaSpeechConfig",
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "description": "The agent will transfer the conversation to a different agent.",
      "type": "object",
      "id": "TriggerActionTransferAgent"
    },
    "GuardrailContentFilter": {
      "properties": {
        "bannedContents": {
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bannedContentsInAgentResponse": {
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "description": "Required. Match type for the content filter.",
          "type": "string"
        },
        "disregardDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritics are ignored during matching."
        },
        "bannedContentsInUserInput": {
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GuardrailContentFilter",
      "description": "Guardrail that bans certain content from being used in the conversation."
    },
    "BargeInConfig": {
      "type": "object",
      "properties": {
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        },
        "disableBargeIn": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile."
        }
      },
      "description": "Configuration for how the user barge-in activities should be handled.",
      "id": "BargeInConfig"
    },
    "ConnectorToolset": {
      "id": "ConnectorToolset",
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "properties": {
        "connectorActions": {
          "type": "array",
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "items": {
            "$ref": "Action"
          }
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Message": {
      "description": "A message within a conversation.",
      "type": "object",
      "id": "Message",
      "properties": {
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "chunks": {
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks.",
          "type": "array"
        },
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "QualityReportAgentIssues": {
      "properties": {
        "issues": {
          "description": "Optional. List of issues found for this agent.",
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          }
        },
        "agent": {
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "Issues identified for a single agent.",
      "id": "QualityReportAgentIssues",
      "type": "object"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "properties": {
        "extraToolCallBehavior": {
          "type": "string",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ]
        }
      },
      "description": "Settings for matching tool calls.",
      "type": "object",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings"
    },
    "GenerateAppResourceResponseTools": {
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools generated by the LLM assistant.",
          "type": "array"
        }
      },
      "description": "The list of tools generated by the LLM assistant.",
      "type": "object",
      "id": "GenerateAppResourceResponseTools"
    },
    "DataStoreSettingsEngine": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the engine."
        }
      },
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "id": "DataStoreSettingsEngine"
    },
    "EvaluationResultScenarioRubricOutcome": {
      "properties": {
        "rubric": {
          "description": "Output only. The rubric that was used to evaluate the conversation.",
          "readOnly": true,
          "type": "string"
        },
        "scoreExplanation": {
          "type": "string",
          "description": "Output only. The rater's response to the rubric.",
          "readOnly": true
        },
        "score": {
          "description": "Output only. The score of the conversation against the rubric.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object",
      "description": "The outcome of the evaluation against the rubric.",
      "id": "EvaluationResultScenarioRubricOutcome"
    },
    "RetrieveToolsRequest": {
      "description": "Request message for ToolService.RetrieveTools.",
      "properties": {
        "toolIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned."
        }
      },
      "id": "RetrieveToolsRequest",
      "type": "object"
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "properties": {
        "defaultPromptTemplate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY."
        }
      },
      "description": "Configuration for default system security settings.",
      "type": "object",
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
    },
    "CloudLoggingSettings": {
      "type": "object",
      "id": "CloudLoggingSettings",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      },
      "description": "Settings to describe the Cloud Logging behaviors for the app."
    },
    "EvaluationScenarioExpectationToolExpectation": {
      "description": "The tool call and response pair to be evaluated.",
      "id": "EvaluationScenarioExpectationToolExpectation",
      "type": "object",
      "properties": {
        "mockToolResponse": {
          "description": "Required. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolResponse"
        },
        "expectedToolCall": {
          "description": "Required. The expected tool call, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolCall"
        }
      }
    },
    "AgentRemoteDialogflowAgent": {
      "type": "object",
      "id": "AgentRemoteDialogflowAgent",
      "properties": {
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "outputVariableMapping": {
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "inputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input."
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        }
      },
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "EvaluationResultTaskCompletionResult": {
      "type": "object",
      "properties": {
        "label": {
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined",
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The task completion score. Can be -1, 0, 1",
          "format": "int32"
        },
        "explanation": {
          "description": "Output only. The explanation for the task completion score.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "EvaluationResultTaskCompletionResult",
      "description": "The result of the task completion check for the conversation."
    },
    "RunSessionRequest": {
      "type": "object",
      "properties": {
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session."
        },
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        }
      },
      "description": "Request message for SessionService.RunSession.",
      "id": "RunSessionRequest"
    },
    "ListEvaluationResultsResponse": {
      "id": "ListEvaluationResultsResponse",
      "description": "Response message for EvaluationService.ListEvaluationResults.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluationResults": {
          "description": "The list of evaluation results.",
          "items": {
            "$ref": "EvaluationResult"
          },
          "type": "array"
        }
      }
    },
    "GuardrailLlmPolicy": {
      "properties": {
        "failOpen": {
          "type": "boolean",
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail."
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        },
        "policyScope": {
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ]
        },
        "maxConversationMessages": {
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "type": "integer",
          "format": "int32"
        },
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        },
        "prompt": {
          "type": "string",
          "description": "Required. Policy prompt."
        }
      },
      "type": "object",
      "id": "GuardrailLlmPolicy",
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "type": "object",
      "properties": {
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "id": "EndUserAuthConfigOauth2JwtBearerConfig"
    },
    "ClientCertificateSettings": {
      "description": "Settings for custom client certificates.",
      "type": "object",
      "id": "ClientCertificateSettings",
      "properties": {
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      }
    },
    "ToolResponse": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The matching ID of the tool call the response is for."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the tool.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        }
      },
      "type": "object",
      "id": "ToolResponse",
      "description": "The execution result of a specific tool from the client or the agent."
    },
    "Evaluation": {
      "id": "Evaluation",
      "description": "An evaluation represents all of the information needed to simulate and evaluate an agent.",
      "type": "object",
      "properties": {
        "lastTenResults": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The last 10 evaluation results for this evaluation. This is only populated if include_last_ten_results is set to true in the ListEvaluationsRequest or GetEvaluationRequest.",
          "items": {
            "$ref": "EvaluationResult"
          }
        },
        "aggregatedMetrics": {
          "$ref": "AggregatedMetrics",
          "description": "Output only. The aggregated metrics for this evaluation across all runs.",
          "readOnly": true
        },
        "createdBy": {
          "description": "Output only. The user who created the evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the evaluation. Unique within an App."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of the evaluation."
        },
        "evaluationRuns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The EvaluationRuns that this Evaluation is associated with."
        },
        "lastUpdatedBy": {
          "description": "Output only. The user who last updated the evaluation.",
          "type": "string",
          "readOnly": true
        },
        "lastCompletedResult": {
          "readOnly": true,
          "$ref": "EvaluationResult",
          "description": "Output only. The latest evaluation result for this evaluation."
        },
        "scenario": {
          "description": "Optional. The config for a scenario.",
          "$ref": "EvaluationScenario"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "golden": {
          "description": "Optional. The golden steps to be evaluated.",
          "$ref": "EvaluationGolden"
        },
        "evaluationDatasets": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of evaluation datasets the evaluation belongs to. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation was created.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of this evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`"
        },
        "tags": {
          "type": "array",
          "description": "Optional. User defined tags to categorize the evaluation.",
          "items": {
            "type": "string"
          }
        },
        "invalid": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the evaluation is invalid. This can happen if an evaluation is referencing a tool, toolset, or agent that has since been deleted."
        }
      }
    },
    "ImportEvaluationsResponse": {
      "type": "object",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of error messages associated with evaluations that failed to be imported."
        },
        "importFailureCount": {
          "description": "The number of evaluations that were not imported due to errors.",
          "type": "integer",
          "format": "int32"
        },
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations that were imported into the app."
        }
      },
      "id": "ImportEvaluationsResponse",
      "description": "Response message for EvaluationService.ImportEvaluations."
    },
    "ImportAppResponse": {
      "description": "Response message for AgentService.ImportApp.",
      "type": "object",
      "id": "ImportAppResponse",
      "properties": {
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        }
      }
    },
    "ListEvaluationDatasetsResponse": {
      "id": "ListEvaluationDatasetsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluationDatasets.",
      "properties": {
        "evaluationDatasets": {
          "description": "The list of evaluation datasets.",
          "type": "array",
          "items": {
            "$ref": "EvaluationDataset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationDatasetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "Callback": {
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "proactiveExecutionEnabled": {
          "type": "boolean",
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations."
        },
        "disabled": {
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent.",
          "type": "boolean"
        }
      },
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "type": "object",
      "id": "Callback"
    },
    "ListChangelogsResponse": {
      "type": "object",
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "type": "array",
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          }
        }
      }
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "description": "Response message for AgentService.ListToolsets.",
      "type": "object",
      "properties": {
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "type": "array",
          "description": "The list of toolsets."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string",
          "readOnly": true
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this deployment was created."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BatchDeleteConversationsRequest"
    },
    "EvaluationGoldenExpectation": {
      "properties": {
        "toolResponse": {
          "description": "Optional. Check that a specific tool had the expected response.",
          "$ref": "ToolResponse"
        },
        "agentTransfer": {
          "description": "Optional. Check that the agent transferred the conversation to a different agent.",
          "$ref": "AgentTransfer"
        },
        "toolCall": {
          "description": "Optional. Check that a specific tool was called with the parameters.",
          "$ref": "ToolCall"
        },
        "mockToolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM."
        },
        "agentResponse": {
          "$ref": "Message",
          "description": "Optional. Check that the agent responded with the correct response. The role \"agent\" is implied."
        },
        "note": {
          "description": "Optional. A note for this requirement, useful in reporting when specific checks fail. E.g., \"Check_Payment_Tool_Called\".",
          "type": "string"
        },
        "updatedVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Check that the agent updated the session variables to the expected values. Used to also capture agent variable updates for golden evals."
        }
      },
      "description": "Represents a single, checkable requirement.",
      "type": "object",
      "id": "EvaluationGoldenExpectation"
    },
    "PersonaRunConfig": {
      "description": "Configuration for running an evaluation for a specific persona.",
      "id": "PersonaRunConfig",
      "properties": {
        "taskCount": {
          "description": "Optional. The number of tasks to run for the persona.",
          "type": "integer",
          "format": "int32"
        },
        "persona": {
          "description": "Optional. The persona to use for the evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConversationLoggingSettings": {
      "properties": {
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        }
      },
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "id": "ConversationLoggingSettings",
      "type": "object"
    },
    "ChannelProfilePersonaProperty": {
      "description": "Represents the persona property of a channel.",
      "properties": {
        "persona": {
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChannelProfilePersonaProperty"
    },
    "AudioRecordingConfig": {
      "id": "AudioRecordingConfig",
      "description": "Configuration for how the audio interactions should be recorded.",
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
        }
      },
      "id": "GenerateChatTokenRequest",
      "description": "Request message for WidgetService.GenerateChatToken.",
      "type": "object"
    },
    "OmnichannelIntegrationConfigChannelConfig": {
      "properties": {
        "whatsappConfig": {
          "$ref": "OmnichannelIntegrationConfigWhatsappConfig",
          "description": "WhatsApp config."
        }
      },
      "id": "OmnichannelIntegrationConfigChannelConfig",
      "description": "ChannelConfig contains config for various of app integration.",
      "type": "object"
    },
    "EvaluationRunEvaluationRunSummary": {
      "description": "Contains the summary of passed and failed result counts for a specific evaluation in an evaluation run.",
      "properties": {
        "errorCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of error results for the associated Evaluation in this run."
        },
        "passedCount": {
          "description": "Output only. Number of passed results for the associated Evaluation in this run.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "failedCount": {
          "description": "Output only. Number of failed results for the associated Evaluation in this run.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "EvaluationRunEvaluationRunSummary"
    },
    "Blob": {
      "description": "Represents a blob input or output in the conversation.",
      "properties": {
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the blob.",
          "format": "byte"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "id": "Blob",
      "type": "object"
    },
    "SecuritySettings": {
      "type": "object",
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update time of the security settings.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. Etag of the security settings.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`"
        },
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        },
        "createTime": {
          "description": "Output only. Create time of the security settings.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "TlsConfig": {
      "properties": {
        "caCerts": {
          "type": "array",
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      },
      "description": "The TLS configuration.",
      "type": "object",
      "id": "TlsConfig"
    },
    "GenerateChatTokenResponse": {
      "type": "object",
      "properties": {
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the chat token expires."
        }
      },
      "id": "GenerateChatTokenResponse",
      "description": "Response message for WidgetService.GenerateChatToken."
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "type": "object",
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "properties": {
        "outcome": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met."
          ],
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL"
          ]
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A free text explanation for the tool invocation result."
        },
        "parameterCorrectnessScore": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call."
        }
      },
      "description": "The result of the tool invocation check."
    },
    "RetrieveToolsResponse": {
      "type": "object",
      "properties": {
        "tools": {
          "description": "The list of tools that are included in the specified toolset.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools."
    },
    "McpTool": {
      "id": "McpTool",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "properties": {
        "inputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the input arguments of the MCP tool."
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the MCP tool."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        }
      },
      "type": "object"
    },
    "GenerateEvaluationOperationMetadata": {
      "properties": {},
      "type": "object",
      "id": "GenerateEvaluationOperationMetadata",
      "description": "Operation metadata for EvaluationService.GenerateEvaluation."
    },
    "DataStoreSettings": {
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app.",
      "type": "object",
      "properties": {
        "engines": {
          "description": "Output only. The engines for the app.",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "CitationsCitedChunk": {
      "description": "Piece of cited information.",
      "id": "CitationsCitedChunk",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Text used for citation."
        },
        "uri": {
          "type": "string",
          "description": "URI used for citation."
        },
        "title": {
          "type": "string",
          "description": "Title of the cited document."
        }
      }
    },
    "RedactionConfig": {
      "type": "object",
      "id": "RedactionConfig",
      "properties": {
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        }
      },
      "description": "Configuration to instruct how sensitive data should be handled."
    },
    "ApiKeyConfig": {
      "description": "Configurations for authentication with API key.",
      "id": "ApiKeyConfig",
      "type": "object",
      "properties": {
        "requestLocation": {
          "type": "string",
          "description": "Required. Key location in the request.",
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        },
        "keyName": {
          "type": "string",
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name."
        },
        "apiKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      }
    },
    "ExportAppRequest": {
      "type": "object",
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp.",
      "properties": {
        "appVersion": {
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`.",
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "exportFormat": {
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "type": "string",
          "description": "Required. The format to export the app in."
        }
      }
    },
    "ClientFunction": {
      "type": "object",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "id": "ClientFunction",
      "properties": {
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        }
      }
    },
    "GoogleSearchTool": {
      "type": "object",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "contextUrls": {
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "preferredDomains": {
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded."
        }
      },
      "id": "GoogleSearchTool"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "properties": {
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        },
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations."
    },
    "RunSessionResponse": {
      "type": "object",
      "id": "RunSessionResponse",
      "description": "Response message for SessionService.RunSession.",
      "properties": {
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "SessionOutput"
          },
          "description": "Outputs for the session."
        }
      }
    },
    "AggregatedMetricsToolCallLatencyMetrics": {
      "type": "object",
      "id": "AggregatedMetricsToolCallLatencyMetrics",
      "description": "Metrics for tool call latency.",
      "properties": {
        "tool": {
          "description": "Output only. The name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "averageLatency": {
          "type": "string",
          "description": "Output only. The average latency of the tool calls.",
          "readOnly": true,
          "format": "google-duration"
        }
      }
    },
    "EvaluationScenarioUserFact": {
      "description": "Facts about the user as a key value pair.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the user fact.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the user fact.",
          "type": "string"
        }
      },
      "id": "EvaluationScenarioUserFact"
    },
    "GoogleSearchSuggestions": {
      "type": "object",
      "id": "GoogleSearchSuggestions",
      "properties": {
        "webSearchQueries": {
          "description": "List of queries used to perform the google search along with the search result URIs forming the search suggestions.",
          "items": {
            "$ref": "WebSearchQuery"
          },
          "type": "array"
        },
        "htmls": {
          "type": "array",
          "description": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Search suggestions from Google Search Tool."
    },
    "Action": {
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "type": "object",
      "properties": {
        "connectionActionId": {
          "type": "string",
          "description": "ID of a Connection action for the tool to use."
        },
        "inputFields": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array"
        },
        "entityOperation": {
          "$ref": "ActionEntityOperation",
          "description": "Entity operation configuration for the tool to use."
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned."
        }
      },
      "id": "Action"
    },
    "EvaluationStep": {
      "id": "EvaluationStep",
      "description": "A step defines a singular action to happen during the evaluation.",
      "properties": {
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "description": "Optional. Executes an expectation on the current turn."
        },
        "userInput": {
          "$ref": "SessionInput",
          "description": "Optional. User input for the conversation."
        },
        "agentTransfer": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "AgentTransfer"
        }
      },
      "type": "object"
    },
    "OmnichannelIntegrationConfigSubscriberConfig": {
      "id": "OmnichannelIntegrationConfigSubscriberConfig",
      "description": "Configs of subscribers.",
      "properties": {
        "cesAppConfig": {
          "$ref": "OmnichannelIntegrationConfigCesAppConfig",
          "description": "Ces app config."
        }
      },
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "description": "Response message for AgentService.ListAppVersions.",
      "type": "object",
      "id": "ListAppVersionsResponse",
      "properties": {
        "appVersions": {
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          },
          "description": "The list of app versions."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "RunEvaluationRequest": {
      "type": "object",
      "properties": {
        "optimizationConfig": {
          "description": "Optional. Configuration for running the optimization step after the evaluation run. If not set, the optimization step will not be run.",
          "$ref": "OptimizationConfig"
        },
        "generateLatencyReport": {
          "type": "boolean",
          "description": "Optional. Whether to generate a latency report for the evaluation run."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the evaluation run."
        },
        "goldenRunMethod": {
          "description": "Optional. The method to run the evaluation if it is a golden evaluation. If not set, default to STABLE.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ]
        },
        "scheduledEvaluationRun": {
          "description": "Optional. The resource name of the `ScheduledEvaluationRun` that is triggering this evaluation run. If this field is set, the `scheduled_evaluation_run` field on the created `EvaluationRun` resource will be populated from this value. Format: `projects/{project}/locations/{location}/apps/{app}/scheduledEvaluationRuns/{scheduled_evaluation_run}`",
          "type": "string"
        },
        "personaRunConfigs": {
          "items": {
            "$ref": "PersonaRunConfig"
          },
          "type": "array",
          "description": "Optional. The configuration to use for the run per persona."
        },
        "appVersion": {
          "description": "Optional. The app version to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "runCount": {
          "description": "Optional. The number of times to run the evaluation. If not set, the default value is 1 per golden, and 5 per scenario.",
          "format": "int32",
          "type": "integer"
        },
        "config": {
          "description": "Optional. The configuration to use for the run.",
          "$ref": "EvaluationConfig"
        },
        "app": {
          "type": "string",
          "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`"
        },
        "evaluations": {
          "description": "Optional. List of evaluations to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "evaluationDataset": {
          "type": "string",
          "description": "Optional. An evaluation dataset to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
        }
      },
      "description": "Request message for EvaluationService.RunEvaluation.",
      "id": "RunEvaluationRequest"
    },
    "UploadEvaluationAudioResponse": {
      "properties": {
        "audioGcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the uploaded audio file is stored. Format: `gs:///`"
        },
        "transcript": {
          "description": "The transcript of the audio, generated by Cloud Speech-to-Text.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration of the audio."
        }
      },
      "type": "object",
      "id": "UploadEvaluationAudioResponse",
      "description": "Response message for EvaluationService.UploadEvaluationAudio."
    },
    "SessionConfig": {
      "type": "object",
      "properties": {
        "useToolFakes": {
          "type": "boolean",
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools."
        },
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "outputAudioConfig": {
          "$ref": "OutputAudioConfig",
          "description": "Optional. Configuration for generating the output audio."
        },
        "inputAudioConfig": {
          "$ref": "InputAudioConfig",
          "description": "Optional. Configuration for processing the input audio."
        },
        "historicalContexts": {
          "items": {
            "$ref": "Message"
          },
[...]
