{
  "revision": "20260312",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "version": "v1",
  "id": "ces:v1",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "rootUrl": "https://ces.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "name": "ces",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    }
  },
  "baseUrl": "https://ces.googleapis.com/",
  "schemas": {
    "DataStoreToolEngineSource": {
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "dataStoreSources": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        }
      },
      "id": "DataStoreToolEngineSource",
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "description": "Event input.",
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        }
      },
      "type": "object"
    },
    "WidgetToolDataMapping": {
      "type": "object",
      "properties": {
        "pythonScript": {
          "description": "Optional. A Python script used to transform the source tool's output into the widget's input format. This is used when the mapping is too complex for simple field mappings.",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ],
          "description": "Optional. The mode of the data mapping.",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ]
        },
        "fieldMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "type": "object"
        },
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        }
      },
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "id": "WidgetToolDataMapping"
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "The agent will transfer the conversation to a different agent.",
      "id": "TriggerActionTransferAgent",
      "type": "object"
    },
    "TlsConfig": {
      "type": "object",
      "id": "TlsConfig",
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "TlsConfigCaCert"
          },
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "type": "array"
        }
      },
      "description": "The TLS configuration."
    },
    "ImportAppRequest": {
      "description": "Request message for AgentService.ImportApp.",
      "id": "ImportAppRequest",
      "type": "object",
      "properties": {
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "appContent": {
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "format": "byte",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
        }
      }
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "description": "Settings for matching tool calls.",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "type": "object",
      "properties": {
        "extraToolCallBehavior": {
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "type": "string"
        }
      }
    },
    "OAuthConfig": {
      "type": "object",
      "id": "OAuthConfig",
      "description": "Configurations for authentication with OAuth.",
      "properties": {
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes to grant."
        },
        "oauthGrantType": {
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "type": "string",
          "description": "Required. OAuth grant types."
        }
      }
    },
    "GuardrailLlmPolicy": {
      "type": "object",
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "properties": {
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        },
        "policyScope": {
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "type": "string",
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond."
        },
        "allowShortUtterance": {
          "type": "boolean",
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings."
        },
        "maxConversationMessages": {
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GuardrailLlmPolicy"
    },
    "GoogleSearchTool": {
      "id": "GoogleSearchTool",
      "properties": {
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contextUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "preferredDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified."
        }
      },
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "type": "object"
    },
    "ErrorHandlingSettings": {
      "type": "object",
      "properties": {
        "errorHandlingStrategy": {
          "type": "string",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE"
          ],
          "description": "Optional. The strategy to use for error handling.",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors)."
          ]
        }
      },
      "description": "Settings to describe how errors should be handled in the app.",
      "id": "ErrorHandlingSettings"
    },
    "ServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "scopes": {
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "description": "Configurations for authentication using a custom service account.",
      "id": "ServiceAccountAuthConfig"
    },
    "OpenApiToolset": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        }
      },
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "id": "OpenApiToolset",
      "type": "object"
    },
    "GoogleSearchSuggestions": {
      "id": "GoogleSearchSuggestions",
      "type": "object",
      "description": "Search suggestions from Google Search Tool.",
      "properties": {
        "webSearchQueries": {
          "description": "List of queries used to perform the google search along with the search result URIs forming the search suggestions.",
          "items": {
            "$ref": "WebSearchQuery"
          },
          "type": "array"
        },
        "htmls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`."
        }
      }
    },
    "BigQueryExportSettings": {
      "properties": {
        "project": {
          "type": "string",
          "description": "Optional. The project ID of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "dataset": {
          "description": "Optional. The BigQuery dataset to export the data to.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        }
      },
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "type": "object",
      "id": "BigQueryExportSettings"
    },
    "AgentTransfer": {
      "type": "object",
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "id": "AgentTransfer",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the agent.",
          "type": "string"
        }
      }
    },
    "AppSnapshot": {
      "description": "A snapshot of the app.",
      "properties": {
        "tools": {
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array",
          "description": "Optional. List of guardrails in the app."
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "type": "array",
          "description": "Optional. List of examples in the app."
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app.",
          "type": "array"
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          }
        }
      },
      "id": "AppSnapshot",
      "type": "object"
    },
    "ListGuardrailsResponse": {
      "id": "ListGuardrailsResponse",
      "description": "Response message for AgentService.ListGuardrails.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails.",
          "type": "array"
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "properties": {
        "channelProfile": {
          "$ref": "ChannelProfile",
          "description": "Required. The channel profile used in the deployment."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this deployment was created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "format": "google-datetime"
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        }
      },
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile."
    },
    "ExecuteToolResponse": {
      "description": "Response message for ToolService.ExecuteTool.",
      "properties": {
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The variable values at the end of the tool execution."
        },
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "ExecuteToolResponse"
    },
    "ListAppsResponse": {
      "properties": {
        "apps": {
          "type": "array",
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListAppsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListApps."
    },
    "DataStoreSettingsEngine": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "description": "Output only. The type of the engine."
        }
      },
      "id": "DataStoreSettingsEngine",
      "type": "object",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "AmbientSoundConfig": {
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "id": "AmbientSoundConfig",
      "type": "object",
      "properties": {
        "prebuiltAmbientSound": {
          "type": "string",
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
        },
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "type": "number",
          "format": "double"
        },
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientNoise": {
          "deprecated": true,
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "type": "string"
        }
      }
    },
    "EndpointControlPolicy": {
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\"."
        },
        "enforcementScope": {
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "type": "string",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ]
        }
      },
      "id": "EndpointControlPolicy",
      "description": "Defines project/location level endpoint control policy.",
      "type": "object"
    },
    "DataStoreSettings": {
      "description": "Data store related settings for the app.",
      "type": "object",
      "id": "DataStoreSettings",
      "properties": {
        "engines": {
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "description": "Output only. The engines for the app.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "DataStoreToolRewriterConfig": {
      "properties": {
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        }
      },
      "id": "DataStoreToolRewriterConfig",
      "description": "Rewriter configuration.",
      "type": "object"
    },
    "AudioProcessingConfig": {
      "properties": {
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "synthesizeSpeechConfigs": {
          "type": "object",
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        },
        "inactivityTimeout": {
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "AudioProcessingConfig",
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "type": "object"
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "properties": {
        "goldenHallucinationMetricBehavior": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "description": "Optional. The hallucination metric behavior for golden evaluations."
        },
        "goldenEvaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
          "description": "Optional. The golden evaluation metrics thresholds."
        },
        "scenarioHallucinationMetricBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "hallucinationMetricBehavior": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "type": "object",
      "description": "Threshold settings for metrics in an Evaluation."
    },
    "LoggingSettings": {
      "properties": {
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "bigqueryExportSettings": {
          "description": "Optional. Settings to describe the BigQuery export behaviors for the app. The conversation data will be exported to BigQuery tables if it is enabled.",
          "$ref": "BigQueryExportSettings"
        },
        "audioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded.",
          "$ref": "AudioRecordingConfig"
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "conversationLoggingSettings": {
          "$ref": "ConversationLoggingSettings",
          "description": "Optional. Settings to describe the conversation logging behaviors for the app."
        },
        "metricAnalysisSettings": {
          "$ref": "MetricAnalysisSettings",
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
        }
      },
      "type": "object",
      "description": "Settings to describe the logging behaviors for the app.",
      "id": "LoggingSettings"
    },
    "DataStoreToolDataStoreSource": {
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        }
      },
      "description": "Configuration for searching within a specific DataStore.",
      "id": "DataStoreToolDataStoreSource"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "DataStoreToolSummarizationConfig": {
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        }
      },
      "description": "Summarization configuration.",
      "type": "object",
      "id": "DataStoreToolSummarizationConfig"
    },
    "Example": {
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "properties": {
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. The collection of messages that make up the conversation.",
          "type": "array"
        },
        "invalid": {
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "type": "boolean",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the example was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
        },
        "createTime": {
          "description": "Output only. Timestamp when the example was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        }
      },
      "id": "Example",
      "type": "object"
    },
    "ConversationLoggingSettings": {
      "id": "ConversationLoggingSettings",
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "type": "object",
      "properties": {
        "disableConversationLogging": {
          "type": "boolean",
          "description": "Optional. Whether to disable conversation logging for the sessions."
        }
      }
    },
    "OmnichannelIntegrationConfigRoutingConfig": {
      "type": "object",
      "properties": {
        "subscriberKey": {
          "type": "string",
          "description": "The key of the subscriber."
        }
      },
      "id": "OmnichannelIntegrationConfigRoutingConfig",
      "description": "Routing config specify how/who to route app events to a subscriber."
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "properties": {
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      },
      "type": "object"
    },
    "GoogleSearchToolPromptConfig": {
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "type": "object",
      "id": "GoogleSearchToolPromptConfig",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      }
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "type": "object",
      "id": "AudioRecordingConfig",
      "properties": {
        "gcsBucket": {
          "type": "string",
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        }
      }
    },
    "ListDeploymentsResponse": {
      "description": "Response message for AgentService.ListDeployments.",
      "type": "object",
      "id": "ListDeploymentsResponse",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "RetrieveToolSchemaRequest": {
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "type": "object",
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        }
      }
    },
    "Message": {
      "description": "A message within a conversation.",
      "id": "Message",
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example."
        },
        "role": {
          "type": "string",
          "description": "Optional. The role within the conversation, e.g., user, agent."
        },
        "chunks": {
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks.",
          "type": "array"
        }
      }
    },
    "GuardrailLlmPromptSecurity": {
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "defaultSettings": {
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response.",
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
        },
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration."
        }
      },
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
        },
        "interpolationType": {
          "type": "string",
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "controlPoints": {
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        }
      }
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools that are included in the specified toolset."
        }
      },
      "type": "object",
      "description": "Response message for ToolService.RetrieveTools.",
      "id": "RetrieveToolsResponse"
    },
    "EndUserAuthConfig": {
      "id": "EndUserAuthConfig",
      "properties": {
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        },
        "oauth2AuthCodeConfig": {
          "description": "Oauth 2.0 Authorization Code authentication.",
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig"
        }
      },
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "type": "object"
    },
    "ChannelProfileWebWidgetConfig": {
      "type": "object",
      "properties": {
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "type": "string",
          "description": "Optional. The theme of the web widget."
        },
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "modality": {
          "type": "string",
          "description": "Optional. The modality of the web widget.",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ]
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        }
      },
      "id": "ChannelProfileWebWidgetConfig",
      "description": "Message for configuration for the web widget."
    },
    "ExportAppResponse": {
      "description": "Response message for AgentService.ExportApp.",
      "id": "ExportAppResponse",
      "type": "object",
      "properties": {
        "appUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "App folder compressed as a zip file."
        }
      }
    },
    "ModelSettings": {
      "id": "ModelSettings",
      "type": "object",
      "properties": {
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        },
        "temperature": {
          "format": "double",
          "type": "number",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative."
        }
      },
      "description": "Model settings contains various configurations for the LLM model."
    },
    "PythonCodeCondition": {
      "description": "Python code block to evaluate the condition.",
      "id": "PythonCodeCondition",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientCertificateSettings": {
      "type": "object",
      "properties": {
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      },
      "description": "Settings for custom client certificates.",
      "id": "ClientCertificateSettings"
    },
    "TransferRuleDeterministicTransfer": {
      "properties": {
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        },
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs."
        }
      },
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs.",
      "type": "object",
      "id": "TransferRuleDeterministicTransfer"
    },
    "Omnichannel": {
      "type": "object",
      "properties": {
        "integrationConfig": {
          "description": "Optional. The integration config for the omnichannel resource.",
          "$ref": "OmnichannelIntegrationConfig"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the omnichannel resource. Format: `projects/{project}/locations/{location}/omnichannels/{omnichannel}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the omnichannel resource."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the omnichannel resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the omnichannel resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the omnichannel resource was last updated."
        }
      },
      "id": "Omnichannel",
      "description": "Represents an Omnichannel resource."
    },
    "OmnichannelOperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OmnichannelOperationMetadata"
    },
    "ListChangelogsResponse": {
      "description": "Response message for AgentService.ListChangelogs.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          },
          "type": "array"
        }
      },
      "id": "ListChangelogsResponse",
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "id": "GenerateChatTokenRequest",
      "description": "Request message for WidgetService.GenerateChatToken.",
      "properties": {
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunSessionResponse": {
      "properties": {
        "outputs": {
          "description": "Outputs for the session.",
          "type": "array",
          "items": {
            "$ref": "SessionOutput"
          }
        }
      },
      "type": "object",
      "id": "RunSessionResponse",
      "description": "Response message for SessionService.RunSession."
    },
    "OpenApiTool": {
      "type": "object",
      "id": "OpenApiTool",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ApiAuthentication": {
      "type": "object",
      "id": "ApiAuthentication",
      "properties": {
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        },
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        }
      },
      "description": "Authentication information required for API calls."
    },
    "ServiceAgentIdTokenAuthConfig": {
      "properties": {},
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "id": "ServiceAgentIdTokenAuthConfig",
      "type": "object"
    },
    "RestoreAppVersionRequest": {
      "id": "RestoreAppVersionRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion"
    },
    "ActionEntityOperation": {
      "properties": {
        "operation": {
          "type": "string",
          "description": "Required. Operation to perform on the entity.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ]
        },
        "entityId": {
          "type": "string",
          "description": "Required. ID of the entity."
        }
      },
      "type": "object",
      "id": "ActionEntityOperation",
      "description": "Entity CRUD operation specification."
    },
    "OmnichannelIntegrationConfigWhatsappConfig": {
      "description": "How Omnichannel should receive/reply events from WhatsApp.",
      "type": "object",
      "properties": {
        "whatsappBusinessToken": {
          "type": "string",
          "description": "The access token for authenticating API calls to the WhatsApp Cloud API. https://developers.facebook.com/docs/whatsapp/business-management-api/get-started/#business-integration-system-user-access-tokens"
        },
        "metaBusinessPortfolioId": {
          "description": "The Meta Business Portfolio (MBP) ID. https://www.facebook.com/business/help/1710077379203657",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number used for sending/receiving messages.",
          "type": "string"
        },
        "webhookVerifyToken": {
          "description": "The verify token configured in the Meta App Dashboard for webhook verification.",
          "type": "string"
        },
        "phoneNumberId": {
          "type": "string",
          "description": "The Phone Number ID associated with the WhatsApp Business Account."
        },
        "whatsappBusinessAccountId": {
          "description": "The customer's WhatsApp Business Account (WABA) ID.",
          "type": "string"
        }
      },
      "id": "OmnichannelIntegrationConfigWhatsappConfig"
    },
    "OmnichannelIntegrationConfigCesAppConfig": {
      "type": "object",
      "description": "Configs for CES app.",
      "id": "OmnichannelIntegrationConfigCesAppConfig",
      "properties": {
        "app": {
          "type": "string",
          "description": "The unique identifier of the CES app. Format: `projects/{project}/locations/{location}/apps/{app}`"
        }
      }
    },
    "PythonFunction": {
      "type": "object",
      "description": "A Python function tool.",
      "id": "PythonFunction",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used."
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "readOnly": true
        }
      }
    },
    "Callback": {
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent.",
          "type": "boolean"
        },
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the callback."
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Callback"
    },
    "CodeBlock": {
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead."
        }
      },
      "description": "A code block to be executed instead of a real tool call.",
      "type": "object",
      "id": "CodeBlock"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "type": "object",
      "description": "Turn level metrics thresholds.",
      "properties": {
        "overallToolInvocationCorrectnessThreshold": {
          "format": "float",
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number"
        },
        "semanticSimilaritySuccessThreshold": {
          "type": "integer",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "format": "int32"
        },
        "semanticSimilarityChannel": {
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "type": "string"
        }
      }
    },
    "TlsConfigCaCert": {
      "id": "TlsConfigCaCert",
      "type": "object",
      "properties": {
        "cert": {
          "format": "byte",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        }
      },
      "description": "The CA certificate."
    },
    "ExportAppRequest": {
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "description": "Required. The format to export the app in.",
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ]
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`.",
          "type": "string"
        }
      },
      "description": "Request message for AgentService.ExportApp.",
      "id": "ExportAppRequest",
      "type": "object"
    },
    "Chunk": {
      "properties": {
        "payload": {
          "type": "object",
          "description": "Optional. Custom payload data.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "transcript": {
          "type": "string",
          "description": "Optional. Transcript associated with the audio."
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data."
        },
        "updatedVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        },
        "defaultVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Agent transfer event."
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        }
      },
      "type": "object",
      "description": "A chunk of content within a message.",
      "id": "Chunk"
    },
    "OmnichannelIntegrationConfigChannelConfig": {
      "properties": {
        "whatsappConfig": {
          "description": "WhatsApp config.",
          "$ref": "OmnichannelIntegrationConfigWhatsappConfig"
        }
      },
      "description": "ChannelConfig contains config for various of app integration.",
      "id": "OmnichannelIntegrationConfigChannelConfig",
      "type": "object"
    },
    "Changelog": {
      "id": "Changelog",
      "properties": {
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource that was changed."
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the change author."
        },
        "createTime": {
          "description": "Output only. The time when the change was made.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed."
        },
        "newResource": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The new resource after the change."
        },
        "dependentResources": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The dependent resources that were changed.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        },
        "originalResource": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. The original resource before the change.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "type": "string"
        },
        "resourceType": {
          "description": "Output only. The type of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The action that was performed on the resource."
        },
        "sequenceNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Changelogs represent a change made to the app or to an resource within the app."
    },
    "RetrieveToolSchemaResponse": {
      "type": "object",
      "id": "RetrieveToolSchemaResponse",
      "description": "Response message for ToolService.RetrieveToolSchema.",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that the schema is for."
        },
        "tool": {
          "type": "string",
          "description": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "outputSchema": {
          "description": "The schema of the tool output parameters.",
          "$ref": "Schema"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool input parameters."
        }
      }
    },
    "Blob": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        }
      },
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation."
    },
    "OmnichannelIntegrationConfigSubscriberConfig": {
      "description": "Configs of subscribers.",
      "properties": {
        "cesAppConfig": {
          "$ref": "OmnichannelIntegrationConfigCesAppConfig",
          "description": "Ces app config."
        }
      },
      "id": "OmnichannelIntegrationConfigSubscriberConfig",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "ToolCall": {
      "type": "object",
      "description": "Request for the client or the agent to execute the specified tool.",
      "id": "ToolCall",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute."
        },
        "id": {
          "type": "string",
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse."
        },
        "args": {
          "type": "object",
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the tool."
        }
      }
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "properties": {
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        },
        "speakingRate": {
          "format": "double",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number"
        }
      },
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "id": "ListAppVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "appVersions": {
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array",
          "description": "The list of app versions."
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListAppVersions."
    },
    "DataStoreToolBoostSpecs": {
      "type": "object",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "id": "DataStoreToolBoostSpecs",
      "properties": {
        "dataStores": {
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spec": {
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "description": "Required. A list of boosting specifications.",
          "type": "array"
        }
      }
    },
    "McpToolset": {
      "type": "object",
      "id": "McpToolset",
      "properties": {
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "customHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        }
      },
      "description": "A toolset that contains a list of tools that are offered by the MCP server."
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "type": "array"
        },
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "enableOriginCheck": {
          "type": "boolean",
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        }
      },
      "description": "Security settings for the web widget.",
      "type": "object"
    },
    "ToolFakeConfig": {
      "type": "object",
      "description": "Configuration for tool behavior in fake mode.",
      "id": "ToolFakeConfig",
      "properties": {
        "codeBlock": {
          "description": "Optional. Code block which will be executed instead of a real tool call.",
          "$ref": "CodeBlock"
        },
        "enableFakeMode": {
          "description": "Optional. Whether the tool is using fake mode.",
          "type": "boolean"
        }
      }
    },
    "SystemTool": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. The description of the system tool.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        }
      },
      "id": "SystemTool",
      "type": "object",
      "description": "Pre-defined system tool."
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "properties": {
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        },
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "fallbackAction": {
          "description": "Optional. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Language settings of the app."
    },
    "Citations": {
      "properties": {
        "citedChunks": {
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "description": "List of cited pieces of information."
        }
      },
      "id": "Citations",
      "type": "object",
      "description": "Citations associated with the agent response."
    },
    "ToolCalls": {
      "type": "object",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "properties": {
        "toolCalls": {
          "type": "array",
          "items": {
            "$ref": "ToolCall"
          },
          "description": "Optional. The list of tool calls to execute."
        }
      },
      "id": "ToolCalls"
    },
    "SessionInput": {
      "properties": {
        "variables": {
          "type": "object",
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "audio": {
          "format": "byte",
          "description": "Optional. Audio data from the end user.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data from the end user."
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        }
      },
      "type": "object",
      "id": "SessionInput",
      "description": "Input for the session."
    },
    "BatchDeleteConversationsRequest": {
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "id": "BatchDeleteConversationsRequest",
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the conversations to delete."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse"
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "toolsets": {
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        }
      },
      "description": "Response message for AgentService.ListToolsets.",
      "type": "object"
    },
    "GuardrailContentFilter": {
      "id": "GuardrailContentFilter",
      "properties": {
        "bannedContents": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "items": {
            "type": "string"
          }
        },
        "matchType": {
          "description": "Required. Match type for the content filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "enumDescriptions": [
[...]
