{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "baseUrl": "https://ces.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "ces:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "WidgetToolDataMapping": {
      "type": "object",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "properties": {
        "fieldMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "type": "object"
        },
        "pythonScript": {
          "description": "Deprecated: Use `python_function` instead.",
          "type": "string",
          "deprecated": true
        },
        "sourceToolName": {
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`",
          "type": "string"
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        },
        "mode": {
          "description": "Optional. The mode of the data mapping.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        }
      },
      "id": "WidgetToolDataMapping"
    },
    "EndpointControlPolicy": {
      "type": "object",
      "description": "Defines project/location level endpoint control policy.",
      "properties": {
        "enforcementScope": {
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "type": "string",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ],
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced."
        },
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\".",
          "type": "array"
        }
      },
      "id": "EndpointControlPolicy"
    },
    "ListAppVersionsResponse": {
      "id": "ListAppVersionsResponse",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListAppVersions.",
      "type": "object"
    },
    "SessionOutput": {
      "id": "SessionOutput",
      "properties": {
        "turnCompleted": {
          "type": "boolean",
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn."
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "turnIndex": {
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "type": "integer",
          "format": "int32"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom payload with structured output from the CES agent.",
          "type": "object"
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "audio": {
          "description": "Output audio from the CES agent.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Output for the session.",
      "type": "object"
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "properties": {
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "defaultSettings": {
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response.",
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
        }
      },
      "id": "GuardrailLlmPromptSecurity"
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "type": "object",
      "id": "GuardrailLlmPolicy",
      "properties": {
        "policyScope": {
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond."
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        },
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        },
        "maxConversationMessages": {
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "type": "integer",
          "format": "int32"
        },
        "prompt": {
          "type": "string",
          "description": "Required. Policy prompt."
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "description": "Traffic allocation for the version release.",
      "type": "object",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "properties": {
        "trafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100."
        },
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      }
    },
    "SessionInput": {
      "type": "object",
      "description": "Input for the session.",
      "properties": {
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object"
        },
        "event": {
          "description": "Optional. Event input.",
          "$ref": "Event"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "audio": {
          "description": "Optional. Audio data from the end user.",
          "type": "string",
          "format": "byte"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        }
      },
      "id": "SessionInput"
    },
    "ExperimentConfigVersionRelease": {
      "type": "object",
      "description": "Version release for the experiment.",
      "properties": {
        "trafficAllocations": {
          "type": "array",
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Pending state. Experiment is pending and not valid.",
            "Running state. Experiment is running and valid.",
            "Done state. Experiment is done and no longer valid.",
            "Expired state. Experiment is expired and no longer valid."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "description": "Optional. State of the version release."
        }
      },
      "id": "ExperimentConfigVersionRelease"
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "properties": {
        "defaultPromptTemplate": {
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configuration for default system security settings.",
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
    },
    "ListAgentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "agents": {
          "description": "The list of agents.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        }
      },
      "id": "ListAgentsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListAgents."
    },
    "WebSearchQuery": {
      "type": "object",
      "description": "Represents a single web search query and its associated search uri.",
      "properties": {
        "query": {
          "description": "The search query text.",
          "type": "string"
        },
        "uri": {
          "description": "The URI to the Google Search results page for the query.",
          "type": "string"
        }
      },
      "id": "WebSearchQuery"
    },
    "RunSessionResponse": {
      "properties": {
        "outputs": {
          "type": "array",
          "description": "Outputs for the session.",
          "items": {
            "$ref": "SessionOutput"
          }
        }
      },
      "id": "RunSessionResponse",
      "type": "object",
      "description": "Response message for SessionService.RunSession."
    },
    "ChannelProfileWebWidgetConfig": {
      "properties": {
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "modality": {
          "description": "Optional. The modality of the web widget.",
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ]
        },
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "type": "string",
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "description": "Optional. The theme of the web widget."
        },
        "webWidgetTitle": {
          "type": "string",
          "description": "Optional. The title of the web widget."
        }
      },
      "id": "ChannelProfileWebWidgetConfig",
      "type": "object",
      "description": "Message for configuration for the web widget."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "properties": {
        "controlPoints": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
        },
        "attributeType": {
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "interpolationType": {
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "Conversation": {
      "id": "Conversation",
      "properties": {
        "endTime": {
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true,
          "type": "string"
        },
        "inputTypes": {
          "description": "Output only. The input types of the conversation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ]
          }
        },
        "messages": {
          "description": "Deprecated. Use turns instead.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "Message"
          }
        },
        "channelType": {
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "description": "DEPRECATED. Please use input_types instead."
        },
        "languageCode": {
          "description": "Output only. The language code of the conversation.",
          "readOnly": true,
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "type": "array",
          "items": {
            "$ref": "ConversationTurn"
          }
        },
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "readOnly": true,
          "description": "Output only. Indicate the source of the conversation."
        },
        "appVersion": {
          "type": "string",
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was created.",
          "readOnly": true
        }
      },
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object"
    },
    "Action": {
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "type": "object",
      "id": "Action",
      "properties": {
        "inputFields": {
          "type": "array",
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "items": {
            "type": "string"
          }
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "outputFields": {
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "clientKey": {
          "type": "string",
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "type": "object"
    },
    "ToolResponse": {
      "properties": {
        "id": {
          "description": "Optional. The matching ID of the tool call the response is for.",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "displayName": {
          "description": "Output only. Display name of the tool.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ToolResponse",
      "type": "object",
      "description": "The execution result of a specific tool from the client or the agent."
    },
    "BearerTokenConfig": {
      "type": "object",
      "description": "Configurations for authentication with a bearer token.",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "BearerTokenConfig"
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "description": "Configuration for tools using Service Directory.",
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "id": "ServiceDirectoryConfig"
    },
    "McpToolset": {
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "type": "object",
      "id": "McpToolset",
      "properties": {
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "customHeaders": {
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        }
      }
    },
    "DataStoreSettingsEngine": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the engine.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ]
        }
      },
      "id": "DataStoreSettingsEngine",
      "type": "object",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "ExperimentConfig": {
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "id": "ExperimentConfig",
      "type": "object",
      "description": "Experiment for the deployment."
    },
    "ExecuteToolResponse": {
      "description": "Response message for ToolService.ExecuteTool.",
      "type": "object",
      "id": "ExecuteToolResponse",
      "properties": {
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "response": {
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The variable values at the end of the tool execution."
        }
      }
    },
    "Span": {
      "type": "object",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "properties": {
        "startTime": {
          "description": "Output only. The start time of the span.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "attributes": {
          "type": "object",
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Span"
          }
        },
        "endTime": {
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "duration": {
          "description": "Output only. The duration of the span.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the span.",
          "readOnly": true
        }
      },
      "id": "Span"
    },
    "ToolFakeConfig": {
      "description": "Configuration for tool behavior in fake mode.",
      "type": "object",
      "id": "ToolFakeConfig",
      "properties": {
        "codeBlock": {
          "description": "Optional. Code block which will be executed instead of a real tool call.",
          "$ref": "CodeBlock"
        },
        "enableFakeMode": {
          "type": "boolean",
          "description": "Optional. Whether the tool is using fake mode."
        }
      }
    },
    "OmnichannelOperationMetadata": {
      "id": "OmnichannelOperationMetadata",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "AgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "type": "object",
      "id": "AgentTransfer",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display name of the agent.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ImportAppRequest": {
      "type": "object",
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "appContent": {
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "type": "string",
          "format": "byte"
        },
        "ignoreAppLock": {
          "type": "boolean",
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        }
      },
      "id": "ImportAppRequest"
    },
    "DataStoreToolModalityConfig": {
      "type": "object",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "modalityType": {
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "type": "string",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type."
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        }
      },
      "id": "DataStoreToolModalityConfig"
    },
    "GenerateChatTokenResponse": {
      "description": "Response message for WidgetService.GenerateChatToken.",
      "type": "object",
      "id": "GenerateChatTokenResponse",
      "properties": {
        "chatToken": {
          "type": "string",
          "description": "The session scoped token for chat widget to authenticate with Session APIs."
        },
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TransferRuleDeterministicTransfer": {
      "properties": {
        "expressionCondition": {
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs.",
          "$ref": "ExpressionCondition"
        },
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        }
      },
      "id": "TransferRuleDeterministicTransfer",
      "type": "object",
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs."
    },
    "DataStoreToolDataStoreSource": {
      "properties": {
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        },
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        }
      },
      "id": "DataStoreToolDataStoreSource",
      "type": "object",
      "description": "Configuration for searching within a specific DataStore."
    },
    "McpTool": {
      "type": "object",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "properties": {
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the MCP tool.",
          "type": "string"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "inputSchema": {
          "description": "Optional. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        }
      },
      "id": "McpTool"
    },
    "ToolResponses": {
      "description": "Execution results for the requested tool calls from the client.",
      "type": "object",
      "id": "ToolResponses",
      "properties": {
        "toolResponses": {
          "description": "Optional. The list of tool execution results.",
          "type": "array",
          "items": {
            "$ref": "ToolResponse"
          }
        }
      }
    },
    "OutputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "description": "Required. The encoding of the output audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the output audio data."
        }
      },
      "id": "OutputAudioConfig",
      "type": "object",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses."
    },
    "AgentCard": {
      "type": "object",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard",
      "properties": {
        "supportedInterfaces": {
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array"
        },
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the agent's domain of action/solution space."
        },
        "skills": {
          "items": {
            "$ref": "AgentSkill"
          },
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "type": "array"
        }
      },
      "id": "AgentCard"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "properties": {
        "extraToolCallBehavior": {
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "type": "string",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ]
        }
      },
      "description": "Settings for matching tool calls.",
      "type": "object"
    },
    "AgentRemoteDialogflowAgent": {
      "id": "AgentRemoteDialogflowAgent",
      "properties": {
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "inputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "type": "object"
        },
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "type": "object"
        },
        "respectResponseInterruptionSettings": {
          "type": "boolean",
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings."
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "type": "object"
    },
    "ToolCalls": {
      "properties": {
        "toolCalls": {
          "description": "Optional. The list of tool calls to execute.",
          "type": "array",
          "items": {
            "$ref": "ToolCall"
          }
        }
      },
      "id": "ToolCalls",
      "type": "object",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session."
    },
    "CitationsCitedChunk": {
      "properties": {
        "text": {
          "description": "Text used for citation.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI used for citation."
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        }
      },
      "id": "CitationsCitedChunk",
      "type": "object",
      "description": "Piece of cited information."
    },
    "TlsConfig": {
      "description": "The TLS configuration.",
      "type": "object",
      "id": "TlsConfig",
      "properties": {
        "caCerts": {
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "type": "array",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      }
    },
    "BigQueryExportSettings": {
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "type": "object",
      "id": "BigQueryExportSettings",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Optional. The BigQuery **dataset ID** to export the data to."
        },
        "project": {
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "properties": {
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        }
      },
      "description": "Settings for golden evaluations.",
      "type": "object"
    },
    "Changelog": {
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "type": "object",
      "id": "Changelog",
      "properties": {
        "sequenceNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true
        },
        "newResource": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Output only. The new resource after the change.",
          "readOnly": true
        },
        "dependentResources": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "description": "Output only. The dependent resources that were changed.",
          "readOnly": true,
          "type": "array"
        },
        "description": {
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "resource": {
          "description": "Output only. The resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "readOnly": true
        },
        "originalResource": {
          "description": "Output only. The original resource before the change.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "author": {
          "type": "string",
          "description": "Output only. Email address of the change author.",
          "readOnly": true
        },
        "resourceType": {
          "description": "Output only. The type of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the change was made.",
          "readOnly": true
        }
      }
    },
    "DataStoreSettings": {
      "properties": {
        "engines": {
          "description": "Output only. The engines for the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          }
        }
      },
      "id": "DataStoreSettings",
      "type": "object",
      "description": "Data store related settings for the app."
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "properties": {
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array",
          "description": "Optional. List of guardrails in the app."
        },
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "description": "Optional. List of toolsets in the app.",
          "type": "array"
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app.",
          "type": "array"
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. List of examples in the app.",
          "type": "array"
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "Optional. List of tools in the app.",
          "type": "array"
        }
      },
      "description": "A snapshot of the app.",
      "type": "object"
    },
    "AmbientSoundConfig": {
      "properties": {
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
        },
        "prebuiltAmbientNoise": {
          "type": "string",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`."
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        }
      },
      "id": "AmbientSoundConfig",
      "type": "object",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "type": "object",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "properties": {
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          }
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        }
      }
    },
    "ApiAuthentication": {
      "properties": {
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        }
      },
      "id": "ApiAuthentication",
      "type": "object",
      "description": "Authentication information required for API calls."
    },
    "SessionOutputDiagnosticInfo": {
      "type": "object",
      "description": "Contains execution details during the processing.",
      "properties": {
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      },
      "id": "SessionOutputDiagnosticInfo"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "description": "Boost specification for a condition.",
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "properties": {
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        },
        "boost": {
          "type": "number",
          "format": "float",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored."
        }
      }
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "TriggerActionTransferAgent",
      "type": "object",
      "description": "The agent will transfer the conversation to a different agent."
    },
    "LoggingSettings": {
      "type": "object",
      "description": "Settings to describe the logging behaviors for the app.",
      "properties": {
        "metricAnalysisSettings": {
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app.",
          "$ref": "MetricAnalysisSettings"
        },
        "unredactedAudioRecordingConfig": {
          "description": "Optional. Configures recording of unredacted audio. Use this to maintain a raw backup with restricted access when audio redaction is enabled, typically for auditing or monitoring purposes.",
          "$ref": "AudioRecordingConfig"
        },
        "conversationLoggingSettings": {
          "description": "Optional. Settings to describe the conversation logging behaviors for the app.",
          "$ref": "ConversationLoggingSettings"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "bigqueryExportSettings": {
          "description": "Optional. Settings to describe the BigQuery export behaviors for the app. The conversation data will be exported to BigQuery tables if it is enabled.",
          "$ref": "BigQueryExportSettings"
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "audioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded.",
          "$ref": "AudioRecordingConfig"
        }
      },
      "id": "LoggingSettings"
    },
    "ConnectorToolset": {
      "id": "ConnectorToolset",
      "properties": {
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        },
        "connectorActions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "type": "array"
        }
      },
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "type": "object"
    },
    "Tool": {
      "id": "Tool",
      "properties": {
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "openApiTool": {
          "description": "Optional. The open API tool.",
          "$ref": "OpenApiTool"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "agentTool": {
          "description": "Optional. The agent tool.",
          "$ref": "AgentTool"
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "createTime": {
          "description": "Output only. Timestamp when the tool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
        },
        "generatedSummary": {
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true,
          "type": "string"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was last updated.",
          "readOnly": true
        }
      },
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "type": "object"
    },
    "TriggerActionGenerativeAnswer": {
      "type": "object",
      "description": "The agent will immediately respond with a generative answer.",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "id": "TriggerActionGenerativeAnswer"
    },
    "RedactionConfig": {
      "properties": {
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        }
      },
      "id": "RedactionConfig",
      "type": "object",
      "description": "Configuration to instruct how sensitive data should be handled."
    },
    "Schema": {
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "type": "object",
      "id": "Schema",
      "properties": {
        "minimum": {
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "type": "number",
          "format": "double"
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the data."
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "defs": {
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "type": "object"
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY."
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "enum": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "type": "array"
        },
        "prefixItems": {
          "type": "array",
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "items": {
            "$ref": "Schema"
          }
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "type": "number",
          "format": "double"
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "required": {
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TriggerAction": {
      "properties": {
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      },
      "id": "TriggerAction",
      "type": "object",
      "description": "Action that is taken when a certain precondition is met."
    },
    "ListChangelogsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "description": "The list of changelogs.",
          "type": "array"
        }
      },
      "id": "ListChangelogsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListChangelogs."
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ConnectorTool": {
      "type": "object",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "properties": {
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      },
      "id": "ConnectorTool"
    },
    "Deployment": {
      "id": "Deployment",
      "properties": {
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "createTime": {
          "description": "Output only. Timestamp when this deployment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "readOnly": true
        }
      },
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "SystemTool": {
      "description": "Pre-defined system tool.",
      "type": "object",
      "id": "SystemTool",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the system tool.",
          "readOnly": true
        }
      }
    },
    "TriggerActionResponse": {
      "type": "object",
      "description": "Represents a response from the agent.",
      "properties": {
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent."
        }
      },
      "id": "TriggerActionResponse"
    },
    "AgentAgentToolset": {
      "description": "A toolset with a selection of its tools.",
      "type": "object",
      "id": "AgentAgentToolset",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset."
        }
      }
    },
    "OpenApiToolset": {
      "id": "OpenApiToolset",
      "properties": {
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        }
      },
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "type": "object"
    },
    "MetricAnalysisSettings": {
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      },
      "id": "MetricAnalysisSettings",
      "type": "object",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline."
    },
    "App": {
      "id": "App",
      "properties": {
        "clientCertificateSettings": {
          "description": "Optional. The default client certificate settings for the app.",
          "$ref": "ClientCertificateSettings"
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "languageSettings": {
          "description": "Optional. Language settings of the app.",
          "$ref": "LanguageSettings"
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "guardrails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "timeZoneSettings": {
          "description": "Optional. TimeZone settings of the app.",
          "$ref": "TimeZoneSettings"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the app was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "toolExecutionMode": {
          "type": "string",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ]
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the app."
        },
        "vpcScSettings": {
          "description": "Optional. VPC-SC settings for the app.",
          "$ref": "VpcScSettings"
        },
        "validationErrors": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true,
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the app."
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        },
        "rootAgent": {
          "type": "string",
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "globalInstruction": {
          "type": "string",
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents."
        },
        "dataStoreSettings": {
          "description": "Optional. The data store settings for the app.",
          "$ref": "DataStoreSettings"
        },
        "deploymentCount": {
          "description": "Output only. Number of deployments in the app.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was created.",
          "readOnly": true
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "predefinedVariableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "type": "array",
          "description": "Output only. The declarations of predefined variables for the app.",
          "readOnly": true
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "variableDeclarations": {
          "type": "array",
          "description": "Optional. The declarations of the variables.",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        }
      },
[...]
