{
  "name": "ces",
  "version": "v1",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://ces.googleapis.com/",
  "title": "Gemini Enterprise for Customer Experience API",
  "schemas": {
    "DataStoreToolSummarizationConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        }
      },
      "description": "Summarization configuration.",
      "id": "DataStoreToolSummarizationConfig"
    },
    "ExportAppRequest": {
      "properties": {
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "type": "string",
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "description": "Required. The format to export the app in."
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`.",
          "type": "string"
        }
      },
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp.",
      "type": "object"
    },
    "OpenApiToolset": {
      "type": "object",
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "id": "OpenApiToolset",
      "properties": {
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema."
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "type": "object",
      "properties": {
        "interpolationType": {
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
        },
        "controlPoints": {
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      }
    },
    "Callback": {
      "properties": {
        "proactiveExecutionEnabled": {
          "type": "boolean",
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations."
        },
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the callback."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent."
        }
      },
      "type": "object",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "id": "Callback"
    },
    "Schema": {
      "properties": {
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "prefixItems": {
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        },
        "ref": {
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring.",
          "type": "string"
        },
        "required": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Required properties of Type.OBJECT."
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "default": {
          "type": "any",
          "description": "Optional. Default value of the data."
        },
        "minimum": {
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "type": "number"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "maximum": {
          "format": "double",
          "type": "number",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER."
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY."
        },
        "maxItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY."
        },
        "enum": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "defs": {
          "type": "object",
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the schema."
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        }
      },
      "type": "object",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "id": "Schema"
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "type": "object",
      "id": "AudioRecordingConfig",
      "properties": {
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        },
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      }
    },
    "SessionInput": {
      "type": "object",
      "id": "SessionInput",
      "description": "Input for the session.",
      "properties": {
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "audio": {
          "format": "byte",
          "description": "Optional. Audio data from the end user.",
          "type": "string"
        },
        "willContinue": {
          "type": "boolean",
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal."
        },
        "toolResponses": {
          "$ref": "ToolResponses",
          "description": "Optional. Execution results for the tool calls from the client."
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data from the end user."
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "properties": {
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStore": {
          "$ref": "DataStore",
          "description": "Optional. The data store."
        }
      },
      "id": "DataStoreToolDataStoreSource",
      "description": "Configuration for searching within a specific DataStore.",
      "type": "object"
    },
    "Deployment": {
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this deployment was created."
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated."
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Deployment",
      "type": "object"
    },
    "OutputAudioConfig": {
      "id": "OutputAudioConfig",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "type": "object",
      "properties": {
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the output audio data.",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "format": "int32"
        }
      }
    },
    "OAuthConfig": {
      "description": "Configurations for authentication with OAuth.",
      "type": "object",
      "properties": {
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        },
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "oauthGrantType": {
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string",
          "description": "Required. OAuth grant types.",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID from the OAuth provider."
        }
      },
      "id": "OAuthConfig"
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "properties": {
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail."
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        },
        "maxConversationMessages": {
          "format": "int32",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "type": "integer"
        },
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "policyScope": {
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "type": "string",
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond."
        }
      },
      "id": "GuardrailLlmPolicy",
      "type": "object"
    },
    "Blob": {
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw bytes of the blob.",
          "type": "string"
        }
      }
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration."
    },
    "AgentTransfer": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the agent."
        },
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "id": "AgentTransfer"
    },
    "Conversation": {
      "id": "Conversation",
      "type": "object",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "properties": {
        "turns": {
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array",
          "description": "Required. The turns in the conversation."
        },
        "inputTypes": {
          "description": "Output only. The input types of the conversation.",
          "items": {
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "The input message is text.",
              "The input message is audio.",
              "The input message is image.",
              "The input message is blob file.",
              "The input message is client function tool response.",
              "The input message are variables."
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string",
          "readOnly": true
        },
        "turnCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "format": "int32"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was created."
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the conversation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`"
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string",
          "readOnly": true
        },
        "channelType": {
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "description": "DEPRECATED. Please use input_types instead."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed.",
          "readOnly": true,
          "type": "string"
        },
        "messages": {
          "deprecated": true,
          "description": "Deprecated. Use turns instead.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation."
          ],
          "type": "string",
          "description": "Output only. Indicate the source of the conversation.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL"
          ],
          "readOnly": true
        },
        "deployment": {
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly."
        }
      },
      "id": "TriggerActionRespondImmediately",
      "description": "The agent will immediately respond with a preconfigured response.",
      "type": "object"
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "properties": {
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "description": "The list of toolsets.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for AgentService.ListToolsets.",
      "type": "object"
    },
    "RunSessionRequest": {
      "properties": {
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session.",
          "type": "array"
        },
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        }
      },
      "type": "object",
      "description": "Request message for SessionService.RunSession.",
      "id": "RunSessionRequest"
    },
    "GenerateChatTokenRequest": {
      "type": "object",
      "properties": {
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        }
      },
      "id": "GenerateChatTokenRequest",
      "description": "Request message for WidgetService.GenerateChatToken."
    },
    "WebSearchQuery": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI to the Google Search results page for the query."
        },
        "query": {
          "type": "string",
          "description": "The search query text."
        }
      },
      "type": "object",
      "id": "WebSearchQuery",
      "description": "Represents a single web search query and its associated search uri."
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "type": "string",
          "description": "Required. The encoding of the input audio data."
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "type": "integer",
          "format": "int32"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "type": "object",
      "description": "Expectation level metrics thresholds.",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number"
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
    },
    "TimeZoneSettings": {
      "description": "TimeZone settings of the app.",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "id": "TimeZoneSettings",
      "type": "object"
    },
    "EndSession": {
      "id": "EndSession",
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "type": "number",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float"
        }
      }
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "type": "object",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "BigQueryExportSettings": {
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        },
        "project": {
          "description": "Optional. The project ID of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "Optional. The BigQuery dataset to export the data to."
        }
      },
      "id": "BigQueryExportSettings"
    },
    "DataStoreToolModalityConfig": {
      "properties": {
        "groundingConfig": {
          "$ref": "DataStoreToolGroundingConfig",
          "description": "Optional. The grounding configuration."
        },
        "modalityType": {
          "description": "Required. The modality type.",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "type": "string"
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        }
      },
      "id": "DataStoreToolModalityConfig",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "type": "object"
    },
    "ClientCertificateSettings": {
      "id": "ClientCertificateSettings",
      "type": "object",
      "properties": {
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "passphrase": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "description": "Settings for custom client certificates."
    },
    "ChannelProfilePersonaProperty": {
      "id": "ChannelProfilePersonaProperty",
      "type": "object",
      "properties": {
        "persona": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "description": "Optional. The persona of the channel.",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ]
        }
      },
      "description": "Represents the persona property of a channel."
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "type": "array",
          "description": "The list of tools that are included in the specified toolset.",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "type": "object",
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools."
    },
    "ChannelProfileWebWidgetConfig": {
      "type": "object",
      "properties": {
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "modality": {
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input."
          ],
          "description": "Optional. The modality of the web widget.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY"
          ]
        },
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "description": "Optional. The theme of the web widget.",
          "type": "string",
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ]
        }
      },
      "id": "ChannelProfileWebWidgetConfig",
      "description": "Message for configuration for the web widget."
    },
    "CitationsCitedChunk": {
      "description": "Piece of cited information.",
      "type": "object",
      "id": "CitationsCitedChunk",
      "properties": {
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Text used for citation."
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "properties": {
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        }
      },
      "type": "object",
      "description": "Settings for golden evaluations."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "Guardrail": {
      "id": "Guardrail",
      "type": "object",
      "properties": {
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was created."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        }
      },
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "AppVariableDeclaration": {
      "description": "Defines the structure and metadata for a variable.",
      "type": "object",
      "id": "AppVariableDeclaration",
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the variable."
        }
      }
    },
    "DataStoreConnectorConfig": {
      "type": "object",
      "properties": {
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        },
        "collection": {
          "type": "string",
          "description": "Resource name of the collection the data store belongs to."
        }
      },
      "description": "The connector config for the data store connection.",
      "id": "DataStoreConnectorConfig"
    },
    "ListConversationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "conversations": {
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          },
          "type": "array"
        }
      },
      "description": "Response message for AgentService.ListConversations.",
      "id": "ListConversationsResponse",
      "type": "object"
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "properties": {
        "fallbackAction": {
          "type": "string",
          "description": "Optional. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation."
        },
        "enableMultilingualSupport": {
          "type": "boolean",
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input."
        },
        "defaultLanguageCode": {
          "type": "string",
          "description": "Optional. The default language code of the app."
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        }
      },
      "description": "Language settings of the app.",
      "type": "object"
    },
    "Toolset": {
      "id": "Toolset",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the toolset was last updated."
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tools behavior in fake mode."
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        },
        "executionType": {
          "description": "Optional. The execution type of the tools in the toolset.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string"
        },
        "connectorToolset": {
          "$ref": "ConnectorToolset",
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the toolset was created."
        },
        "etag": {
          "type": "string",
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "openApiToolset": {
          "$ref": "OpenApiToolset",
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        }
      },
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "type": "object"
    },
    "PythonFunction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring."
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PythonFunction",
      "description": "A Python function tool."
    },
    "TransferRuleDisablePlannerTransfer": {
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      },
      "id": "TransferRuleDisablePlannerTransfer",
      "type": "object"
    },
    "RedactionConfig": {
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        }
      },
      "id": "RedactionConfig",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "type": "object"
    },
    "Event": {
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        }
      },
      "type": "object",
      "id": "Event",
      "description": "Event input."
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps.",
      "properties": {
        "apps": {
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "McpTool": {
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "id": "McpTool",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the MCP tool.",
          "type": "string"
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the input arguments of the MCP tool."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        }
      }
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "properties": {
        "endUserMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        }
      },
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object"
    },
    "GuardrailModelSafety": {
      "type": "object",
      "properties": {
        "safetySettings": {
          "description": "Required. List of safety settings.",
          "type": "array",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          }
        }
      },
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "id": "GuardrailModelSafety"
    },
    "SecuritySettings": {
      "properties": {
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the security settings.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of the security settings.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag of the security settings."
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        }
      },
      "description": "Project/Location level security settings for CES.",
      "id": "SecuritySettings",
      "type": "object"
    },
    "GuardrailCodeCallback": {
      "type": "object",
      "id": "GuardrailCodeCallback",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "properties": {
        "beforeModelCallback": {
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      }
    },
    "RestoreAppVersionRequest": {
      "properties": {},
      "id": "RestoreAppVersionRequest",
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion"
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object",
      "properties": {
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double"
        }
      }
    },
    "LoggingSettings": {
      "description": "Settings to describe the logging behaviors for the app.",
      "id": "LoggingSettings",
      "type": "object",
      "properties": {
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "cloudLoggingSettings": {
          "$ref": "CloudLoggingSettings",
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app."
        },
        "bigqueryExportSettings": {
          "$ref": "BigQueryExportSettings",
          "description": "Optional. Settings to describe the BigQuery export behaviors for the app. The conversation data will be exported to BigQuery tables if it is enabled."
        },
        "metricAnalysisSettings": {
          "$ref": "MetricAnalysisSettings",
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "audioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded.",
          "$ref": "AudioRecordingConfig"
        },
        "conversationLoggingSettings": {
          "$ref": "ConversationLoggingSettings",
          "description": "Optional. Settings to describe the conversation logging behaviors for the app."
        }
      }
    },
    "OmnichannelOperationMetadata": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true
        }
      },
      "id": "OmnichannelOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ToolCall": {
      "properties": {
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute."
        },
        "displayName": {
          "description": "Output only. Display name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse."
        }
      },
      "type": "object",
      "description": "Request for the client or the agent to execute the specified tool.",
      "id": "ToolCall"
    },
    "Image": {
      "description": "Represents an image input or output in the conversation.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the image.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "Image"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "type": "object",
      "properties": {
        "extraToolCallBehavior": {
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL."
        }
      },
      "description": "Settings for matching tool calls.",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings"
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "properties": {
        "goldenEvaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
          "description": "Optional. The golden evaluation metrics thresholds."
        },
        "scenarioHallucinationMetricBehavior": {
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. The hallucination metric behavior for scenario evaluations."
        },
        "goldenHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "hallucinationMetricBehavior": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string",
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations."
        }
      },
      "type": "object",
      "description": "Threshold settings for metrics in an Evaluation."
    },
    "Message": {
      "description": "A message within a conversation.",
      "properties": {
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "format": "google-datetime",
          "type": "string"
        },
        "chunks": {
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          },
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Optional. The role within the conversation, e.g., user, agent."
        }
      },
      "id": "Message",
      "type": "object"
    },
    "DataStoreSettingsEngine": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the engine.",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        }
      },
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "id": "DataStoreSettingsEngine"
    },
    "DataStoreToolGroundingConfig": {
      "properties": {
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        },
        "groundingLevel": {
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Grounding configuration.",
      "id": "DataStoreToolGroundingConfig"
    },
    "DataStoreToolEngineSource": {
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "type": "object",
      "id": "DataStoreToolEngineSource",
      "properties": {
        "dataStoreSources": {
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "type": "array"
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "AudioProcessingConfig": {
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "id": "AudioProcessingConfig",
      "properties": {
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "inactivityTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement."
        },
        "synthesizeSpeechConfigs": {
          "type": "object",
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        }
      },
      "type": "object"
    },
    "Citations": {
      "type": "object",
      "id": "Citations",
      "description": "Citations associated with the agent response.",
      "properties": {
        "citedChunks": {
          "description": "List of cited pieces of information.",
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          }
        }
      }
    },
    "Span": {
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. The start time of the span.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The duration of the span.",
          "readOnly": true
        },
        "childSpans": {
          "type": "array",
          "description": "Output only. The child spans that are nested under this span.",
          "items": {
            "$ref": "Span"
          },
          "readOnly": true
        },
        "attributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the span."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The end time of the span."
        }
      }
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "type": "object",
      "description": "Configuration for how the user barge-in activities should be handled.",
      "properties": {
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        },
        "disableBargeIn": {
          "description": "Optional. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile.",
          "type": "boolean",
          "deprecated": true
        }
      }
    },
    "ExecuteToolRequest": {
      "type": "object",
      "properties": {
        "context": {
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "variables": {
          "description": "Optional. The variables that are available for the tool execution.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "ExecuteToolRequest",
      "description": "Request message for ToolService.ExecuteTool."
    },
    "GuardrailLlmPromptSecurity": {
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "properties": {
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        }
      },
      "id": "GuardrailLlmPromptSecurity",
      "type": "object"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "type": "object",
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "description": "Oauth 2.0 Authorization Code authentication configuration."
    },
    "OmnichannelIntegrationConfigWhatsappConfig": {
      "properties": {
        "phoneNumber": {
          "description": "The phone number used for sending/receiving messages.",
          "type": "string"
        },
        "metaBusinessPortfolioId": {
          "type": "string",
          "description": "The Meta Business Portfolio (MBP) ID. https://www.facebook.com/business/help/1710077379203657"
        },
        "phoneNumberId": {
          "description": "The Phone Number ID associated with the WhatsApp Business Account.",
          "type": "string"
        },
        "whatsappBusinessAccountId": {
          "description": "The customer's WhatsApp Business Account (WABA) ID.",
          "type": "string"
        },
        "whatsappBusinessToken": {
          "type": "string",
          "description": "The access token for authenticating API calls to the WhatsApp Cloud API. https://developers.facebook.com/docs/whatsapp/business-management-api/get-started/#business-integration-system-user-access-tokens"
        },
        "webhookVerifyToken": {
          "description": "The verify token configured in the Meta App Dashboard for webhook verification.",
          "type": "string"
        }
      },
      "description": "How Omnichannel should receive/reply events from WhatsApp.",
      "id": "OmnichannelIntegrationConfigWhatsappConfig",
      "type": "object"
    },
    "RunSessionResponse": {
      "description": "Response message for SessionService.RunSession.",
      "id": "RunSessionResponse",
      "properties": {
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "SessionOutput"
          },
          "description": "Outputs for the session."
        }
      },
      "type": "object"
    },
    "ToolResponses": {
      "description": "Execution results for the requested tool calls from the client.",
      "properties": {
        "toolResponses": {
          "items": {
            "$ref": "ToolResponse"
          },
          "description": "Optional. The list of tool execution results.",
          "type": "array"
        }
      },
      "id": "ToolResponses",
      "type": "object"
    },
    "Chunk": {
      "id": "Chunk",
      "type": "object",
      "description": "A chunk of content within a message.",
      "properties": {
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "defaultVariables": {
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "payload": {
          "description": "Optional. Custom payload data.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Agent transfer event."
        },
        "updatedVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names."
        },
        "toolResponse": {
          "description": "Optional. Tool execution response.",
          "$ref": "ToolResponse"
        },
        "transcript": {
          "type": "string",
          "description": "Optional. Transcript associated with the audio."
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        }
      }
    },
    "ServiceAccountAuthConfig": {
      "description": "Configurations for authentication using a custom service account.",
      "id": "ServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TlsConfig": {
      "type": "object",
      "description": "The TLS configuration.",
      "properties": {
        "caCerts": {
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          },
          "type": "array"
        }
      },
      "id": "TlsConfig"
    },
    "WidgetToolDataMapping": {
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "description": "Optional. The mode of the data mapping."
        },
        "pythonScript": {
          "description": "Optional. A Python script used to transform the source tool's output into the widget's input format. This is used when the mapping is too complex for simple field mappings.",
          "type": "string"
        },
        "fieldMappings": {
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        }
      },
      "type": "object",
      "id": "WidgetToolDataMapping",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters."
    },
    "DataStoreToolRewriterConfig": {
      "properties": {
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the rewriter is disabled."
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "description": "Rewriter configuration.",
      "type": "object",
      "id": "DataStoreToolRewriterConfig"
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "description": "Configuration for default system security settings.",
      "properties": {
        "defaultPromptTemplate": {
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true
        }
      },
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "description": "Response message for AgentService.ListDeployments.",
      "type": "object",
      "id": "ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments.",
          "type": "array"
        }
      }
    },
    "TransferRule": {
      "type": "object",
      "properties": {
        "disablePlannerTransfer": {
          "$ref": "TransferRuleDisablePlannerTransfer",
          "description": "Optional. Rule that prevents the planner from transferring to the target agent."
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        },
        "direction": {
          "description": "Required. The direction of the transfer.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ]
        }
      },
      "description": "Rule for transferring to a specific agent.",
      "id": "TransferRule"
    },
    "SessionConfig": {
      "type": "object",
      "properties": {
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "historicalContexts": {
          "type": "array",
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "items": {
            "$ref": "Message"
          }
[...]
