{
  "version_module": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "id": "checks:v1alpha",
  "schemas": {
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails": {
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "Endpoint the data type was sent to.",
          "$ref": "GoogleChecksReportV1alphaEndpoint"
        }
      },
      "description": "Details of the endpoint the data type was sent to."
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails": {
      "description": "Details of the permission in violation.",
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails",
      "type": "object",
      "properties": {
        "permission": {
          "$ref": "GoogleChecksReportV1alphaPermission",
          "description": "The permission in violation."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleChecksReportV1alphaDataMonitoringEndpointResult": {
      "description": "Information about an endpoint that was contacted by your app.",
      "id": "GoogleChecksReportV1alphaDataMonitoringEndpointResult",
      "type": "object",
      "properties": {
        "hitCount": {
          "description": "The number of times this endpoint was contacted by your app.",
          "format": "int32",
          "type": "integer"
        },
        "metadata": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
          "description": "Metadata about the result."
        },
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "The endpoint that was contacted by your app."
        }
      }
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent": {
      "description": "Content to be classified.",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent",
      "type": "object",
      "properties": {
        "textInput": {
          "$ref": "GoogleChecksAisafetyV1alphaTextInput",
          "description": "Content in text format."
        }
      }
    },
    "GoogleChecksAccountV1alphaListAppsResponse": {
      "description": "The response message for AccountService.ListApps.",
      "id": "GoogleChecksAccountV1alphaListAppsResponse",
      "type": "object",
      "properties": {
        "apps": {
          "description": "The apps.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksAccountV1alphaApp"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringPermissionResult": {
      "description": "Information about a permission that was found in your app.",
      "id": "GoogleChecksReportV1alphaDataMonitoringPermissionResult",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        },
        "permission": {
          "$ref": "GoogleChecksReportV1alphaPermission",
          "description": "The permission that was found in your app."
        }
      }
    },
    "GoogleChecksAisafetyV1alphaClassifyContentResponse": {
      "description": "Response proto for ClassifyContent RPC.",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentResponse",
      "type": "object",
      "properties": {
        "policyResults": {
          "description": "Results of the classification for each policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult"
          }
        }
      }
    },
    "GoogleChecksReportV1alphaPolicyFragment": {
      "id": "GoogleChecksReportV1alphaPolicyFragment",
      "type": "object",
      "properties": {
        "sourceUri": {
          "type": "string",
          "description": "Policy URL."
        },
        "htmlContent": {
          "description": "HTML content.",
          "type": "string"
        }
      },
      "description": "Information about a policy fragment."
    },
    "GoogleChecksRepoScanV1alphaSource": {
      "description": "Represents a data source finding.",
      "id": "GoogleChecksRepoScanV1alphaSource",
      "type": "object",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "type": "string",
          "description": "Required. Data type.",
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ]
        },
        "codeAttribution": {
          "$ref": "GoogleChecksRepoScanV1alphaCodeAttribution",
          "description": "Optional. Source code attribution for the finding."
        },
        "falsePositive": {
          "description": "Optional. Whether the finding was marked as a false positive.",
          "type": "boolean"
        }
      }
    },
    "WaitOperationRequest": {
      "description": "The request message for Operations.WaitOperation.",
      "id": "WaitOperationRequest",
      "type": "object",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringSdkResult": {
      "id": "GoogleChecksReportV1alphaDataMonitoringSdkResult",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
          "description": "Metadata about the result."
        },
        "sdk": {
          "description": "The SDK that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        }
      },
      "description": "Information about an SDK that was found in your app."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GoogleChecksRepoScanV1alphaRepoScan": {
      "id": "GoogleChecksRepoScanV1alphaRepoScan",
      "type": "object",
      "properties": {
        "cliVersion": {
          "description": "CLI version.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the scan.",
          "type": "string"
        },
        "localScanPath": {
          "type": "string",
          "description": "Local scan path."
        },
        "sources": {
          "description": "Data sources detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaSource"
          }
        },
        "scmMetadata": {
          "description": "SCM metadata.",
          "$ref": "GoogleChecksRepoScanV1alphaScmMetadata"
        },
        "resultsUri": {
          "description": "A URL to view results.",
          "type": "string"
        }
      },
      "description": "Repo scan."
    },
    "GoogleChecksReportV1alphaListReportsResponse": {
      "id": "GoogleChecksReportV1alphaListReportsResponse",
      "type": "object",
      "properties": {
        "reports": {
          "description": "The reports for the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaReport"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response message for ReportService.ListReports."
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestContext": {
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestContext",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Optional. Prompt that generated the model response.",
          "type": "string"
        }
      },
      "description": "Context about the input that will be used to help on the classification."
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence": {
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence",
      "type": "object",
      "properties": {
        "permissionDetails": {
          "description": "Permissions in violation.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails"
          }
        }
      },
      "description": "Evidence collected from permission restriction violation analysis."
    },
    "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence": {
      "id": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence",
      "type": "object",
      "properties": {
        "endpointDetails": {
          "description": "Endpoints in violation.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails"
          }
        }
      },
      "description": "Evidence collected from endpoint restriction violation analysis."
    },
    "GoogleChecksReportV1alphaAnalyzeUploadRequest": {
      "id": "GoogleChecksReportV1alphaAnalyzeUploadRequest",
      "type": "object",
      "properties": {
        "appBinaryFileType": {
          "description": "Optional. The type of the uploaded app binary. If not provided, the server assumes APK file for Android and IPA file for iOS.",
          "enumDescriptions": [
            "Not specified.",
            ".apk file type.",
            ".aab (app bundle) file type.",
            ".ipa file type."
          ],
          "type": "string",
          "enum": [
            "APP_BINARY_FILE_TYPE_UNSPECIFIED",
            "ANDROID_APK",
            "ANDROID_AAB",
            "IOS_IPA"
          ]
        },
        "codeReferenceId": {
          "type": "string",
          "description": "Optional. Git commit hash or changelist number associated with the upload."
        }
      },
      "description": "The request message for ReportService.AnalyzeUpload."
    },
    "GoogleChecksReportV1alphaCheckEvidence": {
      "id": "GoogleChecksReportV1alphaCheckEvidence",
      "type": "object",
      "properties": {
        "privacyPolicyTexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence"
          },
          "description": "Evidence collected from your privacy policy(s)."
        },
        "endpoints": {
          "description": "Evidence concerning endpoints that were contacted by your app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointEvidence"
          }
        },
        "dataTypes": {
          "description": "Evidence concerning data types found in your app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataTypeEvidence"
          }
        },
        "permissionRestrictionViolations": {
          "description": "Evidence collected from permission restriction violation analysis.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence"
          }
        },
        "sdkRestrictionViolations": {
          "description": "Evidence collected from SDK restriction violation analysis.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence"
          }
        },
        "endpointRestrictionViolations": {
          "description": "Evidence collected from endpoint restriction violation analysis.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence"
          }
        },
        "sdks": {
          "description": "Evidence concerning SDKs that were found in your app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkEvidence"
          }
        },
        "dataSecurity": {
          "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidence",
          "description": "Evidence concerning data security."
        },
        "permissions": {
          "description": "Evidence concerning permissions that were found in your app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionEvidence"
          }
        },
        "sdkIssues": {
          "description": "Evidence concerning SDK issues.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkIssueEvidence"
          }
        }
      },
      "description": "Evidence for a check."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidence": {
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidence",
      "type": "object",
      "properties": {
        "dataInTransitInfo": {
          "description": "Evidence related to data in transit.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo"
          }
        }
      },
      "description": "Evidence concerning data security."
    },
    "GoogleChecksRepoScanV1alphaListRepoScansResponse": {
      "description": "The response message for RepoScanService.ListRepoScans.",
      "id": "GoogleChecksRepoScanV1alphaListRepoScansResponse",
      "type": "object",
      "properties": {
        "repoScans": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaRepoScan"
          },
          "description": "The repo scans for the specified app."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckSdkIssueEvidence": {
      "description": "Evidence concerning an SDK issue.",
      "id": "GoogleChecksReportV1alphaCheckSdkIssueEvidence",
      "type": "object",
      "properties": {
        "sdk": {
          "description": "The SDK with an issue.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        },
        "sdkVersion": {
          "type": "string",
          "description": "The SDK version."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails": {
      "description": "Details of the endpoint in violation.",
      "id": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails",
      "type": "object",
      "properties": {
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "The endpoint in violation."
        }
      }
    },
    "GoogleChecksRepoScanV1alphaGenerateScanRequest": {
      "id": "GoogleChecksRepoScanV1alphaGenerateScanRequest",
      "type": "object",
      "properties": {
        "cliVersion": {
          "type": "string",
          "description": "Required. CLI version."
        },
        "scmMetadata": {
          "description": "Required. SCM metadata.",
          "$ref": "GoogleChecksRepoScanV1alphaScmMetadata"
        },
        "cliAnalysis": {
          "$ref": "GoogleChecksRepoScanV1alphaCliAnalysis",
          "description": "Required. CLI analysis results."
        },
        "localScanPath": {
          "type": "string",
          "description": "Required. Local scan path."
        }
      },
      "description": "The request message for RepoScanService.GenerateScan."
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo": {
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URL contacted by your app. This includes the protocol, domain, and URL parameters.",
          "type": "string"
        }
      },
      "description": "Evidence related to data in transit detected in your app."
    },
    "GoogleChecksAccountV1alphaApp": {
      "id": "GoogleChecksAccountV1alphaApp",
      "type": "object",
      "properties": {
        "title": {
          "description": "The app's title.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the app. Example: `accounts/123/apps/456`",
          "type": "string"
        }
      },
      "description": "Represents an app in Checks."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringResultMetadata": {
      "description": "Information about a data monitoring result.",
      "id": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
      "type": "object",
      "properties": {
        "lastDetectedTime": {
          "description": "The timestamp when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastDetectedAppVersion": {
          "description": "Your app's version name when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "type": "string"
        },
        "firstDetectedTime": {
          "description": "The timestamp when this result was first detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "format": "google-datetime",
          "type": "string"
        },
        "badges": {
          "description": "Badges that apply to this result.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "Indicates a newly detected result in the data monitoring report."
            ],
            "type": "string",
            "enum": [
              "DATA_MONITORING_RESULT_BADGE_UNSPECIFIED",
              "NEW"
            ]
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleChecksRepoScanV1alphaScmMetadata": {
      "description": "SCM metadata.",
      "id": "GoogleChecksRepoScanV1alphaScmMetadata",
      "type": "object",
      "properties": {
        "revisionId": {
          "description": "Required. Revision ID, e.g. Git commit hash.",
          "type": "string"
        },
        "pullRequest": {
          "$ref": "GoogleChecksRepoScanV1alphaPullRequest",
          "description": "Optional. Contains info about the associated pull request. This is only populated for pull request scans."
        },
        "branch": {
          "description": "Required. Branch name.",
          "type": "string"
        },
        "remoteUri": {
          "type": "string",
          "description": "Required. Git remote URL."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckEndpointEvidence": {
      "description": "Evidence concerning an endpoint that was contacted by your app.",
      "id": "GoogleChecksReportV1alphaCheckEndpointEvidence",
      "type": "object",
      "properties": {
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "The endpoint that was contacted by your app."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckDataTypeEvidence": {
      "id": "GoogleChecksReportV1alphaCheckDataTypeEvidence",
      "type": "object",
      "properties": {
        "dataType": {
          "description": "The data type that was found in your app.",
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ]
        },
        "dataTypeEvidence": {
          "description": "Evidence collected about the data type.",
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence"
        }
      },
      "description": "Evidence concerning a data type that was found in your app."
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidence": {
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidence",
      "type": "object",
      "properties": {
        "endpointDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails"
          },
          "description": "Endpoints the data type was sent to."
        },
        "attributedSdks": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk"
          },
          "description": "Set of SDKs that are attributed to the exfiltration."
        },
        "exfiltratedDataType": {
          "type": "string",
          "description": "Type of data that was exfiltrated.",
          "enumDescriptions": [
            "Not specified.",
            "The user's phone number.",
            "The user's precise location.",
            "Name of one or more contacts from the user's phone.",
            "Email of one or more contacts from the user's phone.",
            "Phone number of one or more contacts from the user's phone.",
            "Phone number of an incoming text message.",
            "Content of an incoming text message.",
            "Phone number of an outgoing text message.",
            "Content of an outgoing text message.",
            "Advertising ID.",
            "Android ID.",
            "IMEI.",
            "IMSI.",
            "Sim serial number.",
            "SSID: Service Set IDentifier, i.e. the network's name.",
            "Information about the main account of the device.",
            "Information about an external account, e.g. Facebook, Twitter.",
            "One or more of the package names of apps on the device."
          ],
          "enum": [
            "EXFILTRATED_DATA_TYPE_UNSPECIFIED",
            "EXFILTRATED_DATA_TYPE_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_PRECISE_LOCATION",
            "EXFILTRATED_DATA_TYPE_CONTACT_NAME",
            "EXFILTRATED_DATA_TYPE_CONTACT_EMAIL",
            "EXFILTRATED_DATA_TYPE_CONTACT_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_ADVERTISING_ID",
            "EXFILTRATED_DATA_TYPE_ANDROID_ID",
            "EXFILTRATED_DATA_TYPE_IMEI",
            "EXFILTRATED_DATA_TYPE_IMSI",
            "EXFILTRATED_DATA_TYPE_SIM_SERIAL_NUMBER",
            "EXFILTRATED_DATA_TYPE_SSID",
            "EXFILTRATED_DATA_TYPE_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_EXTERNAL_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_INSTALLED_PACKAGES"
          ]
        }
      },
      "description": "Evidence based on an endpoint that data was sent to."
    },
    "GoogleChecksRepoScanV1alphaPullRequest": {
      "id": "GoogleChecksRepoScanV1alphaPullRequest",
      "type": "object",
      "properties": {
        "baseBranch": {
          "description": "Required. For PR analysis, we compare against the most recent scan of the base branch to highlight new issues.",
          "type": "string"
        },
        "prNumber": {
          "type": "string",
          "description": "Required. This can be supplied by the user or parsed automatically from predefined CI environment variables."
        }
      },
      "description": "Pull request info."
    },
    "GoogleChecksReportV1alphaDataTypeEvidence": {
      "id": "GoogleChecksReportV1alphaDataTypeEvidence",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "List of included permissions that imply collection of the data type.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePermissionEvidence"
          }
        },
        "endpoints": {
          "description": "List of endpoints the data type was sent to.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidence"
          }
        },
        "privacyPolicyTexts": {
          "description": "List of privacy policy texts that imply collection of the data type.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence"
          }
        }
      },
      "description": "Evidence collected about a data type."
    },
    "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence": {
      "description": "Evidence collected from your privacy policy(s).",
      "id": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence",
      "type": "object",
      "properties": {
        "policyFragment": {
          "$ref": "GoogleChecksReportV1alphaPolicyFragment",
          "description": "The privacy policy fragment that was used during the check."
        }
      }
    },
    "GoogleChecksRepoScanV1alphaCodeScan": {
      "id": "GoogleChecksRepoScanV1alphaCodeScan",
      "type": "object",
      "properties": {
        "dataTypeClassifications": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification"
          },
          "description": "Optional. Data type classification requests."
        },
        "sourceCode": {
          "description": "Required. Source code to analyze.",
          "$ref": "GoogleChecksRepoScanV1alphaSourceCode"
        }
      },
      "description": "A requested analysis of source code. Contains the source code and processing state."
    },
    "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult": {
      "description": "Result for one policy against the corresponding input.",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentResponsePolicyResult",
      "type": "object",
      "properties": {
        "policyType": {
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "PII_SOLICITING_RECITING",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT",
            "HATE_SPEECH",
            "MEDICAL_INFO",
            "VIOLENCE_AND_GORE",
            "OBSCENITY_AND_PROFANITY"
          ],
          "description": "Type of the policy.",
          "enumDescriptions": [
            "Default.",
            "The model facilitates, promotes or enables access to harmful goods, services, and activities.",
            "The model reveals an individual’s personal information and data.",
            "The model generates content that is malicious, intimidating, bullying, or abusive towards another individual.",
            "The model generates content that is sexually explicit in nature.",
            "The model promotes violence, hatred, discrimination on the basis of race, religion, etc.",
            "The model provides or offers to facilitate access to medical advice or guidance.",
            "The model generates content that contains gratuitous, realistic descriptions of violence or gore.",
            "The model generates profanity and obscenities."
          ],
          "type": "string"
        },
        "score": {
          "description": "Final score for the results of this policy.",
          "format": "float",
          "type": "number"
        },
        "violationResult": {
          "description": "Result of the classification for the policy.",
          "enumDescriptions": [
            "Unspecified result.",
            "The final score is greater or equal the input score threshold.",
            "The final score is smaller than the input score threshold.",
            "There was an error and the violation result could not be determined."
          ],
          "type": "string",
          "enum": [
            "VIOLATION_RESULT_UNSPECIFIED",
            "VIOLATIVE",
            "NON_VIOLATIVE",
            "CLASSIFICATION_ERROR"
          ]
        }
      }
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig": {
      "description": "List of policies to classify against.",
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig",
      "type": "object",
      "properties": {
        "threshold": {
          "type": "number",
          "description": "Optional. Score threshold to use when deciding if the content is violative or non-violative. If not specified, the default 0.5 threshold for the policy will be used.",
          "format": "float"
        },
        "policyType": {
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "PII_SOLICITING_RECITING",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT",
            "HATE_SPEECH",
            "MEDICAL_INFO",
            "VIOLENCE_AND_GORE",
            "OBSCENITY_AND_PROFANITY"
          ],
          "description": "Required. Type of the policy.",
          "enumDescriptions": [
            "Default.",
            "The model facilitates, promotes or enables access to harmful goods, services, and activities.",
            "The model reveals an individual’s personal information and data.",
            "The model generates content that is malicious, intimidating, bullying, or abusive towards another individual.",
            "The model generates content that is sexually explicit in nature.",
            "The model promotes violence, hatred, discrimination on the basis of race, religion, etc.",
            "The model provides or offers to facilitate access to medical advice or guidance.",
            "The model generates content that contains gratuitous, realistic descriptions of violence or gore.",
            "The model generates profanity and obscenities."
          ],
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckPermissionEvidence": {
      "id": "GoogleChecksReportV1alphaCheckPermissionEvidence",
      "type": "object",
      "properties": {
        "permission": {
          "description": "The permission that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "description": "Evidence concerning a permission that was found in your app."
    },
    "GoogleChecksReportV1alphaEndpoint": {
      "id": "GoogleChecksReportV1alphaEndpoint",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Domain name (e.g. ads.google.com).",
          "type": "string"
        }
      },
      "description": "Information about an endpoint."
    },
    "GoogleChecksReportV1alphaCheck": {
      "description": "A check that was run on your app.",
      "id": "GoogleChecksReportV1alphaCheck",
      "type": "object",
      "properties": {
        "regionCodes": {
          "description": "Regions that are impacted by the check. For more info, see https://google.aip.dev/143#countries-and-regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "enum": [
            "CHECK_SEVERITY_UNSPECIFIED",
            "PRIORITY",
            "POTENTIAL",
            "OPPORTUNITY"
          ],
          "type": "string",
          "description": "The urgency or risk level of the check.",
          "enumDescriptions": [
            "Not specified.",
            "Important privacy issue.",
            "Potential privacy issue.",
            "Opportunity to improve privacy coverage."
          ]
        },
        "stateMetadata": {
          "$ref": "GoogleChecksReportV1alphaCheckStateMetadata",
          "description": "Additional information about the check state in relation to past reports."
        },
        "state": {
          "type": "string",
          "description": "The result after running the check.",
          "enumDescriptions": [
            "Not specified.",
            "The check passed.",
            "The check failed.",
            "The check was not run."
          ],
          "enum": [
            "CHECK_STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "UNCHECKED"
          ]
        },
        "evidence": {
          "$ref": "GoogleChecksReportV1alphaCheckEvidence",
          "description": "Evidence that substantiates the check result."
        },
        "type": {
          "enum": [
            "CHECK_TYPE_UNSPECIFIED",
            "STORE_LISTING_PRIVACY_POLICY_LINK_PRESENT",
            "PRIVACY_POLICY_UPDATE_DATE_RECENT",
            "PRIVACY_POLICY_GDPR_GENERAL_RULES",
            "PRIVACY_POLICY_CCPA_GENERAL_RULES",
            "PRIVACY_POLICY_COLLECTION_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_PROCESSING_PURPOSE_DATA_NOTICE",
            "PRIVACY_POLICY_SHARING_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_DATA_RETENTION_NOTICE",
            "PRIVACY_POLICY_CONTACT_DETAILS_NOTICE",
            "PRIVACY_POLICY_CHILDREN_GENERAL_RULES",
            "PRIVACY_POLICY_DATA_TYPE_PHONE_NUMBER",
            "PRIVACY_POLICY_DATA_TYPE_USER_ACCOUNT_INFO",
            "PRIVACY_POLICY_DATA_TYPE_PRECISE_LOCATION",
            "PRIVACY_POLICY_DATA_TYPE_DEVICE_ID",
            "PRIVACY_POLICY_DATA_TYPE_APPS_ON_DEVICE",
            "PRIVACY_POLICY_DATA_TYPE_CONTACTS",
            "PRIVACY_POLICY_DATA_TYPE_TEXT_MESSAGES",
            "PRIVACY_POLICY_DATA_TYPE_PII",
            "PRIVACY_POLICY_DATA_TYPE_PII_CATEGORIES",
            "PRIVACY_POLICY_DATA_TYPE_HEALTH_AND_BIOMETRIC",
            "PRIVACY_POLICY_BRAZIL_LGPD_GENERAL_RULES",
            "PRIVACY_POLICY_VIRGINIA_VCDPA_GENERAL_RULES",
            "PRIVACY_POLICY_AFFILIATION_MENTION",
            "PRIVACY_POLICY_RIGHT_TO_DELETE_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_ACCESS_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_RECTIFICATION_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SELLING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SHARING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_OPT_OUT_FROM_SELLING_NOTICE",
            "PRIVACY_POLICY_METHOD_TO_OPT_OUT_FROM_SELLING_OR_SHARING_NOTICE",
            "PRIVACY_POLICY_DATA_CONTROLLER_IDENTITY",
            "PRIVACY_POLICY_DPO_CONTACT_DETAILS",
            "PRIVACY_POLICY_RIGHT_TO_LODGE_A_COMPLAINT",
            "PRIVACY_POLICY_LEGAL_BASIS",
            "PRIVACY_POLICY_CHILDREN_INFO_COLLECTION",
            "PRIVACY_POLICY_CHILDREN_INFO_USAGE_PURPOSES",
            "PRIVACY_POLICY_CHILDREN_INFO_DISCLOSURE_PRACTICES",
            "PRIVACY_POLICY_CHILDREN_INFO_PUBLICITY",
            "PRIVACY_POLICY_PARENTS_METHOD_OF_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PSL_APPROXIMATE_LOCATION",
            "PRIVACY_POLICY_PSL_PRECISE_LOCATION",
            "PRIVACY_POLICY_PSL_NAME",
            "PRIVACY_POLICY_PSL_EMAIL_ADDRESS",
            "PRIVACY_POLICY_PSL_USER_IDENTIFIERS",
            "PRIVACY_POLICY_PSL_ADDRESS",
            "PRIVACY_POLICY_PSL_PHONE_NUMBER",
            "PRIVACY_POLICY_PSL_RACE_AND_ETHNICITY",
            "PRIVACY_POLICY_PSL_CREDIT_SCORE",
            "PRIVACY_POLICY_PSL_PURCHASE_HISTORY",
            "PRIVACY_POLICY_PSL_HEALTH_INFO",
            "PRIVACY_POLICY_PSL_FITNESS_INFO",
            "PRIVACY_POLICY_PSL_EMAIL_MESSAGES",
            "PRIVACY_POLICY_PSL_TEXT_MESSAGES",
            "PRIVACY_POLICY_PSL_PHOTOS",
            "PRIVACY_POLICY_PSL_VIDEOS",
            "PRIVACY_POLICY_PSL_MUSIC_FILES",
            "PRIVACY_POLICY_PSL_VOICE_OR_SOUND_RECORDINGS",
            "PRIVACY_POLICY_PSL_FILES_AND_DOCS",
            "PRIVACY_POLICY_PSL_CALENDAR_EVENTS",
            "PRIVACY_POLICY_PSL_CONTACTS",
            "PRIVACY_POLICY_PSL_APP_INTERACTIONS",
            "PRIVACY_POLICY_PSL_IN_APP_SEARCH_HISTORY",
            "PRIVACY_POLICY_PSL_WEB_BROWSING_HISTORY",
            "PRIVACY_POLICY_PSL_INSTALLED_APPS",
            "PRIVACY_POLICY_PSL_CRASH_LOGS",
            "PRIVACY_POLICY_PSL_DIAGNOSTICS",
            "PRIVACY_POLICY_PSL_DEVICE_OR_OTHER_IDS",
            "DATA_MONITORING_NEW_ENDPOINT",
            "DATA_MONITORING_NEW_PERMISSION",
            "DATA_MONITORING_NEW_DATA_TYPE",
            "DATA_MONITORING_NEW_SDK",
            "DATA_MONITORING_ENCRYPTION",
            "DATA_MONITORING_NEW_DATA_TYPE_VERSION_DIFF",
            "DATA_MONITORING_NEW_ENDPOINT_VERSION_DIFF",
            "DATA_MONITORING_NEW_PERMISSION_VERSION_DIFF",
            "DATA_MONITORING_NEW_SDK_VERSION_DIFF",
            "DATA_MONITORING_SDKS_DENYLIST_VIOLATION",
            "DATA_MONITORING_PERMISSIONS_DENYLIST_VIOLATION",
            "DATA_MONITORING_ENDPOINTS_DENYLIST_VIOLATION",
            "DATA_MONITORING_OUTDATED_SDK_VERSION",
            "DATA_MONITORING_CRITICAL_SDK_ISSUE",
            "PRIVACY_POLICY_DATA_TYPE_SENSITIVE_INFO",
            "DATA_MONITORING_PII_LOGCAT_LEAK",
            "DATA_MONITORING_MINIMIZE_PERMISSION_MEDIA",
            "DATA_MONITORING_MINIMIZE_PERMISSION_CAMERA",
            "DATA_MONITORING_MINIMIZE_PERMISSION_DOCUMENTS"
          ],
          "description": "The type of check that was run. A type will only appear once in a report's list of checks.",
          "enumDescriptions": [
            "Not specified.",
            "Checks that your store listing includes a working link to your privacy policy.",
            "Checks that your privacy policy has been updated recently.",
            "Checks if your privacy policy references rights under GDPR for users in the EU.",
            "Checks if your privacy policy references rights under the CCPA.",
            "Checks if your privacy policy mentions the categories of personal data that are collected.",
            "Checks if your privacy policy explains why personal data is processed.",
            "Checks if your privacy policy includes information about third-party sharing of personal data.",
            "Checks if your privacy policy describes your data retention practices.",
            "Checks if contact information is included in your privacy policy.",
            "Checks if information about requirements related to children is included in your privacy policy.",
            "Checks if the Phone Number data type declaration in your privacy policy matches usage.",
            "Checks if the User Account Info data type declaration in your privacy policy matches usage.",
            "Checks if the Precise Location data type declaration in your privacy policy matches usage.",
            "Checks if the Device ID data type declaration in your privacy policy matches usage.",
            "Checks if the Apps on Device data type declaration in your privacy policy matches usage.",
            "Checks if the Contacts data type declaration in your privacy policy matches usage.",
            "Checks if the Text Messages data type declaration in your privacy policy matches usage.",
            "Checks if the PII data type declaration in your privacy policy matches usage.",
            "Checks if the PII Categories data type declaration in your privacy policy matches usage.",
            "Checks if the Health and Biometric data type declaration in your privacy policy matches usage.",
            "Checks if your privacy policy references rights under LGPD for users in Brazil.",
            "Checks if your privacy policy references rights under VCDPA for users in Virginia.",
            "Checks if your privacy policy identifies your company or app name(s).",
            "Checks if your privacy policy mentions your users' right to delete their data.",
            "Checks if your privacy policy mentions your users' right to access the data held about them.",
            "Checks if your privacy policy mentions your users' right to correct inaccuracies within their data.",
            "Checks if your privacy policy mentions your users' right to know about information selling.",
            "Checks if your privacy policy mentions your users' right to know about information sharing.",
            "Checks if your privacy policy mentions your users' right to opt out from information selling.",
            "Checks if your privacy policy explains how your users opt out from the selling or sharing of their data.",
            "Checks if your privacy policy provides the name and contact information for your data controller.",
            "Checks if your privacy policy provides the name and contact information for your Data Protection Officer.",
            "Checks if your privacy policy mentions your users' right to lodge a complaint with a supervisory authority.",
            "Checks if your privacy policy mentions the legal basis you rely on for processing your users' data.",
            "Checks if your privacy policy mentions what personal information is collected from children.",
            "Checks if your privacy policy mentions why you collect personal information from children.",
            "Checks if your privacy policy mentions what personal information from children is shared with third parties.",
            "Checks if your privacy policy mentions whether your app allows children to make their personal information publicly available.",
            "Checks if your privacy policy mentions how parents/caregivers/guardians can request the deletion of their child's personal information.",
            "Checks if your privacy policy mentions how parents/caregivers/guardians can review their child's personal information.",
            "Checks if your privacy policy explains how a parent/caregiver/guardian can stop the collection/use from their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to request the deletion of their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to review their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to stop collection/use from their child's personal information.",
            "Checks if your privacy policy mentions collection of your users' approximate location if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' precise location if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' personal names if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' email addresses if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' user IDs if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' physical addresses if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' phone numbers if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' race or ethnicity if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' credit score if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' purchase history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' health info if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' fitness info if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' emails if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' text messages if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' photos if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' videos if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' music files if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' voice or sound recordings if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' files or documents if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' calendar events if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' contacts if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' app interactions if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' in-app search history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' web browsing history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' installed apps if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' crash logs if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' performance diagnostics if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' device or other IDs if this data type is declared in your Play Data Safety Section.",
            "Checks if there is a new endpoint we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the endpoint is not detected in the current report.",
            "Checks if there is a new permission we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the permission is not detected in the current report.",
            "Checks if there is a new data type we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the data type is not detected in the current report.",
            "Checks if there is a new SDK we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the SDK is not detected in the current report.",
            "Checks if there is any endpoint contacted using HTTP protocol instead of HTTPS. If no protocol is found in the URL, the endpoint is not considered for analysis.",
            "Checks if new data types have been detected since a specific app version.",
            "Checks if new endpoints have been detected since a specific app version.",
            "Checks if new permissions have been detected since a specific app version.",
            "Checks if new SDKs have been detected since a specific app version.",
            "Checks if any SDKs were detected that are specified in the denylist.",
            "Checks if any permissions were detected that are specified in the denylist.",
            "Checks if any endpoints were detected that are specified in the denylist.",
            "Checks if there are any outdated SDKs.",
            "Checks if there are any SDKs with critical issues.",
            "Checks if the Sensitive Information data type declaration matches usage.",
            "Checks if there were any PII leaked to device logs.",
            "Checks if there are media (photo and video) permissions that are considered sensitive and should be minimized for Android.",
            "Checks if there are camera use permissions that are considered sensitive and should be minimized for Android.",
            "Checks if there are documents and file permissions that are considered sensitive and should be minimized for Android."
          ],
          "type": "string"
        },
        "citations": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckCitation"
          },
          "description": "Regulations and policies that serve as the legal basis for the check."
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoring": {
      "description": "Represents the data monitoring section of the report.",
      "id": "GoogleChecksReportV1alphaDataMonitoring",
      "type": "object",
      "properties": {
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringEndpointResult"
          },
          "description": "Endpoints that were found by dynamic analysis of your app."
        },
        "sdks": {
          "description": "SDKs that your app uses.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringSdkResult"
          }
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringPermissionResult"
          },
          "description": "Permissions that your app uses."
        },
        "dataTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult"
          },
          "description": "Data types that your app shares or collects."
        }
      }
    },
    "GoogleChecksAisafetyV1alphaTextInput": {
      "id": "GoogleChecksAisafetyV1alphaTextInput",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "Optional. Language of the text in ISO 639-1 format. If the language is invalid or not specified, the system will try to detect it.",
          "type": "string"
        },
        "content": {
          "description": "Actual piece of text to be classified.",
          "type": "string"
        }
      },
      "description": "Text input to be classified."
    },
    "GoogleChecksReportV1alphaPermission": {
      "description": "Information about a permission.",
      "id": "GoogleChecksReportV1alphaPermission",
      "type": "object",
      "properties": {
        "id": {
          "description": "Permission identifier.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckStateMetadata": {
      "id": "GoogleChecksReportV1alphaCheckStateMetadata",
      "type": "object",
      "properties": {
        "firstFailingTime": {
          "description": "The time when the check first started failing.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastFailingTime": {
          "type": "string",
          "description": "The last time the check failed.",
          "format": "google-datetime"
        },
        "badges": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "The check is newly failing, i.e. now failing but previously passing.",
              "The check is currently failing and first started failing continuously within the last 28 days.",
              "The check is newly passing, i.e. now passing but previously failing."
            ],
            "type": "string",
            "enum": [
              "CHECK_STATE_BADGE_UNSPECIFIED",
              "NEWLY_FAILING",
              "RECENTLY_FAILING",
              "RESOLVED"
            ]
          },
          "description": "Indicators related to the check state."
        }
      },
      "description": "Additional information about the check state in relation to past reports."
    },
    "GoogleChecksReportV1alphaCheckCitation": {
      "description": "Regulation or policy that serves as the legal basis for the check.",
      "id": "GoogleChecksReportV1alphaCheckCitation",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Citation type.",
          "enumDescriptions": [
            "Not specified.",
            "Children's Online Privacy Protection Act.",
            "General Data Protection Regulation.",
            "Family Educational Rights and Privacy Act.",
            "The California Online Privacy Protection Act.",
            "California Consumer Privacy Act.",
            "Student Online Personal Information Protection Act.",
            "Lei Geral de Proteção de Dados.",
            "California Consumer Privacy Act.",
            "Virginia Consumer Data Protection Act.",
            "Google Play Policy.",
            "App Store Policy.",
            "Colorado Privacy Act.",
            "Connecticut Data Privacy Act.",
            "Utah Consumer Privacy Act.",
            "Personal Information Protection and Electronic Documents Act.",
            "Alberta (Canada) Personal Information Protection Act.",
            "Quebec: Act Respecting the Protection of Personal Information in the Private Sector.",
            "Quebec Bill 64: An Act to Modernize Legislative Provisions as Regards the Protection of Personal Information.",
            "China Personal Information Protection Law.",
            "South Korea Personal Information Protection Act.",
            "South Africa Protection of Personal Information Act.",
            "Japan Act on the Protection of Personal Information.",
            "India: The Digital Personal Data Protection Act, 2023.",
            "Oregon Consumer Privacy Act.",
            "Texas Data Privacy and Security Act.",
            "Montana Consumer Data Privacy Act."
          ],
          "enum": [
            "CITATION_TYPE_UNSPECIFIED",
            "COPPA",
            "GDPR",
            "FERPA",
            "CAL_OPPA",
            "CCPA",
            "SOPIPA",
            "LGPD",
            "CPRA",
            "VCDPA",
            "GOOGLE_PLAY_POLICY",
            "APP_STORE_POLICY",
            "CPA",
            "CTDPA",
            "UCPA",
            "PIPEDA",
            "ALBERTA_PIPA",
            "QUEBEC_ACT",
            "QUEBEC_BILL_64",
            "CHINA_PIPL",
            "SOUTH_KOREA_PIPA",
            "SOUTH_AFRICA_POPIA",
            "JAPAN_APPI",
            "INDIA_DPDPA",
            "OCPA",
            "TDPSA",
            "MCDPA"
          ]
        }
      }
    },
    "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification": {
      "id": "GoogleChecksRepoScanV1alphaCodeScanDataTypeClassification",
      "type": "object",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "description": "Required. Candidate data type.",
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "type": "string"
        },
        "lineNumber": {
          "type": "integer",
          "description": "Required. Line number (1-based).",
          "format": "int32"
        }
      },
      "description": "A request to classify data types."
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk": {
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk",
      "type": "object",
      "properties": {
        "sdk": {
          "description": "SDK that is attributed to the exfiltration.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        }
      },
      "description": "Details of SDK that is attributed to the exfiltration."
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence": {
      "description": "Evidence collected from SDK restriction violation analysis.",
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence",
      "type": "object",
      "properties": {
        "sdkDetails": {
          "description": "SDKs in violation.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails"
          }
        }
      }
    },
    "GoogleChecksRepoScanV1alphaCliAnalysis": {
      "id": "GoogleChecksRepoScanV1alphaCliAnalysis",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaSource"
          },
          "description": "Optional. Data sources detected in the scan."
        },
        "codeScans": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksRepoScanV1alphaCodeScan"
          },
          "description": "Optional. Requested code scans resulting from preliminary CLI analysis."
        }
      },
      "description": "The results of a Code Compliance CLI analysis."
    },
    "GoogleChecksReportV1alphaCheckSdkEvidence": {
      "id": "GoogleChecksReportV1alphaCheckSdkEvidence",
      "type": "object",
      "properties": {
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "The SDK that was found in your app."
        }
      },
      "description": "Evidence conerning an SDK that was found in your app."
    },
    "GoogleChecksAisafetyV1alphaClassifyContentRequest": {
      "id": "GoogleChecksAisafetyV1alphaClassifyContentRequest",
      "type": "object",
      "properties": {
        "classifierVersion": {
          "enum": [
            "CLASSIFIER_VERSION_UNSPECIFIED",
            "STABLE",
            "LATEST"
          ],
          "description": "Optional. Version of the classifier to use. If not specified, the latest version will be used.",
          "enumDescriptions": [
            "Unspecified version.",
            "Stable version.",
            "Latest version."
          ],
          "type": "string"
        },
        "input": {
          "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestInputContent",
          "description": "Required. Content to be classified."
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestPolicyConfig"
          },
          "description": "Required. List of policies to classify against."
        },
        "context": {
          "description": "Optional. Context about the input that will be used to help on the classification.",
          "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequestContext"
        }
      },
      "description": "Request proto for ClassifyContent RPC."
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails": {
      "description": "Details of the SDK in violation.",
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails",
      "type": "object",
      "properties": {
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "The SDK in violation."
        }
      }
    },
    "GoogleChecksReportV1alphaSdk": {
      "id": "GoogleChecksReportV1alphaSdk",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "SDK identifier."
        }
      },
      "description": "Information about an SDK."
    },
    "GoogleChecksRepoScanV1alphaSourceCode": {
      "id": "GoogleChecksRepoScanV1alphaSourceCode",
      "type": "object",
      "properties": {
        "code": {
          "description": "Required. Source code.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Required. Path of the file."
        },
        "endLine": {
          "type": "integer",
          "description": "Required. End line number (1-based).",
          "format": "int32"
        },
        "startLine": {
          "type": "integer",
          "description": "Required. Start line number (1-based).",
          "format": "int32"
        }
      },
      "description": "Contains source code from a repo."
    },
    "GoogleChecksReportV1alphaAppBundle": {
      "id": "GoogleChecksReportV1alphaAppBundle",
      "type": "object",
      "properties": {
        "version": {
          "description": "The user-visible version of the bundle such as the Android `versionName` or iOS `CFBundleShortVersionString`. For example: \"7.21.1\".",
          "type": "string"
        },
        "versionId": {
          "description": "The version used throughout the operating system and store to identify the build such as the Android `versionCode` or iOS `CFBundleVersion`.",
          "type": "string"
        },
        "bundleId": {
          "description": "Unique id of the bundle. For example: \"com.google.Gmail\".",
          "type": "string"
        },
        "releaseType": {
          "description": "Identifies the type of release.",
          "enumDescriptions": [
            "Not specified.",
            "Published production bundle.",
            "Pre-release bundle."
          ],
          "type": "string",
          "enum": [
            "APP_BUNDLE_RELEASE_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRE_RELEASE"
          ]
        },
        "codeReferenceId": {
          "type": "string",
          "description": "Git commit hash or changelist number associated with the release."
        }
      },
      "description": "Information about the analyzed app bundle."
    },
    "GoogleChecksReportV1alphaDataTypePermissionEvidence": {
      "id": "GoogleChecksReportV1alphaDataTypePermissionEvidence",
      "type": "object",
      "properties": {
        "permission": {
          "description": "Permission declared by your app.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "description": "Evidence based on the inclusion of a permission."
    },
    "GoogleChecksRepoScanV1alphaCodeAttribution": {
      "description": "Source code attribution.",
      "id": "GoogleChecksRepoScanV1alphaCodeAttribution",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. Path of the file.",
          "type": "string"
        },
        "lineNumber": {
          "description": "Required. Line number (1-based).",
          "format": "int32",
          "type": "integer"
        },
        "codeExcerpt": {
          "type": "string",
          "description": "Optional. Code excerpt where the source was detected along with surrounding code."
        },
        "startLineNumber": {
          "description": "Optional. Start line number of the code excerpt (1-based).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringDataTypeResult": {
      "description": "Information about a data type that was found in your app.",
      "id": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_OTHER_IN_APP_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "type": "string",
          "description": "The data type that was shared or collected by your app.",
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "Any other types of messages. For example, instant messages or chat content.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ]
        },
        "dataTypeEvidence": {
          "description": "Evidence collected about the data type.",
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence"
        }
      }
    },
    "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence": {
      "id": "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence",
      "type": "object",
      "properties": {
        "policyFragment": {
          "description": "The privacy policy fragment that implies collection of the data type.",
          "$ref": "GoogleChecksReportV1alphaPolicyFragment"
        }
      },
      "description": "Evidence based on information from the privacy policy."
    },
    "GoogleChecksReportV1alphaReport": {
      "id": "GoogleChecksReportV1alphaReport",
      "type": "object",
      "properties": {
        "resultsUri": {
          "type": "string",
          "description": "A URL to view results."
        },
        "dataMonitoring": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoring",
          "description": "Information related to data monitoring."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the report."
        },
        "appBundle": {
          "$ref": "GoogleChecksReportV1alphaAppBundle",
          "description": "Information about the analyzed app bundle."
        },
        "checks": {
          "description": "List of checks that were run on the app bundle.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheck"
          }
        }
      },
      "description": "Privacy report."
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "description": "The Checks API contains powerful and easy-to-use privacy and compliance APIs that interact with the Checks product and its underlying technology.",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Checks Service",
  "resources": {
    "aisafety": {
      "methods": {
        "classifyContent": {
          "parameters": {},
          "description": "Analyze a piece of content with the provided set of policies.",
          "httpMethod": "POST",
          "flatPath": "v1alpha/aisafety:classifyContent",
          "response": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentResponse"
          },
          "id": "checks.aisafety.classifyContent",
          "path": "v1alpha/aisafety:classifyContent",
          "request": {
            "$ref": "GoogleChecksAisafetyV1alphaClassifyContentRequest"
          },
          "parameterOrder": []
        }
      }
    },
    "accounts": {
      "resources": {
        "apps": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/apps",
              "response": {
                "$ref": "GoogleChecksAccountV1alphaListAppsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "checks.accounts.apps.list",
              "path": "v1alpha/{+parent}/apps",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent account. Example: `accounts/123`"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token received from a previous `ListApps` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return. The server may further constrain the maximum number of results returned in a single page. If unspecified, the server will decide the number of results to be returned.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Lists the apps under the given account."
            },
            "get": {
              "description": "Gets an app.",
              "id": "checks.accounts.apps.get",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}",
              "response": {
                "$ref": "GoogleChecksAccountV1alphaApp"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "id": "checks.accounts.apps.operations.wait",
                  "path": "v1alpha/{+name}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to wait on."
                    }
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}:wait",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "list": {
[...]
