{
  "documentationLink": "https://developers.google.com/chrome/management/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "title": "Chrome Management API",
  "version_module": true,
  "version": "v1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        }
      }
    }
  },
  "id": "chromemanagement:v1",
  "canonicalName": "Chrome Management",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "schemas": {
    "GoogleChromeManagementV1BatteryStatusReport": {
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT",
      "properties": {
        "fullChargeCapacity": {
          "readOnly": true,
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "type": "string",
          "format": "int64"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device"
        },
        "batteryHealth": {
          "type": "string",
          "description": "Output only. Battery health.",
          "readOnly": true,
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy, full charge capacity / design capacity > 80%",
            "Battery is moderately unhealthy and suggested to be replaced soon, full charge capacity / design capacity 75% - 80%",
            "Battery is unhealthy and suggested to be replaced, full charge capacity / design capacity < 75%"
          ],
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ]
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery serial number."
        },
        "sample": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "type": "array"
        },
        "cycleCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Cycle count.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "description": "Information of the policies applied on an extension.",
      "properties": {
        "extensionId": {
          "readOnly": true,
          "description": "Output only. ID of the extension.",
          "type": "string"
        },
        "extensionName": {
          "description": "Output only. Name of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "policyData": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "description": "Output only. Information of the policies applied on the extension."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult": {
      "description": "Result of the execution of a command.",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "Output only. Result code that indicates the type of error or success of the command.",
          "readOnly": true
        },
        "clientExecutionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the client execution of the remote command."
        },
        "resultType": {
          "description": "Output only. Result type of the remote command.",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified command result.",
            "Represents a command with an ignored result.",
            "Represents a failed command.",
            "Represents a succeeded command."
          ],
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult"
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "type": "object",
      "description": "Information of conflicting policy applied on a Chrome browser profile.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Output only. Source of the policy.",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ]
        }
      }
    },
    "GoogleChromeManagementV1KioskAppStatusReport": {
      "description": "Kiosk app status report of a device. * Available for Kiosks * This field provides the app id and version number running on a kiosk device and the timestamp of when the report was last updated * Data for this field is controlled via policy: [ReportDeviceSessionStatus](https://chromeenterprise.google/policies/#ReportDeviceSessionStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_APPS_REPORT",
      "properties": {
        "appVersion": {
          "type": "string",
          "description": "App version number of kiosk app for example \"1.10.118\""
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when report was collected"
        },
        "appId": {
          "description": "App id of kiosk app for example \"mdmkkicfmmkgmpkmkdikhlbggogpicma\"",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1KioskAppStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "properties": {
        "model": {
          "type": "string",
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "readOnly": true
        },
        "keylockerSupported": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean"
        },
        "keylockerConfigured": {
          "type": "boolean",
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
        },
        "maxClockSpeed": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The max CPU clock speed in kHz.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CpuInfo"
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "description": "Response containing requested browser versions details and counts.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number browser versions matching request."
        },
        "browserVersions": {
          "description": "List of all browser versions and their install counts.",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1AppUsageData": {
      "description": "App usage data.",
      "properties": {
        "appType": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "description": "Type of app."
        },
        "appInstanceId": {
          "type": "string",
          "description": "Application instance id. This will be unique per window/instance."
        },
        "runningDuration": {
          "description": "App foreground running time.",
          "type": "string",
          "format": "google-duration"
        },
        "appId": {
          "description": "App id.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1AppUsageData"
    },
    "GoogleChromeManagementVersionsV1AttestationCredential": {
      "id": "GoogleChromeManagementVersionsV1AttestationCredential",
      "type": "object",
      "description": "Information of public key associated with a Chrome browser profile.",
      "properties": {
        "keyType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified public key type.",
            "Represents a RSA key.",
            "Represents an EC key."
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "RSA_KEY",
            "EC_KEY"
          ],
          "description": "Output only. Type of the public key."
        },
        "publicKey": {
          "readOnly": true,
          "description": "Output only. Value of the public key.",
          "type": "string",
          "format": "byte"
        },
        "keyTrustLevel": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified public key trust level.",
            "Represents a HW key.",
            "Represents an OS key."
          ],
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY"
          ],
          "description": "Output only. Trust level of the public key."
        },
        "keyRotationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Latest rotation timestamp of the public key rotation."
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "temperatureCelsius": {
          "readOnly": true,
          "description": "Output only. CPU temperature in Celsius.",
          "type": "integer",
          "format": "int32"
        },
        "label": {
          "readOnly": true,
          "description": "Output only. CPU label. Example: Core 0",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CpuTemperatureInfo"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "properties": {
        "deviceActivityState": {
          "readOnly": true,
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ],
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "description": "Output only. Device activity state.",
          "type": "string"
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the report was collected.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceActivityReport"
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "lastRebootTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the last reboot.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateState": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "description": "Output only. Current state of the os update.",
          "type": "string"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of the last successful update.",
          "readOnly": true
        },
        "newRequestedPlatformVersion": {
          "type": "string",
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "readOnly": true
        },
        "newPlatformVersion": {
          "readOnly": true,
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "type": "string"
        },
        "lastUpdateCheckTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the last update check."
        }
      },
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "type": "object"
    },
    "GoogleChromeManagementV1AppDetails": {
      "type": "object",
      "id": "GoogleChromeManagementV1AppDetails",
      "description": "Resource representing app details.",
      "properties": {
        "reviewRating": {
          "format": "float",
          "type": "number",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true
        },
        "androidAppInfo": {
          "description": "Output only. Android app information.",
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "readOnly": true
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "readOnly": true,
          "type": "string"
        },
        "publisher": {
          "readOnly": true,
          "description": "Output only. The publisher of the item.",
          "type": "string"
        },
        "firstPublishTime": {
          "description": "Output only. First published time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "reviewNumber": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true
        },
        "serviceError": {
          "description": "Output only. Information about a partial service error if applicable.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. App's display name.",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "readOnly": true,
          "type": "string"
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "chromeAppInfo": {
          "description": "Output only. Chrome Web Store app information.",
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. App's description.",
          "readOnly": true
        },
        "type": {
          "description": "Output only. App type.",
          "readOnly": true,
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "type": "string"
        },
        "isPaidApp": {
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "readOnly": true,
          "type": "boolean"
        },
        "latestPublishTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Latest published time."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfile": {
      "description": "A representation of a Chrome browser profile.",
      "properties": {
        "userId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique Directory API ID of the user that can be used in Admin SDK Users API."
        },
        "attestationCredential": {
          "readOnly": true,
          "description": "Output only. Attestation credential information of the profile.",
          "$ref": "GoogleChromeManagementVersionsV1AttestationCredential"
        },
        "userEmail": {
          "description": "Output only. Email address of the user to which the profile belongs.",
          "readOnly": true,
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "Output only. OS version of the device on which the profile exists.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
          "type": "string"
        },
        "lastStatusReportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the latest status report by the profile.",
          "type": "string",
          "format": "google-datetime"
        },
        "osPlatformVersion": {
          "readOnly": true,
          "description": "Output only. Major OS platform version of the device on which the profile exists, from profile reporting.",
          "type": "string"
        },
        "identityProvider": {
          "description": "Output only. Identify provider of the profile.",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified identity provider.",
            "Represents a Google identity provider.",
            "Represents an external identity provider."
          ],
          "enum": [
            "IDENTITY_PROVIDER_UNSPECIFIED",
            "GOOGLE_IDENTITY_PROVIDER",
            "EXTERNAL_IDENTITY_PROVIDER"
          ],
          "type": "string"
        },
        "lastActivityTime": {
          "description": "Output only. Timestamp of the latest activity by the profile.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deviceInfo": {
          "readOnly": true,
          "description": "Output only. Basic information of the device on which the profile exists. This information is only available for the affiliated profiles.",
          "$ref": "GoogleChromeManagementVersionsV1DeviceInfo"
        },
        "annotatedLocation": {
          "type": "string",
          "description": "Optional. Location of the profile annotated by the admin."
        },
        "extensionCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of extensions installed on the profile.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag of this ChromeBrowserProfile resource. This etag can be used with UPDATE operation to ensure consistency."
        },
        "lastPolicySyncTime": {
          "description": "Output only. Timestamp of the latest policy sync by the profile.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "annotatedUser": {
          "type": "string",
          "description": "Optional. User of the profile annotated by the admin."
        },
        "osPlatformType": {
          "type": "string",
          "description": "Output only. OS platform of the device on which the profile exists.",
          "readOnly": true
        },
        "profilePermanentId": {
          "readOnly": true,
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "type": "string"
        },
        "browserChannel": {
          "readOnly": true,
          "description": "Output only. Channel of the browser on which the profile exists.",
          "type": "string"
        },
        "firstEnrollmentTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the first enrollment of the profile.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Profile display name set by client.",
          "readOnly": true
        },
        "reportingData": {
          "readOnly": true,
          "description": "Output only. Detailed reporting data of the profile. This information is only available when the profile reporting policy is enabled.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingData"
        },
        "policyCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of policies applied on the profile."
        },
        "affiliationState": {
          "type": "string",
          "description": "Output only. The specific affiliation state of the profile.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified affiliation state.",
            "Unaffiliated - but we do not have the details for the type of unaffiliated profile.",
            "Unaffiliated - A managed profile that appears on a totally unamanaged browser.",
            "Unaffiliated - A managed profile that appears on a machine that is locally managed by a different organization (through platform management mechanisms like GPO).",
            "Unaffiliated - A managed profile that appears on a managed browser that is cloud managed by a different organization (using Chrome Browser Cloud Management).",
            "Affiliated - Both the profile and the managed browser are managed by the same organization."
          ],
          "enum": [
            "AFFILIATION_STATE_UNSPECIFIED",
            "UNAFFILIATED_GENERIC",
            "PROFILE_ONLY",
            "UNAFFILIATED_LOCAL_MACHINE",
            "UNAFFILIATED_CLOUD_MACHINE",
            "AFFILIATED_CLOUD_MANAGED"
          ]
        },
        "browserVersion": {
          "type": "string",
          "description": "Output only. Version of the browser on which the profile exists.",
          "readOnly": true
        },
        "supportsFcmNotifications": {
          "readOnly": true,
          "description": "Output only. Whether the profile supports FCM notifications.",
          "type": "boolean"
        },
        "lastPolicyFetchTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of the latest policy fetch by the profile.",
          "readOnly": true
        },
        "profileId": {
          "type": "string",
          "description": "Output only. Chrome client side profile ID.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
    },
    "GoogleChromeManagementVersionsV1ReportingData": {
      "description": "Reporting data of a Chrome browser profile.",
      "properties": {
        "extensionData": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionData"
          },
          "description": "Output only. Information of the extensions installed on the profile.",
          "type": "array"
        },
        "browserExecutablePath": {
          "description": "Output only. Executable path of the installed Chrome browser. A valid path is included only in affiliated profiles.",
          "readOnly": true,
          "type": "string"
        },
        "installedBrowserVersion": {
          "readOnly": true,
          "description": "Output only. Updated version of a browser, if it is different from the active browser version.",
          "type": "string"
        },
        "policyData": {
          "type": "array",
          "description": "Output only. Information of the policies applied on the profile.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          }
        },
        "extensionPolicyData": {
          "description": "Output only. Information of the policies applied on the extensions.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
          },
          "type": "array"
        },
        "profilePath": {
          "readOnly": true,
          "description": "Output only. Path of the profile. A valid path is included only in affiliated profiles.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingData",
      "type": "object"
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "description": "Response containing a list of devices with queried app installed.",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field."
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of devices matching request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date.",
      "properties": {
        "crashEventCounts": {
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          },
          "description": "Crash event counts grouped by date and browser version.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "type": "object",
      "description": "Response containing counts for browsers that need attention.",
      "properties": {
        "pendingBrowserUpdateCount": {
          "description": "Number of browsers that are pending an OS update",
          "format": "int64",
          "type": "string"
        },
        "recentlyEnrolledCount": {
          "description": "Number of browsers that have been recently enrolled",
          "format": "int64",
          "type": "string"
        },
        "noRecentActivityCount": {
          "description": "Number of browsers that haven’t had any recent activity",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "properties": {
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "type": "string",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "description": "Memory encryption algorithm."
        },
        "encryptionState": {
          "description": "The state of memory encryption on the device.",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "type": "string"
        },
        "keyLength": {
          "format": "int64",
          "type": "string",
          "description": "The length of the encryption keys."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo"
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse": {
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse",
      "type": "object",
      "description": "Response message for claiming a certificate provisioning process.",
      "properties": {}
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "shutdownTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when shutdown."
        },
        "bootUpDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time to boot up."
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the report was collected."
        },
        "shutdownReason": {
          "description": "The shutdown reason.",
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "type": "string"
        },
        "bootUpTime": {
          "description": "The timestamp when power came on.",
          "format": "google-datetime",
          "type": "string"
        },
        "shutdownDuration": {
          "description": "Total time since shutdown start to power off.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "description": "Information of an extension installed on a Chrome browser profile.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the extension.",
          "type": "string"
        },
        "extensionType": {
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "description": "Output only. Type of the extension.",
          "type": "string"
        },
        "extensionId": {
          "type": "string",
          "description": "Output only. ID of the extension.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the extension."
        },
        "manifestVersion": {
          "readOnly": true,
          "description": "Output only. Manifest version of the extension.",
          "type": "integer",
          "format": "int32"
        },
        "isDisabled": {
          "description": "Output only. Represents whether the user disabled the extension.",
          "readOnly": true,
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "Output only. Version of the extension.",
          "readOnly": true
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. The URL of the homepage of the extension.",
          "type": "string"
        },
        "isWebstoreExtension": {
          "readOnly": true,
          "description": "Output only. Represents whether the extension is from the webstore.",
          "type": "boolean"
        },
        "installationType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. Installation type of the extension."
        },
        "permissions": {
          "description": "Output only. Permissions requested by the extension.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "description": "Response message for listing telemetry events for a customer.",
      "properties": {
        "telemetryEvents": {
          "description": "Telemetry events returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "description": "Response to ListChromeBrowserProfiles method.",
      "properties": {
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles."
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "chromeBrowserProfiles": {
          "description": "The list of profiles returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "temperature": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Temperature in Celsius degrees.",
          "readOnly": true
        },
        "remainingCapacity": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "readOnly": true
        },
        "current": {
          "readOnly": true,
          "description": "Output only. Battery current (mA).",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true,
          "type": "string"
        },
        "voltage": {
          "readOnly": true,
          "description": "Output only. Battery voltage (millivolt).",
          "type": "string",
          "format": "int64"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device"
        },
        "chargeRate": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Battery charge percentage."
        },
        "dischargeRate": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1BatterySampleReport"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "description": "Response to ListChromeBrowserProfileCommands method.",
      "properties": {
        "chromeBrowserProfileCommands": {
          "type": "array",
          "description": "The list of commands returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          }
        },
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned.",
          "format": "int64",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token that can be used to list the next page."
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessment",
      "description": "Risk assessment for a Chrome extension.",
      "properties": {
        "assessment": {
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider.",
          "type": "string"
        },
        "version": {
          "description": "The version of the extension that this assessment applies to.",
          "type": "string"
        },
        "detailsUrl": {
          "type": "string",
          "description": "A URL that a user can navigate to for more information about the risk assessment."
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "properties": {
        "unsupportedPolicyCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch."
        },
        "pendingUpdate": {
          "description": "Number of devices that are pending an OS update.",
          "format": "int64",
          "type": "string"
        },
        "osVersionNotCompliantCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices whose OS version is not compliant."
        },
        "noRecentUserActivityCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "description": "Response for MoveThirdPartyProfileUser method.",
      "properties": {
        "thirdPartyProfileUser": {
          "readOnly": true,
          "description": "Output only. The moved third party profile user.",
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser"
        }
      },
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "description": "Telemetry data reported by a managed device.",
      "properties": {
        "audioSevereUnderrunEvent": {
          "readOnly": true,
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "wifiSignalStrengthEvent": {
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`.",
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "readOnly": true
        },
        "device": {
          "readOnly": true,
          "description": "Output only. Information about the device associated with the event.",
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo"
        },
        "osCrashEvent": {
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`.",
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "readOnly": true
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ],
          "description": "The event type of the current event."
        },
        "appLaunchEvent": {
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
          "readOnly": true
        },
        "appUninstallEvent": {
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
          "readOnly": true
        },
        "networkStateChangeEvent": {
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "readOnly": true
        },
        "externalDisplaysEvent": {
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the event.",
          "readOnly": true,
          "type": "string"
        },
        "appInstallEvent": {
          "readOnly": true,
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent"
        },
        "vpnConnectionStateChangeEvent": {
          "readOnly": true,
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "httpsLatencyChangeEvent": {
          "readOnly": true,
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "Output only. Information about the user associated with the event.",
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "readOnly": true
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "type": "object"
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+.",
      "properties": {
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "type": "string",
          "format": "google-datetime"
        },
        "enterSleepCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3."
        },
        "enterPoweroffCount": {
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "format": "int64",
          "type": "string"
        },
        "uptimeRuntimeDuration": {
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR.",
          "format": "google-duration",
          "type": "string"
        },
        "enterHibernationCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1RuntimeCountersReport"
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "description": "Android app information.",
      "properties": {
        "permissions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "description": "Output only. Permissions requested by an Android app."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppInfo"
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "properties": {
        "provider": {
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "type": "string"
        },
        "riskLevel": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "description": "Output only. The bucketed risk level for the risk assessment."
        },
        "riskAssessment": {
          "readOnly": true,
          "description": "Output only. The details of the provider's risk assessment.",
          "$ref": "GoogleChromeManagementV1RiskAssessment"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "properties": {
        "adapter": {
          "readOnly": true,
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "type": "string"
        },
        "driverVersion": {
          "description": "Output only. Version of the GPU driver.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to.",
      "properties": {
        "userPrimaryEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary e-mail address of the user."
        },
        "chromeOsDevice": {
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice",
          "readOnly": true
        },
        "userDirectoryApiId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the user."
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "type": "object"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BUS_DEVICE_INFO",
      "properties": {
        "securityLevel": {
          "description": "Security level of the Thunderbolt bus.",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "type": "object",
      "description": "Describes a generic Certificate Authority Connection.",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO",
      "properties": {
        "adapterInfo": {
          "description": "Output only. Information about the graphics adapter (GPU).",
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "readOnly": true
        },
        "eprivacySupported": {
          "type": "boolean",
          "description": "Output only. Is ePrivacy screen supported or not.",
          "readOnly": true
        },
        "displayDevices": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          },
          "description": "Output only. Information about the display(s) of the device.",
          "type": "array"
        },
        "touchScreenInfo": {
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "$ref": "GoogleChromeManagementV1TouchScreenInfo",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "type": "object",
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds. * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "properties": {}
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "properties": {
        "cpuReports": {
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        },
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        },
        "storageReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128)."
        },
        "memoryReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token for requesting the next page."
        },
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of printers matching request."
        },
        "printerReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "properties": {
        "devices": {
          "type": "array",
          "description": "Telemetry devices returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          }
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
    },
    "GoogleChromeManagementVersionsV1DeviceInfo": {
      "description": "Information of a device that runs a Chrome browser profile.",
      "properties": {
        "affiliatedDeviceId": {
          "type": "string",
          "description": "Output only. Device ID that identifies the affiliated device on which the profile exists. If the device type is CHROME_BROWSER, then this represents a unique Directory API ID of the device that can be used in Admin SDK Browsers API.",
          "readOnly": true
        },
        "deviceType": {
          "description": "Output only. Type of the device on which the profile exists.",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified device type.",
            "Represents a Chrome browser device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "CHROME_BROWSER"
          ],
          "type": "string"
        },
        "hostname": {
          "readOnly": true,
          "description": "Output only. Hostname of the device on which the profile exists.",
          "type": "string"
        },
        "machine": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Machine name of the device on which the profile exists. On platforms which do not report the machine name (currently iOS and Android) this is instead set to the browser's device_id - but note that this is a different device_id than the |affiliated_device_id|."
        }
      },
      "id": "GoogleChromeManagementVersionsV1DeviceInfo",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ScepProfile": {
      "id": "GoogleChromeManagementVersionsV1ScepProfile",
      "type": "object",
      "description": "Describes a SCEP certificate provisioning profile.",
      "properties": {
        "subjectCommonName": {
          "readOnly": true,
          "description": "Output only. The common name of the subject.",
          "type": "string"
        },
        "organizationalUnits": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The organizational units of the subject.",
          "type": "array"
        },
        "state": {
          "description": "Output only. The state of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "certificateTemplateName": {
          "description": "Output only. The certificate template name as defined by the admin on their on-prem infrastructure. The Certificate Authority uses this name to identify the certificate template.",
          "readOnly": true,
          "type": "string"
        },
        "keyUsages": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "The key usage is unspecified.",
              "The key can be used for signing.",
              "The key can be used for key encipherment."
            ],
            "enum": [
              "KEY_USAGE_UNSPECIFIED",
              "KEY_USAGE_SIGNING",
              "KEY_USAGE_KEY_ENCIPHERMENT"
            ],
            "type": "string"
          },
          "description": "Output only. The allowed key usages for certificate's key."
        },
        "locality": {
          "description": "Output only. The locality of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Output only. The name of the organization the subject belongs to.",
          "readOnly": true
        },
        "country": {
          "description": "Output only. The country of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "subjectAltNames": {
          "type": "array",
          "description": "Output only. The subject alternative names.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1SubjectAltName"
          }
        }
      }
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "type": "object",
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "usbPeripheralReport": {
          "type": "array",
          "description": "Reports of all usb connected devices.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1SignDataResponse": {
      "id": "GoogleChromeManagementVersionsV1SignDataResponse",
      "type": "object",
      "description": "Response message for requesting a signature from the client that initated a certificate provisioning process.",
      "properties": {
        "certificateProvisioningProcess": {
          "description": "Output only. The certificate provisioning process. The signature generated by the client will be available in the `signature` field of `CertificateProvisioningProcess`.",
          "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "id": "GoogleChromeManagementVersionsV1GenericProfile",
      "type": "object",
      "description": "Describes a generic certificate provisioning profile.",
      "properties": {
        "profileAdapterConfigReference": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayData": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayData",
      "description": "External display data.",
      "properties": {
        "resolutionVertical": {
          "type": "integer",
          "format": "int32",
          "description": "The vertical resolution."
        },
        "refreshRate": {
          "description": "The refresh rate.",
          "type": "string",
          "format": "int64"
        },
        "serialNumber": {
          "description": "The serial number.",
          "type": "integer",
          "format": "int32"
        },
        "resolutionHorizontal": {
          "description": "The horizontal resolution.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "edidVersion": {
          "description": "The EDID version.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "description": "Response containing the number of devices with the given channel.",
      "properties": {
        "devChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with dev release channel."
        },
        "betaChannelCount": {
          "description": "Number of devices with beta release channel.",
          "format": "int64",
          "type": "string"
        },
        "stableChannelCount": {
          "description": "Number of devices with stable release channel.",
          "format": "int64",
          "type": "string"
        },
        "canaryChannelCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with canary release channel."
        },
        "unsupportedChannelCount": {
          "description": "Number of devices with unsupported release channel.",
          "format": "int64",
          "type": "string"
        },
        "ltcChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with ltc release channel."
        },
        "ltsChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with lts release channel."
        },
        "unreportedChannelCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with an unreported release channel."
        }
      }
    },
    "GoogleChromeManagementVersionsV1UploadCertificateRequest": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1UploadCertificateRequest",
      "description": "Request message for uploading an issued certificate for a certificate provisioning process.",
      "properties": {
        "certificatePem": {
          "description": "Required. The issued certificate in PEM format.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true
        },
        "disk": {
          "type": "array",
          "description": "Output only. Reports on disk.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          }
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1StorageStatusReport"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "description": "Permission requested by an Android app.",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the permission."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppPermission"
    },
    "GoogleChromeManagementV1EnumeratePrintJobsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1EnumeratePrintJobsResponse",
      "description": "Response containing a list of print jobs.",
      "properties": {
        "printJobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrintJob"
          },
          "description": "List of requested print jobs."
        },
        "totalSize": {
          "format": "int64",
          "type": "string",
          "description": "Total number of print jobs matching request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be used in a subsequent request to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleChromeManagementV1PrinterReport": {
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "properties": {
        "deviceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer."
        },
        "printerModel": {
          "type": "string",
          "description": "Printer model."
        },
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "format": "int64",
          "type": "string"
        },
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        },
        "jobCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of print jobs sent to the printer."
        },
        "printer": {
          "description": "Printer name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1PrinterReport"
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "description": "Response message for publishing an issued certificate for a certificate provisioning process.",
      "properties": {},
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
    },
    "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse",
      "description": "Response containing a list of users that have requested the queried extension.",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of users in response.",
          "format": "int32",
          "type": "integer"
        },
        "userDetails": {
          "description": "Details of users that have requested the queried extension.",
          "items": {
            "$ref": "GoogleChromeManagementV1UserRequestingExtensionDetails"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "description": "Configuration to receive notifications of telemetry data.",
      "properties": {
        "googleCloudPubsubTopic": {
          "description": "The pubsub topic to which notifications are published to.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the notification configuration.",
          "readOnly": true,
          "type": "string"
        },
        "customer": {
          "description": "Output only. Google Workspace customer that owns the resource.",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "description": "Only send notifications for telemetry data matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig",
      "type": "object"
    },
    "GoogleTypeDate": {
      "type": "object",
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1StorageInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfo",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "properties": {
        "volume": {
          "description": "Information for disk volumes",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "type": "array"
        },
        "availableDiskBytes": {
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUser",
      "description": "Telemetry data collected from a managed user. * Granular permission needed: TELEMETRY_API_USER",
      "properties": {
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization unit of the user.",
          "type": "string"
        },
        "userDevice": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          },
          "description": "Telemetry data collected from a managed user and device.",
          "type": "array"
        },
        "customer": {
          "description": "G Suite Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Directory ID of the user."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the user."
        }
      }
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "properties": {
        "outputMute": {
          "readOnly": true,
          "description": "Output only. Is active output device mute or not.",
          "type": "boolean"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "outputDevice": {
          "description": "Output only. Active output device's name.",
          "readOnly": true,
          "type": "string"
        },
        "inputGain": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Active input device's gain in [0, 100]."
        },
        "inputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active input device mute or not."
        },
        "inputDevice": {
          "description": "Output only. Active input device's name.",
          "readOnly": true,
          "type": "string"
        },
        "outputVolume": {
          "description": "Output only. Active output device's volume in [0, 100].",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "id": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
      "type": "object",
      "description": "A representation of non-Google (third party) user that is associated with a managed Chrome profile.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The ID of the organizational unit assigned to the user.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "description": "Response message for listing telemetry users for a customer.",
      "properties": {
        "telemetryUsers": {
          "type": "array",
          "description": "Telemetry users returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "description": "Configures how the telemetry data should be filtered.",
      "properties": {
        "userEmail": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user.",
          "type": "string"
        },
        "userOrgUnitId": {
          "type": "string",
[...]
