{
  "fullyEncodeReservedExpansion": true,
  "title": "Chrome Management API",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "revision": "20260413",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleChromeManagementVersionsV1SignDataRequest": {
      "description": "Request message for requesting a signature from the client that initated a certificate provisioning process.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1SignDataRequest",
      "properties": {
        "signData": {
          "description": "Required. The data that the client was asked to sign.",
          "type": "string",
          "format": "byte"
        },
        "signatureAlgorithm": {
          "description": "Required. The signature algorithm that the adapter expects the client and backend components to use when processing `sign_data`.",
          "type": "string",
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ]
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUserInfo",
      "properties": {
        "email": {
          "description": "Output only. User's email.",
          "readOnly": true,
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the user.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "description": "Response containing summary of requested app installations.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of matching app requests.",
          "type": "integer",
          "format": "int32"
        },
        "requestedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "description": "Count of requested apps matching request.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Time at which the graphics data was reported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displays": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "description": "Output only. Information about the displays for the device.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppInstallEvent": {
      "description": "App installation data.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryAppInstallEvent",
      "properties": {
        "appInstallReason": {
          "description": "App installation reason.",
          "type": "string",
          "enum": [
            "APPLICATION_INSTALL_REASON_UNSPECIFIED",
            "APPLICATION_INSTALL_REASON_SYSTEM",
            "APPLICATION_INSTALL_REASON_POLICY",
            "APPLICATION_INSTALL_REASON_OEM",
            "APPLICATION_INSTALL_REASON_DEFAULT",
            "APPLICATION_INSTALL_REASON_SYNC",
            "APPLICATION_INSTALL_REASON_USER",
            "APPLICATION_INSTALL_REASON_SUB_APP",
            "APPLICATION_INSTALL_REASON_KIOSK",
            "APPLICATION_INSTALL_REASON_COMMAND_LINE"
          ],
          "enumDescriptions": [
            "Application install reason is unknown.",
            "Application installed with the system and is considered part of the OS.",
            "Application installed by policy.",
            "Application installed by an original equipment manufacturer (OEM).",
            "Application installed by default, but is not considered a system app.",
            "Application installed by sync.",
            "Application installed by user action.",
            "Application installed bt SubApp API call.",
            "Application installed by Kiosk on Chrome OS.",
            "Application installed by command line argument."
          ]
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appInstallSource": {
          "description": "App installation source.",
          "type": "string",
          "enum": [
            "APPLICATION_INSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_INSTALL_SOURCE_SYSTEM",
            "APPLICATION_INSTALL_SOURCE_SYNC",
            "APPLICATION_INSTALL_SOURCE_PLAY_STORE",
            "APPLICATION_INSTALL_SOURCE_CHROME_WEB_STORE",
            "APPLICATION_INSTALL_SOURCE_BROWSER"
          ],
          "enumDescriptions": [
            "Application install source is unknown.",
            "Application installed as part of Chrome OS.",
            "Application install source is a sync.",
            "Application install source is the Play store.",
            "Application install source is the Chrome web store.",
            "Application install source is a browser."
          ]
        },
        "appInstallTime": {
          "enumDescriptions": [
            "Application install time unknown.",
            "Application install is initialized.",
            "Application install is currently running."
          ],
          "enum": [
            "APPLICATION_INSTALL_TIME_UNSPECIFIED",
            "APPLICATION_INSTALL_TIME_INIT",
            "APPLICATION_INSTALL_TIME_RUNNING"
          ],
          "description": "App installation time depending on the app lifecycle.",
          "type": "string"
        },
        "appType": {
          "description": "Type of app.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "description": "Information of an extension installed on a Chrome browser profile.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "properties": {
        "name": {
          "description": "Output only. Name of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. The URL of the homepage of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "isDisabled": {
          "description": "Output only. Represents whether the user disabled the extension.",
          "readOnly": true,
          "type": "boolean"
        },
        "isWebstoreExtension": {
          "description": "Output only. Represents whether the extension is from the webstore.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "Output only. Description of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "permissions": {
          "description": "Output only. Permissions requested by the extension.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "installationType": {
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "description": "Output only. Installation type of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "manifestVersion": {
          "description": "Output only. Manifest version of the extension.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "extensionType": {
          "description": "Output only. Type of the extension.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ]
        },
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "Output only. Version of the extension.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "telemetryEvents": {
          "description": "Telemetry events returned in the response.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          }
        }
      },
      "description": "Response message for listing telemetry events for a customer.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "properties": {
        "appUninstallEvent": {
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent"
        },
        "wifiSignalStrengthEvent": {
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent"
        },
        "appInstallEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent",
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "readOnly": true
        },
        "networkStateChangeEvent": {
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "httpsLatencyChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true
        },
        "appLaunchEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "readOnly": true
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the event.",
          "readOnly": true,
          "type": "string"
        },
        "device": {
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "description": "Output only. Information about the device associated with the event.",
          "readOnly": true
        },
        "audioSevereUnderrunEvent": {
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "user": {
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "description": "Output only. Information about the user associated with the event.",
          "readOnly": true
        },
        "eventType": {
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "description": "The event type of the current event.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ]
        },
        "vpnConnectionStateChangeEvent": {
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "osCrashEvent": {
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent"
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
        },
        "externalDisplaysEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "readOnly": true
        }
      },
      "description": "Telemetry data reported by a managed device.",
      "type": "object"
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "properties": {
        "state": {
          "description": "State the device changed to",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ],
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ]
        },
        "reportTime": {
          "description": "Timestamp of when status changed was detected",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse": {
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse",
      "properties": {},
      "description": "Response message for claiming a certificate provisioning process.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "properties": {
        "telemetryEventNotificationFilter": {
          "description": "Only sends notifications for the telemetry events matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter"
        },
        "deviceId": {
          "description": "If set, only sends notifications for telemetry data coming from this device.",
          "type": "string"
        },
        "userOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit.",
          "type": "string"
        },
        "deviceOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit.",
          "type": "string"
        },
        "userEmail": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user.",
          "type": "string"
        }
      },
      "description": "Configures how the telemetry data should be filtered.",
      "type": "object"
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "properties": {
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "type": "string",
          "format": "google-datetime"
        },
        "shutdownTime": {
          "description": "The timestamp when shutdown.",
          "type": "string",
          "format": "google-datetime"
        },
        "shutdownReason": {
          "description": "The shutdown reason.",
          "type": "string",
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ]
        },
        "shutdownDuration": {
          "description": "Total time since shutdown start to power off.",
          "type": "string",
          "format": "google-duration"
        },
        "bootUpDuration": {
          "description": "Total time to boot up.",
          "type": "string",
          "format": "google-duration"
        },
        "bootUpTime": {
          "description": "The timestamp when power came on.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "properties": {
        "volumeId": {
          "description": "Disk volume id.",
          "type": "string"
        },
        "storageTotalBytes": {
          "description": "Total storage space in bytes.",
          "type": "string",
          "format": "int64"
        },
        "storageFreeBytes": {
          "description": "Free storage space in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Information for disk volumes",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfile": {
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfile",
      "properties": {
        "osPlatformVersion": {
          "description": "Output only. Major OS platform version of the device on which the profile exists, from profile reporting.",
          "readOnly": true,
          "type": "string"
        },
        "browserVersion": {
          "description": "Output only. Version of the browser on which the profile exists.",
          "readOnly": true,
          "type": "string"
        },
        "lastStatusReportTime": {
          "description": "Output only. Timestamp of the latest status report by the profile.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "userEmail": {
          "description": "Output only. Email address of the user to which the profile belongs.",
          "readOnly": true,
          "type": "string"
        },
        "profileId": {
          "description": "Output only. Chrome client side profile ID.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag of this ChromeBrowserProfile resource. This etag can be used with UPDATE operation to ensure consistency.",
          "readOnly": true,
          "type": "string"
        },
        "reportingData": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingData",
          "description": "Output only. Detailed reporting data of the profile. This information is only available when the profile reporting policy is enabled.",
          "readOnly": true
        },
        "extensionCount": {
          "description": "Output only. Number of extensions installed on the profile.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "identityProvider": {
          "enum": [
            "IDENTITY_PROVIDER_UNSPECIFIED",
            "GOOGLE_IDENTITY_PROVIDER",
            "EXTERNAL_IDENTITY_PROVIDER"
          ],
          "enumDescriptions": [
            "Represents an unspecified identity provider.",
            "Represents a Google identity provider.",
            "Represents an external identity provider."
          ],
          "description": "Output only. Identify provider of the profile.",
          "readOnly": true,
          "type": "string"
        },
        "firstEnrollmentTime": {
          "description": "Output only. Timestamp of the first enrollment of the profile.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotatedUser": {
          "description": "Optional. User of the profile annotated by the admin.",
          "type": "string"
        },
        "osPlatformType": {
          "description": "Output only. OS platform of the device on which the profile exists.",
          "readOnly": true,
          "type": "string"
        },
        "supportsFcmNotifications": {
          "description": "Output only. Whether the profile supports FCM notifications.",
          "readOnly": true,
          "type": "boolean"
        },
        "profilePermanentId": {
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Profile display name set by client.",
          "readOnly": true,
          "type": "string"
        },
        "lastPolicyFetchTime": {
          "description": "Output only. Timestamp of the latest policy fetch by the profile.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deviceInfo": {
          "$ref": "GoogleChromeManagementVersionsV1DeviceInfo",
          "description": "Output only. Basic information of the device on which the profile exists. This information is only available for the affiliated profiles.",
          "readOnly": true
        },
        "annotatedLocation": {
          "description": "Optional. Location of the profile annotated by the admin.",
          "type": "string"
        },
        "policyCount": {
          "description": "Output only. Number of policies applied on the profile.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "affiliationState": {
          "description": "Output only. The specific affiliation state of the profile.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "AFFILIATION_STATE_UNSPECIFIED",
            "UNAFFILIATED_GENERIC",
            "PROFILE_ONLY",
            "UNAFFILIATED_LOCAL_MACHINE",
            "UNAFFILIATED_CLOUD_MACHINE",
            "AFFILIATED_CLOUD_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified affiliation state.",
            "Unaffiliated - but we do not have the details for the type of unaffiliated profile.",
            "Unaffiliated - A managed profile that appears on a totally unamanaged browser.",
            "Unaffiliated - A managed profile that appears on a machine that is locally managed by a different organization (through platform management mechanisms like GPO).",
            "Unaffiliated - A managed profile that appears on a managed browser that is cloud managed by a different organization (using Chrome Browser Cloud Management).",
            "Affiliated - Both the profile and the managed browser are managed by the same organization."
          ]
        },
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
          "type": "string"
        },
        "lastPolicySyncTime": {
          "description": "Output only. Timestamp of the latest policy sync by the profile.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "userId": {
          "description": "Output only. Unique Directory API ID of the user that can be used in Admin SDK Users API.",
          "readOnly": true,
          "type": "string"
        },
        "attestationCredential": {
          "$ref": "GoogleChromeManagementVersionsV1AttestationCredential",
          "description": "Output only. Attestation credential information of the profile.",
          "readOnly": true
        },
        "osVersion": {
          "description": "Output only. OS version of the device on which the profile exists.",
          "readOnly": true,
          "type": "string"
        },
        "lastActivityTime": {
          "description": "Output only. Timestamp of the latest activity by the profile.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "browserChannel": {
          "description": "Output only. Channel of the browser on which the profile exists.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A representation of a Chrome browser profile.",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "devices": {
          "description": "Telemetry devices returned in the response.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse": {
      "description": "Response containing a list of users that have requested the queried extension.",
      "type": "object",
      "id": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse",
      "properties": {
        "userDetails": {
          "items": {
            "$ref": "GoogleChromeManagementV1UserRequestingExtensionDetails"
          },
          "description": "Details of users that have requested the queried extension.",
          "type": "array"
        },
        "totalSize": {
          "description": "Total number of users in response.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "properties": {
        "crashEventCounts": {
          "description": "Crash event counts grouped by date and browser version.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          }
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
      "properties": {
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appLaunchSource": {
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "description": "App launch source.",
          "type": "string"
        },
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ]
        }
      },
      "description": "App launch data.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "id": "GoogleChromeManagementV1TelemetryUser",
      "properties": {
        "name": {
          "description": "Resource name of the user.",
          "type": "string"
        },
        "userId": {
          "description": "Directory ID of the user.",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "customer": {
          "description": "G Suite Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization unit of the user.",
          "type": "string"
        },
        "userDevice": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          },
          "description": "Telemetry data collected from a managed user and device.",
          "type": "array"
        }
      },
      "description": "Telemetry data collected from a managed user. * Granular permission needed: TELEMETRY_API_USER",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "properties": {
        "deviceId": {
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string"
        },
        "peripheralsReport": {
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          }
        },
        "appReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        },
        "deviceActivityReport": {
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          }
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          }
        },
        "audioStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "properties": {
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "cpuUtilizationPct": {
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "cpuTemperatureInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          },
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "properties": {
        "count": {
          "description": "Count of devices with a unique hardware specification.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "properties": {
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        },
        "httpsLatencyState": {
          "description": "Current HTTPS latency state.",
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ]
        }
      },
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "properties": {
        "stylusCapable": {
          "description": "Output only. Touch screen device is stylus capable or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. Touch screen device display name.",
          "readOnly": true,
          "type": "string"
        },
        "touchPointCount": {
          "description": "Output only. Number of touch points supported on the device.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information of an internal touch screen device.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "properties": {},
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "type": "object"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "properties": {
        "installedApps": {
          "description": "List of installed apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of installed apps matching request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response containing details of queried installed apps.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig",
      "properties": {
        "customer": {
          "description": "Output only. Google Workspace customer that owns the resource.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the notification configuration.",
          "readOnly": true,
          "type": "string"
        },
        "googleCloudPubsubTopic": {
          "description": "The pubsub topic to which notifications are published to.",
          "type": "string"
        },
        "filter": {
          "description": "Only send notifications for telemetry data matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter"
        }
      },
      "description": "Configuration to receive notifications of telemetry data.",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "id": "GoogleChromeManagementV1MemoryInfo",
      "properties": {
        "totalRamBytes": {
          "description": "Output only. Total RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device.",
          "readOnly": true
        },
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "id": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
      "properties": {
        "appUninstallSource": {
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ],
          "description": "App uninstall source.",
          "type": "string",
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ]
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ]
        }
      },
      "description": "App uninstall data.",
      "type": "object"
    },
    "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse": {
      "description": "Response containing a list of devices that have requested the queried extension.",
      "type": "object",
      "id": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse",
      "properties": {
        "deviceDetails": {
          "description": "Details of devices that have requested the queried extension.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceRequestingExtensionDetails"
          }
        },
        "totalSize": {
          "description": "Optional. Total number of devices in response.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Optional. Token to specify the next page in the list. Token expires after 1 day.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "properties": {
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "extensionName": {
          "description": "Output only. Name of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "policyData": {
          "description": "Output only. Information of the policies applied on the extension.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          }
        }
      },
      "description": "Information of the policies applied on an extension.",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "description": "Details of an app installation request.",
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "properties": {
        "appDetails": {
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true,
          "type": "string"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "requestCount": {
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkInfo",
      "properties": {
        "networkDevices": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "description": "Output only. List of network devices.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest": {
      "description": "Request message for claiming a certificate provisioning process.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest",
      "properties": {
        "callerInstanceId": {
          "description": "Required. The instance id of the caller.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "properties": {
        "userDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the user.",
          "readOnly": true,
          "type": "string"
        },
        "userPrimaryEmail": {
          "description": "Output only. The primary e-mail address of the user.",
          "readOnly": true,
          "type": "string"
        },
        "chromeOsDevice": {
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice",
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "readOnly": true
        }
      },
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SetFailureRequest": {
      "description": "Request message for marking a certificate provisioning process as failed.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1SetFailureRequest",
      "properties": {
        "errorMessage": {
          "description": "Required. A message describing the failure details. It is displayed on the ChromeOS client device.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "description": "Describes a subject alternative name.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "properties": {
        "value": {
          "description": "Output only. The value of the subject alternative name with respect to the `type`.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the SubjectAltName extension.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ]
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "properties": {
        "encryptionState": {
          "description": "The state of memory encryption on the device.",
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ]
        },
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string",
          "format": "int64"
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "description": "Memory encryption algorithm.",
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        }
      },
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object"
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "description": "Risk assessment for a Chrome extension.",
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessment",
      "properties": {
        "version": {
          "description": "The version of the extension that this assessment applies to.",
          "type": "string"
        },
        "assessment": {
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider.",
          "type": "string"
        },
        "detailsUrl": {
          "description": "A URL that a user can navigate to for more information about the risk assessment.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent": {
      "description": "`TelemetryNetworkConnectionStateChangeEvent` is triggered on network connection state changes. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "connectionState": {
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "description": "Current connection state of the network.",
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ]
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "outputVolume": {
          "description": "Output only. Active output device's volume in [0, 100].",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "outputMute": {
          "description": "Output only. Is active output device mute or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "inputGain": {
          "description": "Output only. Active input device's gain in [0, 100].",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "inputMute": {
          "description": "Output only. Is active input device mute or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "outputDevice": {
          "description": "Output only. Active output device's name.",
          "readOnly": true,
          "type": "string"
        },
        "inputDevice": {
          "description": "Output only. Active input device's name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "description": "A representation of non-Google (third party) user that is associated with a managed Chrome profile.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
      "properties": {
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The ID of the organizational unit assigned to the user.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "id": "GoogleChromeManagementV1UsbPeripheralReport",
      "properties": {
        "pid": {
          "description": "Output only. Product ID",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "vid": {
          "description": "Output only. Vendor ID",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "categories": {
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vendor": {
          "description": "Output only. Vendor name",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Device name, model name, or product name",
          "readOnly": true,
          "type": "string"
        },
        "firmwareVersion": {
          "description": "Output only. Firmware version",
          "readOnly": true,
          "type": "string"
        },
        "classId": {
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "subclassId": {
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "USB connected peripheral report.",
      "type": "object"
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "description": "Output only. Permissions requested by an Android app.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Android app information.",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "properties": {
        "batteryHealth": {
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy, full charge capacity / design capacity > 80%",
            "Battery is moderately unhealthy and suggested to be replaced soon, full charge capacity / design capacity 75% - 80%",
            "Battery is unhealthy and suggested to be replaced, full charge capacity / design capacity < 75%"
          ],
          "description": "Output only. Battery health.",
          "readOnly": true,
          "type": "string"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cycleCount": {
          "description": "Output only. Cycle count.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "sample": {
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          }
        },
        "fullChargeCapacity": {
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "properties": {
        "aueYear": {
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "format": "int64"
        },
        "aueMonth": {
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ]
        },
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        },
        "count": {
          "description": "Count of devices of this model.",
          "type": "string",
          "format": "int64"
        },
        "expired": {
          "description": "Boolean value for whether or not the device has already expired.",
          "type": "boolean"
        }
      },
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represent one host permission.",
      "type": "object"
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails",
      "properties": {
        "email": {
          "description": "The e-mail address of a user that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      },
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "properties": {
        "deviceName": {
          "description": "The name of a device that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1PrintJob": {
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "type": "object",
      "id": "GoogleChromeManagementV1PrintJob",
      "properties": {
        "duplexMode": {
          "description": "Duplex mode.",
          "type": "string",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ]
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "colorMode": {
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ],
          "description": "Color mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "description": "The final state of the job.",
          "type": "string",
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ]
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        },
        "createTime": {
          "description": "Print job creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "description": "Print job completion timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        },
        "copyCount": {
          "description": "Number of copies.",
          "type": "integer",
          "format": "int32"
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "documentPageCount": {
          "description": "Number of pages in the document.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1AppUsageData": {
      "description": "App usage data.",
      "type": "object",
      "id": "GoogleChromeManagementV1AppUsageData",
      "properties": {
        "appType": {
          "description": "Type of app.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        },
        "appInstanceId": {
          "description": "Application instance id. This will be unique per window/instance.",
          "type": "string"
        },
        "runningDuration": {
          "description": "App foreground running time.",
          "type": "string",
          "format": "google-duration"
        },
        "appId": {
          "description": "App id.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1StorageInfo": {
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfo",
      "properties": {
        "volume": {
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "description": "Information for disk volumes",
          "type": "array"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        },
        "availableDiskBytes": {
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "dischargeRate": {
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "current": {
          "description": "Output only. Battery current (mA).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "voltage": {
          "description": "Output only. Battery voltage (millivolt).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "chargeRate": {
          "description": "Output only. Battery charge percentage.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "remainingCapacity": {
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "temperature": {
          "description": "Output only. Temperature in Celsius degrees.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deviceActivityState": {
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ],
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "description": "Output only. Device activity state.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "properties": {
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "type": "string",
          "format": "int64"
        },
        "pendingUpdate": {
          "description": "Number of devices that are pending an OS update.",
          "type": "string",
          "format": "int64"
        },
        "unsupportedPolicyCount": {
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "type": "string",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "description": "Number of devices whose OS version is not compliant.",
          "type": "string",
          "format": "int64"
        },
        "noRecentUserActivityCount": {
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1BatteryInfo",
      "properties": {
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "designMinVoltage": {
          "description": "Output only. Designed minimum output voltage (mV)",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "readOnly": true,
          "type": "string"
        },
        "designCapacity": {
          "description": "Output only. Design capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "properties": {
        "telemetryNotificationConfigs": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          },
          "description": "The telemetry notification configs from the specified customer.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for listing notification configs for a customer.",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
[...]
