{
  "id": "chromewebstore:v1.1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "batchPath": "batch",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "path": "chromewebstore/v1.1/items",
          "supportsMediaUpload": true,
          "id": "chromewebstore.items.insert",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [],
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "id": "chromewebstore.items.get",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "location": "query",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "type": "string"
            },
            "itemId": {
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "httpMethod": "GET",
          "description": "Gets your own Chrome Web Store item."
        },
        "publish": {
          "httpMethod": "POST",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query",
              "type": "string"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query",
              "type": "boolean"
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deployPercentage": {
              "type": "integer",
              "format": "int32",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "PublishRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Publishes an item.",
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item2"
          },
          "id": "chromewebstore.items.publish",
          "path": "chromewebstore/v1.1/items/{itemId}/publish"
        },
        "update": {
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "supportsMediaUpload": true,
          "id": "chromewebstore.items.update",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing item."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "version": "v1.1",
  "revision": "20260310",
  "discoveryVersion": "v1",
  "canonicalName": "Chromewebstore",
  "servicePath": "",
  "version_module": true,
  "name": "chromewebstore",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "basePath": "",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Chrome Web Store API",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "schemas": {
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "format": "int32"
        },
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        }
      }
    },
    "ItemError": {
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        }
      },
      "id": "ItemError",
      "type": "object",
      "description": "Error of the item"
    },
    "Item": {
      "properties": {
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "itemError": {
          "type": "array",
          "items": {
            "$ref": "ItemError"
          },
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store."
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        }
      },
      "id": "Item",
      "type": "object"
    },
    "Item2": {
      "properties": {
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Item2",
      "type": "object"
    }
  }
}