{
  "id": "chromemanagement:v1",
  "canonicalName": "Chrome Management",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        }
      }
    }
  },
  "basePath": "",
  "version": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "revision": "20260421",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "batchPath": "batch",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleChromeManagementV1TelemetryEvent": {
      "description": "Telemetry data reported by a managed device.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "properties": {
        "vpnConnectionStateChangeEvent": {
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "appInstallEvent": {
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent"
        },
        "appUninstallEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`."
        },
        "externalDisplaysEvent": {
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent"
        },
        "user": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "description": "Output only. Information about the user associated with the event."
        },
        "eventType": {
          "description": "The event type of the current event.",
          "type": "string",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ]
        },
        "appLaunchEvent": {
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
        },
        "audioSevereUnderrunEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`."
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "wifiSignalStrengthEvent": {
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent"
        },
        "networkStateChangeEvent": {
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "osCrashEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the event.",
          "type": "string"
        },
        "device": {
          "description": "Output only. Information about the device associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo"
        },
        "httpsLatencyChangeEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`."
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "properties": {
        "sessionType": {
          "enum": [
            "SESSION_TYPE_UNSPECIFIED",
            "SESSION_TYPE_SIGNED_IN_USER",
            "SESSION_TYPE_KIOSK",
            "SESSION_TYPE_MANAGED_GUEST",
            "SESSION_TYPE_ACTIVE_DIRECTORY"
          ],
          "enumDescriptions": [
            "Session type unknown.",
            "Signed in user.",
            "Kiosk.",
            "Managed guest session.",
            "Active directory session."
          ],
          "description": "Session type.",
          "type": "string"
        },
        "crashId": {
          "description": "Crash id.",
          "type": "string"
        },
        "crashType": {
          "description": "Crash type.",
          "type": "string",
          "enum": [
            "CRASH_TYPE_UNSPECIFIED",
            "CRASH_TYPE_KERNEL",
            "CRASH_TYPE_EMBEDDED_CONTROLLER"
          ],
          "enumDescriptions": [
            "Crash type unknown.",
            "Kernel crash.",
            "Embedded controller crash."
          ]
        }
      },
      "description": "OS crash data.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryOsCrashEvent"
    },
    "GoogleChromeManagementVersionsV1SplunkConfig": {
      "properties": {
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "hecToken": {
          "description": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header.",
          "type": "string"
        },
        "unsecureScheme": {
          "description": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS).",
          "type": "boolean"
        },
        "portNumber": {
          "format": "int32",
          "description": "Optional. The port number to use. If not set, the default Splunk port is used.",
          "type": "integer"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Splunk config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "source": {
          "description": "Optional. Optional source name to override the default one set in the Splunk admin console.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1SplunkConfig",
      "description": "Splunk connector config.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "description": "External display connected/disconnected event payload.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
      "properties": {
        "externalDisplayData": {
          "description": "List of external displays that were connected/disconnected.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          }
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "transmissionBitRateMbps": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "type": "string"
        },
        "metered": {
          "description": "Output only. Whether the network was detected as metered.",
          "type": "boolean",
          "readOnly": true
        },
        "transmissionPowerDbm": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Transmission power measured in decibels.",
          "type": "integer"
        },
        "wifiLinkQuality": {
          "readOnly": true,
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "type": "string",
          "format": "int64"
        },
        "lanIpAddress": {
          "readOnly": true,
          "description": "Output only. LAN IP address.",
          "type": "string"
        },
        "guid": {
          "readOnly": true,
          "description": "Output only. Network connection guid.",
          "type": "string"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "connectionState": {
          "description": "Output only. Current connection state of the network.",
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "readOnly": true
        },
        "connectionType": {
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ],
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "description": "Output only. Network connection type.",
          "type": "string",
          "readOnly": true
        },
        "gatewayIpv6Address": {
          "description": "Output only. The gateway IPv6 for this interface, if detected",
          "type": "string",
          "readOnly": true
        },
        "receivingBitRateMbps": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "type": "string"
        },
        "linkDownSpeedKbps": {
          "readOnly": true,
          "description": "Output only. The maximum downstream bandwidth in Kilobits per second (Kbps), if reported by the network interface or connection.",
          "type": "string",
          "format": "int64"
        },
        "wifiPowerManagementEnabled": {
          "readOnly": true,
          "description": "Output only. Wifi power management enabled",
          "type": "boolean"
        },
        "ipv6Address": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. IPv6 addresses assigned to this network, if any. Each address is a string in standard IPv6 text representation (e.g., \"2001:db8::1\").",
          "type": "array"
        },
        "encryptionOn": {
          "readOnly": true,
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "type": "boolean"
        },
        "signalStrengthDbm": {
          "format": "int32",
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "type": "integer",
          "readOnly": true
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "type": "string",
          "readOnly": true
        },
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "properties": {
        "touchpadLibrary": {
          "readOnly": true,
          "description": "Output only. Touchpad library name used by the input stack.",
          "type": "string"
        },
        "devices": {
          "description": "Output only. List of the internal touch screen devices.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          },
          "readOnly": true
        }
      },
      "description": "Information on the device touch screen.",
      "type": "object",
      "id": "GoogleChromeManagementV1TouchScreenInfo"
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "description": "Information for a display.",
      "type": "object",
      "id": "GoogleChromeManagementV1DisplayInfo",
      "properties": {
        "serialNumber": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Serial number.",
          "type": "integer"
        },
        "resolutionHeight": {
          "readOnly": true,
          "description": "Output only. Resolution height in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "deviceId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Represents the graphics card device id.",
          "type": "string"
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "resolutionWidth": {
          "format": "int32",
          "description": "Output only. Resolution width in pixels.",
          "type": "integer",
          "readOnly": true
        },
        "isInternal": {
          "readOnly": true,
          "description": "Output only. Indicates if display is internal or not.",
          "type": "boolean"
        },
        "edidVersion": {
          "description": "Output only. EDID version.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display device name.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "properties": {
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "type": "string",
          "readOnly": true
        },
        "extensionName": {
          "description": "Output only. Name of the extension.",
          "type": "string",
          "readOnly": true
        },
        "policyData": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "description": "Output only. Information of the policies applied on the extension.",
          "type": "array"
        }
      },
      "description": "Information of the policies applied on an extension.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "properties": {
        "email": {
          "description": "The e-mail address of a user that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails",
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "temperatureCelsius": {
          "description": "Output only. CPU temperature in Celsius.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "label": {
          "description": "Output only. CPU label. Example: Core 0",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1Device": {
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "type": "string",
          "readOnly": true
        },
        "machine": {
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1Device",
      "description": "Describes a device reporting Chrome browser information.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "properties": {
        "appUninstallSource": {
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ],
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ],
          "description": "App uninstall source.",
          "type": "string"
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "type": "string"
        }
      },
      "description": "App uninstall data.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryAppUninstallEvent"
    },
    "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig": {
      "id": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig",
      "description": "Palo Alto Networks connector config.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Palo Alto Networks config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "description": "Response containing counts for devices that need attention.",
      "type": "object",
      "properties": {
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "type": "string",
          "format": "int64"
        },
        "pendingUpdate": {
          "description": "Number of devices that are pending an OS update.",
          "type": "string",
          "format": "int64"
        },
        "unsupportedPolicyCount": {
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "type": "string",
          "format": "int64"
        },
        "noRecentUserActivityCount": {
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "type": "string",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "format": "int64",
          "description": "Number of devices whose OS version is not compliant.",
          "type": "string"
        }
      }
    },
    "GoogleTypeDate": {
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SignDataMetadata": {
      "description": "Metadata for the long-running operation returned by signData.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1SignDataMetadata",
      "properties": {
        "startTime": {
          "readOnly": true,
          "description": "Output only. Start time of the SignData operation.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "properties": {
        "destinationOrgUnit": {
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "description": "Request to MoveThirdPartyProfileUser method.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUserInfo",
      "properties": {
        "orgUnitId": {
          "readOnly": true,
          "description": "Output only. Organization unit ID of the user.",
          "type": "string"
        },
        "email": {
          "description": "Output only. User's email.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "id": "GoogleChromeManagementV1UserPrintReport",
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "type": "object",
      "properties": {
        "deviceCount": {
          "format": "int64",
          "description": "Number of chrome devices that have been used to initiate print jobs by the user.",
          "type": "string"
        },
        "jobCount": {
          "format": "int64",
          "description": "Number of print jobs initiated by the user.",
          "type": "string"
        },
        "printerCount": {
          "format": "int64",
          "description": "Number of printers used by the user.",
          "type": "string"
        },
        "userId": {
          "description": "The unique Directory API ID of the user.",
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "maxClockSpeed": {
          "readOnly": true,
          "description": "Output only. The max CPU clock speed in kHz.",
          "type": "integer",
          "format": "int32"
        },
        "keylockerSupported": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean"
        },
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "type": "string",
          "readOnly": true
        },
        "keylockerConfigured": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean"
        },
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "type": "string"
        }
      },
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1CpuInfo"
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "description": "Response containing a list of devices with queried app installed.",
      "type": "object",
      "properties": {
        "devices": {
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of devices matching request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1CountDevicesPerBootTypeResponse": {
      "properties": {
        "unreportedBootTypeCount": {
          "description": "Number of devices with unreported boot type.",
          "type": "string",
          "format": "int64"
        },
        "verifiedBootTypeCount": {
          "format": "int64",
          "description": "Number of devices with verified boot type.",
          "type": "string"
        },
        "devBootTypeCount": {
          "description": "Number of devices with dev boot type.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse",
      "description": "Response containing the number of devices with the given boot type.",
      "type": "object"
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "properties": {
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string",
          "format": "int64"
        },
        "encryptionState": {
          "description": "The state of memory encryption on the device.",
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ]
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "description": "Memory encryption algorithm.",
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ]
        }
      },
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo"
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeConfig": {
      "properties": {
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the CrowdStrike config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        }
      },
      "description": "CrowdStrike connector config.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeConfig"
    },
    "GoogleChromeManagementVersionsV1SignDataResponse": {
      "properties": {
        "certificateProvisioningProcess": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess",
          "description": "Output only. The certificate provisioning process. The signature generated by the client will be available in the `signature` field of `CertificateProvisioningProcess`."
        }
      },
      "id": "GoogleChromeManagementVersionsV1SignDataResponse",
      "description": "Response message for requesting a signature from the client that initated a certificate provisioning process.",
      "type": "object"
    },
    "GoogleChromeManagementV1AppUsageData": {
      "properties": {
        "appId": {
          "description": "App id.",
          "type": "string"
        },
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "description": "Type of app.",
          "type": "string"
        },
        "runningDuration": {
          "format": "google-duration",
          "description": "App foreground running time.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Application instance id. This will be unique per window/instance.",
          "type": "string"
        }
      },
      "description": "App usage data.",
      "type": "object",
      "id": "GoogleChromeManagementV1AppUsageData"
    },
    "GoogleChromeManagementVersionsV1ScepCaConnection": {
      "id": "GoogleChromeManagementVersionsV1ScepCaConnection",
      "description": "Describes a SCEP Certificate Authority Connection.",
      "type": "object",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "readOnly": true,
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "properties": {
        "assessment": {
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider.",
          "type": "string"
        },
        "detailsUrl": {
          "description": "A URL that a user can navigate to for more information about the risk assessment.",
          "type": "string"
        },
        "version": {
          "description": "The version of the extension that this assessment applies to.",
          "type": "string"
        }
      },
      "description": "Risk assessment for a Chrome extension.",
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessment"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "description": "Information of an extension installed on a Chrome browser profile.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionData",
      "properties": {
        "extensionType": {
          "description": "Output only. Type of the extension.",
          "type": "string",
          "enum": [
            "EXTENSION_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP"
          ],
          "enumDescriptions": [
            "Represents an unspecified extension type.",
            "Represents an extension.",
            "Represents an app.",
            "Represents a theme.",
            "Represents a hosted app."
          ],
          "readOnly": true
        },
        "manifestVersion": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Manifest version of the extension.",
          "type": "integer"
        },
        "isDisabled": {
          "readOnly": true,
          "description": "Output only. Represents whether the user disabled the extension.",
          "type": "boolean"
        },
        "isWebstoreExtension": {
          "readOnly": true,
          "description": "Output only. Represents whether the extension is from the webstore.",
          "type": "boolean"
        },
        "homepageUri": {
          "description": "Output only. The URL of the homepage of the extension.",
          "type": "string",
          "readOnly": true
        },
        "extensionId": {
          "readOnly": true,
          "description": "Output only. ID of the extension.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the extension.",
          "type": "string",
          "readOnly": true
        },
        "installationType": {
          "description": "Output only. Installation type of the extension.",
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified installation type.",
            "Represents instances of the extension having mixed installation types.",
            "Represents a normal installation type.",
            "Represents an installation by admin.",
            "Represents a development installation type.",
            "Represents a sideload installation type.",
            "Represents an installation type that is not covered in the other options."
          ],
          "enum": [
            "INSTALLATION_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Version of the extension.",
          "type": "string"
        },
        "permissions": {
          "description": "Output only. Permissions requested by the extension.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the extension.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "properties": {
        "recentlyEnrolledCount": {
          "format": "int64",
          "description": "Number of browsers that have been recently enrolled",
          "type": "string"
        },
        "noRecentActivityCount": {
          "format": "int64",
          "description": "Number of browsers that haven’t had any recent activity",
          "type": "string"
        },
        "pendingBrowserUpdateCount": {
          "format": "int64",
          "description": "Number of browsers that are pending an OS update",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "description": "Response containing counts for browsers that need attention.",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deviceActivityState": {
          "description": "Output only. Device activity state.",
          "type": "string",
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ],
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1ConnectorConfig": {
      "properties": {
        "name": {
          "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "details": {
          "description": "Required. The details of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
        },
        "type": {
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "REPORTING",
            "DEVICE_TRUST",
            "XDR",
            "IDENTITY_BASED_ENROLLMENT",
            "CERTIFICATE_AUTHORITY",
            "ROOT_STORE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Reporting connector.",
            "Device trust connector.",
            "XDR connector.",
            "Authentication connector.",
            "Certificate authority connector. Not yet supported in the API.",
            "Root certificate connector."
          ],
          "description": "Required. The type of the connector.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the config.",
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the connector config.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigStatus"
        }
      },
      "description": "A representation of a connector config.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ConnectorConfig"
    },
    "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse": {
      "description": "Response containing a list of users that have requested the queried extension.",
      "type": "object",
      "id": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse",
      "properties": {
        "userDetails": {
          "items": {
            "$ref": "GoogleChromeManagementV1UserRequestingExtensionDetails"
          },
          "description": "Details of users that have requested the queried extension.",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number of users in response.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+.",
      "type": "object",
      "id": "GoogleChromeManagementV1RuntimeCountersReport",
      "properties": {
        "enterPoweroffCount": {
          "format": "int64",
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp when the report was collected.",
          "type": "string"
        },
        "uptimeRuntimeDuration": {
          "format": "google-duration",
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR.",
          "type": "string"
        },
        "enterSleepCount": {
          "format": "int64",
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3.",
          "type": "string"
        },
        "enterHibernationCount": {
          "format": "int64",
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "properties": {
        "adapterInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU)."
        },
        "displayDevices": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          },
          "readOnly": true,
          "description": "Output only. Information about the display(s) of the device.",
          "type": "array"
        },
        "touchScreenInfo": {
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TouchScreenInfo"
        },
        "eprivacySupported": {
          "readOnly": true,
          "description": "Output only. Is ePrivacy screen supported or not.",
          "type": "boolean"
        }
      },
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsInfo"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "description": "Describes an installed app.",
      "type": "object",
      "id": "GoogleChromeManagementV1InstalledApp",
      "properties": {
        "appInstallType": {
          "readOnly": true,
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. How the app was installed.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the installed app.",
          "type": "string"
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        },
        "appType": {
          "description": "Output only. Type of the app.",
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "readOnly": true
        },
        "browserDeviceCount": {
          "description": "Output only. Count of browser devices with this app installed.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "permissions": {
          "description": "Output only. Permissions of the installed app.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the installed app.",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "type": "string",
          "readOnly": true
        },
        "appSource": {
          "readOnly": true,
          "description": "Output only. Source of the installed app.",
          "type": "string",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ]
        },
        "osUserCount": {
          "readOnly": true,
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "type": "string",
          "format": "int64"
        },
        "disabled": {
          "readOnly": true,
          "description": "Output only. Whether the app is disabled.",
          "type": "boolean"
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse",
      "description": "Response to ListChromeBrowserProfiles method.",
      "type": "object",
      "properties": {
        "chromeBrowserProfiles": {
          "description": "The list of profiles returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          }
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "id": "GoogleChromeManagementV1NetworkInfo",
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "type": "object",
      "properties": {
        "networkDevices": {
          "description": "Output only. List of network devices.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1PrinterReport": {
      "properties": {
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        },
        "printer": {
          "description": "Printer name.",
          "type": "string"
        },
        "printerModel": {
          "description": "Printer model.",
          "type": "string"
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "type": "string",
          "format": "int64"
        },
        "jobCount": {
          "format": "int64",
          "description": "Number of print jobs sent to the printer.",
          "type": "string"
        },
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1PrinterReport",
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "properties": {
        "deviceName": {
          "description": "The name of a device that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "properties": {
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        },
        "httpsLatencyState": {
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "description": "Current HTTPS latency state.",
          "type": "string"
        }
      },
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "properties": {
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Battery manufacturer.",
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        },
        "designMinVoltage": {
          "readOnly": true,
          "description": "Output only. Designed minimum output voltage (mV)",
          "type": "integer",
          "format": "int32"
        },
        "technology": {
          "readOnly": true,
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "type": "string"
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "designCapacity": {
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1BatteryInfo",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "properties": {
        "disk": {
          "description": "Output only. Reports on disk.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "readOnly": true
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1StorageStatusReport"
    },
    "GoogleChromeManagementV1RiskAssessmentData": {
      "properties": {
        "overallRiskLevel": {
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "description": "Overall assessed risk level across all entries. This will be the highest risk level from all entries.",
          "type": "string"
        },
        "entries": {
          "description": "Individual risk assessments.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1RiskAssessmentEntry"
          }
        }
      },
      "description": "Risk assessment data about an extension/app.",
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessmentData"
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "id": "GoogleChromeManagementV1NetworkDevice",
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "macAddress": {
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "type": "string",
          "readOnly": true
        },
        "meid": {
          "readOnly": true,
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "type": "string"
        },
        "imei": {
          "readOnly": true,
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "type": "string"
        },
        "mdn": {
          "readOnly": true,
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Network device type.",
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ]
        },
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "properties": {
        "documentationUri": {
          "readOnly": true,
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the permission.",
          "type": "string",
          "readOnly": true
        },
        "accessUserData": {
          "readOnly": true,
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "type": "boolean"
        }
      },
      "description": "Permission requested by a Chrome app or extension.",
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppPermission"
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "properties": {
        "source": {
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "description": "Output only. Source of the policy.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "description": "Information of conflicting policy applied on a Chrome browser profile.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "description": "Response for MoveThirdPartyProfileUser method.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "properties": {
        "thirdPartyProfileUser": {
          "description": "Output only. The moved third party profile user.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayData": {
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayData",
      "description": "External display data.",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number.",
          "type": "integer",
          "format": "int32"
        },
        "refreshRate": {
          "description": "The refresh rate.",
          "type": "string",
          "format": "int64"
        },
        "resolutionHorizontal": {
          "description": "The horizontal resolution.",
          "type": "integer",
          "format": "int32"
        },
        "edidVersion": {
          "description": "The EDID version.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name.",
          "type": "string"
        },
        "resolutionVertical": {
          "format": "int32",
          "description": "The vertical resolution.",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of printers matching request.",
          "type": "string",
          "format": "int64"
        },
        "printerReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "properties": {
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        },
        "count": {
          "description": "Total count of crash events.",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "The `count` of the Chrome crash events at the `date`.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "properties": {
        "usbPeripheralReport": {
          "description": "Reports of all usb connected devices.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the report was collected.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig": {
      "properties": {
        "xdrSettings": {
          "description": "Required. The XDR settings for the CrowdStrike XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig",
      "description": "CrowdStrike XDR connector config.",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations.",
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "Total number of matching app requests.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "requestedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "description": "Count of requested apps matching request.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "properties": {
        "subclassId": {
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "firmwareVersion": {
          "readOnly": true,
          "description": "Output only. Firmware version",
          "type": "string"
        },
        "vendor": {
          "description": "Output only. Vendor name",
          "type": "string",
          "readOnly": true
        },
        "pid": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Product ID",
          "type": "integer"
        },
        "name": {
          "description": "Output only. Device name, model name, or product name",
          "type": "string",
          "readOnly": true
        },
        "vid": {
          "format": "int32",
          "description": "Output only. Vendor ID",
          "type": "integer",
          "readOnly": true
        },
        "categories": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes",
          "type": "array"
        },
        "classId": {
          "format": "int32",
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "USB connected peripheral report.",
      "type": "object",
      "id": "GoogleChromeManagementV1UsbPeripheralReport"
    },
    "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent": {
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "connectionState": {
          "description": "Current connection state of the network.",
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ]
        }
      },
      "description": "`TelemetryNetworkConnectionStateChangeEvent` is triggered on network connection state changes. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
    },
    "GoogleChromeManagementV1CountPrintJobsByUserResponse": {
      "properties": {
        "totalSize": {
          "format": "int64",
          "description": "Total number of users matching request.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "userPrintReports": {
          "description": "List of UserPrintReports matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UserPrintReport"
          }
        }
      },
      "description": "Response containing a summary printing report for each user that has initiated a print job with a printer from the specified organizational unit during the requested time interval.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. The value of the subject alternative name with respect to the `type`.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the SubjectAltName extension.",
          "type": "string",
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "readOnly": true
        }
      },
      "description": "Describes a subject alternative name.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1SubjectAltName"
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "properties": {
        "touchPointCount": {
          "readOnly": true,
          "description": "Output only. Number of touch points supported on the device.",
          "type": "integer",
          "format": "int32"
        },
        "stylusCapable": {
          "readOnly": true,
          "description": "Output only. Touch screen device is stylus capable or not.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. Touch screen device display name.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "description": "Information of an internal touch screen device.",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "type": "object",
      "properties": {
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "type": "string",
          "readOnly": true
        },
        "driverVersion": {
          "description": "Output only. Version of the GPU driver.",
          "type": "string",
          "readOnly": true
        },
        "deviceId": {
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "description": "Response containing requested browser versions details and counts.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "properties": {
        "browserVersions": {
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "description": "List of all browser versions and their install counts.",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number browser versions matching request.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1PubSubXdrConfig": {
      "id": "GoogleChromeManagementVersionsV1PubSubXdrConfig",
      "description": "Pub/Sub XDR connector config.",
      "type": "object",
      "properties": {
        "topicFullPath": {
          "description": "Required. The full path to the topic to send the event to.",
          "type": "string"
        },
        "xdrSettings": {
          "description": "Required. The XDR settings for the Pub/Sub XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        }
      }
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "properties": {
        "availableRamBytes": {
          "format": "int64",
          "description": "Output only. Amount of available RAM in bytes.",
          "type": "string",
          "readOnly": true
        },
        "totalRamBytes": {
          "format": "int64",
          "description": "Output only. Total RAM in bytes.",
          "type": "string",
          "readOnly": true
        },
        "totalMemoryEncryption": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device."
        }
      },
      "id": "GoogleChromeManagementV1MemoryInfo",
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "description": "Response message for listing notification configs for a customer.",
      "type": "object",
      "properties": {
        "telemetryNotificationConfigs": {
          "description": "The telemetry notification configs from the specified customer.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1EnumeratePrintJobsResponse": {
      "description": "Response containing a list of print jobs.",
      "type": "object",
      "id": "GoogleChromeManagementV1EnumeratePrintJobsResponse",
      "properties": {
        "totalSize": {
          "description": "Total number of print jobs matching request.",
          "type": "string",
          "format": "int64"
        },
        "printJobs": {
          "description": "List of requested print jobs.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrintJob"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be used in a subsequent request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "type": "object",
      "properties": {
        "lastUpdateCheckTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last update check.",
          "type": "string"
        },
        "lastRebootTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the last reboot.",
          "type": "string",
          "format": "google-datetime"
        },
        "newRequestedPlatformVersion": {
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "type": "string",
          "readOnly": true
        },
        "newPlatformVersion": {
          "readOnly": true,
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "type": "string"
        },
        "updateState": {
          "description": "Output only. Current state of the os update.",
          "type": "string",
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "readOnly": true
        },
        "lastUpdateTime": {
          "description": "Output only. Timestamp of the last successful update.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig": {
      "properties": {
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the CrowdStrike Falcon Next Gen config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig",
      "description": "CrowdStrike Falcon Next Gen connector config.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfile": {
      "description": "A representation of a Chrome browser profile.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfile",
      "properties": {
        "supportsFcmNotifications": {
          "readOnly": true,
          "description": "Output only. Whether the profile supports FCM notifications.",
          "type": "boolean"
        },
        "osVersion": {
          "readOnly": true,
          "description": "Output only. OS version of the device on which the profile exists.",
          "type": "string"
        },
        "attestationCredential": {
          "description": "Output only. Attestation credential information of the profile.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1AttestationCredential"
        },
        "annotatedUser": {
          "description": "Optional. User of the profile annotated by the admin.",
          "type": "string"
        },
        "profilePermanentId": {
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "type": "string",
          "readOnly": true
        },
        "lastPolicySyncTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest policy sync by the profile.",
          "type": "string"
        },
        "browserVersion": {
          "description": "Output only. Version of the browser on which the profile exists.",
          "type": "string",
          "readOnly": true
        },
        "osPlatformType": {
          "readOnly": true,
          "description": "Output only. OS platform of the device on which the profile exists.",
          "type": "string"
        },
        "policyCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of policies applied on the profile.",
          "type": "string"
        },
        "lastActivityTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the latest activity by the profile.",
          "type": "string"
        },
        "userEmail": {
          "description": "Output only. Email address of the user to which the profile belongs.",
          "type": "string",
          "readOnly": true
        },
        "identityProvider": {
          "description": "Output only. Identify provider of the profile.",
          "type": "string",
          "enum": [
            "IDENTITY_PROVIDER_UNSPECIFIED",
            "GOOGLE_IDENTITY_PROVIDER",
            "EXTERNAL_IDENTITY_PROVIDER"
          ],
          "enumDescriptions": [
            "Represents an unspecified identity provider.",
            "Represents a Google identity provider.",
            "Represents an external identity provider."
          ],
          "readOnly": true
        },
        "osPlatformVersion": {
          "readOnly": true,
          "description": "Output only. Major OS platform version of the device on which the profile exists, from profile reporting.",
          "type": "string"
        },
[...]
