{
  "name": "chromemanagement",
  "revision": "20260424",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "schemas": {
    "GoogleChromeManagementVersionsV1CertificateProvisioningProcess": {
      "id": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess",
      "description": "A certificate provisioning process.",
      "type": "object",
      "properties": {
        "genericProfile": {
          "description": "Output only. The profile is a generic certificate provisioning profile.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1GenericProfile"
        },
        "provisioningProfileId": {
          "description": "Output only. The ID of the certificate provisioning profile.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the `CertificateProvisioningProcess`. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
          "type": "string"
        },
        "signatureAlgorithm": {
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ],
          "description": "Output only. The signature algorithm that the client and backend components use when processing `sign_data`. If the `profile_type` is a `GenericProfile`, this field will only be present after the `SignData` operation was initiated. If the `profile_type` is a `ScepProfile`, the field will always be present.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Server-generated timestamp of when the certificate provisioning process has been created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "signData": {
          "description": "Output only. The data that the client was asked to sign. This field is only present after the `SignData` operation has been initiated.",
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "scepProfile": {
          "description": "Output only. The profile is a SCEP certificate provisioning profile.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ScepProfile"
        },
        "chromeOsUserSession": {
          "description": "Output only. The client certificate is being provisioned for a ChromeOS user. This contains information about the current user session.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsUserSession"
        },
        "issuedCertificate": {
          "description": "Output only. The issued certificate for this `CertificateProvisioningProcess` in PEM format.",
          "readOnly": true,
          "type": "string"
        },
        "genericCaConnection": {
          "description": "Output only. The CA connection is a generic CA connection.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1GenericCaConnection"
        },
        "scepCaConnection": {
          "description": "Output only. The CA connection is a SCEP CA connection.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ScepCaConnection"
        },
        "subjectPublicKeyInfo": {
          "format": "byte",
          "description": "Output only. The public key for which a certificate should be provisioned. Represented as a DER-encoded X.509 SubjectPublicKeyInfo.",
          "readOnly": true,
          "type": "string"
        },
        "signature": {
          "description": "Output only. The signature of `signature_algorithm`, generated using the client's private key using `signature_algorithm`. This field is only present after the `SignData` operation has finished.",
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "chromeOsDevice": {
          "description": "Output only. The client certificate is being provisioned for a ChromeOS device. This contains information about the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice"
        },
        "failureMessage": {
          "description": "Output only. A message describing why this `CertificateProvisioningProcess` has failed. Presence of this field indicates that the `CertificateProvisioningProcess` has failed.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "description": "Describes a subject alternative name.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Output only. The value of the subject alternative name with respect to the `type`.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the SubjectAltName extension.",
          "readOnly": true,
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT",
      "type": "object",
      "properties": {
        "cycleCount": {
          "format": "int32",
          "description": "Output only. Cycle count.",
          "readOnly": true,
          "type": "integer"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "sample": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        },
        "fullChargeCapacity": {
          "format": "int64",
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string"
        },
        "batteryHealth": {
          "type": "string",
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy, full charge capacity / design capacity > 80%",
            "Battery is moderately unhealthy and suggested to be replaced soon, full charge capacity / design capacity 75% - 80%",
            "Battery is unhealthy and suggested to be replaced, full charge capacity / design capacity < 75%"
          ],
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "description": "Output only. Battery health.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "type": "object",
      "properties": {
        "printerReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of printers matching request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "properties": {
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          }
        },
        "deviceId": {
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string"
        },
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "appReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        },
        "deviceActivityReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          },
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "description": "Response containing the number of devices with the given channel.",
      "type": "object",
      "properties": {
        "devChannelCount": {
          "format": "int64",
          "description": "Number of devices with dev release channel.",
          "type": "string"
        },
        "betaChannelCount": {
          "description": "Number of devices with beta release channel.",
          "type": "string",
          "format": "int64"
        },
        "ltcChannelCount": {
          "format": "int64",
          "description": "Number of devices with ltc release channel.",
          "type": "string"
        },
        "ltsChannelCount": {
          "description": "Number of devices with lts release channel.",
          "type": "string",
          "format": "int64"
        },
        "stableChannelCount": {
          "description": "Number of devices with stable release channel.",
          "type": "string",
          "format": "int64"
        },
        "unreportedChannelCount": {
          "format": "int64",
          "description": "Number of devices with an unreported release channel.",
          "type": "string"
        },
        "unsupportedChannelCount": {
          "description": "Number of devices with unsupported release channel.",
          "type": "string",
          "format": "int64"
        },
        "canaryChannelCount": {
          "format": "int64",
          "description": "Number of devices with canary release channel.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "description": "Permission requested by an Android app.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "id": "GoogleChromeManagementV1DisplayDevice",
      "description": "Information of a display device.",
      "type": "object",
      "properties": {
        "internal": {
          "description": "Output only. Is display internal or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "manufactureYear": {
          "format": "int32",
          "description": "Output only. Year of manufacture.",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "modelId": {
          "description": "Output only. Manufacturer product code.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "displayWidthMm": {
          "format": "int32",
          "description": "Output only. Display width in millimeters.",
          "readOnly": true,
          "type": "integer"
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "displayHeightMm": {
          "format": "int32",
          "description": "Output only. Display height in millimeters.",
          "readOnly": true,
          "type": "integer"
        },
        "manufacturerId": {
          "description": "Output only. Three letter manufacturer ID.",
          "readOnly": true,
          "type": "string"
        },
        "edidVersion": {
          "description": "Output only. EDID version.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "id": "GoogleChromeManagementV1NetworkDevice",
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "imei": {
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        },
        "macAddress": {
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "description": "Output only. Network device type.",
          "readOnly": true
        },
        "mdn": {
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "id": "GoogleChromeManagementV1DisplayInfo",
      "description": "Information for a display.",
      "type": "object",
      "properties": {
        "isInternal": {
          "description": "Output only. Indicates if display is internal or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "deviceId": {
          "description": "Output only. Represents the graphics card device id.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "resolutionHeight": {
          "format": "int32",
          "description": "Output only. Resolution height in pixels.",
          "readOnly": true,
          "type": "integer"
        },
        "edidVersion": {
          "description": "Output only. EDID version.",
          "readOnly": true,
          "type": "string"
        },
        "resolutionWidth": {
          "format": "int32",
          "description": "Output only. Resolution width in pixels.",
          "readOnly": true,
          "type": "integer"
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "description": "Request to MoveThirdPartyProfileUser method.",
      "type": "object",
      "properties": {
        "destinationOrgUnit": {
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "description": "Response containing counts for browsers that need attention.",
      "type": "object",
      "properties": {
        "pendingBrowserUpdateCount": {
          "format": "int64",
          "description": "Number of browsers that are pending an OS update",
          "type": "string"
        },
        "recentlyEnrolledCount": {
          "description": "Number of browsers that have been recently enrolled",
          "type": "string",
          "format": "int64"
        },
        "noRecentActivityCount": {
          "format": "int64",
          "description": "Number of browsers that haven’t had any recent activity",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Time at which the graphics data was reported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displays": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "description": "Output only. Information about the displays for the device.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
      "description": "External display connected/disconnected event payload.",
      "type": "object",
      "properties": {
        "externalDisplayData": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          },
          "description": "List of external displays that were connected/disconnected.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse": {
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse",
      "description": "Response message for claiming a certificate provisioning process.",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig": {
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig",
      "description": "CrowdStrike Falcon Next Gen connector config.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the CrowdStrike Falcon Next Gen config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "description": "The `count` of the Chrome crash events at the `date`.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        },
        "count": {
          "format": "int64",
          "description": "Total count of crash events.",
          "type": "string"
        },
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1GoogleSecOpsConfig": {
      "id": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig",
      "description": "Google SecOps connector config.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        },
        "host": {
          "description": "Required. Host of ingestion API endpoint. Allows customer to upload events to servers in specific geographical regions. Existing configs that don't have this setting default to US.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Google SecOps config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        }
      }
    },
    "GoogleChromeManagementVersionsV1UploadCertificateRequest": {
      "id": "GoogleChromeManagementVersionsV1UploadCertificateRequest",
      "description": "Request message for uploading an issued certificate for a certificate provisioning process.",
      "type": "object",
      "properties": {
        "certificatePem": {
          "description": "Required. The issued certificate in PEM format.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigStatus": {
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
      "description": "The status of the connector config.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Field recording time of most recent modification of the status. For `ENABLED`, this is the time the status was changed to `ENABLED`. For `DISABLED_BY_FAILURES`, this is the time of the most recent failed attempt to send an event to this config.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "CONFIG_STATE_UNKNOWN",
            "ENABLED",
            "DISABLED_BY_FAILURES"
          ],
          "enumDescriptions": [
            "Default value.",
            "The connector config is enabled.",
            "The connector config is transiently disabled due to failures."
          ],
          "description": "Output only. The state of the connector config. The connector state is disabled if the connector has not successfully sent an event in the last 24 hours.",
          "readOnly": true
        },
        "failureStartTime": {
          "description": "Output only. Field recording time of the earliest failure since the last success event. This field is only set when the state is `DISABLED_BY_FAILURES`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to.",
      "type": "object",
      "properties": {
        "deviceDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse": {
      "id": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse",
      "description": "Response containing a list of devices that have requested the queried extension.",
      "type": "object",
      "properties": {
        "deviceDetails": {
          "description": "Details of devices that have requested the queried extension.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceRequestingExtensionDetails"
          }
        },
        "totalSize": {
          "description": "Optional. Total number of devices in response.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Optional. Token to specify the next page in the list. Token expires after 1 day.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1NetworkBandwidthReport": {
      "id": "GoogleChromeManagementV1NetworkBandwidthReport",
      "description": "Network bandwidth report. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "type": "string"
        },
        "downloadSpeedKbps": {
          "format": "int64",
          "description": "Output only. Download speed in kilobits per second.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "remainingCapacity": {
          "format": "int64",
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string"
        },
        "dischargeRate": {
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "voltage": {
          "format": "int64",
          "description": "Output only. Battery voltage (millivolt).",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true,
          "type": "string"
        },
        "chargeRate": {
          "format": "int32",
          "description": "Output only. Battery charge percentage.",
          "readOnly": true,
          "type": "integer"
        },
        "current": {
          "format": "int64",
          "description": "Output only. Battery current (mA).",
          "readOnly": true,
          "type": "string"
        },
        "temperature": {
          "description": "Output only. Temperature in Celsius degrees.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1AppReport": {
      "id": "GoogleChromeManagementV1AppReport",
      "description": "App report.",
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp when the report was collected.",
          "type": "string"
        },
        "usageData": {
          "description": "App usage data.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AppUsageData"
          }
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "type": "object",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult": {
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult",
      "description": "Result of the execution of a command.",
      "type": "object",
      "properties": {
        "resultType": {
          "type": "string",
          "description": "Output only. Result type of the remote command.",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified command result.",
            "Represents a command with an ignored result.",
            "Represents a failed command.",
            "Represents a succeeded command."
          ],
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ]
        },
        "resultCode": {
          "description": "Output only. Result code that indicates the type of error or success of the command.",
          "readOnly": true,
          "type": "string"
        },
        "clientExecutionTime": {
          "description": "Output only. Timestamp of the client execution of the remote command.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "description": "Chrome Web Store app information.",
      "type": "object",
      "properties": {
        "isExtensionPolicySupported": {
          "description": "Output only. Whether an app supports policy for extensions.",
          "readOnly": true,
          "type": "boolean"
        },
        "siteAccess": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "array"
        },
        "type": {
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ],
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "description": "Output only. Types of an item in the Chrome Web Store",
          "readOnly": true,
          "type": "string"
        },
        "supportEnabled": {
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "kioskEnabled": {
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "isCwsHosted": {
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "readOnly": true,
          "type": "boolean"
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "array"
        },
        "minUserCount": {
          "description": "Output only. The minimum number of users using this app.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "isTheme": {
          "description": "Output only. Whether the app or extension is a theme.",
          "readOnly": true,
          "type": "boolean"
        },
        "googleOwned": {
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "manifestVersion": {
          "description": "Output only. The version of this extension's manifest.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1PrintJob": {
      "id": "GoogleChromeManagementV1PrintJob",
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "colorMode": {
          "description": "Color mode.",
          "type": "string",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ]
        },
        "copyCount": {
          "format": "int32",
          "description": "Number of copies.",
          "type": "integer"
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        },
        "documentPageCount": {
          "format": "int32",
          "description": "Number of pages in the document.",
          "type": "integer"
        },
        "duplexMode": {
          "description": "Duplex mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ],
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ]
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Print job completion timestamp.",
          "type": "string"
        },
        "state": {
          "description": "The final state of the job.",
          "type": "string",
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ]
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "createTime": {
          "description": "Print job creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "httpsLatencyData": {
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Count of devices of this model.",
          "type": "string"
        },
        "aueMonth": {
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string"
        },
        "expired": {
          "description": "Boolean value for whether or not the device has already expired.",
          "type": "boolean"
        },
        "aueYear": {
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "description": "Response to ListChromeBrowserProfileCommands method.",
      "type": "object",
      "properties": {
        "chromeBrowserProfileCommands": {
          "description": "The list of commands returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          }
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "description": "Information of conflicting policy applied on a Chrome browser profile.",
      "type": "object",
      "properties": {
        "source": {
          "type": "string",
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "description": "Output only. Source of the policy.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        },
        "httpsLatencyState": {
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "description": "Current HTTPS latency state.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "description": "Android app information.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Output only. Permissions requested by an Android app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          }
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "transmissionBitRateMbps": {
          "format": "int64",
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "readOnly": true,
          "type": "string"
        },
        "connectionState": {
          "description": "Output only. Current connection state of the network.",
          "readOnly": true,
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "type": "string"
        },
        "transmissionPowerDbm": {
          "format": "int32",
          "description": "Output only. Transmission power measured in decibels.",
          "readOnly": true,
          "type": "integer"
        },
        "ipv6Address": {
          "items": {
            "type": "string"
          },
          "description": "Output only. IPv6 addresses assigned to this network, if any. Each address is a string in standard IPv6 text representation (e.g., \"2001:db8::1\").",
          "readOnly": true,
          "type": "array"
        },
        "gatewayIpv6Address": {
          "description": "Output only. The gateway IPv6 for this interface, if detected",
          "readOnly": true,
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionOn": {
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "readOnly": true,
          "type": "boolean"
        },
        "sampleFrequency": {
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string"
        },
        "wifiLinkQuality": {
          "format": "int64",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "readOnly": true,
          "type": "string"
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "readOnly": true,
          "type": "string"
        },
        "wifiPowerManagementEnabled": {
          "description": "Output only. Wifi power management enabled",
          "readOnly": true,
          "type": "boolean"
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "readOnly": true,
          "type": "string"
        },
        "metered": {
          "description": "Output only. Whether the network was detected as metered.",
          "readOnly": true,
          "type": "boolean"
        },
        "linkDownSpeedKbps": {
          "format": "int64",
          "description": "Output only. The maximum downstream bandwidth in Kilobits per second (Kbps), if reported by the network interface or connection.",
          "readOnly": true,
          "type": "string"
        },
        "receivingBitRateMbps": {
          "format": "int64",
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "readOnly": true,
          "type": "string"
        },
        "connectionType": {
          "type": "string",
          "description": "Output only. Network connection type.",
          "readOnly": true,
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ]
        },
        "signalStrengthDbm": {
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "type": "object",
      "properties": {
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "readOnly": true,
          "type": "string"
        },
        "designCapacity": {
          "format": "int64",
          "description": "Output only. Design capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string"
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "designMinVoltage": {
          "description": "Output only. Designed minimum output voltage (mV)",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SplunkConfig": {
      "id": "GoogleChromeManagementVersionsV1SplunkConfig",
      "description": "Splunk connector config.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Optional. Optional source name to override the default one set in the Splunk admin console.",
          "type": "string"
        },
        "unsecureScheme": {
          "description": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS).",
          "type": "boolean"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Splunk config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "portNumber": {
          "description": "Optional. The port number to use. If not set, the default Splunk port is used.",
          "type": "integer",
          "format": "int32"
        },
        "hecToken": {
          "description": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header.",
          "type": "string"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "id": "GoogleChromeManagementV1TelemetryUserInfo",
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER",
      "type": "object",
      "properties": {
        "email": {
          "description": "Output only. User's email.",
          "readOnly": true,
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the user.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "id": "GoogleChromeManagementV1MemoryStatusReport",
      "description": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_REPORT",
      "type": "object",
      "properties": {
        "pageFaults": {
          "description": "Output only. Number of page faults during this collection",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "systemRamFreeBytes": {
          "format": "int64",
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "readOnly": true,
          "type": "string"
        },
        "sampleFrequency": {
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig": {
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig",
      "description": "CrowdStrike XDR connector config.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        },
        "xdrSettings": {
          "description": "Required. The XDR settings for the CrowdStrike XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO",
      "type": "object",
      "properties": {
        "adapterInfo": {
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo"
        },
        "eprivacySupported": {
          "description": "Output only. Is ePrivacy screen supported or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "touchScreenInfo": {
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TouchScreenInfo"
        },
        "displayDevices": {
          "description": "Output only. Information about the display(s) of the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          }
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Count of devices with a unique hardware specification.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "id": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
      "description": "App uninstall data.",
      "type": "object",
      "properties": {
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appType": {
          "type": "string",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app."
        },
        "appUninstallSource": {
          "description": "App uninstall source.",
          "type": "string",
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ],
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1PubSubConfig": {
      "id": "GoogleChromeManagementVersionsV1PubSubConfig",
      "description": "Pub/Sub connector config.",
      "type": "object",
      "properties": {
        "topicFullPath": {
          "description": "Required. The full path to the topic to send the event to.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Pub/Sub config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "description": "Response message for listing telemetry users for a customer.",
      "type": "object",
      "properties": {
        "telemetryUsers": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "description": "Telemetry users returned in the response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "description": "Describes a browser version and its install count.",
      "type": "object",
      "properties": {
        "count": {
          "description": "Output only. Count grouped by device_system and major version",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "version": {
          "description": "Output only. The full version of the installed browser.",
          "readOnly": true,
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Output only. The release channel of the installed browser.",
          "readOnly": true,
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ]
        },
        "system": {
          "type": "string",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "description": "Output only. The device operating system.",
          "readOnly": true
        },
        "deviceOsVersion": {
          "description": "Output only. Version of the system-specified operating system.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingSettings": {
      "id": "GoogleChromeManagementVersionsV1ReportingSettings",
      "description": "Reporting settings for connector configs.",
      "type": "object",
      "properties": {
        "enabledDefaultEvents": {
          "items": {
            "type": "string",
            "enum": [
              "DEFAULT_EVENT_UNSPECIFIED",
              "ALL_DEFAULT_EVENTS",
              "BROWSER_CRASH_EVENT",
              "BROWSER_EXTENSION_INSTALL_EVENT",
              "CONTENT_TRANSFER_EVENT",
              "CONTENT_UNSCANNED_EVENT",
              "DATA_ACCESS_CONTROL_EVENT",
              "MALWARE_TRANSFER_EVENT",
              "PASSWORD_CHANGED_EVENT",
              "PASSWORD_REUSE_EVENT",
              "SENSITIVE_DATA_TRANSFER_EVENT",
              "SUSPICIOUS_URL_EVENT",
              "UNSAFE_SITE_VISIT_EVENT",
              "URL_FILTERING_INTERSTITIAL_EVENT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All default events.",
              "Browser crash event.",
              "Browser extension install event.",
              "Content transfer event.",
              "Content unscanned event.",
              "Data access control event.",
              "Malware transfer event.",
              "Password changed event.",
              "Password reuse event.",
              "Sensitive data transfer event.",
              "Suspicious URL event.",
              "Unsafe site visit event.",
              "URL filtering interstitial event."
            ]
          },
          "description": "Optional. The list of user and browser events that are enabled for this connector. An empty list disables all default events, and using `ALL_DEFAULT_EVENTS` will enable all default events.",
          "type": "array"
        },
        "enabledOptInEvents": {
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All opt-in events.",
              "Login event.",
              "Password breach event.",
              "URL navigation event.",
              "Extension telemetry event."
            ],
            "enum": [
              "OPT_IN_EVENT_UNSPECIFIED",
              "ALL_OPT_IN_EVENTS",
              "LOGIN_EVENT",
              "PASSWORD_BREACH_EVENT",
              "URL_NAVIGATION_EVENT",
              "EXTENSION_TELEMETRY_EVENT"
            ],
            "type": "string"
          },
          "description": "Optional. The list of opt-in events that are enabled for this config. An empty list disables all opt-in events, and using `ALL_OPT_IN_EVENTS` will enable all opt-in events.",
          "type": "array"
        },
        "enabledDeviceEvents": {
          "description": "Optional. The list of device events that are enabled for this config. An empty list disables all device events, and using `ALL_DEVICE_EVENTS` will enable all device events.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DEVICE_EVENT_UNSPECIFIED",
              "ALL_DEVICE_EVENTS",
              "ADD_REMOVE_USER_EVENT",
              "LOGIN_LOGOUT_EVENT",
              "CRD_EVENT",
              "PERIPHERAL_EVENT"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "All device events.",
              "Add/remove user event.",
              "Login/logout event.",
              "CRD event.",
              "Peripheral event."
            ]
          }
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "encryptionState": {
          "description": "The state of memory encryption on the device.",
          "type": "string",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ]
        },
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "description": "Memory encryption algorithm.",
          "type": "string",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessmentData": {
      "id": "GoogleChromeManagementV1RiskAssessmentData",
      "description": "Risk assessment data about an extension/app.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleChromeManagementV1RiskAssessmentEntry"
          },
          "description": "Individual risk assessments.",
          "type": "array"
        },
        "overallRiskLevel": {
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "description": "Overall assessed risk level across all entries. This will be the highest risk level from all entries.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest": {
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest",
      "description": "Request message for claiming a certificate provisioning process.",
      "type": "object",
      "properties": {
        "callerInstanceId": {
          "description": "Required. The instance id of the caller.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "description": "Response containing the number of active devices.",
      "type": "object",
      "properties": {
        "sevenDaysCount": {
          "format": "int64",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "type": "string"
        },
        "thirtyDaysCount": {
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1PubSubXdrConfig": {
      "id": "GoogleChromeManagementVersionsV1PubSubXdrConfig",
      "description": "Pub/Sub XDR connector config.",
      "type": "object",
      "properties": {
        "topicFullPath": {
          "description": "Required. The full path to the topic to send the event to.",
          "type": "string"
        },
        "xdrSettings": {
          "description": "Required. The XDR settings for the Pub/Sub XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        }
      }
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "description": "Response containing a list of devices with queried app installed.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of devices matching request.",
          "type": "integer",
          "format": "int32"
        },
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "temperatureCelsius": {
          "description": "Output only. CPU temperature in Celsius.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "label": {
          "description": "Output only. CPU label. Example: Core 0",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "id": "GoogleChromeManagementVersionsV1GenericProfile",
      "description": "Describes a generic certificate provisioning profile.",
      "type": "object",
      "properties": {
        "profileAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "type": "object",
      "properties": {
        "latency": {
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "readOnly": true,
          "type": "string"
        },
        "problem": {
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ConnectorConfig": {
      "id": "GoogleChromeManagementVersionsV1ConnectorConfig",
      "description": "A representation of a connector config.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the config.",
          "type": "string"
        },
        "details": {
          "description": "Required. The details of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
        },
        "type": {
          "description": "Required. The type of the connector.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Reporting connector.",
            "Device trust connector.",
            "XDR connector.",
            "Authentication connector.",
            "Certificate authority connector. Not yet supported in the API.",
            "Root certificate connector."
          ],
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "REPORTING",
            "DEVICE_TRUST",
            "XDR",
            "IDENTITY_BASED_ENROLLMENT",
            "CERTIFICATE_AUTHORITY",
            "ROOT_STORE"
          ]
        },
        "name": {
          "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the connector config.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigStatus"
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "disk": {
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "description": "Output only. Reports on disk.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp of when status changed was detected",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ],
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ],
          "description": "State the device changed to",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "description": "Information of the policies applied on an extension.",
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "extensionName": {
          "description": "Output only. Name of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "policyData": {
          "description": "Output only. Information of the policies applied on the extension.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          }
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "type": "object",
      "properties": {
        "riskAssessment": {
          "description": "Output only. The details of the provider's risk assessment.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessment"
        },
        "riskLevel": {
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "readOnly": true,
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "type": "string"
        },
        "provider": {
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ScepProfile": {
      "id": "GoogleChromeManagementVersionsV1ScepProfile",
      "description": "Describes a SCEP certificate provisioning profile.",
      "type": "object",
      "properties": {
        "subjectCommonName": {
          "description": "Output only. The common name of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "locality": {
          "description": "Output only. The locality of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "subjectAltNames": {
          "description": "Output only. The subject alternative names.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1SubjectAltName"
          }
        },
        "country": {
          "description": "Output only. The country of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "keyUsages": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The key usage is unspecified.",
              "The key can be used for signing.",
              "The key can be used for key encipherment."
            ],
            "enum": [
              "KEY_USAGE_UNSPECIFIED",
              "KEY_USAGE_SIGNING",
              "KEY_USAGE_KEY_ENCIPHERMENT"
            ]
          },
          "description": "Output only. The allowed key usages for certificate's key.",
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "description": "Output only. The state of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "organization": {
          "description": "Output only. The name of the organization the subject belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "certificateTemplateName": {
          "description": "Output only. The certificate template name as defined by the admin on their on-prem infrastructure. The Certificate Authority uses this name to identify the certificate template.",
          "readOnly": true,
          "type": "string"
        },
        "organizationalUnits": {
          "description": "Output only. The organizational units of the subject.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent": {
      "id": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
      "description": "`TelemetryNetworkSignalStrengthEvent` is triggered on WiFi signal strength events. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "signalStrengthDbm": {
          "format": "int32",
          "description": "Signal strength RSSI value.",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1InstalledApp": {
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "type": "object",
      "properties": {
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "description": "Output only. Type of the app.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Name of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "appInstallType": {
          "description": "Output only. How the app was installed.",
          "readOnly": true,
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "type": "string"
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "osUserCount": {
          "format": "int64",
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "readOnly": true,
          "type": "string"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "type": "array"
        },
        "browserDeviceCount": {
          "description": "Output only. Count of browser devices with this app installed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "appSource": {
          "type": "string",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "description": "Output only. Source of the installed app.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1ScepCaConnection": {
      "id": "GoogleChromeManagementVersionsV1ScepCaConnection",
      "description": "Describes a SCEP Certificate Authority Connection.",
      "type": "object",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SignDataMetadata": {
      "id": "GoogleChromeManagementVersionsV1SignDataMetadata",
      "description": "Metadata for the long-running operation returned by signData.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Start time of the SignData operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "description": "Details of an app installation request.",
      "type": "object",
      "properties": {
        "appId": {
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true,
          "type": "string"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "appDetails": {
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "readOnly": true,
[...]
