{
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "name": "chromemanagement",
  "title": "Chrome Management API",
  "resources": {
    "customers": {
      "resources": {
        "reports": {
          "methods": {
            "countChromeBrowsersNeedingAttention": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                }
              },
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity."
            },
            "countPrintJobsByUser": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "parameters": {
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Get a summary of printing done by each user.",
              "httpMethod": "GET"
            },
            "countPrintJobsByPrinter": {
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "printerOrgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string"
                }
              },
              "description": "Get a summary of printing done by each printer.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter"
            },
            "countChromeHardwareFleetDevices": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "parameters": {
                "readMask": {
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "countChromeCrashEvents": {
              "parameters": {
                "orgUnitId": {
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`.",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "Customer ID.",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "description": "Get a count of Chrome crash events.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "parameterOrder": [
                "customer"
              ]
            },
            "findInstalledAppDevices": {
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "appId": {
                  "type": "string",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string"
                },
                "appType": {
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "type": "string",
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:findInstalledAppDevices"
            },
            "countInstalledApps": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score"
                }
              },
              "description": "Generate report of app installations.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countInstalledApps",
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "parameterOrder": [
                "customer"
              ]
            },
            "findInstalledAppProfiles": {
              "parameters": {
                "appType": {
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned."
                },
                "appId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Field used to order results. Supported order by fields: * email * profile_id * profile_permanent_id",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Generate report of managed Chrome profiles that have a specified app installed.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
              },
              "id": "chromemanagement.customers.reports.findInstalledAppProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:findInstalledAppProfiles",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppProfiles",
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeVersions": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeVersions",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit."
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "description": "Generate report of installed Chrome versions.",
              "httpMethod": "GET"
            },
            "countDevicesPerBootType": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$"
                },
                "date.day": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "date.year": {
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Get a count of devices per boot type.",
              "httpMethod": "GET"
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "parameters": {
                "minAueDate": {
                  "type": "string",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$"
                },
                "maxAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units."
                }
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "parameterOrder": [
                "customer"
              ]
            },
            "enumeratePrintJobs": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "description": "Get a list of print jobs.",
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countDevicesPerReleaseChannel": {
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "description": "Get a count of devices per channel.",
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$"
                },
                "date.day": {
                  "location": "query",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer"
                },
                "date.year": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "date.month": {
                  "location": "query",
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer"
                }
              }
            },
            "countChromeDevicesThatNeedAttention": {
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "readMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                }
              },
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countActiveDevices": {
              "parameters": {
                "date.year": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "date.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                },
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "date.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Get a count of active devices per set time frames.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              },
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countActiveDevices"
            }
          }
        },
        "thirdPartyProfileUsers": {
          "methods": {
            "move": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
              },
              "id": "chromemanagement.customers.thirdPartyProfileUsers.move",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
              },
              "path": "v1/{+name}:move",
              "flatPath": "v1/customers/{customersId}/thirdPartyProfileUsers/{thirdPartyProfileUsersId}:move",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
                  "pattern": "^customers/[^/]+/thirdPartyProfileUsers/[^/]+$",
                  "required": true
                }
              },
              "description": "Moves a third party chrome profile user to a destination OU. All profiles associated to that user will be moved to the destination OU.",
              "httpMethod": "POST"
            }
          }
        },
        "telemetry": {
          "resources": {
            "events": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "path": "v1/{+parent}/telemetry/events",
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event "
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Token to specify next page in the list.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "type": "string"
                    }
                  },
                  "description": "List telemetry events.",
                  "httpMethod": "GET"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/devices",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to specify next page in the list."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "readMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query"
                    }
                  },
                  "description": "List all telemetry devices."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "description": "Get telemetry device.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "notificationConfigs": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Create a telemetry notification config.",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  }
                },
                "list": {
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all telemetry notification configs.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent which owns the notification configs.",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                    }
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Delete a telemetry notification config.",
                  "httpMethod": "DELETE"
                }
              }
            },
            "users": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "readMask": {
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$"
                    }
                  },
                  "description": "Get telemetry user.",
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "id": "chromemanagement.customers.telemetry.users.get"
                },
                "list": {
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "path": "v1/{+parent}/telemetry/users",
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all telemetry users.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to specify next page in the list."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    },
                    "readMask": {
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "connectorConfigs": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. Format: customers/{customer}",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "connectorConfigId": {
                  "description": "Optional. ID to use for the connector config, which becomes the final component of the connector config's resource name. If provided, the ID must be 1-63 characters long, and contain only lowercase letters, digits, and hyphens. It must start with a letter, and end with a letter or number. If not provided, the connector config will be assigned a random UUID.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Creates a connector config.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "id": "chromemanagement.customers.connectorConfigs.create",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "path": "v1/{+parent}/connectorConfigs",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "path": "v1/{+parent}/connectorConfigs",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse"
              },
              "id": "chromemanagement.customers.connectorConfigs.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListConnectorConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectorConfigs` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of connector configs to return. The default page size is 50 if page_size is unspecified, and the maximum page size allowed is 100. Values above 100 will be capped at 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: customers/{customer}",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Lists connector configs of a customer."
            },
            "patch": {
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "chromemanagement.customers.connectorConfigs.patch",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "httpMethod": "PATCH",
              "description": "Updates a connector config.",
              "parameters": {
                "name": {
                  "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The update mask that can be used to specify which fields to update."
                }
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "chromemanagement.customers.connectorConfigs.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a connector config.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "required": true
                }
              }
            },
            "get": {
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets a connector config with customer ID and config ID.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "id": "chromemanagement.customers.connectorConfigs.get"
            }
          }
        },
        "certificateProvisioningProcesses": {
          "methods": {
            "get": {
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "description": "Retrieves a certificate provisioning process.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "claim": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:claim"
            },
            "uploadCertificate": {
              "httpMethod": "POST",
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "path": "v1/{+name}:uploadCertificate",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "parameterOrder": [
                "name"
              ],
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              }
            },
            "signData": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "path": "v1/{+name}:signData",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              }
            },
            "setFailure": {
              "path": "v1/{+name}:setFailure",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Marks a certificate provisioning process as failed."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$"
                    }
                  },
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "list": {
              "description": "Lists Chrome browser profiles of a customer based on the given search and sorting criteria.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of profiles to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 200.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}",
                  "pattern": "^customers/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The fields used to specify the ordering of the results. The supported fields are: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version By default, sorting is in ascending order, to specify descending order for a field, a suffix \" desc\" should be added to the field name. The default ordering is the descending order of last_status_report_time."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The filter used to filter profiles. The following fields can be used in the filter: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version - ouId Any of the above fields can be used to specify a filter, and filtering by multiple fields is supported with AND operator. String type fields and enum type fields support '=' and '!=' operators. The integer type and the timestamp type fields support '=', '!=', '<', '>', '<=' and '>=' operators. Timestamps expect an RFC-3339 formatted string (e.g. 2012-04-21T11:30:00-04:00). Wildcard '*' can be used with a string type field filter. In addition, string literal filtering is also supported, for example, 'ABC' as a filter maps to a filter that checks if any of the filterable string type fields contains 'ABC'. Organization unit number can be used as a filtering criteria here by specifying 'ouId = ${your_org_unit_id}', please note that only single OU ID matching is supported."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "id": "chromemanagement.customers.profiles.list",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
              },
              "flatPath": "v1/customers/{customersId}/profiles",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/profiles"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes the data collected from a Chrome browser profile.",
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "id": "chromemanagement.customers.profiles.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "id": "chromemanagement.customers.profiles.get",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
              },
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets a Chrome browser profile with customer ID and profile permanent ID.",
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "commands": {
              "methods": {
                "create": {
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/commands",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles"
                  ],
                  "id": "chromemanagement.customers.profiles.commands.create",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a Chrome browser profile remote command.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
                      "pattern": "^customers/[^/]+/profiles/[^/]+/commands/[^/]+$"
                    }
                  },
                  "description": "Gets a Chrome browser profile remote command.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands/{commandsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "id": "chromemanagement.customers.profiles.commands.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of commands to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 100.",
                      "type": "integer"
                    }
                  },
                  "description": "Lists remote commands of a Chrome browser profile.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse"
                  },
                  "id": "chromemanagement.customers.profiles.commands.list",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/commands"
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "countChromeAppRequests": {
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate summary of app installation requests.",
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "fetchDevicesRequestingExtension": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query"
                },
                "extensionId": {
                  "type": "string",
                  "description": "Required. The extension for which we want to find requesting devices.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day."
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "description": "Get a list of devices that have requested to install an extension.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension"
            },
            "fetchUsersRequestingExtension": {
              "description": "Get a list of users that have requested to install an extension.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query",
                  "format": "int32"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query"
                },
                "extensionId": {
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query"
                },
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension"
            }
          },
          "resources": {
            "chrome": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$"
                    }
                  }
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.apps.web.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$"
                    }
                  }
                }
              }
            },
            "android": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "id": "chromemanagement.customers.apps.android.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "id": "chromemanagement.operations.list",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "The standard list filter."
            },
            "name": {
              "required": true,
              "description": "The name of the operation's parent resource.",
              "pattern": "^operations$",
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The standard list page token.",
              "location": "query"
            }
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "path": "v1/{+name}",
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "The name of the operation resource to be deleted.",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "chromemanagement.operations.delete",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}"
        },
        "cancel": {
          "id": "chromemanagement.operations.cancel",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "path": "v1/{+name}:cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameterOrder": [
            "name"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameters": {
            "name": {
[...]
