{
  "revision": "20260421",
  "batchPath": "batch",
  "version": "v2",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "title": "Chrome Web Store API",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "canonicalName": "Chromewebstore",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "id": "chromewebstore:v2",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "name": "chromewebstore",
  "protocol": "rest",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "id": "DistributionChannel"
    },
    "PublishItemResponse": {
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ]
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FetchItemStatusResponse": {
      "description": "Response message for `FetchItemStatus`.",
      "type": "object",
      "properties": {
        "lastAsyncUploadState": {
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "type": "string"
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "readOnly": true,
          "$ref": "ItemRevisionStatus"
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        }
      },
      "id": "FetchItemStatusResponse"
    },
    "UploadItemPackageResponse": {
      "id": "UploadItemPackageResponse",
      "description": "Response message for `UploadItemPackage`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "uploadState": {
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "readOnly": true,
          "type": "string"
        },
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true,
          "type": "string"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        }
      }
    },
    "CancelSubmissionResponse": {
      "id": "CancelSubmissionResponse",
      "description": "Response message for `CancelSubmission`.",
      "type": "object",
      "properties": {}
    },
    "DeployInfo": {
      "id": "DeployInfo",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ItemRevisionStatus": {
      "id": "ItemRevisionStatus",
      "description": "Details on the status of an item revision.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. Current state of the item",
          "readOnly": true,
          "type": "string"
        },
        "distributionChannels": {
          "items": {
            "$ref": "DistributionChannel"
          },
          "description": "Details on the package of the item",
          "type": "array"
        }
      }
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "type": "object",
      "properties": {
        "publishType": {
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "type": "string"
        },
        "deployInfos": {
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        }
      },
      "id": "PublishItemRequest"
    },
    "CancelSubmissionRequest": {
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "properties": {},
      "id": "CancelSubmissionRequest"
    },
    "SetPublishedDeployPercentageRequest": {
      "id": "SetPublishedDeployPercentageRequest",
      "description": "Request message for SetPublishedDeployPercentage.",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "type": "object",
      "properties": {}
    },
    "UploadItemPackageRequest": {
      "description": "Request message for UploadItemPackage.",
      "type": "object",
      "properties": {},
      "id": "UploadItemPackageRequest"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "setPublishedDeployPercentage": {
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "httpMethod": "POST",
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage"
            },
            "publish": {
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "path": "v2/{+name}:publish",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PublishItemRequest"
              },
              "httpMethod": "POST",
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "id": "chromewebstore.publishers.items.publish",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "PublishItemResponse"
              }
            },
            "fetchStatus": {
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "path": "v2/{+name}:fetchStatus",
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.fetchStatus",
              "httpMethod": "GET",
              "description": "Fetch the status of an item.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "response": {
                "$ref": "FetchItemStatusResponse"
              }
            },
            "cancelSubmission": {
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "httpMethod": "POST",
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "path": "v2/{+name}:cancelSubmission",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "CancelSubmissionResponse"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "supportsMediaUpload": true,
          "path": "v2/{+name}:upload",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "httpMethod": "POST",
          "description": "Upload a new package to an existing item.",
          "id": "chromewebstore.media.upload",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          }
        }
      }
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "basePath": ""
}