{
  "title": "Chrome Management API",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/chrome/management/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "discoveryVersion": "v1",
  "canonicalName": "Chrome Management",
  "version": "v1",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "version_module": true,
  "batchPath": "batch",
  "resources": {
    "customers": {
      "resources": {
        "apps": {
          "methods": {
            "fetchDevicesRequestingExtension": {
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "httpMethod": "GET",
              "description": "Get a list of devices that have requested to install an extension.",
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query"
                },
                "extensionId": {
                  "type": "string",
                  "description": "Required. The extension for which we want to find requesting devices.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeAppRequests": {
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "description": "Generate summary of app installation requests.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "httpMethod": "GET"
            },
            "fetchUsersRequestingExtension": {
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "description": "Get a list of users that have requested to install an extension.",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameters": {
                "extensionId": {
                  "type": "string",
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.android.get",
                  "path": "v1/{+name}"
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.web.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countPrintJobsByPrinter": {
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "httpMethod": "GET",
              "description": "Get a summary of printing done by each printer.",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "countDevicesPerReleaseChannel": {
              "description": "Get a count of devices per channel.",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel",
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel",
              "httpMethod": "GET",
              "parameters": {
                "date.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.month": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query"
                },
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeHardwareFleetDevices": {
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "httpMethod": "GET",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "readMask": {
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeDevicesThatNeedAttention": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "readMask": {
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "required": true
                }
              }
            },
            "countPrintJobsByUser": {
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "httpMethod": "GET",
              "description": "Get a summary of printing done by each user.",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "parameters": {
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query"
                },
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "countInstalledApps": {
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "path": "v1/{+customer}/reports:countInstalledApps",
              "httpMethod": "GET",
              "description": "Generate report of app installations.",
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "parameters": {
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path"
                },
                "minAueDate": {
                  "type": "string",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units.",
                  "location": "query"
                },
                "maxAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "httpMethod": "GET"
            },
            "countDevicesPerBootType": {
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.day": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "date.month": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "httpMethod": "GET",
              "description": "Get a count of devices per boot type.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType"
            },
            "countChromeVersions": {
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of installed Chrome versions.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "path": "v1/{+customer}/reports:countChromeVersions",
              "httpMethod": "GET"
            },
            "countChromeCrashEvents": {
              "parameters": {
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Customer ID.",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "httpMethod": "GET",
              "description": "Get a count of Chrome crash events.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              }
            },
            "enumeratePrintJobs": {
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "description": "Get a list of print jobs.",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id",
                  "location": "query",
                  "type": "string"
                },
                "printerOrgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned.",
                  "location": "query"
                }
              }
            },
            "findInstalledAppDevices": {
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "appId": {
                  "type": "string",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "appType": {
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "type": "string",
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "httpMethod": "GET",
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices"
            },
            "countActiveDevices": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.month": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query"
                },
                "date.day": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "path": "v1/{+customer}/reports:countActiveDevices",
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              },
              "description": "Get a count of active devices per set time frames."
            },
            "countChromeBrowsersNeedingAttention": {
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            }
          }
        },
        "certificateProvisioningProcesses": {
          "methods": {
            "signData": {
              "httpMethod": "POST",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "path": "v1/{+name}:signData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "setFailure": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "description": "Marks a certificate provisioning process as failed.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "path": "v1/{+name}:setFailure",
              "httpMethod": "POST"
            },
            "claim": {
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim",
              "path": "v1/{+name}:claim",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Retrieves a certificate provisioning process.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "uploadCertificate": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              },
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate",
              "path": "v1/{+name}:uploadCertificate",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}"
                }
              }
            }
          }
        },
        "thirdPartyProfileUsers": {
          "methods": {
            "move": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
              },
              "flatPath": "v1/customers/{customersId}/thirdPartyProfileUsers/{thirdPartyProfileUsersId}:move",
              "description": "Moves a third party chrome profile user to a destination OU. All profiles associated to that user will be moved to the destination OU.",
              "httpMethod": "POST",
              "id": "chromemanagement.customers.thirdPartyProfileUsers.move",
              "path": "v1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
                  "location": "path",
                  "pattern": "^customers/[^/]+/thirdPartyProfileUsers/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "get": {
              "description": "Gets a Chrome browser profile with customer ID and profile permanent ID.",
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
              },
              "id": "chromemanagement.customers.profiles.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "chromemanagement.customers.profiles.list",
              "path": "v1/{+parent}/profiles",
              "httpMethod": "GET",
              "description": "Lists Chrome browser profiles of a customer based on the given search and sorting criteria.",
              "flatPath": "v1/customers/{customersId}/profiles",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of profiles to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. The filter used to filter profiles. The following fields can be used in the filter: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version - ouId Any of the above fields can be used to specify a filter, and filtering by multiple fields is supported with AND operator. String type fields and enum type fields support '=' and '!=' operators. The integer type and the timestamp type fields support '=', '!=', '<', '>', '<=' and '>=' operators. Timestamps expect an RFC-3339 formatted string (e.g. 2012-04-21T11:30:00-04:00). Wildcard '*' can be used with a string type field filter. In addition, string literal filtering is also supported, for example, 'ABC' as a filter maps to a filter that checks if any of the filterable string type fields contains 'ABC'. Organization unit number can be used as a filtering criteria here by specifying 'ouId = ${your_org_unit_id}', please note that only single OU ID matching is supported.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Format: customers/{customer_id}",
                  "location": "path",
                  "required": true
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The fields used to specify the ordering of the results. The supported fields are: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version By default, sorting is in ascending order, to specify descending order for a field, a suffix \" desc\" should be added to the field name. The default ordering is the descending order of last_status_report_time.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "description": "Deletes the data collected from a Chrome browser profile.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "id": "chromemanagement.customers.profiles.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "location": "path",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ]
            }
          },
          "resources": {
            "commands": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/profiles/[^/]+/commands/[^/]+$"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands/{commandsId}",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "description": "Gets a Chrome browser profile remote command.",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.profiles.commands.get",
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "description": "Lists remote commands of a Chrome browser profile.",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.profiles.commands.list",
                  "path": "v1/{+parent}/commands",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of commands to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 100.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "location": "path",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "location": "path",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "description": "Creates a Chrome browser profile remote command.",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "id": "chromemanagement.customers.profiles.commands.create",
                  "path": "v1/{+parent}/commands",
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to specify next page in the list.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "List all telemetry devices.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "path": "v1/{+parent}/telemetry/devices",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "location": "path"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "Get telemetry device.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "List telemetry events.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "path": "v1/{+parent}/telemetry/events",
                  "httpMethod": "GET"
                }
              }
            },
            "users": {
              "methods": {
                "list": {
                  "description": "List all telemetry users.",
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "path": "v1/{+parent}/telemetry/users",
                  "httpMethod": "GET",
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "description": "Get telemetry user.",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "path": "v1/{+name}"
                }
              }
            },
            "notificationConfigs": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "description": "Delete a telemetry notification config."
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "description": "Create a telemetry notification config.",
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "httpMethod": "GET",
                  "description": "List all telemetry notification configs.",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent which owns the notification configs.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "id": "chromemanagement.operations.delete",
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        },
        "cancel": {
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "chromemanagement.operations.cancel",
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST"
        },
        "list": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "flatPath": "v1/operations",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The standard list page token.",
              "location": "query"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^operations$"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The standard list page size.",
              "location": "query"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            }
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "httpMethod": "GET",
          "id": "chromemanagement.operations.list",
          "path": "v1/{+name}"
        }
      }
    }
  },
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "schemas": {
    "GoogleChromeManagementVersionsV1SignDataRequest": {
      "id": "GoogleChromeManagementVersionsV1SignDataRequest",
      "type": "object",
      "properties": {
        "signData": {
          "type": "string",
          "format": "byte",
          "description": "Required. The data that the client was asked to sign."
        },
        "signatureAlgorithm": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ],
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ],
          "type": "string",
          "description": "Required. The signature algorithm that the adapter expects the client and backend components to use when processing `sign_data`."
        }
      },
      "description": "Request message for requesting a signature from the client that initated a certificate provisioning process."
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The e-mail address of a user that has requested the extension."
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      },
      "description": "Details of a user requesting an extension, including the email and the justification."
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "type": "object",
      "properties": {},
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds. * Granular permission needed: TELEMETRY_API_AUDIO_REPORT"
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "type": "object",
      "properties": {
        "keyLength": {
          "type": "string",
          "format": "int64",
          "description": "The length of the encryption keys."
        },
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "type": "string",
          "description": "Memory encryption algorithm."
        },
        "encryptionState": {
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "description": "The state of memory encryption on the device.",
          "type": "string"
        }
      },
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "telemetryNotificationConfigs": {
          "type": "array",
          "description": "The telemetry notification configs from the specified customer.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          }
        }
      },
      "description": "Response message for listing notification configs for a customer."
    },
    "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse": {
      "description": "Response containing a list of devices that have requested the queried extension.",
      "id": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Total number of devices in response."
        },
        "nextPageToken": {
          "description": "Optional. Token to specify the next page in the list. Token expires after 1 day.",
          "type": "string"
        },
        "deviceDetails": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceRequestingExtensionDetails"
          },
          "type": "array",
          "description": "Details of devices that have requested the queried extension."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "id": "GoogleChromeManagementV1UserPrintReport",
      "type": "object",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "The primary e-mail address of the user."
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to initiate print jobs by the user.",
          "type": "string",
          "format": "int64"
        },
        "printerCount": {
          "description": "Number of printers used by the user.",
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "description": "The unique Directory API ID of the user.",
          "type": "string"
        },
        "jobCount": {
          "description": "Number of print jobs initiated by the user.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated."
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT",
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "type": "object",
      "properties": {
        "cpuUtilizationPct": {
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "cpuTemperatureInfo": {
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        },
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleFrequency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
[...]
