{
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "canonicalName": "Chrome Management",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "version": "v1",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "name": "chromemanagement",
  "discoveryVersion": "v1",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        }
      }
    }
  },
  "title": "Chrome Management API",
  "schemas": {
    "GoogleChromeManagementV1AppDetails": {
      "id": "GoogleChromeManagementV1AppDetails",
      "description": "Resource representing app details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. App's description.",
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "readOnly": true,
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. App type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ]
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "firstPublishTime": {
          "description": "Output only. First published time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestPublishTime": {
          "description": "Output only. Latest published time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "publisher": {
          "description": "Output only. The publisher of the item.",
          "readOnly": true,
          "type": "string"
        },
        "isPaidApp": {
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "readOnly": true,
          "type": "boolean"
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "readOnly": true,
          "type": "string"
        },
        "privacyPolicyUri": {
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "string"
        },
        "reviewNumber": {
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "reviewRating": {
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "chromeAppInfo": {
          "description": "Output only. Chrome Web Store app information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1ChromeAppInfo"
        },
        "androidAppInfo": {
          "description": "Output only. Android app information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1AndroidAppInfo"
        },
        "serviceError": {
          "description": "Output only. Information about a partial service error if applicable.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "description": "Chrome Web Store app information.",
      "type": "object",
      "properties": {
        "supportEnabled": {
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "minUserCount": {
          "description": "Output only. The minimum number of users using this app.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "permissions": {
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          }
        },
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          }
        },
        "isTheme": {
          "description": "Output only. Whether the app or extension is a theme.",
          "readOnly": true,
          "type": "boolean"
        },
        "googleOwned": {
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "isCwsHosted": {
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "readOnly": true,
          "type": "boolean"
        },
        "kioskEnabled": {
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "type": {
          "description": "Output only. Types of an item in the Chrome Web Store",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ]
        },
        "isExtensionPolicySupported": {
          "description": "Output only. Whether an app supports policy for extensions.",
          "readOnly": true,
          "type": "boolean"
        },
        "manifestVersion": {
          "description": "Output only. The version of this extension's manifest.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "description": "Permission requested by a Chrome app or extension.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "documentationUri": {
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "readOnly": true,
          "type": "string"
        },
        "accessUserData": {
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "description": "Represent one host permission.",
      "type": "object",
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "description": "Android app information.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Output only. Permissions requested by an Android app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          }
        }
      }
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "description": "Permission requested by an Android app.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations.",
      "type": "object",
      "properties": {
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of matching app requests.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "description": "Details of an app installation request.",
      "type": "object",
      "properties": {
        "appId": {
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "readOnly": true,
          "type": "string"
        },
        "appDetails": {
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "readOnly": true,
          "type": "string"
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "requestCount": {
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse": {
      "id": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse",
      "description": "Response containing a list of devices that have requested the queried extension.",
      "type": "object",
      "properties": {
        "deviceDetails": {
          "description": "Details of devices that have requested the queried extension.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceRequestingExtensionDetails"
          }
        },
        "totalSize": {
          "description": "Optional. Total number of devices in response.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Optional. Token to specify the next page in the list. Token expires after 1 day.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "type": "object",
      "properties": {
        "deviceName": {
          "description": "The name of a device that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse": {
      "id": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse",
      "description": "Response containing a list of users that have requested the queried extension.",
      "type": "object",
      "properties": {
        "userDetails": {
          "description": "Details of users that have requested the queried extension.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UserRequestingExtensionDetails"
          }
        },
        "totalSize": {
          "description": "Total number of users in response.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails",
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The e-mail address of a user that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "type": "object",
      "properties": {
        "deviceAueCountReports": {
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        },
        "count": {
          "description": "Count of devices of this model.",
          "type": "string",
          "format": "int64"
        },
        "aueMonth": {
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ]
        },
        "aueYear": {
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "format": "int64"
        },
        "expired": {
          "description": "Boolean value for whether or not the device has already expired.",
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "description": "Response containing counts for devices that need attention.",
      "type": "object",
      "properties": {
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "type": "string",
          "format": "int64"
        },
        "noRecentUserActivityCount": {
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "type": "string",
          "format": "int64"
        },
        "pendingUpdate": {
          "description": "Number of devices that are pending an OS update.",
          "type": "string",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "description": "Number of devices whose OS version is not compliant.",
          "type": "string",
          "format": "int64"
        },
        "unsupportedPolicyCount": {
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "description": "Response containing counts for browsers that need attention.",
      "type": "object",
      "properties": {
        "recentlyEnrolledCount": {
          "description": "Number of browsers that have been recently enrolled",
          "type": "string",
          "format": "int64"
        },
        "noRecentActivityCount": {
          "description": "Number of browsers that haven’t had any recent activity",
          "type": "string",
          "format": "int64"
        },
        "pendingBrowserUpdateCount": {
          "description": "Number of browsers that are pending an OS update",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "type": "object",
      "properties": {
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "cpuReports": {
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "storageReports": {
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "memoryReports": {
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        },
        "count": {
          "description": "Count of devices with a unique hardware specification.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "description": "Response containing details of queried installed apps.",
      "type": "object",
      "properties": {
        "installedApps": {
          "description": "List of installed apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of installed apps matching request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1InstalledApp": {
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "type": "object",
      "properties": {
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "appType": {
          "description": "Output only. Type of the app.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        },
        "browserDeviceCount": {
          "description": "Output only. Count of browser devices with this app installed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "osUserCount": {
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "appInstallType": {
          "description": "Output only. How the app was installed.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ]
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "appSource": {
          "description": "Output only. Source of the installed app.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ]
        },
        "displayName": {
          "description": "Output only. Name of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "permissions": {
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessmentData": {
      "id": "GoogleChromeManagementV1RiskAssessmentData",
      "description": "Risk assessment data about an extension/app.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Individual risk assessments.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1RiskAssessmentEntry"
          }
        },
        "overallRiskLevel": {
          "description": "Overall assessed risk level across all entries. This will be the highest risk level from all entries.",
          "type": "string",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ]
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ]
        },
        "riskAssessment": {
          "description": "Output only. The details of the provider's risk assessment.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessment"
        },
        "riskLevel": {
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ]
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "id": "GoogleChromeManagementV1RiskAssessment",
      "description": "Risk assessment for a Chrome extension.",
      "type": "object",
      "properties": {
        "assessment": {
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider.",
          "type": "string"
        },
        "detailsUrl": {
          "description": "A URL that a user can navigate to for more information about the risk assessment.",
          "type": "string"
        },
        "version": {
          "description": "The version of the extension that this assessment applies to.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "description": "Response containing a list of devices with queried app installed.",
      "type": "object",
      "properties": {
        "devices": {
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of devices matching request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1Device": {
      "id": "GoogleChromeManagementV1Device",
      "description": "Describes a device reporting Chrome browser information.",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "readOnly": true,
          "type": "string"
        },
        "machine": {
          "description": "Output only. The name of the machine within its local network.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "description": "Response containing requested browser versions details and counts.",
      "type": "object",
      "properties": {
        "browserVersions": {
          "description": "List of all browser versions and their install counts.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "description": "Describes a browser version and its install count.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Output only. The full version of the installed browser.",
          "readOnly": true,
          "type": "string"
        },
        "count": {
          "description": "Output only. Count grouped by device_system and major version",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "channel": {
          "description": "Output only. The release channel of the installed browser.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ]
        },
        "system": {
          "description": "Output only. The device operating system.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ]
        },
        "deviceOsVersion": {
          "description": "Output only. Version of the system-specified operating system.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountPrintJobsByUserResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByUserResponse",
      "description": "Response containing a summary printing report for each user that has initiated a print job with a printer from the specified organizational unit during the requested time interval.",
      "type": "object",
      "properties": {
        "userPrintReports": {
          "description": "List of UserPrintReports matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UserPrintReport"
          }
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of users matching request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "id": "GoogleChromeManagementV1UserPrintReport",
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "The unique Directory API ID of the user.",
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user.",
          "type": "string"
        },
        "jobCount": {
          "description": "Number of print jobs initiated by the user.",
          "type": "string",
          "format": "int64"
        },
        "printerCount": {
          "description": "Number of printers used by the user.",
          "type": "string",
          "format": "int64"
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to initiate print jobs by the user.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "type": "object",
      "properties": {
        "printerReports": {
          "description": "List of PrinterReports matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          }
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of printers matching request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1PrinterReport": {
      "id": "GoogleChromeManagementV1PrinterReport",
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "type": "object",
      "properties": {
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        },
        "printer": {
          "description": "Printer name.",
          "type": "string"
        },
        "printerModel": {
          "description": "Printer model.",
          "type": "string"
        },
        "jobCount": {
          "description": "Number of print jobs sent to the printer.",
          "type": "string",
          "format": "int64"
        },
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "type": "string",
          "format": "int64"
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1EnumeratePrintJobsResponse": {
      "id": "GoogleChromeManagementV1EnumeratePrintJobsResponse",
      "description": "Response containing a list of print jobs.",
      "type": "object",
      "properties": {
        "printJobs": {
          "description": "List of requested print jobs.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrintJob"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be used in a subsequent request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of print jobs matching request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1PrintJob": {
      "id": "GoogleChromeManagementV1PrintJob",
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "state": {
          "description": "The final state of the job.",
          "type": "string",
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ]
        },
        "createTime": {
          "description": "Print job creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "description": "Print job completion timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "documentPageCount": {
          "description": "Number of pages in the document.",
          "type": "integer",
          "format": "int32"
        },
        "colorMode": {
          "description": "Color mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ]
        },
        "duplexMode": {
          "description": "Duplex mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ],
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ]
        },
        "copyCount": {
          "description": "Number of copies.",
          "type": "integer",
          "format": "int32"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date.",
      "type": "object",
      "properties": {
        "crashEventCounts": {
          "description": "Crash event counts grouped by date and browser version.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          }
        }
      }
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "description": "The `count` of the Chrome crash events at the `date`.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        },
        "count": {
          "description": "Total count of crash events.",
          "type": "string",
          "format": "int64"
        },
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "description": "Response containing the number of active devices.",
      "type": "object",
      "properties": {
        "sevenDaysCount": {
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "type": "string",
          "format": "int64"
        },
        "thirtyDaysCount": {
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "description": "Response containing the number of devices with the given channel.",
      "type": "object",
      "properties": {
        "unreportedChannelCount": {
          "description": "Number of devices with an unreported release channel.",
          "type": "string",
          "format": "int64"
        },
        "canaryChannelCount": {
          "description": "Number of devices with canary release channel.",
          "type": "string",
          "format": "int64"
        },
        "devChannelCount": {
          "description": "Number of devices with dev release channel.",
          "type": "string",
          "format": "int64"
        },
        "betaChannelCount": {
          "description": "Number of devices with beta release channel.",
          "type": "string",
          "format": "int64"
        },
        "stableChannelCount": {
          "description": "Number of devices with stable release channel.",
          "type": "string",
          "format": "int64"
        },
        "ltcChannelCount": {
          "description": "Number of devices with ltc release channel.",
          "type": "string",
          "format": "int64"
        },
        "ltsChannelCount": {
          "description": "Number of devices with lts release channel.",
          "type": "string",
          "format": "int64"
        },
        "unsupportedChannelCount": {
          "description": "Number of devices with unsupported release channel.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountDevicesPerBootTypeResponse": {
      "id": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse",
      "description": "Response containing the number of devices with the given boot type.",
      "type": "object",
      "properties": {
        "unreportedBootTypeCount": {
          "description": "Number of devices with unreported boot type.",
          "type": "string",
          "format": "int64"
        },
        "devBootTypeCount": {
          "description": "Number of devices with dev boot type.",
          "type": "string",
          "format": "int64"
        },
        "verifiedBootTypeCount": {
          "description": "Number of devices with verified boot type.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "type": "object",
      "properties": {
        "devices": {
          "description": "Telemetry devices returned in the response.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          }
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "customer": {
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "readOnly": true,
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        },
        "cpuInfo": {
          "description": "Output only. Information regarding CPU specs for the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          }
        },
        "cpuStatusReport": {
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          }
        },
        "memoryInfo": {
          "description": "Output only. Information regarding memory specs for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1MemoryInfo"
        },
        "memoryStatusReport": {
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          }
        },
        "networkInfo": {
          "description": "Output only. Network devices information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1NetworkInfo"
        },
        "networkStatusReport": {
          "description": "Output only. Network specs collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          }
        },
        "networkDiagnosticsReport": {
          "description": "Output only. Network diagnostics collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          }
        },
        "osUpdateStatus": {
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          }
        },
        "graphicsInfo": {
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsInfo"
        },
        "graphicsStatusReport": {
          "description": "Output only. Graphics reports collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          }
        },
        "batteryInfo": {
          "description": "Output only. Information on battery specs for the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          }
        },
        "batteryStatusReport": {
          "description": "Output only. Battery reports collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          }
        },
        "storageInfo": {
          "description": "Output only. Information of storage specs for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1StorageInfo"
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "thunderboltInfo": {
          "description": "Output only. Information on Thunderbolt bus.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          }
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "bootPerformanceReport": {
          "description": "Output only. Boot performance reports of the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          }
        },
        "heartbeatStatusReport": {
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          }
        },
        "kioskAppStatusReport": {
          "description": "Output only. Kiosk app status report for the kiosk device",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          }
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          }
        },
        "peripheralsReport": {
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          }
        },
        "appReport": {
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          }
        },
        "runtimeCountersReport": {
          "description": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1RuntimeCountersReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1CpuInfo": {
      "id": "GoogleChromeManagementV1CpuInfo",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "type": "object",
      "properties": {
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "readOnly": true,
          "type": "string"
        },
        "architecture": {
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ]
        },
        "maxClockSpeed": {
          "description": "Output only. The max CPU clock speed in kHz.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "keylockerConfigured": {
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "cpuUtilizationPct": {
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "cpuTemperatureInfo": {
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "temperatureCelsius": {
          "description": "Output only. CPU temperature in Celsius.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "label": {
          "description": "Output only. CPU label. Example: Core 0",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "id": "GoogleChromeManagementV1MemoryInfo",
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "type": "object",
      "properties": {
        "totalRamBytes": {
          "description": "Output only. Total RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "description": "Output only. Total memory encryption info for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo"
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "encryptionState": {
          "description": "The state of memory encryption on the device.",
          "type": "string",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ]
        },
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string",
          "format": "int64"
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "description": "Memory encryption algorithm.",
          "type": "string",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        }
      }
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "id": "GoogleChromeManagementV1MemoryStatusReport",
      "description": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "systemRamFreeBytes": {
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "pageFaults": {
          "description": "Output only. Number of page faults during this collection",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "id": "GoogleChromeManagementV1NetworkInfo",
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "type": "object",
      "properties": {
        "networkDevices": {
          "description": "Output only. List of network devices.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          }
        }
      }
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "id": "GoogleChromeManagementV1NetworkDevice",
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. Network device type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ]
        },
        "macAddress": {
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "imei": {
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        },
        "mdn": {
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Time at which the network state was reported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "signalStrengthDbm": {
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "readOnly": true,
          "type": "string"
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "readOnly": true,
          "type": "string"
        },
        "transmissionBitRateMbps": {
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "receivingBitRateMbps": {
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "transmissionPowerDbm": {
          "description": "Output only. Transmission power measured in decibels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "encryptionOn": {
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "readOnly": true,
          "type": "boolean"
        },
        "wifiLinkQuality": {
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "wifiPowerManagementEnabled": {
          "description": "Output only. Wifi power management enabled",
          "readOnly": true,
          "type": "boolean"
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "readOnly": true,
          "type": "string"
        },
        "connectionState": {
          "description": "Output only. Current connection state of the network.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ]
        },
        "connectionType": {
          "description": "Output only. Network connection type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ]
        },
        "ipv6Address": {
          "description": "Output only. IPv6 addresses assigned to this network, if any. Each address is a string in standard IPv6 text representation (e.g., \"2001:db8::1\").",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gatewayIpv6Address": {
          "description": "Output only. The gateway IPv6 for this interface, if detected",
          "readOnly": true,
          "type": "string"
        },
        "metered": {
          "description": "Output only. Whether the network was detected as metered.",
          "readOnly": true,
          "type": "boolean"
        },
        "linkDownSpeedKbps": {
          "description": "Output only. The maximum downstream bandwidth in Kilobits per second (Kbps), if reported by the network interface or connection.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "httpsLatencyData": {
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      }
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "type": "object",
      "properties": {
        "problem": {
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ]
        },
        "latency": {
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "type": "object",
      "properties": {
        "updateState": {
          "description": "Output only. Current state of the os update.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ]
        },
        "newPlatformVersion": {
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "readOnly": true,
          "type": "string"
        },
        "newRequestedPlatformVersion": {
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "description": "Output only. Timestamp of the last successful update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateCheckTime": {
          "description": "Output only. Timestamp of the last update check.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastRebootTime": {
          "description": "Output only. Timestamp of the last reboot.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO",
      "type": "object",
      "properties": {
        "adapterInfo": {
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo"
        },
        "eprivacySupported": {
          "description": "Output only. Is ePrivacy screen supported or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayDevices": {
          "description": "Output only. Information about the display(s) of the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          }
        },
        "touchScreenInfo": {
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TouchScreenInfo"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "type": "object",
      "properties": {
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true,
          "type": "string"
        },
        "driverVersion": {
          "description": "Output only. Version of the GPU driver.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "description": "Output only. Represents the graphics card device id.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "id": "GoogleChromeManagementV1DisplayDevice",
      "description": "Information of a display device.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "displayWidthMm": {
          "description": "Output only. Display width in millimeters.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "displayHeightMm": {
          "description": "Output only. Display height in millimeters.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "internal": {
          "description": "Output only. Is display internal or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "manufacturerId": {
          "description": "Output only. Three letter manufacturer ID.",
          "readOnly": true,
          "type": "string"
        },
        "modelId": {
          "description": "Output only. Manufacturer product code.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "manufactureYear": {
          "description": "Output only. Year of manufacture.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "edidVersion": {
          "description": "Output only. EDID version.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "id": "GoogleChromeManagementV1TouchScreenInfo",
      "description": "Information on the device touch screen.",
      "type": "object",
      "properties": {
        "touchpadLibrary": {
          "description": "Output only. Touchpad library name used by the input stack.",
          "readOnly": true,
          "type": "string"
        },
        "devices": {
          "description": "Output only. List of the internal touch screen devices.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          }
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "description": "Information of an internal touch screen device.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. Touch screen device display name.",
          "readOnly": true,
          "type": "string"
        },
        "touchPointCount": {
          "description": "Output only. Number of touch points supported on the device.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "stylusCapable": {
          "description": "Output only. Touch screen device is stylus capable or not.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Time at which the graphics data was reported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displays": {
          "description": "Output only. Information about the displays for the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          }
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "id": "GoogleChromeManagementV1DisplayInfo",
      "description": "Information for a display.",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Output only. Represents the graphics card device id.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "resolutionWidth": {
          "description": "Output only. Resolution width in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "resolutionHeight": {
          "description": "Output only. Resolution height in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "isInternal": {
          "description": "Output only. Indicates if display is internal or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "edidVersion": {
          "description": "Output only. EDID version.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "readOnly": true,
          "type": "string"
        },
        "designCapacity": {
          "description": "Output only. Design capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "designMinVoltage": {
          "description": "Output only. Designed minimum output voltage (mV)",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "id": "GoogleChromeManagementV1BatteryStatusReport",
[...]
