{
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "servicePath": "",
  "name": "chromewebstore",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "revision": "20260311",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "basePath": "",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "setPublishedDeployPercentage": {
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "publish": {
              "path": "v2/{+name}:publish",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "httpMethod": "POST",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "response": {
                "$ref": "PublishItemResponse"
              }
            },
            "fetchStatus": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "id": "chromewebstore.publishers.items.fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "description": "Fetch the status of an item."
            },
            "cancelSubmission": {
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "path": "v2/{+name}:cancelSubmission",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "httpMethod": "POST",
          "description": "Upload a new package to an existing item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.media.upload",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "parameters": {
            "name": {
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v2/{+name}:upload"
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "FetchItemStatusResponse": {
      "id": "FetchItemStatusResponse",
      "type": "object",
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "publishedItemRevisionStatus": {
          "readOnly": true,
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "lastAsyncUploadState": {
          "type": "string",
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        }
      }
    },
    "ItemRevisionStatus": {
      "description": "Details on the status of an item revision.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "Output only. Current state of the item",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ]
        },
        "distributionChannels": {
          "type": "array",
          "items": {
            "$ref": "DistributionChannel"
          },
          "description": "Details on the package of the item"
        }
      },
      "id": "ItemRevisionStatus",
      "type": "object"
    },
    "DeployInfo": {
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32"
        }
      },
      "id": "DeployInfo",
      "type": "object"
    },
    "UploadItemPackageRequest": {
      "description": "Request message for UploadItemPackage.",
      "properties": {},
      "type": "object",
      "id": "UploadItemPackageRequest"
    },
    "CancelSubmissionRequest": {
      "id": "CancelSubmissionRequest",
      "type": "object",
      "description": "Request message for CancelSubmission.",
      "properties": {}
    },
    "PublishItemRequest": {
      "type": "object",
      "id": "PublishItemRequest",
      "description": "Request message for PublishItem.",
      "properties": {
        "publishType": {
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "type": "string"
        },
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        }
      }
    },
    "DistributionChannel": {
      "type": "object",
      "id": "DistributionChannel",
      "description": "Deployment information for a specific release channel",
      "properties": {
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32",
          "type": "integer"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      }
    },
    "SetPublishedDeployPercentageResponse": {
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {},
      "id": "SetPublishedDeployPercentageResponse",
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "SetPublishedDeployPercentageRequest"
    },
    "UploadItemPackageResponse": {
      "type": "object",
      "id": "UploadItemPackageResponse",
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item the package was uploaded to.",
          "type": "string"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        },
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "uploadState": {
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        }
      }
    },
    "PublishItemResponse": {
      "description": "Response message for `PublishItem`.",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the submission.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        }
      },
      "id": "PublishItemResponse",
      "type": "object"
    },
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "properties": {},
      "type": "object",
      "id": "CancelSubmissionResponse"
    }
  },
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "batchPath": "batch",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Chromewebstore",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerDomain": "google.com",
  "title": "Chrome Web Store API",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "id": "chromewebstore:v2"
}