{
  "ownerName": "Google",
  "protocol": "rest",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260415",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "version_module": true,
  "servicePath": "",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "version": "v1.1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "id": "chromewebstore.items.insert",
          "description": "Inserts a new item.",
          "supportsMediaUpload": true,
          "parameters": {
            "publisherEmail": {
              "type": "string",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "httpMethod": "POST",
          "path": "chromewebstore/v1.1/items",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "chromewebstore/v1.1/items"
        },
        "publish": {
          "parameters": {
            "deployPercentage": {
              "location": "query",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "format": "int32",
              "type": "integer"
            },
            "itemId": {
              "location": "path",
              "required": true,
              "description": "The ID of the item to publish.",
              "type": "string"
            },
            "publishTarget": {
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query"
            },
            "reviewExemption": {
              "location": "query",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Item2"
          },
          "id": "chromewebstore.items.publish",
          "description": "Publishes an item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "PublishRequest"
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameterOrder": [
            "itemId"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "itemId": {
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true
            },
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          },
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get",
          "description": "Gets your own Chrome Web Store item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "httpMethod": "GET",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ]
        },
        "update": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "request": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "PUT",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "parameters": {
            "itemId": {
              "location": "path",
              "required": true,
              "description": "The ID of the item to upload.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Item"
          },
          "supportsMediaUpload": true,
          "id": "chromewebstore.items.update",
          "description": "Updates an existing item."
        }
      }
    }
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "batchPath": "batch",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "id": "chromewebstore:v1.1",
  "title": "Chrome Web Store API",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "chromewebstore",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "canonicalName": "Chromewebstore",
  "schemas": {
    "ItemError": {
      "type": "object",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "The error code."
        },
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        }
      },
      "id": "ItemError",
      "description": "Error of the item"
    },
    "Item2": {
      "properties": {
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "status": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED."
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        }
      },
      "id": "Item2",
      "type": "object"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "properties": {
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "format": "int32",
          "type": "integer"
        },
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        }
      },
      "type": "object"
    },
    "Item": {
      "id": "Item",
      "properties": {
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        }
      },
      "type": "object"
    }
  }
}