{
  "title": "Chrome Web Store API",
  "revision": "20260506",
  "basePath": "",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "id": "chromewebstore:v1.1",
  "schemas": {
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        }
      }
    },
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        }
      }
    },
    "Item2": {
      "id": "Item2",
      "type": "object",
      "properties": {
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ItemError": {
      "type": "object",
      "properties": {
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        },
        "error_code": {
          "description": "The error code.",
          "type": "string"
        }
      },
      "id": "ItemError",
      "description": "Error of the item"
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "version": "v1.1",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "version_module": true,
  "servicePath": "",
  "canonicalName": "Chromewebstore",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.insert",
          "parameters": {
            "publisherEmail": {
              "type": "string",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query"
            }
          },
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "path": "chromewebstore/v1.1/items"
        },
        "update": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "id": "chromewebstore.items.update",
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the item to upload."
            }
          },
          "description": "Updates an existing item.",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "Item"
          },
          "response": {
            "$ref": "Item"
          }
        },
        "get": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get",
          "parameters": {
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "description": "Determines which subset of the item information to return."
            }
          },
          "description": "Gets your own Chrome Web Store item."
        },
        "publish": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "id": "chromewebstore.items.publish",
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the item to publish."
            },
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query",
              "type": "string"
            },
            "deployPercentage": {
              "format": "int32",
              "type": "integer",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Publishes an item.",
          "response": {
            "$ref": "Item2"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "PublishRequest"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "name": "chromewebstore",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com"
}