{
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version_module": true,
  "protocol": "rest",
  "ownerName": "Google",
  "canonicalName": "Chromewebstore",
  "fullyEncodeReservedExpansion": true,
  "name": "chromewebstore",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "chromewebstore:v2",
  "batchPath": "batch",
  "revision": "20260401",
  "servicePath": "",
  "title": "Chrome Web Store API",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "cancelSubmission": {
              "parameterOrder": [
                "name"
              ],
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "path": "v2/{+name}:cancelSubmission",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ]
            },
            "publish": {
              "request": {
                "$ref": "PublishItemRequest"
              },
              "path": "v2/{+name}:publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "id": "chromewebstore.publishers.items.publish",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "httpMethod": "POST",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true
                }
              }
            },
            "fetchStatus": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Fetch the status of an item.",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "httpMethod": "GET",
              "id": "chromewebstore.publishers.items.fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "path": "v2/{+name}:fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ]
            },
            "setPublishedDeployPercentage": {
              "parameterOrder": [
                "name"
              ],
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Upload a new package to an existing item.",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}:upload",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "id": "chromewebstore.media.upload",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "version": "v2",
  "basePath": "",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    }
  },
  "schemas": {
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "properties": {
        "skipReview": {
          "type": "boolean",
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset."
        },
        "publishType": {
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ]
        },
        "deployInfos": {
          "items": {
            "$ref": "DeployInfo"
          },
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset."
        }
      },
      "id": "PublishItemRequest",
      "type": "object"
    },
    "UploadItemPackageResponse": {
      "id": "UploadItemPackageResponse",
      "type": "object",
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "uploadState": {
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "readOnly": true
        },
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "itemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the item the package was uploaded to."
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        }
      }
    },
    "DistributionChannel": {
      "id": "DistributionChannel",
      "type": "object",
      "description": "Deployment information for a specific release channel",
      "properties": {
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        },
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ItemRevisionStatus": {
      "description": "Details on the status of an item revision.",
      "properties": {
        "state": {
          "description": "Output only. Current state of the item",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true
        },
        "distributionChannels": {
          "type": "array",
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          }
        }
      },
      "id": "ItemRevisionStatus",
      "type": "object"
    },
    "FetchItemStatusResponse": {
      "id": "FetchItemStatusResponse",
      "type": "object",
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "The public key of the item, which may be generated by the store."
        },
        "submittedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish."
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus",
          "readOnly": true
        },
        "takenDown": {
          "type": "boolean",
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details."
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item.",
          "type": "string"
        },
        "lastAsyncUploadState": {
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        }
      }
    },
    "UploadItemPackageRequest": {
      "id": "UploadItemPackageRequest",
      "type": "object",
      "description": "Request message for UploadItemPackage.",
      "properties": {}
    },
    "SetPublishedDeployPercentageRequest": {
      "id": "SetPublishedDeployPercentageRequest",
      "type": "object",
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PublishItemResponse": {
      "description": "Response message for `PublishItem`.",
      "properties": {
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item.",
          "type": "string"
        },
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the submission."
        }
      },
      "id": "PublishItemResponse",
      "type": "object"
    },
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "properties": {},
      "id": "CancelSubmissionResponse",
      "type": "object"
    },
    "DeployInfo": {
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        }
      },
      "id": "DeployInfo",
      "type": "object"
    },
    "CancelSubmissionRequest": {
      "id": "CancelSubmissionRequest",
      "type": "object",
      "description": "Request message for CancelSubmission.",
      "properties": {}
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {}
    }
  }
}