{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "canonicalName": "Chromewebstore",
  "kind": "discovery#restDescription",
  "basePath": "",
  "name": "chromewebstore",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "title": "Chrome Web Store API",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "servicePath": "",
  "id": "chromewebstore:v1.1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "batchPath": "batch",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "description": "Inserts a new item.",
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "chromewebstore/v1.1/items",
          "parameters": {
            "publisherEmail": {
              "type": "string",
              "location": "query",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address."
            }
          },
          "id": "chromewebstore.items.insert",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "chromewebstore/v1.1/items",
          "parameterOrder": []
        },
        "publish": {
          "id": "chromewebstore.items.publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "deployPercentage": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update."
            },
            "reviewExemption": {
              "location": "query",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean"
            },
            "itemId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the item to publish."
            },
            "publishTarget": {
              "type": "string",
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            }
          },
          "description": "Publishes an item.",
          "parameterOrder": [
            "itemId"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "response": {
            "$ref": "Item2"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "id": "chromewebstore.items.update",
          "request": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "location": "path",
              "description": "The ID of the item to upload.",
              "type": "string",
              "required": true
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            }
          },
          "description": "Updates an existing item.",
          "parameterOrder": [
            "itemId"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "PUT",
          "supportsMediaUpload": true
        },
        "get": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "location": "path",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "type": "string",
              "required": true
            },
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "type": "string"
            }
          },
          "id": "chromewebstore.items.get",
          "description": "Gets your own Chrome Web Store item.",
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "version": "v1.1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "protocol": "rest",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "version_module": true,
  "revision": "20260419",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "itemError": {
          "type": "array",
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          }
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        }
      }
    },
    "ItemError": {
      "description": "Error of the item",
      "id": "ItemError",
      "type": "object",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "The error code."
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        }
      }
    },
    "Item2": {
      "id": "Item2",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "statusDetail": {
          "type": "array",
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          }
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        }
      }
    }
  }
}