{
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "flatPath": "chromewebstore/v1.1/items",
          "parameterOrder": [],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items",
          "description": "Inserts a new item.",
          "id": "chromewebstore.items.insert",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "httpMethod": "POST"
        },
        "publish": {
          "httpMethod": "POST",
          "request": {
            "$ref": "PublishRequest"
          },
          "description": "Publishes an item.",
          "parameters": {
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query",
              "type": "boolean"
            },
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query",
              "type": "string"
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "chromewebstore.items.publish",
          "response": {
            "$ref": "Item2"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameterOrder": [
            "itemId"
          ]
        },
        "update": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [
            "itemId"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "request": {
            "$ref": "Item"
          },
          "httpMethod": "PUT",
          "supportsMediaUpload": true,
          "id": "chromewebstore.items.update",
          "parameters": {
            "itemId": {
              "required": true,
              "description": "The ID of the item to upload.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Updates an existing item."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "response": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "httpMethod": "GET",
          "description": "Gets your own Chrome Web Store item.",
          "id": "chromewebstore.items.get",
          "parameters": {
            "projection": {
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "description": "Determines which subset of the item information to return.",
              "location": "query",
              "type": "string"
            },
            "itemId": {
              "required": true,
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "version": "v1.1",
  "protocol": "rest",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "canonicalName": "Chromewebstore",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "schemas": {
    "Item": {
      "id": "Item",
      "properties": {
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        }
      },
      "type": "object"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer",
          "format": "int32"
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Item2": {
      "id": "Item2",
      "properties": {
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ItemError": {
      "id": "ItemError",
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      },
      "description": "Error of the item",
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "ownerName": "Google",
  "servicePath": "",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "chromewebstore",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "revision": "20260405",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "id": "chromewebstore:v1.1",
  "title": "Chrome Web Store API"
}