{
  "name": "chromemanagement",
  "title": "Chrome Management API",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "servicePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "version_module": true,
  "schemas": {
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "type": "object",
      "properties": {
        "displayDevices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          },
          "description": "Output only. Information about the display(s) of the device.",
          "readOnly": true
        },
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true
        },
        "eprivacySupported": {
          "description": "Output only. Is ePrivacy screen supported or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "touchScreenInfo": {
          "$ref": "GoogleChromeManagementV1TouchScreenInfo",
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO"
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest": {
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest",
      "description": "Request message for claiming a certificate provisioning process.",
      "type": "object",
      "properties": {
        "callerInstanceId": {
          "description": "Required. The instance id of the caller.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "type": "object",
      "properties": {
        "shutdownReason": {
          "description": "The shutdown reason.",
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "type": "string"
        },
        "bootUpDuration": {
          "type": "string",
          "description": "Total time to boot up.",
          "format": "google-duration"
        },
        "shutdownDuration": {
          "type": "string",
          "description": "Total time since shutdown start to power off.",
          "format": "google-duration"
        },
        "shutdownTime": {
          "description": "The timestamp when shutdown.",
          "format": "google-datetime",
          "type": "string"
        },
        "reportTime": {
          "type": "string",
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime"
        },
        "bootUpTime": {
          "type": "string",
          "description": "The timestamp when power came on.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT"
    },
    "GoogleChromeManagementV1AppReport": {
      "id": "GoogleChromeManagementV1AppReport",
      "description": "App report.",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime",
          "type": "string"
        },
        "usageData": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AppUsageData"
          },
          "description": "App usage data."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "description": "Configures how the telemetry data should be filtered.",
      "type": "object",
      "properties": {
        "userOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit.",
          "type": "string"
        },
        "telemetryEventNotificationFilter": {
          "description": "Only sends notifications for the telemetry events matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter"
        },
        "deviceOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit.",
          "type": "string"
        },
        "deviceId": {
          "description": "If set, only sends notifications for telemetry data coming from this device.",
          "type": "string"
        },
        "userEmail": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        },
        "count": {
          "description": "Count of devices with a unique hardware specification.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification."
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "telemetryUsers": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "description": "Telemetry users returned in the response."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "description": "Response message for listing telemetry users for a customer."
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "type": "object",
      "properties": {
        "chromeBrowserProfiles": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          },
          "description": "The list of profiles returned."
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "totalSize": {
          "type": "string",
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles.",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse",
      "description": "Response to ListChromeBrowserProfiles method."
    },
    "GoogleChromeManagementV1StorageInfo": {
      "id": "GoogleChromeManagementV1StorageInfo",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "type": "object",
      "properties": {
        "volume": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "description": "Information for disk volumes"
        },
        "availableDiskBytes": {
          "description": "The available space for user data storage in the device in bytes.",
          "format": "int64",
          "type": "string"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "id": "GoogleChromeManagementV1RiskAssessment",
      "description": "Risk assessment for a Chrome extension.",
      "type": "object",
      "properties": {
        "assessment": {
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider.",
          "type": "string"
        },
        "detailsUrl": {
          "description": "A URL that a user can navigate to for more information about the risk assessment.",
          "type": "string"
        },
        "version": {
          "description": "The version of the extension that this assessment applies to.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "id": "GoogleChromeManagementV1UserPrintReport",
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "The unique Directory API ID of the user.",
          "type": "string"
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to initiate print jobs by the user.",
          "format": "int64",
          "type": "string"
        },
        "printerCount": {
          "description": "Number of printers used by the user.",
          "format": "int64",
          "type": "string"
        },
        "jobCount": {
          "type": "string",
          "description": "Number of print jobs initiated by the user.",
          "format": "int64"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "id": "GoogleChromeManagementV1RuntimeCountersReport",
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+.",
      "type": "object",
      "properties": {
        "enterHibernationCount": {
          "type": "string",
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4.",
          "format": "int64"
        },
        "reportTime": {
          "type": "string",
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime"
        },
        "enterSleepCount": {
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3.",
          "format": "int64",
          "type": "string"
        },
        "enterPoweroffCount": {
          "type": "string",
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "format": "int64"
        },
        "uptimeRuntimeDuration": {
          "type": "string",
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR.",
          "format": "google-duration"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent": {
      "type": "object",
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "signalStrengthDbm": {
          "type": "integer",
          "description": "Signal strength RSSI value.",
          "format": "int32"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
      "description": "`TelemetryNetworkSignalStrengthEvent` is triggered on WiFi signal strength events. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig",
      "description": "Configuration to receive notifications of telemetry data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the notification configuration.",
          "readOnly": true,
          "type": "string"
        },
        "googleCloudPubsubTopic": {
          "description": "The pubsub topic to which notifications are published to.",
          "type": "string"
        },
        "filter": {
          "description": "Only send notifications for telemetry data matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter"
        },
        "customer": {
          "description": "Output only. Google Workspace customer that owns the resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deviceActivityState": {
          "type": "string",
          "description": "Output only. Device activity state.",
          "readOnly": true,
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ]
        }
      },
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT"
    },
    "GoogleChromeManagementV1PrinterReport": {
      "id": "GoogleChromeManagementV1PrinterReport",
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "type": "object",
      "properties": {
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "format": "int64",
          "type": "string"
        },
        "jobCount": {
          "type": "string",
          "description": "Number of print jobs sent to the printer.",
          "format": "int64"
        },
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        },
        "printerModel": {
          "description": "Printer model.",
          "type": "string"
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "format": "int64",
          "type": "string"
        },
        "printer": {
          "description": "Printer name.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse": {
      "id": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse",
      "description": "Response containing a list of devices that have requested the queried extension.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Optional. Token to specify the next page in the list. Token expires after 1 day.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Optional. Total number of devices in response.",
          "format": "int32"
        },
        "deviceDetails": {
          "description": "Details of devices that have requested the queried extension.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceRequestingExtensionDetails"
          }
        }
      }
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "type": "object",
      "properties": {
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        },
        "httpsLatencyState": {
          "description": "Current HTTPS latency state.",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayData": {
      "type": "object",
      "properties": {
        "resolutionHorizontal": {
          "description": "The horizontal resolution.",
          "format": "int32",
          "type": "integer"
        },
        "refreshRate": {
          "description": "The refresh rate.",
          "format": "int64",
          "type": "string"
        },
        "serialNumber": {
          "type": "integer",
          "description": "The serial number.",
          "format": "int32"
        },
        "displayName": {
          "description": "The display name.",
          "type": "string"
        },
        "edidVersion": {
          "description": "The EDID version.",
          "type": "string"
        },
        "resolutionVertical": {
          "description": "The vertical resolution.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayData",
      "description": "External display data."
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "type": "object",
      "properties": {
        "printerReports": {
          "description": "List of PrinterReports matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          }
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of printers matching request.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval."
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "type": "object",
      "properties": {
        "appUninstallSource": {
          "type": "string",
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ],
          "description": "App uninstall source.",
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ]
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        },
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
      "description": "App uninstall data."
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "type": "object",
      "properties": {
        "wifiSignalStrengthEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`.",
          "readOnly": true
        },
        "user": {
          "description": "Output only. Information about the user associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo"
        },
        "externalDisplaysEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the event.",
          "readOnly": true
        },
        "usbPeripheralsEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true
        },
        "networkStateChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "readOnly": true
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "appInstallEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent",
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "readOnly": true
        },
        "appUninstallEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "readOnly": true
        },
        "vpnConnectionStateChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "readOnly": true
        },
        "audioSevereUnderrunEvent": {
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "osCrashEvent": {
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent"
        },
        "httpsLatencyChangeEvent": {
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
        },
        "appLaunchEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "readOnly": true
        },
        "device": {
          "description": "Output only. Information about the device associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo"
        },
        "eventType": {
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "description": "The event type of the current event.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "description": "Telemetry data reported by a managed device."
    },
    "GoogleChromeManagementVersionsV1AttestationCredential": {
      "id": "GoogleChromeManagementVersionsV1AttestationCredential",
      "description": "Information of public key associated with a Chrome browser profile.",
      "type": "object",
      "properties": {
        "keyType": {
          "description": "Output only. Type of the public key.",
          "readOnly": true,
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "RSA_KEY",
            "EC_KEY"
          ],
          "enumDescriptions": [
            "Represents an unspecified public key type.",
            "Represents a RSA key.",
            "Represents an EC key."
          ],
          "type": "string"
        },
        "keyTrustLevel": {
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified public key trust level.",
            "Represents a HW key.",
            "Represents an OS key."
          ],
          "description": "Output only. Trust level of the public key.",
          "readOnly": true,
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY"
          ]
        },
        "publicKey": {
          "type": "string",
          "description": "Output only. Value of the public key.",
          "readOnly": true,
          "format": "byte"
        },
        "keyRotationTime": {
          "description": "Output only. Latest rotation timestamp of the public key rotation.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "description": "Response containing the number of active devices.",
      "type": "object",
      "properties": {
        "sevenDaysCount": {
          "type": "string",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "format": "int64"
        },
        "thirtyDaysCount": {
          "type": "string",
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "httpsLatencyData": {
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      },
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse": {
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse",
      "description": "Response message for claiming a certificate provisioning process.",
      "type": "object",
      "properties": {}
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "description": "Permission requested by a Chrome app or extension.",
      "type": "object",
      "properties": {
        "accessUserData": {
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "readOnly": true,
          "type": "boolean"
        },
        "documentationUri": {
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the permission.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "id": "GoogleChromeManagementV1TouchScreenInfo",
      "description": "Information on the device touch screen.",
      "type": "object",
      "properties": {
        "touchpadLibrary": {
          "description": "Output only. Touchpad library name used by the input stack.",
          "readOnly": true,
          "type": "string"
        },
        "devices": {
          "description": "Output only. List of the internal touch screen devices.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "type": "object",
      "properties": {
        "thirdPartyProfileUser": {
          "description": "Output only. The moved third party profile user.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser"
        }
      },
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "description": "Response for MoveThirdPartyProfileUser method."
    },
    "GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The ID of the organizational unit assigned to the user.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
      "description": "A representation of non-Google (third party) user that is associated with a managed Chrome profile."
    },
    "GoogleChromeManagementV1TelemetryDeviceInfo": {
      "id": "GoogleChromeManagementV1TelemetryDeviceInfo",
      "description": "Information about a device associated with telemetry data. * Granular Permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "type": "object",
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "description": "Represent one host permission."
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "type": "object",
      "properties": {
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        },
        "deviceName": {
          "description": "The name of a device that has requested the extension.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult": {
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult",
      "description": "Result of the execution of a command.",
      "type": "object",
      "properties": {
        "resultType": {
          "type": "string",
          "description": "Output only. Result type of the remote command.",
          "readOnly": true,
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "enumDescriptions": [
            "Represents an unspecified command result.",
            "Represents a command with an ignored result.",
            "Represents a failed command.",
            "Represents a succeeded command."
          ]
        },
        "clientExecutionTime": {
          "description": "Output only. Timestamp of the client execution of the remote command.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "resultCode": {
          "description": "Output only. Result code that indicates the type of error or success of the command.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "receivingBitRateMbps": {
          "type": "string",
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "readOnly": true,
          "format": "int64"
        },
        "connectionState": {
          "type": "string",
          "description": "Output only. Current connection state of the network.",
          "readOnly": true,
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ]
        },
        "gatewayIpv6Address": {
          "type": "string",
          "description": "Output only. The gateway IPv6 for this interface, if detected",
          "readOnly": true
        },
        "connectionType": {
          "type": "string",
          "description": "Output only. Network connection type.",
          "readOnly": true,
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ],
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ]
        },
        "transmissionBitRateMbps": {
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "wifiLinkQuality": {
          "type": "string",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "readOnly": true,
          "format": "int64"
        },
        "sampleFrequency": {
          "type": "string",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "format": "google-duration"
        },
        "reportTime": {
          "type": "string",
          "description": "Output only. Time at which the network state was reported.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "transmissionPowerDbm": {
          "type": "integer",
          "description": "Output only. Transmission power measured in decibels.",
          "readOnly": true,
          "format": "int32"
        },
        "lanIpAddress": {
          "type": "string",
          "description": "Output only. LAN IP address.",
          "readOnly": true
        },
        "gatewayIpAddress": {
          "type": "string",
          "description": "Output only. Gateway IP address.",
          "readOnly": true
        },
        "ipv6Address": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. IPv6 addresses assigned to this network, if any. Each address is a string in standard IPv6 text representation (e.g., \"2001:db8::1\").",
          "readOnly": true
        },
        "encryptionOn": {
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "readOnly": true,
          "type": "boolean"
        },
        "linkDownSpeedKbps": {
          "description": "Output only. The maximum downstream bandwidth in Kilobits per second (Kbps), if reported by the network interface or connection.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "readOnly": true,
          "type": "string"
        },
        "wifiPowerManagementEnabled": {
          "type": "boolean",
          "description": "Output only. Wifi power management enabled",
          "readOnly": true
        },
        "signalStrengthDbm": {
          "type": "integer",
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "readOnly": true,
          "format": "int32"
        },
        "metered": {
          "type": "boolean",
          "description": "Output only. Whether the network was detected as metered.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "type": "object",
      "properties": {
        "problem": {
          "type": "string",
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "readOnly": true,
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ]
        },
        "latency": {
          "type": "string",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "readOnly": true,
          "format": "google-duration"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ScepProfile": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "organizationalUnits": {
          "description": "Output only. The organizational units of the subject.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subjectCommonName": {
          "description": "Output only. The common name of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "country": {
          "description": "Output only. The country of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "certificateTemplateName": {
          "type": "string",
          "description": "Output only. The certificate template name as defined by the admin on their on-prem infrastructure. The Certificate Authority uses this name to identify the certificate template.",
          "readOnly": true
        },
        "locality": {
          "type": "string",
          "description": "Output only. The locality of the subject.",
          "readOnly": true
        },
        "subjectAltNames": {
          "description": "Output only. The subject alternative names.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1SubjectAltName"
          }
        },
        "keyUsages": {
          "description": "Output only. The allowed key usages for certificate's key.",
          "readOnly": true,
          "type": "array",
          "items": {
            "enum": [
              "KEY_USAGE_UNSPECIFIED",
              "KEY_USAGE_SIGNING",
              "KEY_USAGE_KEY_ENCIPHERMENT"
            ],
            "enumDescriptions": [
              "The key usage is unspecified.",
              "The key can be used for signing.",
              "The key can be used for key encipherment."
            ],
            "type": "string"
          }
        },
        "organization": {
          "description": "Output only. The name of the organization the subject belongs to.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ScepProfile",
      "description": "Describes a SCEP certificate provisioning profile."
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        },
        "deviceDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to."
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "type": "object",
      "properties": {
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        },
        "count": {
          "description": "Total count of crash events.",
          "format": "int64",
          "type": "string"
        },
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "description": "The `count` of the Chrome crash events at the `date`."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "description": "Describes a subject alternative name.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "description": "Output only. The type of the SubjectAltName extension.",
          "readOnly": true,
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ]
        },
        "value": {
          "type": "string",
          "description": "Output only. The value of the subject alternative name with respect to the `type`.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "usbPeripheralReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "description": "Reports of all usb connected devices."
        }
      }
    },
    "GoogleChromeManagementV1AppUsageData": {
      "type": "object",
      "properties": {
        "runningDuration": {
          "description": "App foreground running time.",
          "format": "google-duration",
          "type": "string"
        },
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "type": "string",
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appInstanceId": {
          "description": "Application instance id. This will be unique per window/instance.",
          "type": "string"
        },
        "appId": {
          "description": "App id.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1AppUsageData",
      "description": "App usage data."
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of matching app requests.",
          "format": "int32",
          "type": "integer"
        },
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          }
        }
      },
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations."
    },
    "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
      "description": "`TelemetryNetworkConnectionStateChangeEvent` is triggered on network connection state changes. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "connectionState": {
          "type": "string",
          "description": "Current connection state of the network.",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ]
        }
      }
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "type": "object",
      "properties": {
        "remainingCapacity": {
          "type": "string",
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "readOnly": true,
          "format": "int64"
        },
        "temperature": {
          "description": "Output only. Temperature in Celsius degrees.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "voltage": {
          "description": "Output only. Battery voltage (millivolt).",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "chargeRate": {
          "description": "Output only. Battery charge percentage.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true,
          "type": "string"
        },
        "reportTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dischargeRate": {
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "current": {
          "type": "string",
          "description": "Output only. Battery current (mA).",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementVersionsV1SignDataMetadata": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. Start time of the SignData operation.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1SignDataMetadata",
      "description": "Metadata for the long-running operation returned by signData."
    },
    "GoogleChromeManagementVersionsV1ReportingDataPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataPolicyData",
      "description": "Information of a policy applied on a Chrome browser profile.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Output only. Value of the policy.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Output only. Source of the policy.",
          "readOnly": true,
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ]
        },
        "name": {
          "description": "Output only. Name of the policy.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Output only. Error message of the policy, if any.",
          "readOnly": true
        },
        "conflicts": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData"
          },
          "description": "Output only. Conflicting policy information.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "type": "object",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "description": "Describes a generic Certificate Authority Connection."
    },
    "GoogleChromeManagementV1PrintJob": {
      "type": "object",
      "properties": {
        "colorMode": {
          "description": "Color mode.",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "type": "string"
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "documentPageCount": {
          "description": "Number of pages in the document.",
          "format": "int32",
          "type": "integer"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "description": "The final state of the job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string"
        },
        "duplexMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ],
          "description": "Duplex mode.",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ]
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        },
        "completeTime": {
          "description": "Print job completion timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "copyCount": {
          "type": "integer",
          "description": "Number of copies.",
          "format": "int32"
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Print job creation timestamp.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementV1PrintJob",
      "description": "Represents a request to print a document that has been submitted to a printer."
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
      "description": "App launch data.",
      "type": "object",
      "properties": {
        "appLaunchSource": {
          "type": "string",
          "description": "App launch source.",
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ]
        },
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ]
        },
        "appId": {
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "type": "object",
      "properties": {
        "storageTotalBytes": {
          "description": "Total storage space in bytes.",
          "format": "int64",
          "type": "string"
        },
        "storageFreeBytes": {
          "description": "Free storage space in bytes.",
          "format": "int64",
          "type": "string"
        },
        "volumeId": {
          "description": "Disk volume id.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "description": "Information for disk volumes"
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the user.",
          "type": "string"
        },
        "userId": {
          "description": "Directory ID of the user.",
          "type": "string"
        },
        "customer": {
          "description": "G Suite Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "userDevice": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          },
          "description": "Telemetry data collected from a managed user and device."
        },
        "orgUnitId": {
          "description": "Organization unit of the user.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUser",
      "description": "Telemetry data collected from a managed user. * Granular permission needed: TELEMETRY_API_USER"
    },
    "GoogleChromeManagementV1AppDetails": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "readOnly": true,
          "type": "string"
        },
        "serviceError": {
          "description": "Output only. Information about a partial service error if applicable.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "reviewNumber": {
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "reviewRating": {
          "type": "number",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true,
          "format": "float"
        },
        "revisionId": {
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. App's description.",
          "readOnly": true,
          "type": "string"
        },
        "isPaidApp": {
          "type": "boolean",
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "readOnly": true,
          "type": "string"
        },
        "firstPublishTime": {
          "description": "Output only. First published time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "latestPublishTime": {
          "description": "Output only. Latest published time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "publisher": {
          "type": "string",
          "description": "Output only. The publisher of the item.",
          "readOnly": true
        },
        "chromeAppInfo": {
          "description": "Output only. Chrome Web Store app information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1ChromeAppInfo"
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "readOnly": true,
          "type": "string"
        },
        "detailUri": {
          "type": "string",
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true
        },
        "iconUri": {
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "description": "Output only. App type.",
          "readOnly": true,
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ]
        },
        "androidAppInfo": {
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "description": "Output only. Android app information.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1AppDetails",
      "description": "Resource representing app details."
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "type": "object",
      "properties": {
        "chromeBrowserProfileCommands": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          },
          "description": "The list of commands returned."
        },
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned.",
          "format": "int64",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "description": "Response to ListChromeBrowserProfileCommands method."
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to.",
      "type": "object",
      "properties": {
        "userPrimaryEmail": {
          "type": "string",
          "description": "Output only. The primary e-mail address of the user.",
          "readOnly": true
        },
        "userDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the user.",
          "readOnly": true,
          "type": "string"
        },
        "chromeOsDevice": {
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice"
        }
      }
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails",
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The e-mail address of a user that has requested the extension.",
          "type": "string"
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "id": "GoogleChromeManagementV1DisplayDevice",
      "description": "Information of a display device.",
      "type": "object",
      "properties": {
        "edidVersion": {
          "description": "Output only. EDID version.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "displayWidthMm": {
          "type": "integer",
          "description": "Output only. Display width in millimeters.",
          "readOnly": true,
          "format": "int32"
        },
        "displayHeightMm": {
          "description": "Output only. Display height in millimeters.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "internal": {
          "type": "boolean",
          "description": "Output only. Is display internal or not.",
          "readOnly": true
        },
        "manufacturerId": {
          "type": "string",
          "description": "Output only. Three letter manufacturer ID.",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "manufactureYear": {
          "description": "Output only. Year of manufacture.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "modelId": {
          "type": "integer",
          "description": "Output only. Manufacturer product code.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1InstalledApp": {
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "appSource": {
          "type": "string",
          "description": "Output only. Source of the installed app.",
          "readOnly": true,
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Name of the installed app.",
          "readOnly": true
        },
        "permissions": {
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "description": "Output only. How the app was installed.",
          "readOnly": true,
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "type": "string"
        },
        "osUserCount": {
          "type": "string",
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "readOnly": true,
          "format": "int64"
        },
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "description": "Output only. Type of the app.",
          "readOnly": true,
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "browserDeviceCount": {
          "type": "string",
          "description": "Output only. Count of browser devices with this app installed.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "type": "object",
      "properties": {
        "cpuUtilizationPct": {
          "type": "integer",
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "readOnly": true,
          "format": "int32"
        },
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cpuTemperatureInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          },
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true
        },
        "sampleFrequency": {
          "type": "string",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "format": "google-duration"
        }
      },
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT"
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "description": "Response containing the number of devices with the given channel.",
      "type": "object",
      "properties": {
        "ltsChannelCount": {
          "description": "Number of devices with lts release channel.",
          "format": "int64",
          "type": "string"
        },
        "betaChannelCount": {
          "type": "string",
          "description": "Number of devices with beta release channel.",
          "format": "int64"
        },
        "unsupportedChannelCount": {
          "description": "Number of devices with unsupported release channel.",
          "format": "int64",
          "type": "string"
        },
        "stableChannelCount": {
          "description": "Number of devices with stable release channel.",
          "format": "int64",
          "type": "string"
        },
        "devChannelCount": {
          "description": "Number of devices with dev release channel.",
          "format": "int64",
          "type": "string"
        },
        "canaryChannelCount": {
          "type": "string",
          "description": "Number of devices with canary release channel.",
          "format": "int64"
        },
        "ltcChannelCount": {
          "type": "string",
          "description": "Number of devices with ltc release channel.",
          "format": "int64"
        },
        "unreportedChannelCount": {
          "type": "string",
          "description": "Number of devices with an unreported release channel.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "id": "GoogleChromeManagementV1NetworkInfo",
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "type": "object",
      "properties": {
        "networkDevices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "description": "Output only. List of network devices.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "description": "Response containing counts for browsers that need attention.",
      "type": "object",
      "properties": {
        "recentlyEnrolledCount": {
          "description": "Number of browsers that have been recently enrolled",
          "format": "int64",
[...]
