{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version": "v1",
  "id": "chromemanagement:v1",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "canonicalName": "Chrome Management",
  "kind": "discovery#restDescription",
  "resources": {
    "customers": {
      "resources": {
        "telemetry": {
          "resources": {
            "events": {
              "methods": {
                "list": {
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    },
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "description": "List telemetry events.",
                  "path": "v1/{+parent}/telemetry/events"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "description": "List all telemetry devices.",
                  "path": "v1/{+parent}/telemetry/devices",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to specify next page in the list.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "id": "chromemanagement.customers.telemetry.devices.list"
                },
                "get": {
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Get telemetry device.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  }
                }
              }
            },
            "users": {
              "methods": {
                "list": {
                  "description": "List all telemetry users.",
                  "path": "v1/{+parent}/telemetry/users",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "readMask": {
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to specify next page in the list.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "flatPath": "v1/customers/{customersId}/telemetry/users"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "location": "path",
                      "required": true
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "description": "Get telemetry user.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "id": "chromemanagement.customers.telemetry.users.get"
                }
              }
            },
            "notificationConfigs": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The parent which owns the notification configs.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List all telemetry notification configs.",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "description": "Create a telemetry notification config.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  }
                },
                "delete": {
                  "description": "Delete a telemetry notification config.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$",
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}"
                }
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "list": {
              "id": "chromemanagement.customers.profiles.list",
              "flatPath": "v1/customers/{customersId}/profiles",
              "path": "v1/{+parent}/profiles",
              "description": "Lists Chrome browser profiles of a customer based on the given search and sorting criteria.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of profiles to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 200.",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The fields used to specify the ordering of the results. The supported fields are: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version By default, sorting is in ascending order, to specify descending order for a field, a suffix \" desc\" should be added to the field name. The default ordering is the descending order of last_status_report_time.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "description": "Optional. The filter used to filter profiles. The following fields can be used in the filter: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version - ouId Any of the above fields can be used to specify a filter, and filtering by multiple fields is supported with AND operator. String type fields and enum type fields support '=' and '!=' operators. The integer type and the timestamp type fields support '=', '!=', '<', '>', '<=' and '>=' operators. Timestamps expect an RFC-3339 formatted string (e.g. 2012-04-21T11:30:00-04:00). Wildcard '*' can be used with a string type field filter. In addition, string literal filtering is also supported, for example, 'ABC' as a filter maps to a filter that checks if any of the filterable string type fields contains 'ABC'. Organization unit number can be used as a filtering criteria here by specifying 'ouId = ${your_org_unit_id}', please note that only single OU ID matching is supported.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets a Chrome browser profile with customer ID and profile permanent ID.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true
                }
              },
              "id": "chromemanagement.customers.profiles.get",
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes the data collected from a Chrome browser profile.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "id": "chromemanagement.customers.profiles.delete"
            }
          },
          "resources": {
            "commands": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "id": "chromemanagement.customers.profiles.commands.create",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "path": "v1/{+parent}/commands",
                  "description": "Creates a Chrome browser profile remote command.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets a Chrome browser profile remote command.",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
                      "location": "path",
                      "pattern": "^customers/[^/]+/profiles/[^/]+/commands/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "chromemanagement.customers.profiles.commands.get",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands/{commandsId}"
                },
                "list": {
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "id": "chromemanagement.customers.profiles.commands.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of commands to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse"
                  },
                  "path": "v1/{+parent}/commands",
                  "description": "Lists remote commands of a Chrome browser profile."
                }
              }
            }
          }
        },
        "thirdPartyProfileUsers": {
          "methods": {
            "move": {
              "id": "chromemanagement.customers.thirdPartyProfileUsers.move",
              "flatPath": "v1/customers/{customersId}/thirdPartyProfileUsers/{thirdPartyProfileUsersId}:move",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/thirdPartyProfileUsers/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "description": "Moves a third party chrome profile user to a destination OU. All profiles associated to that user will be moved to the destination OU.",
              "path": "v1/{+name}:move",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
              }
            }
          }
        },
        "apps": {
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Get a specific app for a customer by its resource name.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "id": "chromemanagement.customers.apps.android.get",
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}"
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ]
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.web.get",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "countChromeAppRequests": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "description": "Generate summary of app installation requests.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "location": "query",
                  "format": "int32"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "id": "chromemanagement.customers.apps.countChromeAppRequests"
            },
            "fetchDevicesRequestingExtension": {
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query"
                },
                "extensionId": {
                  "description": "Required. The extension for which we want to find requesting devices.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "description": "Get a list of devices that have requested to install an extension.",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              }
            },
            "fetchUsersRequestingExtension": {
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension",
              "description": "Get a list of users that have requested to install an extension.",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query"
                },
                "extensionId": {
                  "type": "string",
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countChromeDevicesReachingAutoExpirationDate": {
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "required": true
                },
                "minAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units.",
                  "location": "query"
                },
                "maxAueDate": {
                  "type": "string",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              }
            },
            "enumeratePrintJobs": {
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "description": "Get a list of print jobs.",
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "printerOrgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned.",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs"
            },
            "countPrintJobsByPrinter": {
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "printerOrgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Get a summary of printing done by each printer.",
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              }
            },
            "countPrintJobsByUser": {
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "description": "Get a summary of printing done by each user.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "printerOrgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query"
                }
              }
            },
            "countActiveDevices": {
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "date.day": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "date.year": {
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "format": "int32"
                },
                "date.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1/{+customer}/reports:countActiveDevices",
              "description": "Get a count of active devices per set time frames.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              }
            },
            "findInstalledAppDevices": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "parameters": {
                "appType": {
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "type": "string",
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "location": "query",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "appId": {
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices"
            },
            "countChromeCrashEvents": {
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "description": "Get a count of Chrome crash events.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "Customer ID.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents"
            },
            "countChromeHardwareFleetDevices": {
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "readMask": {
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices"
            },
            "countDevicesPerBootType": {
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "description": "Get a count of devices per boot type.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "date.day": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "date.year": {
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "format": "int32"
                },
                "date.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType"
            },
            "countChromeVersions": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "description": "Generate report of installed Chrome versions.",
              "path": "v1/{+customer}/reports:countChromeVersions"
            },
            "countDevicesPerReleaseChannel": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "date.day": {
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "format": "int32"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel",
              "description": "Get a count of devices per channel.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel"
            },
            "countChromeBrowsersNeedingAttention": {
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                }
              },
              "httpMethod": "GET"
            },
            "countChromeDevicesThatNeedAttention": {
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path"
                },
                "readMask": {
                  "format": "google-fieldmask",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention"
            },
            "countInstalledApps": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "description": "Generate report of app installations.",
              "path": "v1/{+customer}/reports:countInstalledApps",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "id": "chromemanagement.customers.reports.countInstalledApps"
            }
          }
        },
        "certificateProvisioningProcesses": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "path": "v1/{+name}",
              "description": "Retrieves a certificate provisioning process."
            },
            "uploadCertificate": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "path": "v1/{+name}:uploadCertificate",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate"
            },
            "signData": {
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:signData",
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "setFailure": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "path": "v1/{+name}:setFailure",
              "description": "Marks a certificate provisioning process as failed.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              }
            },
            "claim": {
              "path": "v1/{+name}:claim",
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "flatPath": "v1/operations",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The standard list page size.",
              "location": "query"
            },
            "name": {
              "pattern": "^operations$",
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "The standard list page token.",
              "location": "query"
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query",
              "type": "boolean"
            },
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "chromemanagement.operations.list",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "path": "v1/{+name}"
        },
        "cancel": {
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "path": "v1/{+name}:cancel",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "id": "chromemanagement.operations.cancel",
          "flatPath": "v1/operations/{operationsId}:cancel"
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "chromemanagement.operations.delete",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v1/{+name}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    }
  },
  "version_module": true,
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "basePath": "",
  "ownerName": "Google",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260409",
  "schemas": {
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "description": "One risk assessment entry.",
      "properties": {
        "provider": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "type": "string"
        },
        "riskAssessment": {
          "$ref": "GoogleChromeManagementV1RiskAssessment",
          "description": "Output only. The details of the provider's risk assessment.",
          "readOnly": true
        },
        "riskLevel": {
          "readOnly": true,
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "properties": {
        "cpuReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz)."
        },
        "memoryReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16)."
        },
        "modelReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook)."
        },
        "storageReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128)."
        }
      }
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Network device type.",
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ]
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        },
        "mdn": {
          "type": "string",
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "readOnly": true
        },
        "macAddress": {
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1NetworkDevice",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryAppInstallEvent": {
      "description": "App installation data.",
      "properties": {
        "appInstallReason": {
          "description": "App installation reason.",
          "enum": [
            "APPLICATION_INSTALL_REASON_UNSPECIFIED",
            "APPLICATION_INSTALL_REASON_SYSTEM",
            "APPLICATION_INSTALL_REASON_POLICY",
            "APPLICATION_INSTALL_REASON_OEM",
            "APPLICATION_INSTALL_REASON_DEFAULT",
            "APPLICATION_INSTALL_REASON_SYNC",
            "APPLICATION_INSTALL_REASON_USER",
            "APPLICATION_INSTALL_REASON_SUB_APP",
            "APPLICATION_INSTALL_REASON_KIOSK",
            "APPLICATION_INSTALL_REASON_COMMAND_LINE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Application install reason is unknown.",
            "Application installed with the system and is considered part of the OS.",
            "Application installed by policy.",
            "Application installed by an original equipment manufacturer (OEM).",
            "Application installed by default, but is not considered a system app.",
            "Application installed by sync.",
            "Application installed by user action.",
            "Application installed bt SubApp API call.",
            "Application installed by Kiosk on Chrome OS.",
            "Application installed by command line argument."
          ]
        },
        "appType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appInstallSource": {
          "description": "App installation source.",
          "enum": [
            "APPLICATION_INSTALL_SOURCE_UNSPECIFIED",
[...]
