{
  "documentationLink": "https://developers.google.com/chrome/management/",
  "id": "chromemanagement:v1",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        }
      }
    }
  },
  "schemas": {
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest": {
      "properties": {
        "callerInstanceId": {
          "type": "string",
          "description": "Required. The instance id of the caller."
        }
      },
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest",
      "description": "Request message for claiming a certificate provisioning process.",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the report was collected.",
          "format": "google-datetime"
        },
        "deviceActivityState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "description": "Output only. Device activity state.",
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "description": "Response containing counts for devices that need attention.",
      "properties": {
        "noRecentUserActivityCount": {
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "format": "int64",
          "type": "string"
        },
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "format": "int64",
          "type": "string"
        },
        "osVersionNotCompliantCount": {
          "type": "string",
          "description": "Number of devices whose OS version is not compliant.",
          "format": "int64"
        },
        "pendingUpdate": {
          "type": "string",
          "description": "Number of devices that are pending an OS update.",
          "format": "int64"
        },
        "unsupportedPolicyCount": {
          "type": "string",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "description": "Chrome Web Store app information.",
      "properties": {
        "supportEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found."
        },
        "minUserCount": {
          "description": "Output only. The minimum number of users using this app.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "isCwsHosted": {
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "readOnly": true,
          "type": "boolean"
        },
        "kioskEnabled": {
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "type": "boolean",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "description": "Output only. Types of an item in the Chrome Web Store"
        },
        "isKioskOnly": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices"
        },
        "permissions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found."
        },
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "readOnly": true,
          "type": "array"
        },
        "googleOwned": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found."
        },
        "isTheme": {
          "description": "Output only. Whether the app or extension is a theme.",
          "type": "boolean",
          "readOnly": true
        },
        "isExtensionPolicySupported": {
          "description": "Output only. Whether an app supports policy for extensions.",
          "readOnly": true,
          "type": "boolean"
        },
        "manifestVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of this extension's manifest.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "type": "object",
      "properties": {
        "designCapacity": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64"
        },
        "manufactureDate": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date the battery was manufactured."
        },
        "designMinVoltage": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Designed minimum output voltage (mV)",
          "format": "int32"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "type": "string",
          "readOnly": true
        },
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "readOnly": true,
          "type": "string"
        },
        "technology": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Technology of the battery. Example: Li-ion"
        }
      },
      "id": "GoogleChromeManagementV1BatteryInfo",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO"
    },
    "GoogleChromeManagementVersionsV1AttestationCredential": {
      "id": "GoogleChromeManagementVersionsV1AttestationCredential",
      "description": "Information of public key associated with a Chrome browser profile.",
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "RSA_KEY",
            "EC_KEY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified public key type.",
            "Represents a RSA key.",
            "Represents an EC key."
          ],
          "description": "Output only. Type of the public key."
        },
        "keyTrustLevel": {
          "enumDescriptions": [
            "Represents an unspecified public key trust level.",
            "Represents a HW key.",
            "Represents an OS key."
          ],
          "description": "Output only. Trust level of the public key.",
          "type": "string",
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY"
          ],
          "readOnly": true
        },
        "publicKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Value of the public key.",
          "format": "byte"
        },
        "keyRotationTime": {
          "description": "Output only. Latest rotation timestamp of the public key rotation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "type": "object",
      "properties": {
        "crashEventCounts": {
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          },
          "description": "Crash event counts grouped by date and browser version.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date."
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "description": "Describes a browser version and its install count.",
      "properties": {
        "system": {
          "type": "string",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "description": "Output only. The device operating system."
        },
        "deviceOsVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the system-specified operating system."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full version of the installed browser."
        },
        "count": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Count grouped by device_system and major version",
          "format": "int64"
        },
        "channel": {
          "description": "Output only. The release channel of the installed browser.",
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayData": {
      "properties": {
        "serialNumber": {
          "description": "The serial number.",
          "format": "int32",
          "type": "integer"
        },
        "refreshRate": {
          "type": "string",
          "description": "The refresh rate.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "resolutionHorizontal": {
          "description": "The horizontal resolution.",
          "format": "int32",
          "type": "integer"
        },
        "edidVersion": {
          "type": "string",
          "description": "The EDID version."
        },
        "resolutionVertical": {
          "type": "integer",
          "description": "The vertical resolution.",
          "format": "int32"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayData",
      "description": "External display data.",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "disk": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "description": "Output only. Reports on disk."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountPrintJobsByUserResponse": {
      "type": "object",
      "properties": {
        "userPrintReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UserPrintReport"
          },
          "description": "List of UserPrintReports matching request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token for requesting the next page."
        },
        "totalSize": {
          "type": "string",
          "description": "Total number of users matching request.",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1CountPrintJobsByUserResponse",
      "description": "Response containing a summary printing report for each user that has initiated a print job with a printer from the specified organizational unit during the requested time interval."
    },
    "GoogleChromeManagementV1EnumeratePrintJobsResponse": {
      "properties": {
        "printJobs": {
          "items": {
            "$ref": "GoogleChromeManagementV1PrintJob"
          },
          "description": "List of requested print jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be used in a subsequent request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "string",
          "description": "Total number of print jobs matching request.",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1EnumeratePrintJobsResponse",
      "description": "Response containing a list of print jobs.",
      "type": "object"
    },
    "GoogleChromeManagementV1PrintJob": {
      "type": "object",
      "id": "GoogleChromeManagementV1PrintJob",
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "properties": {
        "printerId": {
          "type": "string",
          "description": "API ID of the printer used for printing."
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "documentPageCount": {
          "description": "Number of pages in the document.",
          "format": "int32",
          "type": "integer"
        },
        "duplexMode": {
          "type": "string",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "description": "Duplex mode.",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ]
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "createTime": {
          "description": "Print job creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "copyCount": {
          "description": "Number of copies.",
          "format": "int32",
          "type": "integer"
        },
        "userEmail": {
          "type": "string",
          "description": "The primary e-mail address of the user who submitted the print job."
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "description": "The final state of the job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ]
        },
        "completeTime": {
          "type": "string",
          "description": "Print job completion timestamp.",
          "format": "google-datetime"
        },
        "colorMode": {
          "type": "string",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "description": "Color mode."
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "properties": {
        "encryptionAlgorithm": {
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "description": "Memory encryption algorithm.",
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        },
        "maxKeys": {
          "description": "The maximum number of keys that can be used for encryption.",
          "format": "int64",
          "type": "string"
        },
        "encryptionState": {
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "description": "The state of memory encryption on the device.",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ]
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "properties": {
        "displayHeightMm": {
          "description": "Output only. Display height in millimeters.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "displayWidthMm": {
          "description": "Output only. Display width in millimeters.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "manufacturerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Three letter manufacturer ID."
        },
        "modelId": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Manufacturer product code.",
          "format": "int32"
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "edidVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. EDID version."
        },
        "manufactureYear": {
          "description": "Output only. Year of manufacture.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "internal": {
          "description": "Output only. Is display internal or not.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1DisplayDevice",
      "description": "Information of a display device.",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "properties": {
        "displays": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "description": "Output only. Information about the displays for the device."
        },
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the graphics data was reported.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "httpsLatencyData": {
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      },
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "properties": {
        "usbPeripheralReport": {
          "description": "List of usb devices that were either added or removed.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "properties": {
        "customer": {
          "description": "G Suite Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "userId": {
          "description": "Directory ID of the user.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization unit of the user."
        },
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the user."
        },
        "userDevice": {
          "type": "array",
          "description": "Telemetry data collected from a managed user and device.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          }
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUser",
      "description": "Telemetry data collected from a managed user. * Granular permission needed: TELEMETRY_API_USER",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "properties": {
        "bootPerformanceReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Boot performance reports of the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          }
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "type": "string",
          "readOnly": true
        },
        "audioStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab"
        },
        "memoryStatusReport": {
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "appReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "readOnly": true
        },
        "networkDiagnosticsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "description": "Output only. Network diagnostics collected periodically.",
          "type": "array",
          "readOnly": true
        },
        "peripheralsReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "networkStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Network specs collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          }
        },
        "memoryInfo": {
          "description": "Output only. Information regarding memory specs for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1MemoryInfo"
        },
        "graphicsInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "description": "Output only. Contains information regarding Graphic peripherals for the device."
        },
        "graphicsStatusReport": {
          "description": "Output only. Graphics reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "cpuStatusReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time."
        },
        "storageInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "description": "Output only. Information of storage specs for the device."
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
        },
        "heartbeatStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          }
        },
        "batteryStatusReport": {
          "description": "Output only. Battery reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "kioskAppStatusReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          },
          "description": "Output only. Kiosk app status report for the kiosk device"
        },
        "cpuInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "description": "Output only. Information regarding CPU specs for the device.",
          "type": "array",
          "readOnly": true
        },
        "thunderboltInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "description": "Output only. Information on Thunderbolt bus."
        },
        "osUpdateStatus": {
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "type": "array",
          "readOnly": true
        },
        "storageStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Storage reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "batteryInfo": {
          "description": "Output only. Information on battery specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "runtimeCountersReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states",
          "items": {
            "$ref": "GoogleChromeManagementV1RuntimeCountersReport"
          }
        },
        "networkInfo": {
          "description": "Output only. Network devices information.",
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "readOnly": true
        },
        "customer": {
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object"
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "totalSize": {
          "description": "Total number of devices matching request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "description": "Response containing a list of devices with queried app installed."
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "type": "object",
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "newPlatformVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "lastRebootTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the last reboot.",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the last successful update.",
          "format": "google-datetime"
        },
        "newRequestedPlatformVersion": {
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "type": "string",
          "readOnly": true
        },
        "lastUpdateCheckTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of the last update check.",
          "format": "google-datetime"
        },
        "updateState": {
          "description": "Output only. Current state of the os update.",
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "description": "Information of conflicting policy applied on a Chrome browser profile.",
      "properties": {
        "source": {
          "description": "Output only. Source of the policy.",
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "type": "object",
      "properties": {
        "appId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension."
        },
        "appDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App's display name."
        },
        "iconUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "latestRequestTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "format": "google-datetime"
        },
        "requestCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total count of requests for this app.",
          "format": "int64"
        },
        "detailUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The uri for the detail page of the item."
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "description": "Details of an app installation request."
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "properties": {
        "customer": {
          "description": "Output only. Google Workspace customer that owns the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the notification configuration.",
          "type": "string",
          "readOnly": true
        },
        "googleCloudPubsubTopic": {
          "type": "string",
          "description": "The pubsub topic to which notifications are published to."
        },
        "filter": {
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter",
          "description": "Only send notifications for telemetry data matching this filter."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig",
      "description": "Configuration to receive notifications of telemetry data.",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "The name of a device that has requested the extension."
        },
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "properties": {
        "httpsLatencyRoutineData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "description": "HTTPS latency routine data that triggered the event."
        },
        "httpsLatencyState": {
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "description": "Current HTTPS latency state.",
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ]
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "id": "GoogleChromeManagementV1MemoryInfo",
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "properties": {
        "totalRamBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total RAM in bytes.",
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "description": "Output only. Total memory encryption info for the device.",
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "readOnly": true
        },
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "extensionName": {
          "description": "Output only. Name of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "policyData": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "description": "Output only. Information of the policies applied on the extension.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "description": "Information of the policies applied on an extension."
    },
    "GoogleChromeManagementV1KioskAppStatusReport": {
      "properties": {
        "appId": {
          "type": "string",
          "description": "App id of kiosk app for example \"mdmkkicfmmkgmpkmkdikhlbggogpicma\""
        },
        "reportTime": {
          "description": "Timestamp of when report was collected",
          "format": "google-datetime",
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "description": "App version number of kiosk app for example \"1.10.118\""
        }
      },
      "id": "GoogleChromeManagementV1KioskAppStatusReport",
      "description": "Kiosk app status report of a device. * Available for Kiosks * This field provides the app id and version number running on a kiosk device and the timestamp of when the report was last updated * Data for this field is controlled via policy: [ReportDeviceSessionStatus](https://chromeenterprise.google/policies/#ReportDeviceSessionStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_APPS_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz"
        },
        "maxClockSpeed": {
          "description": "Output only. The max CPU clock speed in kHz.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "architecture": {
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true
        },
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean",
          "readOnly": true
        },
        "keylockerConfigured": {
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand": {
      "type": "object",
      "properties": {
        "commandType": {
          "type": "string",
          "description": "Required. Type of the remote command. The only supported command_type is \"clearBrowsingData\"."
        },
        "payload": {
          "description": "Required. Payload of the remote command. The payload for \"clearBrowsingData\" command supports: - fields \"clearCache\" and \"clearCookies\" - values of boolean type.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "commandResult": {
          "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult",
          "readOnly": true,
          "description": "Output only. Result of the remote command."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}"
        },
        "validDuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Valid duration of the remote command.",
          "format": "google-duration"
        },
        "commandState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "COMMAND_STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "EXECUTED_BY_CLIENT"
          ],
          "description": "Output only. State of the remote command.",
          "enumDescriptions": [
            "Represents an unspecified command state.",
            "Represents a command in a pending state.",
            "Represents a command that has expired.",
            "Represents a command that has been executed by the client."
          ]
        },
        "issueTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the issurance of the remote command.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand",
      "description": "A representation of a remote command for a Chrome browser profile."
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "description": "Response containing the number of devices with the given channel.",
      "properties": {
        "ltsChannelCount": {
          "description": "Number of devices with lts release channel.",
          "format": "int64",
          "type": "string"
        },
        "devChannelCount": {
          "type": "string",
          "description": "Number of devices with dev release channel.",
          "format": "int64"
        },
        "betaChannelCount": {
          "description": "Number of devices with beta release channel.",
          "format": "int64",
          "type": "string"
        },
        "ltcChannelCount": {
          "description": "Number of devices with ltc release channel.",
          "format": "int64",
          "type": "string"
        },
        "unreportedChannelCount": {
          "description": "Number of devices with an unreported release channel.",
          "format": "int64",
          "type": "string"
        },
        "stableChannelCount": {
          "description": "Number of devices with stable release channel.",
          "format": "int64",
          "type": "string"
        },
        "unsupportedChannelCount": {
          "description": "Number of devices with unsupported release channel.",
          "format": "int64",
          "type": "string"
        },
        "canaryChannelCount": {
          "type": "string",
          "description": "Number of devices with canary release channel.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1DisplayInfo",
      "description": "Information for a display.",
      "properties": {
        "resolutionWidth": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Resolution width in pixels.",
          "format": "int32"
        },
        "resolutionHeight": {
          "description": "Output only. Resolution height in pixels.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "deviceId": {
          "description": "Output only. Represents the graphics card device id.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display device name."
        },
        "edidVersion": {
          "description": "Output only. EDID version.",
          "readOnly": true,
          "type": "string"
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "isInternal": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if display is internal or not."
        },
        "serialNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Serial number.",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1AppReport": {
      "properties": {
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime",
          "type": "string"
        },
        "usageData": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AppUsageData"
          },
          "description": "App usage data."
        }
      },
      "id": "GoogleChromeManagementV1AppReport",
      "description": "App report.",
      "type": "object"
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "usbPeripheralReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "description": "Reports of all usb connected devices.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "id": "GoogleChromeManagementVersionsV1GenericProfile",
      "description": "Describes a generic certificate provisioning profile.",
      "properties": {
        "profileAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "description": "Response message for publishing a failure for a certificate provisioning process.",
      "properties": {},
      "type": "object"
    },
    "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse": {
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "Optional. Total number of devices in response.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Token to specify the next page in the list. Token expires after 1 day."
        },
        "deviceDetails": {
          "type": "array",
          "description": "Details of devices that have requested the queried extension.",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceRequestingExtensionDetails"
          }
        }
      },
      "id": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse",
      "description": "Response containing a list of devices that have requested the queried extension.",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "systemRamFreeBytes": {
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        },
        "pageFaults": {
          "description": "Output only. Number of page faults during this collection",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1MemoryStatusReport",
      "description": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_REPORT"
    },
    "GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryOsCrashEvent",
      "description": "OS crash data.",
      "properties": {
        "sessionType": {
          "type": "string",
          "enum": [
            "SESSION_TYPE_UNSPECIFIED",
            "SESSION_TYPE_SIGNED_IN_USER",
            "SESSION_TYPE_KIOSK",
            "SESSION_TYPE_MANAGED_GUEST",
            "SESSION_TYPE_ACTIVE_DIRECTORY"
          ],
          "enumDescriptions": [
            "Session type unknown.",
            "Signed in user.",
            "Kiosk.",
            "Managed guest session.",
            "Active directory session."
          ],
          "description": "Session type."
        },
        "crashId": {
          "type": "string",
          "description": "Crash id."
        },
        "crashType": {
          "type": "string",
          "enum": [
            "CRASH_TYPE_UNSPECIFIED",
            "CRASH_TYPE_KERNEL",
            "CRASH_TYPE_EMBEDDED_CONTROLLER"
          ],
          "description": "Crash type.",
          "enumDescriptions": [
            "Crash type unknown.",
            "Kernel crash.",
            "Embedded controller crash."
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "id": "GoogleChromeManagementVersionsV1ChromeOsDevice",
      "description": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to.",
      "properties": {
        "deviceDirectoryApiId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        },
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest": {
      "type": "object",
      "properties": {
        "destinationOrgUnit": {
          "type": "string",
          "description": "Required. Destination organizational unit where the third party chrome profile user will be moved to."
        }
      },
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest",
      "description": "Request to MoveThirdPartyProfileUser method."
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "description": "Response for MoveThirdPartyProfileUser method.",
      "properties": {
        "thirdPartyProfileUser": {
          "description": "Output only. The moved third party profile user.",
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1InstalledApp": {
      "properties": {
        "browserDeviceCount": {
          "description": "Output only. Count of browser devices with this app installed.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app is disabled."
        },
        "appType": {
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "description": "Output only. Type of the app.",
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "readOnly": true
        },
        "osUserCount": {
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "description": "Output only. How the app was installed.",
          "type": "string",
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Permissions of the installed app.",
          "type": "array",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the installed app."
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "$ref": "GoogleChromeManagementV1RiskAssessmentData",
          "readOnly": true
        },
        "appId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
        },
        "appSource": {
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "description": "Output only. Source of the installed app.",
          "type": "string",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "properties": {
        "chromeBrowserProfiles": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          },
          "description": "The list of profiles returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token that can be used to list the next page."
        },
        "totalSize": {
          "type": "string",
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles.",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse",
      "description": "Response to ListChromeBrowserProfiles method.",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "description": "Response message for listing notification configs for a customer.",
      "properties": {
        "telemetryNotificationConfigs": {
          "type": "array",
          "description": "The telemetry notification configs from the specified customer.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "properties": {
        "printerReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "totalSize": {
          "type": "string",
          "description": "Total number of printers matching request.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "properties": {
        "storageReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).",
          "type": "array"
        },
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        },
        "memoryReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16)."
        },
        "cpuReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT",
      "properties": {
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime"
        },
        "sample": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          }
        },
        "batteryHealth": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "description": "Output only. Battery health.",
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy, full charge capacity / design capacity > 80%",
            "Battery is moderately unhealthy and suggested to be replaced soon, full charge capacity / design capacity 75% - 80%",
            "Battery is unhealthy and suggested to be replaced, full charge capacity / design capacity < 75%"
          ]
        },
        "cycleCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Cycle count.",
          "format": "int32"
        },
        "fullChargeCapacity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "description": "Describes a subject alternative name.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "description": "Output only. The type of the SubjectAltName extension."
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the subject alternative name with respect to the `type`."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1DiskInfo",
      "description": "Status of the single storage device.",
      "properties": {
        "discardTimeThisSession": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "format": "google-duration"
        },
        "model": {
          "description": "Output only. Disk model.",
          "readOnly": true,
          "type": "string"
        },
        "bytesWrittenThisSession": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of bytes written since last boot.",
          "format": "int64"
        },
        "health": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk health."
        },
        "ioTimeThisSession": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "format": "google-duration"
        },
        "sizeBytes": {
          "description": "Output only. Disk size.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Output only. Disk serial number.",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk manufacturer."
        },
        "bytesReadThisSession": {
          "description": "Output only. Number of bytes read since last boot.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "readTimeThisSession": {
          "description": "Output only. Time spent reading from disk since last boot.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "readOnly": true,
          "type": "string"
        },
        "volumeIds": {
          "description": "Output only. Disk volumes.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "writeTimeThisSession": {
          "description": "Output only. Time spent writing to disk since last boot.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1RiskAssessmentData": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleChromeManagementV1RiskAssessmentEntry"
          },
          "description": "Individual risk assessments.",
          "type": "array"
        },
        "overallRiskLevel": {
          "type": "string",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "description": "Overall assessed risk level across all entries. This will be the highest risk level from all entries.",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ]
        }
      },
      "id": "GoogleChromeManagementV1RiskAssessmentData",
      "description": "Risk assessment data about an extension/app.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SignDataRequest": {
      "id": "GoogleChromeManagementVersionsV1SignDataRequest",
      "description": "Request message for requesting a signature from the client that initated a certificate provisioning process.",
      "properties": {
        "signData": {
          "type": "string",
          "description": "Required. The data that the client was asked to sign.",
          "format": "byte"
        },
        "signatureAlgorithm": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ],
          "description": "Required. The signature algorithm that the adapter expects the client and backend components to use when processing `sign_data`.",
          "type": "string",
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "type": "object",
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "type": "string",
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "readOnly": true
        },
        "riskAssessment": {
          "$ref": "GoogleChromeManagementV1RiskAssessment",
          "readOnly": true,
          "description": "Output only. The details of the provider's risk assessment."
        },
        "riskLevel": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ]
        }
      }
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "type": "object",
      "properties": {
        "requestedApps": {
          "type": "array",
          "description": "Count of requested apps matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number of matching app requests.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations."
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "type": "object",
      "properties": {
        "chromeBrowserProfileCommands": {
          "description": "The list of commands returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token that can be used to list the next page."
        },
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "description": "Response to ListChromeBrowserProfileCommands method."
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "properties": {
        "touchpadLibrary": {
          "description": "Output only. Touchpad library name used by the input stack.",
          "readOnly": true,
          "type": "string"
        },
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          },
          "description": "Output only. List of the internal touch screen devices.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TouchScreenInfo",
      "description": "Information on the device touch screen.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "properties": {
        "httpsLatencyChangeEvent": {
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "readOnly": true
        },
        "appLaunchEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
          "readOnly": true,
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`."
        },
        "audioSevereUnderrunEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
          "readOnly": true,
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the event."
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ],
          "description": "The event type of the current event.",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ]
        },
        "appUninstallEvent": {
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
          "readOnly": true
        },
        "user": {
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "readOnly": true,
          "description": "Output only. Information about the user associated with the event."
        },
        "wifiSignalStrengthEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "readOnly": true,
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`."
        },
        "osCrashEvent": {
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`.",
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "readOnly": true
        },
        "device": {
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "readOnly": true,
          "description": "Output only. Information about the device associated with the event."
        },
        "usbPeripheralsEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`."
        },
        "networkStateChangeEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`."
        },
        "vpnConnectionStateChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "readOnly": true,
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`."
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "externalDisplaysEvent": {
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "readOnly": true
        },
        "appInstallEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent",
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "description": "Telemetry data reported by a managed device.",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "description": "Represent one host permission.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "type": "object",
      "properties": {
        "userPrimaryEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary e-mail address of the user."
        },
        "userDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the user.",
          "readOnly": true,
          "type": "string"
        },
        "chromeOsDevice": {
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to."
    },
    "GoogleChromeManagementVersionsV1DeviceInfo": {
      "properties": {
        "deviceType": {
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "CHROME_BROWSER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified device type.",
            "Represents a Chrome browser device."
          ],
          "description": "Output only. Type of the device on which the profile exists."
        },
        "hostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hostname of the device on which the profile exists."
        },
        "machine": {
          "description": "Output only. Machine name of the device on which the profile exists. On platforms which do not report the machine name (currently iOS and Android) this is instead set to the browser's device_id - but note that this is a different device_id than the |affiliated_device_id|.",
          "readOnly": true,
          "type": "string"
        },
        "affiliatedDeviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device ID that identifies the affiliated device on which the profile exists. If the device type is CHROME_BROWSER, then this represents a unique Directory API ID of the device that can be used in Admin SDK Browsers API."
        }
      },
      "id": "GoogleChromeManagementVersionsV1DeviceInfo",
      "description": "Information of a device that runs a Chrome browser profile.",
      "type": "object"
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device name, model name, or product name"
        },
        "vendor": {
          "description": "Output only. Vendor name",
          "type": "string",
          "readOnly": true
        },
        "categories": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes",
          "items": {
            "type": "string"
          }
        },
        "pid": {
          "description": "Output only. Product ID",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "classId": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "format": "int32"
        },
        "vid": {
          "description": "Output only. Vendor ID",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "subclassId": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "format": "int32"
        },
        "firmwareVersion": {
          "description": "Output only. Firmware version",
          "readOnly": true,
[...]
