{
  "version": "v2",
  "servicePath": "",
  "revision": "20260309",
  "version_module": true,
  "discoveryVersion": "v1",
  "name": "chromewebstore",
  "basePath": "",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "canonicalName": "Chromewebstore",
  "title": "Chrome Web Store API",
  "id": "chromewebstore:v2",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "schemas": {
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "type": "object",
      "id": "CancelSubmissionResponse",
      "properties": {}
    },
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "type": "object",
      "id": "DistributionChannel",
      "properties": {
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        },
        "deployPercentage": {
          "type": "integer",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32"
        }
      }
    },
    "CancelSubmissionRequest": {
      "id": "CancelSubmissionRequest",
      "properties": {},
      "description": "Request message for CancelSubmission.",
      "type": "object"
    },
    "ItemRevisionStatus": {
      "id": "ItemRevisionStatus",
      "properties": {
        "distributionChannels": {
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          },
          "type": "array"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "description": "Output only. Current state of the item",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string"
        }
      },
      "description": "Details on the status of an item revision.",
      "type": "object"
    },
    "PublishItemRequest": {
      "properties": {
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "type": "string",
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ]
        },
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        }
      },
      "id": "PublishItemRequest",
      "type": "object",
      "description": "Request message for PublishItem."
    },
    "DeployInfo": {
      "type": "object",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32"
        }
      },
      "id": "DeployInfo"
    },
    "PublishItemResponse": {
      "id": "PublishItemResponse",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the item that was submitted"
        }
      },
      "description": "Response message for `PublishItem`.",
      "type": "object"
    },
    "FetchItemStatusResponse": {
      "type": "object",
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "The public key of the item, which may be generated by the store."
        },
        "publishedItemRevisionStatus": {
          "readOnly": true,
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "itemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the item."
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "lastAsyncUploadState": {
          "type": "string",
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true
        },
        "takenDown": {
          "type": "boolean",
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details."
        }
      },
      "id": "FetchItemStatusResponse"
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "properties": {},
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "type": "object",
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SetPublishedDeployPercentageRequest"
    },
    "UploadItemPackageRequest": {
      "id": "UploadItemPackageRequest",
      "properties": {},
      "description": "Request message for UploadItemPackage.",
      "type": "object"
    },
    "UploadItemPackageResponse": {
      "type": "object",
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        },
        "uploadState": {
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        }
      },
      "id": "UploadItemPackageResponse"
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "path": "v2/{+name}:publish",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "httpMethod": "POST",
              "id": "chromewebstore.publishers.items.publish",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "PublishItemResponse"
              },
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`."
            },
            "cancelSubmission": {
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "httpMethod": "POST",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "path": "v2/{+name}:cancelSubmission",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ]
            },
            "setPublishedDeployPercentage": {
              "httpMethod": "POST",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "fetchStatus": {
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "httpMethod": "GET",
              "id": "chromewebstore.publishers.items.fetchStatus",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "description": "Fetch the status of an item.",
              "path": "v2/{+name}:fetchStatus",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "description": "Upload a new package to an existing item.",
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "id": "chromewebstore.media.upload",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "type": "string",
              "pattern": "^publishers/[^/]+/items/[^/]+$"
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "maxSize": "2147483648"
          },
          "httpMethod": "POST",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameterOrder": [
            "name"
          ],
          "supportsMediaUpload": true,
          "path": "v2/{+name}:upload",
          "request": {
            "$ref": "UploadItemPackageRequest"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com"
}