{
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "schemas": {
    "Item2": {
      "id": "Item2",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        }
      }
    },
    "ItemError": {
      "description": "Error of the item",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "The error code."
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      },
      "id": "ItemError",
      "type": "object"
    },
    "PublishRequest": {
      "properties": {
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        },
        "deployPercentage": {
          "type": "integer",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "format": "int32"
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        }
      },
      "id": "PublishRequest",
      "type": "object"
    },
    "Item": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        }
      },
      "id": "Item",
      "type": "object"
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "title": "Chrome Web Store API",
  "servicePath": "",
  "basePath": "",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "id": "chromewebstore:v1.1",
  "kind": "discovery#restDescription",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "ownerDomain": "google.com",
  "revision": "20260506",
  "canonicalName": "Chromewebstore",
  "version_module": true,
  "version": "v1.1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "batchPath": "batch",
  "name": "chromewebstore",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Inserts a new item.",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "response": {
            "$ref": "Item"
          },
          "supportsMediaUpload": true,
          "id": "chromewebstore.items.insert",
          "httpMethod": "POST",
          "path": "chromewebstore/v1.1/items",
          "flatPath": "chromewebstore/v1.1/items"
        },
        "update": {
          "parameterOrder": [
            "itemId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Updates an existing item.",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "parameters": {
            "itemId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the item to upload."
            }
          },
          "httpMethod": "PUT",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Item"
          },
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update"
        },
        "publish": {
          "request": {
            "$ref": "PublishRequest"
          },
          "response": {
            "$ref": "Item2"
          },
          "id": "chromewebstore.items.publish",
          "httpMethod": "POST",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "itemId": {
              "required": true,
              "type": "string",
              "description": "The ID of the item to publish.",
              "location": "path"
            },
            "deployPercentage": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update."
            },
            "reviewExemption": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
            },
            "publishTarget": {
              "type": "string",
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Publishes an item."
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get",
          "parameterOrder": [
            "itemId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "parameters": {
            "itemId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme."
            },
            "projection": {
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "type": "string",
              "description": "Determines which subset of the item information to return.",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true
}