{
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "title": "Chrome Web Store API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "items": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "location": "path",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "required": true,
              "type": "string"
            },
            "projection": {
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query",
              "description": "Determines which subset of the item information to return.",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "id": "chromewebstore.items.get",
          "path": "chromewebstore/v1.1/items/{itemId}"
        },
        "update": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "supportsMediaUpload": true,
          "parameters": {
            "itemId": {
              "location": "path",
              "description": "The ID of the item to upload.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "Item"
          },
          "response": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "maxSize": "2147483648"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "description": "Updates an existing item.",
          "id": "chromewebstore.items.update",
          "httpMethod": "PUT"
        },
        "insert": {
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "chromewebstore/v1.1/items",
          "supportsMediaUpload": true,
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Inserts a new item.",
          "id": "chromewebstore.items.insert",
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "chromewebstore/v1.1/items"
        },
        "publish": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "PublishRequest"
          },
          "response": {
            "$ref": "Item2"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "itemId": {
              "location": "path",
              "description": "The ID of the item to publish.",
              "required": true,
              "type": "string"
            },
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "type": "string",
              "location": "query"
            },
            "reviewExemption": {
              "location": "query",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "description": "Publishes an item.",
          "id": "chromewebstore.items.publish",
          "httpMethod": "POST",
          "path": "chromewebstore/v1.1/items/{itemId}/publish"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "ItemError": {
      "description": "Error of the item",
      "type": "object",
      "properties": {
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        },
        "error_code": {
          "description": "The error code.",
          "type": "string"
        }
      },
      "id": "ItemError"
    },
    "Item": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        }
      },
      "id": "Item"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer"
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        }
      }
    },
    "Item2": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        }
      },
      "id": "Item2"
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "canonicalName": "Chromewebstore",
  "version": "v1.1",
  "servicePath": "",
  "revision": "20260304",
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "id": "chromewebstore:v1.1",
  "name": "chromewebstore",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "ownerDomain": "google.com"
}