{
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "fetchStatus": {
              "description": "Fetch the status of an item.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "path": "v2/{+name}:fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "id": "chromewebstore.publishers.items.fetchStatus",
              "httpMethod": "GET"
            },
            "publish": {
              "httpMethod": "POST",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "id": "chromewebstore.publishers.items.publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "path": "v2/{+name}:publish",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "PublishItemResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`."
            },
            "cancelSubmission": {
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:cancelSubmission",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              }
            },
            "setPublishedDeployPercentage": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string"
                }
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.media.upload",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "type": "string",
              "pattern": "^publishers/[^/]+/items/[^/]+$"
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            }
          },
          "path": "v2/{+name}:upload",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "supportsMediaUpload": true,
          "description": "Upload a new package to an existing item."
        }
      }
    }
  },
  "basePath": "",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "canonicalName": "Chromewebstore",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "schemas": {
    "DeployInfo": {
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "type": "object",
      "id": "DeployInfo",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer"
        }
      }
    },
    "FetchItemStatusResponse": {
      "description": "Response message for `FetchItemStatus`.",
      "type": "object",
      "id": "FetchItemStatusResponse",
      "properties": {
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item.",
          "type": "string"
        },
        "publishedItemRevisionStatus": {
          "readOnly": true,
          "$ref": "ItemRevisionStatus",
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published."
        },
        "lastAsyncUploadState": {
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "type": "string",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        }
      }
    },
    "CancelSubmissionRequest": {
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "id": "CancelSubmissionRequest",
      "properties": {}
    },
    "CancelSubmissionResponse": {
      "id": "CancelSubmissionResponse",
      "properties": {},
      "description": "Response message for `CancelSubmission`.",
      "type": "object"
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "properties": {},
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "type": "object"
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "type": "object",
      "id": "PublishItemRequest",
      "properties": {
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "type": "string",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ]
        },
        "deployInfos": {
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          }
        }
      }
    },
    "SetPublishedDeployPercentageRequest": {
      "description": "Request message for SetPublishedDeployPercentage.",
      "type": "object",
      "id": "SetPublishedDeployPercentageRequest",
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PublishItemResponse": {
      "id": "PublishItemResponse",
      "properties": {
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "description": "Output only. The current state of the submission.",
          "type": "string",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ]
        }
      },
      "description": "Response message for `PublishItem`.",
      "type": "object"
    },
    "DistributionChannel": {
      "id": "DistributionChannel",
      "properties": {
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        },
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Deployment information for a specific release channel",
      "type": "object"
    },
    "UploadItemPackageResponse": {
      "description": "Response message for `UploadItemPackage`.",
      "type": "object",
      "id": "UploadItemPackageResponse",
      "properties": {
        "uploadState": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "type": "string",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        },
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "type": "string",
          "readOnly": true
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        }
      }
    },
    "ItemRevisionStatus": {
      "id": "ItemRevisionStatus",
      "properties": {
        "distributionChannels": {
          "items": {
            "$ref": "DistributionChannel"
          },
          "description": "Details on the package of the item",
          "type": "array"
        },
        "state": {
          "description": "Output only. Current state of the item",
          "type": "string",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ]
        }
      },
      "description": "Details on the status of an item revision.",
      "type": "object"
    },
    "UploadItemPackageRequest": {
      "description": "Request message for UploadItemPackage.",
      "type": "object",
      "id": "UploadItemPackageRequest",
      "properties": {}
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "revision": "20260421",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "title": "Chrome Web Store API",
  "id": "chromewebstore:v2",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "protocol": "rest",
  "name": "chromewebstore",
  "servicePath": "",
  "kind": "discovery#restDescription"
}