{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "resources": {
    "items": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            },
            "itemId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme."
            }
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}"
        },
        "insert": {
          "flatPath": "chromewebstore/v1.1/items",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Inserts a new item.",
          "id": "chromewebstore.items.insert",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Item"
          }
        },
        "publish": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "response": {
            "$ref": "Item2"
          },
          "id": "chromewebstore.items.publish",
          "httpMethod": "POST",
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "PublishRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Publishes an item.",
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query",
              "type": "string"
            },
            "itemId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the item to publish."
            },
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "update": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Updates an existing item.",
          "id": "chromewebstore.items.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "Item"
          },
          "response": {
            "$ref": "Item"
          },
          "supportsMediaUpload": true,
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "accept": [
              "*/*"
            ]
          }
        }
      }
    }
  },
  "name": "chromewebstore",
  "title": "Chrome Web Store API",
  "protocol": "rest",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "id": "chromewebstore:v1.1",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "version": "v1.1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "revision": "20260414",
  "schemas": {
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ItemError": {
      "id": "ItemError",
      "type": "object",
      "description": "Error of the item",
      "properties": {
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        },
        "error_code": {
          "type": "string",
          "description": "The error code."
        }
      }
    },
    "Item2": {
      "properties": {
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        }
      },
      "id": "Item2",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Chromewebstore",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "version_module": true,
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them."
}