{
  "ownerDomain": "google.com",
  "basePath": "",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "name": "chromemanagement",
  "servicePath": "",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "resources": {
    "customers": {
      "resources": {
        "certificateProvisioningProcesses": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          },
          "methods": {
            "signData": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id."
                }
              },
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "parameterOrder": [
                "name"
              ],
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "path": "v1/{+name}:signData",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "setFailure": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "path": "v1/{+name}:setFailure",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Marks a certificate provisioning process as failed.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              }
            },
            "claim": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim",
              "path": "v1/{+name}:claim",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`."
            },
            "uploadCertificate": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id."
                }
              },
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate",
              "path": "v1/{+name}:uploadCertificate",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "description": "Retrieves a certificate provisioning process.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "path": "v1/{+name}"
            }
          }
        },
        "reports": {
          "methods": {
            "countChromeDevicesReachingAutoExpirationDate": {
              "parameters": {
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "minAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units."
                },
                "maxAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countChromeDevicesThatNeedAttention": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "readMask": {
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              }
            },
            "countPrintJobsByPrinter": {
              "parameters": {
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned."
                }
              },
              "description": "Get a summary of printing done by each printer.",
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "httpMethod": "GET"
            },
            "countDevicesPerBootType": {
              "parameters": {
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Get a count of devices per boot type.",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "findInstalledAppDevices": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "appType": {
                  "location": "query",
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "type": "string",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "appId": {
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                }
              },
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "path": "v1/{+customer}/reports:findInstalledAppDevices"
            },
            "countChromeVersions": {
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "path": "v1/{+customer}/reports:countChromeVersions",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "parameters": {
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Generate report of installed Chrome versions.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET"
            },
            "countPrintJobsByUser": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the response to be returned."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count"
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                }
              },
              "description": "Get a summary of printing done by each user.",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "path": "v1/{+customer}/reports:countPrintJobsByUser"
            },
            "countChromeBrowsersNeedingAttention": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity."
            },
            "countChromeCrashEvents": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Customer ID.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit."
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Get a count of Chrome crash events.",
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "parameterOrder": [
                "customer"
              ]
            },
            "countInstalledApps": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score"
                }
              },
              "description": "Generate report of app installations.",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "path": "v1/{+customer}/reports:countInstalledApps",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps"
            },
            "countDevicesPerReleaseChannel": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel",
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel",
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel",
              "parameters": {
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Get a count of devices per channel."
            },
            "countActiveDevices": {
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "path": "v1/{+customer}/reports:countActiveDevices",
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Get a count of active devices per set time frames.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              },
              "httpMethod": "GET"
            },
            "countChromeHardwareFleetDevices": {
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\"."
                },
                "readMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET"
            },
            "enumeratePrintJobs": {
              "parameters": {
                "pageToken": {
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50."
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned."
                }
              },
              "description": "Get a list of print jobs.",
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "apps": {
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path"
                    }
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "id": "chromemanagement.customers.apps.android.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.web.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Get a specific app for a customer by its resource name."
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "description": "Get a specific app for a customer by its resource name."
                }
              }
            }
          },
          "methods": {
            "countChromeAppRequests": {
              "parameters": {
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Generate summary of app installation requests.",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              }
            },
            "fetchUsersRequestingExtension": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension",
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "extensionId": {
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day."
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned."
                }
              },
              "description": "Get a list of users that have requested to install an extension."
            },
            "fetchDevicesRequestingExtension": {
              "parameters": {
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50."
                },
                "extensionId": {
                  "description": "Required. The extension for which we want to find requesting devices.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day."
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned."
                }
              },
              "description": "Get a list of devices that have requested to install an extension.",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ]
            }
          }
        },
        "thirdPartyProfileUsers": {
          "methods": {
            "move": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
                  "pattern": "^customers/[^/]+/thirdPartyProfileUsers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Moves a third party chrome profile user to a destination OU. All profiles associated to that user will be moved to the destination OU.",
              "flatPath": "v1/customers/{customersId}/thirdPartyProfileUsers/{thirdPartyProfileUsersId}:move",
              "parameterOrder": [
                "name"
              ],
              "id": "chromemanagement.customers.thirdPartyProfileUsers.move",
              "path": "v1/{+name}:move"
            }
          }
        },
        "telemetry": {
          "resources": {
            "notificationConfigs": {
              "methods": {
                "delete": {
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "location": "path"
                    }
                  },
                  "description": "Delete a telemetry notification config.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE"
                },
                "create": {
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Create a telemetry notification config.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token."
                    },
                    "parent": {
                      "description": "Required. The parent which owns the notification configs.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "List all telemetry notification configs."
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "path": "v1/{+parent}/telemetry/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report "
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to specify next page in the list."
                    }
                  },
                  "description": "List all telemetry devices.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "location": "path"
                    }
                  },
                  "description": "Get telemetry device.",
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "path": "v1/{+parent}/telemetry/events",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path"
                    },
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    }
                  },
                  "description": "List telemetry events."
                }
              }
            },
            "users": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id "
                    },
                    "pageToken": {
                      "description": "Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "readMask": {
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    }
                  },
                  "description": "List all telemetry users.",
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "path": "v1/{+parent}/telemetry/users"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "readMask": {
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Get telemetry user."
                }
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "delete": {
              "id": "chromemanagement.customers.profiles.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "location": "path"
                }
              },
              "description": "Deletes the data collected from a Chrome browser profile.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE"
            },
            "get": {
              "id": "chromemanagement.customers.profiles.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "location": "path",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets a Chrome browser profile with customer ID and profile permanent ID.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/profiles",
              "id": "chromemanagement.customers.profiles.list",
              "path": "v1/{+parent}/profiles",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: customers/{customer_id}"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of profiles to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. The filter used to filter profiles. The following fields can be used in the filter: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version - ouId Any of the above fields can be used to specify a filter, and filtering by multiple fields is supported with AND operator. String type fields and enum type fields support '=' and '!=' operators. The integer type and the timestamp type fields support '=', '!=', '<', '>', '<=' and '>=' operators. Timestamps expect an RFC-3339 formatted string (e.g. 2012-04-21T11:30:00-04:00). Wildcard '*' can be used with a string type field filter. In addition, string literal filtering is also supported, for example, 'ABC' as a filter maps to a filter that checks if any of the filterable string type fields contains 'ABC'. Organization unit number can be used as a filtering criteria here by specifying 'ouId = ${your_org_unit_id}', please note that only single OU ID matching is supported.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The fields used to specify the ordering of the results. The supported fields are: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version By default, sorting is in ascending order, to specify descending order for a field, a suffix \" desc\" should be added to the field name. The default ordering is the descending order of last_status_report_time."
                }
              },
              "description": "Lists Chrome browser profiles of a customer based on the given search and sorting criteria."
            }
          },
          "resources": {
            "commands": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "location": "path",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Creates a Chrome browser profile remote command.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "id": "chromemanagement.customers.profiles.commands.create",
                  "path": "v1/{+parent}/commands"
                },
                "get": {
                  "id": "chromemanagement.customers.profiles.commands.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands/{commandsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
                      "pattern": "^customers/[^/]+/profiles/[^/]+/commands/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets a Chrome browser profile remote command.",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The page token used to retrieve a specific page of the listing request."
                    },
                    "parent": {
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "location": "path",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of commands to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 100."
                    }
                  },
                  "description": "Lists remote commands of a Chrome browser profile.",
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "chromemanagement.customers.profiles.commands.list",
                  "path": "v1/{+parent}/commands",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource to be deleted."
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "id": "chromemanagement.operations.delete",
          "path": "v1/{+name}"
        },
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The standard list page size."
            },
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
            },
            "name": {
              "pattern": "^operations$",
              "required": true,
              "type": "string",
              "description": "The name of the operation's parent resource.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "httpMethod": "GET",
          "id": "chromemanagement.operations.list",
          "path": "v1/{+name}",
          "flatPath": "v1/operations",
          "parameterOrder": [
            "name"
          ]
        },
        "cancel": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "id": "chromemanagement.operations.cancel",
          "path": "v1/{+name}:cancel",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource to be cancelled.",
              "location": "path"
            }
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      }
    }
  },
  "id": "chromemanagement:v1",
  "title": "Chrome Management API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "schemas": {
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date.",
      "properties": {
        "crashEventCounts": {
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          },
          "type": "array",
          "description": "Crash event counts grouped by date and browser version."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "type": "object",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "description": "Describes a generic Certificate Authority Connection."
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "properties": {
        "adapter": {
          "type": "string",
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true
        },
        "driverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GPU driver.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents the graphics card device id.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataPolicyData": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Value of the policy."
        },
        "name": {
          "description": "Output only. Name of the policy.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Output only. Error message of the policy, if any.",
          "readOnly": true
        },
        "source": {
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "readOnly": true,
          "description": "Output only. Source of the policy."
        },
        "conflicts": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData"
          },
          "type": "array",
          "description": "Output only. Conflicting policy information.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataPolicyData",
      "description": "Information of a policy applied on a Chrome browser profile."
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "shutdownReason": {
          "description": "The shutdown reason.",
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "type": "string"
        },
        "bootUpTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when power came on."
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the report was collected."
        },
        "bootUpDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time to boot up."
        },
        "shutdownTime": {
          "description": "The timestamp when shutdown.",
          "type": "string",
          "format": "google-datetime"
        },
        "shutdownDuration": {
          "description": "Total time since shutdown start to power off.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the diagnostics were collected."
        },
        "httpsLatencyData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The risk assessment provider from which this entry comes from."
        },
        "riskAssessment": {
          "$ref": "GoogleChromeManagementV1RiskAssessment",
          "readOnly": true,
          "description": "Output only. The details of the provider's risk assessment."
        },
        "riskLevel": {
          "readOnly": true,
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse",
      "description": "Response message for publishing an issued certificate for a certificate provisioning process.",
      "properties": {}
    },
    "GoogleChromeManagementV1EnumeratePrintJobsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of print jobs matching request."
        },
        "printJobs": {
          "description": "List of requested print jobs.",
          "items": {
[...]
