{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "version_module": true,
  "canonicalName": "Civic Info",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "name": "civicinfo",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/civic-information/",
  "version": "v2",
  "schemas": {
    "CivicinfoSchemaV2AdministrativeBody": {
      "type": "object",
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "properties": {
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "physicalAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The physical address of this administrative body."
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "name": {
          "type": "string",
          "description": "The name of this election administrative body."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "voter_services": {
          "description": "A description of the services this administrative body may provide.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "electionOfficials": {
          "description": "The election officials for this election administrative body.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          }
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "properties": {
        "line1": {
          "type": "string",
          "description": "The street name and number of this address."
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "line3": {
          "type": "string",
          "description": "The third line of the address, if needed."
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A simple representation of an address."
    },
    "CivicinfoSchemaV2Contest": {
      "properties": {
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "numberVotingFor": {
          "type": "string",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64"
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          },
          "description": "The roles which this office fulfills."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "ballotPlacement": {
          "format": "int64",
          "type": "string",
          "description": "A number specifying the position of this contest on the voter's ballot."
        },
        "primaryParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If this is a partisan election, the name of the party/parties it is for."
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "candidates": {
          "description": "The candidate choices for this contest.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          }
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "referendumEffectOfAbstain": {
          "type": "string",
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'."
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "special": {
          "type": "string",
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle."
        },
        "district": {
          "$ref": "CivicinfoSchemaV2ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "numberElected": {
          "format": "int64",
          "type": "string",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "level": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\"."
        }
      },
      "id": "CivicinfoSchemaV2Contest",
      "description": "Information about a contest that appears on a voter's ballot.",
      "type": "object"
    },
    "CivicinfoSchemaV2Precinct": {
      "properties": {
        "electoralDistrictId": {
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "earlyVoteSiteId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct."
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "number": {
          "type": "string",
          "description": "The number of the precinct."
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64"
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies if the precinct runs mail-only elections."
        },
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "ocdId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Encouraged. The OCD ID of the precinct"
        },
        "splitName": {
          "type": "string",
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
        },
        "spatialBoundaryId": {
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object"
    },
    "CivicinfoSchemaV2Source": {
      "type": "object",
      "description": "Contains information about the data source for the element containing it.",
      "id": "CivicinfoSchemaV2Source",
      "properties": {
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        },
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        }
      }
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "type": "object",
      "description": "The result of a voter info lookup query.",
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "properties": {
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "precinctId": {
          "type": "string"
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "pollingLocations": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote on election day."
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        },
        "otherElections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
        },
        "precincts": {
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "default": "civicinfo#voterInfoResponse",
          "type": "string"
        },
        "dropOffLocations": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field."
        }
      }
    },
    "CivicinfoSchemaV2Election": {
      "type": "object",
      "description": "Information about the election that was queried.",
      "id": "CivicinfoSchemaV2Election",
      "properties": {
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "shapeLookupBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ]
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this election.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "properties": {
        "aliases": {
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query.",
      "type": "object"
    },
    "CivicinfoSchemaV2PollingLocation": {
      "properties": {
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources."
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations."
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2PollingLocation",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "type": "object"
    },
    "CivicinfoSchemaV2Channel": {
      "description": "A social media or web channel for a candidate.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Channel"
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "type": "object",
      "description": "The list of elections available for this version of the API.",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "properties": {
        "elections": {
          "description": "A list of available elections",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse"
        }
      }
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "description": "Describes information about a regional election administrative area.",
      "type": "object",
      "properties": {
        "electionAdministrationBody": {
          "$ref": "CivicinfoSchemaV2AdministrativeBody",
          "description": "The election administration body for this area."
        },
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "local_jurisdiction": {
          "$ref": "CivicinfoSchemaV2AdministrationRegion",
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources."
        }
      },
      "id": "CivicinfoSchemaV2AdministrationRegion"
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "object",
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "default": "civicinfo#divisionSearchResponse"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        }
      },
      "type": "object",
      "description": "The result of a division search query."
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "id": "CivicinfoSchemaV2GeographicDivision",
      "properties": {
        "officeIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request."
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "alsoKnownAs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
        }
      },
      "type": "object",
      "description": "Describes a political geography."
    },
    "CivicinfoSchemaV2Candidate": {
      "properties": {
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "candidateUrl": {
          "type": "string",
          "description": "The URL for the candidate's campaign web site."
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "description": "A list of known (social) media channels for this candidate."
        },
        "name": {
          "type": "string",
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "orderOnBallot": {
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CivicinfoSchemaV2Candidate",
      "description": "Information about a candidate running for elected office.",
      "type": "object"
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "description": "Describes the geographic scope of a contest.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "type": "string",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "CivicinfoSchemaV2ElectoralDistrict"
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "type": "object",
      "description": "Information about individual election officials.",
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "properties": {
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        }
      }
    }
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "title": "Google Civic Information API",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "servicePath": "",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "revision": "20260423",
  "basePath": "",
  "id": "civicinfo:v2",
  "ownerName": "Google",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "path": "civicinfo/v2/voterinfo",
          "httpMethod": "GET",
          "id": "civicinfo.elections.voterInfoQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "flatPath": "civicinfo/v2/voterinfo",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "parameters": {
            "officialOnly": {
              "location": "query",
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false",
              "type": "boolean"
            },
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true",
              "location": "query"
            },
            "returnAllAvailableData": {
              "type": "boolean",
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "default": "false",
              "location": "query"
            },
            "address": {
              "location": "query",
              "type": "string",
              "description": "The registered address of the voter to look up."
            },
            "electionId": {
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "location": "query",
              "type": "string",
              "default": "0",
              "format": "int64"
            }
          },
          "parameterOrder": []
        },
        "electionQuery": {
          "path": "civicinfo/v2/elections",
          "httpMethod": "GET",
          "id": "civicinfo.elections.electionQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "flatPath": "civicinfo/v2/elections",
          "description": "List of available elections to query.",
          "parameters": {
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "default": "true",
              "location": "query"
            }
          },
          "parameterOrder": []
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "flatPath": "civicinfo/v2/divisions",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "parameters": {
            "query": {
              "location": "query",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "path": "civicinfo/v2/divisions",
          "httpMethod": "GET",
          "id": "civicinfo.divisions.search",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          }
        },
        "queryDivisionByAddress": {
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "path": "civicinfo/v2/divisionsByAddress",
          "httpMethod": "GET",
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com"
}