{
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/civic-information/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "id": "civicinfo:v2",
  "revision": "20260212",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "title": "Google Civic Information API",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "schemas": {
    "CivicinfoSchemaV2Source": {
      "type": "object",
      "id": "CivicinfoSchemaV2Source",
      "properties": {
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        }
      },
      "description": "Contains information about the data source for the element containing it."
    },
    "CivicinfoSchemaV2Channel": {
      "description": "A social media or web channel for a candidate.",
      "id": "CivicinfoSchemaV2Channel",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
        },
        "id": {
          "type": "string",
          "description": "The unique public identifier for the candidate's channel."
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "properties": {
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        },
        "officePhoneNumber": {
          "type": "string",
          "description": "The office phone number of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        },
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about individual election officials."
    },
    "CivicinfoSchemaV2Election": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of this election.",
          "format": "int64"
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        },
        "shapeLookupBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string"
        }
      },
      "description": "Information about the election that was queried.",
      "id": "CivicinfoSchemaV2Election"
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "sources": {
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "electionAdministrationBody": {
          "$ref": "CivicinfoSchemaV2AdministrativeBody",
          "description": "The election administration body for this area."
        },
        "local_jurisdiction": {
          "$ref": "CivicinfoSchemaV2AdministrationRegion",
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "description": "Describes information about a regional election administrative area."
    },
    "CivicinfoSchemaV2PollingLocation": {
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "properties": {
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "sources": {
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "address": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The address of the location."
        },
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2PollingLocation"
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "type": "string",
          "default": "civicinfo#voterInfoResponse"
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array"
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        },
        "precinctId": {
          "type": "string"
        },
        "precincts": {
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "type": "array"
        },
        "otherElections": {
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address"
        }
      },
      "type": "object",
      "description": "The result of a voter info lookup query."
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "id": "CivicinfoSchemaV2GeographicDivision",
      "description": "Describes a political geography.",
      "type": "object",
      "properties": {
        "alsoKnownAs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
        },
        "officeIndices": {
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Contest": {
      "id": "CivicinfoSchemaV2Contest",
      "type": "object",
      "properties": {
        "numberElected": {
          "format": "int64",
          "type": "string",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "referendumBallotResponses": {
          "items": {
            "type": "string"
          },
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array"
        },
        "referendumEffectOfAbstain": {
          "type": "string",
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "level": {
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "The roles which this office fulfills."
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "special": {
          "type": "string",
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle."
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "type": {
          "type": "string",
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'."
        },
        "district": {
          "$ref": "CivicinfoSchemaV2ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        },
        "referendumProStatement": {
          "type": "string",
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "primaryParties": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If this is a partisan election, the name of the party/parties it is for."
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "ballotPlacement": {
          "format": "int64",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string"
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "candidates": {
          "description": "The candidate choices for this contest.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          }
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "numberVotingFor": {
          "format": "int64",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        }
      },
      "description": "Information about a contest that appears on a voter's ballot."
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "type": "object",
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "properties": {
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "electionOfficials": {
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "type": "array",
          "description": "The election officials for this election administrative body."
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "electionNoticeText": {
          "type": "string",
          "description": "A last minute or emergency notification text provided by this administrative body."
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "voter_services": {
          "type": "array",
          "description": "A description of the services this administrative body may provide.",
          "items": {
            "type": "string"
          }
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the district."
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
        }
      },
      "type": "object",
      "description": "Describes the geographic scope of a contest.",
      "id": "CivicinfoSchemaV2ElectoralDistrict"
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "properties": {
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse"
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query.",
      "type": "object",
      "properties": {
        "aliases": {
          "items": {
            "type": "string"
          },
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array"
        },
        "ocdId": {
          "type": "string",
          "description": "The unique Open Civic Data identifier for this division"
        },
        "name": {
          "type": "string",
          "description": "The name of the division."
        }
      }
    },
    "CivicinfoSchemaV2Candidate": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "description": "A list of known (social) media channels for this candidate.",
          "type": "array"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "orderOnBallot": {
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string",
          "format": "int64"
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        }
      },
      "description": "Information about a candidate running for elected office.",
      "type": "object",
      "id": "CivicinfoSchemaV2Candidate"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "description": "The result of a division search query.",
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "type": "string",
          "default": "civicinfo#divisionSearchResponse"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        }
      }
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "properties": {
        "elections": {
          "description": "A list of available elections",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "type": "string",
          "default": "civicinfo#electionsQueryResponse"
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "description": "The list of elections available for this version of the API."
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "description": "A simple representation of an address.",
      "properties": {
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "line2": {
          "type": "string",
          "description": "The second line the address, if needed."
        },
        "city": {
          "type": "string",
          "description": "The city or town for the address."
        },
        "zip": {
          "type": "string",
          "description": "The US Postal Zip Code of the address."
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "line1": {
          "type": "string",
          "description": "The street name and number of this address."
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object",
      "properties": {
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "spatialBoundaryId": {
          "type": "array",
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "items": {
            "type": "string"
          }
        },
        "pollingLocationId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array"
        },
        "contestId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "ID(s) of the Contest message(s) for this precinct."
        },
        "electoralDistrictId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array"
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "earlyVoteSiteId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array"
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for this precinct."
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "datasetId": {
          "type": "string",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64"
        }
      }
    }
  },
  "basePath": "",
  "canonicalName": "Civic Info",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "servicePath": "",
  "version": "v2",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "name": "civicinfo",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "elections": {
      "methods": {
        "electionQuery": {
          "description": "List of available elections to query.",
          "flatPath": "civicinfo/v2/elections",
          "parameters": {
            "productionDataOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "default": "true"
            }
          },
          "id": "civicinfo.elections.electionQuery",
          "path": "civicinfo/v2/elections",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "voterInfoQuery": {
          "id": "civicinfo.elections.voterInfoQuery",
          "parameterOrder": [],
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo",
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/voterinfo",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "parameters": {
            "electionId": {
              "location": "query",
              "format": "int64",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "type": "string",
              "default": "0"
            },
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "productionDataOnly": {
              "default": "true",
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "location": "query"
            },
            "address": {
              "location": "query",
              "type": "string",
              "description": "The registered address of the voter to look up."
            },
            "returnAllAvailableData": {
              "type": "boolean",
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "default": "false",
              "location": "query"
            }
          }
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "flatPath": "civicinfo/v2/divisions",
          "path": "civicinfo/v2/divisions",
          "id": "civicinfo.divisions.search",
          "httpMethod": "GET",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "parameters": {
            "query": {
              "location": "query",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "type": "string"
            }
          },
          "parameterOrder": []
        },
        "queryDivisionByAddress": {
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "path": "civicinfo/v2/divisionsByAddress",
          "parameters": {
            "address": {
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          }
        }
      }
    }
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "version_module": true
}