{
  "version_module": true,
  "revision": "20260423",
  "batchPath": "batch",
  "version": "v2",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "documentationLink": "https://developers.google.com/civic-information/",
  "protocol": "rest",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "name": "civicinfo",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "servicePath": "",
  "title": "Google Civic Information API",
  "id": "civicinfo:v2",
  "canonicalName": "Civic Info",
  "discoveryVersion": "v1",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "httpMethod": "GET",
          "parameters": {
            "address": {
              "type": "string",
              "description": "The registered address of the voter to look up.",
              "location": "query"
            },
            "productionDataOnly": {
              "default": "true",
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "location": "query"
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "officialOnly": {
              "type": "boolean",
              "default": "false",
              "description": "If set to true, only data from official state sources will be returned.",
              "location": "query"
            },
            "electionId": {
              "type": "string",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "default": "0",
              "location": "query",
              "format": "int64"
            }
          },
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo",
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "flatPath": "civicinfo/v2/voterinfo",
          "id": "civicinfo.elections.voterInfoQuery"
        },
        "electionQuery": {
          "flatPath": "civicinfo/v2/elections",
          "id": "civicinfo.elections.electionQuery",
          "path": "civicinfo/v2/elections",
          "httpMethod": "GET",
          "parameters": {
            "productionDataOnly": {
              "description": "Whether to include data that has not been allowlisted yet",
              "location": "query",
              "type": "boolean",
              "default": "true"
            }
          },
          "description": "List of available elections to query.",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "parameterOrder": [],
          "path": "civicinfo/v2/divisions",
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "id": "civicinfo.divisions.search",
          "flatPath": "civicinfo/v2/divisions"
        },
        "queryDivisionByAddress": {
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "path": "civicinfo/v2/divisionsByAddress"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "type": "object",
      "properties": {
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        }
      }
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "description": "Information about individual election officials.",
      "properties": {
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        },
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "title": {
          "description": "The title of the election official.",
          "type": "string"
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "type": "object"
    },
    "CivicinfoSchemaV2Contest": {
      "id": "CivicinfoSchemaV2Contest",
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot.",
      "properties": {
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "candidates": {
          "description": "The candidate choices for this contest.",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "type": "array"
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "format": "int64",
          "type": "string"
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "level": {
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "primaryParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If this is a partisan election, the name of the party/parties it is for."
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "roles": {
          "description": "The roles which this office fulfills.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          },
          "type": "array"
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "numberElected": {
          "description": "The number of candidates that will be elected to office in this contest.",
          "format": "int64",
          "type": "string"
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64",
          "type": "string"
        },
        "referendumBallotResponses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'."
        }
      }
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "type": "object",
      "description": "Describes information about a regional election administrative area.",
      "properties": {
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array",
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources."
        },
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        }
      }
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "properties": {
        "elections": {
          "description": "A list of available elections",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse",
          "type": "string"
        }
      },
      "description": "The list of elections available for this version of the API.",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "type": "object",
      "properties": {
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "voter_services": {
          "description": "A description of the services this administrative body may provide.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "ballotInfoUrl": {
          "description": "A URL provided by this administrative body to give contest information to the voter.",
          "type": "string"
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionOfficials": {
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "type": "array",
          "description": "The election officials for this election administrative body."
        }
      },
      "description": "Information about an election administrative body (e.g. County Board of Elections)."
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "properties": {
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of the district.",
          "type": "string"
        }
      },
      "description": "Describes the geographic scope of a contest.",
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "description": "Represents a political geographic division that matches the requested query.",
      "properties": {
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "type": "object"
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "type": "object",
      "description": "The result of a voter info lookup query.",
      "properties": {
        "precinctId": {
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "type": "string",
          "default": "civicinfo#voterInfoResponse"
        },
        "earlyVoteSites": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array",
          "description": "Locations where the voter is eligible to vote early, prior to election day."
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "otherElections": {
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "contests": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          },
          "description": "Contests that will appear on the voter's ballot."
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        },
        "precincts": {
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "type": "array",
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\"."
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        }
      }
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "electoralDistrictId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct."
        },
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "datasetId": {
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "spatialBoundaryId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct."
        },
        "ocdId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Encouraged. The OCD ID of the precinct"
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "pollingLocationId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct."
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Election": {
      "id": "CivicinfoSchemaV2Election",
      "type": "object",
      "description": "Information about the election that was queried.",
      "properties": {
        "shapeLookupBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this election.",
          "format": "int64",
          "type": "string"
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Candidate": {
      "id": "CivicinfoSchemaV2Candidate",
      "type": "object",
      "properties": {
        "party": {
          "description": "The full name of the party the candidate is a member of.",
          "type": "string"
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "orderOnBallot": {
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "description": "A list of known (social) media channels for this candidate."
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        }
      },
      "description": "Information about a candidate running for elected office."
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "description": "Describes a political geography.",
      "properties": {
        "officeIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request."
        },
        "alsoKnownAs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2GeographicDivision",
      "type": "object"
    },
    "CivicinfoSchemaV2PollingLocation": {
      "id": "CivicinfoSchemaV2PollingLocation",
      "type": "object",
      "properties": {
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "format": "double"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        }
      },
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot."
    },
    "CivicinfoSchemaV2Channel": {
      "id": "CivicinfoSchemaV2Channel",
      "type": "object",
      "description": "A social media or web channel for a candidate.",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "description": "A simple representation of an address.",
      "properties": {
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "addressLine": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "description": "The result of a division search query.",
      "properties": {
        "results": {
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "type": "string",
          "default": "civicinfo#divisionSearchResponse"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2Source": {
      "id": "CivicinfoSchemaV2Source",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        },
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        }
      },
      "description": "Contains information about the data source for the element containing it."
    }
  }
}