{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20260212",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "schemas": {
    "CivicinfoSchemaV2GeographicDivision": {
      "description": "Describes a political geography.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "alsoKnownAs": {
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "officeIndices": {
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "type": "array",
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request."
        }
      },
      "id": "CivicinfoSchemaV2GeographicDivision",
      "type": "object"
    },
    "CivicinfoSchemaV2PollingLocation": {
      "properties": {
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "longitude": {
          "format": "double",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations."
        },
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "sources": {
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "address": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The address of the location."
        }
      },
      "id": "CivicinfoSchemaV2PollingLocation",
      "type": "object",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot."
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "description": "Describes the geographic scope of a contest."
    },
    "CivicinfoSchemaV2Channel": {
      "type": "object",
      "description": "A social media or web channel for a candidate.",
      "properties": {
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
        }
      },
      "id": "CivicinfoSchemaV2Channel"
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "electoralDistrictId": {
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ocdId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Encouraged. The OCD ID of the precinct"
        },
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spatialBoundaryId": {
          "type": "array",
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "items": {
            "type": "string"
          }
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies if the precinct runs mail-only elections."
        },
        "datasetId": {
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64",
          "type": "string"
        },
        "ward": {
          "type": "string",
          "description": "Specifies the ward the precinct is contained within."
        },
        "administrationRegionId": {
          "type": "string",
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
        },
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "splitName": {
          "type": "string",
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
        }
      }
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "properties": {
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "pollingLocations": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array"
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "state": {
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          },
          "type": "array",
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array."
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array"
        },
        "precincts": {
          "type": "array",
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "election": {
          "$ref": "CivicinfoSchemaV2Election",
          "description": "The election that was queried."
        },
        "otherElections": {
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "type": "string",
          "default": "civicinfo#voterInfoResponse"
        },
        "precinctId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "description": "The result of a voter info lookup query."
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "object",
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        },
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse"
    },
    "CivicinfoSchemaV2Candidate": {
      "id": "CivicinfoSchemaV2Candidate",
      "properties": {
        "orderOnBallot": {
          "format": "int64",
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "A URL for a photo of the candidate."
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The voice phone number for the candidate's campaign office."
        },
        "channels": {
          "type": "array",
          "description": "A list of known (social) media channels for this candidate.",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          }
        },
        "candidateUrl": {
          "type": "string",
          "description": "The URL for the candidate's campaign web site."
        },
        "party": {
          "description": "The full name of the party the candidate is a member of.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a candidate running for elected office."
    },
    "CivicinfoSchemaV2Source": {
      "type": "object",
      "description": "Contains information about the data source for the element containing it.",
      "id": "CivicinfoSchemaV2Source",
      "properties": {
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        },
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "properties": {
        "ocdId": {
          "type": "string",
          "description": "The unique Open Civic Data identifier for this division"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query."
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "type": "object",
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "description": "A simple representation of an address.",
      "properties": {
        "line1": {
          "type": "string",
          "description": "The street name and number of this address."
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "line3": {
          "type": "string",
          "description": "The third line of the address, if needed."
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "addressLine": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "type": "object",
      "properties": {
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "electionOfficials": {
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "type": "array",
          "description": "The election officials for this election administrative body."
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "physicalAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The physical address of this administrative body."
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "voter_services": {
          "description": "A description of the services this administrative body may provide.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionRulesUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body describing election rules to the voter."
        },
        "electionRegistrationConfirmationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote."
        },
        "correspondenceAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The mailing address of this administrative body."
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "properties": {
        "elections": {
          "description": "A list of available elections",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          }
        },
        "kind": {
          "default": "civicinfo#electionsQueryResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\"."
        }
      },
      "description": "The list of elections available for this version of the API.",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "properties": {
        "kind": {
          "default": "civicinfo#divisionSearchResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\"."
        },
        "results": {
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          },
          "type": "array"
        }
      },
      "description": "The result of a division search query."
    },
    "CivicinfoSchemaV2Contest": {
      "id": "CivicinfoSchemaV2Contest",
      "properties": {
        "referendumUrl": {
          "type": "string",
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "numberElected": {
          "type": "string",
          "format": "int64",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "level": {
          "type": "array",
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "roles": {
          "type": "array",
          "description": "The roles which this office fulfills.",
          "items": {
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "primaryParties": {
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ballotPlacement": {
          "type": "string",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "format": "int64"
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "candidates": {
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "type": "array",
          "description": "The candidate choices for this contest."
        },
        "type": {
          "type": "string",
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'."
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "referendumBallotResponses": {
          "items": {
            "type": "string"
          },
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array"
        },
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumProStatement": {
          "type": "string",
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "district": {
          "$ref": "CivicinfoSchemaV2ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "numberVotingFor": {
          "format": "int64",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "type": "string"
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        }
      },
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot."
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "type": "object",
      "description": "Describes information about a regional election administrative area.",
      "properties": {
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "electionAdministrationBody": {
          "$ref": "CivicinfoSchemaV2AdministrativeBody",
          "description": "The election administration body for this area."
        }
      }
    },
    "CivicinfoSchemaV2Election": {
      "properties": {
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The unique ID of this election."
        },
        "shapeLookupBehavior": {
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Election",
      "description": "Information about the election that was queried."
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "description": "Information about individual election officials.",
      "properties": {
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the election official."
        },
        "officePhoneNumber": {
          "type": "string",
          "description": "The office phone number of the election official."
        },
        "title": {
          "description": "The title of the election official.",
          "type": "string"
        },
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "documentationLink": "https://developers.google.com/civic-information/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "version": "v2",
  "name": "civicinfo",
  "basePath": "",
  "batchPath": "batch",
  "id": "civicinfo:v2",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "flatPath": "civicinfo/v2/voterinfo",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "productionDataOnly": {
              "default": "true",
              "location": "query",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "type": "boolean"
            },
            "returnAllAvailableData": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries."
            },
            "address": {
              "location": "query",
              "description": "The registered address of the voter to look up.",
              "type": "string"
            },
            "electionId": {
              "default": "0",
              "type": "string",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "format": "int64",
              "location": "query"
            }
          },
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "id": "civicinfo.elections.voterInfoQuery"
        },
        "electionQuery": {
          "parameters": {
            "productionDataOnly": {
              "default": "true",
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "civicinfo/v2/elections",
          "description": "List of available elections to query.",
          "id": "civicinfo.elections.electionQuery",
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "path": "civicinfo/v2/elections"
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"
            }
          },
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "flatPath": "civicinfo/v2/divisions",
          "httpMethod": "GET",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "parameterOrder": [],
          "path": "civicinfo/v2/divisions",
          "id": "civicinfo.divisions.search"
        },
        "queryDivisionByAddress": {
          "path": "civicinfo/v2/divisionsByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "parameterOrder": [],
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "description": "Lookup OCDIDs and names for divisions related to an address."
        }
      }
    }
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "protocol": "rest",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "canonicalName": "Civic Info",
  "title": "Google Civic Information API"
}