{
  "ownerName": "Google",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "version": "v2",
  "ownerDomain": "google.com",
  "servicePath": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "batchPath": "batch",
  "revision": "20260423",
  "version_module": true,
  "schemas": {
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "properties": {
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "electoralDistrictId": {
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ward": {
          "type": "string",
          "description": "Specifies the ward the precinct is contained within."
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "administrationRegionId": {
          "type": "string",
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
        },
        "spatialBoundaryId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct."
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2Election": {
      "type": "object",
      "description": "Information about the election that was queried.",
      "id": "CivicinfoSchemaV2Election",
      "properties": {
        "ocdDivisionId": {
          "type": "string",
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "shapeLookupBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string"
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The unique ID of this election.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "description": "Information about individual election officials.",
      "type": "object",
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the election official."
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the election official."
        },
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        }
      }
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2PollingLocation": {
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "type": "object",
      "id": "CivicinfoSchemaV2PollingLocation",
      "properties": {
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "longitude": {
          "format": "double",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number"
        },
        "endDate": {
          "type": "string",
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations."
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
        },
        "scope": {
          "type": "string",
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        }
      },
      "type": "object",
      "description": "Describes the geographic scope of a contest."
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "type": "object",
      "description": "The list of elections available for this version of the API.",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "properties": {
        "elections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "A list of available elections"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "type": "string",
          "default": "civicinfo#electionsQueryResponse"
        }
      }
    },
    "CivicinfoSchemaV2Candidate": {
      "id": "CivicinfoSchemaV2Candidate",
      "properties": {
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
        },
        "photoUrl": {
          "type": "string",
          "description": "A URL for a photo of the candidate."
        },
        "orderOnBallot": {
          "type": "string",
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "party": {
          "description": "The full name of the party the candidate is a member of.",
          "type": "string"
        },
        "channels": {
          "description": "A list of known (social) media channels for this candidate.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          }
        }
      },
      "type": "object",
      "description": "Information about a candidate running for elected office."
    },
    "CivicinfoSchemaV2Contest": {
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot.",
      "id": "CivicinfoSchemaV2Contest",
      "properties": {
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "district": {
          "$ref": "CivicinfoSchemaV2ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "numberElected": {
          "type": "string",
          "description": "The number of candidates that will be elected to office in this contest.",
          "format": "int64"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "referendumUrl": {
          "type": "string",
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "description": "The candidate choices for this contest."
        },
        "referendumPassageThreshold": {
          "type": "string",
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'."
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumProStatement": {
          "type": "string",
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "numberVotingFor": {
          "format": "int64",
          "type": "string",
          "description": "The number of candidates that a voter may vote for in this contest."
        },
        "ballotTitle": {
          "type": "string",
          "description": "The official title on the ballot for this contest, only where available."
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ],
            "type": "string"
          },
          "description": "The roles which this office fulfills."
        },
        "primaryParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If this is a partisan election, the name of the party/parties it is for."
        },
        "ballotPlacement": {
          "format": "int64",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "level": {
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ]
          }
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "properties": {
        "sources": {
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "local_jurisdiction": {
          "$ref": "CivicinfoSchemaV2AdministrationRegion",
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
        },
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        }
      },
      "description": "Describes information about a regional election administrative area.",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "description": "The result of a division search query.",
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "type": "string",
          "default": "civicinfo#divisionSearchResponse"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "properties": {
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district."
        }
      },
      "type": "object",
      "description": "Represents a political geographic division that matches the requested query."
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "description": "A simple representation of an address.",
      "type": "object",
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "properties": {
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "zip": {
          "type": "string",
          "description": "The US Postal Zip Code of the address."
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "properties": {
        "otherElections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "contests": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          },
          "description": "Contests that will appear on the voter's ballot."
        },
        "kind": {
          "default": "civicinfo#voterInfoResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\"."
        },
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address"
        },
        "state": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          },
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array."
        },
        "precinctId": {
          "type": "string"
        },
        "precincts": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\"."
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "earlyVoteSites": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day."
        }
      },
      "description": "The result of a voter info lookup query.",
      "type": "object"
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "properties": {
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "name": {
          "type": "string",
          "description": "The name of this election administrative body."
        },
        "hoursOfOperation": {
          "type": "string",
          "description": "A description of the hours of operation for this administrative body."
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "voter_services": {
          "description": "A description of the services this administrative body may provide.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "electionOfficials": {
          "description": "The election officials for this election administrative body.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          }
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        }
      },
      "type": "object",
      "description": "Information about an election administrative body (e.g. County Board of Elections)."
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "type": "object",
      "description": "Describes a political geography.",
      "id": "CivicinfoSchemaV2GeographicDivision",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "officeIndices": {
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        },
        "alsoKnownAs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
        }
      }
    },
    "CivicinfoSchemaV2Source": {
      "id": "CivicinfoSchemaV2Source",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the data source."
        },
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        }
      },
      "description": "Contains information about the data source for the element containing it.",
      "type": "object"
    },
    "CivicinfoSchemaV2Channel": {
      "type": "object",
      "description": "A social media or web channel for a candidate.",
      "id": "CivicinfoSchemaV2Channel",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique public identifier for the candidate's channel."
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "civicinfo:v2",
  "canonicalName": "Civic Info",
  "name": "civicinfo",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/civic-information/",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "httpMethod": "GET",
          "path": "civicinfo/v2/voterinfo",
          "flatPath": "civicinfo/v2/voterinfo",
          "parameters": {
            "electionId": {
              "format": "int64",
              "default": "0",
              "location": "query",
              "type": "string",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field."
            },
            "returnAllAvailableData": {
              "default": "false",
              "location": "query",
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "type": "boolean"
            },
            "address": {
              "description": "The registered address of the voter to look up.",
              "type": "string",
              "location": "query"
            },
            "officialOnly": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "If set to true, only data from official state sources will be returned."
            },
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true",
              "location": "query"
            }
          },
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "parameterOrder": [],
          "id": "civicinfo.elections.voterInfoQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          }
        },
        "electionQuery": {
          "parameterOrder": [],
          "id": "civicinfo.elections.electionQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "description": "List of available elections to query.",
          "path": "civicinfo/v2/elections",
          "flatPath": "civicinfo/v2/elections",
          "parameters": {
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "default": "true",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "id": "civicinfo.divisions.search",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "parameterOrder": [],
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "path": "civicinfo/v2/divisions",
          "flatPath": "civicinfo/v2/divisions",
          "parameters": {
            "query": {
              "type": "string",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "queryDivisionByAddress": {
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "parameterOrder": [],
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "path": "civicinfo/v2/divisionsByAddress",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "parameters": {
            "address": {
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "title": "Google Civic Information API"
}