{
  "revision": "20260414",
  "discoveryVersion": "v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "title": "Google Classroom API",
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "rootUrl": "https://classroom.googleapis.com/",
  "id": "classroom:v1",
  "documentationLink": "https://developers.google.com/workspace/classroom/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerName": "Google",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.addons.teacher": {
          "description": "See, create, and update its own attachments to posts in classes you teach in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.addons.student": {
          "description": "See and update its own attachments to posts in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        }
      }
    }
  },
  "baseUrl": "https://classroom.googleapis.com/",
  "resources": {
    "invitations": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "id": "classroom.invitations.create",
          "flatPath": "v1/invitations",
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
          "response": {
            "$ref": "Invitation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Invitation"
          },
          "path": "v1/invitations",
          "parameters": {}
        },
        "list": {
          "response": {
            "$ref": "ListInvitationsResponse"
          },
          "flatPath": "v1/invitations",
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "id": "classroom.invitations.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameters": {
            "courseId": {
              "description": "Restricts returned invitations to those for a course with the specified identifier.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "location": "query",
              "type": "string"
            },
            "userId": {
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results."
            }
          },
          "path": "v1/invitations",
          "httpMethod": "GET"
        },
        "accept": {
          "path": "v1/invitations/{id}:accept",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to accept.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "classroom.invitations.accept",
          "flatPath": "v1/invitations/{id}:accept",
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ]
        },
        "get": {
          "path": "v1/invitations/{id}",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to return.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/invitations/{id}",
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "id": "classroom.invitations.get",
          "response": {
            "$ref": "Invitation"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ]
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "classroom.invitations.delete",
          "flatPath": "v1/invitations/{id}",
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to delete.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/invitations/{id}"
        }
      }
    },
    "registrations": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Registration"
          },
          "flatPath": "v1/registrations",
          "description": "Creates a `Registration`, causing Classroom to start sending notifications from the provided `feed` to the destination provided in `cloudPubSubTopic`. Returns the created `Registration`. Currently, this will be the same as the argument, but with server-assigned fields such as `expiry_time` and `id` filled in. Note that any value specified for the `expiry_time` or `id` fields will be ignored. While Classroom may validate the `cloudPubSubTopic` and return errors on a best effort basis, it is the caller's responsibility to ensure that it exists and that Classroom has permission to publish to it. This method may return the following error codes: * `PERMISSION_DENIED` if: * the authenticated user does not have permission to receive notifications from the requested field; or * the current user has not granted access to the current Cloud project with the appropriate scope for the requested feed. Note that domain-wide delegation of authority is not currently supported for this purpose. If the request has the appropriate scope, but no grant exists, a Request Errors is returned. * another access error is encountered. * `INVALID_ARGUMENT` if: * no `cloudPubsubTopic` is specified, or the specified `cloudPubsubTopic` is not valid; or * no `feed` is specified, or the specified `feed` is not valid. * `NOT_FOUND` if: * the specified `feed` cannot be located, or the requesting user does not have permission to determine whether or not it exists; or * the specified `cloudPubsubTopic` cannot be located, or Classroom has not been granted permission to publish to it.",
          "id": "classroom.registrations.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "parameters": {},
          "path": "v1/registrations",
          "request": {
            "$ref": "Registration"
          },
          "httpMethod": "POST"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/registrations/{registrationId}",
          "description": "Deletes a `Registration`, causing Classroom to stop sending notifications for that `Registration`.",
          "id": "classroom.registrations.delete",
          "parameterOrder": [
            "registrationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "parameters": {
            "registrationId": {
              "description": "The `registration_id` of the `Registration` to be deleted.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v1/registrations/{registrationId}",
          "httpMethod": "DELETE"
        }
      }
    },
    "courses": {
      "methods": {
        "patch": {
          "path": "v1/courses/{id}",
          "parameters": {
            "id": {
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Course"
          },
          "id": "classroom.courses.patch",
          "flatPath": "v1/courses/{id}",
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl",
          "response": {
            "$ref": "Course"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ]
        },
        "create": {
          "id": "classroom.courses.create",
          "flatPath": "v1/courses",
          "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. A non-admin requesting user can only create a course with themselves as the owner. Domain admins can create courses owned by any user within their domain. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserCannotOwnCourse * UserGroupsMembershipLimitReached * CourseTitleCannotContainUrl * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
          "response": {
            "$ref": "Course"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "path": "v1/courses",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "Course"
          }
        },
        "list": {
          "id": "classroom.courses.list",
          "flatPath": "v1/courses",
          "description": "Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. Returned courses are ordered by creation time, with the most recently created coming first. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist.",
          "response": {
            "$ref": "ListCoursesResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "path": "v1/courses",
          "parameters": {
            "teacherId": {
              "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `student_id` must be empty.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
            },
            "courseStates": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Restricts returned courses to those in one of the specified states. If unspecified, Courses in any state are returned.",
              "enumDescriptions": [
                "No course state. No returned Course message will use this value.",
                "The course is active.",
                "The course has been archived. You cannot modify it except to change it to a different state.",
                "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
                "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
                "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
              ],
              "enum": [
                "COURSE_STATE_UNSPECIFIED",
                "ACTIVE",
                "ARCHIVED",
                "PROVISIONED",
                "DECLINED",
                "SUSPENDED"
              ]
            },
            "studentId": {
              "location": "query",
              "type": "string",
              "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `teacher_id` must be empty."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
            }
          },
          "httpMethod": "GET"
        },
        "getGradingPeriodSettings": {
          "parameters": {
            "courseId": {
              "description": "Required. The identifier of the course.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "httpMethod": "GET",
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "description": "Returns the grading period settings in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user isn't permitted to access the grading period settings in the requested course or for access errors. * `NOT_FOUND` if the requested course does not exist.",
          "id": "classroom.courses.getGradingPeriodSettings",
          "parameterOrder": [
            "courseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ]
        },
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          },
          "path": "v1/courses/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Course"
          },
          "flatPath": "v1/courses/{id}",
          "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "id": "classroom.courses.get",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "v1/courses/{id}",
          "parameters": {
            "id": {
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "id": "classroom.courses.delete",
          "flatPath": "v1/courses/{id}",
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "response": {
            "$ref": "Empty"
          }
        },
        "updateGradingPeriodSettings": {
          "parameterOrder": [
            "courseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "description": "Updates grading period settings of a course. Individual grading periods can be added, removed, or modified using this method. The requesting user and course owner must be eligible to modify Grading Periods. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/grading-periods/manage-grading-periods#licensing_requirements). This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the grading period settings in a course or for access errors: * UserIneligibleToUpdateGradingPeriodSettings * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
          "id": "classroom.courses.updateGradingPeriodSettings",
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GradingPeriodSettings"
          },
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "parameters": {
            "courseId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The identifier of the course."
            },
            "updateMask": {
              "description": "Mask that identifies which fields in the GradingPeriodSettings to update. The GradingPeriodSettings `grading_periods` list will be fully replaced by the grading periods specified in the update request. For example: * Grading periods included in the list without an ID are considered additions, and a new ID will be assigned when the request is made. * Grading periods that currently exist, but are missing from the request will be considered deletions. * Grading periods with an existing ID and modified data are considered edits. Unmodified data will be left as is. * Grading periods included with an unknown ID will result in an error. The following fields may be specified: * `grading_periods` * `apply_to_existing_coursework`",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "update": {
          "parameters": {
            "id": {
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/courses/{id}",
          "request": {
            "$ref": "Course"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Course"
          },
          "id": "classroom.courses.update",
          "flatPath": "v1/courses/{id}",
          "description": "Updates a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * CourseTitleCannotContainUrl",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ]
        }
      },
      "resources": {
        "studentGroups": {
          "methods": {
            "delete": {
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "parameters": {
                "courseId": {
                  "description": "Required. The identifier of the course containing the student group to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "description": "Required. The identifier of the student group to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "description": "Deletes a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group.",
              "id": "classroom.courses.studentGroups.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "patch": {
              "response": {
                "$ref": "StudentGroup"
              },
              "id": "classroom.courses.studentGroups.patch",
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "description": "Updates one or more fields in a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. Mask that identifies which fields on the student group to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields can be specified by teachers: * `title`",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "courseId": {
                  "description": "Required. Identifier of the course.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Identifier of the student group."
                }
              },
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "request": {
                "$ref": "StudentGroup"
              },
              "httpMethod": "PATCH"
            },
            "create": {
              "path": "v1/courses/{courseId}/studentGroups",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The identifier of the course."
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "StudentGroup"
              },
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "description": "Creates a student group for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or for access errors. * `NOT_FOUND` if the course does not exist or the requesting user doesn't have access to the course. * `FAILED_PRECONDITION` if creating the student group would exceed the maximum number of student groups per course.",
              "id": "classroom.courses.studentGroups.create",
              "response": {
                "$ref": "StudentGroup"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "list": {
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "id": "classroom.courses.studentGroups.list",
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "description": "Returns a list of groups in a course. This method returns the following error codes: * `NOT_FOUND` if the course does not exist.",
              "response": {
                "$ref": "ListStudentGroupsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/studentGroups",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The identifier of the course."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum, which is currently set to 75 items. The server may return fewer than the specified number of results."
                }
              }
            }
          },
          "resources": {
            "studentGroupMembers": {
              "methods": {
                "create": {
                  "parameters": {
                    "courseId": {
                      "description": "Required. The identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "request": {
                    "$ref": "StudentGroupMember"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "StudentGroupMember"
                  },
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "description": "Creates a student group member for a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or member for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `ALREADY_EXISTS` if the student group member already exists. * `FAILED_PRECONDITION` if attempting to add a member to a student group that has reached its member limit.",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.create",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ]
                },
                "list": {
                  "parameters": {
                    "courseId": {
                      "description": "Required. The identifier of the course.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                    },
                    "pageSize": {
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListStudentGroupMembersResponse"
                  },
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "description": "Returns a list of students in a group. This method returns the following error codes: * `NOT_FOUND` if the course or student group does not exist.",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.list",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters",
                    "https://www.googleapis.com/auth/classroom.rosters.readonly"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId",
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "classroom.courses.studentGroups.studentGroupMembers.delete",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}",
                  "description": "Deletes a student group member. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group member or for access errors. * `NOT_FOUND` if the student group member does not exist or the user does not have access to the student group.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The identifier of the course containing the relevant student group."
                    },
                    "studentGroupId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The identifier of the student group containing the student group member to delete."
                    },
                    "userId": {
                      "description": "Required. The identifier of the student group member to delete.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}"
                }
              }
            }
          }
        },
        "students": {
          "methods": {
            "create": {
              "path": "v1/courses/{courseId}/students",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "enrollmentCode": {
                  "description": "Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Student"
              },
              "id": "classroom.courses.students.create",
              "flatPath": "v1/courses/{courseId}/students",
              "description": "Adds a user as a student of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as students to courses within their domain. Students are permitted to add themselves to a course using an enrollment code. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create students in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a student or teacher in the course.",
              "response": {
                "$ref": "Student"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v1/courses/{courseId}/students",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "response": {
                "$ref": "ListStudentsResponse"
              },
              "flatPath": "v1/courses/{courseId}/students",
              "description": "Returns a list of students of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "id": "classroom.courses.students.list"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "description": "Identifier of the student to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/courses/{courseId}/students/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "response": {
                "$ref": "Student"
              },
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "description": "Returns a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "id": "classroom.courses.students.get"
            },
            "delete": {
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "classroom.courses.students.delete",
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "description": "Deletes a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "httpMethod": "DELETE",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the student to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
                }
              },
              "path": "v1/courses/{courseId}/students/{userId}"
            }
          }
        },
        "courseWorkMaterials": {
          "methods": {
            "patch": {
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "description": "Updates one or more fields of a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if the requested course or course work material does not exist",
              "id": "classroom.courses.courseWorkMaterials.patch",
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course work material."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Mask that identifies which fields on the course work material to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the course work material object. If a field that does not support empty values is included in the update mask and not set in the course work material object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `scheduled_time` * `topic_id`"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "CourseWorkMaterial"
              }
            },
            "create": {
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "description": "Creates a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work material in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed or if more than 20 * materials are provided. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "id": "classroom.courses.courseWorkMaterials.create",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "materialLink": {
                  "description": "Optional filtering for course work material with at least one link material whose URL partially matches the provided string.",
                  "location": "query",
                  "type": "string"
                },
                "courseWorkMaterialStates": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for course work material that has been published. This is the default state.",
                    "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
                    "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
                  ],
                  "enum": [
                    "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "description": "Restriction on the work status to return. Only course work material that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned."
                },
                "materialDriveId": {
                  "description": "Optional filtering for course work material with at least one Drive material whose ID matches the provided string. If `material_link` is also specified, course work material must have materials matching both filters.",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
                }
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "id": "classroom.courses.courseWorkMaterials.list",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "description": "Returns a list of course work material that the requester is permitted to view. Course students may only view `PUBLISHED` course work material. Course teachers and domain administrators may view all course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "response": {
                "$ref": "ListCourseWorkMaterialResponse"
              }
            },
            "getAddOnContext": {
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnContext",
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "id": "classroom.courses.courseWorkMaterials.getAddOnContext",
              "response": {
                "$ref": "AddOnContext"
              },
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnContext",
              "parameters": {
                "itemId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                },
                "attachmentId": {
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "location": "query",
                  "type": "string"
                },
                "postId": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "description": "Optional. Deprecated, use `item_id` instead."
                },
                "addOnToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post."
                },
                "courseId": {
                  "description": "Required. Identifier of the course.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "description": "Returns a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work material, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work material does not exist.",
              "id": "classroom.courses.courseWorkMaterials.get",
              "httpMethod": "GET",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "description": "Identifier of the course work material.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course work material to delete. This identifier is a Classroom-assigned identifier."
                }
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "description": "Deletes a course work material. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work material item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work material, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "id": "classroom.courses.courseWorkMaterials.delete",
              "response": {
                "$ref": "Empty"
              }
            }
          },
          "resources": {
            "addOnAttachments": {
              "methods": {
                "get": {
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course."
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true
                    }
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.get",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true,
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier of the course."
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "deprecated": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.list",
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.create",
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true
                    },
                    "addOnToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match."
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments"
                },
                "patch": {
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.patch",
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameters": {
                    "itemId": {
                      "description": "Identifier of the post under which the attachment is attached.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "courseId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`"
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Identifier of the post under which the attachment is attached."
                    }
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "httpMethod": "PATCH"
                }
              }
            }
          }
        },
        "aliases": {
          "methods": {
            "create": {
              "request": {
                "$ref": "CourseAlias"
              },
              "httpMethod": "POST",
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "path": "v1/courses/{courseId}/aliases",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "response": {
                "$ref": "CourseAlias"
              },
              "id": "classroom.courses.aliases.create",
              "flatPath": "v1/courses/{courseId}/aliases",
              "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to access a domain-scoped alias)."
            },
            "list": {
              "path": "v1/courses/{courseId}/aliases",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "classroom.courses.aliases.list",
              "flatPath": "v1/courses/{courseId}/aliases",
              "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.",
              "response": {
                "$ref": "ListCourseAliasesResponse"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses",
                "https://www.googleapis.com/auth/classroom.courses.readonly"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "alias": {
                  "description": "Alias to delete. This may not be the Classroom-assigned identifier.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/courses/{courseId}/aliases/{alias}",
              "parameterOrder": [
                "courseId",
                "alias"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "classroom.courses.aliases.delete",
              "flatPath": "v1/courses/{courseId}/aliases/{alias}",
              "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to delete a domain-scoped alias)."
            }
          }
        },
        "teachers": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Teacher"
              },
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "id": "classroom.courses.teachers.get",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
                }
              },
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "id": "classroom.courses.teachers.delete",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "description": "Removes the specified teacher from the specified course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course. * `FAILED_PRECONDITION` if the requested ID belongs to the owner of the course Drive folder. * `FAILED_PRECONDITION` if the course no longer has an active owner.",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "userId": {
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "httpMethod": "DELETE"
            },
            "create": {
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/teachers",
              "description": "Creates a teacher of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as teachers to courses within their domain. Non-admin users should send an Invitation instead. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "id": "classroom.courses.teachers.create",
              "response": {
                "$ref": "Teacher"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Teacher"
              },
              "path": "v1/courses/{courseId}/teachers",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/teachers",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                }
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "id": "classroom.courses.teachers.list",
              "flatPath": "v1/courses/{courseId}/teachers",
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "response": {
                "$ref": "ListTeachersResponse"
              }
            }
          }
        },
        "announcements": {
          "methods": {
            "getAddOnContext": {
              "path": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "parameters": {
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "deprecated": true,
                  "location": "query",
                  "type": "string"
                },
                "addOnToken": {
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Identifier of the course."
                },
                "itemId": {
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "attachmentId": {
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "id": "classroom.courses.announcements.getAddOnContext",
              "response": {
                "$ref": "AddOnContext"
              },
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ]
            },
            "create": {
              "path": "v1/courses/{courseId}/announcements",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Announcement"
              },
              "flatPath": "v1/courses/{courseId}/announcements",
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "id": "classroom.courses.announcements.create",
              "response": {
                "$ref": "Announcement"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/announcements",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "announcementStates": {
                  "repeated": true,
[...]
