{
  "id": "classroom:v1",
  "basePath": "",
  "title": "Google Classroom API",
  "servicePath": "",
  "protocol": "rest",
  "name": "classroom",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.addons.teacher": {
          "description": "See, create, and update its own attachments to posts in classes you teach in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.addons.student": {
          "description": "See and update its own attachments to posts in Google Classroom"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/classroom/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    }
  },
  "revision": "20260303",
  "schemas": {
    "ListCoursesResponse": {
      "description": "Response when listing courses.",
      "type": "object",
      "id": "ListCoursesResponse",
      "properties": {
        "courses": {
          "description": "Courses that match the list request.",
          "items": {
            "$ref": "Course"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "CourseWork": {
      "type": "object",
      "description": "Course work created by a teacher for students of the course.",
      "properties": {
        "topicId": {
          "description": "Identifier for the topic that this coursework is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "dueDate": {
          "description": "Optional date, in UTC, that submissions for this course work are due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        },
        "associatedWithDeveloper": {
          "type": "boolean",
          "description": "Whether this course work item is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only."
        },
        "workType": {
          "type": "string",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "description": "Type of this course work. The type is set when the course work is created and cannot be changed.",
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ]
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this course work in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
        },
        "description": {
          "description": "Optional description of this course work. If set, the description must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Timestamp of the most recent change to this course work. Read-only.",
          "format": "google-datetime"
        },
        "multipleChoiceQuestion": {
          "description": "Multiple choice question details. For read operations, this field is populated only when `work_type` is `MULTIPLE_CHOICE_QUESTION`. For write operations, this field must be specified when creating course work with a `work_type` of `MULTIPLE_CHOICE_QUESTION`, and it must not be set otherwise.",
          "$ref": "MultipleChoiceQuestion"
        },
        "assigneeMode": {
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the coursework. If unspecified, the default value is `ALL_STUDENTS`.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "gradeCategory": {
          "description": "The category that this coursework's grade contributes to. Present only when a category has been chosen for the coursework. May be used in calculating the overall grade. Read-only.",
          "$ref": "GradeCategory"
        },
        "state": {
          "description": "Status of this course work. If unspecified, the default state is `DRAFT`.",
          "enum": [
            "COURSE_WORK_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for work that has been published. This is the default state.",
            "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
            "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
          ]
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the coursework. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field are assigned the coursework.",
          "$ref": "IndividualStudentsOptions"
        },
        "dueTime": {
          "description": "Optional time of day, in UTC, that submissions for this course work are due. This must be specified if `due_date` is specified.",
          "$ref": "TimeOfDay"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "gradingPeriodId": {
          "description": "Identifier of the grading period associated with the coursework. * At creation, if unspecified, the grading period ID will be set based on the `dueDate` (or `scheduledTime` if no `dueDate` is set). * To indicate no association to any grading period, set this field to an empty string (\"\"). * If specified, it must match an existing grading period ID in the course.",
          "type": "string"
        },
        "creatorUserId": {
          "type": "string",
          "description": "Identifier for the user that created the coursework. Read-only."
        },
        "maxPoints": {
          "type": "number",
          "description": "Maximum grade for this course work. If zero or unspecified, this assignment is considered ungraded. This must be a non-negative integer value.",
          "format": "double"
        },
        "assignment": {
          "description": "Assignment details. This is populated only when `work_type` is `ASSIGNMENT`. Read-only.",
          "$ref": "Assignment"
        },
        "creationTime": {
          "description": "Timestamp when this course work was created. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work, unique per course. Read-only."
        },
        "materials": {
          "type": "array",
          "description": "Additional materials. CourseWork must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          }
        },
        "title": {
          "type": "string",
          "description": "Title of this course work. The title must be a valid UTF-8 string containing between 1 and 3000 characters."
        },
        "scheduledTime": {
          "description": "Optional timestamp when this course work is scheduled to be published.",
          "type": "string",
          "format": "google-datetime"
        },
        "submissionModificationMode": {
          "description": "Setting to determine when students are allowed to modify submissions. If unspecified, the default value is `MODIFIABLE_UNTIL_TURNED_IN`.",
          "enum": [
            "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED",
            "MODIFIABLE_UNTIL_TURNED_IN",
            "MODIFIABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No modification mode specified. This is never returned.",
            "Submissions can be modified before being turned in.",
            "Submissions can be modified at any time."
          ]
        }
      },
      "id": "CourseWork"
    },
    "ReclaimStudentSubmissionRequest": {
      "properties": {},
      "id": "ReclaimStudentSubmissionRequest",
      "type": "object",
      "description": "Request to reclaim a student submission."
    },
    "MultipleChoiceQuestion": {
      "id": "MultipleChoiceQuestion",
      "properties": {
        "choices": {
          "description": "Possible choices.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Additional details for multiple-choice questions.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "Criterion": {
      "description": "A rubric criterion. Each criterion is a dimension on which performance is rated.",
      "type": "object",
      "id": "Criterion",
      "properties": {
        "title": {
          "description": "The title of the criterion.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the criterion."
        },
        "id": {
          "description": "The criterion ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "levels": {
          "type": "array",
          "description": "The list of levels within this criterion.",
          "items": {
            "$ref": "Level"
          }
        }
      }
    },
    "Course": {
      "id": "Course",
      "properties": {
        "courseGroupEmail": {
          "type": "string",
          "description": "The email address of a Google group containing all members of the course. This group does not accept email and can only be used for permissions. Read-only."
        },
        "name": {
          "description": "Name of the course. For example, \"10th Grade Biology\". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Creation time of the course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string"
        },
        "calendarId": {
          "type": "string",
          "description": "The Calendar ID for a calendar that all course members can see, to which Classroom adds events for course work and announcements in the course. The Calendar for a course is created asynchronously when the course is set to `CourseState.ACTIVE` for the first time (at creation time or when it is updated to `ACTIVE` through the UI or the API). The Calendar ID will not be populated until the creation process is completed. Read-only."
        },
        "id": {
          "description": "Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask results in an error.",
          "type": "string"
        },
        "descriptionHeading": {
          "type": "string",
          "description": "Optional heading for the description. For example, \"Welcome to 10th Grade Biology.\" If set, this field must be a valid UTF-8 string and no longer than 3600 characters."
        },
        "teacherGroupEmail": {
          "type": "string",
          "description": "The email address of a Google group containing all teachers of the course. This group does not accept email and can only be used for permissions. Read-only."
        },
        "enrollmentCode": {
          "type": "string",
          "description": "Enrollment code to use when joining this course. Specifying this field in a course update mask results in an error. Read-only."
        },
        "alternateLink": {
          "description": "Absolute link to this course in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters."
        },
        "section": {
          "type": "string",
          "description": "Section of the course. For example, \"Period 2\". If set, this field must be a valid UTF-8 string and no longer than 2800 characters."
        },
        "courseState": {
          "type": "string",
          "enumDescriptions": [
            "No course state. No returned Course message will use this value.",
            "The course is active.",
            "The course has been archived. You cannot modify it except to change it to a different state.",
            "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
            "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
            "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
          ],
          "description": "State of the course. If unspecified, the default state is `PROVISIONED`.",
          "enum": [
            "COURSE_STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PROVISIONED",
            "DECLINED",
            "SUSPENDED"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time of the most recent update to this course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string"
        },
        "gradebookSettings": {
          "description": "The gradebook settings that specify how a student's overall grade for the course will be calculated and who it will be displayed to. Read-only.",
          "$ref": "GradebookSettings"
        },
        "courseMaterialSets": {
          "deprecated": true,
          "type": "array",
          "description": "Sets of materials that appear on the \"about\" page of this course. Read-only.",
          "items": {
            "$ref": "CourseMaterialSet"
          }
        },
        "guardiansEnabled": {
          "description": "Whether or not guardian notifications are enabled for this course. Read-only.",
          "type": "boolean"
        },
        "teacherFolder": {
          "description": "Information about a Drive Folder that is shared with all teachers of the course. This field will only be set for teachers of the course and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "room": {
          "type": "string",
          "description": "Optional room location. For example, \"301\". If set, this field must be a valid UTF-8 string and no longer than 650 characters."
        },
        "ownerId": {
          "type": "string",
          "description": "The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user This must be set in a create request. Admins can also specify this field in a patch course request to transfer ownership. In other contexts, it is read-only."
        },
        "subject": {
          "description": "Optional. The subject of the course.",
          "type": "string"
        }
      },
      "description": "A Course in Classroom.",
      "type": "object"
    },
    "CourseWorkChangesInfo": {
      "properties": {
        "courseId": {
          "type": "string",
          "description": "The `course_id` of the course to subscribe to work changes for."
        }
      },
      "id": "CourseWorkChangesInfo",
      "type": "object",
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`."
    },
    "ListCourseWorkMaterialResponse": {
      "properties": {
        "courseWorkMaterial": {
          "description": "Course work material items that match the request.",
          "items": {
            "$ref": "CourseWorkMaterial"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "id": "ListCourseWorkMaterialResponse",
      "type": "object",
      "description": "Response when listing course work material."
    },
    "ListStudentGroupsResponse": {
      "id": "ListStudentGroupsResponse",
      "properties": {
        "studentGroups": {
          "type": "array",
          "description": "The student groups.",
          "items": {
            "$ref": "StudentGroup"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing student groups.",
      "type": "object"
    },
    "IndividualStudentsOptions": {
      "type": "object",
      "description": "Assignee details about a coursework/announcement. This field is set if and only if `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
      "properties": {
        "studentIds": {
          "description": "Identifiers for the students that have access to the coursework/announcement.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "IndividualStudentsOptions"
    },
    "CopyHistory": {
      "properties": {
        "attachmentId": {
          "description": "Immutable. Identifier of the attachment.",
          "type": "string"
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached.",
          "type": "string"
        },
        "postId": {
          "deprecated": true,
          "type": "string",
          "description": "Immutable. Deprecated, use `item_id` instead."
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        }
      },
      "id": "CopyHistory",
      "type": "object",
      "description": "Identifier of a previous copy of a given attachment."
    },
    "Topic": {
      "description": "Topic created by a teacher for the course",
      "type": "object",
      "id": "Topic",
      "properties": {
        "topicId": {
          "type": "string",
          "description": "Unique identifier for the topic. Read-only."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the topic was last updated by the system. Read-only."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the topic, generated by the user. Leading and trailing whitespaces, if any, are trimmed. Also, multiple consecutive whitespaces are collapsed into one inside the name. The result must be a non-empty string. Topic names are case sensitive, and must be no longer than 100 characters."
        }
      }
    },
    "GradingPeriod": {
      "type": "object",
      "description": "An individual grading period. Grading periods must not have overlapping date ranges and must be listed in chronological order. For example, if the end_date of a grading period is 2024-01-25, then the start_date of the next grading period must be 2024-01-26 or later. Each grading period must have a unique title within a course.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated grading period ID. Read-only."
        },
        "endDate": {
          "description": "Required. End date, in UTC, of the grading period. Inclusive.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "Required. Start date, in UTC, of the grading period. Inclusive.",
          "$ref": "Date"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the grading period. For example, “Semester 1”."
        }
      },
      "id": "GradingPeriod"
    },
    "ListRubricsResponse": {
      "id": "ListRubricsResponse",
      "properties": {
        "rubrics": {
          "description": "Rubrics that match the request.",
          "items": {
            "$ref": "Rubric"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "description": "Response when listing rubrics.",
      "type": "object"
    },
    "NotebookLmNotebook": {
      "type": "object",
      "description": "NotebookLM Notebook link.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the Notebook."
        },
        "id": {
          "description": "Notebook resource id.",
          "type": "string"
        },
        "url": {
          "description": "URL that can be used to access the Notebook.",
          "type": "string"
        }
      },
      "id": "NotebookLmNotebook"
    },
    "CourseAlias": {
      "description": "Alternative identifier for a course. An alias uniquely identifies a course. It must be unique within one of the following scopes: * domain: A domain-scoped alias is visible to all users within the alias creator's domain and can be created only by a domain admin. A domain-scoped alias is often used when a course has an identifier external to Classroom. * project: A project-scoped alias is visible to any request from an application using the Developer Console project ID that created the alias and can be created by any project. A project-scoped alias is often used when an application has alternative identifiers. A random value can also be used to avoid duplicate courses in the event of transmission failures, as retrying a request will return `ALREADY_EXISTS` if a previous one has succeeded.",
      "type": "object",
      "id": "CourseAlias",
      "properties": {
        "alias": {
          "description": "Alias string. The format of the string indicates the desired alias scoping. * `d:` indicates a domain-scoped alias. Example: `d:math_101` * `p:` indicates a project-scoped alias. Example: `p:abc123` This field has a maximum length of 256 characters.",
          "type": "string"
        }
      }
    },
    "ModifyCourseWorkAssigneesRequest": {
      "description": "Request to modify assignee mode and options of a coursework.",
      "type": "object",
      "id": "ModifyCourseWorkAssigneesRequest",
      "properties": {
        "assigneeMode": {
          "description": "Mode of the coursework describing whether it will be assigned to all students or specified individual students.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ]
        },
        "modifyIndividualStudentsOptions": {
          "description": "Set which students are assigned or not assigned to the coursework. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
          "$ref": "ModifyIndividualStudentsOptions"
        }
      }
    },
    "CourseRosterChangesInfo": {
      "id": "CourseRosterChangesInfo",
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to roster changes for.",
          "type": "string"
        }
      },
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.",
      "type": "object"
    },
    "Rubric": {
      "id": "Rubric",
      "properties": {
        "id": {
          "description": "Classroom-assigned identifier for the rubric. This is unique among rubrics for the relevant course work. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp of the most recent change to this rubric. Read-only.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "courseWorkId": {
          "type": "string",
          "description": "Identifier for the course work this corresponds to. Read-only."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "sourceSpreadsheetId": {
          "type": "string",
          "description": "Input only. Immutable. Google Sheets ID of the spreadsheet. This spreadsheet must contain formatted rubric settings. See [Create or reuse a rubric for an assignment](https://support.google.com/edu/classroom/answer/9335069). Use of this field requires the `https://www.googleapis.com/auth/spreadsheets.readonly` or `https://www.googleapis.com/auth/spreadsheets` scope."
        },
        "creationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this rubric was created. Read-only.",
          "type": "string"
        },
        "criteria": {
          "type": "array",
          "description": "List of criteria. Each criterion is a dimension on which performance is rated.",
          "items": {
            "$ref": "Criterion"
          }
        }
      },
      "description": "The rubric of the course work. A rubric is a scoring guide used to evaluate student work and give feedback. For further details, see [Rubrics structure and known limitations](/classroom/rubrics/limitations).",
      "type": "object"
    },
    "Assignment": {
      "id": "Assignment",
      "properties": {
        "studentWorkFolder": {
          "description": "Drive folder where attachments from student submissions are placed. This is only populated for course teachers and administrators.",
          "$ref": "DriveFolder"
        }
      },
      "description": "Additional details for assignments.",
      "type": "object"
    },
    "GradeHistory": {
      "properties": {
        "maxPoints": {
          "description": "The denominator of the grade at this time in the submission grade history.",
          "type": "number",
          "format": "double"
        },
        "gradeTimestamp": {
          "type": "string",
          "description": "When the grade of the submission was changed.",
          "format": "google-datetime"
        },
        "gradeChangeType": {
          "type": "string",
          "enumDescriptions": [
            "No grade change type specified. This should never be returned.",
            "A change in the numerator of the draft grade.",
            "A change in the numerator of the assigned grade.",
            "A change in the denominator of the grade."
          ],
          "description": "The type of grade change at this time in the submission grade history.",
          "enum": [
            "UNKNOWN_GRADE_CHANGE_TYPE",
            "DRAFT_GRADE_POINTS_EARNED_CHANGE",
            "ASSIGNED_GRADE_POINTS_EARNED_CHANGE",
            "MAX_POINTS_CHANGE"
          ]
        },
        "actorUserId": {
          "type": "string",
          "description": "The teacher who made the grade change."
        },
        "pointsEarned": {
          "format": "double",
          "type": "number",
          "description": "The numerator of the grade at this time in the submission grade history."
        }
      },
      "id": "GradeHistory",
      "type": "object",
      "description": "The history of each grade on this submission."
    },
    "AddOnContext": {
      "properties": {
        "teacherContext": {
          "description": "Add-on context corresponding to the requesting user's role as a teacher. Its presence implies that the requesting user is a teacher in the course.",
          "$ref": "TeacherContext"
        },
        "itemId": {
          "type": "string",
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached."
        },
        "supportsStudentWork": {
          "description": "Optional. Whether the post allows the teacher to see student work and passback grades.",
          "type": "boolean"
        },
        "postId": {
          "deprecated": true,
          "type": "string",
          "description": "Immutable. Deprecated, use `item_id` instead."
        },
        "courseId": {
          "type": "string",
          "description": "Immutable. Identifier of the course."
        },
        "studentContext": {
          "description": "Add-on context corresponding to the requesting user's role as a student. Its presence implies that the requesting user is a student in the course.",
          "$ref": "StudentContext"
        }
      },
      "id": "AddOnContext",
      "type": "object",
      "description": "Attachment-relevant metadata for Classroom add-ons in the context of a specific post."
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pub/Sub topic. To register for notifications, the owner of the topic must grant `classroom-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "type": "object",
      "id": "CloudPubsubTopic",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pub/Sub [Topic](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      }
    },
    "YouTubeVideo": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the YouTube video. Read-only."
        },
        "alternateLink": {
          "description": "URL that can be used to view the YouTube video. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "YouTube API resource ID.",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the YouTube video. Read-only."
        }
      },
      "id": "YouTubeVideo",
      "type": "object",
      "description": "YouTube video item."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "Form": {
      "properties": {
        "formUrl": {
          "type": "string",
          "description": "URL of the form."
        },
        "responseUrl": {
          "description": "URL of the form responses document. Only set if responses have been recorded and only when the requesting user is an editor of the form. Read-only.",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the Form. Read-only."
        },
        "title": {
          "type": "string",
          "description": "Title of the Form. Read-only."
        }
      },
      "id": "Form",
      "type": "object",
      "description": "Google Forms item."
    },
    "RubricGrade": {
      "id": "RubricGrade",
      "properties": {
        "levelId": {
          "type": "string",
          "description": "Optional. Optional level ID of the selected level. If empty, no level was selected."
        },
        "criterionId": {
          "description": "Optional. Criterion ID.",
          "type": "string"
        },
        "points": {
          "format": "double",
          "description": "Optional. Optional points assigned for this criterion, typically based on the level. Levels might or might not have points. If unset, no points were set for this criterion.",
          "type": "number"
        }
      },
      "description": "A rubric grade set for the student submission. There is at most one entry per rubric criterion.",
      "type": "object"
    },
    "GlobalPermission": {
      "properties": {
        "permission": {
          "description": "Permission value.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "CREATE_COURSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No permission is specified. This is not returned and is not a valid value.",
            "User is permitted to create a course."
          ]
        }
      },
      "id": "GlobalPermission",
      "type": "object",
      "description": "Global user permission description."
    },
    "ListStudentsResponse": {
      "type": "object",
      "description": "Response when listing students.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "students": {
          "description": "Students who match the list request.",
          "items": {
            "$ref": "Student"
          },
          "type": "array"
        }
      },
      "id": "ListStudentsResponse"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ShortAnswerSubmission": {
      "id": "ShortAnswerSubmission",
      "properties": {
        "answer": {
          "type": "string",
          "description": "Student response to a short-answer question."
        }
      },
      "description": "Student work for a short answer question.",
      "type": "object"
    },
    "GuardianInvitation": {
      "id": "GuardianInvitation",
      "properties": {
        "studentId": {
          "type": "string",
          "description": "ID of the student (in standard format)"
        },
        "invitationId": {
          "description": "Unique identifier for this invitation. Read-only.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Should never be returned.",
            "The invitation is active and awaiting a response.",
            "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
          ],
          "description": "The state that this invitation is in.",
          "enum": [
            "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ]
        },
        "invitedEmailAddress": {
          "description": "Email address that the invitation was sent to. This field is only visible to domain administrators.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "The time that this invitation was created. Read-only.",
          "type": "string"
        }
      },
      "description": "An invitation to become the guardian of a specified user, sent to a specified email address.",
      "type": "object"
    },
    "GradeCategory": {
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the grade category."
        },
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "The weight of the category average as part of overall average. A weight of 12.34% is represented as 123400 (100% is 1,000,000). The last two digits should always be zero since we use two decimal precision. Only applicable when grade calculation type is WEIGHTED_CATEGORIES."
        },
        "defaultGradeDenominator": {
          "format": "int32",
          "type": "integer",
          "description": "Default value of denominator. Only applicable when grade calculation type is TOTAL_POINTS."
        },
        "name": {
          "description": "Name of the grade category.",
          "type": "string"
        }
      },
      "id": "GradeCategory",
      "type": "object",
      "description": "Details for a grade category in a course. Coursework may have zero or one grade category, and the category may be used in computing the overall grade. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details."
    },
    "Name": {
      "type": "object",
      "description": "Details of the user's name.",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "The user's last name. Read-only."
        },
        "fullName": {
          "type": "string",
          "description": "The user's full name formed by concatenating the first and last name values. Read-only."
        },
        "givenName": {
          "description": "The user's first name. Read-only.",
          "type": "string"
        }
      },
      "id": "Name"
    },
    "ListAnnouncementsResponse": {
      "description": "Response when listing course work.",
      "type": "object",
      "id": "ListAnnouncementsResponse",
      "properties": {
        "announcements": {
          "description": "Announcement items that match the request.",
          "items": {
            "$ref": "Announcement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "ModifyIndividualStudentsOptions": {
      "properties": {
        "removeStudentIds": {
          "type": "array",
          "description": "IDs of students to be removed from having access to this coursework/announcement.",
          "items": {
            "type": "string"
          }
        },
        "addStudentIds": {
          "description": "IDs of students to be added as having access to this coursework/announcement.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ModifyIndividualStudentsOptions",
      "type": "object",
      "description": "Contains fields to add or remove students from a course work or announcement where the `assigneeMode` is set to `INDIVIDUAL_STUDENTS`."
    },
    "Guardian": {
      "id": "Guardian",
      "properties": {
        "guardianId": {
          "description": "Identifier for the guardian.",
          "type": "string"
        },
        "invitedEmailAddress": {
          "description": "The email address to which the initial guardian invitation was sent. This field is only visible to domain administrators.",
          "type": "string"
        },
        "studentId": {
          "type": "string",
          "description": "Identifier for the student to whom the guardian relationship applies."
        },
        "guardianProfile": {
          "description": "User profile for the guardian.",
          "$ref": "UserProfile"
        }
      },
      "description": "Association between a student and a guardian of that student. The guardian may receive information about the student's course work.",
      "type": "object"
    },
    "DriveFolder": {
      "type": "object",
      "description": "Representation of a Google Drive folder.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Drive API resource ID."
        },
        "title": {
          "description": "Title of the Drive folder. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "type": "string",
          "description": "URL that can be used to access the Drive folder. Read-only."
        }
      },
      "id": "DriveFolder"
    },
    "GradebookSettings": {
      "properties": {
        "calculationType": {
          "type": "string",
          "enumDescriptions": [
            "No method specified. This is never returned.",
            "Overall grade is the sum of grades divided by the sum of total points regardless of category.",
            "Overall grade is the weighted average by category."
          ],
          "description": "Indicates how the overall grade is calculated.",
          "enum": [
            "CALCULATION_TYPE_UNSPECIFIED",
            "TOTAL_POINTS",
            "WEIGHTED_CATEGORIES"
          ]
        },
        "displaySetting": {
          "description": "Indicates who can see the overall grade..",
          "enum": [
            "DISPLAY_SETTING_UNSPECIFIED",
            "SHOW_OVERALL_GRADE",
            "HIDE_OVERALL_GRADE",
            "SHOW_TEACHERS_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "No setting specified. This is never returned.",
            "Shows overall grade in the gradebook and student profile to both teachers and students.",
            "Does not show overall grade in the gradebook or student profile.",
            "Shows the overall grade to teachers in the gradebook and student profile. Hides from students in their student profile."
          ]
        },
        "gradeCategories": {
          "description": "Grade categories that are available for coursework in the course.",
          "items": {
            "$ref": "GradeCategory"
          },
          "type": "array"
        }
      },
      "id": "GradebookSettings",
      "type": "object",
      "description": "The gradebook settings for a course. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details."
    },
    "StudentSubmission": {
      "properties": {
        "creationTime": {
          "format": "google-datetime",
          "description": "Creation time of this submission. This may be unset if the student has not accessed this item. Read-only.",
          "type": "string"
        },
        "late": {
          "description": "Whether this submission is late. Read-only.",
          "type": "boolean"
        },
        "draftRubricGrades": {
          "additionalProperties": {
            "$ref": "RubricGrade"
          },
          "type": "object",
          "description": "Pending rubric grades based on the rubric's criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only."
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned Identifier for the student submission. This is unique among submissions for the relevant course work. Read-only."
        },
        "draftGrade": {
          "format": "double",
          "type": "number",
          "description": "Optional pending grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This is only visible to and modifiable by course teachers."
        },
        "submissionHistory": {
          "description": "The history of the submission (includes state and grade histories). Read-only.",
          "items": {
            "$ref": "SubmissionHistory"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "description": "State of this submission. Read-only.",
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ]
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Identifier for the student that owns this submission. Read-only."
        },
        "courseWorkId": {
          "description": "Identifier for the course work this corresponds to. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to the submission in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last update time of this submission. This may be unset if the student has not accessed this item. Read-only.",
          "type": "string"
        },
        "shortAnswerSubmission": {
          "description": "Submission content when course_work_type is SHORT_ANSWER_QUESTION.",
          "$ref": "ShortAnswerSubmission"
        },
        "multipleChoiceSubmission": {
          "description": "Submission content when course_work_type is MULTIPLE_CHOICE_QUESTION.",
          "$ref": "MultipleChoiceSubmission"
        },
        "assignmentSubmission": {
          "description": "Submission content when course_work_type is ASSIGNMENT. Students can modify this content using ModifyAttachments.",
          "$ref": "AssignmentSubmission"
        },
        "assignedRubricGrades": {
          "additionalProperties": {
            "$ref": "RubricGrade"
          },
          "description": "Assigned rubric grades based on the rubric's Criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any Criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only.",
          "type": "object"
        },
        "courseWorkType": {
          "type": "string",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "description": "Type of course work this submission is for. Read-only.",
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ]
        },
        "assignedGrade": {
          "format": "double",
          "description": "Optional grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This may be modified only by course teachers.",
          "type": "number"
        },
        "associatedWithDeveloper": {
          "description": "Whether this student submission is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        }
      },
      "id": "StudentSubmission",
      "type": "object",
      "description": "Student submission for course work. `StudentSubmission` items are generated when a `CourseWork` item is created. Student submissions that have never been accessed (i.e. with `state` = NEW) may not have a creation time or update time."
    },
    "StudentContext": {
      "description": "Role-specific context if the requesting user is a student.",
      "type": "object",
      "id": "StudentContext",
      "properties": {
        "submissionId": {
          "type": "string",
          "description": "Requesting user's submission id to be used for grade passback and to identify the student when showing student work to the teacher. This is set exactly when `supportsStudentWork` is `true`."
        }
      }
    },
    "UserProfile": {
      "type": "object",
      "description": "Global information for a user.",
      "properties": {
        "name": {
          "description": "Name of the user. Read-only.",
          "$ref": "Name"
        },
        "emailAddress": {
          "description": "Email address of the user. Must request `https://www.googleapis.com/auth/classroom.profile.emails` scope for this field to be populated in a response body. Read-only.",
          "type": "string"
        },
        "photoUrl": {
          "description": "URL of user's profile photo. Must request `https://www.googleapis.com/auth/classroom.profile.photos` scope for this field to be populated in a response body. Read-only.",
          "type": "string"
        },
        "permissions": {
          "description": "Global permissions of the user. Read-only.",
          "items": {
            "$ref": "GlobalPermission"
          },
          "type": "array"
        },
        "verifiedTeacher": {
          "type": "boolean",
          "description": "Represents whether a Google Workspace for Education user's domain administrator has explicitly verified them as being a teacher. This field is always false if the user is not a member of a Google Workspace for Education domain. Read-only"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the user. Read-only."
        }
      },
      "id": "UserProfile"
    },
    "Announcement": {
      "id": "Announcement",
      "properties": {
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the announcement. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the announcement.",
          "$ref": "IndividualStudentsOptions"
        },
        "state": {
          "description": "Status of this announcement. If unspecified, the default state is `DRAFT`.",
          "enum": [
            "ANNOUNCEMENT_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for announcement that has been published. This is the default state.",
            "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
            "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
          ]
        },
        "scheduledTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional timestamp when this announcement is scheduled to be published."
        },
        "assigneeMode": {
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the announcement. If unspecified, the default value is `ALL_STUDENTS`.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this announcement, unique per course. Read-only."
        },
        "materials": {
          "type": "array",
          "description": "Additional materials. Announcements must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          }
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this announcement. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "text": {
          "description": "Description of this announcement. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when this announcement was created. Read-only."
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this announcement in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the announcement. Read-only.",
          "type": "string"
        }
      },
      "description": "Announcement created by a teacher for students of the course",
      "type": "object"
    },
    "ModifyAnnouncementAssigneesRequest": {
      "properties": {
        "assigneeMode": {
          "description": "Mode of the announcement describing whether it is accessible by all students or specified individual students.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ]
        },
        "modifyIndividualStudentsOptions": {
          "description": "Set which students can view or cannot view the announcement. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
          "$ref": "ModifyIndividualStudentsOptions"
        }
      },
      "id": "ModifyAnnouncementAssigneesRequest",
      "type": "object",
      "description": "Request to modify assignee mode and options of an announcement."
    },
    "Invitation": {
      "id": "Invitation",
      "properties": {
        "id": {
          "description": "Identifier assigned by Classroom. Read-only.",
          "type": "string"
        },
        "role": {
          "description": "Role to invite the user to have. Must not be `COURSE_ROLE_UNSPECIFIED`.",
          "enum": [
            "COURSE_ROLE_UNSPECIFIED",
            "STUDENT",
            "TEACHER",
            "OWNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "No course role.",
            "Student in the course.",
            "Teacher of the course.",
            "Owner of the course."
          ]
        },
        "userId": {
          "description": "Identifier of the invited user. When specified as a parameter of a request, this identifier can be set to one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course to invite the user to.",
          "type": "string"
        }
      },
      "description": "An invitation to join a course.",
      "type": "object"
    },
    "SubmissionHistory": {
      "properties": {
        "stateHistory": {
          "description": "The state history information of the submission, if present.",
          "$ref": "StateHistory"
        },
        "gradeHistory": {
          "description": "The grade history information of the submission, if present.",
          "$ref": "GradeHistory"
        }
      },
      "id": "SubmissionHistory",
      "type": "object",
      "description": "The history of the submission. This currently includes state and grade histories."
    },
    "EmbedUri": {
      "description": "URI to be iframed after being populated with query parameters.",
      "type": "object",
      "id": "EmbedUri",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI to be iframed after being populated with query parameters. This must be a valid UTF-8 string containing between 1 and 1800 characters."
        }
      }
    },
    "Material": {
      "description": "Material attached to course work. When creating attachments, setting the `form`, `gem`, or `notebook` field is not supported.",
      "type": "object",
      "id": "Material",
      "properties": {
        "youtubeVideo": {
          "description": "YouTube video material.",
          "$ref": "YouTubeVideo"
        },
        "form": {
          "description": "Google Forms material. Read-only.",
          "$ref": "Form"
        },
        "gem": {
          "description": "Gemini Gem material. Read-only.",
          "$ref": "GeminiGem"
        },
        "notebook": {
          "description": "NotebookLM Notebook material. Read-only.",
          "$ref": "NotebookLmNotebook"
        },
        "link": {
          "description": "Link material. On creation, this is upgraded to a more appropriate type if possible, and this is reflected in the response.",
          "$ref": "Link"
        },
        "driveFile": {
          "description": "Google Drive file material.",
          "$ref": "SharedDriveFile"
        }
      }
    },
    "ListStudentGroupMembersResponse": {
      "type": "object",
      "description": "Response when listing students in a group.",
      "properties": {
        "studentGroupMembers": {
          "description": "The student group members.",
          "items": {
            "$ref": "StudentGroupMember"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "id": "ListStudentGroupMembersResponse"
    },
    "Feed": {
      "description": "A class of notifications that an application can register to receive. For example: \"all roster changes for a domain\".",
      "type": "object",
      "id": "Feed",
      "properties": {
        "courseWorkChangesInfo": {
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`. This field must be specified if `feed_type` is `COURSE_WORK_CHANGES`.",
          "$ref": "CourseWorkChangesInfo"
        },
        "feedType": {
          "description": "The type of feed.",
          "enum": [
            "FEED_TYPE_UNSPECIFIED",
            "DOMAIN_ROSTER_CHANGES",
            "COURSE_ROSTER_CHANGES",
            "COURSE_WORK_CHANGES"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should never be returned or provided.",
            "All roster changes for a particular domain. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All roster changes for a particular course. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All course work activity for a particular course. Notifications will be generated when a CourseWork or StudentSubmission object is created or modified. No notification will be generated when a StudentSubmission object is created in connection with the creation or modification of its parent CourseWork object (but a notification will be generated for that CourseWork object's creation or modification)."
          ]
        },
        "courseRosterChangesInfo": {
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`. This field must be specified if `feed_type` is `COURSE_ROSTER_CHANGES`.",
          "$ref": "CourseRosterChangesInfo"
        }
      }
    },
    "ListGuardianInvitationsResponse": {
      "description": "Response when listing guardian invitations.",
      "type": "object",
      "id": "ListGuardianInvitationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "guardianInvitations": {
          "type": "array",
          "description": "Guardian invitations that matched the list request.",
          "items": {
            "$ref": "GuardianInvitation"
          }
        }
      }
    },
    "CourseMaterialSet": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Title for this set."
        },
        "materials": {
          "type": "array",
          "description": "Materials attached to this set.",
          "items": {
            "$ref": "CourseMaterial"
          }
        }
      },
      "id": "CourseMaterialSet",
      "type": "object",
      "description": "A set of materials that appears on the \"About\" page of the course. These materials might include a syllabus, schedule, or other background information relating to the course as a whole."
    },
    "ListCourseAliasesResponse": {
      "type": "object",
      "description": "Response when listing course aliases.",
      "properties": {
        "aliases": {
          "description": "The course aliases.",
          "items": {
            "$ref": "CourseAlias"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "id": "ListCourseAliasesResponse"
    },
    "ListStudentSubmissionsResponse": {
      "type": "object",
      "description": "Response when listing student submissions.",
      "properties": {
        "studentSubmissions": {
          "description": "Student work that matches the request.",
          "items": {
            "$ref": "StudentSubmission"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "id": "ListStudentSubmissionsResponse"
    },
    "TeacherContext": {
      "type": "object",
      "description": "Role-specific context if the requesting user is a teacher.",
      "properties": {},
      "id": "TeacherContext"
    },
    "Teacher": {
      "type": "object",
      "description": "Teacher of a course.",
      "properties": {
        "profile": {
          "description": "Global user information for the teacher. Read-only.",
          "$ref": "UserProfile"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "userId": {
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        }
      },
      "id": "Teacher"
    },
    "TurnInStudentSubmissionRequest": {
      "description": "Request to turn in a student submission.",
      "type": "object",
      "id": "TurnInStudentSubmissionRequest",
      "properties": {}
    },
    "ListGuardiansResponse": {
      "id": "ListGuardiansResponse",
      "properties": {
        "guardians": {
          "description": "Guardians on this page of results that met the criteria specified in the request.",
          "items": {
            "$ref": "Guardian"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing guardians.",
      "type": "object"
    },
    "ListCourseWorkResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "courseWork": {
          "type": "array",
          "description": "Course work items that match the request.",
          "items": {
            "$ref": "CourseWork"
          }
        }
      },
      "id": "ListCourseWorkResponse",
      "type": "object",
      "description": "Response when listing course work."
    },
    "CourseMaterial": {
      "id": "CourseMaterial",
      "properties": {
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        },
        "link": {
          "description": "Link atatchment.",
          "$ref": "Link"
        },
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        },
        "form": {
          "description": "Google Forms attachment.",
          "$ref": "Form"
        }
      },
      "description": "A material attached to a course as part of a material set.",
      "type": "object"
    },
    "Level": {
      "description": "A level of the criterion.",
      "type": "object",
      "id": "Level",
      "properties": {
        "id": {
          "description": "The level ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the level. If the level has no points set, title must be set."
        },
        "points": {
          "format": "double",
          "type": "number",
          "description": "Optional points associated with this level. If set, all levels within the rubric must specify points and the value must be distinct across all levels within a single criterion. 0 is distinct from no points."
        },
        "description": {
          "type": "string",
          "description": "The description of the level."
        }
      }
    },
    "AssignmentSubmission": {
      "description": "Student work for an assignment.",
      "type": "object",
      "id": "AssignmentSubmission",
      "properties": {
        "attachments": {
          "description": "Attachments added by the student. Drive files that correspond to materials with a share mode of STUDENT_COPY may not exist yet if the student has not accessed the assignment in Classroom. Some attachment metadata is only populated if the requesting user has permission to access it. Identifier and alternate_link fields are always available, but others (for example, title) may not be.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        }
      }
    },
    "ListTopicResponse": {
      "description": "Response when listing topics.",
      "type": "object",
      "id": "ListTopicResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "topic": {
          "type": "array",
          "description": "Topic items that match the request.",
          "items": {
            "$ref": "Topic"
          }
        }
      }
    },
    "ListInvitationsResponse": {
      "properties": {
        "invitations": {
          "description": "Invitations that match the list request.",
          "items": {
            "$ref": "Invitation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "id": "ListInvitationsResponse",
      "type": "object",
      "description": "Response when listing invitations."
    },
    "GradingPeriodSettings": {
      "properties": {
        "gradingPeriods": {
          "type": "array",
          "description": "The list of grading periods in a specific course. Grading periods must not have overlapping date ranges and must be listed in chronological order. Each grading period must have a unique title within a course.",
          "items": {
            "$ref": "GradingPeriod"
          }
        },
        "applyToExistingCoursework": {
          "type": "boolean",
          "description": "Supports toggling the application of grading periods on existing stream items. Once set, this value is persisted meaning that it does not need to be set in every request to update `GradingPeriodSettings`. If not previously set, the default is False."
        }
      },
      "id": "GradingPeriodSettings",
      "type": "object",
      "description": "Grading period settings that include all the individual grading periods in a course."
    },
    "Student": {
      "description": "Student in a course.",
      "type": "object",
      "id": "Student",
      "properties": {
        "profile": {
          "description": "Global user information for the student. Read-only.",
          "$ref": "UserProfile"
        },
        "studentWorkFolder": {
          "description": "Information about a Drive Folder for this student's work in this course. Only visible to the student and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "userId": {
          "type": "string",
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
        }
      }
    },
    "ModifyAttachmentsRequest": {
      "type": "object",
      "description": "Request to modify the attachments of a student submission.",
      "properties": {
        "addAttachments": {
          "description": "Attachments to add. A student submission may not have more than 20 attachments. Form attachments are not supported.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        }
      },
      "id": "ModifyAttachmentsRequest"
    },
    "Registration": {
      "description": "An instruction to Classroom to send notifications from the `feed` to the provided destination.",
      "type": "object",
      "id": "Registration",
      "properties": {
        "cloudPubsubTopic": {
          "description": "The Cloud Pub/Sub topic that notifications are to be sent to.",
          "$ref": "CloudPubsubTopic"
        },
        "expiryTime": {
          "type": "string",
          "description": "The time until which the `Registration` is effective. This is a read-only field assigned by the server.",
          "format": "google-datetime"
        },
        "registrationId": {
          "description": "A server-generated unique identifier for this `Registration`. Read-only.",
          "type": "string"
        },
        "feed": {
          "description": "Specification for the class of notifications that Classroom should deliver to the destination.",
          "$ref": "Feed"
        }
      }
    },
    "SharedDriveFile": {
      "type": "object",
      "description": "Drive file that is used as material for course work.",
      "properties": {
        "shareMode": {
          "type": "string",
          "enumDescriptions": [
            "No sharing mode specified. This should never be returned.",
            "Students can view the shared file.",
            "Students can edit the shared file.",
            "Students have a personal copy of the shared file."
          ],
          "description": "Mechanism by which students access the Drive item.",
          "enum": [
            "UNKNOWN_SHARE_MODE",
            "VIEW",
            "EDIT",
            "STUDENT_COPY"
          ]
        },
        "driveFile": {
          "description": "Drive file details.",
          "$ref": "DriveFile"
        }
      },
      "id": "SharedDriveFile"
    },
    "GeminiGem": {
      "type": "object",
      "description": "Gemini Gem link.",
      "properties": {
        "title": {
          "description": "Title of the Gem.",
          "type": "string"
        },
        "id": {
          "description": "Gems resource id.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "URL that can be used to access the Gem."
        }
      },
      "id": "GeminiGem"
    },
    "ReturnStudentSubmissionRequest": {
      "properties": {},
      "id": "ReturnStudentSubmissionRequest",
      "type": "object",
      "description": "Request to return a student submission."
    },
    "CourseWorkMaterial": {
      "type": "object",
      "description": "Course work material created by a teacher for students of the course",
      "properties": {
        "scheduledTime": {
          "description": "Optional timestamp when this course work material is scheduled to be published.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "description": "Title of this course work material. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work material, unique per course. Read-only."
        },
        "materials": {
          "type": "array",
          "description": "Additional materials. A course work material must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          }
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when this course work material was created. Read-only."
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the course work material. Read-only.",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the course work material. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the course work material.",
          "$ref": "IndividualStudentsOptions"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for course work material that has been published. This is the default state.",
            "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
            "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
          ],
          "description": "Status of this course work material. If unspecified, the default state is `DRAFT`.",
          "enum": [
            "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ]
        },
        "assigneeMode": {
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the course work material. If unspecified, the default value is `ALL_STUDENTS`.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this course work material. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional description of this course work material. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to this course work material in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "topicId": {
          "type": "string",
          "description": "Identifier for the topic that this course work material is associated with. Must match an existing topic in the course."
        }
      },
      "id": "CourseWorkMaterial"
    },
    "AddOnAttachmentStudentSubmission": {
      "id": "AddOnAttachmentStudentSubmission",
      "properties": {
        "pointsEarned": {
          "type": "number",
          "description": "Student grade on this attachment. If unset, no grade was set.",
          "format": "double"
        },
        "postSubmissionState": {
          "description": "Submission state of add-on attachment's parent post (i.e. assignment).",
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ]
        }
      },
      "description": "Payload for grade update requests.",
      "type": "object"
    },
    "StudentGroup": {
      "type": "object",
      "description": "A student group in a course.",
      "properties": {
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        },
        "title": {
          "description": "The title of the student group.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier of the student group."
        }
      },
      "id": "StudentGroup"
    },
    "MultipleChoiceSubmission": {
      "properties": {
        "answer": {
          "type": "string",
          "description": "Student's select choice."
        }
      },
      "id": "MultipleChoiceSubmission",
      "type": "object",
      "description": "Student work for a multiple-choice question."
    },
    "StateHistory": {
      "properties": {
        "state": {
          "description": "The workflow pipeline stage.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT",
            "STUDENT_EDITED_AFTER_TURN_IN"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The Submission has been created.",
            "The student has turned in an assigned document, which may or may not be a template.",
            "The teacher has returned the assigned document to the student.",
            "The student turned in the assigned document, and then chose to \"unsubmit\" the assignment, giving the student control again as the owner.",
            "The student edited their submission after turning it in. Currently, only used by Questions, when the student edits their answer."
          ]
        },
        "stateTimestamp": {
          "format": "google-datetime",
          "description": "When the submission entered this state.",
          "type": "string"
        },
        "actorUserId": {
          "type": "string",
          "description": "The teacher or student who made the change."
        }
      },
      "id": "StateHistory",
      "type": "object",
      "description": "The history of each state this submission has been in."
    },
    "ListAddOnAttachmentsResponse": {
      "properties": {
        "addOnAttachments": {
          "type": "array",
          "description": "Attachments under the given post.",
          "items": {
            "$ref": "AddOnAttachment"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAddOnAttachmentsResponse",
      "type": "object",
      "description": "Response when listing add-on attachments."
    },
    "ListTeachersResponse": {
      "id": "ListTeachersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "teachers": {
          "description": "Teachers who match the list request.",
          "items": {
            "$ref": "Teacher"
          },
          "type": "array"
        }
      },
      "description": "Response when listing teachers.",
      "type": "object"
    },
    "DriveFile": {
      "description": "Representation of a Google Drive file.",
      "type": "object",
      "id": "DriveFile",
      "properties": {
        "title": {
          "description": "Title of the Drive item. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to access the Drive item. Read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Drive API resource ID."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the Drive item. Read-only."
        }
      }
    },
    "Link": {
      "id": "Link",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL to link to. This must be a valid UTF-8 string containing between 1 and 2024 characters."
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the target URL. Read-only.",
          "type": "string"
        },
        "title": {
          "description": "Title of the target of the URL. Read-only.",
          "type": "string"
        }
      },
      "description": "URL item.",
      "type": "object"
    },
    "StudentGroupMember": {
      "type": "object",
      "description": "A student member in a student group.",
      "properties": {
        "studentGroupId": {
          "type": "string",
          "description": "The identifier of the student group."
        },
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Identifier of the student."
        }
      },
      "id": "StudentGroupMember"
    },
    "Attachment": {
      "type": "object",
      "description": "Attachment added to student assignment work. When creating attachments, setting the `form` field is not supported.",
      "properties": {
        "link": {
          "description": "Link attachment.",
          "$ref": "Link"
        },
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        },
        "form": {
          "description": "Google Forms attachment.",
          "$ref": "Form"
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        }
      },
      "id": "Attachment"
    },
    "AddOnAttachment": {
      "properties": {
        "itemId": {
          "type": "string",
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. Unique per course."
        },
        "dueDate": {
          "description": "Date, in UTC, that work on this attachment is due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        },
        "dueTime": {
          "description": "Time of day, in UTC, that work on this attachment is due. This must be specified if `due_date` is specified.",
          "$ref": "TimeOfDay"
        },
        "courseId": {
          "type": "string",
          "description": "Immutable. Identifier of the course."
        },
        "copyHistory": {
          "readOnly": true,
          "description": "Output only. Identifiers of attachments that were previous copies of this attachment. If the attachment was previously copied by virtue of its parent post being copied, this enumerates the identifiers of attachments that were its previous copies in ascending chronological order of copy.",
          "items": {
            "$ref": "CopyHistory"
          },
          "type": "array"
        },
        "studentWorkReviewUri": {
          "description": "URI for the teacher to see student work on the attachment, if applicable. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, `attachmentId`, and `submissionId` query parameters set. This is the same `submissionId` returned in the [`AddOnContext.studentContext`](//devsite.google.com/classroom/reference/rest/v1/AddOnContext#StudentContext) field when a student views the attachment. If the URI is omitted or removed, `max_points` will also be discarded.",
          "$ref": "EmbedUri"
        },
        "maxPoints": {
          "format": "double",
          "description": "Maximum grade for this attachment. Can only be set if `studentWorkReviewUri` is set. Set to a non-zero value to indicate that the attachment supports grade passback. If set, this must be a non-negative integer value. When set to zero, the attachment will not support grade passback.",
          "type": "number"
        },
        "studentViewUri": {
          "description": "Required. URI to show the student view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set.",
          "$ref": "EmbedUri"
        },
        "id": {
          "type": "string",
          "description": "Immutable. Classroom-assigned identifier for this attachment, unique per post."
        },
        "title": {
          "description": "Required. Title of this attachment. The title must be between 1 and 1000 characters.",
          "type": "string"
        },
        "postId": {
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "deprecated": true,
          "type": "string"
        },
        "teacherViewUri": {
          "description": "Required. URI to show the teacher view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set.",
          "$ref": "EmbedUri"
        }
      },
      "id": "AddOnAttachment",
      "type": "object",
      "description": "An add-on attachment on a post."
    }
  },
  "baseUrl": "https://classroom.googleapis.com/",
  "version": "v1",
  "rootUrl": "https://classroom.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "resources": {
    "invitations": {
      "methods": {
        "list": {
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "id": "classroom.invitations.list",
[...]
