{
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "canonicalName": "Cloudbilling",
  "batchPath": "batch",
  "revision": "20260507",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "basePath": "",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ]
        },
        "interval": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "properties": {
        "prices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          },
          "description": "The returned publicly listed prices."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListPrices.",
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "properties": {
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        }
      },
      "description": "Encapsulates the latest price for a SKU.",
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "type": "object"
    },
    "GenerateInsightsResponse": {
      "description": "Response for GenerateInsights.",
      "properties": {
        "finalResult": {
          "$ref": "FinalResult",
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "readOnly": true
        },
        "thoughtChunk": {
          "type": "string",
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "readOnly": true
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true,
          "$ref": "Rejection"
        },
        "summaryChunk": {
          "type": "string",
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GenerateInsightsResponse"
    },
    "FinalResult": {
      "properties": {
        "fullAnalysis": {
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true
        },
        "summary": {
          "type": "string",
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "readOnly": true
        },
        "dataSets": {
          "type": "array",
          "items": {
            "$ref": "DataSet"
          },
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "readOnly": true
        },
        "interopLinks": {
          "type": "array",
          "items": {
            "$ref": "InteropLink"
          },
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "readOnly": true
        },
        "suggestedQueries": {
          "type": "array",
          "items": {
            "$ref": "SuggestedQuery"
          },
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "readOnly": true
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "readOnly": true
        }
      },
      "description": "Encapsulates all structured data and the completed summary.",
      "id": "FinalResult",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "type": "object",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      },
      "description": "Encapsulates a price migrated from other SKUs."
    },
    "Map": {
      "properties": {
        "entry": {
          "description": "Represents the map entries in the map.",
          "type": "array",
          "items": {
            "$ref": "MapEntry"
          }
        }
      },
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "id": "Map",
      "type": "object"
    },
    "Array": {
      "id": "Array",
      "type": "object",
      "properties": {
        "element": {
          "description": "The elements of the array.",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "description": "An ordered collection of elements of arbitrary count."
    },
    "UserContext": {
      "properties": {
        "persona": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "type": "string",
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ],
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer)."
        },
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        }
      },
      "description": "Additional context for personalization (e.g., user persona, role).",
      "id": "UserContext",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object"
    },
    "Datetime": {
      "type": "object",
      "id": "Datetime",
      "description": "A datetime value.",
      "properties": {
        "bitFieldDatetimeSeconds": {
          "type": "string",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "format": "int64"
        },
        "nanos": {
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
    },
    "AgenticQueryInfo": {
      "type": "object",
      "id": "AgenticQueryInfo",
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "properties": {
        "view": {
          "description": "The view queried.",
          "type": "string"
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        },
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "The returned publicly listed SKU groups."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "properties": {
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSku."
        },
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSku."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "type": "object",
      "properties": {
        "billingAccountServices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "description": "The returned billing account services."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountServices."
    },
    "DataSet": {
      "type": "object",
      "id": "DataSet",
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "properties": {
        "queryInfo": {
          "description": "Output only. The query used to fetch this data.",
          "readOnly": true,
          "$ref": "AgenticQueryInfo"
        },
        "billingData": {
          "$ref": "BillingData",
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "readOnly": true
        },
        "suggestedChart": {
          "$ref": "SuggestedChart",
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "description": "Encapsulates a default price which is the current list price.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Money"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "properties": {
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "type": "object",
      "properties": {
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        },
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        },
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      },
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
    },
    "BillingDataResource": {
      "properties": {
        "billingAccount": {
          "description": "Optional. If not provided the billing account currently associated with the resource will be used.",
          "type": "string"
        },
        "resource": {
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`",
          "type": "string"
        }
      },
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "id": "BillingDataResource",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "name": {
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "properties": {
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "fixTime": {
          "description": "Time that the fixed discount is anchored to.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "contractPrice": {
          "$ref": "Money",
          "description": "Negotiated contract price specific for a billing account."
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
        },
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
    },
    "Rejection": {
      "id": "Rejection",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Output only. The reason for the rejection.",
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "type": "string"
        },
        "displayMessage": {
          "description": "Output only. A user-facing message explaining the rejection.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Encapsulates details about why a request was rejected."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "properties": {
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSkuGroupSkus.",
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
    },
    "SuggestedChart": {
      "properties": {
        "xAxisField": {
          "description": "The field used for the x-axis.",
          "type": "string"
        },
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        },
        "yAxisField": {
          "description": "The field used for the y-axis.",
          "type": "string"
        },
        "chartTitle": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "chartType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "description": "The type of the chart.",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ]
        },
        "xAxisLabel": {
          "description": "The label of the x-axis.",
          "type": "string"
        },
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering.",
      "id": "SuggestedChart",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "properties": {
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku."
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to.",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "name": {
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
    },
    "MapEntry": {
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "properties": {
        "key": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map key for the entry."
        },
        "value": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map value of the entry."
        }
      },
      "type": "object",
      "id": "MapEntry"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
    },
    "SuggestedQuery": {
      "description": "A suggested follow-up query for the user.",
      "properties": {
        "query": {
          "description": "The natural language query.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SuggestedQuery"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "description": "Response message for ListBillingAccountSkuGroups.",
      "properties": {
        "billingAccountSkuGroups": {
          "description": "The returned publicly listed billing account SKU groups.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ValueProto": {
      "properties": {
        "uint32Value": {
          "description": "Primitive for uint32.",
          "format": "uint32",
          "type": "integer"
        },
        "datetimeValue": {
          "$ref": "Datetime",
          "description": "primitive for datetime"
        },
        "dateValue": {
          "format": "int32",
          "description": "Primitive for date.",
          "type": "integer"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added.",
          "type": "boolean"
        },
        "geographyValue": {
          "format": "byte",
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "type": "string"
        },
        "bignumericValue": {
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "format": "byte",
          "type": "string"
        },
        "timestampPicoValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes()."
        },
        "numericValue": {
          "type": "string",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "format": "byte"
        },
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "intervalValue": {
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "floatValue": {
          "format": "float",
          "description": "Primitive for float.",
          "type": "number"
        },
        "timestampValue": {
          "type": "string",
          "description": "primitive for timestamp",
          "format": "google-datetime"
        },
        "stringValue": {
          "description": "Primitive for string.",
          "type": "string"
        },
        "tokenlistValue": {
          "type": "string",
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "format": "byte"
        },
        "timeValue": {
          "format": "int64",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details.",
          "type": "string"
        },
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Primitive for uint64."
        },
        "uuidValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes()."
        },
        "protoValue": {
          "description": "Stores a serialized protocol message.",
          "format": "byte",
          "type": "string"
        },
        "enumValue": {
          "format": "int32",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "type": "integer"
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "arrayValue": {
          "$ref": "Array",
          "description": "An array of value"
        },
        "mapValue": {
          "description": "Encoded map value. See go/googlesql_map.",
          "$ref": "Map"
        },
        "structValue": {
          "$ref": "Struct",
          "description": "A struct of values"
        },
        "bytesValue": {
          "type": "string",
          "description": "Primitive for bytes.",
          "format": "byte"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Primitive for int64."
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "description": "Primitive for double.",
          "format": "double"
        },
        "int32Value": {
          "type": "integer",
          "description": "Primitive value for int32.",
          "format": "int32"
        }
      },
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "id": "ValueProto",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "description": "Response message for ListBillingAccountSkus.",
      "properties": {
        "billingAccountSkus": {
          "description": "The returned billing account SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\".",
          "type": "string"
        },
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud service visible to a billing account."
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the SKU group SKU belongs to."
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others."
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the billing account SKU belong to."
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others."
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "properties": {
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        }
      },
      "description": "Encapsulates the unit information for a Rate",
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "type": {
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "tiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price."
        },
        "unitInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRateTier"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "type": "object",
      "properties": {
        "billingAccountSkuGroupSkus": {
          "description": "The returned billing account SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountSkuGroupSkus."
    },
    "Insight": {
      "type": "object",
      "id": "Insight",
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "properties": {
        "title": {
          "description": "Output only. The title of the insight.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. The description of the insight.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "readOnly": true,
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding)."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string"
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "type": "object"
    },
    "Struct": {
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "properties": {
        "field": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "The fields in the struct"
        }
      },
      "type": "object",
      "id": "Struct"
    },
    "ColumnInfo": {
      "type": "object",
      "id": "ColumnInfo",
      "description": "Represents a column header.",
      "properties": {
        "column": {
          "description": "Name of the column.",
          "type": "string"
        }
      }
    },
    "Decimal": {
      "type": "object",
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "Range": {
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "properties": {
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        },
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        }
      },
      "type": "object",
      "id": "Range"
    },
    "InteropLink": {
      "type": "object",
      "id": "InteropLink",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries).",
      "properties": {
        "label": {
          "type": "string",
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true
        },
        "url": {
          "type": "string",
          "description": "Output only. The URL of the link.",
          "readOnly": true
        },
        "linkType": {
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "type": "string"
        }
      }
    },
    "BillingData": {
      "description": "Encapsulates billing data.",
      "properties": {
        "columnInfo": {
          "type": "array",
          "items": {
            "$ref": "ColumnInfo"
          },
          "description": "Information about columns."
        },
        "rows": {
          "description": "Rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "type": "object",
      "id": "BillingData"
    },
    "Row": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "Values for a row in the column order."
        }
      },
      "description": "Represents a row in the query result.",
      "id": "Row",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "type": "object",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "type": "object",
      "properties": {
        "billingAccountPrices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "description": "The returned billing account prices."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountPrices."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "properties": {
        "floatingDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time."
        },
        "type": {
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'.",
          "type": "string"
        },
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        },
        "defaultPrice": {
          "description": "Default price which is the current list price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
        },
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "fixedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
          "description": "Fixed price applicable during the terms of a contract agreement."
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "description": "Encapsulates the latest price for a billing account SKU.",
      "properties": {
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "priceReason": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
          "description": "Background information on the origin of the price."
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "description": "Encapsulates a regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "type": "object"
    },
    "GenerateInsightsRequest": {
      "properties": {
        "prompt": {
          "description": "Required. The natural language prompt from the user.",
          "type": "string"
        },
        "overriddenMaxIterationCounts": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Overrides the maximum iterations for any selected strategy."
        },
        "userContext": {
          "description": "Optional. Additional context for personalization (e.g., user persona, role).",
          "$ref": "UserContext"
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "BillingDataResource"
          },
          "description": "Optional. The billing account or projects to analyze."
        },
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        }
      },
      "description": "Request for GenerateInsights.",
      "id": "GenerateInsightsRequest",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRate",
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          }
        },
        "unitInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "cloudbilling:v1beta",
  "name": "cloudbilling",
  "ownerName": "Google",
  "servicePath": "",
  "resources": {
    "v1beta": {
      "methods": {
        "generateInsights": {
          "flatPath": "v1beta:generateInsights",
          "httpMethod": "POST",
          "path": "v1beta:generateInsights",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "id": "cloudbilling.generateInsights",
          "parameterOrder": [],
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets."
        }
      }
    },
    "skus": {
      "resources": {
        "price": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "pattern": "^skus/[^/]+/price$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "currencyCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                }
              },
              "flatPath": "v1beta/skus/{skusId}/price",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.skus.price.get",
              "description": "Gets the latest price for the given SKU."
            }
          }
        },
        "prices": {
          "methods": {
            "list": {
              "description": "Lists the latest prices for all SKUs.",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.skus.prices.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/prices",
              "parameters": {
                "currencyCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^skus/[^/]+$",
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/skus/{skusId}/prices",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              }
            }
          }
        }
      }
    },
    "skuGroups": {
      "resources": {
        "skus": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.skuGroups.skus.get",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group."
            },
            "list": {
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "id": "cloudbilling.skuGroups.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/skus",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^skuGroups/[^/]+$",
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "id": "cloudbilling.skuGroups.list",
          "parameterOrder": [],
          "description": "Lists all publicly listed SKU groups.",
          "flatPath": "v1beta/skuGroups",
          "httpMethod": "GET",
          "path": "v1beta/skuGroups",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          }
        },
        "get": {
          "description": "Gets a publicly listed SKU group.",
          "id": "cloudbilling.skuGroups.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "pattern": "^skuGroups/[^/]+$",
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.billingAccounts.skus.list",
              "description": "Lists SKUs visible to a billing account.",
              "path": "v1beta/{+parent}/skus",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\""
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              }
            },
            "get": {
              "description": "Gets a SKU visible to a billing account.",
              "id": "cloudbilling.billingAccounts.skus.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$"
                    },
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "path": "v1beta/{+parent}/prices",
                  "parameters": {
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account."
                }
              }
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "id": "cloudbilling.billingAccounts.services.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a Google Cloud service visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "path": "v1beta/{+parent}/services",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.billingAccounts.services.list",
              "description": "Lists services visible to a billing account."
            }
          }
        },
        "skuGroups": {
          "methods": {
            "get": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a SKU group visible to a billing account."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "description": "Lists SKU groups visible to a billing account.",
              "path": "v1beta/{+parent}/skuGroups",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              }
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/skus",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                    },
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
[...]
