{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/trace/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.readonly": {
          "description": "Read Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry. ",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "id": "cloudtrace:v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ListTracesResponse": {
      "type": "object",
      "id": "ListTracesResponse",
      "description": "The response message for the `ListTraces` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If defined, indicates that there are more traces that match the request and that this value should be passed to the next request to continue retrieving additional traces."
        },
        "traces": {
          "type": "array",
          "description": "List of trace records as specified by the view parameter.",
          "items": {
            "$ref": "Trace"
          }
        }
      }
    },
    "TraceSpan": {
      "id": "TraceSpan",
      "description": "A span represents a single timed event within a trace. Spans can be nested and form a trace tree. Often, a trace contains a root span that describes the end-to-end latency of an operation and, optionally, one or more subspans for its suboperations. Spans do not need to be contiguous. There may be gaps between spans in a trace.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the span in seconds and nanoseconds from the UNIX epoch.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Collection of labels associated with the span. Label keys must be less than 128 bytes. Label values must be less than 16 KiB. Some keys might have predefined meaning, and you can also create your own. For more information, see [Cloud Trace labels](https://cloud.google.com/trace/docs/trace-labels)."
        },
        "spanId": {
          "format": "uint64",
          "description": "Identifier for the span. Must be a 64-bit integer other than 0 and unique within a trace. For example, `2205310701640571284`.",
          "type": "string"
        },
        "name": {
          "description": "Name of the span. Must be less than 128 bytes. The span name is sanitized and displayed in the Trace tool in the Google Cloud Platform Console. The name may be a method name or some other per-call site name. For the same executable and the same call point, a best practice is to use a consistent name, which makes it easier to correlate cross-trace spans.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "RPC_SERVER",
            "RPC_CLIENT"
          ],
          "description": "Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `RPC_CLIENT` and `RPC_SERVER` to identify queueing latency associated with the span.",
          "enumDescriptions": [
            "Unspecified.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request."
          ]
        },
        "parentSpanId": {
          "format": "uint64",
          "description": "Optional. ID of the parent span, if any.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start time of the span in seconds and nanoseconds from the UNIX epoch.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Trace": {
      "type": "object",
      "id": "Trace",
      "description": "A trace describes how long it takes for an application to perform an operation. It consists of a set of spans, each of which represent a single timed event within the operation.",
      "properties": {
        "traceId": {
          "description": "Globally unique identifier for the trace. This identifier is a 128-bit numeric value formatted as a 32-byte hex string. For example, `382d4f4c6b7bb2f4a972559d9085001d`. The numeric value should not be zero.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the Cloud project where the trace data is stored."
        },
        "spans": {
          "description": "Collection of spans in the trace.",
          "type": "array",
          "items": {
            "$ref": "TraceSpan"
          }
        }
      }
    },
    "Traces": {
      "type": "object",
      "id": "Traces",
      "description": "List of new or updated traces.",
      "properties": {
        "traces": {
          "type": "array",
          "description": "List of traces.",
          "items": {
            "$ref": "Trace"
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "version": "v1",
  "title": "Cloud Trace API",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "traces": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListTracesResponse"
              },
              "flatPath": "v1/projects/{projectId}/traces",
              "parameterOrder": [
                "projectId"
              ],
              "id": "cloudtrace.projects.traces.list",
              "path": "v1/projects/{projectId}/traces",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "httpMethod": "GET",
              "description": "Returns a list of traces that match the specified filter conditions.",
              "parameters": {
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Default is `MINIMAL` if unspecified.",
                    "Minimal view of the trace record that contains only the project and trace IDs.",
                    "Root span view of the trace record that returns the root spans along with the minimal trace data.",
                    "Complete view of the trace record that contains the actual trace data. This is equivalent to calling the REST `get` or RPC `GetTrace` method using the ID of each listed trace."
                  ],
                  "type": "string",
                  "description": "Optional. Type of data returned for traces in the list. Default is `MINIMAL`.",
                  "enum": [
                    "VIEW_TYPE_UNSPECIFIED",
                    "MINIMAL",
                    "ROOTSPAN",
                    "COMPLETE"
                  ]
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Field used to sort the returned traces. Can be one of the following: * `trace_id` * `name` (`name` field of root span in the trace) * `duration` (difference between `end_time` and `start_time` fields of the root span) * `start` (`start_time` field of the root span) Descending order can be specified by appending `desc` to the sort field (for example, `name desc`). Only one sort field is permitted."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token identifying the page of results to return. If provided, use the value of the `next_page_token` field from a previous request."
                },
                "startTime": {
                  "type": "string",
                  "description": "Start of the time interval (inclusive) during which the trace data was collected from the application.",
                  "location": "query",
                  "format": "google-datetime"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter against properties of the trace. See [filter syntax documentation](https://cloud.google.com/trace/docs/trace-filters) for details.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of traces to return. If not specified or <= 0, the implementation selects a reasonable value. The implementation may return fewer traces than the requested page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "endTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "description": "End of the time interval (inclusive) during which the trace data was collected from the application.",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "description": "Required. ID of the Cloud project where the trace data is stored.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "id": "cloudtrace.projects.traces.get",
              "path": "v1/projects/{projectId}/traces/{traceId}",
              "parameters": {
                "traceId": {
                  "description": "Required. ID of the trace to return.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. ID of the Cloud project where the trace data is stored."
                }
              },
              "httpMethod": "GET",
              "description": "Gets a single trace by its ID.",
              "response": {
                "$ref": "Trace"
              },
              "flatPath": "v1/projects/{projectId}/traces/{traceId}",
              "parameterOrder": [
                "projectId",
                "traceId"
              ]
            }
          }
        }
      },
      "methods": {
        "patchTraces": {
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "Traces"
          },
          "flatPath": "v1/projects/{projectId}/traces",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. ID of the Cloud project where the trace data is stored."
            }
          },
          "httpMethod": "PATCH",
          "description": "Sends trace spans to Cloud Trace. Spans cannot be updated. If the trace ID and span ID already exist, an additional copy of the span will be stored.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/trace.append"
          ],
          "id": "cloudtrace.projects.patchTraces",
          "path": "v1/projects/{projectId}/traces"
        }
      }
    }
  },
  "name": "cloudtrace",
  "basePath": "",
  "revision": "20260306",
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "canonicalName": "Cloud Trace",
  "ownerName": "Google"
}