{
  "revision": "20260422",
  "basePath": "",
  "batchPath": "batch",
  "description": "",
  "kind": "discovery#restDescription",
  "id": "clouddeploy:v1",
  "documentationLink": "https://cloud.google.com/deploy/",
  "ownerName": "Google",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "protocol": "rest",
  "name": "clouddeploy",
  "discoveryVersion": "v1",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "PolicyViolation": {
      "type": "object",
      "id": "PolicyViolation",
      "properties": {
        "policyViolationDetails": {
          "type": "array",
          "items": {
            "$ref": "PolicyViolationDetails"
          },
          "description": "Policy violation details."
        }
      },
      "description": "Returned from an action if one or more policies were violated, and therefore the action was prevented. Contains information about what policies were violated and why."
    },
    "DeployJob": {
      "id": "DeployJob",
      "properties": {},
      "description": "A deploy Job.",
      "type": "object"
    },
    "JobRun": {
      "id": "JobRun",
      "properties": {
        "state": {
          "description": "Output only. The current state of the `JobRun`.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed.",
            "The `JobRun` is terminating.",
            "The `JobRun` was terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "TERMINATING",
            "TERMINATED"
          ]
        },
        "predeployJobRun": {
          "readOnly": true,
          "$ref": "PredeployJobRun",
          "description": "Output only. Information specific to a predeploy `JobRun`."
        },
        "postdeployJobRun": {
          "description": "Output only. Information specific to a postdeploy `JobRun`.",
          "readOnly": true,
          "$ref": "PostdeployJobRun"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `JobRun`.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the `JobRun` was created.",
          "format": "google-datetime"
        },
        "verifyJobRun": {
          "readOnly": true,
          "$ref": "VerifyJobRun",
          "description": "Output only. Information specific to a verify `JobRun`."
        },
        "endTime": {
          "description": "Output only. Time at which the `JobRun` ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Time at which the `JobRun` was started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "analysisJobRun": {
          "readOnly": true,
          "$ref": "AnalysisJobRun",
          "description": "Output only. Information specific to an analysis `JobRun`."
        },
        "createChildRolloutJobRun": {
          "readOnly": true,
          "$ref": "CreateChildRolloutJobRun",
          "description": "Output only. Information specific to a createChildRollout `JobRun`."
        },
        "phaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in."
        },
        "advanceChildRolloutJobRun": {
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJobRun",
          "description": "Output only. Information specific to an advanceChildRollout `JobRun`"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the `JobRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/{rollouts}/jobRuns/{uuid}`.",
          "readOnly": true,
          "type": "string"
        },
        "deployJobRun": {
          "readOnly": true,
          "$ref": "DeployJobRun",
          "description": "Output only. Information specific to a deploy `JobRun`."
        }
      },
      "description": "A `JobRun` resource in the Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation.",
      "type": "object"
    },
    "ApproveRolloutResponse": {
      "type": "object",
      "id": "ApproveRolloutResponse",
      "properties": {},
      "description": "The response object from `ApproveRollout`."
    },
    "ListAutomationsResponse": {
      "type": "object",
      "id": "ListAutomationsResponse",
      "properties": {
        "automations": {
          "type": "array",
          "items": {
            "$ref": "Automation"
          },
          "description": "The `Automation` objects."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response object from `ListAutomations`."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "ApproveRolloutRequest": {
      "description": "The request object used by `ApproveRollout`.",
      "id": "ApproveRolloutRequest",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          }
        },
        "approved": {
          "description": "Required. True = approve; false = reject",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AdvanceChildRolloutJobRun": {
      "type": "object",
      "id": "AdvanceChildRolloutJobRun",
      "properties": {
        "rolloutPhaseId": {
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "readOnly": true,
          "type": "string"
        },
        "rollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`."
        }
      },
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`."
    },
    "ListDeployPoliciesResponse": {
      "description": "The response object from `ListDeployPolicies`.",
      "id": "ListDeployPoliciesResponse",
      "properties": {
        "deployPolicies": {
          "type": "array",
          "items": {
            "$ref": "DeployPolicy"
          },
          "description": "The `DeployPolicy` objects."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RetryPhase": {
      "description": "RetryPhase contains the retry attempts and the metadata for initiating a new attempt.",
      "id": "RetryPhase",
      "properties": {
        "totalAttempts": {
          "description": "Output only. The number of attempts that have been made.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "attempts": {
          "items": {
            "$ref": "RetryAttempt"
          },
          "description": "Output only. Detail of a retry action.",
          "readOnly": true,
          "type": "array"
        },
        "backoffMode": {
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ],
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The pattern of how the wait time of the retry attempt is calculated."
        }
      },
      "type": "object"
    },
    "RollbackTargetRequest": {
      "type": "object",
      "id": "RollbackTargetRequest",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set to true, the request is validated and the user is provided with a `RollbackTargetResponse`.",
          "type": "boolean"
        },
        "targetId": {
          "description": "Required. ID of the `Target` that is being rolled back.",
          "type": "string"
        },
        "releaseId": {
          "description": "Optional. ID of the `Release` to roll back to. If this isn't specified, the previous successful `Rollout` to the specified target will be used to determine the `Release`.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deploy_policy}`."
        },
        "rolloutId": {
          "description": "Required. ID of the rollback `Rollout` to create.",
          "type": "string"
        },
        "rolloutToRollBack": {
          "description": "Optional. If provided, this must be the latest `Rollout` that is on the `Target`.",
          "type": "string"
        },
        "rollbackConfig": {
          "description": "Optional. Configs for the rollback `Rollout`.",
          "$ref": "RollbackTargetConfig"
        }
      },
      "description": "The request object for `RollbackTarget`."
    },
    "DeployPolicy": {
      "id": "DeployPolicy",
      "properties": {
        "suspended": {
          "description": "Optional. When suspended, the policy will not prevent actions from occurring, even if the action violates the policy.",
          "type": "boolean"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "PolicyRule"
          },
          "description": "Required. Rules to apply. At least one rule must be present."
        },
        "selectors": {
          "type": "array",
          "description": "Required. Selected resources to which the policy will be applied. At least one selector is required. If one selector matches the resource the policy applies. For example, if there are two selectors and the action being attempted matches one of them, the policy will apply to that action.",
          "items": {
            "$ref": "DeployPolicyResourceSelector"
          }
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `DeployPolicy`."
        },
        "description": {
          "description": "Optional. Description of the `DeployPolicy`. Max length is 255 characters.",
          "type": "string"
        },
        "etag": {
          "description": "The weak etag of the `DeployPolicy` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the deploy policy was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Most recent time at which the deploy policy was updated.",
          "format": "google-datetime"
        }
      },
      "description": "A `DeployPolicy` resource in the Cloud Deploy API. A `DeployPolicy` inhibits manual or automation-driven actions within a Delivery Pipeline or Target.",
      "type": "object"
    },
    "AdvanceRolloutRule": {
      "id": "AdvanceRolloutRule",
      "properties": {
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "wait": {
          "description": "Optional. How long to wait after a rollout is finished.",
          "format": "google-duration",
          "type": "string"
        },
        "sourcePhases": {
          "type": "array",
          "description": "Optional. Proceeds only after phase name matched any one in the list. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "Output only. Information around the state of the Automation rule.",
          "readOnly": true,
          "$ref": "AutomationRuleCondition"
        }
      },
      "description": "The `AdvanceRollout` automation rule will automatically advance a successful Rollout to the next phase.",
      "type": "object"
    },
    "ReleaseNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification.",
      "id": "ReleaseNotificationEvent",
      "properties": {
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomTargetSkaffoldActions": {
      "description": "CustomTargetSkaffoldActions represents the `CustomTargetType` configuration using Skaffold custom actions.",
      "id": "CustomTargetSkaffoldActions",
      "properties": {
        "deployAction": {
          "description": "Required. The Skaffold custom action responsible for deploy operations.",
          "type": "string"
        },
        "includeSkaffoldModules": {
          "description": "Optional. List of Skaffold modules Cloud Deploy will include in the Skaffold Config as required before performing diagnose.",
          "items": {
            "$ref": "SkaffoldModules"
          },
          "type": "array"
        },
        "renderAction": {
          "description": "Optional. The Skaffold custom action responsible for render operations. If not provided then Cloud Deploy will perform the render operations via `skaffold render`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Verify": {
      "type": "object",
      "description": "Verify contains the verify job configuration information.",
      "id": "Verify",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the verify job. The tasks are executed sequentially in the order specified."
        }
      }
    },
    "SkaffoldGitSource": {
      "type": "object",
      "description": "Git repository containing Skaffold Config modules.",
      "id": "SkaffoldGitSource",
      "properties": {
        "ref": {
          "description": "Optional. Git branch or tag to use when cloning the repository.",
          "type": "string"
        },
        "repo": {
          "description": "Required. Git repository the package should be cloned from.",
          "type": "string"
        },
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold file.",
          "type": "string"
        }
      }
    },
    "Analysis": {
      "type": "object",
      "description": "Analysis contains the configuration for the set of analyses to be performed on the target.",
      "id": "Analysis",
      "properties": {
        "customChecks": {
          "type": "array",
          "items": {
            "$ref": "CustomCheck"
          },
          "description": "Optional. Custom analysis checks from 3P metric providers."
        },
        "duration": {
          "description": "Required. The amount of time in minutes the analysis on the target will last. If all analysis checks have successfully completed before the specified duration, the analysis is successful. If a check is still running while the specified duration passes, it will wait for that check to complete to determine if the analysis is successful. The maximum duration is 48 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "googleCloud": {
          "description": "Optional. Google Cloud - based analysis checks.",
          "$ref": "GoogleCloudAnalysis"
        }
      }
    },
    "DefaultPool": {
      "description": "Execution using the default Cloud Build pool.",
      "id": "DefaultPool",
      "properties": {
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PhaseArtifact": {
      "id": "PhaseArtifact",
      "properties": {
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI."
        },
        "jobManifestsPath": {
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "type": "object"
    },
    "CustomTargetDeployMetadata": {
      "description": "CustomTargetDeployMetadata contains information from a Custom Target deploy operation.",
      "id": "CustomTargetDeployMetadata",
      "properties": {
        "skipMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Skip message provided in the results of a custom deploy operation."
        }
      },
      "type": "object"
    },
    "RouteDestinations": {
      "description": "Information about route destinations for the Gateway API service mesh.",
      "id": "RouteDestinations",
      "properties": {
        "propagateService": {
          "description": "Optional. Whether to propagate the Kubernetes Service to the route destination clusters. The Service will always be deployed to the Target cluster even if the HTTPRoute is not. This option may be used to facilitate successful DNS lookup in the route destination clusters. Can only be set to true if destinations are specified.",
          "type": "boolean"
        },
        "destinationIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The clusters where the Gateway API HTTPRoute resource will be deployed to. Valid entries include the associated entities IDs configured in the Target resource and \"@self\" to include the Target cluster.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "VerifyJobRunMetadata": {
      "description": "VerifyJobRunMetadata contains metadata about the verify `JobRun`.",
      "id": "VerifyJobRunMetadata",
      "properties": {
        "custom": {
          "readOnly": true,
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined verify operation."
        }
      },
      "type": "object"
    },
    "TimeWindows": {
      "id": "TimeWindows",
      "properties": {
        "timeZone": {
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York).",
          "type": "string"
        },
        "weeklyWindows": {
          "type": "array",
          "items": {
            "$ref": "WeeklyWindow"
          },
          "description": "Optional. Recurring weekly windows within which actions are restricted."
        },
        "oneTimeWindows": {
          "items": {
            "$ref": "OneTimeWindow"
          },
          "description": "Optional. One-time windows within which actions are restricted.",
          "type": "array"
        }
      },
      "description": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times.",
      "type": "object"
    },
    "AutomationRun": {
      "type": "object",
      "description": "An `AutomationRun` resource in the Cloud Deploy API. An `AutomationRun` represents an execution instance of an automation rule.",
      "id": "AutomationRun",
      "properties": {
        "ruleId": {
          "description": "Output only. The ID of the automation rule that initiated the operation.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "automationSnapshot": {
          "readOnly": true,
          "$ref": "Automation",
          "description": "Output only. Snapshot of the Automation taken at AutomationRun creation time."
        },
        "waitUntilTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Earliest time the `AutomationRun` will attempt to resume. Wait-time is configured by `wait` in automation rule.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING",
            "ABORTED"
          ],
          "enumDescriptions": [
            "The `AutomationRun` has an unspecified state.",
            "The `AutomationRun` has succeeded.",
            "The `AutomationRun` was cancelled.",
            "The `AutomationRun` has failed.",
            "The `AutomationRun` is in progress.",
            "The `AutomationRun` is pending.",
            "The `AutomationRun` was aborted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the `AutomationRun`."
        },
        "targetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the source target that initiates the `AutomationRun`. The value of this field is the last segment of a target name."
        },
        "createTime": {
          "description": "Output only. Time at which the `AutomationRun` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the automationRun was updated."
        },
        "automationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the automation that initiated the operation."
        },
        "repairRolloutOperation": {
          "description": "Output only. Repairs a failed 'Rollout'.",
          "readOnly": true,
          "$ref": "RepairRolloutOperation"
        },
        "stateDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Explains the current state of the `AutomationRun`. Present only when an explanation is needed."
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the `AutomationRun` expires. An `AutomationRun` expires after 14 days from its creation date.",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "Output only. Email address of the user-managed IAM service account that performs the operations against Cloud Deploy resources.",
          "readOnly": true,
          "type": "string"
        },
        "policyViolation": {
          "description": "Output only. Contains information about what policies prevented the `AutomationRun` from proceeding.",
          "readOnly": true,
          "$ref": "PolicyViolation"
        },
        "promoteReleaseOperation": {
          "description": "Output only. Promotes a release to a specified 'Target'.",
          "readOnly": true,
          "$ref": "PromoteReleaseOperation"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The weak etag of the `AutomationRun` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "advanceRolloutOperation": {
          "readOnly": true,
          "$ref": "AdvanceRolloutOperation",
          "description": "Output only. Advances a rollout to the next phase."
        },
        "name": {
          "description": "Output only. Name of the `AutomationRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automationRuns/{automation_run}`.",
          "readOnly": true,
          "type": "string"
        },
        "timedPromoteReleaseOperation": {
          "description": "Output only. Promotes a release to a specified 'Target' as defined in a Timed Promote Release rule.",
          "readOnly": true,
          "$ref": "TimedPromoteReleaseOperation"
        }
      }
    },
    "DeployParameters": {
      "type": "object",
      "id": "DeployParameters",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Values are deploy parameters in key-value pairs."
        },
        "matchTargetLabels": {
          "description": "Optional. Deploy parameters are applied to targets with match labels. If unspecified, deploy parameters are applied to all targets (including child targets of a multi-target).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "DeployParameters contains deploy parameters information."
    },
    "AutomationEvent": {
      "type": "object",
      "id": "AutomationEvent",
      "properties": {
        "message": {
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "automation": {
          "description": "The name of the `AutomationRun`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation\" Platform Log event that describes the Automation related events."
    },
    "TargetAttribute": {
      "description": "Contains criteria for selecting Targets. This could be used to select targets for a Deploy Policy or for an Automation.",
      "id": "TargetAttribute",
      "properties": {
        "id": {
          "description": "Optional. ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name * \"*\", all targets in a location",
          "type": "string"
        },
        "labels": {
          "description": "Target labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "PredeployJobRun": {
      "id": "PredeployJobRun",
      "properties": {
        "metadata": {
          "description": "Output only. Metadata containing information about the predeploy `JobRun`.",
          "readOnly": true,
          "$ref": "PredeployJobRunMetadata"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the predeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the predeploy failure, if available."
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The predeploy operation did not complete successfully; check Cloud Build logs.",
            "The predeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "description": "Output only. The reason the predeploy failed. This will always be unspecified while the predeploy is in progress or if it succeeded.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "PredeployJobRun contains information specific to a predeploy `JobRun`.",
      "type": "object"
    },
    "AnalysisJob": {
      "description": "An analysis Job.",
      "id": "AnalysisJob",
      "properties": {
        "duration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The amount of time in minutes the analysis Job will run, up to a maximum of 48 hours. If any check in this Job is still running when the duration ends, the Job keeps running until that check completes.",
          "format": "google-duration"
        },
        "googleCloud": {
          "readOnly": true,
          "$ref": "GoogleCloudAnalysis",
          "description": "Output only. Google Cloud - based analysis checks that are run as part of the analysis Job."
        },
        "customChecks": {
          "description": "Output only. Custom analysis checks from 3P metric providers that are run as part of the analysis Job.",
          "items": {
            "$ref": "CustomCheck"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "TargetArtifact": {
      "description": "The artifacts produced by a target render operation.",
      "id": "TargetArtifact",
      "properties": {
        "manifestPath": {
          "description": "Output only. File path of the rendered manifest relative to the URI for the stable phase.",
          "readOnly": true,
          "type": "string"
        },
        "skaffoldConfigPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File path of the resolved Skaffold configuration for the stable phase, relative to the URI."
        },
        "artifactUri": {
          "description": "Output only. URI of a directory containing the artifacts. This contains deployment configuration used by Skaffold during a rollout, and all paths are relative to this location.",
          "readOnly": true,
          "type": "string"
        },
        "phaseArtifacts": {
          "description": "Output only. Map from the phase ID to the phase artifacts for the `Target`.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "PhaseArtifact"
          }
        }
      },
      "type": "object"
    },
    "Automation": {
      "id": "Automation",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Required. List of Automation rules associated with the Automation resource. Must have at least one rule and limited to 250 rules per Delivery Pipeline. Note: the order of the rules here is not the same as the order of execution.",
          "items": {
            "$ref": "AutomationRule"
          }
        },
        "suspended": {
          "description": "Optional. When Suspended, automation is deactivated from execution.",
          "type": "boolean"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `Automation`."
        },
        "serviceAccount": {
          "description": "Required. Email address of the user-managed IAM service account that creates Cloud Deploy release and rollout resources.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the `Automation`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{delivery_pipeline}/automations/{automation}`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the `Automation`. Max length is 255 characters.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The weak etag of the `Automation` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "selector": {
          "description": "Required. Selected resources to which the automation will be applied.",
          "$ref": "AutomationResourceSelector"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the automation was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time at which the automation was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 63 characters."
        }
      },
      "description": "An `Automation` resource in the Cloud Deploy API. An `Automation` enables the automation of manually driven actions for a Delivery Pipeline, which includes Release promotion among Targets, Rollout repair and Rollout deployment strategy advancement. The intention of Automation is to reduce manual intervention in the continuous delivery process.",
      "type": "object"
    },
    "PostdeployJobRunMetadata": {
      "id": "PostdeployJobRunMetadata",
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined postdeploy operation.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        }
      },
      "description": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`.",
      "type": "object"
    },
    "CloudRunLocation": {
      "description": "Information specifying where to deploy a Cloud Run Service.",
      "id": "CloudRunLocation",
      "properties": {
        "location": {
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      }
    },
    "TargetsPresentCondition": {
      "id": "TargetsPresentCondition",
      "properties": {
        "status": {
          "description": "True if there aren't any missing Targets.",
          "type": "boolean"
        },
        "missingTargets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of Target names that do not exist. For example, `projects/{project_id}/locations/{location_name}/targets/{target_name}`."
        },
        "updateTime": {
          "type": "string",
          "description": "Last time the condition was updated.",
          "format": "google-datetime"
        }
      },
      "description": "`TargetsPresentCondition` contains information on any Targets referenced in the Delivery Pipeline that do not actually exist.",
      "type": "object"
    },
    "Config": {
      "id": "Config",
      "properties": {
        "name": {
          "description": "Name of the configuration.",
          "type": "string"
        },
        "defaultSkaffoldVersion": {
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version.",
          "type": "string"
        },
        "defaultToolVersions": {
          "description": "Output only. Default tool versions. These tool versions are assigned when a Release is created without specifying tool versions.",
          "readOnly": true,
          "$ref": "ToolVersions"
        },
        "supportedVersions": {
          "type": "array",
          "items": {
            "$ref": "SkaffoldVersion"
          },
          "description": "All supported versions of Skaffold."
        }
      },
      "description": "Service-wide configuration.",
      "type": "object"
    },
    "DeploymentJobs": {
      "description": "Deployment job composition.",
      "id": "DeploymentJobs",
      "properties": {
        "verifyJob": {
          "description": "Output only. The verify Job. Runs after a deploy if the deploy succeeds.",
          "readOnly": true,
          "$ref": "Job"
        },
        "predeployJob": {
          "readOnly": true,
          "$ref": "Job",
          "description": "Output only. The predeploy Job, which is the first job on the phase."
        },
        "deployJob": {
          "description": "Output only. The deploy Job. This is the deploy job in the phase.",
          "readOnly": true,
          "$ref": "Job"
        },
        "analysisJob": {
          "description": "Output only. The analysis Job. Runs after a verify if there is a verify job and the verify job succeeds.",
          "readOnly": true,
          "$ref": "Job"
        },
        "postdeployJob": {
          "readOnly": true,
          "$ref": "Job",
          "description": "Output only. The postdeploy Job, which is the last job on the phase."
        }
      },
      "type": "object"
    },
    "AdvanceRolloutRequest": {
      "id": "AdvanceRolloutRequest",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID to advance the `Rollout` to.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "type": "array"
        }
      },
      "description": "The request object used by `AdvanceRollout`.",
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "CustomMetadata": {
      "type": "object",
      "description": "CustomMetadata contains information from a user-defined operation.",
      "id": "CustomMetadata",
      "properties": {
        "values": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Key-value pairs provided by the user-defined operation."
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PolicyViolationDetails": {
      "description": "Policy violation details.",
      "id": "PolicyViolationDetails",
      "properties": {
        "failureMessage": {
          "description": "User readable message about why the request violated a policy. This is not intended for machine parsing.",
          "type": "string"
        },
        "policy": {
          "description": "Name of the policy that was violated. Policy resource will be in the format of `projects/{project}/locations/{location}/policies/{policy}`.",
          "type": "string"
        },
        "ruleId": {
          "description": "Id of the rule that triggered the policy violation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnalysisJobRun": {
      "type": "object",
      "id": "AnalysisJobRun",
      "properties": {
        "customCheckAnalyses": {
          "items": {
            "$ref": "CustomCheckStatus"
          },
          "description": "Output only. The status of the running custom checks configured for this analysis.",
          "readOnly": true,
          "type": "array"
        },
        "failedCheckId": {
          "description": "Output only. The ID of the configured check that failed. This will always be blank while the analysis is in progress or if it succeeded.",
          "readOnly": true,
          "type": "string"
        },
        "alertPolicyAnalyses": {
          "description": "Output only. The status of the running alert policy checks configured for this analysis.",
          "items": {
            "$ref": "AlertPolicyCheckStatus"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "AnalysisJobRun contains information specific to an analysis `JobRun`."
    },
    "PrivatePool": {
      "type": "object",
      "id": "PrivatePool",
      "properties": {
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      },
      "description": "Execution using a private Cloud Build pool."
    },
    "FailedAlertPolicy": {
      "id": "FailedAlertPolicy",
      "properties": {
        "alertPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the alert policy that was found to be firing. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`."
        },
        "alerts": {
          "description": "Output only. Open alerts for the alerting policies that matched the alert policy check configuration.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "FailedAlertPolicy contains information about an alert policy that was found to be firing during an alert policy check.",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      }
    },
    "GkeCluster": {
      "type": "object",
      "id": "GkeCluster",
      "properties": {
        "internalIp": {
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept). Note that `internal_ip` and `dns_endpoint` cannot both be set to true.",
          "type": "boolean"
        },
        "cluster": {
          "description": "Optional. Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`.",
          "type": "string"
        },
        "dnsEndpoint": {
          "description": "Optional. If set, the cluster will be accessed using the DNS endpoint. Note that both `dns_endpoint` and `internal_ip` cannot be set to true.",
          "type": "boolean"
        },
        "proxyUrl": {
          "description": "Optional. If set, used to configure a [proxy](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#proxy) to the Kubernetes server.",
          "type": "string"
        }
      },
      "description": "Information specifying a GKE Cluster."
    },
    "CustomTarget": {
      "type": "object",
      "id": "CustomTarget",
      "properties": {
        "customTargetType": {
          "description": "Required. The name of the CustomTargetType. Format must be `projects/{project}/locations/{location}/customTargetTypes/{custom_target_type}`.",
          "type": "string"
        }
      },
      "description": "Information specifying a Custom Target."
    },
    "TargetRender": {
      "id": "TargetRender",
      "properties": {
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The render operation did not complete successfully because the verification stanza required for verify was not found on the Skaffold configuration.",
            "The render operation did not complete successfully because the custom action(s) required for Rollout jobs were not found in the Skaffold configuration. See failure_message for additional details.",
            "Release failed during rendering because the release configuration is not supported with the specified deployment strategy.",
            "The render operation had a feature configured that is not supported."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CUSTOM_ACTION_NOT_FOUND",
            "DEPLOYMENT_STRATEGY_NOT_SUPPORTED",
            "RENDER_FEATURE_NOT_SUPPORTED"
          ],
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "readOnly": true,
          "type": "string"
        },
        "renderingState": {
          "description": "Output only. Current state of the render operation for this Target.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the render failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata related to the `Release` render for this Target.",
          "readOnly": true,
          "$ref": "RenderMetadata"
        }
      },
      "description": "Details of rendering for a single target.",
      "type": "object"
    },
    "RepairPhase": {
      "description": "RepairPhase tracks the repair attempts that have been made for each `RepairPhaseConfig` specified in the `Automation` resource.",
      "id": "RepairPhase",
      "properties": {
        "retry": {
          "description": "Output only. Records of the retry attempts for retry repair mode.",
          "readOnly": true,
          "$ref": "RetryPhase"
        },
        "rollback": {
          "description": "Output only. Rollback attempt for rollback repair mode .",
          "readOnly": true,
          "$ref": "RollbackAttempt"
        }
      },
      "type": "object"
    },
    "ListDeliveryPipelinesResponse": {
      "description": "The response object from `ListDeliveryPipelines`.",
      "id": "ListDeliveryPipelinesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deliveryPipelines": {
          "type": "array",
          "description": "The `DeliveryPipeline` objects.",
          "items": {
            "$ref": "DeliveryPipeline"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PromoteReleaseOperation": {
      "description": "Contains the information of an automated promote-release operation.",
      "id": "PromoteReleaseOperation",
      "properties": {
        "phase": {
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true,
          "type": "string"
        },
        "wait": {
          "format": "google-duration",
          "description": "Output only. How long the operation will be paused.",
          "readOnly": true,
          "type": "string"
        },
        "targetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name."
        },
        "rollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`."
        }
      },
      "type": "object"
    },
    "CreateChildRolloutJob": {
      "description": "A createChildRollout Job.",
      "id": "CreateChildRolloutJob",
      "properties": {},
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "RollbackTargetConfig": {
      "type": "object",
      "id": "RollbackTargetConfig",
      "properties": {
        "rollout": {
          "description": "Optional. The rollback `Rollout` to create.",
          "$ref": "Rollout"
        },
        "startingPhaseId": {
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase.",
          "type": "string"
        }
      },
      "description": "Configs for the Rollback rollout."
    },
    "DeliveryPipeline": {
      "type": "object",
      "description": "A `DeliveryPipeline` resource in the Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress.",
      "id": "DeliveryPipeline",
      "properties": {
        "condition": {
          "readOnly": true,
          "$ref": "PipelineCondition",
          "description": "Output only. Information around the state of the Delivery Pipeline."
        },
        "suspended": {
          "description": "Optional. When suspended, no new releases or rollouts can be created, but in-progress ones will complete.",
          "type": "boolean"
        },
        "serialPipeline": {
          "description": "Optional. SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
          "$ref": "SerialPipeline"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `DeliveryPipeline`.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the `DeliveryPipeline`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}`. The `deliveryPipeline` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the `DeliveryPipeline`. Max length is 255 characters.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the pipeline was created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the pipeline was updated."
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AdvanceRolloutResponse": {
      "type": "object",
      "description": "The response object from `AdvanceRollout`.",
      "id": "AdvanceRolloutResponse",
      "properties": {}
    },
    "Predeploy": {
      "description": "Predeploy contains the predeploy job configuration information.",
      "id": "Predeploy",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the predeploy job.",
          "type": "array"
        },
        "tasks": {
          "description": "Optional. The tasks that will run as a part of the predeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified.",
          "items": {
            "$ref": "Task"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RenderMetadata": {
      "type": "object",
      "description": "RenderMetadata includes information associated with a `Release` render.",
      "id": "RenderMetadata",
      "properties": {
        "cloudRun": {
          "readOnly": true,
          "$ref": "CloudRunRenderMetadata",
          "description": "Output only. Metadata associated with rendering for Cloud Run."
        },
        "kubernetes": {
          "readOnly": true,
          "$ref": "KubernetesRenderMetadata",
          "description": "Output only. Metadata associated with rendering for a Kubernetes cluster (GKE or GKE Enterprise target)."
        },
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined render operation.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        }
      }
    },
    "CancelAutomationRunResponse": {
      "type": "object",
      "id": "CancelAutomationRunResponse",
      "properties": {},
      "description": "The response object from `CancelAutomationRun`."
    },
    "AbandonReleaseRequest": {
      "type": "object",
      "description": "The request object used by `AbandonRelease`.",
      "id": "AbandonReleaseRequest",
      "properties": {}
    },
    "Job": {
      "type": "object",
      "id": "Job",
      "properties": {
        "predeployJob": {
          "description": "Output only. A predeploy Job.",
          "readOnly": true,
          "$ref": "PredeployJob"
        },
        "advanceChildRolloutJob": {
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJob",
          "description": "Output only. An advanceChildRollout Job."
        },
        "analysisJob": {
          "description": "Output only. An analysis Job.",
          "readOnly": true,
          "$ref": "AnalysisJob"
        },
        "createChildRolloutJob": {
          "description": "Output only. A createChildRollout Job.",
          "readOnly": true,
          "$ref": "CreateChildRolloutJob"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Job."
        },
        "skipMessage": {
          "description": "Output only. Additional information on why the Job was skipped, if available.",
          "readOnly": true,
          "type": "string"
        },
        "jobRun": {
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true,
          "type": "string"
        },
        "deployJob": {
          "description": "Output only. A deploy Job.",
          "readOnly": true,
          "$ref": "DeployJob"
        },
        "verifyJob": {
          "readOnly": true,
          "$ref": "VerifyJob",
          "description": "Output only. A verify Job."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "IGNORED"
          ],
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted.",
            "The Job was skipped.",
            "The Job was ignored."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the Job."
        },
        "postdeployJob": {
          "readOnly": true,
          "$ref": "PostdeployJob",
          "description": "Output only. A postdeploy Job."
        }
      },
      "description": "Job represents an operation for a `Rollout`."
    },
    "ToolVersionSupportedCondition": {
      "id": "ToolVersionSupportedCondition",
      "properties": {
        "toolVersionSupportState": {
          "description": "Output only. The tool support state for this release's version of the tool.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This tool version is currently supported.",
            "This tool version is in maintenance mode.",
            "This tool version is no longer supported."
          ],
          "enum": [
            "TOOL_VERSION_SUPPORT_STATE_UNSPECIFIED",
            "TOOL_VERSION_SUPPORT_STATE_SUPPORTED",
            "TOOL_VERSION_SUPPORT_STATE_MAINTENANCE_MODE",
            "TOOL_VERSION_SUPPORT_STATE_UNSUPPORTED"
          ]
        },
        "supportExpirationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this release's version of the tool will no longer be supported."
        },
        "maintenanceModeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this release's version of the tool will enter maintenance mode.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Output only. True if the version of Tool used by this release is supported.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "ToolVersionSupportedCondition contains information about when support for the release's version of a tool ends.",
      "type": "object"
    },
    "CanaryDeployment": {
      "type": "object",
      "id": "CanaryDeployment",
      "properties": {
        "percentages": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Required. The percentage based deployments that will occur as a part of a `Rollout`. List is expected in ascending order and each integer n is 0 <= n < 100. If the GatewayServiceMesh is configured for Kubernetes, then the range for n is 0 <= n <= 100."
        },
        "predeploy": {
          "description": "Optional. Configuration for the predeploy job of the first phase. If this is not configured, there will be no predeploy job for this phase.",
          "$ref": "Predeploy"
        },
        "postdeploy": {
          "description": "Optional. Configuration for the postdeploy job of the last phase. If this is not configured, there will be no postdeploy job for this phase.",
          "$ref": "Postdeploy"
        },
        "verify": {
          "description": "Optional. Whether to run verify tests after each percentage deployment via `skaffold verify`.",
          "type": "boolean"
        },
        "analysis": {
          "description": "Optional. Configuration for the analysis job. If configured, the analysis will run after each percentage deployment.",
          "$ref": "Analysis"
        },
        "verifyConfig": {
          "description": "Optional. Configuration for the verify job. Cannot be set if `verify` is set to true.",
          "$ref": "Verify"
        }
      },
      "description": "CanaryDeployment represents the canary deployment configuration"
    },
    "AlertPolicyCheckStatus": {
      "type": "object",
      "id": "AlertPolicyCheckStatus",
      "properties": {
        "failedAlertPolicies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The alert policies that were found to be firing during this check. This will be empty if no incidents were found.",
          "items": {
            "$ref": "FailedAlertPolicy"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this analysis."
        },
        "alertPolicies": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The alert policies that this analysis monitors. Format is `projects/{project}/locations/{location}/alertPolicies/{alertPolicy}`.",
          "readOnly": true,
          "type": "array"
        },
        "failureMessage": {
          "description": "Output only. Additional information about the alert policy check failure, if available. This will be empty if the alert policy check succeeded.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Output only. The resolved labels used to filter for specific incidents.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "AlertPolicyCheckStatus contains information specific to a single run of an alert policy check."
    },
    "CustomCheck": {
      "type": "object",
      "id": "CustomCheck",
      "properties": {
        "id": {
          "description": "Required. The ID of the custom Analysis check.",
          "type": "string"
        },
        "task": {
          "description": "Required. The Task to be run for this custom check.",
          "$ref": "Task"
        },
        "frequency": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The frequency at which the custom check will be run, with a minimum and default of 5 minutes."
        }
      },
      "description": "CustomCheck configures a third-party metric provider to run the analysis, via a Task that runs at a specified frequency."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "RolloutUpdateEvent": {
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_update\" Platform Log event that describes the rollout update event.",
      "id": "RolloutUpdateEvent",
      "properties": {
        "pipelineUid": {
          "description": "Unique identifier of the pipeline.",
          "type": "string"
        },
        "rolloutUpdateType": {
          "type": "string",
          "enum": [
            "ROLLOUT_UPDATE_TYPE_UNSPECIFIED",
            "PENDING",
            "PENDING_RELEASE",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "HALTED",
            "SUCCEEDED",
            "FAILED",
            "APPROVAL_REQUIRED",
            "APPROVED",
            "REJECTED",
            "ADVANCE_REQUIRED",
            "ADVANCED"
          ],
          "description": "The type of the rollout update.",
          "enumDescriptions": [
            "Rollout update type unspecified.",
            "Rollout state updated to pending (release has succeeded, waiting on the rollout to start).",
            "Rollout state updated to pending release.",
            "Rollout state updated to in progress.",
            "Rollout state updated to cancelling.",
            "Rollout state updated to cancelled.",
            "Rollout state updated to halted.",
            "Rollout state updated to succeeded.",
            "Rollout state updated to failed.",
            "Rollout requires approval.",
            "Rollout has been approved.",
            "Rollout has been rejected.",
            "Rollout requires advance to the next phase.",
            "Rollout has been advanced."
          ]
        },
        "rollout": {
          "description": "The name of the rollout. rollout_uid is not in this log message because we write some of these log messages at rollout creation time, before we've generated the uid.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the release.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a rollout update event occurs.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the target.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of this notification, e.g. for a rollout update event.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        }
      }
    },
    "ListCustomTargetTypesResponse": {
      "description": "The response object from `ListCustomTargetTypes.`",
      "id": "ListCustomTargetTypesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customTargetTypes": {
          "type": "array",
          "description": "The `CustomTargetType` objects.",
          "items": {
            "$ref": "CustomTargetType"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "RetryJobResponse": {
      "id": "RetryJobResponse",
      "properties": {},
      "description": "The response object from 'RetryJob'.",
      "type": "object"
    },
    "AutomationRolloutMetadata": {
      "type": "object",
      "id": "AutomationRolloutMetadata",
      "properties": {
        "promoteAutomationRun": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the AutomationRun initiated by a promote release rule."
        },
        "advanceAutomationRuns": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the AutomationRuns initiated by an advance rollout rule.",
          "readOnly": true,
          "type": "array"
        },
        "repairAutomationRuns": {
          "description": "Output only. The names of the AutomationRuns initiated by a repair rollout rule.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "AutomationRolloutMetadata contains Automation-related actions that were performed on a rollout."
    },
    "RetryJobRequest": {
      "id": "RetryJobRequest",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to retry belongs to.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          }
        },
        "jobId": {
          "description": "Required. The job ID for the Job to retry.",
          "type": "string"
        }
      },
      "description": "RetryJobRequest is the request object used by `RetryJob`.",
      "type": "object"
    },
    "TerminateJobRunResponse": {
      "type": "object",
      "id": "TerminateJobRunResponse",
      "properties": {},
      "description": "The response object from `TerminateJobRun`."
    },
    "Targets": {
      "id": "Targets",
      "properties": {
        "sourceTargetId": {
          "description": "Optional. The source target ID.",
          "type": "string"
        },
        "destinationTargetId": {
          "description": "Optional. The destination target ID.",
          "type": "string"
        }
      },
      "description": "The targets involved in a single timed promotion.",
      "type": "object"
    },
    "CustomCanaryDeployment": {
      "type": "object",
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration.",
      "id": "CustomCanaryDeployment",
      "properties": {
        "phaseConfigs": {
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "items": {
            "$ref": "PhaseConfig"
          },
          "type": "array"
        }
      }
    },
    "ListTargetsResponse": {
      "description": "The response object from `ListTargets`.",
      "id": "ListTargetsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "The `Target` objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Postdeploy": {
      "id": "Postdeploy",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the postdeploy job.",
          "type": "array"
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the postdeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified."
        }
      },
      "description": "Postdeploy contains the postdeploy job configuration information.",
      "type": "object"
    },
    "IgnoreJobResponse": {
      "description": "The response object from `IgnoreJob`.",
      "id": "IgnoreJobResponse",
      "properties": {},
      "type": "object"
    },
    "Phase": {
      "type": "object",
      "id": "Phase",
      "properties": {
        "id": {
          "description": "Output only. The ID of the Phase.",
          "readOnly": true,
          "type": "string"
        },
        "skipMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information on why the Phase was skipped, if available."
        },
        "childRolloutJobs": {
          "readOnly": true,
          "$ref": "ChildRolloutJobs",
          "description": "Output only. ChildRollout job composition."
        },
        "state": {
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted.",
            "The Phase was skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED"
          ],
          "description": "Output only. Current state of the Phase.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentJobs": {
          "readOnly": true,
          "$ref": "DeploymentJobs",
          "description": "Output only. Deployment job composition."
        }
      },
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`."
    },
    "DeployJobRun": {
      "description": "DeployJobRun contains information specific to a deploy `JobRun`.",
      "id": "DeployJobRun",
      "properties": {
        "artifact": {
          "readOnly": true,
          "$ref": "DeployArtifact",
          "description": "Output only. The artifact of a deploy job run, if available."
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the deploy job run.",
          "readOnly": true,
          "$ref": "DeployJobRunMetadata"
        },
        "failureMessage": {
          "description": "Output only. Additional information about the deploy failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason the deploy failed. This will always be unspecified while the deploy is in progress or if it succeeded.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "MISSING_RESOURCES_FOR_CANARY",
            "CLOUD_BUILD_REQUEST_FAILED",
            "DEPLOY_FEATURE_NOT_SUPPORTED"
          ],
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [Required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "The deploy job run did not complete within the allotted time.",
            "There were missing resources in the runtime environment required for a canary deployment. Check the Cloud Build logs for more information.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "The deploy operation had a feature configured that is not supported."
          ]
        }
      },
      "type": "object"
    },
    "DeployArtifact": {
      "type": "object",
      "description": "The artifacts produced by a deploy operation.",
[...]
