{
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "servicePath": "",
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.readonly": {
          "description": "Read Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "cloudtrace",
  "resources": {
    "projects": {
      "methods": {
        "patchTraces": {
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. ID of the Cloud project where the trace data is stored.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/trace.append"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1/projects/{projectId}/traces",
          "response": {
            "$ref": "Empty"
          },
          "id": "cloudtrace.projects.patchTraces",
          "description": "Sends trace spans to Cloud Trace. Spans cannot be updated. If the trace ID and span ID already exist, an additional copy of the span will be stored.",
          "request": {
            "$ref": "Traces"
          },
          "path": "v1/projects/{projectId}/traces"
        }
      },
      "resources": {
        "traces": {
          "methods": {
            "list": {
              "description": "Returns a list of traces that match the specified filter conditions.",
              "path": "v1/projects/{projectId}/traces",
              "flatPath": "v1/projects/{projectId}/traces",
              "response": {
                "$ref": "ListTracesResponse"
              },
              "id": "cloudtrace.projects.traces.list",
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the Cloud project where the trace data is stored.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "enumDescriptions": [
                    "Default is `MINIMAL` if unspecified.",
                    "Minimal view of the trace record that contains only the project and trace IDs.",
                    "Root span view of the trace record that returns the root spans along with the minimal trace data.",
                    "Complete view of the trace record that contains the actual trace data. This is equivalent to calling the REST `get` or RPC `GetTrace` method using the ID of each listed trace."
                  ],
                  "type": "string",
                  "description": "Optional. Type of data returned for traces in the list. Default is `MINIMAL`.",
                  "enum": [
                    "VIEW_TYPE_UNSPECIFIED",
                    "MINIMAL",
                    "ROOTSPAN",
                    "COMPLETE"
                  ],
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Maximum number of traces to return. If not specified or <= 0, the implementation selects a reasonable value. The implementation may return fewer traces than the requested page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "endTime": {
                  "location": "query",
                  "description": "End of the time interval (inclusive) during which the trace data was collected from the application.",
                  "format": "google-datetime",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter against properties of the trace. See [filter syntax documentation](https://cloud.google.com/trace/docs/trace-filters) for details.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token identifying the page of results to return. If provided, use the value of the `next_page_token` field from a previous request.",
                  "location": "query"
                },
                "startTime": {
                  "type": "string",
                  "description": "Start of the time interval (inclusive) during which the trace data was collected from the application.",
                  "format": "google-datetime",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Field used to sort the returned traces. Can be one of the following: * `trace_id` * `name` (`name` field of root span in the trace) * `duration` (difference between `end_time` and `start_time` fields of the root span) * `start` (`start_time` field of the root span) Descending order can be specified by appending `desc` to the sort field (for example, `name desc`). Only one sort field is permitted.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ]
            },
            "get": {
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the Cloud project where the trace data is stored.",
                  "required": true,
                  "type": "string"
                },
                "traceId": {
                  "location": "path",
                  "description": "Required. ID of the trace to return.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "traceId"
              ],
              "id": "cloudtrace.projects.traces.get",
              "flatPath": "v1/projects/{projectId}/traces/{traceId}",
              "response": {
                "$ref": "Trace"
              },
              "path": "v1/projects/{projectId}/traces/{traceId}",
              "description": "Gets a single trace by its ID."
            }
          }
        }
      }
    }
  },
  "id": "cloudtrace:v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Trace",
  "revision": "20260410",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/trace/",
  "protocol": "rest",
  "version_module": true,
  "title": "Cloud Trace API",
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "parameters": {
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "version": "v1",
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry. ",
  "schemas": {
    "Traces": {
      "id": "Traces",
      "properties": {
        "traces": {
          "type": "array",
          "items": {
            "$ref": "Trace"
          },
          "description": "List of traces."
        }
      },
      "description": "List of new or updated traces.",
      "type": "object"
    },
    "Trace": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the Cloud project where the trace data is stored."
        },
        "traceId": {
          "type": "string",
          "description": "Globally unique identifier for the trace. This identifier is a 128-bit numeric value formatted as a 32-byte hex string. For example, `382d4f4c6b7bb2f4a972559d9085001d`. The numeric value should not be zero."
        },
        "spans": {
          "description": "Collection of spans in the trace.",
          "type": "array",
          "items": {
            "$ref": "TraceSpan"
          }
        }
      },
      "id": "Trace",
      "type": "object",
      "description": "A trace describes how long it takes for an application to perform an operation. It consists of a set of spans, each of which represent a single timed event within the operation."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ListTracesResponse": {
      "id": "ListTracesResponse",
      "properties": {
        "traces": {
          "type": "array",
          "items": {
            "$ref": "Trace"
          },
          "description": "List of trace records as specified by the view parameter."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If defined, indicates that there are more traces that match the request and that this value should be passed to the next request to continue retrieving additional traces."
        }
      },
      "description": "The response message for the `ListTraces` method.",
      "type": "object"
    },
    "TraceSpan": {
      "type": "object",
      "description": "A span represents a single timed event within a trace. Spans can be nested and form a trace tree. Often, a trace contains a root span that describes the end-to-end latency of an operation and, optionally, one or more subspans for its suboperations. Spans do not need to be contiguous. There may be gaps between spans in a trace.",
      "properties": {
        "kind": {
          "description": "Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `RPC_CLIENT` and `RPC_SERVER` to identify queueing latency associated with the span.",
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "RPC_SERVER",
            "RPC_CLIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request."
          ]
        },
        "name": {
          "description": "Name of the span. Must be less than 128 bytes. The span name is sanitized and displayed in the Trace tool in the Google Cloud Platform Console. The name may be a method name or some other per-call site name. For the same executable and the same call point, a best practice is to use a consistent name, which makes it easier to correlate cross-trace spans.",
          "type": "string"
        },
        "labels": {
          "description": "Collection of labels associated with the span. Label keys must be less than 128 bytes. Label values must be less than 16 KiB. Some keys might have predefined meaning, and you can also create your own. For more information, see [Cloud Trace labels](https://cloud.google.com/trace/docs/trace-labels).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "parentSpanId": {
          "description": "Optional. ID of the parent span, if any.",
          "format": "uint64",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Start time of the span in seconds and nanoseconds from the UNIX epoch.",
          "format": "google-datetime"
        },
        "spanId": {
          "description": "Identifier for the span. Must be a 64-bit integer other than 0 and unique within a trace. For example, `2205310701640571284`.",
          "format": "uint64",
          "type": "string"
        },
        "endTime": {
          "description": "End time of the span in seconds and nanoseconds from the UNIX epoch.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "TraceSpan"
    }
  }
}