{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Cloud Number Registry",
  "baseUrl": "https://cloudnumberregistry.googleapis.com/",
  "protocol": "rest",
  "id": "cloudnumberregistry:v1alpha",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "name": "cloudnumberregistry",
  "title": "Cloud Number Registry API",
  "servicePath": "",
  "basePath": "",
  "ownerName": "Google",
  "version": "v1alpha",
  "schemas": {
    "DisableIpamAdminScopeRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Message for disabling a IpamAdminScope",
      "id": "DisableIpamAdminScopeRequest",
      "type": "object"
    },
    "ListDiscoveredRangesResponse": {
      "id": "ListDiscoveredRangesResponse",
      "type": "object",
      "properties": {
        "discoveredRanges": {
          "type": "array",
          "items": {
            "$ref": "DiscoveredRange"
          },
          "description": "The list of DiscoveredRange"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Message for response to listing DiscoveredRanges"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "IpamAdminScopeAvailability": {
      "description": "Message for the availability of an IpamAdminScope",
      "properties": {
        "adminProject": {
          "type": "string",
          "description": "The admin project of the IpamAdminScope if it exists.",
          "format": "int64"
        },
        "availability": {
          "description": "The availability of the scope.",
          "enumDescriptions": [
            "Unspecified availability.",
            "The scope is available.",
            "The scope is not available."
          ],
          "type": "string",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "UNAVAILABLE"
          ]
        },
        "scope": {
          "type": "string",
          "description": "The scope of the IpamAdminScope."
        }
      },
      "id": "IpamAdminScopeAvailability",
      "type": "object"
    },
    "ListIpamAdminScopesResponse": {
      "description": "Message for response to listing ipamAdminScopes",
      "properties": {
        "ipamAdminScopes": {
          "type": "array",
          "items": {
            "$ref": "IpamAdminScope"
          },
          "description": "The list of IpamAdminScope"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListIpamAdminScopesResponse",
      "type": "object"
    },
    "DiscoveryMetadata": {
      "id": "DiscoveryMetadata",
      "type": "object",
      "description": "Discovery metadata of the discovered resource.",
      "properties": {
        "eventTime": {
          "description": "Output only. The time when the event happened.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "sourceSubId": {
          "description": "Output only. A single source resource can be the source of multiple CNR resources. This sub_id is used to distinguish between the different CNR resources derived from the same upstream resource. For example, a single subnetwork can be the source of multiple ranges, one for each protocol. In this case, the sub_id could be \"private-ipv4\" or \"private-ipv6\".",
          "type": "string",
          "readOnly": true
        },
        "resourceUri": {
          "description": "Output only. The resource uri of the discovered resource.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "type": "string",
          "enum": [
            "RESOURCE_STATE_UNSPECIFIED",
            "INVALID",
            "EXISTS",
            "DOES_NOT_EXIST",
            "ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The resource is in an invalid state.",
            "The resource exists in the backing store (is not tombstoned or completely missing) and there were no failures reading out the resource level metadata.",
            "Resource does not exist or has been deleted or soft-deleted.",
            "There was an error reading out the resource level metadata."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the resource was last modified.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the discovered resource, should be API-agnostic. Example: \"projects/{project_number}/networks/{network_id}\"."
        },
        "sourceId": {
          "description": "Output only. The canonical google.aip.dev/122 name of the source resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "RegistryBook": {
      "id": "RegistryBook",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. name of resource"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the RegistryBook is the default one."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "claimedScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of scopes claimed by the RegistryBook. In Preview, Only project scope is supported. Each scope is in the format of projects/{project}. Each scope can only be claimed once."
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "aggregatedData": {
          "readOnly": true,
          "$ref": "AggregatedData",
          "description": "Output only. Aggregated data for the RegistryBook. Populated only when the view is AGGREGATE."
        }
      },
      "description": "Message describing RegistryBook object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "SearchIpResourcesResponse": {
      "id": "SearchIpResourcesResponse",
      "type": "object",
      "properties": {
        "ranges": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Range"
          },
          "description": "Deprecated: Use results field instead. The list of ranges matching the search query."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "SearchIpResourcesResult"
          },
          "description": "The list of results matching the search query."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Message for response to searching IP resources"
    },
    "Range": {
      "id": "Range",
      "type": "object",
      "description": "Message describing either a CustomRange or a DiscoveredRange.",
      "properties": {
        "discoveredRange": {
          "$ref": "DiscoveredRange",
          "description": "A discovered range."
        },
        "utilization": {
          "$ref": "RangeUtilization",
          "description": "The utilization of the range."
        },
        "customRange": {
          "description": "A custom range.",
          "$ref": "CustomRange"
        }
      }
    },
    "FindDiscoveredRangeFreeIpRangesResponse": {
      "id": "FindDiscoveredRangeFreeIpRangesResponse",
      "type": "object",
      "properties": {
        "freeIpCidrRanges": {
          "description": "Output only. Free IP CIDR ranges found in the DiscoveredRange.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "Message for the response to finding free IP ranges."
    },
    "RangeUtilization": {
      "id": "RangeUtilization",
      "type": "object",
      "properties": {
        "totalConsumed": {
          "description": "Output only. The total number of IP addresses consumed in the range.",
          "readOnly": true,
          "type": "string"
        },
        "usage": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. The usage of the range as a percentage. This is marked as optional so that we have presence tracking and API responses show 0.0 instead of NULL."
        },
        "totalProduced": {
          "description": "Output only. The total number of IP addresses produced in the range.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Message for the utilization of an IP range"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "Realm": {
      "id": "Realm",
      "type": "object",
      "properties": {
        "trafficType": {
          "type": "string",
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "UNSET",
            "INTERNET",
            "PRIVATE",
            "LINKLOCAL"
          ],
          "description": "Required. Traffic type of realm.",
          "enumDescriptions": [
            "Unspecified traffic type.",
            "Unset traffic type.",
            "Internet traffic.",
            "Private traffic.",
            "Linklocal traffic."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Unique name/ID of the realm"
        },
        "managementType": {
          "enumDescriptions": [
            "Unspecified management type.",
            "Managed by Cloud Number Registry.",
            "Managed by User."
          ],
          "description": "Required. Management type of realm.",
          "type": "string",
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "CNR",
            "USER"
          ]
        },
        "ipVersion": {
          "type": "string",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "Optional. IP version of the realm.",
          "enumDescriptions": [
            "Unspecified IP version.",
            "IPv4 IP version.",
            "IPv6 IP version."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "readOnly": true
        },
        "registryBook": {
          "description": "Required. URI of the registry book that claims the realm.",
          "type": "string"
        },
        "discoveryMetadata": {
          "$ref": "DiscoveryMetadata",
          "readOnly": true,
          "description": "Output only. Discovery metadata of the realm."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "readOnly": true
        },
        "aggregatedData": {
          "description": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE.",
          "$ref": "RealmAggregatedData",
          "readOnly": true
        }
      },
      "description": "Message describing Realm object"
    },
    "ListCustomRangesResponse": {
      "description": "Message for response to listing CustomRanges",
      "properties": {
        "customRanges": {
          "type": "array",
          "items": {
            "$ref": "CustomRange"
          },
          "description": "The list of CustomRange"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCustomRangesResponse",
      "type": "object"
    },
    "AggregatedData": {
      "id": "AggregatedData",
      "type": "object",
      "properties": {
        "customRangesCount": {
          "description": "Output only. Number of custom ranges in the RegistryBook.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "discoveredRangesCount": {
          "description": "Output only. Number of discovered ranges in the RegistryBook.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "customRealmsCount": {
          "description": "Output only. Number of custom realms in the RegistryBook.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "discoveredRealmsCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of discovered realms in the RegistryBook."
        },
        "uniqueScopesCount": {
          "description": "Output only. Number of scopes unique to the RegistryBook.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Aggregated data for the RegistryBook."
    },
    "SearchIpResourcesRequest": {
      "description": "Message for searching IP resources",
      "properties": {
        "query": {
          "description": "Optional. Search query. This string filters resources in an AIP-160-like format. It has some limitations. You can only specify top level conjunctions or attribute level negations. Each restriction can only be used once except the attribute restriction. The available restrictions for ranges are: - `realm`: The realm name to search in. - `ip_address`: The IP address to search for within ranges. - `ip_version`: The IP version to filter by (e.g., \"IPV4\", \"IPV6\"). - `parent_range`: The parent range of the range to search for. - `attribute_text`: The attribute text to search for within ranges. - `attribute`: The attribute key and value to filter by. The available restrictions for realms are: - `ip_version`: The IP version to search for. Only one of attribute_text or multiple attribute filters can be specified. Examples: - `realm=test-realm` - `realm=test-realm AND ip_address=10.0.0.0` - `realm=test-realm AND ip_version=IPV6` - `realm=test-realm AND attribute_text=test` - `ip_address=10.0.0.0 AND attribute:(key1=value1) AND attribute:(key2=value2)` - `attribute_text=test AND parent_range=projects/123/locations/global/discoveredRanges/test-parent-range`",
          "type": "string"
        },
        "searchResourceTypes": {
          "description": "Optional. The type of resources to search for. If not specified, the server will return ranges.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_RESOURCE_TYPE_UNSPECIFIED",
              "RANGES",
              "REALMS"
            ],
            "enumDescriptions": [
              "Unspecified search type.",
              "Search for ranges.",
              "Search for realms."
            ]
          }
        },
        "orderBy": {
          "description": "Optional. Hint for how to order the results",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A token identifying a page of results the server should return.",
          "type": "string"
        },
        "showUtilization": {
          "type": "boolean",
          "description": "Optional. Whether to show the utilization of the ranges in the response."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
          "type": "integer"
        }
      },
      "id": "SearchIpResourcesRequest",
      "type": "object"
    },
    "RealmAggregatedData": {
      "id": "RealmAggregatedData",
      "type": "object",
      "description": "Aggregated data for the Realm.",
      "properties": {
        "discoveredRangesCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of discovered ranges in the Realm.",
          "format": "int32"
        },
        "customRangesCount": {
          "format": "int32",
          "description": "Output only. Number of custom ranges in the Realm.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "Attribute": {
      "id": "Attribute",
      "type": "object",
      "description": "Message describing Attribute object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Key of attribute"
        },
        "value": {
          "type": "string",
          "description": "Required. Value of attribute"
        }
      }
    },
    "DiscoveredRange": {
      "properties": {
        "realm": {
          "description": "Optional. The realm of the DiscoveredRange.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. Name of the DiscoveredRange.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DiscoveredRange."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime"
        },
        "childCidrOverlapAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, allow child ranges of this range to overlap with each other."
        },
        "registryBook": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The registry book of the DiscoveredRange."
        },
        "discoveryMetadata": {
          "description": "Output only. Owner metadata for this DiscoveredRange. A unique set of metadata is associated with each DiscoveredRange. If an IP range is shared by multiple resources (e.g., an Address resource and an Instance resource, or multiple ForwardingRules),separate DiscoveredRanges are created, each with a distinct owner. This ensures each DiscoveredRange has its own unique set of attributes, labels, create time and update time.",
          "$ref": "DiscoveryMetadata",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "readOnly": true
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "Attribute"
          },
          "description": "Optional. The attributes of the DiscoveredRange."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the DiscoveredRange.",
          "type": "string"
        },
        "parentRange": {
          "type": "string",
          "description": "Optional. The parent range of the DiscoveredRange."
        },
        "ipv6CidrRange": {
          "type": "string",
          "description": "Optional. The IPv6 CIDR range of the DiscoveredRange."
        }
      },
      "description": "Message describing DiscoveredRange object",
      "id": "DiscoveredRange",
      "type": "object"
    },
    "ListRealmsResponse": {
      "description": "Message for response to listing Realms",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "realms": {
          "type": "array",
          "items": {
            "$ref": "Realm"
          },
          "description": "The list of Realm"
        }
      },
      "id": "ListRealmsResponse",
      "type": "object"
    },
    "CustomRange": {
      "id": "CustomRange",
      "type": "object",
      "properties": {
        "realm": {
          "type": "string",
          "description": "Optional. The realm of the CustomRange. The realm must be in the same project as the custom range. Do not allow setting realm if parent range is specified, since the realm should be inherited from the parent range. Format must follow this pattern: projects/{project}/locations/{location}/realms/{realm}"
        },
        "attributes": {
          "description": "Optional. The attributes of the CustomRange.",
          "type": "array",
          "items": {
            "$ref": "Attribute"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "name": {
          "description": "Required. Identifier. name of resource",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the CustomRange.",
          "type": "string"
        },
        "parentRange": {
          "description": "Optional. The parent range of the CustomRange. Do not allow setting parent range if realm is specified. Format must follow this pattern: projects/{project}/locations/{location}/customRanges/{custom_range}",
          "type": "string"
        },
        "registryBook": {
          "description": "Output only. The registry book of the CustomRange. This field is inherited from the realm or parent range depending on which one is specified.",
          "readOnly": true,
          "type": "string"
        },
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the CustomRange.",
          "type": "string"
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the CustomRange.",
          "type": "string"
        }
      },
      "description": "Message describing CustomRange object"
    },
    "ShowDiscoveredRangeUtilizationResponse": {
      "id": "ShowDiscoveredRangeUtilizationResponse",
      "type": "object",
      "description": "Message for the response to getting the utilization of a DiscoveredRange",
      "properties": {
        "rangeUtilization": {
          "description": "The utilization of the DiscoveredRange.",
          "$ref": "RangeUtilization"
        },
        "discoveredRange": {
          "description": "The DiscoveredRange resource.",
          "$ref": "DiscoveredRange"
        }
      }
    },
    "CheckAvailabilityIpamAdminScopesResponse": {
      "id": "CheckAvailabilityIpamAdminScopesResponse",
      "type": "object",
      "description": "Message for response to checking the availability of IpamAdminScopes",
      "properties": {
        "scopeAvailabilities": {
          "description": "The details of the requested scopes.",
          "type": "array",
          "items": {
            "$ref": "IpamAdminScopeAvailability"
          }
        }
      }
    },
    "CleanupIpamAdminScopeRequest": {
      "id": "CleanupIpamAdminScopeRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Message for cleaning up a IpamAdminScope"
    },
    "IpamAdminScope": {
      "properties": {
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "scopes": {
          "description": "Required. Administrative scopes enabled for IP address discovery and management. For example, \"organizations/1234567890\". Minimum of 1 scope is required. In preview, only one organization scope is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Internal failure.",
            "Failure.",
            "Setup in progress.",
            "Ready for use.",
            "Deleting in progress.",
            "Updating.",
            "Recovering.",
            "Disabled.",
            "Deleting completed.",
            "Cleanup in progress.",
            "Ready for deletion."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DISCOVERY_PIPELINE_STATE_UNSPECIFIED",
            "INTERNAL_FAILURE",
            "FAILED",
            "SETUP_IN_PROGRESS",
            "READY_FOR_USE",
            "DELETING_IN_PROGRESS",
            "UPDATING",
            "RECOVERING",
            "DISABLED",
            "DELETION_COMPLETED",
            "CLEANUP_IN_PROGRESS",
            "READY_FOR_DELETION"
          ],
          "description": "Output only. State of resource discovery pipeline."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Identifier. name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "enabledAddonPlatforms": {
          "description": "Required. Addon platforms that are enabled for this IPAM admin scope. Cloud Number Registry only discovers the IP addresses from the enabled platforms.",
          "type": "array",
          "items": {
            "enumDeprecated": [
              false,
              false,
              true
            ],
            "type": "string",
            "enum": [
              "ADD_ON_PLATFORM_UNSPECIFIED",
              "COMPUTE_ENGINE",
              "GCE"
            ],
            "enumDescriptions": [
              "Unspecified add-on platform.",
              "Google Compute Engine.",
              "Deprecated: Use COMPUTE_ENGINE instead."
            ]
          }
        }
      },
      "description": "Message describing IpamAdminScope object",
      "id": "IpamAdminScope",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "SearchIpResourcesResult": {
      "id": "SearchIpResourcesResult",
      "type": "object",
      "description": "A result matching the search query, which can be either a range or a realm.",
      "properties": {
        "range": {
          "description": "A range matching the search query.",
          "$ref": "Range"
        },
        "realm": {
          "description": "A realm matching the search query.",
          "$ref": "Realm"
        }
      }
    },
    "ShowCustomRangeUtilizationResponse": {
      "properties": {
        "customRange": {
          "$ref": "CustomRange",
          "description": "The CustomRange resource."
        },
        "rangeUtilization": {
          "description": "The utilization of the CustomRange.",
          "$ref": "RangeUtilization"
        }
      },
      "description": "Message for the response to getting the utilization of a CustomRange",
      "id": "ShowCustomRangeUtilizationResponse",
      "type": "object"
    },
    "FindCustomRangeFreeIpRangesResponse": {
      "description": "Message for the response to finding free IP ranges.",
      "properties": {
        "freeIpCidrRanges": {
          "description": "Output only. Free IP CIDR ranges found in the CustomRange.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "FindCustomRangeFreeIpRangesResponse",
      "type": "object"
    },
    "ListRegistryBooksResponse": {
      "id": "ListRegistryBooksResponse",
      "type": "object",
      "description": "Message for response to listing RegistryBooks",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "registryBooks": {
          "type": "array",
          "items": {
            "$ref": "RegistryBook"
          },
          "description": "The list of RegistryBook"
        }
      }
    }
  },
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "rootUrl": "https://cloudnumberregistry.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "cloudnumberregistry.projects.locations.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1alpha/{+name}/locations"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "cloudnumberregistry.projects.locations.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "discoveredRanges": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "DiscoveredRange"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Gets details of a single DiscoveredRange."
                },
                "findFreeIpRanges": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:findFreeIpRanges",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.findFreeIpRanges",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the DiscoveredRange.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$"
                    },
                    "rangeCount": {
                      "format": "int32",
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "type": "integer"
                    },
                    "cidrPrefixLength": {
                      "format": "int32",
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "location": "query",
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FindDiscoveredRangeFreeIpRangesResponse"
                  },
                  "description": "Finds free IP ranges in a single DiscoveredRange.",
                  "path": "v1alpha/{+name}:findFreeIpRanges"
                },
                "list": {
                  "response": {
                    "$ref": "ListDiscoveredRangesResponse"
                  },
                  "path": "v1alpha/{+parent}/discoveredRanges",
                  "description": "Lists DiscoveredRanges in a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListDiscoveredRangesRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "showUtilization": {
                  "response": {
                    "$ref": "ShowDiscoveredRangeUtilizationResponse"
                  },
                  "description": "Gets the details of a single DiscoveredRange and its utilization.",
                  "path": "v1alpha/{+name}:showUtilization",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:showUtilization",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "description": "Required. Name of the resource"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.showUtilization",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "customRanges": {
              "methods": {
                "findFreeIpRanges": {
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "parameters": {
                    "cidrPrefixLength": {
                      "type": "integer",
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "location": "query",
                      "format": "int32"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. Name of the CustomRange.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "rangeCount": {
                      "type": "integer",
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "description": "Finds free IP ranges in a single CustomRange."
                },
                "list": {
                  "path": "v1alpha/{+parent}/customRanges",
                  "description": "Lists CustomRanges in a given project and location.",
                  "response": {
                    "$ref": "ListCustomRangesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListCustomRangesRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "description": "Gets details of a single CustomRange.",
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "customRangeId": {
                      "description": "Required. Id of the requesting object.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/customRanges",
                  "description": "Creates a new CustomRange in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. Identifier. name of resource",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Updates the parameters of a single CustomRange.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "showUtilization": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:showUtilization",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.showUtilization",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ShowCustomRangeUtilizationResponse"
                  },
                  "description": "Gets the details of a single CustomRange and its utilization.",
                  "path": "v1alpha/{+name}:showUtilization"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single CustomRange.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.delete",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "checkAvailability": {
                  "parameters": {
                    "scopes": {
                      "description": "Required. The scopes of the IpamAdminScopes to look for.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for the IpamAdminScopes.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.checkAvailability",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes:checkAvailability",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CheckAvailabilityIpamAdminScopesResponse"
                  },
                  "path": "v1alpha/{+parent}/ipamAdminScopes:checkAvailability",
                  "description": "Checks the availability of IPAM admin scopes in a given project and location."
                },
                "cleanup": {
                  "description": "Cleans up a single IpamAdminScope.",
                  "path": "v1alpha/{+name}:cleanup",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:cleanup",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CleanupIpamAdminScopeRequest"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.cleanup"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListIpamAdminScopesRequest",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListIpamAdminScopesResponse"
                  },
                  "description": "List all IPAM admin scopes in a given project and location.",
                  "path": "v1alpha/{+parent}/ipamAdminScopes"
                },
                "patch": {
                  "description": "Updates the parameters of a single IpamAdminScope.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "description": "Required. Identifier. name of resource",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the IpamAdminScope resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "IpamAdminScope"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$"
                    }
                  },
                  "description": "Gets details of a single IpamAdminScope.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "IpamAdminScope"
                  }
                },
                "create": {
                  "description": "Creates a new IpamAdminScope in a given project and location.",
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "ipamAdminScopeId": {
                      "type": "string",
                      "description": "Required. Id of the requesting object.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "IpamAdminScope"
                  }
                },
                "delete": {
                  "description": "Deletes a single IpamAdminScope.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "disable": {
                  "description": "Disables a single IpamAdminScope.",
                  "path": "v1alpha/{+name}:disable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "DisableIpamAdminScopeRequest"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.disable"
                }
              }
            },
            "registryBooks": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Updates the parameters of a single RegistryBook.",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. Identifier. name of resource"
                    }
                  },
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "cloudnumberregistry.projects.locations.registryBooks.get",
                  "parameters": {
                    "view": {
                      "description": "Optional. The view of the RegistryBook.",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ]
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "RegistryBook"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Gets details of a single RegistryBook."
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "registryBookId": {
                      "description": "Required. Id of the requesting object.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.create",
                  "description": "Creates a new RegistryBook in a given project and location.",
                  "path": "v1alpha/{+parent}/registryBooks",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a single RegistryBook.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. Name of the resource"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "searchIpResources": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. The name of the RegistryBook to search in.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SearchIpResourcesRequest"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.searchIpResources",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}:searchIpResources",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:searchIpResources",
                  "description": "Searches IP resources in a given RegistryBook.",
                  "response": {
                    "$ref": "SearchIpResourcesResponse"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListRegistryBooksRequest",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "description": "Optional. The view of the RegistryBook."
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.list",
                  "description": "Lists RegistryBooks in a given project and location.",
                  "path": "v1alpha/{+parent}/registryBooks",
                  "response": {
                    "$ref": "ListRegistryBooksResponse"
                  }
                }
              }
            },
            "realms": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.list",
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "description": "Optional. The view of the Realm."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListRealmsRequest",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    }
                  },
                  "description": "Lists Realms in a given project and location.",
                  "path": "v1alpha/{+parent}/realms",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  }
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a single Realm.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.delete",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$"
                    },
                    "force": {
                      "description": "Optional. If set to true, all associated resources will be deleted.",
[...]
