{
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "servicePath": "",
  "canonicalName": "Cloudbilling",
  "version_module": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "batchPath": "batch",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "basePath": "",
  "resources": {
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists services visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.billingAccounts.services.list",
              "path": "v1beta/{+parent}/services",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "pageSize": {
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets a Google Cloud service visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "id": "cloudbilling.billingAccounts.services.get",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists SKU groups visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "path": "v1beta/{+parent}/skuGroups",
              "parameters": {
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets a SKU group visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "required": true
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "path": "v1beta/{+parent}/skus",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "required": true,
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "skus": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists SKUs visible to a billing account.",
              "id": "cloudbilling.billingAccounts.skus.list",
              "path": "v1beta/{+parent}/skus",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "filter": {
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets a SKU visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.billingAccounts.skus.get",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    },
                    "name": {
                      "required": true,
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "location": "path",
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account."
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "path": "v1beta/{+parent}/prices",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "required": true,
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account."
                }
              }
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "id": "cloudbilling.generateInsights",
          "path": "v1beta:generateInsights",
          "parameters": {},
          "flatPath": "v1beta:generateInsights",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "httpMethod": "POST",
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets."
        }
      }
    },
    "skus": {
      "resources": {
        "price": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets the latest price for the given SKU.",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/skus/{skusId}/price",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.skus.price.get",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^skus/[^/]+/price$",
                  "required": true,
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price"
                },
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                }
              }
            }
          }
        },
        "prices": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists the latest prices for all SKUs.",
              "flatPath": "v1beta/skus/{skusId}/prices",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbilling.skus.prices.list",
              "path": "v1beta/{+parent}/prices",
              "parameters": {
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^skus/[^/]+$",
                  "required": true,
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "skuGroups": {
      "methods": {
        "list": {
          "flatPath": "v1beta/skuGroups",
          "parameterOrder": [],
          "id": "cloudbilling.skuGroups.list",
          "path": "v1beta/skuGroups",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
            }
          },
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Lists all publicly listed SKU groups."
        },
        "get": {
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudbilling.skuGroups.get",
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "required": true,
              "pattern": "^skuGroups/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Gets a publicly listed SKU group."
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "id": "cloudbilling.skuGroups.skus.get",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "required": true,
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              }
            },
            "list": {
              "id": "cloudbilling.skuGroups.skus.list",
              "path": "v1beta/{+parent}/skus",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^skuGroups/[^/]+$",
                  "required": true,
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group."
            }
          }
        }
      }
    }
  },
  "id": "cloudbilling:v1beta",
  "name": "cloudbilling",
  "revision": "20260507",
  "title": "Cloud Billing API",
  "protocol": "rest",
  "schemas": {
    "GenerateInsightsResponse": {
      "id": "GenerateInsightsResponse",
      "description": "Response for GenerateInsights.",
      "type": "object",
      "properties": {
        "finalResult": {
          "readOnly": true,
          "$ref": "FinalResult",
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream."
        },
        "thoughtChunk": {
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "type": "string",
          "readOnly": true
        },
        "summaryChunk": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect."
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true,
          "$ref": "Rejection"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "id": "GoogleCloudBillingPricesV1betaRate",
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "type": "object",
      "properties": {
        "unitInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "tiers": {
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "type": "array",
          "description": "All tiers associated with the `Rate` price."
        }
      }
    },
    "GenerateInsightsRequest": {
      "id": "GenerateInsightsRequest",
      "description": "Request for GenerateInsights.",
      "type": "object",
      "properties": {
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "parents": {
          "items": {
            "$ref": "BillingDataResource"
          },
          "type": "array",
          "description": "Optional. The billing account or projects to analyze."
        },
        "userContext": {
          "$ref": "UserContext",
          "description": "Optional. Additional context for personalization (e.g., user persona, role)."
        },
        "prompt": {
          "description": "Required. The natural language prompt from the user.",
          "type": "string"
        }
      }
    },
    "ValueProto": {
      "type": "object",
      "properties": {
        "timestampPicoValue": {
          "type": "string",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes().",
          "format": "byte"
        },
        "geographyValue": {
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "format": "byte",
          "type": "string"
        },
        "int32Value": {
          "description": "Primitive value for int32.",
          "format": "int32",
          "type": "integer"
        },
        "timeValue": {
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details.",
          "format": "int64",
          "type": "string"
        },
        "intervalValue": {
          "type": "string",
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "format": "byte"
        },
        "numericValue": {
          "type": "string",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "format": "byte"
        },
        "enumValue": {
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "format": "int32",
          "type": "integer"
        },
        "mapValue": {
          "description": "Encoded map value. See go/googlesql_map.",
          "$ref": "Map"
        },
        "bytesValue": {
          "type": "string",
          "description": "Primitive for bytes.",
          "format": "byte"
        },
        "datetimeValue": {
          "$ref": "Datetime",
          "description": "primitive for datetime"
        },
        "timestampValue": {
          "description": "primitive for timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "stringValue": {
          "type": "string",
          "description": "Primitive for string."
        },
        "floatValue": {
          "type": "number",
          "description": "Primitive for float.",
          "format": "float"
        },
        "uint64Value": {
          "type": "string",
          "description": "Primitive for uint64.",
          "format": "uint64"
        },
        "arrayValue": {
          "description": "An array of value",
          "$ref": "Array"
        },
        "uuidValue": {
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "int64Value": {
          "description": "Primitive for int64.",
          "format": "int64",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "Primitive for double.",
          "format": "double"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Primitive for bool."
        },
        "uint32Value": {
          "description": "Primitive for uint32.",
          "format": "uint32",
          "type": "integer"
        },
        "dateValue": {
          "type": "integer",
          "description": "Primitive for date.",
          "format": "int32"
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "protoValue": {
          "type": "string",
          "description": "Stores a serialized protocol message.",
          "format": "byte"
        },
        "tokenlistValue": {
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "format": "byte",
          "type": "string"
        },
        "bignumericValue": {
          "type": "string",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "format": "byte"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "type": "boolean",
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added."
        }
      },
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "id": "ValueProto"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountSkuGroupSkus": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          },
          "type": "array",
          "description": "The returned billing account SKU group SKUs."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "description": "Response message for ListSkuGroupSkus.",
      "type": "object",
      "properties": {
        "skuGroupSkus": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "description": "The returned SKU group SKUs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "InteropLink": {
      "type": "object",
      "properties": {
        "label": {
          "readOnly": true,
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "type": "string"
        },
        "url": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the link."
        },
        "linkType": {
          "readOnly": true,
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "type": "string"
        }
      },
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries).",
      "id": "InteropLink"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        }
      },
      "id": "GoogleCloudBillingPricesV1betaUnitInfo"
    },
    "FinalResult": {
      "id": "FinalResult",
      "description": "Encapsulates all structured data and the completed summary.",
      "type": "object",
      "properties": {
        "fullAnalysis": {
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true
        },
        "suggestedQueries": {
          "type": "array",
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "readOnly": true,
          "items": {
            "$ref": "SuggestedQuery"
          }
        },
        "insights": {
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          }
        },
        "interopLinks": {
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "InteropLink"
          }
        },
        "summary": {
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "type": "string",
          "readOnly": true
        },
        "dataSets": {
          "readOnly": true,
          "items": {
            "$ref": "DataSet"
          },
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "type": "object",
      "properties": {
        "billingAccountSkus": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "description": "The returned billing account SKUs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountSkus.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "type": "object",
      "properties": {
        "prices": {
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          },
          "description": "The returned publicly listed prices.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListPrices.",
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "type": "object",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        },
        "effectiveDiscountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details."
        }
      },
      "description": "Encapsulates a rate price tier."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
    },
    "SuggestedChart": {
      "type": "object",
      "properties": {
        "yAxisField": {
          "type": "string",
          "description": "The field used for the y-axis."
        },
        "xAxisLabel": {
          "description": "The label of the x-axis.",
          "type": "string"
        },
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        },
        "xAxisField": {
          "type": "string",
          "description": "The field used for the x-axis."
        },
        "chartType": {
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "description": "The type of the chart."
        },
        "chartTitle": {
          "type": "string",
          "description": "The title of the chart."
        },
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering.",
      "id": "SuggestedChart"
    },
    "Rejection": {
      "id": "Rejection",
      "description": "Encapsulates details about why a request was rejected.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "description": "Output only. The reason for the rejection.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "readOnly": true
        },
        "displayMessage": {
          "type": "string",
          "description": "Output only. A user-facing message explaining the rejection.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "type": "object",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month."
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\".",
          "type": "string"
        },
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
    },
    "SuggestedQuery": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "The natural language query."
        }
      },
      "description": "A suggested follow-up query for the user.",
      "id": "SuggestedQuery"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the billing account SKU belong to.",
          "type": "array"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
    },
    "Insight": {
      "type": "object",
      "properties": {
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the insight."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "readOnly": true
        },
        "description": {
          "description": "Output only. The description of the insight.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "id": "Insight"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
    },
    "MapEntry": {
      "id": "MapEntry",
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map value of the entry."
        },
        "key": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map key for the entry."
        }
      }
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountSkuGroups": {
          "type": "array",
          "description": "The returned publicly listed billing account SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          }
        }
      },
      "description": "Response message for ListBillingAccountSkuGroups.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "type": "object",
      "properties": {
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "type": "object",
      "properties": {
        "skuGroups": {
          "description": "The returned publicly listed SKU groups.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for ListSkuGroups."
    },
    "Array": {
      "type": "object",
      "properties": {
        "element": {
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array",
          "description": "The elements of the array."
        }
      },
      "description": "An ordered collection of elements of arbitrary count.",
      "id": "Array"
    },
    "Struct": {
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The fields in the struct",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Struct"
    },
    "Range": {
      "id": "Range",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "type": "object",
      "properties": {
        "end": {
          "$ref": "ValueProto",
          "description": "Represents the end of the range."
        },
        "start": {
          "$ref": "ValueProto",
          "description": "Represents the start of the range."
        }
      }
    },
    "BillingDataResource": {
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "type": "object",
      "properties": {
        "billingAccount": {
          "description": "Optional. If not provided the billing account currently associated with the resource will be used.",
          "type": "string"
        },
        "resource": {
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`",
          "type": "string"
        }
      },
      "id": "BillingDataResource"
    },
    "UserContext": {
      "id": "UserContext",
      "description": "Additional context for personalization (e.g., user persona, role).",
      "type": "object",
      "properties": {
        "persona": {
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer)."
        },
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "type": "object",
      "properties": {
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy"
        },
        "service": {
          "type": "string",
          "description": "Service that the SkuGroupSku belongs to."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the SkuGroupSku."
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "type": "object",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "AgenticQueryInfo": {
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "type": "object",
      "properties": {
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        },
        "columns": {
          "type": "string",
          "description": "The columns queried."
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "format": "int32",
          "type": "integer"
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        }
      },
      "id": "AgenticQueryInfo"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice",
      "type": "object",
      "properties": {
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "priceReason": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
          "description": "Background information on the origin of the price."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        },
        "rate": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate",
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        }
      },
      "description": "Encapsulates the latest price for a billing account SKU."
    },
    "BillingData": {
      "id": "BillingData",
      "description": "Encapsulates billing data.",
      "type": "object",
      "properties": {
        "columnInfo": {
          "items": {
            "$ref": "ColumnInfo"
          },
          "type": "array",
          "description": "Information about columns."
        },
        "rows": {
          "description": "Rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "type": "object",
      "properties": {
        "billingAccountServices": {
          "type": "array",
          "description": "The returned billing account services.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountServices.",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "type": "object",
      "properties": {
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSku."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\"."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
    },
    "DataSet": {
      "id": "DataSet",
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "type": "object",
      "properties": {
        "billingData": {
          "$ref": "BillingData",
          "readOnly": true,
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service."
        },
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "readOnly": true,
          "$ref": "SuggestedChart"
        },
        "queryInfo": {
          "description": "Output only. The query used to fetch this data.",
          "$ref": "AgenticQueryInfo",
          "readOnly": true
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "type": "object",
      "properties": {
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        },
        "floatingDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time."
        },
        "fixedPrice": {
          "description": "Fixed price applicable during the terms of a contract agreement.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "mergedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
          "description": "Price after merging from multiple sources."
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "fixedDiscount": {
          "description": "Discount off the list price, anchored to the list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountPrices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "type": "array",
          "description": "The returned billing account prices."
        }
      },
      "description": "Response message for ListBillingAccountPrices.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "type": "object",
      "properties": {
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "type": "string",
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        },
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "fixTime": {
          "type": "string",
          "description": "Time that the fixed discount is anchored to.",
          "format": "google-datetime"
        }
      },
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "type": "object",
      "properties": {
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        }
      },
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
    },
    "Datetime": {
      "description": "A datetime value.",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        },
        "bitFieldDatetimeSeconds": {
          "type": "string",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "format": "int64"
        }
      },
      "id": "Datetime"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "type": "object",
      "properties": {
        "unitInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        },
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate"
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\"."
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "properties": {},
      "description": "Encapsulates a default price which is the current list price.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "type": "object",
      "properties": {
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaRateTier"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "properties": {},
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU."
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU."
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "description": "Encapsulates the latest price for a SKU.",
      "type": "object",
      "properties": {
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaPrice"
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "type": "array",
          "description": "All product categories that the SKU group SKU belongs to."
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "description": "Encapsulates a price migrated from other SKUs.",
      "type": "object",
      "properties": {
        "sourceSku": {
          "type": "string",
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a SKU that is part of a billing account SKU group."
    },
    "ColumnInfo": {
      "description": "Represents a column header.",
      "type": "object",
      "properties": {
        "column": {
          "type": "string",
          "description": "Name of the column."
        }
      },
      "id": "ColumnInfo"
    },
    "Row": {
      "id": "Row",
      "description": "Represents a row in the query result.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array",
          "description": "Values for a row in the column order."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "type": "object",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        }
      },
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo"
    },
    "Map": {
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "type": "object",
      "properties": {
        "entry": {
          "description": "Represents the map entries in the map.",
          "type": "array",
          "items": {
            "$ref": "MapEntry"
          }
        }
      },
      "id": "Map"
    },
    "Decimal": {
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
[...]
