{
  "discoveryVersion": "v1",
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/identity/",
  "protocol": "rest",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "description": "API for provisioning and managing identity resources.",
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Identity",
  "schemas": {
    "GoogleAppsCloudidentityDevicesV1BrowserInfo": {
      "id": "GoogleAppsCloudidentityDevicesV1BrowserInfo",
      "description": "Browser-specific fields reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "type": "object",
      "properties": {
        "passwordProtectionWarningTrigger": {
          "type": "string",
          "enumDescriptions": [
            "Password protection is not specified.",
            "Password reuse is never detected.",
            "Warning is shown when the user reuses their protected password on a non-allowed site.",
            "Warning is shown when the user reuses their protected password on a phishing site."
          ],
          "enum": [
            "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED",
            "PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ],
          "description": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger)."
        },
        "safeBrowsingProtectionLevel": {
          "description": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel).",
          "type": "string",
          "enumDescriptions": [
            "Browser protection level is not specified.",
            "No protection against dangerous websites, downloads, and extensions.",
            "Standard protection against websites, downloads, and extensions that are known to be dangerous.",
            "Faster, proactive protection against dangerous websites, downloads, and extensions."
          ],
          "enum": [
            "SAFE_BROWSING_LEVEL_UNSPECIFIED",
            "DISABLED",
            "STANDARD",
            "ENHANCED"
          ]
        },
        "isChromeRemoteDesktopAppBlocked": {
          "description": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist).",
          "type": "boolean"
        },
        "isSecurityEventAnalysisEnabled": {
          "description": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isBulkDataEntryAnalysisEnabled": {
          "type": "boolean",
          "description": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
        },
        "isBuiltInDnsClientEnabled": {
          "type": "boolean",
          "description": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled)."
        },
        "browserVersion": {
          "description": "Version of the request initiating browser. E.g. `91.0.4442.4`.",
          "type": "string"
        },
        "isChromeCleanupEnabled": {
          "description": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled).",
          "deprecated": true,
          "type": "boolean"
        },
        "isThirdPartyBlockingEnabled": {
          "description": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled).",
          "type": "boolean"
        },
        "isFileDownloadAnalysisEnabled": {
          "type": "boolean",
          "description": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
        },
        "browserManagementState": {
          "description": "Output only. Browser's management state.",
          "readOnly": true,
          "enumDescriptions": [
            "Management state is not specified.",
            "Browser/Profile is not managed by any customer.",
            "Browser/Profile is managed, but by some other customer.",
            "Profile is managed by customer.",
            "Browser is managed by customer."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNMANAGED",
            "MANAGED_BY_OTHER_DOMAIN",
            "PROFILE_MANAGED",
            "BROWSER_MANAGED"
          ],
          "type": "string"
        },
        "isFileUploadAnalysisEnabled": {
          "description": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isRealtimeUrlCheckEnabled": {
          "description": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isSiteIsolationEnabled": {
          "description": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins).",
          "type": "boolean"
        }
      }
    },
    "ModifyMembershipRolesRequest": {
      "id": "ModifyMembershipRolesRequest",
      "description": "The request message for MembershipsService.ModifyMembershipRoles.",
      "type": "object",
      "properties": {
        "addRoles": {
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set."
        },
        "removeRoles": {
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateRolesParams": {
          "type": "array",
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set.",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          }
        }
      }
    },
    "EntityKey": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. Email addresses need to adhere to [name guidelines for users and groups](https://support.google.com/a/answer/9193374). For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`."
        }
      },
      "id": "EntityKey",
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s."
    },
    "CreateMembershipMetadata": {
      "id": "CreateMembershipMetadata",
      "description": "Metadata for CreateMembership LRO.",
      "type": "object",
      "properties": {}
    },
    "Policy": {
      "type": "object",
      "properties": {
        "customer": {
          "description": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793.",
          "type": "string"
        },
        "setting": {
          "description": "Required. The Setting configured by this Policy.",
          "$ref": "Setting"
        },
        "name": {
          "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
          "readOnly": true,
          "type": "string"
        },
        "policyQuery": {
          "description": "Required. The PolicyQuery the Setting applies to.",
          "$ref": "PolicyQuery"
        },
        "type": {
          "description": "Output only. The type of the policy.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified policy type.",
            "Policy type denoting the system-configured policies.",
            "Policy type denoting the admin-configurable policies."
          ],
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "SYSTEM",
            "ADMIN"
          ],
          "type": "string"
        }
      },
      "id": "Policy",
      "description": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query."
    },
    "ListIdpCredentialsResponse": {
      "type": "object",
      "properties": {
        "idpCredentials": {
          "type": "array",
          "description": "The IdpCredentials from the specified InboundSamlSsoProfile.",
          "items": {
            "$ref": "IdpCredential"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListIdpCredentialsResponse",
      "description": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method."
    },
    "UpdateMembershipRolesParams": {
      "type": "object",
      "properties": {
        "fieldMask": {
          "type": "string",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`.",
          "format": "google-fieldmask"
        },
        "membershipRole": {
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRole` can currently be updated.",
          "$ref": "MembershipRole"
        }
      },
      "id": "UpdateMembershipRolesParams",
      "description": "The details of an update to a `MembershipRole`."
    },
    "InboundOidcSsoProfile": {
      "id": "InboundOidcSsoProfile",
      "description": "An [OIDC](https://openid.net/developers/how-connect-works/) federation between a Google enterprise customer and an OIDC identity provider.",
      "type": "object",
      "properties": {
        "idpConfig": {
          "description": "OIDC identity provider configuration.",
          "$ref": "OidcIdpConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the OIDC SSO profile."
        },
        "customer": {
          "type": "string",
          "description": "Immutable. The customer. For example: `customers/C0123abc`."
        },
        "rpConfig": {
          "description": "OIDC relying party (RP) configuration for this OIDC SSO profile. These are the RP details provided by Google that should be configured on the corresponding identity provider.",
          "$ref": "OidcRpConfig"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ListDevicesResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          },
          "description": "Devices meeting the list restrictions."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ListDevicesResponse",
      "description": "Response message that is returned from the ListDevices method."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest",
      "description": "Request message for cancelling an unfinished user account wipe.",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      }
    },
    "ListMembershipsResponse": {
      "type": "object",
      "properties": {
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The `Membership`s under the specified `parent`."
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      },
      "id": "ListMembershipsResponse",
      "description": "The response message for MembershipsService.ListMemberships."
    },
    "GoogleAppsCloudidentityDevicesV1CertificateAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1CertificateAttributes",
      "description": "Stores information about a certificate.",
      "type": "object",
      "properties": {
        "validityExpirationTime": {
          "format": "google-datetime",
          "description": "Certificate not valid at or after this timestamp.",
          "type": "string"
        },
        "issuer": {
          "description": "The name of the issuer of this certificate.",
          "type": "string"
        },
        "thumbprint": {
          "type": "string",
          "description": "The certificate thumbprint."
        },
        "validityStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Certificate not valid before this timestamp."
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the certificate, Example: \"123456789\"."
        },
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        },
        "validationState": {
          "readOnly": true,
          "description": "Output only. Validation state of this certificate.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ]
        },
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "certificateTemplate": {
          "description": "The X.509 extension for CertificateTemplate.",
          "$ref": "GoogleAppsCloudidentityDevicesV1CertificateTemplate"
        }
      }
    },
    "GetMembershipGraphResponse": {
      "type": "object",
      "properties": {
        "adjacencyList": {
          "type": "array",
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "description": "The membership graph's path information represented as an adjacency list."
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource."
        }
      },
      "id": "GetMembershipGraphResponse",
      "description": "The response message for MembershipsService.GetMembershipGraph."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "description": "Metadata for WipeDeviceUser LRO.",
      "type": "object",
      "properties": {}
    },
    "UpdateInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "id": "UpdateInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.UpdateInboundSamlSsoProfile."
    },
    "Group": {
      "id": "Group",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`.",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
          "type": "string"
        },
        "groupKey": {
          "description": "Required. The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "additionalGroupKeys": {
          "readOnly": true,
          "items": {
            "$ref": "EntityKey"
          },
          "description": "Output only. Additional group keys associated with the Group.",
          "type": "array"
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the `Group` was created."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the `Group` was last updated."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label."
        },
        "dynamicGroupMetadata": {
          "description": "Optional. Dynamic group metadata like queries and status.",
          "$ref": "DynamicGroupMetadata"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        }
      }
    },
    "SamlSpConfig": {
      "id": "SamlSpConfig",
      "description": "SAML SP (service provider) configuration.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Output only. The SAML **Entity ID** for this service provider.",
          "readOnly": true,
          "type": "string"
        },
        "assertionConsumerServiceUri": {
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
      "description": "Response message for blocking the device from accessing user data."
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe."
    },
    "TransitiveMembershipRole": {
      "id": "TransitiveMembershipRole",
      "description": "Message representing the role of a TransitiveMembership.",
      "type": "object",
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      }
    },
    "CreateInboundOidcSsoProfileOperationMetadata": {
      "id": "CreateInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.CreateInboundOidcSsoProfile.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest": {
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest",
      "description": "Request message for blocking account on device."
    },
    "PolicyQuery": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use."
        },
        "group": {
          "type": "string",
          "description": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string."
        },
        "sortOrder": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set)."
        },
        "orgUnit": {
          "description": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query.",
          "type": "string"
        }
      },
      "id": "PolicyQuery",
      "description": "PolicyQuery"
    },
    "UpdateGroupMetadata": {
      "id": "UpdateGroupMetadata",
      "description": "Metadata for UpdateGroup LRO.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "description": "Metadata for BlockDeviceUser LRO.",
      "type": "object",
      "properties": {}
    },
    "CreateGroupMetadata": {
      "id": "CreateGroupMetadata",
      "description": "Metadata for CreateGroup LRO.",
      "type": "object",
      "properties": {}
    },
    "ListUserInvitationsResponse": {
      "id": "ListUserInvitationsResponse",
      "description": "Response message for UserInvitation listing request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call.",
          "type": "string"
        },
        "userInvitations": {
          "type": "array",
          "description": "The list of UserInvitation resources.",
          "items": {
            "$ref": "UserInvitation"
          }
        }
      }
    },
    "IdpCredential": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the credential.",
          "type": "string"
        },
        "dsaKeyInfo": {
          "readOnly": true,
          "description": "Output only. Information of a DSA public key.",
          "$ref": "DsaPublicKeyInfo"
        },
        "rsaKeyInfo": {
          "readOnly": true,
          "description": "Output only. Information of a RSA public key.",
          "$ref": "RsaPublicKeyInfo"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the `IdpCredential` was last updated.",
          "type": "string"
        }
      },
      "id": "IdpCredential",
      "description": "Credential for verifying signatures produced by the Identity Provider."
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse",
      "description": "Response message for approving the device to access user data.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      }
    },
    "SamlSsoInfo": {
      "type": "object",
      "properties": {
        "inboundSamlSsoProfile": {
          "description": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. ",
          "type": "string"
        }
      },
      "id": "SamlSsoInfo",
      "description": "Details that are applicable when `sso_mode` == `SAML_SSO`."
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "description": "Resource representing the Android specific attributes of a Device.",
      "type": "object",
      "properties": {
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "ownershipPrivilege": {
          "description": "Ownership privileges on device.",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "type": "string"
        },
        "ctsProfileMatch": {
          "type": "boolean",
          "description": "Whether the device passes Android CTS compliance."
        },
        "verifyAppsEnabled": {
          "description": "Whether Google Play Protect Verify Apps is enabled.",
          "type": "boolean"
        },
        "hasPotentiallyHarmfulApps": {
          "description": "Whether any potentially harmful apps were detected on the device.",
          "type": "boolean"
        },
        "supportsWorkProfile": {
          "type": "boolean",
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
        },
        "ownerProfileAccount": {
          "type": "boolean",
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
        },
        "verifiedBoot": {
          "description": "Whether Android verified boot status is GREEN.",
          "type": "boolean"
        }
      }
    },
    "InboundSsoAssignment": {
      "type": "object",
      "properties": {
        "samlSsoInfo": {
          "description": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`.",
          "$ref": "SamlSsoInfo"
        },
        "customer": {
          "type": "string",
          "description": "Immutable. The customer. For example: `customers/C0123abc`."
        },
        "rank": {
          "description": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
          "type": "string"
        },
        "oidcSsoInfo": {
          "description": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`.",
          "$ref": "OidcSsoInfo"
        },
        "targetGroup": {
          "type": "string",
          "description": "Immutable. Must be of the form `groups/{group}`."
        },
        "targetOrgUnit": {
          "type": "string",
          "description": "Immutable. Must be of the form `orgUnits/{org_unit}`."
        },
        "ssoMode": {
          "enumDescriptions": [
            "Not allowed.",
            "Disable SSO for the targeted users.",
            "Use an external SAML Identity Provider for SSO for the targeted users.",
            "Use an external OIDC Identity Provider for SSO for the targeted users.",
            "Use the domain-wide SAML Identity Provider for the targeted users if one is configured; otherwise, this is equivalent to `SSO_OFF`. Note that this will also be equivalent to `SSO_OFF` if/when support for domain-wide SAML is removed. Google may disallow this mode at that point and existing assignments with this mode may be automatically changed to `SSO_OFF`."
          ],
          "enum": [
            "SSO_MODE_UNSPECIFIED",
            "SSO_OFF",
            "SAML_SSO",
            "OIDC_SSO",
            "DOMAIN_WIDE_SAML_IF_ENABLED"
          ],
          "type": "string",
          "description": "Inbound SSO behavior."
        },
        "signInBehavior": {
          "description": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration.",
          "$ref": "SignInBehavior"
        }
      },
      "id": "InboundSsoAssignment",
      "description": "Targets with \"set\" SSO assignments and their respective assignments."
    },
    "GetMembershipGraphMetadata": {
      "type": "object",
      "properties": {},
      "id": "GetMembershipGraphMetadata",
      "description": "Metadata of GetMembershipGraphResponse LRO. This is currently empty to permit future extensibility."
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "description": "Metadata for DeleteDeviceUser LRO."
    },
    "CreateInboundSamlSsoProfileOperationMetadata": {
      "id": "CreateInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      }
    },
    "LookupGroupNameResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`."
        }
      },
      "id": "LookupGroupNameResponse",
      "description": "The response message for GroupsService.LookupGroupName."
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "description": "Metadata for UpdateClientState LRO."
    },
    "OidcRpConfig": {
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Input only. OAuth2 client secret for OIDC."
        },
        "redirectUris": {
          "type": "array",
          "description": "Output only. The URL(s) that this client may use in authentication requests.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID for OIDC."
        }
      },
      "id": "OidcRpConfig",
      "description": "OIDC RP (relying party) configuration."
    },
    "InboundSamlSsoProfile": {
      "id": "InboundSamlSsoProfile",
      "description": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider.",
      "type": "object",
      "properties": {
        "idpConfig": {
          "description": "SAML identity provider configuration.",
          "$ref": "SamlIdpConfig"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the SAML SSO profile."
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "spConfig": {
          "description": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider.",
          "$ref": "SamlSpConfig"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "description": "Metadata for WipeDevice LRO.",
      "type": "object",
      "properties": {}
    },
    "DynamicGroupStatus": {
      "type": "object",
      "properties": {
        "statusTime": {
          "type": "string",
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Status of the dynamic group.",
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "type": "string"
        }
      },
      "id": "DynamicGroupStatus",
      "description": "The current status of a dynamic group along with timestamp."
    },
    "SearchDirectGroupsResponse": {
      "type": "object",
      "properties": {
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "MembershipRelation"
          },
          "description": "List of direct groups satisfying the query."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "id": "SearchDirectGroupsResponse",
      "description": "The response message for MembershipsService.SearchDirectGroups."
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "description": "Metadata for DeleteDevice LRO."
    },
    "GoogleAppsCloudidentityDevicesV1CertificateTemplate": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
        },
        "majorVersion": {
          "type": "integer",
          "format": "int32",
          "description": "The Major version of the template. Example: 100."
        },
        "minorVersion": {
          "format": "int32",
          "description": "The minor version of the template. Example: 12.",
          "type": "integer"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CertificateTemplate",
      "description": "CertificateTemplate (v3 Extension in X.509)."
    },
    "MemberRelation": {
      "type": "object",
      "properties": {
        "preferredMemberKey": {
          "type": "array",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "items": {
            "$ref": "EntityKey"
          }
        },
        "member": {
          "type": "string",
          "description": "Resource name for this member."
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "The membership role details (i.e name of role and expiry time)."
        },
        "relationType": {
          "type": "string",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the group and the transitive member."
        }
      },
      "id": "MemberRelation",
      "description": "Message representing a transitive membership of a group."
    },
    "RestrictionEvaluation": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The current state of the restriction",
          "readOnly": true,
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "type": "string"
        }
      },
      "id": "RestrictionEvaluation",
      "description": "The evaluated state of this restriction."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "description": "Metadata for CancelWipeDevice LRO."
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the client state data was created.",
          "type": "string"
        },
        "ownerType": {
          "description": "Output only. The owner of the ClientState",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "type": "string"
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        },
        "healthScore": {
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "type": "string"
        },
        "scoreReason": {
          "type": "string",
          "description": "A descriptive cause of the health score."
        },
        "keyValuePairs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
        },
        "managed": {
          "type": "string",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "description": "The management state of the resource as specified by the API client."
        },
        "complianceState": {
          "description": "The compliance state of the resource as specified by the API client.",
          "type": "string",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ]
        },
        "assetTags": {
          "type": "array",
          "description": "The caller can specify asset tags for this resource",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the client state data was last updated.",
          "type": "string"
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
    },
    "DeleteGroupMetadata": {
      "id": "DeleteGroupMetadata",
      "description": "Metadata for DeleteGroup LRO.",
      "type": "object",
      "properties": {}
    },
    "DsaPublicKeyInfo": {
      "id": "DsaPublicKeyInfo",
      "description": "Information of a DSA public key.",
      "type": "object",
      "properties": {
        "keySize": {
          "description": "Key size in bits (size of parameter P).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "description": "Response message for cancelling an unfinished user account wipe."
    },
    "DynamicGroupQuery": {
      "id": "DynamicGroupQuery",
      "description": "Defines a query on a resource.",
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "type": "string",
          "description": "Resource type for the Dynamic Group Query"
        }
      }
    },
    "DeleteInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "DeleteInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "description": "Response message for wiping all data on the device.",
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "description": "Metadata for ApproveDeviceUser LRO.",
      "type": "object",
      "properties": {}
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "SearchTransitiveMembershipsResponse": {
      "type": "object",
      "properties": {
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "MemberRelation"
          },
          "description": "List of transitive members satisfying the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships."
    },
    "ListInboundOidcSsoProfilesResponse": {
      "id": "ListInboundOidcSsoProfilesResponse",
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "inboundOidcSsoProfiles": {
          "items": {
            "$ref": "InboundOidcSsoProfile"
          },
          "description": "List of InboundOidcSsoProfiles.",
          "type": "array"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "description": "Metadata for CreateDevice LRO.",
      "type": "object",
      "properties": {}
    },
    "DeleteIdpCredentialOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "DeleteIdpCredentialOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential."
    },
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "Groups returned in response to list request. The results are not sorted.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "id": "ListGroupsResponse",
      "description": "Response message for ListGroups operation."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest",
      "description": "Request message for wiping all data on the device.",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        },
        "removeResetLock": {
          "type": "boolean",
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device."
        }
      }
    },
    "CreateInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "CreateInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment."
    },
    "ListInboundSsoAssignmentsResponse": {
      "type": "object",
      "properties": {
        "inboundSsoAssignments": {
          "items": {
            "$ref": "InboundSsoAssignment"
          },
          "description": "The assignments.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListInboundSsoAssignmentsResponse",
      "description": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method."
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest",
      "description": "Request message for approving the device to access user data.",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "description": "Additional custom attribute values may be one of these types",
      "type": "object",
      "properties": {
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      }
    },
    "SignInBehavior": {
      "id": "SignInBehavior",
      "description": "Controls sign-in behavior.",
      "type": "object",
      "properties": {
        "redirectCondition": {
          "description": "When to redirect sign-ins to the IdP.",
          "type": "string",
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ],
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ]
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "type": "object",
      "properties": {
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
        },
        "chromeProfileId": {
          "type": "string",
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
        },
        "lastProfileSyncTime": {
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "UpdateInboundSsoAssignmentOperationMetadata": {
      "id": "UpdateInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment.",
      "type": "object",
      "properties": {}
    },
    "UpdateMembershipMetadata": {
      "type": "object",
      "properties": {},
      "id": "UpdateMembershipMetadata",
      "description": "Metadata for UpdateMembership LRO."
    },
    "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse": {
      "type": "object",
      "properties": {
        "clientStates": {
          "description": "Client states meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse",
      "description": "Response message that is returned in ListClientStates."
    },
    "DeleteInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "DeleteInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile."
    },
    "DynamicGroupMetadata": {
      "id": "DynamicGroupMetadata",
      "description": "Dynamic group metadata like queries and status.",
      "type": "object",
      "properties": {
        "queries": {
          "type": "array",
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups.",
          "items": {
            "$ref": "DynamicGroupQuery"
          }
        },
        "status": {
          "description": "Output only. Status of the dynamic group.",
          "readOnly": true,
          "$ref": "DynamicGroupStatus"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest": {
      "type": "object",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device."
    },
    "RsaPublicKeyInfo": {
      "id": "RsaPublicKeyInfo",
      "description": "Information of a RSA public key.",
      "type": "object",
      "properties": {
        "keySize": {
          "type": "integer",
          "description": "Key size in bits (size of the modulus).",
          "format": "int32"
        }
      }
    },
    "MemberRestriction": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
        },
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        }
      },
      "id": "MemberRestriction",
      "description": "The definition of MemberRestriction"
    },
    "SearchTransitiveGroupsResponse": {
      "type": "object",
      "properties": {
        "memberships": {
          "items": {
            "$ref": "GroupRelation"
          },
          "description": "List of transitive groups satisfying the query.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        }
      },
      "id": "SearchTransitiveGroupsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveGroups."
    },
    "Setting": {
      "id": "Setting",
      "description": "Setting",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Immutable. The type of the Setting. .",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the Setting.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "SamlIdpConfig": {
      "id": "SamlIdpConfig",
      "description": "SAML IDP (identity provider) configuration.",
      "type": "object",
      "properties": {
        "logoutRedirectUri": {
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Required. The SAML **Entity ID** of the identity provider."
        },
        "singleSignOnServiceUri": {
          "type": "string",
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding."
        },
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        }
      }
    },
    "IsInvitableUserResponse": {
      "type": "object",
      "properties": {
        "isInvitableUser": {
          "type": "boolean",
          "description": "Returns true if the email address is invitable."
        }
      },
      "id": "IsInvitableUserResponse",
      "description": "Response for IsInvitableUser RPC."
    },
    "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device.",
      "type": "object",
      "properties": {
        "browserAttributes": {
          "description": "Details of browser profiles reported by Endpoint Verification.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1BrowserAttributes"
          },
          "type": "array"
        },
        "certificateAttributes": {
          "description": "Details of certificates.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CertificateAttributes"
          },
          "type": "array"
        },
        "additionalSignals": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest",
      "description": "Request message for cancelling an unfinished device wipe.",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "type": "object",
      "properties": {
        "userAgent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User agent on the device for this specific user"
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "compromisedState": {
          "description": "Compromised State of the DeviceUser object",
          "type": "string",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ]
        },
        "passwordState": {
          "description": "Password state of the DeviceUser object",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "type": "string"
        },
        "managementState": {
          "description": "Output only. Management state of the user on the device.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Default locale used on device, in IETF BCP-47 format."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the user first signed in to the device",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device.",
          "readOnly": true,
          "type": "string"
        },
        "firstSyncTime": {
          "description": "Output only. Most recent time when user registered with this service.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lastSyncTime": {
          "type": "string",
          "description": "Output only. Last time when user synced with policies.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device"
    },
    "SendUserInvitationRequest": {
      "type": "object",
      "properties": {},
      "id": "SendUserInvitationRequest",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation."
    },
    "MembershipRole": {
      "type": "object",
      "properties": {
        "expiryDetail": {
          "description": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value.",
          "$ref": "ExpiryDetail"
        },
        "name": {
          "type": "string",
          "description": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`."
        },
        "restrictionEvaluations": {
          "description": "Evaluations of restrictions applied to parent group on this membership.",
          "$ref": "RestrictionEvaluations"
        }
      },
      "id": "MembershipRole",
      "description": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`."
    },
    "MembershipRelation": {
      "id": "MembershipRelation",
      "description": "Message containing membership relation.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a `Group`."
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s that apply to the `Membership`."
        },
        "membership": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        },
        "group": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "groupKey": {
          "description": "The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "labels": {
          "description": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DeleteInboundOidcSsoProfileOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "DeleteInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.DeleteInboundOidcSsoProfile."
    },
    "ModifyMembershipRolesResponse": {
      "id": "ModifyMembershipRolesResponse",
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "type": "object",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      }
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "description": "The definition of security settings.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "type": "string"
        },
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "type": "object",
      "properties": {
        "securityPatchTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device.",
          "type": "string"
        },
        "model": {
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "readOnly": true,
          "type": "string"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Most recent time when device synced with this service.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "readOnly": true,
          "description": "Output only. Type of device."
        },
        "managementState": {
          "readOnly": true,
          "description": "Output only. Management state of the device",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "hostname": {
          "type": "string",
          "description": "Host name of the device."
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices).",
          "readOnly": true,
          "type": "string"
        },
        "wifiMacAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "WiFi MAC addresses of device."
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "type": "string",
          "description": "Output only. Device encryption state.",
          "readOnly": true
        },
        "kernelVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Kernel version of the device."
        },
        "bootloaderVersion": {
          "readOnly": true,
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "readOnly": true
        },
        "basebandVersion": {
          "description": "Output only. Baseband version of the device.",
          "readOnly": true,
          "type": "string"
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true
        },
        "enabledUsbDebugging": {
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device.",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "Unique identifier for the device."
        },
        "meid": {
          "readOnly": true,
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string"
        },
        "networkOperator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Mobile or network operator of device, if available."
        },
        "osVersion": {
          "readOnly": true,
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "type": "string"
        },
        "endpointVerificationSpecificAttributes": {
          "readOnly": true,
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "androidSpecificAttributes": {
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true
        },
        "brand": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device brand. Example: Samsung."
        },
        "otherAccounts": {
          "type": "array",
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "enabledDeveloperOptions": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether developer options is enabled on device."
        },
        "unifiedDeviceId": {
          "readOnly": true,
          "description": "Output only. Unified device id of the device.",
          "type": "string"
        },
        "buildNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Build number of the device."
        },
        "compromisedState": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "readOnly": true,
          "description": "Output only. Represents whether the Device is compromised."
        },
        "ownerType": {
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "type": "string",
          "description": "Output only. Whether the device is owned by the company or an individual",
          "readOnly": true
        }
      }
    },
    "OidcIdpConfig": {
      "id": "OidcIdpConfig",
      "description": "OIDC IDP (identity provider) configuration.",
      "type": "object",
      "properties": {
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        },
        "issuerUri": {
          "description": "Required. The Issuer identifier for the IdP. Must be a URL. The discovery URL will be derived from this as described in Section 4 of [the OIDC specification](https://openid.net/specs/openid-connect-discovery-1_0.html).",
          "type": "string"
        }
      }
    },
    "DeleteMembershipMetadata": {
      "id": "DeleteMembershipMetadata",
      "description": "Metadata for DeleteMembership LRO.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse",
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        },
        "deviceUsers": {
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "The customer resource name that may be passed back to other Devices API methods such as List, Get, etc."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        },
        "names": {
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GroupRelation": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "description": "Membership roles of the member for the group.",
          "items": {
            "$ref": "TransitiveMembershipRole"
          }
        },
        "group": {
          "type": "string",
          "description": "Resource name for this group."
        },
        "displayName": {
          "description": "Display name for this group.",
          "type": "string"
        },
        "relationType": {
          "description": "The relation between the member and the transitive group.",
          "type": "string",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ]
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for Group resource."
        }
      },
      "id": "GroupRelation",
      "description": "Message representing a transitive group of a user or a group."
    },
    "CheckTransitiveMembershipResponse": {
      "type": "object",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      },
      "id": "CheckTransitiveMembershipResponse",
      "description": "The response message for MembershipsService.CheckTransitiveMembership."
    },
    "RestrictionEvaluations": {
      "type": "object",
      "properties": {
        "memberRestrictionEvaluation": {
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation.",
          "$ref": "MembershipRoleRestrictionEvaluation"
        }
      },
      "id": "RestrictionEvaluations",
      "description": "Evaluations of restrictions applied to parent group on this membership."
    },
    "ListInboundSamlSsoProfilesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "inboundSamlSsoProfiles": {
          "type": "array",
          "description": "List of InboundSamlSsoProfiles.",
          "items": {
            "$ref": "InboundSamlSsoProfile"
          }
        }
      },
      "id": "ListInboundSamlSsoProfilesResponse",
[...]
