{
  "canonicalName": "Cloud Controls Partner Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "ownerDomain": "google.com",
  "id": "cloudcontrolspartner:v1",
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "revision": "20260408",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "version_module": true,
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getPartner": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "required": true,
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Get details of a Partner.",
              "response": {
                "$ref": "Partner"
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/partner",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Customer"
                  },
                  "description": "Gets details of a single customer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "httpMethod": "GET"
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete details of a single customer",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    },
                    "customerId": {
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Creates a new customer.",
                  "response": {
                    "$ref": "Customer"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customers"
                },
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Customer"
                  },
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Update details of a single customer"
                }
              },
              "resources": {
                "workloads": {
                  "methods": {
                    "getEkmConnections": {
                      "description": "Gets the EKM connections associated with a workload",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "description": "Gets details of a single workload",
                      "response": {
                        "$ref": "Workload"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}"
                    },
                    "getPartnerPermissions": {
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "description": "Gets the partner permissions granted for a workload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "required": true,
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/workloads",
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "description": "Lists customer workloads for a given customer org id",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/accessApprovalRequests",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "httpMethod": "GET",
                          "deprecated": true,
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "parameters": {
                            "filter": {
                              "description": "Optional. Filtering results.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "parameters": {
                            "interval.endTime": {
                              "format": "google-datetime",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Filtering results",
                              "location": "query",
                              "type": "string"
                            },
                            "interval.startTime": {
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/violations",
                          "httpMethod": "GET",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations"
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "httpMethod": "GET",
                          "description": "Gets details of a single Violation.",
                          "response": {
                            "$ref": "Violation"
                          },
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "parameters": {
                            "name": {
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "title": "Cloud Controls Partner API",
  "name": "cloudcontrolspartner",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "WorkloadOnboardingState": {
      "description": "Container for workload onboarding steps.",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "description": "List of workload onboarding steps.",
          "type": "array"
        }
      },
      "id": "WorkloadOnboardingState"
    },
    "WorkloadOnboardingStep": {
      "id": "WorkloadOnboardingStep",
      "description": "Container for workload onboarding information.",
      "type": "object",
      "properties": {
        "step": {
          "description": "The onboarding step.",
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ],
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step.",
          "type": "string"
        },
        "completionTime": {
          "description": "The completion time of the onboarding step.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionState": {
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        }
      }
    },
    "Customer": {
      "id": "Customer",
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "type": "object",
      "properties": {
        "customerOnboardingState": {
          "$ref": "CustomerOnboardingState",
          "description": "Output only. Container for customer onboarding steps",
          "readOnly": true
        },
        "organizationDomain": {
          "readOnly": true,
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        },
        "isOnboarded": {
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "CustomerOnboardingState": {
      "description": "Container for customer onboarding steps",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "description": "List of customer onboarding steps",
          "type": "array",
          "items": {
            "$ref": "CustomerOnboardingStep"
          }
        }
      },
      "id": "CustomerOnboardingState"
    },
    "Instructions": {
      "description": "Instructions to remediate violation",
      "type": "object",
      "properties": {
        "consoleInstructions": {
          "$ref": "Console",
          "description": "Remediation instructions to resolve violation via cloud console"
        },
        "gcloudInstructions": {
          "$ref": "Gcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        }
      },
      "id": "Instructions"
    },
    "PartnerPermissions": {
      "id": "PartnerPermissions",
      "description": "The permissions granted to the partner for a workload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "items": {
            "type": "string",
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ]
          },
          "description": "The partner permissions granted for the workload",
          "type": "array"
        }
      }
    },
    "AccessApprovalRequest": {
      "description": "Details about the Access request.",
      "type": "object",
      "properties": {
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestTime": {
          "description": "The time at which approval was requested.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedExpirationTime": {
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        }
      },
      "id": "AccessApprovalRequest"
    },
    "Gcloud": {
      "id": "Gcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "type": "object",
      "properties": {
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation",
          "type": "array"
        },
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        }
      }
    },
    "Partner": {
      "id": "Partner",
      "description": "Message describing Partner resource",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "operatedCloudRegions": {
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array"
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the resource was updated",
          "type": "string",
          "format": "google-datetime"
        },
        "skus": {
          "items": {
            "$ref": "Sku"
          },
          "description": "List of SKUs the partner is offering",
          "type": "array"
        },
        "ekmSolutions": {
          "items": {
            "$ref": "EkmMetadata"
          },
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Time the resource was created",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "Workload": {
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "type": "object",
      "properties": {
        "workloadOnboardingState": {
          "$ref": "WorkloadOnboardingState",
          "description": "Container for workload onboarding steps."
        },
        "folderId": {
          "format": "int64",
          "description": "Output only. Folder id this workload is associated with",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "isOnboarded": {
          "description": "Indicates whether a workload is fully onboarded.",
          "type": "boolean"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "folder": {
          "description": "Output only. The name of container folder of the assured workload",
          "type": "string",
          "readOnly": true
        },
        "partner": {
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Partner associated with this workload.",
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ]
        },
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        }
      },
      "id": "Workload"
    },
    "ListAccessApprovalRequestsResponse": {
      "description": "Response message for list access requests.",
      "type": "object",
      "properties": {
        "accessApprovalRequests": {
          "items": {
            "$ref": "AccessApprovalRequest"
          },
          "description": "List of access approval requests",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListAccessApprovalRequestsResponse"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "description": "Response message for list customer Customers requests",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customers": {
          "items": {
            "$ref": "Customer"
          },
          "description": "List of customers",
          "type": "array"
        }
      }
    },
    "Remediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object",
      "properties": {
        "remediationType": {
          "readOnly": true,
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "type": "string"
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "Instructions"
        },
        "compliantValues": {
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array"
        }
      },
      "id": "Remediation"
    },
    "EkmMetadata": {
      "id": "EkmMetadata",
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "type": "object",
      "properties": {
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        },
        "ekmSolution": {
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "description": "The Cloud EKM partner.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ]
        }
      }
    },
    "AccessReason": {
      "id": "AccessReason",
      "description": "Reason for the access.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ]
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      }
    },
    "Violation": {
      "description": "Details of resource Violation",
      "type": "object",
      "properties": {
        "resolveTime": {
          "readOnly": true,
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the violation",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated.",
          "type": "string",
          "readOnly": true
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string"
        },
        "beginTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string"
        },
        "folderId": {
          "format": "int64",
          "description": "The folder_id of the violation",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string"
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "readOnly": true,
          "$ref": "Remediation"
        }
      },
      "id": "Violation"
    },
    "ConnectionError": {
      "id": "ConnectionError",
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        },
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Console": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "type": "object",
      "properties": {
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console",
          "type": "array"
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Console"
    },
    "ListWorkloadsResponse": {
      "description": "Response message for list customer workloads requests.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workloads": {
          "description": "List of customer workloads",
          "type": "array",
          "items": {
            "$ref": "Workload"
          }
        }
      },
      "id": "ListWorkloadsResponse"
    },
    "Sku": {
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        }
      },
      "id": "Sku"
    },
    "CustomerOnboardingStep": {
      "description": "Container for customer onboarding information",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The starting time of the onboarding step",
          "type": "string",
          "format": "google-datetime"
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step",
          "type": "string"
        },
        "completionState": {
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. Current state of the step",
          "type": "string",
          "readOnly": true,
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        },
        "step": {
          "description": "The onboarding step",
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ]
        }
      },
      "id": "CustomerOnboardingStep"
    },
    "EkmConnection": {
      "id": "EkmConnection",
      "description": "Details about the EKM connection",
      "type": "object",
      "properties": {
        "connectionError": {
          "$ref": "ConnectionError",
          "description": "The connection error that occurred if any"
        },
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        },
        "connectionState": {
          "readOnly": true,
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "description": "Output only. The connection state",
          "type": "string"
        }
      }
    },
    "EkmConnections": {
      "id": "EkmConnections",
      "description": "The EKM connections associated with a workload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
          "type": "string"
        },
        "ekmConnections": {
          "items": {
            "$ref": "EkmConnection"
          },
          "description": "The EKM connections associated with the workload",
          "type": "array"
        }
      }
    },
    "ListViolationsResponse": {
      "id": "ListViolationsResponse",
      "description": "Response message for list customer violation requests",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "type": "array"
        },
        "violations": {
          "description": "List of violation",
          "type": "array",
          "items": {
            "$ref": "Violation"
          }
        }
      }
    }
  }
}