{
  "version": "v1",
  "discoveryVersion": "v1",
  "revision": "20260427",
  "id": "clouddeploy:v1",
  "schemas": {
    "DeployArtifact": {
      "id": "DeployArtifact",
      "description": "The artifacts produced by a deploy operation.",
      "properties": {
        "artifactUri": {
          "description": "Output only. URI of a directory containing the artifacts. All paths are relative to this location.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPaths": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. File paths of the manifests applied during the deploy operation relative to the URI."
        }
      },
      "type": "object"
    },
    "AdvanceChildRolloutJobRun": {
      "type": "object",
      "id": "AdvanceChildRolloutJobRun",
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`.",
      "properties": {
        "rollout": {
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "readOnly": true,
          "type": "string"
        },
        "rolloutPhaseId": {
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CanaryDeployment": {
      "id": "CanaryDeployment",
      "description": "CanaryDeployment represents the canary deployment configuration",
      "properties": {
        "postdeploy": {
          "description": "Optional. Configuration for the postdeploy job of the last phase. If this is not configured, there will be no postdeploy job for this phase.",
          "$ref": "Postdeploy"
        },
        "analysis": {
          "description": "Optional. Configuration for the analysis job. If configured, the analysis will run after each percentage deployment.",
          "$ref": "Analysis"
        },
        "percentages": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Required. The percentage based deployments that will occur as a part of a `Rollout`. List is expected in ascending order and each integer n is 0 <= n < 100. If the GatewayServiceMesh is configured for Kubernetes, then the range for n is 0 <= n <= 100.",
          "type": "array"
        },
        "verify": {
          "type": "boolean",
          "description": "Optional. Whether to run verify tests after each percentage deployment via `skaffold verify`."
        },
        "verifyConfig": {
          "description": "Optional. Configuration for the verify job. Cannot be set if `verify` is set to true.",
          "$ref": "Verify"
        },
        "predeploy": {
          "description": "Optional. Configuration for the predeploy job of the first phase. If this is not configured, there will be no predeploy job for this phase.",
          "$ref": "Predeploy"
        }
      },
      "type": "object"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "ListRolloutsResponse is the response object returned by `ListRollouts`.",
      "properties": {
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The `Rollout` objects.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "SkaffoldGCSSource": {
      "id": "SkaffoldGCSSource",
      "description": "Cloud Storage bucket containing Skaffold Config modules.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Required. Cloud Storage source paths to copy recursively. For example, providing \"gs://my-bucket/dir/configs/*\" will result in Skaffold copying all files within the \"dir/configs\" directory in the bucket \"my-bucket\"."
        },
        "path": {
          "type": "string",
          "description": "Optional. Relative path from the source to the Skaffold file."
        }
      },
      "type": "object"
    },
    "PipelineReadyCondition": {
      "id": "PipelineReadyCondition",
      "description": "PipelineReadyCondition contains information around the status of the Pipeline.",
      "properties": {
        "status": {
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Last time the condition was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "DeployPolicyEvaluationEvent": {
      "type": "object",
      "id": "DeployPolicyEvaluationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_evaluation\" Platform Log event that describes the deploy policy evaluation event.",
      "properties": {
        "invoker": {
          "enumDescriptions": [
            "Unspecified.",
            "The action is user-driven. For example, creating a rollout manually via a gcloud create command.",
            "Automated action by Cloud Deploy."
          ],
          "type": "string",
          "enum": [
            "INVOKER_UNSPECIFIED",
            "USER",
            "DEPLOY_AUTOMATION"
          ],
          "description": "What invoked the action (e.g. a user or automation)."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a deploy policy event occurs."
        },
        "ruleType": {
          "description": "Rule type (e.g. Restrict Rollouts).",
          "type": "string"
        },
        "deliveryPipeline": {
          "description": "The name of the `Delivery Pipeline`.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "The name of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy."
        },
        "pipelineUid": {
          "description": "Unique identifier of the `Delivery Pipeline`.",
          "type": "string"
        },
        "allowed": {
          "type": "boolean",
          "description": "Whether the request is allowed. Allowed is set as true if: (1) the request complies with the policy; or (2) the request doesn't comply with the policy but the policy was overridden; or (3) the request doesn't comply with the policy but the policy was suspended"
        },
        "rule": {
          "description": "Rule id.",
          "type": "string"
        },
        "overrides": {
          "description": "Things that could have overridden the policy verdict. Overrides together with verdict decide whether the request is allowed.",
          "items": {
            "enumDescriptions": [
              "This should never happen.",
              "The policy was overridden.",
              "The policy was suspended."
            ],
            "type": "string",
            "enum": [
              "POLICY_VERDICT_OVERRIDE_UNSPECIFIED",
              "POLICY_OVERRIDDEN",
              "POLICY_SUSPENDED"
            ]
          },
          "type": "array"
        },
        "targetUid": {
          "type": "string",
          "description": "Unique identifier of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy."
        },
        "deployPolicy": {
          "type": "string",
          "description": "The name of the `DeployPolicy`."
        },
        "deployPolicyUid": {
          "description": "Unique identifier of the `DeployPolicy`.",
          "type": "string"
        },
        "verdict": {
          "enumDescriptions": [
            "This should never happen.",
            "Allowed by policy. This enum value is not currently used but may be used in the future. Currently logs are only generated when a request is denied by policy.",
            "Denied by policy."
          ],
          "type": "string",
          "enum": [
            "POLICY_VERDICT_UNSPECIFIED",
            "ALLOWED_BY_POLICY",
            "DENIED_BY_POLICY"
          ],
          "description": "The policy verdict of the request."
        }
      }
    },
    "CustomMetadata": {
      "id": "CustomMetadata",
      "description": "CustomMetadata contains information from a user-defined operation.",
      "properties": {
        "values": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Key-value pairs provided by the user-defined operation."
        }
      },
      "type": "object"
    },
    "SerialPipeline": {
      "type": "object",
      "id": "SerialPipeline",
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "properties": {
        "stages": {
          "items": {
            "$ref": "Stage"
          },
          "description": "Optional. Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "type": "array"
        }
      }
    },
    "ReleaseNotificationEvent": {
      "id": "ReleaseNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification.",
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        }
      },
      "type": "object"
    },
    "Phase": {
      "id": "Phase",
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "properties": {
        "skipMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information on why the Phase was skipped, if available."
        },
        "id": {
          "description": "Output only. The ID of the Phase.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentJobs": {
          "description": "Output only. Deployment job composition.",
          "readOnly": true,
          "$ref": "DeploymentJobs"
        },
        "childRolloutJobs": {
          "readOnly": true,
          "$ref": "ChildRolloutJobs",
          "description": "Output only. ChildRollout job composition."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted.",
            "The Phase was skipped."
          ],
          "description": "Output only. Current state of the Phase.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RepairRolloutOperation": {
      "type": "object",
      "id": "RepairRolloutOperation",
      "description": "Contains the information for an automated `repair rollout` operation.",
      "properties": {
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The job ID for the Job to repair."
        },
        "currentRepairPhaseIndex": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The index of the current repair action in the repair sequence."
        },
        "phaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The phase ID of the phase that includes the job being repaired."
        },
        "repairPhases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Records of the repair attempts. Each repair phase may have multiple retry attempts or single rollback attempt.",
          "items": {
            "$ref": "RepairPhase"
          }
        },
        "rollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`."
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "RolloutNotificationEvent": {
      "id": "RolloutNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification.",
      "properties": {
        "rolloutUid": {
          "type": "string",
          "description": "Unique identifier of the `Rollout`."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target` that the rollout is deployed to."
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "rollout": {
          "type": "string",
          "description": "The name of the `Rollout`."
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Canary": {
      "type": "object",
      "id": "Canary",
      "description": "Canary represents the canary deployment strategy.",
      "properties": {
        "runtimeConfig": {
          "description": "Optional. Runtime specific configurations for the deployment strategy. The runtime configuration is used to determine how Cloud Deploy will split traffic to enable a progressive deployment.",
          "$ref": "RuntimeConfig"
        },
        "canaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target.",
          "$ref": "CanaryDeployment"
        },
        "customCanaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target, but allows customizing at the phase level where a phase represents each of the percentage deployments.",
          "$ref": "CustomCanaryDeployment"
        }
      }
    },
    "DefaultPool": {
      "type": "object",
      "id": "DefaultPool",
      "description": "Execution using the default Cloud Build pool.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        }
      }
    },
    "AssociatedEntities": {
      "type": "object",
      "id": "AssociatedEntities",
      "description": "Information about entities associated with a `Target`.",
      "properties": {
        "gkeClusters": {
          "type": "array",
          "items": {
            "$ref": "GkeCluster"
          },
          "description": "Optional. Information specifying GKE clusters as associated entities."
        },
        "anthosClusters": {
          "items": {
            "$ref": "AnthosCluster"
          },
          "description": "Optional. Information specifying Anthos clusters as associated entities.",
          "type": "array"
        }
      }
    },
    "Predeploy": {
      "id": "Predeploy",
      "description": "Predeploy contains the predeploy job configuration information.",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the predeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified.",
          "type": "array"
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the predeploy job.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Target": {
      "id": "Target",
      "description": "A `Target` resource in the Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed.",
      "properties": {
        "run": {
          "description": "Optional. Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "multiTarget": {
          "description": "Optional. Information specifying a multiTarget.",
          "$ref": "MultiTarget"
        },
        "description": {
          "description": "Optional. Description of the `Target`. Max length is 255 characters.",
          "type": "string"
        },
        "customTarget": {
          "description": "Optional. Information specifying a Custom Target.",
          "$ref": "CustomTarget"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the `Target` was created."
        },
        "gke": {
          "description": "Optional. Information specifying a GKE Cluster.",
          "$ref": "GkeCluster"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the `Target` was updated."
        },
        "anthosCluster": {
          "description": "Optional. Information specifying an Anthos Cluster.",
          "$ref": "AnthosCluster"
        },
        "executionConfigs": {
          "description": "Optional. Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`.",
          "items": {
            "$ref": "ExecutionConfig"
          },
          "type": "array"
        },
        "deployParameters": {
          "type": "object",
          "description": "Optional. The deploy parameters to use for this target.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Target`. Format is `projects/{project}/locations/{location}/targets/{target}`. The `target` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `Target`."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetId": {
          "description": "Output only. Resource id of the `Target`.",
          "readOnly": true,
          "type": "string"
        },
        "requireApproval": {
          "description": "Optional. Whether or not the `Target` requires approval.",
          "type": "boolean"
        },
        "associatedEntities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "AssociatedEntities"
          },
          "description": "Optional. Map of entity IDs to their associated entities. Associated entities allows specifying places other than the deployment target for specific features. For example, the Gateway API canary can be configured to deploy the HTTPRoute to a different cluster(s) than the deployment cluster using associated entities. An entity ID must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        }
      },
      "type": "object"
    },
    "KubernetesConfig": {
      "id": "KubernetesConfig",
      "description": "KubernetesConfig contains the Kubernetes runtime configuration.",
      "properties": {
        "gatewayServiceMesh": {
          "description": "Optional. Kubernetes Gateway API service mesh configuration.",
          "$ref": "GatewayServiceMesh"
        },
        "serviceNetworking": {
          "description": "Optional. Kubernetes Service networking configuration.",
          "$ref": "ServiceNetworking"
        }
      },
      "type": "object"
    },
    "JobRunNotificationEvent": {
      "type": "object",
      "id": "JobRunNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification.",
      "properties": {
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "targetId": {
          "description": "ID of the `Target`.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "jobRun": {
          "type": "string",
          "description": "The name of the `JobRun`."
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        }
      }
    },
    "AutomationRunEvent": {
      "type": "object",
      "id": "AutomationRunEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation_run\" Platform Log event that describes the AutomationRun related events.",
      "properties": {
        "automationRun": {
          "type": "string",
          "description": "The name of the `AutomationRun`."
        },
        "destinationTargetId": {
          "description": "ID of the `Target` to which the `AutomationRun` is created.",
          "type": "string"
        },
        "ruleId": {
          "type": "string",
          "description": "Identifier of the `Automation` rule."
        },
        "message": {
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change.",
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "automationId": {
          "type": "string",
          "description": "Identifier of the `Automation`."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        }
      }
    },
    "DeployParameters": {
      "id": "DeployParameters",
      "description": "DeployParameters contains deploy parameters information.",
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Values are deploy parameters in key-value pairs.",
          "type": "object"
        },
        "matchTargetLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Deploy parameters are applied to targets with match labels. If unspecified, deploy parameters are applied to all targets (including child targets of a multi-target).",
          "type": "object"
        }
      },
      "type": "object"
    },
    "DeployPolicyResourceSelector": {
      "type": "object",
      "id": "DeployPolicyResourceSelector",
      "description": "Contains information on the resources to select for a deploy policy. Attributes provided must all match the resource in order for policy restrictions to apply. For example, if delivery pipelines attributes given are an id \"prod\" and labels \"foo: bar\", a delivery pipeline resource must match both that id and have that label in order to be subject to the policy.",
      "properties": {
        "deliveryPipeline": {
          "description": "Optional. Contains attributes about a delivery pipeline.",
          "$ref": "DeliveryPipelineAttribute"
        },
        "target": {
          "description": "Optional. Contains attributes about a target.",
          "$ref": "TargetAttribute"
        }
      }
    },
    "TimeWindows": {
      "id": "TimeWindows",
      "description": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times.",
      "properties": {
        "weeklyWindows": {
          "type": "array",
          "description": "Optional. Recurring weekly windows within which actions are restricted.",
          "items": {
            "$ref": "WeeklyWindow"
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York)."
        },
        "oneTimeWindows": {
          "type": "array",
          "description": "Optional. One-time windows within which actions are restricted.",
          "items": {
            "$ref": "OneTimeWindow"
          }
        }
      },
      "type": "object"
    },
    "PostdeployJobRunMetadata": {
      "type": "object",
      "id": "PostdeployJobRunMetadata",
      "description": "PostdeployJobRunMetadata contains metadata about the postdeploy `JobRun`.",
      "properties": {
        "custom": {
          "readOnly": true,
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined postdeploy operation."
        }
      }
    },
    "CustomTargetTasks": {
      "type": "object",
      "id": "CustomTargetTasks",
      "description": "CustomTargetTasks represents the `CustomTargetType` configuration using tasks.",
      "properties": {
        "render": {
          "description": "Optional. The task responsible for render operations. If not provided then Cloud Deploy will perform its default rendering operation.",
          "$ref": "Task"
        },
        "deploy": {
          "description": "Required. The task responsible for deploy operations.",
          "$ref": "Task"
        }
      }
    },
    "GoogleCloudAnalysis": {
      "id": "GoogleCloudAnalysis",
      "description": "GoogleCloudAnalysis is a set of Google Cloud-based checks to perform on the deployment.",
      "properties": {
        "alertPolicyChecks": {
          "type": "array",
          "description": "Optional. A list of Cloud Monitoring Alert Policy checks to perform as part of the analysis.",
          "items": {
            "$ref": "AlertPolicyCheck"
          }
        }
      },
      "type": "object"
    },
    "TargetNotificationEvent": {
      "id": "TargetNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "target": {
          "description": "The name of the `Target`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        }
      },
      "type": "object"
    },
    "CustomCanaryDeployment": {
      "type": "object",
      "id": "CustomCanaryDeployment",
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration.",
      "properties": {
        "phaseConfigs": {
          "type": "array",
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "items": {
            "$ref": "PhaseConfig"
          }
        }
      }
    },
    "CloudRunMetadata": {
      "type": "object",
      "id": "CloudRunMetadata",
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "properties": {
        "service": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string",
          "readOnly": true
        },
        "serviceUrls": {
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "workerPool": {
          "description": "Output only. The Cloud Run worker pool associated with a `Rollout`. Format is `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string",
          "readOnly": true
        },
        "previousRevision": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The previous Cloud Run Revision name associated with a `Rollout`. Only set when a canary deployment strategy is configured. Format for service is projects/{project}/locations/{location}/services/{service}/revisions/{revision}. Format for worker pool is projects/{project}/locations/{location}/workerPools/{workerpool}/revisions/{revision}."
        },
        "revision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`."
        },
        "job": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Cloud Run job that is associated with a `Rollout`. Format is `projects/{project}/locations/{location}/jobs/{job_name}`."
        }
      }
    },
    "CancelRolloutResponse": {
      "type": "object",
      "id": "CancelRolloutResponse",
      "description": "The response object from `CancelRollout`.",
      "properties": {}
    },
    "RollbackAttempt": {
      "type": "object",
      "id": "RollbackAttempt",
      "description": "RollbackAttempt represents an action of rolling back a Cloud Deploy 'Target'.",
      "properties": {
        "stateDesc": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the state of the Rollback."
        },
        "rolloutId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the rollback `Rollout` to create."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ],
          "type": "string",
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "description": "Output only. Valid state of this rollback action."
        },
        "destinationPhase": {
          "description": "Output only. The phase to which the rollout will be rolled back to.",
          "readOnly": true,
          "type": "string"
        },
        "disableRollbackIfRolloutPending": {
          "description": "Output only. If active rollout exists on the target, abort this rollback.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "PromoteReleaseOperation": {
      "type": "object",
      "id": "PromoteReleaseOperation",
      "description": "Contains the information of an automated promote-release operation.",
      "properties": {
        "wait": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. How long the operation will be paused."
        },
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "type": "string",
          "readOnly": true
        },
        "phase": {
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "type": "string",
          "readOnly": true
        },
        "targetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name."
        }
      }
    },
    "CreateChildRolloutJob": {
      "type": "object",
      "id": "CreateChildRolloutJob",
      "description": "A createChildRollout Job.",
      "properties": {}
    },
    "TerminateJobRunRequest": {
      "id": "TerminateJobRunRequest",
      "description": "The request object used by `TerminateJobRun`.",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "BuildArtifact": {
      "id": "BuildArtifact",
      "description": "Description of an a image to use during Skaffold rendering.",
      "properties": {
        "tag": {
          "description": "Optional. Image tag to use. This will generally be the full path to an image, such as \"gcr.io/my-project/busybox:1.2.3\" or \"gcr.io/my-project/busybox@sha256:abc123\".",
          "type": "string"
        },
        "image": {
          "description": "Optional. Image name in Skaffold configuration.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReleaseReadyCondition": {
      "type": "object",
      "id": "ReleaseReadyCondition",
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "properties": {
        "status": {
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release.",
          "type": "boolean"
        }
      }
    },
    "CustomTargetSkaffoldActions": {
      "type": "object",
      "id": "CustomTargetSkaffoldActions",
      "description": "CustomTargetSkaffoldActions represents the `CustomTargetType` configuration using Skaffold custom actions.",
      "properties": {
        "includeSkaffoldModules": {
          "type": "array",
          "items": {
            "$ref": "SkaffoldModules"
          },
          "description": "Optional. List of Skaffold modules Cloud Deploy will include in the Skaffold Config as required before performing diagnose."
        },
        "renderAction": {
          "description": "Optional. The Skaffold custom action responsible for render operations. If not provided then Cloud Deploy will perform the render operations via `skaffold render`.",
          "type": "string"
        },
        "deployAction": {
          "type": "string",
          "description": "Required. The Skaffold custom action responsible for deploy operations."
        }
      }
    },
    "RepairPhaseConfig": {
      "type": "object",
      "id": "RepairPhaseConfig",
      "description": "Configuration of the repair phase.",
      "properties": {
        "rollback": {
          "description": "Optional. Rolls back a `Rollout`.",
          "$ref": "Rollback"
        },
        "retry": {
          "description": "Optional. Retries a failed job.",
          "$ref": "Retry"
        }
      }
    },
    "PipelineCondition": {
      "type": "object",
      "id": "PipelineCondition",
      "description": "PipelineCondition contains all conditions relevant to a Delivery Pipeline.",
      "properties": {
        "pipelineReadyCondition": {
          "description": "Details around the Pipeline's overall status.",
          "$ref": "PipelineReadyCondition"
        },
        "targetsTypeCondition": {
          "description": "Details on the whether the targets enumerated in the pipeline are of the same type.",
          "$ref": "TargetsTypeCondition"
        },
        "targetsPresentCondition": {
          "description": "Details around targets enumerated in the pipeline.",
          "$ref": "TargetsPresentCondition"
        }
      }
    },
    "ServiceNetworking": {
      "type": "object",
      "id": "ServiceNetworking",
      "description": "Information about the Kubernetes Service networking configuration.",
      "properties": {
        "disablePodOverprovisioning": {
          "description": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster.",
          "type": "boolean"
        },
        "service": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Service."
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service.",
          "type": "string"
        },
        "podSelectorLabel": {
          "type": "string",
          "description": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment."
        }
      }
    },
    "ApproveRolloutResponse": {
      "id": "ApproveRolloutResponse",
      "description": "The response object from `ApproveRollout`.",
      "properties": {},
      "type": "object"
    },
    "RolloutUpdateEvent": {
      "id": "RolloutUpdateEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_update\" Platform Log event that describes the rollout update event.",
      "properties": {
        "targetId": {
          "description": "ID of the target.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "The name of the rollout. rollout_uid is not in this log message because we write some of these log messages at rollout creation time, before we've generated the uid."
        },
        "releaseUid": {
          "description": "Unique identifier of the release.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a rollout update event.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "rolloutUpdateType": {
          "type": "string",
          "enum": [
            "ROLLOUT_UPDATE_TYPE_UNSPECIFIED",
            "PENDING",
            "PENDING_RELEASE",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "HALTED",
            "SUCCEEDED",
            "FAILED",
            "APPROVAL_REQUIRED",
            "APPROVED",
            "REJECTED",
            "ADVANCE_REQUIRED",
            "ADVANCED"
          ],
          "enumDescriptions": [
            "Rollout update type unspecified.",
            "Rollout state updated to pending (release has succeeded, waiting on the rollout to start).",
            "Rollout state updated to pending release.",
            "Rollout state updated to in progress.",
            "Rollout state updated to cancelling.",
            "Rollout state updated to cancelled.",
            "Rollout state updated to halted.",
            "Rollout state updated to succeeded.",
            "Rollout state updated to failed.",
            "Rollout requires approval.",
            "Rollout has been approved.",
            "Rollout has been rejected.",
            "Rollout requires advance to the next phase.",
            "Rollout has been advanced."
          ],
          "description": "The type of the rollout update."
        },
        "message": {
          "description": "Debug message for when a rollout update event occurs.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the pipeline."
        }
      },
      "type": "object"
    },
    "VerifyJob": {
      "id": "VerifyJob",
      "description": "A verify Job.",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "description": "Output only. The tasks that are executed as part of the verify Job.",
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RollbackTargetConfig": {
      "type": "object",
      "id": "RollbackTargetConfig",
      "description": "Configs for the Rollback rollout.",
      "properties": {
        "rollout": {
          "description": "Optional. The rollback `Rollout` to create.",
          "$ref": "Rollout"
        },
        "startingPhaseId": {
          "type": "string",
          "description": "Optional. The starting phase ID for the `Rollout`. If unspecified, the `Rollout` will start in the stable phase."
        }
      }
    },
    "AdvanceRolloutOperation": {
      "type": "object",
      "id": "AdvanceRolloutOperation",
      "description": "Contains the information of an automated advance-rollout operation.",
      "properties": {
        "destinationPhase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The phase the rollout will be advanced to."
        },
        "sourcePhase": {
          "description": "Output only. The phase of a deployment that initiated the operation.",
          "type": "string",
          "readOnly": true
        },
        "wait": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. How long the operation will be paused."
        },
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "KubernetesRenderMetadata": {
      "type": "object",
      "id": "KubernetesRenderMetadata",
      "description": "KubernetesRenderMetadata contains Kubernetes information associated with a `Release` render.",
      "properties": {
        "deployment": {
          "description": "Output only. Name of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a single Deployment was provided in the rendered manifest.",
          "type": "string",
          "readOnly": true
        },
        "canaryDeployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the canary version of the Kubernetes Deployment that will be applied to the GKE cluster. Only set if a canary deployment strategy was configured."
        },
        "kubernetesNamespace": {
          "description": "Output only. Namespace the Kubernetes resources will be applied to in the GKE cluster. Only set if applying resources to a single namespace.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "ApproveRolloutRequest": {
      "type": "object",
      "id": "ApproveRolloutRequest",
      "description": "The request object used by `ApproveRollout`.",
      "properties": {
        "overrideDeployPolicy": {
          "type": "array",
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          }
        },
        "approved": {
          "type": "boolean",
          "description": "Required. True = approve; false = reject"
        }
      }
    },
    "CustomTargetDeployMetadata": {
      "type": "object",
      "id": "CustomTargetDeployMetadata",
      "description": "CustomTargetDeployMetadata contains information from a Custom Target deploy operation.",
      "properties": {
        "skipMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Skip message provided in the results of a custom deploy operation."
        }
      }
    },
    "Rollout": {
      "id": "Rollout",
      "description": "A `Rollout` resource in the Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was created."
        },
        "enqueueTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was enqueued."
        },
        "deployStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` started deploying."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Rollout` for user purposes. Max length is 255 characters."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ],
          "description": "Output only. Current state of the `Rollout`."
        },
        "deployingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "activeRepairAutomationRun": {
          "description": "Output only. The AutomationRun actively repairing the rollout.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the `Rollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`. The `rollout` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Rollout`.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "deployEndTime": {
          "description": "Output only. Time at which the `Rollout` finished deploying.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "approvalState": {
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ],
          "type": "string",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Output only. Approval state of the `Rollout`."
        },
        "rolledBackByRollouts": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Names of `Rollouts` that rolled back this `Rollout`.",
          "type": "array",
          "readOnly": true
        },
        "targetId": {
          "type": "string",
          "description": "Required. The ID of Target to which this `Rollout` is deploying."
        },
        "rollbackOfRollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the `Rollout` that is rolled back by this `Rollout`. Empty if this `Rollout` wasn't created as a rollback."
        },
        "phases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "items": {
            "$ref": "Phase"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "metadata": {
          "description": "Output only. Metadata contains information about the rollout.",
          "readOnly": true,
          "$ref": "Metadata"
        },
        "failureReason": {
          "description": "Output only. Additional information about the rollout failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "deployFailureCause": {
          "readOnly": true,
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the allotted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "A Rollout operation had a feature configured that is not supported."
          ],
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED",
            "OPERATION_FEATURE_NOT_SUPPORTED"
          ]
        },
        "approveTime": {
          "description": "Output only. Time at which the `Rollout` was approved.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "controllerRollout": {
          "description": "Output only. Name of the `ControllerRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CustomCheckStatus": {
      "type": "object",
      "id": "CustomCheckStatus",
      "description": "CustomCheckStatus contains information specific to a single iteration of a custom analysis job.",
      "properties": {
        "frequency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The frequency in minutes at which the custom check is run."
        },
        "id": {
          "description": "Output only. The ID of the custom check.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "readOnly": true,
          "description": "Output only. The reason the analysis failed. This will always be unspecified while the analysis is in progress or if it succeeded.",
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The analysis operation did not complete successfully; check Cloud Build logs.",
            "The analysis job run did not complete within the alloted time defined in the target's execution environment configuration.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ]
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the analysis failure, if available."
        },
        "task": {
          "readOnly": true,
          "$ref": "Task",
          "description": "Output only. The task that ran for this custom check."
        },
        "metadata": {
          "description": "Output only. Custom metadata provided by the user-defined custom check operation. result.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        },
        "latestBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that was used to execute the latest run of this custom action check. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TimedPromoteReleaseOperation": {
      "type": "object",
      "id": "TimedPromoteReleaseOperation",
      "description": "Contains the information of an automated timed promote-release operation.",
      "properties": {
        "release": {
          "description": "Output only. The name of the release to be promoted.",
          "readOnly": true,
          "type": "string"
        },
        "targetId": {
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name.",
          "readOnly": true,
          "type": "string"
        },
        "phase": {
          "description": "Output only. The starting phase of the rollout created by this operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "SkaffoldGitSource": {
      "id": "SkaffoldGitSource",
      "description": "Git repository containing Skaffold Config modules.",
      "properties": {
        "ref": {
          "type": "string",
          "description": "Optional. Git branch or tag to use when cloning the repository."
        },
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold file.",
          "type": "string"
        },
        "repo": {
          "type": "string",
          "description": "Required. Git repository the package should be cloned from."
        }
      },
      "type": "object"
    },
    "RetryAttempt": {
      "type": "object",
      "id": "RetryAttempt",
      "description": "RetryAttempt represents an action of retrying the failed Cloud Deploy job.",
      "properties": {
        "stateDesc": {
          "description": "Output only. Description of the state of the Retry.",
          "readOnly": true,
          "type": "string"
        },
        "attempt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The index of this retry attempt."
        },
        "wait": {
          "description": "Output only. How long the operation will be paused.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ],
          "type": "string",
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "description": "Output only. Valid state of this retry action."
        }
      }
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Targets": {
      "id": "Targets",
      "description": "The targets involved in a single timed promotion.",
      "properties": {
        "sourceTargetId": {
          "description": "Optional. The source target ID.",
          "type": "string"
        },
        "destinationTargetId": {
          "type": "string",
          "description": "Optional. The destination target ID."
        }
      },
      "type": "object"
    },
    "JobRun": {
      "type": "object",
      "id": "JobRun",
      "description": "A `JobRun` resource in the Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation.",
      "properties": {
        "advanceChildRolloutJobRun": {
          "description": "Output only. Information specific to an advanceChildRollout `JobRun`",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJobRun"
        },
        "analysisJobRun": {
          "description": "Output only. Information specific to an analysis `JobRun`.",
          "readOnly": true,
          "$ref": "AnalysisJobRun"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` was created."
        },
        "createChildRolloutJobRun": {
          "readOnly": true,
          "$ref": "CreateChildRolloutJobRun",
          "description": "Output only. Information specific to a createChildRollout `JobRun`."
        },
        "predeployJobRun": {
          "readOnly": true,
          "$ref": "PredeployJobRun",
          "description": "Output only. Information specific to a predeploy `JobRun`."
        },
        "deployJobRun": {
          "description": "Output only. Information specific to a deploy `JobRun`.",
          "readOnly": true,
          "$ref": "DeployJobRun"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the `JobRun`.",
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed.",
            "The `JobRun` is terminating.",
            "The `JobRun` was terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "TERMINATING",
            "TERMINATED"
          ]
        },
        "startTime": {
          "description": "Output only. Time at which the `JobRun` was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "postdeployJobRun": {
          "readOnly": true,
          "$ref": "PostdeployJobRun",
          "description": "Output only. Information specific to a postdeploy `JobRun`."
        },
        "verifyJobRun": {
          "description": "Output only. Information specific to a verify `JobRun`.",
          "readOnly": true,
          "$ref": "VerifyJobRun"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `JobRun`."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` ended."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "name": {
          "description": "Output only. Name of the `JobRun`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/{rollouts}/jobRuns/{uuid}`.",
          "type": "string",
          "readOnly": true
        },
        "jobId": {
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to.",
          "readOnly": true,
          "type": "string"
        },
        "phaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in."
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdvanceChildRolloutJob": {
      "type": "object",
      "id": "AdvanceChildRolloutJob",
      "description": "An advanceChildRollout Job.",
      "properties": {}
    },
    "ListReleasesResponse": {
      "type": "object",
      "id": "ListReleasesResponse",
      "description": "The response object from `ListReleases`.",
      "properties": {
        "releases": {
          "type": "array",
          "items": {
            "$ref": "Release"
          },
          "description": "The `Release` objects."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "WeeklyWindow": {
      "type": "object",
      "id": "WeeklyWindow",
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight.",
      "properties": {
        "daysOfWeek": {
          "type": "array",
          "description": "Optional. Days of week. If left empty, all days of the week will be included.",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        },
        "endTime": {
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        },
        "startTime": {
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "ListDeliveryPipelinesResponse": {
      "id": "ListDeliveryPipelinesResponse",
      "description": "The response object from `ListDeliveryPipelines`.",
      "properties": {
        "deliveryPipelines": {
          "items": {
            "$ref": "DeliveryPipeline"
          },
          "description": "The `DeliveryPipeline` objects.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "IgnoreJobRequest": {
      "id": "IgnoreJobRequest",
      "description": "The request object used by `IgnoreJob`.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to ignore."
        },
        "overrideDeployPolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`."
        },
        "phaseId": {
          "description": "Required. The phase ID the Job to ignore belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RetryJobRequest": {
      "type": "object",
      "id": "RetryJobRequest",
      "description": "RetryJobRequest is the request object used by `RetryJob`.",
      "properties": {
        "phaseId": {
          "type": "string",
          "description": "Required. The phase ID the Job to retry belongs to."
        },
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to retry."
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RepairPhase": {
      "id": "RepairPhase",
      "description": "RepairPhase tracks the repair attempts that have been made for each `RepairPhaseConfig` specified in the `Automation` resource.",
      "properties": {
        "retry": {
          "readOnly": true,
          "$ref": "RetryPhase",
          "description": "Output only. Records of the retry attempts for retry repair mode."
        },
        "rollback": {
          "readOnly": true,
          "$ref": "RollbackAttempt",
          "description": "Output only. Rollback attempt for rollback repair mode ."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomTarget": {
      "id": "CustomTarget",
      "description": "Information specifying a Custom Target.",
      "properties": {
        "customTargetType": {
          "type": "string",
          "description": "Required. The name of the CustomTargetType. Format must be `projects/{project}/locations/{location}/customTargetTypes/{custom_target_type}`."
        }
      },
      "type": "object"
    },
    "RouteDestinations": {
      "type": "object",
      "id": "RouteDestinations",
      "description": "Information about route destinations for the Gateway API service mesh.",
      "properties": {
        "destinationIds": {
          "type": "array",
          "description": "Required. The clusters where the Gateway API HTTPRoute resource will be deployed to. Valid entries include the associated entities IDs configured in the Target resource and \"@self\" to include the Target cluster.",
          "items": {
            "type": "string"
          }
        },
        "propagateService": {
          "description": "Optional. Whether to propagate the Kubernetes Service to the route destination clusters. The Service will always be deployed to the Target cluster even if the HTTPRoute is not. This option may be used to facilitate successful DNS lookup in the route destination clusters. Can only be set to true if destinations are specified.",
          "type": "boolean"
        }
      }
    },
    "PolicyViolation": {
      "id": "PolicyViolation",
      "description": "Returned from an action if one or more policies were violated, and therefore the action was prevented. Contains information about what policies were violated and why.",
      "properties": {
        "policyViolationDetails": {
          "description": "Policy violation details.",
          "items": {
            "$ref": "PolicyViolationDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "ReleaseCondition": {
      "id": "ReleaseCondition",
      "description": "ReleaseCondition contains all conditions relevant to a Release.",
      "properties": {
        "kptVersionSupportedCondition": {
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition",
          "description": "Output only. Details around the support state of the release's kpt version."
        },
        "releaseReadyCondition": {
          "description": "Details around the Releases's overall status.",
          "$ref": "ReleaseReadyCondition"
        },
        "kustomizeVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Kustomize version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "skaffoldSupportedCondition": {
          "description": "Details around the support state of the release's Skaffold version.",
          "$ref": "SkaffoldSupportedCondition"
        },
        "kubectlVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Kubectl version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "dockerVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Docker version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        },
        "helmVersionSupportedCondition": {
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition",
          "description": "Output only. Details around the support state of the release's Helm version."
        },
        "skaffoldVersionSupportedCondition": {
          "description": "Output only. Details around the support state of the release's Skaffold version.",
          "readOnly": true,
          "$ref": "ToolVersionSupportedCondition"
        }
      },
      "type": "object"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RuntimeConfig": {
      "type": "object",
      "id": "RuntimeConfig",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy.",
      "properties": {
        "kubernetes": {
          "description": "Optional. Kubernetes runtime configuration.",
          "$ref": "KubernetesConfig"
        },
        "cloudRun": {
          "description": "Optional. Cloud Run runtime configuration.",
          "$ref": "CloudRunConfig"
        }
      }
    },
    "AutomationResourceSelector": {
      "type": "object",
      "id": "AutomationResourceSelector",
      "description": "AutomationResourceSelector contains the information to select the resources to which an Automation is going to be applied.",
      "properties": {
        "targets": {
          "items": {
            "$ref": "TargetAttribute"
          },
          "description": "Optional. Contains attributes about a target.",
          "type": "array"
        }
      }
    },
    "AnthosCluster": {
      "type": "object",
      "id": "AnthosCluster",
      "description": "Information specifying an Anthos Cluster.",
      "properties": {
        "membership": {
          "type": "string",
          "description": "Optional. Membership of the GKE Hub-registered cluster to which to apply the Skaffold configuration. Format is `projects/{project}/locations/{location}/memberships/{membership_name}`."
        }
      }
    },
    "PredeployJobRunMetadata": {
      "type": "object",
      "id": "PredeployJobRunMetadata",
      "description": "PredeployJobRunMetadata contains metadata about the predeploy `JobRun`.",
      "properties": {
        "custom": {
          "readOnly": true,
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined predeploy operation."
        }
      }
    },
    "Automation": {
      "id": "Automation",
      "description": "An `Automation` resource in the Cloud Deploy API. An `Automation` enables the automation of manually driven actions for a Delivery Pipeline, which includes Release promotion among Targets, Rollout repair and Rollout deployment strategy advancement. The intention of Automation is to reduce manual intervention in the continuous delivery process.",
      "properties": {
        "updateTime": {
          "description": "Output only. Time at which the automation was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. When Suspended, automation is deactivated from execution."
        },
        "serviceAccount": {
          "type": "string",
[...]
