{
  "discoveryVersion": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "clouderrorreporting",
  "title": "Error Reporting API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta1",
  "resources": {
    "projects": {
      "methods": {
        "deleteEvents": {
          "parameters": {
            "projectName": {
              "type": "string",
              "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "path": "v1beta1/{+projectName}/events",
          "id": "clouderrorreporting.projects.deleteEvents",
          "parameterOrder": [
            "projectName"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DeleteEventsResponse"
          },
          "flatPath": "v1beta1/projects/{projectsId}/events",
          "description": "Deletes all error events of a given project."
        }
      },
      "resources": {
        "events": {
          "methods": {
            "list": {
              "parameters": {
                "groupId": {
                  "description": "Required. The group for which events shall be returned. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice).",
                  "location": "query",
                  "type": "string"
                },
                "serviceFilter.resourceType": {
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A `next_page_token` provided by a previous response.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of results to return per response.",
                  "location": "query"
                },
                "timeRange.period": {
                  "enum": [
                    "PERIOD_UNSPECIFIED",
                    "PERIOD_1_HOUR",
                    "PERIOD_6_HOURS",
                    "PERIOD_1_DAY",
                    "PERIOD_1_WEEK",
                    "PERIOD_30_DAYS"
                  ],
                  "type": "string",
                  "description": "Restricts the query to the specified time range.",
                  "location": "query",
                  "enumDescriptions": [
                    "Do not use.",
                    "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                    "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                    "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                    "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                    "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                  ]
                },
                "serviceFilter.version": {
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                  "location": "query"
                },
                "projectName": {
                  "type": "string",
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "serviceFilter.service": {
                  "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+projectName}/events",
              "id": "clouderrorreporting.projects.events.list",
              "parameterOrder": [
                "projectName"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListEventsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/events",
              "description": "Lists the specified events."
            },
            "report": {
              "path": "v1beta1/{+projectName}/events:report",
              "id": "clouderrorreporting.projects.events.report",
              "parameterOrder": [
                "projectName"
              ],
              "request": {
                "$ref": "ReportedErrorEvent"
              },
              "parameters": {
                "projectName": {
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectId}`, where `{projectId}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840). Example: // `projects/my-project-123`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ReportErrorEventResponse"
              },
              "description": "Report an individual error event and record the event to a log. This endpoint accepts **either** an OAuth token, **or** an [API key](https://support.google.com/cloud/answer/6158862) for authentication. To use an API key, append it to the URL as the value of a `key` parameter. For example: `POST https://clouderrorreporting.googleapis.com/v1beta1/{projectName}/events:report?key=123ABC456` **Note:** [Error Reporting] (https://cloud.google.com/error-reporting) is a service built on Cloud Logging and can analyze log entries when all of the following are true: * Customer-managed encryption keys (CMEK) are disabled on the log bucket. * The log bucket satisfies one of the following: * The log bucket is stored in the same project where the logs originated. * The logs were routed to a project, and then that project stored those logs in a log bucket that it owns.",
              "flatPath": "v1beta1/projects/{projectsId}/events:report"
            }
          }
        },
        "locations": {
          "methods": {
            "deleteEvents": {
              "description": "Deletes all error events of a given project.",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/events",
              "response": {
                "$ref": "DeleteEventsResponse"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "clouderrorreporting.projects.locations.deleteEvents",
              "parameterOrder": [
                "projectName"
              ],
              "path": "v1beta1/{+projectName}/events",
              "parameters": {
                "projectName": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "clouderrorreporting.projects.locations.groups.get",
                  "parameterOrder": [
                    "groupName"
                  ],
                  "path": "v1beta1/{+groupName}",
                  "parameters": {
                    "groupName": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/groups/[^/]+$",
                      "required": true,
                      "description": "Required. The group resource name. Written as either `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}`. Call groupStats.list to return a list of groups belonging to this project. Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/global/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Get the specified group.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/groups/{groupsId}",
                  "response": {
                    "$ref": "ErrorGroup"
                  }
                },
                "update": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/groups/{groupsId}",
                  "description": "Replace the data for the specified group. Fails if the group does not exist.",
                  "response": {
                    "$ref": "ErrorGroup"
                  },
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/groups/[^/]+$"
                    }
                  },
                  "id": "clouderrorreporting.projects.locations.groups.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ErrorGroup"
                  },
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "groupStats": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/groupStats",
                  "description": "Lists the specified groups.",
                  "response": {
                    "$ref": "ListGroupStatsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "groupId": {
                      "type": "string",
                      "description": "Optional. List all ErrorGroupStats with these IDs. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice] (https://cloud.google.com/terms/cloud-privacy-notice).",
                      "location": "query",
                      "repeated": true
                    },
                    "serviceFilter.resourceType": {
                      "type": "string",
                      "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                      "location": "query"
                    },
                    "timedCountDuration": {
                      "format": "google-duration",
                      "description": "Optional. The preferred duration for a single returned TimedCount. If not set, no timed counts are returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return per response. Default is 20.",
                      "location": "query"
                    },
                    "serviceFilter.version": {
                      "type": "string",
                      "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                      "location": "query"
                    },
                    "projectName": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectNumber}`, where `{projectID}` and `{projectNumber}` can be found in the [Google Cloud console](https://support.google.com/cloud/answer/6158840). It may also include a location, such as `projects/{projectID}/locations/{location}` where `{location}` is a cloud region. Examples: `projects/my-project-123`, `projects/5551234`, `projects/my-project-123/locations/us-central1`, `projects/5551234/locations/us-central1`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified. Use `-` as a wildcard to request group stats from all regions.",
                      "location": "path"
                    },
                    "alignmentTime": {
                      "format": "google-datetime",
                      "description": "Optional. Time where the timed counts shall be aligned if rounded alignment is chosen. Default is 00:00 UTC.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A next_page_token provided by a previous response. To view additional results, pass this token along with the identical query parameters as the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "timeRange.period": {
                      "enum": [
                        "PERIOD_UNSPECIFIED",
                        "PERIOD_1_HOUR",
                        "PERIOD_6_HOURS",
                        "PERIOD_1_DAY",
                        "PERIOD_1_WEEK",
                        "PERIOD_30_DAYS"
                      ],
                      "enumDescriptions": [
                        "Do not use.",
                        "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                        "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                        "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                        "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                        "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                      ],
                      "type": "string",
                      "description": "Restricts the query to the specified time range.",
                      "location": "query"
                    },
                    "alignment": {
                      "enum": [
                        "ERROR_COUNT_ALIGNMENT_UNSPECIFIED",
                        "ALIGNMENT_EQUAL_ROUNDED",
                        "ALIGNMENT_EQUAL_AT_END"
                      ],
                      "description": "Optional. The alignment of the timed counts to be returned. Default is `ALIGNMENT_EQUAL_AT_END`.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "No alignment specified.",
                        "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the alignment_time provided in the request. The alignment_time does not have to be inside the query period but even if it is outside, only time periods are returned which overlap with the query period. A rounded alignment will typically result in a different size of the first or the last time period.",
                        "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the end of the requested time period. This can result in a different size of the first time period."
                      ]
                    },
                    "serviceFilter.service": {
                      "type": "string",
                      "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                      "location": "query"
                    },
                    "order": {
                      "enum": [
                        "GROUP_ORDER_UNSPECIFIED",
                        "COUNT_DESC",
                        "LAST_SEEN_DESC",
                        "CREATED_DESC",
                        "AFFECTED_USERS_DESC"
                      ],
                      "enumDescriptions": [
                        "No group order specified.",
                        "Total count of errors in the given time window in descending order.",
                        "Timestamp when the group was last seen in the given time window in descending order.",
                        "Timestamp when the group was created in descending order.",
                        "Number of affected users in the given time window in descending order."
                      ],
                      "type": "string",
                      "description": "Optional. The sort order in which the results are returned. Default is `COUNT_DESC`.",
                      "location": "query"
                    }
                  },
                  "id": "clouderrorreporting.projects.locations.groupStats.list",
                  "parameterOrder": [
                    "projectName"
                  ],
                  "path": "v1beta1/{+projectName}/groupStats"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "description": "Lists the specified events.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/events",
                  "path": "v1beta1/{+projectName}/events",
                  "id": "clouderrorreporting.projects.locations.events.list",
                  "parameterOrder": [
                    "projectName"
                  ],
                  "parameters": {
                    "groupId": {
                      "description": "Required. The group for which events shall be returned. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice).",
                      "location": "query",
                      "type": "string"
                    },
                    "serviceFilter.resourceType": {
                      "type": "string",
                      "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A `next_page_token` provided by a previous response.",
                      "location": "query"
                    },
                    "timeRange.period": {
                      "enum": [
                        "PERIOD_UNSPECIFIED",
                        "PERIOD_1_HOUR",
                        "PERIOD_6_HOURS",
                        "PERIOD_1_DAY",
                        "PERIOD_1_WEEK",
                        "PERIOD_30_DAYS"
                      ],
                      "description": "Restricts the query to the specified time range.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Do not use.",
                        "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                        "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                        "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                        "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                        "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return per response.",
                      "location": "query"
                    },
                    "serviceFilter.version": {
                      "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                      "location": "query",
                      "type": "string"
                    },
                    "projectName": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectID}/locations/{location}`, where `{projectID}` is the [Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840) and `{location}` is a Cloud region. Examples: `projects/my-project-123`, `projects/my-project-123/locations/global`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                      "location": "path",
                      "type": "string"
                    },
                    "serviceFilter.service": {
                      "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "groups": {
          "methods": {
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/groups/{groupsId}",
              "description": "Get the specified group.",
              "response": {
                "$ref": "ErrorGroup"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "groupName": {
                  "required": true,
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "description": "Required. The group resource name. Written as either `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}`. Call groupStats.list to return a list of groups belonging to this project. Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/global/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "clouderrorreporting.projects.groups.get",
              "parameterOrder": [
                "groupName"
              ],
              "path": "v1beta1/{+groupName}"
            },
            "update": {
              "description": "Replace the data for the specified group. Fails if the group does not exist.",
              "flatPath": "v1beta1/projects/{projectsId}/groups/{groupsId}",
              "response": {
                "$ref": "ErrorGroup"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "id": "clouderrorreporting.projects.groups.update",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ErrorGroup"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "required": true,
                  "description": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "groupStats": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A next_page_token provided by a previous response. To view additional results, pass this token along with the identical query parameters as the first request.",
                  "location": "query",
                  "type": "string"
                },
                "timeRange.period": {
                  "enum": [
                    "PERIOD_UNSPECIFIED",
                    "PERIOD_1_HOUR",
                    "PERIOD_6_HOURS",
                    "PERIOD_1_DAY",
                    "PERIOD_1_WEEK",
                    "PERIOD_30_DAYS"
                  ],
                  "enumDescriptions": [
                    "Do not use.",
                    "Retrieve data for the last hour. Recommended minimum timed count duration: 1 min.",
                    "Retrieve data for the last 6 hours. Recommended minimum timed count duration: 10 min.",
                    "Retrieve data for the last day. Recommended minimum timed count duration: 1 hour.",
                    "Retrieve data for the last week. Recommended minimum timed count duration: 6 hours.",
                    "Retrieve data for the last 30 days. Recommended minimum timed count duration: 1 day."
                  ],
                  "type": "string",
                  "description": "Restricts the query to the specified time range.",
                  "location": "query"
                },
                "alignment": {
                  "type": "string",
                  "description": "Optional. The alignment of the timed counts to be returned. Default is `ALIGNMENT_EQUAL_AT_END`.",
                  "location": "query",
                  "enumDescriptions": [
                    "No alignment specified.",
                    "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the alignment_time provided in the request. The alignment_time does not have to be inside the query period but even if it is outside, only time periods are returned which overlap with the query period. A rounded alignment will typically result in a different size of the first or the last time period.",
                    "The time periods shall be consecutive, have width equal to the requested duration, and be aligned at the end of the requested time period. This can result in a different size of the first time period."
                  ],
                  "enum": [
                    "ERROR_COUNT_ALIGNMENT_UNSPECIFIED",
                    "ALIGNMENT_EQUAL_ROUNDED",
                    "ALIGNMENT_EQUAL_AT_END"
                  ]
                },
                "serviceFilter.service": {
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                  "location": "query"
                },
                "order": {
                  "type": "string",
                  "description": "Optional. The sort order in which the results are returned. Default is `COUNT_DESC`.",
                  "location": "query",
                  "enumDescriptions": [
                    "No group order specified.",
                    "Total count of errors in the given time window in descending order.",
                    "Timestamp when the group was last seen in the given time window in descending order.",
                    "Timestamp when the group was created in descending order.",
                    "Number of affected users in the given time window in descending order."
                  ],
                  "enum": [
                    "GROUP_ORDER_UNSPECIFIED",
                    "COUNT_DESC",
                    "LAST_SEEN_DESC",
                    "CREATED_DESC",
                    "AFFECTED_USERS_DESC"
                  ]
                },
                "groupId": {
                  "type": "string",
                  "description": "Optional. List all ErrorGroupStats with these IDs. The `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice] (https://cloud.google.com/terms/cloud-privacy-notice).",
                  "location": "query",
                  "repeated": true
                },
                "serviceFilter.resourceType": {
                  "type": "string",
                  "description": "Optional. The exact value to match against [`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).",
                  "location": "query"
                },
                "timedCountDuration": {
                  "type": "string",
                  "description": "Optional. The preferred duration for a single returned TimedCount. If not set, no timed counts are returned.",
                  "location": "query",
                  "format": "google-duration"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return per response. Default is 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "serviceFilter.version": {
                  "description": "Optional. The exact value to match against [`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                  "location": "query",
                  "type": "string"
                },
                "projectName": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Google Cloud Platform project. Written as `projects/{projectID}` or `projects/{projectNumber}`, where `{projectID}` and `{projectNumber}` can be found in the [Google Cloud console](https://support.google.com/cloud/answer/6158840). It may also include a location, such as `projects/{projectID}/locations/{location}` where `{location}` is a cloud region. Examples: `projects/my-project-123`, `projects/5551234`, `projects/my-project-123/locations/us-central1`, `projects/5551234/locations/us-central1`. For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified. Use `-` as a wildcard to request group stats from all regions.",
                  "location": "path",
                  "type": "string"
                },
                "alignmentTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "description": "Optional. Time where the timed counts shall be aligned if rounded alignment is chosen. Default is 00:00 UTC.",
                  "location": "query"
                }
              },
              "id": "clouderrorreporting.projects.groupStats.list",
              "parameterOrder": [
                "projectName"
              ],
              "path": "v1beta1/{+projectName}/groupStats",
              "flatPath": "v1beta1/projects/{projectsId}/groupStats",
              "description": "Lists the specified groups.",
              "response": {
                "$ref": "ListGroupStatsResponse"
              }
            }
          }
        }
      }
    }
  },
  "id": "clouderrorreporting:v1beta1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://clouderrorreporting.mtls.googleapis.com/",
  "description": "Groups and counts similar errors from cloud services and applications, reports new errors, and provides access to error groups and their associated errors. ",
  "batchPath": "batch",
  "revision": "20260424",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://clouderrorreporting.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://clouderrorreporting.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.asia-northeast3.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://clouderrorreporting.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://clouderrorreporting.asia-southeast1.rep.googleapis.com/"
    }
  ],
  "servicePath": "",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "rootUrl": "https://clouderrorreporting.googleapis.com/",
  "canonicalName": "Clouderrorreporting",
  "basePath": "",
  "schemas": {
    "TrackingIssue": {
      "properties": {
        "url": {
          "description": "A URL pointing to a related entry in an issue tracking system. Example: `https://github.com/user/project/issues/4`",
          "type": "string"
        }
      },
      "description": "Information related to tracking the progress on resolving the error.",
      "id": "TrackingIssue",
      "type": "object"
    },
    "SourceLocation": {
      "id": "SourceLocation",
      "type": "object",
      "description": "Indicates a location in the source code of the service for which errors are reported. `functionName` must be provided by the application when reporting an error, unless the error report contains a `message` with a supported exception stack trace. All fields are optional for the later case.",
      "properties": {
        "lineNumber": {
          "description": "1-based. 0 indicates that the line number is unknown.",
          "type": "integer",
          "format": "int32"
        },
        "functionName": {
          "type": "string",
          "description": "Human-readable name of a function or method. The value can include optional context like the class or package name. For example, `my.package.MyClass.method` in case of Java."
        },
        "filePath": {
          "type": "string",
          "description": "The source code filename, which can include a truncated relative path, or a full path from a production machine."
        }
      }
    },
    "HttpRequestContext": {
      "properties": {
        "url": {
          "description": "The URL of the request.",
          "type": "string"
        },
        "responseStatusCode": {
          "format": "int32",
          "description": "The HTTP response status code for the request.",
          "type": "integer"
        },
        "remoteIp": {
          "type": "string",
          "description": "The IP address from which the request originated. This can be IPv4, IPv6, or a token which is derived from the IP address, depending on the data that has been provided in the error report."
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent information that is provided with the request."
        },
        "referrer": {
          "type": "string",
          "description": "The referrer information that is provided with the request."
        },
        "method": {
          "description": "The type of HTTP request, such as `GET`, `POST`, etc.",
          "type": "string"
        }
      },
      "id": "HttpRequestContext",
      "type": "object",
      "description": "HTTP request data that is related to a reported error. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs."
    },
    "ListGroupStatsResponse": {
      "id": "ListGroupStatsResponse",
      "type": "object",
      "description": "Contains a set of requested error group stats.",
      "properties": {
        "errorGroupStats": {
          "items": {
            "$ref": "ErrorGroupStats"
          },
          "type": "array",
          "description": "The error group stats which match the given request."
        },
        "timeRangeBegin": {
          "description": "The timestamp specifies the start time to which the request was restricted. The start time is set based on the requested time range. It may be adjusted to a later time if a project has exceeded the storage quota and older data has been deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results.",
          "type": "string"
        }
      }
    },
    "ErrorEvent": {
      "id": "ErrorEvent",
      "type": "object",
      "description": "An error event which is returned by the Error Reporting system.",
      "properties": {
        "serviceContext": {
          "$ref": "ServiceContext",
          "description": "The `ServiceContext` for which this error was reported."
        },
        "eventTime": {
          "description": "Time when the event occurred as provided in the error report. If the report did not contain a timestamp, the time the error was received by the Error Reporting system is used.",
          "type": "string",
          "format": "google-datetime"
        },
        "context": {
          "$ref": "ErrorContext",
          "description": "Data about the context in which the error occurred."
        },
        "message": {
          "type": "string",
          "description": "The stack trace that was reported or logged by the service."
        }
      }
    },
    "TimedCount": {
      "properties": {
        "endTime": {
          "description": "End of the time period to which `count` refers (excluded).",
          "type": "string",
          "format": "google-datetime"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Approximate number of occurrences in the given time period."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start of the time period to which `count` refers (included)."
        }
      },
      "description": "The number of errors in a given time period. All numbers are approximate since the error events are sampled before counting them.",
      "id": "TimedCount",
      "type": "object"
    },
    "ListEventsResponse": {
      "properties": {
        "errorEvents": {
          "description": "The error events which match the given request.",
          "type": "array",
          "items": {
            "$ref": "ErrorEvent"
          }
        },
        "nextPageToken": {
          "description": "If non-empty, more results are available. Pass this token, along with the same query parameters as the first request, to view the next page of results.",
          "type": "string"
        },
        "timeRangeBegin": {
          "type": "string",
          "description": "The timestamp specifies the start time to which the request was restricted.",
          "format": "google-datetime"
        }
      },
      "id": "ListEventsResponse",
      "type": "object",
      "description": "Contains a set of requested error events."
    },
    "SourceReference": {
      "id": "SourceReference",
      "type": "object",
      "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\""
        },
        "repository": {
          "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\"",
          "type": "string"
        }
      }
    },
    "ErrorGroupStats": {
      "description": "Data extracted for a specific group based on certain filter criteria, such as a given time period and/or service filter.",
      "id": "ErrorGroupStats",
      "type": "object",
      "properties": {
        "lastSeenTime": {
          "type": "string",
          "description": "Approximate last occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request.",
          "format": "google-datetime"
        },
        "firstSeenTime": {
          "type": "string",
          "description": "Approximate first occurrence that was ever seen for this group and which matches the given filter criteria, ignoring the time_range that was specified in the request.",
          "format": "google-datetime"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Approximate total number of events in the given group that match the filter criteria."
        },
        "affectedUsersCount": {
          "format": "int64",
          "type": "string",
          "description": "Approximate number of affected users in the given group that match the filter criteria. Users are distinguished by data in the ErrorContext of the individual error events, such as their login name or their remote IP address in case of HTTP requests. The number of affected users can be zero even if the number of errors is non-zero if no data was provided from which the affected user could be deduced. Users are counted based on data in the request context that was provided in the error report. If more users are implicitly affected, such as due to a crash of the whole service, this is not reflected here."
        },
        "affectedServices": {
          "items": {
            "$ref": "ServiceContext"
          },
          "description": "Service contexts with a non-zero error count for the given filter criteria. This list can be truncated if multiple services are affected. Refer to `num_affected_services` for the total count.",
          "type": "array"
        },
        "representative": {
          "description": "An arbitrary event that is chosen as representative for the whole group. The representative event is intended to be used as a quick preview for the whole group. Events in the group are usually sufficiently similar to each other such that showing an arbitrary representative provides insight into the characteristics of the group as a whole.",
          "$ref": "ErrorEvent"
        },
        "timedCounts": {
          "items": {
            "$ref": "TimedCount"
          },
          "type": "array",
          "description": "Approximate number of occurrences over time. Timed counts returned by ListGroups are guaranteed to be: - Inside the requested time interval - Non-overlapping, and - Ordered by ascending time."
        },
        "numAffectedServices": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of services with a non-zero error count for the given filter criteria."
        },
        "group": {
          "description": "Group data that is independent of the filter criteria.",
          "$ref": "ErrorGroup"
        }
      }
    },
    "ErrorContext": {
      "id": "ErrorContext",
      "type": "object",
      "description": "A description of the context in which an error occurred. This data should be provided by the application when reporting an error, unless the error report has been generated automatically from Google App Engine logs.",
      "properties": {
        "user": {
          "description": "The user who caused or was affected by the crash. This can be a user ID, an email address, or an arbitrary token that uniquely identifies the user. When sending an error report, leave this field empty if the user was not logged in. In this case the Error Reporting system will use other data, such as remote IP address, to distinguish affected users. See `affected_users_count` in `ErrorGroupStats`.",
          "type": "string"
        },
        "httpRequest": {
          "$ref": "HttpRequestContext",
          "description": "The HTTP request which was processed when the error was triggered."
        },
        "reportLocation": {
          "$ref": "SourceLocation",
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged. For a logged exception this would be the source line where the exception is logged, usually close to the place where it was caught."
        },
        "sourceReferences": {
          "items": {
            "$ref": "SourceReference"
          },
          "type": "array",
          "description": "Source code that was used to build the executable which has caused the given error message."
        }
      }
    },
    "ReportedErrorEvent": {
      "properties": {
        "message": {
          "description": "Required. The error message. If no `context.reportLocation` is provided, the message must contain a header (typically consisting of the exception type name and an error message) and an exception stack trace in one of the supported programming languages and formats. Supported languages are Java, Python, JavaScript, Ruby, C#, PHP, and Go. Supported stack trace formats are: * **Java**: Must be the return value of [`Throwable.printStackTrace()`](https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#printStackTrace%28%29). * **Python**: Must be the return value of [`traceback.format_exc()`](https://docs.python.org/2/library/traceback.html#traceback.format_exc). * **JavaScript**: Must be the value of [`error.stack`](https://github.com/v8/v8/wiki/Stack-Trace-API) as returned by V8. * **Ruby**: Must contain frames returned by [`Exception.backtrace`](https://ruby-doc.org/core-2.2.0/Exception.html#method-i-backtrace). * **C#**: Must be the return value of [`Exception.ToString()`](https://msdn.microsoft.com/en-us/library/system.exception.tostring.aspx). * **PHP**: Must be prefixed with `\"PHP (Notice|Parse error|Fatal error|Warning): \"` and contain the result of [`(string)$exception`](https://php.net/manual/en/exception.tostring.php). * **Go**: Must be the return value of [`debug.Stack()`](https://pkg.go.dev/runtime/debug#Stack).",
          "type": "string"
        },
        "eventTime": {
          "description": "Optional. Time when the event occurred. If not provided, the time when the event was received by the Error Reporting system is used. If provided, the time must not exceed the [logs retention period](https://cloud.google.com/logging/quotas#logs_retention_periods) in the past, or be more than 24 hours in the future. If an invalid time is provided, then an error is returned.",
          "type": "string",
          "format": "google-datetime"
        },
        "context": {
          "description": "Optional. A description of the context in which the error occurred.",
          "$ref": "ErrorContext"
        },
        "serviceContext": {
          "$ref": "ServiceContext",
          "description": "Required. The service context in which this error has occurred."
        }
      },
      "description": "An error event which is reported to the Error Reporting system.",
      "id": "ReportedErrorEvent",
      "type": "object"
    },
    "ErrorGroup": {
      "id": "ErrorGroup",
      "type": "object",
      "description": "Description of a group of similar error events.",
      "properties": {
        "resolutionStatus": {
          "description": "Error group's resolution status. An unspecified resolution status will be interpreted as OPEN",
          "type": "string",
          "enum": [
            "RESOLUTION_STATUS_UNSPECIFIED",
            "OPEN",
            "ACKNOWLEDGED",
            "RESOLVED",
            "MUTED"
          ],
          "enumDescriptions": [
            "Status is unknown. When left unspecified in requests, it is treated like OPEN.",
            "The error group is not being addressed. This is the default for new groups. It is also used for errors re-occurring after marked RESOLVED.",
            "Error Group manually acknowledged, it can have an issue link attached.",
            "Error Group manually resolved, more events for this group are not expected to occur.",
            "The error group is muted and excluded by default on group stats requests."
          ]
        },
        "name": {
          "description": "The group resource name. Written as `projects/{projectID}/groups/{group_id}` or `projects/{projectID}/locations/{location}/groups/{group_id}` Examples: `projects/my-project-123/groups/my-group`, `projects/my-project-123/locations/us-central1/groups/my-group` In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice). For a list of supported locations, see [Supported Regions](https://cloud.google.com/logging/docs/region-support). `global` is the default when unspecified.",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "An opaque identifier of the group. This field is assigned by the Error Reporting system and always populated. In the group resource name, the `group_id` is a unique identifier for a particular error group. The identifier is derived from key parts of the error-log content and is treated as Service Data. For information about how Service Data is handled, see [Google Cloud Privacy Notice](https://cloud.google.com/terms/cloud-privacy-notice)."
        },
        "trackingIssues": {
          "items": {
            "$ref": "TrackingIssue"
          },
          "description": "Associated tracking issues.",
          "type": "array"
        }
      }
    },
    "DeleteEventsResponse": {
      "properties": {},
      "description": "Response message for deleting error events.",
      "id": "DeleteEventsResponse",
      "type": "object"
    },
    "ServiceContext": {
      "id": "ServiceContext",
      "type": "object",
      "description": "Describes a running service that sends errors. Its version changes over time and multiple versions can run in parallel.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Type of the MonitoredResource. List of possible values: https://cloud.google.com/monitoring/api/resources Value is set automatically for incoming errors and must not be set when reporting errors."
        },
        "version": {
          "description": "Represents the source code version that the developer provided, which could represent a version label or a Git SHA-1 hash, for example. For App Engine standard environment, the version is set to the version of the app.",
          "type": "string"
        },
        "service": {
          "description": "An identifier of the service, such as the name of the executable, job, or Google App Engine service name. This field is expected to have a low number of values that are relatively stable over time, as opposed to `version`, which can be changed whenever new code is deployed. Contains the service name for error reports extracted from Google App Engine logs or `default` if the App Engine default service is used.",
          "type": "string"
        }
      }
    },
    "ReportErrorEventResponse": {
      "properties": {},
      "id": "ReportErrorEventResponse",
      "type": "object",
      "description": "Response for reporting an individual error event. Data may be added to this message in the future."
    }
  },
  "documentationLink": "https://cloud.google.com/error-reporting/",
  "baseUrl": "https://clouderrorreporting.googleapis.com/"
}