{
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry. ",
  "batchPath": "batch",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "title": "Cloud Trace API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/trace.readonly": {
          "description": "Read Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "cloudtrace",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "version": "v1",
  "schemas": {
    "Traces": {
      "id": "Traces",
      "type": "object",
      "properties": {
        "traces": {
          "type": "array",
          "description": "List of traces.",
          "items": {
            "$ref": "Trace"
          }
        }
      },
      "description": "List of new or updated traces."
    },
    "ListTracesResponse": {
      "description": "The response message for the `ListTraces` method.",
      "properties": {
        "traces": {
          "type": "array",
          "description": "List of trace records as specified by the view parameter.",
          "items": {
            "$ref": "Trace"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If defined, indicates that there are more traces that match the request and that this value should be passed to the next request to continue retrieving additional traces."
        }
      },
      "id": "ListTracesResponse",
      "type": "object"
    },
    "Trace": {
      "description": "A trace describes how long it takes for an application to perform an operation. It consists of a set of spans, each of which represent a single timed event within the operation.",
      "properties": {
        "spans": {
          "type": "array",
          "description": "Collection of spans in the trace.",
          "items": {
            "$ref": "TraceSpan"
          }
        },
        "projectId": {
          "description": "Project ID of the Cloud project where the trace data is stored.",
          "type": "string"
        },
        "traceId": {
          "description": "Globally unique identifier for the trace. This identifier is a 128-bit numeric value formatted as a 32-byte hex string. For example, `382d4f4c6b7bb2f4a972559d9085001d`. The numeric value should not be zero.",
          "type": "string"
        }
      },
      "id": "Trace",
      "type": "object"
    },
    "TraceSpan": {
      "properties": {
        "spanId": {
          "type": "string",
          "format": "uint64",
          "description": "Identifier for the span. Must be a 64-bit integer other than 0 and unique within a trace. For example, `2205310701640571284`."
        },
        "parentSpanId": {
          "description": "Optional. ID of the parent span, if any.",
          "type": "string",
          "format": "uint64"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Collection of labels associated with the span. Label keys must be less than 128 bytes. Label values must be less than 16 KiB. Some keys might have predefined meaning, and you can also create your own. For more information, see [Cloud Trace labels](https://cloud.google.com/trace/docs/trace-labels)."
        },
        "startTime": {
          "description": "Start time of the span in seconds and nanoseconds from the UNIX epoch.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of the span in seconds and nanoseconds from the UNIX epoch.",
          "type": "string",
          "format": "google-datetime"
        },
        "kind": {
          "type": "string",
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "RPC_SERVER",
            "RPC_CLIENT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request."
          ],
          "description": "Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `RPC_CLIENT` and `RPC_SERVER` to identify queueing latency associated with the span."
        },
        "name": {
          "type": "string",
          "description": "Name of the span. Must be less than 128 bytes. The span name is sanitized and displayed in the Trace tool in the Google Cloud Platform Console. The name may be a method name or some other per-call site name. For the same executable and the same call point, a best practice is to use a consistent name, which makes it easier to correlate cross-trace spans."
        }
      },
      "description": "A span represents a single timed event within a trace. Spans can be nested and form a trace tree. Often, a trace contains a root span that describes the end-to-end latency of an operation and, optionally, one or more subspans for its suboperations. Spans do not need to be contiguous. There may be gaps between spans in a trace.",
      "id": "TraceSpan",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "patchTraces": {
          "id": "cloudtrace.projects.patchTraces",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/trace.append"
          ],
          "flatPath": "v1/projects/{projectId}/traces",
          "request": {
            "$ref": "Traces"
          },
          "path": "v1/projects/{projectId}/traces",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Required. ID of the Cloud project where the trace data is stored.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "description": "Sends trace spans to Cloud Trace. Spans cannot be updated. If the trace ID and span ID already exist, an additional copy of the span will be stored.",
          "response": {
            "$ref": "Empty"
          }
        }
      },
      "resources": {
        "traces": {
          "methods": {
            "list": {
              "id": "cloudtrace.projects.traces.list",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "flatPath": "v1/projects/{projectId}/traces",
              "path": "v1/projects/{projectId}/traces",
              "parameters": {
                "view": {
                  "description": "Optional. Type of data returned for traces in the list. Default is `MINIMAL`.",
                  "type": "string",
                  "enum": [
                    "VIEW_TYPE_UNSPECIFIED",
                    "MINIMAL",
                    "ROOTSPAN",
                    "COMPLETE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Default is `MINIMAL` if unspecified.",
                    "Minimal view of the trace record that contains only the project and trace IDs.",
                    "Root span view of the trace record that returns the root spans along with the minimal trace data.",
                    "Complete view of the trace record that contains the actual trace data. This is equivalent to calling the REST `get` or RPC `GetTrace` method using the ID of each listed trace."
                  ]
                },
                "orderBy": {
                  "description": "Optional. Field used to sort the returned traces. Can be one of the following: * `trace_id` * `name` (`name` field of root span in the trace) * `duration` (difference between `end_time` and `start_time` fields of the root span) * `start` (`start_time` field of the root span) Descending order can be specified by appending `desc` to the sort field (for example, `name desc`). Only one sort field is permitted.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter against properties of the trace. See [filter syntax documentation](https://cloud.google.com/trace/docs/trace-filters) for details.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token identifying the page of results to return. If provided, use the value of the `next_page_token` field from a previous request.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the Cloud project where the trace data is stored.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "description": "Start of the time interval (inclusive) during which the trace data was collected from the application.",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of traces to return. If not specified or <= 0, the implementation selects a reasonable value. The implementation may return fewer traces than the requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "endTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query",
                  "description": "End of the time interval (inclusive) during which the trace data was collected from the application."
                }
              },
              "httpMethod": "GET",
              "description": "Returns a list of traces that match the specified filter conditions.",
              "response": {
                "$ref": "ListTracesResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "Trace"
              },
              "httpMethod": "GET",
              "description": "Gets a single trace by its ID.",
              "path": "v1/projects/{projectId}/traces/{traceId}",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the Cloud project where the trace data is stored.",
                  "type": "string",
                  "required": true
                },
                "traceId": {
                  "location": "path",
                  "description": "Required. ID of the trace to return.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectId}/traces/{traceId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "parameterOrder": [
                "projectId",
                "traceId"
              ],
              "id": "cloudtrace.projects.traces.get"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "revision": "20260403",
  "id": "cloudtrace:v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Trace",
  "documentationLink": "https://cloud.google.com/trace/"
}