{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "version": "v1",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "name": "cloudbuild",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "title": "Cloud Build API",
  "ownerName": "Google",
  "revision": "20260309",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "servicePath": "",
  "version_module": true,
  "description": "Creates and manages builds on Google Cloud Platform.",
  "protocol": "rest",
  "schemas": {
    "GoModule": {
      "type": "object",
      "properties": {
        "repositoryProjectId": {
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project.",
          "type": "string"
        },
        "sourcePath": {
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
          "type": "string"
        },
        "repositoryLocation": {
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
          "type": "string"
        },
        "repositoryName": {
          "type": "string",
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo"
        },
        "modulePath": {
          "type": "string",
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2"
        },
        "moduleVersion": {
          "type": "string",
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5"
        }
      },
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "id": "GoModule"
    },
    "PullRequestFilter": {
      "type": "object",
      "properties": {
        "branch": {
          "type": "string",
          "description": "Regex of branches to match. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "commentControl": {
          "type": "string",
          "description": "If CommentControl is enabled, depending on the setting, builds may not fire until a repository writer comments `/gcbrun` on a pull request or `/gcbrun` is in the pull request description. Only PR comments that contain `/gcbrun` will trigger builds. If CommentControl is set to disabled, comments with `/gcbrun` from a user with repository write permission or above will still trigger builds to run.",
          "enumDescriptions": [
            "Do not require `/gcbrun` comments from a user with repository write permission or above on pull requests before builds are triggered. Comments that contain `/gcbrun` will still fire builds so this should be thought of as comments not required.",
            "Builds will only fire in response to pull requests if: 1. The pull request author has repository write permission or above and `/gcbrun` is in the PR description. 2. A user with repository writer permissions or above comments `/gcbrun` on a pull request authored by any user.",
            "Builds will only fire in response to pull requests if: 1. The pull request author is a repository writer or above. 2. If the author does not have write permissions, a user with write permissions or above must comment `/gcbrun` in order to fire a build."
          ],
          "enum": [
            "COMMENTS_DISABLED",
            "COMMENTS_ENABLED",
            "COMMENTS_ENABLED_FOR_EXTERNAL_CONTRIBUTORS_ONLY"
          ]
        },
        "invertRegex": {
          "type": "boolean",
          "description": "If true, branches that do NOT match the git_ref will trigger a build."
        }
      },
      "id": "PullRequestFilter",
      "description": "PullRequestFilter contains filter properties for matching GitHub Pull Requests."
    },
    "GitHubEnterpriseConfig": {
      "type": "object",
      "properties": {
        "peeredNetwork": {
          "type": "string",
          "description": "Optional. The network to be used when reaching out to the GitHub Enterprise server. The VPC network must be enabled for private service connection. This should be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, no network peering will occur and calls to the GitHub Enterprise server will be made over the public internet. Must be in the format `projects/{project}/global/networks/{network}`, where {project} is a project number or id and {network} is the name of a VPC network in the project."
        },
        "webhookKey": {
          "description": "The key that should be attached to webhook calls to the ReceiveWebhook endpoint.",
          "type": "string"
        },
        "hostUrl": {
          "type": "string",
          "description": "The URL of the github enterprise host the configuration is for."
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise."
        },
        "appId": {
          "description": "Required. The GitHub app id of the Cloud Build app on the GitHub Enterprise server.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the installation was associated with the project."
        },
        "displayName": {
          "description": "Optional. Name to display for this config.",
          "type": "string"
        },
        "secrets": {
          "description": "Optional. Names of secrets in Secret Manager.",
          "$ref": "GitHubEnterpriseSecrets"
        },
        "name": {
          "type": "string",
          "description": "The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
        }
      },
      "description": "GitHubEnterpriseConfig represents a configuration for a GitHub Enterprise server.",
      "id": "GitHubEnterpriseConfig"
    },
    "GitLabRepositoryId": {
      "description": "GitLabRepositoryId identifies a specific repository hosted on GitLab.com or GitLabEnterprise",
      "id": "GitLabRepositoryId",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Identifier for the repository. example: \"namespace/project-slug\", namespace is usually the username or group ID"
        },
        "webhookId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The ID of the webhook that was created for receiving events from this repo. We only create and manage a single webhook for each repo."
        }
      }
    },
    "ListWorkerPoolsResponse": {
      "description": "Response containing existing `WorkerPools`.",
      "id": "ListWorkerPoolsResponse",
      "type": "object",
      "properties": {
        "workerPools": {
          "items": {
            "$ref": "WorkerPool"
          },
          "type": "array",
          "description": "`WorkerPools` for the specified project."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through large result sets. Provide this value in a subsequent ListWorkerPoolsRequest to return the next page of results.",
          "type": "string"
        }
      }
    },
    "BitbucketServerRepository": {
      "id": "BitbucketServerRepository",
      "description": "BitbucketServerRepository represents a repository hosted on a Bitbucket Server.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the repository."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the repository."
        },
        "browseUri": {
          "type": "string",
          "description": "Link to the browse repo page on the Bitbucket Server instance."
        },
        "description": {
          "type": "string",
          "description": "Description of the repository."
        },
        "repoId": {
          "description": "Identifier for a repository hosted on a Bitbucket Server.",
          "$ref": "BitbucketServerRepositoryId"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ListBuildsResponse": {
      "type": "object",
      "properties": {
        "builds": {
          "type": "array",
          "items": {
            "$ref": "Build"
          },
          "description": "Builds will be sorted by `create_time`, descending."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of results. This will be absent if the end of the response list has been reached."
        }
      },
      "id": "ListBuildsResponse",
      "description": "Response including listed builds."
    },
    "WorkerConfig": {
      "type": "object",
      "properties": {
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Size of the disk attached to the worker, in GB. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). Specify a value of up to 4000. If `0` is specified, Cloud Build will use a standard disk size."
        },
        "enableNestedVirtualization": {
          "description": "Optional. Enable nested virtualization on the worker, if supported by the machine type. By default, nested virtualization is disabled.",
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Machine type of a worker, such as `e2-medium`. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). If left blank, Cloud Build will use a sensible default."
        }
      },
      "id": "WorkerConfig",
      "description": "Defines the configuration to be used for creating workers in the pool."
    },
    "SecretManagerSecret": {
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "id": "SecretManagerSecret",
      "type": "object",
      "properties": {
        "versionName": {
          "type": "string",
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        },
        "env": {
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step.",
          "type": "string"
        }
      }
    },
    "GitLabEventsConfig": {
      "type": "object",
      "properties": {
        "pullRequest": {
          "description": "Filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        },
        "gitlabConfig": {
          "description": "Output only. The GitLabConfig specified in the gitlab_config_resource field.",
          "readOnly": true,
          "$ref": "GitLabConfig"
        },
        "projectNamespace": {
          "type": "string",
          "description": "Namespace of the GitLab project."
        },
        "gitlabConfigResource": {
          "type": "string",
          "description": "The GitLab config resource that this trigger config maps to."
        },
        "push": {
          "description": "Filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        }
      },
      "id": "GitLabEventsConfig",
      "description": "GitLabEventsConfig describes the configuration of a trigger that creates a build whenever a GitLab event is received."
    },
    "ListBuildTriggersResponse": {
      "id": "ListBuildTriggersResponse",
      "description": "Response containing existing `BuildTriggers`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of results."
        },
        "triggers": {
          "description": "`BuildTriggers` for the project, sorted by `create_time` descending.",
          "type": "array",
          "items": {
            "$ref": "BuildTrigger"
          }
        }
      }
    },
    "BatchCreateGitLabConnectedRepositoriesRequest": {
      "id": "BatchCreateGitLabConnectedRepositoriesRequest",
      "description": "RPC request object accepted by BatchCreateGitLabConnectedRepositories RPC method.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateGitLabConnectedRepositoryRequest"
          },
          "description": "Required. Requests to connect GitLab repositories."
        }
      }
    },
    "PythonPackage": {
      "type": "object",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PythonPackage",
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "id": "BuildOptions",
      "type": "object",
      "properties": {
        "defaultLogsBucketBehavior": {
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ],
          "description": "Optional. Option to specify how default logs buckets are setup.",
          "type": "string"
        },
        "requestedVerifyOption": {
          "description": "Requested verifiability options.",
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ],
          "type": "string"
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "machineType": {
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs.",
            "E2 machine with 1 CPU."
          ],
          "description": "Compute Engine machine type on which to run the build.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32",
            "E2_MEDIUM"
          ]
        },
        "enableStructuredLogging": {
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs.",
          "type": "boolean"
        },
        "workerPool": {
          "description": "This field deprecated; please use `pool.name` instead.",
          "deprecated": true,
          "type": "string"
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "PoolOption"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates."
        },
        "logStreamingOption": {
          "type": "string",
          "description": "Option to define build log streaming behavior to Cloud Storage.",
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Cloud Storage.",
            "Build logs should not be streamed to Cloud Storage; they will be written when the build is completed."
          ],
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ]
        },
        "substitutionOption": {
          "type": "string",
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ],
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ]
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for all build steps."
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "sourceProvenanceHash": {
          "description": "Requested hash for SourceProvenance.",
          "items": {
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ],
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "logging": {
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ]
        },
        "diskSizeGb": {
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error.",
          "type": "string",
          "format": "int64"
        },
        "secretEnv": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build."
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        }
      }
    },
    "RetryBuildRequest": {
      "id": "RetryBuildRequest",
      "description": "Specifies a build to retry.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "name": {
          "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Build ID of the original build."
        }
      }
    },
    "ListGitLabConfigsResponse": {
      "id": "ListGitLabConfigsResponse",
      "description": "RPC response object returned by ListGitLabConfigs RPC method.",
      "type": "object",
      "properties": {
        "gitlabConfigs": {
          "description": "A list of GitLabConfigs",
          "items": {
            "$ref": "GitLabConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "InlineSecret": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        },
        "envMap": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "type": "object"
        }
      },
      "id": "InlineSecret",
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
    },
    "BitbucketServerSecrets": {
      "type": "object",
      "properties": {
        "adminAccessTokenVersionName": {
          "type": "string",
          "description": "Required. The resource name for the admin access token's secret version."
        },
        "readAccessTokenVersionName": {
          "type": "string",
          "description": "Required. The resource name for the read access token's secret version."
        },
        "webhookSecretVersionName": {
          "type": "string",
          "description": "Required. Immutable. The resource name for the webhook secret's secret version. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig."
        }
      },
      "id": "BitbucketServerSecrets",
      "description": "BitbucketServerSecrets represents the secrets in Secret Manager for a Bitbucket Server."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GitFileSource": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The path of the file, with the repo root as the root of the path."
        },
        "uri": {
          "description": "The URI of the repo. Either uri or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path.",
          "type": "string"
        },
        "repository": {
          "description": "The fully qualified resource name of the Repos API repository. Either URI or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path.",
          "type": "string"
        },
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The full resource name of the bitbucket server config. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        },
        "revision": {
          "type": "string",
          "description": "The branch, tag, arbitrary ref, or SHA version of the repo to use when resolving the filename (optional). This field respects the same syntax/resolution as described here: https://git-scm.com/docs/gitrevisions If unspecified, the revision from which the trigger invocation originated is assumed to be the revision from which to read the specified path."
        },
        "repoType": {
          "type": "string",
          "enumDescriptions": [
            "The default, unknown repo type. Don't use it, instead use one of the other repo types.",
            "A Google Cloud Source Repositories-hosted repo.",
            "A GitHub-hosted repo not necessarily on \"github.com\" (i.e. GitHub Enterprise).",
            "A Bitbucket Server-hosted repo.",
            "A GitLab-hosted repo.",
            "A Bitbucket Cloud-hosted repo."
          ],
          "enum": [
            "UNKNOWN",
            "CLOUD_SOURCE_REPOSITORIES",
            "GITHUB",
            "BITBUCKET_SERVER",
            "GITLAB",
            "BITBUCKET_CLOUD"
          ],
          "description": "See RepoType above."
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The full resource name of the github enterprise config. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`. `projects/{project}/githubEnterpriseConfigs/{id}`."
        }
      },
      "id": "GitFileSource",
      "description": "GitFileSource describes a file within a (possibly remote) code repository."
    },
    "UploadedNpmPackage": {
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive.",
      "id": "UploadedNpmPackage",
      "type": "object",
      "properties": {
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "TimeSpan"
        },
        "fileHashes": {
          "description": "Hash types and values of the npm package.",
          "$ref": "FileHashes"
        },
        "uri": {
          "description": "URI of the uploaded npm package.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        }
      }
    },
    "ApprovalResult": {
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
      "id": "ApprovalResult",
      "type": "object",
      "properties": {
        "approvalTime": {
          "description": "Output only. The time when the approval decision was made.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "url": {
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "Optional. An optional comment for this manual approval result."
        },
        "approverAccount": {
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called.",
          "readOnly": true,
          "type": "string"
        },
        "decision": {
          "description": "Required. The decision of this manual approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string"
        }
      }
    },
    "CreateGitLabConnectedRepositoryRequest": {
      "description": "Request to connect a repository from a connected GitLab host.",
      "id": "CreateGitLabConnectedRepositoryRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The name of the `GitLabConfig` that adds connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`"
        },
        "gitlabConnectedRepository": {
          "description": "Required. The GitLab repository to connect.",
          "$ref": "GitLabConnectedRepository"
        }
      }
    },
    "ListGithubEnterpriseConfigsResponse": {
      "id": "ListGithubEnterpriseConfigsResponse",
      "description": "RPC response object returned by ListGithubEnterpriseConfigs RPC method.",
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GitHubEnterpriseConfig"
          },
          "type": "array",
          "description": "A list of GitHubEnterpriseConfigs"
        }
      }
    },
    "ApproveBuildRequest": {
      "description": "Request to approve or reject a pending build.",
      "id": "ApproveBuildRequest",
      "type": "object",
      "properties": {
        "approvalResult": {
          "description": "Approval decision and metadata.",
          "$ref": "ApprovalResult"
        }
      }
    },
    "RepositoryEventConfig": {
      "id": "RepositoryEventConfig",
      "description": "The configuration of a trigger that creates a build whenever an event from Repo API is received.",
      "type": "object",
      "properties": {
        "pullRequest": {
          "description": "Filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        },
        "push": {
          "description": "Filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "repository": {
          "type": "string",
          "description": "The resource name of the Repo API resource."
        },
        "repositoryType": {
          "type": "string",
          "enum": [
            "REPOSITORY_TYPE_UNSPECIFIED",
            "GITHUB",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER",
            "BITBUCKET_CLOUD"
          ],
          "readOnly": true,
          "description": "Output only. The type of the SCM vendor the repository points to.",
          "enumDescriptions": [
            "If unspecified, RepositoryType defaults to GITHUB.",
            "The SCM repo is GITHUB.",
            "The SCM repo is GITHUB Enterprise.",
            "The SCM repo is GITLAB Enterprise.",
            "The SCM repo is BITBUCKET Data Center.",
            "The SCM repo is BITBUCKET Cloud."
          ]
        }
      }
    },
    "Build": {
      "type": "object",
      "properties": {
        "logUrl": {
          "description": "Output only. URL to logs for this build in Google Cloud Console.",
          "readOnly": true,
          "type": "string"
        },
        "sourceProvenance": {
          "readOnly": true,
          "$ref": "SourceProvenance",
          "description": "Output only. A permanent fixed identifier for source."
        },
        "failureInfo": {
          "description": "Output only. Contains information about the build when status=FAILURE.",
          "readOnly": true,
          "$ref": "FailureInfo"
        },
        "secrets": {
          "type": "array",
          "items": {
            "$ref": "Secret"
          },
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets"
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "Secrets"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which execution of the build was started."
        },
        "timing": {
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "additionalProperties": {
            "$ref": "TimeSpan"
          },
          "readOnly": true,
          "type": "object"
        },
        "warnings": {
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "readOnly": true,
          "items": {
            "$ref": "Warning"
          },
          "type": "array"
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "Artifacts"
        },
        "buildTriggerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
        },
        "results": {
          "readOnly": true,
          "$ref": "Results",
          "description": "Output only. Results of the build."
        },
        "images": {
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gitConfig": {
          "description": "Optional. Configuration for git operations.",
          "$ref": "GitConfig"
        },
        "name": {
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "type": "string",
          "readOnly": true
        },
        "options": {
          "description": "Special options for this build.",
          "$ref": "BuildOptions"
        },
        "substitutions": {
          "type": "object",
          "description": "Substitutions data for `Build` resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
        },
        "projectId": {
          "description": "Output only. ID of the project.",
          "readOnly": true,
          "type": "string"
        },
        "steps": {
          "description": "Required. The operations to be performed on the workspace.",
          "type": "array",
          "items": {
            "$ref": "BuildStep"
          }
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the build was received.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "source": {
          "description": "Optional. The location of the source files to build.",
          "$ref": "Source"
        },
        "approval": {
          "readOnly": true,
          "$ref": "BuildApproval",
          "description": "Output only. Describes this build's approval configuration, status, and result."
        },
        "finishTime": {
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "queueTtl": {
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "type": "string",
          "format": "google-duration"
        },
        "logsBucket": {
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. ",
          "type": "string"
        },
        "dependencies": {
          "description": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps.",
          "type": "array",
          "items": {
            "$ref": "Dependency"
          }
        },
        "id": {
          "description": "Output only. Unique identifier of the build.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags for annotation of a `Build`. These are not docker tags."
        },
        "statusDetail": {
          "description": "Output only. Customer-readable message about the current status.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Output only. Status of the build.",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "readOnly": true,
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "type": "string"
        }
      },
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "id": "Build"
    },
    "BuiltImage": {
      "type": "object",
      "properties": {
        "ociMediaType": {
          "readOnly": true,
          "description": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value.",
          "enumDescriptions": [
            "Default value.",
            "The artifact is an image manifest, which represents a single image with all its layers.",
            "The artifact is an image index, which can contain a list of image manifests."
          ],
          "type": "string",
          "enum": [
            "OCI_MEDIA_TYPE_UNSPECIFIED",
            "IMAGE_MANIFEST",
            "IMAGE_INDEX"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`."
        },
        "pushTiming": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified image."
        },
        "digest": {
          "type": "string",
          "description": "Docker Registry 2.0 digest."
        },
        "artifactRegistryPackage": {
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BuiltImage",
      "description": "An image built by the pipeline."
    },
    "BitbucketServerConfig": {
      "id": "BitbucketServerConfig",
      "description": "BitbucketServerConfig represents the configuration for a Bitbucket Server.",
      "type": "object",
      "properties": {
        "secrets": {
          "description": "Required. Secret Manager secrets needed by the config.",
          "$ref": "BitbucketServerSecrets"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the config."
        },
        "hostUri": {
          "description": "Required. Immutable. The URI of the Bitbucket Server host. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig.",
          "type": "string"
        },
        "connectedRepositories": {
          "description": "Output only. Connected Bitbucket Server repositories for this config.",
          "readOnly": true,
          "items": {
            "$ref": "BitbucketServerRepositoryId"
          },
          "type": "array"
        },
        "username": {
          "description": "Username of the account Cloud Build will use on Bitbucket Server.",
          "type": "string"
        },
        "webhookKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. UUID included in webhook requests. The UUID is used to look up the corresponding config."
        },
        "peeredNetworkIpRange": {
          "type": "string",
          "description": "Immutable. IP range within the peered network. This is specified in CIDR notation with a slash and the subnet prefix size. You can optionally specify an IP address before the subnet prefix value. e.g. `192.168.0.0/29` would specify an IP range starting at 192.168.0.0 with a 29 bit prefix size. `/16` would specify a prefix size of 16 bits, with an automatically determined IP within the peered VPC. If unspecified, a value of `/24` will be used. The field only has an effect if peered_network is set."
        },
        "peeredNetwork": {
          "description": "Optional. The network to be used when reaching out to the Bitbucket Server instance. The VPC network must be enabled for private service connection. This should be set if the Bitbucket Server instance is hosted on-premises and not reachable by public internet. If this field is left empty, no network peering will occur and calls to the Bitbucket Server instance will be made over the public internet. Must be in the format `projects/{project}/global/networks/{network}`, where {project} is a project number or id and {network} is the name of a VPC network in the project.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the config was created."
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Immutable. API Key that will be attached to webhook. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig."
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to Bitbucket Server. The format should be PEM format but the extension can be one of .pem, .cer, or .crt."
        }
      }
    },
    "DeleteGitHubEnterpriseConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "description": "Time the operation was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be deleted. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        }
      },
      "id": "DeleteGitHubEnterpriseConfigOperationMetadata",
      "description": "Metadata for `DeleteGitHubEnterpriseConfig` operation."
    },
    "SourceProvenance": {
      "type": "object",
      "properties": {
        "resolvedStorageSource": {
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved.",
          "$ref": "StorageSource"
        },
        "resolvedRepoSource": {
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved.",
          "$ref": "RepoSource"
        },
        "resolvedStorageSourceManifest": {
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview.",
          "$ref": "StorageSourceManifest"
        },
        "resolvedConnectedRepository": {
          "description": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved.",
          "readOnly": true,
          "$ref": "ConnectedRepository"
        },
        "resolvedGitSource": {
          "description": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved.",
          "readOnly": true,
          "$ref": "GitSource"
        },
        "fileHashes": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        }
      },
      "id": "SourceProvenance",
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build."
    },
    "BatchCreateGitLabConnectedRepositoriesResponse": {
      "type": "object",
      "properties": {
        "gitlabConnectedRepositories": {
          "description": "The GitLab connected repository requests' responses.",
          "type": "array",
          "items": {
            "$ref": "GitLabConnectedRepository"
          }
        }
      },
      "id": "BatchCreateGitLabConnectedRepositoriesResponse",
      "description": "Response of BatchCreateGitLabConnectedRepositories RPC method."
    },
    "UploadedMavenArtifact": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        },
        "artifactRegistryPackage": {
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string",
          "readOnly": true
        },
        "pushTiming": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact."
        },
        "fileHashes": {
          "description": "Hash types and values of the Maven Artifact.",
          "$ref": "FileHashes"
        }
      },
      "id": "UploadedMavenArtifact",
      "description": "A Maven artifact uploaded using the MavenArtifact directive."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "FileHashes": {
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "type": "object",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "Collection of file hashes."
        }
      }
    },
    "GitLabConnectedRepository": {
      "description": "GitLabConnectedRepository represents a GitLab connected repository request response.",
      "id": "GitLabConnectedRepository",
      "type": "object",
      "properties": {
        "status": {
          "description": "Output only. The status of the repo connection request.",
          "readOnly": true,
          "$ref": "Status"
        },
        "repo": {
          "description": "The GitLab repositories to connect.",
          "$ref": "GitLabRepositoryId"
        },
        "parent": {
          "type": "string",
          "description": "The name of the `GitLabConfig` that added connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`"
        }
      }
    },
    "GitSourceRepository": {
      "type": "object",
      "properties": {
        "developerConnect": {
          "type": "string",
          "description": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
        },
        "url": {
          "description": "Location of the Git repository.",
          "type": "string"
        }
      },
      "id": "GitSourceRepository",
      "description": "A repository for a git source."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "CreateBitbucketServerConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The resource name of the BitbucketServerConfig to be created. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        }
      },
      "id": "CreateBitbucketServerConfigOperationMetadata",
      "description": "Metadata for `CreateBitbucketServerConfig` operation."
    },
    "UpdateGitHubEnterpriseConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be updated. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        }
      },
      "description": "Metadata for `UpdateGitHubEnterpriseConfig` operation.",
      "id": "UpdateGitHubEnterpriseConfigOperationMetadata"
    },
    "CreateGitLabConfigOperationMetadata": {
      "description": "Metadata for `CreateGitLabConfig` operation.",
      "id": "CreateGitLabConfigOperationMetadata",
      "type": "object",
      "properties": {
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "gitlabConfig": {
          "description": "The resource name of the GitLabConfig to be created. Format: `projects/{project}/locations/{location}/gitlabConfigs/{id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "UpdateBitbucketServerConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "bitbucketServerConfig": {
          "description": "The resource name of the BitbucketServerConfig to be updated. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for `UpdateBitbucketServerConfig` operation.",
      "id": "UpdateBitbucketServerConfigOperationMetadata"
    },
    "DeveloperConnectEventConfig": {
      "type": "object",
      "properties": {
        "gitRepositoryLink": {
          "type": "string",
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
        },
        "gitRepositoryLinkType": {
          "readOnly": true,
          "enumDescriptions": [
            "If unspecified, GitRepositoryLinkType defaults to GITHUB.",
            "The SCM repo is GITHUB.",
            "The SCM repo is GITHUB_ENTERPRISE.",
            "The SCM repo is GITLAB.",
            "The SCM repo is GITLAB_ENTERPRISE.",
            "The SCM repo is BITBUCKET_DATA_CENTER.",
            "The SCM repo is BITBUCKET_CLOUD."
          ],
          "description": "Output only. The type of DeveloperConnect GitRepositoryLink.",
          "type": "string",
          "enum": [
            "GIT_REPOSITORY_LINK_TYPE_UNSPECIFIED",
            "GITHUB",
            "GITHUB_ENTERPRISE",
            "GITLAB",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER",
            "BITBUCKET_CLOUD"
          ]
        },
        "pullRequest": {
          "description": "Filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        },
        "push": {
          "description": "Filter to match changes in refs like branches and tags.",
          "$ref": "PushFilter"
        }
      },
      "description": "The configuration of a trigger that creates a build whenever an event from the DeveloperConnect API is received.",
      "id": "DeveloperConnectEventConfig"
    },
    "DefaultServiceAccount": {
      "description": "The default service account used for `Builds`.",
      "id": "DefaultServiceAccount",
      "type": "object",
      "properties": {
        "serviceAccountEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the service account identity that will be used for a build by default. This is returned in the format `projects/{project}/serviceAccounts/{service_account}` where `{service_account}` could be the legacy Cloud Build SA, in the format [PROJECT_NUMBER]@cloudbuild.gserviceaccount.com or the Compute SA, in the format [PROJECT_NUMBER]-compute@developer.gserviceaccount.com. If no service account will be used by default, this will be empty."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `projects/{project}/locations/{location}/defaultServiceAccount`."
        }
      }
    },
    "NpmPackage": {
      "type": "object",
      "properties": {
        "packagePath": {
          "type": "string",
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified."
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      },
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "NpmPackage"
    },
    "Oci": {
      "description": "OCI image to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "Oci",
      "type": "object",
      "properties": {
        "registryPath": {
          "description": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "file": {
          "description": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar",
          "type": "string"
        }
      }
    },
    "ListGitLabRepositoriesResponse": {
      "id": "ListGitLabRepositoriesResponse",
      "description": "RPC response object returned by the ListGitLabRepositories RPC method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "gitlabRepositories": {
          "items": {
            "$ref": "GitLabRepository"
          },
          "type": "array",
          "description": "List of GitLab repositories"
        }
      }
    },
    "ArtifactObjects": {
      "id": "ArtifactObjects",
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Path globs used to match files in the build's workspace."
        },
        "timing": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects."
        },
        "location": {
          "type": "string",
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
        }
      }
    },
    "GitHubEventsConfig": {
      "type": "object",
      "properties": {
        "pullRequest": {
          "description": "filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        },
        "enterpriseConfigResourceName": {
          "type": "string",
          "description": "The resource name of the github enterprise config that should be applied to this installation. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
        },
        "owner": {
          "description": "Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is \"googlecloudplatform\".",
          "type": "string"
        },
        "name": {
          "description": "Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is \"cloud-builders\".",
          "type": "string"
        },
        "push": {
          "description": "filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "installationId": {
          "type": "string",
          "format": "int64",
          "description": "The installationID that emits the GitHub event.",
          "deprecated": true
        }
      },
      "id": "GitHubEventsConfig",
      "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received."
    },
    "ProcessAppManifestCallbackOperationMetadata": {
      "type": "object",
      "properties": {
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        }
      },
      "id": "ProcessAppManifestCallbackOperationMetadata",
      "description": "Metadata for `ProcessAppManifestCallback` operation."
    },
    "Warning": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Explanation of the warning generated."
        },
        "priority": {
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "description": "The priority for this warning.",
          "type": "string"
        }
      },
      "id": "Warning",
      "description": "A non-fatal problem encountered during the execution of the build."
    },
    "ListBitbucketServerRepositoriesResponse": {
      "type": "object",
      "properties": {
        "bitbucketServerRepositories": {
          "description": "List of Bitbucket Server repositories.",
          "items": {
            "$ref": "BitbucketServerRepository"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "RPC response object returned by the ListBitbucketServerRepositories RPC method.",
      "id": "ListBitbucketServerRepositoriesResponse"
    },
    "GitHubEnterpriseSecrets": {
      "description": "GitHubEnterpriseSecrets represents the names of all necessary secrets in Secret Manager for a GitHub Enterprise server. Format is: projects//secrets/.",
      "id": "GitHubEnterpriseSecrets",
      "type": "object",
      "properties": {
        "oauthSecretName": {
          "description": "The resource name for the OAuth secret in Secret Manager.",
          "deprecated": true,
          "type": "string"
        },
        "privateKeyVersionName": {
          "type": "string",
          "description": "The resource name for the private key secret version."
        },
        "webhookSecretVersionName": {
          "type": "string",
          "description": "The resource name for the webhook secret secret version in Secret Manager."
        },
        "oauthClientIdVersionName": {
          "type": "string",
          "description": "The resource name for the OAuth client ID secret version in Secret Manager."
        },
        "privateKeyName": {
          "description": "The resource name for the private key secret.",
          "deprecated": true,
          "type": "string"
        },
        "oauthSecretVersionName": {
          "type": "string",
          "description": "The resource name for the OAuth secret secret version in Secret Manager."
        },
        "webhookSecretName": {
          "type": "string",
          "description": "The resource name for the webhook secret in Secret Manager.",
          "deprecated": true
        },
        "oauthClientIdName": {
          "type": "string",
          "description": "The resource name for the OAuth client ID secret in Secret Manager.",
          "deprecated": true
        }
      }
    },
    "CreateWorkerPoolOperationMetadata": {
      "type": "object",
      "properties": {
        "workerPool": {
          "description": "The resource name of the `WorkerPool` to create. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was created."
        },
        "completeTime": {
          "description": "Time the operation was completed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CreateWorkerPoolOperationMetadata",
      "description": "Metadata for the `CreateWorkerPool` operation."
    },
    "UpdateWorkerPoolOperationMetadata": {
      "id": "UpdateWorkerPoolOperationMetadata",
      "description": "Metadata for the `UpdateWorkerPool` operation.",
      "type": "object",
      "properties": {
        "completeTime": {
          "description": "Time the operation was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerPool": {
          "description": "The resource name of the `WorkerPool` being updated. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PoolOption": {
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "id": "PoolOption",
      "type": "object",
      "properties": {
        "name": {
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}",
          "type": "string"
        }
      }
    },
    "GitSourceDependency": {
      "id": "GitSourceDependency",
      "description": "Represents a git repository as a build dependency.",
      "type": "object",
      "properties": {
        "recurseSubmodules": {
          "description": "Optional. True if submodules should be fetched too (default false).",
          "type": "boolean"
        },
        "depth": {
          "type": "string",
          "format": "int64",
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history)."
        },
        "destPath": {
          "description": "Required. Where should the files be placed on the worker.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Required. The revision that we will fetch the repo at."
        },
        "repository": {
          "description": "Required. The kind of repo (url or dev connect).",
          "$ref": "GitSourceRepository"
        }
      }
    },
    "GitConfig": {
      "description": "GitConfig is a configuration for git operations.",
      "id": "GitConfig",
      "type": "object",
      "properties": {
        "http": {
          "description": "Configuration for HTTP related git operations.",
          "$ref": "HttpConfig"
        }
      }
    },
    "RemoveGitLabConnectedRepositoryRequest": {
      "type": "object",
      "properties": {
        "connectedRepository": {
          "description": "The connected repository to remove.",
          "$ref": "GitLabRepositoryId"
        }
      },
      "description": "RPC request object accepted by RemoveGitLabConnectedRepository RPC method.",
      "id": "RemoveGitLabConnectedRepositoryRequest"
    },
    "BatchCreateBitbucketServerConnectedRepositoriesResponseMetadata": {
      "type": "object",
      "properties": {
        "config": {
          "description": "The name of the `BitbucketServerConfig` that added connected repositories. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was created."
        },
        "completeTime": {
          "description": "Time the operation was completed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "BatchCreateBitbucketServerConnectedRepositoriesResponseMetadata",
      "description": "Metadata for `BatchCreateBitbucketServerConnectedRepositories` operation."
    },
    "DeleteGitLabConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "gitlabConfig": {
          "type": "string",
          "description": "The resource name of the GitLabConfig to be created. Format: `projects/{project}/locations/{location}/gitlabConfigs/{id}`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was created."
        }
      },
      "description": "Metadata for `DeleteGitLabConfig` operation.",
      "id": "DeleteGitLabConfigOperationMetadata"
    },
    "Results": {
      "type": "object",
      "properties": {
        "images": {
          "items": {
            "$ref": "BuiltImage"
          },
          "type": "array",
          "description": "Container images that were built as a part of the build."
        },
        "npmPackages": {
          "description": "Npm packages uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "UploadedNpmPackage"
          },
          "type": "array"
        },
        "artifactManifest": {
          "type": "string",
          "description": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
        },
        "numArtifacts": {
          "type": "string",
          "format": "int64",
          "description": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
        },
        "mavenArtifacts": {
          "type": "array",
          "items": {
            "$ref": "UploadedMavenArtifact"
          },
          "description": "Maven artifacts uploaded to Artifact Registry at the end of the build."
        },
        "buildStepImages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of build step digests, in the order corresponding to build step indices."
        },
        "pythonPackages": {
          "description": "Python artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "UploadedPythonPackage"
          },
          "type": "array"
        },
        "buildStepOutputs": {
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored. Note that the `$BUILDER_OUTPUT` variable is read-only and can't be substituted.",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        },
        "artifactTiming": {
          "description": "Time to push all non-container artifacts to Cloud Storage.",
          "$ref": "TimeSpan"
        },
        "goModules": {
          "items": {
            "$ref": "UploadedGoModule"
          },
          "type": "array",
          "description": "Optional. Go module artifacts uploaded to Artifact Registry at the end of the build."
        }
      },
      "description": "Artifacts created by the build pipeline.",
      "id": "Results"
    },
    "WebhookConfig": {
      "id": "WebhookConfig",
      "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
      "type": "object",
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. Resource name for the secret required as a URL parameter."
        },
        "state": {
          "enumDescriptions": [
            "The webhook auth configuration not been checked.",
            "The auth configuration is properly setup.",
            "The secret provided in auth_method has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SECRET_DELETED"
          ],
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests.",
          "type": "string"
        }
      }
    },
    "Secrets": {
      "type": "object",
      "properties": {
        "secretManager": {
          "items": {
            "$ref": "SecretManagerSecret"
          },
          "type": "array",
          "description": "Secrets in Secret Manager and associated secret environment variable."
        },
        "inline": {
          "description": "Secrets encrypted with KMS key and the associated secret environment variable.",
          "type": "array",
          "items": {
            "$ref": "InlineSecret"
          }
        }
      },
      "description": "Secrets and secret environment variables.",
      "id": "Secrets"
    },
    "BitbucketServerConnectedRepository": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
          "type": "string"
        },
        "repo": {
          "description": "The Bitbucket Server repositories to connect.",
          "$ref": "BitbucketServerRepositoryId"
        },
        "status": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The status of the repo connection request."
        }
      },
      "description": "/ BitbucketServerConnectedRepository represents a connected Bitbucket Server / repository.",
      "id": "BitbucketServerConnectedRepository"
    },
    "GitSource": {
      "id": "GitSource",
      "description": "Location of the source in any accessible Git repository.",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        }
      }
    },
    "ListBitbucketServerConfigsResponse": {
      "type": "object",
      "properties": {
        "bitbucketServerConfigs": {
          "items": {
            "$ref": "BitbucketServerConfig"
          },
          "type": "array",
          "description": "A list of BitbucketServerConfigs"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "RPC response object returned by ListBitbucketServerConfigs RPC method.",
      "id": "ListBitbucketServerConfigsResponse"
    },
    "DeleteBitbucketServerConfigOperationMetadata": {
      "id": "DeleteBitbucketServerConfigOperationMetadata",
      "description": "Metadata for `DeleteBitbucketServerConfig` operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The resource name of the BitbucketServerConfig to be deleted. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        }
      }
    },
    "StorageSourceManifest": {
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source manifest. This object must be a JSON file."
        }
      },
      "id": "StorageSourceManifest",
      "description": "Location of the source manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
    },
    "HttpBody": {
[...]
