{
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "name": "cloudchannel",
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "title": "Cloud Channel API",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/channel",
  "batchPath": "batch",
  "version": "v1",
  "id": "cloudchannel:v1",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleTypeDate": {
      "type": "object",
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      }
    },
    "GoogleCloudChannelV1ReportJob": {
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation.",
      "deprecated": true,
      "properties": {
        "name": {
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`",
          "type": "string"
        },
        "reportStatus": {
          "$ref": "GoogleCloudChannelV1ReportStatus",
          "description": "The current status of report generation."
        }
      },
      "id": "GoogleCloudChannelV1ReportJob",
      "type": "object"
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "description": "Response message for ListPurchasableSkus.",
      "properties": {
        "purchasableSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          },
          "description": "The list of SKUs requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse"
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest",
      "type": "object",
      "properties": {
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "customerName": {
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional."
        },
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional.",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ListTransferableSkus"
    },
    "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "description": "Response message for ListSkuGroupBillableSkus.",
      "properties": {
        "billableSkus": {
          "description": "The list of billable SKUs in the requested SKU group.",
          "items": {
            "$ref": "GoogleCloudChannelV1BillableSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse"
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
      "type": "object",
      "properties": {
        "channelPartner": {
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened for the channel partner.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ]
        }
      },
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API."
    },
    "GoogleCloudChannelV1ContactInfo": {
      "description": "Contact information for a customer account.",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name."
        },
        "title": {
          "description": "Optional. The customer account contact's job title.",
          "type": "string"
        },
        "firstName": {
          "description": "The customer account contact's first name. Optional for Team customers.",
          "type": "string"
        },
        "email": {
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers.",
          "type": "string"
        },
        "lastName": {
          "description": "The customer account contact's last name. Optional for Team customers.",
          "type": "string"
        },
        "phone": {
          "description": "The customer account's contact phone number.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ContactInfo"
    },
    "GoogleTypePostalAddress": {
      "properties": {
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        }
      },
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "id": "GoogleTypePostalAddress",
      "type": "object"
    },
    "GoogleCloudChannelV1ChannelPartnerRepricingConfig": {
      "properties": {
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to ChannelPartner.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Configuration for how a distributor will rebill a channel partner (also known as a distributor-authorized reseller).",
      "id": "GoogleCloudChannelV1ChannelPartnerRepricingConfig",
      "type": "object"
    },
    "GoogleCloudChannelV1Constraints": {
      "description": "Represents the constraints for buying the Offer.",
      "properties": {
        "customerConstraints": {
          "description": "Represents constraints required to purchase the Offer for a customer.",
          "$ref": "GoogleCloudChannelV1CustomerConstraints"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1Constraints"
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "type": "object",
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "description": "An adjustment that applies a flat markup or markdown to an entire bill.",
      "properties": {
        "percentage": {
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% => \"-1.00\" Mark up by 1% => \"1.00\" Pass-Through => \"0.00\"",
          "$ref": "GoogleTypeDecimal"
        }
      }
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "properties": {
        "transferableSkus": {
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse"
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "type": "object",
      "properties": {
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        },
        "paymentOption": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.",
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "deprecated": true
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1alpha1Period"
        },
        "disableCommitment": {
          "deprecated": true,
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead.",
          "type": "boolean"
        },
        "scheduledRenewalOffer": {
          "type": "string",
          "description": "Output only. The offer resource name that the entitlement will renew on at the end date. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "readOnly": true
        },
        "paymentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "description": "Describes how a reseller will be billed.",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        }
      },
      "description": "Renewal settings for renewable Offers."
    },
    "GoogleCloudChannelV1EduData": {
      "id": "GoogleCloudChannelV1EduData",
      "type": "object",
      "properties": {
        "website": {
          "description": "Web address for the edu customer's institution.",
          "type": "string"
        },
        "instituteType": {
          "description": "Designated institute type of customer.",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ]
        },
        "instituteSize": {
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "type": "string",
          "description": "Size of the institute.",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ]
        }
      },
      "description": "Required Edu Attributes"
    },
    "GoogleCloudChannelV1RepricingCondition": {
      "description": "Represents the various repricing conditions you can use for a conditional override.",
      "properties": {
        "skuGroupCondition": {
          "$ref": "GoogleCloudChannelV1SkuGroupCondition",
          "description": "SKU Group condition for override."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1RepricingCondition"
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "description": "Response Message for RegisterSubscriber.",
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1ReportStatus": {
      "type": "object",
      "description": "Status of a report generation process.",
      "deprecated": true,
      "properties": {
        "endTime": {
          "description": "The report generation's completion time.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "The current state of the report generation process.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The report generation's start time."
        }
      },
      "id": "GoogleCloudChannelV1alpha1ReportStatus"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleTypeTimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeZone"
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "properties": {
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        },
        "offer": {
          "description": "Offer with parameter constraints updated to allow the Transfer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      },
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only.",
      "id": "GoogleCloudChannelV1TransferableOffer",
      "type": "object"
    },
    "GoogleCloudChannelV1Price": {
      "properties": {
        "discount": {
          "type": "number",
          "format": "double",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2."
        },
        "externalPriceUri": {
          "description": "Link to external price list, such as link to Google Voice rate card.",
          "type": "string"
        },
        "pricePeriod": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "The time period with respect to which base and effective prices are defined. Example: 1 month, 6 months, 1 year, etc."
        },
        "discountComponents": {
          "description": "Breakdown of the discount into its components. This will be empty if there is no discount present.",
          "items": {
            "$ref": "GoogleCloudChannelV1DiscountComponent"
          },
          "type": "array"
        },
        "basePrice": {
          "description": "Base price.",
          "$ref": "GoogleTypeMoney"
        },
        "effectivePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Effective Price after applying the discounts."
        }
      },
      "description": "Represents the price of the Offer.",
      "id": "GoogleCloudChannelV1Price",
      "type": "object"
    },
    "GoogleCloudChannelV1Entitlement": {
      "id": "GoogleCloudChannelV1Entitlement",
      "type": "object",
      "properties": {
        "provisionedService": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is updated.",
          "readOnly": true
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "trialSettings": {
          "description": "Output only. Settings for trial offers.",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1TrialSettings"
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "parameters": {
          "type": "array",
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. For Google Workspace, the following Parameters may be accepted as input: - max_units: The maximum assignable units for a flexible offer OR - num_units: The total commitment for commitment-based offers The response may additionally include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. For Google Cloud billing subaccounts, the following Parameter may be accepted as input: - display_name: The display name of the billing subaccount.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          }
        },
        "provisioningState": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ],
          "readOnly": true,
          "description": "Output only. Current provisioning state of the entitlement.",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ]
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1CommitmentSettings"
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1AssociationInfo"
        },
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement.",
          "type": "string"
        },
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "readOnly": true,
          "items": {
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        }
      },
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "id": "GoogleCloudChannelV1AssociationInfo",
      "type": "object",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "description": "Association links that an entitlement has to other entitlements."
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "type": "object",
      "id": "GoogleCloudChannelV1PurchasableSku",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      }
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Commitment start timestamp.",
          "readOnly": true
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        },
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Commitment settings for commitment-based offers."
    },
    "GoogleCloudChannelV1ListEntitlementChangesResponse": {
      "properties": {
        "entitlementChanges": {
          "items": {
            "$ref": "GoogleCloudChannelV1EntitlementChange"
          },
          "description": "The list of entitlement changes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to list the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListEntitlementChanges",
      "id": "GoogleCloudChannelV1ListEntitlementChangesResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfig": {
      "id": "GoogleCloudChannelV1RepricingConfig",
      "type": "object",
      "properties": {
        "entitlementGranularity": {
          "description": "Required. Applies the repricing configuration at the entitlement level. Note: If a ChannelPartnerRepricingConfig using RepricingConfig.EntitlementGranularity becomes effective, then no existing or future RepricingConfig.ChannelPartnerGranularity will apply to the RepricingConfig.EntitlementGranularity.entitlement. This is the recommended value for both CustomerRepricingConfig and ChannelPartnerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity"
        },
        "effectiveInvoiceMonth": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The YearMonth when these adjustments activate. The Day field needs to be \"0\" since we only accept YearMonth repricing boundaries."
        },
        "adjustment": {
          "description": "Required. Information about the adjustment.",
          "$ref": "GoogleCloudChannelV1RepricingAdjustment"
        },
        "channelPartnerGranularity": {
          "deprecated": true,
          "$ref": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
          "description": "Applies the repricing configuration at the channel partner level. Only ChannelPartnerRepricingConfig supports this value. Deprecated: This is no longer supported. Use RepricingConfig.entitlement_granularity instead."
        },
        "rebillingBasis": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ],
          "description": "Required. The RebillingBasis to use for this bill. Specifies the relative cost based on repricing costs you will apply.",
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ]
        },
        "conditionalOverrides": {
          "type": "array",
          "description": "The conditional overrides to apply for this configuration. If you list multiple overrides, only the first valid override is used. If you don't list any overrides, the API uses the normal adjustment and rebilling basis.",
          "items": {
            "$ref": "GoogleCloudChannelV1ConditionalOverride"
          }
        }
      },
      "description": "Configuration for repricing a Google bill over a period of time."
    },
    "GoogleCloudChannelV1BillingAccount": {
      "properties": {
        "currencyCode": {
          "description": "Output only. The 3-letter currency code defined in ISO 4217.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the billing account. Format: accounts/{account_id}/billingAccounts/{billing_account_id}."
        },
        "regionCode": {
          "readOnly": true,
          "description": "Output only. The CLDR region code.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the billing account.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when this billing account was created."
        }
      },
      "description": "Represents a billing account.",
      "id": "GoogleCloudChannelV1BillingAccount",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "properties": {
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        },
        "opportunityEvent": {
          "$ref": "GoogleCloudChannelV1alpha1OpportunityEvent",
          "description": "Opportunity event sent as part of Pub/Sub event to partners/integrators."
        },
        "channelPartnerEvent": {
          "description": "Channel Partner event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
        },
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        }
      },
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "type": "object"
    },
    "GoogleCloudChannelV1FetchReportResultsResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1FetchReportResultsResponse",
      "description": "Response message for CloudChannelReportsService.FetchReportResults. Contains a tabular representation of the report results.",
      "deprecated": true,
      "properties": {
        "rows": {
          "items": {
            "$ref": "GoogleCloudChannelV1Row"
          },
          "description": "The report's lists of values. Each row follows the settings and ordering of the columns from `report_metadata`.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pass this token to FetchReportResultsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "reportMetadata": {
          "$ref": "GoogleCloudChannelV1ReportResultsMetadata",
          "description": "The metadata for the report results (display name, columns, row count, and date ranges)."
        }
      }
    },
    "GoogleCloudChannelV1Row": {
      "id": "GoogleCloudChannelV1Row",
      "deprecated": true,
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ReportValue"
          },
          "description": "The list of values in the row."
        },
        "partitionKey": {
          "description": "The key for the partition this row belongs to. This field is empty if the report is not partitioned.",
          "type": "string"
        }
      },
      "description": "A row of report values.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Value": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Value",
      "description": "Data type and value of a parameter.",
      "properties": {
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Represents an 'Any' proto value."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Represents an int64 value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "description": "Request Message for RegisterSubscriber.",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account that provides subscriber access to the registered topic.",
          "type": "string"
        },
        "account": {
          "description": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        },
        "integrator": {
          "description": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest"
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "properties": {
        "assignedUnits": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead."
        },
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement.",
          "type": "string"
        },
        "suspensionReasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ]
          },
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement."
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        },
        "maxUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead.",
          "deprecated": true
        },
        "provisionedService": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "trialSettings": {
          "description": "Output only. Settings for trial offers.",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings"
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. For Google Workspace, the following Parameters may be accepted as input: - max_units: The maximum assignable units for a flexible offer OR - num_units: The total commitment for commitment-based offers The response may additionally include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. For Google Cloud billing subaccounts, the following Parameter may be accepted as input: - display_name: The display name of the billing subaccount."
        },
        "numUnits": {
          "deprecated": true,
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead.",
          "type": "integer",
          "format": "int32"
        },
        "provisioningState": {
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current provisioning state of the entitlement.",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            false
          ],
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ]
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "properties": {
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "type": "string",
          "description": "Type of event which happened for the customer.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "type": "object",
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "description": "Applies the repricing configuration at the entitlement level.",
      "properties": {
        "entitlement": {
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1Report": {
      "deprecated": true,
      "properties": {
        "displayName": {
          "description": "A human-readable name for this report.",
          "type": "string"
        },
        "columns": {
          "items": {
            "$ref": "GoogleCloudChannelV1Column"
          },
          "description": "The list of columns included in the report. This defines the schema of the report results.",
          "type": "array"
        },
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        },
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        }
      },
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc.",
      "id": "GoogleCloudChannelV1Report",
      "type": "object"
    },
    "GoogleCloudChannelV1DateRange": {
      "type": "object",
      "id": "GoogleCloudChannelV1DateRange",
      "description": "A representation of usage or invoice date ranges.",
      "deprecated": true,
      "properties": {
        "usageEndDateTime": {
          "description": "The latest usage date time (exclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage end date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        },
        "invoiceStartDate": {
          "description": "The earliest invoice date (inclusive). If this value is not the first day of a month, this will move it back to the first day of the given month.",
          "$ref": "GoogleTypeDate"
        },
        "usageStartDateTime": {
          "description": "The earliest usage date time (inclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage start date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        },
        "invoiceEndDate": {
          "$ref": "GoogleTypeDate",
          "description": "The latest invoice date (inclusive). If this value is not the last day of a month, this will move it forward to the last day of the given month."
        }
      }
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The reseller customer's entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        },
        "nextPageToken": {
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1TransferableSku": {
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "legacySku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU."
        },
        "transferEligibility": {
          "$ref": "GoogleCloudChannelV1TransferEligibility",
          "description": "Describes the transfer eligibility of a SKU."
        }
      },
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only.",
      "id": "GoogleCloudChannelV1TransferableSku",
      "type": "object"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "type": "object",
      "properties": {
        "channelPartnerLinks": {
          "description": "The Channel partner links for a reseller.",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks."
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "description": "Association links that an entitlement has to other entitlements.",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ReportStatus": {
      "type": "object",
      "description": "Status of a report generation process.",
      "deprecated": true,
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "description": "The current state of the report generation process.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The report generation's start time."
        },
        "endTime": {
          "description": "The report generation's completion time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudChannelV1ReportStatus"
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "type": "object",
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "linkState": {
          "description": "Required. State of the channel partner link.",
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "type": "string"
        },
        "channelPartnerCloudIdentityInfo": {
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}."
        },
        "resellerCloudIdentityId": {
          "description": "Required. Cloud Identity ID of the linked reseller.",
          "type": "string"
        },
        "inviteLinkUri": {
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the channel partner link is updated."
        },
        "publicId": {
          "type": "string",
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudChannelV1Period": {
      "id": "GoogleCloudChannelV1Period",
      "type": "object",
      "properties": {
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Total duration of Period Type defined."
        }
      },
      "description": "Represents period in days/months/years."
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle.",
      "properties": {
        "entitlements": {
          "description": "Required. The entitlements to transfer to Google.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest"
    },
    "GoogleCloudChannelV1BillableSku": {
      "properties": {
        "sku": {
          "description": "Resource name of Billable SKU. Format: billableSkus/{sku}. Example: billableSkus/6E1B-6634-470F\".",
          "type": "string"
        },
        "skuDisplayName": {
          "description": "Unique human readable name for the SKU.",
          "type": "string"
        },
        "service": {
          "description": "Resource name of Service which contains Repricing SKU. Format: services/{service}. Example: \"services/B7D9-FDCB-15D8\".",
          "type": "string"
        },
        "serviceDisplayName": {
          "description": "Unique human readable name for the Service.",
          "type": "string"
        }
      },
      "description": "Represents the Billable SKU information.",
      "id": "GoogleCloudChannelV1BillableSku",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings",
      "type": "object",
      "properties": {
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Commitment start timestamp."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Commitment end timestamp."
        }
      },
      "description": "Commitment settings for commitment-based offers."
    },
    "GoogleCloudChannelV1TrialSettings": {
      "id": "GoogleCloudChannelV1TrialSettings",
      "type": "object",
      "properties": {
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      },
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1PriceByResource": {
      "description": "Represents price by resource type.",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud.",
            "For Google Cloud subscriptions like Anthos or SAP."
          ],
          "type": "string",
          "description": "Resource Type. Example: SEAT",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION"
          ]
        },
        "pricePhases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          },
          "description": "Specifies the price by time range."
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the Offer. Present if there are no price phases."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1PriceByResource"
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "type": "object",
      "properties": {
        "skus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "description": "The list of SKUs requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for ListSkus."
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "type": "object",
      "id": "GoogleCloudChannelV1EntitlementEvent",
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "properties": {
        "eventType": {
          "description": "Type of event which happened for the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ]
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1QueryEligibleBillingAccountsResponse": {
      "properties": {
        "skuPurchaseGroups": {
          "type": "array",
          "description": "List of SKU purchase groups where each group represents a set of SKUs that must be purchased using the same billing account. Each SKU from [QueryEligibleBillingAccountsRequest.skus] will appear in exactly one SKU group.",
          "items": {
            "$ref": "GoogleCloudChannelV1SkuPurchaseGroup"
          }
        }
      },
      "description": "Response message for QueryEligibleBillingAccounts.",
      "id": "GoogleCloudChannelV1QueryEligibleBillingAccountsResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "type": "object",
      "id": "GoogleCloudChannelV1SubscriberEvent",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "properties": {
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        }
      }
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "properties": {
        "allowedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Allowed geographical regions of the customer.",
          "type": "array"
        },
        "allowedCustomerTypes": {
          "type": "array",
          "description": "Allowed Customer Type.",
          "items": {
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "type": "string"
          }
        },
        "promotionalOrderTypes": {
          "items": {
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ]
          },
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "id": "GoogleCloudChannelV1CustomerRepricingConfig",
      "type": "object",
      "properties": {
        "repricingConfig": {
          "$ref": "GoogleCloudChannelV1RepricingConfig",
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month."
        }
      },
      "description": "Configuration for how a reseller will reprice a Customer."
    },
    "GoogleCloudChannelV1Plan": {
      "type": "object",
      "id": "GoogleCloudChannelV1Plan",
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentType": {
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ],
          "type": "string",
          "description": "Specifies when the payment needs to happen.",
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ]
        },
        "trialPeriod": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period."
        },
        "billingAccount": {
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud offers.",
          "type": "string"
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "type": "string",
          "description": "Describes how a reseller will be billed.",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        }
      }
    },
    "GoogleCloudChannelV1Sku": {
      "properties": {
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        }
      },
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "id": "GoogleCloudChannelV1Sku",
      "type": "object"
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "description": "Cloud Identity information for the Cloud Channel Customer.",
      "properties": {
        "languageCode": {
          "description": "Language code.",
          "type": "string"
        },
        "isDomainVerified": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers."
        },
        "alternateEmail": {
          "description": "The alternate email.",
          "type": "string"
        },
        "customerType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "description": "CustomerType indicates verification type needed for using services.",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ]
        },
        "adminConsoleUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI of Customer's Admin console dashboard."
        },
        "primaryDomain": {
          "type": "string",
          "description": "Output only. The primary domain name.",
          "readOnly": true
        },
        "phoneNumber": {
          "description": "Phone number associated with the Cloud Identity.",
          "type": "string"
        },
        "eduData": {
          "description": "Edu information about the customer.",
          "$ref": "GoogleCloudChannelV1EduData"
        }
      }
    },
    "GoogleCloudChannelV1PricePhase": {
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "properties": {
        "periodType": {
          "description": "Defines the phase period type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the phase. Present if there are no price tiers."
        },
        "firstPeriod": {
          "description": "Defines first period for the phase.",
          "type": "integer",
          "format": "int32"
        },
        "lastPeriod": {
          "description": "Defines first period for the phase.",
          "type": "integer",
          "format": "int32"
        },
        "priceTiers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "description": "Price by the resource tiers.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1PricePhase"
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "type": "object",
      "properties": {
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1alpha1Period": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Period",
      "description": "Represents period in days/months/years.",
      "properties": {
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Total duration of Period Type defined."
        }
      }
    },
    "GoogleCloudChannelV1RunReportJobResponse": {
      "description": "Response message for CloudChannelReportsService.RunReportJob.",
      "deprecated": true,
      "properties": {
        "reportJob": {
          "description": "Pass `report_job.name` to FetchReportResultsRequest.report_job to retrieve the report's results.",
          "$ref": "GoogleCloudChannelV1ReportJob"
        },
        "reportMetadata": {
          "description": "The metadata for the report's results (display name, columns, row count, and date range). If you view this before the operation finishes, you may see incomplete data.",
          "$ref": "GoogleCloudChannelV1ReportResultsMetadata"
        }
      },
      "id": "GoogleCloudChannelV1RunReportJobResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "properties": {
        "offer": {
          "description": "Offer.",
          "$ref": "GoogleCloudChannelV1Offer"
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        }
      },
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "id": "GoogleCloudChannelV1PurchasableOffer",
      "type": "object"
    },
    "GoogleCloudChannelV1Column": {
      "id": "GoogleCloudChannelV1Column",
      "description": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows.",
      "deprecated": true,
      "properties": {
        "columnId": {
          "description": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports.",
          "type": "string"
        },
        "displayName": {
          "description": "The column's display name.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Not used.",
            "ReportValues for this column will use string_value.",
            "ReportValues for this column will use int_value.",
            "ReportValues for this column will use decimal_value.",
            "ReportValues for this column will use money_value.",
            "ReportValues for this column will use date_value.",
            "ReportValues for this column will use date_time_value."
          ],
          "type": "string",
          "description": "The type of the values for this column.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "DECIMAL",
            "MONEY",
            "DATE",
            "DATE_TIME"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "id": "GoogleCloudChannelV1MarketingInfo",
      "type": "object",
      "properties": {
        "description": {
          "description": "Human readable description. Description can contain HTML.",
          "type": "string"
        },
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        },
        "defaultLogo": {
          "description": "Default logo.",
          "$ref": "GoogleCloudChannelV1Media"
        }
      },
      "description": "Represents the marketing information for a Product, SKU or Offer."
    },
    "GoogleCloudChannelV1ListSkuGroupsResponse": {
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "skuGroups": {
          "type": "array",
          "description": "The list of SKU groups requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1SkuGroup"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListSkuGroupsResponse"
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "properties": {
        "renewalSettings": {
          "description": "Required. New renewal settings.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ChangeRenewalSettings.",
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1OpportunityEvent": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1OpportunityEvent",
      "description": "Represents Pub/Sub message content describing opportunity updates.",
      "properties": {
        "partner": {
          "description": "Resource name of the partner. Format: partners/{partner}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened for the opportunity.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "PARTNER_DETACHED"
          ],
          "enumDescriptions": [
            "Not used.",
            "New opportunity created.",
            "Existing opportunity updated.",
            "Partner has been detached from the opportunity and can no longer access it."
          ],
          "type": "string"
        },
        "opportunity": {
          "description": "Resource name of the opportunity. Format: opportunities/{opportunity}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1BillingAccountPurchaseInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1BillingAccountPurchaseInfo",
      "description": "Represents a billing account that can be used to make a purchase.",
      "properties": {
        "billingAccount": {
          "description": "The billing account resource.",
          "$ref": "GoogleCloudChannelV1BillingAccount"
        }
      }
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "properties": {
        "customerType": {
          "description": "If existing = true, the type of the customer.",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "type": "string"
        },
        "customerName": {
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "channelPartnerCloudIdentityId": {
          "description": "If existing = true, and is 2-tier customer, the channel partner of the customer.",
          "type": "string"
        },
        "customerCloudIdentityId": {
          "description": "If existing = true, the Cloud Identity ID of the customer.",
          "type": "string"
        },
        "existing": {
          "description": "Returns true if a Cloud Identity account exists for a specific domain.",
          "type": "boolean"
        },
        "owned": {
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner (with active subscriptions or purchase consents).",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
    },
    "GoogleCloudChannelV1SkuPurchaseGroup": {
      "id": "GoogleCloudChannelV1SkuPurchaseGroup",
      "type": "object",
      "properties": {
        "skus": {
          "items": {
            "type": "string"
          },
          "description": "Resource names of the SKUs included in this group. Format: products/{product_id}/skus/{sku_id}.",
          "type": "array"
        },
        "billingAccountPurchaseInfos": {
          "items": {
            "$ref": "GoogleCloudChannelV1BillingAccountPurchaseInfo"
          },
          "description": "List of billing accounts that are eligible to purhcase these SKUs.",
          "type": "array"
        }
      },
      "description": "Represents a set of SKUs that must be purchased using the same billing account."
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "properties": {
        "cloudIdentityAccounts": {
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "description": "The Cloud Identity accounts associated with the domain.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.StartPaidService.",
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableOffers": {
          "type": "array",
          "description": "Information about Offers for a customer that can be used for transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse"
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "type": "string",
          "description": "Type of event which happened for the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "type": "object"
    },
    "GoogleCloudChannelV1Media": {
      "properties": {
        "title": {
          "description": "Title of the media.",
          "type": "string"
        },
        "content": {
          "description": "URL of the media.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Type of image."
          ],
          "description": "Type of the media.",
          "enum": [
            "MEDIA_TYPE_UNSPECIFIED",
            "MEDIA_TYPE_IMAGE"
          ]
        }
      },
      "description": "Represents media information.",
      "id": "GoogleCloudChannelV1Media",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "List of service accounts which have subscriber access to the topic.",
          "type": "array"
        },
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        }
      },
      "description": "Response Message for ListSubscribers."
    },
    "GoogleCloudChannelV1alpha1ReportJob": {
      "id": "GoogleCloudChannelV1alpha1ReportJob",
[...]
