{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/identity/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.policies": {
          "description": "See and edit policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso": {
          "description": "See and edit all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly": {
          "description": "See all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.policies.readonly": {
          "description": "See policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "Cloud Identity",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "schemas": {
    "ModifyMembershipRolesResponse": {
      "type": "object",
      "id": "ModifyMembershipRolesResponse",
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      }
    },
    "UpdateMembershipRolesParams": {
      "type": "object",
      "id": "UpdateMembershipRolesParams",
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "fieldMask": {
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "membershipRole": {
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRole` can currently be updated.",
          "$ref": "MembershipRole"
        }
      }
    },
    "InboundSamlSsoProfile": {
      "id": "InboundSamlSsoProfile",
      "description": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider.",
      "properties": {
        "idpConfig": {
          "description": "SAML identity provider configuration.",
          "$ref": "SamlIdpConfig"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
          "type": "string"
        },
        "spConfig": {
          "$ref": "SamlSpConfig",
          "description": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider."
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name of the SAML SSO profile.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AddIdpCredentialOperationMetadata": {
      "id": "AddIdpCredentialOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse",
      "description": "Response message that is returned in ListClientStates.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "clientStates": {
          "type": "array",
          "description": "Client states meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
          }
        }
      }
    },
    "MemberRestriction": {
      "type": "object",
      "id": "MemberRestriction",
      "description": "The definition of MemberRestriction",
      "properties": {
        "query": {
          "type": "string",
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
        },
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest",
      "description": "Request message for blocking account on device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "description": "Metadata for CreateDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "description": "The response message for MembershipsService.ListMemberships.",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "description": "The `Membership`s under the specified `parent`.",
          "type": "array"
        }
      }
    },
    "SendUserInvitationRequest": {
      "type": "object",
      "id": "SendUserInvitationRequest",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "properties": {}
    },
    "GetMembershipGraphResponse": {
      "id": "GetMembershipGraphResponse",
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "properties": {
        "adjacencyList": {
          "type": "array",
          "description": "The membership graph's path information represented as an adjacency list.",
          "items": {
            "$ref": "MembershipAdjacencyList"
          }
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource."
        }
      },
      "type": "object"
    },
    "MemberRelation": {
      "id": "MemberRelation",
      "description": "Message representing a transitive membership of a group.",
      "properties": {
        "member": {
          "description": "Resource name for this member.",
          "type": "string"
        },
        "relationType": {
          "description": "The relation between the group and the transitive member.",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "type": "string"
        },
        "preferredMemberKey": {
          "type": "array",
          "items": {
            "$ref": "EntityKey"
          },
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "roles": {
          "type": "array",
          "description": "The membership role details (i.e name of role and expiry time).",
          "items": {
            "$ref": "TransitiveMembershipRole"
          }
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "properties": {
        "device": {
          "$ref": "GoogleAppsCloudidentityDevicesV1Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      },
      "type": "object"
    },
    "SecuritySettings": {
      "type": "object",
      "id": "SecuritySettings",
      "description": "The definition of security settings.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "type": "string"
        },
        "memberRestriction": {
          "$ref": "MemberRestriction",
          "description": "The Member Restriction value"
        }
      }
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query.",
      "properties": {
        "customer": {
          "description": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
          "readOnly": true
        },
        "setting": {
          "$ref": "Setting",
          "description": "Required. The Setting configured by this Policy."
        },
        "type": {
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "SYSTEM",
            "ADMIN"
          ],
          "description": "Output only. The type of the policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy type.",
            "Policy type denoting the system-configured policies.",
            "Policy type denoting the admin-configurable policies."
          ],
          "readOnly": true
        },
        "policyQuery": {
          "description": "Required. The PolicyQuery the Setting applies to.",
          "$ref": "PolicyQuery"
        }
      }
    },
    "SearchTransitiveGroupsResponse": {
      "type": "object",
      "id": "SearchTransitiveGroupsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        },
        "memberships": {
          "description": "List of transitive groups satisfying the query.",
          "items": {
            "$ref": "GroupRelation"
          },
          "type": "array"
        }
      }
    },
    "CheckTransitiveMembershipResponse": {
      "type": "object",
      "id": "CheckTransitiveMembershipResponse",
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      }
    },
    "UpdateInboundOidcSsoProfileOperationMetadata": {
      "id": "UpdateInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "properties": {
        "firstSyncTime": {
          "type": "string",
          "description": "Output only. Most recent time when user registered with this service.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "When the user first signed in to the device",
          "format": "google-datetime"
        },
        "compromisedState": {
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "type": "string",
          "description": "Compromised State of the DeviceUser object",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ]
        },
        "passwordState": {
          "description": "Password state of the DeviceUser object",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "type": "string"
        },
        "managementState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "description": "Output only. Management state of the user on the device."
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "lastSyncTime": {
          "description": "Output only. Last time when user synced with policies.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Output only. User agent on the device for this specific user",
          "readOnly": true
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest",
      "description": "Request message for cancelling an unfinished user account wipe.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "AddIdpCredentialRequest": {
      "type": "object",
      "id": "AddIdpCredentialRequest",
      "description": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials.",
      "properties": {
        "pemData": {
          "type": "string",
          "description": "PEM encoded x509 certificate containing the public key for verifying IdP signatures."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse",
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object"
    },
    "CreateMembershipMetadata": {
      "id": "CreateMembershipMetadata",
      "description": "Metadata for CreateMembership LRO.",
      "properties": {},
      "type": "object"
    },
    "SearchGroupsResponse": {
      "type": "object",
      "id": "SearchGroupsResponse",
      "description": "The response message for GroupsService.SearchGroups.",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The `Group` resources that match the search query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        }
      }
    },
    "InboundOidcSsoProfile": {
      "type": "object",
      "id": "InboundOidcSsoProfile",
      "description": "An [OIDC](https://openid.net/developers/how-connect-works/) federation between a Google enterprise customer and an OIDC identity provider.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Immutable. The customer. For example: `customers/C0123abc`."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the OIDC SSO profile."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile."
        },
        "rpConfig": {
          "description": "OIDC relying party (RP) configuration for this OIDC SSO profile. These are the RP details provided by Google that should be configured on the corresponding identity provider.",
          "$ref": "OidcRpConfig"
        },
        "idpConfig": {
          "description": "OIDC identity provider configuration.",
          "$ref": "OidcIdpConfig"
        }
      }
    },
    "UpdateMembershipMetadata": {
      "id": "UpdateMembershipMetadata",
      "description": "Metadata for UpdateMembership LRO.",
      "properties": {},
      "type": "object"
    },
    "SamlIdpConfig": {
      "id": "SamlIdpConfig",
      "description": "SAML IDP (identity provider) configuration.",
      "properties": {
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        },
        "singleSignOnServiceUri": {
          "type": "string",
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding."
        },
        "entityId": {
          "description": "Required. The SAML **Entity ID** of the identity provider.",
          "type": "string"
        },
        "logoutRedirectUri": {
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "description": "Metadata for WipeDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "RestrictionEvaluations": {
      "type": "object",
      "id": "RestrictionEvaluations",
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "properties": {
        "memberRestrictionEvaluation": {
          "$ref": "MembershipRoleRestrictionEvaluation",
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "description": "Metadata for DeleteDeviceUser LRO.",
      "properties": {}
    },
    "DsaPublicKeyInfo": {
      "id": "DsaPublicKeyInfo",
      "description": "Information of a DSA public key.",
      "properties": {
        "keySize": {
          "type": "integer",
          "description": "Key size in bits (size of parameter P).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "properties": {
        "basebandVersion": {
          "readOnly": true,
          "description": "Output only. Baseband version of the device.",
          "type": "string"
        },
        "compromisedState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "description": "Output only. Represents whether the Device is compromised."
        },
        "deviceType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "description": "Output only. Type of device."
        },
        "imei": {
          "readOnly": true,
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "type": "string"
        },
        "ownerType": {
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual",
          "type": "string",
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "readOnly": true
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "readOnly": true,
          "type": "string"
        },
        "otherAccounts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
        },
        "securityPatchTime": {
          "type": "string",
          "description": "Output only. OS security patch update time on device.",
          "format": "google-datetime",
          "readOnly": true
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bootloaderVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "androidSpecificAttributes": {
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "readOnly": true,
          "description": "Output only. Attributes specific to Android devices."
        },
        "model": {
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Unique identifier for the device."
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "readOnly": true,
          "type": "string"
        },
        "endpointVerificationSpecificAttributes": {
          "readOnly": true,
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes"
        },
        "buildNumber": {
          "type": "string",
          "description": "Output only. Build number of the device.",
          "readOnly": true
        },
        "enabledDeveloperOptions": {
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device.",
          "readOnly": true
        },
        "meid": {
          "readOnly": true,
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime"
        },
        "hostname": {
          "description": "Host name of the device.",
          "type": "string"
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true,
          "type": "string"
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "format": "google-datetime",
          "type": "string"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "enabledUsbDebugging": {
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device.",
          "readOnly": true
        },
        "kernelVersion": {
          "description": "Output only. Kernel version of the device.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices).",
          "readOnly": true,
          "type": "string"
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "readOnly": true,
          "type": "string"
        },
        "unifiedDeviceId": {
          "type": "string",
          "description": "Output only. Unified device id of the device.",
          "readOnly": true
        },
        "managementState": {
          "readOnly": true,
          "description": "Output only. Management state of the device",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "type": "string"
        },
        "encryptionState": {
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "description": "Output only. Device encryption state.",
          "type": "string",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest",
      "description": "Request message for wiping all data on the device.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        },
        "removeResetLock": {
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device.",
          "type": "boolean"
        }
      }
    },
    "DeleteInboundSsoAssignmentOperationMetadata": {
      "id": "DeleteInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment.",
      "properties": {},
      "type": "object"
    },
    "UpdateInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "id": "UpdateInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.UpdateInboundSamlSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      }
    },
    "ListInboundSamlSsoProfilesResponse": {
      "id": "ListInboundSamlSsoProfilesResponse",
      "description": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method.",
      "properties": {
        "inboundSamlSsoProfiles": {
          "description": "List of InboundSamlSsoProfiles.",
          "items": {
            "$ref": "InboundSamlSsoProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "description": "Metadata for UpdateClientState LRO.",
      "properties": {}
    },
    "UpdateInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "id": "UpdateInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "description": "Metadata for BlockDeviceUser LRO.",
      "properties": {}
    },
    "UpdateGroupMetadata": {
      "type": "object",
      "id": "UpdateGroupMetadata",
      "description": "Metadata for UpdateGroup LRO.",
      "properties": {}
    },
    "LookupMembershipNameResponse": {
      "id": "LookupMembershipNameResponse",
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group}/memberships/{membership}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device.",
      "properties": {
        "additionalSignals": {
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "browserAttributes": {
          "type": "array",
          "description": "Details of browser profiles reported by Endpoint Verification.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1BrowserAttributes"
          }
        },
        "certificateAttributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CertificateAttributes"
          },
          "description": "Details of certificates."
        }
      }
    },
    "SearchDirectGroupsResponse": {
      "id": "SearchDirectGroupsResponse",
      "description": "The response message for MembershipsService.SearchDirectGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "MembershipRelation"
          },
          "description": "List of direct groups satisfying the query."
        }
      },
      "type": "object"
    },
    "GroupRelation": {
      "type": "object",
      "id": "GroupRelation",
      "description": "Message representing a transitive group of a user or a group.",
      "properties": {
        "roles": {
          "type": "array",
          "description": "Membership roles of the member for the group.",
          "items": {
            "$ref": "TransitiveMembershipRole"
          }
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "group": {
          "description": "Resource name for this group.",
          "type": "string"
        },
        "labels": {
          "description": "Labels for Group resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Display name for this group.",
          "type": "string"
        },
        "relationType": {
          "description": "The relation between the member and the transitive group.",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse",
      "description": "Response message for approving the device to access user data.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      }
    },
    "SearchTransitiveMembershipsResponse": {
      "type": "object",
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships.",
      "properties": {
        "memberships": {
          "items": {
            "$ref": "MemberRelation"
          },
          "description": "List of transitive members satisfying the query.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "lastProfileSyncTime": {
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime",
          "type": "string"
        },
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
        },
        "chromeProfileId": {
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CertificateAttributes": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CertificateAttributes",
      "description": "Stores information about a certificate.",
      "properties": {
        "validityExpirationTime": {
          "type": "string",
          "description": "Certificate not valid at or after this timestamp.",
          "format": "google-datetime"
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The encoded certificate fingerprint."
        },
        "validationState": {
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "description": "Output only. Validation state of this certificate.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "readOnly": true
        },
        "validityStartTime": {
          "description": "Certificate not valid before this timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the certificate, Example: \"123456789\"."
        },
        "certificateTemplate": {
          "description": "The X.509 extension for CertificateTemplate.",
          "$ref": "GoogleAppsCloudidentityDevicesV1CertificateTemplate"
        },
        "issuer": {
          "description": "The name of the issuer of this certificate.",
          "type": "string"
        },
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata",
      "description": "Metadata for ListEndpointApps LRO.",
      "properties": {},
      "type": "object"
    },
    "DeleteGroupMetadata": {
      "type": "object",
      "id": "DeleteGroupMetadata",
      "description": "Metadata for DeleteGroup LRO.",
      "properties": {}
    },
    "MembershipRole": {
      "id": "MembershipRole",
      "description": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`.",
      "properties": {
        "name": {
          "description": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`.",
          "type": "string"
        },
        "expiryDetail": {
          "$ref": "ExpiryDetail",
          "description": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value."
        },
        "restrictionEvaluations": {
          "description": "Evaluations of restrictions applied to parent group on this membership.",
          "$ref": "RestrictionEvaluations"
        }
      },
      "type": "object"
    },
    "DeleteMembershipMetadata": {
      "id": "DeleteMembershipMetadata",
      "description": "Metadata for DeleteMembership LRO.",
      "properties": {},
      "type": "object"
    },
    "ListInboundOidcSsoProfilesResponse": {
      "id": "ListInboundOidcSsoProfilesResponse",
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method.",
      "properties": {
        "inboundOidcSsoProfiles": {
          "items": {
            "$ref": "InboundOidcSsoProfile"
          },
          "description": "List of InboundOidcSsoProfiles.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest",
      "description": "Request message for cancelling an unfinished device wipe.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "description": "Response message for cancelling an unfinished user account wipe.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      }
    },
    "MembershipRelation": {
      "id": "MembershipRelation",
      "description": "Message containing membership relation.",
      "properties": {
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "membership": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`."
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a `Group`."
        },
        "group": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "groupKey": {
          "description": "The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        }
      },
      "type": "object"
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "description": "Response message for ListGroups operation.",
      "properties": {
        "groups": {
          "type": "array",
          "description": "Groups returned in response to list request. The results are not sorted.",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntityKey": {
      "type": "object",
      "id": "EntityKey",
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. Email addresses need to adhere to [name guidelines for users and groups](https://support.google.com/a/answer/9193374). For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
        },
        "namespace": {
          "type": "string",
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "OidcIdpConfig": {
      "type": "object",
      "id": "OidcIdpConfig",
      "description": "OIDC IDP (identity provider) configuration.",
      "properties": {
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        },
        "issuerUri": {
          "description": "Required. The Issuer identifier for the IdP. Must be a URL. The discovery URL will be derived from this as described in Section 4 of [the OIDC specification](https://openid.net/specs/openid-connect-discovery-1_0.html).",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BrowserInfo": {
      "id": "GoogleAppsCloudidentityDevicesV1BrowserInfo",
      "description": "Browser-specific fields reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "isChromeCleanupEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled)."
        },
        "isFileDownloadAnalysisEnabled": {
          "description": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "safeBrowsingProtectionLevel": {
          "enumDescriptions": [
            "Browser protection level is not specified.",
            "No protection against dangerous websites, downloads, and extensions.",
            "Standard protection against websites, downloads, and extensions that are known to be dangerous.",
            "Faster, proactive protection against dangerous websites, downloads, and extensions."
          ],
          "type": "string",
          "description": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel).",
          "enum": [
            "SAFE_BROWSING_LEVEL_UNSPECIFIED",
            "DISABLED",
            "STANDARD",
            "ENHANCED"
          ]
        },
        "browserManagementState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Management state is not specified.",
            "Browser/Profile is not managed by any customer.",
            "Browser/Profile is managed, but by some other customer.",
            "Profile is managed by customer.",
            "Browser is managed by customer."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNMANAGED",
            "MANAGED_BY_OTHER_DOMAIN",
            "PROFILE_MANAGED",
            "BROWSER_MANAGED"
          ],
          "description": "Output only. Browser's management state."
        },
        "isRealtimeUrlCheckEnabled": {
          "description": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isFileUploadAnalysisEnabled": {
          "type": "boolean",
          "description": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
        },
        "isSiteIsolationEnabled": {
          "description": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins).",
          "type": "boolean"
        },
        "isThirdPartyBlockingEnabled": {
          "type": "boolean",
          "description": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled)."
        },
        "isBulkDataEntryAnalysisEnabled": {
          "description": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "passwordProtectionWarningTrigger": {
          "description": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger).",
          "enum": [
            "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED",
            "PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ],
          "enumDescriptions": [
            "Password protection is not specified.",
            "Password reuse is never detected.",
            "Warning is shown when the user reuses their protected password on a non-allowed site.",
            "Warning is shown when the user reuses their protected password on a phishing site."
          ],
          "type": "string"
        },
        "isBuiltInDnsClientEnabled": {
          "description": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled).",
          "type": "boolean"
        },
        "browserVersion": {
          "type": "string",
          "description": "Version of the request initiating browser. E.g. `91.0.4442.4`."
        },
        "isChromeRemoteDesktopAppBlocked": {
          "type": "boolean",
          "description": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist)."
        },
        "isSecurityEventAnalysisEnabled": {
          "type": "boolean",
          "description": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
        }
      },
      "type": "object"
    },
    "CreateInboundSamlSsoProfileOperationMetadata": {
      "id": "CreateInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest",
      "description": "Request message for approving the device to access user data.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      }
    },
    "SignInBehavior": {
      "id": "SignInBehavior",
      "description": "Controls sign-in behavior.",
      "properties": {
        "redirectCondition": {
          "description": "When to redirect sign-ins to the IdP.",
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ],
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "InboundSsoAssignment": {
      "type": "object",
      "id": "InboundSsoAssignment",
      "description": "Targets with \"set\" SSO assignments and their respective assignments.",
      "properties": {
        "oidcSsoInfo": {
          "description": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`.",
          "$ref": "OidcSsoInfo"
        },
        "signInBehavior": {
          "$ref": "SignInBehavior",
          "description": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration."
        },
        "samlSsoInfo": {
          "description": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`.",
          "$ref": "SamlSsoInfo"
        },
        "customer": {
          "type": "string",
          "description": "Immutable. The customer. For example: `customers/C0123abc`."
        },
        "ssoMode": {
          "description": "Inbound SSO behavior.",
          "enum": [
            "SSO_MODE_UNSPECIFIED",
            "SSO_OFF",
            "SAML_SSO",
            "OIDC_SSO",
            "DOMAIN_WIDE_SAML_IF_ENABLED"
          ],
          "enumDescriptions": [
            "Not allowed.",
            "Disable SSO for the targeted users.",
            "Use an external SAML Identity Provider for SSO for the targeted users.",
            "Use an external OIDC Identity Provider for SSO for the targeted users.",
            "Use the domain-wide SAML Identity Provider for the targeted users if one is configured; otherwise, this is equivalent to `SSO_OFF`. Note that this will also be equivalent to `SSO_OFF` if/when support for domain-wide SAML is removed. Google may disallow this mode at that point and existing assignments with this mode may be automatically changed to `SSO_OFF`."
          ],
          "type": "string"
        },
        "targetGroup": {
          "description": "Immutable. Must be of the form `groups/{group}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment."
        },
        "rank": {
          "description": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set.",
          "format": "int32",
          "type": "integer"
        },
        "targetOrgUnit": {
          "description": "Immutable. Must be of the form `orgUnits/{org_unit}`.",
          "type": "string"
        }
      }
    },
    "Group": {
      "id": "Group",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "properties": {
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Required. The `EntityKey` of the `Group`."
        },
        "dynamicGroupMetadata": {
          "$ref": "DynamicGroupMetadata",
          "description": "Optional. Dynamic group metadata like queries and status."
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters.",
          "type": "string"
        },
        "additionalGroupKeys": {
          "type": "array",
          "description": "Output only. Additional group keys associated with the Group.",
          "readOnly": true,
          "items": {
            "$ref": "EntityKey"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the `Group`."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the `Group` was last updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "parent": {
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the `Group` was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteInboundOidcSsoProfileOperationMetadata": {
      "id": "DeleteInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.DeleteInboundOidcSsoProfile.",
      "properties": {},
      "type": "object"
    },
    "DynamicGroupStatus": {
      "type": "object",
      "id": "DynamicGroupStatus",
      "description": "The current status of a dynamic group along with timestamp.",
      "properties": {
        "statusTime": {
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "description": "Status of the dynamic group.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ]
        }
      }
    },
    "CreateGroupMetadata": {
      "type": "object",
      "id": "CreateGroupMetadata",
      "description": "Metadata for CreateGroup LRO.",
      "properties": {}
    },
    "CreateInboundOidcSsoProfileOperationMetadata": {
      "type": "object",
      "id": "CreateInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.CreateInboundOidcSsoProfile.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      }
    },
    "ListUserInvitationsResponse": {
      "id": "ListUserInvitationsResponse",
      "description": "Response message for UserInvitation listing request.",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call.",
          "type": "string"
        },
        "userInvitations": {
          "type": "array",
          "description": "The list of UserInvitation resources.",
          "items": {
            "$ref": "UserInvitation"
          }
        }
      },
      "type": "object"
    },
    "DeleteInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "id": "DeleteInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "description": "Metadata for DeleteDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "ListIdpCredentialsResponse": {
      "id": "ListIdpCredentialsResponse",
      "description": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "idpCredentials": {
          "type": "array",
          "description": "The IdpCredentials from the specified InboundSamlSsoProfile.",
          "items": {
            "$ref": "IdpCredential"
          }
        }
      },
      "type": "object"
    },
    "LookupGroupNameResponse": {
      "id": "LookupGroupNameResponse",
      "description": "The response message for GroupsService.LookupGroupName.",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "customer": {
          "type": "string",
          "description": "The customer resource name that may be passed back to other Devices API methods such as List, Get, etc."
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "Membership": {
      "id": "Membership",
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group}/memberships/{membership}`.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the `Membership` was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the `Membership` was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the membership.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "CBCM_BROWSER",
            "OTHER"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents a CBCM-managed Chrome Browser type.",
            "Represents other type."
          ],
          "type": "string"
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member."
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`."
        },
        "deliverySetting": {
          "readOnly": true,
          "enum": [
            "DELIVERY_SETTING_UNSPECIFIED",
            "ALL_MAIL",
            "DIGEST",
            "DAILY",
            "NONE",
            "DISABLED"
          ],
          "description": "Output only. Delivery setting associated with the membership.",
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents each mail should be delivered",
            "Represents 1 email for every 25 messages.",
            "Represents daily summary of messages.",
            "Represents no delivery.",
            "Represents disabled state."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO.",
      "properties": {}
    },
    "RsaPublicKeyInfo": {
      "type": "object",
      "id": "RsaPublicKeyInfo",
      "description": "Information of a RSA public key.",
      "properties": {
        "keySize": {
          "description": "Key size in bits (size of the modulus).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ListDevicesResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ListDevicesResponse",
      "description": "Response message that is returned from the ListDevices method.",
      "properties": {
        "devices": {
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "DynamicGroupMetadata": {
      "type": "object",
      "id": "DynamicGroupMetadata",
      "description": "Dynamic group metadata like queries and status.",
      "properties": {
        "queries": {
          "items": {
            "$ref": "DynamicGroupQuery"
          },
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups.",
          "type": "array"
        },
        "status": {
          "$ref": "DynamicGroupStatus",
          "readOnly": true,
          "description": "Output only. Status of the dynamic group."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CertificateTemplate": {
      "id": "GoogleAppsCloudidentityDevicesV1CertificateTemplate",
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "properties": {
        "id": {
          "type": "string",
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
        },
        "minorVersion": {
          "description": "The minor version of the template. Example: 12.",
          "format": "int32",
          "type": "integer"
        },
        "majorVersion": {
          "description": "The Major version of the template. Example: 100.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "ownerType": {
          "readOnly": true,
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "description": "Output only. The owner of the ClientState",
          "type": "string",
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "readOnly": true
        },
        "keyValuePairs": {
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the client state data was created.",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "Output only. The time the client state data was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "healthScore": {
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies."
        },
        "complianceState": {
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "type": "string",
          "description": "The compliance state of the resource as specified by the API client.",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ]
        },
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        },
        "managed": {
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "description": "The management state of the resource as specified by the API client.",
          "type": "string",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ]
        },
        "assetTags": {
          "items": {
            "type": "string"
          },
          "description": "The caller can specify asset tags for this resource",
          "type": "array"
        }
      }
    },
    "ListPoliciesResponse": {
      "id": "ListPoliciesResponse",
      "description": "The response message for PoliciesService.ListPolicies.",
      "properties": {
        "policies": {
          "type": "array",
          "description": "The results",
          "items": {
            "$ref": "Policy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "IdpCredential": {
      "id": "IdpCredential",
      "description": "Credential for verifying signatures produced by the Identity Provider.",
      "properties": {
        "rsaKeyInfo": {
          "description": "Output only. Information of a RSA public key.",
          "readOnly": true,
          "$ref": "RsaPublicKeyInfo"
        },
        "dsaKeyInfo": {
          "readOnly": true,
          "description": "Output only. Information of a DSA public key.",
          "$ref": "DsaPublicKeyInfo"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the credential.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the `IdpCredential` was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata",
      "description": "Metadata for UpdateDevice LRO.",
      "properties": {}
    },
    "ListInboundSsoAssignmentsResponse": {
      "type": "object",
      "id": "ListInboundSsoAssignmentsResponse",
      "description": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method.",
      "properties": {
        "inboundSsoAssignments": {
          "items": {
            "$ref": "InboundSsoAssignment"
          },
          "description": "The assignments.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "UserInvitation": {
      "type": "object",
      "id": "UserInvitation",
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
        },
        "updateTime": {
          "type": "string",
          "description": "Time when the `UserInvitation` was last updated.",
          "format": "google-datetime"
        },
        "state": {
          "description": "State of the `UserInvitation`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "type": "string"
        },
        "mailsSentCount": {
          "type": "string",
          "description": "Number of invitation emails sent to the user.",
          "format": "int64"
        }
      }
    },
    "GetMembershipGraphMetadata": {
      "id": "GetMembershipGraphMetadata",
      "description": "Metadata of GetMembershipGraphResponse LRO. This is currently empty to permit future extensibility.",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "description": "Metadata for CancelWipeDevice LRO.",
      "properties": {}
    },
    "OidcSsoInfo": {
      "type": "object",
      "id": "OidcSsoInfo",
      "description": "Details that are applicable when `sso_mode` is set to `OIDC_SSO`.",
      "properties": {
        "inboundOidcSsoProfile": {
          "type": "string",
          "description": "Required. Name of the `InboundOidcSsoProfile` to use. Must be of the form `inboundOidcSsoProfiles/{inbound_oidc_sso_profile}`. "
        }
      }
    },
    "MembershipRoleRestrictionEvaluation": {
      "type": "object",
      "id": "MembershipRoleRestrictionEvaluation",
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ],
          "description": "Output only. The current state of the restriction",
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ],
          "readOnly": true
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "description": "Metadata for WipeDeviceUser LRO.",
      "properties": {},
      "type": "object"
    },
    "PolicyQuery": {
      "type": "object",
      "id": "PolicyQuery",
      "description": "PolicyQuery",
      "properties": {
        "sortOrder": {
          "type": "number",
          "description": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set).",
          "format": "double",
          "readOnly": true
        },
        "orgUnit": {
[...]
