{
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "cloudcontrolspartner",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "Remediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object",
      "properties": {
        "compliantValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "remediationType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ]
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "Instructions"
        }
      },
      "id": "Remediation"
    },
    "EkmConnection": {
      "description": "Details about the EKM connection",
      "id": "EkmConnection",
      "type": "object",
      "properties": {
        "connectionName": {
          "type": "string",
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}"
        },
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connection state",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ]
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ListWorkloadsResponse": {
      "description": "Response message for list customer workloads requests.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "Workload"
          },
          "description": "List of customer workloads"
        }
      },
      "id": "ListWorkloadsResponse"
    },
    "Instructions": {
      "id": "Instructions",
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "Gcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "Console"
        }
      },
      "description": "Instructions to remediate violation"
    },
    "Gcloud": {
      "type": "object",
      "properties": {
        "gcloudCommands": {
          "type": "array",
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array"
        },
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Gcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli"
    },
    "Sku": {
      "id": "Sku",
      "type": "object",
      "properties": {
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers."
    },
    "Customer": {
      "type": "object",
      "properties": {
        "customerOnboardingState": {
          "readOnly": true,
          "description": "Output only. Container for customer onboarding steps",
          "$ref": "CustomerOnboardingState"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "readOnly": true
        },
        "organizationDomain": {
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for the customer"
        }
      },
      "id": "Customer",
      "description": "Contains metadata around a Cloud Controls Partner Customer"
    },
    "WorkloadOnboardingStep": {
      "type": "object",
      "properties": {
        "completionTime": {
          "description": "The completion time of the onboarding step.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ]
        },
        "step": {
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "type": "string",
          "description": "The onboarding step.",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ]
        },
        "startTime": {
          "description": "The starting time of the onboarding step.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "WorkloadOnboardingStep",
      "description": "Container for workload onboarding information."
    },
    "EkmConnections": {
      "id": "EkmConnections",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
        },
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "items": {
            "$ref": "EkmConnection"
          },
          "type": "array"
        }
      },
      "description": "The EKM connections associated with a workload"
    },
    "Console": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "id": "Console",
      "type": "object",
      "properties": {
        "consoleUris": {
          "type": "array",
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListViolationsResponse": {
      "description": "Response message for list customer violation requests",
      "type": "object",
      "properties": {
        "violations": {
          "type": "array",
          "description": "List of violation",
          "items": {
            "$ref": "Violation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListViolationsResponse"
    },
    "Workload": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Indicates whether a workload is fully onboarded."
        },
        "workloadOnboardingState": {
          "description": "Container for workload onboarding steps.",
          "$ref": "WorkloadOnboardingState"
        },
        "partner": {
          "description": "Partner associated with this workload.",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "type": "string"
        },
        "folder": {
          "readOnly": true,
          "description": "Output only. The name of container folder of the assured workload",
          "type": "string"
        },
        "folderId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Folder id this workload is associated with",
          "readOnly": true
        }
      },
      "id": "Workload",
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "PartnerPermissions": {
      "type": "object",
      "properties": {
        "partnerPermissions": {
          "type": "array",
          "description": "The partner permissions granted for the workload",
          "items": {
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ]
          }
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        }
      },
      "id": "PartnerPermissions",
      "description": "The permissions granted to the partner for a workload"
    },
    "Partner": {
      "description": "Message describing Partner resource",
      "id": "Partner",
      "type": "object",
      "properties": {
        "operatedCloudRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones"
        },
        "createTime": {
          "description": "Output only. Time the resource was created",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time the resource was updated",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "Sku"
          },
          "description": "List of SKUs the partner is offering"
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "partnerProjectId": {
          "type": "string",
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners."
        },
        "ekmSolutions": {
          "items": {
            "$ref": "EkmMetadata"
          },
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "type": "array"
        }
      }
    },
    "WorkloadOnboardingState": {
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          },
          "description": "List of workload onboarding steps."
        }
      },
      "id": "WorkloadOnboardingState",
      "description": "Container for workload onboarding steps."
    },
    "AccessReason": {
      "description": "Reason for the access.",
      "id": "AccessReason",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      }
    },
    "EkmMetadata": {
      "type": "object",
      "properties": {
        "ekmSolution": {
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "description": "The Cloud EKM partner.",
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "type": "string"
        },
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        }
      },
      "id": "EkmMetadata",
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads."
    },
    "ConnectionError": {
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "type": "object",
      "properties": {
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        }
      },
      "id": "ConnectionError"
    },
    "Violation": {
      "description": "Details of resource Violation",
      "id": "Violation",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "category": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "folderId": {
          "description": "The folder_id of the violation",
          "type": "string",
          "format": "int64"
        },
        "remediation": {
          "readOnly": true,
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation"
        },
        "resolveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ]
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`"
        },
        "beginTime": {
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        }
      }
    },
    "CustomerOnboardingState": {
      "id": "CustomerOnboardingState",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "description": "List of customer onboarding steps",
          "type": "array"
        }
      },
      "description": "Container for customer onboarding steps"
    },
    "CustomerOnboardingStep": {
      "description": "Container for customer onboarding information",
      "type": "object",
      "properties": {
        "step": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "description": "The onboarding step"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The starting time of the onboarding step"
        },
        "completionTime": {
          "description": "The completion time of the onboarding step",
          "type": "string",
          "format": "google-datetime"
        },
        "completionState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the step",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ]
        }
      },
      "id": "CustomerOnboardingStep"
    },
    "ListCustomersResponse": {
      "description": "Response message for list customer Customers requests",
      "type": "object",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Customer"
          },
          "description": "List of customers",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListCustomersResponse"
    },
    "AccessApprovalRequest": {
      "id": "AccessApprovalRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        },
        "requestTime": {
          "description": "The time at which approval was requested.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedExpirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time."
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        }
      },
      "description": "Details about the Access request."
    },
    "ListAccessApprovalRequestsResponse": {
      "description": "Response message for list access requests.",
      "id": "ListAccessApprovalRequestsResponse",
      "type": "object",
      "properties": {
        "accessApprovalRequests": {
          "description": "List of access approval requests",
          "items": {
            "$ref": "AccessApprovalRequest"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "id": "cloudcontrolspartner:v1",
  "kind": "discovery#restDescription",
  "title": "Cloud Controls Partner API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getPartner": {
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "description": "Get details of a Partner.",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/partner",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Partner"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "customerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id."
                    }
                  },
                  "response": {
                    "$ref": "Customer"
                  },
                  "httpMethod": "POST",
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "description": "Creates a new customer.",
                  "path": "v1/{+parent}/customers",
                  "request": {
                    "$ref": "Customer"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Customer"
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Customer"
                  },
                  "description": "Update details of a single customer",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "path": "v1/{+parent}/customers",
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "path": "v1/{+name}",
                  "description": "Delete details of a single customer"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single customer",
                  "path": "v1/{+name}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.get"
                }
              },
              "resources": {
                "workloads": {
                  "methods": {
                    "getPartnerPermissions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`"
                        }
                      },
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "description": "Gets the partner permissions granted for a workload",
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Workload"
                      },
                      "description": "Gets details of a single workload",
                      "path": "v1/{+name}",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "path": "v1/{+parent}/workloads",
                      "description": "Lists customer workloads for a given customer org id",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "getEkmConnections": {
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "description": "Gets the EKM connections associated with a workload",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "resources": {
                    "accessApprovalRequests": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filtering results."
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned."
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results."
                            }
                          },
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "parameterOrder": [
                            "parent"
                          ],
                          "deprecated": true,
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "path": "v1/{+parent}/accessApprovalRequests",
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder."
                        }
                      },
                      "deprecated": true
                    },
                    "violations": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Violation"
                          },
                          "httpMethod": "GET",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "description": "Gets details of a single Violation.",
                          "path": "v1/{+name}",
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "path": "v1/{+parent}/violations",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "interval.startTime": {
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime",
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filtering results"
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page."
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned."
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Hint for how to order the results"
                            },
                            "interval.endTime": {
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "format": "google-datetime",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "revision": "20260422",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "canonicalName": "Cloud Controls Partner Service",
  "version": "v1",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/"
}