{
  "version_module": true,
  "version": "v1beta",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "description": "Response message for ListBillingAccountSkus.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "type": "object",
      "properties": {
        "billingAccountSkus": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "type": "array",
          "description": "The returned billing account SKUs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "type": "object",
      "properties": {
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        }
      },
      "description": "Encapsulates a rate price tier."
    },
    "SuggestedQuery": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "The natural language query."
        }
      },
      "id": "SuggestedQuery",
      "description": "A suggested follow-up query for the user."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
    },
    "SuggestedChart": {
      "id": "SuggestedChart",
      "type": "object",
      "properties": {
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        },
        "xAxisLabel": {
          "type": "string",
          "description": "The label of the x-axis."
        },
        "chartTitle": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "yAxisField": {
          "type": "string",
          "description": "The field used for the y-axis."
        },
        "chartType": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "description": "The type of the chart.",
          "type": "string",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ]
        },
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        },
        "xAxisField": {
          "type": "string",
          "description": "The field used for the x-axis."
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        },
        "type": {
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "type": "array",
          "description": "All product categories that the billing account SKU belong to."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "type": "object",
      "properties": {
        "billingAccountPrices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "type": "array",
          "description": "The returned billing account prices."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListBillingAccountPrices."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "type": "object",
      "properties": {
        "interval": {
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        },
        "level": {
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ]
        }
      },
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price."
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "type": "object",
      "properties": {
        "skuGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "The returned publicly listed SKU groups."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "description": "Response message for ListSkuGroups."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "description": "Encapsulates a product category."
    },
    "AgenticQueryInfo": {
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "id": "AgenticQueryInfo",
      "type": "object",
      "properties": {
        "view": {
          "description": "The view queried.",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "The order-by clause applied to the query."
        },
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "columns": {
          "type": "string",
          "description": "The columns queried."
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        },
        "groupBy": {
          "type": "string",
          "description": "The group-by clause applied to the query."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy."
    },
    "BillingDataResource": {
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "id": "BillingDataResource",
      "type": "object",
      "properties": {
        "billingAccount": {
          "type": "string",
          "description": "Optional. If not provided the billing account currently associated with the resource will be used."
        },
        "resource": {
          "type": "string",
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GenerateInsightsResponse": {
      "description": "Response for GenerateInsights.",
      "id": "GenerateInsightsResponse",
      "type": "object",
      "properties": {
        "thoughtChunk": {
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "readOnly": true,
          "type": "string"
        },
        "finalResult": {
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "$ref": "FinalResult",
          "readOnly": true
        },
        "summaryChunk": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect."
        },
        "rejection": {
          "readOnly": true,
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "$ref": "Rejection"
        }
      }
    },
    "Row": {
      "description": "Represents a row in the query result.",
      "id": "Row",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "Values for a row in the column order."
        }
      }
    },
    "Array": {
      "description": "An ordered collection of elements of arbitrary count.",
      "type": "object",
      "properties": {
        "element": {
          "description": "The elements of the array.",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Array"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "description": "Encapsulates the latest price for a billing account SKU.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "valueType": {
          "type": "string",
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"]."
        },
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "type": "object",
      "properties": {
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "defaultPrice": {
          "description": "Default price which is the current list price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
        },
        "fixedPrice": {
          "description": "Fixed price applicable during the terms of a contract agreement.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        },
        "fixedDiscount": {
          "description": "Discount off the list price, anchored to the list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "type": "object",
      "properties": {
        "billingAccountServices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "description": "The returned billing account services."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for ListBillingAccountServices."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "type": "object",
      "properties": {
        "billingAccountSkuGroupSkus": {
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "BillingData": {
      "description": "Encapsulates billing data.",
      "id": "BillingData",
      "type": "object",
      "properties": {
        "columnInfo": {
          "description": "Information about columns.",
          "type": "array",
          "items": {
            "$ref": "ColumnInfo"
          }
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "Rows."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "type": "object",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        }
      },
      "description": "Encapsulates a rate price tier."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "type": "object",
      "properties": {
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        },
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "type": "array"
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
        },
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy"
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "description": "Encapsulates a product category."
    },
    "FinalResult": {
      "description": "Encapsulates all structured data and the completed summary.",
      "type": "object",
      "properties": {
        "fullAnalysis": {
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true
        },
        "interopLinks": {
          "items": {
            "$ref": "InteropLink"
          },
          "type": "array",
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "readOnly": true
        },
        "summary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full natural language summary (re-sent for consistency)."
        },
        "dataSets": {
          "type": "array",
          "items": {
            "$ref": "DataSet"
          },
          "readOnly": true,
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts)."
        },
        "insights": {
          "readOnly": true,
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "type": "array",
          "items": {
            "$ref": "Insight"
          }
        },
        "suggestedQueries": {
          "type": "array",
          "items": {
            "$ref": "SuggestedQuery"
          },
          "readOnly": true,
          "description": "Output only. A list of suggested follow-up queries for the user."
        }
      },
      "id": "FinalResult"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "type": "object",
      "properties": {
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the fixed discount comes from."
        },
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "fixTime": {
          "description": "Time that the fixed discount is anchored to.",
          "format": "google-datetime",
          "type": "string"
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      }
    },
    "InteropLink": {
      "id": "InteropLink",
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true
        },
        "url": {
          "description": "Output only. The URL of the link.",
          "readOnly": true,
          "type": "string"
        },
        "linkType": {
          "readOnly": true,
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "type": "string"
        }
      },
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries)."
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "type": "object",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        }
      },
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price."
    },
    "ValueProto": {
      "id": "ValueProto",
      "type": "object",
      "properties": {
        "ValueProtoSwitchMustHaveADefault": {
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added.",
          "type": "boolean"
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "timestampPicoValue": {
          "type": "string",
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes().",
          "format": "byte"
        },
        "stringValue": {
          "description": "Primitive for string.",
          "type": "string"
        },
        "intervalValue": {
          "format": "byte",
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "type": "string"
        },
        "timeValue": {
          "type": "string",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details.",
          "format": "int64"
        },
        "datetimeValue": {
          "description": "primitive for datetime",
          "$ref": "Datetime"
        },
        "jsonValue": {
          "type": "string",
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document."
        },
        "mapValue": {
          "description": "Encoded map value. See go/googlesql_map.",
          "$ref": "Map"
        },
        "bignumericValue": {
          "type": "string",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "format": "byte"
        },
        "arrayValue": {
          "description": "An array of value",
          "$ref": "Array"
        },
        "protoValue": {
          "type": "string",
          "format": "byte",
          "description": "Stores a serialized protocol message."
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "tokenlistValue": {
          "format": "byte",
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "type": "string"
        },
        "floatValue": {
          "type": "number",
          "description": "Primitive for float.",
          "format": "float"
        },
        "bytesValue": {
          "type": "string",
          "format": "byte",
          "description": "Primitive for bytes."
        },
        "int32Value": {
          "format": "int32",
          "description": "Primitive value for int32.",
          "type": "integer"
        },
        "uint32Value": {
          "description": "Primitive for uint32.",
          "format": "uint32",
          "type": "integer"
        },
        "timestampValue": {
          "description": "primitive for timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "numericValue": {
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "format": "byte",
          "type": "string"
        },
        "geographyValue": {
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "format": "byte",
          "type": "string"
        },
        "uuidValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes()."
        },
        "doubleValue": {
          "format": "double",
          "description": "Primitive for double.",
          "type": "number"
        },
        "rangeValue": {
          "description": "Encoded range value. See go/googlesql_range.",
          "$ref": "Range"
        },
        "enumValue": {
          "type": "integer",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "format": "int32"
        },
        "int64Value": {
          "format": "int64",
          "description": "Primitive for int64.",
          "type": "string"
        },
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Primitive for uint64."
        },
        "dateValue": {
          "description": "Primitive for date.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto."
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      }
    },
    "Rejection": {
      "id": "Rejection",
      "type": "object",
      "properties": {
        "displayMessage": {
          "readOnly": true,
          "description": "Output only. A user-facing message explaining the rejection.",
          "type": "string"
        },
        "reason": {
          "description": "Output only. The reason for the rejection.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ]
        }
      },
      "description": "Encapsulates details about why a request was rejected."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"."
        },
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "type": "object",
      "properties": {
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to."
        },
        "name": {
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "description": "Encapsulates a default price which is the current list price."
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "type": "object",
      "properties": {
        "prices": {
          "description": "The returned publicly listed prices.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for ListPrices."
    },
    "GenerateInsightsRequest": {
      "description": "Request for GenerateInsights.",
      "id": "GenerateInsightsRequest",
      "type": "object",
      "properties": {
        "overriddenMaxIterationCounts": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Overrides the maximum iterations for any selected strategy."
        },
        "userContext": {
          "description": "Optional. Additional context for personalization (e.g., user persona, role).",
          "$ref": "UserContext"
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "BillingDataResource"
          },
          "description": "Optional. The billing account or projects to analyze."
        },
        "prompt": {
          "description": "Required. The natural language prompt from the user.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\""
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
    },
    "Insight": {
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "type": "object",
      "properties": {
        "title": {
          "description": "Output only. The title of the insight.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the insight.",
          "readOnly": true
        }
      },
      "id": "Insight"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      },
      "description": "Encapsulates the unit information for a Rate"
    },
    "ColumnInfo": {
      "description": "Represents a column header.",
      "id": "ColumnInfo",
      "type": "object",
      "properties": {
        "column": {
          "type": "string",
          "description": "Name of the column."
        }
      }
    },
    "Datetime": {
      "description": "A datetime value.",
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "type": "integer"
        },
        "bitFieldDatetimeSeconds": {
          "type": "string",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "format": "int64"
        }
      },
      "id": "Datetime"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        }
      },
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus)."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "type": "object",
      "properties": {
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the floating discount comes from."
        },
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "type": "string",
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "description": "Response message for ListSkuGroupSkus.",
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "type": "object",
      "properties": {
        "skuGroupSkus": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "type": "array",
          "description": "The returned SKU group SKUs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "UserContext": {
      "type": "object",
      "properties": {
        "persona": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "type": "string",
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ]
        },
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        }
      },
      "id": "UserContext",
      "description": "Additional context for personalization (e.g., user persona, role)."
    },
    "Struct": {
      "id": "Struct",
      "type": "object",
      "properties": {
        "field": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "The fields in the struct"
        }
      },
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "id": "GoogleCloudBillingPricesV1betaRate",
      "type": "object",
      "properties": {
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo"
        },
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
    },
    "Map": {
      "type": "object",
      "properties": {
        "entry": {
          "items": {
            "$ref": "MapEntry"
          },
          "type": "array",
          "description": "Represents the map entries in the map."
        }
      },
      "id": "Map",
      "description": "An unordered mapping from key to value, represented as a collection of map entries."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Range": {
      "type": "object",
      "properties": {
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        },
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        }
      },
      "id": "Range",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present."
    },
    "DataSet": {
      "type": "object",
      "properties": {
        "billingData": {
          "readOnly": true,
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "$ref": "BillingData"
        },
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "$ref": "SuggestedChart",
          "readOnly": true
        },
        "queryInfo": {
          "readOnly": true,
          "description": "Output only. The query used to fetch this data.",
          "$ref": "AgenticQueryInfo"
        }
      },
      "id": "DataSet",
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts)."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "type": "object",
      "properties": {
        "billingAccountSkuGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "description": "The returned publicly listed billing account SKU groups."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "description": "Response message for ListBillingAccountSkuGroups."
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "description": "Encapsulates the latest price for a SKU.",
      "type": "object",
      "properties": {
        "rate": {
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingPricesV1betaRate"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest price."
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        }
      },
      "id": "GoogleCloudBillingPricesV1betaPrice"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "MapEntry": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Represents the serialized map key for the entry.",
          "$ref": "ValueProto"
        },
        "value": {
          "description": "Represents the serialized map value of the entry.",
          "$ref": "ValueProto"
        }
      },
      "id": "MapEntry",
      "description": "A single entry in a Map, representing the mapping between `key` and `value`."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "description": "Encapsulates a price migrated from other SKUs.",
      "type": "object",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "id": "Decimal",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "id": "cloudbilling:v1beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260507",
  "resources": {
    "skus": {
      "resources": {
        "price": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "description": "Gets the latest price for the given SKU.",
              "id": "cloudbilling.skus.price.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^skus/[^/]+/price$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/skus/{skusId}/price",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "prices": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "pattern": "^skus/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+parent}/prices",
              "httpMethod": "GET",
              "flatPath": "v1beta/skus/{skusId}/prices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
              "description": "Lists the latest prices for all SKUs.",
              "id": "cloudbilling.skus.prices.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta:generateInsights",
          "path": "v1beta:generateInsights",
          "httpMethod": "POST",
          "parameters": {},
          "id": "cloudbilling.generateInsights",
          "parameterOrder": [],
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "request": {
            "$ref": "GenerateInsightsRequest"
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.services.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "description": "Lists services visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "required": true
                }
              },
              "path": "v1beta/{+parent}/services",
              "httpMethod": "GET"
            },
            "get": {
              "id": "cloudbilling.billingAccounts.services.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "description": "Gets a Google Cloud service visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET"
            }
          }
        },
        "skus": {
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "location": "path",
                      "type": "string"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    }
                  }
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "path": "v1beta/{+parent}/prices",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    }
                  },
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "description": "Lists SKUs visible to a billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "filter": {
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/skus",
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "description": "Gets a SKU visible to a billing account.",
              "id": "cloudbilling.billingAccounts.skus.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "path": "v1beta/{+parent}/skuGroups",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists SKU groups visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              }
            },
            "get": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "description": "Gets a SKU group visible to a billing account."
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "required": true
                    }
                  },
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "description": "Gets a SKU that is part of a billing account SKU group."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "path": "v1beta/{+parent}/skus",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "skuGroups": {
      "methods": {
        "list": {
          "description": "Lists all publicly listed SKU groups.",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "id": "cloudbilling.skuGroups.list",
          "parameterOrder": [],
          "path": "v1beta/skuGroups",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/skuGroups"
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^skuGroups/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "required": true
            }
          },
          "path": "v1beta/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "Gets a publicly listed SKU group.",
          "id": "cloudbilling.skuGroups.get",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "id": "cloudbilling.skuGroups.skus.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "pattern": "^skuGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+parent}/skus",
              "httpMethod": "GET",
              "id": "cloudbilling.skuGroups.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Cloud Billing API",
  "basePath": "",
  "ownerName": "Google",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "name": "cloudbilling",
[...]
