{
  "protocol": "rest",
  "canonicalName": "Cloud Identity",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly": {
          "description": "See all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly": {
          "description": "List org members of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.policies": {
          "description": "See and edit policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits": {
          "description": "List, Move orgmembers of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.policies.readonly": {
          "description": "See policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso": {
          "description": "See and edit all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud Identity API",
  "id": "cloudidentity:v1beta1",
  "version": "v1beta1",
  "discoveryVersion": "v1",
  "revision": "20260427",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/identity/",
  "version_module": true,
  "description": "API for provisioning and managing identity resources.",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "schemas": {
    "SecuritySettings": {
      "type": "object",
      "id": "SecuritySettings",
      "description": "The definiion of security settings.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "readOnly": true,
          "type": "string"
        },
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        }
      }
    },
    "RestrictionEvaluation": {
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the restriction",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "RestrictionEvaluation",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata"
    },
    "DeleteIdpCredentialOperationMetadata": {
      "type": "object",
      "id": "DeleteIdpCredentialOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential.",
      "properties": {}
    },
    "DeleteInboundSsoAssignmentOperationMetadata": {
      "description": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment.",
      "properties": {},
      "type": "object",
      "id": "DeleteInboundSsoAssignmentOperationMetadata"
    },
    "IsInvitableUserResponse": {
      "description": "Response for IsInvitableUser RPC.",
      "properties": {
        "isInvitableUser": {
          "description": "Returns true if the email address is invitable.",
          "type": "boolean"
        }
      },
      "id": "IsInvitableUserResponse",
      "type": "object"
    },
    "ListDevicesResponse": {
      "id": "ListDevicesResponse",
      "type": "object",
      "description": "Response message that is returned from the ListDevices method.",
      "properties": {
        "devices": {
          "description": "Devices meeting the list restrictions.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "CreateInboundOidcSsoProfileOperationMetadata": {
      "type": "object",
      "id": "CreateInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.CreateInboundOidcSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      }
    },
    "Membership": {
      "type": "object",
      "id": "Membership",
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "properties": {
        "memberKey": {
          "description": "Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned.",
          "$ref": "EntityKey"
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned."
        },
        "deliverySetting": {
          "description": "Output only. Delivery setting associated with the membership.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents each mail should be delivered",
            "Represents 1 email for every 25 messages.",
            "Represents daily summary of messages.",
            "Represents no delivery.",
            "Represents disabled state."
          ],
          "enum": [
            "DELIVERY_SETTING_UNSPECIFIED",
            "ALL_MAIL",
            "DIGEST",
            "DAILY",
            "NONE",
            "DISABLED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the `Membership` was created.",
          "format": "google-datetime"
        },
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`."
        },
        "updateTime": {
          "description": "Output only. The time when the `Membership` was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents a CBCM-managed Chrome Browser type.",
            "Represents other type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "CBCM_BROWSER",
            "OTHER"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the membership."
        }
      }
    },
    "CertificateTemplate": {
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "properties": {
        "minorVersion": {
          "format": "int32",
          "description": "The minor version of the template. Example: 12.",
          "type": "integer"
        },
        "id": {
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\".",
          "type": "string"
        },
        "majorVersion": {
          "type": "integer",
          "description": "The Major version of the template. Example: 100.",
          "format": "int32"
        }
      },
      "id": "CertificateTemplate",
      "type": "object"
    },
    "Setting": {
      "type": "object",
      "id": "Setting",
      "description": "Setting",
      "properties": {
        "type": {
          "description": "Required. Immutable. The type of the Setting. .",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the Setting.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "ListPoliciesResponse": {
      "description": "The response message for PoliciesService.ListPolicies.",
      "properties": {
        "policies": {
          "items": {
            "$ref": "Policy"
          },
          "type": "array",
          "description": "The results"
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListPoliciesResponse"
    },
    "DynamicGroupQuery": {
      "id": "DynamicGroupQuery",
      "type": "object",
      "description": "Defines a query on a resource.",
      "properties": {
        "query": {
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ]
        }
      }
    },
    "DynamicGroupStatus": {
      "description": "The current status of a dynamic group along with timestamp.",
      "properties": {
        "statusTime": {
          "format": "google-datetime",
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "type": "string"
        },
        "status": {
          "description": "Status of the dynamic group.",
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "type": "string"
        }
      },
      "id": "DynamicGroupStatus",
      "type": "object"
    },
    "ListInboundOidcSsoProfilesResponse": {
      "type": "object",
      "id": "ListInboundOidcSsoProfilesResponse",
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method.",
      "properties": {
        "inboundOidcSsoProfiles": {
          "description": "List of InboundOidcSsoProfiles.",
          "type": "array",
          "items": {
            "$ref": "InboundOidcSsoProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TransitiveMembershipRole": {
      "id": "TransitiveMembershipRole",
      "type": "object",
      "description": "Message representing the role of a TransitiveMembership.",
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      }
    },
    "CheckTransitiveMembershipResponse": {
      "type": "object",
      "id": "CheckTransitiveMembershipResponse",
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "properties": {
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "managed": {
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "type": "string"
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "readOnly": true,
          "type": "string"
        },
        "complianceState": {
          "description": "The compliance state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "type": "string"
        },
        "keyValuePairs": {
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          }
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the client state data was last updated."
        },
        "assetTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The caller can specify asset tags for this resource"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the client state data was created.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        },
        "healthScore": {
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "type": "string"
        },
        "ownerType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "description": "Output only. The owner of the ClientState"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "type": "object"
    },
    "PolicyConflict": {
      "description": "Represents a policy value from a source that was not applied because a higher-priority source took precedence.",
      "properties": {
        "source": {
          "description": "Output only. The source from which this lower-priority policy value originated.",
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ],
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The policy value from this lower-priority source."
        },
        "scope": {
          "description": "Output only. The scope at which this lower-priority policy is set (USER or MACHINE).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ]
        }
      },
      "type": "object",
      "id": "PolicyConflict"
    },
    "ClientState": {
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "properties": {
        "ownerType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "description": "Output only. The owner of the ClientState"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the client state data was last updated."
        },
        "assetTags": {
          "description": "The caller can specify asset tags for this resource",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the client state data was created.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        },
        "healthScore": {
          "type": "string",
          "description": "The Health score of the resource",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ]
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
          "readOnly": true,
          "type": "string"
        },
        "complianceState": {
          "description": "The compliance state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "type": "string"
        },
        "keyValuePairs": {
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CustomAttributeValue"
          }
        },
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "managed": {
          "type": "string",
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ]
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        }
      },
      "id": "ClientState",
      "type": "object"
    },
    "SearchTransitiveGroupsResponse": {
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "properties": {
        "memberships": {
          "description": "List of transitive groups satisfying the query.",
          "items": {
            "$ref": "GroupRelation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "id": "SearchTransitiveGroupsResponse",
      "type": "object"
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "description": "The response message for MembershipsService.ListMemberships.",
      "properties": {
        "memberships": {
          "description": "The `Membership`s under the specified `parent`.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      }
    },
    "SamlSpConfig": {
      "type": "object",
      "id": "SamlSpConfig",
      "description": "SAML SP (service provider) configuration.",
      "properties": {
        "entityId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SAML **Entity ID** for this service provider."
        },
        "assertionConsumerServiceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding."
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query.",
      "properties": {
        "type": {
          "description": "Output only. The type of the policy.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy type.",
            "Policy type denoting the system-configured policies.",
            "Policy type denoting the admin-configurable policies."
          ],
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "SYSTEM",
            "ADMIN"
          ]
        },
        "name": {
          "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
          "readOnly": true,
          "type": "string"
        },
        "policyQuery": {
          "$ref": "PolicyQuery",
          "description": "Required. The PolicyQuery the Setting applies to."
        },
        "customer": {
          "description": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793.",
          "type": "string"
        },
        "setting": {
          "$ref": "Setting",
          "description": "Required. The Setting configured by this Policy."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "description": "Metadata for WipeDevice LRO.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "description": "Response message for approving the device to access user data.",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse"
    },
    "SamlSsoInfo": {
      "id": "SamlSsoInfo",
      "type": "object",
      "description": "Details that are applicable when `sso_mode` == `SAML_SSO`.",
      "properties": {
        "inboundSamlSsoProfile": {
          "description": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. ",
          "type": "string"
        }
      }
    },
    "OidcSsoInfo": {
      "type": "object",
      "id": "OidcSsoInfo",
      "description": "Details that are applicable when `sso_mode` is set to `OIDC_SSO`.",
      "properties": {
        "inboundOidcSsoProfile": {
          "description": "Required. Name of the `InboundOidcSsoProfile` to use. Must be of the form `inboundOidcSsoProfiles/{inbound_oidc_sso_profile}`. ",
          "type": "string"
        }
      }
    },
    "CancelWipeDeviceResponse": {
      "type": "object",
      "id": "CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "description": "Metadata for BlockDeviceUser LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "BlockDeviceUserResponse": {
      "id": "BlockDeviceUserResponse",
      "type": "object",
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      }
    },
    "BlockDeviceUserRequest": {
      "type": "object",
      "id": "BlockDeviceUserRequest",
      "description": "Request message for blocking account on device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CertificateTemplate": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CertificateTemplate",
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "properties": {
        "id": {
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\".",
          "type": "string"
        },
        "majorVersion": {
          "description": "The Major version of the template. Example: 100.",
          "format": "int32",
          "type": "integer"
        },
        "minorVersion": {
          "description": "The minor version of the template. Example: 12.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "OidcRpConfig": {
      "description": "OIDC RP (relying party) configuration.",
      "properties": {
        "clientId": {
          "description": "OAuth2 client ID for OIDC.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. OAuth2 client secret for OIDC.",
          "type": "string"
        },
        "redirectUris": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The URL(s) that this client may use in authentication requests."
        }
      },
      "type": "object",
      "id": "OidcRpConfig"
    },
    "WipeDeviceUserRequest": {
      "id": "WipeDeviceUserRequest",
      "type": "object",
      "description": "Request message for starting an account wipe on device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device.",
      "properties": {
        "certificateAttributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CertificateAttributes"
          },
          "description": "Details of certificates."
        },
        "browserAttributes": {
          "description": "Details of browser profiles reported by Endpoint Verification.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1BrowserAttributes"
          },
          "type": "array"
        },
        "additionalSignals": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "properties": {
        "deviceId": {
          "description": "Unique identifier for the device.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime"
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "imei": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IMEI number of device if GSM device; empty otherwise."
        },
        "deviceType": {
          "description": "Output only. Type of device.",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "kernelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Kernel version of the device."
        },
        "basebandVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Baseband version of the device."
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "bootloaderVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices)."
        },
        "enabledDeveloperOptions": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device."
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "format": "google-datetime",
          "type": "string"
        },
        "hostname": {
          "description": "Host name of the device.",
          "type": "string"
        },
        "encryptionState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "description": "Output only. Device encryption state."
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true,
          "type": "string"
        },
        "androidSpecificAttributes": {
          "readOnly": true,
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "description": "Output only. Attributes specific to Android devices."
        },
        "ownerType": {
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the device is owned by the company or an individual"
        },
        "osVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OS version of the device. Example: Android 8.1.0."
        },
        "unifiedDeviceId": {
          "description": "Output only. Unified device id of the device.",
          "readOnly": true,
          "type": "string"
        },
        "endpointVerificationSpecificAttributes": {
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
          "readOnly": true
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "readOnly": true,
          "type": "string"
        },
        "buildNumber": {
          "description": "Output only. Build number of the device.",
          "readOnly": true,
          "type": "string"
        },
        "securityPatchTime": {
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true,
          "type": "string"
        },
        "otherAccounts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
        },
        "compromisedState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "description": "Output only. Represents whether the Device is compromised."
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Model name of device. Example: Pixel 3."
        },
        "managementState": {
          "description": "Output only. Management state of the device",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true,
          "type": "string"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1Device"
    },
    "RsaPublicKeyInfo": {
      "type": "object",
      "id": "RsaPublicKeyInfo",
      "description": "Information of a RSA public key.",
      "properties": {
        "keySize": {
          "description": "Key size in bits (size of the modulus).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DeleteInboundOidcSsoProfileOperationMetadata": {
      "id": "DeleteInboundOidcSsoProfileOperationMetadata",
      "type": "object",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.DeleteInboundOidcSsoProfile.",
      "properties": {}
    },
    "UpdateMembershipRolesParams": {
      "type": "object",
      "id": "UpdateMembershipRolesParams",
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "fieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`."
        },
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`."
        }
      }
    },
    "CancelWipeDeviceUserRequest": {
      "id": "CancelWipeDeviceUserRequest",
      "type": "object",
      "description": "Request message for cancelling an unfinished user account wipe.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "SamlIdpConfig": {
      "type": "object",
      "id": "SamlIdpConfig",
      "description": "SAML IDP (identity provider) configuration.",
      "properties": {
        "singleSignOnServiceUri": {
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding.",
          "type": "string"
        },
        "logoutRedirectUri": {
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`.",
          "type": "string"
        },
        "entityId": {
          "description": "Required. The SAML **Entity ID** of the identity provider.",
          "type": "string"
        },
        "changePasswordUri": {
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
        },
        "lastProfileSyncTime": {
          "type": "string",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime"
        },
        "chromeProfileId": {
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "description": "Metadata for DeleteDeviceUser LRO.",
      "properties": {}
    },
    "SearchDirectGroupsResponse": {
      "description": "The response message for MembershipsService.SearchDirectGroups.",
      "properties": {
        "memberships": {
          "description": "List of direct groups satisfying the query.",
          "type": "array",
          "items": {
            "$ref": "MembershipRelation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchDirectGroupsResponse"
    },
    "WipeDeviceRequest": {
      "type": "object",
      "id": "WipeDeviceRequest",
      "description": "Request message for wiping all data on the device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        },
        "removeResetLock": {
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device.",
          "type": "boolean"
        }
      }
    },
    "AddIdpCredentialRequest": {
      "id": "AddIdpCredentialRequest",
      "type": "object",
      "description": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials.",
      "properties": {
        "pemData": {
          "description": "PEM encoded x509 certificate containing the public key for verifying IdP signatures.",
          "type": "string"
        }
      }
    },
    "AddIdpCredentialOperationMetadata": {
      "type": "object",
      "id": "AddIdpCredentialOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      }
    },
    "MembershipRelation": {
      "id": "MembershipRelation",
      "type": "object",
      "description": "Message containing membership relation.",
      "properties": {
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`.",
          "type": "string"
        },
        "roles": {
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array",
          "description": "The `MembershipRole`s that apply to the `Membership`."
        },
        "group": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "groupKey": {
          "description": "The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "membership": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "LookupSelfDeviceUsersResponse": {
      "type": "object",
      "id": "LookupSelfDeviceUsersResponse",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "properties": {
        "names": {
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device_id}/deviceUsers/{user_resource_id}`, where device_id is the unique ID assigned to a Device and user_resource_id is the unique user ID",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customer": {
          "description": "The customer Id that may be passed back to other Devices API methods such as List, Get, etc.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "MembershipAdjacencyList": {
      "id": "MembershipAdjacencyList",
      "type": "object",
      "description": "Membership graph's path information as an adjacency list.",
      "properties": {
        "edges": {
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g `name`, `preferred_member_key` and `role`), but may not be a comprehensive list of all fields.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "group": {
          "description": "Resource name of the group that the members belong to.",
          "type": "string"
        }
      }
    },
    "InboundSamlSsoProfile": {
      "id": "InboundSamlSsoProfile",
      "type": "object",
      "description": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider.",
      "properties": {
        "displayName": {
          "description": "Human-readable name of the SAML SSO profile.",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
          "readOnly": true,
          "type": "string"
        },
        "spConfig": {
          "$ref": "SamlSpConfig",
          "description": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider."
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "idpConfig": {
          "description": "SAML identity provider configuration.",
          "$ref": "SamlIdpConfig"
        }
      }
    },
    "MoveOrgMembershipRequest": {
      "description": "The request message for OrgMembershipsService.MoveOrgMembership.",
      "properties": {
        "destinationOrgUnit": {
          "description": "Required. Immutable. OrgUnit where the membership will be moved to. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
          "type": "string"
        },
        "customer": {
          "description": "Required. Immutable. Customer on whose membership change is made. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MoveOrgMembershipRequest"
    },
    "ModifyMembershipRolesRequest": {
      "description": "The request message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "updateRolesParams": {
          "type": "array",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          },
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set."
        },
        "addRoles": {
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "removeRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set."
        }
      },
      "id": "ModifyMembershipRolesRequest",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CertificateAttributes": {
      "description": "Stores information about a certificate.",
      "properties": {
        "serialNumber": {
          "description": "Serial number of the certificate, Example: \"123456789\".",
          "type": "string"
        },
        "validityExpirationTime": {
          "type": "string",
          "description": "Certificate not valid at or after this timestamp.",
          "format": "google-datetime"
        },
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "certificateTemplate": {
          "$ref": "GoogleAppsCloudidentityDevicesV1CertificateTemplate",
          "description": "The X.509 extension for CertificateTemplate."
        },
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "issuer": {
          "description": "The name of the issuer of this certificate.",
          "type": "string"
        },
        "validityStartTime": {
          "format": "google-datetime",
          "description": "Certificate not valid before this timestamp.",
          "type": "string"
        },
        "validationState": {
          "description": "Output only. Validation state of this certificate.",
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CertificateAttributes",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "description": "Metadata for CancelWipeDevice LRO.",
      "properties": {}
    },
    "MemberRelation": {
      "type": "object",
      "id": "MemberRelation",
      "description": "Message representing a transitive membership of a group.",
      "properties": {
        "roles": {
          "description": "The membership role details (i.e name of role and expiry time).",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "type": "array"
        },
        "member": {
          "description": "Resource name for this member.",
          "type": "string"
        },
        "preferredMemberKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "type": "array",
          "items": {
            "$ref": "EntityKey"
          }
        },
        "relationType": {
          "description": "The relation between the group and the transitive membership.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "type": "string"
        }
      }
    },
    "PolicyQuery": {
      "description": "PolicyQuery",
      "properties": {
        "query": {
          "description": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use.",
          "type": "string"
        },
        "sortOrder": {
          "format": "double",
          "description": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set).",
          "readOnly": true,
          "type": "number"
        },
        "orgUnit": {
          "description": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query.",
          "type": "string"
        },
        "group": {
          "description": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string.",
          "type": "string"
        }
      },
      "id": "PolicyQuery",
      "type": "object"
    },
    "GroupRelation": {
      "id": "GroupRelation",
      "type": "object",
      "description": "Message representing a transitive group of a user or a group.",
      "properties": {
        "group": {
          "description": "Resource name for this group.",
          "type": "string"
        },
        "roles": {
          "description": "Membership roles of the member for the group.",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "type": "array"
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "displayName": {
          "description": "Display name for this group.",
          "type": "string"
        },
        "relationType": {
          "type": "string",
          "description": "The relation between the member and the transitive group.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ]
        },
        "labels": {
          "description": "Labels for Group resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "description": "A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices).",
      "properties": {
        "enabledUsbDebugging": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "description": "Unique identifier for the device.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Output only. Kernel version of the device.",
          "readOnly": true,
          "type": "string"
        },
        "deviceType": {
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of device."
        },
        "imei": {
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true,
          "type": "string"
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bootloaderVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "basebandVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Baseband version of the device."
        },
        "enabledDeveloperOptions": {
          "description": "Output only. Whether developer options is enabled on device.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique id assigned to the Device."
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola."
        },
        "ownerType": {
          "description": "Output only. Whether the device is owned by the company or an individual",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ]
        },
        "brand": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device brand. Example: Samsung."
        },
        "androidSpecificAttributes": {
          "readOnly": true,
          "description": "Output only. Attributes specific to Android devices.",
          "$ref": "AndroidAttributes"
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "lastSyncTime": {
          "type": "string",
          "description": "Most recent time when device synced with this service.",
          "format": "google-datetime"
        },
        "hostname": {
          "description": "Host name of the device.",
          "type": "string"
        },
        "clientTypes": {
          "description": "List of the clients the device is reporting to.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value",
              "Managed by DriveFS",
              "Management type for every secure device",
              "Managed by Endpoint Verification",
              "Managed by Windows",
              "Managed by Google credential provider for windows"
            ],
            "enum": [
              "CLIENT_TYPE_UNSPECIFIED",
              "DRIVE_FS",
              "FUNDAMENTAL",
              "ENDPOINT_VERIFICATION",
              "WINDOWS_ADVANCED",
              "GOOGLE_CREDENTIALS_PROVIDER_FOR_WINDOWS"
            ]
          },
          "type": "array"
        },
        "buildNumber": {
          "description": "Output only. Build number of the device.",
          "readOnly": true,
          "type": "string"
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "readOnly": true,
          "type": "string"
        },
        "endpointVerificationSpecificAttributes": {
          "readOnly": true,
          "$ref": "EndpointVerificationSpecificAttributes",
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices."
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "readOnly": true,
          "type": "string"
        },
        "unifiedDeviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unified device id of the device."
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Model name of device. Example: Pixel 3."
        },
        "compromisedState": {
          "description": "Output only. Represents whether the Device is compromised.",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "otherAccounts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
        },
        "securityPatchTime": {
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true,
          "type": "string"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "browserProfiles": {
          "description": "Browser profiles on the device. This is a copy of the BrowserAttributes message defined in EndpointVerificationSpecificAttributes. We are replicating it here since EndpointVerification isn't the only client reporting browser profiles.",
          "type": "array",
          "items": {
            "$ref": "BrowserAttributes"
          }
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true,
          "type": "string"
        },
        "managementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. The device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Management state of the device"
        }
      }
    },
    "UpdateInboundSsoAssignmentOperationMetadata": {
      "id": "UpdateInboundSsoAssignmentOperationMetadata",
      "type": "object",
      "description": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata",
      "description": "Metadata for UpdateDevice LRO.",
      "properties": {}
    },
    "WipeDeviceUserResponse": {
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "WipeDeviceUserResponse",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "ExpiryDetail": {
      "description": "The `MembershipRole` expiry details.",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The time at which the `MembershipRole` will expire.",
          "format": "google-datetime"
        }
      },
      "id": "ExpiryDetail",
      "type": "object"
    },
    "PosixGroup": {
      "description": "POSIX Group definition to represent a group in a POSIX compliant system. Caution: POSIX groups are deprecated. As of September 26, 2024, you can no longer create new POSIX groups. For more information, see https://cloud.google.com/identity/docs/deprecations/posix-groups",
      "properties": {
        "gid": {
          "type": "string",
          "description": "GID of the POSIX group.",
          "format": "uint64"
        },
        "name": {
          "description": "Name of the POSIX group.",
          "type": "string"
        },
        "systemId": {
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PosixGroup"
    },
    "RestrictionEvaluations": {
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "properties": {
        "memberRestrictionEvaluation": {
          "$ref": "MembershipRoleRestrictionEvaluation",
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation."
        }
      },
      "type": "object",
      "id": "RestrictionEvaluations"
    },
    "ApproveDeviceUserRequest": {
      "description": "Request message for approving the device to access user data.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "id": "ApproveDeviceUserRequest",
      "type": "object"
    },
    "DsaPublicKeyInfo": {
      "description": "Information of a DSA public key.",
      "properties": {
        "keySize": {
          "type": "integer",
          "format": "int32",
          "description": "Key size in bits (size of parameter P)."
        }
      },
      "type": "object",
      "id": "DsaPublicKeyInfo"
    },
    "CancelUserInvitationRequest": {
      "type": "object",
      "id": "CancelUserInvitationRequest",
      "description": "Request to cancel sent invitation for target email in UserInvitation.",
      "properties": {}
    },
    "BrowserInfo": {
      "id": "BrowserInfo",
      "type": "object",
      "description": "Browser-specific fields reported by clients on the device, such as [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "browserVersion": {
          "description": "Version of the request initiating browser. E.g. `91.0.4442.4`.",
          "type": "string"
        },
        "isBuiltInDnsClientEnabled": {
          "description": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled).",
          "type": "boolean"
        },
        "isFileUploadAnalysisEnabled": {
          "description": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "safeBrowsingProtectionLevel": {
          "description": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel).",
          "enumDescriptions": [
            "Browser protection level is not specified.",
            "No protection against dangerous websites, downloads, and extensions.",
            "Standard protection against websites, downloads, and extensions that are known to be dangerous.",
            "Faster, proactive protection against dangerous websites, downloads, and extensions."
          ],
          "enum": [
            "SAFE_BROWSING_LEVEL_UNSPECIFIED",
            "DISABLED",
            "STANDARD",
            "ENHANCED"
          ],
          "type": "string"
        },
        "isChromeCleanupEnabled": {
          "description": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled).",
          "deprecated": true,
          "type": "boolean"
        },
        "isThirdPartyBlockingEnabled": {
          "description": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled).",
          "type": "boolean"
        },
        "isSecurityEventAnalysisEnabled": {
          "description": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isFileDownloadAnalysisEnabled": {
          "description": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "passwordProtectionWarningTrigger": {
          "type": "string",
          "description": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger).",
          "enumDescriptions": [
            "Password protection is not specified.",
            "Password reuse is never detected.",
            "Warning is shown when the user reuses their protected password on a non-allowed site.",
            "Warning is shown when the user reuses their protected password on a phishing site."
          ],
          "enum": [
            "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED",
            "PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ]
        },
        "browserManagementState": {
          "enumDescriptions": [
            "Management state is not specified.",
            "Browser/Profile is not managed by any customer.",
            "Browser/Profile is managed, but by some other customer.",
            "Profile is managed by customer.",
            "Browser is managed by customer."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNMANAGED",
            "MANAGED_BY_OTHER_DOMAIN",
            "PROFILE_MANAGED",
            "BROWSER_MANAGED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Browser's management state."
        },
        "isBulkDataEntryAnalysisEnabled": {
          "description": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isSiteIsolationEnabled": {
          "description": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins).",
          "type": "boolean"
        },
        "policies": {
          "description": "Output only. Chrome policies information for the browser as can be seen in chrome://policy. Full possibilities of policies can be consulted in [Chrome Enterprise Policy List](https://chromeenterprise.google/policies/).",
          "items": {
            "$ref": "ChromePolicy"
          },
          "readOnly": true,
          "type": "array"
        },
        "isChromeRemoteDesktopAppBlocked": {
          "description": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist).",
          "type": "boolean"
        },
        "isRealtimeUrlCheckEnabled": {
          "description": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        }
      }
    },
    "CancelWipeDeviceRequest": {
      "type": "object",
      "id": "CancelWipeDeviceRequest",
      "description": "Request message for cancelling an unfinished device wipe.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "type": "object",
      "description": "Metadata for DeleteDevice LRO.",
      "properties": {}
    },
    "ListOrgMembershipsResponse": {
      "description": "The response message for OrgMembershipsService.ListOrgMemberships.",
      "properties": {
        "orgMemberships": {
          "description": "The non-vacuous membership in an orgUnit.",
          "type": "array",
          "items": {
            "$ref": "OrgMembership"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListOrgMembershipsResponse",
      "type": "object"
    },
    "ListGroupsResponse": {
      "type": "object",
      "id": "ListGroupsResponse",
      "description": "The response message for GroupsService.ListGroups.",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        },
        "groups": {
          "description": "The `Group` resources under the specified `parent`.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        }
      }
    },
    "WipeDeviceResponse": {
      "description": "Response message for wiping all data on the device.",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "Device"
        }
      },
      "type": "object",
      "id": "WipeDeviceResponse"
    },
    "InboundSsoAssignment": {
      "description": "Targets with \"set\" SSO assignments and their respective assignments.",
[...]
