{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version": "v1",
  "canonicalName": "Cloud Deploy",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "id": "clouddeploy:v1",
  "documentationLink": "https://cloud.google.com/deploy/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "CreateChildRolloutJob": {
      "id": "CreateChildRolloutJob",
      "properties": {},
      "type": "object",
      "description": "A createChildRollout Job."
    },
    "VerifyJobRun": {
      "type": "object",
      "properties": {
        "failureMessage": {
          "description": "Output only. Additional information about the verify failure, if available.",
          "type": "string",
          "readOnly": true
        },
        "artifactUri": {
          "readOnly": true,
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "type": "string"
        },
        "failureCause": {
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify job run did not complete within the allotted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "readOnly": true,
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded."
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata containing information about the verify `JobRun`.",
          "$ref": "VerifyJobRunMetadata"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string",
          "readOnly": true
        },
        "eventLogPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI."
        }
      },
      "id": "VerifyJobRun",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`."
    },
    "RuntimeConfig": {
      "properties": {
        "cloudRun": {
          "description": "Optional. Cloud Run runtime configuration.",
          "$ref": "CloudRunConfig"
        },
        "kubernetes": {
          "description": "Optional. Kubernetes runtime configuration.",
          "$ref": "KubernetesConfig"
        }
      },
      "type": "object",
      "id": "RuntimeConfig",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy."
    },
    "Task": {
      "description": "A Task represents a unit of work that is executed as part of a Job.",
      "id": "Task",
      "properties": {
        "container": {
          "description": "Optional. This task is represented by a container that is executed in the Cloud Build execution environment.",
          "$ref": "ContainerTask"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "CustomCheckStatus": {
      "id": "CustomCheckStatus",
      "type": "object",
      "properties": {
        "failureCause": {
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "description": "Output only. The reason the analysis failed. This will always be unspecified while the analysis is in progress or if it succeeded.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The analysis operation did not complete successfully; check Cloud Build logs.",
            "The analysis job run did not complete within the alloted time defined in the target's execution environment configuration.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string"
        },
        "frequency": {
          "description": "Output only. The frequency in minutes at which the custom check is run.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        },
        "failureMessage": {
          "description": "Output only. Additional information about the analysis failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "latestBuild": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that was used to execute the latest run of this custom action check. Format is `projects/{project}/locations/{location}/builds/{build}`."
        },
        "task": {
          "$ref": "Task",
          "description": "Output only. The task that ran for this custom check.",
          "readOnly": true
        },
        "metadata": {
          "description": "Output only. Custom metadata provided by the user-defined custom check operation. result.",
          "$ref": "CustomMetadata",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The ID of the custom check.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "CustomCheckStatus contains information specific to a single iteration of a custom analysis job."
    },
    "RetryJobResponse": {
      "type": "object",
      "id": "RetryJobResponse",
      "description": "The response object from 'RetryJob'.",
      "properties": {}
    },
    "WeeklyWindow": {
      "type": "object",
      "description": "Weekly windows. For example, blocking actions every Saturday and Sunday. Another example would be blocking actions every weekday from 5pm to midnight.",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Start time (inclusive). Use 00:00 for the beginning of the day. If you specify start_time you must also specify end_time. If left empty, this will block for the entire day for the days specified in days_of_week."
        },
        "endTime": {
          "description": "Optional. End time (exclusive). Use 24:00 to indicate midnight. If you specify end_time you must also specify start_time. If left empty, this will block for the entire day for the days specified in days_of_week.",
          "$ref": "TimeOfDay"
        },
        "daysOfWeek": {
          "description": "Optional. Days of week. If left empty, all days of the week will be included.",
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "type": "array"
        }
      },
      "id": "WeeklyWindow"
    },
    "DeployJob": {
      "type": "object",
      "description": "A deploy Job.",
      "id": "DeployJob",
      "properties": {}
    },
    "DefaultPool": {
      "id": "DefaultPool",
      "description": "Execution using the default Cloud Build pool.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        }
      }
    },
    "ServiceNetworking": {
      "properties": {
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service.",
          "type": "string"
        },
        "disablePodOverprovisioning": {
          "type": "boolean",
          "description": "Optional. Whether to disable Pod overprovisioning. If Pod overprovisioning is disabled then Cloud Deploy will limit the number of total Pods used for the deployment strategy to the number of Pods the Deployment has on the cluster."
        },
        "podSelectorLabel": {
          "type": "string",
          "description": "Optional. The label to use when selecting Pods for the Deployment resource. This label must already be present in the Deployment."
        }
      },
      "id": "ServiceNetworking",
      "type": "object",
      "description": "Information about the Kubernetes Service networking configuration."
    },
    "SkaffoldGCSSource": {
      "properties": {
        "path": {
          "description": "Optional. Relative path from the source to the Skaffold file.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. Cloud Storage source paths to copy recursively. For example, providing \"gs://my-bucket/dir/configs/*\" will result in Skaffold copying all files within the \"dir/configs\" directory in the bucket \"my-bucket\"."
        }
      },
      "type": "object",
      "description": "Cloud Storage bucket containing Skaffold Config modules.",
      "id": "SkaffoldGCSSource"
    },
    "TimeWindows": {
      "properties": {
        "oneTimeWindows": {
          "items": {
            "$ref": "OneTimeWindow"
          },
          "description": "Optional. One-time windows within which actions are restricted.",
          "type": "array"
        },
        "timeZone": {
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York).",
          "type": "string"
        },
        "weeklyWindows": {
          "description": "Optional. Recurring weekly windows within which actions are restricted.",
          "type": "array",
          "items": {
            "$ref": "WeeklyWindow"
          }
        }
      },
      "id": "TimeWindows",
      "description": "Time windows within which actions are restricted. See the [documentation](https://cloud.google.com/deploy/docs/deploy-policy#dates_times) for more information on how to configure dates/times.",
      "type": "object"
    },
    "PredeployJobRunMetadata": {
      "type": "object",
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined predeploy operation.",
          "readOnly": true,
          "$ref": "CustomMetadata"
        }
      },
      "description": "PredeployJobRunMetadata contains metadata about the predeploy `JobRun`.",
      "id": "PredeployJobRunMetadata"
    },
    "AdvanceChildRolloutJobRun": {
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`.",
      "id": "AdvanceChildRolloutJobRun",
      "type": "object",
      "properties": {
        "rolloutPhaseId": {
          "readOnly": true,
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the `ChildRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`."
        }
      }
    },
    "Canary": {
      "type": "object",
      "description": "Canary represents the canary deployment strategy.",
      "id": "Canary",
      "properties": {
        "canaryDeployment": {
          "description": "Optional. Configures the progressive based deployment for a Target.",
          "$ref": "CanaryDeployment"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime specific configurations for the deployment strategy. The runtime configuration is used to determine how Cloud Deploy will split traffic to enable a progressive deployment."
        },
        "customCanaryDeployment": {
          "$ref": "CustomCanaryDeployment",
          "description": "Optional. Configures the progressive based deployment for a Target, but allows customizing at the phase level where a phase represents each of the percentage deployments."
        }
      }
    },
    "PromoteReleaseOperation": {
      "description": "Contains the information of an automated promote-release operation.",
      "type": "object",
      "id": "PromoteReleaseOperation",
      "properties": {
        "phase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The starting phase of the rollout created by this operation."
        },
        "wait": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. How long the operation will be paused."
        },
        "rollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`."
        },
        "targetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the target that represents the promotion stage to which the release will be promoted. The value of this field is the last segment of a target name."
        }
      }
    },
    "CloudRunConfig": {
      "description": "CloudRunConfig contains the Cloud Run runtime configuration.",
      "properties": {
        "canaryRevisionTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of tags that are added to the canary revision while the canary phase is in progress."
        },
        "priorRevisionTags": {
          "type": "array",
          "description": "Optional. A list of tags that are added to the prior revision while the canary phase is in progress.",
          "items": {
            "type": "string"
          }
        },
        "stableRevisionTags": {
          "description": "Optional. A list of tags that are added to the final stable revision when the stable phase is applied.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "automaticTrafficControl": {
          "type": "boolean",
          "description": "Optional. Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments."
        }
      },
      "type": "object",
      "id": "CloudRunConfig"
    },
    "Config": {
      "properties": {
        "supportedVersions": {
          "items": {
            "$ref": "SkaffoldVersion"
          },
          "type": "array",
          "description": "All supported versions of Skaffold."
        },
        "name": {
          "description": "Name of the configuration.",
          "type": "string"
        },
        "defaultSkaffoldVersion": {
          "type": "string",
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version."
        },
        "defaultToolVersions": {
          "description": "Output only. Default tool versions. These tool versions are assigned when a Release is created without specifying tool versions.",
          "$ref": "ToolVersions",
          "readOnly": true
        }
      },
      "description": "Service-wide configuration.",
      "id": "Config",
      "type": "object"
    },
    "Metadata": {
      "description": "Metadata includes information associated with a `Rollout`.",
      "properties": {
        "automation": {
          "$ref": "AutomationRolloutMetadata",
          "readOnly": true,
          "description": "Output only. AutomationRolloutMetadata contains the information about the interactions between Automation service and this rollout."
        },
        "cloudRun": {
          "readOnly": true,
          "$ref": "CloudRunMetadata",
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`."
        },
        "custom": {
          "readOnly": true,
          "description": "Output only. Custom metadata provided by user-defined `Rollout` operations.",
          "$ref": "CustomMetadata"
        }
      },
      "type": "object",
      "id": "Metadata"
    },
    "DeployJobRunMetadata": {
      "type": "object",
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "properties": {
        "customTarget": {
          "description": "Output only. Custom Target metadata associated with a `DeployJobRun`.",
          "$ref": "CustomTargetDeployMetadata",
          "readOnly": true
        },
        "custom": {
          "readOnly": true,
          "$ref": "CustomMetadata",
          "description": "Output only. Custom metadata provided by user-defined deploy operation."
        },
        "cloudRun": {
          "readOnly": true,
          "$ref": "CloudRunMetadata",
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`."
        }
      },
      "id": "DeployJobRunMetadata"
    },
    "Release": {
      "properties": {
        "buildArtifacts": {
          "items": {
            "$ref": "BuildArtifact"
          },
          "description": "Optional. List of artifacts to pass through to Skaffold command.",
          "type": "array"
        },
        "skaffoldConfigUri": {
          "description": "Optional. Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the `Release`. Max length is 255 characters.",
          "type": "string"
        },
        "deployParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The deploy parameters to use for all targets in this release."
        },
        "renderEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the render completed."
        },
        "skaffoldVersion": {
          "description": "Optional. The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "targetSnapshots": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Snapshot of the targets taken at release creation time."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `Release`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}`. The `release` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`"
        },
        "labels": {
          "type": "object",
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "ReleaseCondition",
          "description": "Output only. Information around the state of the Release.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `Release`.",
          "readOnly": true
        },
        "renderState": {
          "description": "Output only. Current state of the render operation.",
          "readOnly": true,
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "type": "string",
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "deliveryPipelineSnapshot": {
          "$ref": "DeliveryPipeline",
          "readOnly": true,
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time."
        },
        "targetArtifacts": {
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "additionalProperties": {
            "$ref": "TargetArtifact"
          },
          "type": "object",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the `Release` was created."
        },
        "abandoned": {
          "type": "boolean",
          "description": "Output only. Indicates whether this is an abandoned release.",
          "readOnly": true
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "targetRenders": {
          "additionalProperties": {
            "$ref": "TargetRender"
          },
          "type": "object",
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "readOnly": true
        },
        "renderStartTime": {
          "type": "string",
          "description": "Output only. Time at which the render began.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "skaffoldConfigPath": {
          "type": "string",
          "description": "Optional. Filepath of the Skaffold config inside of the config URI."
        },
        "customTargetTypeSnapshots": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CustomTargetType"
          },
          "description": "Output only. Snapshot of the custom target types referenced by the targets taken at release creation time."
        },
        "toolVersions": {
          "$ref": "ToolVersions",
          "description": "Optional. The tool versions to use for this release and all subsequent operations involving this release. If unset, tool versions are frozen when the release is created."
        }
      },
      "description": "A `Release` resource in the Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "id": "Release",
      "type": "object"
    },
    "RepairPhaseConfig": {
      "id": "RepairPhaseConfig",
      "type": "object",
      "description": "Configuration of the repair phase.",
      "properties": {
        "retry": {
          "$ref": "Retry",
          "description": "Optional. Retries a failed job."
        },
        "rollback": {
          "description": "Optional. Rolls back a `Rollout`.",
          "$ref": "Rollback"
        }
      }
    },
    "RolloutUpdateEvent": {
      "properties": {
        "releaseUid": {
          "description": "Unique identifier of the release.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a rollout update event occurs.",
          "type": "string"
        },
        "rollout": {
          "description": "The name of the rollout. rollout_uid is not in this log message because we write some of these log messages at rollout creation time, before we've generated the uid.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a rollout update event.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "pipelineUid": {
          "description": "Unique identifier of the pipeline.",
          "type": "string"
        },
        "rolloutUpdateType": {
          "enum": [
            "ROLLOUT_UPDATE_TYPE_UNSPECIFIED",
            "PENDING",
            "PENDING_RELEASE",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "HALTED",
            "SUCCEEDED",
            "FAILED",
            "APPROVAL_REQUIRED",
            "APPROVED",
            "REJECTED",
            "ADVANCE_REQUIRED",
            "ADVANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Rollout update type unspecified.",
            "Rollout state updated to pending (release has succeeded, waiting on the rollout to start).",
            "Rollout state updated to pending release.",
            "Rollout state updated to in progress.",
            "Rollout state updated to cancelling.",
            "Rollout state updated to cancelled.",
            "Rollout state updated to halted.",
            "Rollout state updated to succeeded.",
            "Rollout state updated to failed.",
            "Rollout requires approval.",
            "Rollout has been approved.",
            "Rollout has been rejected.",
            "Rollout requires advance to the next phase.",
            "Rollout has been advanced."
          ],
          "description": "The type of the rollout update."
        },
        "targetId": {
          "description": "ID of the target.",
          "type": "string"
        },
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        }
      },
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_update\" Platform Log event that describes the rollout update event.",
      "id": "RolloutUpdateEvent"
    },
    "AdvanceChildRolloutJob": {
      "properties": {},
      "description": "An advanceChildRollout Job.",
      "type": "object",
      "id": "AdvanceChildRolloutJob"
    },
    "PostdeployJobRun": {
      "description": "PostdeployJobRun contains information specific to a postdeploy `JobRun`.",
      "type": "object",
      "id": "PostdeployJobRun",
      "properties": {
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata containing information about the postdeploy `JobRun`.",
          "$ref": "PostdeployJobRunMetadata"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to execute the custom actions associated with the postdeploy Job. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string",
          "readOnly": true
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the postdeploy failure, if available.",
          "readOnly": true
        },
        "failureCause": {
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "description": "Output only. The reason the postdeploy failed. This will always be unspecified while the postdeploy is in progress or if it succeeded.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The postdeploy operation did not complete successfully; check Cloud Build logs.",
            "The postdeploy job run did not complete within the allotted time.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details."
          ]
        }
      }
    },
    "ListTargetsResponse": {
      "id": "ListTargetsResponse",
      "type": "object",
      "description": "The response object from `ListTargets`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "The `Target` objects.",
          "type": "array"
        }
      }
    },
    "AutomationRolloutMetadata": {
      "type": "object",
      "id": "AutomationRolloutMetadata",
      "description": "AutomationRolloutMetadata contains Automation-related actions that were performed on a rollout.",
      "properties": {
        "promoteAutomationRun": {
          "description": "Output only. The name of the AutomationRun initiated by a promote release rule.",
          "readOnly": true,
          "type": "string"
        },
        "advanceAutomationRuns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The names of the AutomationRuns initiated by an advance rollout rule."
        },
        "repairAutomationRuns": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the AutomationRuns initiated by a repair rollout rule."
        }
      }
    },
    "ToolVersionSupportedCondition": {
      "type": "object",
      "description": "ToolVersionSupportedCondition contains information about when support for the release's version of a tool ends.",
      "properties": {
        "status": {
          "description": "Output only. True if the version of Tool used by this release is supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "maintenanceModeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this release's version of the tool will enter maintenance mode."
        },
        "supportExpirationTime": {
          "readOnly": true,
          "description": "Output only. The time at which this release's version of the tool will no longer be supported.",
          "format": "google-datetime",
          "type": "string"
        },
        "toolVersionSupportState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This tool version is currently supported.",
            "This tool version is in maintenance mode.",
            "This tool version is no longer supported."
          ],
          "readOnly": true,
          "enum": [
            "TOOL_VERSION_SUPPORT_STATE_UNSPECIFIED",
            "TOOL_VERSION_SUPPORT_STATE_SUPPORTED",
            "TOOL_VERSION_SUPPORT_STATE_MAINTENANCE_MODE",
            "TOOL_VERSION_SUPPORT_STATE_UNSUPPORTED"
          ],
          "description": "Output only. The tool support state for this release's version of the tool."
        }
      },
      "id": "ToolVersionSupportedCondition"
    },
    "DeployPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the `DeployPolicy`. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`. The `deployPolicy` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. Annotations must meet the following constraints: * Annotations are key/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (`/`). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(`.`), not longer than 253 characters in total, followed by a slash (`/`). See https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "selectors": {
          "description": "Required. Selected resources to which the policy will be applied. At least one selector is required. If one selector matches the resource the policy applies. For example, if there are two selectors and the action being attempted matches one of them, the policy will apply to that action.",
          "type": "array",
          "items": {
            "$ref": "DeployPolicyResourceSelector"
          }
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `DeployPolicy`."
        },
        "suspended": {
          "description": "Optional. When suspended, the policy will not prevent actions from occurring, even if the action violates the policy.",
          "type": "boolean"
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Most recent time at which the deploy policy was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the deploy policy was created.",
          "format": "google-datetime"
        },
        "rules": {
          "description": "Required. Rules to apply. At least one rule must be present.",
          "type": "array",
          "items": {
            "$ref": "PolicyRule"
          }
        },
        "description": {
          "description": "Optional. Description of the `DeployPolicy`. Max length is 255 characters.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The weak etag of the `DeployPolicy` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      },
      "description": "A `DeployPolicy` resource in the Cloud Deploy API. A `DeployPolicy` inhibits manual or automation-driven actions within a Delivery Pipeline or Target.",
      "id": "DeployPolicy"
    },
    "RetryAttempt": {
      "description": "RetryAttempt represents an action of retrying the failed Cloud Deploy job.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "description": "Output only. Valid state of this retry action.",
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ],
          "readOnly": true
        },
        "attempt": {
          "readOnly": true,
          "description": "Output only. The index of this retry attempt.",
          "type": "string",
          "format": "int64"
        },
        "wait": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. How long the operation will be paused.",
          "format": "google-duration"
        },
        "stateDesc": {
          "type": "string",
          "description": "Output only. Description of the state of the Retry.",
          "readOnly": true
        }
      },
      "id": "RetryAttempt"
    },
    "CustomTargetType": {
      "type": "object",
      "id": "CustomTargetType",
      "properties": {
        "customActions": {
          "$ref": "CustomTargetSkaffoldActions",
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using Skaffold custom actions."
        },
        "name": {
          "description": "Identifier. Name of the `CustomTargetType`. Format is `projects/{project}/locations/{location}/customTargetTypes/{customTargetType}`. The `customTargetType` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "customTargetTypeId": {
          "description": "Output only. Resource id of the `CustomTargetType`.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `CustomTargetType`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the `CustomTargetType` was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Time at which the `CustomTargetType` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tasks": {
          "$ref": "CustomTargetTasks",
          "description": "Optional. Configures render and deploy for the `CustomTargetType` using tasks."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `CustomTargetType`. Max length is 255 characters."
        }
      },
      "description": "A `CustomTargetType` resource in the Cloud Deploy API. A `CustomTargetType` defines a type of custom target that can be referenced in a `Target` in order to facilitate deploying to other systems besides the supported runtimes."
    },
    "TimedPromoteReleaseCondition": {
      "id": "TimedPromoteReleaseCondition",
      "description": "`TimedPromoteReleaseCondition` contains conditions specific to an Automation with a Timed Promote Release rule defined.",
      "type": "object",
      "properties": {
        "targetsList": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Targets"
          },
          "description": "Output only. A list of targets involved in the upcoming timed promotion(s)."
        },
        "nextPromotionTime": {
          "type": "string",
          "description": "Output only. When the next scheduled promotion(s) will occur.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ApproveRolloutResponse": {
      "description": "The response object from `ApproveRollout`.",
      "properties": {},
      "id": "ApproveRolloutResponse",
      "type": "object"
    },
    "ListJobRunsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jobRuns": {
          "type": "array",
          "description": "The `JobRun` objects.",
          "items": {
            "$ref": "JobRun"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListJobRunsResponse",
      "type": "object",
      "description": "ListJobRunsResponse is the response object returned by `ListJobRuns`."
    },
    "AssociatedEntities": {
      "type": "object",
      "id": "AssociatedEntities",
      "properties": {
        "anthosClusters": {
          "description": "Optional. Information specifying Anthos clusters as associated entities.",
          "type": "array",
          "items": {
            "$ref": "AnthosCluster"
          }
        },
        "gkeClusters": {
          "items": {
            "$ref": "GkeCluster"
          },
          "description": "Optional. Information specifying GKE clusters as associated entities.",
          "type": "array"
        }
      },
      "description": "Information about entities associated with a `Target`."
    },
    "PrivatePool": {
      "description": "Execution using a private Cloud Build pool.",
      "type": "object",
      "id": "PrivatePool",
      "properties": {
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        }
      }
    },
    "SkaffoldGCBRepoSource": {
      "type": "object",
      "id": "SkaffoldGCBRepoSource",
      "properties": {
        "ref": {
          "type": "string",
          "description": "Optional. Branch or tag to use when cloning the repository."
        },
        "path": {
          "description": "Optional. Relative path from the repository root to the Skaffold Config file.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Required. Name of the Cloud Build V2 Repository. Format is projects/{project}/locations/{location}/connections/{connection}/repositories/{repository}."
        }
      },
      "description": "Cloud Build V2 Repository containing Skaffold Configs."
    },
    "TargetsPresentCondition": {
      "description": "`TargetsPresentCondition` contains information on any Targets referenced in the Delivery Pipeline that do not actually exist.",
      "id": "TargetsPresentCondition",
      "properties": {
        "status": {
          "description": "True if there aren't any missing Targets.",
          "type": "boolean"
        },
        "missingTargets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of Target names that do not exist. For example, `projects/{project_id}/locations/{location_name}/targets/{target_name}`."
        },
        "updateTime": {
          "description": "Last time the condition was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Date": {
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object"
    },
    "DeliveryPipelineAttribute": {
      "id": "DeliveryPipelineAttribute",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "DeliveryPipeline labels."
        },
        "id": {
          "description": "Optional. ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name * \"*\", all delivery pipelines in a location",
          "type": "string"
        }
      },
      "description": "Contains criteria for selecting DeliveryPipelines."
    },
    "RouteDestinations": {
      "type": "object",
      "description": "Information about route destinations for the Gateway API service mesh.",
      "id": "RouteDestinations",
      "properties": {
        "propagateService": {
          "type": "boolean",
          "description": "Optional. Whether to propagate the Kubernetes Service to the route destination clusters. The Service will always be deployed to the Target cluster even if the HTTPRoute is not. This option may be used to facilitate successful DNS lookup in the route destination clusters. Can only be set to true if destinations are specified."
        },
        "destinationIds": {
          "description": "Required. The clusters where the Gateway API HTTPRoute resource will be deployed to. Valid entries include the associated entities IDs configured in the Target resource and \"@self\" to include the Target cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReleaseRenderEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change.",
      "type": "object",
      "id": "ReleaseRenderEvent",
      "properties": {
        "releaseRenderState": {
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "type": "string",
          "description": "The state of the release render."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a release render state change event."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states."
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "release": {
          "description": "The name of the release. release_uid is not in this log message because we write some of these log messages at release creation time, before we've generated the uid.",
          "type": "string"
        }
      }
    },
    "Retry": {
      "description": "Retries the failed job.",
      "type": "object",
      "properties": {
        "backoffMode": {
          "type": "string",
          "enumDescriptions": [
            "No WaitMode is specified.",
            "Increases the wait time linearly.",
            "Increases the wait time exponentially."
          ],
          "description": "Optional. The pattern of how wait time will be increased. Default is linear. Backoff mode will be ignored if `wait` is 0.",
          "enum": [
            "BACKOFF_MODE_UNSPECIFIED",
            "BACKOFF_MODE_LINEAR",
            "BACKOFF_MODE_EXPONENTIAL"
          ]
        },
        "wait": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. How long to wait for the first retry. Default is 0, and the maximum value is 14d."
        },
        "attempts": {
          "type": "string",
          "format": "int64",
          "description": "Required. Total number of retries. Retry is skipped if set to 0; The minimum value is 1, and the maximum value is 10."
        }
      },
      "id": "Retry"
    },
    "CustomTargetTasks": {
      "id": "CustomTargetTasks",
      "properties": {
        "deploy": {
          "description": "Required. The task responsible for deploy operations.",
          "$ref": "Task"
        },
        "render": {
          "$ref": "Task",
          "description": "Optional. The task responsible for render operations. If not provided then Cloud Deploy will perform its default rendering operation."
        }
      },
      "type": "object",
      "description": "CustomTargetTasks represents the `CustomTargetType` configuration using tasks."
    },
    "Verify": {
      "id": "Verify",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the verify job. The tasks are executed sequentially in the order specified."
        }
      },
      "type": "object",
      "description": "Verify contains the verify job configuration information."
    },
    "SerialPipeline": {
      "type": "object",
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "id": "SerialPipeline",
      "properties": {
        "stages": {
          "type": "array",
          "description": "Optional. Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "items": {
            "$ref": "Stage"
          }
        }
      }
    },
    "Strategy": {
      "description": "Strategy contains deployment strategy information.",
      "id": "Strategy",
      "properties": {
        "canary": {
          "$ref": "Canary",
          "description": "Optional. Canary deployment strategy provides progressive percentage based deployments to a Target."
        },
        "standard": {
          "description": "Optional. Standard deployment strategy executes a single deploy and allows verifying the deployment.",
          "$ref": "Standard"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "Stage": {
      "type": "object",
      "description": "Stage specifies a location to which to deploy.",
      "id": "Stage",
      "properties": {
        "strategy": {
          "description": "Optional. The strategy to use for a `Rollout` to this stage.",
          "$ref": "Strategy"
        },
        "deployParameters": {
          "description": "Optional. The deploy parameters to use for the target in this stage.",
          "type": "array",
          "items": {
            "$ref": "DeployParameters"
          }
        },
        "targetId": {
          "description": "Optional. The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects/project/locations/location/targets/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`.",
          "type": "string"
        },
        "profiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Skaffold profiles to use when rendering the manifest for this stage's `Target`."
        }
      }
    },
    "PhaseArtifact": {
      "type": "object",
      "id": "PhaseArtifact",
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "properties": {
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "type": "string",
          "readOnly": true
        },
        "jobManifestsPath": {
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPath": {
          "readOnly": true,
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "type": "string"
        }
      }
    },
    "PolicyViolation": {
      "description": "Returned from an action if one or more policies were violated, and therefore the action was prevented. Contains information about what policies were violated and why.",
      "properties": {
        "policyViolationDetails": {
          "description": "Policy violation details.",
          "items": {
            "$ref": "PolicyViolationDetails"
          },
          "type": "array"
        }
      },
      "id": "PolicyViolation",
      "type": "object"
    },
    "RollbackAttempt": {
      "properties": {
        "stateDesc": {
          "description": "Output only. Description of the state of the Rollback.",
          "type": "string",
          "readOnly": true
        },
        "disableRollbackIfRolloutPending": {
          "readOnly": true,
          "description": "Output only. If active rollout exists on the target, abort this rollback.",
          "type": "boolean"
        },
        "destinationPhase": {
          "type": "string",
          "description": "Output only. The phase to which the rollout will be rolled back to.",
          "readOnly": true
        },
        "rolloutId": {
          "description": "Output only. ID of the rollback `Rollout` to create.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Valid state of this rollback action.",
          "enum": [
            "REPAIR_STATE_UNSPECIFIED",
            "REPAIR_STATE_SUCCEEDED",
            "REPAIR_STATE_CANCELLED",
            "REPAIR_STATE_FAILED",
            "REPAIR_STATE_IN_PROGRESS",
            "REPAIR_STATE_PENDING",
            "REPAIR_STATE_ABORTED"
          ],
          "enumDescriptions": [
            "The `repair` has an unspecified state.",
            "The `repair` action has succeeded.",
            "The `repair` action was cancelled.",
            "The `repair` action has failed.",
            "The `repair` action is in progress.",
            "The `repair` action is pending.",
            "The `repair` action was aborted."
          ],
          "type": "string"
        }
      },
      "description": "RollbackAttempt represents an action of rolling back a Cloud Deploy 'Target'.",
      "id": "RollbackAttempt",
      "type": "object"
    },
    "TerminateJobRunResponse": {
      "properties": {},
      "id": "TerminateJobRunResponse",
      "type": "object",
      "description": "The response object from `TerminateJobRun`."
    },
    "AutomationRule": {
      "description": "`AutomationRule` defines the automation activities.",
      "type": "object",
      "properties": {
        "advanceRolloutRule": {
          "description": "Optional. The `AdvanceRolloutRule` will automatically advance a successful Rollout.",
          "$ref": "AdvanceRolloutRule"
        },
        "repairRolloutRule": {
          "description": "Optional. The `RepairRolloutRule` will automatically repair a failed rollout.",
          "$ref": "RepairRolloutRule"
        },
        "timedPromoteReleaseRule": {
          "description": "Optional. The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule.",
          "$ref": "TimedPromoteReleaseRule"
        },
        "promoteReleaseRule": {
          "description": "Optional. `PromoteReleaseRule` will automatically promote a release from the current target to a specified target.",
          "$ref": "PromoteReleaseRule"
        }
      },
      "id": "AutomationRule"
    },
    "RetryJobRequest": {
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to retry belongs to.",
          "type": "string"
        },
        "jobId": {
          "description": "Required. The job ID for the Job to retry.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is `projects/{project}/locations/{location}/deployPolicies/{deployPolicy}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "RetryJobRequest",
      "description": "RetryJobRequest is the request object used by `RetryJob`."
    },
    "AutomationEvent": {
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/automation\" Platform Log event that describes the Automation related events.",
      "properties": {
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when there is an update on the AutomationRun. Provides further details about the resource creation or state change.",
          "type": "string"
        },
        "automation": {
          "type": "string",
          "description": "The name of the `AutomationRun`."
        }
      },
      "id": "AutomationEvent"
    },
    "TimedPromoteReleaseRule": {
      "id": "TimedPromoteReleaseRule",
      "description": "The `TimedPromoteReleaseRule` will automatically promote a release from the current target(s) to the specified target(s) on a configured schedule.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the rule. This ID must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
        },
        "destinationPhase": {
          "type": "string",
          "description": "Optional. The starting phase of the rollout created by this rule. Default to the first phase."
        },
        "schedule": {
          "type": "string",
          "description": "Required. Schedule in crontab format. e.g. \"0 9 * * 1\" for every Monday at 9am."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone in IANA format [IANA Time Zone Database](https://www.iana.org/time-zones) (e.g. America/New_York)."
        },
        "condition": {
          "readOnly": true,
          "description": "Output only. Information around the state of the Automation rule.",
          "$ref": "AutomationRuleCondition"
        },
        "destinationTargetId": {
          "description": "Optional. The ID of the stage in the pipeline to which this `Release` is deploying. If unspecified, default it to the next stage in the promotion flow. The value of this field could be one of the following: * The last segment of a target name * \"@next\", the next target in the promotion sequence",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TargetNotificationEvent": {
      "properties": {
        "target": {
          "description": "The name of the `Target`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification.",
      "type": "object",
      "id": "TargetNotificationEvent"
    },
    "DeployPolicyEvaluationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/deploypolicy_evaluation\" Platform Log event that describes the deploy policy evaluation event.",
      "properties": {
        "deployPolicyUid": {
          "description": "Unique identifier of the `DeployPolicy`.",
          "type": "string"
        },
        "invoker": {
          "enum": [
            "INVOKER_UNSPECIFIED",
            "USER",
            "DEPLOY_AUTOMATION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The action is user-driven. For example, creating a rollout manually via a gcloud create command.",
            "Automated action by Cloud Deploy."
          ],
          "description": "What invoked the action (e.g. a user or automation).",
          "type": "string"
        },
        "deliveryPipeline": {
          "type": "string",
          "description": "The name of the `Delivery Pipeline`."
        },
        "rule": {
          "description": "Rule id.",
          "type": "string"
        },
        "allowed": {
          "type": "boolean",
          "description": "Whether the request is allowed. Allowed is set as true if: (1) the request complies with the policy; or (2) the request doesn't comply with the policy but the policy was overridden; or (3) the request doesn't comply with the policy but the policy was suspended"
        },
        "targetUid": {
          "description": "Unique identifier of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy.",
          "type": "string"
        },
        "overrides": {
          "description": "Things that could have overridden the policy verdict. Overrides together with verdict decide whether the request is allowed.",
          "items": {
            "enum": [
              "POLICY_VERDICT_OVERRIDE_UNSPECIFIED",
              "POLICY_OVERRIDDEN",
              "POLICY_SUSPENDED"
            ],
            "type": "string",
            "enumDescriptions": [
              "This should never happen.",
              "The policy was overridden.",
              "The policy was suspended."
            ]
          },
          "type": "array"
        },
        "target": {
          "type": "string",
          "description": "The name of the `Target`. This is an optional field, as a `Target` may not always be applicable to a policy."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a deploy policy event occurs."
        },
        "pipelineUid": {
          "description": "Unique identifier of the `Delivery Pipeline`.",
          "type": "string"
        },
        "verdict": {
          "enum": [
            "POLICY_VERDICT_UNSPECIFIED",
            "ALLOWED_BY_POLICY",
            "DENIED_BY_POLICY"
          ],
          "description": "The policy verdict of the request.",
          "type": "string",
          "enumDescriptions": [
            "This should never happen.",
            "Allowed by policy. This enum value is not currently used but may be used in the future. Currently logs are only generated when a request is denied by policy.",
            "Denied by policy."
          ]
        },
        "deployPolicy": {
          "description": "The name of the `DeployPolicy`.",
          "type": "string"
        },
        "ruleType": {
          "type": "string",
          "description": "Rule type (e.g. Restrict Rollouts)."
        }
      },
      "type": "object",
      "id": "DeployPolicyEvaluationEvent"
    },
    "ListDeployPoliciesResponse": {
      "type": "object",
      "properties": {
        "deployPolicies": {
          "type": "array",
          "items": {
            "$ref": "DeployPolicy"
          },
          "description": "The `DeployPolicy` objects."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListDeployPoliciesResponse",
      "description": "The response object from `ListDeployPolicies`."
    },
    "MultiTarget": {
      "description": "Information specifying a multiTarget.",
      "properties": {
        "targetIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The target_ids of this multiTarget."
        }
      },
      "type": "object",
      "id": "MultiTarget"
    },
    "BuildArtifact": {
      "description": "Description of an a image to use during Skaffold rendering.",
      "properties": {
        "image": {
          "description": "Optional. Image name in Skaffold configuration.",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "Optional. Image tag to use. This will generally be the full path to an image, such as \"gcr.io/my-project/busybox:1.2.3\" or \"gcr.io/my-project/busybox@sha256:abc123\"."
        }
      },
      "type": "object",
      "id": "BuildArtifact"
    },
    "CustomTargetTypeNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/customtargettype_notification\" Platform Log event that describes the failure to send a custom target type status change Pub/Sub notification.",
      "type": "object",
      "id": "CustomTargetTypeNotificationEvent",
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "customTargetTypeUid": {
          "type": "string",
          "description": "Unique identifier of the `CustomTargetType`."
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Resource state changed.",
            "A process aborted.",
            "Restriction check failed.",
            "Resource deleted.",
            "Rollout updated.",
            "Deploy Policy evaluation.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RESOURCE_STATE_CHANGE",
            "TYPE_PROCESS_ABORTED",
            "TYPE_RESTRICTION_VIOLATED",
            "TYPE_RESOURCE_DELETED",
            "TYPE_ROLLOUT_UPDATE",
            "TYPE_DEPLOY_POLICY_EVALUATION",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "customTargetType": {
          "description": "The name of the `CustomTargetType`.",
          "type": "string"
        }
      }
    },
    "Rollout": {
      "properties": {
        "approvalState": {
          "description": "Output only. Approval state of the `Rollout`.",
          "readOnly": true,
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ]
        },
        "controllerRollout": {
          "readOnly": true,
          "description": "Output only. Name of the `ControllerRollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`.",
          "type": "string"
        },
        "deployingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "rolledBackByRollouts": {
          "description": "Output only. Names of `Rollouts` that rolled back this `Rollout`.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approveTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` was approved.",
          "format": "google-datetime"
        },
        "targetId": {
          "type": "string",
          "description": "Required. The ID of Target to which this `Rollout` is deploying."
        },
        "state": {
          "description": "Output only. Current state of the `Rollout`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ],
          "type": "string"
        },
        "activeRepairAutomationRun": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The AutomationRun actively repairing the rollout."
        },
        "deployStartTime": {
          "type": "string",
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "format": "google-datetime",
          "readOnly": true
        },
        "enqueueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `Rollout`."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the `Rollout` for user purposes. Max length is 255 characters."
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. Additional information about the rollout failure, if available.",
          "readOnly": true
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "deployFailureCause": {
          "type": "string",
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED",
            "OPERATION_FEATURE_NOT_SUPPORTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](https://cloud.google.com/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the allotted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Cloud Deploy's request. See failure_message for additional details.",
            "A Rollout operation had a feature configured that is not supported."
          ]
        },
        "deployEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the `Rollout` finished deploying."
        },
        "phases": {
          "items": {
            "$ref": "Phase"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The phases that represent the workflows of this `Rollout`."
        },
        "name": {
          "description": "Identifier. Name of the `Rollout`. Format is `projects/{project}/locations/{location}/deliveryPipelines/{deliveryPipeline}/releases/{release}/rollouts/{rollout}`. The `rollout` component must match `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata contains information about the rollout.",
          "$ref": "Metadata"
        },
        "rollbackOfRollout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `Rollout` that is rolled back by this `Rollout`. Empty if this `Rollout` wasn't created as a rollback."
        }
      },
      "id": "Rollout",
      "type": "object",
      "description": "A `Rollout` resource in the Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`."
    },
    "ListAutomationsResponse": {
      "id": "ListAutomationsResponse",
      "properties": {
        "automations": {
          "items": {
            "$ref": "Automation"
          },
          "description": "The `Automation` objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "The response object from `ListAutomations`.",
      "type": "object"
    },
    "TargetsTypeCondition": {
      "id": "TargetsTypeCondition",
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type.",
      "properties": {
        "errorDetails": {
          "type": "string",
          "description": "Human readable error message."
        },
        "status": {
          "type": "boolean",
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters."
        }
      },
      "type": "object"
    },
    "Predeploy": {
      "properties": {
        "actions": {
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the predeploy job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tasks": {
          "description": "Optional. The tasks that will run as a part of the predeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        }
      },
      "id": "Predeploy",
      "type": "object",
      "description": "Predeploy contains the predeploy job configuration information."
    },
    "ChildRolloutJobs": {
      "description": "ChildRollouts job composition",
      "properties": {
        "createRolloutJobs": {
          "type": "array",
          "description": "Output only. List of CreateChildRolloutJobs",
          "readOnly": true,
          "items": {
            "$ref": "Job"
          }
        },
        "advanceRolloutJobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "readOnly": true,
          "description": "Output only. List of AdvanceChildRolloutJobs"
        }
      },
      "id": "ChildRolloutJobs",
      "type": "object"
    },
    "RepairRolloutRule": {
      "description": "The `RepairRolloutRule` automation rule will automatically repair a failed `Rollout`.",
      "properties": {
        "id": {
          "description": "Required. ID of the rule. This id must be unique in the `Automation` resource to which this rule belongs. The format is `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "condition": {
          "$ref": "AutomationRuleCondition",
          "description": "Output only. Information around the state of the 'Automation' rule.",
          "readOnly": true
        },
        "phases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Phases within which jobs are subject to automatic repair actions on failure. Proceeds only after phase name matched any one in the list, or for all phases if unspecified. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        },
        "jobs": {
          "description": "Optional. Jobs to repair. Proceeds only after job name matched any one in the list, or for all jobs if unspecified or empty. The phase that includes the job must match the phase ID specified in `source_phase`. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "repairPhases": {
          "description": "Required. Defines the types of automatic repair phases for failed jobs.",
          "items": {
            "$ref": "RepairPhaseConfig"
          },
          "type": "array"
        }
      },
      "id": "RepairRolloutRule",
      "type": "object"
    },
    "AnalysisJob": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "Output only. The amount of time in minutes the analysis Job will run, up to a maximum of 48 hours. If any check in this Job is still running when the duration ends, the Job keeps running until that check completes.",
          "readOnly": true,
          "type": "string"
        },
        "googleCloud": {
          "$ref": "GoogleCloudAnalysis",
          "description": "Output only. Google Cloud - based analysis checks that are run as part of the analysis Job.",
          "readOnly": true
        },
        "customChecks": {
          "type": "array",
          "description": "Output only. Custom analysis checks from 3P metric providers that are run as part of the analysis Job.",
          "items": {
            "$ref": "CustomCheck"
          },
          "readOnly": true
        }
      },
      "description": "An analysis Job.",
      "id": "AnalysisJob",
      "type": "object"
    },
    "Postdeploy": {
      "description": "Postdeploy contains the postdeploy job configuration information.",
      "id": "Postdeploy",
      "properties": {
        "actions": {
          "type": "array",
          "description": "Optional. A sequence of Skaffold custom actions to invoke during execution of the postdeploy job.",
          "items": {
            "type": "string"
          }
        },
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "description": "Optional. The tasks that will run as a part of the postdeploy job. The tasks are executed sequentially in the order specified. Only one of `actions` or `tasks` can be specified.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "RepairRolloutOperation": {
      "id": "RepairRolloutOperation",
      "type": "object",
      "description": "Contains the information for an automated `repair rollout` operation.",
      "properties": {
        "currentRepairPhaseIndex": {
          "readOnly": true,
          "description": "Output only. The index of the current repair action in the repair sequence.",
          "format": "int64",
          "type": "string"
        },
        "rollout": {
          "description": "Output only. The name of the rollout that initiates the `AutomationRun`.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "description": "Output only. The job ID for the Job to repair.",
          "type": "string",
          "readOnly": true
        },
        "phaseId": {
          "description": "Output only. The phase ID of the phase that includes the job being repaired.",
          "readOnly": true,
          "type": "string"
        },
        "repairPhases": {
          "type": "array",
          "description": "Output only. Records of the repair attempts. Each repair phase may have multiple retry attempts or single rollback attempt.",
          "items": {
            "$ref": "RepairPhase"
          },
          "readOnly": true
        }
      }
    },
    "VerifyJobRunMetadata": {
      "type": "object",
      "id": "VerifyJobRunMetadata",
      "description": "VerifyJobRunMetadata contains metadata about the verify `JobRun`.",
      "properties": {
        "custom": {
          "description": "Output only. Custom metadata provided by user-defined verify operation.",
          "$ref": "CustomMetadata",
          "readOnly": true
        }
      }
    },
    "Automation": {
      "id": "Automation",
      "type": "object",
[...]
