{
  "title": "Cloud Key Management Service (KMS) API",
  "revision": "20260409",
  "id": "cloudkms:v1",
  "canonicalName": "Cloud KMS",
  "name": "cloudkms",
  "endpoints": [
    {
      "endpointUrl": "https://cloudkms.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudkms.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudkms.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudkms.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudkms.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudkms.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.us-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudkms.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "in",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.in.rep.googleapis.com/"
    },
    {
      "location": "ca",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudkms.ca.rep.googleapis.com/"
    }
  ],
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "description": "Manages keys and performs cryptographic operations in a central cloud service, for direct use by other cloud resources and applications. ",
  "version_module": true,
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/kms/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "basePath": "",
  "resources": {
    "folders": {
      "methods": {
        "getKajPolicyConfig": {
          "description": "Gets the KeyAccessJustificationsPolicyConfig for a given organization, folder, or project.",
          "flatPath": "v1/folders/{foldersId}/kajPolicyConfig",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "KeyAccessJustificationsPolicyConfig"
          },
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Specifies the name of the KeyAccessJustificationsPolicyConfig to get.",
              "pattern": "^folders/[^/]+/kajPolicyConfig$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "cloudkms.folders.getKajPolicyConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ]
        },
        "getAutokeyConfig": {
          "id": "cloudkms.folders.getAutokeyConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Name of the AutokeyConfig resource, e.g. `folders/{FOLDER_NUMBER}/autokeyConfig` or `projects/{PROJECT_NUMBER}/autokeyConfig`.",
              "pattern": "^folders/[^/]+/autokeyConfig$"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "AutokeyConfig"
          },
          "flatPath": "v1/folders/{foldersId}/autokeyConfig",
          "parameterOrder": [
            "name"
          ],
          "description": "Returns the AutokeyConfig for a folder or project."
        },
        "updateKajPolicyConfig": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/folders/{foldersId}/kajPolicyConfig",
          "description": "Updates the KeyAccessJustificationsPolicyConfig for a given organization, folder, or project.",
          "request": {
            "$ref": "KeyAccessJustificationsPolicyConfig"
          },
          "response": {
            "$ref": "KeyAccessJustificationsPolicyConfig"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier. Represents the resource name for this KeyAccessJustificationsPolicyConfig in the format of \"{organizations|folders|projects}/*/kajPolicyConfig\".",
              "pattern": "^folders/[^/]+/kajPolicyConfig$"
            },
            "updateMask": {
              "description": "Optional. Specifies the list of fields to update.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "id": "cloudkms.folders.updateKajPolicyConfig",
          "httpMethod": "PATCH"
        },
        "updateAutokeyConfig": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/folders/{foldersId}/autokeyConfig",
          "description": "Updates the AutokeyConfig for a folder or a project. The caller must have both `cloudkms.autokeyConfigs.update` permission on the parent folder and `cloudkms.cryptoKeys.setIamPolicy` permission on the provided key project. A KeyHandle creation in the folder's descendant projects will use this configuration to determine where to create the resulting CryptoKey.",
          "request": {
            "$ref": "AutokeyConfig"
          },
          "response": {
            "$ref": "AutokeyConfig"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/autokeyConfig$",
              "description": "Identifier. Name of the AutokeyConfig resource, e.g. `folders/{FOLDER_NUMBER}/autokeyConfig` or `projects/{PROJECT_NUMBER}/autokeyConfig`.",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Required. Masks which fields of the AutokeyConfig to update, e.g. `keyProject`.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "id": "cloudkms.folders.updateAutokeyConfig",
          "httpMethod": "PATCH"
        }
      }
    },
    "projects": {
      "methods": {
        "showEffectiveAutokeyConfig": {
          "flatPath": "v1/projects/{projectsId}:showEffectiveAutokeyConfig",
          "parameterOrder": [
            "parent"
          ],
          "description": "Returns the effective Cloud KMS Autokey configuration for a given project.",
          "response": {
            "$ref": "ShowEffectiveAutokeyConfigResponse"
          },
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Name of the resource project to the show effective Cloud KMS Autokey configuration for. This may be helpful for interrogating the effect of nested folder configurations on a given resource project.",
              "pattern": "^projects/[^/]+$"
            }
          },
          "path": "v1/{+parent}:showEffectiveAutokeyConfig",
          "id": "cloudkms.projects.showEffectiveAutokeyConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "httpMethod": "GET"
        },
        "getKajPolicyConfig": {
          "flatPath": "v1/projects/{projectsId}/kajPolicyConfig",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the KeyAccessJustificationsPolicyConfig for a given organization, folder, or project.",
          "response": {
            "$ref": "KeyAccessJustificationsPolicyConfig"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Specifies the name of the KeyAccessJustificationsPolicyConfig to get.",
              "pattern": "^projects/[^/]+/kajPolicyConfig$"
            }
          },
          "path": "v1/{+name}",
          "id": "cloudkms.projects.getKajPolicyConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "httpMethod": "GET"
        },
        "updateKajPolicyConfig": {
          "request": {
            "$ref": "KeyAccessJustificationsPolicyConfig"
          },
          "response": {
            "$ref": "KeyAccessJustificationsPolicyConfig"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/kajPolicyConfig",
          "description": "Updates the KeyAccessJustificationsPolicyConfig for a given organization, folder, or project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "id": "cloudkms.projects.updateKajPolicyConfig",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/kajPolicyConfig$",
              "description": "Identifier. Represents the resource name for this KeyAccessJustificationsPolicyConfig in the format of \"{organizations|folders|projects}/*/kajPolicyConfig\"."
            },
            "updateMask": {
              "description": "Optional. Specifies the list of fields to update.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v1/{+name}"
        },
        "updateAutokeyConfig": {
          "response": {
            "$ref": "AutokeyConfig"
          },
          "request": {
            "$ref": "AutokeyConfig"
          },
          "description": "Updates the AutokeyConfig for a folder or a project. The caller must have both `cloudkms.autokeyConfigs.update` permission on the parent folder and `cloudkms.cryptoKeys.setIamPolicy` permission on the provided key project. A KeyHandle creation in the folder's descendant projects will use this configuration to determine where to create the resulting CryptoKey.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/autokeyConfig",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "id": "cloudkms.projects.updateAutokeyConfig",
          "path": "v1/{+name}",
          "parameters": {
            "updateMask": {
              "description": "Required. Masks which fields of the AutokeyConfig to update, e.g. `keyProject`.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "pattern": "^projects/[^/]+/autokeyConfig$",
              "description": "Identifier. Name of the AutokeyConfig resource, e.g. `folders/{FOLDER_NUMBER}/autokeyConfig` or `projects/{PROJECT_NUMBER}/autokeyConfig`.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "showEffectiveKeyAccessJustificationsEnrollmentConfig": {
          "response": {
            "$ref": "ShowEffectiveKeyAccessJustificationsEnrollmentConfigResponse"
          },
          "flatPath": "v1/projects/{projectsId}:showEffectiveKeyAccessJustificationsEnrollmentConfig",
          "parameterOrder": [
            "project"
          ],
          "description": "Returns the KeyAccessJustificationsEnrollmentConfig of the resource closest to the given project in hierarchy.",
          "id": "cloudkms.projects.showEffectiveKeyAccessJustificationsEnrollmentConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. Specifies the number or id of the project to get the effective KeyAccessJustificationsEnrollmentConfig for.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/{+project}:showEffectiveKeyAccessJustificationsEnrollmentConfig"
        },
        "showEffectiveKeyAccessJustificationsPolicyConfig": {
          "path": "v1/{+project}:showEffectiveKeyAccessJustificationsPolicyConfig",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Required. Specifies the number or id of the project to get the effective KeyAccessJustificationsPolicyConfig. In the format of \"projects/{|}\"",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "cloudkms.projects.showEffectiveKeyAccessJustificationsPolicyConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "description": "Returns the KeyAccessJustificationsPolicyConfig of the resource closest to the given project in hierarchy.",
          "flatPath": "v1/projects/{projectsId}:showEffectiveKeyAccessJustificationsPolicyConfig",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "ShowEffectiveKeyAccessJustificationsPolicyConfigResponse"
          }
        },
        "getAutokeyConfig": {
          "response": {
            "$ref": "AutokeyConfig"
          },
          "description": "Returns the AutokeyConfig for a folder or project.",
          "flatPath": "v1/projects/{projectsId}/autokeyConfig",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "cloudkms.projects.getAutokeyConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloudkms"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the AutokeyConfig resource, e.g. `folders/{FOLDER_NUMBER}/autokeyConfig` or `projects/{PROJECT_NUMBER}/autokeyConfig`.",
              "pattern": "^projects/[^/]+/autokeyConfig$",
              "type": "string",
              "required": true
            }
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "updateEkmConfig": {
              "id": "cloudkms.projects.locations.updateEkmConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloudkms"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Required. List of fields to be updated in this request.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/ekmConfig$",
                  "description": "Output only. The resource name for the EkmConfig in the format `projects/*/locations/*/ekmConfig`.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "EkmConfig"
              },
              "response": {
                "$ref": "EkmConfig"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConfig",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the EkmConfig singleton resource for a given project and location."
            },
            "list": {
              "httpMethod": "GET",
              "id": "cloudkms.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloudkms"
              ],
              "path": "v1/{+name}/locations",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            },
            "getEkmConfig": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloudkms"
              ],
              "id": "cloudkms.projects.locations.getEkmConfig",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/ekmConfig$",
                  "description": "Required. The name of the EkmConfig to get.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "EkmConfig"
              },
              "description": "Returns the EkmConfig singleton resource for a given project and location.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConfig"
            },
            "generateRandomBytes": {
              "parameters": {
                "location": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "The project-specific location in which to generate random bytes. For example, \"projects/my-project/locations/us-central1\".",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+location}:generateRandomBytes",
              "id": "cloudkms.projects.locations.generateRandomBytes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloudkms"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateRandomBytes",
              "parameterOrder": [
                "location"
              ],
              "description": "Generate random bytes using the Cloud KMS randomness source in the provided location.",
              "request": {
                "$ref": "GenerateRandomBytesRequest"
              },
              "response": {
                "$ref": "GenerateRandomBytesResponse"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloudkms"
              ],
              "id": "cloudkms.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "cloudkms.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "ekmConnections": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.ekmConnections.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. List of fields to be updated in this request.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ekmConnections/[^/]+$",
                      "description": "Output only. The resource name for the EkmConnection in the format `projects/*/locations/*/ekmConnections/*`."
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "EkmConnection"
                  },
                  "response": {
                    "$ref": "EkmConnection"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections/{ekmConnectionsId}",
                  "description": "Updates an EkmConnection's metadata."
                },
                "verifyConnectivity": {
                  "description": "Verifies that Cloud KMS can successfully connect to the external key manager specified by an EkmConnection. If there is an error connecting to the EKM, this method returns a FAILED_PRECONDITION status containing structured information as described at https://cloud.google.com/kms/docs/reference/ekm_errors.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections/{ekmConnectionsId}:verifyConnectivity",
                  "response": {
                    "$ref": "VerifyConnectivityResponse"
                  },
                  "path": "v1/{+name}:verifyConnectivity",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ekmConnections/[^/]+$",
                      "description": "Required. The name of the EkmConnection to verify.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.ekmConnections.verifyConnectivity"
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections/{ekmConnectionsId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "id": "cloudkms.projects.locations.ekmConnections.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ekmConnections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+resource}:testIamPermissions"
                },
                "create": {
                  "description": "Creates a new EkmConnection in a given Project and Location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections",
                  "response": {
                    "$ref": "EkmConnection"
                  },
                  "request": {
                    "$ref": "EkmConnection"
                  },
                  "path": "v1/{+parent}/ekmConnections",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the location associated with the EkmConnection, in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "ekmConnectionId": {
                      "type": "string",
                      "description": "Required. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.ekmConnections.create"
                },
                "list": {
                  "response": {
                    "$ref": "ListEkmConnectionsResponse"
                  },
                  "description": "Lists EkmConnections.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudkms.projects.locations.ekmConnections.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "path": "v1/{+parent}/ekmConnections",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Specify how the results should be sorted. If not specified, the results will be sorted in the default order. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the location associated with the EkmConnections to list, in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Optional limit on the number of EkmConnections to include in the response. Further EkmConnections can subsequently be obtained by including the ListEkmConnectionsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter in the response. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. Optional pagination token, returned earlier via ListEkmConnectionsResponse.next_page_token.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "setIamPolicy": {
                  "id": "cloudkms.projects.locations.ekmConnections.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ekmConnections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections/{ekmConnectionsId}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                },
                "get": {
                  "description": "Returns metadata for a given EkmConnection.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections/{ekmConnectionsId}",
                  "response": {
                    "$ref": "EkmConnection"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the EkmConnection to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ekmConnections/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.ekmConnections.get"
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ekmConnections/{ekmConnectionsId}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32"
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ekmConnections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.ekmConnections.getIamPolicy",
                  "httpMethod": "GET"
                }
              }
            },
            "singleTenantHsmInstances": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/singleTenantHsmInstances",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource name of the location associated with the SingleTenantHsmInstances to list, in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Optional limit on the number of SingleTenantHsmInstances to include in the response. Further SingleTenantHsmInstances can subsequently be obtained by including the ListSingleTenantHsmInstancesResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "showDeleted": {
                      "type": "boolean",
                      "description": "Optional. If set to true, HsmManagement.ListSingleTenantHsmInstances will also return SingleTenantHsmInstances in DELETED state.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter in the response. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Optional pagination token, returned earlier via ListSingleTenantHsmInstancesResponse.next_page_token.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Specify how the results should be sorted. If not specified, the results will be sorted in the default order. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.singleTenantHsmInstances.list",
                  "description": "Lists SingleTenantHsmInstances.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances",
                  "response": {
                    "$ref": "ListSingleTenantHsmInstancesResponse"
                  }
                },
                "get": {
                  "description": "Returns metadata for a given SingleTenantHsmInstance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances/{singleTenantHsmInstancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "SingleTenantHsmInstance"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/singleTenantHsmInstances/[^/]+$",
                      "description": "Required. The name of the SingleTenantHsmInstance to get."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "cloudkms.projects.locations.singleTenantHsmInstances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.singleTenantHsmInstances.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "singleTenantHsmInstanceId": {
                      "description": "Optional. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the location associated with the SingleTenantHsmInstance, in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/singleTenantHsmInstances",
                  "request": {
                    "$ref": "SingleTenantHsmInstance"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances",
                  "description": "Creates a new SingleTenantHsmInstance in a given Project and Location. User must create a RegisterTwoFactorAuthKeys proposal with this single-tenant HSM instance to finish setup of the instance."
                }
              },
              "resources": {
                "proposals": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.singleTenantHsmInstances.proposals.create",
                      "path": "v1/{+parent}/proposals",
                      "parameters": {
                        "singleTenantHsmInstanceProposalId": {
                          "description": "Optional. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/singleTenantHsmInstances/[^/]+$",
                          "description": "Required. The name of the SingleTenantHsmInstance associated with the SingleTenantHsmInstanceProposals.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "SingleTenantHsmInstanceProposal"
                      },
                      "description": "Creates a new SingleTenantHsmInstanceProposal for a given SingleTenantHsmInstance.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances/{singleTenantHsmInstancesId}/proposals"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.singleTenantHsmInstances.proposals.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the single tenant HSM instance associated with the SingleTenantHsmInstanceProposals to list, in the format `projects/*/locations/*/singleTenantHsmInstances/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/singleTenantHsmInstances/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Optional limit on the number of SingleTenantHsmInstanceProposals to include in the response. Further SingleTenantHsmInstanceProposals can subsequently be obtained by including the ListSingleTenantHsmInstanceProposalsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "showDeleted": {
                          "description": "Optional. If set to true, HsmManagement.ListSingleTenantHsmInstanceProposals will also return SingleTenantHsmInstanceProposals in DELETED state.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "description": "Optional. Optional pagination token, returned earlier via ListSingleTenantHsmInstanceProposalsResponse.next_page_token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Only include resources that match the filter in the response. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Specify how the results should be sorted. If not specified, the results will be sorted in the default order. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/proposals",
                      "response": {
                        "$ref": "ListSingleTenantHsmInstanceProposalsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances/{singleTenantHsmInstancesId}/proposals",
                      "description": "Lists SingleTenantHsmInstanceProposals."
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "cloudkms.projects.locations.singleTenantHsmInstances.proposals.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/singleTenantHsmInstances/[^/]+/proposals/[^/]+$",
                          "description": "Required. The name of the SingleTenantHsmInstanceProposal to delete.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a SingleTenantHsmInstanceProposal.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances/{singleTenantHsmInstancesId}/proposals/{proposalsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "approve": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/singleTenantHsmInstances/[^/]+/proposals/[^/]+$",
                          "description": "Required. The name of the SingleTenantHsmInstanceProposal to approve."
                        }
                      },
                      "path": "v1/{+name}:approve",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.singleTenantHsmInstances.proposals.approve",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances/{singleTenantHsmInstancesId}/proposals/{proposalsId}:approve",
                      "description": "Approves a SingleTenantHsmInstanceProposal for a given SingleTenantHsmInstance. The proposal must be in the PENDING state.",
                      "request": {
                        "$ref": "ApproveSingleTenantHsmInstanceProposalRequest"
                      },
                      "response": {
                        "$ref": "ApproveSingleTenantHsmInstanceProposalResponse"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "SingleTenantHsmInstanceProposal"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances/{singleTenantHsmInstancesId}/proposals/{proposalsId}",
                      "description": "Returns metadata for a given SingleTenantHsmInstanceProposal.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.singleTenantHsmInstances.proposals.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the SingleTenantHsmInstanceProposal to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/singleTenantHsmInstances/[^/]+/proposals/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "execute": {
                      "path": "v1/{+name}:execute",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/singleTenantHsmInstances/[^/]+/proposals/[^/]+$",
                          "description": "Required. The name of the SingleTenantHsmInstanceProposal to execute.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.singleTenantHsmInstances.proposals.execute",
                      "description": "Executes a SingleTenantHsmInstanceProposal for a given SingleTenantHsmInstance. The proposal must be in the APPROVED state.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/singleTenantHsmInstances/{singleTenantHsmInstancesId}/proposals/{proposalsId}:execute",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ExecuteSingleTenantHsmInstanceProposalRequest"
                      }
                    }
                  }
                }
              }
            },
            "retiredResources": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.retiredResources.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project-specific location holding the RetiredResources, in the format `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Optional limit on the number of RetiredResources to be included in the response. Further RetiredResources can subsequently be obtained by including the ListRetiredResourcesResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Optional pagination token, returned earlier via ListRetiredResourcesResponse.next_page_token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/retiredResources",
                  "response": {
                    "$ref": "ListRetiredResourcesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/retiredResources",
                  "description": "Lists the RetiredResources which are the records of deleted CryptoKeys. RetiredResources prevent the reuse of these resource names after deletion."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/retiredResources/[^/]+$",
                      "description": "Required. The name of the RetiredResource to get."
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "cloudkms.projects.locations.retiredResources.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/retiredResources/{retiredResourcesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a specific RetiredResource resource, which represents the record of a deleted CryptoKey.",
                  "response": {
                    "$ref": "RetiredResource"
                  }
                }
              }
            },
            "keyHandles": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyHandles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists KeyHandles.",
                  "response": {
                    "$ref": "ListKeyHandlesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the resource project and location from which to list KeyHandles, e.g. `projects/{PROJECT_ID}/locations/{LOCATION}`.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Optional limit on the number of KeyHandles to include in the response. The service may return fewer than this value. Further KeyHandles can subsequently be obtained by including the ListKeyHandlesResponse.next_page_token in a subsequent request. If unspecified, at most 100 KeyHandles will be returned.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. Filter to apply when listing KeyHandles, e.g. `resource_type_selector=\"{SERVICE}.googleapis.com/{TYPE}\"`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Optional pagination token, returned earlier via ListKeyHandlesResponse.next_page_token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/keyHandles",
                  "id": "cloudkms.projects.locations.keyHandles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.keyHandles.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the resource project and location to create the KeyHandle in, e.g. `projects/{PROJECT_ID}/locations/{LOCATION}`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "keyHandleId": {
                      "description": "Optional. Id of the KeyHandle. Must be unique to the resource project and location. If not provided by the caller, a new UUID is used.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/keyHandles",
                  "request": {
                    "$ref": "KeyHandle"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyHandles",
                  "description": "Creates a new KeyHandle, triggering the provisioning of a new CryptoKey for CMEK use with the given resource type in the configured key project and the same location. GetOperation should be used to resolve the resulting long-running operation and get the resulting KeyHandle and CryptoKey."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyHandles/{keyHandlesId}",
                  "description": "Returns the KeyHandle.",
                  "response": {
                    "$ref": "KeyHandle"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the KeyHandle resource, e.g. `projects/{PROJECT_ID}/locations/{LOCATION}/keyHandles/{KEY_HANDLE_ID}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keyHandles/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudkms"
                  ],
                  "id": "cloudkms.projects.locations.keyHandles.get",
                  "httpMethod": "GET"
                }
              }
            },
            "keyRings": {
              "resources": {
                "importJobs": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the KeyRing associated with the ImportJobs.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                          "location": "path"
                        },
                        "importJobId": {
                          "description": "Required. It must be unique within a KeyRing and match the regular expression `[a-zA-Z0-9_-]{1,63}`",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/importJobs",
                      "id": "cloudkms.projects.locations.keyRings.importJobs.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Create a new ImportJob within a KeyRing. ImportJob.import_method is required.",
                      "request": {
                        "$ref": "ImportJob"
                      },
                      "response": {
                        "$ref": "ImportJob"
                      }
                    },
                    "testIamPermissions": {
                      "path": "v1/{+resource}:testIamPermissions",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.keyRings.importJobs.testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}:testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListImportJobsResponse"
                      },
                      "description": "Lists ImportJobs.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.keyRings.importJobs.list",
                      "path": "v1/{+parent}/importJobs",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Specify how the results should be sorted. If not specified, the results will be sorted in the default order. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                          "description": "Required. The resource name of the KeyRing to list, in the format `projects/*/locations/*/keyRings/*`.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Optional limit on the number of ImportJobs to include in the response. Further ImportJobs can subsequently be obtained by including the ListImportJobsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Only include resources that match the filter in the response. For more information, see [Sorting and filtering list results](https://cloud.google.com/kms/docs/sorting-and-filtering).",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. Optional pagination token, returned earlier via ListImportJobsResponse.next_page_token.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "ImportJob"
                      },
                      "description": "Returns metadata for a given ImportJob.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "cloudkms.projects.locations.keyRings.importJobs.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                          "description": "Required. The name of the ImportJob to get.",
                          "location": "path"
                        }
                      }
                    },
                    "setIamPolicy": {
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "id": "cloudkms.projects.locations.keyRings.importJobs.setIamPolicy"
                    },
                    "getIamPolicy": {
                      "id": "cloudkms.projects.locations.keyRings.importJobs.getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudkms"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "path": "v1/{+resource}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                    }
                  }
                },
                "cryptoKeys": {
                  "resources": {
                    "cryptoKeyVersions": {
                      "methods": {
                        "asymmetricSign": {
                          "request": {
                            "$ref": "AsymmetricSignRequest"
                          },
                          "response": {
                            "$ref": "AsymmetricSignResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}:asymmetricSign",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Signs data using a CryptoKeyVersion with CryptoKey.purpose ASYMMETRIC_SIGN, producing a signature that can be verified with the public key retrieved from GetPublicKey.",
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.asymmetricSign",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                              "description": "Required. The resource name of the CryptoKeyVersion to use for signing.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}:asymmetricSign"
                        },
                        "import": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions:import",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Import wrapped key material into a CryptoKeyVersion. All requests must specify a CryptoKey. If a CryptoKeyVersion is additionally specified in the request, key material will be reimported into that version. Otherwise, a new version will be created, and will be assigned the next sequential id within the CryptoKey.",
                          "request": {
                            "$ref": "ImportCryptoKeyVersionRequest"
                          },
                          "response": {
                            "$ref": "CryptoKeyVersion"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                              "description": "Required. The name of the CryptoKey to be imported into. The create permission is only required on this key when creating a new CryptoKeyVersion.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+parent}/cryptoKeyVersions:import",
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.import",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "httpMethod": "POST"
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.get",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                              "description": "Required. The name of the CryptoKeyVersion to get.",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "CryptoKeyVersion"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}",
                          "description": "Returns metadata for a given CryptoKeyVersion."
                        },
                        "getPublicKey": {
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the CryptoKeyVersion public key to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "publicKeyFormat": {
                              "enum": [
                                "PUBLIC_KEY_FORMAT_UNSPECIFIED",
                                "PEM",
                                "DER",
                                "NIST_PQC",
                                "XWING_RAW_BYTES"
                              ],
                              "description": "Optional. The PublicKey format specified by the user. This field is required for PQC algorithms. If specified, the public key will be exported through the public_key field in the requested format. Otherwise, the pem field will be populated for non-PQC algorithms, and an error will be returned for PQC algorithms.",
                              "type": "string",
                              "enumDescriptions": [
                                "If the public_key_format field is not specified: - For PQC algorithms, an error will be returned. - For non-PQC algorithms, the default format is PEM, and the field pem will be populated. Otherwise, the public key will be exported through the public_key field in the requested format.",
                                "The returned public key will be encoded in PEM format. See the [RFC7468](https://tools.ietf.org/html/rfc7468) sections for [General Considerations](https://tools.ietf.org/html/rfc7468#section-2) and [Textual Encoding of Subject Public Key Info] (https://tools.ietf.org/html/rfc7468#section-13) for more information.",
                                "The returned public key will be encoded in DER format (the PrivateKeyInfo structure from RFC 5208).",
                                "This is supported only for PQC algorithms. The key material is returned in the format defined by NIST PQC standards (FIPS 203, FIPS 204, and FIPS 205).",
                                "The returned public key is in raw bytes format defined in its standard https://datatracker.ietf.org/doc/draft-connolly-cfrg-xwing-kem."
                              ],
                              "location": "query"
                            }
                          },
                          "path": "v1/{+name}/publicKey",
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.getPublicKey",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}/publicKey",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Returns the public key for the given CryptoKeyVersion. The CryptoKey.purpose must be ASYMMETRIC_SIGN or ASYMMETRIC_DECRYPT.",
                          "response": {
                            "$ref": "PublicKey"
                          }
                        },
                        "destroy": {
                          "request": {
                            "$ref": "DestroyCryptoKeyVersionRequest"
                          },
                          "response": {
                            "$ref": "CryptoKeyVersion"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}:destroy",
                          "description": "Schedule a CryptoKeyVersion for destruction. Upon calling this method, CryptoKeyVersion.state will be set to DESTROY_SCHEDULED, and destroy_time will be set to the time destroy_scheduled_duration in the future. At that time, the state will automatically change to DESTROYED, and the key material will be irrevocably destroyed. Before the destroy_time is reached, RestoreCryptoKeyVersion may be called to reverse the process.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.destroy",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                              "description": "Required. The resource name of the CryptoKeyVersion to destroy.",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}:destroy"
                        },
                        "create": {
                          "request": {
                            "$ref": "CryptoKeyVersion"
                          },
                          "response": {
                            "$ref": "CryptoKeyVersion"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions",
                          "description": "Create a new CryptoKeyVersion in a CryptoKey. The server will assign the next sequential id. If unset, state will be set to ENABLED.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.create",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the CryptoKey associated with the CryptoKeyVersions.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+parent}/cryptoKeyVersions"
                        },
                        "delete": {
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                              "description": "Required. The name of the CryptoKeyVersion to delete.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Permanently deletes the given CryptoKeyVersion. Only possible if the version has not been previously imported and if its state is one of DESTROYED, IMPORT_FAILED, or GENERATION_FAILED. Successfully imported CryptoKeyVersions cannot be deleted at this time. The specified version will be immediately and permanently deleted upon calling this method. This action cannot be undone."
                        },
                        "restore": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
                          ],
                          "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.restore",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                              "description": "Required. The resource name of the CryptoKeyVersion to restore.",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}:restore",
                          "request": {
                            "$ref": "RestoreCryptoKeyVersionRequest"
                          },
                          "response": {
                            "$ref": "CryptoKeyVersion"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}:restore",
                          "description": "Restore a CryptoKeyVersion in the DESTROY_SCHEDULED state. Upon restoration of the CryptoKeyVersion, state will be set to DISABLED, and destroy_time will be cleared."
                        },
                        "macVerify": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloudkms"
[...]
