{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "discoveryVersion": "v1",
  "id": "cloudbuild:v2",
  "schemas": {
    "Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "type": "object",
      "id": "Probe",
      "properties": {
        "periodSeconds": {
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional",
          "format": "int32",
          "type": "integer"
        },
        "exec": {
          "$ref": "ExecAction",
          "description": "Optional. Exec specifies the action to take. +optional"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}."
        }
      },
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "type": "object"
    },
    "PipelineTask": {
      "properties": {
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "WorkspacePipelineTaskBinding"
          },
          "description": "Workspaces maps workspaces from the pipeline spec to the workspaces declared in the Task."
        },
        "retries": {
          "description": "Retries represents how many times this task should be retried in case of task failure.",
          "format": "int32",
          "type": "integer"
        },
        "taskRef": {
          "$ref": "TaskRef",
          "description": "Reference to a specific instance of a task."
        },
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "EmbeddedTask"
        },
        "timeout": {
          "description": "Time after which the TaskRun times out. Defaults to 1 hour. Specified TaskRun timeout should be less than 24h.",
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "description": "Name of the task.",
          "type": "string"
        },
        "runAfter": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "RunAfter is the list of PipelineTask names that should be executed before this Task executes. (Used to force a specific ordering in graph execution.)"
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params is a list of parameter names and values."
        },
        "whenExpressions": {
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "Conditions that need to be true for the task to run."
        }
      },
      "id": "PipelineTask",
      "type": "object",
      "description": "PipelineTask defines a task in a Pipeline."
    },
    "PropertySpec": {
      "id": "PropertySpec",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ],
          "description": "A type for the object.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ]
        }
      },
      "description": "PropertySpec holds information about a property in an object.",
      "type": "object"
    },
    "ExecAction": {
      "properties": {
        "command": {
          "description": "Optional. Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExecAction",
      "type": "object",
      "description": "ExecAction describes a \"run in container\" action."
    },
    "StepTemplate": {
      "type": "object",
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
      "properties": {
        "env": {
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Optional. Pod volumes to mount into the container's filesystem."
        }
      },
      "id": "StepTemplate"
    },
    "ParamValue": {
      "description": "Parameter value.",
      "type": "object",
      "id": "ParamValue",
      "properties": {
        "objectVal": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Value of the parameter if type is object."
        },
        "type": {
          "description": "Type of parameter.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "stringVal": {
          "type": "string",
          "description": "Value of the parameter if type is string."
        },
        "arrayVal": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Value of the parameter if type is array."
        }
      }
    },
    "InstallationState": {
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "type": "object",
      "id": "InstallationState",
      "properties": {
        "stage": {
          "readOnly": true,
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "description": "Output only. Current step of the installation process.",
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ]
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete."
        },
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PipelineRun": {
      "type": "object",
      "description": "Message describing PipelineRun object",
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. See https://google.aip.dev/128#annotations"
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params is a list of parameter names and values."
        },
        "childReferences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ChildStatusReference"
          },
          "description": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun."
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "WorkspaceBinding"
          },
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces."
        },
        "results": {
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PipelineRunResult"
          }
        },
        "gcbParams": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. GCB default params."
        },
        "provenance": {
          "$ref": "Provenance",
          "description": "Optional. Provenance configuration."
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV2Condition"
          },
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error."
        },
        "completionTime": {
          "description": "Output only. Time the pipeline completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the request to update the `PipelineRun` was received.",
          "format": "google-datetime"
        },
        "security": {
          "description": "Optional. Security configuration.",
          "$ref": "Security"
        },
        "skippedTasks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SkippedTask"
          },
          "description": "Output only. List of tasks that were skipped due to when expressions evaluating to false."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for the `PipelineRun`."
        },
        "record": {
          "description": "Output only. The `Record` of this `PipelineRun`. Format: `projects/{project}/locations/{location}/results/{result_id}/records/{record_id}`",
          "readOnly": true,
          "type": "string"
        },
        "pipelineRunStatus": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Cancelled status."
          ],
          "description": "Pipelinerun status the user can provide. Used for cancellation.",
          "type": "string",
          "enum": [
            "PIPELINE_RUN_STATUS_UNSPECIFIED",
            "PIPELINE_RUN_CANCELLED"
          ]
        },
        "timeouts": {
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline >= Timeouts.tasks + Timeouts.finally",
          "$ref": "TimeoutFields"
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the `PipelineRun` was received.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "workerPool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The WorkerPool used to run this PipelineRun."
        },
        "resolvedPipelineSpec": {
          "description": "Output only. The exact PipelineSpec used to instantiate the run.",
          "readOnly": true,
          "$ref": "PipelineSpec"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the pipeline is actually started.",
          "format": "google-datetime"
        },
        "workflow": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Workflow used to create this PipelineRun."
        },
        "serviceAccount": {
          "description": "Service account used in the Pipeline. Deprecated; please use security.service_account instead.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The `PipelineRun` name with format `projects/{project}/locations/{location}/pipelineRuns/{pipeline_run}`",
          "readOnly": true,
          "type": "string"
        },
        "pipelineSpec": {
          "$ref": "PipelineSpec",
          "description": "PipelineSpec defines the desired state of Pipeline."
        },
        "etag": {
          "description": "Needed for declarative-friendly resources.",
          "type": "string"
        },
        "finallyStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. FinallyStartTime is when all non-finally tasks have been completed and only finally tasks are being executed. +optional",
          "format": "google-datetime"
        },
        "pipelineSpecYaml": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Inline pipelineSpec yaml string, used by workflow run requests."
        },
        "worker": {
          "$ref": "Worker",
          "description": "Optional. Worker configuration."
        },
        "pipelineRef": {
          "$ref": "PipelineRef",
          "description": "PipelineRef refer to a specific instance of a Pipeline."
        }
      },
      "id": "PipelineRun"
    },
    "Sidecar": {
      "id": "Sidecar",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Sidecar."
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. Security options the container should be run with."
        },
        "env": {
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container."
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array."
        },
        "image": {
          "type": "string",
          "description": "Docker image name."
        },
        "readinessProbe": {
          "$ref": "Probe",
          "description": "Optional. Periodic probe of Sidecar service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        },
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        }
      },
      "description": "Sidecars run alongside the Task's step containers.",
      "type": "object"
    },
    "PipelineRef": {
      "id": "PipelineRef",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the Pipeline."
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver."
        },
        "resolver": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        }
      },
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "description": "Message for responding to get read/write token.",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "FetchReadWriteTokenResponse"
    },
    "GoogleDevtoolsCloudbuildV2Condition": {
      "id": "GoogleDevtoolsCloudbuildV2Condition",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ],
          "description": "Status of the condition.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ]
        },
        "message": {
          "description": "A human readable message indicating details about the transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another.",
          "format": "google-datetime"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the condition's last transition."
        },
        "type": {
          "type": "string",
          "description": "Type of condition."
        },
        "severity": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ],
          "description": "Severity with which to treat failures of this type of condition."
        }
      },
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "type": "object"
    },
    "BatchCreateRepositoriesResponse": {
      "id": "BatchCreateRepositoriesResponse",
      "properties": {
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "Repository resources created."
        }
      },
      "description": "Message for response of creating repositories in batch.",
      "type": "object"
    },
    "WorkspaceBinding": {
      "type": "object",
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        },
        "name": {
          "type": "string",
          "description": "Name of the workspace."
        },
        "subPath": {
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional",
          "type": "string"
        }
      },
      "id": "WorkspaceBinding"
    },
    "PipelineResult": {
      "type": "object",
      "description": "A value produced by a Pipeline.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the result."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the result."
        },
        "type": {
          "description": "Output only. The type of data that the result holds.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "value": {
          "description": "Output only. Value of the result.",
          "readOnly": true,
          "$ref": "ResultValue"
        }
      },
      "id": "PipelineResult"
    },
    "SkippedTask": {
      "type": "object",
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False.",
      "properties": {
        "whenExpressions": {
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask"
        },
        "name": {
          "description": "Name is the Pipeline Task name",
          "type": "string"
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason is the cause of the PipelineTask being skipped."
        }
      },
      "id": "SkippedTask"
    },
    "GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2OperationMetadata"
    },
    "EmptyDirVolumeSource": {
      "type": "object",
      "description": "Represents an empty Volume source.",
      "properties": {},
      "id": "EmptyDirVolumeSource"
    },
    "StepRef": {
      "properties": {
        "resolver": {
          "description": "Optional. Type of the resolver.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ]
        },
        "name": {
          "description": "Optional. Name of the step.",
          "type": "string"
        },
        "params": {
          "description": "Optional. Parameters used to control the resolution.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        }
      },
      "id": "StepRef",
      "type": "object",
      "description": "A reference to a remote Step, i.e. a StepAction."
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig",
      "properties": {
        "hostUri": {
          "type": "string",
          "description": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet."
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to GitLab Enterprise.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access."
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the `api` scope access.",
          "$ref": "UserCredential"
        }
      },
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
      "type": "object"
    },
    "WorkspacePipelineTaskBinding": {
      "type": "object",
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task.",
      "properties": {
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        },
        "name": {
          "type": "string",
          "description": "Name of the workspace as declared by the task."
        },
        "workspace": {
          "type": "string",
          "description": "Name of the workspace declared by the pipeline."
        }
      },
      "id": "WorkspacePipelineTaskBinding"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "PipelineWorkspaceDeclaration": {
      "properties": {
        "name": {
          "description": "Name is the name of a workspace to be provided by a PipelineRun.",
          "type": "string"
        },
        "description": {
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline.",
          "type": "string"
        },
        "optional": {
          "type": "boolean",
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required."
        }
      },
      "id": "PipelineWorkspaceDeclaration",
      "type": "object",
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "Step": {
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "type": "object",
      "id": "Step",
      "properties": {
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "onError": {
          "description": "Optional. OnError defines the exiting behavior on error can be set to [ continue | stopAndFail ]",
          "type": "string",
          "enum": [
            "ON_ERROR_TYPE_UNSPECIFIED",
            "STOP_AND_FAIL",
            "CONTINUE"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "StopAndFail indicates exit if the step/task exits with non-zero exit code",
            "Continue indicates continue executing the rest of the steps/tasks irrespective of the exit code"
          ]
        },
        "ref": {
          "$ref": "StepRef",
          "description": "Optional. Optional reference to a remote StepAction."
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "command": {
          "description": "Entrypoint array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Optional. Optional parameters passed to the StepAction."
        },
        "env": {
          "description": "List of environment variables to set in the container.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional"
        },
        "timeout": {
          "type": "string",
          "description": "Time after which the Step times out. Defaults to never.",
          "format": "google-duration"
        },
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint."
        }
      }
    },
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "properties": {
        "secretName": {
          "description": "Name of the secret referenced by the WorkspaceBinding.",
          "type": "string"
        },
        "secretVersion": {
          "type": "string",
          "description": "Optional. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        }
      },
      "description": "Secret Volume Source.",
      "type": "object"
    },
    "ParamSpec": {
      "type": "object",
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the ParamSpec"
        },
        "description": {
          "description": "Description of the ParamSpec",
          "type": "string"
        },
        "default": {
          "description": "The default value a parameter takes if no input value is supplied",
          "$ref": "ParamValue"
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type.",
            "Object type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Type of ParamSpec"
        }
      },
      "id": "ParamSpec"
    },
    "FetchLinkableRepositoriesResponse": {
      "id": "FetchLinkableRepositoriesResponse",
      "properties": {
        "repositories": {
          "description": "repositories ready to be created.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for FetchLinkableRepositories.",
      "type": "object"
    },
    "OAuthCredential": {
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object",
      "id": "OAuthCredential",
      "properties": {
        "oauthTokenSecretVersion": {
          "type": "string",
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
        },
        "username": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The username associated to this token."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "Repository": {
      "type": "object",
      "description": "A repository associated to a parent connection.",
      "properties": {
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "format": "google-datetime"
        },
        "webhookId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. External ID of the webhook created for the repository."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`."
        },
        "remoteUri": {
          "type": "string",
          "description": "Required. Git Clone HTTPS URI."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      },
      "id": "Repository"
    },
    "WhenExpression": {
      "properties": {
        "expressionOperator": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ],
          "description": "Operator that represents an Input's relationship to the values",
          "type": "string",
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values is an array of strings, which is compared against the input, for guard checking."
        }
      },
      "id": "WhenExpression",
      "type": "object",
      "description": "Conditions that need to be true for the task to run."
    },
    "EmbeddedTask": {
      "type": "object",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "properties": {
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "TaskSpec"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. See https://google.aip.dev/128#annotations"
        }
      },
      "id": "EmbeddedTask"
    },
    "FetchReadWriteTokenRequest": {
      "description": "Message for fetching SCM read/write token.",
      "type": "object",
      "id": "FetchReadWriteTokenRequest",
      "properties": {}
    },
    "Worker": {
      "description": "Configuration for the worker.",
      "type": "object",
      "id": "Worker",
      "properties": {
        "machineType": {
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\".",
          "type": "string"
        }
      }
    },
    "FetchGitRefsResponse": {
      "description": "Response for fetching git refs",
      "type": "object",
      "id": "FetchGitRefsResponse",
      "properties": {
        "refNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "RunWorkflowCustomOperationMetadata": {
      "id": "RunWorkflowCustomOperationMetadata",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "pipelineRunId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the pipeline run created by RunWorkflow."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the custom metadata of the RunWorkflow long-running operation.",
      "type": "object"
    },
    "Connection": {
      "type": "object",
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "properties": {
        "bitbucketCloudConfig": {
          "$ref": "BitbucketCloudConfig",
          "description": "Configuration for connections to Bitbucket Cloud."
        },
        "githubConfig": {
          "$ref": "GitHubConfig",
          "description": "Configuration for connections to github.com."
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "format": "google-datetime"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true,
          "$ref": "InstallationState"
        },
        "name": {
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig"
        }
      },
      "id": "Connection"
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "id": "HttpBody",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        }
      }
    },
    "Provenance": {
      "type": "object",
      "description": "Provenance configuration.",
      "properties": {
        "storage": {
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "type": "string",
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ],
          "description": "Optional. Where provenance is stored."
        },
        "region": {
          "description": "Optional. Provenance region.",
          "type": "string",
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ],
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ]
        },
        "enabled": {
          "type": "string",
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "description": "Optional. Provenance push mode.",
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ]
        }
      },
      "id": "Provenance"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "description": "Message for response to listing Repositories.",
      "properties": {
        "repositories": {
          "description": "The list of Repositories.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListRepositoriesResponse"
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          },
          "description": "The list of Connections."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Message for response to listing Connections.",
      "type": "object"
    },
    "VolumeSource": {
      "id": "VolumeSource",
      "properties": {
        "emptyDir": {
          "description": "A temporary directory that shares a pod's lifetime.",
          "$ref": "EmptyDirVolumeSource"
        },
        "name": {
          "type": "string",
          "description": "Name of the Volume. Must be a DNS_LABEL and unique within the pod. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names"
        }
      },
      "description": "Volumes available to mount.",
      "type": "object"
    },
    "FetchReadTokenRequest": {
      "description": "Message for fetching SCM read token.",
      "type": "object",
      "id": "FetchReadTokenRequest",
      "properties": {}
    },
    "TaskSpec": {
      "properties": {
        "stepTemplate": {
          "$ref": "StepTemplate",
          "description": "Optional. StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container."
        },
        "sidecars": {
          "description": "Sidecars that run alongside the Task's step containers.",
          "type": "array",
          "items": {
            "$ref": "Sidecar"
          }
        },
        "volumes": {
          "description": "A collection of volumes that are available to mount into steps.",
          "type": "array",
          "items": {
            "$ref": "VolumeSource"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the task."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "TaskResult"
          },
          "description": "Values that this Task can output."
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "WorkspaceDeclaration"
          },
          "description": "The volumes that this Task requires."
        },
        "params": {
          "description": "List of parameters.",
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "Steps of the task."
        },
        "managedSidecars": {
          "description": "Sidecars that run alongside the Task’s step containers that should be added to this Task.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MANAGED_SIDECAR_UNSPECIFIED",
              "PRIVILEGED_DOCKER_DAEMON"
            ],
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "Sidecar for a privileged docker daemon."
            ]
          }
        }
      },
      "id": "TaskSpec",
      "type": "object",
      "description": "TaskSpec contains the Spec to instantiate a TaskRun."
    },
    "CreateRepositoryRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there."
        },
        "repository": {
          "description": "Required. The repository to create.",
          "$ref": "Repository"
        },
        "repositoryId": {
          "type": "string",
          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@."
        }
      },
      "id": "CreateRepositoryRequest",
      "type": "object",
      "description": "Message for creating a Repository."
    },
    "Param": {
      "id": "Param",
      "properties": {
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "ParamValue"
        }
      },
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object"
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "properties": {
        "authorizerCredential": {
          "description": "Required. A http access token with the `REPO_ADMIN` scope access.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_READ` access."
        },
        "serverVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`."
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to Bitbucket Data Center.",
      "type": "object"
    },
    "PipelineSpec": {
      "description": "PipelineSpec defines the desired state of Pipeline.",
      "type": "object",
      "id": "PipelineSpec",
      "properties": {
        "workspaces": {
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
          "type": "array",
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          }
        },
        "results": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PipelineResult"
          },
          "description": "Optional. Output only. List of results written out by the pipeline's containers"
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          },
          "description": "List of parameters."
        },
        "generatedYaml": {
          "description": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows.",
          "readOnly": true,
          "type": "string"
        },
        "finallyTasks": {
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          },
          "description": "List of Tasks that execute when this Pipeline is run."
        }
      }
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "properties": {
        "runAsNonRoot": {
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "privileged": {
          "type": "boolean",
          "description": "Run container in privileged mode."
        },
        "runAsUser": {
          "type": "string",
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "format": "int64"
        },
        "runAsGroup": {
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "format": "int64",
          "type": "string"
        },
        "allowPrivilegeEscalation": {
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "boolean"
        }
      },
      "description": "Security options the container should be run with.",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "TimeoutFields": {
      "type": "object",
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts",
      "properties": {
        "finally": {
          "type": "string",
          "description": "Finally sets the maximum allowed duration of this pipeline's finally",
          "format": "google-duration"
        },
        "pipeline": {
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value.",
          "format": "google-duration",
          "type": "string"
        },
        "tasks": {
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "TimeoutFields"
    },
    "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "properties": {
        "appSlug": {
          "type": "string",
          "description": "Optional. The URL-friendly name of the GitHub App."
        },
        "serverVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. GitHub Enterprise version installed at the host_uri."
        },
        "apiKey": {
          "description": "Required. API Key used for authentication of webhook events.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "Optional. Id of the GitHub App created from the manifest.",
          "format": "int64"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "appInstallationId": {
          "description": "Optional. ID of the installation of the GitHub App.",
          "format": "int64",
          "type": "string"
        },
        "privateKeySecretVersion": {
          "type": "string",
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*`."
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise."
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
      "type": "object",
      "description": "Configuration for connections to an instance of GitHub Enterprise."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "VolumeMount": {
      "id": "VolumeMount",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume."
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "subPathExpr": {
          "type": "string",
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root)."
        },
        "mountPath": {
          "type": "string",
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'."
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).",
          "type": "boolean"
        }
      },
      "description": "Pod volumes to mount into the container's filesystem.",
      "type": "object"
    },
    "FetchReadTokenResponse": {
      "id": "FetchReadTokenResponse",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Message for responding to get read token.",
      "type": "object"
    },
    "BatchCreateRepositoriesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the repositories to create.",
          "type": "array",
          "items": {
            "$ref": "CreateRepositoryRequest"
          }
        }
      },
      "id": "BatchCreateRepositoriesRequest",
      "type": "object",
      "description": "Message for creating repositoritories in batch."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "Security": {
      "id": "Security",
      "properties": {
        "privilegeMode": {
          "deprecated": true,
          "type": "string",
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "description": "Optional. Privilege mode.",
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "IAM service account whose credentials will be used at runtime."
        }
      },
      "description": "Security configuration.",
      "type": "object"
    },
    "ResultValue": {
      "description": "ResultValue holds different types of data for a single result.",
      "type": "object",
      "id": "ResultValue",
      "properties": {
        "objectVal": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Value of the result if type is object."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Output only. The type of data that the result holds.",
          "readOnly": true,
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "stringVal": {
          "description": "Value of the result if type is string.",
          "type": "string"
        },
        "arrayVal": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Value of the result if type is array."
        }
      }
    },
    "GitHubConfig": {
      "type": "object",
      "description": "Configuration for connections to github.com.",
      "properties": {
        "authorizerCredential": {
          "$ref": "OAuthCredential",
          "description": "Optional. OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App."
        },
        "appInstallationId": {
          "type": "string",
          "description": "Optional. GitHub App installation id.",
          "format": "int64"
        }
      },
      "id": "GitHubConfig"
    },
    "ChildStatusReference": {
      "id": "ChildStatusReference",
      "properties": {
        "pipelineTaskName": {
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing.",
          "type": "string"
        },
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "description": "Output only. Type of the child reference.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name is the name of the TaskRun or Run this is referencing."
        }
      },
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "type": "object"
    },
    "EnvVar": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the environment variable."
        },
        "name": {
          "type": "string",
          "description": "Name of the environment variable."
        }
      },
      "id": "EnvVar",
      "type": "object",
      "description": "Environment variable."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TaskRef": {
      "type": "object",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "resolver": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the task."
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver."
        }
      },
      "id": "TaskRef"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "WorkspaceDeclaration": {
      "properties": {
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        },
        "optional": {
          "type": "boolean",
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required."
        },
        "mountPath": {
          "type": "string",
          "description": "MountPath overrides the directory that the volume will be made available at."
        },
        "name": {
          "type": "string",
          "description": "Name is the name by which you can bind the volume at runtime."
        },
        "description": {
          "description": "Description is a human readable description of this volume.",
          "type": "string"
        }
      },
      "id": "WorkspaceDeclaration",
      "type": "object",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires."
    },
    "BitbucketCloudConfig": {
      "type": "object",
      "description": "Configuration for connections to Bitbucket Cloud.",
      "properties": {
        "readAuthorizerCredential": {
          "description": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "workspace": {
          "type": "string",
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        }
      },
      "id": "BitbucketCloudConfig"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "UserCredential": {
      "type": "object",
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "properties": {
        "username": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The username associated to this token."
        },
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "UserCredential"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "TaskResult": {
      "type": "object",
      "description": "TaskResult is used to describe the results of a task.",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PropertySpec"
          },
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds."
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "description": "The type of data that the result holds.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        },
        "value": {
          "$ref": "ParamValue",
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result."
        },
        "name": {
[...]
