{
  "discoveryVersion": "v1",
  "title": "Cloud Channel API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        },
        "https://www.googleapis.com/auth/apps.reports.usage.readonly": {
          "description": "View usage reports for your Google Workspace domain"
        }
      }
    }
  },
  "version": "v1",
  "resources": {
    "operations": {
      "methods": {
        "cancel": {
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "id": "cloudchannel.operations.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "path": "v1/{+name}:cancel"
        },
        "list": {
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "parameters": {
            "pageToken": {
              "description": "The standard list page token.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The standard list page size.",
              "format": "int32"
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "type": "boolean",
              "location": "query"
            },
            "name": {
              "location": "path",
              "pattern": "^operations$",
              "description": "The name of the operation's parent resource.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "id": "cloudchannel.operations.list"
        },
        "get": {
          "id": "cloudchannel.operations.get",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "path": "v1/{+name}",
          "id": "cloudchannel.operations.delete",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "reports": {
          "methods": {
            "run": {
              "description": "Begins generation of data for a given report. The report identifier is a UID (for example, `613bf59q`). Possible error codes: * PERMISSION_DENIED: The user doesn't have access to this report. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The report identifier was not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata contains an instance of OperationMetadata. To get the results of report generation, call CloudChannelReportsService.FetchReportResults with the RunReportJobResponse.report_job. Deprecated: Please use [Export Channel Services data to BigQuery](https://cloud.google.com/channel/docs/rebilling/export-data-to-bigquery) instead.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/reports/[^/]+$",
                  "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/accounts/{accountsId}/reports/{reportsId}:run",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1RunReportJobRequest"
              },
              "deprecated": true,
              "path": "v1/{+name}:run",
              "scopes": [
                "https://www.googleapis.com/auth/apps.reports.usage.readonly"
              ],
              "id": "cloudchannel.accounts.reports.run"
            },
            "list": {
              "flatPath": "v1/accounts/{accountsId}/reports",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1ListReportsResponse"
              },
              "description": "Lists the reports that RunReportJob can run. These reports include an ID, a description, and the list of columns that will be in the result. Deprecated: Please use [Export Channel Services data to BigQuery](https://cloud.google.com/channel/docs/rebilling/export-data-to-bigquery) instead.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size of the report. The server might return fewer results than requested. If unspecified, returns 20 reports. The maximum value is 100.",
                  "format": "int32",
                  "location": "query"
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response is localized to the corresponding language code if the original data sources support it. Default is \"en-US\".",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token that specifies a page of results beyond the first page. Obtained through ListReportsResponse.next_page_token of the previous CloudChannelReportsService.ListReports call."
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the partner account to list available reports for. Parent uses the format: accounts/{account_id}"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudchannel.accounts.reports.list",
              "path": "v1/{+parent}/reports",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/apps.reports.usage.readonly"
              ]
            }
          },
          "deprecated": true
        },
        "customers": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudChannelV1ListCustomersResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/customers",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}.",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filters applied to the [CloudChannelService.ListCustomers] results. See https://cloud.google.com/channel/docs/concepts/google-cloud/filter-customers for more information.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
              "id": "cloudchannel.accounts.customers.list",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+parent}/customers"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource.",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+name}",
              "id": "cloudchannel.accounts.customers.get"
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: * The reseller account making the request is different from the reseller account in the API request. * You are not authorized to create a customer. See https://support.google.com/channelservices/answer/9759265 * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
              "flatPath": "v1/accounts/{accountsId}/customers",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+parent}/customers",
              "id": "cloudchannel.accounts.customers.create"
            },
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes the given Customer permanently. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the customer to delete.",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudchannel.accounts.customers.delete",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "provisionCloudIdentity": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:provisionCloudIdentity",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
              },
              "description": "Creates a Cloud Identity for the given customer using the customer's information, or the information provided here. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller. * You are not authorized to provision cloud identity id. See https://support.google.com/channelservices/answer/9759265 * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer was not found. * ALREADY_EXISTS: The customer's primary email already exists. Retry after changing the customer's primary contact email. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata contains an instance of OperationMetadata.",
              "parameters": {
                "customer": {
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "required": true
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "cloudchannel.accounts.customers.provisionCloudIdentity",
              "path": "v1/{+customer}:provisionCloudIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "queryEligibleBillingAccounts": {
              "response": {
                "$ref": "GoogleCloudChannelV1QueryEligibleBillingAccountsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:queryEligibleBillingAccounts",
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "type": "string",
                  "description": "Required. The resource name of the customer to list eligible billing accounts for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "skus": {
                  "type": "string",
                  "description": "Required. List of SKUs to list eligible billing accounts for. At least one SKU is required. Format: products/{product_id}/skus/{sku_id}.",
                  "location": "query",
                  "repeated": true
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Lists the billing accounts that are eligible to purchase particular SKUs for a given customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: Based on the provided list of SKUs, returns a list of SKU groups that must be purchased using the same billing account and the billing accounts eligible to purchase each SKU group.",
              "id": "cloudchannel.accounts.customers.queryEligibleBillingAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+customer}:queryEligibleBillingAccounts"
            },
            "import": {
              "description": "Imports a Customer from the Cloud Identity associated with the provided Cloud Identity ID or domain before a TransferEntitlements call. If a linked Customer already exists and overwrite_if_exists is true, it will update that Customer's data. Possible error codes: * PERMISSION_DENIED: * The reseller account making the request is different from the reseller account in the API request. * You are not authorized to import the customer. See https://support.google.com/channelservices/answer/9759265 * NOT_FOUND: Cloud Identity doesn't exist or was deleted. * INVALID_ARGUMENT: Required parameters are missing, or the auth_token is expired or invalid. * ALREADY_EXISTS: A customer already exists and has conflicting critical fields. Requires an overwrite. Return value: The Customer.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the reseller's account. Parent takes the format: accounts/{account_id} or accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers:import",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1ImportCustomerRequest"
              },
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "path": "v1/{+parent}/customers:import",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "id": "cloudchannel.accounts.customers.import"
            },
            "transferEntitlements": {
              "id": "cloudchannel.accounts.customers.transferEntitlements",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+parent}:transferEntitlements",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlements",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the reseller's customer account that will receive transferred entitlements. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Transfers customer entitlements to new reseller. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller. * The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265 * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * Specify all transferring entitlements. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata."
            },
            "transferEntitlementsToGoogle": {
              "id": "cloudchannel.accounts.customers.transferEntitlementsToGoogle",
              "path": "v1/{+parent}:transferEntitlementsToGoogle",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlementsToGoogle",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Transfers customer entitlements from their current reseller to Google. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the reseller's customer account where the entitlements transfer from. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "listPurchasableOffers": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+customer}:listPurchasableOffers",
              "id": "cloudchannel.accounts.customers.listPurchasableOffers",
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the customer to list Offers for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path"
                },
                "changeOfferPurchase.newSku": {
                  "location": "query",
                  "description": "Optional. Resource name of the new target SKU. Provide this SKU when upgrading or downgrading an entitlement. Format: products/{product_id}/skus/{sku_id}",
                  "type": "string"
                },
                "changeOfferPurchase.billingAccount": {
                  "location": "query",
                  "description": "Optional. Resource name of the new target Billing Account. Provide this Billing Account when setting up billing for a trial subscription. Format: accounts/{account_id}/billingAccounts/{billing_account_id}. This field is only relevant for multi-currency accounts. It should be left empty for single currency accounts.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 Offers. The maximum value is 1000; the server will coerce values above 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "location": "query"
                },
                "changeOfferPurchase.entitlement": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                },
                "createEntitlementPurchase.sku": {
                  "location": "query",
                  "description": "Required. SKU that the result should be restricted to. Format: products/{product_id}/skus/{sku_id}.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token for a page of results other than the first page.",
                  "type": "string"
                },
                "createEntitlementPurchase.billingAccount": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Billing account that the result should be restricted to. Format: accounts/{account_id}/billingAccounts/{billing_account_id}."
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Lists the following: * Offers that you can purchase for a customer. * Offers that you can change for an entitlement. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller * The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265 * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableOffersResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableOffers",
              "httpMethod": "GET"
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "The update mask that applies to the resource. Optional.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource.",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+name}",
              "id": "cloudchannel.accounts.customers.patch"
            },
            "listPurchasableSkus": {
              "parameters": {
                "customer": {
                  "description": "Required. The resource name of the customer to list SKUs for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true
                },
                "changeOfferPurchase.entitlement": {
                  "type": "string",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "location": "query"
                },
                "changeOfferPurchase.changeType": {
                  "enumDescriptions": [
                    "Not used.",
                    "SKU is an upgrade on the current entitlement.",
                    "SKU is a downgrade on the current entitlement."
                  ],
                  "description": "Required. Change Type for the entitlement.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "CHANGE_TYPE_UNSPECIFIED",
                    "UPGRADE",
                    "DOWNGRADE"
                  ]
                },
                "pageToken": {
                  "description": "Optional. A token for a page of results other than the first page.",
                  "type": "string",
                  "location": "query"
                },
                "createEntitlementPurchase.product": {
                  "location": "query",
                  "description": "Required. List SKUs belonging to this Product. Format: products/{product_id}. Supports products/- to retrieve SKUs for all products.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Lists the following: * SKUs that you can purchase for a customer * SKUs that you can upgrade or downgrade for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableSkusResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableSkus",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+customer}:listPurchasableSkus",
              "id": "cloudchannel.accounts.customers.listPurchasableSkus"
            }
          },
          "resources": {
            "entitlements": {
              "methods": {
                "changeOffer": {
                  "id": "cloudchannel.accounts.customers.entitlements.changeOffer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}:changeOffer",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeOffer",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeOfferRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the Offer for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Offer or Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata."
                },
                "create": {
                  "id": "cloudchannel.accounts.customers.entitlements.create",
                  "path": "v1/{+parent}/entitlements",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CreateEntitlementRequest"
                  },
                  "description": "Creates an entitlement for a customer. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller. * The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265 * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * There is already a customer entitlement for a SKU from the same product family. * INVALID_VALUE: Make sure the OfferId is valid. If it is, contact Google Channel support for further troubleshooting. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: * The SKU was already purchased for the customer. * The customer's primary email already exists. Retry after changing the customer's primary contact email. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The domain required for purchasing a SKU has not been verified. * A pre-requisite SKU required to purchase an Add-On SKU is missing. For example, Google Workspace Business Starter is required to purchase Vault or Drive. * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the reseller's customer account in which to create the entitlement. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "suspend": {
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the entitlement to suspend. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Suspends a previously fulfilled entitlement. An entitlement suspension is a long-running operation. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_ACTIVE: Entitlement is not active. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:suspend",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1SuspendEntitlementRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}:suspend",
                  "id": "cloudchannel.accounts.customers.entitlements.suspend"
                },
                "changeParameters": {
                  "path": "v1/{+name}:changeParameters",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.changeParameters",
                  "description": "Change parameters of the entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. For example, the number of seats being changed is greater than the allowed number of max seats, or decreasing seats for a commitment based plan. * NOT_FOUND: Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeParameters",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeParametersRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "activate": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:activate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ActivateEntitlementRequest"
                  },
                  "description": "Activates a previously suspended entitlement. Entitlements suspended for pending ToS acceptance can't be activated using this method. An entitlement activation is a long-running operation and it updates the state of the customer entitlement. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * SUSPENSION_NOT_RESELLER_INITIATED: Can only activate reseller-initiated suspensions and entitlements that have accepted the TOS. * NOT_SUSPENDED: Can only activate suspended entitlements not in an ACTIVE state. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to activate. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.activate",
                  "path": "v1/{+name}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListEntitlementsResponse"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token for a page of results other than the first page. Obtained using ListEntitlementsResponse.next_page_token of the previous CloudChannelService.ListEntitlements call.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the reseller's customer account to list entitlements for. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, return at most 50 entitlements. The maximum value is 100; the server will coerce values above 100.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Entitlements belonging to a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's Entitlements.",
                  "id": "cloudchannel.accounts.customers.entitlements.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+parent}/entitlements"
                },
                "get": {
                  "id": "cloudchannel.accounts.customers.entitlements.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleCloudChannelV1Entitlement"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}",
                  "httpMethod": "GET",
                  "description": "Returns the requested Entitlement resource. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer entitlement was not found. Return value: The requested Entitlement resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the entitlement to cancel. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Cancels a previously fulfilled entitlement. An entitlement cancellation is a long-running operation. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * FAILED_PRECONDITION: There are Google Cloud projects linked to the Google Cloud entitlement's Cloud Billing subaccount. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * DELETION_TYPE_NOT_ALLOWED: Cancel is only allowed for Google Workspace add-ons, or entitlements for Google Cloud's development platform. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CancelEntitlementRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}:cancel",
                  "id": "cloudchannel.accounts.customers.entitlements.cancel"
                },
                "listEntitlementChanges": {
                  "id": "cloudchannel.accounts.customers.entitlements.listEntitlementChanges",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+parent}:listEntitlementChanges",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:listEntitlementChanges",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListEntitlementChangesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous CloudChannelService.ListEntitlementChanges call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to CloudChannelService.ListEntitlementChanges must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the entitlement for which to list entitlement changes. The `-` wildcard may be used to match entitlements across a customer. Formats: * accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id} * accounts/{account_id}/customers/{customer_id}/entitlements/-",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of entitlement changes to return. The service may return fewer than this value. If unspecified, returns at most 10 entitlement changes. The maximum value is 50; the server will coerce values above 50.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filters applied to the list results.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List entitlement history. Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different. * INVALID_ARGUMENT: Missing or invalid required fields in the request. * NOT_FOUND: The parent resource doesn't exist. Usually the result of an invalid name parameter. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact CloudChannel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return value: List of EntitlementChanges."
                },
                "startPaidService": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}:startPaidService",
                  "id": "cloudchannel.accounts.customers.entitlements.startPaidService",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the entitlement to start a paid service for. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts paid service for a trial entitlement. Starts paid service for a trial entitlement immediately. This method is only applicable if a plan is set up for a trial entitlement but has some trial days remaining. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * FAILED_PRECONDITION/NOT_IN_TRIAL: This method only works for entitlement on trial plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:startPaidService",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1StartPaidServiceRequest"
                  }
                },
                "lookupOffer": {
                  "id": "cloudchannel.accounts.customers.entitlements.lookupOffer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+entitlement}:lookupOffer",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:lookupOffer",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Offer"
                  },
                  "parameters": {
                    "entitlement": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to retrieve the Offer. Entitlement uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "entitlement"
                  ],
                  "description": "Returns the requested Offer resource. Possible error codes: * PERMISSION_DENIED: The entitlement doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement or offer was not found. Return value: The Offer resource."
                },
                "changeRenewalSettings": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeRenewalSettings",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeRenewalSettingsRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Updates the renewal settings for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_COMMITMENT_PLAN: Renewal Settings are only applicable for a commitment plan. Can't enable or disable renewals for non-commitment plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.changeRenewalSettings",
                  "path": "v1/{+name}:changeRenewalSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                }
              }
            },
            "customerRepricingConfigs": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about how a Reseller modifies their bill before sending it to a Customer. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The CustomerRepricingConfig was not found. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the CustomerRepricingConfig resource, otherwise returns an error.",
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of repricing configs to return. The service may return fewer than this value. If unspecified, returns a maximum of 50 rules. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter for [CloudChannelService.ListCustomerRepricingConfigs] results (customer only). You can use this filter when you support a BatchGet-like query. To use the filter, you must set `parent=accounts/{account_id}/customers/-`. Example: customer = accounts/account_id/customers/c1 OR customer = accounts/account_id/customers/c2.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results beyond the first page. Obtained through ListCustomerRepricingConfigsResponse.next_page_token of the previous CloudChannelService.ListCustomerRepricingConfigs call.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the customer. Parent uses the format: accounts/{account_id}/customers/{customer_id}. Supports accounts/{account_id}/customers/- to retrieve configs for all customers.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists information about how a Reseller modifies their bill before sending it to a Customer. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the CustomerRepricingConfig resources. The data for each resource is displayed in the ascending order of: * Customer ID * RepricingConfig.EntitlementGranularity.entitlement * RepricingConfig.effective_invoice_month * CustomerRepricingConfig.update_time If unsuccessful, returns an error.",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+parent}/customerRepricingConfigs"
                },
                "create": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "description": "Creates a CustomerRepricingConfig. Call this method to set modifications for a specific customer's bill. You can only create configs if the RepricingConfig.effective_invoice_month is a future month. If needed, you can create a config for the current month, with some restrictions. When creating a config for a future month, make sure there are no existing configs for that RepricingConfig.effective_invoice_month. The following restrictions are for creating configs in the current month. * This functionality is reserved for recovering from an erroneous config, and should not be used for regular business cases. * The new config will not modify exports used with other configs. Changes to the config may be immediate, but may take up to 24 hours. * There is a limit of ten configs for any RepricingConfig.EntitlementGranularity.entitlement, for any RepricingConfig.effective_invoice_month. * The contained CustomerRepricingConfig.repricing_config value must be different from the value used in the current config for a RepricingConfig.EntitlementGranularity.entitlement. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated CustomerRepricingConfig resource, otherwise returns an error.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the customer that will receive this repricing config. Parent uses the format: accounts/{account_id}/customers/{customer_id}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.create",
                  "path": "v1/{+parent}/customerRepricingConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "patch": {
                  "description": "Updates a CustomerRepricingConfig. Call this method to set modifications for a specific customer's bill. This method overwrites the existing CustomerRepricingConfig. You can only update configs if the RepricingConfig.effective_invoice_month is a future month. To make changes to configs for the current month, use CreateCustomerRepricingConfig, taking note of its restrictions. You cannot update the RepricingConfig.effective_invoice_month. When updating a config in the future: * This config must already exist. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated CustomerRepricingConfig resource, otherwise returns an error.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.patch"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the customer repricing config rule to delete. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the given CustomerRepricingConfig permanently. You can only delete configs if their RepricingConfig.effective_invoice_month is set to a date after the current month. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The CustomerRepricingConfig is active or in the past. * NOT_FOUND: No CustomerRepricingConfig found for the name in the request.",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "reportJobs": {
          "methods": {
            "fetchReportResults": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.reports.usage.readonly"
              ],
              "deprecated": true,
              "path": "v1/{+reportJob}:fetchReportResults",
              "id": "cloudchannel.accounts.reportJobs.fetchReportResults",
              "parameters": {
                "reportJob": {
                  "type": "string",
                  "description": "Required. The report job created by CloudChannelReportsService.RunReportJob. Report_job uses the format: accounts/{account_id}/reportJobs/{report_job_id}",
                  "pattern": "^accounts/[^/]+/reportJobs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "reportJob"
              ],
              "description": "Retrieves data generated by CloudChannelReportsService.RunReportJob. Deprecated: Please use [Export Channel Services data to BigQuery](https://cloud.google.com/channel/docs/rebilling/export-data-to-bigquery) instead.",
              "response": {
                "$ref": "GoogleCloudChannelV1FetchReportResultsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/reportJobs/{reportJobsId}:fetchReportResults",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1FetchReportResultsRequest"
              }
            }
          },
          "deprecated": true
        },
        "skuGroups": {
          "resources": {
            "billableSkus": {
              "methods": {
                "list": {
                  "description": "Lists the Billable SKUs in a given SKU group. Possible error codes: PERMISSION_DENIED: If the account making the request and the account being queried for are different, or the account doesn't exist. INVALID_ARGUMENT: Missing or invalid required parameters in the request. INTERNAL: Any non-user error related to technical issue in the backend. In this case, contact cloud channel support. Return Value: If successful, the BillableSku resources. The data for each resource is displayed in the ascending order of: * BillableSku.service_display_name * BillableSku.sku_display_name If unsuccessful, returns an error.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of SKUs to return. The service may return fewer than this value. If unspecified, returns a maximum of 100000 SKUs. The maximum value is 100000; values above 100000 will be coerced to 100000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. Resource name of the SKU group. Format: accounts/{account}/skuGroups/{sku_group}.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/skuGroups/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results beyond the first page. Obtained through ListSkuGroupBillableSkusResponse.next_page_token of the previous CloudChannelService.ListSkuGroupBillableSkus call.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/skuGroups/{skuGroupsId}/billableSkus",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse"
                  },
                  "path": "v1/{+parent}/billableSkus",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.skuGroups.billableSkus.list"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "cloudchannel.accounts.skuGroups.list",
              "path": "v1/{+parent}/skuGroups",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "flatPath": "v1/accounts/{accountsId}/skuGroups",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1ListSkuGroupsResponse"
              },
              "description": "Lists the Rebilling supported SKU groups the account is authorized to sell. Reference: https://cloud.google.com/skus/sku-groups Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different, or the account doesn't exist. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the SkuGroup resources. The data for each resource is displayed in the alphabetical order of SKU group display name. The data for each resource is displayed in the ascending order of SkuGroup.display_name If unsuccessful, returns an error.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the account from which to list SKU groups. Parent uses the format: accounts/{account}.",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results beyond the first page. Obtained through ListSkuGroupsResponse.next_page_token of the previous CloudChannelService.ListSkuGroups call."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of SKU groups to return. The service may return fewer than this value. If unspecified, returns a maximum of 1000 SKU groups. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "channelPartnerLinks": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListCustomersResponse"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers",
                  "httpMethod": "GET",
                  "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filters applied to the [CloudChannelService.ListCustomers] results. See https://cloud.google.com/channel/docs/concepts/google-cloud/filter-customers for more information.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}.",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.list",
                  "path": "v1/{+parent}/customers",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "httpMethod": "GET",
                  "description": "Returns the requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "import": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+parent}/customers:import",
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.import",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the reseller's account. Parent takes the format: accounts/{account_id} or accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports a Customer from the Cloud Identity associated with the provided Cloud Identity ID or domain before a TransferEntitlements call. If a linked Customer already exists and overwrite_if_exists is true, it will update that Customer's data. Possible error codes: * PERMISSION_DENIED: * The reseller account making the request is different from the reseller account in the API request. * You are not authorized to import the customer. See https://support.google.com/channelservices/answer/9759265 * NOT_FOUND: Cloud Identity doesn't exist or was deleted. * INVALID_ARGUMENT: Required parameters are missing, or the auth_token is expired or invalid. * ALREADY_EXISTS: A customer already exists and has conflicting critical fields. Requires an overwrite. Return value: The Customer.",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers:import",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ImportCustomerRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: * The reseller account making the request is different from the reseller account in the API request. * You are not authorized to create a customer. See https://support.google.com/channelservices/answer/9759265 * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+parent}/customers"
                },
                "patch": {
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "The update mask that applies to the resource. Optional.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.delete",
                  "description": "Deletes the given Customer permanently. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the customer to delete.",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "httpMethod": "DELETE"
                }
              }
            },
            "channelPartnerRepricingConfigs": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the ChannelPartnerRepricingConfig Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/channelPartnerRepricingConfigs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about how a Distributor modifies their bill before sending it to a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The ChannelPartnerRepricingConfig was not found. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the ChannelPartnerRepricingConfig resource, otherwise returns an error.",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs/{channelPartnerRepricingConfigsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs",
                  "httpMethod": "GET",
                  "description": "Lists information about how a Reseller modifies their bill before sending it to a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The ChannelPartnerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the ChannelPartnerRepricingConfig resources. The data for each resource is displayed in the ascending order of: * Channel Partner ID * RepricingConfig.effective_invoice_month * ChannelPartnerRepricingConfig.update_time If unsuccessful, returns an error.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of repricing configs to return. The service may return fewer than this value. If unspecified, returns a maximum of 50 rules. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
[...]
