{
  "kind": "discovery#restDescription",
  "version_module": true,
  "baseUrl": "https://composer.googleapis.com/",
  "canonicalName": "Cloud Composer",
  "title": "Cloud Composer API",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "imageVersions": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                  "description": "List ImageVersions for provided location.",
                  "id": "composer.projects.locations.imageVersions.list",
                  "path": "v1/{+parent}/imageVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of image_versions to return."
                    },
                    "parent": {
                      "description": "List ImageVersions in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "includePastReleases": {
                      "description": "Whether or not image versions from old releases should be included.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListImageVersionsResponse"
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "restartWebServer": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RestartWebServerRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the environment to restart the web server for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Restart Airflow web server.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:restartWebServer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.restartWebServer",
                  "path": "v1/{+name}:restartWebServer"
                },
                "pollAirflowCommand": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "id": "composer.projects.locations.environments.pollAirflowCommand",
                  "path": "v1/{+environment}:pollAirflowCommand",
                  "description": "Polls Airflow CLI command execution and fetches logs.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:pollAirflowCommand",
                  "request": {
                    "$ref": "PollAirflowCommandRequest"
                  },
                  "parameters": {
                    "environment": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "response": {
                    "$ref": "PollAirflowCommandResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "environment"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The parent must be of the form \"projects/{projectId}/locations/{locationId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Create a new environment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.create",
                  "path": "v1/{+parent}/environments"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of environments to return."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "List environments in the given project and location, in the form: \"projects/{projectId}/locations/{locationId}\""
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "description": "List environments.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "id": "composer.projects.locations.environments.list",
                  "path": "v1/{+parent}/environments"
                },
                "stopAirflowCommand": {
                  "description": "Stops Airflow CLI command execution.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:stopAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.stopAirflowCommand",
                  "path": "v1/{+environment}:stopAirflowCommand",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "StopAirflowCommandRequest"
                  },
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"."
                    }
                  },
                  "response": {
                    "$ref": "StopAirflowCommandResponse"
                  }
                },
                "loadSnapshot": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.loadSnapshot",
                  "path": "v1/{+environment}:loadSnapshot",
                  "description": "Loads a snapshot of a Cloud Composer environment. As a result of this operation, a snapshot of environment's specified in LoadSnapshotRequest is loaded into the environment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:loadSnapshot",
                  "request": {
                    "$ref": "LoadSnapshotRequest"
                  },
                  "parameters": {
                    "environment": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource name of the target environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "environment"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource name of the environment to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "id": "composer.projects.locations.environments.get",
                  "path": "v1/{+name}",
                  "description": "Get an existing environment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The environment to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Delete an environment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.delete",
                  "path": "v1/{+name}"
                },
                "databaseFailover": {
                  "parameterOrder": [
                    "environment"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "environment": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "Target environment: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "DatabaseFailoverRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:databaseFailover",
                  "description": "Triggers database failover (only for highly resilient environments).",
                  "id": "composer.projects.locations.environments.databaseFailover",
                  "path": "v1/{+environment}:databaseFailover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ]
                },
                "fetchDatabaseProperties": {
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "Required. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "FetchDatabasePropertiesResponse"
                  },
                  "parameterOrder": [
                    "environment"
                  ],
                  "httpMethod": "GET",
                  "id": "composer.projects.locations.environments.fetchDatabaseProperties",
                  "path": "v1/{+environment}:fetchDatabaseProperties",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:fetchDatabaseProperties",
                  "description": "Fetches database properties."
                },
                "executeAirflowCommand": {
                  "description": "Executes Airflow CLI command.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:executeAirflowCommand",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.executeAirflowCommand",
                  "path": "v1/{+environment}:executeAirflowCommand",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "ExecuteAirflowCommandRequest"
                  },
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ExecuteAirflowCommandResponse"
                  }
                },
                "checkUpgrade": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "CheckUpgradeRequest"
                  },
                  "parameters": {
                    "environment": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "Required. The resource name of the environment to check upgrade for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Check if an upgrade operation on the environment will succeed. In case of problems detailed info can be found in the returned Operation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:checkUpgrade",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.checkUpgrade",
                  "path": "v1/{+environment}:checkUpgrade"
                },
                "patch": {
                  "id": "composer.projects.locations.environments.patch",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "description": "Update an environment.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "The relative resource name of the environment to update, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of paths, relative to `Environment`, of fields to update. For example, to set the version of scikit-learn to install in the environment to 0.19.0 and to remove an existing installation of numpy, the `updateMask` parameter would include the following two `paths` values: \"config.softwareConfig.pypiPackages.scikit-learn\" and \"config.softwareConfig.pypiPackages.numpy\". The included patch environment would specify the scikit-learn version as follows: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"scikit-learn\":\"==0.19.0\" } } } } Note that in the above example, any existing PyPI packages other than scikit-learn and numpy will be unaffected. Only one update type may be included in a single request's `updateMask`. For example, one cannot update both the PyPI packages and labels in the same request. However, it is possible to update multiple members of a map field simultaneously in the same request. For example, to set the labels \"label1\" and \"label2\" while clearing \"label3\" (assuming it already exists), one can provide the paths \"labels.label1\", \"labels.label2\", and \"labels.label3\" and populate the patch environment as follows: { \"labels\":{ \"label1\":\"new-label1-value\" \"label2\":\"new-label2-value\" } } Note that in the above example, any existing labels that are not included in the `updateMask` will be unaffected. It is also possible to replace an entire map field by providing the map field's path in the `updateMask`. The new value of the field will be that which is provided in the patch environment. For example, to delete all pre-existing user-specified PyPI packages and install botocore at version 1.7.14, the `updateMask` would contain the path \"config.softwareConfig.pypiPackages\", and the patch environment would be the following: { \"config\":{ \"softwareConfig\":{ \"pypiPackages\":{ \"botocore\":\"==1.7.14\" } } } } **Note:** Only the following fields can be updated: * `config.softwareConfig.pypiPackages` * Replace all custom custom PyPI packages. If a replacement package map is not included in `environment`, all custom PyPI packages are cleared. It is an error to provide both this mask and a mask specifying an individual package. * `config.softwareConfig.pypiPackages.`packagename * Update the custom PyPI package *packagename*, preserving other packages. To delete the package, include it in `updateMask`, and omit the mapping for it in `environment.config.softwareConfig.pypiPackages`. It is an error to provide both a mask of this form and the `config.softwareConfig.pypiPackages` mask. * `labels` * Replace all environment labels. If a replacement labels map is not included in `environment`, all labels are cleared. It is an error to provide both this mask and a mask specifying one or more individual labels. * `labels.`labelName * Set the label named *labelName*, while preserving other labels. To delete the label, include it in `updateMask` and omit its mapping in `environment.labels`. It is an error to provide both a mask of this form and the `labels` mask. * `config.nodeCount` * Horizontally scale the number of nodes in the environment. An integer greater than or equal to 3 must be provided in the `config.nodeCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerNetworkAccessControl` * Replace the environment's current `WebServerNetworkAccessControl`. * `config.softwareConfig.airflowConfigOverrides` * Replace all Apache Airflow config overrides. If a replacement config overrides map is not included in `environment`, all config overrides are cleared. It is an error to provide both this mask and a mask specifying one or more individual config overrides. * `config.softwareConfig.airflowConfigOverrides.`section-name * Override the Apache Airflow config property *name* in the section named *section*, preserving other properties. To delete the property override, include it in `updateMask` and omit its mapping in `environment.config.softwareConfig.airflowConfigOverrides`. It is an error to provide both a mask of this form and the `config.softwareConfig.airflowConfigOverrides` mask. * `config.softwareConfig.envVariables` * Replace all environment variables. If a replacement environment variable map is not included in `environment`, all custom environment variables are cleared. * `config.softwareConfig.schedulerCount` * Horizontally scale the number of schedulers in Airflow. A positive integer not greater than the number of nodes must be provided in the `config.softwareConfig.schedulerCount` field. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-2.*.*. * `config.databaseConfig.machineType` * Cloud SQL machine type used by Airflow database. It has to be one of: db-n1-standard-2, db-n1-standard-4, db-n1-standard-8 or db-n1-standard-16. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. * `config.webServerConfig.machineType` * Machine type on which Airflow web server is running. It has to be one of: composer-n1-webserver-2, composer-n1-webserver-4 or composer-n1-webserver-8. Supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "saveSnapshot": {
                  "description": "Creates a snapshots of a Cloud Composer environment. As a result of this operation, snapshot of environment's state is stored in a location specified in the SaveSnapshotRequest.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}:saveSnapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.environments.saveSnapshot",
                  "path": "v1/{+environment}:saveSnapshot",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "environment"
                  ],
                  "request": {
                    "$ref": "SaveSnapshotRequest"
                  },
                  "parameters": {
                    "environment": {
                      "description": "The resource name of the source environment in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "userWorkloadsSecrets": {
                  "methods": {
                    "get": {
                      "description": "Gets an existing user workloads Secret. Values of the \"data\" field in the response are cleared. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "description": "Required. The resource name of the Secret to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "description": "Required. The Secret to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\""
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.delete",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "description": "Deletes a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
                    },
                    "list": {
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.list",
                      "path": "v1/{+parent}/userWorkloadsSecrets",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "description": "Lists user workloads Secrets. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. List Secrets in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of Secrets to return."
                        }
                      },
                      "response": {
                        "$ref": "ListUserWorkloadsSecretsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "update": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PUT",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsSecrets/[^/]+$",
                          "description": "Identifier. The resource name of the Secret, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsSecrets/{userWorkloadsSecretId}\"",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets/{userWorkloadsSecretsId}",
                      "description": "Updates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.update",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ]
                    },
                    "create": {
                      "description": "Creates a user workloads Secret. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsSecrets",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsSecrets.create",
                      "path": "v1/{+parent}/userWorkloadsSecrets",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "UserWorkloadsSecret"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. The environment name to create a Secret for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsSecret"
                      }
                    }
                  }
                },
                "userWorkloadsConfigMaps": {
                  "methods": {
                    "get": {
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.get",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "description": "Gets an existing user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "description": "Required. The resource name of the ConfigMap to get, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.delete",
                      "path": "v1/{+name}",
                      "description": "Deletes a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "description": "Required. The ConfigMap to delete, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of ConfigMaps to return."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. List ConfigMaps in the given environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        }
                      },
                      "response": {
                        "$ref": "ListUserWorkloadsConfigMapsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.list",
                      "path": "v1/{+parent}/userWorkloadsConfigMaps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "description": "Lists user workloads ConfigMaps. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
                    },
                    "update": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ],
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.update",
                      "path": "v1/{+name}",
                      "description": "Updates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapsId}",
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+/userWorkloadsConfigMaps/[^/]+$",
                          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\""
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "httpMethod": "PUT",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "description": "Required. The environment name to create a ConfigMap for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\""
                        }
                      },
                      "response": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "request": {
                        "$ref": "UserWorkloadsConfigMap"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/userWorkloadsConfigMaps",
                      "description": "Creates a user workloads ConfigMap. This method is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
                      "id": "composer.projects.locations.environments.userWorkloadsConfigMaps.create",
                      "path": "v1/{+parent}/userWorkloadsConfigMaps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer"
                      ]
                    }
                  }
                },
                "workloads": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}/workloads",
                      "description": "Lists workloads in a Cloud Composer environment. Workload is a unit that runs a single Composer component. This method is supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
                      "id": "composer.projects.locations.environments.workloads.list",
                      "path": "v1/{+parent}/workloads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloudcomposer",
                        "https://www.googleapis.com/auth/cloudcomposer.readonly"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The environment name to get workloads for, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of environments to return.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. The list filter. Currently only supports equality on the type field. The value of a field specified in the filter expression must be one ComposerWorkloadType enum option. It's possible to get multiple types using \"OR\" operator, e.g.: \"type=SCHEDULER OR type=CELERY_WORKER\". If not specified, all items are returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "composer.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "composer.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer",
                    "https://www.googleapis.com/auth/cloudcomposer.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloudcomposer"
                  ],
                  "id": "composer.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "description": "Manages Apache Airflow environments on Google Cloud Platform.",
  "documentationLink": "https://cloud.google.com/composer/",
  "protocol": "rest",
  "rootUrl": "https://composer.googleapis.com/",
  "schemas": {
    "NodeConfig": {
      "description": "The configuration information for the Kubernetes Engine nodes running the Apache Airflow software.",
      "type": "object",
      "id": "NodeConfig",
      "properties": {
        "machineType": {
          "description": "Optional. The Compute Engine [machine type](/compute/docs/machine-types) used for cluster instances, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}/machineTypes/{machineTypeId}\". The `machineType` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.location` are specified, this `machineType` must belong to the `nodeConfig.location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If exactly one of this field and `nodeConfig.location` is specified, the location information from the specified field will be propagated to the unspecified field. The `machineTypeId` must not be a [shared-core machine type](/compute/docs/machine-types#sharedcore). If this field is unspecified, the `machineTypeId` defaults to \"n1-standard-1\". This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The Google Cloud Platform Service Account to be used by the node VMs. If a service account is not specified, the \"default\" Compute Engine service account is used. Cannot be updated.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The Compute Engine network to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/global/networks/{networkId}\". If unspecified, the \"default\" network ID in the environment's project is used. If a [Custom Subnet Network](/vpc/docs/vpc#vpc_networks_and_subnets) is provided, `nodeConfig.subnetwork` must also be provided. For [Shared VPC](/vpc/docs/shared-vpc) subnetwork requirements, see `nodeConfig.subnetwork`.",
          "type": "string"
        },
        "oauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of Google API scopes to be made available on all node VMs. If `oauth_scopes` is empty, defaults to [\"https://www.googleapis.com/auth/cloud-platform\"]. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of instance tags applied to all node VMs. Tags are used to identify valid sources or targets for network firewalls. Each tag within the list must comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt). Cannot be updated."
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The disk size in GB used for node VMs. Minimum size is 30GB. If unspecified, defaults to 100GB. Cannot be updated. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*."
        },
        "composerNetworkAttachment": {
          "description": "Optional. Network Attachment that Cloud Composer environment is connected to, which provides connectivity with a user's VPC network. Takes precedence over network and subnetwork settings. If not provided, but network and subnetwork are defined during environment, it will be provisioned. If not provided and network and subnetwork are also empty, then connectivity to user's VPC network is disabled. Network attachment must be provided in format projects/{project}/regions/{region}/networkAttachments/{networkAttachment}. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string"
        },
        "ipAllocationPolicy": {
          "description": "Optional. The configuration for controlling how IPs are allocated in the GKE cluster.",
          "$ref": "IPAllocationPolicy"
        },
        "subnetwork": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/regions/{regionId}/subnetworks/{subnetworkId}\" If a subnetwork is provided, `nodeConfig.network` must also be provided, and the subnetwork must belong to the enclosing environment's project and location.",
          "type": "string"
        },
        "enableIpMasqAgent": {
          "description": "Optional. Deploys 'ip-masq-agent' daemon set in the GKE cluster and defines nonMasqueradeCIDRs equals to pod IP range so IP masquerading is used for all destination addresses, except between pods traffic. See: https://cloud.google.com/kubernetes-engine/docs/how-to/ip-masquerade-agent",
          "type": "boolean"
        },
        "location": {
          "description": "Optional. The Compute Engine [zone](/compute/docs/regions-zones) in which to deploy the VMs used to run the Apache Airflow software, specified as a [relative resource name](/apis/design/resource_names#relative_resource_name). For example: \"projects/{projectId}/zones/{zoneId}\". This `location` must belong to the enclosing environment's project and location. If both this field and `nodeConfig.machineType` are specified, `nodeConfig.machineType` must belong to this `location`; if both are unspecified, the service will pick a zone in the Compute Engine region corresponding to the Cloud Composer location, and propagate that choice to both fields. If only one field (`location` or `nodeConfig.machineType`) is specified, the location information from the specified field will be propagated to the unspecified field. This field is supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*.",
          "type": "string"
        },
        "composerInternalIpv4CidrBlock": {
          "description": "Optional. The IP range in CIDR notation to use internally by Cloud Composer. IP addresses are not reserved - and the same range can be used by multiple Cloud Composer environments. In case of overlap, IPs from this range will not be accessible in the user's VPC network. Cannot be updated. If not specified, the default value of '100.64.128.0/20' is used. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer.",
          "type": "string"
        }
      }
    },
    "ComposerWorkload": {
      "description": "Information about a single workload.",
      "type": "object",
      "id": "ComposerWorkload",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not able to determine the type of the workload.",
            "Celery worker.",
            "Kubernetes worker.",
            "Workload created by Kubernetes Pod Operator.",
            "Airflow scheduler.",
            "Airflow Dag processor.",
            "Airflow triggerer.",
            "Airflow web server UI.",
            "Redis."
          ],
          "description": "Type of a workload.",
          "enum": [
            "COMPOSER_WORKLOAD_TYPE_UNSPECIFIED",
            "CELERY_WORKER",
            "KUBERNETES_WORKER",
            "KUBERNETES_OPERATOR_POD",
            "SCHEDULER",
            "DAG_PROCESSOR",
            "TRIGGERER",
            "WEB_SERVER",
            "REDIS"
          ]
        },
        "status": {
          "readOnly": true,
          "$ref": "ComposerWorkloadStatus",
          "description": "Output only. Status of a workload."
        },
        "name": {
          "description": "Name of a workload.",
          "type": "string"
        }
      }
    },
    "ListWorkloadsResponse": {
      "description": "Response to ListWorkloadsRequest.",
      "type": "object",
      "id": "ListWorkloadsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "workloads": {
          "description": "The list of environment workloads.",
          "type": "array",
          "items": {
            "$ref": "ComposerWorkload"
          }
        }
      }
    },
    "CloudDataLineageIntegration": {
      "description": "Configuration for Cloud Data Lineage integration.",
      "id": "CloudDataLineageIntegration",
      "properties": {
        "enabled": {
          "description": "Optional. Whether or not Cloud Data Lineage integration is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListUserWorkloadsConfigMapsResponse": {
      "description": "The user workloads ConfigMaps for a given environment.",
      "type": "object",
      "id": "ListUserWorkloadsConfigMapsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to query for the next page if one exists.",
          "type": "string"
        },
        "userWorkloadsConfigMaps": {
          "description": "The list of ConfigMaps returned by a ListUserWorkloadsConfigMapsRequest.",
          "type": "array",
          "items": {
            "$ref": "UserWorkloadsConfigMap"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "PollAirflowCommandRequest": {
      "description": "Poll Airflow Command request.",
      "id": "PollAirflowCommandRequest",
      "properties": {
        "executionId": {
          "description": "The unique ID of the command execution.",
          "type": "string"
        },
        "podNamespace": {
          "description": "The namespace of the pod where the command is executed.",
          "type": "string"
        },
        "nextLineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Line number from which new logs should be fetched."
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComposerWorkloadStatus": {
      "description": "Workload status.",
      "type": "object",
      "id": "ComposerWorkloadStatus",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "COMPOSER_WORKLOAD_STATE_UNSPECIFIED",
            "PENDING",
            "OK",
            "WARNING",
            "ERROR",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not able to determine the status of the workload.",
            "Workload is in pending state and has not yet started.",
            "Workload is running fine.",
            "Workload is running but there are some non-critical problems.",
            "Workload is not running due to an error.",
            "Workload has finished execution with success.",
            "Workload has finished execution with failure."
          ],
          "description": "Output only. Workload state."
        },
        "statusMessage": {
          "description": "Output only. Text to provide more descriptive status.",
          "readOnly": true,
          "type": "string"
        },
        "detailedStatusMessage": {
          "description": "Output only. Detailed message of the status.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "SchedulerResource": {
      "id": "SchedulerResource",
      "properties": {
        "storageGb": {
          "type": "number",
          "format": "float",
          "description": "Optional. Storage (GB) request and limit for a single Airflow scheduler replica."
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow scheduler replica.",
          "type": "number",
          "format": "float"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of schedulers."
        },
        "cpu": {
          "description": "Optional. CPU request and limit for a single Airflow scheduler replica.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Configuration for resources used by Airflow schedulers."
    },
    "RestartWebServerRequest": {
      "description": "Restart Airflow web server.",
      "type": "object",
      "id": "RestartWebServerRequest",
      "properties": {}
    },
    "PrivateClusterConfig": {
      "description": "Configuration options for the private GKE cluster in a Cloud Composer environment.",
      "id": "PrivateClusterConfig",
      "properties": {
        "enablePrivateEndpoint": {
          "description": "Optional. If `true`, access to the public endpoint of the GKE cluster is denied.",
          "type": "boolean"
        },
        "masterIpv4CidrBlock": {
          "description": "Optional. The CIDR block from which IPv4 range for GKE master will be reserved. If left blank, the default value of '172.16.0.0/23' is used.",
          "type": "string"
        },
        "masterIpv4ReservedRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP range in CIDR notation to use for the hosted master network. This range is used for assigning internal IP addresses to the GKE cluster master or set of masters and to the internal load balancer virtual IP. This range must not overlap with any other ranges in use within the cluster's network."
        }
      },
      "type": "object"
    },
    "TriggererResource": {
      "id": "TriggererResource",
      "properties": {
        "cpu": {
          "description": "Optional. CPU request and limit for a single Airflow triggerer replica.",
          "type": "number",
          "format": "float"
        },
        "count": {
          "description": "Optional. The number of triggerers.",
          "type": "integer",
          "format": "int32"
        },
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow triggerer replica.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Configuration for resources used by Airflow triggerers."
    },
    "StorageConfig": {
      "type": "object",
      "id": "StorageConfig",
      "properties": {
        "bucket": {
          "description": "Optional. The name of the Cloud Storage bucket used by the environment. No `gs://` prefix.",
          "type": "string"
        }
      },
      "description": "The configuration for data storage in the environment."
    },
    "SaveSnapshotRequest": {
      "type": "object",
      "id": "SaveSnapshotRequest",
      "properties": {
        "snapshotLocation": {
          "description": "Location in a Cloud Storage where the snapshot is going to be stored, e.g.: \"gs://my-bucket/snapshots\".",
          "type": "string"
        }
      },
      "description": "Request to create a snapshot of a Cloud Composer environment."
    },
    "ImageVersion": {
      "description": "ImageVersion information",
      "type": "object",
      "id": "ImageVersion",
      "properties": {
        "releaseDate": {
          "description": "The date of the version release.",
          "$ref": "Date"
        },
        "imageVersionId": {
          "description": "The string identifier of the ImageVersion, in the form: \"composer-x.y.z-airflow-a.b.c\"",
          "type": "string"
        },
        "creationDisabled": {
          "description": "Whether it is impossible to create an environment with the image version.",
          "type": "boolean"
        },
        "isDefault": {
          "description": "Whether this is the default ImageVersion used by Composer during environment creation if no input ImageVersion is specified.",
          "type": "boolean"
        },
        "supportedPythonVersions": {
          "description": "supported python versions",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "upgradeDisabled": {
          "description": "Whether it is impossible to upgrade an environment running with the image version.",
          "type": "boolean"
        }
      }
    },
    "ExecuteAirflowCommandResponse": {
      "description": "Response to ExecuteAirflowCommandRequest.",
      "type": "object",
      "id": "ExecuteAirflowCommandResponse",
      "properties": {
        "podNamespace": {
          "description": "The namespace of the pod where the command is executed.",
          "type": "string"
        },
        "executionId": {
          "description": "The unique ID of the command execution for polling.",
          "type": "string"
        },
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        },
        "error": {
          "description": "Error message. Empty if there was no error.",
          "type": "string"
        }
      }
    },
    "WebServerNetworkAccessControl": {
      "type": "object",
      "id": "WebServerNetworkAccessControl",
      "properties": {
        "allowedIpRanges": {
          "type": "array",
          "items": {
            "$ref": "AllowedIpRange"
          },
          "description": "A collection of allowed IP ranges with descriptions."
        }
      },
      "description": "Network-level access control policy for the Airflow web server."
    },
    "StopAirflowCommandResponse": {
      "type": "object",
      "id": "StopAirflowCommandResponse",
      "properties": {
        "isDone": {
          "description": "Whether the execution is still running.",
          "type": "boolean"
        },
        "output": {
          "description": "Output message from stopping execution request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response to StopAirflowCommandRequest."
    },
    "WorkloadsConfig": {
      "description": "The Kubernetes workloads configuration for GKE cluster associated with the Cloud Composer environment. Supported for Cloud Composer environments in versions composer-2.*.*-airflow-*.*.* and newer.",
      "id": "WorkloadsConfig",
      "properties": {
        "worker": {
          "description": "Optional. Resources used by Airflow workers.",
          "$ref": "WorkerResource"
        },
        "webServer": {
          "description": "Optional. Resources used by Airflow web server.",
          "$ref": "WebServerResource"
        },
        "scheduler": {
          "$ref": "SchedulerResource",
          "description": "Optional. Resources used by Airflow schedulers."
        },
        "triggerer": {
          "$ref": "TriggererResource",
          "description": "Optional. Resources used by Airflow triggerers."
        },
        "dagProcessor": {
          "$ref": "DagProcessorResource",
          "description": "Optional. Resources used by Airflow DAG processors. This field is supported for Cloud Composer environments in versions composer-3-airflow-*.*.*-build.* and newer."
        }
      },
      "type": "object"
    },
    "StopAirflowCommandRequest": {
      "id": "StopAirflowCommandRequest",
      "properties": {
        "pod": {
          "description": "The name of the pod where the command is executed.",
          "type": "string"
        },
        "force": {
          "description": "If true, the execution is terminated forcefully (SIGKILL). If false, the execution is stopped gracefully, giving it time for cleanup.",
          "type": "boolean"
        },
        "podNamespace": {
          "description": "The namespace of the pod where the command is executed.",
          "type": "string"
        },
        "executionId": {
          "description": "The unique ID of the command execution.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Stop Airflow Command request."
    },
    "WorkerResource": {
      "description": "Configuration for resources used by Airflow workers.",
      "type": "object",
      "id": "WorkerResource",
      "properties": {
        "memoryGb": {
          "description": "Optional. Memory (GB) request and limit for a single Airflow worker replica.",
          "type": "number",
          "format": "float"
        },
        "maxCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of workers for autoscaling."
        },
        "cpu": {
          "type": "number",
          "format": "float",
          "description": "Optional. CPU request and limit for a single Airflow worker replica."
        },
        "storageGb": {
          "description": "Optional. Storage (GB) request and limit for a single Airflow worker replica.",
          "type": "number",
          "format": "float"
        },
        "minCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of workers for autoscaling."
        }
      }
    },
    "PollAirflowCommandResponse": {
      "type": "object",
      "id": "PollAirflowCommandResponse",
      "properties": {
        "output": {
          "type": "array",
          "items": {
            "$ref": "Line"
          },
          "description": "Output from the command execution. It may not contain the full output and the caller may need to poll for more lines."
        },
        "outputEnd": {
          "description": "Whether the command execution has finished and there is no more output.",
          "type": "boolean"
        },
        "exitInfo": {
          "$ref": "ExitInfo",
          "description": "The result exit status of the command."
        }
      },
      "description": "Response to PollAirflowCommandRequest."
    },
    "UserWorkloadsConfigMap": {
      "type": "object",
      "id": "UserWorkloadsConfigMap",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the ConfigMap, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}/userWorkloadsConfigMaps/{userWorkloadsConfigMapId}\"",
          "type": "string"
        },
        "data": {
          "type": "object",
          "description": "Optional. The \"data\" field of Kubernetes ConfigMap, organized in key-value pairs. For details see: https://kubernetes.io/docs/concepts/configuration/configmap/ Example: { \"example_key\": \"example_value\", \"another_key\": \"another_value\" }",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "User workloads ConfigMap used by Airflow tasks that run with Kubernetes executor or KubernetesPodOperator."
    },
    "DatabaseFailoverRequest": {
      "description": "Request to trigger database failover (only for highly resilient environments).",
      "id": "DatabaseFailoverRequest",
      "properties": {},
      "type": "object"
    },
    "ScheduledSnapshotsConfig": {
      "id": "ScheduledSnapshotsConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Whether scheduled snapshots creation is enabled.",
          "type": "boolean"
        },
        "snapshotCreationSchedule": {
          "description": "Optional. The cron expression representing the time when snapshots creation mechanism runs. This field is subject to additional validation around frequency of execution.",
          "type": "string"
        },
        "snapshotLocation": {
          "description": "Optional. The Cloud Storage location for storing automatically created snapshots.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Time zone that sets the context to interpret snapshot_creation_schedule.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The configuration for scheduled snapshot creation mechanism."
    },
    "CheckUpgradeResponse": {
      "description": "Message containing information about the result of an upgrade check operation.",
      "type": "object",
      "id": "CheckUpgradeResponse",
      "properties": {
        "buildLogUri": {
          "description": "Output only. Url for a docker build log of an upgraded image.",
          "readOnly": true,
          "type": "string"
        },
        "imageVersion": {
          "description": "Composer image for which the build was happening.",
          "type": "string"
        },
        "configConflicts": {
          "description": "Output only. Contains information about environment configuration that is incompatible with the new image version, except for pypi modules conflicts.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ConfigConflict"
          }
        },
        "containsPypiModulesConflict": {
          "enum": [
            "CONFLICT_RESULT_UNSPECIFIED",
            "CONFLICT",
            "NO_CONFLICT"
          ],
          "type": "string",
          "description": "Output only. Whether build has succeeded or failed on modules conflicts.",
          "readOnly": true,
          "enumDescriptions": [
            "It is unknown whether build had conflicts or not.",
            "There were python packages conflicts.",
            "There were no python packages conflicts."
          ]
        },
        "pypiConflictBuildLogExtract": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Extract from a docker image build log containing information about pypi modules conflicts."
        },
        "pypiDependencies": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Pypi dependencies specified in the environment configuration, at the time when the build was triggered.",
          "type": "object"
        }
      }
    },
    "AllowedIpRange": {
      "description": "Allowed IP range with user-provided description.",
      "id": "AllowedIpRange",
      "properties": {
        "value": {
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. Examples: `192.168.1.1` or `192.168.0.0/16` or `2001:db8::/32` or `2001:0db8:0000:0042:0000:8a2e:0370:7334`. IP range prefixes should be properly truncated. For example, `1.2.3.4/24` should be truncated to `1.2.3.0/24`. Similarly, for IPv6, `2001:db8::1/32` should be truncated to `2001:db8::/32`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description. It must contain at most 300 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Environment": {
      "description": "An environment for running orchestration tasks.",
      "id": "Environment",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "storageConfig": {
          "description": "Optional. Storage configuration for this environment.",
          "$ref": "StorageConfig"
        },
        "labels": {
          "description": "Optional. User-defined labels for this environment. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the environment, in the form: \"projects/{projectId}/locations/{locationId}/environments/{environmentId}\" EnvironmentId must start with a lowercase letter followed by up to 63 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "uuid": {
          "description": "Output only. The UUID (Universally Unique IDentifier) associated with this environment. This value is generated when the environment is created.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this environment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "The current state of the environment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "UPDATING",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the environment is unknown.",
            "The environment is in the process of being created.",
            "The environment is currently running and healthy. It is ready for use.",
            "The environment is being updated. It remains usable but cannot receive additional update requests or be deleted at this time.",
            "The environment is undergoing deletion. It cannot be used.",
            "The environment has encountered an error and cannot be used."
          ]
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "config": {
          "description": "Optional. Configuration parameters for this environment.",
          "$ref": "EnvironmentConfig"
        },
        "updateTime": {
          "description": "Output only. The time at which this environment was last modified.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "IPAllocationPolicy": {
      "description": "Configuration for controlling how IPs are allocated in the GKE cluster running the Apache Airflow software.",
      "id": "IPAllocationPolicy",
      "properties": {
        "useIpAliases": {
          "description": "Optional. Whether or not to enable Alias IPs in the GKE cluster. If `true`, a VPC-native cluster is created. This field is only supported for Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*. Environments in newer versions always use VPC-native GKE clusters.",
          "type": "boolean"
        },
        "servicesSecondaryRangeName": {
          "description": "Optional. The name of the services' secondary range used to allocate IP addresses to the GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true.",
          "type": "string"
        },
        "clusterSecondaryRangeName": {
          "description": "Optional. The name of the GKE cluster's secondary range used to allocate IP addresses to pods. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true.",
          "type": "string"
        },
        "clusterIpv4CidrBlock": {
          "description": "Optional. The IP address range used to allocate IP addresses to pods in the GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
          "type": "string"
        },
        "servicesIpv4CidrBlock": {
          "description": "Optional. The IP address range of the services IP addresses in this GKE cluster. For Cloud Composer environments in versions composer-1.*.*-airflow-*.*.*, this field is applicable only when `use_ip_aliases` is true. Set to blank to have GKE choose a range with the default size. Set to /netmask (e.g. `/14`) to have GKE choose a range with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CidrBlock": {
      "type": "object",
      "id": "CidrBlock",
      "properties": {
        "cidrBlock": {
          "description": "CIDR block that must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "description": "User-defined name that identifies the CIDR block.",
          "type": "string"
        }
      },
      "description": "CIDR block with an optional name."
    },
    "ExecuteAirflowCommandRequest": {
      "id": "ExecuteAirflowCommandRequest",
      "properties": {
        "command": {
          "description": "Airflow command.",
          "type": "string"
        },
        "subcommand": {
          "description": "Airflow subcommand.",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters for the Airflow command/subcommand as an array of arguments. It may contain positional arguments like `[\"my-dag-id\"]`, key-value parameters like `[\"--foo=bar\"]` or `[\"--foo\",\"bar\"]`, or other flags like `[\"-f\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Execute Airflow Command request."
    },
    "AirflowMetadataRetentionPolicyConfig": {
      "description": "The policy for airflow metadata database retention.",
      "id": "AirflowMetadataRetentionPolicyConfig",
      "properties": {
        "retentionMode": {
          "description": "Optional. Retention can be either enabled or disabled.",
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "RETENTION_MODE_ENABLED",
            "RETENTION_MODE_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default mode doesn't change environment parameters.",
            "Retention policy is enabled.",
            "Retention policy is disabled."
          ]
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. How many days data should be retained for."
        }
      },
      "type": "object"
    },
    "DatabaseFailoverResponse": {
      "description": "Response for DatabaseFailoverRequest.",
      "type": "object",
      "id": "DatabaseFailoverResponse",
      "properties": {}
    },
    "CheckUpgradeRequest": {
      "description": "Request to check whether image upgrade will succeed.",
      "id": "CheckUpgradeRequest",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of the software running in the environment. This encapsulates both the version of Cloud Composer functionality and the version of Apache Airflow. It must match the regular expression `composer-([0-9]+(\\.[0-9]+\\.[0-9]+(-preview\\.[0-9]+)?)?|latest)-airflow-([0-9]+(\\.[0-9]+(\\.[0-9]+)?)?)`. When used as input, the server also checks if the provided version is supported and denies the request for an unsupported version. The Cloud Composer portion of the image version is a full [semantic version](https://semver.org), or an alias in the form of major version number or `latest`. When an alias is provided, the server replaces it with the current Cloud Composer version that satisfies the alias. The Apache Airflow portion of the image version is a full semantic version that points to one of the supported Apache Airflow versions, or an alias in the form of only major or major.minor versions specified. When an alias is provided, the server replaces it with the latest Apache Airflow version that satisfies the alias and is supported in the given Cloud Composer version. In all cases, the resolved image version is stored in the same field. See also [version list](/composer/docs/concepts/versioning/composer-versions) and [versioning overview](/composer/docs/concepts/versioning/composer-versioning-overview).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Maintenance window end time. It is used only to calculate the duration of the maintenance window. The value for end-time must be in the future, relative to `start_time`."
        },
        "startTime": {
          "description": "Required. Start time of the first recurrence of the maintenance window.",
          "type": "string",
          "format": "google-datetime"
        },
        "recurrence": {
          "description": "Required. Maintenance window recurrence. Format is a subset of [RFC-5545](https://tools.ietf.org/html/rfc5545) `RRULE`. The only allowed values for `FREQ` field are `FREQ=DAILY` and `FREQ=WEEKLY;BYDAY=...` Example values: `FREQ=WEEKLY;BYDAY=TU,WE`, `FREQ=DAILY`.",
[...]
