{
  "ownerDomain": "google.com",
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "connectors:v1",
  "canonicalName": "Connectors",
  "baseUrl": "https://connectors.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "EncryptionKey": {
      "type": "object",
      "description": "Encryption Key value.",
      "id": "EncryptionKey",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Managed.",
            "Customer Managed."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "CUSTOMER_MANAGED"
          ],
          "description": "Optional. Specifies the type of the encryption key."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The [KMS key name] with which the content of the Operation is encrypted. The expected format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`. Will be empty string if google managed."
        }
      }
    },
    "NodeConfig": {
      "type": "object",
      "description": "Node configuration for the connection.",
      "id": "NodeConfig",
      "properties": {
        "minNodeCount": {
          "type": "integer",
          "description": "Optional. Minimum number of nodes in the runtime nodes.",
          "format": "int32"
        },
        "maxNodeCount": {
          "type": "integer",
          "description": "Optional. Maximum number of nodes in the runtime nodes.",
          "format": "int32"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "DeadLetterConfig": {
      "type": "object",
      "description": "Dead Letter configuration details provided by the user.",
      "id": "DeadLetterConfig",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        },
        "topic": {
          "type": "string",
          "description": "Optional. Topic to push events which couldn't be processed."
        }
      }
    },
    "SearchConnectionInstance": {
      "description": "SearchConnectionInstance represents an instance of connector with specific fields",
      "id": "SearchConnectionInstance",
      "properties": {
        "connection": {
          "$ref": "Connection",
          "description": "Output only. Connection details",
          "readOnly": true
        },
        "entitySchema": {
          "description": "Output only. Schema of a runtime entity.",
          "readOnly": true,
          "$ref": "RuntimeEntitySchema"
        },
        "actionSchema": {
          "description": "Output only. Schema of a runtime action.",
          "readOnly": true,
          "$ref": "RuntimeActionSchema"
        }
      },
      "type": "object"
    },
    "SshPublicKey": {
      "type": "object",
      "id": "SshPublicKey",
      "properties": {
        "sshClientCertPass": {
          "$ref": "Secret",
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one."
        },
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        },
        "certType": {
          "description": "Optional. Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCert": {
          "$ref": "Secret",
          "description": "Optional. SSH Client Cert. It should contain both public and private key."
        }
      },
      "description": "Parameters to support Ssh public key Authentication."
    },
    "DeprecateCustomConnectorVersionRequest": {
      "type": "object",
      "id": "DeprecateCustomConnectorVersionRequest",
      "properties": {},
      "description": "Request message for ConnectorsService.DeprecateCustomConnectorVersion"
    },
    "Settings": {
      "description": "Global Settings details.",
      "id": "Settings",
      "properties": {
        "vpcsc": {
          "description": "Optional. Flag indicates whether vpc-sc is enabled.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/global/settings}",
          "readOnly": true,
          "type": "string"
        },
        "payg": {
          "description": "Output only. Flag indicates if user is in PayG model",
          "readOnly": true,
          "type": "boolean"
        },
        "tenantProjectId": {
          "description": "Output only. Tenant project id of the consumer project.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "JMS": {
      "id": "JMS",
      "properties": {
        "type": {
          "description": "Optional. Type of the JMS Source. i.e. Queue or Topic",
          "enumDescriptions": [
            "Default state.",
            "JMS Queue.",
            "JMS Topic."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "QUEUE",
            "TOPIC"
          ]
        },
        "name": {
          "description": "Optional. Name of the JMS source. i.e. queueName or topicName",
          "type": "string"
        }
      },
      "description": "JMS message denotes the source of the event",
      "type": "object"
    },
    "Header": {
      "type": "object",
      "description": "Header details for a given header to be added to Endpoint.",
      "id": "Header",
      "properties": {
        "key": {
          "description": "Optional. Key of Header.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. Value of Header."
        }
      }
    },
    "EventingRuntimeData": {
      "type": "object",
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "id": "EventingRuntimeData",
      "properties": {
        "status": {
          "$ref": "EventingStatus",
          "description": "Output only. Current status of eventing.",
          "readOnly": true
        },
        "webhookSubscriptions": {
          "$ref": "WebhookSubscriptions",
          "description": "Output only. Webhook subscriptions.",
          "readOnly": true
        },
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "readOnly": true,
          "type": "string"
        },
        "eventsListenerEndpoint": {
          "type": "string",
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "readOnly": true
        },
        "webhookData": {
          "description": "Output only. Webhook data.",
          "readOnly": true,
          "$ref": "WebhookData"
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        },
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        }
      },
      "description": "MaintenanceWindow definition.",
      "type": "object"
    },
    "EndPoint": {
      "type": "object",
      "id": "EndPoint",
      "properties": {
        "endpointUri": {
          "description": "Optional. The URI of the Endpoint.",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "Optional. List of Header to be added to the Endpoint.",
          "type": "array"
        }
      },
      "description": "Endpoint message includes details of the Destination endpoint."
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "EventSubscriptionStatus": {
      "type": "object",
      "description": "EventSubscription Status denotes the status of the EventSubscription resource.",
      "id": "EventSubscriptionStatus",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "EventSubscription creation is in progress.",
            "EventSubscription is in Updating status.",
            "EventSubscription is in Active state and is ready to receive events.",
            "EventSubscription is currently suspended.",
            "EventSubscription is in Error state."
          ],
          "description": "Output only. State of Event Subscription resource.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "SUSPENDED",
            "ERROR"
          ]
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the state.",
          "readOnly": true
        }
      }
    },
    "ExtractionRule": {
      "description": "Extraction Rule.",
      "id": "ExtractionRule",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Source on which the rule is applied."
        },
        "formatString": {
          "type": "string",
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is."
        },
        "extractionRegex": {
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaintenancePolicy": {
      "type": "object",
      "id": "MaintenancePolicy",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime"
        },
        "updatePolicy": {
          "$ref": "UpdatePolicy",
          "description": "Maintenance policy applicable to instance update."
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Optional. The state of the policy.",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ]
        }
      },
      "description": "Defines policies to service maintenance events."
    },
    "RegionalSettings": {
      "type": "object",
      "id": "RegionalSettings",
      "properties": {
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Optional. Regional network config."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
          "readOnly": true
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Regional encryption config to hold CMEK details."
        },
        "client": {
          "type": "string",
          "description": "Optional. Client type for the regional settings."
        },
        "provisioned": {
          "type": "boolean",
          "description": "Output only. Specifies whether the region is provisioned.",
          "readOnly": true
        }
      },
      "description": "Regional Settings details."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "id": "EndUserAuthenticationEndUserAuthenticationStatus",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. Description of the state.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ],
          "type": "string",
          "description": "Output only. State of Event Subscription resource.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ]
        }
      },
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource.",
      "type": "object"
    },
    "RoleGrant": {
      "type": "object",
      "id": "RoleGrant",
      "properties": {
        "principal": {
          "type": "string",
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ],
          "description": "Optional. Principal/Identity for whom the role need to assigned."
        },
        "roles": {
          "description": "Optional. List of roles that need to be granted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resource": {
          "$ref": "Resource",
          "description": "Optional. Resource on which the roles needs to be granted for the principal."
        },
        "helperTextTemplate": {
          "description": "Optional. Template that UI can use to provide helper text to customers.",
          "type": "string"
        }
      },
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user."
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ListRuntimeEntitySchemasResponse": {
      "description": "Response message for ConnectorsService.ListRuntimeEntitySchemas.",
      "id": "ListRuntimeEntitySchemasResponse",
      "properties": {
        "runtimeEntitySchemas": {
          "type": "array",
          "description": "Runtime entity schemas.",
          "items": {
            "$ref": "RuntimeEntitySchema"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPoint": {
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
      "properties": {
        "headers": {
          "type": "array",
          "description": "Optional. List of Header to be added to the Endpoint.",
          "items": {
            "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader"
          }
        },
        "endpointUri": {
          "type": "string",
          "description": "Required. The URI of the Endpoint."
        }
      },
      "description": "Endpoint message includes details of the Destination endpoint.",
      "type": "object"
    },
    "AuthConfig": {
      "description": "AuthConfig defines details of a authentication type.",
      "id": "AuthConfig",
      "properties": {
        "oauth2AuthCodeFlowGoogleManaged": {
          "$ref": "Oauth2AuthCodeFlowGoogleManaged",
          "description": "Oauth2AuthCodeFlowGoogleManaged."
        },
        "oauth2JwtBearer": {
          "$ref": "Oauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "authKey": {
          "description": "Optional. Identifier key for auth config",
          "type": "string"
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "Oauth2ClientCredentials"
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "SshPublicKey"
        },
        "userPassword": {
          "$ref": "UserPassword",
          "description": "UserPassword."
        },
        "authType": {
          "description": "Optional. The type of authentication configured.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ]
        },
        "additionalVariables": {
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Optional. List containing additional auth configs.",
          "type": "array"
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "Oauth2AuthCodeFlow"
        }
      },
      "type": "object"
    },
    "StandardEntity": {
      "type": "object",
      "description": "Standard entity",
      "id": "StandardEntity",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the standard entity."
        }
      }
    },
    "ListCustomConnectorsResponse": {
      "type": "object",
      "description": "Response message for Connectors.ListCustomConnectors.",
      "id": "ListCustomConnectorsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "customConnectors": {
          "type": "array",
          "description": "A list of customConnectors.",
          "items": {
            "$ref": "CustomConnector"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "ListenEventResponse": {
      "type": "object",
      "description": "Expected response for ListenEvent API.",
      "id": "ListenEventResponse",
      "properties": {}
    },
    "Schedule": {
      "description": "Configure the schedule.",
      "id": "Schedule",
      "properties": {
        "day": {
          "description": "Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the window to start the operations."
        }
      },
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        }
      },
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date."
    },
    "SearchConnectionsResponse": {
      "description": "Response message for Connectors.SearchConnections.",
      "id": "SearchConnectionsResponse",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "SearchConnectionInstance"
          },
          "description": "A list of connectors."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. page_token"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListEventSubscriptionsResponse": {
      "description": "Response message for ConnectorsService.ListEventSubscriptions",
      "id": "ListEventSubscriptionsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "eventSubscriptions": {
          "type": "array",
          "items": {
            "$ref": "EventSubscription"
          },
          "description": "Subscriptions."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Provider": {
      "type": "object",
      "id": "Provider",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Created time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the Provider. Format: projects/{project}/locations/{location}/providers/{provider} Only global location is supported for Provider resource.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Updated time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "readOnly": true,
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "type": "string"
        },
        "documentationUri": {
          "type": "string",
          "description": "Output only. Link to documentation page.",
          "readOnly": true
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display name.",
          "readOnly": true,
          "type": "string"
        },
        "webAssetsLocation": {
          "type": "string",
          "description": "Output only. Cloud storage location of icons etc consumed by UI.",
          "readOnly": true
        }
      },
      "description": "Provider indicates the owner who provides the connectors."
    },
    "FetchAuthSchemaResponse": {
      "type": "object",
      "id": "FetchAuthSchemaResponse",
      "properties": {
        "jsonSchema": {
          "$ref": "JsonAuthSchema",
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format."
        },
        "authSchemas": {
          "items": {
            "$ref": "AuthSchema"
          },
          "description": "List of AuthSchemas.",
          "type": "array"
        }
      },
      "description": "Response message for Connectors.GetAuthSchema."
    },
    "UserPassword": {
      "type": "object",
      "id": "UserPassword",
      "properties": {
        "username": {
          "description": "Optional. Username.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Secret version reference containing the password.",
          "$ref": "Secret"
        }
      },
      "description": "Parameters to support Username and Password Authentication."
    },
    "InputParameter": {
      "type": "object",
      "description": "Metadata of an input parameter.",
      "id": "InputParameter",
      "properties": {
        "parameter": {
          "type": "string",
          "description": "Name of the Parameter."
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Parameter."
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "description": "The data type of the Parameter.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this action's parameter"
        }
      }
    },
    "LockConfig": {
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "id": "LockConfig",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Optional. Describes why a connection is locked."
        },
        "locked": {
          "description": "Optional. Indicates whether or not the connection is locked.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AuthSchema": {
      "id": "AuthSchema",
      "properties": {
        "authType": {
          "description": "Auth type of the schema.",
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ]
        },
        "authKey": {
          "type": "string",
          "description": "Auth key of the schema."
        },
        "authFields": {
          "type": "array",
          "description": "List of AuthFields.",
          "items": {
            "$ref": "AuthField"
          }
        },
        "displayName": {
          "description": "Display name of the schema.",
          "type": "string"
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether the auth schema is the default one.",
          "type": "boolean"
        }
      },
      "description": "AuthSchema defines the schema of an authentication type.",
      "type": "object"
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged": {
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "oauthTokenData": {
          "$ref": "OAuthTokenData",
          "description": "Auth Code Data"
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "type": "object"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ToolspecOverride": {
      "type": "object",
      "description": "Toolspec overrides for a connection only holds the information that is to be displayed in the UI for admins.",
      "id": "ToolspecOverride",
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "Required. List of tools defined in the tool spec. Marking this field as required as this is the only field that is editable by the user in modify API so we should have at least one tool in the list."
        },
        "baseVersion": {
          "description": "Required. Represents the base version of the toolspec for which admin has added overrides.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "id": "RemoveConnectionToolspecOverrideRequest",
      "properties": {},
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "type": "object"
    },
    "MarketplaceConnectorDetails": {
      "type": "object",
      "description": "Marketplace connector details.",
      "id": "MarketplaceConnectorDetails",
      "properties": {
        "partner": {
          "description": "The name of the partner.",
          "type": "string"
        },
        "marketplaceProductId": {
          "description": "Marketplace product ID.",
          "type": "string"
        },
        "marketplaceProduct": {
          "type": "string",
          "description": "Marketplace product name."
        },
        "marketplaceProductUri": {
          "description": "Marketplace product URL.",
          "type": "string"
        }
      }
    },
    "ListenEventRequest": {
      "type": "object",
      "description": "Expected request for ListenEvent API.",
      "id": "ListenEventRequest",
      "properties": {
        "payload": {
          "description": "Optional. Request payload.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "NodeSloMetadata": {
      "type": "object",
      "id": "NodeSloMetadata",
      "properties": {
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        }
      },
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
    },
    "CustomConnectorVersion": {
      "description": "CustomConnectorVersion indicates a specific version of a connector.",
      "id": "CustomConnectorVersion",
      "properties": {
        "partnerMetadata": {
          "description": "Optional. Partner metadata details. This should be populated only when publishing the custom connector to partner connector.",
          "$ref": "PartnerMetadata"
        },
        "authOverrideSupport": {
          "type": "boolean",
          "description": "Optional. Auth override support."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "State Unspecified.",
            "Active state. By default we set the state to Active.",
            "Deprecated state."
          ],
          "type": "string",
          "description": "Output only. State of the custom connector version.",
          "readOnly": true
        },
        "publishStatus": {
          "description": "Output only. Publish status of a custom connector.",
          "readOnly": true,
          "$ref": "PublishStatus"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Updated time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Created time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "authConfig": {
          "description": "Optional. Authentication config for accessing connector service (facade). This is used only when enable_backend_destination_config is true.",
          "$ref": "AuthConfig"
        },
        "asyncOperationsSupport": {
          "description": "Optional. Indicates if Async Operations/Connector Job is supported. This is only available for SDK based custom connectors.",
          "type": "boolean"
        },
        "destinationConfigs": {
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          },
          "description": "Optional. Destination config(s) for accessing connector service (facade). This is used only when enable_backend_destination_config is true."
        },
        "authConfigTemplates": {
          "type": "array",
          "description": "Optional. Auth Config Templates is only used when connector backend is enabled. This is used to specify the auth configs supported by the connector backend service to talk to the actual application backend.",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "specServerUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Server URLs parsed from the Open API spec. This is only used for Open API based custom connectors.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "Optional. Service account used by runtime plane to access auth config secrets.",
          "type": "string"
        },
        "enableBackendDestinationConfig": {
          "description": "Optional. Indicates if an intermediatory connectorservice is used as backend. When this is enabled, the connector destination and connector auth config are required. For SDK based connectors, this is always enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name of the Version. Format: projects/{project}/locations/{location}/customConnectors/{custom_connector}/customConnectorVersions/{custom_connector_version}",
          "readOnly": true
        },
        "specLocation": {
          "description": "Optional. Location of the custom connector spec. This is only used for Open API based custom connectors. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`.",
          "type": "string"
        },
        "backendVariableTemplates": {
          "description": "Optional. Backend variable templates is only used when connector backend is enabled. This is used to specify the variables required by the connector backend service to talk to the actual application backend. This translates to additional variable templates in the connection config.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ConnectorsLogConfig": {
      "id": "ConnectorsLogConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection.",
          "type": "boolean"
        },
        "level": {
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ],
          "type": "string",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ],
          "description": "Optional. Log configuration level."
        }
      },
      "description": "Log configuration for the connection.",
      "type": "object"
    },
    "SslConfigTemplate": {
      "id": "SslConfigTemplate",
      "properties": {
        "serverCertType": {
          "items": {
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ],
            "type": "string",
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ]
          },
          "description": "List of supported Server Cert Types",
          "type": "array"
        },
        "sslType": {
          "description": "Controls the ssl type for the given connector version",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "type": "string",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "isTlsMandatory": {
          "description": "Boolean for determining if the connector version mandates TLS.",
          "type": "boolean"
        },
        "additionalVariables": {
          "description": "Any additional fields that need to be rendered",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "type": "array"
        },
        "clientCertType": {
          "items": {
            "type": "string",
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ],
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ]
          },
          "description": "List of supported Client Cert Types",
          "type": "array"
        }
      },
      "description": "Ssl config details of a connector version",
      "type": "object"
    },
    "ConnectorInfraConfig": {
      "type": "object",
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "id": "ConnectorInfraConfig",
      "properties": {
        "connectorVersioningEnabled": {
          "type": "boolean",
          "description": "Indicate whether connector versioning is enabled."
        },
        "internalclientRatelimitThreshold": {
          "type": "string",
          "description": "Max QPS supported for internal requests originating from Connd.",
          "format": "int64"
        },
        "alwaysAllocateCpu": {
          "type": "boolean",
          "description": "Indicates that the Cloud Run CPU should always be allocated."
        },
        "sharedDeployment": {
          "description": "The name of shared connector deployment.",
          "type": "string"
        },
        "networkEgressModeOverride": {
          "description": "Network egress mode override to migrate to direct VPC egress.",
          "$ref": "NetworkEgressModeOverride"
        },
        "maxInstanceRequestConcurrency": {
          "description": "Max Instance Request Conncurrency for Cloud Run service.",
          "format": "int32",
          "type": "integer"
        },
        "provisionMemstore": {
          "type": "boolean",
          "description": "Indicate whether memstore is required for connector job."
        },
        "resourceRequests": {
          "$ref": "ResourceRequests",
          "description": "System resource requests."
        },
        "migrateTls": {
          "type": "boolean",
          "description": "Indicate whether connector is being migrated to TLS."
        },
        "connectionRatelimitWindowSeconds": {
          "type": "string",
          "description": "The window used for ratelimiting runtime requests to connections.",
          "format": "int64"
        },
        "connectionServiceAccountEnabled": {
          "type": "boolean",
          "description": "Indicate whether connection service account is enabled. If false, the common runtime service agent is used."
        },
        "hpaConfig": {
          "description": "HPA autoscaling config.",
          "$ref": "HPAConfig"
        },
        "publicNetworkIngressEnabled": {
          "type": "boolean",
          "description": "Indicate whether public network ingress should be enabled."
        },
        "ratelimitThreshold": {
          "type": "string",
          "description": "Max QPS supported by the connector version before throttling of requests.",
          "format": "int64"
        },
        "deploymentModel": {
          "description": "Indicate whether connector is deployed on GKE/CloudRun",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ]
        },
        "migrateDeploymentModel": {
          "description": "Indicate whether connector is being migrated to cloud run deployment model.",
          "type": "boolean"
        },
        "resourceLimits": {
          "$ref": "ResourceLimits",
          "description": "System resource limits."
        },
        "provisionCloudSpanner": {
          "type": "boolean",
          "description": "Indicate whether cloud spanner is required for connector job."
        }
      }
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "type": "object",
      "id": "ModifyConnectionToolspecOverrideRequest",
      "properties": {
        "toolspecOverride": {
          "description": "Required. Toolspec overrides to be modified.",
          "$ref": "ToolspecOverride"
        }
      },
      "description": "Request message for ModifyConnectionToolspecOverride API."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigVariable": {
      "id": "ConfigVariable",
      "properties": {
        "secretValue": {
          "$ref": "Secret",
          "description": "Optional. Value is a secret."
        },
        "intValue": {
          "type": "string",
          "description": "Optional. Value is an integer",
          "format": "int64"
        },
        "boolValue": {
          "description": "Optional. Value is a bool.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. Value is a string."
        },
        "encryptionKeyValue": {
          "description": "Optional. Value is a Encryption Key.",
          "$ref": "EncryptionKey"
        },
        "key": {
          "description": "Optional. Key of the config variable.",
          "type": "string"
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "type": "object"
    },
    "ManagedZone": {
      "type": "object",
      "id": "ManagedZone",
      "properties": {
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. The name of the Target Project"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "targetVpc": {
          "type": "string",
          "description": "Required. The name of the Target Project VPC Network"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "dns": {
          "type": "string",
          "description": "Required. DNS Name of the resource"
        }
      },
      "description": "represents the Connector's Managed Zone resource"
    },
    "ListEndpointAttachmentsResponse": {
      "type": "object",
      "description": "Response message for ConnectorsService.ListEndpointAttachments",
      "id": "ListEndpointAttachmentsResponse",
      "properties": {
        "endpointAttachments": {
          "type": "array",
          "description": "EndpointAttachments.",
          "items": {
            "$ref": "EndpointAttachment"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "ProvisionedResource": {
      "description": "Describes provisioned dataplane resources.",
      "id": "ProvisionedResource",
      "properties": {
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        },
        "resourceUrl": {
          "type": "string",
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
        }
      },
      "type": "object"
    },
    "BillingConfig": {
      "id": "BillingConfig",
      "properties": {
        "billingCategory": {
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "type": "string",
          "description": "Output only. Billing category for the connector.",
          "readOnly": true,
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ]
        }
      },
      "description": "Billing config for the connection.",
      "type": "object"
    },
    "DestinationConfigTemplate": {
      "id": "DestinationConfigTemplate",
      "properties": {
        "min": {
          "description": "The minimum number of destinations supported for this key.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "Description."
        },
        "regexPattern": {
          "type": "string",
          "description": "Regex pattern for host."
        },
        "portFieldType": {
          "description": "Whether port number should be provided by customers.",
          "type": "string",
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "defaultPort": {
          "description": "The default port.",
          "format": "int32",
          "type": "integer"
        },
        "isAdvanced": {
          "type": "boolean",
          "description": "Whether the current destination tempalate is part of Advanced settings"
        },
        "key": {
          "description": "Key of the destination.",
          "type": "string"
        },
        "autocompleteSuggestions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Autocomplete suggestions for destination URL field."
        },
        "max": {
          "description": "The maximum number of destinations supported for this key.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the parameter."
        }
      },
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector.",
      "type": "object"
    },
    "AuthField": {
      "description": "AuthField defines a field in an authentication type.",
      "id": "AuthField",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the field."
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the field."
        },
        "key": {
          "description": "Key of the field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      }
    },
    "MultipleSelectOption": {
      "type": "object",
      "description": "MultiplSelecteOption represents the single option for a config variable.",
      "id": "MultipleSelectOption",
      "properties": {
        "description": {
          "description": "Optional. Value of the option.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the option.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of the option.",
          "type": "string"
        },
        "preselected": {
          "description": "Optional. Indicates if the option is preselected.",
          "type": "boolean"
        }
      }
    },
    "ConnectionSchemaMetadata": {
      "type": "object",
      "id": "ConnectionSchemaMetadata",
      "properties": {
        "updateTime": {
          "description": "Output only. Timestamp when the connection runtime schema was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message for users.",
          "type": "string"
        },
        "refreshTime": {
          "description": "Output only. Timestamp when the connection runtime schema refresh was triggered.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default state.",
            "Schema refresh is in progress.",
            "Schema has been updated.",
            "Schema refresh for metadata is in progress.",
            "Schema metadata has been updated.",
            "Failed to refresh schema metadata",
            "Triggered full schema refresh",
            "Updated full schema"
          ],
          "type": "string",
          "description": "Output only. The current state of runtime schema.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REFRESHING",
            "UPDATED",
            "REFRESHING_SCHEMA_METADATA",
            "UPDATED_SCHEMA_METADATA",
            "REFRESH_SCHEMA_METADATA_FAILED",
            "REFRESHING_FULL_SCHEMA",
            "UPDATED_FULL_SCHEMA"
          ]
        },
        "actions": {
          "description": "Output only. List of actions.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
          "readOnly": true,
          "type": "string"
        },
        "entities": {
          "type": "array",
          "description": "Output only. List of entity names.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ConnectionSchemaMetadata is the singleton resource of each connection. It includes the entity and action names of runtime resources exposed by a connection backend."
    },
    "EndUserAuthenticationConfigSshPublicKey": {
      "type": "object",
      "description": "Parameters to support Ssh public key Authentication.",
      "id": "EndUserAuthenticationConfigSshPublicKey",
      "properties": {
        "sshClientCert": {
          "description": "Required. SSH Client Cert. It should contain both public and private key.",
          "$ref": "EUASecret"
        },
        "username": {
          "description": "The user account used to authenticate.",
          "type": "string"
        },
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCertPass": {
          "description": "Required. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "EUASecret"
        }
      }
    },
    "EventingConfigTemplate": {
      "type": "object",
      "description": "Eventing Config details of a connector version. next: 14",
      "id": "EventingConfigTemplate",
      "properties": {
        "isEventingSupported": {
          "type": "boolean",
          "description": "Is Eventing Supported."
        },
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "description": "Additional fields that need to be rendered."
        },
        "sslConfigTemplate": {
          "$ref": "SslConfigTemplate",
          "description": "SSL Config template for the connector version."
        },
        "autoRefresh": {
          "type": "boolean",
          "description": "Auto refresh to extend webhook life."
        },
        "autoRegistrationSupported": {
          "description": "Auto Registration supported.",
          "type": "boolean"
        },
        "authConfigTemplates": {
          "description": "AuthConfigTemplates represents the auth values for the webhook adapter.",
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "type": "array"
        },
        "enrichmentSupported": {
          "type": "boolean",
          "description": "Enrichment Supported."
        },
        "encryptionKeyTemplate": {
          "description": "Encryption key (can be either Google managed or CMEK).",
          "$ref": "ConfigVariableTemplate"
        },
        "eventListenerType": {
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "type": "string",
          "enum": [
            "EVENT_LISTENER_TYPE_UNSPECIFIED",
            "WEBHOOK_LISTENER",
            "JMS_LISTENER"
          ],
          "description": "The type of the event listener for a specific connector."
        },
        "triggerConfigVariables": {
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "description": "Trigger Config fields that needs to be rendered",
          "type": "array"
        },
        "proxyDestinationConfig": {
          "$ref": "DestinationConfigTemplate",
          "description": "Proxy destination config template."
        },
        "listenerAuthConfigTemplates": {
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "description": "ListenerAuthConfigTemplates represents the auth values for the event listener."
        },
        "registrationDestinationConfig": {
          "$ref": "DestinationConfigTemplate",
          "description": "Registration host destination config template."
        }
      }
    },
    "EndUserAuthenticationConfigVariable": {
      "type": "object",
      "id": "EndUserAuthenticationConfigVariable",
      "properties": {
        "key": {
          "description": "Required. Key of the config variable.",
          "type": "string"
        },
        "secretValue": {
          "$ref": "EUASecret",
          "description": "Value is a secret"
        },
        "intValue": {
          "description": "Value is an integer",
          "format": "int64",
          "type": "string"
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Value is a string."
        }
      },
      "description": "EndUserAuthenticationConfigVariable represents a configuration variable present in a EndUserAuthentication."
    },
    "FetchConnectionToolspecOverrideResponse": {
      "description": "Response message for FetchConnectionToolspecOverride API.",
      "id": "FetchConnectionToolspecOverrideResponse",
      "properties": {
        "toolspecOverride": {
          "$ref": "ToolspecOverride",
          "description": "Toolspec overrides for the connection."
        }
      },
      "type": "object"
    },
    "JsonAuthSchema": {
      "id": "JsonAuthSchema",
      "properties": {
        "$schema": {
          "type": "string",
          "description": "JSON schema of the AuthSchemas."
        },
        "oneOf": {
          "description": "List of AuthObjects.",
          "items": {
            "$ref": "AuthObject"
          },
          "type": "array"
        }
      },
      "description": "JsonAuthSchema defines the JSON schema of all authentication types.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlow": {
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
      "properties": {
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "EUASecret"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow."
        },
        "oauthTokenData": {
          "$ref": "OAuthTokenData",
          "description": "Optional. Auth Code Data"
        },
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Client ID for user-provided OAuth app."
        },
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "type": "object"
    },
    "Secret": {
      "type": "object",
      "description": "Secret provides a reference to entries in Secret Manager.",
      "id": "Secret",
      "properties": {
        "secretVersion": {
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "TrafficShapingConfig": {
      "id": "TrafficShapingConfig",
      "properties": {
        "quotaLimit": {
          "type": "string",
          "description": "Required. Maximum number of api calls allowed.",
          "format": "int64"
        },
        "duration": {
          "type": "string",
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "format": "google-duration"
        }
      },
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "type": "object"
    },
    "ResultMetadata": {
      "type": "object",
      "id": "ResultMetadata",
      "properties": {
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this action's result"
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "defaultValue": {
          "type": "any",
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided."
        },
        "description": {
          "description": "A brief description of the field.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "Name of the result field."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "description": "The data type of the field.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "description": "Metadata of result field."
    },
    "NetworkConfig": {
      "type": "object",
      "description": "Regional Network Config.",
      "id": "NetworkConfig",
      "properties": {
        "egressMode": {
          "description": "Optional. Egress mode for the network.",
          "type": "string",
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "AUTO_IP",
            "STATIC_IP"
          ],
          "enumDescriptions": [
            "Egress mode unspecified.",
            "Network egress through auto assigned IPs.",
            "Network egress through static IPs."
          ]
        },
        "egressIps": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Egress IPs",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "PublishStatus": {
      "type": "object",
      "description": "Publish status of a custom connector.",
      "id": "PublishStatus",
      "properties": {
        "publishedAs": {
          "type": "string",
          "description": "Output only. Partner connector name. Will be set on the custom connector. Format: providers/partner/connectors//versions/",
          "readOnly": true
        },
        "publishState": {
          "enum": [
            "PUBLISH_STATE_UNSPECIFIED",
            "PUBLISHED",
            "PUBLISH_IN_PROGRESS",
            "UNPUBLISHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State Unspecified.",
            "Connector version has been published as partner connector version.",
            "Connector version is in the process of being published as partner connector version.",
            "Connector version has been unpublished as partner connector version"
          ],
          "description": "Output only. Publish state of the custom connector.",
          "readOnly": true
        },
        "publishedSource": {
          "type": "string",
          "description": "Output only. Custom connector name. Will be set on the partner connector. Format: providers/customconnectors/connectors//versions/",
          "readOnly": true
        },
        "publishTime": {
          "description": "Output only. Publish time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "StandardAction": {
      "id": "StandardAction",
      "properties": {
        "name": {
          "description": "Name of the standard action.",
          "type": "string"
        }
      },
      "description": "Standard action",
      "type": "object"
    },
    "MultipleSelectConfig": {
      "type": "object",
      "description": "MultipleSelectConfig represents the multiple options for a config variable.",
      "id": "MultipleSelectConfig",
      "properties": {
        "multipleSelectOptions": {
          "type": "array",
          "items": {
            "$ref": "MultipleSelectOption"
          },
          "description": "Required. Multiple select options."
        },
        "valueSeparator": {
          "type": "string",
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field."
        },
        "allowCustomValues": {
          "description": "Optional. Allow custom values.",
          "type": "boolean"
        }
      }
    },
    "PubSub": {
      "type": "object",
      "id": "PubSub",
      "properties": {
        "topicId": {
          "description": "Required. The topic id of the Pub/Sub topic.",
          "type": "string"
        },
        "configVariables": {
          "description": "Optional. Configuration for configuring the trigger",
          "items": {
            "$ref": "ConfigVariable"
          },
          "type": "array"
        },
        "attributes": {
          "description": "Optional. Pub/Sub message attributes to be added to the Pub/Sub message.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project id which has the Pub/Sub topic."
        }
      },
      "description": "Pub/Sub message includes details of the Destination Pub/Sub topic."
    },
    "HPAConfig": {
      "type": "object",
      "description": "Autoscaling config for connector deployment system metrics.",
      "id": "HPAConfig",
      "properties": {
        "memoryUtilizationThreshold": {
          "type": "string",
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "format": "int64"
        },
        "cpuUtilizationThreshold": {
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AuthorizationCodeLink": {
      "type": "object",
      "description": "This configuration captures the details required to render an authorization link for the OAuth Authorization Code Flow.",
      "id": "AuthorizationCodeLink",
      "properties": {
        "omitQueryParams": {
          "description": "Optional. Omit query params from the redirect URI.",
          "type": "boolean"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. The client ID assigned to the Google Cloud Connectors OAuth app for the connector data source."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The base URI the user must click to trigger the authorization code login flow."
        },
        "scopes": {
          "type": "array",
          "description": "Optional. The scopes for which the user will authorize Google Cloud Connectors on the connector data source.",
          "items": {
            "type": "string"
          }
        },
        "clientSecret": {
          "description": "Optional. The client secret assigned to the Google Cloud Connectors OAuth app for the connector data source.",
          "$ref": "Secret"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE for the auth code flow.",
          "type": "boolean"
        }
      }
    },
    "ConnectionStatus": {
      "id": "ConnectionStatus",
      "properties": {
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "state": {
          "description": "State.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ],
          "enumDescriptions": [
            "Connection does not have a state yet.",
[...]
