{
  "id": "connectors:v1",
  "rootUrl": "https://connectors.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "canonicalName": "Connectors",
  "schemas": {
    "ManagedZone": {
      "properties": {
        "updateTime": {
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "dns": {
          "type": "string",
          "description": "Required. DNS Name of the resource"
        },
        "targetVpc": {
          "description": "Required. The name of the Target Project VPC Network",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. The name of the Target Project"
        }
      },
      "id": "ManagedZone",
      "type": "object",
      "description": "represents the Connector's Managed Zone resource"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ConnectorsLogConfig": {
      "description": "Log configuration for the connection.",
      "id": "ConnectorsLogConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection."
        },
        "level": {
          "description": "Optional. Log configuration level.",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ]
        }
      }
    },
    "Oauth2ClientCredentials": {
      "id": "Oauth2ClientCredentials",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Optional. The client identifier."
        },
        "clientSecret": {
          "description": "Optional. Secret version reference containing the client secret.",
          "$ref": "Secret"
        }
      },
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details."
    },
    "ConnectorInfraConfig": {
      "id": "ConnectorInfraConfig",
      "type": "object",
      "properties": {
        "provisionCloudSpanner": {
          "description": "Indicate whether cloud spanner is required for connector job.",
          "type": "boolean"
        },
        "alwaysAllocateCpu": {
          "description": "Indicates that the Cloud Run CPU should always be allocated.",
          "type": "boolean"
        },
        "ratelimitThreshold": {
          "description": "Max QPS supported by the connector version before throttling of requests.",
          "type": "string",
          "format": "int64"
        },
        "internalclientRatelimitThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Max QPS supported for internal requests originating from Connd."
        },
        "connectionRatelimitWindowSeconds": {
          "description": "The window used for ratelimiting runtime requests to connections.",
          "format": "int64",
          "type": "string"
        },
        "connectorVersioningEnabled": {
          "description": "Indicate whether connector versioning is enabled.",
          "type": "boolean"
        },
        "deploymentModel": {
          "type": "string",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "description": "Indicate whether connector is deployed on GKE/CloudRun"
        },
        "maxInstanceRequestConcurrency": {
          "description": "Max Instance Request Conncurrency for Cloud Run service.",
          "format": "int32",
          "type": "integer"
        },
        "sharedDeployment": {
          "description": "The name of shared connector deployment.",
          "type": "string"
        },
        "connectionServiceAccountEnabled": {
          "type": "boolean",
          "description": "Indicate whether connection service account is enabled. If false, the common runtime service agent is used."
        },
        "hpaConfig": {
          "description": "HPA autoscaling config.",
          "$ref": "HPAConfig"
        },
        "resourceLimits": {
          "description": "System resource limits.",
          "$ref": "ResourceLimits"
        },
        "provisionMemstore": {
          "description": "Indicate whether memstore is required for connector job.",
          "type": "boolean"
        },
        "migrateDeploymentModel": {
          "description": "Indicate whether connector is being migrated to cloud run deployment model.",
          "type": "boolean"
        },
        "publicNetworkIngressEnabled": {
          "type": "boolean",
          "description": "Indicate whether public network ingress should be enabled."
        },
        "networkEgressModeOverride": {
          "description": "Network egress mode override to migrate to direct VPC egress.",
          "$ref": "NetworkEgressModeOverride"
        },
        "migrateTls": {
          "description": "Indicate whether connector is being migrated to TLS.",
          "type": "boolean"
        },
        "resourceRequests": {
          "description": "System resource requests.",
          "$ref": "ResourceRequests"
        }
      },
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version"
    },
    "PerSliSloEligibility": {
      "properties": {
        "eligibilities": {
          "type": "object",
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "additionalProperties": {
            "$ref": "SloEligibility"
          }
        }
      },
      "id": "PerSliSloEligibility",
      "type": "object",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility."
    },
    "FieldComparison": {
      "id": "FieldComparison",
      "type": "object",
      "properties": {
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Integer value"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of the field."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value"
        },
        "comparator": {
          "description": "Optional. Comparator to use for comparing the field value.",
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "EQUALS",
            "NOT_EQUALS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The field value must be equal to the specified value.",
            "The field value must not be equal to the specified value."
          ]
        },
        "stringValue": {
          "type": "string",
          "description": "String value"
        }
      },
      "description": "Field that needs to be compared."
    },
    "JsonAuthSchema": {
      "description": "JsonAuthSchema defines the JSON schema of all authentication types.",
      "properties": {
        "$schema": {
          "type": "string",
          "description": "JSON schema of the AuthSchemas."
        },
        "oneOf": {
          "type": "array",
          "description": "List of AuthObjects.",
          "items": {
            "$ref": "AuthObject"
          }
        }
      },
      "id": "JsonAuthSchema",
      "type": "object"
    },
    "ListenEventResponse": {
      "properties": {},
      "id": "ListenEventResponse",
      "type": "object",
      "description": "Expected response for ListenEvent API."
    },
    "SearchConnectionInstance": {
      "id": "SearchConnectionInstance",
      "type": "object",
      "properties": {
        "connection": {
          "readOnly": true,
          "description": "Output only. Connection details",
          "$ref": "Connection"
        },
        "entitySchema": {
          "readOnly": true,
          "description": "Output only. Schema of a runtime entity.",
          "$ref": "RuntimeEntitySchema"
        },
        "actionSchema": {
          "description": "Output only. Schema of a runtime action.",
          "$ref": "RuntimeActionSchema",
          "readOnly": true
        }
      },
      "description": "SearchConnectionInstance represents an instance of connector with specific fields"
    },
    "ExtractionRule": {
      "description": "Extraction Rule.",
      "properties": {
        "source": {
          "description": "Source on which the rule is applied.",
          "$ref": "Source"
        },
        "extractionRegex": {
          "type": "string",
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used."
        },
        "formatString": {
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is.",
          "type": "string"
        }
      },
      "id": "ExtractionRule",
      "type": "object"
    },
    "EndUserAuthenticationConfigSshPublicKey": {
      "id": "EndUserAuthenticationConfigSshPublicKey",
      "type": "object",
      "properties": {
        "username": {
          "description": "The user account used to authenticate.",
          "type": "string"
        },
        "sshClientCert": {
          "description": "Required. SSH Client Cert. It should contain both public and private key.",
          "$ref": "EUASecret"
        },
        "certType": {
          "type": "string",
          "description": "Format of SSH Client cert."
        },
        "sshClientCertPass": {
          "description": "Required. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "EUASecret"
        }
      },
      "description": "Parameters to support Ssh public key Authentication."
    },
    "ModifyConnectionToolspecOverrideResponse": {
      "id": "ModifyConnectionToolspecOverrideResponse",
      "type": "object",
      "properties": {
        "toolspecOverrides": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      },
      "description": "Response message for ModifyConnectionToolspecOverride API."
    },
    "JwtClaims": {
      "id": "JwtClaims",
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Optional. Value for the \"iss\" claim."
        },
        "subject": {
          "type": "string",
          "description": "Optional. Value for the \"sub\" claim."
        },
        "audience": {
          "type": "string",
          "description": "Optional. Value for the \"aud\" claim."
        }
      },
      "description": "JWT claims used for the jwt-bearer authorization grant."
    },
    "RuntimeActionSchema": {
      "properties": {
        "inputSchemaAsString": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Input schema as string."
        },
        "resultSchemaAsString": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Result schema as string."
        },
        "resultMetadata": {
          "description": "Output only. List of result field metadata.",
          "items": {
            "$ref": "ResultMetadata"
          },
          "readOnly": true,
          "type": "array"
        },
        "action": {
          "description": "Output only. Name of the action.",
          "readOnly": true,
          "type": "string"
        },
        "resultJsonSchema": {
          "description": "Output only. JsonSchema representation of this action's result metadata",
          "$ref": "JsonSchema",
          "readOnly": true
        },
        "inputParameters": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of input parameter metadata for the action.",
          "items": {
            "$ref": "InputParameter"
          }
        },
        "inputJsonSchema": {
          "readOnly": true,
          "description": "Output only. JsonSchema representation of this action's input metadata",
          "$ref": "JsonSchema"
        },
        "displayName": {
          "description": "Output only. Display Name of action to be shown on client side",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Brief Description of action",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "RuntimeActionSchema",
      "type": "object",
      "description": "Schema of a runtime action."
    },
    "EUASecret": {
      "id": "EUASecret",
      "type": "object",
      "properties": {
        "secretValue": {
          "description": "Optional. The plain string value of the secret.",
          "type": "string"
        },
        "secretVersion": {
          "type": "string",
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        }
      },
      "description": "EUASecret provides a reference to entries in Secret Manager."
    },
    "EndUserAuthenticationConfigOauth2ClientCredentials": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "description": "Required. string value or secret version containing the client secret.",
          "$ref": "EUASecret"
        }
      },
      "id": "EndUserAuthenticationConfigOauth2ClientCredentials",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details."
    },
    "CustomConnector": {
      "id": "CustomConnector",
      "type": "object",
      "properties": {
        "logo": {
          "description": "Optional. Logo of the resource.",
          "type": "string"
        },
        "activeConnectorVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Active connector versions.",
          "items": {
            "type": "string"
          }
        },
        "allConnectorVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. All connector versions.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the CustomConnector. Format: projects/{project}/locations/{location}/customConnectors/{connector}"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name."
        },
        "allMarketplaceVersions": {
          "description": "Output only. All marketplace versions.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created time."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customConnectorType": {
          "type": "string",
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ],
          "description": "Required. Type of the custom connector."
        },
        "publishedMarketplaceVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Published marketplace versions.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "CustomConnector represents the custom connector defined by the customer as part of byoc."
    },
    "NotificationParameter": {
      "id": "NotificationParameter",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Contains notification related data."
    },
    "Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the resource was created."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "state": {
          "description": "Optional. The state of the policy.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        }
      },
      "description": "Defines policies to service maintenance events."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "SshPublicKey": {
      "description": "Parameters to support Ssh public key Authentication.",
      "id": "SshPublicKey",
      "type": "object",
      "properties": {
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        },
        "sshClientCert": {
          "description": "Optional. SSH Client Cert. It should contain both public and private key.",
          "$ref": "Secret"
        },
        "certType": {
          "description": "Optional. Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCertPass": {
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "Secret"
        }
      }
    },
    "JsonSchema": {
      "properties": {
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "format": {
          "type": "string",
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format"
        },
        "items": {
          "description": "Schema that applies to array values, applicable only if this is of type `array`.",
          "$ref": "JsonSchema"
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length of the string field."
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Whether the items in the array field are unique."
        },
        "jdbcType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "JDBC datatype of the field.",
          "type": "string",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ]
        },
        "exclusiveMinimum": {
          "description": "Whether the minimum number value is exclusive.",
          "type": "boolean"
        },
        "enum": {
          "type": "array",
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "items": {
            "type": "any"
          }
        },
        "maxItems": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of items in the array field."
        },
        "minItems": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of items in the array field."
        },
        "minLength": {
          "description": "Minimum length of the string field.",
          "type": "integer",
          "format": "int32"
        },
        "required": {
          "type": "array",
          "description": "Whether this property is required.",
          "items": {
            "type": "string"
          }
        },
        "pattern": {
          "type": "string",
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match."
        },
        "type": {
          "type": "array",
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "minimum": {
          "description": "Minimum value of the number field.",
          "type": "any"
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "boolean"
        },
        "properties": {
          "type": "object",
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "additionalDetails": {
          "type": "object",
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "JsonSchema",
      "type": "object",
      "description": "JsonSchema representation of schema metadata"
    },
    "WeeklyCycle": {
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "id": "WeeklyCycle",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "RegionalSettings": {
      "id": "RegionalSettings",
      "type": "object",
      "properties": {
        "networkConfig": {
          "description": "Optional. Regional network config.",
          "$ref": "NetworkConfig"
        },
        "encryptionConfig": {
          "description": "Optional. Regional encryption config to hold CMEK details.",
          "$ref": "EncryptionConfig"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
          "readOnly": true,
          "type": "string"
        },
        "provisioned": {
          "description": "Output only. Specifies whether the region is provisioned.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Regional Settings details."
    },
    "EventingStatus": {
      "description": "EventingStatus indicates the state of eventing.",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of error if State is set to \"ERROR\"."
        },
        "state": {
          "description": "Output only. State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ]
        }
      },
      "id": "EventingStatus",
      "type": "object"
    },
    "ListenEventRequest": {
      "description": "Expected request for ListenEvent API.",
      "id": "ListenEventRequest",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Optional. Request payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "ResourceRequests": {
      "id": "ResourceRequests",
      "type": "object",
      "properties": {
        "memory": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Memory request."
        },
        "cpu": {
          "description": "Output only. CPU request.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Resource requests defined for connection pods of a given connector type."
    },
    "SearchConnectionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional. page_token",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "connections": {
          "description": "A list of connectors.",
          "items": {
            "$ref": "SearchConnectionInstance"
          },
          "type": "array"
        }
      },
      "id": "SearchConnectionsResponse",
      "type": "object",
      "description": "Response message for Connectors.SearchConnections."
    },
    "RoleGrant": {
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user.",
      "id": "RoleGrant",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Optional. Resource on which the roles needs to be granted for the principal.",
          "$ref": "Resource"
        },
        "principal": {
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "description": "Optional. Principal/Identity for whom the role need to assigned.",
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ]
        },
        "roles": {
          "type": "array",
          "description": "Optional. List of roles that need to be granted.",
          "items": {
            "type": "string"
          }
        },
        "helperTextTemplate": {
          "type": "string",
          "description": "Optional. Template that UI can use to provide helper text to customers."
        }
      }
    },
    "GenerateConnectionToolspecOverrideRequest": {
      "description": "Request message for GenerateConnectionToolspecOverride API.",
      "id": "GenerateConnectionToolspecOverrideRequest",
      "type": "object",
      "properties": {
        "toolNames": {
          "description": "Required. List of tools for which the tool spec override is to be generated.",
          "items": {
            "$ref": "ToolName"
          },
          "type": "array"
        }
      }
    },
    "EndUserAuthenticationNotifyEndpointDestinationEndPoint": {
      "description": "Endpoint message includes details of the Destination endpoint.",
      "id": "EndUserAuthenticationNotifyEndpointDestinationEndPoint",
      "type": "object",
      "properties": {
        "endpointUri": {
          "description": "Required. The URI of the Endpoint.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "description": "Optional. List of Header to be added to the Endpoint.",
          "items": {
            "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPointHeader"
          }
        }
      }
    },
    "AuthorizationCodeLink": {
      "description": "This configuration captures the details required to render an authorization link for the OAuth Authorization Code Flow.",
      "properties": {
        "scopes": {
          "description": "Optional. The scopes for which the user will authorize Google Cloud Connectors on the connector data source.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientSecret": {
          "description": "Optional. The client secret assigned to the Google Cloud Connectors OAuth app for the connector data source.",
          "$ref": "Secret"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE for the auth code flow.",
          "type": "boolean"
        },
        "uri": {
          "description": "Optional. The base URI the user must click to trigger the authorization code login flow.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. The client ID assigned to the Google Cloud Connectors OAuth app for the connector data source."
        },
        "omitQueryParams": {
          "description": "Optional. Omit query params from the redirect URI.",
          "type": "boolean"
        }
      },
      "id": "AuthorizationCodeLink",
      "type": "object"
    },
    "ListEndpointAttachmentsResponse": {
      "description": "Response message for ConnectorsService.ListEndpointAttachments",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "endpointAttachments": {
          "type": "array",
          "description": "EndpointAttachments.",
          "items": {
            "$ref": "EndpointAttachment"
          }
        }
      },
      "id": "ListEndpointAttachmentsResponse",
      "type": "object"
    },
    "EventSubscription": {
      "description": "represents the Connector's EventSubscription resource",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter for the event subscription. Incoming events are filtered based on the filter expression."
        },
        "subscriberLink": {
          "type": "string",
          "description": "Optional. Link for Subscriber of the current EventSubscription."
        },
        "eventTypeId": {
          "description": "Optional. Event type id of the event of current EventSubscription.",
          "type": "string"
        },
        "subscriber": {
          "description": "Optional. name of the Subscriber for the current EventSubscription.",
          "type": "string"
        },
        "destinations": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EventSubscriptionDestination"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Optional. Status indicates the status of the event subscription resource",
          "$ref": "EventSubscriptionStatus"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "triggerConfigVariables": {
          "type": "array",
          "description": "Optional. Configuration for configuring the trigger",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}"
        },
        "jms": {
          "description": "Optional. JMS is the source for the event listener.",
          "$ref": "JMS"
        }
      },
      "id": "EventSubscription",
      "type": "object"
    },
    "ListEndUserAuthenticationsResponse": {
      "description": "Response message for ConnectorsService.ListEndUserAuthentications",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "endUserAuthentications": {
          "description": "Subscriptions.",
          "items": {
            "$ref": "EndUserAuthentication"
          },
          "type": "array"
        }
      },
      "id": "ListEndUserAuthenticationsResponse",
      "type": "object"
    },
    "BillingConfig": {
      "description": "Billing config for the connection.",
      "properties": {
        "billingCategory": {
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "description": "Output only. Billing category for the connector.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ]
        }
      },
      "id": "BillingConfig",
      "type": "object"
    },
    "NetworkEgressModeOverride": {
      "properties": {
        "networkEgressMode": {
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "SERVERLESS_VPC_ACCESS_CONNECTOR",
            "DIRECT_VPC_EGRESS"
          ],
          "description": "Determines the VPC Egress mode for the connector.",
          "type": "string",
          "enumDescriptions": [
            "Network Egress mode is not specified.",
            "Default model VPC Access Connector.",
            "Direct VPC Egress."
          ]
        },
        "isEventingOverrideEnabled": {
          "description": "boolean should be set to true to make sure only eventing enabled connections are migrated to direct vpc egress.",
          "type": "boolean"
        },
        "isJobsOverrideEnabled": {
          "description": "boolean should be set to true to make sure only async operations enabled connections are migrated to direct vpc egress.",
          "type": "boolean"
        }
      },
      "id": "NetworkEgressModeOverride",
      "type": "object",
      "description": "NetworkEgressModeOverride provides the network egress mode override for a connector."
    },
    "Schedule": {
      "description": "Configure the schedule.",
      "properties": {
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "day": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Allows to define schedule that runs specified day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "id": "Schedule",
      "type": "object"
    },
    "SchemaRefreshConfig": {
      "description": "Config for connection schema refresh",
      "properties": {
        "useSynchronousSchemaRefresh": {
          "type": "boolean",
          "description": "Whether to use synchronous schema refresh."
        },
        "useActionDisplayNames": {
          "description": "Whether to use displayName for actions in UI.",
          "type": "boolean"
        }
      },
      "id": "SchemaRefreshConfig",
      "type": "object"
    },
    "SslConfigTemplate": {
      "properties": {
        "isTlsMandatory": {
          "type": "boolean",
          "description": "Boolean for determining if the connector version mandates TLS."
        },
        "clientCertType": {
          "type": "array",
          "description": "List of supported Client Cert Types",
          "items": {
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ]
          }
        },
        "additionalVariables": {
          "type": "array",
          "description": "Any additional fields that need to be rendered",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "sslType": {
          "description": "Controls the ssl type for the given connector version",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ]
        },
        "serverCertType": {
          "description": "List of supported Server Cert Types",
          "items": {
            "enum": [
              "CERT_TYPE_UNSPECIFIED",
              "PEM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Cert type unspecified.",
              "Privacy Enhanced Mail (PEM) Type"
            ]
          },
          "type": "array"
        }
      },
      "id": "SslConfigTemplate",
      "type": "object",
      "description": "Ssl config details of a connector version"
    },
    "Connector": {
      "properties": {
        "marketplaceConnectorDetails": {
          "description": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector.",
          "$ref": "MarketplaceConnectorDetails",
          "readOnly": true
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "description": "Output only. Tags of the connector.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Updated time."
        },
        "labels": {
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "webAssetsLocation": {
          "description": "Output only. Cloud storage location of icons etc consumed by UI.",
          "readOnly": true,
          "type": "string"
        },
        "documentationUri": {
          "description": "Output only. Link to documentation page.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name."
        },
        "launchStage": {
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ]
        },
        "connectorType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Google connectors.",
            "Technical connectors.",
            "Third Party connectors."
          ],
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "CONNECTOR_TYPE_GOOGLE",
            "CONNECTOR_TYPE_TECHNICAL",
            "CONNECTOR_TYPE_THIRD_PARTY"
          ],
          "description": "Output only. The type of the connector."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Created time."
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category of the connector."
        },
        "eventingDetails": {
          "description": "Output only. Eventing details. Will be null if eventing is not supported.",
          "$ref": "EventingDetails",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the resource."
        }
      },
      "id": "Connector",
      "type": "object",
      "description": "Connectors indicates a specific connector type, e.x. Salesforce, SAP etc."
    },
    "EndUserAuthentication": {
      "description": "AuthConfig defines details of a authentication type.",
      "properties": {
        "notifyEndpointDestination": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EndUserAuthenticationNotifyEndpointDestination"
        },
        "endUserAuthenticationConfig": {
          "description": "Optional. The EndUserAuthenticationConfig for the EndUserAuthentication.",
          "$ref": "EndUserAuthenticationConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Created time."
        },
        "labels": {
          "type": "array",
          "description": "Optional. Labels for the EndUserAuthentication.",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "description": "Optional. Status of the EndUserAuthentication.",
          "$ref": "EndUserAuthenticationEndUserAuthenticationStatus"
        },
        "userId": {
          "type": "string",
          "description": "Optional. The user id of the user."
        },
        "destinationConfigs": {
          "description": "Optional. Destination configs for the EndUserAuthentication.",
          "items": {
            "$ref": "DestinationConfig"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "roles": {
          "description": "Optional. Roles for the EndUserAuthentication.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default state.",
              "READER.",
              "READER_DOMAIN_WIDE_ACCESSIBLE which has access to only public data."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "READER",
              "READER_DOMAIN_WIDE_ACCESSIBLE"
            ]
          },
          "type": "array"
        },
        "configVariables": {
          "type": "array",
          "description": "Optional. Config variables for the EndUserAuthentication.",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Resource name of the EndUserAuthentication. Format: projects/{project}/locations/{location}/connections/{connection}/endUserAuthentications/{end_user_authentication}"
        }
      },
      "id": "EndUserAuthentication",
      "type": "object"
    },
    "EventingRuntimeData": {
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "id": "EventingRuntimeData",
      "type": "object",
      "properties": {
        "eventsListenerPscSa": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled."
        },
        "webhookSubscriptions": {
          "readOnly": true,
          "description": "Output only. Webhook subscriptions.",
          "$ref": "WebhookSubscriptions"
        },
        "webhookData": {
          "readOnly": true,
          "description": "Output only. Webhook data.",
          "$ref": "WebhookData"
        },
        "status": {
          "description": "Output only. Current status of eventing.",
          "$ref": "EventingStatus",
          "readOnly": true
        },
        "eventsListenerEndpoint": {
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "EventSubscriptionStatus": {
      "id": "EventSubscriptionStatus",
      "type": "object",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the state."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "EventSubscription creation is in progress.",
            "EventSubscription is in Updating status.",
            "EventSubscription is in Active state and is ready to receive events.",
            "EventSubscription is currently suspended.",
            "EventSubscription is in Error state."
          ],
          "description": "Output only. State of Event Subscription resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "SUSPENDED",
            "ERROR"
          ]
        }
      },
      "description": "EventSubscription Status denotes the status of the EventSubscription resource."
    },
    "NodeConfig": {
      "properties": {
        "minNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of nodes in the runtime nodes."
        },
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of nodes in the runtime nodes."
        }
      },
      "id": "NodeConfig",
      "type": "object",
      "description": "Node configuration for the connection."
    },
    "NodeSloMetadata": {
      "properties": {
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        }
      },
      "id": "NodeSloMetadata",
      "type": "object",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
    },
    "EndUserAuthenticationNotifyEndpointDestination": {
      "id": "EndUserAuthenticationNotifyEndpointDestination",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account needed for runtime plane to notify the backend.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. OPTION 1: Hit an endpoint when the refresh token is expired.",
          "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPoint"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT"
          ],
          "description": "Required. type of the destination"
        }
      },
      "description": "Message for NotifyEndpointDestination Destination to hit when the refresh token is expired."
    },
    "NetworkConfig": {
      "properties": {
        "egressMode": {
          "description": "Optional. Egress mode for the network.",
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "AUTO_IP",
            "STATIC_IP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Egress mode unspecified.",
            "Network egress through auto assigned IPs.",
            "Network egress through static IPs."
          ]
        },
        "egressIps": {
          "description": "Output only. Egress IPs",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "NetworkConfig",
      "type": "object",
      "description": "Regional Network Config."
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "id": "ModifyConnectionToolspecOverrideRequest",
      "type": "object",
      "properties": {
        "toolspecOverride": {
          "description": "Required. Toolspec overrides to be modified.",
          "$ref": "ToolspecOverride"
        }
      },
      "description": "Request message for ModifyConnectionToolspecOverride API."
    },
    "EnumOption": {
      "id": "EnumOption",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. Id of the option."
        },
        "displayName": {
          "description": "Optional. Display name of the option.",
          "type": "string"
        }
      },
      "description": "EnumOption definition"
    },
    "GenerateConnectionToolspecOverrideResponse": {
      "properties": {
        "toolspecOverride": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      },
      "id": "GenerateConnectionToolspecOverrideResponse",
      "type": "object",
      "description": "Response message for GenerateConnectionToolspecOverride API."
    },
    "EgressControlConfig": {
      "description": "Egress control config for connector runtime. These configurations define the rules to identify which outbound domains/hosts needs to be whitelisted. It may be a static information for a particular connector version or it is derived from the configurations provided by the customer in Connection resource.",
      "properties": {
        "accessMode": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "RESTRICTED",
            "ALLOW_ALL"
          ],
          "description": "Optional. Access mode for egress control.",
          "type": "string",
          "enumDescriptions": [
            "The default value. Per best practices (go/protodosdonts#unspecified-enum), the first value should be UNSPECIFIED and have a tag of 0. Application logic should treat this the same as RESTRICTED.",
            "Enforce the allowlist. Only projects in 'allowlisted_project_numbers' are permitted.",
            "Allow all projects. 'allowlisted_project_numbers' is ignored."
          ]
        },
        "extractionRules": {
          "deprecated": true,
          "description": "Extractions Rules to extract the backends from customer provided configuration.",
          "$ref": "ExtractionRules"
        },
        "launchEnvironment": {
          "enum": [
            "LAUNCH_ENVIRONMENT_UNSPECIFIED",
            "AUTOPUSH",
            "STAGING",
            "PROD"
          ],
          "description": "Launch environment for egress control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. If not specified, the launch environment will default to AUTOPUSH.",
            "Autopush environment.",
            "Staging environment.",
            "Prod environment."
          ]
        },
        "allowlistedProjectNumbers": {
          "description": "Optional. Used when access_mode is RESTRICTED or ACCESS_MODE_UNSPECIFIED.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backends": {
          "type": "string",
          "description": "Static Comma separated backends which are common for all Connection resources. Supported formats for each backend are host:port or just host (host can be ip address or domain name)."
        },
        "additionalExtractionRules": {
          "description": "Additional extraction rules to identity the backends from customer provided configuration in Connection resource. These rules are applied in addition to the ones specified in `oneof_backends`.",
          "$ref": "ExtractionRules"
        }
      },
      "id": "EgressControlConfig",
      "type": "object"
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "type": "object",
      "properties": {
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource."
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        }
      },
      "description": "Maintenance policy applicable to instance updates."
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlow": {
      "properties": {
        "pkceVerifier": {
          "type": "string",
          "description": "Optional. PKCE verifier to be used during the auth code exchange."
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        },
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "authUri": {
          "type": "string",
          "description": "Optional. Auth URL for Authorization Code Flow"
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "oauthTokenData": {
          "description": "Optional. Auth Code Data",
          "$ref": "OAuthTokenData"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "EUASecret"
        },
        "scopes": {
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details."
    },
    "TimeOfDay": {
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "EndUserAuthenticationConfigVariable": {
      "id": "EndUserAuthenticationConfigVariable",
      "type": "object",
      "properties": {
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Required. Key of the config variable."
        },
        "secretValue": {
          "description": "Value is a secret",
          "$ref": "EUASecret"
        },
        "intValue": {
          "description": "Value is an integer",
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "description": "Value is a string.",
          "type": "string"
        }
      },
      "description": "EndUserAuthenticationConfigVariable represents a configuration variable present in a EndUserAuthentication."
    },
    "ListRuntimeEntitySchemasResponse": {
      "description": "Response message for ConnectorsService.ListRuntimeEntitySchemas.",
      "id": "ListRuntimeEntitySchemasResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeEntitySchemas": {
          "description": "Runtime entity schemas.",
          "items": {
            "$ref": "RuntimeEntitySchema"
          },
          "type": "array"
        }
      }
    },
    "EndpointAttachment": {
      "description": "represents the Connector's Endpoint Attachment resource",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Endpoint Attachment. Format: projects/{project}/locations/{location}/endpointAttachments/{endpoint_attachment}",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "The endpoint is pending acceptance by the producer.",
            "The endpoint has been accepted by the producer.",
            "The endpoint has been rejected by the producer.",
            "The endpoint has been closed by the producer and will not serve traffic going forward.",
            "The endpoint has been frozen by the producer and will not serve traffic.",
            "The endpoint has been accepted by the producer, but it is not ready to serve the traffic due to producer side issues.",
            "The endpoint has been accepted by the producer, but it cannot be programmed to the data plane due to invariant violation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_NOT_PROGRAMMED"
          ],
          "description": "Output only. The Private Service Connect Connection Endpoint State. This value is only available in the Full view."
        },
        "createTime": {
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAttachment": {
          "type": "string",
          "description": "Required. The path of the service attachment"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Updated time."
        },
        "endpointIp": {
          "description": "Output only. The Private Service Connect connection endpoint ip",
          "readOnly": true,
          "type": "string"
        },
        "endpointGlobalAccess": {
          "description": "Optional. The Private Service Connect Connection Endpoint Global Access. https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#global-access",
          "type": "boolean"
        }
      },
      "id": "EndpointAttachment",
      "type": "object"
    },
    "HPAConfig": {
      "id": "HPAConfig",
      "type": "object",
      "properties": {
        "memoryUtilizationThreshold": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling."
        },
        "cpuUtilizationThreshold": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling."
        }
      },
      "description": "Autoscaling config for connector deployment system metrics."
    },
    "ValidateCustomConnectorSpecRequest": {
      "properties": {
        "specType": {
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ],
          "description": "Required. Spec type of the custom connector spec.",
          "type": "string",
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to access the spec from Google Cloud Storage."
        },
        "specLocation": {
          "description": "Required. Location of the custom connector spec. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`",
          "type": "string"
        }
      },
      "id": "ValidateCustomConnectorSpecRequest",
      "type": "object",
      "description": "Request message for ConnectorsService.ValidateCustomConnectorSpec"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "ListConnectionsResponse": {
      "description": "Response message for ConnectorsService.ListConnections",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "connections": {
          "description": "Connections.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        }
      },
      "id": "ListConnectionsResponse",
      "type": "object"
    },
    "ConnectorVersion": {
      "properties": {
        "roleGrants": {
          "description": "Output only. Role grant configurations for this connector version.",
          "items": {
            "$ref": "RoleGrant"
          },
          "readOnly": true,
          "type": "array"
        },
        "launchStage": {
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ]
        },
        "schemaRefreshConfig": {
          "description": "Connection Schema Refresh Config",
          "$ref": "SchemaRefreshConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Updated time."
        },
        "connectorInfraConfig": {
          "description": "Output only. Infra configs supported by Connector.",
          "$ref": "ConnectorInfraConfig",
          "readOnly": true
        },
        "unsupportedConnectionTypes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Unsupported connection types.",
          "items": {
            "enum": [
              "CONNECTION_TYPE_UNSPECIFIED",
              "CONNECTION_WITH_EVENTING",
              "ONLY_CONNECTION",
              "ONLY_EVENTING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Connection type is unspecified.",
              "Connection with eventing.",
              "Only connection.",
              "Only eventing."
            ]
          }
        },
        "releaseVersion": {
          "description": "Output only. ReleaseVersion of the connector, for example: \"1.0.1-alpha\".",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the Version. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version} Only global location is supported for Connector resource.",
          "readOnly": true,
          "type": "string"
        },
        "supportedStandardActions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Supported standard actions.",
          "items": {
            "$ref": "StandardAction"
          }
        },
        "supportedRuntimeFeatures": {
          "description": "Output only. Information about the runtime features supported by the Connector.",
          "$ref": "SupportedRuntimeFeatures",
          "readOnly": true
        },
        "roleGrant": {
          "readOnly": true,
          "description": "Output only. Role grant configuration for this config variable. It will be DEPRECATED soon.",
          "$ref": "RoleGrant"
        },
        "configVariableTemplates": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of config variables needed to create a connection.",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "isCustomActionsSupported": {
          "description": "Output only. Is custom actions supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "authConfigTemplates": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of auth configs supported by the Connector Version.",
          "items": {
            "$ref": "AuthConfigTemplate"
          }
        },
        "displayName": {
          "description": "Output only. Display name.",
          "readOnly": true,
          "type": "string"
        },
        "eventingConfigTemplate": {
          "description": "Output only. Eventing configuration supported by the Connector.",
          "$ref": "EventingConfigTemplate",
          "readOnly": true
        },
        "labels": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vpcscConfig": {
          "description": "Output only. VPCSC config for the connector.",
          "$ref": "VpcscConfig",
          "readOnly": true
        },
        "destinationConfigTemplates": {
          "description": "Output only. List of destination configs needed to create a connection.",
          "items": {
            "$ref": "DestinationConfigTemplate"
          },
          "readOnly": true,
          "type": "array"
        },
        "supportedStandardEntities": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Supported standard entities.",
          "items": {
            "$ref": "StandardEntity"
          }
        },
        "egressControlConfig": {
          "readOnly": true,
          "description": "Output only. Configuration for Egress Control.",
          "$ref": "EgressControlConfig"
        },
        "authOverrideEnabled": {
          "description": "Output only. Flag to mark the dynamic auth override.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sslConfigTemplate": {
          "readOnly": true,
          "description": "Output only. Ssl configuration supported by the Connector.",
          "$ref": "SslConfigTemplate"
        },
        "isCustomEntitiesSupported": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is custom entities supported."
        }
      },
      "id": "ConnectorVersion",
      "type": "object",
      "description": "ConnectorVersion indicates a specific version of a connector."
    },
    "ConnectionStatus": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "state": {
          "description": "State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error.",
            "Connection is not running because the authorization configuration is not complete."
          ]
        }
      },
      "id": "ConnectionStatus",
      "type": "object",
      "description": "ConnectionStatus indicates the state of the connection."
    },
    "EncryptionKey": {
      "id": "EncryptionKey",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Specifies the type of the encryption key.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "CUSTOMER_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Managed.",
            "Customer Managed."
          ]
        },
        "kmsKeyName": {
          "description": "Optional. The [KMS key name] with which the content of the Operation is encrypted. The expected format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`. Will be empty string if google managed.",
          "type": "string"
        }
      },
      "description": "Encryption Key value."
    },
    "SslConfig": {
      "properties": {
        "privateServerCertificate": {
          "description": "Optional. Private Server Certificate. Needs to be specified if trust model is `PRIVATE`.",
          "$ref": "Secret"
        },
        "clientPrivateKey": {
          "description": "Optional. Client Private Key",
          "$ref": "Secret"
        },
        "clientPrivateKeyPass": {
          "description": "Optional. Secret containing the passphrase protecting the Client Private Key",
          "$ref": "Secret"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Optional. Controls the ssl type for the given connector version.",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "clientCertificate": {
          "description": "Optional. Client Certificate",
          "$ref": "Secret"
        },
        "clientCertType": {
          "type": "string",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "description": "Optional. Type of Client Cert (PEM/JKS/.. etc.)",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ]
        },
        "useSsl": {
          "type": "boolean",
          "description": "Optional. Bool for enabling SSL"
        },
        "trustModel": {
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "description": "Optional. Trust Model of the SSL connection",
          "type": "string",
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ]
        },
        "serverCertType": {
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "description": "Optional. Type of Server Cert (PEM/JKS/.. etc.)",
          "type": "string",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ]
        },
        "additionalVariables": {
          "type": "array",
          "description": "Optional. Additional SSL related field values",
[...]
