{
  "servicePath": "",
  "ownerDomain": "google.com",
  "version_module": true,
  "title": "Connectors API",
  "version": "v1",
  "discoveryVersion": "v1",
  "baseUrl": "https://connectors.googleapis.com/",
  "canonicalName": "Connectors",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "revision": "20260128",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "protocol": "rest",
  "id": "connectors:v1",
  "rootUrl": "https://connectors.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Oauth2ClientCredentials": {
      "properties": {
        "clientId": {
          "description": "Optional. The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Secret version reference containing the client secret.",
          "$ref": "Secret"
        }
      },
      "id": "Oauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object"
    },
    "ListEndUserAuthenticationsResponse": {
      "id": "ListEndUserAuthenticationsResponse",
      "description": "Response message for ConnectorsService.ListEndUserAuthentications",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "endUserAuthentications": {
          "description": "Subscriptions.",
          "type": "array",
          "items": {
            "$ref": "EndUserAuthentication"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LogicalExpression": {
      "id": "LogicalExpression",
      "description": "Struct for representing boolean expressions.",
      "type": "object",
      "properties": {
        "logicalExpressions": {
          "description": "Optional. A list of nested conditions to be compared.",
          "type": "array",
          "items": {
            "$ref": "LogicalExpression"
          }
        },
        "fieldComparisons": {
          "description": "Optional. A list of fields to be compared.",
          "type": "array",
          "items": {
            "$ref": "FieldComparison"
          }
        },
        "logicalOperator": {
          "description": "Optional. The logical operator to use between the fields and conditions.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "enumDescriptions": [
            "The default value.",
            "AND operator; The conditions must all be true.",
            "OR operator; At least one of the conditions must be true."
          ]
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConnectionStatus": {
      "id": "ConnectionStatus",
      "description": "ConnectionStatus indicates the state of the connection.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ],
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error.",
            "Connection is not running because the authorization configuration is not complete."
          ],
          "description": "State.",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "status": {
          "description": "Status provides detailed information for the state.",
          "type": "string"
        }
      }
    },
    "SearchConnectionInstance": {
      "id": "SearchConnectionInstance",
      "description": "SearchConnectionInstance represents an instance of connector with specific fields",
      "type": "object",
      "properties": {
        "entitySchema": {
          "description": "Output only. Schema of a runtime entity.",
          "readOnly": true,
          "$ref": "RuntimeEntitySchema"
        },
        "actionSchema": {
          "description": "Output only. Schema of a runtime action.",
          "readOnly": true,
          "$ref": "RuntimeActionSchema"
        },
        "connection": {
          "description": "Output only. Connection details",
          "readOnly": true,
          "$ref": "Connection"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "JsonAuthSchema": {
      "id": "JsonAuthSchema",
      "description": "JsonAuthSchema defines the JSON schema of all authentication types.",
      "type": "object",
      "properties": {
        "$schema": {
          "description": "JSON schema of the AuthSchemas.",
          "type": "string"
        },
        "oneOf": {
          "description": "List of AuthObjects.",
          "type": "array",
          "items": {
            "$ref": "AuthObject"
          }
        }
      }
    },
    "SloMetadata": {
      "properties": {
        "nodes": {
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "type": "array",
          "items": {
            "$ref": "NodeSloMetadata"
          }
        },
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "PerSliSloEligibility"
        }
      },
      "id": "SloMetadata",
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "EventingRuntimeData": {
      "properties": {
        "webhookSubscriptions": {
          "description": "Output only. Webhook subscriptions.",
          "readOnly": true,
          "$ref": "WebhookSubscriptions"
        },
        "status": {
          "description": "Output only. Current status of eventing.",
          "readOnly": true,
          "$ref": "EventingStatus"
        },
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "readOnly": true,
          "type": "string"
        },
        "eventsListenerEndpoint": {
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "readOnly": true,
          "type": "string"
        },
        "webhookData": {
          "description": "Output only. Webhook data.",
          "readOnly": true,
          "$ref": "WebhookData"
        }
      },
      "id": "EventingRuntimeData",
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "type": "object"
    },
    "SupportedRuntimeFeatures": {
      "properties": {
        "actionApis": {
          "description": "Specifies if the connector supports action apis like 'executeAction'.",
          "type": "boolean"
        },
        "sqlQuery": {
          "description": "Specifies if the connector supports 'ExecuteSqlQuery' operation.",
          "type": "boolean"
        },
        "asyncOperations": {
          "description": "Specifies if the connector supports async long running operations.",
          "type": "boolean"
        },
        "entityApis": {
          "description": "Specifies if the connector supports entity apis like 'createEntity'.",
          "type": "boolean"
        }
      },
      "id": "SupportedRuntimeFeatures",
      "description": "Supported runtime features of a connector version.",
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "type": "object",
      "properties": {
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "type": "object"
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        }
      }
    },
    "BillingConfig": {
      "properties": {
        "billingCategory": {
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "description": "Output only. Billing category for the connector.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BillingConfig",
      "description": "Billing config for the connection.",
      "type": "object"
    },
    "MultipleSelectConfig": {
      "properties": {
        "valueSeparator": {
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field.",
          "type": "string"
        },
        "multipleSelectOptions": {
          "description": "Required. Multiple select options.",
          "type": "array",
          "items": {
            "$ref": "MultipleSelectOption"
          }
        },
        "allowCustomValues": {
          "description": "Optional. Allow custom values.",
          "type": "boolean"
        }
      },
      "id": "MultipleSelectConfig",
      "description": "MultipleSelectConfig represents the multiple options for a config variable.",
      "type": "object"
    },
    "RetryEventSubscriptionRequest": {
      "properties": {},
      "id": "RetryEventSubscriptionRequest",
      "description": "Request message for ConnectorsService.RefreshEventSubscription",
      "type": "object"
    },
    "AuthField": {
      "id": "AuthField",
      "description": "AuthField defines a field in an authentication type.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the field.",
          "type": "string"
        },
        "description": {
          "description": "Description of the field.",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of the field.",
          "type": "string"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "description": "Connection represents an instance of connector.",
      "type": "object",
      "properties": {
        "nodeConfig": {
          "description": "Optional. Node configuration for the connection.",
          "$ref": "NodeConfig"
        },
        "isTrustedTester": {
          "description": "Output only. Is trusted tester program enabled for the project.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
          "readOnly": true,
          "type": "string"
        },
        "host": {
          "description": "Output only. The name of the Hostname of the Service Directory service with TLS.",
          "readOnly": true,
          "type": "string"
        },
        "destinationConfigs": {
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s).",
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          }
        },
        "tlsServiceDirectory": {
          "description": "Output only. The name of the Service Directory service with TLS.",
          "readOnly": true,
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configuration for establishing the connection's authentication with an external system.",
          "$ref": "AuthConfig"
        },
        "fallbackOnAdminCredentials": {
          "description": "Optional. Fallback on admin credentials for the connection. If this both auth_override_enabled and fallback_on_admin_credentials are set to true, the connection will use the admin credentials if the dynamic auth header is not present during auth override.",
          "type": "boolean"
        },
        "eventingRuntimeData": {
          "description": "Output only. Eventing Runtime Data.",
          "readOnly": true,
          "$ref": "EventingRuntimeData"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "imageLocation": {
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "readOnly": true,
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. Ssl config of a connection",
          "$ref": "SslConfig"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "envoyImageLocation": {
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "readOnly": true,
          "type": "string"
        },
        "connectorVersionLaunchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "readOnly": true,
          "type": "string"
        },
        "connectionRevision": {
          "format": "int64",
          "description": "Output only. Connection revision. This field is only updated when the connection is created or updated by User.",
          "readOnly": true,
          "type": "string"
        },
        "connectorVersionInfraConfig": {
          "description": "Output only. Infra configs supported by Connector Version.",
          "readOnly": true,
          "$ref": "ConnectorVersionInfraConfig"
        },
        "billingConfig": {
          "description": "Output only. Billing config for the connection.",
          "readOnly": true,
          "$ref": "BillingConfig"
        },
        "lockConfig": {
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited.",
          "$ref": "LockConfig"
        },
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "readOnly": true,
          "type": "string"
        },
        "authOverrideEnabled": {
          "description": "Optional. Auth override enabled for the connection. If Auth Override is enabled, Connection allows the backend service auth to be overridden in the entities/actions API.",
          "type": "boolean"
        },
        "suspended": {
          "description": "Optional. Suspended indicates if a user has suspended a connection or not.",
          "type": "boolean"
        },
        "connectorVersion": {
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource.",
          "type": "string"
        },
        "trafficShapingConfigs": {
          "description": "Optional. Traffic shaping configuration for the connection.",
          "type": "array",
          "items": {
            "$ref": "TrafficShapingConfig"
          }
        },
        "subscriptionType": {
          "description": "Output only. This subscription type enum states the subscription type of the project.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified subscription type.",
            "PayG subscription.",
            "Paid Subscription."
          ],
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAY_G",
            "PAID"
          ]
        },
        "euaOauthAuthConfig": {
          "description": "Optional. Additional Oauth2.0 Auth config for EUA. If the connection is configured using non-OAuth authentication but OAuth needs to be used for EUA, this field can be populated with the OAuth config. This should be a OAuth2AuthCodeFlow Auth type only.",
          "$ref": "AuthConfig"
        },
        "eventingConfig": {
          "description": "Optional. Eventing config of a connection",
          "$ref": "EventingConfig"
        },
        "configVariables": {
          "description": "Optional. Configuration for configuring the connection with an external system.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "status": {
          "description": "Output only. Current status of the connection.",
          "readOnly": true,
          "$ref": "ConnectionStatus"
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to access Google Cloud resources.",
          "type": "string"
        },
        "eventingEnablementType": {
          "description": "Optional. Eventing enablement type. Will be nil if eventing is not enabled.",
          "type": "string",
          "enumDescriptions": [
            "Eventing Enablement Type Unspecifeied.",
            "Both connection and eventing.",
            "Only Eventing."
          ],
          "enum": [
            "EVENTING_ENABLEMENT_TYPE_UNSPECIFIED",
            "EVENTING_AND_CONNECTION",
            "ONLY_EVENTING"
          ]
        },
        "asyncOperationsEnabled": {
          "description": "Optional. Async operations enabled for the connection. If Async Operations is enabled, Connection allows the customers to initiate async long running operations using the actions API.",
          "type": "boolean"
        },
        "logConfig": {
          "description": "Optional. Log configuration for the connection.",
          "$ref": "ConnectorsLogConfig"
        }
      }
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "description": "RuntimeConfig is the singleton resource of each location. It includes generic resource configs consumed by control plane and runtime plane like: pub/sub topic/subscription resource name, Cloud Storage location storing schema etc.",
      "type": "object",
      "properties": {
        "conndSubscription": {
          "description": "Output only. Pub/Sub subscription for connd to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}",
          "readOnly": true,
          "type": "string"
        },
        "runtimeEndpoint": {
          "description": "Output only. The endpoint of the connectors runtime ingress.",
          "readOnly": true,
          "type": "string"
        },
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the location.",
          "readOnly": true,
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "INACTIVE.",
            "ACTIVATING.",
            "ACTIVE.",
            "CREATING.",
            "DELETING.",
            "UPDATING."
          ]
        },
        "locationId": {
          "description": "Output only. location_id of the runtime location. E.g. \"us-west1\".",
          "readOnly": true,
          "type": "string"
        },
        "schemaGcsBucket": {
          "description": "Output only. The Cloud Storage bucket that stores connector's schema reports.",
          "readOnly": true,
          "type": "string"
        },
        "controlPlaneSubscription": {
          "description": "Output only. Pub/Sub subscription for control plane to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}",
          "readOnly": true,
          "type": "string"
        },
        "controlPlaneTopic": {
          "description": "Output only. Pub/Sub topic for control plne to send message. communication. E.g. projects/{project-id}/topics/{topic-id}",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the runtimeConfig resource. Format: projects/{project}/locations/{location}/runtimeConfig",
          "readOnly": true,
          "type": "string"
        },
        "conndTopic": {
          "description": "Output only. Pub/Sub topic for connd to send message. E.g. projects/{project-id}/topics/{topic-id}",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NetworkConfig": {
      "properties": {
        "egressIps": {
          "description": "Output only. Egress IPs",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "egressMode": {
          "description": "Optional. Egress mode for the network.",
          "type": "string",
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "AUTO_IP",
            "STATIC_IP"
          ],
          "enumDescriptions": [
            "Egress mode unspecified.",
            "Network egress through auto assigned IPs.",
            "Network egress through static IPs."
          ]
        }
      },
      "id": "NetworkConfig",
      "description": "Regional Network Config.",
      "type": "object"
    },
    "MaintenanceSchedule": {
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean",
          "deprecated": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance.",
          "type": "string"
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string"
        }
      },
      "id": "MaintenanceSchedule",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "type": "object"
    },
    "StandardEntity": {
      "id": "StandardEntity",
      "description": "Standard entity",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the standard entity.",
          "type": "string"
        }
      }
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "properties": {
        "toolspecOverride": {
          "description": "Required. Toolspec overrides to be modified.",
          "$ref": "ToolspecOverride"
        }
      },
      "id": "ModifyConnectionToolspecOverrideRequest",
      "description": "Request message for ModifyConnectionToolspecOverride API.",
      "type": "object"
    },
    "DeadLetterConfig": {
      "properties": {
        "topic": {
          "description": "Optional. Topic to push events which couldn't be processed.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. Project which has the topic given.",
          "type": "string"
        }
      },
      "id": "DeadLetterConfig",
      "description": "Dead Letter configuration details provided by the user.",
      "type": "object"
    },
    "EndUserAuthenticationNotifyEndpointDestination": {
      "id": "EndUserAuthenticationNotifyEndpointDestination",
      "description": "Message for NotifyEndpointDestination Destination to hit when the refresh token is expired.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT"
          ],
          "description": "Required. type of the destination",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account needed for runtime plane to notify the backend.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. OPTION 1: Hit an endpoint when the refresh token is expired.",
          "$ref": "EndUserAuthenticationNotifyEndpointDestinationEndPoint"
        }
      }
    },
    "EventSubscriptionDestination": {
      "id": "EventSubscriptionDestination",
      "description": "Message for EventSubscription Destination to act on receiving an event",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "OPTION 1: Hit an endpoint when we receive an event.",
          "$ref": "EndPoint"
        },
        "type": {
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received",
            "Cloud Storage - Write the event to Cloud Storage bucket",
            "Pub/Sub - Write the event to Pub/Sub topic"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT",
            "GCS",
            "PUBSUB"
          ],
          "description": "Optional. type of the destination",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to trigger IP workflow.",
          "type": "string"
        },
        "pubsub": {
          "description": "OPTION 3: Write the event to Pub/Sub topic.",
          "$ref": "PubSub"
        }
      }
    },
    "WebhookSubscriptions": {
      "properties": {
        "webhookData": {
          "description": "Output only. Webhook data.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WebhookData"
          }
        }
      },
      "id": "WebhookSubscriptions",
      "description": "WebhookSubscriptions has details of webhook subscriptions.",
      "type": "object"
    },
    "ConnectionSchemaMetadata": {
      "properties": {
        "actions": {
          "description": "Output only. List of actions.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorMessage": {
          "description": "Error message for users.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the connection runtime schema was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "refreshTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the connection runtime schema refresh was triggered.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of runtime schema.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REFRESHING",
            "UPDATED",
            "REFRESHING_SCHEMA_METADATA",
            "UPDATED_SCHEMA_METADATA",
            "REFRESH_SCHEMA_METADATA_FAILED",
            "REFRESHING_FULL_SCHEMA",
            "UPDATED_FULL_SCHEMA"
          ],
          "enumDescriptions": [
            "Default state.",
            "Schema refresh is in progress.",
            "Schema has been updated.",
            "Schema refresh for metadata is in progress.",
            "Schema metadata has been updated.",
            "Failed to refresh schema metadata",
            "Triggered full schema refresh",
            "Updated full schema"
          ]
        },
        "name": {
          "description": "Output only. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
          "readOnly": true,
          "type": "string"
        },
        "entities": {
          "description": "Output only. List of entity names.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ConnectionSchemaMetadata",
      "description": "ConnectionSchemaMetadata is the singleton resource of each connection. It includes the entity and action names of runtime resources exposed by a connection backend.",
      "type": "object"
    },
    "RegionalSettings": {
      "properties": {
        "networkConfig": {
          "description": "Optional. Regional network config.",
          "$ref": "NetworkConfig"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/regionalSettings",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. Regional encryption config to hold CMEK details.",
          "$ref": "EncryptionConfig"
        },
        "provisioned": {
          "description": "Output only. Specifies whether the region is provisioned.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "RegionalSettings",
      "description": "Regional Settings details.",
      "type": "object"
    },
    "EnrichmentConfig": {
      "properties": {
        "appendAcl": {
          "description": "Optional. Append ACL to the event.",
          "type": "boolean"
        }
      },
      "id": "EnrichmentConfig",
      "description": "Data enrichment configuration.",
      "type": "object"
    },
    "EventSubscription": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Optional. Status indicates the status of the event subscription resource",
          "$ref": "EventSubscriptionStatus"
        },
        "jms": {
          "description": "Optional. JMS is the source for the event listener.",
          "$ref": "JMS"
        },
        "eventTypeId": {
          "description": "Optional. Event type id of the event of current EventSubscription.",
          "type": "string"
        },
        "destinations": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EventSubscriptionDestination"
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "triggerConfigVariables": {
          "description": "Optional. Configuration for configuring the trigger",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}",
          "type": "string"
        },
        "subscriber": {
          "description": "Optional. name of the Subscriber for the current EventSubscription.",
          "type": "string"
        },
        "subscriberLink": {
          "description": "Optional. Link for Subscriber of the current EventSubscription.",
          "type": "string"
        }
      },
      "id": "EventSubscription",
      "description": "represents the Connector's EventSubscription resource",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ConnectorsLogConfig": {
      "id": "ConnectorsLogConfig",
      "description": "Log configuration for the connection.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection.",
          "type": "boolean"
        },
        "level": {
          "description": "Optional. Log configuration level.",
          "type": "string",
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ],
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ]
        }
      }
    },
    "AuthObject": {
      "properties": {
        "additionalProperties": {
          "description": "Whether the object has additional properties.",
          "type": "boolean"
        },
        "isDefault": {
          "description": "Whether the object is the default one.",
          "type": "boolean"
        },
        "authKey": {
          "description": "Auth key of the object.",
          "type": "string"
        },
        "properties": {
          "description": "Properties of the object.",
          "type": "object",
          "additionalProperties": {
            "$ref": "AuthProperty"
          }
        },
        "type": {
          "description": "Type of the object.",
          "type": "string"
        },
        "description": {
          "description": "Description of the object.",
          "type": "string"
        },
        "authType": {
          "description": "Auth type of the object.",
          "type": "string"
        }
      },
      "id": "AuthObject",
      "description": "AuthObject defines a JSON schema of an authentication type.",
      "type": "object"
    },
    "MaintenanceWindow": {
      "properties": {
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        },
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        }
      },
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow definition.",
      "type": "object"
    },
    "MaintenancePolicy": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object"
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the resource was created.",
          "type": "string"
        },
        "state": {
          "description": "Optional. The state of the policy.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the resource was updated.",
          "type": "string"
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        }
      },
      "id": "MaintenancePolicy",
      "description": "Defines policies to service maintenance events.",
      "type": "object"
    },
    "UserPassword": {
      "properties": {
        "username": {
          "description": "Optional. Username.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Secret version reference containing the password.",
          "$ref": "Secret"
        }
      },
      "id": "UserPassword",
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object"
    },
    "ListEntityTypesResponse": {
      "id": "ListEntityTypesResponse",
      "description": "Response message for ListEntityTypes API",
      "type": "object",
      "properties": {
        "entityTypes": {
          "description": "list of entity types",
          "type": "array",
          "items": {
            "$ref": "RuntimeEntitySchema"
          }
        },
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        }
      }
    },
    "ListProvidersResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "providers": {
          "description": "A list of providers.",
          "type": "array",
          "items": {
            "$ref": "Provider"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "ListProvidersResponse",
      "description": "Response message for Connectors.ListProviders.",
      "type": "object"
    },
    "JMS": {
      "properties": {
        "type": {
          "description": "Optional. Type of the JMS Source. i.e. Queue or Topic",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "QUEUE",
            "TOPIC"
          ],
          "enumDescriptions": [
            "Default state.",
            "JMS Queue.",
            "JMS Topic."
          ]
        },
        "name": {
          "description": "Optional. Name of the JMS source. i.e. queueName or topicName",
          "type": "string"
        }
      },
      "id": "JMS",
      "description": "JMS message denotes the source of the event",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Field": {
      "properties": {
        "dataType": {
          "description": "The data type of the Field.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "description": {
          "description": "A brief description of the Field.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this entity's schema",
          "$ref": "JsonSchema"
        },
        "readonly": {
          "description": "Specifies if the Field is readonly.",
          "type": "boolean"
        },
        "field": {
          "description": "Name of the Field.",
          "type": "string"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided.",
          "type": "any"
        },
        "key": {
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity.",
          "type": "boolean"
        },
        "additionalDetails": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "type": "object"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        }
      },
      "id": "Field",
      "description": "Metadata of an entity field.",
      "type": "object"
    },
    "ManagedZone": {
      "id": "ManagedZone",
      "description": "represents the Connector's Managed Zone resource",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}",
          "readOnly": true,
          "type": "string"
        },
        "targetProject": {
          "description": "Required. The name of the Target Project",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "targetVpc": {
          "description": "Required. The name of the Target Project VPC Network",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "dns": {
          "description": "Required. DNS Name of the resource",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        }
      }
    },
    "SloEligibility": {
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      },
      "id": "SloEligibility",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "type": "object"
    },
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "id": "EndUserAuthenticationEndUserAuthenticationStatus",
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. Description of the state.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ],
          "description": "Output only. State of Event Subscription resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NodeConfig": {
      "properties": {
        "minNodeCount": {
          "description": "Optional. Minimum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "description": "Optional. Maximum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "NodeConfig",
      "description": "Node configuration for the connection.",
      "type": "object"
    },
    "EventingConfig": {
      "id": "EventingConfig",
      "description": "Eventing Configuration of a connection next: 19",
      "type": "object",
      "properties": {
        "additionalVariables": {
          "description": "Optional. Additional eventing related field values",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "enrichmentEnabled": {
          "description": "Optional. Enrichment Enabled.",
          "type": "boolean"
        },
        "listenerAuthConfig": {
          "description": "Optional. Auth details for the event listener.",
          "$ref": "AuthConfig"
        },
        "deadLetterConfig": {
          "description": "Optional. Dead letter configuration for eventing of a connection.",
          "$ref": "DeadLetterConfig"
        },
        "proxyDestinationConfig": {
          "description": "Optional. Proxy for Eventing auto-registration.",
          "$ref": "DestinationConfig"
        },
        "sslConfig": {
          "description": "Optional. Ssl config of a connection",
          "$ref": "SslConfig"
        },
        "privateConnectivityAllowlistedProjects": {
          "description": "Optional. List of projects to be allowlisted for the service attachment created in the tenant project for eventing ingress.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "registrationDestinationConfig": {
          "description": "Optional. Registration endpoint for auto registration.",
          "$ref": "DestinationConfig"
        },
        "authConfig": {
          "description": "Optional. Auth details for the webhook adapter.",
          "$ref": "AuthConfig"
        },
        "eventsListenerIngressEndpoint": {
          "description": "Optional. Ingress endpoint of the event listener. This is used only when private connectivity is enabled.",
          "type": "string"
        },
        "enrichmentConfig": {
          "description": "Optional. Data enrichment configuration.",
          "$ref": "EnrichmentConfig"
        },
        "privateConnectivityEnabled": {
          "description": "Optional. Private Connectivity Enabled.",
          "type": "boolean"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "DestinationConfigTemplate": {
      "id": "DestinationConfigTemplate",
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the parameter.",
          "type": "string"
        },
        "regexPattern": {
          "description": "Regex pattern for host.",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "defaultPort": {
          "description": "The default port.",
          "type": "integer",
          "format": "int32"
        },
        "autocompleteSuggestions": {
          "description": "Autocomplete suggestions for destination URL field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "portFieldType": {
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Whether port number should be provided by customers.",
          "type": "string"
        },
        "isAdvanced": {
          "description": "Whether the current destination tempalate is part of Advanced settings",
          "type": "boolean"
        },
        "max": {
          "format": "int32",
          "description": "The maximum number of destinations supported for this key.",
          "type": "integer"
        },
        "min": {
          "format": "int32",
          "description": "The minimum number of destinations supported for this key.",
          "type": "integer"
        },
        "key": {
          "description": "Key of the destination.",
          "type": "string"
        }
      }
    },
    "ExtractionRule": {
      "properties": {
        "extractionRegex": {
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used.",
          "type": "string"
        },
        "formatString": {
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is.",
          "type": "string"
        },
        "source": {
          "description": "Source on which the rule is applied.",
          "$ref": "Source"
        }
      },
      "id": "ExtractionRule",
      "description": "Extraction Rule.",
      "type": "object"
    },
    "ListRuntimeEntitySchemasResponse": {
      "id": "ListRuntimeEntitySchemasResponse",
      "description": "Response message for ConnectorsService.ListRuntimeEntitySchemas.",
      "type": "object",
      "properties": {
        "runtimeEntitySchemas": {
          "description": "Runtime entity schemas.",
          "type": "array",
          "items": {
            "$ref": "RuntimeEntitySchema"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      }
    },
    "Oauth2JwtBearer": {
      "id": "Oauth2JwtBearer",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`.",
          "$ref": "Secret"
        },
        "jwtClaims": {
          "description": "Optional. JwtClaims providers fields to generate the token.",
          "$ref": "JwtClaims"
        }
      }
    },
    "RepairEventingRequest": {
      "id": "RepairEventingRequest",
      "description": "Request message for ConnectorsService.RepairEventing",
      "type": "object",
      "properties": {}
    },
    "AuthConfigTemplate": {
      "properties": {
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "configVariableTemplates": {
          "description": "Config variables to describe an `AuthConfig` for a `Connection`.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          }
        },
        "isDefault": {
          "description": "Whether the auth config is the default one.",
          "type": "boolean"
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "description": "The type of authentication configured.",
          "type": "string"
        },
        "description": {
          "description": "Connector specific description for an authentication template.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for authentication template.",
          "type": "string"
        }
      },
      "id": "AuthConfigTemplate",
      "description": "AuthConfigTemplate defines required field over an authentication type.",
      "type": "object"
    },
    "ConnectorVersionInfraConfig": {
      "id": "ConnectorVersionInfraConfig",
      "description": "This configuration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "type": "object",
      "properties": {
        "maxInstanceRequestConcurrency": {
          "description": "Output only. Max instance request concurrency.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "deploymentModelMigrationState": {
          "enumDescriptions": [
            "Deployment model migration state is not specified.",
            "Deployment model migration is in progress.",
            "Deployment model migration is completed.",
            "Deployment model migration rolledback.",
            "Deployment model migration rollback in progress."
          ],
          "enum": [
            "DEPLOYMENT_MODEL_MIGRATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "ROLLEDBACK",
            "ROLLBACK_IN_PROGRESS"
          ],
          "description": "Output only. Status of the deployment model migration.",
          "readOnly": true,
          "type": "string"
        },
        "ratelimitThreshold": {
          "format": "int64",
          "description": "Output only. Max QPS supported by the connector version before throttling of requests.",
          "readOnly": true,
          "type": "string"
        },
        "internalclientRatelimitThreshold": {
          "format": "int64",
          "description": "Output only. Max QPS supported for internal requests originating from Connd.",
          "readOnly": true,
          "type": "string"
        },
        "resourceLimits": {
          "description": "Output only. System resource limits.",
          "readOnly": true,
          "$ref": "ResourceLimits"
        },
        "tlsMigrationState": {
          "enum": [
            "TLS_MIGRATION_STATE_UNSPECIFIED",
            "TLS_MIGRATION_NOT_STARTED",
            "TLS_MIGRATION_COMPLETED"
          ],
          "enumDescriptions": [
            "TLS migration state is not specified.",
            "TLS migration is in progress.",
            "TLS migration is completed."
          ],
          "description": "Output only. Status of the TLS migration.",
          "readOnly": true,
          "type": "string"
        },
        "sharedDeployment": {
          "description": "Output only. The name of shared connector deployment.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentModel": {
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "description": "Output only. Indicates whether connector is deployed on GKE/CloudRun",
          "readOnly": true,
          "type": "string"
        },
        "connectionRatelimitWindowSeconds": {
          "description": "Output only. The window used for ratelimiting runtime requests to connections.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "hpaConfig": {
          "description": "Output only. HPA autoscaling config.",
          "readOnly": true,
          "$ref": "HPAConfig"
        },
        "resourceRequests": {
          "description": "Output only. System resource requests.",
          "readOnly": true,
          "$ref": "ResourceRequests"
        }
      }
    },
    "EventingDetails": {
      "id": "EventingDetails",
      "description": "Eventing Details message.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the Eventing trigger.",
          "readOnly": true,
          "type": "string"
        },
        "searchTags": {
          "description": "Output only. Array of search keywords.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customEventTypes": {
          "description": "Output only. Custom Event Types.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "Output only. Description.",
          "readOnly": true,
          "type": "string"
        },
        "launchStage": {
          "description": "Output only. Eventing Launch Stage.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ]
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "WEBHOOK",
            "JMS"
          ],
          "description": "Output only. The type of the event listener for a specific connector.",
          "readOnly": true,
          "type": "string"
        },
        "documentationLink": {
          "description": "Output only. Link to public documentation.",
          "readOnly": true,
          "type": "string"
        },
        "iconLocation": {
          "description": "Output only. Cloud storage location of the icon.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SearchConnectionsResponse": {
      "id": "SearchConnectionsResponse",
      "description": "Response message for Connectors.SearchConnections.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connections": {
          "description": "A list of connectors.",
          "type": "array",
          "items": {
            "$ref": "SearchConnectionInstance"
          }
        },
        "nextPageToken": {
          "description": "Optional. page_token",
          "type": "string"
        }
      }
    },
    "WithdrawCustomConnectorVersionRequest": {
      "id": "WithdrawCustomConnectorVersionRequest",
      "description": "Request message for ConnectorsService.WithdrawCustomConnectorVersion",
      "type": "object",
      "properties": {}
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "id": "RemoveConnectionToolspecOverrideRequest",
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "type": "object",
      "properties": {}
    },
    "RuntimeEntitySchema": {
      "id": "RuntimeEntitySchema",
      "description": "Schema of a runtime entity.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Output only. Name of the entity.",
          "readOnly": true,
          "type": "string"
        },
        "fields": {
          "description": "Output only. List of fields in the entity.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Field"
          }
        },
        "operations": {
          "description": "List of operations supported by this entity",
          "type": "array",
          "items": {
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST entities.",
              "This operation means entity type supports GET entity.",
              "This operation means entity type supports CREATE entity.",
              "This operation means entity type supports UPDATE entity.",
              "This operation means entity type supports DELETE entity."
            ],
            "type": "string"
          }
        },
        "jsonSchema": {
          "description": "Output only. JsonSchema representation of this entity's metadata",
          "readOnly": true,
          "$ref": "JsonSchema"
        }
      }
    },
    "StandardAction": {
      "properties": {
        "name": {
          "description": "Name of the standard action.",
          "type": "string"
        }
      },
      "id": "StandardAction",
      "description": "Standard action",
      "type": "object"
    },
    "SchemaRefreshConfig": {
      "properties": {
        "useActionDisplayNames": {
          "description": "Whether to use displayName for actions in UI.",
          "type": "boolean"
        },
        "useSynchronousSchemaRefresh": {
          "description": "Whether to use synchronous schema refresh.",
          "type": "boolean"
        }
      },
      "id": "SchemaRefreshConfig",
      "description": "Config for connection schema refresh",
      "type": "object"
    },
    "EndUserAuthenticationConfigOauth2ClientCredentials": {
      "id": "EndUserAuthenticationConfigOauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. string value or secret version containing the client secret.",
          "$ref": "EUASecret"
        }
      }
    },
    "Source": {
      "properties": {
        "sourceType": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CONFIG_VARIABLE",
            "AUTH_CONFIG_VARIABLE"
          ],
          "enumDescriptions": [
            "Default SOURCE.",
            "Config Variable source type.",
            "Auth Config Variable source type."
          ],
          "description": "Type of the source.",
          "type": "string"
        },
        "fieldId": {
          "description": "Field identifier. For example config variable name.",
          "type": "string"
        }
      },
      "id": "Source",
      "description": "Source to extract the backend from.",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "PerSliSloEligibility": {
      "id": "PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "type": "object",
      "properties": {
        "eligibilities": {
          "additionalProperties": {
            "$ref": "SloEligibility"
          },
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "type": "object"
        }
      }
    },
    "Destination": {
      "properties": {
        "port": {
          "format": "int32",
          "description": "The port is the target port number that is accepted by the destination.",
          "type": "integer"
        },
        "serviceAttachment": {
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string",
          "deprecated": true
        },
        "host": {
          "description": "For publicly routable host.",
          "type": "string"
        }
      },
      "id": "Destination",
      "type": "object"
    },
    "Resource": {
      "id": "Resource",
      "description": "Resource definition",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Cloud Project Resource.",
            "Any Google Cloud Resource which is identified uniquely by IAM.",
            "Google Cloud Secret Resource.",
            "Google Cloud Secret Version Resource."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_PROJECT",
            "GCP_RESOURCE",
            "GCP_SECRETMANAGER_SECRET",
            "GCP_SECRETMANAGER_SECRET_VERSION"
          ],
          "description": "Optional. Different types of resource supported.",
          "type": "string"
        },
        "pathTemplate": {
          "description": "Optional. Template to uniquely represent a Google Cloud resource in a format IAM expects This is a template that can have references to other values provided in the config variable template.",
          "type": "string"
        }
      }
    },
    "JwtClaims": {
      "id": "JwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "type": "object",
      "properties": {
        "subject": {
          "description": "Optional. Value for the \"sub\" claim.",
          "type": "string"
        },
        "issuer": {
          "description": "Optional. Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Value for the \"aud\" claim.",
          "type": "string"
        }
      }
    },
    "Provider": {
      "id": "Provider",
      "description": "Provider indicates the owner who provides the connectors.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "documentationUri": {
          "description": "Output only. Link to documentation page.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display name.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Output only. Description of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string"
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the Provider. Format: projects/{project}/locations/{location}/providers/{provider} Only global location is supported for Provider resource.",
          "readOnly": true,
          "type": "string"
        },
        "webAssetsLocation": {
          "description": "Output only. Cloud storage location of icons etc consumed by UI.",
          "readOnly": true,
          "type": "string"
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "FieldComparison": {
      "id": "FieldComparison",
      "description": "Field that needs to be compared.",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "String value",
          "type": "string"
        },
        "intValue": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        },
        "boolValue": {
          "description": "Boolean value",
          "type": "boolean"
        },
        "comparator": {
          "enumDescriptions": [
            "The default value.",
            "The field value must be equal to the specified value.",
            "The field value must not be equal to the specified value."
          ],
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "EQUALS",
            "NOT_EQUALS"
          ],
          "description": "Optional. Comparator to use for comparing the field value.",
          "type": "string"
        },
        "key": {
          "description": "Optional. Key of the field.",
          "type": "string"
        }
      }
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "ListEventTypesResponse": {
      "id": "ListEventTypesResponse",
[...]
