{
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "id": "connectors:v2",
  "rootUrl": "https://connectors.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "canonicalName": "Connectors",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://connectors.googleapis.com/",
  "batchPath": "batch",
  "title": "Connectors API",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "methods": {
                "tools": {
                  "request": {
                    "$ref": "ListToolsPostRequest"
                  },
                  "path": "v2/{+parent}/tools",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListToolsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Lists all available tools with POST.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "connectors.projects.locations.connections.tools"
                },
                "checkReadiness": {
                  "id": "connectors.projects.locations.connections.checkReadiness",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkReadiness",
                  "description": "Reports readiness status of the connector. Similar logic to GetStatus but modified for kubernetes health check to understand.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CheckReadinessResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:checkReadiness",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listCustomToolNames": {
                  "path": "v2/{+name}:listCustomToolNames",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
                    }
                  },
                  "response": {
                    "$ref": "ListCustomToolNamesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:listCustomToolNames",
                  "description": "Lists custom tool names.",
                  "id": "connectors.projects.locations.connections.listCustomToolNames",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "checkStatus": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "connectors.projects.locations.connections.checkStatus",
                  "description": "Reports the status of the connection. Note that when the connection is in a state that is not ACTIVE, the implementation of this RPC method must return a Status with the corresponding State instead of returning a gRPC status code that is not \"OK\", which indicates that ConnectionStatus itself, not the connection, failed.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkStatus",
                  "response": {
                    "$ref": "CheckStatusResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "executionConfig.headers": {
                      "type": "string",
                      "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}:checkStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "refreshAccessToken": {
                  "response": {
                    "$ref": "RefreshAccessTokenResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RefreshAccessTokenRequest"
                  },
                  "path": "v2/{+name}:refreshAccessToken",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "connectors.projects.locations.connections.refreshAccessToken",
                  "description": "RefreshAccessToken exchanges the OAuth refresh token (and other necessary data) for a new access token (and new associated credentials).",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:refreshAccessToken"
                },
                "exchangeAuthCode": {
                  "id": "connectors.projects.locations.connections.exchangeAuthCode",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:exchangeAuthCode",
                  "description": "ExchangeAuthCode exchanges the OAuth authorization code (and other necessary data) for an access token (and associated credentials).",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ExchangeAuthCodeResponse"
                  },
                  "path": "v2/{+name}:exchangeAuthCode",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ExchangeAuthCodeRequest"
                  }
                },
                "generateConnectionToolspecOverride": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GenerateCustomToolspecResponse"
                  },
                  "path": "v2/{+name}:generateConnectionToolspecOverride",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GenerateCustomToolspecRequest"
                  },
                  "id": "connectors.projects.locations.connections.generateConnectionToolspecOverride",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:generateConnectionToolspecOverride",
                  "description": "Generate toolspec override for the given list of toolNames."
                },
                "executeSqlQuery": {
                  "request": {
                    "$ref": "ExecuteSqlQueryRequest"
                  },
                  "path": "v2/{+connection}:executeSqlQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ExecuteSqlQueryResponse"
                  },
                  "parameters": {
                    "connection": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Executes a SQL statement specified in the body of the request. An example of this SQL statement in the case of Salesforce connector would be 'select * from Account a, Order o where a.Id = o.AccountId'.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeSqlQuery",
                  "parameterOrder": [
                    "connection"
                  ],
                  "id": "connectors.projects.locations.connections.executeSqlQuery"
                }
              },
              "resources": {
                "resources": {
                  "methods": {
                    "get": {
                      "id": "connectors.projects.locations.connections.resources.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "description": "Gets a specific resource.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "parameters": {
                        "executionConfig.headers": {
                          "location": "query",
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}"
                        }
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getResourcePost": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "connectors.projects.locations.connections.resources.getResourcePost",
                      "description": "Gets a specific resource with POST.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GetResourcePostRequest"
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListResourcesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource name of the connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Page size for the request."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token for the request.",
                          "type": "string"
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+parent}/resources",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.connections.resources.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources",
                      "description": "Lists all available resources."
                    }
                  }
                },
                "entityTypes": {
                  "resources": {
                    "entities": {
                      "methods": {
                        "patch": {
                          "description": "Updates an existing entity row matching the entity type and entity id specified in the request. The fields in the entity row that need to be modified are contained in the body of the request. All unspecified fields are left unchanged. The response message contains a `Entity` message object returned as a response by the external system.",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "connectors.projects.locations.connections.entityTypes.entities.patch",
                          "request": {
                            "$ref": "Entity"
                          },
                          "path": "v2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}"
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                            }
                          },
                          "response": {
                            "$ref": "Entity"
                          },
                          "httpMethod": "PATCH"
                        },
                        "delete": {
                          "response": {
                            "$ref": "Empty"
                          },
                          "parameters": {
                            "executionConfig.headers": {
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "httpMethod": "DELETE",
                          "path": "v2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "connectors.projects.locations.connections.entityTypes.entities.delete",
                          "description": "Deletes an existing entity row matching the entity type and entity id specified in the request.",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}"
                        },
                        "get": {
                          "path": "v2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Entity"
                          },
                          "parameters": {
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "description": "Gets a single entity row matching the entity type and entity id specified in the request.",
                          "id": "connectors.projects.locations.connections.entityTypes.entities.get",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "deleteEntitiesWithConditions": {
                          "path": "v2/{+entityType}/entities:deleteEntitiesWithConditions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Empty"
                          },
                          "parameters": {
                            "entityType": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "conditions": {
                              "description": "Required. Conditions to be used when deleting entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be.",
                              "type": "string",
                              "location": "query"
                            },
                            "executionConfig.headers": {
                              "type": "string",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "location": "query"
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:deleteEntitiesWithConditions",
                          "description": "Deletes entities based on conditions specified in the request and not on entity id.",
                          "id": "connectors.projects.locations.connections.entityTypes.entities.deleteEntitiesWithConditions",
                          "parameterOrder": [
                            "entityType"
                          ]
                        },
                        "list": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListEntitiesResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "Page token value if available from a previous request.",
                              "type": "string"
                            },
                            "conditions": {
                              "location": "query",
                              "type": "string",
                              "description": "Conditions to be used when listing entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported."
                            },
                            "executionConfig.headers": {
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of entity rows to return. Defaults page size = 25. Max page size = 200.",
                              "location": "query"
                            },
                            "sortBy": {
                              "description": "List of 'sort_by' columns to use when returning the results.",
                              "repeated": true,
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$"
                            },
                            "sortOrder": {
                              "location": "query",
                              "repeated": true,
                              "type": "string",
                              "description": "List of 'sort_order' columns to use when returning the results."
                            }
                          },
                          "path": "v2/{+parent}/entities",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "connectors.projects.locations.connections.entityTypes.entities.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities",
                          "description": "Lists entity rows of a particular entity type contained in the request. Note: 1. Currently, only max of one 'sort_by' column is supported. 2. If no 'sort_by' column is provided, the primary key of the table is used. If zero or more than one primary key is available, we default to the unpaginated list entities logic which only returns the first page. 3. The values of the 'sort_by' columns must uniquely identify an entity row, otherwise undefined behaviors may be observed during pagination. 4. Since transactions are not supported, any updates, inserts or deletes during pagination can lead to stale data being returned or other unexpected behaviors."
                        },
                        "create": {
                          "description": "Creates a new entity row of the specified entity type in the external system. The field values for creating the row are contained in the body of the request. The response message contains a `Entity` message object returned as a response by the external system.",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "connectors.projects.locations.connections.entityTypes.entities.create",
                          "request": {
                            "$ref": "Entity"
                          },
                          "path": "v2/{+parent}/entities",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Entity"
                          },
                          "httpMethod": "POST"
                        },
                        "updateEntitiesWithConditions": {
                          "id": "connectors.projects.locations.connections.entityTypes.entities.updateEntitiesWithConditions",
                          "parameterOrder": [
                            "entityType"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:updateEntitiesWithConditions",
                          "description": "Updates entities based on conditions specified in the request and not on entity id.",
                          "httpMethod": "POST",
                          "parameters": {
                            "entityType": {
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "conditions": {
                              "description": "Required. Conditions to be used when updating entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be.",
                              "type": "string",
                              "location": "query"
                            },
                            "executionConfig.headers": {
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "UpdateEntitiesWithConditionsResponse"
                          },
                          "path": "v2/{+entityType}/entities:updateEntitiesWithConditions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "Entity"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "EntityType"
                      },
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic entity type schema.",
                            "Return enriched entity types schema."
                          ],
                          "description": "Specifies view for entity type schema.",
                          "type": "string",
                          "enum": [
                            "ENTITY_TYPE_SCHEMA_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_SCHEMA_VIEW_BASIC",
                            "ENTITY_TYPE_SCHEMA_VIEW_ENRICHED"
                          ],
                          "location": "query"
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{entityType}",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "contextMetadata": {
                          "type": "string",
                          "description": "Context metadata for request could be used to fetch customization of entity type schema.",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "connectors.projects.locations.connections.entityTypes.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}",
                      "description": "Gets metadata of given entity type"
                    },
                    "list": {
                      "parameters": {
                        "view": {
                          "description": "Specifies which fields of the Entity Type are returned in the response.",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to FULL View.",
                            "Return only entity type names.",
                            "Return entity types with schema"
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "ENTITY_TYPE_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_VIEW_BASIC",
                            "ENTITY_TYPE_VIEW_FULL"
                          ]
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token, return from a previous ListEntityTypes call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of entity types.",
                          "type": "string"
                        },
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Number of entity types to return. Defaults to 25.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListEntityTypesResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "connectors.projects.locations.connections.entityTypes.list",
                      "description": "Lists metadata related to all entity types present in the external system.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes"
                    }
                  }
                },
                "actions": {
                  "methods": {
                    "get": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}",
                      "description": "Gets the schema of the given action.",
                      "id": "connectors.projects.locations.connections.actions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "view": {
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "ACTION_SCHEMA_VIEW_UNSPECIFIED",
                            "ACTION_SCHEMA_VIEW_BASIC",
                            "ACTION_SCHEMA_VIEW_ENRICHED"
                          ],
                          "description": "Specified view of the action schema.",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic action schema.",
                            "Return enriched action schema."
                          ]
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$",
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Action"
                      }
                    },
                    "list": {
                      "description": "Gets the schema of all the actions supported by the connector.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "connectors.projects.locations.connections.actions.list",
                      "path": "v2/{+parent}/actions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value Defaults to FULL View.",
                            "Return only action names.",
                            "Return actions with schema."
                          ],
                          "description": "Specifies which fields of the Action are returned in the response.",
                          "enum": [
                            "ACTION_VIEW_UNSPECIFIED",
                            "ACTION_VIEW_BASIC",
                            "ACTION_VIEW_FULL"
                          ],
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token, return from a previous ListActions call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of actions.",
                          "type": "string"
                        },
                        "executionConfig.headers": {
                          "type": "string",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. Parent resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Number of Actions to return. Defaults to 25.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListActionsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "execute": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$",
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ExecuteActionResponse"
                      },
                      "path": "v2/{+name}:execute",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ExecuteActionRequest"
                      },
                      "id": "connectors.projects.locations.connections.actions.execute",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}:execute",
                      "description": "Executes an action with the name specified in the request. The input parameters for executing the action are passed through the body of the ExecuteAction request."
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "connectors.projects.locations.connections.tools.list",
                      "description": "Lists all available tools.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Page size.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token."
                        },
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "execute": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/tools/[^/]+$",
                          "description": "Required. Resource name of the Tool. Format: projects/{project}/locations/{location}/connections/{connection}/tools/{tool}"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteToolResponse"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ExecuteToolRequest"
                      },
                      "path": "v2/{+name}:execute",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "connectors.projects.locations.connections.tools.execute",
                      "description": "Executes a specific tool.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools/{toolsId}:execute"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v2",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260427",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "connectors",
  "schemas": {
    "AccessCredentials": {
      "properties": {
        "accessToken": {
          "description": "OAuth access token.",
          "type": "string"
        },
        "refreshToken": {
          "description": "OAuth refresh token.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration till the access token expires."
        }
      },
      "id": "AccessCredentials",
      "type": "object",
      "description": "AccessCredentials includes the OAuth access token, and the other fields returned along with it."
    },
    "MaintenanceSettings": {
      "properties": {
        "maintenancePolicies": {
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          }
        },
        "exclude": {
          "type": "boolean",
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
        },
        "isRollback": {
          "type": "boolean",
          "description": "Optional. If the update call is triggered from rollback, set the value as true."
        }
      },
      "id": "MaintenanceSettings",
      "type": "object",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
    },
    "CheckReadinessResponse": {
      "properties": {
        "status": {
          "type": "string"
        }
      },
      "id": "CheckReadinessResponse",
      "type": "object",
      "description": "Response containing status of the connector for readiness prober."
    },
    "JsonSchema": {
      "type": "object",
      "description": "JsonSchema representation of schema metadata",
      "properties": {
        "enum": {
          "type": "array",
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "items": {
            "type": "any"
          }
        },
        "format": {
          "type": "string",
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format"
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "maxProperties": {
          "description": "Maximum number of properties.",
          "type": "integer",
          "format": "int32"
        },
        "minItems": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of items in the array field."
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Whether the items in the array field are unique."
        },
        "definitions": {
          "description": "Definitions for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object"
        },
        "maxItems": {
          "description": "Maximum number of items in the array field.",
          "type": "integer",
          "format": "int32"
        },
        "required": {
          "type": "array",
          "description": "Whether this property is required.",
          "items": {
            "type": "string"
          }
        },
        "then": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "maxLength": {
          "description": "Maximum length of the string field.",
          "type": "integer",
          "format": "int32"
        },
        "jdbcType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "description": "JDBC datatype of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "type": "string"
        },
        "examples": {
          "items": {
            "type": "any"
          },
          "description": "Examples of the value.",
          "type": "array"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the value is read-only."
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "multipleOf": {
          "type": "number",
          "format": "double",
          "description": "Number must be a multiple of this value."
        },
        "minLength": {
          "description": "Minimum length of the string field.",
          "type": "integer",
          "format": "int32"
        },
        "dependencies": {
          "description": "Dependencies for the schema.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "properties": {
          "type": "object",
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "contentMediaType": {
          "description": "Media type of the content.",
          "type": "string"
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "anyOf": {
          "type": "array",
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "patternProperties": {
          "description": "Pattern properties for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "type": "object"
        },
        "type": {
          "type": "array",
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "items": {
            "type": "string"
          }
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "contains": {
          "description": "Schema that applies to at least one item in an array.",
          "$ref": "JsonSchema"
        },
        "allOf": {
          "items": {
            "$ref": "JsonSchema"
          },
          "type": "array",
          "description": "Schema that must be valid against all of the sub-schemas."
        },
        "exclusiveMinimum": {
          "type": "any",
          "description": "Whether the minimum number value is exclusive."
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "minimum": {
          "type": "any",
          "description": "Minimum value of the number field."
        },
        "if": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "additionalProperties": {
          "description": "Schema for additional properties.",
          "$ref": "JsonSchema"
        },
        "writeOnly": {
          "description": "Whether the value is write-only.",
          "type": "boolean"
        },
        "additionalDetails": {
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "else": {
          "description": "Schema that must be valid if the \"if\" schema is invalid.",
          "$ref": "JsonSchema"
        },
        "items": {
          "description": "Schema that applies to array values, applicable only if this is of type `array`.",
          "$ref": "JsonSchema"
        },
        "oneOf": {
          "type": "array",
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "minProperties": {
          "description": "Minimum number of properties.",
          "type": "integer",
          "format": "int32"
        },
        "default": {
          "type": "any",
          "description": "The default value of the field or object described by this schema."
        },
        "not": {
          "description": "Schema that must not be valid.",
          "$ref": "JsonSchema"
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "$comment": {
          "type": "string",
          "description": "A comment on the schema."
        },
        "contentEncoding": {
          "type": "string",
          "description": "Encoding of the content."
        },
        "$schema": {
          "type": "string",
          "description": "The URI defining the schema."
        },
        "$id": {
          "type": "string",
          "description": "The URI defining the core schema meta-schema."
        },
        "$ref": {
          "description": "A reference to another schema.",
          "type": "string"
        },
        "$defs": {
          "type": "object",
          "description": "Definitions for the schema.",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "pattern": {
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match.",
          "type": "string"
        }
      },
      "id": "JsonSchema"
    },
    "ExchangeAuthCodeRequest": {
      "id": "ExchangeAuthCodeRequest",
      "properties": {
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        },
        "authCodeData": {
          "description": "Optional. AuthCodeData contains the data the runtime requires to exchange for access and refresh tokens. If the data is not provided, the runtime will read the data from the secret manager.",
          "$ref": "AuthCodeData"
        },
        "executionConfig": {
          "description": "ExecutionConfig contains the configuration for the execution of the request.",
          "$ref": "ExecutionConfig"
        }
      },
      "description": "ExchangeAuthCodeRequest currently includes the auth code data.",
      "type": "object"
    },
    "ListEntityTypesResponse": {
      "id": "ListEntityTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token if more entity types available."
        },
        "unsupportedTypeNames": {
          "description": "List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "types": {
          "type": "array",
          "description": "List of metadata related to all entity types.",
          "items": {
            "$ref": "EntityType"
          }
        }
      },
      "description": "Response message for EntityService.ListEntityTypes",
      "type": "object"
    },
    "QueryParameter": {
      "id": "QueryParameter",
      "properties": {
        "value": {
          "type": "any"
        },
        "dataType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ]
        }
      },
      "description": "Query parameter definition",
      "type": "object"
    },
    "SloMetadata": {
      "id": "SloMetadata",
      "properties": {
        "tier": {
          "type": "string",
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
        },
        "nodes": {
          "items": {
            "$ref": "NodeSloMetadata"
          },
          "type": "array",
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "PerSliSloEligibility"
        }
      },
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "type": "object"
    },
    "MaintenanceSchedule": {
      "type": "object",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "canReschedule": {
          "deprecated": true,
          "type": "boolean",
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
        }
      },
      "id": "MaintenanceSchedule"
    },
    "InputParameter": {
      "id": "InputParameter",
      "properties": {
        "jsonSchema": {
          "description": "JsonSchema of the parameter, applicable only if parameter is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "name": {
          "description": "Name of the Parameter.",
          "type": "string"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the Parameter",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "type": "string"
        },
        "additionalDetails": {
          "type": "object",
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "description": {
          "type": "string",
          "description": "A brief description of the Parameter."
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        }
      },
      "description": "Input Parameter message contains metadata about the parameters required for executing an Action.",
      "type": "object"
    },
    "WeeklyCycle": {
      "description": "Time window specified for weekly operations.",
      "type": "object",
      "id": "WeeklyCycle",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ExecuteToolResponse": {
      "description": "Response message for ConnectorAgentService.ExecuteTool",
      "type": "object",
      "id": "ExecuteToolResponse",
      "properties": {
        "result": {
          "description": "Output from the tool execution.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "_meta": {
          "type": "object",
          "description": "Metadata for the tool execution result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "ExecuteActionResponse": {
      "description": "Response message for ActionService.ExecuteAction",
      "type": "object",
      "id": "ExecuteActionResponse",
      "properties": {
        "results": {
          "type": "array",
          "description": "In the case of successful invocation of the specified action, the results Struct contains values based on the response of the action invoked. 1. If the action execution produces any entities as a result, they are returned as an array of Structs with the 'key' being the field name and the 'value' being the value of that field in each result row. { 'results': [{'key': 'value'}, ...] }",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "object"
        }
      }
    },
    "ResultMetadata": {
      "id": "ResultMetadata",
      "properties": {
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "description": "The data type of the metadata field",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the metadata field."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "jsonSchema": {
          "description": "JsonSchema of the result, applicable only if parameter is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the metadata field."
        }
      },
      "description": "Result Metadata message contains metadata about the result returned after executing an Action.",
      "type": "object"
    },
    "OAuth2Config": {
      "properties": {
        "clientSecret": {
          "description": "Client secret for the OAuth2 flow.",
          "type": "string"
        },
        "clientId": {
          "description": "Client ID for the OAuth2 flow.",
          "type": "string"
        },
        "authUri": {
          "type": "string",
          "description": "Authorization Server URL/Token Endpoint for Authorization Code Flow"
        }
      },
      "id": "OAuth2Config",
      "type": "object"
    },
    "Field": {
      "type": "object",
      "description": "Message contains EntityType's Field metadata.",
      "properties": {
        "description": {
          "description": "A brief description of the Field.",
          "type": "string"
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "additionalDetails": {
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "description": "The data type of the Field.",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "jsonSchema": {
          "description": "JsonSchema of the field, applicable only if field is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "key": {
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name of the Field."
        },
        "reference": {
          "description": "Reference captures the association between two different entity types. Value links to the reference of another entity type.",
          "$ref": "Reference"
        }
      },
      "id": "Field"
    },
    "Reference": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the reference field.",
          "type": "string"
        },
        "type": {
          "description": "Name of reference entity type.",
          "type": "string"
        }
      },
      "id": "Reference"
    },
    "DailyCycle": {
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "id": "DailyCycle",
      "type": "object",
      "description": "Time window specified for daily operations."
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "properties": {
        "description": {
          "description": "A description of what this resource represents.",
          "type": "string"
        },
        "size": {
          "type": "string",
          "format": "int64",
          "description": "The size of the raw resource content, in bytes, if known."
        },
        "name": {
          "description": "A human-readable name for this resource.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of this resource, if known.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "_meta": {
          "type": "object",
          "description": "Metadata for the resource.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "EntityType": {
      "description": "EntityType message contains metadata information about a single entity type present in the external system.",
      "type": "object",
      "id": "EntityType",
      "properties": {
        "jsonSchema": {
          "description": "JsonSchema representation of this entity's schema",
          "$ref": "JsonSchema"
        },
        "name": {
          "description": "The name of the entity type.",
          "type": "string"
        },
        "operations": {
          "items": {
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST method.",
              "This operation means entity type supports GET method.",
              "This operation means entity type supports CREATE method.",
              "This operation means entity type supports UPDATE method.",
              "This operation means entity type supports DELETE method."
            ]
          },
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "description": "Metadata like service latency, etc.",
          "additionalProperties": {
            "type": "object",
[...]
