{
  "basePath": "",
  "protocol": "rest",
  "canonicalName": "Connectors",
  "rootUrl": "https://connectors.googleapis.com/",
  "name": "connectors",
  "batchPath": "batch",
  "ownerName": "Google",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "revision": "20260316",
  "fullyEncodeReservedExpansion": true,
  "id": "connectors:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version": "v2",
  "baseUrl": "https://connectors.googleapis.com/",
  "kind": "discovery#restDescription",
  "title": "Connectors API",
  "schemas": {
    "ExecutionConfig": {
      "id": "ExecutionConfig",
      "properties": {
        "headers": {
          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        }
      },
      "id": "TimeOfDay",
      "type": "object"
    },
    "CheckStatusResponse": {
      "type": "object",
      "description": "The status of the connector.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of the connector.",
          "enumDescriptions": [
            "State unspecified.",
            "The connector is active and ready to process runtime requests. This can also mean that from the connector's perspective, the connector is not in an error state and should be able to process runtime requests successfully.",
            "The connector is in an error state and cannot process runtime requests. An example reason would be that the connection container has some network issues that prevent outbound requests from being sent.",
            "This is a more specific error state that the developers can opt to use when the connector is facing auth-related errors caused by auth configuration not present, invalid auth credentials, etc."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "AUTH_ERROR"
          ]
        },
        "description": {
          "description": "When the connector is not in ACTIVE state, the description must be populated to specify the reason why it's not in ACTIVE state.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        }
      },
      "id": "CheckStatusResponse"
    },
    "GenerateCustomToolspecRequest": {
      "properties": {
        "toolNames": {
          "description": "list of tools to be generated.",
          "type": "array",
          "items": {
            "$ref": "ToolName"
          }
        }
      },
      "id": "GenerateCustomToolspecRequest",
      "type": "object"
    },
    "UpdateEntitiesWithConditionsResponse": {
      "id": "UpdateEntitiesWithConditionsResponse",
      "description": "Response message for EntityService.UpdateEntitiesWithConditions",
      "properties": {
        "response": {
          "description": "Response returned by the external system.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        }
      },
      "type": "object"
    },
    "MaintenanceSchedule": {
      "type": "object",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "scheduleDeadlineTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The scheduled start time for the maintenance.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The scheduled end time for the maintenance.",
          "format": "google-datetime"
        },
        "canReschedule": {
          "deprecated": true,
          "type": "boolean",
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        }
      },
      "id": "MaintenanceSchedule"
    },
    "ExecuteSqlQueryResponse": {
      "type": "object",
      "description": "A response returned by the connection after executing the sql query.",
      "properties": {
        "results": {
          "description": "In the case of successful execution of the query the response contains results returned by the external system. For example, the result rows of the query are contained in the 'results' Struct list - \"results\": [ { \"field1\": \"val1\", \"field2\": \"val2\",.. },.. ] Each Struct row can contain fields any type of like nested Structs or lists.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array"
        }
      },
      "id": "ExecuteSqlQueryResponse"
    },
    "MaintenanceSettings": {
      "type": "object",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "properties": {
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
        },
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        }
      },
      "id": "MaintenanceSettings"
    },
    "InputParameter": {
      "type": "object",
      "description": "Input Parameter message contains metadata about the parameters required for executing an Action.",
      "properties": {
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "additionalDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields."
        },
        "name": {
          "description": "Name of the Parameter.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "The data type of the Parameter"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "description": {
          "description": "A brief description of the Parameter.",
          "type": "string"
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema of the parameter, applicable only if parameter is of type `STRUCT`"
        }
      },
      "id": "InputParameter"
    },
    "ExchangeAuthCodeResponse": {
      "id": "ExchangeAuthCodeResponse",
      "description": "ExchangeAuthCodeResponse includes the returned access token and its associated credentials.",
      "properties": {
        "accessCredentials": {
          "$ref": "AccessCredentials"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        }
      },
      "type": "object"
    },
    "ProvisionedResource": {
      "description": "Describes provisioned dataplane resources.",
      "properties": {
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        },
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        }
      },
      "id": "ProvisionedResource",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object"
    },
    "ListEntitiesResponse": {
      "type": "object",
      "description": "Response message for EntityService.ListEntities",
      "properties": {
        "nextPageToken": {
          "description": "Next page token if more records are available.",
          "type": "string"
        },
        "entities": {
          "description": "List containing entity rows.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        }
      },
      "id": "ListEntitiesResponse"
    },
    "ExecuteActionRequest": {
      "id": "ExecuteActionRequest",
      "description": "Request message for ActionService.ExecuteAction",
      "properties": {
        "parameters": {
          "description": "Parameters for executing the action. The parameters can be key/value pairs or nested structs.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "executionConfig": {
          "description": "Execution config for the request.",
          "$ref": "ExecutionConfig"
        }
      },
      "type": "object"
    },
    "MaintenancePolicy": {
      "type": "object",
      "description": "Defines policies to service maintenance events.",
      "properties": {
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Optional. The state of the policy.",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the resource was created.",
          "type": "string"
        },
        "updatePolicy": {
          "$ref": "UpdatePolicy",
          "description": "Maintenance policy applicable to instance update."
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "updateTime": {
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "MaintenancePolicy"
    },
    "GenerateCustomToolspecResponse": {
      "type": "object",
      "properties": {
        "toolSpec": {
          "$ref": "ToolSpec",
          "description": "tool spec that has tool_defitions array containing the tools for all sted tool_names."
        }
      },
      "id": "GenerateCustomToolspecResponse"
    },
    "QueryParameter": {
      "id": "QueryParameter",
      "description": "Query parameter definition",
      "properties": {
        "value": {
          "type": "any"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DailyCycle": {
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the day to start the operations."
        },
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        }
      },
      "id": "DailyCycle",
      "type": "object"
    },
    "ListToolsResponse": {
      "description": "Response message for ConnectorAgentService.ListTools",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "tools": {
          "description": "List of available tools.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "ListToolsResponse",
      "type": "object"
    },
    "Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "properties": {
        "sloMetadata": {
          "$ref": "SloMetadata",
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "readOnly": true
        },
        "instanceType": {
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "type": "string"
        },
        "consumerDefinedName": {
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites).",
          "type": "string"
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maintenanceSchedules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenanceSchedule"
          },
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
        },
        "consumerProjectNumber": {
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required.",
          "type": "string"
        },
        "softwareVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
        },
        "producerMetadata": {
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisionedResources": {
          "items": {
            "$ref": "ProvisionedResource"
          },
          "type": "array",
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "readOnly": true
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "type": "object",
          "additionalProperties": {
            "$ref": "NotificationParameter"
          }
        },
        "maintenancePolicyNames": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "MaintenanceSettings"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details.",
          "type": "string"
        },
        "tenantProjectId": {
          "type": "string",
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "readOnly": true
        }
      },
      "id": "Instance",
      "type": "object"
    },
    "ExchangeAuthCodeRequest": {
      "description": "ExchangeAuthCodeRequest currently includes the auth code data.",
      "properties": {
        "authCodeData": {
          "description": "Optional. AuthCodeData contains the data the runtime requires to exchange for access and refresh tokens. If the data is not provided, the runtime will read the data from the secret manager.",
          "$ref": "AuthCodeData"
        },
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "ExecutionConfig contains the configuration for the execution of the request."
        }
      },
      "id": "ExchangeAuthCodeRequest",
      "type": "object"
    },
    "WeeklyCycle": {
      "type": "object",
      "id": "WeeklyCycle",
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "items": {
            "$ref": "Schedule"
          },
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window."
        }
      }
    },
    "JsonSchema": {
      "type": "object",
      "id": "JsonSchema",
      "description": "JsonSchema representation of schema metadata",
      "properties": {
        "minLength": {
          "description": "Minimum length of the string field.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "Schema that applies to array values, applicable only if this is of type `array`.",
          "$ref": "JsonSchema"
        },
        "jdbcType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "JDBC datatype of the field."
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Whether this property is required."
        },
        "minimum": {
          "description": "Minimum value of the number field.",
          "type": "any"
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "additionalDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema"
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length of the string field.",
          "type": "integer"
        },
        "minItems": {
          "format": "int32",
          "description": "Minimum number of items in the array field.",
          "type": "integer"
        },
        "type": {
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enum": {
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "boolean"
        },
        "maxItems": {
          "description": "Maximum number of items in the array field.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property"
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "exclusiveMinimum": {
          "description": "Whether the minimum number value is exclusive.",
          "type": "boolean"
        },
        "pattern": {
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match.",
          "type": "string"
        }
      }
    },
    "ListEntityTypesResponse": {
      "type": "object",
      "id": "ListEntityTypesResponse",
      "description": "Response message for EntityService.ListEntityTypes",
      "properties": {
        "unsupportedTypeNames": {
          "description": "List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token if more entity types available.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "types": {
          "description": "List of metadata related to all entity types.",
          "type": "array",
          "items": {
            "$ref": "EntityType"
          }
        }
      }
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "description": "Configure the schedule.",
      "properties": {
        "day": {
          "type": "string",
          "description": "Allows to define schedule that runs specified day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the window to start the operations."
        }
      }
    },
    "MaintenanceWindow": {
      "type": "object",
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow definition.",
      "properties": {
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        },
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        }
      }
    },
    "SloEligibility": {
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "properties": {
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        },
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        }
      },
      "id": "SloEligibility",
      "type": "object"
    },
    "ToolSpec": {
      "type": "object",
      "id": "ToolSpec",
      "properties": {
        "toolDefinitions": {
          "description": "List of tool definitions.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array"
        },
        "toolSpecVersion": {
          "description": "Version of the tool spec. Format: providerId/connectorId/versionId/toolSpecId",
          "type": "string"
        }
      }
    },
    "AccessCredentials": {
      "description": "AccessCredentials includes the OAuth access token, and the other fields returned along with it.",
      "properties": {
        "accessToken": {
          "description": "OAuth access token.",
          "type": "string"
        },
        "refreshToken": {
          "description": "OAuth refresh token.",
          "type": "string"
        },
        "expiresIn": {
          "description": "Duration till the access token expires.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "AccessCredentials",
      "type": "object"
    },
    "ToolName": {
      "type": "object",
      "properties": {
        "entityName": {
          "description": "Entity name for which the tool was generated.",
          "type": "string"
        },
        "name": {
          "description": "Tool name that was generated in the list tools call.",
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Operation for which the tool was generated.",
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "type": "string"
        }
      },
      "id": "ToolName"
    },
    "CheckReadinessResponse": {
      "id": "CheckReadinessResponse",
      "description": "Response containing status of the connector for readiness prober.",
      "properties": {
        "status": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthCodeData": {
      "type": "object",
      "id": "AuthCodeData",
      "description": "AuthCodeData contains the data the runtime plane will give the connector backend in exchange for access and refresh tokens.",
      "properties": {
        "authCode": {
          "description": "OAuth authorization code.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Scopes the connection will request when the user performs the auth code flow."
        },
        "redirectUri": {
          "description": "OAuth redirect URI passed in during the auth code flow, required by some OAuth backends.",
          "type": "string"
        },
        "pkceVerifier": {
          "description": "OAuth PKCE verifier, needed if PKCE is enabled for this particular connection.",
          "type": "string"
        }
      }
    },
    "ExecuteToolRequest": {
      "type": "object",
      "id": "ExecuteToolRequest",
      "description": "Request message for ConnectorAgentService.ExecuteTool",
      "properties": {
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        },
        "parameters": {
          "description": "Input parameters for the tool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolDefinition": {
          "description": "Tool definition for the tool to be executed.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ExecuteSqlQueryRequest": {
      "id": "ExecuteSqlQueryRequest",
      "description": "An execute sql query request containing the query and the connection to execute it on.",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "Required. SQL statement passed by clients like Integration Platform, the query is passed as-is to the driver used for interfacing with external systems."
        }
      },
      "type": "object"
    },
    "Query": {
      "type": "object",
      "description": "A wrapper around the SQL query statement. This is needed so that the JSON representation of ExecuteSqlQueryRequest has the following format: `{\"query\":\"select *\"}`.",
      "properties": {
        "query": {
          "description": "Required. Sql query to execute.",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "int64",
          "description": "Sets the number of seconds the driver will wait for a query to execute."
        },
        "maxRows": {
          "type": "string",
          "format": "int64",
          "description": "Sets the limit for the maximum number of rows returned after the query execution."
        },
        "queryParameters": {
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          },
          "description": "In the struct, the value corresponds to the value of query parameter and date type corresponds to the date type of the query parameter."
        }
      },
      "id": "Query"
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "description": "Maintenance policy applicable to instance updates.",
      "properties": {
        "channel": {
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "type": "string"
        },
        "denyMaintenancePeriods": {
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy."
        }
      },
      "type": "object"
    },
    "ToolAnnotations": {
      "type": "object",
      "id": "ToolAnnotations",
      "description": "ToolAnnotations holds annotations for a tool.",
      "properties": {
        "title": {
          "description": "A human-readable title for the tool.",
          "type": "string"
        },
        "destructiveHint": {
          "description": "If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. (This property is meaningful only when `read_only_hint == false`)",
          "type": "boolean"
        },
        "openWorldHint": {
          "description": "If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not.",
          "type": "boolean"
        },
        "idempotentHint": {
          "description": "If true, calling the tool repeatedly with the same arguments will have no additional effect on the environment. (This property is meaningful only when `read_only_hint == false`)",
          "type": "boolean"
        },
        "readOnlyHint": {
          "description": "If true, the tool does not modify its environment.",
          "type": "boolean"
        }
      }
    },
    "ResultMetadata": {
      "type": "object",
      "description": "Result Metadata message contains metadata about the result returned after executing an Action.",
      "properties": {
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the metadata field.",
          "type": "string"
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the metadata field",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "description": {
          "description": "A brief description of the metadata field.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "JsonSchema of the result, applicable only if parameter is of type `STRUCT`",
          "$ref": "JsonSchema"
        }
      },
      "id": "ResultMetadata"
    },
    "PerSliSloEligibility": {
      "type": "object",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "properties": {
        "eligibilities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SloEligibility"
          },
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
        }
      },
      "id": "PerSliSloEligibility"
    },
    "ExecuteToolResponse": {
      "id": "ExecuteToolResponse",
      "description": "Response message for ConnectorAgentService.ExecuteTool",
      "properties": {
        "result": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output from the tool execution."
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "_meta": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Metadata for the tool execution result."
        }
      },
      "type": "object"
    },
    "Field": {
      "id": "Field",
      "description": "Message contains EntityType's Field metadata.",
      "properties": {
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the Field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema of the field, applicable only if field is of type `STRUCT`"
        },
        "reference": {
          "$ref": "Reference",
          "description": "Reference captures the association between two different entity types. Value links to the reference of another entity type."
        },
        "additionalDetails": {
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "Name of the Field.",
          "type": "string"
        },
        "key": {
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity.",
          "type": "boolean"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided.",
          "type": "any"
        },
        "description": {
          "description": "A brief description of the Field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntityType": {
      "id": "EntityType",
      "description": "EntityType message contains metadata information about a single entity type present in the external system.",
      "properties": {
        "name": {
          "description": "The name of the entity type.",
          "type": "string"
        },
        "fields": {
          "description": "List containing metadata information about each field of the entity type.",
          "items": {
            "$ref": "Field"
          },
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        },
        "operations": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST method.",
              "This operation means entity type supports GET method.",
              "This operation means entity type supports CREATE method.",
              "This operation means entity type supports UPDATE method.",
              "This operation means entity type supports DELETE method."
            ],
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          },
          "type": "array"
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this entity's schema"
        },
        "defaultSortBy": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "RefreshAccessTokenResponse": {
      "type": "object",
      "description": "RefreshAccessTokenResponse includes the returned access token and its associated credentials.",
      "properties": {
        "accessCredentials": {
          "$ref": "AccessCredentials"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "RefreshAccessTokenResponse"
    },
    "NotificationParameter": {
      "description": "Contains notification related data.",
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "NotificationParameter",
      "type": "object"
    },
    "ListToolsPostRequest": {
      "description": "Request message for ConnectorAgentService.ListToolsPost",
      "properties": {
        "pageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        },
        "pageSize": {
          "type": "integer",
          "description": "Page size.",
          "format": "int32"
        }
      },
      "id": "ListToolsPostRequest",
      "type": "object"
    },
    "Entity": {
      "type": "object",
      "description": "'Entity row'/ 'Entity' refers to a single row of an entity type.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
          "readOnly": true
        },
        "fields": {
          "description": "Fields of the entity. The key is name of the field and the value contains the applicable `google.protobuf.Value` entry for this field.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        }
      },
      "id": "Entity"
    },
    "Action": {
      "type": "object",
      "description": "Action message contains metadata information about a single action present in the external system.",
      "properties": {
        "inputParameters": {
          "items": {
            "$ref": "InputParameter"
          },
          "type": "array",
          "description": "List containing input parameter metadata."
        },
        "displayName": {
          "description": "Display Name of action to be shown on client side",
          "type": "string"
        },
        "description": {
          "description": "Brief Description of action",
          "type": "string"
        },
        "resultMetadata": {
          "type": "array",
          "items": {
            "$ref": "ResultMetadata"
          },
          "description": "List containing the metadata of result fields."
        },
        "name": {
          "description": "Name of the action.",
          "type": "string"
        },
        "resultJsonSchema": {
          "description": "JsonSchema representation of this actions's result schema",
          "$ref": "JsonSchema"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        },
        "inputJsonSchema": {
          "description": "JsonSchema representation of this actions's input schema",
          "$ref": "JsonSchema"
        }
      },
      "id": "Action"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ListCustomToolNamesResponse": {
      "id": "ListCustomToolNamesResponse",
      "properties": {
        "toolNames": {
          "description": "List of custom tools.",
          "type": "array",
          "items": {
            "$ref": "ToolName"
          }
        }
      },
      "type": "object"
    },
    "GetResourcePostRequest": {
      "description": "Request message for ConnectorAgentService.GetResourcePost",
      "properties": {
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        }
      },
      "id": "GetResourcePostRequest",
      "type": "object"
    },
    "Reference": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Name of reference entity type.",
          "type": "string"
        },
        "name": {
          "description": "Name of the reference field.",
          "type": "string"
        }
      },
      "id": "Reference"
    },
    "ListActionsResponse": {
      "description": "Response message for ActionService.ListActions",
      "properties": {
        "nextPageToken": {
          "description": "Next page token if more actions available.",
          "type": "string"
        },
        "actions": {
          "description": "List of action metadata.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "unsupportedActionNames": {
          "description": "List of actions which contain unsupported Datatypes. Check datatype.proto for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        }
      },
      "id": "ListActionsResponse",
      "type": "object"
    },
    "OAuth2Config": {
      "type": "object",
      "properties": {
        "clientSecret": {
          "description": "Client secret for the OAuth2 flow.",
          "type": "string"
        },
        "authUri": {
          "description": "Authorization Server URL/Token Endpoint for Authorization Code Flow",
          "type": "string"
        },
        "clientId": {
          "description": "Client ID for the OAuth2 flow.",
          "type": "string"
        }
      },
      "id": "OAuth2Config"
    },
    "NodeSloMetadata": {
      "type": "object",
      "id": "NodeSloMetadata",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "PerSliSloEligibility"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        }
      }
    },
    "ListResourcesResponse": {
      "id": "ListResourcesResponse",
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "resources": {
          "items": {
            "$ref": "Resource"
          },
          "type": "array",
          "description": "List of available resources."
        },
        "nextPageToken": {
          "description": "Next page token if more resources available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SloMetadata": {
      "type": "object",
      "id": "SloMetadata",
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "properties": {
        "perSliEligibility": {
          "$ref": "PerSliSloEligibility",
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "NodeSloMetadata"
          },
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
        },
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        }
      }
    },
    "Tool": {
      "type": "object",
      "id": "Tool",
      "description": "Message representing a single tool.",
      "properties": {
        "description": {
          "description": "Description of the tool.",
          "type": "string"
        },
        "dependsOn": {
          "description": "List of tool names that this tool depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputSchema": {
          "$ref": "JsonSchema",
          "description": "JSON schema for the output of the tool."
        },
        "name": {
          "description": "Name of the tool.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotations for the tool.",
          "$ref": "ToolAnnotations"
        },
        "_meta": {
          "description": "Metadata for the tool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "inputSchema": {
          "description": "JSON schema for the input parameters of the tool.",
          "$ref": "JsonSchema"
        }
      }
    },
    "GetResourceResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc."
        },
        "_meta": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Metadata for the resource."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The content of the resource."
        },
        "mimeType": {
          "description": "The MIME type of the resource.",
          "type": "string"
        }
      },
      "id": "GetResourceResponse"
    },
    "RefreshAccessTokenRequest": {
      "id": "RefreshAccessTokenRequest",
      "description": "RefreshAccessTokenRequest includes the refresh token.",
      "properties": {
        "refreshToken": {
          "description": "Optional. Refresh Token String. If the Refresh Token is not provided, the runtime will read the data from the secret manager.",
          "type": "string"
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "ExecutionConfig contains the configuration for the execution of the request."
        },
        "oauth2Config": {
          "description": "OAuth2Config contains the OAuth2 config for the connection.",
          "$ref": "OAuth2Config"
        }
      },
      "type": "object"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "name": {
          "description": "A human-readable name for this resource.",
          "type": "string"
        },
        "_meta": {
          "description": "Metadata for the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "size": {
          "description": "The size of the raw resource content, in bytes, if known.",
          "format": "int64",
          "type": "string"
        },
        "uri": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "description": {
          "description": "A description of what this resource represents.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of this resource, if known.",
          "type": "string"
        }
      },
      "id": "Resource"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ExecuteActionResponse": {
      "id": "ExecuteActionResponse",
      "description": "Response message for ActionService.ExecuteAction",
      "properties": {
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "results": {
          "description": "In the case of successful invocation of the specified action, the results Struct contains values based on the response of the action invoked. 1. If the action execution produces any entities as a result, they are returned as an array of Structs with the 'key' being the field name and the 'value' being the value of that field in each result row. { 'results': [{'key': 'value'}, ...] }",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "methods": {
                "checkStatus": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkStatus",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "executionConfig.headers": {
                      "type": "string",
                      "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                      "location": "query"
                    }
                  },
                  "description": "Reports the status of the connection. Note that when the connection is in a state that is not ACTIVE, the implementation of this RPC method must return a Status with the corresponding State instead of returning a gRPC status code that is not \"OK\", which indicates that ConnectionStatus itself, not the connection, failed.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CheckStatusResponse"
                  },
                  "id": "connectors.projects.locations.connections.checkStatus",
                  "path": "v2/{+name}:checkStatus"
                },
                "exchangeAuthCode": {
                  "id": "connectors.projects.locations.connections.exchangeAuthCode",
                  "path": "v2/{+name}:exchangeAuthCode",
                  "response": {
                    "$ref": "ExchangeAuthCodeResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "description": "ExchangeAuthCode exchanges the OAuth authorization code (and other necessary data) for an access token (and associated credentials).",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:exchangeAuthCode",
                  "request": {
                    "$ref": "ExchangeAuthCodeRequest"
                  },
                  "httpMethod": "POST"
                },
                "executeSqlQuery": {
                  "parameterOrder": [
                    "connection"
                  ],
                  "parameters": {
                    "connection": {
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Executes a SQL statement specified in the body of the request. An example of this SQL statement in the case of Salesforce connector would be 'select * from Account a, Order o where a.Id = o.AccountId'.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeSqlQuery",
                  "request": {
                    "$ref": "ExecuteSqlQueryRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+connection}:executeSqlQuery",
                  "id": "connectors.projects.locations.connections.executeSqlQuery",
                  "response": {
                    "$ref": "ExecuteSqlQueryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generateConnectionToolspecOverride": {
                  "response": {
                    "$ref": "GenerateCustomToolspecResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "connectors.projects.locations.connections.generateConnectionToolspecOverride",
                  "path": "v2/{+name}:generateConnectionToolspecOverride",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:generateConnectionToolspecOverride",
                  "request": {
                    "$ref": "GenerateCustomToolspecRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Generate toolspec override for the given list of toolNames.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "checkReadiness": {
                  "id": "connectors.projects.locations.connections.checkReadiness",
                  "path": "v2/{+name}:checkReadiness",
                  "response": {
                    "$ref": "CheckReadinessResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Reports readiness status of the connector. Similar logic to GetStatus but modified for kubernetes health check to understand.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkReadiness",
                  "httpMethod": "GET"
                },
                "refreshAccessToken": {
                  "id": "connectors.projects.locations.connections.refreshAccessToken",
                  "path": "v2/{+name}:refreshAccessToken",
                  "response": {
                    "$ref": "RefreshAccessTokenResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "RefreshAccessToken exchanges the OAuth refresh token (and other necessary data) for a new access token (and new associated credentials).",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:refreshAccessToken",
                  "request": {
                    "$ref": "RefreshAccessTokenRequest"
                  },
                  "httpMethod": "POST"
                },
                "tools": {
                  "path": "v2/{+parent}/tools",
                  "id": "connectors.projects.locations.connections.tools",
                  "response": {
                    "$ref": "ListToolsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
                    }
                  },
                  "description": "Lists all available tools with POST.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                  "request": {
                    "$ref": "ListToolsPostRequest"
                  },
                  "httpMethod": "POST"
                },
                "listCustomToolNames": {
                  "path": "v2/{+name}:listCustomToolNames",
                  "id": "connectors.projects.locations.connections.listCustomToolNames",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCustomToolNamesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
[...]
