{
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "version": "v1",
  "revision": "20260128",
  "title": "Connectors API",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "schemas": {
    "ExtractionRules": {
      "id": "ExtractionRules",
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "properties": {
        "extractionRule": {
          "type": "array",
          "items": {
            "$ref": "ExtractionRule"
          },
          "description": "Collection of Extraction Rule."
        }
      },
      "type": "object"
    },
    "ManagedZone": {
      "type": "object",
      "id": "ManagedZone",
      "description": "represents the Connector's Managed Zone resource",
      "properties": {
        "targetVpc": {
          "description": "Required. The name of the Target Project VPC Network",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "targetProject": {
          "description": "Required. The name of the Target Project",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dns": {
          "description": "Required. DNS Name of the resource",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "HPAConfig": {
      "id": "HPAConfig",
      "description": "Autoscaling config for connector deployment system metrics.",
      "properties": {
        "cpuUtilizationThreshold": {
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "memoryUtilizationThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListConnectorsResponse": {
      "id": "ListConnectorsResponse",
      "description": "Response message for Connectors.ListConnectors.",
      "properties": {
        "connectors": {
          "type": "array",
          "items": {
            "$ref": "Connector"
          },
          "description": "A list of connectors."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "NotificationParameter": {
      "type": "object",
      "id": "NotificationParameter",
      "description": "Contains notification related data.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Array of string values. e.g. instance's replica information."
        }
      }
    },
    "VpcscConfig": {
      "id": "VpcscConfig",
      "description": "This configuration provides VPCSC config for a connector.",
      "properties": {
        "defaultAllowlistedHost": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of allowlisted FQDNs for VPCSC."
        },
        "disableFirewallVpcscFlow": {
          "description": "Whether to disable firewall VPCSC flow.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ModifyConnectionToolspecOverrideRequest": {
      "id": "ModifyConnectionToolspecOverrideRequest",
      "description": "Request message for ModifyConnectionToolspecOverride API.",
      "properties": {
        "toolspecOverride": {
          "$ref": "ToolspecOverride",
          "description": "Required. Toolspec overrides to be modified."
        }
      },
      "type": "object"
    },
    "AuthProperty": {
      "id": "AuthProperty",
      "description": "AuthProperty defines a property of an authentication type.",
      "properties": {
        "type": {
          "description": "Type of the property.",
          "type": "string"
        },
        "description": {
          "description": "Description of the property.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListenEventRequest": {
      "id": "ListenEventRequest",
      "description": "Expected request for ListenEvent API.",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Request payload."
        }
      },
      "type": "object"
    },
    "Connector": {
      "id": "Connector",
      "description": "Connectors indicates a specific connector type, e.x. Salesforce, SAP etc.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "readOnly": true
        },
        "documentationUri": {
          "type": "string",
          "description": "Output only. Link to documentation page.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name.",
          "readOnly": true,
          "type": "string"
        },
        "eventingDetails": {
          "description": "Output only. Eventing details. Will be null if eventing is not supported.",
          "readOnly": true,
          "$ref": "EventingDetails"
        },
        "name": {
          "description": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource.",
          "readOnly": true,
          "type": "string"
        },
        "marketplaceConnectorDetails": {
          "description": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector.",
          "readOnly": true,
          "$ref": "MarketplaceConnectorDetails"
        },
        "externalUri": {
          "description": "Output only. Link to external page.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the resource.",
          "readOnly": true
        },
        "webAssetsLocation": {
          "description": "Output only. Cloud storage location of icons etc consumed by UI.",
          "readOnly": true,
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Output only. Category of the connector.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Created time.",
          "readOnly": true
        },
        "connectorType": {
          "description": "Output only. The type of the connector.",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "CONNECTOR_TYPE_GOOGLE",
            "CONNECTOR_TYPE_TECHNICAL",
            "CONNECTOR_TYPE_THIRD_PARTY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Google connectors.",
            "Technical connectors.",
            "Third Party connectors."
          ]
        },
        "launchStage": {
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Updated time.",
          "readOnly": true
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Tags of the connector.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EgressControlConfig": {
      "type": "object",
      "id": "EgressControlConfig",
      "description": "Egress control config for connector runtime. These configurations define the rules to identify which outbound domains/hosts needs to be whitelisted. It may be a static information for a particular connector version or it is derived from the configurations provided by the customer in Connection resource.",
      "properties": {
        "accessMode": {
          "description": "Optional. Access mode for egress control.",
          "enumDescriptions": [
            "The default value. Per best practices (go/protodosdonts#unspecified-enum), the first value should be UNSPECIFIED and have a tag of 0. Application logic should treat this the same as RESTRICTED.",
            "Enforce the allowlist. Only projects in 'allowlisted_project_numbers' are permitted.",
            "Allow all projects. 'allowlisted_project_numbers' is ignored."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "RESTRICTED",
            "ALLOW_ALL"
          ],
          "type": "string"
        },
        "extractionRules": {
          "description": "Extractions Rules to extract the backends from customer provided configuration.",
          "deprecated": true,
          "$ref": "ExtractionRules"
        },
        "allowlistedProjectNumbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Used when access_mode is RESTRICTED or ACCESS_MODE_UNSPECIFIED."
        },
        "additionalExtractionRules": {
          "description": "Additional extraction rules to identity the backends from customer provided configuration in Connection resource. These rules are applied in addition to the ones specified in `oneof_backends`.",
          "$ref": "ExtractionRules"
        },
        "launchEnvironment": {
          "description": "Launch environment for egress control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. If not specified, the launch environment will default to AUTOPUSH.",
            "Autopush environment.",
            "Staging environment.",
            "Prod environment."
          ],
          "enum": [
            "LAUNCH_ENVIRONMENT_UNSPECIFIED",
            "AUTOPUSH",
            "STAGING",
            "PROD"
          ]
        },
        "backends": {
          "description": "Static Comma separated backends which are common for all Connection resources. Supported formats for each backend are host:port or just host (host can be ip address or domain name).",
          "type": "string"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "description": "Connection represents an instance of connector.",
      "properties": {
        "trafficShapingConfigs": {
          "type": "array",
          "items": {
            "$ref": "TrafficShapingConfig"
          },
          "description": "Optional. Traffic shaping configuration for the connection."
        },
        "envoyImageLocation": {
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
          "readOnly": true,
          "type": "string"
        },
        "connectorVersionLaunchStage": {
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "description": "Output only. Flag to mark the version indicating the launch stage."
        },
        "authOverrideEnabled": {
          "description": "Optional. Auth override enabled for the connection. If Auth Override is enabled, Connection allows the backend service auth to be overridden in the entities/actions API.",
          "type": "boolean"
        },
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "readOnly": true,
          "type": "string"
        },
        "subscriptionType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified subscription type.",
            "PayG subscription.",
            "Paid Subscription."
          ],
          "description": "Output only. This subscription type enum states the subscription type of the project.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAY_G",
            "PAID"
          ]
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to access Google Cloud resources.",
          "type": "string"
        },
        "lockConfig": {
          "$ref": "LockConfig",
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited."
        },
        "tlsServiceDirectory": {
          "description": "Output only. The name of the Service Directory service with TLS.",
          "readOnly": true,
          "type": "string"
        },
        "connectorVersionInfraConfig": {
          "$ref": "ConnectorVersionInfraConfig",
          "description": "Output only. Infra configs supported by Connector Version.",
          "readOnly": true
        },
        "destinationConfigs": {
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          },
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s)."
        },
        "suspended": {
          "description": "Optional. Suspended indicates if a user has suspended a connection or not.",
          "type": "boolean"
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Optional. Node configuration for the connection."
        },
        "eventingEnablementType": {
          "type": "string",
          "enumDescriptions": [
            "Eventing Enablement Type Unspecifeied.",
            "Both connection and eventing.",
            "Only Eventing."
          ],
          "enum": [
            "EVENTING_ENABLEMENT_TYPE_UNSPECIFIED",
            "EVENTING_AND_CONNECTION",
            "ONLY_EVENTING"
          ],
          "description": "Optional. Eventing enablement type. Will be nil if eventing is not enabled."
        },
        "status": {
          "description": "Output only. Current status of the connection.",
          "readOnly": true,
          "$ref": "ConnectionStatus"
        },
        "fallbackOnAdminCredentials": {
          "description": "Optional. Fallback on admin credentials for the connection. If this both auth_override_enabled and fallback_on_admin_credentials are set to true, the connection will use the admin credentials if the dynamic auth header is not present during auth override.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configuration for establishing the connection's authentication with an external system.",
          "$ref": "AuthConfig"
        },
        "sslConfig": {
          "description": "Optional. Ssl config of a connection",
          "$ref": "SslConfig"
        },
        "eventingRuntimeData": {
          "description": "Output only. Eventing Runtime Data.",
          "readOnly": true,
          "$ref": "EventingRuntimeData"
        },
        "connectorVersion": {
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "host": {
          "type": "string",
          "description": "Output only. The name of the Hostname of the Service Directory service with TLS.",
          "readOnly": true
        },
        "billingConfig": {
          "description": "Output only. Billing config for the connection.",
          "readOnly": true,
          "$ref": "BillingConfig"
        },
        "logConfig": {
          "description": "Optional. Log configuration for the connection.",
          "$ref": "ConnectorsLogConfig"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Updated time.",
          "readOnly": true
        },
        "isTrustedTester": {
          "type": "boolean",
          "description": "Output only. Is trusted tester program enabled for the project.",
          "readOnly": true
        },
        "euaOauthAuthConfig": {
          "description": "Optional. Additional Oauth2.0 Auth config for EUA. If the connection is configured using non-OAuth authentication but OAuth needs to be used for EUA, this field can be populated with the OAuth config. This should be a OAuth2AuthCodeFlow Auth type only.",
          "$ref": "AuthConfig"
        },
        "imageLocation": {
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "readOnly": true,
          "type": "string"
        },
        "configVariables": {
          "description": "Optional. Configuration for configuring the connection with an external system.",
          "items": {
            "$ref": "ConfigVariable"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "asyncOperationsEnabled": {
          "description": "Optional. Async operations enabled for the connection. If Async Operations is enabled, Connection allows the customers to initiate async long running operations using the actions API.",
          "type": "boolean"
        },
        "connectionRevision": {
          "description": "Output only. Connection revision. This field is only updated when the connection is created or updated by User.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "eventingConfig": {
          "description": "Optional. Eventing config of a connection",
          "$ref": "EventingConfig"
        }
      },
      "type": "object"
    },
    "Destination": {
      "type": "object",
      "id": "Destination",
      "properties": {
        "serviceAttachment": {
          "deprecated": true,
          "type": "string",
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*"
        },
        "host": {
          "description": "For publicly routable host.",
          "type": "string"
        },
        "port": {
          "description": "The port is the target port number that is accepted by the destination.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListCustomConnectorsResponse": {
      "id": "ListCustomConnectorsResponse",
      "description": "Response message for Connectors.ListCustomConnectors.",
      "properties": {
        "customConnectors": {
          "description": "A list of customConnectors.",
          "type": "array",
          "items": {
            "$ref": "CustomConnector"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListCustomConnectorVersionsResponse": {
      "type": "object",
      "id": "ListCustomConnectorVersionsResponse",
      "description": "Response message for Connectors.ListCustomConnectorVersions.",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "customConnectorVersions": {
          "description": "A list of connector versions.",
          "type": "array",
          "items": {
            "$ref": "CustomConnectorVersion"
          }
        }
      }
    },
    "FetchAuthSchemaResponse": {
      "type": "object",
      "id": "FetchAuthSchemaResponse",
      "description": "Response message for Connectors.GetAuthSchema.",
      "properties": {
        "authSchemas": {
          "description": "List of AuthSchemas.",
          "type": "array",
          "items": {
            "$ref": "AuthSchema"
          }
        },
        "jsonSchema": {
          "$ref": "JsonAuthSchema",
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format."
        }
      }
    },
    "ListEventSubscriptionsResponse": {
      "id": "ListEventSubscriptionsResponse",
      "description": "Response message for ConnectorsService.ListEventSubscriptions",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "eventSubscriptions": {
          "description": "Subscriptions.",
          "items": {
            "$ref": "EventSubscription"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ConnectorsLogConfig": {
      "type": "object",
      "id": "ConnectorsLogConfig",
      "description": "Log configuration for the connection.",
      "properties": {
        "enabled": {
          "description": "Optional. Enabled represents whether logging is enabled or not for a connection.",
          "type": "boolean"
        },
        "level": {
          "description": "Optional. Log configuration level.",
          "enumDescriptions": [
            "Log level unspecified.",
            "Only error logs are enabled.",
            "Info and error logs are enabled.",
            "Debug and high verbosity logs are enabled."
          ],
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "ERROR",
            "INFO",
            "DEBUG"
          ],
          "type": "string"
        }
      }
    },
    "LockConfig": {
      "id": "LockConfig",
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "properties": {
        "locked": {
          "description": "Optional. Indicates whether or not the connection is locked.",
          "type": "boolean"
        },
        "reason": {
          "description": "Optional. Describes why a connection is locked.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchConnectionsResponse": {
      "type": "object",
      "id": "SearchConnectionsResponse",
      "description": "Response message for Connectors.SearchConnections.",
      "properties": {
        "connections": {
          "description": "A list of connectors.",
          "items": {
            "$ref": "SearchConnectionInstance"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Optional. page_token",
          "type": "string"
        }
      }
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged": {
      "type": "object",
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "oauthTokenData": {
          "$ref": "OAuthTokenData",
          "description": "Auth Code Data"
        },
        "scopes": {
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        }
      }
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "description": "Maintenance policy applicable to instance updates.",
      "properties": {
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "channel": {
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "type": "string",
          "description": "Optional. Relative scheduling channel applied to resource."
        }
      },
      "type": "object"
    },
    "SchemaRefreshConfig": {
      "type": "object",
      "id": "SchemaRefreshConfig",
      "description": "Config for connection schema refresh",
      "properties": {
        "useSynchronousSchemaRefresh": {
          "description": "Whether to use synchronous schema refresh.",
          "type": "boolean"
        },
        "useActionDisplayNames": {
          "description": "Whether to use displayName for actions in UI.",
          "type": "boolean"
        }
      }
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "id": "RemoveConnectionToolspecOverrideRequest",
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "properties": {},
      "type": "object"
    },
    "ConnectorVersionInfraConfig": {
      "id": "ConnectorVersionInfraConfig",
      "description": "This configuration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "properties": {
        "sharedDeployment": {
          "type": "string",
          "description": "Output only. The name of shared connector deployment.",
          "readOnly": true
        },
        "resourceRequests": {
          "description": "Output only. System resource requests.",
          "readOnly": true,
          "$ref": "ResourceRequests"
        },
        "tlsMigrationState": {
          "enum": [
            "TLS_MIGRATION_STATE_UNSPECIFIED",
            "TLS_MIGRATION_NOT_STARTED",
            "TLS_MIGRATION_COMPLETED"
          ],
          "type": "string",
          "description": "Output only. Status of the TLS migration.",
          "enumDescriptions": [
            "TLS migration state is not specified.",
            "TLS migration is in progress.",
            "TLS migration is completed."
          ],
          "readOnly": true
        },
        "maxInstanceRequestConcurrency": {
          "description": "Output only. Max instance request concurrency.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "hpaConfig": {
          "description": "Output only. HPA autoscaling config.",
          "readOnly": true,
          "$ref": "HPAConfig"
        },
        "ratelimitThreshold": {
          "description": "Output only. Max QPS supported by the connector version before throttling of requests.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "internalclientRatelimitThreshold": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Max QPS supported for internal requests originating from Connd.",
          "readOnly": true
        },
        "connectionRatelimitWindowSeconds": {
          "description": "Output only. The window used for ratelimiting runtime requests to connections.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "resourceLimits": {
          "description": "Output only. System resource limits.",
          "readOnly": true,
          "$ref": "ResourceLimits"
        },
        "deploymentModelMigrationState": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_MIGRATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "ROLLEDBACK",
            "ROLLBACK_IN_PROGRESS"
          ],
          "description": "Output only. Status of the deployment model migration.",
          "enumDescriptions": [
            "Deployment model migration state is not specified.",
            "Deployment model migration is in progress.",
            "Deployment model migration is completed.",
            "Deployment model migration rolledback.",
            "Deployment model migration rollback in progress."
          ],
          "readOnly": true
        },
        "deploymentModel": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ],
          "description": "Output only. Indicates whether connector is deployed on GKE/CloudRun",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EUASecret": {
      "id": "EUASecret",
      "description": "EUASecret provides a reference to entries in Secret Manager.",
      "properties": {
        "secretVersion": {
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "secretValue": {
          "description": "Optional. The plain string value of the secret.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventingRuntimeData": {
      "id": "EventingRuntimeData",
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "properties": {
        "eventsListenerEndpoint": {
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "readOnly": true,
          "type": "string"
        },
        "webhookData": {
          "description": "Output only. Webhook data.",
          "readOnly": true,
          "$ref": "WebhookData"
        },
        "status": {
          "$ref": "EventingStatus",
          "description": "Output only. Current status of eventing.",
          "readOnly": true
        },
        "eventsListenerPscSa": {
          "type": "string",
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "readOnly": true
        },
        "webhookSubscriptions": {
          "description": "Output only. Webhook subscriptions.",
          "readOnly": true,
          "$ref": "WebhookSubscriptions"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "MaintenanceSchedule": {
      "type": "object",
      "id": "MaintenanceSchedule",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled start time for the maintenance."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "WeeklyCycle": {
      "id": "WeeklyCycle",
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "type": "array",
          "items": {
            "$ref": "Schedule"
          },
          "description": "User can specify multiple windows in a week. Minimum of 1 window."
        }
      },
      "type": "object"
    },
    "NodeConfig": {
      "type": "object",
      "id": "NodeConfig",
      "description": "Node configuration for the connection.",
      "properties": {
        "maxNodeCount": {
          "description": "Optional. Maximum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        },
        "minNodeCount": {
          "description": "Optional. Minimum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EventSubscriptionDestination": {
      "type": "object",
      "id": "EventSubscriptionDestination",
      "description": "Message for EventSubscription Destination to act on receiving an event",
      "properties": {
        "endpoint": {
          "$ref": "EndPoint",
          "description": "OPTION 1: Hit an endpoint when we receive an event."
        },
        "pubsub": {
          "description": "OPTION 3: Write the event to Pub/Sub topic.",
          "$ref": "PubSub"
        },
        "type": {
          "description": "Optional. type of the destination",
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received",
            "Cloud Storage - Write the event to Cloud Storage bucket",
            "Pub/Sub - Write the event to Pub/Sub topic"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT",
            "GCS",
            "PUBSUB"
          ]
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to trigger IP workflow.",
          "type": "string"
        }
      }
    },
    "AuthField": {
      "id": "AuthField",
      "description": "AuthField defines a field in an authentication type.",
      "properties": {
        "key": {
          "description": "Key of the field.",
          "type": "string"
        },
        "description": {
          "description": "Description of the field.",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of the field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeadLetterConfig": {
      "type": "object",
      "id": "DeadLetterConfig",
      "description": "Dead Letter configuration details provided by the user.",
      "properties": {
        "topic": {
          "description": "Optional. Topic to push events which couldn't be processed.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. Project which has the topic given.",
          "type": "string"
        }
      }
    },
    "EventSubscriptionStatus": {
      "type": "object",
      "id": "EventSubscriptionStatus",
      "description": "EventSubscription Status denotes the status of the EventSubscription resource.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "SUSPENDED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of Event Subscription resource.",
          "enumDescriptions": [
            "Default state.",
            "EventSubscription creation is in progress.",
            "EventSubscription is in Updating status.",
            "EventSubscription is in Active state and is ready to receive events.",
            "EventSubscription is currently suspended.",
            "EventSubscription is in Error state."
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the state.",
          "readOnly": true
        }
      }
    },
    "EndUserAuthenticationConfig": {
      "type": "object",
      "id": "EndUserAuthenticationConfig",
      "description": "EndUserAuthenticationConfig defines details of a authentication configuration for EUC",
      "properties": {
        "oauth2ClientCredentials": {
          "$ref": "EndUserAuthenticationConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "EndUserAuthenticationConfigSshPublicKey"
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged",
          "description": "Oauth2AuthCodeFlowGoogleManaged."
        },
        "oauth2AuthCodeFlow": {
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
          "description": "Oauth2AuthCodeFlow."
        },
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "authType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "description": "The type of authentication configured."
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearer"
        },
        "additionalVariables": {
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          },
          "type": "array",
          "description": "Optional. List containing additional auth configs."
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "EndUserAuthenticationConfigUserPassword"
        }
      }
    },
    "SshPublicKey": {
      "id": "SshPublicKey",
      "description": "Parameters to support Ssh public key Authentication.",
      "properties": {
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        },
        "sshClientCertPass": {
          "$ref": "Secret",
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one."
        },
        "sshClientCert": {
          "$ref": "Secret",
          "description": "Optional. SSH Client Cert. It should contain both public and private key."
        },
        "certType": {
          "description": "Optional. Format of SSH Client cert.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PublishStatus": {
      "type": "object",
      "id": "PublishStatus",
      "description": "Publish status of a custom connector.",
      "properties": {
        "publishState": {
          "type": "string",
          "enum": [
            "PUBLISH_STATE_UNSPECIFIED",
            "PUBLISHED",
            "PUBLISH_IN_PROGRESS",
            "UNPUBLISHED"
          ],
          "description": "Output only. Publish state of the custom connector.",
          "enumDescriptions": [
            "State Unspecified.",
            "Connector version has been published as partner connector version.",
            "Connector version is in the process of being published as partner connector version.",
            "Connector version has been unpublished as partner connector version"
          ],
          "readOnly": true
        },
        "publishedAs": {
          "description": "Output only. Partner connector name. Will be set on the custom connector. Format: providers/partner/connectors//versions/",
          "readOnly": true,
          "type": "string"
        },
        "publishTime": {
          "description": "Output only. Publish time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "publishedSource": {
          "description": "Output only. Custom connector name. Will be set on the partner connector. Format: providers/customconnectors/connectors//versions/",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "EndUserAuthenticationEndUserAuthenticationStatus": {
      "id": "EndUserAuthenticationEndUserAuthenticationStatus",
      "description": "EndUserAuthentication Status denotes the status of the EndUserAuthentication resource.",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default state.",
            "EndUserAuthentication is in Active state.",
            "EndUserAuthentication is in Error state."
          ],
          "description": "Output only. State of Event Subscription resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ]
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the state.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Oauth2ClientCredentials": {
      "type": "object",
      "id": "Oauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientSecret": {
          "description": "Optional. Secret version reference containing the client secret.",
          "$ref": "Secret"
        },
        "clientId": {
          "description": "Optional. The client identifier.",
          "type": "string"
        }
      }
    },
    "DestinationConfig": {
      "id": "DestinationConfig",
      "description": "Define the Connectors target endpoint.",
      "properties": {
        "key": {
          "description": "The key is the destination identifier that is supported by the Connector.",
          "type": "string"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "type": "array",
          "description": "The destinations for the key."
        }
      },
      "type": "object"
    },
    "ListEntityTypesResponse": {
      "id": "ListEntityTypesResponse",
      "description": "Response message for ListEntityTypes API",
      "properties": {
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        },
        "entityTypes": {
          "items": {
            "$ref": "RuntimeEntitySchema"
          },
          "type": "array",
          "description": "list of entity types"
        }
      },
      "type": "object"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "Source to extract the backend from.",
      "properties": {
        "fieldId": {
          "description": "Field identifier. For example config variable name.",
          "type": "string"
        },
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Default SOURCE.",
            "Config Variable source type.",
            "Auth Config Variable source type."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CONFIG_VARIABLE",
            "AUTH_CONFIG_VARIABLE"
          ],
          "description": "Type of the source."
        }
      }
    },
    "GenerateConnectionToolspecOverrideResponse": {
      "type": "object",
      "id": "GenerateConnectionToolspecOverrideResponse",
      "description": "Response message for GenerateConnectionToolspecOverride API.",
      "properties": {
        "toolspecOverride": {
          "$ref": "ToolspecOverride",
          "description": "Toolspec overrides for the connection."
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "type": "object"
    },
    "ValidateCustomConnectorSpecRequest": {
      "type": "object",
      "id": "ValidateCustomConnectorSpecRequest",
      "description": "Request message for ConnectorsService.ValidateCustomConnectorSpec",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account to access the spec from Google Cloud Storage.",
          "type": "string"
        },
        "specLocation": {
          "description": "Required. Location of the custom connector spec. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`",
          "type": "string"
        },
        "specType": {
          "enumDescriptions": [
            "Connector type is not specified.",
            "OpenAPI connector.",
            "Proto connector.",
            "SDK connector."
          ],
          "enum": [
            "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED",
            "OPEN_API",
            "PROTO",
            "SDK"
          ],
          "type": "string",
          "description": "Required. Spec type of the custom connector spec."
        }
      }
    },
    "JsonAuthSchema": {
      "id": "JsonAuthSchema",
      "description": "JsonAuthSchema defines the JSON schema of all authentication types.",
      "properties": {
        "oneOf": {
          "items": {
            "$ref": "AuthObject"
          },
          "type": "array",
          "description": "List of AuthObjects."
        },
        "$schema": {
          "description": "JSON schema of the AuthSchemas.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ValidateCustomConnectorSpecResponse": {
      "type": "object",
      "id": "ValidateCustomConnectorSpecResponse",
      "description": "Response message for ConnectorsService.ValidateCustomConnectorSpec",
      "properties": {
        "errorMessage": {
          "description": "Error message. The spec is valid if the error message is empty.",
          "type": "string"
        }
      }
    },
    "WebhookData": {
      "type": "object",
      "id": "WebhookData",
      "description": "WebhookData has details of webhook configuration.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the webhook was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Name of the Webhook",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the webhook was last updated.",
          "readOnly": true
        },
        "nextRefreshTime": {
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string",
          "description": "Output only. ID to uniquely identify webhook.",
          "readOnly": true
        },
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Output only. Additional webhook related field values.",
          "readOnly": true
        }
      }
    },
    "RuntimeConfig": {
      "type": "object",
      "id": "RuntimeConfig",
      "description": "RuntimeConfig is the singleton resource of each location. It includes generic resource configs consumed by control plane and runtime plane like: pub/sub topic/subscription resource name, Cloud Storage location storing schema etc.",
      "properties": {
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name.",
          "readOnly": true,
          "type": "string"
        },
        "conndSubscription": {
          "type": "string",
          "description": "Output only. Pub/Sub subscription for connd to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}",
          "readOnly": true
        },
        "controlPlaneTopic": {
          "description": "Output only. Pub/Sub topic for control plne to send message. communication. E.g. projects/{project-id}/topics/{topic-id}",
          "readOnly": true,
          "type": "string"
        },
        "locationId": {
          "description": "Output only. location_id of the runtime location. E.g. \"us-west1\".",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the runtimeConfig resource. Format: projects/{project}/locations/{location}/runtimeConfig",
          "readOnly": true,
          "type": "string"
        },
        "conndTopic": {
          "description": "Output only. Pub/Sub topic for connd to send message. E.g. projects/{project-id}/topics/{topic-id}",
          "readOnly": true,
          "type": "string"
        },
        "schemaGcsBucket": {
          "description": "Output only. The Cloud Storage bucket that stores connector's schema reports.",
          "readOnly": true,
          "type": "string"
        },
        "controlPlaneSubscription": {
          "type": "string",
          "description": "Output only. Pub/Sub subscription for control plane to receive message. E.g. projects/{project-id}/subscriptions/{topic-id}",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "INACTIVE.",
            "ACTIVATING.",
            "ACTIVE.",
            "CREATING.",
            "DELETING.",
            "UPDATING."
          ],
          "readOnly": true,
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The state of the location."
        },
        "runtimeEndpoint": {
          "type": "string",
          "description": "Output only. The endpoint of the connectors runtime ingress.",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "description": "Resource definition",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Cloud Project Resource.",
            "Any Google Cloud Resource which is identified uniquely by IAM.",
            "Google Cloud Secret Resource.",
            "Google Cloud Secret Version Resource."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_PROJECT",
            "GCP_RESOURCE",
            "GCP_SECRETMANAGER_SECRET",
            "GCP_SECRETMANAGER_SECRET_VERSION"
          ],
          "description": "Optional. Different types of resource supported."
        },
        "pathTemplate": {
          "description": "Optional. Template to uniquely represent a Google Cloud resource in a format IAM expects This is a template that can have references to other values provided in the config variable template.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JMS": {
      "id": "JMS",
      "description": "JMS message denotes the source of the event",
      "properties": {
        "type": {
          "description": "Optional. Type of the JMS Source. i.e. Queue or Topic",
          "enumDescriptions": [
            "Default state.",
            "JMS Queue.",
            "JMS Topic."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "QUEUE",
            "TOPIC"
          ],
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the JMS source. i.e. queueName or topicName",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListEndpointAttachmentsResponse": {
      "id": "ListEndpointAttachmentsResponse",
      "description": "Response message for ConnectorsService.ListEndpointAttachments",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "endpointAttachments": {
          "description": "EndpointAttachments.",
          "type": "array",
          "items": {
            "$ref": "EndpointAttachment"
          }
        }
      },
      "type": "object"
    },
    "AuthorizationCodeLink": {
      "id": "AuthorizationCodeLink",
      "description": "This configuration captures the details required to render an authorization link for the OAuth Authorization Code Flow.",
      "properties": {
        "scopes": {
          "description": "Optional. The scopes for which the user will authorize Google Cloud Connectors on the connector data source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "omitQueryParams": {
          "description": "Optional. Omit query params from the redirect URI.",
          "type": "boolean"
        },
        "uri": {
          "description": "Optional. The base URI the user must click to trigger the authorization code login flow.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "Secret",
          "description": "Optional. The client secret assigned to the Google Cloud Connectors OAuth app for the connector data source."
        },
        "clientId": {
          "description": "Optional. The client ID assigned to the Google Cloud Connectors OAuth app for the connector data source.",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE for the auth code flow.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "WithdrawCustomConnectorVersionRequest": {
      "type": "object",
      "id": "WithdrawCustomConnectorVersionRequest",
      "description": "Request message for ConnectorsService.WithdrawCustomConnectorVersion",
      "properties": {}
    },
    "PublishCustomConnectorVersionRequest": {
      "id": "PublishCustomConnectorVersionRequest",
      "description": "Request message for ConnectorsService.PublishCustomConnectorVersion",
      "properties": {
        "partnerMetadata": {
          "description": "Required. Partner metadata details for validating and publishing the custom connector as a partner connector version.",
          "$ref": "PartnerMetadata"
        }
      },
      "type": "object"
    },
    "StandardEntity": {
      "id": "StandardEntity",
      "description": "Standard entity",
      "properties": {
        "name": {
          "description": "Name of the standard entity.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RetryEventSubscriptionRequest": {
      "type": "object",
      "id": "RetryEventSubscriptionRequest",
      "description": "Request message for ConnectorsService.RefreshEventSubscription",
      "properties": {}
    },
    "EndPoint": {
      "type": "object",
      "id": "EndPoint",
      "description": "Endpoint message includes details of the Destination endpoint.",
      "properties": {
        "endpointUri": {
          "description": "Optional. The URI of the Endpoint.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "Header"
          },
          "description": "Optional. List of Header to be added to the Endpoint."
        }
      }
    },
    "RoleGrant": {
      "id": "RoleGrant",
      "description": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user.",
      "properties": {
        "principal": {
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Service Account used for Connector workload identity This is either the default service account if unspecified or Service Account provided by Customers through BYOSA."
          ],
          "enum": [
            "PRINCIPAL_UNSPECIFIED",
            "CONNECTOR_SA"
          ],
          "description": "Optional. Principal/Identity for whom the role need to assigned."
        },
        "resource": {
          "description": "Optional. Resource on which the roles needs to be granted for the principal.",
          "$ref": "Resource"
        },
        "helperTextTemplate": {
          "description": "Optional. Template that UI can use to provide helper text to customers.",
          "type": "string"
        },
        "roles": {
          "description": "Optional. List of roles that need to be granted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Oauth2AuthCodeFlowGoogleManaged": {
      "id": "Oauth2AuthCodeFlowGoogleManaged",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DestinationConfigTemplate": {
      "id": "DestinationConfigTemplate",
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector.",
      "properties": {
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of destinations supported for this key."
        },
        "defaultPort": {
          "description": "The default port.",
          "format": "int32",
          "type": "integer"
        },
        "regexPattern": {
          "description": "Regex pattern for host.",
          "type": "string"
        },
        "isAdvanced": {
          "description": "Whether the current destination tempalate is part of Advanced settings",
          "type": "boolean"
        },
        "autocompleteSuggestions": {
          "description": "Autocomplete suggestions for destination URL field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "max": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of destinations supported for this key."
        },
        "key": {
          "description": "Key of the destination.",
          "type": "string"
        },
        "portFieldType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ],
          "type": "string",
          "description": "Whether port number should be provided by customers."
        },
        "displayName": {
          "description": "Display name of the parameter.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListEventTypesResponse": {
      "type": "object",
      "id": "ListEventTypesResponse",
      "description": "Response message for Connectors.ListEventTypes.",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "eventTypes": {
          "description": "A list of connector versions.",
          "items": {
            "$ref": "EventType"
          },
          "type": "array"
        }
      }
    },
    "ListActionsResponse": {
      "id": "ListActionsResponse",
      "description": "Response message for ListActions API",
      "properties": {
        "actions": {
          "description": "list of actions",
          "items": {
            "$ref": "RuntimeActionSchema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "token for next page",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ModifyConnectionToolspecOverrideResponse": {
      "id": "ModifyConnectionToolspecOverrideResponse",
      "description": "Response message for ModifyConnectionToolspecOverride API.",
      "properties": {
        "toolspecOverrides": {
          "$ref": "ToolspecOverride",
          "description": "Toolspec overrides for the connection."
        }
      },
      "type": "object"
    },
    "Oauth2AuthCodeFlow": {
      "type": "object",
      "id": "Oauth2AuthCodeFlow",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow."
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "Secret"
        },
        "clientId": {
          "description": "Optional. Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        },
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        }
      }
    },
    "InputParameter": {
      "id": "InputParameter",
      "description": "Metadata of an input parameter.",
      "properties": {
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this action's parameter"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "parameter": {
          "description": "Name of the Parameter.",
          "type": "string"
        },
        "description": {
          "description": "A brief description of the Parameter.",
          "type": "string"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the Parameter.",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ]
        }
      },
      "type": "object"
    },
    "ConnectorVersion": {
      "id": "ConnectorVersion",
      "description": "ConnectorVersion indicates a specific version of a connector.",
      "properties": {
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "type": "string",
          "description": "Output only. Flag to mark the version indicating the launch stage.",
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "readOnly": true
        },
        "configVariableTemplates": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariableTemplate"
          },
          "description": "Output only. List of config variables needed to create a connection.",
          "readOnly": true
        },
        "unsupportedConnectionTypes": {
          "description": "Output only. Unsupported connection types.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connection type is unspecified.",
              "Connection with eventing.",
              "Only connection.",
              "Only eventing."
            ],
            "enum": [
              "CONNECTION_TYPE_UNSPECIFIED",
              "CONNECTION_WITH_EVENTING",
              "ONLY_CONNECTION",
              "ONLY_EVENTING"
            ]
          }
        },
        "supportedStandardActions": {
          "description": "Output only. Supported standard actions.",
          "readOnly": true,
          "items": {
            "$ref": "StandardAction"
          },
          "type": "array"
        },
        "egressControlConfig": {
          "description": "Output only. Configuration for Egress Control.",
          "readOnly": true,
          "$ref": "EgressControlConfig"
        },
        "isCustomEntitiesSupported": {
          "type": "boolean",
          "description": "Output only. Is custom entities supported.",
          "readOnly": true
        },
        "authConfigTemplates": {
          "type": "array",
          "items": {
            "$ref": "AuthConfigTemplate"
          },
          "description": "Output only. List of auth configs supported by the Connector Version.",
          "readOnly": true
        },
        "destinationConfigTemplates": {
          "items": {
            "$ref": "DestinationConfigTemplate"
          },
          "type": "array",
          "description": "Output only. List of destination configs needed to create a connection.",
          "readOnly": true
        },
        "eventingConfigTemplate": {
          "description": "Output only. Eventing configuration supported by the Connector.",
          "readOnly": true,
          "$ref": "EventingConfigTemplate"
        },
        "releaseVersion": {
          "type": "string",
          "description": "Output only. ReleaseVersion of the connector, for example: \"1.0.1-alpha\".",
          "readOnly": true
        },
        "schemaRefreshConfig": {
          "description": "Connection Schema Refresh Config",
          "$ref": "SchemaRefreshConfig"
        },
        "isCustomActionsSupported": {
          "type": "boolean",
          "description": "Output only. Is custom actions supported.",
          "readOnly": true
        },
        "authOverrideEnabled": {
          "type": "boolean",
          "description": "Output only. Flag to mark the dynamic auth override.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the Version. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version} Only global location is supported for Connector resource.",
          "readOnly": true,
          "type": "string"
        },
        "connectorInfraConfig": {
          "$ref": "ConnectorInfraConfig",
          "description": "Output only. Infra configs supported by Connector.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "supportedRuntimeFeatures": {
          "$ref": "SupportedRuntimeFeatures",
          "description": "Output only. Information about the runtime features supported by the Connector.",
          "readOnly": true
        },
        "supportedStandardEntities": {
          "description": "Output only. Supported standard entities.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StandardEntity"
          }
        },
        "roleGrant": {
          "$ref": "RoleGrant",
          "description": "Output only. Role grant configuration for this config variable. It will be DEPRECATED soon.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Created time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "vpcscConfig": {
          "description": "Output only. VPCSC config for the connector.",
          "readOnly": true,
          "$ref": "VpcscConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name.",
          "readOnly": true
        },
        "labels": {
          "description": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "roleGrants": {
          "description": "Output only. Role grant configurations for this connector version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RoleGrant"
          }
        },
        "sslConfigTemplate": {
          "$ref": "SslConfigTemplate",
          "description": "Output only. Ssl configuration supported by the Connector.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MultipleSelectConfig": {
      "type": "object",
      "id": "MultipleSelectConfig",
      "description": "MultipleSelectConfig represents the multiple options for a config variable.",
      "properties": {
        "allowCustomValues": {
          "description": "Optional. Allow custom values.",
          "type": "boolean"
        },
        "valueSeparator": {
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field.",
          "type": "string"
        },
        "multipleSelectOptions": {
          "type": "array",
          "items": {
            "$ref": "MultipleSelectOption"
          },
          "description": "Required. Multiple select options."
        }
      }
    },
    "JwtClaims": {
      "id": "JwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "subject": {
          "description": "Optional. Value for the \"sub\" claim.",
          "type": "string"
        },
        "issuer": {
          "description": "Optional. Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Value for the \"aud\" claim.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "description": "Defines policies to service maintenance events.",
      "properties": {
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was created."
        },
        "state": {
          "description": "Optional. The state of the policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was updated."
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventingDetails": {
      "id": "EventingDetails",
      "description": "Eventing Details message.",
      "properties": {
        "customEventTypes": {
          "description": "Output only. Custom Event Types.",
          "readOnly": true,
          "type": "boolean"
        },
        "documentationLink": {
          "description": "Output only. Link to public documentation.",
          "readOnly": true,
          "type": "string"
        },
        "searchTags": {
          "description": "Output only. Array of search keywords.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the Eventing trigger.",
          "readOnly": true
        },
        "iconLocation": {
          "type": "string",
          "description": "Output only. Cloud storage location of the icon.",
          "readOnly": true
        },
        "launchStage": {
          "enumDescriptions": [
            "LAUNCH_STAGE_UNSPECIFIED.",
            "PREVIEW.",
            "GA.",
            "DEPRECATED.",
            "TEST.",
            "PRIVATE_PREVIEW."
          ],
          "readOnly": true,
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "PREVIEW",
            "GA",
            "DEPRECATED",
            "TEST",
            "PRIVATE_PREVIEW"
          ],
          "type": "string",
          "description": "Output only. Eventing Launch Stage."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "WEBHOOK",
            "JMS"
          ],
          "description": "Output only. The type of the event listener for a specific connector.",
          "enumDescriptions": [
            "Default value.",
            "Webhook listener. e.g. Jira, Zendesk, Servicenow etc.,",
            "JMS Listener. e.g. IBM MQ, Rabbit MQ etc.,"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DailyCycle": {
      "type": "object",
      "id": "DailyCycle",
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "AuthConfig": {
      "id": "AuthConfig",
      "description": "AuthConfig defines details of a authentication type.",
      "properties": {
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "Oauth2ClientCredentials"
        },
        "sshPublicKey": {
          "$ref": "SshPublicKey",
          "description": "SSH Public Key."
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "Oauth2AuthCodeFlowGoogleManaged"
        },
        "oauth2AuthCodeFlow": {
          "$ref": "Oauth2AuthCodeFlow",
          "description": "Oauth2AuthCodeFlow."
        },
        "authKey": {
          "description": "Optional. Identifier key for auth config",
          "type": "string"
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "type": "string",
          "description": "Optional. The type of authentication configured."
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "Oauth2JwtBearer"
        },
        "additionalVariables": {
          "description": "Optional. List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          }
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "UserPassword"
        }
      },
      "type": "object"
    },
    "EventingStatus": {
      "type": "object",
      "id": "EventingStatus",
      "description": "EventingStatus indicates the state of eventing.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "description": "Output only. State."
        },
        "description": {
          "description": "Output only. Description of error if State is set to \"ERROR\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "MultipleSelectOption": {
      "id": "MultipleSelectOption",
      "description": "MultiplSelecteOption represents the single option for a config variable.",
      "properties": {
        "description": {
[...]
