{
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "rootUrl": "https://connectors.googleapis.com/",
  "version": "v1",
  "schemas": {
    "Oauth2AuthCodeFlow": {
      "properties": {
        "pkceVerifier": {
          "type": "string",
          "description": "Optional. PKCE verifier to be used during the auth code exchange."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Client ID for user-provided OAuth app."
        },
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "clientSecret": {
          "$ref": "Secret",
          "description": "Optional. Client secret for user-provided OAuth app."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow."
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        },
        "authUri": {
          "type": "string",
          "description": "Optional. Auth URL for Authorization Code Flow"
        }
      },
      "id": "Oauth2AuthCodeFlow",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details."
    },
    "ResourceRequests": {
      "id": "ResourceRequests",
      "type": "object",
      "description": "Resource requests defined for connection pods of a given connector type.",
      "properties": {
        "cpu": {
          "type": "string",
          "description": "Output only. CPU request.",
          "readOnly": true
        },
        "memory": {
          "readOnly": true,
          "description": "Output only. Memory request.",
          "type": "string"
        }
      }
    },
    "NodeSloMetadata": {
      "id": "NodeSloMetadata",
      "type": "object",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "perSliEligibility": {
          "$ref": "PerSliSloEligibility",
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        }
      }
    },
    "ListProvidersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "providers": {
          "description": "A list of providers.",
          "type": "array",
          "items": {
            "$ref": "Provider"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListProvidersResponse",
      "type": "object",
      "description": "Response message for Connectors.ListProviders."
    },
    "LogicalExpression": {
      "description": "Struct for representing boolean expressions.",
      "id": "LogicalExpression",
      "type": "object",
      "properties": {
        "fieldComparisons": {
          "description": "Optional. A list of fields to be compared.",
          "type": "array",
          "items": {
            "$ref": "FieldComparison"
          }
        },
        "logicalExpressions": {
          "description": "Optional. A list of nested conditions to be compared.",
          "type": "array",
          "items": {
            "$ref": "LogicalExpression"
          }
        },
        "logicalOperator": {
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "AND operator; The conditions must all be true.",
            "OR operator; At least one of the conditions must be true."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "description": "Optional. The logical operator to use between the fields and conditions."
        }
      }
    },
    "NodeConfig": {
      "properties": {
        "minNodeCount": {
          "description": "Optional. Minimum number of nodes in the runtime nodes.",
          "format": "int32",
          "type": "integer"
        },
        "maxNodeCount": {
          "type": "integer",
          "description": "Optional. Maximum number of nodes in the runtime nodes.",
          "format": "int32"
        }
      },
      "id": "NodeConfig",
      "type": "object",
      "description": "Node configuration for the connection."
    },
    "DestinationConfigTemplate": {
      "properties": {
        "displayName": {
          "description": "Display name of the parameter.",
          "type": "string"
        },
        "regexPattern": {
          "description": "Regex pattern for host.",
          "type": "string"
        },
        "autocompleteSuggestions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Autocomplete suggestions for destination URL field."
        },
        "isAdvanced": {
          "type": "boolean",
          "description": "Whether the current destination tempalate is part of Advanced settings"
        },
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "min": {
          "description": "The minimum number of destinations supported for this key.",
          "format": "int32",
          "type": "integer"
        },
        "max": {
          "description": "The maximum number of destinations supported for this key.",
          "format": "int32",
          "type": "integer"
        },
        "portFieldType": {
          "description": "Whether port number should be provided by customers.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "REQUIRED",
            "OPTIONAL",
            "NOT_USED"
          ]
        },
        "defaultPort": {
          "description": "The default port.",
          "format": "int32",
          "type": "integer"
        },
        "key": {
          "type": "string",
          "description": "Key of the destination."
        }
      },
      "id": "DestinationConfigTemplate",
      "type": "object",
      "description": "DestinationConfigTemplate defines required destinations supported by the Connector."
    },
    "EncryptionKey": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Value type is not specified.",
            "Google Managed.",
            "Customer Managed."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "CUSTOMER_MANAGED"
          ],
          "description": "Optional. Specifies the type of the encryption key."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The [KMS key name] with which the content of the Operation is encrypted. The expected format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`. Will be empty string if google managed."
        }
      },
      "id": "EncryptionKey",
      "type": "object",
      "description": "Encryption Key value."
    },
    "StandardAction": {
      "description": "Standard action",
      "id": "StandardAction",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the standard action."
        }
      }
    },
    "FieldComparison": {
      "properties": {
        "key": {
          "description": "Optional. Key of the field.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value"
        },
        "stringValue": {
          "type": "string",
          "description": "String value"
        },
        "intValue": {
          "type": "string",
          "description": "Integer value",
          "format": "int64"
        },
        "comparator": {
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The field value must be equal to the specified value.",
            "The field value must not be equal to the specified value."
          ],
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "EQUALS",
            "NOT_EQUALS"
          ],
          "description": "Optional. Comparator to use for comparing the field value."
        }
      },
      "description": "Field that needs to be compared.",
      "id": "FieldComparison",
      "type": "object"
    },
    "FetchConnectionToolspecOverrideResponse": {
      "description": "Response message for FetchConnectionToolspecOverride API.",
      "id": "FetchConnectionToolspecOverrideResponse",
      "type": "object",
      "properties": {
        "toolspecOverride": {
          "$ref": "ToolspecOverride",
          "description": "Toolspec overrides for the connection."
        }
      }
    },
    "Source": {
      "description": "Source to extract the backend from.",
      "id": "Source",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "Type of the source.",
          "type": "string",
          "enumDescriptions": [
            "Default SOURCE.",
            "Config Variable source type.",
            "Auth Config Variable source type."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CONFIG_VARIABLE",
            "AUTH_CONFIG_VARIABLE"
          ]
        },
        "fieldId": {
          "type": "string",
          "description": "Field identifier. For example config variable name."
        }
      }
    },
    "ExtractionRules": {
      "id": "ExtractionRules",
      "type": "object",
      "description": "Extraction Rules to identity the backends from customer provided configuration in Connection resource.",
      "properties": {
        "extractionRule": {
          "type": "array",
          "items": {
            "$ref": "ExtractionRule"
          },
          "description": "Collection of Extraction Rule."
        }
      }
    },
    "AdminFilters": {
      "description": "* AdminFilters defines a set of filters that can be applied to a connection. These are currently used by Gemini Enterprise connections.",
      "id": "AdminFilters",
      "type": "object",
      "properties": {
        "stringListValues": {
          "description": "Optional. List of string values.",
          "$ref": "StringListValues"
        },
        "filterType": {
          "type": "string",
          "enumDescriptions": [
            "Filter type is not specified.",
            "Only allow items matching the configured values.",
            "Disallow items matching the configured values."
          ],
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "INCLUSION",
            "EXCLUSION"
          ],
          "description": "Required. Type of the filter."
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. A single string value."
        },
        "filterKey": {
          "type": "string",
          "description": "Required. Unique name for the filter, e.g., \"SharePointSiteURL\", \"DocumentType\", \"ChatSpaceName\"."
        },
        "intValue": {
          "type": "string",
          "description": "Optional. A single integer value.",
          "format": "int64"
        }
      }
    },
    "ListCustomConnectorsResponse": {
      "description": "Response message for Connectors.ListCustomConnectors.",
      "id": "ListCustomConnectorsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customConnectors": {
          "description": "A list of customConnectors.",
          "type": "array",
          "items": {
            "$ref": "CustomConnector"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "JsonSchema": {
      "description": "JsonSchema representation of schema metadata",
      "id": "JsonSchema",
      "type": "object",
      "properties": {
        "maxLength": {
          "description": "Maximum length of the string field.",
          "format": "int32",
          "type": "integer"
        },
        "required": {
          "description": "Whether this property is required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "A description of this schema."
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "$id": {
          "description": "The URI defining the core schema meta-schema.",
          "type": "string"
        },
        "maxItems": {
          "type": "integer",
          "description": "Maximum number of items in the array field.",
          "format": "int32"
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "exclusiveMinimum": {
          "description": "Whether the minimum number value is exclusive.",
          "type": "any"
        },
        "minLength": {
          "type": "integer",
          "description": "Minimum length of the string field.",
          "format": "int32"
        },
        "pattern": {
          "type": "string",
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match."
        },
        "dependencies": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Dependencies for the schema."
        },
        "$defs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Definitions for the schema."
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the value is read-only."
        },
        "if": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "examples": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Examples of the value."
        },
        "allOf": {
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          },
          "description": "Schema that must be valid against all of the sub-schemas."
        },
        "not": {
          "description": "Schema that must not be valid.",
          "$ref": "JsonSchema"
        },
        "contentMediaType": {
          "description": "Media type of the content.",
          "type": "string"
        },
        "additionalDetails": {
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "properties": {
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "type": {
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contains": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to at least one item in an array."
        },
        "$comment": {
          "description": "A comment on the schema.",
          "type": "string"
        },
        "minItems": {
          "description": "Minimum number of items in the array field.",
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "additionalItems": {
          "description": "Schema for additional items.",
          "$ref": "JsonSchema"
        },
        "$ref": {
          "type": "string",
          "description": "A reference to another schema."
        },
        "definitions": {
          "description": "Definitions for the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "propertyNames": {
          "$ref": "JsonSchema",
          "description": "Schema for property names."
        },
        "else": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is invalid."
        },
        "minimum": {
          "type": "any",
          "description": "Minimum value of the number field."
        },
        "contentEncoding": {
          "type": "string",
          "description": "Encoding of the content."
        },
        "maxProperties": {
          "type": "integer",
          "description": "Maximum number of properties.",
          "format": "int32"
        },
        "items": {
          "description": "Schema that applies to array values, applicable only if this is of type `array`.",
          "$ref": "JsonSchema"
        },
        "oneOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "additionalProperties": {
          "$ref": "JsonSchema",
          "description": "Schema for additional properties."
        },
        "exclusiveMaximum": {
          "type": "any",
          "description": "Whether the maximum number value is exclusive."
        },
        "enum": {
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "minProperties": {
          "type": "integer",
          "description": "Minimum number of properties.",
          "format": "int32"
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "jdbcType": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ],
          "description": "JDBC datatype of the field."
        },
        "multipleOf": {
          "type": "number",
          "description": "Number must be a multiple of this value.",
          "format": "double"
        },
        "then": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is valid."
        },
        "writeOnly": {
          "type": "boolean",
          "description": "Whether the value is write-only."
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "$schema": {
          "type": "string",
          "description": "The URI defining the schema."
        },
        "anyOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "patternProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Pattern properties for the schema."
        }
      }
    },
    "InputParameter": {
      "description": "Metadata of an input parameter.",
      "id": "InputParameter",
      "type": "object",
      "properties": {
        "description": {
          "description": "A brief description of the Parameter.",
          "type": "string"
        },
        "parameter": {
          "type": "string",
          "description": "Name of the Parameter."
        },
        "dataType": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The data type of the Parameter.",
          "enumDescriptions": [
            "Data type is not specified.",
            "DEPRECATED! Use DATA_TYPE_INTEGER.",
            "Short integer(int16) data type.",
            "Double data type.",
            "Date data type.",
            "DEPRECATED! Use DATA_TYPE_TIMESTAMP.",
            "Time data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "DEPRECATED! Use DATA_TYPE_BIGINT.",
            "Boolean data type.",
            "Decimal data type.",
            "DEPRECATED! Use DATA_TYPE_VARCHAR.",
            "UNSUPPORTED! Binary data type.",
            "Bit data type.",
            "Small integer(int8) data type.",
            "Integer(int32) data type.",
            "Long integer(int64) data type.",
            "Float data type.",
            "Real data type.",
            "Numeric data type.",
            "Char data type.",
            "Varchar data type.",
            "Longvarchar data type.",
            "Timestamp data type.",
            "Nchar data type.",
            "Nvarchar data type.",
            "Longnvarchar data type.",
            "Null data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Row id data type.",
            "UNSUPPORTED! Binary data type.",
            "UNSUPPORTED! Variable binary data type.",
            "UNSUPPORTED! Long variable binary data type.",
            "UNSUPPORTED! NCLOB data type.",
            "UNSUPPORTED! SQL XML data type is not supported.",
            "UNSUPPORTED! Cursor reference type is not supported.",
            "UNSUPPORTED! Use TIME or TIMESTAMP instead.",
            "UNSUPPORTED! Use TIMESTAMP instead."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_INT",
            "DATA_TYPE_SMALLINT",
            "DATA_TYPE_DOUBLE",
            "DATA_TYPE_DATE",
            "DATA_TYPE_DATETIME",
            "DATA_TYPE_TIME",
            "DATA_TYPE_STRING",
            "DATA_TYPE_LONG",
            "DATA_TYPE_BOOLEAN",
            "DATA_TYPE_DECIMAL",
            "DATA_TYPE_UUID",
            "DATA_TYPE_BLOB",
            "DATA_TYPE_BIT",
            "DATA_TYPE_TINYINT",
            "DATA_TYPE_INTEGER",
            "DATA_TYPE_BIGINT",
            "DATA_TYPE_FLOAT",
            "DATA_TYPE_REAL",
            "DATA_TYPE_NUMERIC",
            "DATA_TYPE_CHAR",
            "DATA_TYPE_VARCHAR",
            "DATA_TYPE_LONGVARCHAR",
            "DATA_TYPE_TIMESTAMP",
            "DATA_TYPE_NCHAR",
            "DATA_TYPE_NVARCHAR",
            "DATA_TYPE_LONGNVARCHAR",
            "DATA_TYPE_NULL",
            "DATA_TYPE_OTHER",
            "DATA_TYPE_JAVA_OBJECT",
            "DATA_TYPE_DISTINCT",
            "DATA_TYPE_STRUCT",
            "DATA_TYPE_ARRAY",
            "DATA_TYPE_CLOB",
            "DATA_TYPE_REF",
            "DATA_TYPE_DATALINK",
            "DATA_TYPE_ROWID",
            "DATA_TYPE_BINARY",
            "DATA_TYPE_VARBINARY",
            "DATA_TYPE_LONGVARBINARY",
            "DATA_TYPE_NCLOB",
            "DATA_TYPE_SQLXML",
            "DATA_TYPE_REF_CURSOR",
            "DATA_TYPE_TIME_WITH_TIMEZONE",
            "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this action's parameter",
          "$ref": "JsonSchema"
        },
        "nullable": {
          "type": "boolean",
          "description": "Specifies whether a null value is allowed."
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        }
      }
    },
    "ConnectorInfraConfig": {
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "id": "ConnectorInfraConfig",
      "type": "object",
      "properties": {
        "sharedDeployment": {
          "description": "The name of shared connector deployment.",
          "type": "string"
        },
        "ratelimitThreshold": {
          "description": "Max QPS supported by the connector version before throttling of requests.",
          "format": "int64",
          "type": "string"
        },
        "connectionRatelimitWindowSeconds": {
          "description": "The window used for ratelimiting runtime requests to connections.",
          "format": "int64",
          "type": "string"
        },
        "migrateDeploymentModel": {
          "description": "Indicate whether connector is being migrated to cloud run deployment model.",
          "type": "boolean"
        },
        "connectionServiceAccountEnabled": {
          "type": "boolean",
          "description": "Indicate whether connection service account is enabled. If false, the common runtime service agent is used."
        },
        "resourceRequests": {
          "description": "System resource requests.",
          "$ref": "ResourceRequests"
        },
        "provisionCloudSpanner": {
          "type": "boolean",
          "description": "Indicate whether cloud spanner is required for connector job."
        },
        "publicNetworkIngressEnabled": {
          "description": "Indicate whether public network ingress should be enabled.",
          "type": "boolean"
        },
        "maxInstanceRequestConcurrency": {
          "description": "Max Instance Request Conncurrency for Cloud Run service.",
          "format": "int32",
          "type": "integer"
        },
        "provisionMemstore": {
          "type": "boolean",
          "description": "Indicate whether memstore is required for connector job."
        },
        "internalclientRatelimitThreshold": {
          "description": "Max QPS supported for internal requests originating from Connd.",
          "format": "int64",
          "type": "string"
        },
        "resourceLimits": {
          "description": "System resource limits.",
          "$ref": "ResourceLimits"
        },
        "networkEgressModeOverride": {
          "description": "Network egress mode override to migrate to direct VPC egress.",
          "$ref": "NetworkEgressModeOverride"
        },
        "migrateTls": {
          "description": "Indicate whether connector is being migrated to TLS.",
          "type": "boolean"
        },
        "hpaConfig": {
          "$ref": "HPAConfig",
          "description": "HPA autoscaling config."
        },
        "deploymentModel": {
          "description": "Indicate whether connector is deployed on GKE/CloudRun",
          "type": "string",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ]
        },
        "alwaysAllocateCpu": {
          "type": "boolean",
          "description": "Indicates that the Cloud Run CPU should always be allocated."
        },
        "connectorVersioningEnabled": {
          "type": "boolean",
          "description": "Indicate whether connector versioning is enabled."
        }
      }
    },
    "EndpointAttachment": {
      "id": "EndpointAttachment",
      "type": "object",
      "description": "represents the Connector's Endpoint Attachment resource",
      "properties": {
        "serviceAttachment": {
          "description": "Required. The path of the service attachment",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the Endpoint Attachment. Format: projects/{project}/locations/{location}/endpointAttachments/{endpoint_attachment}",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "STATE_UNSPECIFIED.",
            "The endpoint is pending acceptance by the producer.",
            "The endpoint has been accepted by the producer.",
            "The endpoint has been rejected by the producer.",
            "The endpoint has been closed by the producer and will not serve traffic going forward.",
            "The endpoint has been frozen by the producer and will not serve traffic.",
            "The endpoint has been accepted by the producer, but it is not ready to serve the traffic due to producer side issues.",
            "The endpoint has been accepted by the producer, but it cannot be programmed to the data plane due to invariant violation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_NOT_PROGRAMMED"
          ],
          "description": "Output only. The Private Service Connect Connection Endpoint State. This value is only available in the Full view.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endpointGlobalAccess": {
          "type": "boolean",
          "description": "Optional. The Private Service Connect Connection Endpoint Global Access. https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#global-access"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "endpointIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Private Service Connect connection endpoint ip"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "FetchAuthSchemaResponse": {
      "description": "Response message for Connectors.GetAuthSchema.",
      "id": "FetchAuthSchemaResponse",
      "type": "object",
      "properties": {
        "authSchemas": {
          "description": "List of AuthSchemas.",
          "type": "array",
          "items": {
            "$ref": "AuthSchema"
          }
        },
        "jsonSchema": {
          "$ref": "JsonAuthSchema",
          "description": "JSON schema of the AuthSchemas. This is only populated if the view is JSON_SCHEMA. The schema is in draft-07 format."
        }
      }
    },
    "ListManagedZonesResponse": {
      "id": "ListManagedZonesResponse",
      "type": "object",
      "description": "Response message for ConnectorsService.ListManagedZones",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "managedZones": {
          "type": "array",
          "items": {
            "$ref": "ManagedZone"
          },
          "description": "ManagedZones."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "SloMetadata": {
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "id": "SloMetadata",
      "type": "object",
      "properties": {
        "tier": {
          "type": "string",
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
        },
        "perSliEligibility": {
          "$ref": "PerSliSloEligibility",
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
        },
        "nodes": {
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "type": "array",
          "items": {
            "$ref": "NodeSloMetadata"
          }
        }
      }
    },
    "EgressControlConfig": {
      "properties": {
        "launchEnvironment": {
          "type": "string",
          "enumDescriptions": [
            "Default value. If not specified, the launch environment will default to AUTOPUSH.",
            "Autopush environment.",
            "Staging environment.",
            "Prod environment."
          ],
          "enum": [
            "LAUNCH_ENVIRONMENT_UNSPECIFIED",
            "AUTOPUSH",
            "STAGING",
            "PROD"
          ],
          "description": "Launch environment for egress control."
        },
        "backends": {
          "type": "string",
          "description": "Static Comma separated backends which are common for all Connection resources. Supported formats for each backend are host:port or just host (host can be ip address or domain name)."
        },
        "allowlistedProjectNumbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Used when access_mode is RESTRICTED or ACCESS_MODE_UNSPECIFIED."
        },
        "additionalExtractionRules": {
          "$ref": "ExtractionRules",
          "description": "Additional extraction rules to identity the backends from customer provided configuration in Connection resource. These rules are applied in addition to the ones specified in `oneof_backends`."
        },
        "extractionRules": {
          "deprecated": true,
          "$ref": "ExtractionRules",
          "description": "Extractions Rules to extract the backends from customer provided configuration."
        },
        "accessMode": {
          "description": "Optional. Access mode for egress control.",
          "type": "string",
          "enumDescriptions": [
            "The default value. Per best practices (go/protodosdonts#unspecified-enum), the first value should be UNSPECIFIED and have a tag of 0. Application logic should treat this the same as RESTRICTED.",
            "Enforce the allowlist. Only projects in 'allowlisted_project_numbers' are permitted.",
            "Allow all projects. 'allowlisted_project_numbers' is ignored."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "RESTRICTED",
            "ALLOW_ALL"
          ]
        }
      },
      "id": "EgressControlConfig",
      "type": "object",
      "description": "Egress control config for connector runtime. These configurations define the rules to identify which outbound domains/hosts needs to be whitelisted. It may be a static information for a particular connector version or it is derived from the configurations provided by the customer in Connection resource."
    },
    "EndUserAuthentication": {
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Labels for the EndUserAuthentication."
        },
        "endUserAuthenticationConfig": {
          "$ref": "EndUserAuthenticationConfig",
          "description": "Optional. The EndUserAuthenticationConfig for the EndUserAuthentication."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EndUserAuthentication. Format: projects/{project}/locations/{location}/connections/{connection}/endUserAuthentications/{end_user_authentication}",
          "type": "string"
        },
        "configVariables": {
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          },
          "description": "Optional. Config variables for the EndUserAuthentication."
        },
        "notifyEndpointDestination": {
          "description": "Optional. The destination to hit when we receive an event",
          "$ref": "EndUserAuthenticationNotifyEndpointDestination"
        },
        "destinationConfigs": {
          "description": "Optional. Destination configs for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "$ref": "DestinationConfig"
          }
        },
        "userId": {
          "type": "string",
          "description": "Optional. The user id of the user."
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "$ref": "EndUserAuthenticationEndUserAuthenticationStatus",
          "description": "Optional. Status of the EndUserAuthentication."
        },
        "roles": {
          "description": "Optional. Roles for the EndUserAuthentication.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default state.",
              "READER.",
              "READER_DOMAIN_WIDE_ACCESSIBLE which has access to only public data."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "READER",
              "READER_DOMAIN_WIDE_ACCESSIBLE"
            ]
          }
        }
      },
      "description": "AuthConfig defines details of a authentication type.",
      "id": "EndUserAuthentication",
      "type": "object"
    },
    "EUASecret": {
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "Optional. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        },
        "secretValue": {
          "description": "Optional. The plain string value of the secret.",
          "type": "string"
        }
      },
      "id": "EUASecret",
      "type": "object",
      "description": "EUASecret provides a reference to entries in Secret Manager."
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "DeadLetterConfig": {
      "description": "Dead Letter configuration details provided by the user.",
      "id": "DeadLetterConfig",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Optional. Topic to push events which couldn't be processed."
        },
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        }
      }
    },
    "ModifyConnectionToolspecOverrideResponse": {
      "properties": {
        "toolspecOverrides": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      },
      "id": "ModifyConnectionToolspecOverrideResponse",
      "type": "object",
      "description": "Response message for ModifyConnectionToolspecOverride API."
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged": {
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication using Google Provided OAuth Client. See https://tools.ietf.org/html/rfc6749#section-1.3.1 for more details.",
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged",
      "type": "object",
      "properties": {
        "authCode": {
          "type": "string",
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens."
        },
        "redirectUri": {
          "description": "Optional. Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "oauthTokenData": {
          "$ref": "OAuthTokenData",
          "description": "Auth Code Data"
        },
        "scopes": {
          "description": "Required. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MultipleSelectConfig": {
      "properties": {
        "allowCustomValues": {
          "type": "boolean",
          "description": "Optional. Allow custom values."
        },
        "valueSeparator": {
          "description": "Required. Value separator. Only \",\" can be used for OAuth auth code flow scope field.",
          "type": "string"
        },
        "multipleSelectOptions": {
          "description": "Required. Multiple select options.",
          "type": "array",
          "items": {
            "$ref": "MultipleSelectOption"
          }
        }
      },
      "id": "MultipleSelectConfig",
      "type": "object",
      "description": "MultipleSelectConfig represents the multiple options for a config variable."
    },
    "ResourceLimits": {
      "description": "Resource limits defined for connection pods of a given connector type.",
      "id": "ResourceLimits",
      "type": "object",
      "properties": {
        "cpu": {
          "readOnly": true,
          "description": "Output only. CPU limit.",
          "type": "string"
        },
        "memory": {
          "type": "string",
          "description": "Output only. Memory limit.",
          "readOnly": true
        }
      }
    },
    "EndPoint": {
      "description": "Endpoint message includes details of the Destination endpoint.",
      "id": "EndPoint",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Optional. List of Header to be added to the Endpoint.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "endpointUri": {
          "description": "Optional. The URI of the Endpoint.",
          "type": "string"
        }
      }
    },
    "UserPassword": {
      "id": "UserPassword",
      "type": "object",
      "description": "Parameters to support Username and Password Authentication.",
      "properties": {
        "password": {
          "description": "Optional. Secret version reference containing the password.",
          "$ref": "Secret"
        },
        "username": {
          "description": "Optional. Username.",
          "type": "string"
        }
      }
    },
    "RemoveConnectionToolspecOverrideRequest": {
      "description": "Request message for RemoveConnectionToolspecOverride API.",
      "id": "RemoveConnectionToolspecOverrideRequest",
      "type": "object",
      "properties": {}
    },
    "UpdatePolicy": {
      "description": "Maintenance policy applicable to instance updates.",
      "id": "UpdatePolicy",
      "type": "object",
      "properties": {
        "channel": {
          "description": "Optional. Relative scheduling channel applied to resource.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "denyMaintenancePeriods": {
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        }
      }
    },
    "EndUserAuthenticationConfigOauth2AuthCodeFlow": {
      "id": "EndUserAuthenticationConfigOauth2AuthCodeFlow",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "pkceVerifier": {
          "description": "Optional. PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for user-provided OAuth app.",
          "$ref": "EUASecret"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Client ID for user-provided OAuth app."
        },
        "authCode": {
          "description": "Optional. Authorization code to be exchanged for access and refresh tokens.",
          "type": "string"
        },
        "redirectUri": {
          "type": "string",
          "description": "Optional. Redirect URI to be provided during the auth code exchange."
        },
        "scopes": {
          "description": "Optional. Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "authUri": {
          "description": "Optional. Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        },
        "oauthTokenData": {
          "$ref": "OAuthTokenData",
          "description": "Optional. Auth Code Data"
        }
      }
    },
    "OAuthTokenData": {
      "id": "OAuthTokenData",
      "type": "object",
      "description": "pass only at create and not update using updateMask Auth Code Data",
      "properties": {
        "refreshToken": {
          "$ref": "EUASecret",
          "description": "Optional. Refresh token for the connection."
        },
        "expiry": {
          "type": "string",
          "description": "Optional. Time in seconds when the access token expires.",
          "format": "google-duration"
        },
        "accessToken": {
          "description": "Optional. Access token for the connection.",
          "$ref": "EUASecret"
        },
        "createTime": {
          "description": "Optional. Timestamp when the access token was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "EnrichmentConfig": {
      "properties": {
        "appendAcl": {
          "description": "Optional. Append ACL to the event.",
          "type": "boolean"
        }
      },
      "description": "Data enrichment configuration.",
      "id": "EnrichmentConfig",
      "type": "object"
    },
    "EventingRuntimeData": {
      "id": "EventingRuntimeData",
      "type": "object",
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "properties": {
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "type": "string",
          "readOnly": true
        },
        "webhookSubscriptions": {
          "readOnly": true,
          "$ref": "WebhookSubscriptions",
          "description": "Output only. Webhook subscriptions."
        },
        "status": {
          "readOnly": true,
          "$ref": "EventingStatus",
          "description": "Output only. Current status of eventing."
        },
        "eventsListenerEndpoint": {
          "readOnly": true,
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "type": "string"
        },
        "webhookData": {
          "readOnly": true,
          "$ref": "WebhookData",
          "description": "Output only. Webhook data."
        }
      }
    },
    "RepairEventingRequest": {
      "properties": {},
      "id": "RepairEventingRequest",
      "type": "object",
      "description": "Request message for ConnectorsService.RepairEventing"
    },
    "AuthSchema": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "authType": {
          "description": "Auth type of the schema.",
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ]
        },
        "authFields": {
          "type": "array",
          "items": {
            "$ref": "AuthField"
          },
          "description": "List of AuthFields."
        },
        "displayName": {
          "description": "Display name of the schema.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether the auth schema is the default one.",
          "type": "boolean"
        },
        "authKey": {
          "description": "Auth key of the schema.",
          "type": "string"
        }
      },
      "description": "AuthSchema defines the schema of an authentication type.",
      "id": "AuthSchema",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ProvisionedResource": {
      "properties": {
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        },
        "resourceUrl": {
          "type": "string",
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
        }
      },
      "description": "Describes provisioned dataplane resources.",
      "id": "ProvisionedResource",
      "type": "object"
    },
    "ListCustomConnectorVersionsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "customConnectorVersions": {
          "type": "array",
          "items": {
            "$ref": "CustomConnectorVersion"
          },
          "description": "A list of connector versions."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "ListCustomConnectorVersionsResponse",
      "type": "object",
      "description": "Response message for Connectors.ListCustomConnectorVersions."
    },
    "SshPublicKey": {
      "id": "SshPublicKey",
      "type": "object",
      "description": "Parameters to support Ssh public key Authentication.",
      "properties": {
        "username": {
          "description": "Optional. The user account used to authenticate.",
          "type": "string"
        },
        "sshClientCertPass": {
          "$ref": "Secret",
          "description": "Optional. Password (passphrase) for ssh client certificate if it has one."
        },
        "sshClientCert": {
          "$ref": "Secret",
          "description": "Optional. SSH Client Cert. It should contain both public and private key."
        },
        "certType": {
          "type": "string",
          "description": "Optional. Format of SSH Client cert."
        }
      }
    },
    "WebhookSubscriptions": {
      "properties": {
        "webhookData": {
          "description": "Output only. Webhook data.",
          "type": "array",
          "items": {
            "$ref": "WebhookData"
          },
          "readOnly": true
        }
      },
      "id": "WebhookSubscriptions",
      "type": "object",
      "description": "WebhookSubscriptions has details of webhook subscriptions."
    },
    "Schedule": {
      "properties": {
        "day": {
          "description": "Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Configure the schedule.",
      "id": "Schedule",
      "type": "object"
    },
    "SslConfig": {
      "properties": {
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Optional. Additional SSL related field values"
        },
        "type": {
          "description": "Optional. Controls the ssl type for the given connector version.",
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "clientCertType": {
          "description": "Optional. Type of Client Cert (PEM/JKS/.. etc.)",
          "type": "string",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ]
        },
        "useSsl": {
          "type": "boolean",
          "description": "Optional. Bool for enabling SSL"
        },
        "clientCertificate": {
          "$ref": "Secret",
          "description": "Optional. Client Certificate"
        },
        "clientPrivateKey": {
          "description": "Optional. Client Private Key",
          "$ref": "Secret"
        },
        "privateServerCertificate": {
          "$ref": "Secret",
          "description": "Optional. Private Server Certificate. Needs to be specified if trust model is `PRIVATE`."
        },
        "trustModel": {
          "type": "string",
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ],
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "description": "Optional. Trust Model of the SSL connection"
        },
        "serverCertType": {
          "description": "Optional. Type of Server Cert (PEM/JKS/.. etc.)",
          "type": "string",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ]
        },
        "clientPrivateKeyPass": {
          "description": "Optional. Secret containing the passphrase protecting the Client Private Key",
          "$ref": "Secret"
        }
      },
      "id": "SslConfig",
      "type": "object",
      "description": "SSL Configuration of a connection"
    },
    "PerSliSloEligibility": {
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "id": "PerSliSloEligibility",
      "type": "object",
      "properties": {
        "eligibilities": {
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SloEligibility"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "EndUserAuthenticationConfig": {
      "properties": {
        "authType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication",
            "Oauth 2.0 Authorization Code Flow with Google Provided OAuth Client"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION",
            "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          ],
          "description": "The type of authentication configured."
        },
        "oauth2ClientCredentials": {
          "$ref": "EndUserAuthenticationConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlow"
        },
        "additionalVariables": {
          "description": "Optional. List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "EndUserAuthenticationConfigVariable"
          }
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "EndUserAuthenticationConfigSshPublicKey"
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearer"
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "description": "Oauth2AuthCodeFlowGoogleManaged.",
          "$ref": "EndUserAuthenticationConfigOauth2AuthCodeFlowGoogleManaged"
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "EndUserAuthenticationConfigUserPassword"
        },
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        }
      },
      "id": "EndUserAuthenticationConfig",
      "type": "object",
      "description": "EndUserAuthenticationConfig defines details of a authentication configuration for EUC"
    },
    "ExtractionRule": {
      "id": "ExtractionRule",
      "type": "object",
      "description": "Extraction Rule.",
      "properties": {
        "source": {
          "description": "Source on which the rule is applied.",
          "$ref": "Source"
        },
        "formatString": {
          "description": "Format string used to format the extracted backend details. If empty, extracted backend details will be returned as it is.",
          "type": "string"
        },
        "extractionRegex": {
          "description": "Regex used to extract backend details from source. If empty, whole source value will be used.",
          "type": "string"
        }
      }
    },
    "NetworkConfig": {
      "properties": {
        "egressMode": {
          "description": "Optional. Egress mode for the network.",
          "type": "string",
          "enumDescriptions": [
            "Egress mode unspecified.",
            "Network egress through auto assigned IPs.",
            "Network egress through static IPs."
          ],
          "enum": [
            "NETWORK_EGRESS_MODE_UNSPECIFIED",
            "AUTO_IP",
            "STATIC_IP"
          ]
        },
        "egressIps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Egress IPs"
        }
      },
      "id": "NetworkConfig",
      "type": "object",
      "description": "Regional Network Config."
    },
    "MaintenancePolicy": {
      "description": "Defines policies to service maintenance events.",
      "id": "MaintenancePolicy",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "description": "Optional. The state of the policy."
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "updatePolicy": {
          "$ref": "UpdatePolicy",
          "description": "Maintenance policy applicable to instance update."
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        }
      }
    },
    "ConnectionSchemaMetadata": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
          "type": "string"
        },
        "entities": {
          "description": "Output only. List of entity names.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "refreshTime": {
          "description": "Output only. Timestamp when the connection runtime schema refresh was triggered.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Schema refresh is in progress.",
            "Schema has been updated.",
            "Schema refresh for metadata is in progress.",
            "Schema metadata has been updated.",
            "Failed to refresh schema metadata",
            "Triggered full schema refresh",
            "Updated full schema"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REFRESHING",
            "UPDATED",
            "REFRESHING_SCHEMA_METADATA",
            "UPDATED_SCHEMA_METADATA",
            "REFRESH_SCHEMA_METADATA_FAILED",
            "REFRESHING_FULL_SCHEMA",
            "UPDATED_FULL_SCHEMA"
          ],
          "description": "Output only. The current state of runtime schema."
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message for users."
        },
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of actions.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the connection runtime schema was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ConnectionSchemaMetadata",
      "type": "object",
      "description": "ConnectionSchemaMetadata is the singleton resource of each connection. It includes the entity and action names of runtime resources exposed by a connection backend."
    },
    "GenerateConnectionToolspecOverrideResponse": {
      "description": "Response message for GenerateConnectionToolspecOverride API.",
      "id": "GenerateConnectionToolspecOverrideResponse",
      "type": "object",
      "properties": {
        "toolspecOverride": {
          "description": "Toolspec overrides for the connection.",
          "$ref": "ToolspecOverride"
        }
      }
    },
    "ListRuntimeActionSchemasResponse": {
      "properties": {
        "runtimeActionSchemas": {
          "description": "Runtime action schemas.",
          "type": "array",
          "items": {
            "$ref": "RuntimeActionSchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Response message for ConnectorsService.ListRuntimeActionSchemas.",
      "id": "ListRuntimeActionSchemasResponse",
      "type": "object"
    },
    "EnumOption": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the option."
        },
        "id": {
          "type": "string",
          "description": "Optional. Id of the option."
        }
      },
      "description": "EnumOption definition",
      "id": "EnumOption",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "TrafficShapingConfig": {
      "id": "TrafficShapingConfig",
      "type": "object",
      "description": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on.",
      "properties": {
        "duration": {
          "type": "string",
          "description": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds.",
          "format": "google-duration"
        },
        "quotaLimit": {
          "type": "string",
          "description": "Required. Maximum number of api calls allowed.",
          "format": "int64"
        }
      }
    },
    "Oauth2JwtBearer": {
      "properties": {
        "clientKey": {
          "description": "Optional. Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`.",
          "$ref": "Secret"
        },
        "jwtClaims": {
          "$ref": "JwtClaims",
          "description": "Optional. JwtClaims providers fields to generate the token."
        }
      },
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "id": "Oauth2JwtBearer",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "description": "Response message for ConnectorsService.ListConnections",
      "id": "ListConnectionsResponse",
      "type": "object",
      "properties": {
        "connections": {
          "description": "Connections.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SloEligibility": {
      "id": "SloEligibility",
      "type": "object",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "properties": {
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        },
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        }
      }
    },
    "EndUserAuthenticationConfigOauth2JwtBearer": {
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "id": "EndUserAuthenticationConfigOauth2JwtBearer",
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "Required. secret version/value reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/strings/*/versions/*`.",
          "$ref": "EUASecret"
        },
        "jwtClaims": {
          "$ref": "EndUserAuthenticationConfigOauth2JwtBearerJwtClaims",
          "description": "JwtClaims providers fields to generate the token."
        }
      }
    },
    "PartnerMetadata": {
      "id": "PartnerMetadata",
      "type": "object",
      "description": "Partner metadata details. This will be populated when publishing the custom connector as a partner connector version. On publishing, parntner connector version will be created using the fields in PartnerMetadata.",
      "properties": {
        "hasDynamicSpecUri": {
          "readOnly": true,
          "description": "Output only. Has dynamic open api spec uri.",
          "type": "boolean"
        },
        "localSpecPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Local spec path. Required if has_dynamic_spec_uri is true."
        },
        "partner": {
          "description": "Required. Partner name.",
          "type": "string"
        },
        "publishRequestTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Publish request time.",
          "format": "google-datetime"
        },
        "marketplaceProduct": {
          "description": "Optional. Marketplace product name.",
          "type": "string"
        },
        "marketplaceProductProjectId": {
          "type": "string",
          "description": "Optional. Marketplace product project ID."
        },
        "targetApplication": {
          "description": "Required. Target application for which partner connector is built.",
          "type": "string"
        },
        "confirmPartnerRequirements": {
          "description": "Required. Confirmation that connector meets all applicable requirements mentioned in the Partner Connector Publishing requirements list and Partner onboardiong requirements list (https://cloud.google.com/marketplace/docs/partners/get-started#requirements).",
          "type": "boolean"
        },
        "marketplaceProductId": {
          "description": "Required. Marketplace product ID.",
          "type": "string"
        },
        "integrationTemplates": {
          "type": "string",
          "description": "Required. Integration example templates for the custom connector."
        },
        "demoUri": {
          "description": "Required. Public URL for the demo video.",
          "type": "string"
        },
        "partnerConnectorDisplayName": {
          "type": "string",
          "description": "Required. Partner connector display name."
        },
        "useCases": {
          "type": "string",
          "description": "Required. Details about partner connector use cases."
        },
        "acceptGcpTos": {
          "type": "boolean",
          "description": "Required. Whether the user has accepted the Google Cloud Platform Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Marketplace Terms of Service (https://cloud.google.com/terms/marketplace/launcher?hl=en)."
        },
        "targetCustomerSegment": {
          "type": "string",
          "description": "Required. Target customer segment for the partner connector."
        },
        "additionalComments": {
          "type": "string",
          "description": "Optional. Additional comments for the submission."
        },
        "marketplaceProductUri": {
          "description": "Optional. Marketplace product URL.",
          "type": "string"
        }
      }
    },
    "ListenEventResponse": {
      "properties": {},
      "id": "ListenEventResponse",
      "type": "object",
      "description": "Expected response for ListenEvent API."
    },
    "EventSubscription": {
      "properties": {
        "jms": {
          "$ref": "JMS",
          "description": "Optional. JMS is the source for the event listener."
        },
        "name": {
          "description": "Required. Identifier. Resource name of the EventSubscription. Format: projects/{project}/locations/{location}/connections/{connection}/eventSubscriptions/{event_subscription}",
          "type": "string"
        },
        "triggerConfigVariables": {
          "type": "array",
          "items": {
            "$ref": "ConfigVariable"
          },
          "description": "Optional. Configuration for configuring the trigger"
        },
        "createTime": {
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "eventTypeId": {
          "description": "Optional. Event type id of the event of current EventSubscription.",
          "type": "string"
        },
        "subscriber": {
          "description": "Optional. name of the Subscriber for the current EventSubscription.",
          "type": "string"
        },
        "subscriberLink": {
          "type": "string",
          "description": "Optional. Link for Subscriber of the current EventSubscription."
        },
        "filter": {
          "description": "Optional. Filter for the event subscription. Incoming events are filtered based on the filter expression.",
          "type": "string"
        },
        "destinations": {
          "$ref": "EventSubscriptionDestination",
          "description": "Optional. The destination to hit when we receive an event"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Updated time.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Optional. Status indicates the status of the event subscription resource",
          "$ref": "EventSubscriptionStatus"
        }
      },
      "id": "EventSubscription",
      "type": "object",
      "description": "represents the Connector's EventSubscription resource"
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "type": "object",
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "properties": {
        "time": {
          "$ref": "TimeOfDay",
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start."
        }
      }
    },
    "EventSubscriptionDestination": {
      "properties": {
        "type": {
          "description": "Optional. type of the destination",
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "Endpoint - Hit the value of endpoint when event is received",
            "Cloud Storage - Write the event to Cloud Storage bucket",
            "Pub/Sub - Write the event to Pub/Sub topic"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENDPOINT",
            "GCS",
            "PUBSUB"
          ]
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to trigger IP workflow.",
          "type": "string"
        },
        "pubsub": {
          "$ref": "PubSub",
          "description": "OPTION 3: Write the event to Pub/Sub topic."
        },
        "endpoint": {
          "$ref": "EndPoint",
          "description": "OPTION 1: Hit an endpoint when we receive an event."
        }
      },
      "description": "Message for EventSubscription Destination to act on receiving an event",
      "id": "EventSubscriptionDestination",
      "type": "object"
    },
    "ListEndpointAttachmentsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "endpointAttachments": {
          "description": "EndpointAttachments.",
          "type": "array",
          "items": {
            "$ref": "EndpointAttachment"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "description": "Response message for ConnectorsService.ListEndpointAttachments",
      "id": "ListEndpointAttachmentsResponse",
      "type": "object"
    },
    "WeeklyCycle": {
      "properties": {
        "schedule": {
          "type": "array",
          "items": {
            "$ref": "Schedule"
          },
          "description": "User can specify multiple windows in a week. Minimum of 1 window."
        }
      },
      "id": "WeeklyCycle",
      "type": "object",
      "description": "Time window specified for weekly operations."
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
[...]
