{
  "version": "v2",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "connectors",
  "revision": "20260427",
  "fullyEncodeReservedExpansion": true,
  "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "methods": {
                "checkReadiness": {
                  "path": "v2/{+name}:checkReadiness",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkReadiness",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Reports readiness status of the connector. Similar logic to GetStatus but modified for kubernetes health check to understand.",
                  "response": {
                    "$ref": "CheckReadinessResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "connectors.projects.locations.connections.checkReadiness"
                },
                "listCustomToolNames": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists custom tool names.",
                  "response": {
                    "$ref": "ListCustomToolNamesResponse"
                  },
                  "id": "connectors.projects.locations.connections.listCustomToolNames",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:listCustomToolNames",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:listCustomToolNames",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "refreshAccessToken": {
                  "path": "v2/{+name}:refreshAccessToken",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:refreshAccessToken",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "connectors.projects.locations.connections.refreshAccessToken",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RefreshAccessTokenRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "RefreshAccessToken exchanges the OAuth refresh token (and other necessary data) for a new access token (and new associated credentials).",
                  "response": {
                    "$ref": "RefreshAccessTokenResponse"
                  }
                },
                "generateConnectionToolspecOverride": {
                  "response": {
                    "$ref": "GenerateCustomToolspecResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Generate toolspec override for the given list of toolNames.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GenerateCustomToolspecRequest"
                  },
                  "id": "connectors.projects.locations.connections.generateConnectionToolspecOverride",
                  "path": "v2/{+name}:generateConnectionToolspecOverride",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:generateConnectionToolspecOverride",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "executeSqlQuery": {
                  "path": "v2/{+connection}:executeSqlQuery",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:executeSqlQuery",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "connection"
                  ],
                  "id": "connectors.projects.locations.connections.executeSqlQuery",
                  "parameters": {
                    "connection": {
                      "location": "path",
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ExecuteSqlQueryRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Executes a SQL statement specified in the body of the request. An example of this SQL statement in the case of Salesforce connector would be 'select * from Account a, Order o where a.Id = o.AccountId'.",
                  "response": {
                    "$ref": "ExecuteSqlQueryResponse"
                  }
                },
                "tools": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all available tools with POST.",
                  "response": {
                    "$ref": "ListToolsResponse"
                  },
                  "id": "connectors.projects.locations.connections.tools",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ListToolsPostRequest"
                  },
                  "path": "v2/{+parent}/tools",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "exchangeAuthCode": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ExchangeAuthCodeRequest"
                  },
                  "id": "connectors.projects.locations.connections.exchangeAuthCode",
                  "response": {
                    "$ref": "ExchangeAuthCodeResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "ExchangeAuthCode exchanges the OAuth authorization code (and other necessary data) for an access token (and associated credentials).",
                  "path": "v2/{+name}:exchangeAuthCode",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:exchangeAuthCode",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "checkStatus": {
                  "id": "connectors.projects.locations.connections.checkStatus",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    },
                    "executionConfig.headers": {
                      "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Reports the status of the connection. Note that when the connection is in a state that is not ACTIVE, the implementation of this RPC method must return a Status with the corresponding State instead of returning a gRPC status code that is not \"OK\", which indicates that ConnectionStatus itself, not the connection, failed.",
                  "response": {
                    "$ref": "CheckStatusResponse"
                  },
                  "path": "v2/{+name}:checkStatus",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:checkStatus",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "actions": {
                  "methods": {
                    "list": {
                      "path": "v2/{+parent}/actions",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. Parent resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token, return from a previous ListActions call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of actions.",
                          "type": "string"
                        },
                        "view": {
                          "enum": [
                            "ACTION_VIEW_UNSPECIFIED",
                            "ACTION_VIEW_BASIC",
                            "ACTION_VIEW_FULL"
                          ],
                          "description": "Specifies which fields of the Action are returned in the response.",
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value Defaults to FULL View.",
                            "Return only action names.",
                            "Return actions with schema."
                          ]
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Number of Actions to return. Defaults to 25.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "id": "connectors.projects.locations.connections.actions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the schema of all the actions supported by the connector.",
                      "response": {
                        "$ref": "ListActionsResponse"
                      }
                    },
                    "get": {
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "connectors.projects.locations.connections.actions.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "view": {
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic action schema.",
                            "Return enriched action schema."
                          ],
                          "location": "query",
                          "description": "Specified view of the action schema.",
                          "type": "string",
                          "enum": [
                            "ACTION_SCHEMA_VIEW_UNSPECIFIED",
                            "ACTION_SCHEMA_VIEW_BASIC",
                            "ACTION_SCHEMA_VIEW_ENRICHED"
                          ]
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the schema of the given action.",
                      "response": {
                        "$ref": "Action"
                      }
                    },
                    "execute": {
                      "path": "v2/{+name}:execute",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/actions/{actionsId}:execute",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/actions/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "ExecuteActionRequest"
                      },
                      "id": "connectors.projects.locations.connections.actions.execute",
                      "response": {
                        "$ref": "ExecuteActionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Executes an action with the name specified in the request. The input parameters for executing the action are passed through the body of the ExecuteAction request."
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all available tools.",
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "description": "Page size.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string"
                        }
                      },
                      "id": "connectors.projects.locations.connections.tools.list",
                      "path": "v2/{+parent}/tools",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "execute": {
                      "path": "v2/{+name}:execute",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/tools/{toolsId}:execute",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ExecuteToolResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Executes a specific tool.",
                      "id": "connectors.projects.locations.connections.tools.execute",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Resource name of the Tool. Format: projects/{project}/locations/{location}/connections/{connection}/tools/{tool}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/tools/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "ExecuteToolRequest"
                      }
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "get": {
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{entityType}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to BASIC View.",
                            "Return basic entity type schema.",
                            "Return enriched entity types schema."
                          ],
                          "enum": [
                            "ENTITY_TYPE_SCHEMA_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_SCHEMA_VIEW_BASIC",
                            "ENTITY_TYPE_SCHEMA_VIEW_ENRICHED"
                          ],
                          "description": "Specifies view for entity type schema.",
                          "type": "string"
                        },
                        "contextMetadata": {
                          "description": "Context metadata for request could be used to fetch customization of entity type schema.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionConfig.headers": {
                          "location": "query",
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string"
                        }
                      },
                      "id": "connectors.projects.locations.connections.entityTypes.get",
                      "response": {
                        "$ref": "EntityType"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets metadata of given entity type"
                    },
                    "list": {
                      "path": "v2/{+parent}/entityTypes",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Page token, return from a previous ListEntityTypes call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of entity types.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "view": {
                          "enumDescriptions": [
                            "VIEW_UNSPECIFIED. The unset value. Defaults to FULL View.",
                            "Return only entity type names.",
                            "Return entity types with schema"
                          ],
                          "location": "query",
                          "description": "Specifies which fields of the Entity Type are returned in the response.",
                          "type": "string",
                          "enum": [
                            "ENTITY_TYPE_VIEW_UNSPECIFIED",
                            "ENTITY_TYPE_VIEW_BASIC",
                            "ENTITY_TYPE_VIEW_FULL"
                          ]
                        },
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Number of entity types to return. Defaults to 25.",
                          "type": "integer"
                        }
                      },
                      "id": "connectors.projects.locations.connections.entityTypes.list",
                      "response": {
                        "$ref": "ListEntityTypesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists metadata related to all entity types present in the external system."
                    }
                  },
                  "resources": {
                    "entities": {
                      "methods": {
                        "updateEntitiesWithConditions": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates entities based on conditions specified in the request and not on entity id.",
                          "response": {
                            "$ref": "UpdateEntitiesWithConditionsResponse"
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.updateEntitiesWithConditions",
                          "parameters": {
                            "conditions": {
                              "location": "query",
                              "description": "Required. Conditions to be used when updating entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be.",
                              "type": "string"
                            },
                            "entityType": {
                              "location": "path",
                              "required": true,
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "type": "string"
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "Entity"
                          },
                          "path": "v2/{+entityType}/entities:updateEntitiesWithConditions",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:updateEntitiesWithConditions",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "entityType"
                          ]
                        },
                        "delete": {
                          "id": "connectors.projects.locations.connections.entityTypes.entities.delete",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Empty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes an existing entity row matching the entity type and entity id specified in the request.",
                          "path": "v2/{+name}",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "deleteEntitiesWithConditions": {
                          "parameters": {
                            "conditions": {
                              "description": "Required. Conditions to be used when deleting entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be.",
                              "type": "string",
                              "location": "query"
                            },
                            "entityType": {
                              "location": "path",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "executionConfig.headers": {
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.deleteEntitiesWithConditions",
                          "response": {
                            "$ref": "Empty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes entities based on conditions specified in the request and not on entity id.",
                          "path": "v2/{+entityType}/entities:deleteEntitiesWithConditions",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities:deleteEntitiesWithConditions",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "entityType"
                          ]
                        },
                        "list": {
                          "id": "connectors.projects.locations.connections.entityTypes.entities.list",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "Page token value if available from a previous request.",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "conditions": {
                              "location": "query",
                              "description": "Conditions to be used when listing entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported.",
                              "type": "string"
                            },
                            "sortBy": {
                              "description": "List of 'sort_by' columns to use when returning the results.",
                              "type": "string",
                              "location": "query",
                              "repeated": true
                            },
                            "executionConfig.headers": {
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string",
                              "location": "query"
                            },
                            "sortOrder": {
                              "location": "query",
                              "repeated": true,
                              "description": "List of 'sort_order' columns to use when returning the results.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Number of entity rows to return. Defaults page size = 25. Max page size = 200.",
                              "type": "integer"
                            }
                          },
                          "response": {
                            "$ref": "ListEntitiesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists entity rows of a particular entity type contained in the request. Note: 1. Currently, only max of one 'sort_by' column is supported. 2. If no 'sort_by' column is provided, the primary key of the table is used. If zero or more than one primary key is available, we default to the unpaginated list entities logic which only returns the first page. 3. The values of the 'sort_by' columns must uniquely identify an entity row, otherwise undefined behaviors may be observed during pagination. 4. Since transactions are not supported, any updates, inserts or deletes during pagination can lead to stale data being returned or other unexpected behaviors.",
                          "path": "v2/{+parent}/entities",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "create": {
                          "path": "v2/{+parent}/entities",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "Entity"
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a new entity row of the specified entity type in the external system. The field values for creating the row are contained in the body of the request. The response message contains a `Entity` message object returned as a response by the external system.",
                          "response": {
                            "$ref": "Entity"
                          }
                        },
                        "get": {
                          "path": "v2/{+name}",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets a single entity row matching the entity type and entity id specified in the request.",
                          "response": {
                            "$ref": "Entity"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            }
                          },
                          "id": "connectors.projects.locations.connections.entityTypes.entities.get"
                        },
                        "patch": {
                          "path": "v2/{+name}",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/entityTypes/{entityTypesId}/entities/{entitiesId}",
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "connectors.projects.locations.connections.entityTypes.entities.patch",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/entityTypes/[^/]+/entities/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "executionConfig.headers": {
                              "location": "query",
                              "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "Entity"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates an existing entity row matching the entity type and entity id specified in the request. The fields in the entity row that need to be modified are contained in the body of the request. All unspecified fields are left unchanged. The response message contains a `Entity` message object returned as a response by the external system.",
                          "response": {
                            "$ref": "Entity"
                          }
                        }
                      }
                    }
                  }
                },
                "resources": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListResourcesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all available resources.",
                      "id": "connectors.projects.locations.connections.resources.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token for the request.",
                          "type": "string"
                        },
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Resource name of the connection. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Page size for the request.",
                          "type": "integer"
                        }
                      },
                      "path": "v2/{+parent}/resources",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "id": "connectors.projects.locations.connections.resources.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "type": "string",
                          "required": true
                        },
                        "executionConfig.headers": {
                          "description": "headers to be used for the request. For example: headers:'{\"x-integration-connectors-managed-connection-id\":\"conn-id\",\"x-integration-connectors-runtime-config\":\"runtime-cfg\"}'",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a specific resource.",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "getResourcePost": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Resource name of the Resource. Format: projects/{project}/locations/{location}/connections/{connection}/resources/{resource}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/resources/.*$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GetResourcePostRequest"
                      },
                      "id": "connectors.projects.locations.connections.resources.getResourcePost",
                      "response": {
                        "$ref": "GetResourceResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a specific resource with POST.",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/resources/{resourcesId}",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Connectors API",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://connectors.googleapis.com/",
  "version_module": true,
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "connectors:v2",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "baseUrl": "https://connectors.googleapis.com/",
  "mtlsRootUrl": "https://connectors.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
  "schemas": {
    "PerSliSloEligibility": {
      "properties": {
        "eligibilities": {
          "additionalProperties": {
            "$ref": "SloEligibility"
          },
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "type": "object"
        }
      },
      "id": "PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "type": "object"
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "description": "Request message for ConnectorAgentService.ExecuteTool",
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Input parameters for the tool.",
          "type": "object"
        },
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        },
        "toolDefinition": {
          "description": "Tool definition for the tool to be executed.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "Query": {
      "id": "Query",
      "description": "A wrapper around the SQL query statement. This is needed so that the JSON representation of ExecuteSqlQueryRequest has the following format: `{\"query\":\"select *\"}`.",
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. Sql query to execute.",
          "type": "string"
        },
        "timeout": {
          "format": "int64",
          "description": "Sets the number of seconds the driver will wait for a query to execute.",
          "type": "string"
        },
        "queryParameters": {
          "description": "In the struct, the value corresponds to the value of query parameter and date type corresponds to the date type of the query parameter.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "maxRows": {
          "description": "Sets the limit for the maximum number of rows returned after the query execution.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UpdatePolicy": {
      "properties": {
        "channel": {
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "type": "string",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy."
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        }
      },
      "id": "UpdatePolicy",
      "description": "Maintenance policy applicable to instance updates.",
      "type": "object"
    },
    "ExecuteSqlQueryRequest": {
      "properties": {
        "query": {
          "description": "Required. SQL statement passed by clients like Integration Platform, the query is passed as-is to the driver used for interfacing with external systems.",
          "$ref": "Query"
        }
      },
      "id": "ExecuteSqlQueryRequest",
      "description": "An execute sql query request containing the query and the connection to execute it on.",
      "type": "object"
    },
    "Action": {
      "id": "Action",
      "description": "Action message contains metadata information about a single action present in the external system.",
      "type": "object",
      "properties": {
        "inputParameters": {
          "description": "List containing input parameter metadata.",
          "type": "array",
          "items": {
            "$ref": "InputParameter"
          }
        },
        "inputJsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this actions's input schema"
        },
        "description": {
          "description": "Brief Description of action",
          "type": "string"
        },
        "name": {
          "description": "Name of the action.",
          "type": "string"
        },
        "displayName": {
          "description": "Display Name of action to be shown on client side",
          "type": "string"
        },
        "resultMetadata": {
          "description": "List containing the metadata of result fields.",
          "type": "array",
          "items": {
            "$ref": "ResultMetadata"
          }
        },
        "resultJsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema representation of this actions's result schema"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "QueryParameter": {
      "properties": {
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "value": {
          "type": "any"
        }
      },
      "id": "QueryParameter",
      "description": "Query parameter definition",
      "type": "object"
    },
    "ListResourcesResponse": {
      "type": "object",
      "id": "ListResourcesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Next page token if more resources available.",
          "type": "string"
        },
        "resources": {
          "description": "List of available resources.",
          "type": "array",
          "items": {
            "$ref": "Resource"
          }
        },
        "metadata": {
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Metadata like service latency, etc.",
          "type": "object"
        }
      }
    },
    "ListCustomToolNamesResponse": {
      "properties": {
        "toolNames": {
          "description": "List of custom tools.",
          "type": "array",
          "items": {
            "$ref": "ToolName"
          }
        }
      },
      "type": "object",
      "id": "ListCustomToolNamesResponse"
    },
    "OAuth2Config": {
      "id": "OAuth2Config",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Client ID for the OAuth2 flow.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Client secret for the OAuth2 flow.",
          "type": "string"
        },
        "authUri": {
          "description": "Authorization Server URL/Token Endpoint for Authorization Code Flow",
          "type": "string"
        }
      }
    },
    "CheckReadinessResponse": {
      "description": "Response containing status of the connector for readiness prober.",
      "type": "object",
      "id": "CheckReadinessResponse",
      "properties": {
        "status": {
          "type": "string"
        }
      }
    },
    "CheckStatusResponse": {
      "id": "CheckStatusResponse",
      "description": "The status of the connector.",
      "type": "object",
      "properties": {
        "description": {
          "description": "When the connector is not in ACTIVE state, the description must be populated to specify the reason why it's not in ACTIVE state.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata like service latency, etc.",
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The connector is active and ready to process runtime requests. This can also mean that from the connector's perspective, the connector is not in an error state and should be able to process runtime requests successfully.",
            "The connector is in an error state and cannot process runtime requests. An example reason would be that the connection container has some network issues that prevent outbound requests from being sent.",
            "This is a more specific error state that the developers can opt to use when the connector is facing auth-related errors caused by auth configuration not present, invalid auth credentials, etc."
          ],
          "description": "State of the connector.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "AUTH_ERROR"
          ]
        }
      }
    },
    "ToolName": {
      "properties": {
        "entityName": {
          "description": "Entity name for which the tool was generated.",
          "type": "string"
        },
        "operation": {
          "description": "Operation for which the tool was generated.",
          "type": "string",
          "enumDescriptions": [
            "Operation unspecified.",
            "LIST entities.",
            "GET entity.",
            "CREATE entity.",
            "UPDATE entity.",
            "DELETE entity."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "name": {
          "description": "Tool name that was generated in the list tools call.",
          "type": "string"
        }
      },
      "id": "ToolName",
      "type": "object"
    },
    "Tool": {
      "id": "Tool",
      "description": "Message representing a single tool.",
      "type": "object",
      "properties": {
        "inputSchema": {
          "$ref": "JsonSchema",
          "description": "JSON schema for the input parameters of the tool."
        },
        "outputSchema": {
          "description": "JSON schema for the output of the tool.",
          "$ref": "JsonSchema"
        },
        "dependsOn": {
          "description": "List of tool names that this tool depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "annotations": {
          "$ref": "ToolAnnotations",
          "description": "Annotations for the tool."
        },
        "name": {
          "description": "Name of the tool.",
          "type": "string"
        },
        "_meta": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Metadata for the tool.",
          "type": "object"
        },
        "description": {
          "description": "Description of the tool.",
          "type": "string"
        }
      }
    },
    "GetResourcePostRequest": {
      "properties": {
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "execution config for the request."
        },
        "toolSpec": {
          "description": "List of tool specifications.",
          "$ref": "ToolSpec"
        }
      },
      "id": "GetResourcePostRequest",
      "description": "Request message for ConnectorAgentService.GetResourcePost",
      "type": "object"
    },
    "SloEligibility": {
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      },
      "id": "SloEligibility",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "type": "object"
    },
    "GetResourceResponse": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Metadata like service latency, etc.",
          "type": "object"
        },
        "data": {
          "format": "byte",
          "description": "The content of the resource.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the resource.",
          "type": "string"
        },
        "_meta": {
          "description": "Metadata for the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GetResourceResponse"
    },
    "JsonSchema": {
      "properties": {
        "else": {
          "$ref": "JsonSchema",
          "description": "Schema that must be valid if the \"if\" schema is invalid."
        },
        "minItems": {
          "format": "int32",
          "description": "Minimum number of items in the array field.",
          "type": "integer"
        },
        "maximum": {
          "description": "Maximum value of the number field.",
          "type": "any"
        },
        "patternProperties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Pattern properties for the schema.",
          "type": "object"
        },
        "format": {
          "description": "Format of the value as per https://json-schema.org/understanding-json-schema/reference/string.html#format",
          "type": "string"
        },
        "writeOnly": {
          "description": "Whether the value is write-only.",
          "type": "boolean"
        },
        "contentMediaType": {
          "description": "Media type of the content.",
          "type": "string"
        },
        "$defs": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "Definitions for the schema.",
          "type": "object"
        },
        "minLength": {
          "format": "int32",
          "description": "Minimum length of the string field.",
          "type": "integer"
        },
        "$id": {
          "description": "The URI defining the core schema meta-schema.",
          "type": "string"
        },
        "examples": {
          "description": "Examples of the value.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "exclusiveMaximum": {
          "description": "Whether the maximum number value is exclusive.",
          "type": "any"
        },
        "then": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "anyOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "$comment": {
          "description": "A comment on the schema.",
          "type": "string"
        },
        "contentEncoding": {
          "description": "Encoding of the content.",
          "type": "string"
        },
        "$ref": {
          "description": "A reference to another schema.",
          "type": "string"
        },
        "jdbcType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "description": "JDBC datatype of the field.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        },
        "minProperties": {
          "description": "Minimum number of properties.",
          "type": "integer",
          "format": "int32"
        },
        "enum": {
          "description": "Possible values for an enumeration. This works in conjunction with `type` to represent types with a fixed set of legal values",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "readOnly": {
          "description": "Whether the value is read-only.",
          "type": "boolean"
        },
        "definitions": {
          "description": "Definitions for the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JsonSchema"
          }
        },
        "exclusiveMinimum": {
          "description": "Whether the minimum number value is exclusive.",
          "type": "any"
        },
        "additionalProperties": {
          "description": "Schema for additional properties.",
          "$ref": "JsonSchema"
        },
        "maxItems": {
          "format": "int32",
          "description": "Maximum number of items in the array field.",
          "type": "integer"
        },
        "required": {
          "description": "Whether this property is required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "$schema": {
          "description": "The URI defining the schema.",
          "type": "string"
        },
        "uniqueItems": {
          "description": "Whether the items in the array field are unique.",
          "type": "boolean"
        },
        "additionalItems": {
          "$ref": "JsonSchema",
          "description": "Schema for additional items."
        },
        "not": {
          "$ref": "JsonSchema",
          "description": "Schema that must not be valid."
        },
        "maxProperties": {
          "format": "int32",
          "description": "Maximum number of properties.",
          "type": "integer"
        },
        "pattern": {
          "description": "Regex pattern of the string field. This is a string value that describes the regular expression that the string value should match.",
          "type": "string"
        },
        "if": {
          "description": "Schema that must be valid if the \"if\" schema is valid.",
          "$ref": "JsonSchema"
        },
        "contains": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to at least one item in an array."
        },
        "items": {
          "$ref": "JsonSchema",
          "description": "Schema that applies to array values, applicable only if this is of type `array`."
        },
        "default": {
          "description": "The default value of the field or object described by this schema.",
          "type": "any"
        },
        "multipleOf": {
          "format": "double",
          "description": "Number must be a multiple of this value.",
          "type": "number"
        },
        "additionalDetails": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Additional details apart from standard json schema fields, this gives flexibility to store metadata about the schema",
          "type": "object"
        },
        "properties": {
          "additionalProperties": {
            "$ref": "JsonSchema"
          },
          "description": "The child schemas, applicable only if this is of type `object`. The key is the name of the property and the value is the json schema that describes that property",
          "type": "object"
        },
        "dependencies": {
          "description": "Dependencies for the schema.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "const": {
          "description": "Const value that the data must match.",
          "type": "any"
        },
        "title": {
          "description": "A title of the schema.",
          "type": "string"
        },
        "propertyNames": {
          "description": "Schema for property names.",
          "$ref": "JsonSchema"
        },
        "description": {
          "description": "A description of this schema.",
          "type": "string"
        },
        "type": {
          "description": "JSON Schema Validation: A Vocabulary for Structural Validation of JSON",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minimum": {
          "description": "Minimum value of the number field.",
          "type": "any"
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length of the string field.",
          "type": "integer"
        },
        "oneOf": {
          "description": "Schema that must be valid against at least one of the sub-schemas.",
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          }
        },
        "allOf": {
          "description": "Schema that must be valid against all of the sub-schemas.",
          "type": "array",
          "items": {
            "$ref": "JsonSchema"
          }
        }
      },
      "id": "JsonSchema",
      "description": "JsonSchema representation of schema metadata",
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow definition.",
      "type": "object",
      "properties": {
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        },
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        }
      }
    },
    "ResultMetadata": {
      "description": "Result Metadata message contains metadata about the result returned after executing an Action.",
      "type": "object",
      "id": "ResultMetadata",
      "properties": {
        "jsonSchema": {
          "description": "JsonSchema of the result, applicable only if parameter is of type `STRUCT`",
          "$ref": "JsonSchema"
        },
        "description": {
          "description": "A brief description of the metadata field.",
          "type": "string"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the metadata field.",
          "type": "string"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ],
          "description": "The data type of the metadata field",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ]
        }
      }
    },
    "NotificationParameter": {
      "id": "NotificationParameter",
      "description": "Contains notification related data.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Field": {
      "properties": {
        "key": {
          "description": "The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the Field.",
          "type": "string"
        },
        "additionalDetails": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.",
          "type": "object"
        },
        "jsonSchema": {
          "$ref": "JsonSchema",
          "description": "JsonSchema of the field, applicable only if field is of type `STRUCT`"
        },
        "description": {
          "description": "A brief description of the Field.",
          "type": "string"
        },
        "nullable": {
          "description": "Specifies whether a null value is allowed.",
          "type": "boolean"
        },
        "defaultValue": {
          "description": "The following field specifies the default value of the Field provided by the external system if a value is not provided.",
          "type": "any"
        },
        "dataType": {
          "description": "The data type of the Field.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "INT",
            "SMALLINT",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LONG",
            "BOOLEAN",
            "DECIMAL",
            "UUID",
            "BLOB",
            "BIT",
            "TINYINT",
            "INTEGER",
            "BIGINT",
            "FLOAT",
            "REAL",
            "NUMERIC",
            "CHAR",
            "VARCHAR",
            "LONGVARCHAR",
            "TIMESTAMP",
            "NCHAR",
            "NVARCHAR",
            "LONGNVARCHAR",
            "NULL",
            "OTHER",
            "JAVA_OBJECT",
            "DISTINCT",
            "STRUCT",
            "ARRAY",
            "CLOB",
            "REF",
            "DATALINK",
            "ROWID",
            "BINARY",
            "VARBINARY",
            "LONGVARBINARY",
            "NCLOB",
            "SQLXML",
            "REF_CURSOR",
            "TIME_WITH_TIMEZONE",
            "TIMESTAMP_WITH_TIMEZONE"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Datatype unspecified.",
            "Deprecated Int type, use INTEGER type instead.",
            "Small int type.",
            "Double type.",
            "Date type.",
            "Deprecated Datetime type.",
            "Time type.",
            "Deprecated string type, use VARCHAR type instead.",
            "Deprecated Long type, use BIGINT type instead.",
            "Boolean type.",
            "Decimal type.",
            "Deprecated UUID type, use VARCHAR instead.",
            "Blob type.",
            "Bit type.",
            "Tiny int type.",
            "Integer type.",
            "Big int type.",
            "Float type.",
            "Real type.",
            "Numeric type.",
            "Char type.",
            "Varchar type.",
            "Long varchar type.",
            "Timestamp type.",
            "Nchar type.",
            "Nvarchar type.",
            "Long Nvarchar type.",
            "Null type.",
            "Other type.",
            "Java object type.",
            "Distinct type keyword.",
            "Struct type.",
            "Array type.",
            "Clob type.",
            "Ref type.",
            "Datalink type.",
            "Row ID type.",
            "Binary type.",
            "Varbinary type.",
            "Long Varbinary type.",
            "Nclob type.",
            "SQLXML type.",
            "Ref_cursor type.",
            "Time with timezone type.",
            "Timestamp with timezone type."
          ]
        },
        "reference": {
          "$ref": "Reference",
          "description": "Reference captures the association between two different entity types. Value links to the reference of another entity type."
        }
      },
      "id": "Field",
      "description": "Message contains EntityType's Field metadata.",
      "type": "object"
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        }
      },
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "GenerateCustomToolspecRequest": {
      "type": "object",
      "id": "GenerateCustomToolspecRequest",
      "properties": {
        "toolNames": {
          "description": "list of tools to be generated.",
          "type": "array",
          "items": {
            "$ref": "ToolName"
          }
        }
      }
    },
    "EntityType": {
      "description": "EntityType message contains metadata information about a single entity type present in the external system.",
      "type": "object",
      "id": "EntityType",
      "properties": {
        "fields": {
          "description": "List containing metadata information about each field of the entity type.",
          "type": "array",
          "items": {
            "$ref": "Field"
          }
        },
        "defaultSortBy": {
          "type": "string"
        },
        "jsonSchema": {
          "description": "JsonSchema representation of this entity's schema",
          "$ref": "JsonSchema"
        },
        "operations": {
          "type": "array",
          "items": {
            "enum": [
              "OPERATION_UNSPECIFIED",
              "LIST",
              "GET",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Operation unspecified.",
              "This operation means entity type supports LIST method.",
              "This operation means entity type supports GET method.",
              "This operation means entity type supports CREATE method.",
              "This operation means entity type supports UPDATE method.",
[...]
