{
  "servicePath": "content/v2.1/",
  "id": "content:v2.1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2.1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "basePath": "/content/v2.1/",
  "revision": "20260415",
  "protocol": "rest",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "schemas": {
    "LiasettingsRequestGmbAccessResponse": {
      "id": "LiasettingsRequestGmbAccessResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsRequestGmbAccessResponse`\".",
          "type": "string"
        }
      }
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "minimumOrderValue": {
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table.",
          "$ref": "Price"
        },
        "shipmentType": {
          "description": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup` (deprecated)\" - \"`local_delivery`\" - \"`collection_point`\" ",
          "type": "string"
        },
        "pickupService": {
          "description": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved through the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`.",
          "$ref": "PickupCarrierService"
        },
        "name": {
          "description": "Free-form name of the service. Must be unique within target account. Required.",
          "type": "string"
        },
        "active": {
          "description": "A boolean exposing the active status of the shipping service. Required.",
          "type": "boolean"
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only available for the local delivery shipment type.",
          "$ref": "ServiceStoreConfig"
        },
        "rateGroups": {
          "items": {
            "$ref": "RateGroup"
          },
          "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap.",
          "type": "array"
        },
        "currency": {
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "deliveryCountry": {
          "description": "The CLDR territory code of the country to which the service applies. Required.",
          "type": "string"
        },
        "deliveryTime": {
          "description": "Time spent in various aspects from order to the delivery of the product. Required.",
          "$ref": "DeliveryTime"
        },
        "eligibility": {
          "description": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" ",
          "type": "string"
        },
        "minimumOrderValueTable": {
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value.",
          "$ref": "MinimumOrderValueTable"
        }
      }
    },
    "ReportRow": {
      "id": "ReportRow",
      "description": "Result row returned from the search query.",
      "type": "object",
      "properties": {
        "bestSellers": {
          "description": "Best sellers fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView` or `BestSellersBrandView`.",
          "$ref": "BestSellers"
        },
        "priceInsights": {
          "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`.",
          "$ref": "PriceInsights"
        },
        "productCluster": {
          "description": "Product cluster fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView`.",
          "$ref": "ProductCluster"
        },
        "topicTrends": {
          "description": "[Topic trends](https://support.google.com/merchants/answer/13542370) fields requested by the merchant in the query. Field values are only set if the merchant queries `TopicTrendsView`.",
          "$ref": "TopicTrends"
        },
        "metrics": {
          "description": "Metrics requested by the merchant in the query. Metric values are only set for metrics requested explicitly in the query.",
          "$ref": "Metrics"
        },
        "priceCompetitiveness": {
          "description": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`.",
          "$ref": "PriceCompetitiveness"
        },
        "competitiveVisibility": {
          "description": "Competitive visibility fields requested by the merchant in the query. Field values are only set if the merchant queries `CompetitiveVisibilityTopMerchantView`, `CompetitiveVisibilityBenchmarkView` or `CompetitiveVisibilityCompetitorView`.",
          "$ref": "CompetitiveVisibility"
        },
        "productView": {
          "description": "Product fields requested by the merchant in the query. Field values are only set if the merchant queries `ProductView`.",
          "$ref": "ProductView"
        },
        "segments": {
          "description": "Segmentation dimensions requested by the merchant in the query. Dimension values are only set for dimensions requested explicitly in the query.",
          "$ref": "Segments"
        },
        "brand": {
          "description": "Brand fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersBrandView`.",
          "$ref": "Brand"
        }
      }
    },
    "Row": {
      "id": "Row",
      "type": "object",
      "properties": {
        "cells": {
          "items": {
            "$ref": "Value"
          },
          "description": "The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables. Required.",
          "type": "array"
        }
      }
    },
    "ListRegionsResponse": {
      "description": "Response message for the `ListRegions` method.",
      "type": "object",
      "properties": {
        "regions": {
          "description": "The regions from the specified merchant.",
          "type": "array",
          "items": {
            "$ref": "Region"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListRegionsResponse"
    },
    "CollectionFeaturedProduct": {
      "id": "CollectionFeaturedProduct",
      "description": "The message for FeaturedProduct. [FeaturedProduct](https://support.google.com/merchants/answer/9703736)",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "The unique identifier for the product item.",
          "type": "string"
        },
        "y": {
          "format": "float",
          "description": "Required. Y-coordinate of the product callout on the Shoppable Image.",
          "type": "number"
        },
        "x": {
          "format": "float",
          "description": "Required. X-coordinate of the product callout on the Shoppable Image.",
          "type": "number"
        }
      }
    },
    "DatafeedStatusError": {
      "id": "DatafeedStatusError",
      "description": "An error occurring in the feed, like \"invalid price\".",
      "type": "object",
      "properties": {
        "code": {
          "description": "The code of the error, for example, \"validation/invalid_value\".",
          "type": "string"
        },
        "examples": {
          "description": "A list of example occurrences of the error, grouped by product.",
          "type": "array",
          "items": {
            "$ref": "DatafeedStatusExample"
          }
        },
        "count": {
          "format": "uint64",
          "description": "The number of occurrences of the error in the feed.",
          "type": "string"
        },
        "message": {
          "description": "The error message, for example, \"Invalid price\".",
          "type": "string"
        }
      }
    },
    "CollectionStatusItemLevelIssue": {
      "description": "Issue associated with the collection.",
      "type": "object",
      "properties": {
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        },
        "attributeName": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "description": "Country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "type": "array"
        },
        "servability": {
          "description": "How this issue affects the serving of the collection.",
          "type": "string"
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        }
      },
      "id": "CollectionStatusItemLevelIssue"
    },
    "FreeListingsProgramStatusReviewIneligibilityReasonDetails": {
      "description": "Additional details for review ineligibility reasons.",
      "type": "object",
      "properties": {
        "cooldownTime": {
          "description": "This timestamp represents end of cooldown period for review ineligbility reason `IN_COOLDOWN_PERIOD`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "FreeListingsProgramStatusReviewIneligibilityReasonDetails"
    },
    "InputFieldChoiceInputChoiceInputOption": {
      "id": "InputFieldChoiceInputChoiceInputOption",
      "properties": {
        "id": {
          "description": "Not for display but need to be sent back for the selected choice option.",
          "type": "string"
        },
        "additionalInput": {
          "description": "Input that should be displayed when this option is selected. The additional input will not contain a `ChoiceInput`.",
          "$ref": "InputField"
        },
        "label": {
          "description": "Short description of the choice option. There may be more information to be shown as a tooltip.",
          "$ref": "TextWithTooltip"
        }
      },
      "description": "A choice that merchant can select.",
      "type": "object"
    },
    "TriggerActionPayload": {
      "id": "TriggerActionPayload",
      "description": "The payload for the triggered action.",
      "type": "object",
      "properties": {
        "actionInput": {
          "description": "Required. Input provided by the merchant.",
          "$ref": "ActionInput"
        },
        "actionContext": {
          "description": "Required. The context from the selected action. The value is obtained from rendered issues and needs to be sent back to identify the action that is being triggered.",
          "type": "string"
        }
      }
    },
    "LiasettingsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListResponse`\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of LIA settings.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "LiaSettings"
          }
        }
      },
      "type": "object",
      "id": "LiasettingsListResponse"
    },
    "ShippingsettingsCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ShippingsettingsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "id": "ShippingsettingsCustomBatchRequest"
    },
    "AccounttaxCustomBatchResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccounttaxCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "id": "AccounttaxCustomBatchResponse"
    },
    "LoyaltyProgram": {
      "properties": {
        "price": {
          "description": "Optional. The price for members of the given tier (instant discount price). Must be smaller or equal to the regular price.",
          "$ref": "Price"
        },
        "loyaltyPoints": {
          "description": "Optional. The amount of loyalty points earned on a purchase.",
          "type": "string",
          "format": "int64"
        },
        "tierLabel": {
          "description": "Required. The label of the tier within the loyalty program. Must match one of the labels within the program.",
          "type": "string"
        },
        "cashbackForFutureUse": {
          "description": "Optional. The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "shippingLabel": {
          "description": "Optional. The shipping label for the loyalty program. You can use this label to indicate whether this offer has the loyalty shipping benefit. If not specified, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "programLabel": {
          "description": "Required. The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a merchant entity and a loyalty program entity. It must be provided so that system can associate the assets below (for example, price and points) with a merchant. The corresponding program must be linked to the merchant account.",
          "type": "string"
        },
        "memberPriceEffectiveDate": {
          "description": "Optional. A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "type": "string"
        }
      },
      "description": "Allows the setting up of loyalty program benefits (for example price or points). https://support.google.com/merchants/answer/12922446",
      "type": "object",
      "id": "LoyaltyProgram"
    },
    "LiasettingsListPosDataProvidersResponse": {
      "id": "LiasettingsListPosDataProvidersResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListPosDataProvidersResponse`\".",
          "type": "string"
        },
        "posDataProviders": {
          "items": {
            "$ref": "PosDataProviders"
          },
          "description": "The list of POS data providers for each eligible country",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ShippingsettingsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsListResponse`\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of shipping settings.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "ShippingSettings"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ShippingsettingsListResponse"
    },
    "AccountsCustomBatchRequestEntry": {
      "id": "AccountsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch accounts request.",
      "type": "object",
      "properties": {
        "accountId": {
          "format": "uint64",
          "description": "The ID of the targeted account. Only defined if the method is not `insert`.",
          "type": "string"
        },
        "linkRequest": {
          "description": "Details about the `link` request.",
          "$ref": "AccountsCustomBatchRequestEntryLinkRequest"
        },
        "labelIds": {
          "description": "Label IDs for the 'updatelabels' request.",
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        },
        "overwrite": {
          "description": "Only applicable if the method is `claimwebsite`. Indicates whether or not to take the claim from another account in case there is a conflict.",
          "type": "boolean"
        },
        "view": {
          "description": "Controls which fields are visible. Only applicable if the method is 'get'.",
          "type": "string"
        },
        "batchId": {
          "format": "uint32",
          "description": "An entry ID, unique within the batch request.",
          "type": "integer"
        },
        "merchantId": {
          "format": "uint64",
          "description": "The ID of the managing account.",
          "type": "string"
        },
        "force": {
          "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is `delete`.",
          "type": "boolean"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`claimWebsite`\" - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`link`\" - \"`update`\" ",
          "type": "string"
        },
        "account": {
          "description": "The account to create or update. Only defined if the method is `insert` or `update`.",
          "$ref": "Account"
        }
      }
    },
    "LiasettingsCustomBatchRequestEntry": {
      "properties": {
        "posDataProviderId": {
          "description": "The ID of POS data provider. Required only for SetPosProvider.",
          "type": "string",
          "format": "uint64"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "merchantId": {
          "format": "uint64",
          "description": "The ID of the managing account.",
          "type": "string"
        },
        "country": {
          "description": "The country code. Required only for RequestInventoryVerification.",
          "type": "string"
        },
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS provider.",
          "type": "string"
        },
        "accountId": {
          "format": "uint64",
          "description": "The ID of the account for which to get/update account LIA settings.",
          "type": "string"
        },
        "liaSettings": {
          "description": "The account Lia settings to update. Only defined if the method is `update`.",
          "$ref": "LiaSettings"
        },
        "contactEmail": {
          "description": "Inventory validation contact email. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "contactName": {
          "description": "Inventory validation contact name. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "gmbEmail": {
          "description": "The Business Profile. Required only for RequestGmbAccess.",
          "type": "string"
        },
        "omnichannelExperience": {
          "description": "The omnichannel experience for a country. Required only for SetOmnichannelExperience.",
          "$ref": "LiaOmnichannelExperience"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`getAccessibleGmbAccounts`\" - \"`requestGmbAccess`\" - \"`requestInventoryVerification`\" - \"`setInventoryVerificationContact`\" - \"`update`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiasettingsCustomBatchRequestEntry"
    },
    "DatafeedstatusesListResponse": {
      "id": "DatafeedstatusesListResponse",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "DatafeedStatus"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedstatusesListResponse`\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of datafeed statuses.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RecommendationDescription": {
      "id": "RecommendationDescription",
      "properties": {
        "type": {
          "description": "Output only. Type of the description.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Short description.",
            "Long description."
          ],
          "readOnly": true,
          "enum": [
            "DESCRIPTION_TYPE_UNSPECIFIED",
            "SHORT",
            "LONG"
          ]
        },
        "text": {
          "readOnly": true,
          "description": "Output only. Text of the description.",
          "type": "string"
        }
      },
      "description": "Google-provided description for the recommendation.",
      "type": "object"
    },
    "TransitTableTransitTimeRowTransitTimeValue": {
      "type": "object",
      "properties": {
        "minTransitTimeInDays": {
          "description": "Transit time range (min-max) in business days. 0 means same day delivery, 1 means next day delivery.",
          "type": "integer",
          "format": "uint32"
        },
        "maxTransitTimeInDays": {
          "description": "Must be greater than or equal to `minTransitTimeInDays`.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "TransitTableTransitTimeRowTransitTimeValue"
    },
    "UndeleteConversionSourceRequest": {
      "description": "Request message for the UndeleteConversionSource method.",
      "type": "object",
      "properties": {},
      "id": "UndeleteConversionSourceRequest"
    },
    "TopicTrends": {
      "id": "TopicTrends",
      "description": "Topic trends fields requested by the merchant in the query. Field values are only set if the merchant queries `TopicTrendsView`. Forecast data can be queried up to 13 weeks by passing a future date in the `date` field. Historical data is measured daily, and forecasted data is projected weekly. All data points are normalized based on the highest data points returned in the response. If you make separate queries with different date ranges, you might see different values for the same date in each response. The recommended way to get a trend score of a topic is `last7_days_search_interest / last{$day}_days_search_interest - 1`. You can view trends for up to eight topics at a time.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date the trend score was retrieved.",
          "$ref": "Date"
        },
        "searchInterest": {
          "format": "double",
          "description": "Daily search interest, normalized to the time and country to make comparisons easier, with 100 representing peak popularity (from 0 to 100) for the requested time period and location.",
          "type": "number"
        },
        "last7DaysSearchInterest": {
          "description": "Search interest in the last 7 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number",
          "format": "double"
        },
        "last120DaysSearchInterest": {
          "description": "Search interest in the last 120 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number",
          "format": "double"
        },
        "customerCountryCode": {
          "description": "Country trends are calculated for. Must be a two-letter country code (ISO 3166-1-alpha-2 code), for example, `“US”`.",
          "type": "string"
        },
        "next7DaysSearchInterest": {
          "format": "double",
          "description": "Estimated search interest in the next 7 days, with the same normalization as search_interest. This field is only present for a future date.",
          "type": "number"
        },
        "last30DaysSearchInterest": {
          "format": "double",
          "description": "Search interest in the last 30 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number"
        },
        "last90DaysSearchInterest": {
          "description": "Search interest in the last 90 days, with the same normalization as search_interest. This field is only present for a past date.",
          "type": "number",
          "format": "double"
        },
        "topic": {
          "description": "Google-provided topic trends are calculated for. Only top eight topics are returned. Topic is what shoppers are searching for on Google, grouped by the same concept.",
          "type": "string"
        }
      }
    },
    "AccountsCustomBatchRequest": {
      "id": "AccountsCustomBatchRequest",
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccountsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "LiasettingsSetPosDataProviderResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsSetPosDataProviderResponse`\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiasettingsSetPosDataProviderResponse"
    },
    "DateTime": {
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string",
          "format": "google-duration"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "seconds": {
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer"
        }
      },
      "id": "DateTime"
    },
    "AccountsAuthInfoResponse": {
      "id": "AccountsAuthInfoResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsAuthInfoResponse`\".",
          "type": "string"
        },
        "accountIdentifiers": {
          "description": "The account identifiers corresponding to the authenticated user. - For an individual account: only the merchant ID is defined - For an aggregator: only the aggregator ID is defined - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined. ",
          "type": "array",
          "items": {
            "$ref": "AccountIdentifier"
          }
        }
      }
    },
    "Distance": {
      "properties": {
        "unit": {
          "description": "The distance unit. Acceptable values are `None`, `Miles`, and `Kilometers`.",
          "type": "string"
        },
        "value": {
          "format": "int64",
          "description": "The distance represented as a number.",
          "type": "string"
        }
      },
      "description": "Distance represented by an integer and unit.",
      "type": "object",
      "id": "Distance"
    },
    "AccountLabel": {
      "id": "AccountLabel",
      "properties": {
        "labelId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the label.",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "MANUAL",
            "AUTOMATIC"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Indicates that the label was created manually.",
            "Indicates that the label was created automatically by CSS Center."
          ],
          "description": "Output only. The type of this label."
        },
        "name": {
          "description": "The display name of this label.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Immutable. The ID of account this label belongs to.",
          "type": "string"
        }
      },
      "description": "Label assigned by CSS domain or CSS group to one of its sub-accounts.",
      "type": "object"
    },
    "PriceCompetitiveness": {
      "id": "PriceCompetitiveness",
      "description": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`. https://support.google.com/merchants/answer/9626903",
      "type": "object",
      "properties": {
        "benchmarkPriceMicros": {
          "description": "The latest available price benchmark in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product's catalog in the benchmark country.",
          "type": "string",
          "format": "int64"
        },
        "benchmarkPriceCurrencyCode": {
          "description": "The price benchmark currency (ISO 4217 code).",
          "type": "string"
        },
        "countryCode": {
          "description": "The country of the price benchmark (ISO 3166 code).",
          "type": "string"
        }
      }
    },
    "InputValueCheckboxInputValue": {
      "properties": {
        "value": {
          "description": "Required. True if the merchant checked the box field. False otherwise.",
          "type": "boolean"
        }
      },
      "description": "Value for checkbox input field.",
      "type": "object",
      "id": "InputValueCheckboxInputValue"
    },
    "InsertCheckoutSettingsRequest": {
      "id": "InsertCheckoutSettingsRequest",
      "description": "Request message for the `InsertCheckoutSettings` method.",
      "type": "object",
      "properties": {
        "uriSettings": {
          "description": "Required. The `UrlSettings` for the request. The presence of URL settings indicates `Checkout` enrollment.",
          "$ref": "UrlSettings"
        }
      }
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "ProductstatusesCustomBatchResponse": {
      "id": "ProductstatusesCustomBatchResponse",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ProductstatusesCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductSustainabilityIncentive": {
      "description": "Information regarding sustainability related incentive programs such as rebates or tax relief.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ],
          "description": "Required. Sustainability incentive program.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ]
        },
        "amount": {
          "description": "Optional. The fixed amount of the incentive.",
          "$ref": "Price"
        },
        "percentage": {
          "format": "double",
          "description": "Optional. The percentage of the sale price that the incentive is applied to.",
          "type": "number"
        }
      },
      "id": "ProductSustainabilityIncentive"
    },
    "AccountImageImprovements": {
      "properties": {
        "accountImageImprovementsSettings": {
          "description": "Determines how the images should be automatically updated. If this field is not present, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "AccountImageImprovementsSettings"
        },
        "effectiveAllowAutomaticImageImprovements": {
          "description": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)",
      "type": "object",
      "id": "AccountImageImprovements"
    },
    "ProductstatusesCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch productstatuses response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer",
          "format": "uint32"
        },
        "productStatus": {
          "description": "The requested product status. Only defined if the request was successful.",
          "$ref": "ProductStatus"
        }
      },
      "id": "ProductstatusesCustomBatchResponseEntry"
    },
    "WarehouseBasedDeliveryTime": {
      "properties": {
        "originPostalCode": {
          "description": "Shipping origin.",
          "type": "string"
        },
        "carrier": {
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. The list of supported carriers can be retrieved through the `listSupportedCarriers` method.",
          "type": "string"
        },
        "originAdministrativeArea": {
          "description": "Shipping origin's state.",
          "type": "string"
        },
        "originCity": {
          "description": "Shipping origin's city.",
          "type": "string"
        },
        "warehouseName": {
          "description": "The name of the warehouse. Warehouse name need to be matched with name. If warehouseName is set, the below fields will be ignored. The warehouse info will be read from warehouse.",
          "type": "string"
        },
        "originCountry": {
          "description": "Shipping origin's country represented as a [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml).",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The list of supported services for a carrier can be retrieved through the `listSupportedCarriers` method. The name of the service must be in the eddSupportedServices list.",
          "type": "string"
        },
        "originStreetAddress": {
          "description": "Shipping origin's street address.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WarehouseBasedDeliveryTime"
    },
    "ProductsCustomBatchRequest": {
      "id": "ProductsCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ProductsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      }
    },
    "PosCustomBatchResponse": {
      "id": "PosCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "PosCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponse`\".",
          "type": "string"
        }
      }
    },
    "ProductIssueImpact": {
      "description": "Overall impact of product issue.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "The severity of the issue.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Causes either an account suspension or an item disapproval. Errors should be resolved as soon as possible to ensure items are eligible to appear in results again.",
            "Warnings can negatively impact the performance of ads and can lead to item or account suspensions in the future unless the issue is resolved.",
            "Infos are suggested optimizations to increase data quality. Resolving these issues is recommended, but not required."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "breakdowns": {
          "description": "Detailed impact breakdown. Explains the types of restriction the issue has in different shopping destinations and territory. If present, it should be rendered to the merchant. Can be shown as a mouse over dropdown or a dialog. Each breakdown item represents a group of regions with the same impact details.",
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          }
        },
        "message": {
          "description": "Optional. Message summarizing the overall impact of the issue. If present, it should be rendered to the merchant. For example: \"Limits visibility in France\"",
          "type": "string"
        }
      },
      "id": "ProductIssueImpact"
    },
    "ShippingsettingsGetSupportedHolidaysResponse": {
      "id": "ShippingsettingsGetSupportedHolidaysResponse",
      "properties": {
        "holidays": {
          "items": {
            "$ref": "HolidaysHoliday"
          },
          "description": "A list of holidays applicable for delivery guarantees. May be empty.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsGetSupportedHolidaysResponse`\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatafeedstatusesCustomBatchRequest": {
      "id": "DatafeedstatusesCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DatafeedstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      }
    },
    "DatafeedFetchSchedule": {
      "properties": {
        "hour": {
          "description": "The hour of the day the feed file should be fetched (0-23).",
          "type": "integer",
          "format": "uint32"
        },
        "dayOfMonth": {
          "format": "uint32",
          "description": "The day of the month the feed file should be fetched (1-31).",
          "type": "integer"
        },
        "username": {
          "description": "An optional user name for fetch_url.",
          "type": "string"
        },
        "fetchUrl": {
          "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols.",
          "type": "string"
        },
        "timeZone": {
          "description": "Time zone used for schedule. UTC by default. For example, \"America/Los_Angeles\".",
          "type": "string"
        },
        "weekday": {
          "description": "The day of the week the feed file should be fetched. Acceptable values are: - \"`monday`\" - \"`tuesday`\" - \"`wednesday`\" - \"`thursday`\" - \"`friday`\" - \"`saturday`\" - \"`sunday`\" ",
          "type": "string"
        },
        "paused": {
          "description": "Whether the scheduled fetch is paused or not.",
          "type": "boolean"
        },
        "minuteOfHour": {
          "description": "The minute of the hour the feed file should be fetched (0-59). Read-only.",
          "type": "integer",
          "format": "uint32"
        },
        "password": {
          "description": "An optional password for fetch_url.",
          "type": "string"
        }
      },
      "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.",
      "type": "object",
      "id": "DatafeedFetchSchedule"
    },
    "LiasettingsCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "LiasettingsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "id": "LiasettingsCustomBatchRequest"
    },
    "AccountStatusProducts": {
      "id": "AccountStatusProducts",
      "type": "object",
      "properties": {
        "statistics": {
          "description": "Aggregated product statistics.",
          "$ref": "AccountStatusStatistics"
        },
        "channel": {
          "description": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" ",
          "type": "string"
        },
        "destination": {
          "description": "The destination the data applies to.",
          "type": "string"
        },
        "country": {
          "description": "The country the data applies to.",
          "type": "string"
        },
        "itemLevelIssues": {
          "description": "List of item-level issues.",
          "type": "array",
          "items": {
            "$ref": "AccountStatusItemLevelIssue"
          }
        }
      }
    },
    "RegionalinventoryCustomBatchResponseEntry": {
      "properties": {
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalinventoryCustomBatchResponseEntry`\".",
          "type": "string"
        },
        "regionalInventory": {
          "description": "Price and availability of the product.",
          "$ref": "RegionalInventory"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "description": "A batch entry encoding a single non-batch regional inventory response.",
      "type": "object",
      "id": "RegionalinventoryCustomBatchResponseEntry"
    },
    "VerifyPhoneNumberResponse": {
      "properties": {
        "verifiedPhoneNumber": {
          "description": "Verified phone number if verification is successful. This phone number can only be replaced by another verified phone number.",
          "type": "string"
        }
      },
      "description": "Response message for the VerifyPhoneNumber method.",
      "type": "object",
      "id": "VerifyPhoneNumberResponse"
    },
    "ProductShippingDimension": {
      "properties": {
        "value": {
          "description": "The dimension of the product used to calculate the shipping cost of the item.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductShippingDimension"
    },
    "PickupServicesPickupService": {
      "id": "PickupServicesPickupService",
      "type": "object",
      "properties": {
        "country": {
          "description": "The CLDR country code of the carrier (for example, \"US\"). Always present.",
          "type": "string"
        },
        "carrierName": {
          "description": "The name of the carrier (for example, `\"UPS\"`). Always present.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the pickup service (for example, `\"Access point\"`). Always present.",
          "type": "string"
        }
      }
    },
    "GmbAccounts": {
      "properties": {
        "accountId": {
          "format": "uint64",
          "description": "The ID of the Merchant Center account.",
          "type": "string"
        },
        "gmbAccounts": {
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          },
          "description": "A list of Business Profiles which are available to the merchant.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GmbAccounts"
    },
    "AttributionSettingsConversionType": {
      "description": "Message representing a types of conversion events",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Conversion event name, as it'll be reported by the client.",
          "type": "string",
          "readOnly": true
        },
        "includeInReporting": {
          "readOnly": true,
          "description": "Output only. Option indicating if the type should be included in Merchant Center reporting.",
          "type": "boolean"
        }
      },
      "id": "AttributionSettingsConversionType"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Required. The length units. Acceptable values are: - \"`in`\" - \"`cm`\" ",
          "type": "string"
        },
        "value": {
          "description": "Required. The length value represented as a number. The value can have a maximum precision of four decimal places.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ProductShipping": {
      "properties": {
        "minHandlingTime": {
          "format": "int64",
          "description": "Minimum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it's received if it happens before the cut-off time. minHandlingTime can only be present together with maxHandlingTime; but it's not required if maxHandlingTime is present.",
          "type": "string"
        },
        "maxHandlingTime": {
          "format": "int64",
          "description": "Maximum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it's received if it happens before the cut-off time. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds.",
          "type": "string"
        },
        "maxTransitTime": {
          "format": "int64",
          "description": "Maximum transit time (inclusive) between when the order has shipped and when it's delivered in business days. 0 means that the order is delivered on the same day as it ships. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds.",
          "type": "string"
        },
        "minTransitTime": {
          "format": "int64",
          "description": "Minimum transit time (inclusive) between when the order has shipped and when it's delivered in business days. 0 means that the order is delivered on the same day as it ships. minTransitTime can only be present together with maxTransitTime; but it's not required if maxTransitTime is present.",
          "type": "string"
        },
        "region": {
          "description": "The geographic region to which a shipping rate applies.",
          "type": "string"
        },
        "locationId": {
          "format": "int64",
          "description": "The numeric ID of a location that the shipping rate applies to as defined in the Google Ads API.",
          "type": "string"
        },
        "locationGroupName": {
          "description": "The location where the shipping is applicable, represented by a location group name.",
          "type": "string"
        },
        "service": {
          "description": "A free-form description of the service class or delivery speed.",
          "type": "string"
        },
        "country": {
          "description": "The CLDR territory code of the country to which an item will ship.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code range that the shipping rate applies to, represented by a postal code, a postal code prefix followed by a * wildcard, a range between two postal codes or two postal code prefixes of equal length.",
          "type": "string"
        },
        "price": {
          "description": "Fixed shipping price, represented as a number.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "id": "ProductShipping"
    },
    "OrderTrackingSignal": {
      "id": "OrderTrackingSignal",
      "description": "Represents a merchant trade from which signals are extracted, e.g. shipping.",
      "type": "object",
      "properties": {
        "shippingInfo": {
          "description": "The shipping information for the order.",
          "type": "array",
          "items": {
            "$ref": "OrderTrackingSignalShippingInfo"
          }
        },
        "orderTrackingSignalId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID that uniquely identifies this order tracking signal.",
          "type": "string"
        },
        "customerShippingFee": {
          "description": "The shipping fee of the order; this value should be set to zero in the case of free shipping.",
          "$ref": "PriceAmount"
        },
        "merchantId": {
          "format": "int64",
          "description": "The Google merchant ID of this order tracking signal. This value is optional. If left unset, the caller's merchant ID is used. You must request access in order to provide data on behalf of another merchant. For more information, see [Submitting Order Tracking Signals](/shopping-content/guides/order-tracking-signals).",
          "type": "string"
        },
        "deliveryPostalCode": {
          "description": "Required. The delivery postal code, as a continuous string without spaces or dashes, e.g. \"95016\". This field will be anonymized in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "deliveryRegionCode": {
          "description": "Required. The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) for the shipping destination.",
          "type": "string"
        },
        "orderCreatedTime": {
          "description": "Required. The time when the order was created on the merchant side. Include the year and timezone string, if available.",
          "$ref": "DateTime"
        },
        "orderId": {
          "description": "Required. The ID of the order on the merchant side. This field will be hashed in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "lineItems": {
          "description": "Information about line items in the order.",
          "type": "array",
          "items": {
            "$ref": "OrderTrackingSignalLineItemDetails"
          }
        },
        "shipmentLineItemMapping": {
          "items": {
            "$ref": "OrderTrackingSignalShipmentLineItemMapping"
          },
          "description": "The mapping of the line items to the shipment information.",
          "type": "array"
        }
      }
    },
    "LinkedAccount": {
      "properties": {
        "services": {
          "items": {
            "$ref": "LinkService"
          },
          "description": "List of provided services.",
          "type": "array"
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LinkedAccount"
    },
    "RegionalinventoryCustomBatchRequestEntry": {
      "properties": {
        "productId": {
          "description": "The ID of the product for which to update price and availability.",
          "type": "string"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        },
        "method": {
          "description": "Method of the batch request entry. Acceptable values are: - \"`insert`\" ",
          "type": "string"
        },
        "regionalInventory": {
          "description": "Price and availability of the product.",
          "$ref": "RegionalInventory"
        }
      },
      "description": "A batch entry encoding a single non-batch regional inventory request.",
      "type": "object",
      "id": "RegionalinventoryCustomBatchRequestEntry"
    },
    "LiaInventorySettings": {
      "id": "LiaInventorySettings",
      "type": "object",
      "properties": {
        "inventoryVerificationContactEmail": {
          "description": "The email of the contact for the inventory verification process.",
          "type": "string"
        },
        "inventoryVerificationContactStatus": {
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "inventoryVerificationContactName": {
          "description": "The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "status": {
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      }
    },
    "DeliveryTime": {
      "id": "DeliveryTime",
      "properties": {
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `{min,max}TransitTimeInDays` or `transitTimeTable` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "minHandlingTimeInDays": {
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped.",
          "type": "integer",
          "format": "uint32"
        },
        "maxHandlingTimeInDays": {
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `minHandlingTimeInDays`.",
          "type": "integer",
          "format": "uint32"
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured, the cutoff time will be defaulted to 8AM PST. If local delivery, use Service.StoreConfig.CutoffConfig.",
          "$ref": "CutoffTime"
        },
        "holidayCutoffs": {
          "description": "Holiday cutoff definitions. If configured, they specify order cutoff times for holiday-specific shipping.",
          "type": "array",
          "items": {
            "$ref": "HolidayCutoff"
          }
        },
        "warehouseBasedDeliveryTimes": {
          "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in DeliveryTime should be set.",
          "type": "array",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          }
        },
        "minTransitTimeInDays": {
          "description": "Minimum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Either `{min,max}TransitTimeInDays` or `transitTimeTable` must be set, but not both.",
          "type": "integer",
          "format": "uint32"
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "maxTransitTimeInDays": {
          "description": "Maximum number of business days that are spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `minTransitTimeInDays`.",
          "type": "integer",
          "format": "uint32"
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        }
      },
      "type": "object"
    },
    "InputFieldTextInput": {
      "id": "InputFieldTextInput",
      "description": "Text input allows merchants to provide a text value.",
      "type": "object",
      "properties": {
        "additionalInfo": {
          "description": "Additional info regarding the field to be displayed to merchant. For example, warning to not include personal identifiable information. There may be more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "type": {
          "description": "Type of the text input",
          "type": "string",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Used when a short text is expected. The field can be rendered as a [text field](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text).",
            "Used when a longer text is expected. The field should be rendered as a [textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea)."
          ],
          "enum": [
            "TEXT_INPUT_TYPE_UNSPECIFIED",
            "GENERIC_SHORT_TEXT",
            "GENERIC_LONG_TEXT"
          ]
        },
        "ariaLabel": {
          "description": "Text to be used as the [aria-label](https://www.w3.org/TR/WCAG20-TECHS/ARIA14.html) for the input.",
          "type": "string"
        },
        "formatInfo": {
          "description": "Information about the required format. If present, it should be shown close to the input field to help merchants to provide a correct value. For example: \"VAT numbers should be in a format similar to SK9999999999\"",
          "type": "string"
        }
      }
    },
    "DatafeedsFetchNowResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsFetchNowResponse`\".",
          "type": "string"
        }
      },
      "id": "DatafeedsFetchNowResponse"
    },
    "RecommendationCallToAction": {
      "properties": {
        "localizedText": {
          "readOnly": true,
          "description": "Output only. Localized text of the CTA. Optional.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. URL of the CTA. This field will only be set for some recommendations where there is a suggested landing URL. Otherwise it will be set to an empty string. We recommend developers to use their own custom landing page according to the description of the intent field above when this uri field is empty.",
          "type": "string"
        },
        "intent": {
          "description": "Output only. Intent of the action. This value describes the intent (for example, `OPEN_CREATE_EMAIL_CAMPAIGN_FLOW`) and can vary from recommendation to recommendation. This value can change over time for the same recommendation. Currently available intent values: - OPEN_CREATE_EMAIL_CAMPAIGN_FLOW: Opens a user journey where they can create a marketing email campaign. (No default URL) - OPEN_CREATE_COLLECTION_TAB: Opens a user journey where they can [create a collection](https://support.google.com/merchants/answer/9703228) for their Merchant account. (No default URL)",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Call to action (CTA) that explains how a merchant can implement this recommendation",
      "type": "object",
      "id": "RecommendationCallToAction"
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `groupValues` must be provided. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per merchant, with total size of 102.4kB.",
      "type": "object",
      "properties": {
        "groupValues": {
          "description": "Subattributes within this attribute group. Exactly one of value or groupValues must be provided.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "value": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "name": {
          "description": "The name of the attribute. Underscores will be replaced by spaces upon insertion.",
          "type": "string"
        }
      },
      "id": "CustomAttribute"
    },
    "DatafeedsCustomBatchRequest": {
      "id": "DatafeedsCustomBatchRequest",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DatafeedsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsLink": {
      "id": "GoogleAnalyticsLink",
      "description": "\"Google Analytics Link\" sources can be used to get conversion data from an existing Google Analytics property into the linked Merchant Center account.",
      "type": "object",
      "properties": {
        "propertyId": {
          "format": "int64",
          "description": "Required. Immutable. ID of the Google Analytics property the merchant is linked to.",
          "type": "string"
        },
        "attributionSettings": {
          "readOnly": true,
          "description": "Output only. Attribution settings for the linked Google Analytics property.",
          "$ref": "AttributionSettings"
        },
        "propertyName": {
          "description": "Output only. Name of the Google Analytics property the merchant is linked to.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListCollectionStatusesResponse": {
      "properties": {
        "resources": {
          "items": {
            "$ref": "CollectionStatus"
          },
          "description": "The collectionstatuses listed.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListCollectionStatuses method.",
      "type": "object",
      "id": "ListCollectionStatusesResponse"
    },
    "AccountsLinkResponse": {
      "id": "AccountsLinkResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsLinkResponse`\".",
          "type": "string"
        }
      }
    },
    "RequestReviewShoppingAdsRequest": {
      "properties": {
        "regionCode": {
          "description": "The code [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the country for which review is to be requested.",
          "type": "string"
        }
      },
      "description": "Request message for the RequestReviewShoppingAds program method.",
      "type": "object",
      "id": "RequestReviewShoppingAdsRequest"
    },
    "AccountYouTubeChannelLink": {
      "type": "object",
      "properties": {
        "channelId": {
          "description": "Channel ID.",
          "type": "string"
        },
        "status": {
          "description": "Status of the link between this Merchant Center account and the YouTube channel. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in YT Creator Studio or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending.",
          "type": "string"
        }
      },
      "id": "AccountYouTubeChannelLink"
    },
    "ActionReason": {
      "description": "A single reason why the action is not available.",
      "type": "object",
      "properties": {
        "detail": {
          "description": "Detailed explanation of the reason. Should be displayed as a hint if present.",
          "type": "string"
        },
        "message": {
          "description": "Messages summarizing the reason, why the action is not available. For example: \"Review requested on Jan 03. Review requests can take a few days to complete.\"",
          "type": "string"
        },
        "action": {
          "description": "Optional. An action that needs to be performed to solve the problem represented by this reason. This action will always be available. Should be rendered as a link or button next to the summarizing message. For example, the review may be available only once merchant configure all required attributes. In such a situation this action can be a link to the form, where they can fill the missing attribute to unblock the main action.",
          "$ref": "Action"
        }
      },
      "id": "ActionReason"
    },
    "LocalInventory": {
      "id": "LocalInventory",
      "description": "Local inventory resource. For accepted attribute values, see the local product inventory feed specification.",
      "type": "object",
      "properties": {
        "salePrice": {
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined.",
          "$ref": "Price"
        },
        "instoreProductLocation": {
          "description": "The in-store product location.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The store code of this local inventory resource.",
          "type": "string"
        },
        "price": {
          "description": "The price of the product.",
          "$ref": "Price"
        },
        "customAttributes": {
          "description": "A list of custom (merchant-provided) attributes. Can also be used to submit any attribute of the feed specification in its generic form, for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "availability": {
          "description": "The availability of the product. For accepted attribute values, see the local product inventory feed specification.",
          "type": "string"
        },
        "pickupSla": {
          "description": "The expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the local product inventory feed specification.",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates may be specified as 'null' if undecided.",
          "type": "string"
        },
        "quantity": {
          "format": "uint32",
          "description": "The quantity of the product. Must be nonnegative.",
          "type": "integer"
        },
        "pickupMethod": {
          "description": "The supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the local product inventory feed specification.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localInventory`\"",
          "type": "string"
        }
      }
    },
    "ProductView": {
      "description": "Product fields. Values are only set for fields requested explicitly in the request's search query.",
      "type": "object",
      "properties": {
        "categoryL3": {
          "description": "Third level of the product category in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "categoryL5": {
          "description": "Fifth level of the product category in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "productTypeL1": {
          "description": "First level of the product type in merchant's own [product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "productTypeL2": {
          "description": "Second level of the product type in merchant's own [product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "id": {
          "description": "The REST ID of the product, in the form of channel:contentLanguage:targetCountry:offerId. Content API methods that operate on products take this as their productId parameter. Should always be included in the SELECT clause.",
          "type": "string"
        },
        "itemIssues": {
          "items": {
            "$ref": "ProductViewItemIssue"
          },
          "description": "List of item issues for the product.",
          "type": "array"
        },
        "productTypeL3": {
          "description": "Third level of the product type in merchant's own [product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "categoryL4": {
          "description": "Fourth level of the product category in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "categoryL1": {
          "description": "First level of the product category in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "creationTime": {
          "description": "The time the merchant created the product in timestamp seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "expirationDate": {
          "description": "Expiration date for the product. Specified on insertion.",
          "$ref": "Date"
        },
        "priceMicros": {
          "format": "int64",
          "description": "Product price specified as micros (1 millionth of a standard unit, 1 USD = 1000000 micros) in the product currency. Absent in case the information about the price of the product is not available.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "Item group ID provided by the merchant for grouping variants together.",
          "type": "string"
        },
        "categoryL2": {
          "description": "Second level of the product category in [Google's product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "productTypeL5": {
          "description": "Fifth level of the product type in merchant's own [product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "aggregatedDestinationStatus": {
          "description": "Aggregated destination status.",
          "type": "string",
          "enumDescriptions": [
            "Undefined aggregated status.",
            "Offer isn't eligible, or is disapproved for all destinations.",
            "Offer's status is pending in all destinations.",
            "Offer is eligible for some (but not all) destinations.",
            "Offer is eligible for all destinations."
          ],
          "enum": [
            "AGGREGATED_STATUS_UNSPECIFIED",
            "NOT_ELIGIBLE_OR_DISAPPROVED",
            "PENDING",
            "ELIGIBLE_LIMITED",
            "ELIGIBLE"
          ]
        },
        "title": {
          "description": "Title of the product.",
          "type": "string"
        },
        "brand": {
          "description": "Brand of the product.",
          "type": "string"
        },
        "gtin": {
          "items": {
            "type": "string"
          },
          "description": "GTIN of the product.",
          "type": "array"
        },
        "clickPotentialRank": {
          "description": "Normalized click potential of the product. Values range from 1 to 1000, where 1 is the highest click potential and 1000 is the theoretical lowest.",
          "type": "string",
          "format": "int64"
        },
        "offerId": {
          "description": "Merchant-provided id of the product.",
          "type": "string"
        },
        "condition": {
          "description": "Condition of the product.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Product price currency code (for example, ISO 4217). Absent if product price is not available.",
          "type": "string"
        },
        "availability": {
          "description": "Availability of the product.",
          "type": "string"
        },
        "clickPotential": {
          "enum": [
            "CLICK_POTENTIAL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Estimated performance potential compared to highest performing products of the merchant.",
          "type": "string",
          "enumDescriptions": [
            "Unknown predicted clicks impact.",
            "Potential to receive a low number of clicks compared to the highest performing products of the merchant.",
            "Potential to receive a moderate number of clicks compared to the highest performing products of the merchant.",
            "Potential to receive a similar number of clicks as the highest performing products of the merchant."
          ]
        },
        "channel": {
          "description": "Channel of the product (online versus local).",
          "type": "string",
          "enumDescriptions": [
            "Indicates that the channel is unspecified.",
            "Indicates that the channel is local.",
            "Indicates that the channel is online."
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "LOCAL",
            "ONLINE"
          ]
        },
        "productTypeL4": {
          "description": "Fourth level of the product type in merchant's own [product taxonomy](https://support.google.com/merchants/answer/6324436).",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code of the product in BCP 47 format.",
          "type": "string"
        },
        "shippingLabel": {
          "description": "The normalized shipping label specified in the feed",
          "type": "string"
        }
      },
      "id": "ProductView"
    },
    "LocalinventoryCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "LocalinventoryCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "id": "LocalinventoryCustomBatchRequest"
    },
    "BusinessDayConfig": {
      "properties": {
        "businessDays": {
          "items": {
            "type": "string"
          },
          "description": "Regular business days, such as '\"monday\"'. May not be empty.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BusinessDayConfig"
    },
    "AccountShippingImprovements": {
      "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "type": "object",
      "properties": {
        "allowShippingImprovements": {
          "description": "Enables automatic shipping improvements.",
          "type": "boolean"
        }
      },
      "id": "AccountShippingImprovements"
    },
    "ShippingsettingsCustomBatchRequestEntry": {
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        },
        "accountId": {
          "format": "uint64",
          "description": "The ID of the account for which to get/update account shipping settings.",
          "type": "string"
        },
        "shippingSettings": {
          "description": "The account shipping settings to update. Only defined if the method is `update`.",
          "$ref": "ShippingSettings"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "A batch entry encoding a single non-batch shippingsettings request.",
      "type": "object",
      "id": "ShippingsettingsCustomBatchRequestEntry"
    },
    "LiaPosDataProvider": {
      "properties": {
        "posDataProviderId": {
          "format": "uint64",
          "description": "The ID of the POS data provider.",
          "type": "string"
        },
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS data provider.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiaPosDataProvider"
    },
    "Metrics": {
      "id": "Metrics",
      "description": "Performance metrics. Values are only set for metrics requested explicitly in the request's search query.",
      "type": "object",
      "properties": {
        "orders": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of placed orders. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "string"
        },
        "returnedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items sent back for return, reported on the date when the merchant accepted the return. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "daysToShip": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an order being placed and the order being fully shipped, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number",
          "format": "double"
        },
        "orderedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items. Excludes customer cancellations that happened within 30 minutes of placing the order. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "conversionRate": {
          "description": "Number of conversions divided by the number of clicks, reported on the impression date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program.",
          "type": "number",
          "format": "double"
        },
        "returnsMicros": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items sent back for return in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the date when the merchant accepted the return. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "ctr": {
          "format": "double",
          "description": "Click-through rate - the number of clicks merchant's products receive (clicks) divided by the number of times the products are shown (impressions).",
          "type": "number"
        },
        "aovMicros": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order value in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) - the average value (total price of items) of all placed orders. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number"
        },
        "aos": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average order size - the average number of items in an order. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number"
        },
        "returnRate": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of returned items divided by the total price of shipped items, reported on the order date. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "number"
        },
        "conversions": {
          "description": "Number of conversions attributed to the product, reported on the conversion date. Depending on the attribution model, a conversion might be distributed across multiple clicks, where each click gets its own credit assigned. This metric is a sum of all such credits. The metric is currently available only for the `FREE_PRODUCT_LISTING` program.",
          "type": "number",
          "format": "double"
        },
        "orderedItemSalesMicros": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of ordered items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros). Excludes shipping, taxes (US only), and customer cancellations that happened within 30 minutes of placing the order. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "string"
        },
        "itemFillRate": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Percentage of shipped items in relation to all finalized items (shipped or rejected by the merchant; unshipped items are not taken into account), reported on the order date. Item fill rate is lowered by merchant rejections. **This metric cannot be segmented by customer_country_code.**",
          "type": "number"
        },
        "shippedOrders": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of fully shipped orders, reported on the last shipment date. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "string"
        },
        "clicks": {
          "description": "Number of clicks.",
          "type": "string",
          "format": "int64"
        },
        "itemDaysToShip": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Average number of days between an item being ordered and the item being **This metric cannot be segmented by customer_country_code.**",
          "type": "number"
        },
        "shippedItemSalesMicros": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Total price of shipped items in micros (1 millionth of a standard unit, 1 USD = 1000000 micros), reported on the order date. Excludes shipping and taxes (US only). The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "rejectedItems": {
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items canceled by the merchant, reported on the order date. **This metric cannot be segmented by customer_country_code.**",
          "type": "string",
          "format": "int64"
        },
        "impressions": {
          "format": "int64",
          "description": "Number of times merchant's products are shown.",
          "type": "string"
        },
        "shippedItems": {
          "format": "int64",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of shipped items, reported on the shipment date. **This metric cannot be segmented by customer_country_code.**",
          "type": "string"
        },
        "conversionValueMicros": {
          "description": "Value of conversions in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) attributed to the product, reported on the conversion date. The metric is currently available only for the `FREE_PRODUCT_LISTING` program. The currency of the returned value is stored in the currency_code segment. If this metric is selected, 'segments.currency_code' is automatically added to the SELECT clause in the search query (unless it is explicitly selected by the user) and the currency_code segment is populated in the response.",
          "type": "string",
          "format": "int64"
        },
        "unshippedOrders": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of orders not shipped or partially shipped up until the end of the queried day. If a multi-day period is specified in the search query, the returned value is the average number of unshipped orders over the days in the queried period. **This metric cannot be segmented by product dimensions and customer_country_code.**",
          "type": "number"
        },
        "unshippedItems": {
          "format": "double",
          "description": "*Deprecated*: This field is no longer supported and retrieving it returns 0 starting from May 2024. Number of ordered items not shipped up until the end of the queried day. If a multi-day period is specified in the search query, the returned value is the average number of unshipped items over the days in the queried period. **This metric cannot be segmented by customer_country_code.**",
          "type": "number"
        }
      }
    },
    "PriceAmount": {
      "description": "The price represented as a number and currency.",
      "type": "object",
      "properties": {
        "value": {
[...]
