{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "id": "container:v1beta1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://container.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "schemas": {
    "DefaultSnatStatus": {
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster.",
      "id": "DefaultSnatStatus",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Disables cluster default sNAT rules."
        }
      }
    },
    "UserManagedKeysConfig": {
      "properties": {
        "controlPlaneDiskEncryptionKey": {
          "description": "The Cloud KMS cryptoKey to use for Confidential Hyperdisk on the control plane nodes.",
          "type": "string"
        },
        "serviceAccountSigningKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Cloud KMS cryptoKeyVersions to use for signing service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`"
        },
        "gkeopsEtcdBackupEncryptionKey": {
          "type": "string",
          "description": "Resource path of the Cloud KMS cryptoKey to use for encryption of internal etcd backups."
        },
        "etcdApiCa": {
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd API CA in this cluster.",
          "type": "string"
        },
        "aggregationCa": {
          "type": "string",
          "description": "The Certificate Authority Service caPool to use for the aggregation CA in this cluster."
        },
        "clusterCa": {
          "description": "The Certificate Authority Service caPool to use for the cluster CA in this cluster.",
          "type": "string"
        },
        "controlPlaneDiskEncryptionKeyVersions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. All of the versions of the Cloud KMS cryptoKey that are used by Confidential Hyperdisks on the control plane nodes.",
          "readOnly": true,
          "type": "array"
        },
        "etcdPeerCa": {
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd peer CA in this cluster.",
          "type": "string"
        },
        "serviceAccountVerificationKeys": {
          "items": {
            "type": "string"
          },
          "description": "The Cloud KMS cryptoKeyVersions to use for verifying service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`",
          "type": "array"
        }
      },
      "description": "UserManagedKeysConfig holds the resource address to Keys which are used for signing certs and token that are used for communication within cluster.",
      "id": "UserManagedKeysConfig",
      "type": "object"
    },
    "NodeLabels": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of node label keys and node label values.",
          "type": "object"
        }
      },
      "description": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels).",
      "id": "NodeLabels",
      "type": "object"
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "type": "object",
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "description": "The selected network policy provider.",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        }
      }
    },
    "PrivateClusterConfig": {
      "properties": {
        "enablePrivateNodes": {
          "deprecated": true,
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking. Deprecated: Use NetworkConfig.default_enable_private_nodes instead.",
          "type": "boolean"
        },
        "masterGlobalAccessConfig": {
          "deprecated": true,
          "$ref": "PrivateClusterMasterGlobalAccessConfig",
          "description": "Controls master global access settings. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_global_access instead."
        },
        "privateEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The internal IP address of this cluster's master endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint instead.",
          "deprecated": true
        },
        "peeringName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The peering name in the customer VPC used by this cluster."
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network."
        },
        "enablePrivateEndpoint": {
          "type": "boolean",
          "description": "Whether the master's internal IP address is used as the cluster endpoint. Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true.",
          "deprecated": true
        },
        "publicEndpoint": {
          "deprecated": true,
          "description": "Output only. The external IP address of this cluster's master endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.public_endpoint instead.",
          "readOnly": true,
          "type": "string"
        },
        "privateEndpointSubnetwork": {
          "type": "string",
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint_subnetwork instead.",
          "deprecated": true
        }
      },
      "id": "PrivateClusterConfig",
      "type": "object",
      "description": "Configuration options for private clusters."
    },
    "AgentSandboxConfig": {
      "id": "AgentSandboxConfig",
      "type": "object",
      "description": "Configuration for the AgentSandbox addon.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether AgentSandbox is enabled for this cluster."
        }
      }
    },
    "RollbackSafeUpgrade": {
      "description": "RollbackSafeUpgrade is the configuration for the rollback safe upgrade.",
      "id": "RollbackSafeUpgrade",
      "type": "object",
      "properties": {
        "controlPlaneSoakDuration": {
          "type": "string",
          "description": "A user-defined period for the cluster remains in the rollbackable state. ex: {seconds: 21600}.",
          "format": "google-duration"
        }
      }
    },
    "Jwk": {
      "properties": {
        "kty": {
          "description": "Key Type.",
          "type": "string"
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "crv": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        },
        "e": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "x": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "alg": {
          "type": "string",
          "description": "Algorithm."
        },
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        }
      },
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "id": "Jwk",
      "type": "object"
    },
    "HttpLoadBalancing": {
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "id": "HttpLoadBalancing",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers."
        }
      }
    },
    "HorizontalPodAutoscaling": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring."
        }
      },
      "id": "HorizontalPodAutoscaling",
      "type": "object",
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
    },
    "HighScaleCheckpointingConfig": {
      "description": "Configuration for the High Scale Checkpointing.",
      "id": "HighScaleCheckpointingConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the High Scale Checkpointing is enabled for this cluster."
        }
      }
    },
    "IdentityServiceConfig": {
      "properties": {
        "enabled": {
          "description": "Whether to enable the Identity Service component",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceConfig",
      "type": "object",
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API"
    },
    "SlurmOperatorConfig": {
      "properties": {
        "enabled": {
          "description": "Whether the Slurm Operator is enabled in the cluster.",
          "type": "boolean"
        }
      },
      "id": "SlurmOperatorConfig",
      "type": "object",
      "description": "Configuration for the Slurm Operator."
    },
    "ClusterUpdate": {
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "id": "ClusterUpdate",
      "type": "object",
      "properties": {
        "desiredMeshCertificates": {
          "$ref": "MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "desiredEnableFqdnNetworkPolicy": {
          "type": "boolean",
          "description": "Enable/Disable FQDN Network Policy for the cluster."
        },
        "desiredNodePoolAutoConfigKubeletConfig": {
          "description": "The desired node kubelet config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NodeKubeletConfig"
        },
        "etag": {
          "type": "string",
          "description": "The current etag of the cluster. If an etag is provided and does not match the current etag of the cluster, update will be blocked and an ABORTED error will be returned."
        },
        "additionalPodRangesConfig": {
          "description": "The additional pod ranges to be added to the cluster. These pod ranges can be used by node pools to allocate pod IPs.",
          "$ref": "AdditionalPodRangesConfig"
        },
        "desiredManagedOpentelemetryConfig": {
          "description": "The desired managed open telemetry configuration.",
          "$ref": "ManagedOpenTelemetryConfig"
        },
        "desiredDatapathProvider": {
          "type": "string",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "description": "The desired datapath provider for the cluster.",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ]
        },
        "desiredMasterVersion": {
          "description": "The Kubernetes version to change the master to. The only valid value is the latest supported version. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "desiredWorkloadAltsConfig": {
          "$ref": "WorkloadALTSConfig",
          "description": "Configuration for direct-path (via ALTS) with workload identity. This feature is not officially supported for external customers in Kubernetes Engine when using Workload Identity."
        },
        "desiredAutoIpamConfig": {
          "description": "AutoIpamConfig contains all information related to Auto IPAM",
          "$ref": "AutoIpamConfig"
        },
        "desiredControlPlaneEndpointsConfig": {
          "description": "Control plane endpoints configuration.",
          "$ref": "ControlPlaneEndpointsConfig"
        },
        "desiredNotificationConfig": {
          "$ref": "NotificationConfig",
          "description": "The desired notification configuration."
        },
        "desiredNodeKubeletConfig": {
          "description": "The desired node kubelet config for the cluster.",
          "$ref": "NodeKubeletConfig"
        },
        "desiredPrivilegedAdmissionConfig": {
          "$ref": "PrivilegedAdmissionConfig",
          "description": "The desired privileged admission config for the cluster."
        },
        "desiredBinaryAuthorization": {
          "description": "The desired configuration options for the Binary Authorization feature.",
          "$ref": "BinaryAuthorization"
        },
        "desiredFleet": {
          "description": "The desired fleet configuration for the cluster.",
          "$ref": "Fleet"
        },
        "desiredStackType": {
          "type": "string",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4",
            "IPV4_IPV6"
          ],
          "description": "The desired stack type of the cluster. If a stack type is provided and does not match the current stack type of the cluster, update will attempt to change the stack type to the new type.",
          "enumDescriptions": [
            "By default, the clusters will be IPV4 only",
            "The value used if the cluster is a IPV4 only",
            "The value used if the cluster is a dual stack cluster"
          ]
        },
        "desiredNetworkPerformanceConfig": {
          "description": "The desired network performance config.",
          "$ref": "ClusterNetworkPerformanceConfig"
        },
        "desiredNodePoolAutoConfigResourceManagerTags": {
          "$ref": "ResourceManagerTags",
          "description": "The desired resource manager tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "deprecated": true,
          "description": "The desired private cluster configuration. Has no effect. Use desired_private_cluster_config instead."
        },
        "desiredSecretSyncConfig": {
          "$ref": "SecretSyncConfig",
          "description": "Configuration for sync Secret Manager secrets as k8s secrets."
        },
        "desiredL4ilbSubsettingConfig": {
          "$ref": "ILBSubsettingConfig",
          "description": "The desired L4 Internal Load Balancer Subsetting configuration."
        },
        "desiredCostManagementConfig": {
          "$ref": "CostManagementConfig",
          "description": "The desired configuration for the fine-grained cost management feature."
        },
        "desiredClusterTelemetry": {
          "description": "The desired telemetry integration for the cluster.",
          "$ref": "ClusterTelemetry"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "deprecated": true,
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The desired configuration options for master authorized networks feature. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.authorized_networks_config instead."
        },
        "desiredScheduleUpgradeConfig": {
          "description": "Optional. The desired scheduled upgrades configuration for the cluster.",
          "$ref": "ScheduleUpgradeConfig"
        },
        "desiredVerticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "desiredManagedMachineLearningDiagnosticsConfig": {
          "$ref": "ManagedMachineLearningDiagnosticsConfig",
          "description": "The desired managed machine learning diagnostics configuration."
        },
        "desiredAddonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "desiredEnableMultiNetworking": {
          "description": "Enable/Disable Multi-Networking for the cluster",
          "type": "boolean"
        },
        "userManagedKeysConfig": {
          "description": "The Custom keys configuration for the cluster. This field is deprecated. Use ClusterUpdate.desired_user_managed_keys_config instead.",
          "$ref": "UserManagedKeysConfig",
          "deprecated": true
        },
        "desiredAnonymousAuthenticationConfig": {
          "$ref": "AnonymousAuthenticationConfig",
          "description": "Configuration for limiting anonymous access to all endpoints except the health checks."
        },
        "desiredLocations": {
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed.",
          "type": "array"
        },
        "desiredWorkloadCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "WorkloadCertificates"
        },
        "desiredAutopilotWorkloadPolicyConfig": {
          "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
          "$ref": "WorkloadPolicyConfig"
        },
        "desiredRbacBindingConfig": {
          "description": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created.",
          "$ref": "RBACBindingConfig"
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredGcfsConfig": {
          "description": "The desired GCFS config for the cluster.",
          "$ref": "GcfsConfig"
        },
        "desiredSecretManagerConfig": {
          "description": "Enable/Disable Secret Manager Config.",
          "$ref": "SecretManagerConfig"
        },
        "desiredControlPlaneEgress": {
          "description": "The desired control plane egress control config for the cluster.",
          "$ref": "ControlPlaneEgress"
        },
        "desiredDatabaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "desiredEnableCiliumClusterwideNetworkPolicy": {
          "description": "Enable/Disable Cilium Clusterwide Network Policy for the cluster.",
          "type": "boolean"
        },
        "desiredWorkloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for Workload Identity."
        },
        "desiredDisableL4LbFirewallReconciliation": {
          "description": "Enable/Disable L4 LB VPC firewall reconciliation for the cluster.",
          "type": "boolean"
        },
        "desiredEnablePrivateEndpoint": {
          "description": "Enable/Disable private endpoint for the cluster's master. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true.",
          "type": "boolean",
          "deprecated": true
        },
        "gkeAutoUpgradeConfig": {
          "description": "Configuration for GKE auto upgrade.",
          "$ref": "GkeAutoUpgradeConfig"
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "desiredInTransitEncryptionConfig": {
          "type": "string",
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ],
          "description": "Specify the details of in-transit encryption. Now named inter-node transparent encryption.",
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ]
        },
        "desiredLoggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\", \"desired_node_pool_autoscaling\", or \"desired_workload_metadata_config\" is specified and there is more than one node pool on the cluster.",
          "type": "string"
        },
        "desiredContainerdConfig": {
          "description": "The desired containerd config for the cluster.",
          "$ref": "ContainerdConfig"
        },
        "desiredPrivateIpv6GoogleAccess": {
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ]
        },
        "desiredIdentityServiceConfig": {
          "$ref": "IdentityServiceConfig",
          "description": "The desired Identity Service component configuration."
        },
        "desiredCompliancePostureConfig": {
          "$ref": "CompliancePostureConfig",
          "deprecated": true,
          "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster."
        },
        "desiredDefaultEnablePrivateNodes": {
          "type": "boolean",
          "description": "Override the default setting of whether future created nodes have private IP addresses only, namely NetworkConfig.default_enable_private_nodes"
        },
        "desiredParentProductConfig": {
          "description": "The desired parent product config for the cluster.",
          "$ref": "ParentProductConfig"
        },
        "desiredPodSecurityPolicyConfig": {
          "$ref": "PodSecurityPolicyConfig",
          "description": "The desired configuration options for the PodSecurityPolicy feature."
        },
        "desiredHostMaintenancePolicy": {
          "$ref": "HostMaintenancePolicy",
          "description": "HostMaintenancePolicy contains the desired maintenance policy for the Google Compute Engine hosts."
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredReleaseChannel": {
          "description": "The desired release channel configuration.",
          "$ref": "ReleaseChannel"
        },
        "desiredSecurityPostureConfig": {
          "$ref": "SecurityPostureConfig",
          "description": "Enable/Disable Security Posture API features for the cluster."
        },
        "desiredTpuConfig": {
          "deprecated": true,
          "$ref": "TpuConfig",
          "description": "The desired Cloud TPU configuration. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
        },
        "desiredMonitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "The desired monitoring configuration."
        },
        "desiredNetworkTierConfig": {
          "description": "The desired network tier configuration for the cluster.",
          "$ref": "NetworkTierConfig"
        },
        "desiredRollbackSafeUpgrade": {
          "description": "The desired rollback safe upgrade configuration.",
          "$ref": "RollbackSafeUpgrade"
        },
        "desiredServiceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field."
        },
        "desiredK8sBetaApis": {
          "$ref": "K8sBetaAPIConfig",
          "description": "Beta APIs enabled for cluster."
        },
        "desiredAdditionalIpRangesConfig": {
          "description": "The desired config for additional subnetworks attached to the cluster.",
          "$ref": "DesiredAdditionalIPRangesConfig"
        },
        "desiredProtectConfig": {
          "description": "Deprecated: Use DesiredSecurityPostureConfig instead. Enable/Disable Protect API features for the cluster.",
          "deprecated": true,
          "$ref": "ProtectConfig"
        },
        "enableK8sBetaApis": {
          "description": "Kubernetes open source beta apis enabled on the cluster. Only beta apis",
          "$ref": "K8sBetaAPIConfig"
        },
        "desiredResourceUsageExportConfig": {
          "description": "The desired configuration for exporting resource usage.",
          "$ref": "ResourceUsageExportConfig"
        },
        "desiredNodePoolAutoConfigLinuxNodeConfig": {
          "description": "The desired Linux node config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters. Currently only `cgroup_mode` can be set here.",
          "$ref": "LinuxNodeConfig"
        },
        "desiredGatewayApiConfig": {
          "$ref": "GatewayAPIConfig",
          "description": "The desired config of Gateway API on this cluster."
        },
        "desiredAuthenticatorGroupsConfig": {
          "description": "AuthenticatorGroupsConfig specifies the config for the cluster security groups settings.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "desiredLoggingConfig": {
          "$ref": "LoggingConfig",
          "description": "The desired logging configuration."
        },
        "desiredMaster": {
          "$ref": "Master",
          "description": "Configuration for master components."
        },
        "desiredShieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Configuration for Shielded Nodes."
        },
        "desiredMonitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "desiredAutopilotClusterPolicyConfig": {
          "description": "The desired autopilot cluster policies that to be enforced in the cluster.",
          "$ref": "ClusterPolicyConfig"
        },
        "desiredNodePoolLoggingConfig": {
          "$ref": "NodePoolLoggingConfig",
          "description": "The desired node pool logging configuration defaults for the cluster."
        },
        "desiredEnterpriseConfig": {
          "description": "The desired enterprise configuration for the cluster. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
          "$ref": "DesiredEnterpriseConfig",
          "deprecated": true
        },
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "desiredPodAutoscaling": {
          "$ref": "PodAutoscaling",
          "description": "The desired config for pod autoscaling."
        },
        "desiredNodePoolAutoscaling": {
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "removedAdditionalPodRangesConfig": {
          "description": "The additional pod ranges that are to be removed from the cluster. The pod ranges specified here must have been specified earlier in the 'additional_pod_ranges_config' argument.",
          "$ref": "AdditionalPodRangesConfig"
        },
        "desiredClusterAutoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "desiredDnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "desiredDefaultSnatStatus": {
          "description": "The desired status of whether to disable default sNAT for this cluster.",
          "$ref": "DefaultSnatStatus"
        },
        "desiredUserManagedKeysConfig": {
          "$ref": "UserManagedKeysConfig",
          "description": "The desired user managed keys config for the cluster."
        },
        "desiredPrivateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "deprecated": true,
          "description": "The desired private cluster configuration. master_global_access_config is the only field that can be changed via this field. See also ClusterUpdate.desired_enable_private_endpoint for modifying other fields within PrivateClusterConfig. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.global_access instead."
        }
      }
    },
    "Cluster": {
      "properties": {
        "shieldedNodes": {
          "description": "Shielded Nodes configuration.",
          "$ref": "ShieldedNodes"
        },
        "tpuIpv4CidrBlock": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address range of the Cloud TPUs in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25.",
          "deprecated": true
        },
        "anonymousAuthenticationConfig": {
          "description": "Configuration for limiting anonymous access to all endpoints except the health checks.",
          "$ref": "AnonymousAuthenticationConfig"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources."
        },
        "loggingConfig": {
          "description": "Logging configuration for the cluster.",
          "$ref": "LoggingConfig"
        },
        "protectConfig": {
          "deprecated": true,
          "$ref": "ProtectConfig",
          "description": "Deprecated: Use SecurityPostureConfig instead. Enable/Disable Protect API features for the cluster."
        },
        "managedOpentelemetryConfig": {
          "$ref": "ManagedOpenTelemetryConfig",
          "description": "Configuration for Managed OpenTelemetry pipeline."
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "deprecated": true,
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
        },
        "privateCluster": {
          "type": "boolean",
          "description": "If this is a private cluster setup. Private clusters are clusters that, by default have no external IP addresses on the nodes and where nodes and the master communicate over private IP addresses. This field is deprecated, use private_cluster_config.enable_private_nodes instead.",
          "deprecated": true
        },
        "rollbackSafeUpgrade": {
          "description": "The rollback safe upgrade information of the cluster. This field is used when user manually triggers a rollback safe upgrade.",
          "$ref": "RollbackSafeUpgrade"
        },
        "compliancePostureConfig": {
          "deprecated": true,
          "$ref": "CompliancePostureConfig",
          "description": "Optional. Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster."
        },
        "controlPlaneEgress": {
          "$ref": "ControlPlaneEgress",
          "description": "Configuration for control plane egress control."
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "tpuConfig": {
          "deprecated": true,
          "$ref": "TpuConfig",
          "description": "Configuration for Cloud TPU support; This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
        },
        "name": {
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
          "type": "string"
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "scheduleUpgradeConfig": {
          "$ref": "ScheduleUpgradeConfig",
          "description": "Optional. Configuration for scheduled upgrades."
        },
        "conditions": {
          "type": "array",
          "description": "Which conditions caused the current cluster state.",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected. On output this shows the subnetwork ID instead of the name."
        },
        "identityServiceConfig": {
          "description": "Configuration for Identity Service component.",
          "$ref": "IdentityServiceConfig"
        },
        "defaultMaxPodsConstraint": {
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support.",
          "$ref": "MaxPodsConstraint"
        },
        "currentMasterVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current software version of the master endpoint."
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "type": "array"
        },
        "resourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config unspecified."
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled."
        },
        "meshCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "MeshCertificates"
        },
        "nodePoolAutoConfig": {
          "$ref": "NodePoolAutoConfig",
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "legacyAbac": {
          "description": "Configuration for the legacy ABAC authorization mode.",
          "$ref": "LegacyAbac"
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "Notification configuration of the cluster."
        },
        "costManagementConfig": {
          "description": "Configuration for the fine-grained cost management feature.",
          "$ref": "CostManagementConfig"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of cluster fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding."
        },
        "clusterTelemetry": {
          "$ref": "ClusterTelemetry",
          "description": "Telemetry integration for the cluster."
        },
        "podAutoscaling": {
          "description": "The config for pod autoscaling.",
          "$ref": "PodAutoscaling"
        },
        "masterIpv4CidrBlock": {
          "description": "The IP prefix in CIDR notation to use for the hosted master network. This prefix will be used for assigning private IP addresses to the master or set of masters, as well as the ILB VIP. This field is deprecated, use private_cluster_config.master_ipv4_cidr_block instead.",
          "type": "string",
          "deprecated": true
        },
        "rbacBindingConfig": {
          "$ref": "RBACBindingConfig",
          "description": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created."
        },
        "secretManagerConfig": {
          "$ref": "SecretManagerConfig",
          "description": "Secret CSI driver configuration."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The current status of this cluster.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster may be unusable. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "userManagedKeysConfig": {
          "description": "The Custom keys configuration for the cluster.",
          "$ref": "UserManagedKeysConfig"
        },
        "endpoint": {
          "description": "Output only. The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique id for the cluster."
        },
        "currentNodeVersion": {
          "description": "Output only. Deprecated, use [NodePool.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes.",
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "nodeIpv4CidrSize": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode.",
          "format": "int32"
        },
        "databaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "currentNodeCount": {
          "type": "integer",
          "description": "Output only. The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "format": "int32",
          "readOnly": true,
          "deprecated": true
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used. On output this shows the network ID instead of the name."
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
          "type": "string"
        },
        "currentEmulatedVersion": {
          "description": "Output only. The current emulated version of the master endpoint. The version is in minor version format, e.g. 1.30. No value or empty string means the cluster has no emulated version.",
          "readOnly": true,
          "type": "string"
        },
        "initialNodeCount": {
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "masterAuthorizedNetworksConfig": {
          "deprecated": true,
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.authorized_networks_config instead."
        },
        "workloadCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "WorkloadCertificates"
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "zone": {
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead.",
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "podSecurityPolicyConfig": {
          "description": "Configuration for the PodSecurityPolicy feature.",
          "$ref": "PodSecurityPolicyConfig"
        },
        "maintenancePolicy": {
          "description": "Configure the maintenance policy for this cluster.",
          "$ref": "MaintenancePolicy"
        },
        "releaseChannel": {
          "description": "Release channel configuration. If left unspecified on cluster creation and a version is specified, the cluster is enrolled in the most mature release channel where the version is available (first checking STABLE, then REGULAR, and finally RAPID). Otherwise, if no release channel configuration and no version is specified, the cluster is enrolled in the REGULAR channel with its default version.",
          "$ref": "ReleaseChannel"
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "workloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies."
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Configuration for cluster networking."
        },
        "gkeAutoUpgradeConfig": {
          "$ref": "GkeAutoUpgradeConfig",
          "description": "Configuration for GKE auto upgrades."
        },
        "statusMessage": {
          "description": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available.",
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "authenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Monitoring configuration for the cluster."
        },
        "autopilot": {
          "$ref": "Autopilot",
          "description": "Autopilot configuration for the cluster."
        },
        "instanceGroupUrls": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Deprecated. Use node_pools.instance_group_urls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "controlPlaneEndpointsConfig": {
          "$ref": "ControlPlaneEndpointsConfig",
          "description": "Configuration for all cluster's control plane endpoints."
        },
        "ipAllocationPolicy": {
          "description": "Configuration for cluster IP allocation.",
          "$ref": "IPAllocationPolicy"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "securityPostureConfig": {
          "$ref": "SecurityPostureConfig",
          "description": "Optional. Enable/Disable Security Posture API features for the cluster."
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1beta1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
          "type": "boolean"
        },
        "enterpriseConfig": {
          "deprecated": true,
          "$ref": "EnterpriseConfig",
          "description": "GKE Enterprise Configuration. Deprecated: GKE Enterprise features are now available without an Enterprise tier."
        },
        "nodePoolDefaults": {
          "$ref": "NodePoolDefaults",
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "secretSyncConfig": {
          "$ref": "SecretSyncConfig",
          "description": "Configuration for sync Secret Manager secrets as k8s secrets."
        },
        "managedMachineLearningDiagnosticsConfig": {
          "description": "Configuration for managed machine learning diagnostics.",
          "$ref": "ManagedMachineLearningDiagnosticsConfig"
        },
        "parentProductConfig": {
          "$ref": "ParentProductConfig",
          "description": "The configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of the GKE cluster and take the ownership of the cluster."
        },
        "fleet": {
          "description": "Fleet information for the cluster.",
          "$ref": "Fleet"
        },
        "servicesIpv4Cidr": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address range of the Kubernetes services in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
        },
        "master": {
          "description": "Configuration for master components.",
          "$ref": "Master"
        },
        "nodePools": {
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "enableK8sBetaApis": {
          "description": "Kubernetes open source beta apis enabled on the cluster. Only beta apis.",
          "$ref": "K8sBetaAPIConfig"
        },
        "alphaClusterFeatureGates": {
          "description": "The list of user specified Kubernetes feature gates. Each string represents the activation status of a feature gate (e.g. \"featureX=true\" or \"featureX=false\")",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL for the resource."
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "workloadAltsConfig": {
          "$ref": "WorkloadALTSConfig",
          "description": "Configuration for direct-path (via ALTS) with workload identity. This feature is not officially supported for external customers in Kubernetes Engine when using Workload Identity."
        },
        "enableTpu": {
          "deprecated": true,
          "description": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated, use tpu_config.enabled instead. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25.",
          "type": "boolean"
        },
        "autoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        }
      },
      "description": "A Google Kubernetes Engine cluster.",
      "id": "Cluster",
      "type": "object"
    },
    "NodeTaints": {
      "description": "Collection of Kubernetes [node taints](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration).",
      "id": "NodeTaints",
      "type": "object",
      "properties": {
        "taints": {
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array",
          "description": "List of node taints."
        }
      }
    },
    "SetLoggingServiceRequest": {
      "properties": {
        "loggingService": {
          "type": "string",
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      },
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "id": "SetLoggingServiceRequest",
      "type": "object"
    },
    "CompatibilityStatus": {
      "properties": {
        "downgradableVersion": {
          "description": "Output only. The GKE version that the cluster can be safely downgraded to if the cluster is emulating the previous minor version. It is usually the cluster's previous version before a minor version upgrade.",
          "readOnly": true,
          "type": "string"
        },
        "emulatedVersionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last time the control plane became available after a minor version binary upgrade with emulated version set. It indicates the last time the cluster entered the rollback safe mode.",
          "format": "google-datetime"
        }
      },
      "description": "CompatibilityStatus is the status regarding the control plane's compatibility.",
      "id": "CompatibilityStatus",
      "type": "object"
    },
    "ListNodePoolsResponse": {
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
      "id": "ListNodePoolsResponse",
      "type": "object",
      "properties": {
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array",
          "description": "A list of node pools for a cluster."
        }
      }
    },
    "NodePoolDefaults": {
      "description": "Subset of Nodepool message that has defaults.",
      "id": "NodePoolDefaults",
      "type": "object",
      "properties": {
        "nodeConfigDefaults": {
          "description": "Subset of NodeConfig message that has defaults.",
          "$ref": "NodeConfigDefaults"
        }
      }
    },
    "AutopilotCompatibilityIssue": {
      "description": "AutopilotCompatibilityIssue contains information about a specific compatibility issue with Autopilot mode.",
      "id": "AutopilotCompatibilityIssue",
      "type": "object",
      "properties": {
        "lastObservation": {
          "description": "The last time when this issue was observed.",
          "format": "google-datetime",
          "type": "string"
        },
        "constraintType": {
          "type": "string",
          "description": "The constraint type of the issue."
        },
        "incompatibilityType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "INCOMPATIBILITY",
            "ADDITIONAL_CONFIG_REQUIRED",
            "PASSED_WITH_OPTIONAL_CONFIG"
          ],
          "description": "The incompatibility type of this issue.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Indicates that the issue is a known incompatibility between the cluster and Autopilot mode.",
            "Indicates the issue is an incompatibility if customers take no further action to resolve.",
            "Indicates the issue is not an incompatibility, but depending on the workloads business logic, there is a potential that they won't work on Autopilot."
          ]
        },
        "documentationUrl": {
          "description": "A URL to a public documentation, which addresses resolving this issue.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the issue."
        },
        "subjects": {
          "description": "The name of the resources which are subject to this issue.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RecurringTimeWindow": {
      "properties": {
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        },
        "recurrence": {
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        }
      },
      "description": "Represents an arbitrary window of time that recurs.",
      "id": "RecurringTimeWindow",
      "type": "object"
    },
    "GatewayAPIConfig": {
      "id": "GatewayAPIConfig",
      "type": "object",
      "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
      "properties": {
        "channel": {
          "type": "string",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_DISABLED",
            "CHANNEL_EXPERIMENTAL",
            "CHANNEL_STANDARD"
          ],
          "description": "The Gateway API release channel to use for Gateway API.",
          "enumDescriptions": [
            "Default value.",
            "Gateway API support is disabled",
            "Deprecated: use CHANNEL_STANDARD instead. Gateway API support is enabled, experimental CRDs are installed",
            "Gateway API support is enabled, standard CRDs are installed"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ]
        }
      }
    },
    "StatusCondition": {
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR",
            "CA_EXPIRING",
            "NODE_SERVICE_ACCOUNT_MISSING_PERMISSIONS",
            "CLOUD_KMS_KEY_DESTROYED"
          ],
          "deprecated": true,
          "description": "Machine-friendly representation of the condition Deprecated. Use canonical_code instead.",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates that Google Compute Engine resources are temporarily unavailable.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot service account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for etcd level encryption.",
            "Cluster CA is expiring soon.",
            "Node service account is missing permissions.",
            "Cloud KMS key version used for etcd level encryption has been destroyed. This is a permanent error."
          ]
        },
        "message": {
          "type": "string",
          "description": "Human-friendly representation of the condition"
        },
        "canonicalCode": {
          "description": "Canonical code of the condition.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      },
      "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED).",
      "id": "StatusCondition",
      "type": "object"
    },
    "ListClustersResponse": {
      "properties": {
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "missingZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        }
      },
      "id": "ListClustersResponse",
      "type": "object",
      "description": "ListClustersResponse is the result of ListClustersRequest."
    },
    "ManagedOpenTelemetryConfig": {
      "id": "ManagedOpenTelemetryConfig",
      "type": "object",
      "description": "ManagedOpenTelemetryConfig is the configuration for the GKE Managed OpenTelemetry pipeline.",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "NONE",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS"
          ],
          "description": "Scope of the Managed OpenTelemetry pipeline.",
          "enumDescriptions": [
            "SCOPE_UNSPECIFIED is when the scope is not set.",
            "NONE is used to disable the Managed OpenTelemetry pipeline.",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS is used to enable the Managed OpenTelemetry pipeline for collection and instrumentation components."
          ]
        }
      }
    },
    "NodeTaint": {
      "properties": {
        "key": {
          "description": "Key for taint.",
          "type": "string"
        },
        "effect": {
          "description": "Effect for taint.",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "type": "string",
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ]
        },
        "value": {
          "type": "string",
          "description": "Value for taint."
        }
      },
      "description": "Kubernetes taint is composed of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values.",
      "id": "NodeTaint",
      "type": "object"
    },
    "SecurityBulletinEvent": {
      "id": "SecurityBulletinEvent",
      "type": "object",
      "description": "SecurityBulletinEvent is a notification sent to customers when a security bulletin has been posted that they are vulnerable to.",
      "properties": {
        "manualStepsRequired": {
          "description": "If this field is specified, it means there are manual steps that the user must take to make their clusters safe.",
          "type": "boolean"
        },
        "cveIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The CVEs associated with this bulletin."
        },
        "bulletinId": {
          "description": "The ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        },
        "patchedVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The GKE versions where this vulnerability is patched."
        },
        "affectedSupportedMinors": {
          "items": {
            "type": "string"
          },
          "description": "The GKE minor versions affected by this vulnerability.",
          "type": "array"
        },
        "suggestedUpgradeTarget": {
          "type": "string",
          "description": "This represents a version selected from the patched_versions field that the cluster receiving this notification should most likely want to upgrade to based on its current version. Note that if this notification is being received by a given cluster, it means that this version is currently available as an upgrade target in that cluster's location."
        },
        "bulletinUri": {
          "description": "The URI link to the bulletin on the website for more information.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of this bulletin as it relates to GKE."
        },
        "briefDescription": {
          "type": "string",
          "description": "A brief description of the bulletin. See the bulletin pointed to by the bulletin_uri field for an expanded description."
        },
        "resourceTypeAffected": {
          "type": "string",
          "description": "The resource type (node/control plane) that has the vulnerability. Multiple notifications (1 notification per resource type) will be sent for a vulnerability that affects > 1 resource type."
        },
        "mitigatedVersions": {
          "type": "array",
          "description": "The GKE versions where this vulnerability is mitigated.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "type": "object",
      "description": "Configuration for controlling master global access settings.",
      "properties": {
        "enabled": {
          "description": "Whenever master is accessible globally or not.",
          "type": "boolean"
        }
      }
    },
    "ComplianceStandard": {
      "description": "Defines the details of a compliance standard.",
      "id": "ComplianceStandard",
      "type": "object",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Name of the compliance standard."
        }
      }
    },
    "TpuConfig": {
      "deprecated": true,
      "description": "Configuration for Cloud TPU. This message is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25.",
      "properties": {
        "ipv4CidrBlock": {
          "type": "string",
          "description": "IPv4 CIDR block reserved for Cloud TPU in the VPC."
        },
        "enabled": {
          "description": "Whether Cloud TPU integration is enabled or not.",
          "type": "boolean"
        },
        "useServiceNetworking": {
          "description": "Whether to use service networking for Cloud TPU or not.",
          "type": "boolean"
        }
      },
      "id": "TpuConfig",
      "type": "object"
    },
    "SecretSyncConfig": {
      "id": "SecretSyncConfig",
      "type": "object",
      "description": "Configuration for sync Secret Manager secrets as k8s secrets.",
      "properties": {
        "enabled": {
          "description": "Enable/Disable Secret Sync Config.",
          "type": "boolean"
        },
        "rotationConfig": {
          "description": "Rotation config for secret manager.",
          "$ref": "SyncRotationConfig"
        }
      }
    },
    "MaxPodsConstraint": {
      "description": "Constraints applied to pods.",
      "id": "MaxPodsConstraint",
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "description": "Constraint enforced on the max num of pods per node.",
          "format": "int64"
        }
      }
    },
    "DisruptionBudget": {
      "properties": {
        "lastMinorVersionDisruptionTime": {
          "description": "Output only. The last time a minor version upgrade was performed on the control plane.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "patchVersionDisruptionInterval": {
          "description": "Optional. The minimum duration between two patch version upgrades of the control plane.",
          "format": "google-duration",
          "type": "string"
        },
        "lastDisruptionTime": {
          "description": "Output only. The last time a disruption was performed on the control plane.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "minorVersionDisruptionInterval": {
          "description": "Optional. The minimum duration between two minor version upgrades of the control plane.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "DisruptionBudget defines the upgrade disruption budget for the cluster control plane.",
      "id": "DisruptionBudget",
      "type": "object"
    },
    "UpgradeEvent": {
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading.",
      "id": "UpgradeEvent",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "description": "The operation associated with this upgrade."
        },
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "currentEmulatedVersion": {
          "description": "The current emulated version before the upgrade.",
          "type": "string"
        },
        "operationStartTime": {
          "description": "The time when the operation was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetVersion": {
          "type": "string",
          "description": "The target version for the upgrade."
        },
        "targetEmulatedVersion": {
          "description": "The target emulated version for the upgrade.",
          "type": "string"
        },
        "resource": {
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool.",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource type that is upgrading.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ]
        }
      }
    },
    "UpgradeInfoEvent": {
      "properties": {
        "standardSupportEndTime": {
          "description": "The end of standard support timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "A brief description of the event.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "END_OF_SUPPORT",
            "COS_MILESTONE_VERSION_UPDATE",
            "UPGRADE_LIFECYCLE",
            "DISRUPTION_EVENT"
          ],
          "description": "The type of the event.",
          "enumDescriptions": [
            "EVENT_TYPE_UNSPECIFIED indicates the event type is unspecified.",
            "END_OF_SUPPORT indicates GKE version reaches end of support, check standard_support_end_time and extended_support_end_time for more details.",
            "COS_MILESTONE_VERSION_UPDATE indicates that the COS node image will update COS milestone version for new patch versions starting with the one in the description.",
            "UPGRADE_LIFECYCLE indicates the event is about the upgrade lifecycle.",
            "DISRUPTION_EVENT indicates the event is about the disruption."
          ]
        },
        "endTime": {
          "type": "string",
          "description": "The time when the operation ended.",
          "format": "google-datetime"
        },
        "currentVersion": {
          "description": "The current version before the upgrade.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the upgrade.",
          "enumDescriptions": [
            "STATE_UNSPECIFIED indicates the state is unspecified.",
            "SCHEDULED indicates the upgrade was scheduled.",
            "STARTED indicates the upgrade has started.",
            "SUCCEEDED indicates the upgrade has completed successfully.",
            "FAILED indicates the upgrade has failed.",
            "CANCELED indicates the upgrade has canceled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "STARTED",
            "SUCCEEDED",
            "FAILED",
            "CANCELED"
          ]
        },
        "disruptionEvent": {
          "$ref": "DisruptionEvent",
          "description": "The information about the disruption event. This field is only populated when event_type is DISRUPTION_EVENT."
        },
        "targetEmulatedVersion": {
          "type": "string",
          "description": "The target emulated version for the upgrade."
        },
        "extendedSupportEndTime": {
          "type": "string",
          "description": "The end of extended support timestamp.",
          "format": "google-datetime"
        },
        "targetVersion": {
          "type": "string",
          "description": "The target version for the upgrade."
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "description": "The resource type associated with the upgrade.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ]
        },
        "resource": {
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool.",
          "type": "string"
        },
        "currentEmulatedVersion": {
          "type": "string",
          "description": "The current emulated version before the upgrade."
        },
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time when the operation was started.",
          "format": "google-datetime"
        }
      },
      "id": "UpgradeInfoEvent",
      "type": "object",
      "description": "UpgradeInfoEvent is a notification sent to customers about the upgrade information of a resource."
    },
    "CheckAutopilotCompatibilityResponse": {
      "id": "CheckAutopilotCompatibilityResponse",
      "type": "object",
      "description": "CheckAutopilotCompatibilityResponse has a list of compatibility issues.",
      "properties": {
        "issues": {
          "items": {
            "$ref": "AutopilotCompatibilityIssue"
          },
          "type": "array",
          "description": "The list of issues for the given operation."
        },
        "summary": {
          "type": "string",
          "description": "The summary of the autopilot compatibility response."
        }
      }
    },
    "ClusterNetworkPerformanceConfig": {
      "id": "ClusterNetworkPerformanceConfig",
      "type": "object",
      "description": "Configuration of all network bandwidth tiers",
      "properties": {
        "totalEgressBandwidthTier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "description": "Specifies the total network bandwidth tier for the NodePool.",
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ]
        }
      }
    },
    "FastSocket": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Fast Socket features are enabled in the node pool."
        }
      },
      "id": "FastSocket",
      "type": "object",
      "description": "Configuration of Fast Socket feature."
    },
    "CancelOperationRequest": {
      "description": "CancelOperationRequest cancels a single operation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
          "type": "string"
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "operationId": {
          "deprecated": true,
          "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "SetMonitoringServiceRequest": {
      "id": "SetMonitoringServiceRequest",
      "type": "object",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "properties": {
        "monitoringService": {
          "type": "string",
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "DNSEndpointConfig": {
      "description": "Describes the configuration of a DNS endpoint.",
      "id": "DNSEndpointConfig",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "Output only. The cluster's DNS endpoint configuration. A DNS format address. This is accessible from the public internet. Ex: uid.us-central1.gke.goog. Always present, but the behavior may change according to the value of DNSEndpointConfig.allow_external_traffic.",
          "readOnly": true,
          "type": "string"
        },
        "allowExternalTraffic": {
          "type": "boolean",
          "description": "Controls whether user traffic is allowed over this endpoint. Note that Google-managed services may still use the endpoint even if this is false."
        },
        "enableK8sTokensViaDns": {
          "type": "boolean",
          "description": "Controls whether the k8s token auth is allowed via DNS."
        },
        "enableK8sCertsViaDns": {
          "type": "boolean",
          "description": "Controls whether the k8s certs auth is allowed via DNS."
        }
      }
    },
    "QueuedProvisioning": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Denotes that this node pool is QRM specific, meaning nodes can be only obtained through queuing via the Cluster Autoscaler ProvisioningRequest API."
        }
      },
      "description": "QueuedProvisioning defines the queued provisioning used by the node pool.",
      "id": "QueuedProvisioning",
      "type": "object"
    },
    "KubernetesDashboard": {
[...]
