{
  "title": "Content API for Shopping",
  "protocol": "rest",
  "name": "content",
  "batchPath": "batch",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "servicePath": "content/v2.1/",
  "kind": "discovery#restDescription",
  "revision": "20260310",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v2.1",
  "resources": {
    "conversionsources": {
      "methods": {
        "create": {
          "request": {
            "$ref": "ConversionSource"
          },
          "id": "content.conversionsources.create",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/conversionsources",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a new conversion source.",
          "flatPath": "{merchantId}/conversionsources",
          "response": {
            "$ref": "ConversionSource"
          }
        },
        "list": {
          "description": "Retrieves the list of conversion sources the caller has access to.",
          "flatPath": "{merchantId}/conversionsources",
          "response": {
            "$ref": "ListConversionSourcesResponse"
          },
          "id": "content.conversionsources.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/conversionsources",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Page token.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "showDeleted": {
              "description": "If true, also returns archived conversion sources.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "description": "The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "delete": {
          "id": "content.conversionsources.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "conversionSourceId": {
              "type": "string",
              "description": "Required. The ID of the conversion source to be deleted.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "description": "Archives an existing conversion source. It will be recoverable for 30 days. This archiving behavior is not typical in the Content API and unique to this service.",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the account that owns the new conversion source."
            },
            "conversionSourceId": {
              "required": true,
              "description": "Required. The REST ID of the collection.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "id": "content.conversionsources.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "response": {
            "$ref": "ConversionSource"
          },
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "description": "Fetches a conversion source."
        },
        "patch": {
          "request": {
            "$ref": "ConversionSource"
          },
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "id": "content.conversionsources.patch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "conversionSourceId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the conversion source to be updated.",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. List of fields being updated. The following fields can be updated: `attribution_settings`, `display_name`, `currency_code`.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "description": "Updates information of an existing conversion source.",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "response": {
            "$ref": "ConversionSource"
          }
        },
        "undelete": {
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "description": "Re-enables an archived conversion source.",
          "request": {
            "$ref": "UndeleteConversionSourceRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the account that owns the new conversion source."
            },
            "conversionSourceId": {
              "description": "Required. The ID of the conversion source to be undeleted.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "path": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "id": "content.conversionsources.undelete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "flatPath": "{merchantId}/accountstatuses",
          "id": "content.accountstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accountstatuses",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true
            },
            "name": {
              "type": "string",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "get": {
          "id": "content.accountstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accountstatuses/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account."
            },
            "destinations": {
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "response": {
            "$ref": "AccountStatus"
          }
        },
        "custombatch": {
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "flatPath": "accountstatuses/batch",
          "path": "accountstatuses/batch",
          "id": "content.accountstatuses.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          }
        }
      }
    },
    "promotions": {
      "methods": {
        "create": {
          "description": "Inserts a promotion for your Merchant Center account. If the promotion already exists, then it updates the promotion instead. To [end or delete] (https://developers.google.com/shopping-content/guides/promotions#end_a_promotion) a promotion update the time period of the promotion to a time that has already passed.",
          "flatPath": "{merchantId}/promotions",
          "response": {
            "$ref": "Promotion"
          },
          "request": {
            "$ref": "Promotion"
          },
          "id": "content.promotions.create",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/promotions",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the account that contains the collection."
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListPromotionResponse"
          },
          "flatPath": "{merchantId}/promotions",
          "description": "List all promotions from your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "countryCode": {
              "type": "string",
              "description": "[CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (for example, \"US\"), used as a filter on promotions target country.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListPromotion` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotion` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "languageCode": {
              "description": "The two-letter ISO 639-1 language code associated with the promotions, used as a filter.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.promotions.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/promotions"
        },
        "get": {
          "path": "{merchantId}/promotions/{id}",
          "id": "content.promotions.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the account that contains the collection."
            },
            "id": {
              "description": "Required. REST ID of the promotion to retrieve.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "id"
          ],
          "response": {
            "$ref": "Promotion"
          },
          "description": "Retrieves a promotion from your Merchant Center account.",
          "flatPath": "{merchantId}/promotions/{id}"
        }
      }
    },
    "productstatuses": {
      "methods": {
        "custombatch": {
          "description": "Gets the statuses of multiple products in a single request.",
          "flatPath": "productstatuses/batch",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "path": "productstatuses/batch",
          "id": "content.productstatuses.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "ProductStatus"
          },
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "description": "Gets the status of a product from your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "required": true,
              "type": "string",
              "description": "The REST ID of the product.",
              "location": "path"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "{merchantId}/productstatuses/{productId}",
          "id": "content.productstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "id": "content.productstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/productstatuses",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "location": "query",
              "format": "uint32"
            },
            "destinations": {
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "flatPath": "{merchantId}/productstatuses"
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "create": {
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "description": "Creates or updates the delivery time of a product.",
          "flatPath": "{merchantId}/productdeliverytime",
          "path": "{merchantId}/productdeliverytime",
          "id": "content.productdeliverytime.create",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "ProductDeliveryTime"
          }
        },
        "get": {
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "description": "Gets `productDeliveryTime` by `productId`.",
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "type": "string",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "{merchantId}/productdeliverytime/{productId}",
          "id": "content.productdeliverytime.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "type": "string",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "id": "content.productdeliverytime.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/productdeliverytime/{productId}",
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "description": "Deletes the delivery time of a product."
        }
      }
    },
    "recommendations": {
      "methods": {
        "reportInteraction": {
          "description": "Reports an interaction on a recommendation for a merchant.",
          "flatPath": "{merchantId}/recommendations/reportInteraction",
          "request": {
            "$ref": "ReportInteractionRequest"
          },
          "id": "content.recommendations.reportInteraction",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/recommendations/reportInteraction",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that wants to report an interaction.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "generate": {
          "id": "content.recommendations.generate",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/recommendations/generate",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account to fetch recommendations for."
            },
            "allowedTag": {
              "description": "Optional. List of allowed tags. Tags are a set of predefined strings that describe the category that individual recommendation types belong to. User can specify zero or more tags in this field to indicate what categories of recommendations they want to receive. Current list of supported tags: - TREND",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "languageCode": {
              "description": "Optional. Language code of the client. If not set, the result will be in default language (English). This language code affects all fields prefixed with \"localized\". This should be set to ISO 639-1 country code. List of currently verified supported language code: en, fr, cs, da, de, es, it, nl, no, pl, pt, pt, fi, sv, vi, tr, th, ko, zh-CN, zh-TW, ja, id, hi",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "GenerateRecommendationsResponse"
          },
          "description": "Generates recommendations for a merchant.",
          "flatPath": "{merchantId}/recommendations/generate"
        }
      }
    },
    "pos": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "id": "content.pos.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "description": "Deletes a store for the given merchant."
        },
        "get": {
          "response": {
            "$ref": "PosStore"
          },
          "description": "Retrieves information about the given store.",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "id": "content.pos.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "httpMethod": "GET",
          "parameters": {
            "storeCode": {
              "type": "string",
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider."
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ]
        },
        "custombatch": {
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "description": "Batches multiple POS-related calls in a single request.",
          "flatPath": "pos/batch",
          "id": "content.pos.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "pos/batch",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "PosCustomBatchRequest"
          }
        },
        "insert": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "description": "Creates a store for the given merchant.",
          "response": {
            "$ref": "PosStore"
          },
          "request": {
            "$ref": "PosStore"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider."
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "id": "content.pos.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "inventory": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "id": "content.pos.inventory",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "description": "Submit inventory for the given merchant."
        },
        "sale": {
          "description": "Submit a sale event for the given merchant.",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "response": {
            "$ref": "PosSaleResponse"
          },
          "request": {
            "$ref": "PosSaleRequest"
          },
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "id": "content.pos.sale",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "targetMerchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the target merchant."
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ]
        },
        "list": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "description": "Lists the stores of the target merchant.",
          "response": {
            "$ref": "PosListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the POS or inventory data provider."
            },
            "targetMerchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the target merchant."
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "id": "content.pos.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "merchantsupport": {
      "methods": {
        "renderproductissues": {
          "flatPath": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "description": "Provide a list of issues for merchant's product with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "response": {
            "$ref": "RenderProductIssuesResponse"
          },
          "request": {
            "$ref": "RenderProductIssuesRequestPayload"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account that contains the product."
            },
            "productId": {
              "required": true,
              "description": "Required. The [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id) of the product to fetch issues for.",
              "location": "path",
              "type": "string"
            },
            "timeZone": {
              "type": "string",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "location": "query"
            },
            "languageCode": {
              "type": "string",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "id": "content.merchantsupport.renderproductissues",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/merchantsupport/renderproductissues/{productId}"
        },
        "triggeraction": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the merchant's account.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "languageCode": {
              "description": "Optional. Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) used to localize the response. If not set, the result will be in default language `en-US`.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.merchantsupport.triggeraction",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/merchantsupport/triggeraction",
          "request": {
            "$ref": "TriggerActionPayload"
          },
          "response": {
            "$ref": "TriggerActionResponse"
          },
          "flatPath": "{merchantId}/merchantsupport/triggeraction",
          "description": "Start an action. The action can be requested by merchants in third-party application. Before merchants can request the action, the third-party application needs to show them action specific content and display a user input form. You can request access using [Trigger action allowlist form](https://docs.google.com/forms/d/e/1FAIpQLSfeV_sBW9MBQv9BMTV6JZ1g11PGHLdHsrefca-9h0LmpU7CUg/viewform?usp=sharing). The action can be successfully started only once all `required` inputs are provided. If any `required` input is missing, or invalid value was provided, the service will return 400 error. Validation errors will contain Ids for all problematic field together with translated, human readable error messages that can be shown to the user."
        },
        "renderaccountissues": {
          "response": {
            "$ref": "RenderAccountIssuesResponse"
          },
          "description": "Provide a list of merchant's issues with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "flatPath": "{merchantId}/merchantsupport/renderaccountissues",
          "path": "{merchantId}/merchantsupport/renderaccountissues",
          "id": "content.merchantsupport.renderaccountissues",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account to fetch issues for.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "timeZone": {
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "RenderAccountIssuesRequestPayload"
          }
        }
      }
    },
    "reports": {
      "methods": {
        "search": {
          "flatPath": "{merchantId}/reports/search",
          "description": "Retrieves merchant performance metrics matching the search query and optionally segmented by selected dimensions.",
          "response": {
            "$ref": "SearchResponse"
          },
          "request": {
            "$ref": "SearchRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. Id of the merchant making the call. Must be a standalone account or an MCA subaccount.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.reports.search",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/reports/search"
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "list": {
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "flatPath": "{merchantId}/datafeedstatuses",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "path": "{merchantId}/datafeedstatuses",
          "id": "content.datafeedstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "get": {
          "id": "content.datafeedstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/datafeedstatuses/{datafeedId}",
          "httpMethod": "GET",
          "parameters": {
            "feedLabel": {
              "type": "string",
              "description": "The feed label to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "country": {
              "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The language to get the datafeed status for. If this parameter is provided then `country` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "flatPath": "{merchantId}/datafeedstatuses/{datafeedId}",
          "response": {
            "$ref": "DatafeedStatus"
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "path": "datafeedstatuses/batch",
          "id": "content.datafeedstatuses.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "flatPath": "datafeedstatuses/batch",
          "description": "Gets multiple Merchant Center datafeed statuses in a single request."
        }
      }
    },
    "accounttax": {
      "methods": {
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "id": "content.accounttax.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounttax/batch",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "flatPath": "accounttax/batch",
          "description": "Retrieves and updates tax settings of multiple accounts in a single request."
        },
        "get": {
          "description": "Retrieves the tax settings of the account.",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "id": "content.accounttax.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "list": {
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "flatPath": "{merchantId}/accounttax",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "path": "{merchantId}/accounttax",
          "id": "content.accounttax.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "maxResults": {
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "update": {
          "request": {
            "$ref": "AccountTax"
          },
          "id": "content.accounttax.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounttax/{accountId}",
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AccountsListResponse"
          },
          "flatPath": "{merchantId}/accounts",
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "label": {
              "type": "string",
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "location": "query",
              "format": "uint64"
            },
            "view": {
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts"
        },
        "claimwebsite": {
          "httpMethod": "POST",
          "parameters": {
            "overwrite": {
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request.",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account whose website is claimed."
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "id": "content.accounts.claimwebsite",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "description": "Claims the website of a Merchant Center sub-account. Merchant accounts with approved third-party CSSs aren't required to claim a website.",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          }
        },
        "insert": {
          "description": "Creates a Merchant Center sub-account.",
          "flatPath": "{merchantId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "id": "content.accounts.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account."
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "updatelabels": {
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "id": "content.accounts.updatelabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account whose labels are updated.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "requestphoneverification": {
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "description": "Request verification code to start phone verification.",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account."
            },
            "accountId": {
              "description": "Required. The ID of the account.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.requestphoneverification",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          }
        },
        "verifyphonenumber": {
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          },
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "accountId": {
              "description": "Required. The ID of the account.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.verifyphonenumber",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber"
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "path": "accounts/batch",
          "id": "content.accounts.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "flatPath": "accounts/batch",
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request."
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account."
            },
            "view": {
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/accounts/{accountId}",
          "id": "content.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "flatPath": "{merchantId}/accounts/{accountId}",
          "description": "Retrieves a Merchant Center account."
        },
        "link": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account that should be linked.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.link",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}/link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId."
        },
        "listlinks": {
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "flatPath": "{merchantId}/accounts/{accountId}/listlinks",
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "id": "content.accounts.listlinks",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account for which to list links.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of links to return in the response, used for pagination. The minimum allowed value is 5 results per page. If provided value is lower than 5, it will be automatically increased to 5.",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "update": {
          "flatPath": "{merchantId}/accounts/{accountId}",
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "description": "The ID of the account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}"
        },
        "delete": {
          "path": "{merchantId}/accounts/{accountId}",
          "id": "content.accounts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account."
            },
            "force": {
              "description": "Option to delete sub-accounts with products. The default value is false.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Deletes a Merchant Center sub-account.",
          "flatPath": "{merchantId}/accounts/{accountId}"
        },
        "authinfo": {
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "description": "Returns information about the authenticated user.",
          "flatPath": "accounts/authinfo",
          "path": "accounts/authinfo",
          "id": "content.accounts.authinfo",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {},
          "parameterOrder": []
        }
      },
      "resources": {
        "credentials": {
          "methods": {
            "create": {
              "response": {
                "$ref": "AccountCredentials"
              },
              "description": "Uploads credentials for the Merchant Center account. If credentials already exist for this Merchant Center account and purpose, this method updates them.",
              "flatPath": "accounts/{accountId}/credentials",
              "path": "accounts/{accountId}/credentials",
              "id": "content.accounts.credentials.create",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "description": "Required. The merchant id of the account these credentials belong to."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "AccountCredentials"
              }
            }
          }
        },
        "labels": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "flatPath": "accounts/{accountId}/labels",
              "description": "Lists the labels assigned to an account.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The account id for whose labels are to be listed."
                },
                "pageSize": {
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "content.accounts.labels.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/{accountId}/labels"
            },
            "create": {
              "description": "Creates a new label, not assigned to any account.",
              "flatPath": "accounts/{accountId}/labels",
              "response": {
                "$ref": "AccountLabel"
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "path": "accounts/{accountId}/labels",
              "id": "content.accounts.labels.create",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "description": "Required. The id of the account this label belongs to.",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId"
              ]
            },
            "patch": {
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "labelId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The id of the label to update."
                },
                "accountId": {
                  "description": "Required. The id of the account this label belongs to.",
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "path": "accounts/{accountId}/labels/{labelId}",
              "id": "content.accounts.labels.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "description": "Updates a label.",
              "response": {
                "$ref": "AccountLabel"
              }
            },
            "delete": {
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "httpMethod": "DELETE",
              "parameters": {
                "labelId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The id of the label to delete."
                },
                "accountId": {
                  "description": "Required. The id of the account that owns the label.",
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "id": "content.accounts.labels.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/{accountId}/labels/{labelId}"
            }
          }
        },
        "returncarrier": {
          "methods": {
            "delete": {
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "description": "Delete a return carrier in the merchant account.",
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                },
                "carrierAccountId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource."
                }
              },
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "id": "content.accounts.returncarrier.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true
                },
                "carrierAccountId": {
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "id": "content.accounts.returncarrier.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "description": "Updates a return carrier in the merchant account.",
              "response": {
                "$ref": "AccountReturnCarrier"
              }
            },
            "create": {
              "description": "Links return carrier to a merchant account.",
              "flatPath": "accounts/{accountId}/returncarrier",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "path": "accounts/{accountId}/returncarrier",
              "id": "content.accounts.returncarrier.create",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "path": "accounts/{accountId}/returncarrier",
              "id": "content.accounts.returncarrier.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListAccountReturnCarrierResponse"
              },
              "flatPath": "accounts/{accountId}/returncarrier",
              "description": "Lists available return carriers in the merchant account."
            }
          }
        }
      }
    },
    "freelistingsprogram": {
      "methods": {
        "requestreview": {
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "id": "content.freelistingsprogram.requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "flatPath": "{merchantId}/freelistingsprogram/requestreview"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/freelistingsprogram",
          "id": "content.freelistingsprogram.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/freelistingsprogram",
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "response": {
            "$ref": "FreeListingsProgramStatus"
          }
        }
      },
      "resources": {
        "checkoutsettings": {
          "methods": {
            "insert": {
              "description": "Enrolls merchant in `Checkout` program.",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "merchantId": {
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "merchantId"
              ]
            },
            "get": {
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "httpMethod": "GET",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the account."
                }
              },
              "parameterOrder": [
                "merchantId"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "delete": {
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program.",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "httpMethod": "DELETE",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the account."
                }
              },
              "parameterOrder": [
                "merchantId"
              ]
            }
          }
        }
      }
    },
    "returnpolicyonline": {
      "methods": {
        "create": {
          "flatPath": "{merchantId}/returnpolicyonline",
          "description": "Creates a new return policy.",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.returnpolicyonline.create",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline"
        },
        "list": {
          "response": {
            "$ref": "ListReturnPolicyOnlineResponse"
          },
          "description": "Lists all existing return policies.",
          "flatPath": "{merchantId}/returnpolicyonline",
          "id": "content.returnpolicyonline.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "get": {
          "description": "Gets an existing return policy.",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "id": "content.returnpolicyonline.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "returnPolicyId": {
              "description": "Required. The id of the return policy to retrieve.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "returnPolicyId": {
              "required": true,
              "type": "string",
              "description": "Required. The id of the return policy to delete.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "id": "content.returnpolicyonline.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "description": "Deletes an existing return policy."
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            },
            "returnPolicyId": {
              "required": true,
              "description": "Required. The id of the return policy to update.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "id": "content.returnpolicyonline.patch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "description": "Updates an existing return policy."
        }
      }
    },
    "localinventory": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "LocalInventory"
          },
          "path": "{merchantId}/products/{productId}/localinventory",
          "id": "content.localinventory.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "productId": {
              "required": true,
              "type": "string",
              "description": "The REST ID of the product for which to update local inventory.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Updates the local inventory of a product in your Merchant Center account.",
          "flatPath": "{merchantId}/products/{productId}/localinventory",
          "response": {
            "$ref": "LocalInventory"
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "id": "content.localinventory.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "localinventory/batch",
          "request": {
            "$ref": "LocalinventoryCustomBatchRequest"
          },
          "response": {
            "$ref": "LocalinventoryCustomBatchResponse"
          },
          "flatPath": "localinventory/batch",
          "description": "Updates local inventory for multiple products or stores in a single request."
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "update": {
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request.",
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "id": "content.pubsubnotificationsettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/pubsubnotificationsettings",
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "PubsubNotificationSettings"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account for which to get pubsub notification settings."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/pubsubnotificationsettings",
          "id": "content.pubsubnotificationsettings.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "response": {
            "$ref": "PubsubNotificationSettings"
          }
        }
      }
    },
    "collectionstatuses": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListCollectionStatusesResponse"
          },
          "flatPath": "{merchantId}/collectionstatuses",
          "description": "Lists the statuses of the collections in your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account."
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of collection statuses to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/collectionstatuses",
          "id": "content.collectionstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "collectionId": {
              "required": true,
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "path": "{merchantId}/collectionstatuses/{collectionId}",
          "id": "content.collectionstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/collectionstatuses/{collectionId}",
          "description": "Gets the status of a collection from your Merchant Center account.",
          "response": {
            "$ref": "CollectionStatus"
          }
        }
      }
    },
    "liasettings": {
      "methods": {
        "custombatch": {
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "flatPath": "liasettings/batch",
          "path": "liasettings/batch",
          "id": "content.liasettings.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          }
        },
        "setomnichannelexperience": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "country": {
              "description": "The CLDR country code (for example, \"US\") for which the omnichannel experience is selected.",
              "location": "query",
              "type": "string"
            },
            "pickupTypes": {
              "repeated": true,
              "description": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" ",
              "location": "query",
              "type": "string"
            },
            "lsfType": {
              "description": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here.",
              "location": "query",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account for which to retrieve accessible Business Profiles."
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.liasettings.setomnichannelexperience",
          "scopes": [
[...]
