{
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Container Analysis",
  "name": "containeranalysis",
  "version_module": true,
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "id": "containeranalysis:v1",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    }
  },
  "description": "This API is a prerequisite for leveraging Artifact Analysis scanning capabilities in Artifact Registry. In addition, the Container Analysis API is an implementation of the Grafeas API, which enables storing, querying, and retrieval of critical metadata about all of your software artifacts.",
  "kind": "discovery#restDescription",
  "title": "Container Analysis API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "occurrences": {
          "methods": {
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.testIamPermissions"
            },
            "get": {
              "description": "Gets the specified occurrence.",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.get"
            },
            "getVulnerabilitySummary": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "parameters": {
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "If set, the request will return all reachable occurrence summaries and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/occurrences:vulnerabilitySummary",
              "flatPath": "v1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "response": {
                "$ref": "VulnerabilityOccurrencesSummary"
              },
              "description": "Gets a summary of the number and severity of occurrences."
            },
            "batchCreate": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.occurrences.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/occurrences:batchCreate",
              "response": {
                "$ref": "BatchCreateOccurrencesResponse"
              },
              "request": {
                "$ref": "BatchCreateOccurrencesRequest"
              },
              "path": "v1/{+parent}/occurrences:batchCreate",
              "description": "Creates new occurrences in batch."
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Occurrence"
              },
              "request": {
                "$ref": "Occurrence"
              },
              "path": "v1/{+name}",
              "description": "Updates the specified occurrence.",
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH"
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.delete",
              "httpMethod": "DELETE"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/occurrences",
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "path": "v1/{+parent}/occurrences",
              "description": "Lists occurrences for the specified project.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "If set, the request will return all reachable Occurrences and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.list",
              "httpMethod": "GET"
            },
            "getNotes": {
              "httpMethod": "GET",
              "id": "containeranalysis.projects.occurrences.getNotes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
              "path": "v1/{+name}/notes",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "response": {
                "$ref": "Note"
              }
            },
            "create": {
              "id": "containeranalysis.projects.occurrences.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Occurrence"
              },
              "path": "v1/{+parent}/occurrences",
              "flatPath": "v1/projects/{projectsId}/occurrences",
              "response": {
                "$ref": "Occurrence"
              },
              "description": "Creates a new occurrence."
            },
            "setIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "path": "v1/{+resource}:setIamPolicy",
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "notes": {
          "methods": {
            "patch": {
              "description": "Updates the specified note.",
              "request": {
                "$ref": "Note"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Note"
              },
              "httpMethod": "PATCH",
              "id": "containeranalysis.projects.notes.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getIamPolicy": {
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
            },
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.batchCreate",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/notes:batchCreate",
              "request": {
                "$ref": "BatchCreateNotesRequest"
              },
              "flatPath": "v1/projects/{projectsId}/notes:batchCreate",
              "response": {
                "$ref": "BatchCreateNotesResponse"
              },
              "description": "Creates new notes in batch."
            },
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "path": "v1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.get",
              "description": "Gets the specified note.",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Note"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "If set, the request will return all reachable Notes and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.notes.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists notes for the specified project.",
              "flatPath": "v1/projects/{projectsId}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "path": "v1/{+parent}/notes"
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/notes",
              "response": {
                "$ref": "Note"
              },
              "request": {
                "$ref": "Note"
              },
              "path": "v1/{+parent}/notes",
              "description": "Creates a new note.",
              "parameters": {
                "noteId": {
                  "type": "string",
                  "description": "Required. The ID to use for this note.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.notes.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "path": "v1/{+resource}:setIamPolicy",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              }
            },
            "delete": {
              "description": "Deletes the specified note.",
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.notes.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of occurrences to return in the list.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "path": "v1/{+name}/occurrences",
                  "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note."
                }
              }
            }
          }
        },
        "resources": {
          "methods": {
            "exportSBOM": {
              "description": "Generates an SBOM for the given resource.",
              "path": "v1/{+name}:exportSBOM",
              "request": {
                "$ref": "ExportSBOMRequest"
              },
              "flatPath": "v1/projects/{projectsId}/resources/{resourcesId}:exportSBOM",
              "response": {
                "$ref": "ExportSBOMResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.resources.exportSBOM",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/resources/.*$",
                  "type": "string",
                  "description": "Required. The name of the resource in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "resources": {
              "methods": {
                "exportSBOM": {
                  "id": "containeranalysis.projects.locations.resources.exportSBOM",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/resources/.*$",
                      "required": true,
                      "description": "Required. The name of the resource in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExportSBOMRequest"
                  },
                  "path": "v1/{+name}:exportSBOM",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resources/{resourcesId}:exportSBOM",
                  "response": {
                    "$ref": "ExportSBOMResponse"
                  },
                  "description": "Generates an SBOM for the given resource."
                }
              }
            },
            "occurrences": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.occurrences.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "path": "v1/{+parent}/occurrences",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences",
                  "response": {
                    "$ref": "ListOccurrencesResponse"
                  },
                  "description": "Lists occurrences for the specified project.",
                  "id": "containeranalysis.projects.locations.occurrences.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The filter expression.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "If set, the request will return all reachable Occurrences and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "getNotes": {
                  "id": "containeranalysis.projects.locations.occurrences.getNotes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/notes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}/notes",
                  "response": {
                    "$ref": "Note"
                  },
                  "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project."
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "containeranalysis.projects.locations.occurrences.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new occurrence.",
                  "request": {
                    "$ref": "Occurrence"
                  },
                  "path": "v1/{+parent}/occurrences",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences",
                  "response": {
                    "$ref": "Occurrence"
                  }
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.occurrences.setIamPolicy"
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.occurrences.testIamPermissions",
                  "httpMethod": "POST"
                },
                "get": {
                  "description": "Gets the specified occurrence.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.occurrences.get"
                },
                "getVulnerabilitySummary": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences:vulnerabilitySummary",
                  "response": {
                    "$ref": "VulnerabilityOccurrencesSummary"
                  },
                  "path": "v1/{+parent}/occurrences:vulnerabilitySummary",
                  "description": "Gets a summary of the number and severity of occurrences.",
                  "parameters": {
                    "filter": {
                      "description": "The filter expression.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "If set, the request will return all reachable occurrence summaries and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "containeranalysis.projects.locations.occurrences.getVulnerabilitySummary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "batchCreate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.occurrences.batchCreate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/occurrences:batchCreate",
                  "request": {
                    "$ref": "BatchCreateOccurrencesRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences:batchCreate",
                  "response": {
                    "$ref": "BatchCreateOccurrencesResponse"
                  },
                  "description": "Creates new occurrences in batch."
                },
                "patch": {
                  "id": "containeranalysis.projects.locations.occurrences.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "The fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Occurrence"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}",
                  "response": {
                    "$ref": "Occurrence"
                  },
                  "description": "Updates the specified occurrence."
                },
                "getIamPolicy": {
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/occurrences/{occurrencesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "id": "containeranalysis.projects.locations.occurrences.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/occurrences/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "notes": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes the specified note.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.notes.delete",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "description": "Creates a new note.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes",
                  "response": {
                    "$ref": "Note"
                  },
                  "path": "v1/{+parent}/notes",
                  "request": {
                    "$ref": "Note"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "noteId": {
                      "description": "Required. The ID to use for this note.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.notes.create"
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "id": "containeranalysis.projects.locations.notes.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`.",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "description": "If set, the request will return all reachable Notes and report all unreachable regions in the `unreachable` field in the response. Only applicable for requests in the global region.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The filter expression.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.notes.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes",
                  "response": {
                    "$ref": "ListNotesResponse"
                  },
                  "path": "v1/{+parent}/notes",
                  "description": "Lists notes for the specified project."
                },
                "batchCreate": {
                  "id": "containeranalysis.projects.locations.notes.batchCreate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchCreateNotesRequest"
                  },
                  "path": "v1/{+parent}/notes:batchCreate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes:batchCreate",
                  "response": {
                    "$ref": "BatchCreateNotesResponse"
                  },
                  "description": "Creates new notes in batch."
                },
                "getIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "containeranalysis.projects.locations.notes.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "description": "Updates the specified note.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "response": {
                    "$ref": "Note"
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Note"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The fields to update.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.notes.patch"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "containeranalysis.projects.locations.notes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the specified note.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}",
                  "response": {
                    "$ref": "Note"
                  },
                  "path": "v1/{+name}"
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.locations.notes.testIamPermissions",
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "occurrences": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notes/{notesId}/occurrences",
                      "response": {
                        "$ref": "ListNoteOccurrencesResponse"
                      },
                      "path": "v1/{+name}/occurrences",
                      "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/notes/[^/]+$",
                          "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                          "location": "path"
                        },
                        "filter": {
                          "description": "The filter expression.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Number of occurrences to return in the list.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Token to provide to skip to a particular spot in the list.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "containeranalysis.projects.locations.notes.occurrences.list",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version": "v1",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "endpoints": [
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://containeranalysis.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://containeranalysis.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "ownerName": "Google",
  "revision": "20260423",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "schemas": {
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage",
      "properties": {
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        },
        "packagePath": {
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified.",
          "type": "string"
        }
      },
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object"
    },
    "Layer": {
      "type": "object",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "id": "Layer",
      "properties": {
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        },
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        }
      }
    },
    "ComplianceVersion": {
      "type": "object",
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version.",
      "id": "ComplianceVersion",
      "properties": {
        "version": {
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in.",
          "type": "string"
        },
        "cpeUri": {
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
          "type": "string"
        },
        "benchmarkDocument": {
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\".",
          "type": "string"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1"
        },
        "destPath": {
          "type": "string",
          "description": "Required. Where the artifact files should be placed on the worker."
        }
      },
      "description": "Represents a generic artifact as a build dependency.",
      "type": "object"
    },
    "ComplianceOccurrence": {
      "id": "ComplianceOccurrence",
      "properties": {
        "nonCompliantFiles": {
          "type": "array",
          "items": {
            "$ref": "NonCompliantFile"
          }
        },
        "nonComplianceReason": {
          "type": "string"
        },
        "version": {
          "description": "The OS and config version the benchmark was run on.",
          "$ref": "ComplianceVersion"
        }
      },
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "type": "object"
    },
    "Digest": {
      "id": "Digest",
      "properties": {
        "digestBytes": {
          "type": "string",
          "format": "byte",
          "description": "Value of the digest."
        },
        "algo": {
          "description": "`SHA1`, `SHA512` etc.",
          "type": "string"
        }
      },
      "description": "Digest information.",
      "type": "object"
    },
    "Volume": {
      "type": "object",
      "id": "Volume",
      "properties": {
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        }
      },
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution. Next ID: 3"
    },
    "LayerDetails": {
      "type": "object",
      "description": "Details about the layer a package was found in.",
      "id": "LayerDetails",
      "properties": {
        "diffId": {
          "description": "The diff ID (typically a sha256 hash) of the layer in the container image.",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the layer in the container image."
        },
        "command": {
          "description": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built.",
          "type": "string"
        },
        "baseImages": {
          "description": "The base images the layer is found within.",
          "type": "array",
          "items": {
            "$ref": "BaseImage"
          }
        },
        "chainId": {
          "description": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource",
      "properties": {
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
        },
        "sourceFetcher": {
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ],
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "type": "string"
        },
        "bucket": {
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "object": {
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build.",
          "type": "string"
        }
      },
      "description": "Location of the source in an archive file in Cloud Storage."
    },
    "DSSEAttestationOccurrence": {
      "id": "DSSEAttestationOccurrence",
      "properties": {
        "envelope": {
          "description": "If doing something security critical, make sure to verify the signatures in this metadata.",
          "$ref": "Envelope"
        },
        "statement": {
          "$ref": "InTotoStatement"
        }
      },
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence.",
      "type": "object"
    },
    "AISkillAnalysisOccurrence": {
      "type": "object",
      "id": "AISkillAnalysisOccurrence",
      "properties": {
        "skillName": {
          "type": "string",
          "description": "Name of the skill that produced this analysis."
        },
        "findings": {
          "type": "array",
          "items": {
            "$ref": "Finding"
          },
          "description": "Findings produced by the analysis."
        }
      },
      "description": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis."
    },
    "WindowsUpdate": {
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "id": "WindowsUpdate",
      "properties": {
        "lastPublishedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last published timestamp of the update."
        },
        "description": {
          "description": "The localized description of the update.",
          "type": "string"
        },
        "supportUrl": {
          "description": "The hyperlink to the support information for the update.",
          "type": "string"
        },
        "identity": {
          "description": "Required - The unique identifier for the update.",
          "$ref": "Identity"
        },
        "title": {
          "type": "string",
          "description": "The localized title of the update."
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories to which the update belongs."
        },
        "kbArticleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        }
      },
      "type": "object"
    },
    "CVSSv3": {
      "type": "object",
      "description": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document",
      "id": "CVSSv3",
      "properties": {
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string"
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "float",
          "description": "The base score is a function of the base metric scores."
        }
      }
    },
    "Metadata": {
      "type": "object",
      "description": "Other properties of the build.",
      "id": "Metadata",
      "properties": {
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "buildStartedOn": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of when the build started."
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "Completeness"
        },
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        }
      }
    },
    "AliasContext": {
      "type": "object",
      "id": "AliasContext",
      "properties": {
        "kind": {
          "description": "The alias kind.",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The alias name."
        }
      },
      "description": "An alias to a repo revision."
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "id": "BuildProvenance",
      "properties": {
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "Command"
          },
          "description": "Commands requested by the build."
        },
        "endTime": {
          "description": "Time at which execution of the build was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the build was created."
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "id": {
          "description": "Required. Unique identifier of the build.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which execution of the build was started."
        },
        "builtArtifacts": {
          "type": "array",
          "items": {
            "$ref": "Artifact"
          },
          "description": "Output of the build."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "description": "Output only. The state of this build's approval.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "config": {
          "description": "Output only. Configuration for manual approval of this build.",
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig"
        },
        "result": {
          "description": "Output only. Result of manual approval for this Build.",
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult"
        }
      },
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "type": "object"
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "digest": {
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SbomReferenceIntotoPredicate": {
      "id": "SbomReferenceIntotoPredicate",
      "properties": {
        "mimeType": {
          "description": "The mime type of the SBOM.",
          "type": "string"
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the SBOM."
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of algorithm to digest of the contents of the SBOM."
        }
      },
      "description": "A predicate which describes the SBOM being referenced.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepResults",
      "properties": {
        "results": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Results for a build step."
        }
      },
      "description": "Results for a build step.",
      "type": "object"
    },
    "PackageOccurrence": {
      "type": "object",
      "id": "PackageOccurrence",
      "properties": {
        "version": {
          "readOnly": true,
          "$ref": "Version",
          "description": "Output only. The version of the package."
        },
        "location": {
          "description": "All of the places within the filesystem versions of this package have been found.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "license": {
          "description": "Licenses that have been declared by the authors of the package.",
          "$ref": "License"
        },
        "packageType": {
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string",
          "readOnly": true
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "type": "string",
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Required. Output only. The name of the installed package.",
[...]
