{
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "servicePath": "content/v2.1/",
  "protocol": "rest",
  "canonicalName": "Shopping Content",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "version": "v2.1",
  "revision": "20260423",
  "ownerDomain": "google.com",
  "id": "content:v2.1",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "title": "Content API for Shopping",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "name": "content",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "schemas": {
    "RequestReviewShoppingAdsRequest": {
      "type": "object",
      "id": "RequestReviewShoppingAdsRequest",
      "description": "Request message for the RequestReviewShoppingAds program method.",
      "properties": {
        "regionCode": {
          "description": "The code [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the country for which review is to be requested.",
          "type": "string"
        }
      }
    },
    "MinimumOrderValueTable": {
      "type": "object",
      "id": "MinimumOrderValueTable",
      "properties": {
        "storeCodeSetWithMovs": {
          "type": "array",
          "items": {
            "$ref": "MinimumOrderValueTableStoreCodeSetWithMov"
          }
        }
      }
    },
    "BusinessDayConfig": {
      "type": "object",
      "id": "BusinessDayConfig",
      "properties": {
        "businessDays": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Regular business days, such as '\"monday\"'. May not be empty."
        }
      }
    },
    "InputFieldChoiceInput": {
      "properties": {
        "options": {
          "description": "A list of choices. Only one option can be selected.",
          "type": "array",
          "items": {
            "$ref": "InputFieldChoiceInputChoiceInputOption"
          }
        }
      },
      "id": "InputFieldChoiceInput",
      "description": "Choice input allows merchants to select one of the offered choices. Some choices may be linked to additional input fields that should be displayed under or next to the choice option. The value for the additional input field needs to be provided only when the specific choice is selected by the merchant. For example, additional input field can be hidden or disabled until the merchant selects the specific choice.",
      "type": "object"
    },
    "DatafeedsCustomBatchRequest": {
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "DatafeedsCustomBatchRequestEntry"
          }
        }
      },
      "id": "DatafeedsCustomBatchRequest",
      "type": "object"
    },
    "LoyaltyProgram": {
      "type": "object",
      "id": "LoyaltyProgram",
      "description": "Allows the setting up of loyalty program benefits (for example price or points). https://support.google.com/merchants/answer/12922446",
      "properties": {
        "memberPriceEffectiveDate": {
          "description": "Optional. A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "type": "string"
        },
        "shippingLabel": {
          "type": "string",
          "description": "Optional. The shipping label for the loyalty program. You can use this label to indicate whether this offer has the loyalty shipping benefit. If not specified, the item is not eligible for loyalty shipping for the given loyalty tier."
        },
        "tierLabel": {
          "type": "string",
          "description": "Required. The label of the tier within the loyalty program. Must match one of the labels within the program."
        },
        "programLabel": {
          "type": "string",
          "description": "Required. The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a merchant entity and a loyalty program entity. It must be provided so that system can associate the assets below (for example, price and points) with a merchant. The corresponding program must be linked to the merchant account."
        },
        "cashbackForFutureUse": {
          "$ref": "Price",
          "description": "Optional. The cashback that can be used for future purchases."
        },
        "loyaltyPoints": {
          "description": "Optional. The amount of loyalty points earned on a purchase.",
          "format": "int64",
          "type": "string"
        },
        "price": {
          "description": "Optional. The price for members of the given tier (instant discount price). Must be smaller or equal to the regular price.",
          "$ref": "Price"
        }
      }
    },
    "Product": {
      "properties": {
        "structuredDescription": {
          "description": "Structured description, for algorithmically (AI)-generated descriptions.",
          "$ref": "ProductStructuredDescription"
        },
        "taxes": {
          "type": "array",
          "items": {
            "$ref": "ProductTax"
          },
          "description": "Tax information."
        },
        "externalSellerId": {
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account.",
          "type": "string"
        },
        "lifestyleImageLinks": {
          "description": "Additional URLs of lifestyle images of the item. Used to explicitly identify images that showcase your item in a real-world context. See the Help Center article for more information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "shipping": {
          "description": "Shipping rules.",
          "type": "array",
          "items": {
            "$ref": "ProductShipping"
          }
        },
        "transitTimeLabel": {
          "type": "string",
          "description": "The transit time label of the product, used to group product in account-level transit time tables."
        },
        "pickupSla": {
          "description": "Item store pickup timeline. Acceptable values are: - \"`same day`\" - \"`next day`\" - \"`2-day`\" - \"`3-day`\" - \"`4-day`\" - \"`5-day`\" - \"`6-day`\" - \"`7-day`\" - \"`multi-week`\" ",
          "type": "string"
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "additionalSizeType": {
          "type": "string",
          "description": "Additional cut of the item. Used together with size_type to represent combined size types for apparel items."
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "maxEnergyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "availability": {
          "description": "Availability status of the item.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#product`\""
        },
        "feedLabel": {
          "type": "string",
          "description": "Feed label for the item. Either `targetCountry` or `feedLabel` is required. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-)."
        },
        "energyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "structuredTitle": {
          "$ref": "ProductStructuredTitle",
          "description": "Structured title, for algorithmically (AI)-generated titles."
        },
        "source": {
          "description": "Output only. The source of the offer, that is, how the offer was created. Acceptable values are: - \"`api`\" - \"`crawl`\" - \"`feed`\" ",
          "type": "string"
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "productHighlights": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant highlights of a product."
        },
        "cloudExportAdditionalProperties": {
          "description": "Extra fields to export to the Cloud Retail program.",
          "type": "array",
          "items": {
            "$ref": "CloudExportAdditionalProperties"
          }
        },
        "installment": {
          "description": "Number and amount of installments to pay for an item.",
          "$ref": "Installment"
        },
        "productTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in product data specification)."
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "mobileLink": {
          "description": "URL for the mobile-optimized version of your item's landing page.",
          "type": "string"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign."
        },
        "sustainabilityIncentives": {
          "description": "Optional. The list of sustainability incentive programs.",
          "type": "array",
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          }
        },
        "id": {
          "type": "string",
          "description": "The REST ID of the product. Content API methods that operate on products take this as their `productId` parameter. The REST ID for a product has one of the 2 forms channel:contentLanguage: targetCountry: offerId or channel:contentLanguage:feedLabel: offerId."
        },
        "autoPricingMinPrice": {
          "description": "A safeguard in the [Automated Discounts](//support.google.com/merchants/answer/10295759) and [Dynamic Promotions](//support.google.com/merchants/answer/13949249) projects, ensuring that discounts on merchants' offers do not fall below this value, thereby preserving the offer's value and profitability.",
          "$ref": "Price"
        },
        "pickupMethod": {
          "type": "string",
          "description": "The pick up option for the item. Acceptable values are: - \"`buy`\" - \"`reserve`\" - \"`ship to store`\" - \"`not supported`\" "
        },
        "adult": {
          "type": "boolean",
          "description": "Should be set to true if the item is targeted towards adults."
        },
        "virtualModelLink": {
          "type": "string",
          "description": "URL of the 3D model of the item to provide more visuals."
        },
        "excludedDestinations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of [destinations to exclude](//support.google.com/merchants/answer/6324486) for this target (corresponds to cleared check boxes in Merchant Center). Products that are excluded from all destinations for more than 7 days are automatically deleted."
        },
        "displayAdsId": {
          "type": "string",
          "description": "An identifier for an item for dynamic remarketing campaigns."
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "minHandlingTime": {
          "type": "string",
          "description": "Minimal product handling time (in business days).",
          "format": "int64"
        },
        "brand": {
          "type": "string",
          "description": "Brand of the item."
        },
        "shippingWidth": {
          "$ref": "ProductShippingDimension",
          "description": "Width of the item for shipping."
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "disclosureDate": {
          "type": "string",
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information."
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google (formerly known as Shopping Actions)."
        },
        "costOfGoodsSold": {
          "$ref": "Price",
          "description": "Cost of goods sold. Used for gross profit reporting."
        },
        "additionalImageLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional URLs of images of the item."
        },
        "adsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads.",
          "type": "string"
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "maximumRetailPrice": {
          "description": "Maximum retail price (MRP) of the item. Applicable to India only.",
          "$ref": "Price"
        },
        "link": {
          "description": "URL directly linking to your item's page on your website.",
          "type": "string"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "mobileLinkTemplate": {
          "description": "URL template for merchant hosted local storefront optimized for mobile devices.",
          "type": "string"
        },
        "adsLabels": {
          "description": "Similar to ads_grouping, but only works on CPC.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "itemGroupId": {
          "type": "string",
          "description": "Shared identifier for all variants of the same product."
        },
        "sellOnGoogleQuantity": {
          "type": "string",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products.",
          "format": "int64"
        },
        "displayAdsValue": {
          "description": "Offer margin for dynamic remarketing campaigns.",
          "format": "double",
          "type": "number"
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "displayAdsSimilarIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Advertiser-specified recommendations."
        },
        "offerId": {
          "description": "Required. A unique identifier for the item. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. Only valid unicode characters are accepted. See the products feed specification for details. *Note:* Content API methods that operate on products take the REST ID of the product, *not* this identifier.",
          "type": "string"
        },
        "loyaltyProgram": {
          "$ref": "LoyaltyProgram",
          "description": "Loyalty program information that is used to surface loyalty benefits ( for example, better pricing, points, etc) to the user of this item. This signular field points to the latest uploaded loyalty program info. This field will be deprecated in the coming weeks and should not be used in favor of the plural 'LoyaltyProgram' field below."
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "sizes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see size definition)."
        },
        "linkTemplate": {
          "type": "string",
          "description": "URL template for merchant hosted local storefront."
        },
        "gtin": {
          "description": "Global Trade Item Number (GTIN) of the item.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "subscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "ProductSubscriptionCost"
        },
        "salePrice": {
          "description": "Advertised sale price of the item.",
          "$ref": "Price"
        },
        "shoppingAdsExcludedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in MC feed settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number (MPN) of the item."
        },
        "unitPricingBaseMeasure": {
          "$ref": "ProductUnitPricingBaseMeasure",
          "description": "The preference of the denominator of the unit price."
        },
        "maxHandlingTime": {
          "type": "string",
          "description": "Maximal product handling time (in business days).",
          "format": "int64"
        },
        "pattern": {
          "description": "The item's pattern (for example, polka dots).",
          "type": "string"
        },
        "freeShippingThreshold": {
          "description": "Optional. Conditions to be met for a product to have free shipping.",
          "type": "array",
          "items": {
            "$ref": "FreeShippingThreshold"
          }
        },
        "identifierExists": {
          "type": "boolean",
          "description": "False when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Required according to the Unique Product Identifier Rules for all target countries except for Canada."
        },
        "promotionIds": {
          "description": "The unique ID of a promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "channel": {
          "type": "string",
          "description": "Required. The item's channel (online or local). Acceptable values are: - \"`local`\" - \"`online`\" "
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in ISO 8601 format. The actual expiration date in Google Shopping is exposed in `productstatuses` as `googleExpirationDate` and might be earlier if `expirationDate` is too far in the future.",
          "type": "string"
        },
        "sizeType": {
          "type": "string",
          "description": "The cut of the item. Recommended for apparel items."
        },
        "ageGroup": {
          "type": "string",
          "description": "Target age group of the item."
        },
        "adsGrouping": {
          "type": "string",
          "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise."
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "shippingLabel": {
          "type": "string",
          "description": "The shipping label of the product, used to group product in account-level shipping rules."
        },
        "taxCategory": {
          "description": "The tax category of the product, used to configure detailed tax nexus in account-level tax settings.",
          "type": "string"
        },
        "multipack": {
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack.",
          "format": "int64"
        },
        "displayAdsTitle": {
          "description": "Title of an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "material": {
          "type": "string",
          "description": "The material of which the item is made."
        },
        "certifications": {
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          },
          "description": "Product [certification](https://support.google.com/merchants/answer/13528839), introduced for EU energy efficiency labeling compliance using the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database."
        },
        "loyaltyPrograms": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "description": "Optional. A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item."
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "minEnergyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "unitPricingMeasure": {
          "description": "The measure and dimension of an item.",
          "$ref": "ProductUnitPricingMeasure"
        },
        "condition": {
          "type": "string",
          "description": "Condition or state of the item."
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "price": {
          "$ref": "Price",
          "description": "Price of the item."
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ProductShippingWeight"
        },
        "pause": {
          "description": "Publication of this item should be temporarily paused. Acceptable values are: - \"`ads`\" ",
          "type": "string"
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "type": "array",
          "items": {
            "$ref": "ProductProductDetail"
          }
        },
        "includedDestinations": {
          "description": "The list of [destinations to include](//support.google.com/merchants/answer/7501026) for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "salePriceEffectiveDate": {
          "description": "Date range during which the item is on sale (see product data specification ).",
          "type": "string"
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item's country of sale."
        },
        "shippingLength": {
          "$ref": "ProductShippingDimension",
          "description": "Length of the item for shipping."
        },
        "availabilityDate": {
          "description": "The day a pre-ordered product becomes available for delivery, in ISO 8601 format.",
          "type": "string"
        }
      },
      "id": "Product",
      "description": " Required product attributes are primarily defined by the product data specification. See the Product Data Specification Help Center article for information. Product data. After inserting, updating, or deleting a product, it may take several minutes before changes take effect. The following reference documentation lists the field names in the **camelCase** casing style while the Products Data Specification lists the names in the **snake_case** casing style.",
      "type": "object"
    },
    "GmbAccounts": {
      "id": "GmbAccounts",
      "properties": {
        "accountId": {
          "description": "The ID of the Merchant Center account.",
          "format": "uint64",
          "type": "string"
        },
        "gmbAccounts": {
          "description": "A list of Business Profiles which are available to the merchant.",
          "type": "array",
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          }
        }
      },
      "type": "object"
    },
    "WarehouseCutoffTime": {
      "id": "WarehouseCutoffTime",
      "properties": {
        "hour": {
          "type": "integer",
          "description": "Required. Hour (24-hour clock) of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse.",
          "format": "int32"
        },
        "minute": {
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ProductDeliveryTimeAreaDeliveryTime": {
      "id": "ProductDeliveryTimeAreaDeliveryTime",
      "description": "A pairing of `DeliveryArea` associated with a `DeliveryTime` for this product.",
      "properties": {
        "deliveryArea": {
          "description": "Required. The delivery area associated with `deliveryTime` for this product.",
          "$ref": "DeliveryArea"
        },
        "deliveryTime": {
          "$ref": "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime",
          "description": "Required. The delivery time associated with `deliveryArea` for this product."
        }
      },
      "type": "object"
    },
    "AccounttaxListResponse": {
      "type": "object",
      "id": "AccounttaxListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of account tax settings."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxListResponse`\"."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "AccountTax"
          }
        }
      }
    },
    "AccountsCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`claimWebsite`\" - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`link`\" - \"`update`\" ",
          "type": "string"
        },
        "account": {
          "$ref": "Account",
          "description": "The account to create or update. Only defined if the method is `insert` or `update`."
        },
        "overwrite": {
          "type": "boolean",
          "description": "Only applicable if the method is `claimwebsite`. Indicates whether or not to take the claim from another account in case there is a conflict."
        },
        "linkRequest": {
          "description": "Details about the `link` request.",
          "$ref": "AccountsCustomBatchRequestEntryLinkRequest"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "Label IDs for the 'updatelabels' request."
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the targeted account. Only defined if the method is not `insert`.",
          "format": "uint64"
        },
        "view": {
          "type": "string",
          "description": "Controls which fields are visible. Only applicable if the method is 'get'."
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "force": {
          "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is `delete`.",
          "type": "boolean"
        }
      },
      "id": "AccountsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch accounts request."
    },
    "Promotion": {
      "properties": {
        "promotionEffectiveTimePeriod": {
          "description": "Required. `TimePeriod` representation of the promotion's effective dates.",
          "$ref": "TimePeriod"
        },
        "promotionUrl": {
          "description": "URL to the page on the merchant's site where the promotion shows. Local Inventory ads promotions throw an error if no promo url is included. URL is used to confirm that the promotion is valid and can be redeemed.",
          "type": "string"
        },
        "promotionId": {
          "description": "Required. The user provided promotion ID to uniquely identify the promotion.",
          "type": "string"
        },
        "percentOff": {
          "type": "integer",
          "description": "The percentage discount offered in the promotion.",
          "format": "int32"
        },
        "moneyOffAmount": {
          "description": "The money off amount offered in the promotion.",
          "$ref": "PriceAmount"
        },
        "productApplicability": {
          "description": "Required. Applicability of the promotion to either all products or only specific products.",
          "enumDescriptions": [
            "Which products the promotion applies to is unknown.",
            "Applicable to all products.",
            "Applicable to only a single product or list of products."
          ],
          "enum": [
            "PRODUCT_APPLICABILITY_UNSPECIFIED",
            "ALL_PRODUCTS",
            "SPECIFIC_PRODUCTS"
          ],
          "type": "string"
        },
        "offerType": {
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "NO_CODE",
            "GENERIC_CODE"
          ],
          "type": "string",
          "description": "Required. Type of the promotion.",
          "enumDescriptions": [
            "Unknown offer type.",
            "Offer type without a code.",
            "Offer type with a code."
          ]
        },
        "promotionDestinationIds": {
          "description": "Destination ID for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customRedemptionRestriction": {
          "type": "string",
          "description": "The custom redemption restriction for the promotion. If the `redemption_restriction` field is set to `CUSTOM`, this field must be set."
        },
        "promotionDisplayDates": {
          "description": "String representation of the promotion display dates. Deprecated. Use `promotion_display_time_period` instead.",
          "deprecated": true,
          "type": "string"
        },
        "brand": {
          "description": "Product filter by brand for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "itemGroupIdExclusion": {
          "description": "Product filter by item group ID exclusion for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "promotionDisplayTimePeriod": {
          "description": "`TimePeriod` representation of the promotion's display dates.",
          "$ref": "TimePeriod"
        },
        "storeCode": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Store codes to include for the promotion."
        },
        "promotionStatus": {
          "readOnly": true,
          "description": "Output only. The current status of the promotion.",
          "$ref": "PromotionPromotionStatus"
        },
        "maxDiscountAmount": {
          "description": "The maximum monetary discount a customer can receive for the promotion. This field is only supported with the `Percent off` coupon value type.",
          "$ref": "PriceAmount"
        },
        "limitQuantity": {
          "description": "Maximum purchase quantity for the promotion.",
          "format": "int32",
          "type": "integer"
        },
        "genericRedemptionCode": {
          "type": "string",
          "description": "Generic redemption code for the promotion. To be used with the `offerType` field."
        },
        "itemIdExclusion": {
          "description": "Product filter by item ID exclusion for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetCountry": {
          "description": "Required. The target country used as part of the unique identifier. Can be `AU`, `CA`, `DE`, `FR`, `GB`, `IN`, `US`, `BR`, `ES`, `NL`, `JP`, `IT` or `KR`.",
          "type": "string"
        },
        "freeGiftDescription": {
          "description": "Free gift description for the promotion.",
          "type": "string"
        },
        "itemId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Product filter by item ID for the promotion."
        },
        "longTitle": {
          "description": "Required. Long title for the promotion.",
          "type": "string"
        },
        "moneyBudget": {
          "description": "Cost cap for the promotion.",
          "$ref": "PriceAmount"
        },
        "productType": {
          "description": "Product filter by product type for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "freeGiftValue": {
          "$ref": "PriceAmount",
          "description": "Free gift value for the promotion."
        },
        "freeGiftItemId": {
          "type": "string",
          "description": "Free gift item ID for the promotion."
        },
        "minimumPurchaseAmount": {
          "description": "Minimum purchase amount for the promotion.",
          "$ref": "PriceAmount"
        },
        "promotionEffectiveDates": {
          "type": "string",
          "description": "String representation of the promotion effective dates. Deprecated. Use `promotion_effective_time_period` instead.",
          "deprecated": true
        },
        "storeCodeExclusion": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Store codes to exclude for the promotion."
        },
        "contentLanguage": {
          "description": "Required. The content language used as part of the unique identifier. `en` content language is available for all target countries. `fr` content language is available for `CA` and `FR` target countries. `de` content language is available for `DE` target country. `nl` content language is available for `NL` target country. `it` content language is available for `IT` target country. `pt` content language is available for `BR` target country. `ja` content language is available for `JP` target country. `ko` content language is available for `KR` target country.",
          "type": "string"
        },
        "redemptionChannel": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Indicates that the channel is unspecified.",
              "Indicates that the channel is in store.",
              "Indicates that the channel is online."
            ],
            "enum": [
              "REDEMPTION_CHANNEL_UNSPECIFIED",
              "IN_STORE",
              "ONLINE"
            ],
            "type": "string"
          },
          "description": "Required. Redemption channel for the promotion. At least one channel is required."
        },
        "itemGroupId": {
          "description": "Product filter by item group ID for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productTypeExclusion": {
          "description": "Product filter by product type exclusion for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "limitValue": {
          "$ref": "PriceAmount",
          "description": "Maximum purchase value for the promotion."
        },
        "id": {
          "description": "Output only. The REST promotion ID to uniquely identify the promotion. Content API methods that operate on promotions take this as their `promotionId` parameter. The REST ID for a promotion is of the form channel:contentLanguage:targetCountry:promotionId The `channel` field has a value of `\"online\"`, `\"in_store\"`, or `\"online_in_store\"`.",
          "readOnly": true,
          "type": "string"
        },
        "couponValueType": {
          "enum": [
            "COUPON_VALUE_TYPE_UNSPECIFIED",
            "MONEY_OFF",
            "PERCENT_OFF",
            "BUY_M_GET_N_MONEY_OFF",
            "BUY_M_GET_N_PERCENT_OFF",
            "BUY_M_GET_MONEY_OFF",
            "BUY_M_GET_PERCENT_OFF",
            "FREE_GIFT",
            "FREE_GIFT_WITH_VALUE",
            "FREE_GIFT_WITH_ITEM_ID",
            "FREE_SHIPPING_STANDARD",
            "FREE_SHIPPING_OVERNIGHT",
            "FREE_SHIPPING_TWO_DAY"
          ],
          "type": "string",
          "description": "Required. Coupon value type for the promotion.",
          "enumDescriptions": [
            "Indicates that the coupon value type is unspecified.",
            "Money off coupon value type.",
            "Percent off coupon value type.",
            "Buy M quantity, get N money off coupon value type. `buy_this_quantity` and `get_this_quantity` must be present. `money_off_amount` must also be present.",
            "Buy M quantity, get N percent off coupon value type. `buy_this_quantity` and `get_this_quantity` must be present. `percent_off_percentage` must also be present.",
            "Buy M quantity, get money off. `buy_this_quantity` and `money_off_amount` must be present.",
            "Buy M quantity, get money off. `buy_this_quantity` and `percent_off_percentage` must be present.",
            "Free gift with description only.",
            "Free gift with value (description is optional).",
            "Free gift with item ID (description is optional).",
            "Standard free shipping coupon value type.",
            "Overnight free shipping coupon value type.",
            "Two day free shipping coupon value type."
          ]
        },
        "orderLimit": {
          "description": "Order limit for the promotion.",
          "format": "int32",
          "type": "integer"
        },
        "getThisQuantityDiscounted": {
          "description": "The number of items discounted in the promotion.",
          "format": "int32",
          "type": "integer"
        },
        "shippingServiceNames": {
          "description": "Shipping service names for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storeApplicability": {
          "description": "Whether the promotion applies to all stores, or only specified stores. Local Inventory ads promotions throw an error if no store applicability is included. An INVALID_ARGUMENT error is thrown if store_applicability is set to ALL_STORES and store_code or score_code_exclusion is set to a value.",
          "enumDescriptions": [
            "Which store codes the promotion applies to is unknown.",
            "Promotion applies to all stores.",
            "Promotion applies to only the specified stores."
          ],
          "enum": [
            "STORE_APPLICABILITY_UNSPECIFIED",
            "ALL_STORES",
            "SPECIFIC_STORES"
          ],
          "type": "string"
        },
        "minimumPurchaseQuantity": {
          "description": "Minimum purchase quantity for the promotion.",
          "format": "int32",
          "type": "integer"
        },
        "brandExclusion": {
          "description": "Product filter by brand exclusion for the promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "redemptionRestriction": {
          "description": "The redemption restriction for the promotion.",
          "enumDescriptions": [
            "The redemption restriction is unspecified.",
            "The customer must subscribe to the merchant's channel to redeem the promotion.",
            "The customer must be a first-time customer to redeem the promotion.",
            "The customer must sign up for email's to redeem the promotion.",
            "The customer must sign up for text to redeem the promotion.",
            "The customer must use a specific form of payment to redeem the promotion.",
            "The customer must meet a custom restriction to redeem the promotion. If selected, the `custom_redemption_restriction` field must be set."
          ],
          "enum": [
            "REDEMPTION_RESTRICTION_UNSPECIFIED",
            "SUBSCRIBE_AND_SAVE",
            "FIRST_ORDER",
            "SIGN_UP_FOR_EMAIL",
            "SIGN_UP_FOR_TEXT",
            "FORMS_OF_PAYMENT",
            "CUSTOM"
          ],
          "type": "string"
        }
      },
      "id": "Promotion",
      "description": "Represents a promotion. See the following articles for more details. * [Promotions feed specification](https://support.google.com/merchants/answer/2906014) * [Local promotions feed specification](https://support.google.com/merchants/answer/10146130) * [Promotions on Buy on Google product data specification](https://support.google.com/merchants/answer/9173673)",
      "type": "object"
    },
    "LiasettingsListPosDataProvidersResponse": {
      "properties": {
        "posDataProviders": {
          "description": "The list of POS data providers for each eligible country",
          "type": "array",
          "items": {
            "$ref": "PosDataProviders"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListPosDataProvidersResponse`\".",
          "type": "string"
        }
      },
      "id": "LiasettingsListPosDataProvidersResponse",
      "type": "object"
    },
    "AccountsUpdateLabelsResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsUpdateLabelsResponse`\".",
          "type": "string"
        }
      },
      "id": "AccountsUpdateLabelsResponse"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      }
    },
    "InputValue": {
      "id": "InputValue",
      "description": "Input provided by the merchant for input field.",
      "properties": {
        "textInputValue": {
          "$ref": "InputValueTextInputValue",
          "description": "Value for text input field."
        },
        "choiceInputValue": {
          "$ref": "InputValueChoiceInputValue",
          "description": "Value for choice input field."
        },
        "inputFieldId": {
          "type": "string",
          "description": "Required. Id of the corresponding input field."
        },
        "checkboxInputValue": {
          "$ref": "InputValueCheckboxInputValue",
          "description": "Value for checkbox input field."
        }
      },
      "type": "object"
    },
    "RegionalInventory": {
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "The price of the product."
        },
        "availability": {
          "description": "The availability of the product.",
          "type": "string"
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form."
        },
        "regionId": {
          "type": "string",
          "description": "The ID uniquely identifying each region."
        },
        "salePrice": {
          "$ref": "Price",
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#regionalInventory`\".",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided."
        }
      },
      "id": "RegionalInventory",
      "description": "Regional inventory resource. contains the regional name and all attributes which are overridden for the specified region.",
      "type": "object"
    },
    "InputFieldChoiceInputChoiceInputOption": {
      "type": "object",
      "id": "InputFieldChoiceInputChoiceInputOption",
      "description": "A choice that merchant can select.",
      "properties": {
        "additionalInput": {
          "$ref": "InputField",
          "description": "Input that should be displayed when this option is selected. The additional input will not contain a `ChoiceInput`."
        },
        "id": {
          "type": "string",
          "description": "Not for display but need to be sent back for the selected choice option."
        },
        "label": {
          "$ref": "TextWithTooltip",
          "description": "Short description of the choice option. There may be more information to be shown as a tooltip."
        }
      }
    },
    "AccountBusinessInformation": {
      "type": "object",
      "properties": {
        "address": {
          "description": "The address of the business. Use `\\n` to add a second address line.",
          "$ref": "AccountAddress"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the business in [E.164](https://en.wikipedia.org/wiki/E.164) format. This can only be updated if a verified phone number is not already set. To replace a verified phone number use the `Accounts.requestphoneverification` and `Accounts.verifyphonenumber`."
        },
        "koreanBusinessRegistrationNumber": {
          "description": "The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX. This field will only be updated if explicitly set.",
          "type": "string"
        },
        "customerService": {
          "$ref": "AccountCustomerService",
          "description": "The customer service information of the business."
        },
        "phoneVerificationStatus": {
          "type": "string",
          "description": "Verification status of the phone number of the business. This status is read only and can be updated only by successful phone verification. Acceptable values are: - \"`verified`\" - \"`unverified`\" "
        }
      },
      "id": "AccountBusinessInformation"
    },
    "LiasettingsCustomBatchRequestEntry": {
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "country": {
          "description": "The country code. Required only for RequestInventoryVerification.",
          "type": "string"
        },
        "liaSettings": {
          "$ref": "LiaSettings",
          "description": "The account Lia settings to update. Only defined if the method is `update`."
        },
        "contactEmail": {
          "description": "Inventory validation contact email. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the account for which to get/update account LIA settings.",
          "format": "uint64",
          "type": "string"
        },
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS provider.",
          "type": "string"
        },
        "omnichannelExperience": {
          "description": "The omnichannel experience for a country. Required only for SetOmnichannelExperience.",
          "$ref": "LiaOmnichannelExperience"
        },
        "gmbEmail": {
          "type": "string",
          "description": "The Business Profile. Required only for RequestGmbAccess."
        },
        "contactName": {
          "type": "string",
          "description": "Inventory validation contact name. Required only for SetInventoryValidationContact."
        },
        "posDataProviderId": {
          "type": "string",
          "description": "The ID of POS data provider. Required only for SetPosProvider.",
          "format": "uint64"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`getAccessibleGmbAccounts`\" - \"`requestGmbAccess`\" - \"`requestInventoryVerification`\" - \"`setInventoryVerificationContact`\" - \"`update`\" ",
          "type": "string"
        }
      },
      "id": "LiasettingsCustomBatchRequestEntry",
      "type": "object"
    },
    "RequestPhoneVerificationRequest": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number to be verified."
        },
        "languageCode": {
          "type": "string",
          "description": "Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) (for example, en-US). Language code is used to provide localized `SMS` and `PHONE_CALL`. Default language used is en-US if not provided."
        },
        "phoneVerificationMethod": {
          "enum": [
            "PHONE_VERIFICATION_METHOD_UNSPECIFIED",
            "SMS",
            "PHONE_CALL"
          ],
          "type": "string",
          "description": "Verification method to receive verification code.",
          "enumDescriptions": [
            "Unknown method.",
            "Receive verification code by SMS.",
            "Receive verification code by phone call."
          ]
        },
        "phoneRegionCode": {
          "description": "Required. Two letter country code for the phone number, for example `CA` for Canadian numbers. See the [ISO 3166-1 alpha-2](https://wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) officially assigned codes.",
          "type": "string"
        }
      },
      "id": "RequestPhoneVerificationRequest",
      "description": "Request message for the RequestPhoneVerification method.",
      "type": "object"
    },
    "LiaOmnichannelExperience": {
      "id": "LiaOmnichannelExperience",
      "description": "Omnichannel experience details.",
      "properties": {
        "lsfType": {
          "type": "string",
          "description": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here."
        },
        "pickupTypes": {
          "description": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "country": {
          "description": "The CLDR country code (for example, \"US\").",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransitTableTransitTimeRow": {
      "type": "object",
      "id": "TransitTableTransitTimeRow",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "TransitTableTransitTimeRowTransitTimeValue"
          }
        }
      }
    },
    "PosInventory": {
      "type": "object",
      "id": "PosInventory",
      "description": "The absolute quantity of an item available at the given store.",
      "properties": {
        "pickupSla": {
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory feed specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "description": "Required. The available quantity of the item.",
          "format": "int64"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventory`\"",
          "type": "string"
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        }
      }
    },
    "ConversionSource": {
      "type": "object",
      "properties": {
        "googleAnalyticsLink": {
          "description": "Immutable. Conversion Source of type \"Link to Google Analytics Property\".",
          "$ref": "GoogleAnalyticsLink"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when an archived conversion source becomes permanently deleted and is no longer available to undelete.",
          "format": "google-datetime"
        },
        "conversionSourceId": {
          "readOnly": true,
          "description": "Output only. Generated by the Content API upon creation of a new `ConversionSource`. Format: [a-z]{4}:.+ The four characters before the colon represent the type of conversio source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: - galk: For GoogleAnalyticsLink sources. - mcdn: For MerchantCenterDestination sources.",
          "type": "string"
        },
        "merchantCenterDestination": {
          "description": "Conversion Source of type \"Merchant Center Tag Destination\".",
          "$ref": "MerchantCenterDestination"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of this conversion source. Can't be edited through the API.",
          "enumDescriptions": [
            "",
            "Conversion source is fully functional.",
            "Conversion source has been archived in the last 30 days and not currently functional. Can be restored using the undelete method.",
            "Conversion source creation has started but not fully finished yet."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PENDING"
          ]
        }
      },
      "id": "ConversionSource",
      "description": "Represents a conversion source owned by a Merchant account. A merchant account can have up to 200 conversion sources."
    },
    "ProductCluster": {
      "id": "ProductCluster",
      "description": "Product cluster fields. A product cluster is a grouping for different offers that represent the same product. Values are only set for fields requested explicitly in the request's search query.",
      "properties": {
        "variantGtins": {
          "description": "GTINs of example variants of the product cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inventoryStatus": {
          "type": "string",
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ],
          "description": "Tells whether the product cluster is `IN_STOCK` in your product feed across multiple countries, `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY` at all. The field doesn't take the Best Sellers report country filter into account.",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ]
        },
        "title": {
          "type": "string",
          "description": "Title of the product cluster."
        },
        "brand": {
          "description": "Brand of the product cluster.",
          "type": "string"
        },
        "categoryL4": {
          "description": "Product category (4th level) of the product cluster, represented in Google's product taxonomy.",
          "type": "string"
        },
        "brandInventoryStatus": {
          "enum": [
            "INVENTORY_STATUS_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "NOT_IN_INVENTORY"
          ],
          "type": "string",
          "description": "Tells if there is at least one product of the brand currently `IN_STOCK` in your product feed across multiple countries, all products are `OUT_OF_STOCK` in your product feed, or `NOT_IN_INVENTORY`. The field doesn't take the Best Sellers report country filter into account.",
          "enumDescriptions": [
            "Inventory status is unknown.",
            "Merchant has a product for this product cluster or brand in stock.",
            "Merchant has a product for this product cluster or brand in inventory but it is currently out of stock.",
            "Merchant does not have a product for this product cluster or brand in inventory."
          ]
        },
        "categoryL3": {
          "type": "string",
          "description": "Product category (3rd level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL5": {
          "description": "Product category (5th level) of the product cluster, represented in Google's product taxonomy.",
          "type": "string"
        },
        "categoryL2": {
          "type": "string",
          "description": "Product category (2nd level) of the product cluster, represented in Google's product taxonomy."
        },
        "categoryL1": {
          "type": "string",
          "description": "Product category (1st level) of the product cluster, represented in Google's product taxonomy."
        }
      },
      "type": "object"
    },
    "AccounttaxCustomBatchRequest": {
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "AccounttaxCustomBatchRequestEntry"
          }
        }
      },
      "id": "AccounttaxCustomBatchRequest",
      "type": "object"
    },
    "LiaInventorySettings": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactName": {
          "type": "string",
          "description": "The name of the contact for the inventory verification process."
        },
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactEmail": {
          "description": "The email of the contact for the inventory verification process.",
          "type": "string"
        }
      },
      "id": "LiaInventorySettings",
      "type": "object"
    },
    "PickupCarrierService": {
      "type": "object",
      "id": "PickupCarrierService",
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The name of the pickup carrier (for example, `\"UPS\"`). Required."
        },
        "serviceName": {
          "description": "The name of the pickup service (for example, `\"Access point\"`). Required.",
          "type": "string"
        }
      }
    },
    "AccountAutomaticImprovements": {
      "type": "object",
      "properties": {
        "imageImprovements": {
          "$ref": "AccountImageImprovements",
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided."
        },
        "itemUpdates": {
          "$ref": "AccountItemUpdates",
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided."
        },
        "shippingImprovements": {
          "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: - Delivery address of an order - Current handling time and shipping time settings - Estimated weekdays or business days - Parcel tracking data This field is only updated (cleared) if provided.",
          "$ref": "AccountShippingImprovements"
        }
      },
      "id": "AccountAutomaticImprovements",
      "description": "The automatic improvements of the account can be used to automatically update items, improve images and shipping."
    },
    "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime": {
      "properties": {
        "minTransitTimeDays": {
          "type": "integer",
          "description": "Required. The minimum number of business days (inclusive) between when the product ships and when the product is delivered.",
          "format": "int32"
        },
        "minHandlingTimeDays": {
          "description": "Required. The minimum number of business days (inclusive) between when an order is placed and when the product ships. If a product ships in the same day, set this value to 0.",
          "format": "int32",
          "type": "integer"
        },
        "maxHandlingTimeDays": {
          "type": "integer",
          "description": "Required. The maximum number of business days (inclusive) between when an order is placed and when the product ships. If a product ships in the same day, set this value to 0.",
          "format": "int32"
        },
        "maxTransitTimeDays": {
          "description": "Required. The maximum number of business days (inclusive) between when the product ships and when the product is delivered.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ProductDeliveryTimeAreaDeliveryTimeDeliveryTime",
      "description": "A delivery time for this product.",
      "type": "object"
    },
    "HolidaysHoliday": {
      "properties": {
        "id": {
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present.",
          "type": "string"
        },
        "countryCode": {
          "description": "The CLDR territory code of the country in which the holiday is available. For example, \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present.",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "Date of the holiday, in ISO 8601 format. For example, \"2016-12-25\" for Christmas 2016. Always present."
        },
        "deliveryGuaranteeDate": {
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. For example, \"2016-12-24\" for 24th December 2016. Always present.",
          "type": "string"
        },
        "type": {
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" ",
          "type": "string"
        },
        "deliveryGuaranteeHour": {
          "type": "string",
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
          "format": "uint64"
        }
      },
      "id": "HolidaysHoliday",
      "type": "object"
    },
    "AccountStatusProducts": {
      "type": "object",
      "id": "AccountStatusProducts",
      "properties": {
        "channel": {
          "description": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" ",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country the data applies to."
        },
        "destination": {
          "type": "string",
          "description": "The destination the data applies to."
        },
        "statistics": {
          "description": "Aggregated product statistics.",
          "$ref": "AccountStatusStatistics"
        },
        "itemLevelIssues": {
          "description": "List of item-level issues.",
          "type": "array",
          "items": {
            "$ref": "AccountStatusItemLevelIssue"
          }
        }
      }
    },
    "DatafeedstatusesCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DatafeedstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "DatafeedstatusesCustomBatchRequest"
    },
    "ProductStructuredDescription": {
      "properties": {
        "digitalSourceType": {
          "type": "string",
          "description": "Optional. The digital source type. Acceptable values are: - \"`trained_algorithmic_media`\" - \"`default`\" "
        },
        "content": {
          "description": "Required. The description text. Maximum length is 5000 characters.",
          "type": "string"
        }
      },
      "id": "ProductStructuredDescription",
      "description": "Structured description, for algorithmically (AI)-generated descriptions. See [description](https://support.google.com/merchants/answer/6324468#When_to_use) for more information.",
      "type": "object"
    },
    "ProductsCustomBatchResponseEntry": {
      "id": "ProductsCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch products response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\""
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "product": {
          "$ref": "Product",
          "description": "The inserted product. Only defined if the method is `insert` and if the request was successful."
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      },
      "type": "object"
    },
    "PriceAmount": {
      "type": "object",
      "id": "PriceAmount",
      "description": "The price represented as a number and currency.",
      "properties": {
        "value": {
          "description": "The price represented as a number.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency of the price."
        }
      }
    },
    "ProductProductDetail": {
      "type": "object",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the product detail."
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        },
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        }
      },
      "id": "ProductProductDetail"
    },
    "DatafeedstatusesListResponse": {
      "type": "object",
      "id": "DatafeedstatusesListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedstatusesListResponse`\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of datafeed statuses.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "DatafeedStatus"
          }
        }
      }
    },
    "PickupServicesPickupService": {
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "The name of the pickup service (for example, `\"Access point\"`). Always present.",
          "type": "string"
        },
        "country": {
          "description": "The CLDR country code of the carrier (for example, \"US\"). Always present.",
          "type": "string"
        },
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier (for example, `\"UPS\"`). Always present."
        }
      },
      "id": "PickupServicesPickupService"
    },
    "RecommendationCreative": {
      "id": "RecommendationCreative",
      "description": "Creative is a multimedia attachment to recommendation that can be used on the frontend.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URL of the creative."
        },
        "type": {
          "type": "string",
          "enum": [
            "CREATIVE_TYPE_UNSPECIFIED",
            "VIDEO",
            "PHOTO"
          ],
          "description": "Type of the creative.",
          "enumDescriptions": [
            "Default value. If provided, shall be considered invalid.",
            "Video creatives.",
            "Photo creatives."
          ]
        }
      },
      "type": "object"
    },
    "TriggerActionPayload": {
      "properties": {
        "actionContext": {
          "type": "string",
          "description": "Required. The context from the selected action. The value is obtained from rendered issues and needs to be sent back to identify the action that is being triggered."
        },
        "actionInput": {
          "$ref": "ActionInput",
          "description": "Required. Input provided by the merchant."
        }
      },
      "id": "TriggerActionPayload",
      "description": "The payload for the triggered action.",
      "type": "object"
    },
    "TextWithTooltip": {
      "type": "object",
      "id": "TextWithTooltip",
      "description": "Block of text that may contain a tooltip with more information.",
      "properties": {
        "simpleTooltipValue": {
          "type": "string",
          "description": "Value of the tooltip as a simple text."
        },
        "simpleValue": {
          "type": "string",
          "description": "Value of the message as a simple text."
        },
        "tooltipIconStyle": {
          "description": "The suggested type of an icon for tooltip, if a tooltip is present.",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Used when the tooltip adds additional information to the context, the 'i' can be used as an icon.",
            "Used when the tooltip shows helpful information, the '?' can be used as an icon."
          ],
          "enum": [
            "TOOLTIP_ICON_STYLE_UNSPECIFIED",
            "INFO",
            "QUESTION"
          ],
          "type": "string"
        }
      }
    },
    "ListAccountReturnCarrierResponse": {
      "properties": {
        "accountReturnCarriers": {
          "description": "List of all available account return carriers for the merchant.",
          "type": "array",
          "items": {
            "$ref": "AccountReturnCarrier"
          }
        }
      },
      "id": "ListAccountReturnCarrierResponse",
      "description": "Response for listing account return carriers.",
      "type": "object"
    },
    "Action": {
      "properties": {
        "reasons": {
          "type": "array",
          "items": {
            "$ref": "ActionReason"
          },
          "description": "List of reasons why the action is not available. The list of reasons is empty if the action is available. If there is only one reason, it can be displayed next to the disabled button. If there are more reasons, all of them should be displayed, for example in a pop-up dialog."
        },
        "builtinUserInputAction": {
          "$ref": "BuiltInUserInputAction",
          "description": "Action implemented and performed in (your) third-party application. The application needs to show an additional content and input form to the merchant as specified for given action. They can trigger the action only when they provided all required inputs."
        },
        "externalAction": {
          "$ref": "ExternalAction",
          "description": "Action that is implemented and performed outside of (your) third-party application. The application needs to redirect the merchant to the external location where they can perform the action."
        },
        "buttonLabel": {
          "description": "Label of the action button.",
          "type": "string"
        },
        "builtinSimpleAction": {
          "$ref": "BuiltInSimpleAction",
          "description": "Action implemented and performed in (your) third-party application. The application should point the merchant to the place, where they can access the corresponding functionality or provide instructions, if the specific functionality is not available."
        },
        "isAvailable": {
          "description": "Controlling whether the button is active or disabled. The value is 'false' when the action was already requested or is not available. If the action is not available then a reason will be present. If (your) third-party application shows a disabled button for action that is not available, then it should also show reasons.",
          "type": "boolean"
        }
      },
      "id": "Action",
      "description": "An actionable step that can be executed to solve the issue.",
      "type": "object"
    },
    "DatafeedstatusesCustomBatchResponseEntry": {
      "type": "object",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "datafeedStatus": {
          "description": "The requested data feed status. Defined if and only if the request was successful.",
          "$ref": "DatafeedStatus"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        }
      },
      "id": "DatafeedstatusesCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch datafeedstatuses response."
    },
    "RegionGeoTargetArea": {
      "type": "object",
      "id": "RegionGeoTargetArea",
      "description": "A list of geotargets that defines the region area.",
      "properties": {
        "geotargetCriteriaIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (e.g., state).",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "DatafeedsCustomBatchResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "DatafeedsCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedsCustomBatchResponse`\".",
          "type": "string"
        }
      },
      "id": "DatafeedsCustomBatchResponse"
    },
    "UrlSettings": {
      "type": "object",
      "properties": {
        "checkoutUriTemplate": {
          "description": "URL template when the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart.",
          "type": "string"
        },
        "cartUriTemplate": {
          "type": "string",
          "description": "URL template when the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart."
        }
      },
      "id": "UrlSettings",
      "description": "Specifications related to the `Checkout` URL. The `UriTemplate` is of the form `https://www.mystore.com/checkout?item_id={id}` where `{id}` will be automatically replaced with data from the merchant account with this attribute [offer_id](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.offer_id)"
    },
    "ProductUnitPricingBaseMeasure": {
      "id": "ProductUnitPricingBaseMeasure",
      "properties": {
        "value": {
          "description": "The denominator of the unit price.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "The unit of the denominator."
        }
      },
      "type": "object"
    },
    "Weight": {
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" ",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        }
      },
      "id": "Weight",
      "type": "object"
    },
    "AccountIdentifier": {
      "type": "object",
      "properties": {
        "aggregatorId": {
          "type": "string",
          "description": "The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).",
          "format": "uint64"
        },
        "merchantId": {
          "type": "string",
          "description": "The merchant account ID, set for individual accounts and subaccounts.",
          "format": "uint64"
        }
      },
      "id": "AccountIdentifier"
    },
    "ShoppingAdsProgramStatusRegionStatus": {
      "properties": {
        "reviewIssues": {
          "description": "Issues evaluated in the review process. Fix all issues before requesting a review.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eligibilityStatus": {
          "description": "Eligibility status of the Shopping Ads program.",
          "enumDescriptions": [
            "State is not known.",
            "If the account has no issues and review is completed successfully.",
            "There are one or more issues that needs to be resolved for account to be active for the program. Detailed list of account issues are available in [accountstatuses](https://developers.google.com/shopping-content/reference/rest/v2.1/accountstatuses) API.",
            "If account has issues but offers are servable. Some of the issue can make account DISAPPROVED after a certain deadline.",
            "Account is under review.",
            "Account is waiting for review to start.",
            "Program is currently onboarding. Upload valid offers to complete onboarding."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "DISAPPROVED",
            "WARNING",
            "UNDER_REVIEW",
            "PENDING_REVIEW",
            "ONBOARDING"
          ],
          "type": "string"
        },
        "reviewEligibilityStatus": {
          "description": "If a program is eligible for review in a specific region. Only visible if `eligibilityStatus` is `DISAPPROVED`.",
          "enumDescriptions": [
            "Review eligibility state is unknown.",
            "Account is eligible for review for a specified region code.",
            "Account is not eligible for review for a specified region code."
          ],
          "enum": [
            "REVIEW_ELIGIBILITY_UNSPECIFIED",
            "ELIGIBLE",
            "INELIGIBLE"
          ],
          "type": "string"
        },
        "onboardingIssues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Issues that must be fixed to be eligible for review."
        },
        "disapprovalDate": {
          "type": "string",
          "description": "Date by which eligibilityStatus will go from `WARNING` to `DISAPPROVED`. Only visible when your eligibilityStatus is WARNING. In [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DD`."
        },
        "reviewIneligibilityReasonDetails": {
          "$ref": "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails",
          "description": "Additional information for ineligibility. If `reviewIneligibilityReason` is `IN_COOLDOWN_PERIOD`, a timestamp for the end of the cooldown period is provided."
        },
        "reviewIneligibilityReason": {
          "type": "string",
          "enum": [
            "REVIEW_INELIGIBILITY_REASON_UNSPECIFIED",
            "ONBOARDING_ISSUES",
            "NOT_ENOUGH_OFFERS",
            "IN_COOLDOWN_PERIOD",
            "ALREADY_UNDER_REVIEW",
            "NO_REVIEW_REQUIRED",
            "WILL_BE_REVIEWED_AUTOMATICALLY",
            "IS_RETIRED",
            "ALREADY_REVIEWED"
          ],
          "description": "Review ineligibility reason if account is not eligible for review.",
          "enumDescriptions": [
            "Requesting a review from Google is not possible.",
            "All onboarding issues needs to be fixed.",
            "Not enough offers uploaded for this country.",
            "Cooldown period applies. Wait until cooldown period ends.",
            "Account is already under review.",
            "No issues available to review.",
            "Account will be automatically reviewed at the end of the grace period.",
            "Account is retired. Should not appear in MC.",
            "Account has already been reviewed. You can't request further reviews."
          ]
        },
        "reviewIneligibilityReasonDescription": {
          "description": "Reason a program in a specific region isn’t eligible for review. Only visible if `reviewEligibilityStatus` is `INELIGIBLE`.",
          "type": "string"
        },
        "regionCodes": {
          "description": "The two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) codes for all the regions with the same `eligibilityStatus` and `reviewEligibility`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ShoppingAdsProgramStatusRegionStatus",
      "description": "Status of program and region.",
      "type": "object"
    },
    "AccountsCustomBatchResponseEntry": {
      "id": "AccountsCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch accounts response.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "account": {
          "$ref": "Account",
          "description": "The retrieved, created, or updated account. Not defined if the method was `delete`, `claimwebsite` or `link`."
        },
        "errors": {
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request.",
          "$ref": "Errors"
        }
      },
      "type": "object"
    },
    "RegionPostalCodeAreaPostalCodeRange": {
      "type": "object",
      "properties": {
        "begin": {
          "type": "string",
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: \"94108\", \"9410*\", \"9*\"."
        },
        "end": {
          "type": "string",
          "description": "Optional. A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin."
        }
      },
      "id": "RegionPostalCodeAreaPostalCodeRange",
      "description": "A range of postal codes that defines the region area."
    },
    "PosDataProvidersPosDataProvider": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of Pos data Provider.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name of this POS data Provider.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The ID of the account.",
          "format": "uint64"
        }
      },
      "id": "PosDataProvidersPosDataProvider"
    },
    "AccountUser": {
      "type": "object",
      "properties": {
        "paymentsAnalyst": {
          "description": "This role is deprecated and can no longer be assigned. Any value set will be ignored.",
          "deprecated": true,
          "type": "boolean"
        },
        "paymentsManager": {
          "description": "This role is deprecated and can no longer be assigned. Any value set will be ignored.",
          "deprecated": true,
          "type": "boolean"
        },
        "reportingManager": {
          "description": "Whether user is a reporting manager. This role is equivalent to the Performance and insights role in Merchant Center.",
          "type": "boolean"
        },
        "admin": {
          "description": "Whether user is an admin.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "Optional. Whether user has standard read-only access.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "orderManager": {
          "type": "boolean",
          "description": "This role is deprecated and can no longer be assigned. Any value set will be ignored.",
          "deprecated": true
        }
      },
      "id": "AccountUser"
    },
    "InputFieldTextInput": {
      "type": "object",
      "properties": {
        "formatInfo": {
          "description": "Information about the required format. If present, it should be shown close to the input field to help merchants to provide a correct value. For example: \"VAT numbers should be in a format similar to SK9999999999\"",
          "type": "string"
        },
        "type": {
          "description": "Type of the text input",
          "enumDescriptions": [
            "Default value. Will never be provided by the API.",
            "Used when a short text is expected. The field can be rendered as a [text field](https://www.w3.org/TR/2012/WD-html-markup-20121025/input.text.html#input.text).",
            "Used when a longer text is expected. The field should be rendered as a [textarea](https://www.w3.org/TR/2012/WD-html-markup-20121025/textarea.html#textarea)."
          ],
          "enum": [
            "TEXT_INPUT_TYPE_UNSPECIFIED",
            "GENERIC_SHORT_TEXT",
            "GENERIC_LONG_TEXT"
          ],
          "type": "string"
        },
        "additionalInfo": {
          "description": "Additional info regarding the field to be displayed to merchant. For example, warning to not include personal identifiable information. There may be more information to be shown in a tooltip.",
          "$ref": "TextWithTooltip"
        },
        "ariaLabel": {
          "type": "string",
          "description": "Text to be used as the [aria-label](https://www.w3.org/TR/WCAG20-TECHS/ARIA14.html) for the input."
        }
      },
      "id": "InputFieldTextInput",
      "description": "Text input allows merchants to provide a text value."
    },
    "AccountsListResponse": {
      "type": "object",
      "id": "AccountsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsListResponse`\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of accounts."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      }
    },
    "InputValueCheckboxInputValue": {
      "id": "InputValueCheckboxInputValue",
      "description": "Value for checkbox input field.",
      "properties": {
        "value": {
[...]
