{
  "batchPath": "batch",
  "version": "v2.1",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "revision": "20260303",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "basePath": "/content/v2.1/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "content",
  "resources": {
    "datafeedstatuses": {
      "methods": {
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "id": "content.datafeedstatuses.list",
          "flatPath": "{merchantId}/datafeedstatuses",
          "path": "{merchantId}/datafeedstatuses",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "path": "datafeedstatuses/batch",
          "flatPath": "datafeedstatuses/batch",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "id": "content.datafeedstatuses.custombatch",
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": []
        },
        "get": {
          "flatPath": "{merchantId}/datafeedstatuses/{datafeedId}",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "path": "{merchantId}/datafeedstatuses/{datafeedId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "type": "string"
            },
            "feedLabel": {
              "type": "string",
              "description": "The feed label to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The language to get the datafeed status for. If this parameter is provided then `country` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string"
            },
            "datafeedId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the datafeed."
            },
            "country": {
              "type": "string",
              "location": "query",
              "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target."
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.datafeedstatuses.get"
        }
      }
    },
    "csses": {
      "methods": {
        "updatelabels": {
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates labels that are assigned to a CSS domain by its CSS group.",
          "id": "content.csses.updatelabels",
          "flatPath": "{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "request": {
            "$ref": "LabelIds"
          },
          "path": "{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "response": {
            "$ref": "Css"
          },
          "httpMethod": "POST",
          "parameters": {
            "cssDomainId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the updated CSS domain."
            },
            "cssGroupId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Required. The CSS group ID of the updated CSS domain."
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Css"
          },
          "path": "{cssGroupId}/csses/{cssDomainId}",
          "flatPath": "{cssGroupId}/csses/{cssDomainId}",
          "httpMethod": "GET",
          "parameters": {
            "cssGroupId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the managing account. If this parameter is not the same as [cssDomainId](#cssDomainId), then this ID must be a CSS group ID and `cssDomainId` must be the ID of a CSS domain affiliated with this group."
            },
            "cssDomainId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the CSS domain to return."
            }
          },
          "description": "Retrieves a single CSS domain by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ],
          "id": "content.csses.get"
        },
        "list": {
          "parameterOrder": [
            "cssGroupId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists CSS domains affiliated with a CSS group.",
          "id": "content.csses.list",
          "flatPath": "{cssGroupId}/csses",
          "path": "{cssGroupId}/csses",
          "response": {
            "$ref": "ListCssesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of CSS domains to return. The service may return fewer than this value. If unspecified, at most 50 CSS domains will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            },
            "cssGroupId": {
              "location": "path",
              "format": "int64",
              "description": "Required. The CSS group ID of CSS domains to be listed.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListCsses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCsses` must match the call that provided the page token.",
              "type": "string"
            }
          }
        }
      }
    },
    "accounttax": {
      "methods": {
        "get": {
          "path": "{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account for which to get/update account tax settings.",
              "location": "path",
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the tax settings of the account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounttax.get"
        },
        "update": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.update",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "request": {
            "$ref": "AccountTax"
          },
          "response": {
            "$ref": "AccountTax"
          },
          "path": "{merchantId}/accounttax/{accountId}",
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounttax.list",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "path": "{merchantId}/accounttax",
          "flatPath": "{merchantId}/accounttax",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "custombatch": {
          "parameterOrder": [],
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.custombatch",
          "flatPath": "accounttax/batch",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "path": "accounttax/batch",
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    },
    "productstatuses": {
      "methods": {
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "productstatuses/batch",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "path": "productstatuses/batch",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "id": "content.productstatuses.custombatch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets the statuses of multiple products in a single request."
        },
        "list": {
          "flatPath": "{merchantId}/productstatuses",
          "path": "{merchantId}/productstatuses",
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "destinations": {
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "id": "content.productstatuses.list"
        },
        "get": {
          "id": "content.productstatuses.get",
          "description": "Gets the status of a product from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "productId": {
              "type": "string",
              "location": "path",
              "description": "The REST ID of the product.",
              "required": true
            },
            "destinations": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "ProductStatus"
          },
          "path": "{merchantId}/productstatuses/{productId}",
          "flatPath": "{merchantId}/productstatuses/{productId}"
        }
      }
    },
    "merchantsupport": {
      "methods": {
        "renderaccountissues": {
          "description": "Provide a list of merchant's issues with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.merchantsupport.renderaccountissues",
          "response": {
            "$ref": "RenderAccountIssuesResponse"
          },
          "path": "{merchantId}/merchantsupport/renderaccountissues",
          "flatPath": "{merchantId}/merchantsupport/renderaccountissues",
          "request": {
            "$ref": "RenderAccountIssuesRequestPayload"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the account to fetch issues for.",
              "location": "path",
              "format": "int64"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC."
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            }
          }
        },
        "renderproductissues": {
          "flatPath": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "request": {
            "$ref": "RenderProductIssuesRequestPayload"
          },
          "path": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "response": {
            "$ref": "RenderProductIssuesResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "productId": {
              "location": "path",
              "description": "Required. The [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id) of the product to fetch issues for.",
              "required": true,
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the account that contains the product.",
              "location": "path",
              "format": "int64"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC."
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Provide a list of issues for merchant's product with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "id": "content.merchantsupport.renderproductissues"
        },
        "triggeraction": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the merchant's account.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) used to localize the response. If not set, the result will be in default language `en-US`.",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/merchantsupport/triggeraction",
          "request": {
            "$ref": "TriggerActionPayload"
          },
          "path": "{merchantId}/merchantsupport/triggeraction",
          "response": {
            "$ref": "TriggerActionResponse"
          },
          "id": "content.merchantsupport.triggeraction",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Start an action. The action can be requested by merchants in third-party application. Before merchants can request the action, the third-party application needs to show them action specific content and display a user input form. You can request access using [Trigger action allowlist form](https://docs.google.com/forms/d/e/1FAIpQLSfeV_sBW9MBQv9BMTV6JZ1g11PGHLdHsrefca-9h0LmpU7CUg/viewform?usp=sharing). The action can be successfully started only once all `required` inputs are provided. If any `required` input is missing, or invalid value was provided, the service will return 400 error. Validation errors will contain Ids for all problematic field together with translated, human readable error messages that can be shown to the user."
        }
      }
    },
    "collectionstatuses": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64"
            },
            "collectionId": {
              "type": "string",
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "{merchantId}/collectionstatuses/{collectionId}",
          "path": "{merchantId}/collectionstatuses/{collectionId}",
          "response": {
            "$ref": "CollectionStatus"
          },
          "id": "content.collectionstatuses.get",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets the status of a collection from your Merchant Center account."
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of collection statuses to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListCollectionStatusesResponse"
          },
          "path": "{merchantId}/collectionstatuses",
          "flatPath": "{merchantId}/collectionstatuses",
          "id": "content.collectionstatuses.list",
          "description": "Lists the statuses of the collections in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "update": {
          "path": "{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "request": {
            "$ref": "ShippingSettings"
          },
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "description": "The ID of the account for which to get/update shipping settings.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.shippingsettings.update"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the shipping settings of the account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.shippingsettings.get",
          "path": "{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings.",
              "type": "string",
              "required": true
            }
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "path": "shippingsettings/batch",
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "flatPath": "shippingsettings/batch",
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "id": "content.shippingsettings.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "parameterOrder": []
        },
        "getsupportedcarriers": {
          "flatPath": "{merchantId}/supportedCarriers",
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "path": "{merchantId}/supportedCarriers",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves supported carriers and carrier services for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.getsupportedcarriers"
        },
        "getsupportedholidays": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "{merchantId}/supportedHolidays",
          "path": "{merchantId}/supportedHolidays",
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "id": "content.shippingsettings.getsupportedholidays",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves supported holidays for an account."
        },
        "getsupportedpickupservices": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account for which to retrieve the supported pickup services.",
              "location": "path",
              "format": "uint64"
            }
          },
          "path": "{merchantId}/supportedPickupServices",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "flatPath": "{merchantId}/supportedPickupServices",
          "id": "content.shippingsettings.getsupportedpickupservices",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves supported pickup services for an account.",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "list": {
          "id": "content.shippingsettings.list",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of shipping settings to return in the response, used for paging."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "flatPath": "{merchantId}/shippingsettings",
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "path": "{merchantId}/shippingsettings"
        }
      }
    },
    "freelistingsprogram": {
      "methods": {
        "get": {
          "flatPath": "{merchantId}/freelistingsprogram",
          "response": {
            "$ref": "FreeListingsProgramStatus"
          },
          "path": "{merchantId}/freelistingsprogram",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account.",
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.freelistingsprogram.get"
        },
        "requestreview": {
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.freelistingsprogram.requestreview",
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "required": true,
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "checkoutsettings": {
          "methods": {
            "get": {
              "parameterOrder": [
                "merchantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "id": "content.freelistingsprogram.checkoutsettings.get",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "httpMethod": "GET",
              "parameters": {
                "merchantId": {
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Enrolls merchant in `Checkout` program.",
              "parameterOrder": [
                "merchantId"
              ],
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "merchantId": {
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "delete": {
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the account."
                }
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program.",
              "parameterOrder": [
                "merchantId"
              ],
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings"
            }
          }
        }
      }
    },
    "recommendations": {
      "methods": {
        "generate": {
          "httpMethod": "GET",
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "Optional. Language code of the client. If not set, the result will be in default language (English). This language code affects all fields prefixed with \"localized\". This should be set to ISO 639-1 country code. List of currently verified supported language code: en, fr, cs, da, de, es, it, nl, no, pl, pt, pt, fi, sv, vi, tr, th, ko, zh-CN, zh-TW, ja, id, hi",
              "type": "string"
            },
            "merchantId": {
              "description": "Required. The ID of the account to fetch recommendations for.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "allowedTag": {
              "type": "string",
              "repeated": true,
              "description": "Optional. List of allowed tags. Tags are a set of predefined strings that describe the category that individual recommendation types belong to. User can specify zero or more tags in this field to indicate what categories of recommendations they want to receive. Current list of supported tags: - TREND",
              "location": "query"
            }
          },
          "path": "{merchantId}/recommendations/generate",
          "response": {
            "$ref": "GenerateRecommendationsResponse"
          },
          "flatPath": "{merchantId}/recommendations/generate",
          "id": "content.recommendations.generate",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Generates recommendations for a merchant.",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "reportInteraction": {
          "description": "Reports an interaction on a recommendation for a merchant.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.recommendations.reportInteraction",
          "path": "{merchantId}/recommendations/reportInteraction",
          "flatPath": "{merchantId}/recommendations/reportInteraction",
          "request": {
            "$ref": "ReportInteractionRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that wants to report an interaction.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "localinventory": {
      "methods": {
        "custombatch": {
          "id": "content.localinventory.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates local inventory for multiple products or stores in a single request.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "path": "localinventory/batch",
          "response": {
            "$ref": "LocalinventoryCustomBatchResponse"
          },
          "flatPath": "localinventory/batch",
          "request": {
            "$ref": "LocalinventoryCustomBatchRequest"
          }
        },
        "insert": {
          "id": "content.localinventory.insert",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Updates the local inventory of a product in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "productId": {
              "description": "The REST ID of the product for which to update local inventory.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/products/{productId}/localinventory",
          "request": {
            "$ref": "LocalInventory"
          },
          "response": {
            "$ref": "LocalInventory"
          },
          "path": "{merchantId}/products/{productId}/localinventory"
        }
      }
    },
    "collections": {
      "methods": {
        "get": {
          "id": "content.collections.get",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "description": "Retrieves a collection from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "collectionId": {
              "type": "string",
              "location": "path",
              "description": "Required. The REST ID of the collection.",
              "required": true
            }
          },
          "flatPath": "{merchantId}/collections/{collectionId}",
          "response": {
            "$ref": "Collection"
          },
          "path": "{merchantId}/collections/{collectionId}"
        },
        "create": {
          "id": "content.collections.create",
          "description": "Uploads a collection to your Merchant Center account. If a collection with the same collectionId already exists, this method updates that entry. In each update, the collection is completely replaced by the fields in the body of the update request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Collection"
          },
          "path": "{merchantId}/collections",
          "flatPath": "{merchantId}/collections",
          "request": {
            "$ref": "Collection"
          }
        },
        "list": {
          "id": "content.collections.list",
          "description": "Lists the collections in your Merchant Center account. The response might contain fewer items than specified by page_size. Rely on next_page_token to determine if there are more items to be requested.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of collections to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64"
            },
            "pageToken": {
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListCollectionsResponse"
          },
          "path": "{merchantId}/collections",
          "flatPath": "{merchantId}/collections"
        },
        "delete": {
          "path": "{merchantId}/collections/{collectionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a collection from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "flatPath": "{merchantId}/collections/{collectionId}",
          "id": "content.collections.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64"
            },
            "collectionId": {
              "type": "string",
              "location": "path",
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "required": true
            }
          }
        }
      }
    },
    "pos": {
      "methods": {
        "insert": {
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosStore"
          },
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "request": {
            "$ref": "PosStore"
          },
          "httpMethod": "POST",
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a store for the given merchant.",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "id": "content.pos.insert"
        },
        "inventory": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Submit inventory for the given merchant.",
          "id": "content.pos.inventory",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "type": "string",
              "required": true
            },
            "targetMerchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "targetMerchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosListResponse"
          },
          "id": "content.pos.list",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the stores of the target merchant."
        },
        "sale": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Submit a sale event for the given merchant.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.sale",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "request": {
            "$ref": "PosSaleRequest"
          },
          "response": {
            "$ref": "PosSaleResponse"
          },
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "httpMethod": "POST",
          "parameters": {
            "targetMerchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "response": {
            "$ref": "PosStore"
          },
          "httpMethod": "GET",
          "parameters": {
            "targetMerchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string"
            },
            "storeCode": {
              "location": "path",
              "description": "A store code that is unique per merchant.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves information about the given store.",
          "id": "content.pos.get"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "targetMerchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "storeCode": {
              "type": "string",
              "description": "A store code that is unique per merchant.",
              "required": true,
              "location": "path"
            }
          },
          "id": "content.pos.delete",
          "description": "Deletes a store for the given merchant.",
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ]
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "pos/batch",
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "path": "pos/batch",
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "id": "content.pos.custombatch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Batches multiple POS-related calls in a single request."
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "update": {
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "path": "{merchantId}/pubsubnotificationsettings",
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pubsubnotificationsettings.update"
        },
        "get": {
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "path": "{merchantId}/pubsubnotificationsettings",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account for which to get pubsub notification settings.",
              "location": "path",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "id": "content.pubsubnotificationsettings.get"
        }
      }
    },
    "ordertrackingsignals": {
      "methods": {
        "create": {
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates new order tracking signal.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.ordertrackingsignals.create",
          "flatPath": "{merchantId}/ordertrackingsignals",
          "request": {
            "$ref": "OrderTrackingSignal"
          },
          "response": {
            "$ref": "OrderTrackingSignal"
          },
          "path": "{merchantId}/ordertrackingsignals",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "The ID of the merchant for which the order signal is created."
            }
          }
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "delete": {
          "path": "{merchantId}/productdeliverytime/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes the delivery time of a product.",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "id": "content.productdeliverytime.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "required": true
            },
            "productId": {
              "type": "string",
              "location": "path",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "required": true
            }
          }
        },
        "create": {
          "id": "content.productdeliverytime.create",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates or updates the delivery time of a product.",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "{merchantId}/productdeliverytime",
          "request": {
            "$ref": "ProductDeliveryTime"
          },
          "path": "{merchantId}/productdeliverytime",
          "response": {
            "$ref": "ProductDeliveryTime"
          }
        },
        "get": {
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "path": "{merchantId}/productdeliverytime/{productId}",
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "type": "string",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets `productDeliveryTime` by `productId`.",
          "id": "content.productdeliverytime.get"
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "custombatch": {
          "id": "content.accountstatuses.custombatch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "accountstatuses/batch",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "path": "accountstatuses/batch",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          }
        },
        "list": {
          "flatPath": "{merchantId}/accountstatuses",
          "path": "{merchantId}/accountstatuses",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of account statuses to return in the response, used for paging."
            },
            "name": {
              "location": "query",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "type": "string"
            },
            "destinations": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "id": "content.accountstatuses.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accountstatuses.get",
          "path": "{merchantId}/accountstatuses/{accountId}",
          "response": {
            "$ref": "AccountStatus"
          },
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string"
            },
            "destinations": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account.",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "products": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Product"
          },
          "path": "{merchantId}/products",
          "flatPath": "{merchantId}/products",
          "request": {
            "$ref": "Product"
          },
          "httpMethod": "POST",
          "parameters": {
            "feedId": {
              "type": "string",
              "description": "The Content API Supplemental Feed ID. If present then product insertion applies to the data in a supplemental feed.",
              "location": "query",
              "format": "uint64"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.products.insert"
        },
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "id": "content.products.list",
          "flatPath": "{merchantId}/products",
          "path": "{merchantId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          }
        },
        "update": {
          "description": "Updates an existing product in your Merchant Center account. Only updates attributes provided in the request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "id": "content.products.update",
          "response": {
            "$ref": "Product"
          },
          "path": "{merchantId}/products/{productId}",
          "flatPath": "{merchantId}/products/{productId}",
          "request": {
            "$ref": "Product"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "productId": {
              "type": "string",
              "description": "The REST ID of the product for which to update.",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "The comma-separated list of product attributes to be updated. Example: `\"title,salePrice\"`. Attributes specified in the update mask without a value specified in the body will be deleted from the product. *You must specify the update mask to delete attributes.* Only top-level product attributes can be updated. If not defined, product attributes with set values will be updated and other attributes will stay unchanged.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a product from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "id": "content.products.get",
          "path": "{merchantId}/products/{productId}",
          "response": {
            "$ref": "Product"
          },
          "flatPath": "{merchantId}/products/{productId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "productId": {
              "type": "string",
              "location": "path",
              "description": "The REST ID of the product.",
              "required": true
            }
          }
        },
        "custombatch": {
          "parameterOrder": [],
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.custombatch",
          "flatPath": "products/batch",
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "path": "products/batch",
          "httpMethod": "POST",
          "parameters": {}
        },
        "delete": {
          "id": "content.products.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "feedId": {
              "location": "query",
              "format": "uint64",
              "description": "The Content API Supplemental Feed ID. If present then product deletion applies to the data in a supplemental feed. If absent, entire product will be deleted.",
              "type": "string"
            },
            "productId": {
              "type": "string",
              "description": "The REST ID of the product.",
              "required": true,
              "location": "path"
            }
          },
          "path": "{merchantId}/products/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a product from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/products/{productId}"
        }
      }
    },
    "regionalinventory": {
      "methods": {
        "custombatch": {
          "response": {
            "$ref": "RegionalinventoryCustomBatchResponse"
          },
          "path": "regionalinventory/batch",
          "flatPath": "regionalinventory/batch",
          "request": {
            "$ref": "RegionalinventoryCustomBatchRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Updates regional inventory for multiple products or regions in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "id": "content.regionalinventory.custombatch"
        },
        "insert": {
          "id": "content.regionalinventory.insert",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Updates the regional inventory of a product in your Merchant Center account. If a regional inventory with the same region ID already exists, this method updates that entry.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "productId": {
              "type": "string",
              "location": "path",
              "description": "The REST ID of the product for which to update the regional inventory.",
              "required": true
            }
          },
          "flatPath": "{merchantId}/products/{productId}/regionalinventory",
          "request": {
            "$ref": "RegionalInventory"
          },
          "response": {
            "$ref": "RegionalInventory"
          },
          "path": "{merchantId}/products/{productId}/regionalinventory"
        }
      }
    },
    "datafeeds": {
      "methods": {
        "update": {
          "id": "content.datafeeds.update",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "httpMethod": "PUT",
          "parameters": {
            "datafeedId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "request": {
            "$ref": "Datafeed"
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          }
        },
        "get": {
          "id": "content.datafeeds.get",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "datafeedId": {
              "required": true,
              "type": "string",
              "description": "The ID of the datafeed.",
              "location": "path",
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          }
        },
        "custombatch": {
          "id": "content.datafeeds.custombatch",
          "parameterOrder": [],
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "datafeeds/batch",
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "path": "datafeeds/batch"
        },
        "delete": {
          "id": "content.datafeeds.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "datafeedId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the datafeed."
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a datafeed configuration from your Merchant Center account."
        },
        "insert": {
          "id": "content.datafeeds.insert",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/datafeeds",
          "request": {
            "$ref": "Datafeed"
          },
          "path": "{merchantId}/datafeeds",
          "response": {
            "$ref": "Datafeed"
          }
        },
        "fetchnow": {
          "id": "content.datafeeds.fetchnow",
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the [Products service](https://developers.google.com/shopping-content/reference/rest/v2.1/products) to update your product data.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "datafeedId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the datafeed to be fetched."
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "path": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}/fetchNow"
        },
        "list": {
          "id": "content.datafeeds.list",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "flatPath": "{merchantId}/datafeeds",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "path": "{merchantId}/datafeeds"
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AccountsListResponse"
          },
          "path": "{merchantId}/accounts",
          "flatPath": "{merchantId}/accounts",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "location": "query",
              "type": "string"
            },
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "location": "query",
              "format": "uint64",
              "type": "string"
            },
            "name": {
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "type": "integer"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounts.list"
        },
        "authinfo": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Returns information about the authenticated user.",
          "parameterOrder": [],
          "id": "content.accounts.authinfo",
          "path": "accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "flatPath": "accounts/authinfo",
          "httpMethod": "GET",
          "parameters": {}
        },
        "custombatch": {
          "parameterOrder": [],
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.custombatch",
          "flatPath": "accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "path": "accounts/batch",
          "httpMethod": "POST",
          "parameters": {}
        },
        "update": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.update",
          "flatPath": "{merchantId}/accounts/{accountId}",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "path": "{merchantId}/accounts/{accountId}",
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account.",
              "location": "path",
              "format": "uint64"
            }
          }
        },
        "updatelabels": {
          "id": "content.accounts.updatelabels",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account whose labels are updated.",
              "location": "path",
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          }
        },
        "verifyphonenumber": {
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.verifyphonenumber",
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          },
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "int64"
            },
            "accountId": {
              "description": "Required. The ID of the account.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        },
        "link": {
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "path": "{merchantId}/accounts/{accountId}/link",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that should be linked.",
              "location": "path",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.link"
        },
        "insert": {
          "flatPath": "{merchantId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "path": "{merchantId}/accounts",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a Merchant Center sub-account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.insert"
        },
        "requestphoneverification": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "type": "string",
              "required": true
            }
          },
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          },
          "id": "content.accounts.requestphoneverification",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Request verification code to start phone verification.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "claimwebsite": {
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "httpMethod": "POST",
          "parameters": {
            "overwrite": {
              "type": "boolean",
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request.",
              "location": "query"
            },
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account whose website is claimed.",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Claims the website of a Merchant Center sub-account. Merchant accounts with approved third-party CSSs aren't required to claim a website.",
          "scopes": [
[...]
