{
  "basePath": "",
  "revision": "20260331",
  "batchPath": "batch",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Container",
  "version_module": true,
  "name": "container",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "baseUrl": "https://container.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "id": "container:v1beta1",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "title": "Kubernetes Engine API",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "rootUrl": "https://container.googleapis.com/",
  "schemas": {
    "UpgradeInfoEvent": {
      "id": "UpgradeInfoEvent",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time when the operation ended.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "STARTED",
            "SUCCEEDED",
            "FAILED",
            "CANCELED"
          ],
          "enumDescriptions": [
            "STATE_UNSPECIFIED indicates the state is unspecified.",
            "SCHEDULED indicates the upgrade was scheduled.",
            "STARTED indicates the upgrade has started.",
            "SUCCEEDED indicates the upgrade has completed successfully.",
            "FAILED indicates the upgrade has failed.",
            "CANCELED indicates the upgrade has canceled."
          ],
          "description": "Output only. The state of the upgrade.",
          "type": "string"
        },
        "extendedSupportEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of extended support timestamp."
        },
        "startTime": {
          "description": "The time when the operation was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetVersion": {
          "description": "The target version for the upgrade.",
          "type": "string"
        },
        "disruptionEvent": {
          "description": "The information about the disruption event. This field is only populated when event_type is DISRUPTION_EVENT.",
          "$ref": "DisruptionEvent"
        },
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "standardSupportEndTime": {
          "description": "The end of standard support timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type associated with the upgrade.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ]
        },
        "operation": {
          "type": "string",
          "description": "The operation associated with this upgrade."
        },
        "targetEmulatedVersion": {
          "description": "The target emulated version for the upgrade.",
          "type": "string"
        },
        "currentEmulatedVersion": {
          "type": "string",
          "description": "The current emulated version before the upgrade."
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        },
        "description": {
          "description": "A brief description of the event.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "EVENT_TYPE_UNSPECIFIED indicates the event type is unspecified.",
            "END_OF_SUPPORT indicates GKE version reaches end of support, check standard_support_end_time and extended_support_end_time for more details.",
            "COS_MILESTONE_VERSION_UPDATE indicates that the COS node image will update COS milestone version for new patch versions starting with the one in the description.",
            "UPGRADE_LIFECYCLE indicates the event is about the upgrade lifecycle.",
            "DISRUPTION_EVENT indicates the event is about the disruption."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "END_OF_SUPPORT",
            "COS_MILESTONE_VERSION_UPDATE",
            "UPGRADE_LIFECYCLE",
            "DISRUPTION_EVENT"
          ],
          "description": "The type of the event.",
          "type": "string"
        }
      },
      "description": "UpgradeInfoEvent is a notification sent to customers about the upgrade information of a resource."
    },
    "ReleaseChannelConfig": {
      "type": "object",
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "id": "ReleaseChannelConfig",
      "properties": {
        "validVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid versions for the channel."
        },
        "upgradeTargetVersion": {
          "type": "string",
          "description": "The auto upgrade target version for clusters on the channel."
        },
        "defaultVersion": {
          "description": "The default version for newly created clusters on the channel.",
          "type": "string"
        },
        "availableVersions": {
          "description": "Deprecated. This field has been deprecated and replaced with the valid_versions field.",
          "items": {
            "$ref": "AvailableVersion"
          },
          "type": "array",
          "deprecated": true
        },
        "channel": {
          "description": "The release channel this configuration applies to.",
          "type": "string",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production.",
            "Clusters subscribed to EXTENDED receive extended support and availability for versions which are known to be stable and reliable in production."
          ],
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED"
          ]
        }
      }
    },
    "SetNodePoolAutoscalingRequest": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "autoscaling": {
          "description": "Required. Autoscaling configuration for the node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        }
      },
      "id": "SetNodePoolAutoscalingRequest",
      "type": "object",
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool."
    },
    "Metric": {
      "type": "object",
      "description": "Progress metric is (string, int|float|string) pair.",
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "For metrics with floating point value."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "For metrics with integer value."
        },
        "name": {
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\".",
          "type": "string"
        },
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        }
      },
      "id": "Metric"
    },
    "DatabaseEncryption": {
      "description": "Configuration of etcd encryption.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED",
            "ALL_OBJECTS_ENCRYPTION_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption.",
            "Encryption of all objects in the storage is enabled. There is no guarantee that all objects in the storage are encrypted, but eventually they will be."
          ],
          "description": "The desired state of etcd encryption."
        },
        "currentState": {
          "enum": [
            "CURRENT_STATE_UNSPECIFIED",
            "CURRENT_STATE_ENCRYPTED",
            "CURRENT_STATE_DECRYPTED",
            "CURRENT_STATE_ENCRYPTION_PENDING",
            "CURRENT_STATE_ENCRYPTION_ERROR",
            "CURRENT_STATE_DECRYPTION_PENDING",
            "CURRENT_STATE_DECRYPTION_ERROR",
            "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ENABLED",
            "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_PENDING",
            "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ERROR"
          ],
          "description": "Output only. The current state of etcd encryption.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption.",
            "Encryption (or re-encryption with a different CloudKMS key) of Secrets is in progress.",
            "Encryption (or re-encryption with a different CloudKMS key) of Secrets in etcd encountered an error.",
            "De-crypting Secrets to plain text in etcd is in progress.",
            "De-crypting Secrets to plain text in etcd encountered an error.",
            "Encryption of all objects in the storage is enabled. It does not guarantee that all objects in the storage are encrypted, but eventually they will be.",
            "Enablement of the encryption of all objects in storage is pending.",
            "Enabling encryption of all objects in storage encountered an error."
          ]
        },
        "decryptionKeys": {
          "description": "Output only. Keys in use by the cluster for decrypting existing objects, in addition to the key in `key_name`. Each item is a CloudKMS key resource.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "keyName": {
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key",
          "type": "string"
        },
        "lastOperationErrors": {
          "items": {
            "$ref": "OperationError"
          },
          "type": "array",
          "description": "Output only. Records errors seen during DatabaseEncryption update operations.",
          "readOnly": true
        }
      },
      "id": "DatabaseEncryption"
    },
    "RayClusterMonitoringConfig": {
      "properties": {
        "enabled": {
          "description": "Enable metrics collection for Ray clusters.",
          "type": "boolean"
        }
      },
      "description": "RayClusterMonitoringConfig specifies monitoring configuration for Ray clusters.",
      "type": "object",
      "id": "RayClusterMonitoringConfig"
    },
    "MemoryManager": {
      "id": "MemoryManager",
      "properties": {
        "policy": {
          "description": "Controls the memory management policy on the Node. See https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/#policies The following values are allowed. * \"none\" * \"static\" The default value is 'none' if unspecified.",
          "type": "string"
        }
      },
      "description": "The option enables the Kubernetes NUMA-aware Memory Manager feature. Detailed description about the feature can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/).",
      "type": "object"
    },
    "NodeKernelModuleLoading": {
      "description": "Configuration for kernel module loading on nodes.",
      "properties": {
        "policy": {
          "enum": [
            "POLICY_UNSPECIFIED",
            "ENFORCE_SIGNED_MODULES",
            "DO_NOT_ENFORCE_SIGNED_MODULES"
          ],
          "description": "Set the node module loading policy for nodes in the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Default behavior. GKE selects the image based on node type. For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not.",
            "Enforced signature verification: Node pools will use a Container-Optimized OS image configured to allow loading of *Google-signed* external kernel modules. Loadpin is enabled but configured to exclude modules, and kernel module signature checking is enforced.",
            "Mirrors existing DEFAULT behavior: For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not."
          ]
        }
      },
      "id": "NodeKernelModuleLoading",
      "type": "object"
    },
    "AutopilotConversionStatus": {
      "type": "object",
      "description": "AutopilotConversionStatus represents conversion status.",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the conversion.",
          "enumDescriptions": [
            "STATE_UNSPECIFIED indicates the state is unspecified.",
            "DONE indicates the conversion has been completed. Old node pools will continue being deleted in the background."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DONE"
          ]
        }
      },
      "id": "AutopilotConversionStatus"
    },
    "AccurateTimeConfig": {
      "type": "object",
      "description": "AccurateTimeConfig contains configuration for the accurate time synchronization feature.",
      "properties": {
        "enablePtpKvmTimeSync": {
          "type": "boolean",
          "description": "Enables enhanced time synchronization using PTP-KVM."
        }
      },
      "id": "AccurateTimeConfig"
    },
    "Autopilot": {
      "id": "Autopilot",
      "properties": {
        "privilegedAdmissionConfig": {
          "description": "PrivilegedAdmissionConfig is the configuration related to privileged admission control.",
          "$ref": "PrivilegedAdmissionConfig"
        },
        "workloadPolicyConfig": {
          "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
          "$ref": "WorkloadPolicyConfig"
        },
        "conversionStatus": {
          "description": "Output only. ConversionStatus shows conversion status.",
          "$ref": "AutopilotConversionStatus",
          "readOnly": true
        },
        "clusterPolicyConfig": {
          "description": "ClusterPolicyConfig denotes cluster level policies that are enforced for the cluster.",
          "$ref": "ClusterPolicyConfig"
        },
        "enabled": {
          "description": "Enable Autopilot",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Autopilot is the configuration for Autopilot settings on the cluster."
    },
    "EvictionGracePeriod": {
      "properties": {
        "nodefsInodesFree": {
          "type": "string",
          "description": "Optional. Grace period for eviction due to nodefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "nodefsAvailable": {
          "description": "Optional. Grace period for eviction due to nodefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsAvailable": {
          "description": "Optional. Grace period for eviction due to imagefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "memoryAvailable": {
          "type": "string",
          "description": "Optional. Grace period for eviction due to memory available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "imagefsInodesFree": {
          "type": "string",
          "description": "Optional. Grace period for eviction due to imagefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
        },
        "pidAvailable": {
          "description": "Optional. Grace period for eviction due to pid available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        }
      },
      "id": "EvictionGracePeriod",
      "type": "object",
      "description": "Eviction grace periods are grace periods for each eviction signal."
    },
    "ServerConfig": {
      "properties": {
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "validMasterVersions": {
          "type": "array",
          "description": "List of valid master versions, in descending order.",
          "items": {
            "type": "string"
          }
        },
        "validNodeVersions": {
          "description": "List of valid node upgrade target versions, in descending order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "windowsVersionMaps": {
          "additionalProperties": {
            "$ref": "WindowsVersions"
          },
          "description": "Maps of Kubernetes version and supported Windows server versions.",
          "type": "object"
        },
        "defaultImageType": {
          "type": "string",
          "description": "Default image type."
        },
        "validImageTypes": {
          "description": "List of valid image types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channels": {
          "items": {
            "$ref": "ReleaseChannelConfig"
          },
          "description": "List of release channel configurations.",
          "type": "array"
        }
      },
      "id": "ServerConfig",
      "description": "Kubernetes Engine service configuration.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations in the project in the specified zone.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of operations returned may be missing the operations from those zones."
        }
      }
    },
    "DailyMaintenanceWindow": {
      "properties": {
        "duration": {
          "readOnly": true,
          "description": "Output only. Duration of the time window, automatically chosen to be smallest possible in the given scenario.",
          "type": "string"
        },
        "startTime": {
          "description": "Time within the maintenance window to start the maintenance operations. It must be in format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT.",
          "type": "string"
        }
      },
      "description": "Time window specified for daily maintenance operations.",
      "id": "DailyMaintenanceWindow",
      "type": "object"
    },
    "CertificateConfig": {
      "id": "CertificateConfig",
      "description": "CertificateConfig configures certificate for the registry.",
      "type": "object",
      "properties": {
        "gcpSecretManagerSecretUri": {
          "type": "string",
          "description": "The URI configures a secret from [Secret Manager](https://cloud.google.com/secret-manager) in the format \"projects/$PROJECT_ID/secrets/$SECRET_NAME/versions/$VERSION\" for global secret or \"projects/$PROJECT_ID/locations/$REGION/secrets/$SECRET_NAME/versions/$VERSION\" for regional secret. Version can be fixed (e.g. \"2\") or \"latest\""
        }
      }
    },
    "UpdateMasterRequest": {
      "properties": {
        "zone": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "masterVersion": {
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpdateMasterRequest",
      "description": "UpdateMasterRequest updates the master of the cluster."
    },
    "NodePoolUpgradeInfo": {
      "properties": {
        "endOfExtendedSupportTimestamp": {
          "description": "The node pool's current minor version's end of extended support timestamp.",
          "type": "string"
        },
        "autoUpgradeStatus": {
          "description": "The auto upgrade status.",
          "items": {
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ],
            "type": "string",
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ]
          },
          "type": "array"
        },
        "patchTargetVersion": {
          "description": "patch_target_version indicates the target version for patch upgrade.",
          "type": "string"
        },
        "upgradeDetails": {
          "items": {
            "$ref": "UpgradeDetails"
          },
          "description": "The list of past auto upgrades.",
          "type": "array"
        },
        "pausedReason": {
          "items": {
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "SYSTEM_CONFIG"
            ],
            "type": "string",
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ]
          },
          "description": "The auto upgrade paused reason.",
          "type": "array"
        },
        "minorTargetVersion": {
          "type": "string",
          "description": "minor_target_version indicates the target version for minor upgrade."
        },
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The node pool's current minor version's end of standard support timestamp."
        }
      },
      "type": "object",
      "id": "NodePoolUpgradeInfo",
      "description": "NodePoolUpgradeInfo contains the upgrade information of a node pool."
    },
    "RollbackSafeUpgrade": {
      "description": "RollbackSafeUpgrade is the configuration for the rollback safe upgrade.",
      "type": "object",
      "properties": {
        "controlPlaneSoakDuration": {
          "description": "A user-defined period for the cluster remains in the rollbackable state. ex: {seconds: 21600}.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "RollbackSafeUpgrade"
    },
    "QueuedProvisioning": {
      "type": "object",
      "description": "QueuedProvisioning defines the queued provisioning used by the node pool.",
      "properties": {
        "enabled": {
          "description": "Denotes that this node pool is QRM specific, meaning nodes can be only obtained through queuing via the Cluster Autoscaler ProvisioningRequest API.",
          "type": "boolean"
        }
      },
      "id": "QueuedProvisioning"
    },
    "RayClusterLoggingConfig": {
      "properties": {
        "enabled": {
          "description": "Enable log collection for Ray clusters.",
          "type": "boolean"
        }
      },
      "description": "RayClusterLoggingConfig specifies logging configuration for Ray clusters.",
      "id": "RayClusterLoggingConfig",
      "type": "object"
    },
    "GetOpenIDConfigResponse": {
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "id": "GetOpenIDConfigResponse",
      "properties": {
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "grant_types": {
          "description": "Supported grant types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id_token_signing_alg_values_supported": {
          "description": "supported ID Token signing Algorithms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "response_types_supported": {
          "description": "Supported response types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subject_types_supported": {
          "type": "array",
          "description": "Supported subject types.",
          "items": {
            "type": "string"
          }
        },
        "jwks_uri": {
          "description": "JSON Web Key uri.",
          "type": "string"
        },
        "claims_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported claims."
        },
        "cacheHeader": {
          "description": "For HTTP requests, this field is automatically extracted into the Cache-Control HTTP header.",
          "$ref": "HttpCacheControlResponseHeader"
        }
      },
      "type": "object"
    },
    "GetJSONWebKeysResponse": {
      "type": "object",
      "properties": {
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "For HTTP requests, this field is automatically extracted into the Cache-Control HTTP header."
        },
        "keys": {
          "description": "The public component of the keys used by the cluster to sign token requests.",
          "items": {
            "$ref": "Jwk"
          },
          "type": "array"
        }
      },
      "id": "GetJSONWebKeysResponse",
      "description": "GetJSONWebKeysResponse is a valid JSON Web Key Set as specified in rfc 7517"
    },
    "MaxPodsConstraint": {
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "Constraint enforced on the max num of pods per node.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Constraints applied to pods.",
      "id": "MaxPodsConstraint"
    },
    "EnterpriseConfig": {
      "id": "EnterpriseConfig",
      "deprecated": true,
      "properties": {
        "clusterTier": {
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "description": "Output only. cluster_tier indicates the effective tier of the cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ]
        },
        "desiredTier": {
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "type": "string",
          "description": "desired_tier specifies the desired tier of the cluster.",
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ]
        }
      },
      "description": "EnterpriseConfig is the cluster enterprise configuration. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
      "type": "object"
    },
    "DefaultSnatStatus": {
      "type": "object",
      "id": "DefaultSnatStatus",
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Disables cluster default sNAT rules."
        }
      }
    },
    "LoggingComponentConfig": {
      "id": "LoggingComponentConfig",
      "description": "LoggingComponentConfig is cluster logging component configuration.",
      "type": "object",
      "properties": {
        "enableComponents": {
          "description": "Select components to collect logs. An empty set would disable all logging.",
          "type": "array",
          "items": {
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "KCP_SSHD",
              "KCP_CONNECTION",
              "KCP_HPA"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "workloads",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "kcp-sshd",
              "kcp connection logs",
              "horizontal pod autoscaler decision logs"
            ]
          }
        }
      }
    },
    "IPEndpointsConfig": {
      "description": "IP endpoints configuration.",
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The internal IP address of this cluster's control plane. Only populated if enabled."
        },
        "privateEndpointSubnetwork": {
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. It is invalid to specify both PrivateClusterConfig.privateEndpointSubnetwork and this field at the same time.",
          "type": "string"
        },
        "publicEndpoint": {
          "type": "string",
          "description": "Output only. The external IP address of this cluster's control plane. Only populated if enabled.",
          "readOnly": true
        },
        "globalAccess": {
          "type": "boolean",
          "description": "Controls whether the control plane's private endpoint is accessible from sources in other regions. It is invalid to specify both PrivateClusterMasterGlobalAccessConfig.enabled and this field at the same time."
        },
        "enablePublicEndpoint": {
          "type": "boolean",
          "description": "Controls whether the control plane allows access through a public IP. It is invalid to specify both PrivateClusterConfig.enablePrivateEndpoint and this field at the same time."
        },
        "authorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "Configuration of authorized networks. If enabled, restricts access to the control plane based on source IP. It is invalid to specify both Cluster.masterAuthorizedNetworksConfig and this field at the same time."
        },
        "enabled": {
          "description": "Controls whether to allow direct IP access.",
          "type": "boolean"
        }
      },
      "id": "IPEndpointsConfig"
    },
    "Fleet": {
      "description": "Fleet is the fleet configuration for the cluster.",
      "id": "Fleet",
      "type": "object",
      "properties": {
        "membership": {
          "description": "Output only. The full resource name of the registered fleet membership of the cluster, in the format `//gkehub.googleapis.com/projects/*/locations/*/memberships/*`.",
          "readOnly": true,
          "type": "string"
        },
        "membershipType": {
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "description": "The type of the cluster's fleet membership."
        },
        "preRegistered": {
          "type": "boolean",
          "description": "Output only. Whether the cluster has been registered through the fleet API.",
          "readOnly": true
        },
        "project": {
          "description": "The Fleet host project(project ID or project number) where this cluster will be registered to. This field cannot be changed after the cluster has been registered.",
          "type": "string"
        }
      }
    },
    "AutoIpamConfig": {
      "description": "AutoIpamConfig contains all information related to Auto IPAM",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The flag that enables Auto IPAM on this cluster"
        }
      },
      "id": "AutoIpamConfig"
    },
    "UpdateNodePoolRequest": {
      "type": "object",
      "description": "SetNodePoolVersionRequest updates the version of a node pool.",
      "properties": {
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS config."
        },
        "etag": {
          "description": "The current etag of the node pool. If an etag is provided and does not match the current etag of the node pool, update will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "resourceLabels": {
          "$ref": "ResourceLabels",
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources."
        },
        "queuedProvisioning": {
          "$ref": "QueuedProvisioning",
          "description": "Specifies the configuration of queued provisioning."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "storagePools": {
          "description": "List of Storage Pools where boot disks are provisioned. Existing Storage Pools will be replaced with storage-pools.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "flexStart": {
          "type": "boolean",
          "description": "Flex Start flag for enabling Flex Start VM."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "taints": {
          "description": "The desired node taints to be applied to all nodes in the node pool. If this field is not present, the taints will not be changed. Otherwise, the existing node taints will be *replaced* with the provided taints.",
          "$ref": "NodeTaints"
        },
        "nodeNetworkConfig": {
          "description": "Node network config.",
          "$ref": "NodeNetworkConfig"
        },
        "loggingConfig": {
          "$ref": "NodePoolLoggingConfig",
          "description": "Logging configuration."
        },
        "imageType": {
          "description": "Required. The desired image type for the node pool. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types.",
          "type": "string"
        },
        "windowsNodeConfig": {
          "description": "Parameters that can be configured on Windows nodes.",
          "$ref": "WindowsNodeConfig"
        },
        "gvnic": {
          "description": "Enable or disable gvnic on the node pool.",
          "$ref": "VirtualNIC"
        },
        "diskSizeGb": {
          "description": "Optional. The desired disk size for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk size.",
          "format": "int64",
          "type": "string"
        },
        "resourceManagerTags": {
          "description": "Desired resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Existing tags will be replaced with new values.",
          "$ref": "ResourceManagerTags"
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled."
        },
        "nodeDrainConfig": {
          "description": "The desired node drain configuration for nodes in the node pool.",
          "$ref": "NodeDrainConfig"
        },
        "machineType": {
          "description": "Optional. The desired machine type for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified machine type.",
          "type": "string"
        },
        "diskType": {
          "description": "Optional. The desired disk type for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk type.",
          "type": "string"
        },
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "fastSocket": {
          "description": "Enable or disable NCCL fast socket for the node pool.",
          "$ref": "FastSocket"
        },
        "containerdConfig": {
          "$ref": "ContainerdConfig",
          "description": "The desired containerd config for nodes in the node pool. Initiates an upgrade operation that recreates the nodes with the new config."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the node pool's nodes should be located. Changing the locations for a node pool will result in nodes being either created or removed from the node pool, depending on whether locations are being added or removed. Warning: It is recommended to update node pool locations in a standalone API call. Do not combine a location update with changes to other fields (such as `tags`, `labels`, `taints`, etc.) in the same request. Otherwise, the API performs a structural modification where changes to other fields will only apply to newly created nodes and will not be applied to existing nodes in the node pool. To ensure all nodes are updated consistently, use a separate API call for location changes."
        },
        "workloadMetadataConfig": {
          "description": "The desired workload metadata config for the node pool.",
          "$ref": "WorkloadMetadataConfig"
        },
        "nodeVersion": {
          "type": "string",
          "description": "Required. The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "bootDisk": {
          "description": "The desired boot disk config for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified boot disk config.",
          "$ref": "BootDisk"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "tags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags to be applied to all nodes in the node pool. If this field is not present, the tags will not be changed. Otherwise, the existing network tags will be *replaced* with the provided tags."
        },
        "labels": {
          "$ref": "NodeLabels",
          "description": "The desired node labels to be applied to all nodes in the node pool. If this field is not present, the labels will not be changed. Otherwise, the existing node labels will be *replaced* with the provided labels."
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        },
        "consolidationDelay": {
          "description": "Consolidation delay defines duration after which the Cluster Autoscaler can scale down underutilized nodes. If not set, nodes are scaled down by default behavior, i.e. according to the chosen autoscaling profile.",
          "format": "google-duration",
          "type": "string"
        },
        "maxRunDuration": {
          "description": "The maximum duration for the nodes to exist. If unspecified, the nodes can exist indefinitely.",
          "format": "google-duration",
          "type": "string"
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "accelerators": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        }
      },
      "id": "UpdateNodePoolRequest"
    },
    "DNSEndpointConfig": {
      "type": "object",
      "properties": {
        "allowExternalTraffic": {
          "description": "Controls whether user traffic is allowed over this endpoint. Note that Google-managed services may still use the endpoint even if this is false.",
          "type": "boolean"
        },
        "endpoint": {
          "description": "Output only. The cluster's DNS endpoint configuration. A DNS format address. This is accessible from the public internet. Ex: uid.us-central1.gke.goog. Always present, but the behavior may change according to the value of DNSEndpointConfig.allow_external_traffic.",
          "type": "string",
          "readOnly": true
        },
        "enableK8sTokensViaDns": {
          "type": "boolean",
          "description": "Controls whether the k8s token auth is allowed via DNS."
        },
        "enableK8sCertsViaDns": {
          "type": "boolean",
          "description": "Controls whether the k8s certs auth is allowed via DNS."
        }
      },
      "id": "DNSEndpointConfig",
      "description": "Describes the configuration of a DNS endpoint."
    },
    "LegacyAbac": {
      "id": "LegacyAbac",
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM."
        }
      },
      "type": "object"
    },
    "ReservationAffinity": {
      "properties": {
        "consumeReservationType": {
          "type": "string",
          "description": "Corresponds to the type of reservation consumption.",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "values": {
          "description": "Corresponds to the label value(s) of reservation resource(s).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"compute.googleapis.com/reservation-name\" as the key and specify the name of your reservation as its value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReservationAffinity",
      "description": "[ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from."
    },
    "ResourceManagerTags": {
      "id": "ResourceManagerTags",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tags must be in one of the following formats ([KEY]=[VALUE]) 1. `tagKeys/{tag_key_id}=tagValues/{tag_value_id}` 2. `{org_id}/{tag_key_name}={tag_value_name}` 3. `{project_id}/{tag_key_name}={tag_value_name}`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A map of resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Tags must be according to specifications in https://cloud.google.com/vpc/docs/tags-firewalls-overview#specifications. A maximum of 5 tag key-value pairs can be specified. Existing tags will be replaced with new values."
    },
    "WorkloadCertificates": {
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
      "type": "object",
      "id": "WorkloadCertificates",
      "properties": {
        "enableCertificates": {
          "type": "boolean",
          "description": "enable_certificates controls issuance of workload mTLS certificates. If set, the GKE Workload Identity Certificates controller and node agent will be deployed in the cluster, which can then be configured by creating a WorkloadCertificateConfig Custom Resource. Requires Workload Identity (workload_pool must be non-empty)."
        }
      }
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        }
      },
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "id": "ListClustersResponse"
    },
    "NetworkConfig": {
      "properties": {
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network"
        },
        "defaultEnablePrivateNodes": {
          "description": "Controls whether by default nodes have private IP addresses only. It is invalid to specify both PrivateClusterConfig.enablePrivateNodes and this field at the same time. To update the default setting, use ClusterUpdate.desired_default_enable_private_nodes",
          "type": "boolean"
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "ClusterNetworkPerformanceConfig"
        },
        "dnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "enableMultiNetworking": {
          "description": "Whether multi-networking is enabled for this cluster.",
          "type": "boolean"
        },
        "defaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic."
        },
        "enableCiliumClusterwideNetworkPolicy": {
          "description": "Whether CiliumClusterWideNetworkPolicy is enabled on this cluster.",
          "type": "boolean"
        },
        "subnetwork": {
          "type": "string",
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "readOnly": true
        },
        "datapathProvider": {
          "type": "string",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ]
        },
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        },
        "enableFqdnNetworkPolicy": {
          "description": "Whether FQDN Network Policy is enabled on this cluster.",
          "type": "boolean"
        },
        "privateIpv6GoogleAccess": {
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ]
        },
        "serviceExternalIpsConfig": {
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not.",
          "$ref": "ServiceExternalIPsConfig"
        },
        "enableL4ilbSubsetting": {
          "type": "boolean",
          "description": "Whether L4ILB Subsetting is enabled for this cluster."
        },
        "disableL4LbFirewallReconciliation": {
          "description": "Disable L4 load balancer VPC firewalls to enable firewall policies.",
          "type": "boolean"
        },
        "inTransitEncryptionConfig": {
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ],
          "description": "Specify the details of in-transit encryption.",
          "type": "string",
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ]
        },
        "gatewayApiConfig": {
          "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        }
      },
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "type": "object",
      "id": "NetworkConfig"
    },
    "GcfsConfig": {
      "properties": {
        "enabled": {
          "description": "Whether to use GCFS.",
          "type": "boolean"
        }
      },
      "description": "GcfsConfig contains configurations of Google Container File System.",
      "type": "object",
      "id": "GcfsConfig"
    },
    "NodeConfigDefaults": {
      "id": "NodeConfigDefaults",
      "description": "Subset of NodeConfig message that has defaults.",
      "type": "object",
      "properties": {
        "gcfsConfig": {
          "description": "GCFS (Google Container File System, also known as Riptide) options.",
          "$ref": "GcfsConfig"
        },
        "containerdConfig": {
          "$ref": "ContainerdConfig",
          "description": "Parameters for containerd customization."
        },
        "loggingConfig": {
          "$ref": "NodePoolLoggingConfig",
          "description": "Logging configuration for node pools."
        },
        "hostMaintenancePolicy": {
          "description": "HostMaintenancePolicy contains the desired maintenance policy for the Google Compute Engine hosts.",
          "$ref": "HostMaintenancePolicy"
        },
        "nodeKubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "NodeKubeletConfig controls the defaults for new node-pools. Currently only `insecure_kubelet_readonly_port_enabled` can be set here."
        }
      }
    },
    "HostConfig": {
      "properties": {
        "ca": {
          "items": {
            "$ref": "CertificateConfig"
          },
          "description": "CA configures the registry host certificate.",
          "type": "array"
        },
        "header": {
          "description": "Header configures the registry host headers.",
          "type": "array",
          "items": {
            "$ref": "RegistryHeader"
          }
        },
        "client": {
          "type": "array",
          "items": {
            "$ref": "CertificateConfigPair"
          },
          "description": "Client configures the registry host client certificate and key."
        },
        "dialTimeout": {
          "description": "Specifies the maximum duration allowed for a connection attempt to complete. A shorter timeout helps reduce delays when falling back to the original registry if the mirror is unreachable. Maximum allowed value is 180s. If not set, containerd sets default 30s. The value should be a decimal number of seconds with an `s` suffix.",
          "format": "google-duration",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Host configures the registry host/mirror. It supports fully qualified domain names (FQDNs) and IP addresses. Specifying scheme, port or path is supported. Scheme can only be http or https. Wildcards are NOT supported. Examples: - `my.customdomain.com` - `https://my.customdomain.com/path` - `10.0.1.2:5000`"
        },
        "capabilities": {
          "description": "Capabilities represent the capabilities of the registry host, specifying what operations a host is capable of performing. If not set, containerd enables all capabilities by default.",
          "items": {
            "enumDescriptions": [
              "UNKNOWN should never be set.",
              "Pull represents the capability to fetch manifests and blobs by digest.",
              "Resolve represents the capability to fetch manifests by name.",
              "Push represents the capability to push blobs and manifests."
            ],
            "type": "string",
            "enum": [
              "HOST_CAPABILITY_UNSPECIFIED",
              "HOST_CAPABILITY_PULL",
              "HOST_CAPABILITY_RESOLVE",
              "HOST_CAPABILITY_PUSH"
            ]
          },
          "type": "array"
        },
        "overridePath": {
          "description": "OverridePath is used to indicate the host's API root endpoint is defined in the URL path rather than by the API specification. This may be used with non-compliant OCI registries which are missing the /v2 prefix. If not set, containerd sets default false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "HostConfig configures the registry host under a given Server.",
      "id": "HostConfig"
    },
    "MasterAuth": {
      "properties": {
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "type": "string",
          "deprecated": true
        },
        "clientCertificate": {
          "readOnly": true,
          "description": "Output only. Base64-encoded public certificate used by clients to authenticate to the cluster endpoint. Issued only if client_certificate_config is set.",
          "type": "string"
        },
        "clusterCaCertificate": {
          "type": "string",
          "description": "Output only. Base64-encoded public certificate that is the root of trust for the cluster.",
          "readOnly": true
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true,
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "Output only. Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
          "readOnly": true
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        }
      },
      "type": "object",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
      "id": "MasterAuth"
    },
    "DNSConfig": {
      "type": "object",
      "id": "DNSConfig",
      "properties": {
        "clusterDnsScope": {
          "enumDescriptions": [
            "Default value, will be inferred as cluster scope.",
            "DNS records are accessible from within the cluster.",
            "DNS records are accessible from within the VPC."
          ],
          "type": "string",
          "description": "cluster_dns_scope indicates the scope of access to cluster DNS records.",
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "CLUSTER_SCOPE",
            "VPC_SCOPE"
          ]
        },
        "clusterDnsDomain": {
          "type": "string",
          "description": "cluster_dns_domain is the suffix used for all cluster service records."
        },
        "clusterDns": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "PLATFORM_DEFAULT",
            "CLOUD_DNS",
            "KUBE_DNS"
          ],
          "enumDescriptions": [
            "Default value",
            "Use GKE default DNS provider(kube-dns) for DNS resolution.",
            "Use CloudDNS for DNS resolution.",
            "Use KubeDNS for DNS resolution."
          ],
          "description": "cluster_dns indicates which in-cluster DNS provider should be used.",
          "type": "string"
        },
        "additiveVpcScopeDnsDomain": {
          "type": "string",
          "description": "Optional. The domain used in Additive VPC scope."
        }
      },
      "description": "DNSConfig contains the desired set of options for configuring clusterDNS."
    },
    "NetworkTierConfig": {
      "description": "NetworkTierConfig contains network tier information.",
      "id": "NetworkTierConfig",
      "type": "object",
      "properties": {
        "networkTier": {
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_DEFAULT",
            "NETWORK_TIER_PREMIUM",
            "NETWORK_TIER_STANDARD"
          ],
          "enumDescriptions": [
            "By default, use project-level configuration. When unspecified, the behavior defaults to NETWORK_TIER_DEFAULT. For cluster updates, this implies no action (no-op).",
            "Default network tier. Use project-level configuration. User can specify this value, meaning they want to keep the same behaviour as before cluster level network tier configuration is introduced. This field ensures backward compatibility for the network tier of cluster resources, such as node pools and load balancers, for their external IP addresses.",
            "Premium network tier.",
            "Standard network tier."
          ],
          "description": "Network tier configuration.",
          "type": "string"
        }
      }
    },
    "ShieldedNodes": {
      "type": "object",
      "description": "Configuration of Shielded Nodes feature.",
      "id": "ShieldedNodes",
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      }
    },
    "AdvancedDatapathObservabilityConfig": {
      "description": "AdvancedDatapathObservabilityConfig specifies configuration of observability features of advanced datapath.",
      "type": "object",
      "properties": {
        "enableRelay": {
          "description": "Enable Relay component",
          "type": "boolean"
        },
        "relayMode": {
          "enum": [
            "RELAY_MODE_UNSPECIFIED",
            "DISABLED",
            "INTERNAL_VPC_LB",
            "EXTERNAL_LB"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "disabled",
            "exposed via internal load balancer",
            "exposed via external load balancer"
          ],
          "description": "Method used to make Relay available"
        },
        "enableMetrics": {
          "description": "Expose flow metrics on nodes",
          "type": "boolean"
        }
      },
      "id": "AdvancedDatapathObservabilityConfig"
    },
    "HugepagesConfig": {
      "id": "HugepagesConfig",
      "description": "Hugepages amount in both 2m and 1g size",
      "type": "object",
      "properties": {
        "hugepageSize2m": {
          "format": "int32",
          "description": "Optional. Amount of 2M hugepages",
          "type": "integer"
        },
        "hugepageSize1g": {
          "description": "Optional. Amount of 1G hugepages",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ClusterAutoscaling": {
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
      "id": "ClusterAutoscaling",
      "type": "object",
      "properties": {
        "autoprovisioningLocations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP.",
          "items": {
            "type": "string"
          }
        },
        "defaultComputeClassConfig": {
          "$ref": "DefaultComputeClassConfig",
          "description": "Default compute class is a configuration for default compute class."
        },
        "autoprovisioningNodePoolDefaults": {
          "$ref": "AutoprovisioningNodePoolDefaults",
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP."
        },
        "autopilotGeneralProfile": {
          "type": "string",
          "enumDescriptions": [
            "Use default configuration.",
            "Avoid extra IP consumption.",
            "Use default configuration."
          ],
          "enum": [
            "AUTOPILOT_GENERAL_PROFILE_UNSPECIFIED",
            "NO_PERFORMANCE",
            "NONE"
          ],
          "description": "Autopilot general profile for the cluster, which defines the configuration for the cluster."
        },
        "resourceLimits": {
          "items": {
            "$ref": "ResourceLimit"
          },
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
          "type": "array"
        },
        "enableNodeAutoprovisioning": {
          "type": "boolean",
          "description": "Enables automatic node pool creation and deletion."
        },
        "autoscalingProfile": {
          "description": "Defines autoscaling behaviour.",
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ],
          "type": "string",
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ]
        }
      }
    },
    "DesiredAdditionalIPRangesConfig": {
      "id": "DesiredAdditionalIPRangesConfig",
      "properties": {
        "additionalIpRangesConfigs": {
          "type": "array",
          "description": "List of additional IP ranges configs where each AdditionalIPRangesConfig corresponds to one subnetwork's IP ranges",
          "items": {
            "$ref": "AdditionalIPRangesConfig"
          }
        }
      },
      "type": "object",
      "description": "DesiredAdditionalIPRangesConfig is a wrapper used for cluster update operation and contains multiple AdditionalIPRangesConfigs."
    },
    "ClusterUpgradeInfo": {
      "description": "ClusterUpgradeInfo contains the upgrade information of a cluster.",
      "id": "ClusterUpgradeInfo",
      "type": "object",
      "properties": {
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The cluster's current minor version's end of standard support timestamp."
        },
        "minorTargetVersion": {
          "type": "string",
          "description": "minor_target_version indicates the target version for minor upgrade."
        },
        "upgradeDetails": {
          "description": "The list of past auto upgrades.",
          "type": "array",
          "items": {
            "$ref": "UpgradeDetails"
          }
        },
        "autoUpgradeStatus": {
          "description": "The auto upgrade status.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ],
            "type": "string"
          }
        },
        "rollbackSafeUpgradeStatus": {
          "description": "The cluster's rollback-safe upgrade status.",
          "$ref": "RollbackSafeUpgradeStatus"
        },
        "patchTargetVersion": {
          "description": "patch_target_version indicates the target version for patch upgrade.",
          "type": "string"
        },
        "endOfExtendedSupportTimestamp": {
          "description": "The cluster's current minor version's end of extended support timestamp.",
          "type": "string"
        },
        "pausedReason": {
          "description": "The auto upgrade paused reason.",
          "type": "array",
          "items": {
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "CLUSTER_DISRUPTION_BUDGET",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE",
              "SYSTEM_CONFIG"
            ],
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "CLUSTER_DISRUPTION_BUDGET indicates the cluster is outside the cluster disruption budget.",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE indicates the cluster is outside the cluster disruption budget for minor version upgrade.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ],
            "type": "string"
          }
        }
      }
    },
    "SecurityBulletinEvent": {
      "type": "object",
      "id": "SecurityBulletinEvent",
      "description": "SecurityBulletinEvent is a notification sent to customers when a security bulletin has been posted that they are vulnerable to.",
      "properties": {
        "manualStepsRequired": {
          "description": "If this field is specified, it means there are manual steps that the user must take to make their clusters safe.",
          "type": "boolean"
        },
        "patchedVersions": {
          "type": "array",
          "description": "The GKE versions where this vulnerability is patched.",
          "items": {
            "type": "string"
          }
        },
        "bulletinId": {
          "description": "The ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        },
        "suggestedUpgradeTarget": {
          "description": "This represents a version selected from the patched_versions field that the cluster receiving this notification should most likely want to upgrade to based on its current version. Note that if this notification is being received by a given cluster, it means that this version is currently available as an upgrade target in that cluster's location.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of this bulletin as it relates to GKE.",
          "type": "string"
        },
        "cveIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The CVEs associated with this bulletin."
        },
        "resourceTypeAffected": {
          "description": "The resource type (node/control plane) that has the vulnerability. Multiple notifications (1 notification per resource type) will be sent for a vulnerability that affects > 1 resource type.",
          "type": "string"
        },
        "briefDescription": {
          "description": "A brief description of the bulletin. See the bulletin pointed to by the bulletin_uri field for an expanded description.",
          "type": "string"
        },
        "affectedSupportedMinors": {
          "items": {
            "type": "string"
          },
          "description": "The GKE minor versions affected by this vulnerability.",
          "type": "array"
        },
        "bulletinUri": {
          "type": "string",
          "description": "The URI link to the bulletin on the website for more information."
        },
        "mitigatedVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The GKE versions where this vulnerability is mitigated."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "MonitoringConfig": {
      "description": "MonitoringConfig is cluster monitoring configuration.",
      "properties": {
        "advancedDatapathObservabilityConfig": {
          "description": "Configuration of Advanced Datapath Observability features.",
          "$ref": "AdvancedDatapathObservabilityConfig"
        },
        "componentConfig": {
          "$ref": "MonitoringComponentConfig",
          "description": "Monitoring components configuration"
        },
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "ManagedPrometheusConfig"
        }
      },
      "type": "object",
      "id": "MonitoringConfig"
    },
    "AutoMonitoringConfig": {
      "description": "AutoMonitoringConfig defines the configuration for GKE Workload Auto-Monitoring.",
      "type": "object",
      "properties": {
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "ALL",
            "NONE"
          ],
          "description": "Scope for GKE Workload Auto-Monitoring.",
          "enumDescriptions": [
            "Not set.",
            "Auto-Monitoring is enabled for all supported applications.",
            "Disable Auto-Monitoring."
          ],
          "type": "string"
        }
      },
      "id": "AutoMonitoringConfig"
    },
    "DesiredEnterpriseConfig": {
      "id": "DesiredEnterpriseConfig",
      "properties": {
        "desiredTier": {
          "enumDescriptions": [
            "CLUSTER_TIER_UNSPECIFIED is when cluster_tier is not set.",
            "STANDARD indicates a standard GKE cluster.",
            "ENTERPRISE indicates a GKE Enterprise cluster."
          ],
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "type": "string",
          "description": "desired_tier specifies the desired tier of the cluster."
        }
      },
      "type": "object",
      "description": "DesiredEnterpriseConfig is a wrapper used for updating enterprise_config. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
      "deprecated": true
    },
    "PolicyBinding": {
      "id": "PolicyBinding",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the binauthz platform policy to evaluate. GKE platform policies have the following format: `projects/{project_number}/platforms/gke/policies/{policy_id}`."
        }
      },
      "description": "Binauthz policy that applies to this cluster."
    },
    "SecretSyncConfig": {
      "properties": {
        "rotationConfig": {
          "description": "Rotation config for secret manager.",
          "$ref": "SyncRotationConfig"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable/Disable Secret Sync Config."
        }
      },
      "id": "SecretSyncConfig",
      "description": "Configuration for sync Secret Manager secrets as k8s secrets.",
      "type": "object"
    },
    "WorkloadALTSConfig": {
      "id": "WorkloadALTSConfig",
      "description": "Configuration for direct-path (via ALTS) with workload identity. This feature is not officially supported for external customers in Kubernetes Engine when using Workload Identity.",
      "properties": {
        "enableAlts": {
          "description": "enable_alts controls whether the alts handshaker should be enabled or not for direct-path. Requires Workload Identity (workload_pool must be non-empty).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "NetworkPolicy": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "description": "The selected network policy provider.",
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ]
        }
      },
      "id": "NetworkPolicy",
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/"
    },
    "SetMonitoringServiceRequest": {
      "properties": {
        "monitoringService": {
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "projectId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetMonitoringServiceRequest",
      "type": "object",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster."
    },
    "LoggingConfig": {
      "description": "LoggingConfig is cluster logging configuration.",
      "type": "object",
      "id": "LoggingConfig",
      "properties": {
        "componentConfig": {
          "description": "Logging components configuration",
          "$ref": "LoggingComponentConfig"
        }
      }
    },
    "ConfidentialNodes": {
      "properties": {
        "confidentialInstanceType": {
          "description": "Defines the type of technology used by the confidential node.",
          "type": "string",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "AMD Secure Encrypted Virtualization.",
            "AMD Secure Encrypted Virtualization - Secure Nested Paging.",
            "Intel Trust Domain eXtension."
          ],
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ]
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled."
        }
      },
      "id": "ConfidentialNodes",
      "type": "object",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs."
    },
    "ComplianceStandard": {
      "type": "object",
      "properties": {
        "standard": {
          "description": "Name of the compliance standard.",
          "type": "string"
        }
      },
      "id": "ComplianceStandard",
      "description": "Defines the details of a compliance standard."
    },
    "GcsFuseCsiDriverConfig": {
      "id": "GcsFuseCsiDriverConfig",
      "description": "Configuration for the Cloud Storage Fuse CSI driver.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Cloud Storage Fuse CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "VerticalPodAutoscaling": {
      "id": "VerticalPodAutoscaling",
      "type": "object",
      "description": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it.",
      "properties": {
        "enabled": {
          "description": "Enables vertical pod autoscaling.",
          "type": "boolean"
        }
      }
    },
    "SetLegacyAbacRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "id": "SetLegacyAbacRequest"
    },
    "SliceControllerConfig": {
      "description": "Configuration for the Slice Controller.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Indicates whether Slice Controller is enabled in the cluster.",
          "type": "boolean"
        }
      },
      "id": "SliceControllerConfig"
    },
    "MonitoringComponentConfig": {
      "type": "object",
      "id": "MonitoringComponentConfig",
      "properties": {
        "enableComponents": {
          "description": "Select components to collect metrics. An empty set would disable all monitoring.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "Deprecated: Use Google Cloud Managed Service for Prometheus.",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "Storage",
              "Horizontal Pod Autoscaling",
              "Pod",
              "DaemonSet",
              "Deployment",
              "Statefulset",
              "CADVISOR",
              "KUBELET",
              "NVIDIA Data Center GPU Manager (DCGM)",
              "JobSet"
            ],
            "type": "string",
            "enumDeprecated": [
              false,
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "STORAGE",
              "HPA",
              "POD",
              "DAEMONSET",
              "DEPLOYMENT",
              "STATEFULSET",
              "CADVISOR",
              "KUBELET",
              "DCGM",
              "JOBSET"
            ]
          }
        }
      },
      "description": "MonitoringComponentConfig is cluster monitoring component configuration."
    },
    "AdditionalNodeNetworkConfig": {
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message",
      "properties": {
        "subnetwork": {
          "description": "Name of the subnetwork where the additional interface belongs",
          "type": "string"
        },
        "network": {
          "description": "Name of the VPC where the additional interface belongs",
          "type": "string"
        }
      },
      "id": "AdditionalNodeNetworkConfig",
      "type": "object"
    },
    "AutopilotCompatibilityIssue": {
      "description": "AutopilotCompatibilityIssue contains information about a specific compatibility issue with Autopilot mode.",
      "properties": {
        "documentationUrl": {
          "description": "A URL to a public documentation, which addresses resolving this issue.",
          "type": "string"
        },
        "constraintType": {
          "description": "The constraint type of the issue.",
          "type": "string"
        },
        "incompatibilityType": {
          "description": "The incompatibility type of this issue.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Indicates that the issue is a known incompatibility between the cluster and Autopilot mode.",
            "Indicates the issue is an incompatibility if customers take no further action to resolve.",
            "Indicates the issue is not an incompatibility, but depending on the workloads business logic, there is a potential that they won't work on Autopilot."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "INCOMPATIBILITY",
            "ADDITIONAL_CONFIG_REQUIRED",
            "PASSED_WITH_OPTIONAL_CONFIG"
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the issue."
        },
        "subjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The name of the resources which are subject to this issue."
        },
        "lastObservation": {
          "format": "google-datetime",
          "description": "The last time when this issue was observed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AutopilotCompatibilityIssue"
    },
    "NodeLabels": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of node label keys and node label values."
        }
      },
      "description": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels).",
      "id": "NodeLabels",
      "type": "object"
    },
    "PrivateRegistryAccessConfig": {
      "description": "PrivateRegistryAccessConfig contains access configuration for private container registries.",
      "id": "PrivateRegistryAccessConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Private registry access is enabled.",
          "type": "boolean"
        },
        "certificateAuthorityDomainConfig": {
          "items": {
            "$ref": "CertificateAuthorityDomainConfig"
          },
          "description": "Private registry access configuration.",
          "type": "array"
        }
      }
    },
    "SoleTenantConfig": {
      "type": "object",
      "id": "SoleTenantConfig",
      "description": "SoleTenantConfig contains the NodeAffinities to specify what shared sole tenant node groups should back the node pool.",
      "properties": {
        "nodeAffinities": {
          "items": {
            "$ref": "NodeAffinity"
          },
          "type": "array",
          "description": "NodeAffinities used to match to a shared sole tenant node group."
        },
        "minNodeCpus": {
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. This field can only be set if the node pool is created in a shared sole-tenant node group.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PdbBlockedPod": {
      "id": "PdbBlockedPod",
      "properties": {
        "namespace": {
          "description": "The namespace of the pod.",
          "type": "string"
        },
        "name": {
          "description": "The name of the pod.",
          "type": "string"
        }
      },
      "description": "The namespace/name of the pod whose eviction is blocked by PDB.",
      "type": "object"
    },
    "ManagedOpenTelemetryConfig": {
      "id": "ManagedOpenTelemetryConfig",
      "properties": {
        "scope": {
          "description": "Scope of the Managed OpenTelemetry pipeline.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "NONE",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "SCOPE_UNSPECIFIED is when the scope is not set.",
            "NONE is used to disable the Managed OpenTelemetry pipeline.",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS is used to enable the Managed OpenTelemetry pipeline for collection and instrumentation components."
          ]
        }
      },
      "type": "object",
      "description": "ManagedOpenTelemetryConfig is the configuration for the GKE Managed OpenTelemetry pipeline."
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whenever master is accessible globally or not."
        }
      },
      "description": "Configuration for controlling master global access settings.",
      "type": "object"
    },
    "TopologyManager": {
      "description": "TopologyManager defines the configuration options for Topology Manager feature. See https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/",
      "properties": {
        "policy": {
[...]
