{
  "protocol": "rest",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "basePath": "",
  "title": "Contact Center AI Insights API",
  "id": "contactcenterinsights:v1",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "batchPath": "batch",
  "canonicalName": "Contactcenterinsights",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
      "properties": {
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Required. The medium transcript objects represent.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        }
      },
      "description": "Configuration for processing transcript objects.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      },
      "description": "The request to delete an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse",
      "description": "The response to deploy an issue model.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult": {
      "properties": {
        "conversationA": {
          "description": "The first conversation resource name.",
          "type": "string"
        },
        "conversationB": {
          "description": "The second conversation resource name.",
          "type": "string"
        },
        "ruleConstraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult"
          },
          "description": "The results for each applicable constraint rule.",
          "type": "array"
        }
      },
      "description": "The result of testing a constraint expression on a pair of conversations.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResult"
    },
    "GoogleCloudContactcenterinsightsV1mainHoldData": {
      "description": "The data for a hold annotation.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainHoldData"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "description": "The response for calculating conversation statistics.",
      "type": "object",
      "properties": {
        "conversationCount": {
          "format": "int32",
          "description": "The total number of conversations.",
          "type": "integer"
        },
        "issueMatchesStats": {
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          }
        },
        "customHighlighterMatches": {
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "issueMatches": {
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "deprecated": true
        },
        "conversationCountTimeSeries": {
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria.",
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries"
        },
        "averageDuration": {
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "type": "string",
          "format": "google-duration"
        },
        "averageTurnCount": {
          "description": "The average number of turns per conversation.",
          "type": "integer",
          "format": "int32"
        },
        "smartHighlighterMatches": {
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
    },
    "GoogleCloudContactcenterinsightsV1mainAnalysisResult": {
      "description": "The result of an analysis.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time at which the analysis ended.",
          "type": "string"
        },
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysisResultCallAnalysisMetadata"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainAnalysisResult"
    },
    "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig": {
      "properties": {
        "scorecardList": {
          "description": "A manual list of scorecards to score.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfigScorecardList"
        }
      },
      "description": "Configuration for the QA feature.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelectorQaConfig"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsMetadata",
      "description": "The metadata from querying metrics.",
      "type": "object",
      "properties": {
        "resultIsTruncated": {
          "description": "Whether the result rows were truncated because the result row size is too large to materialize.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryInterval": {
      "id": "GoogleCloudContactcenterinsightsV1QueryInterval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The start time of the time window.",
          "type": "string"
        },
        "endTime": {
          "description": "Required. The end time of the time window.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A time window for querying conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SilenceData": {
      "properties": {},
      "description": "The data for a silence annotation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SilenceData"
    },
    "GoogleCloudContactcenterinsightsV1Dimension": {
      "properties": {
        "issueDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata",
          "description": "Output only. Metadata about the issue dimension."
        },
        "clientSentimentCategoryDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata",
          "description": "Output only. Metadata about the client sentiment category dimension."
        },
        "dimensionKey": {
          "description": "The key of the dimension.",
          "type": "string",
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ],
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ]
        },
        "conversationalAgentsPlaybookDimensionMetadata": {
          "description": "Output only. Metadata about the Conversational Agents playbook dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata"
        },
        "conversationalAgentsToolDimensionMetadata": {
          "description": "Output only. Metadata about the Conversational Agents tool dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata"
        },
        "labelDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionLabelDimensionMetadata",
          "description": "Output only. Metadata about conversation labels."
        },
        "qaQuestionDimensionMetadata": {
          "description": "Output only. Metadata about the QA question dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionDimensionMetadata"
        },
        "mediumDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata",
          "description": "Output only. Metadata about the conversation medium dimension."
        },
        "agentDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata",
          "description": "Output only. Metadata about the agent dimension."
        },
        "qaScorecardDimensionMetadata": {
          "description": "Output only. Metadata about the QA scorecard dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata"
        },
        "conversationProfileDimensionMetadata": {
          "description": "Output only. Metadata about the conversation profile dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata"
        },
        "qaQuestionAnswerDimensionMetadata": {
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata"
        }
      },
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Dimension"
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionIssueDimensionMetadata": {
      "properties": {
        "issueId": {
          "description": "The issue ID.",
          "type": "string"
        },
        "issueDisplayName": {
          "description": "The issue display name.",
          "type": "string"
        },
        "issueModelId": {
          "description": "The parent issue model ID.",
          "type": "string"
        }
      },
      "description": "Metadata about the issue dimension.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionIssueDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelResponse",
      "properties": {
        "issueModel": {
          "description": "The issue model that was imported.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel"
        }
      },
      "description": "Response from import issue model",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData": {
      "description": "The data for an issue match annotation.",
      "type": "object",
      "properties": {
        "issueAssignment": {
          "description": "Information about the issue's assignment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData"
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModel",
      "properties": {
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "displayName": {
          "description": "The representative name for the issue model.",
          "type": "string"
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig"
        },
        "modelType": {
          "description": "Type of the model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ]
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "type": "string"
        },
        "trainingStats": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "description": "Output only. Immutable. The issue model's label statistics on its training data."
        },
        "issueCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of issues in this issue model.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this issue model was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. State of the model.",
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ]
        }
      },
      "description": "The issue model resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult": {
      "properties": {
        "ruleId": {
          "description": "The rule ID.",
          "type": "string"
        },
        "constraintMet": {
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A).",
          "type": "boolean"
        },
        "error": {
          "description": "The error status if the constraint expression failed to evaluate.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The result of a single constraint rule on the pair of conversations.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResult": {
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResult",
      "description": "The result of an analysis.",
      "type": "object",
      "properties": {
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time at which the analysis ended.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSampleRule": {
      "id": "GoogleCloudContactcenterinsightsV1mainSampleRule",
      "description": "Message for sampling conversations.",
      "type": "object",
      "properties": {
        "dimension": {
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'.",
          "type": "string"
        },
        "samplePercentage": {
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "type": "number",
          "format": "double"
        },
        "sampleRow": {
          "description": "Number of the conversations that we should sample based on the dimension.",
          "type": "string",
          "format": "int64"
        },
        "conversationFilter": {
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessage": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessage",
      "description": "The message in the conversation.",
      "type": "object",
      "properties": {
        "userMessage": {
          "description": "A message from the user that is interacting with the system.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageUserMessage"
        },
        "systemMessageWrapper": {
          "description": "A wrapper for system messages per turn.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessages"
        },
        "createTime": {
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "messageId": {
          "description": "The message id of the message.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote": {
      "id": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote",
      "description": "A note about a QA question.",
      "type": "object",
      "properties": {
        "qaQuestion": {
          "description": "The question resource that the note is associated with.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "properties": {
        "gcsSource": {
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource"
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig"
        },
        "sampleSize": {
          "format": "int32",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests.",
          "type": "integer"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig"
        },
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig"
        },
        "speechConfig": {
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig"
        }
      },
      "description": "The request to ingest conversations.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest": {
      "description": "The request to analyze conversations in bulk.",
      "type": "object",
      "properties": {
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotatorSelector"
        },
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "relabel": {
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean"
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "analysisPercentage": {
          "format": "float",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainBulkAnalyzeConversationsRequest"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse",
      "properties": {
        "conversations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "description": "The conversations that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available.",
          "type": "string"
        }
      },
      "description": "The response of listing conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1InterruptionData": {
      "properties": {},
      "description": "The data for an interruption annotation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata",
      "properties": {
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "description": "The original request for bulk delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest"
        },
        "partialErrors": {
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "The metadata for a bulk delete conversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainSmartComposeSuggestionData": {
      "id": "GoogleCloudContactcenterinsightsV1mainSmartComposeSuggestionData",
      "properties": {
        "confidenceScore": {
          "description": "The system's confidence score that this suggestion is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "double"
        },
        "suggestion": {
          "description": "The content of the suggestion.",
          "type": "string"
        },
        "metadata": {
          "description": "Map that contains metadata about the Smart Compose suggestion and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        }
      },
      "description": "Agent Assist Smart Compose suggestion data.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo": {
      "description": "Word-level info for words in a transcript.",
      "type": "object",
      "properties": {
        "endOffset": {
          "format": "google-duration",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "type": "number"
        },
        "startOffset": {
          "description": "Time offset of the start of this word relative to the beginning of the total conversation.",
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "type": "object",
      "properties": {
        "transcriptSegments": {
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscript"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisRule": {
      "properties": {
        "displayName": {
          "description": "Display Name of the analysis rule.",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "Selector of annotators to run and the phrase matchers to use for conversations that matches the conversation_filter. If not specified, NO annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "createTime": {
          "description": "Output only. The time at which this analysis rule was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which this analysis rule was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive and saved as a draft.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the analysis rule. Format: projects/{project}/locations/{location}/analysisRules/{analysis_rule}",
          "type": "string"
        },
        "conversationFilter": {
          "description": "Filter for the conversations that should apply this analysis rule. An empty filter means this analysis rule applies to all conversations. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        },
        "analysisPercentage": {
          "format": "double",
          "description": "Percentage of conversations that we should apply this analysis setting automatically, between [0, 1]. For example, 0.1 means 10%. Conversations are sampled in a determenestic way. The original runtime_percentage & upload percentage will be replaced by defining filters on the conversation.",
          "type": "number"
        }
      },
      "description": "The CCAI Insights project wide analysis rule. This rule will be applied to all conversations that match the filter defined in the rule. For a conversation matches the filter, the annotators specified in the rule will be run. If a conversation matches multiple rules, a union of all the annotators will be run. One project can have multiple analysis rules.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisRule"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Note": {
      "id": "GoogleCloudContactcenterinsightsV1Note",
      "properties": {
        "noteCreator": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1UserInfo",
          "description": "Output only. The user that created the note."
        },
        "assessmentNote": {
          "description": "The note is associated to the entire parent assessment.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote"
        },
        "name": {
          "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the note was last updated.",
          "type": "string"
        },
        "conversationTurnNote": {
          "description": "The note is associated with a conversation turn.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote"
        },
        "qaQuestionNote": {
          "description": "The note is associated with a QA question in one of the conversation's scorecard results.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote"
        },
        "content": {
          "description": "The note content.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the note was created.",
          "type": "string"
        }
      },
      "description": "The conversation assessment note resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse",
      "properties": {},
      "description": "Response from export issue model",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination"
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedViewSet": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the AuthorizedViewSet. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "type": "string"
        },
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        }
      },
      "description": "An AuthorizedViewSet contains a set of AuthorizedView resources.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
    },
    "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecRequest",
      "description": "The request to initialize a location-level encryption specification.",
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1EncryptionSpec"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegment": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegment",
      "description": "A segment of a full transcript.",
      "type": "object",
      "properties": {
        "sentiment": {
          "description": "The sentiment for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "text": {
          "description": "The text of this segment.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "type": "number"
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "words": {
          "description": "A list of the word-specific information for each word in the segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo"
          }
        },
        "messageTime": {
          "description": "The time that the message occurred, if provided.",
          "type": "string",
          "format": "google-datetime"
        },
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "turnLevelAudio": {
          "description": "Turn level audio for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio"
        },
        "segmentParticipant": {
          "description": "The participant of this segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationParticipant"
        },
        "channelTag": {
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata",
      "properties": {
        "partialErrors": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
        },
        "failedAnalysesCount": {
          "description": "The number of requested analyses that have failed so far.",
          "type": "integer",
          "format": "int32"
        },
        "relabel": {
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "type": "boolean",
          "readOnly": true
        },
        "completedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have completed successfully so far.",
          "type": "integer"
        },
        "totalRequestedAnalysesCount": {
          "format": "int32",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "type": "integer"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        }
      },
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure",
      "description": "The measure related to conversations.",
      "type": "object",
      "properties": {
        "knowledgeAssistNegativeFeedbackRatio": {
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number",
          "format": "double"
        },
        "summarizationSuggestionEditRatio": {
          "description": "Proportion of summarization suggestions that were manually edited.",
          "type": "number",
          "format": "double"
        },
        "averageSummarizationSuggestionEditDistance": {
          "description": "Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion.",
          "type": "number",
          "format": "double"
        },
        "dialogflowConversationsEscalationRatio": {
          "format": "double",
          "description": "Proportion of conversations that was handed off from virtual agent to human agent.",
          "type": "number"
        },
        "knowledgeAssistPositiveFeedbackRatio": {
          "format": "double",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had positive feedback.",
          "type": "number"
        },
        "conversationSuggestedSummaryRatio": {
          "description": "Proportion of conversations that had a suggested summary.",
          "type": "number",
          "format": "double"
        },
        "averageSilencePercentage": {
          "description": "The average silence percentage.",
          "type": "number",
          "format": "float"
        },
        "summarizationSuggestionResultCount": {
          "format": "int32",
          "description": "Count of summarization suggestions results.",
          "type": "integer"
        },
        "averageDuration": {
          "format": "google-duration",
          "description": "The average duration.",
          "type": "string"
        },
        "knowledgeAssistUriClickRatio": {
          "format": "double",
          "description": "Proportion of knowledge assist (Proactive Generative Knowledge Assist) queries that had a URL clicked.",
          "type": "number"
        },
        "containedConversationRatio": {
          "description": "The percentage of conversations that were contained.",
          "type": "number",
          "format": "double"
        },
        "dialogflowInteractionsNoMatchRatio": {
          "format": "double",
          "description": "Proportion of dialogflow interactions that has no intent match for the input.",
          "type": "number"
        },
        "conversationalAgentsAverageTtsLatency": {
          "description": "The macro average latency of conversational agents' TTS latency per interaction. This is computed as the average of the all the interactions' TTS latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "dialogflowWebhookTimeoutRatio": {
          "format": "double",
          "description": "Proportion of dialogflow webhook calls that timed out.",
          "type": "number"
        },
        "averageQaNormalizedScore": {
          "format": "double",
          "description": "The average normalized QA score for a scorecard. When computing the average across a set of conversations, if a conversation has been evaluated with multiple revisions of a scorecard, only the latest revision results will be used. Will exclude 0's in average calculation. Will be only populated if the request specifies a dimension of QA_SCORECARD_ID.",
          "type": "number"
        },
        "averageSummarizationSuggestionNormalizedEditDistance": {
          "format": "double",
          "description": "Normalized Average edit distance of the summarization suggestions. Edit distance (also called as levenshtein distance) is calculated by summing up number of insertions, deletions and substitutions required to transform the summization feedback to the original summary suggestion. Normalized edit distance is the average of (edit distance / summary length).",
          "type": "number"
        },
        "dialogflowWebhookFailureRatio": {
          "description": "Proportion of dialogflow webhook calls that failed.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorEscalatedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that were escalated to an AA human supervisor for intervention.",
          "type": "integer"
        },
        "conversationalAgentsAverageAudioInAudioOutLatency": {
          "description": "The average latency of conversational agents' audio in audio out latency per interaction. This is computed as the average of the all the interactions' audio in audio out latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "aiCoachSuggestionAgentUsageCount": {
          "format": "int32",
          "description": "Count of Ai Coach Suggestion that has been used by agents.",
          "type": "integer"
        },
        "knowledgeSearchPositiveFeedbackRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had positive feedback.",
          "type": "number",
          "format": "double"
        },
        "conversationalAgentsAverageEndToEndLatency": {
          "description": "The average latency of conversational agents' latency per interaction. This is computed as the average of the all the iteractions' end to end latencies in a conversation and averaged across conversations. The e2e latency is the time between the end of the user utterance and the start of the agent utterance on the interaction level.",
          "type": "number",
          "format": "double"
        },
        "conversationCount": {
          "description": "The conversation count.",
          "type": "integer",
          "format": "int32"
        },
        "dialogflowConversationsEscalationCount": {
          "description": "count of conversations that was handed off from virtual agent to human agent.",
          "type": "number",
          "format": "double"
        },
        "dialogflowAverageWebhookLatency": {
          "description": "Average latency of dialogflow webhook calls.",
          "type": "number",
          "format": "double"
        },
        "qaTagScores": {
          "description": "Average QA normalized score for all the tags.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore"
          }
        },
        "conversationalAgentsAverageLlmCallLatency": {
          "description": "The average latency of conversational agents' LLM call latency per interaction. This is computed as the average of the all the interactions LLM call latencies in a conversation and averaged across conversations.",
          "type": "number",
          "format": "double"
        },
        "aiCoachSuggestionAgentMessageTriggerCount": {
          "description": "Count of agent messages that triggered an Ai Coach Suggestion.",
          "type": "integer",
          "format": "int32"
        },
        "averageCustomerSatisfactionRating": {
          "description": "The average customer satisfaction rating.",
          "type": "number",
          "format": "double"
        },
        "dialogflowInteractionsNoInputRatio": {
          "format": "double",
          "description": "Proportion of dialogflow interactions that has empty input.",
          "type": "number"
        },
        "averageTurnCount": {
          "format": "float",
          "description": "The average turn count.",
          "type": "number"
        },
        "conversationAiCoachSuggestionRatio": {
          "description": "Proportion of conversations that has Ai Coach Suggestions.",
          "type": "number",
          "format": "double"
        },
        "containedConversationCount": {
          "description": "The number of conversations that were contained.",
          "type": "integer",
          "format": "int32"
        },
        "knowledgeSearchSuggestedQuerySourceRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries suggested compared to the total number of knowledge search queries made.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorDroppedConversationsCount": {
          "description": "The number of conversations that were dropped, i.e. escalated but not assigned to an AA human supervisor.",
          "type": "integer",
          "format": "int32"
        },
        "aiCoachSuggestionCustomerMessageTriggerCount": {
          "description": "Count of customer messages that triggered an Ai Coach Suggestion.",
          "type": "integer",
          "format": "int32"
        },
        "aiCoachSuggestionMessageTriggerCount": {
          "description": "Count of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "type": "integer",
          "format": "int32"
        },
        "aiCoachSuggestionAgentUsageRatio": {
          "description": "Proportion of Ai Coach Suggestion that has been used by agents.",
          "type": "number",
          "format": "double"
        },
        "conversationTotalAgentMessageCount": {
          "format": "int32",
          "description": "The agent message count.",
          "type": "integer"
        },
        "aaSupervisorMonitoredConversationsCount": {
          "description": "The number of conversations scanned by the AA human supervisor.",
          "type": "integer",
          "format": "int32"
        },
        "averageQaQuestionNormalizedScore": {
          "description": "Average QA normalized score averaged for questions averaged across all revisions of the parent scorecard. Will be only populated if the request specifies a dimension of QA_QUESTION_ID.",
          "type": "number",
          "format": "double"
        },
        "aaSupervisorAssignedConversationsCount": {
          "format": "int32",
          "description": "The number of conversations that were assigned to an AA human supervisor.",
          "type": "integer"
        },
        "knowledgeAssistResultCount": {
          "format": "int32",
          "description": "Count of knowledge assist results (Proactive Generative Knowledge Assist) shown to the user.",
          "type": "integer"
        },
        "knowledgeSearchResultCount": {
          "format": "int32",
          "description": "Count of knowledge search results (Generative Knowledge Assist) shown to the user.",
          "type": "integer"
        },
        "averageClientSentimentScore": {
          "format": "float",
          "description": "The average client's sentiment score.",
          "type": "number"
        },
        "knowledgeSearchNegativeFeedbackRatio": {
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had negative feedback.",
          "type": "number",
          "format": "double"
        },
        "avgConversationClientTurnSentimentEma": {
          "description": "The exponential moving average of the sentiment score of client turns in the conversation.",
          "type": "number",
          "format": "double"
        },
        "aiCoachSuggestionCustomerMessageTriggerRatio": {
          "description": "Proportion of customer messages that triggered an Ai Coach Suggestion.",
          "type": "number",
          "format": "double"
        },
        "knowledgeSearchAgentQuerySourceRatio": {
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries made by the agent compared to the total number of knowledge search queries made.",
          "type": "number"
        },
        "aiCoachSuggestionMessageTriggerRatio": {
          "format": "double",
          "description": "Proportion of end_of_utterance trigger event messages that triggered an Ai Coach Suggestion.",
          "type": "number"
        },
        "conversationAiCoachSuggestionCount": {
          "description": "Count of conversations that has Ai Coach Suggestions.",
          "type": "integer",
          "format": "int32"
        },
        "knowledgeSearchUriClickRatio": {
          "format": "double",
          "description": "Proportion of knowledge search (Generative Knowledge Assist) queries that had a URL clicked.",
          "type": "number"
        },
        "aaSupervisorTransferredToHumanAgentConvCount": {
          "format": "int32",
          "description": "The number of conversations transferred to a human agent.",
          "type": "integer"
        },
        "conversationTotalCustomerMessageCount": {
          "format": "int32",
          "description": "The customer message count.",
          "type": "integer"
        },
        "averageAgentSentimentScore": {
          "format": "float",
          "description": "The average agent's sentiment score.",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse": {
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      },
      "description": "The response for querying performance overview.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse"
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "properties": {
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        },
        "score": {
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number",
          "format": "double"
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        }
      },
      "description": "Information about the issue.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment",
      "properties": {
        "segmentParticipant": {
          "description": "The participant of this segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationParticipant"
        },
        "channelTag": {
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "type": "integer",
          "format": "int32"
        },
        "sentiment": {
          "description": "The sentiment for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "words": {
          "description": "A list of the word-specific information for each word in the segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
          }
        },
        "text": {
          "description": "The text of this segment.",
          "type": "string"
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "turnLevelAudio": {
          "description": "Turn level audio for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
        },
        "messageTime": {
          "format": "google-datetime",
          "description": "The time that the message occurred, if provided.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        }
      },
      "description": "A segment of a full transcript.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse": {
      "properties": {
        "generativeResponses": {
          "description": "The full list of generative responses. Each response is ordered by time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse"
          }
        },
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript"
        }
      },
      "description": "The response for generative insights.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponse",
      "properties": {
        "macroAverageSlice": {
          "description": "The macro average slice contains aggregated averages across all selected dimensions. i.e. if group_by agent and scorecard_id is specified, this field will contain the average across all agents and all scorecards. This field is only populated if the request specifies a Dimension.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice"
        },
        "location": {
          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
          "type": "string"
        },
        "updateTime": {
          "description": "The metrics last update time.",
          "type": "string",
          "format": "google-datetime"
        },
        "slices": {
          "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSlice"
          }
        }
      },
      "description": "The response for querying metrics.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse": {
      "properties": {
        "failedAnalysisCount": {
          "format": "int32",
          "description": "Count of failed analyses.",
          "type": "integer"
        },
        "successfulAnalysisCount": {
          "format": "int32",
          "description": "Count of successful analyses.",
          "type": "integer"
        }
      },
      "description": "The response for a bulk analyze conversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse",
      "properties": {},
      "description": "The response to an SampleConversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults",
      "description": "Wrapper for detailed, step-by-step results.",
      "type": "object",
      "properties": {
        "joinKeyResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationResult"
          },
          "description": "A list of join key correlation results for each conversation tested.",
          "type": "array"
        },
        "constraintResults": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConstraintEvaluationResult"
          },
          "description": "A list of constraint evaluation results for each pair of conversations.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata": {
      "properties": {
        "downloadStats": {
          "description": "Output only. Statistics for BulkDownloadFeedbackLabels operation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "partialErrors": {
          "description": "Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "request": {
          "description": "Output only. The original request for download.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequest"
        }
      },
      "description": "Metadata for the BulkDownloadFeedbackLabel endpoint.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainCreateIssueRequest"
        }
      },
      "description": "Metadata for creating an issue.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueMetadata"
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSource": {
      "description": "The conversation source, which is a combination of transcript and audio.",
      "type": "object",
      "properties": {
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowSource"
        },
        "gcsSource": {
          "description": "A Cloud Storage location specification for the audio and transcript.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGcsSource"
        },
        "metadataUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata.",
          "type": "string"
        },
        "turnLevelAudios": {
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSource"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        },
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        }
      },
      "description": "A BigQuery Table Reference.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Dimension": {
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses.",
      "type": "object",
      "properties": {
        "qaQuestionAnswerDimensionMetadata": {
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata"
        },
        "conversationProfileDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationProfileDimensionMetadata",
          "description": "Output only. Metadata about the conversation profile dimension."
        },
        "agentDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionAgentDimensionMetadata",
          "description": "Output only. Metadata about the agent dimension."
        },
        "qaScorecardDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaScorecardDimensionMetadata",
          "description": "Output only. Metadata about the QA scorecard dimension."
        },
        "mediumDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
          "description": "Output only. Metadata about the conversation medium dimension."
        },
        "qaQuestionDimensionMetadata": {
          "description": "Output only. Metadata about the QA question dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionDimensionMetadata"
        },
        "conversationalAgentsPlaybookDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata",
          "description": "Output only. Metadata about the Conversational Agents playbook dimension."
        },
        "conversationalAgentsToolDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsToolDimensionMetadata",
          "description": "Output only. Metadata about the Conversational Agents tool dimension."
        },
        "labelDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionLabelDimensionMetadata",
          "description": "Output only. Metadata about conversation labels."
        },
        "issueDimensionMetadata": {
          "description": "Output only. Metadata about the issue dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionIssueDimensionMetadata"
        },
        "clientSentimentCategoryDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata",
          "description": "Output only. Metadata about the client sentiment category dimension."
        },
        "dimensionKey": {
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ],
          "description": "The key of the dimension.",
          "type": "string",
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1Dimension"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "type": "object",
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "properties": {
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "description": "The correctness level of an answer.",
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ]
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback"
    },
    "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata": {
      "description": "Metadata about the conversation profile dimension.",
      "type": "object",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The conversation profile ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1DateRangeConfig": {
      "id": "GoogleCloudContactcenterinsightsV1DateRangeConfig",
      "properties": {
        "relativeDateRange": {
          "description": "A relative date range.",
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfigRelativeDateRange"
        },
        "absoluteDateRange": {
          "description": "An absolute date range.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryInterval"
        }
      },
      "description": "Date range configuration for dashboard charts.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "description": "The request to undeploy an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "description": "The parts of the message.",
          "type": "array"
        },
        "textType": {
          "description": "The type of the text message.",
          "type": "string",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        }
      },
      "description": "A text output message from the system.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest",
      "properties": {
        "sheetsSource": {
          "description": "A sheets document source.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource"
        },
        "gcsSource": {
          "description": "A cloud storage bucket source.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource"
        },
        "validateOnly": {
          "description": "Optional. If set, upload will not happen and the labels will be validated. If not set, then default behavior will be to upload the labels after validation is complete.",
          "type": "boolean"
        }
      },
      "description": "The request for bulk uploading feedback labels.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint",
      "description": "The current chart checkpoint state.",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "The session id of the chart.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision id of the chart.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "properties": {
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        },
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        },
        "querySource": {
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "description": "Query source for the answer.",
          "type": "string",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ]
        }
      },
      "description": "Explicit input used for generating the answer",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata": {
      "properties": {},
      "description": "The metadata for querying performance overview.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest": {
      "description": "Request to export an issue model.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage URI to export the issue model to.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination"
        },
        "name": {
          "description": "Required. The issue model to export.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "properties": {
        "percentileAudioInAudioOutLatency": {
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        }
      },
      "description": "The measure related to dialogflow interactions.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
    },
    "GoogleCloudContactcenterinsightsV1EncryptionSpec": {
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
          "type": "string"
        },
        "kmsKey": {
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata",
      "properties": {
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original import request.",
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest"
        }
      },
      "description": "Metadata used for import issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse": {
      "description": "The response of testing correlation config.",
      "type": "object",
      "properties": {
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaQuestionTag": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaQuestionTag",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the question tag was updated.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A user-specified display name for the tag.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the question tag was created.",
          "type": "string"
        },
        "qaQuestionIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource.",
          "type": "string"
        }
      },
      "description": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelResponse": {
      "description": "The response to undeploy an issue model.",
      "type": "object",
      "properties": {},
[...]
