{
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "queryMetrics": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryMetrics",
              "id": "contactcenterinsights.projects.locations.queryMetrics",
              "description": "Query metrics.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+location}:queryMetrics",
              "parameters": {
                "location": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "testCorrelationConfig": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+location}:testCorrelationConfig",
              "parameters": {
                "location": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The location to test correlation config. Format: projects/{project}/locations/{location}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "contactcenterinsights.projects.locations.testCorrelationConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:testCorrelationConfig",
              "description": "Tests correlation config on a conversation.",
              "httpMethod": "POST"
            },
            "bulkDownloadFeedbackLabels": {
              "httpMethod": "POST",
              "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDownloadFeedbackLabels",
              "id": "contactcenterinsights.projects.locations.bulkDownloadFeedbackLabels",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource for new feedback labels.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "bulkDeleteFeedbackLabels": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource for new feedback labels.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "contactcenterinsights.projects.locations.bulkDeleteFeedbackLabels",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDeleteFeedbackLabels",
              "description": "Delete feedback labels in bulk using a filter.",
              "httpMethod": "POST"
            },
            "bulkUploadFeedbackLabels": {
              "httpMethod": "POST",
              "id": "contactcenterinsights.projects.locations.bulkUploadFeedbackLabels",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkUploadFeedbackLabels",
              "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations.",
              "path": "v1/{+parent}:bulkUploadFeedbackLabels",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource for new feedback labels.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "listAllFeedbackLabels": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
              },
              "path": "v1/{+parent}:listAllFeedbackLabels",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource of all feedback labels per project.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List all feedback labels by project number.",
              "id": "contactcenterinsights.projects.locations.listAllFeedbackLabels",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:listAllFeedbackLabels",
              "httpMethod": "GET"
            },
            "updateSettings": {
              "id": "contactcenterinsights.projects.locations.updateSettings",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "description": "Updates project-level settings.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "required": true,
                  "description": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              }
            },
            "getSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the settings resource to get.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "id": "contactcenterinsights.projects.locations.getSettings",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "description": "Gets project-level settings.",
              "httpMethod": "GET"
            },
            "getCorrelationConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the correlation config resource to get. Format: projects/{project}/locations/{location}/correlationConfig",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets correlation config.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "id": "contactcenterinsights.projects.locations.getCorrelationConfig",
              "httpMethod": "GET"
            },
            "queryPerformanceOverview": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}:queryPerformanceOverview",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource of the conversations to derive performance stats from. \"projects/{project}/locations/{location}\"",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Generates a summary of predefined performance metrics for a set of conversations. Conversations can be specified by specifying a time window and an agent id, for now. The summary includes a comparison of metrics computed for conversations in the previous time period, and also a comparison with peers in the same time period.",
              "id": "contactcenterinsights.projects.locations.queryPerformanceOverview",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryPerformanceOverview"
            },
            "getEncryptionSpec": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the encryption spec resource to get.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "contactcenterinsights.projects.locations.getEncryptionSpec",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "description": "Gets location-level encryption key specification."
            },
            "generativeInsights": {
              "description": "Natural language based Insights which powers the next generation of dashboards in Insights. Next generation of QueryMetrics.",
              "id": "contactcenterinsights.projects.locations.generativeInsights",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generativeInsights",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+location}:generativeInsights",
              "parameters": {
                "location": {
                  "required": true,
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ]
            },
            "diagnoseConversations": {
              "path": "v1/{+parent}:diagnoseConversations",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource where the analysis will be performed.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1DiagnoseConversationsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "contactcenterinsights.projects.locations.diagnoseConversations",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:diagnoseConversations",
              "description": "Analyzes conversation data using specialized agentic workflows, such as ReAct, to diagnose issues and provide insights."
            },
            "updateCorrelationConfig": {
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. The list of fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates correlation config.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "id": "contactcenterinsights.projects.locations.updateCorrelationConfig",
              "httpMethod": "PATCH"
            }
          },
          "resources": {
            "assessmentRules": {
              "methods": {
                "list": {
                  "description": "Lists assessment rules.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAssessmentRulesResponse"
                  },
                  "path": "v1/{+parent}/assessmentRules",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of the assessment rules.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of assessment rule to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAssessmentRulesResponse`; indicates that this is a continuation of a prior `ListAssessmentRules` call and the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "contactcenterinsights.projects.locations.assessmentRules.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "description": "Deletes an assessment rule.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the assessment rule to delete.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/assessmentRules",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the assessment rule. Required. The location to create a assessment rule for. Format: `projects//locations/` or `projects//locations/`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "assessmentRuleId": {
                      "type": "string",
                      "description": "Optional. A unique ID for the new AssessmentRule. This ID will become the final component of the AssessmentRule's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules",
                  "description": "Creates an assessment rule."
                },
                "patch": {
                  "description": "Updates an assessment rule.",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to be updated. If the update_mask is not provided, the update will be applied to all fields.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name of the assessment rule. Format: projects/{project}/locations/{location}/assessmentRules/{assessment_rule}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AssessmentRule"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/assessmentRules/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the assessment rule to get.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get an assessment rule.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/assessmentRules/{assessmentRulesId}",
                  "id": "contactcenterinsights.projects.locations.assessmentRules.get",
                  "httpMethod": "GET"
                }
              }
            },
            "encryptionSpec": {
              "methods": {
                "initialize": {
                  "description": "Initializes a location-level encryption key specification. An error will result if the location has resources already created before the initialization. After the encryption specification is initialized at a location, it is immutable and all newly created resources under the location will be encrypted with the existing specification.",
                  "id": "contactcenterinsights.projects.locations.encryptionSpec.initialize",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec:initialize",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:initialize",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "views": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListViewsResponse"
                  },
                  "path": "v1/{+parent}/views",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of views to return in the response. If this value is zero, the service will select a default size. A call may return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListViewsResponse`; indicates that this is a continuation of a prior `ListViews` call and the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the views.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists views.",
                  "id": "contactcenterinsights.projects.locations.views.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the view to delete.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a view.",
                  "id": "contactcenterinsights.projects.locations.views.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "id": "contactcenterinsights.projects.locations.views.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "description": "Gets a view.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the view to get.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/views/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Immutable. The resource name of the view. Format: projects/{project}/locations/{location}/views/{view}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "contactcenterinsights.projects.locations.views.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views/{viewsId}",
                  "description": "Updates a view."
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "contactcenterinsights.projects.locations.views.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/views",
                  "description": "Creates a view.",
                  "path": "v1/{+parent}/views",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the view. Required. The location to create a view for. Format: `projects//locations/` or `projects//locations/`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1View"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "qaScorecards": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates a QaScorecard.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.patch",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "required": true,
                      "description": "Identifier. The scorecard name. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `description` * `display_name`",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the QaScorecard to get.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.get",
                  "description": "Gets a QaScorecard."
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "path": "v1/{+parent}/qaScorecards",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of the QaScorecard.",
                      "location": "path"
                    },
                    "qaScorecardId": {
                      "description": "Optional. A unique ID for the new QaScorecard. This ID will become the final component of the QaScorecard's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1QaScorecard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Create a QaScorecard.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}",
                  "description": "Deletes a QaScorecard.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all of this QaScorecard's child resources will also be deleted. Otherwise, the request will only succeed if it has none.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the QaScorecard to delete.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardsResponse"
                  },
                  "path": "v1/{+parent}/qaScorecards",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the scorecards.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of scorecards to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListQaScorecardsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecards` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "qaScorecardSources": {
                      "enum": [
                        "QA_SCORECARD_SOURCE_UNSPECIFIED",
                        "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                        "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE"
                      ],
                      "type": "string",
                      "repeated": true,
                      "enumDescriptions": [
                        "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                        "The scorecard is a custom scorecard created by the user.",
                        "The scorecard is a scorecard created through discovery engine deployment."
                      ],
                      "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards of one or more sources.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists QaScorecards.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards",
                  "id": "contactcenterinsights.projects.locations.qaScorecards.list",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "revisions": {
                  "methods": {
                    "get": {
                      "description": "Gets a QaScorecardRevision.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "description": "Required. The name of the QaScorecardRevision to get.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.create",
                      "description": "Creates a QaScorecardRevision.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/revisions",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource of the QaScorecardRevision.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$"
                        },
                        "qaScorecardRevisionId": {
                          "description": "Optional. A unique ID for the new QaScorecardRevision. This ID will become the final component of the QaScorecardRevision's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      }
                    },
                    "undeploy": {
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      },
                      "path": "v1/{+name}:undeploy",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the QaScorecardRevision to undeploy.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Undeploy a QaScorecardRevision.",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.undeploy",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:undeploy",
                      "httpMethod": "POST"
                    },
                    "tuneQaScorecardRevision": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+parent}:tuneQaScorecardRevision",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource for new fine tuning job instance.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Fine tune one or more QaModels.",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.tuneQaScorecardRevision",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:tuneQaScorecardRevision"
                    },
                    "deploy": {
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.deploy",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}:deploy",
                      "description": "Deploy a QaScorecardRevision.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1DeployQaScorecardRevisionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:deploy",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the QaScorecardRevision to deploy.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QaScorecardRevision"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                          "description": "Required. The name of the QaScorecardRevision to delete.",
                          "location": "path",
                          "required": true
                        },
                        "force": {
                          "description": "Optional. If set to true, all of this QaScorecardRevision's child resources will also be deleted. Otherwise, the request will only succeed if it has none.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}",
                      "description": "Deletes a QaScorecardRevision.",
                      "httpMethod": "DELETE"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all revisions under the parent QaScorecard.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions",
                      "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.list",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListQaScorecardRevisionsResponse"
                      },
                      "path": "v1/{+parent}/revisions",
                      "parameters": {
                        "qaScorecardSources": {
                          "type": "string",
                          "repeated": true,
                          "enumDescriptions": [
                            "The source of the scorecard is unspecified. Default to QA_SCORECARD_SOURCE_CUSTOMER_DEFINED.",
                            "The scorecard is a custom scorecard created by the user.",
                            "The scorecard is a scorecard created through discovery engine deployment."
                          ],
                          "enum": [
                            "QA_SCORECARD_SOURCE_UNSPECIFIED",
                            "QA_SCORECARD_SOURCE_CUSTOMER_DEFINED",
                            "QA_SCORECARD_SOURCE_DISCOVERY_ENGINE"
                          ],
                          "description": "Optional. The source of scorecards are based on how those Scorecards were created, e.g., a customer-defined scorecard, a predefined scorecard, etc. This field is used to retrieve Scorecards Revisions from Scorecards of one or more sources.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource of the scorecard revisions. To list all revisions of all scorecards, substitute the QaScorecard ID with a '-' character.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of scorecard revisions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The value returned by the last `ListQaScorecardRevisionsResponse`. This value indicates that this is a continuation of a prior `ListQaScorecardRevisions` call and that the system should return the next page of data.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. A filter to reduce results to a specific subset. Useful for querying scorecard revisions with specific properties.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "qaQuestions": {
                      "methods": {
                        "delete": {
                          "httpMethod": "DELETE",
                          "description": "Deletes a QaQuestion.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the QaQuestion to delete.",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/qaQuestions",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. The maximum number of questions to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Optional. The value returned by the last `ListQaQuestionsResponse`. This value indicates that this is a continuation of a prior `ListQaQuestions` call and that the system should return the next page of data.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. The parent resource of the questions.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.list",
                          "description": "Lists QaQuestions.",
                          "httpMethod": "GET"
                        },
                        "patch": {
                          "description": "Updates a QaQuestion.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.patch",
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Identifier. The resource name of the question. Format: projects/{project}/locations/{location}/qaScorecards/{qa_scorecard}/revisions/{revision}/qaQuestions/{qa_question}",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Required. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `abbreviation` * `answer_choices` * `answer_instructions` * `order` * `question_body` * `tags`",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "description": "Gets a QaQuestion.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions/{qaQuestionsId}",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.get",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+/qaQuestions/[^/]+$",
                              "type": "string",
                              "description": "Required. The name of the QaQuestion to get.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "httpMethod": "POST",
                          "id": "contactcenterinsights.projects.locations.qaScorecards.revisions.qaQuestions.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/qaScorecards/{qaScorecardsId}/revisions/{revisionsId}/qaQuestions",
                          "description": "Create a QaQuestion.",
                          "path": "v1/{+parent}/qaQuestions",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource of the QaQuestion.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/qaScorecards/[^/]+/revisions/[^/]+$",
                              "type": "string"
                            },
                            "qaQuestionId": {
                              "description": "Optional. A unique ID for the new question. This ID will become the final component of the question's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "datasets": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "id": "contactcenterinsights.projects.locations.datasets.patch",
                  "description": "Updates a dataset.",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to get.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "id": "contactcenterinsights.projects.locations.datasets.get",
                  "description": "Gets a dataset.",
                  "httpMethod": "GET"
                },
                "bulkUploadFeedbackLabels": {
                  "path": "v1/{+parent}:bulkUploadFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for new feedback labels.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "contactcenterinsights.projects.locations.datasets.bulkUploadFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkUploadFeedbackLabels",
                  "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations."
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "path": "v1/{+parent}/datasets",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the dataset.",
                      "location": "path",
                      "required": true
                    },
                    "datasetId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the dataset.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a dataset.",
                  "id": "contactcenterinsights.projects.locations.datasets.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets"
                },
                "listAllFeedbackLabels": {
                  "httpMethod": "GET",
                  "description": "List all feedback labels by project number.",
                  "id": "contactcenterinsights.projects.locations.datasets.listAllFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:listAllFeedbackLabels",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
                  },
                  "path": "v1/{+parent}:listAllFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource of all feedback labels per project.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse"
                  },
                  "path": "v1/{+parent}/datasets",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of datasets to return in the response. If this value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDatasetsResponse`; indicates that this is a continuation of a prior `ListDatasets` call and the system should return the next page of data.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter to reduce results to a specific subset. Useful for querying datasets with specific properties. Supported fields include, for Q2 though we only support list by project: - `type` - `description` - `project_number`",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the dataset.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List datasets matching the input.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "id": "contactcenterinsights.projects.locations.datasets.list",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Delete a dataset.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "id": "contactcenterinsights.projects.locations.datasets.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the dataset to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "bulkDownloadFeedbackLabels": {
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for new feedback labels.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDownloadFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDownloadFeedbackLabels",
                  "httpMethod": "POST"
                },
                "bulkDeleteFeedbackLabels": {
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDeleteFeedbackLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDeleteFeedbackLabels",
                  "description": "Delete feedback labels in bulk using a filter.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The parent resource for new feedback labels.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              },
              "resources": {
                "conversations": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "view": {
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ],
                          "description": "The level of details of the conversation. Default is `FULL`.",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. The name of the conversation to get.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a conversation.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.get",
                      "httpMethod": "GET"
                    },
                    "generateSignedAudio": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:generateSignedAudio",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "description": "Required. The name of the conversation to sign.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.generateSignedAudio",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}:generateSignedAudio",
                      "description": "Gets the signed URI for the audio for the given conversation.",
                      "httpMethod": "GET"
                    },
                    "calculateStats": {
                      "path": "v1/{+location}/conversations:calculateStats",
                      "parameters": {
                        "location": {
                          "required": true,
                          "description": "Required. The location of the conversations.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "location"
                      ],
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.calculateStats",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:calculateStats",
                      "description": "Gets conversation statistics."
                    },
                    "bulkDelete": {
                      "path": "v1/{+parent}/conversations:bulkDelete",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:bulkDelete",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.bulkDelete",
                      "description": "Deletes multiple conversations in a single request."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists conversations.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.list",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
                      },
                      "path": "v1/{+parent}/conversations",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource of the conversation.",
                          "location": "path"
                        },
                        "view": {
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ],
                          "type": "string",
                          "description": "The level of details of the conversation. Default is `BASIC`.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of conversations to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "A filter to reduce results to a specific subset. Useful for querying conversations with specific properties.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. The attribute by which to order conversations in the response. If empty, conversations will be ordered by descending creation time. Supported values are one of the following: * create_time * customer_satisfaction_rating * duration * latest_analysis * start_time * turn_count The default sort order is ascending. To specify order, append `asc` or `desc` (`create_time desc`). For more details, see [Google AIPs Ordering](https://google.aip.dev/132#ordering).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.delete",
                      "description": "Deletes a conversation.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The name of the conversation to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "ingest": {
                      "description": "Imports conversations and processes them according to the user's configuration.",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.ingest",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:ingest",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+parent}/conversations:ingest",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource for new conversations.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "sample": {
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/conversations:sample",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource of the dataset.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.sample",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:sample",
                      "description": "Samples conversations based on user configuration and handles the sampled conversations for different use cases.",
                      "httpMethod": "POST"
                    }
                  },
                  "resources": {
                    "feedbackLabels": {
                      "methods": {
                        "patch": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.patch",
                          "description": "Update feedback label.",
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameters": {
                            "updateMask": {
                              "type": "string",
                              "description": "Required. The list of fields to be updated.",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
[...]
