{
  "kind": "discovery#restDescription",
  "id": "content:v2.1",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "version": "v2.1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "servicePath": "content/v2.1/",
  "ownerName": "Google",
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "basePath": "/content/v2.1/",
  "title": "Content API for Shopping",
  "canonicalName": "Shopping Content",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "csses": {
      "methods": {
        "list": {
          "flatPath": "{cssGroupId}/csses",
          "parameterOrder": [
            "cssGroupId"
          ],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of CSS domains to return. The service may return fewer than this value. If unspecified, at most 50 CSS domains will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListCsses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCsses` must match the call that provided the page token.",
              "location": "query"
            },
            "cssGroupId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The CSS group ID of CSS domains to be listed."
            }
          },
          "path": "{cssGroupId}/csses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists CSS domains affiliated with a CSS group.",
          "id": "content.csses.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCssesResponse"
          }
        },
        "get": {
          "id": "content.csses.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a single CSS domain by ID.",
          "response": {
            "$ref": "Css"
          },
          "path": "{cssGroupId}/csses/{cssDomainId}",
          "parameters": {
            "cssGroupId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the managing account. If this parameter is not the same as [cssDomainId](#cssDomainId), then this ID must be a CSS group ID and `cssDomainId` must be the ID of a CSS domain affiliated with this group.",
              "format": "int64",
              "type": "string"
            },
            "cssDomainId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the CSS domain to return.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "{cssGroupId}/csses/{cssDomainId}",
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ]
        },
        "updatelabels": {
          "flatPath": "{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ],
          "parameters": {
            "cssDomainId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the updated CSS domain.",
              "required": true,
              "location": "path"
            },
            "cssGroupId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The CSS group ID of the updated CSS domain.",
              "required": true,
              "location": "path"
            }
          },
          "path": "{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "request": {
            "$ref": "LabelIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates labels that are assigned to a CSS domain by its CSS group.",
          "id": "content.csses.updatelabels",
          "httpMethod": "POST",
          "response": {
            "$ref": "Css"
          }
        }
      }
    },
    "returnpolicyonline": {
      "methods": {
        "create": {
          "flatPath": "{merchantId}/returnpolicyonline",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/returnpolicyonline",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "location": "path",
              "required": true
            }
          },
          "id": "content.returnpolicyonline.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a new return policy.",
          "response": {
            "$ref": "ReturnPolicyOnline"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets an existing return policy.",
          "id": "content.returnpolicyonline.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "location": "path",
              "required": true
            },
            "returnPolicyId": {
              "description": "Required. The id of the return policy to retrieve.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ]
        },
        "patch": {
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "format": "int64",
              "type": "string"
            },
            "returnPolicyId": {
              "description": "Required. The id of the return policy to update.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
          "request": {
            "$ref": "ReturnPolicyOnline"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates an existing return policy.",
          "id": "content.returnpolicyonline.patch",
          "httpMethod": "PATCH"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists all existing return policies.",
          "id": "content.returnpolicyonline.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListReturnPolicyOnlineResponse"
          },
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "{merchantId}/returnpolicyonline",
          "flatPath": "{merchantId}/returnpolicyonline",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "delete": {
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve the return policy online object."
            },
            "returnPolicyId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The id of the return policy to delete."
            }
          },
          "id": "content.returnpolicyonline.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes an existing return policy.",
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ]
        }
      }
    },
    "datafeeds": {
      "methods": {
        "custombatch": {
          "parameters": {},
          "path": "datafeeds/batch",
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "id": "content.datafeeds.custombatch",
          "httpMethod": "POST",
          "flatPath": "datafeeds/batch",
          "parameterOrder": []
        },
        "list": {
          "flatPath": "{merchantId}/datafeeds",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.datafeeds.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "path": "{merchantId}/datafeeds",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          }
        },
        "delete": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "id": "content.datafeeds.delete",
          "httpMethod": "DELETE"
        },
        "get": {
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "id": "content.datafeeds.get",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "datafeedId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "required": true,
              "location": "path"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "insert": {
          "flatPath": "{merchantId}/datafeeds",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds",
          "request": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "id": "content.datafeeds.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "Datafeed"
          }
        },
        "fetchnow": {
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the [Products service](https://developers.google.com/shopping-content/reference/rest/v2.1/products) to update your product data.",
          "id": "content.datafeeds.fetchnow",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "datafeedId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the datafeed to be fetched.",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "update": {
          "response": {
            "$ref": "Datafeed"
          },
          "id": "content.datafeeds.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "required": true
            },
            "datafeedId": {
              "location": "path",
              "required": true,
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        }
      }
    },
    "conversionsources": {
      "methods": {
        "get": {
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64",
              "type": "string"
            },
            "conversionSourceId": {
              "location": "path",
              "required": true,
              "description": "Required. The REST ID of the collection.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ConversionSource"
          },
          "id": "content.conversionsources.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Fetches a conversion source.",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "undelete": {
          "path": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "parameters": {
            "conversionSourceId": {
              "description": "Required. The ID of the conversion source to be undeleted.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "id": "content.conversionsources.undelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "UndeleteConversionSourceRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Re-enables an archived conversion source.",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "create": {
          "flatPath": "{merchantId}/conversionsources",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/conversionsources",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the account that owns the new conversion source."
            }
          },
          "id": "content.conversionsources.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "ConversionSource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a new conversion source.",
          "response": {
            "$ref": "ConversionSource"
          }
        },
        "delete": {
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "id": "content.conversionsources.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Archives an existing conversion source. It will be recoverable for 30 days. This archiving behavior is not typical in the Content API and unique to this service.",
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameters": {
            "conversionSourceId": {
              "type": "string",
              "description": "Required. The ID of the conversion source to be deleted.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64",
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. List of fields being updated. The following fields can be updated: `attribution_settings`, `display_name`, `currency_code`.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "conversionSourceId": {
              "description": "Required. The ID of the conversion source to be updated.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "response": {
            "$ref": "ConversionSource"
          },
          "request": {
            "$ref": "ConversionSource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates information of an existing conversion source.",
          "id": "content.conversionsources.patch",
          "httpMethod": "PATCH",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "list": {
          "flatPath": "{merchantId}/conversionsources",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the list of conversion sources the caller has access to.",
          "id": "content.conversionsources.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListConversionSourcesResponse"
          },
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total."
            },
            "pageToken": {
              "type": "string",
              "description": "Page token.",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "If true, also returns archived conversion sources.",
              "location": "query"
            },
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "{merchantId}/conversionsources"
        }
      }
    },
    "promotions": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a promotion from your Merchant Center account.",
          "id": "content.promotions.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Promotion"
          },
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "description": "Required. REST ID of the promotion to retrieve.",
              "type": "string"
            },
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the account that contains the collection."
            }
          },
          "path": "{merchantId}/promotions/{id}",
          "flatPath": "{merchantId}/promotions/{id}",
          "parameterOrder": [
            "merchantId",
            "id"
          ]
        },
        "create": {
          "flatPath": "{merchantId}/promotions",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection.",
              "required": true,
              "location": "path"
            }
          },
          "path": "{merchantId}/promotions",
          "response": {
            "$ref": "Promotion"
          },
          "request": {
            "$ref": "Promotion"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Inserts a promotion for your Merchant Center account. If the promotion already exists, then it updates the promotion instead. To [end or delete] (https://developers.google.com/shopping-content/guides/promotions#end_a_promotion) a promotion update the time period of the promotion to a time that has already passed.",
          "id": "content.promotions.create",
          "httpMethod": "POST"
        },
        "list": {
          "flatPath": "{merchantId}/promotions",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/promotions",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "The two-letter ISO 639-1 language code associated with the promotions, used as a filter.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListPromotion` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotion` must match the call that provided the page token.",
              "location": "query"
            },
            "countryCode": {
              "location": "query",
              "type": "string",
              "description": "[CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (for example, \"US\"), used as a filter on promotions target country."
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the account that contains the collection.",
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListPromotionResponse"
          },
          "id": "content.promotions.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "List all promotions from your Merchant Center account."
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "flatPath": "{merchantId}/accountstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "id": "content.accountstatuses.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "destinations": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "type": "integer"
            },
            "name": {
              "type": "string",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            }
          },
          "path": "{merchantId}/accountstatuses"
        },
        "get": {
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account.",
              "required": true,
              "location": "path"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            }
          },
          "path": "{merchantId}/accountstatuses/{accountId}",
          "response": {
            "$ref": "AccountStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "id": "content.accountstatuses.get",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "custombatch": {
          "parameters": {},
          "path": "accountstatuses/batch",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "id": "content.accountstatuses.custombatch",
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "flatPath": "accountstatuses/batch",
          "parameterOrder": []
        }
      }
    },
    "ordertrackingsignals": {
      "methods": {
        "create": {
          "flatPath": "{merchantId}/ordertrackingsignals",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/ordertrackingsignals",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the merchant for which the order signal is created.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OrderTrackingSignal"
          },
          "id": "content.ordertrackingsignals.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "OrderTrackingSignal"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates new order tracking signal."
        }
      }
    },
    "productstatuses": {
      "methods": {
        "list": {
          "path": "{merchantId}/productstatuses",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "type": "integer"
            }
          },
          "id": "content.productstatuses.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "flatPath": "{merchantId}/productstatuses",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "custombatch": {
          "path": "productstatuses/batch",
          "parameters": {},
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "id": "content.productstatuses.custombatch",
          "httpMethod": "POST",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets the statuses of multiple products in a single request.",
          "flatPath": "productstatuses/batch",
          "parameterOrder": []
        },
        "get": {
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets the status of a product from your Merchant Center account.",
          "id": "content.productstatuses.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ProductStatus"
          },
          "parameters": {
            "productId": {
              "description": "The REST ID of the product.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "destinations": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            }
          },
          "path": "{merchantId}/productstatuses/{productId}"
        }
      }
    },
    "pos": {
      "methods": {
        "list": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "type": "string"
            },
            "targetMerchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the target merchant."
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the stores of the target merchant.",
          "id": "content.pos.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "PosListResponse"
          }
        },
        "delete": {
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameters": {
            "targetMerchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string"
            },
            "storeCode": {
              "type": "string",
              "description": "A store code that is unique per merchant.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "location": "path"
            }
          },
          "id": "content.pos.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a store for the given merchant.",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ]
        },
        "sale": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the POS or inventory data provider."
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "id": "content.pos.sale",
          "httpMethod": "POST",
          "request": {
            "$ref": "PosSaleRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Submit a sale event for the given merchant.",
          "response": {
            "$ref": "PosSaleResponse"
          }
        },
        "custombatch": {
          "path": "pos/batch",
          "parameters": {},
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "id": "content.pos.custombatch",
          "httpMethod": "POST",
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Batches multiple POS-related calls in a single request.",
          "flatPath": "pos/batch",
          "parameterOrder": []
        },
        "inventory": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "targetMerchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "required": true,
              "location": "path"
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Submit inventory for the given merchant.",
          "id": "content.pos.inventory",
          "httpMethod": "POST",
          "response": {
            "$ref": "PosInventoryResponse"
          }
        },
        "get": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves information about the given store.",
          "id": "content.pos.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "PosStore"
          },
          "parameters": {
            "targetMerchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "location": "path",
              "required": true
            },
            "storeCode": {
              "location": "path",
              "required": true,
              "description": "A store code that is unique per merchant.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}"
        },
        "insert": {
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the POS or inventory data provider."
            },
            "targetMerchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the target merchant."
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosStore"
          },
          "request": {
            "$ref": "PosStore"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a store for the given merchant.",
          "id": "content.pos.insert",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ]
        }
      }
    },
    "accounttax": {
      "methods": {
        "get": {
          "id": "content.accounttax.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the tax settings of the account.",
          "response": {
            "$ref": "AccountTax"
          },
          "path": "{merchantId}/accounttax/{accountId}",
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update account tax settings.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "custombatch": {
          "flatPath": "accounttax/batch",
          "parameterOrder": [],
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "id": "content.accounttax.custombatch",
          "httpMethod": "POST",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "path": "accounttax/batch",
          "parameters": {}
        },
        "update": {
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update account tax settings.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string"
            }
          },
          "path": "{merchantId}/accounttax/{accountId}",
          "request": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "id": "content.accounttax.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "AccountTax"
          }
        },
        "list": {
          "flatPath": "{merchantId}/accounttax",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "path": "{merchantId}/accounttax",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "id": "content.accounttax.list",
          "httpMethod": "GET"
        }
      }
    },
    "regions": {
      "methods": {
        "create": {
          "flatPath": "{merchantId}/regions",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "Region"
          },
          "request": {
            "$ref": "Region"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a region definition in your Merchant Center account.",
          "id": "content.regions.create",
          "httpMethod": "POST",
          "parameters": {
            "regionId": {
              "location": "query",
              "type": "string",
              "description": "Required. The id of the region to create."
            },
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The id of the merchant for which to create region definition."
            }
          },
          "path": "{merchantId}/regions"
        },
        "get": {
          "id": "content.regions.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a region defined in your Merchant Center account.",
          "response": {
            "$ref": "Region"
          },
          "path": "{merchantId}/regions/{regionId}",
          "parameters": {
            "regionId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The id of the region to retrieve."
            },
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve region definition.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "{merchantId}/regions/{regionId}",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ]
        },
        "patch": {
          "flatPath": "{merchantId}/regions/{regionId}",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "parameters": {
            "regionId": {
              "type": "string",
              "description": "Required. The id of the region to update.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The id of the merchant for which to update region definition.",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "{merchantId}/regions/{regionId}",
          "request": {
            "$ref": "Region"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates a region definition in your Merchant Center account.",
          "id": "content.regions.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Region"
          }
        },
        "list": {
          "flatPath": "{merchantId}/regions",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the regions in your Merchant Center account.",
          "id": "content.regions.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListRegionsResponse"
          },
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to list region definitions."
            },
            "pageSize": {
              "description": "The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
            }
          },
          "path": "{merchantId}/regions"
        },
        "delete": {
          "path": "{merchantId}/regions/{regionId}",
          "parameters": {
            "regionId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The id of the region to delete."
            },
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to delete region definition."
            }
          },
          "flatPath": "{merchantId}/regions/{regionId}",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "id": "content.regions.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a region definition from your Merchant Center account."
        }
      }
    },
    "freelistingsprogram": {
      "resources": {
        "checkoutsettings": {
          "methods": {
            "get": {
              "response": {
                "$ref": "CheckoutSettings"
              },
              "id": "content.freelistingsprogram.checkoutsettings.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameters": {
                "merchantId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the account."
                }
              },
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ]
            },
            "insert": {
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "httpMethod": "POST",
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Enrolls merchant in `Checkout` program.",
              "response": {
                "$ref": "CheckoutSettings"
              }
            },
            "delete": {
              "parameters": {
                "merchantId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the account.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program.",
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "httpMethod": "DELETE"
            }
          }
        }
      },
      "methods": {
        "requestreview": {
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "id": "content.freelistingsprogram.requestreview",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the account."
            }
          },
          "path": "{merchantId}/freelistingsprogram/requestreview"
        },
        "get": {
          "flatPath": "{merchantId}/freelistingsprogram",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/freelistingsprogram",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "FreeListingsProgramStatus"
          },
          "id": "content.freelistingsprogram.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account."
        }
      }
    },
    "accounts": {
      "resources": {
        "returncarrier": {
          "methods": {
            "delete": {
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                },
                "carrierAccountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "content.accounts.returncarrier.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Delete a return carrier in the merchant account.",
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ]
            },
            "create": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "accounts/{accountId}/returncarrier",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Links return carrier to a merchant account.",
              "id": "content.accounts.returncarrier.create",
              "httpMethod": "POST",
              "flatPath": "accounts/{accountId}/returncarrier",
              "parameterOrder": [
                "accountId"
              ]
            },
            "patch": {
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                },
                "carrierAccountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "id": "content.accounts.returncarrier.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a return carrier in the merchant account."
            },
            "list": {
              "flatPath": "accounts/{accountId}/returncarrier",
              "parameterOrder": [
                "accountId"
              ],
              "path": "accounts/{accountId}/returncarrier",
              "parameters": {
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "ListAccountReturnCarrierResponse"
              },
              "id": "content.accounts.returncarrier.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists available return carriers in the merchant account."
            }
          }
        },
        "credentials": {
          "methods": {
            "create": {
              "flatPath": "accounts/{accountId}/credentials",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "AccountCredentials"
              },
              "request": {
                "$ref": "AccountCredentials"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Uploads credentials for the Merchant Center account. If credentials already exist for this Merchant Center account and purpose, this method updates them.",
              "id": "content.accounts.credentials.create",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The merchant id of the account these credentials belong to.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "path": "accounts/{accountId}/credentials"
            }
          }
        },
        "labels": {
          "methods": {
            "list": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The account id for whose labels are to be listed.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                }
              },
              "path": "accounts/{accountId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the labels assigned to an account.",
              "id": "content.accounts.labels.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "flatPath": "accounts/{accountId}/labels",
              "parameterOrder": [
                "accountId"
              ]
            },
            "create": {
              "request": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Creates a new label, not assigned to any account.",
              "id": "content.accounts.labels.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "accountId": {
                  "description": "Required. The id of the account this label belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "path": "accounts/{accountId}/labels",
              "flatPath": "accounts/{accountId}/labels",
              "parameterOrder": [
                "accountId"
              ]
            },
            "patch": {
              "response": {
                "$ref": "AccountLabel"
              },
              "id": "content.accounts.labels.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a label.",
              "path": "accounts/{accountId}/labels/{labelId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The id of the account this label belongs to.",
                  "location": "path",
                  "required": true
                },
                "labelId": {
                  "description": "Required. The id of the label to update.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                }
              },
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "parameterOrder": [
                "accountId",
                "labelId"
              ]
            },
            "delete": {
              "path": "accounts/{accountId}/labels/{labelId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The id of the account that owns the label.",
                  "location": "path",
                  "required": true
                },
                "labelId": {
                  "description": "Required. The id of the label to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                }
              },
              "id": "content.accounts.labels.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "parameterOrder": [
                "accountId",
                "labelId"
              ]
            }
          }
        }
      },
      "methods": {
        "updatelabels": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "accountId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the account whose labels are updated."
            }
          },
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "id": "content.accounts.updatelabels",
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "delete": {
          "id": "content.accounts.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a Merchant Center sub-account.",
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string"
            },
            "force": {
              "type": "boolean",
              "description": "Option to delete sub-accounts with products. The default value is false.",
              "default": "false",
              "location": "query"
            }
          }
        },
        "requestphoneverification": {
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "parameters": {
            "accountId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the account."
            },
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account."
            }
          },
          "id": "content.accounts.requestphoneverification",
          "httpMethod": "POST",
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Request verification code to start phone verification.",
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "get": {
          "id": "content.accounts.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a Merchant Center account.",
          "response": {
            "$ref": "Account"
          },
          "path": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account.",
              "format": "uint64",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "required": true
            },
            "view": {
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "location": "query",
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\"."
            }
          },
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "list": {
          "flatPath": "{merchantId}/accounts",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "view": {
              "location": "query",
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "label": {
              "location": "query",
              "format": "uint64",
              "type": "string",
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID."
            }
          },
          "path": "{merchantId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "id": "content.accounts.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountsListResponse"
          }
        },
        "listlinks": {
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to list links.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of links to return in the response, used for pagination. The minimum allowed value is 5 results per page. If provided value is lower than 5, it will be automatically increased to 5."
            }
          },
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "id": "content.accounts.listlinks",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/accounts/{accountId}/listlinks",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "update": {
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          },
          "id": "content.accounts.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "path": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the account."
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            }
          }
        },
        "verifyphonenumber": {
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "id": "content.accounts.verifyphonenumber",
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          }
        },
        "claimwebsite": {
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "id": "content.accounts.claimwebsite",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Claims the website of a Merchant Center sub-account. Merchant accounts with approved third-party CSSs aren't required to claim a website.",
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "parameters": {
            "accountId": {
              "description": "The ID of the account whose website is claimed.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string"
            },
            "overwrite": {
              "location": "query",
              "type": "boolean",
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request."
            }
          }
        },
        "custombatch": {
          "flatPath": "accounts/batch",
          "parameterOrder": [],
          "parameters": {},
          "path": "accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "id": "content.accounts.custombatch",
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          }
        },
        "insert": {
          "id": "content.accounts.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a Merchant Center sub-account.",
          "response": {
            "$ref": "Account"
          },
          "path": "{merchantId}/accounts",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/accounts",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "authinfo": {
          "path": "accounts/authinfo",
          "parameters": {},
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "id": "content.accounts.authinfo",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Returns information about the authenticated user.",
          "flatPath": "accounts/authinfo",
          "parameterOrder": []
        },
        "link": {
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account that should be linked.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "path": "{merchantId}/accounts/{accountId}/link",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "id": "content.accounts.link",
          "httpMethod": "POST"
        }
      }
    },
    "reports": {
      "methods": {
        "search": {
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Id of the merchant making the call. Must be a standalone account or an MCA subaccount.",
              "required": true,
              "location": "path"
            }
          },
          "path": "{merchantId}/reports/search",
          "request": {
            "$ref": "SearchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves merchant performance metrics matching the search query and optionally segmented by selected dimensions.",
          "id": "content.reports.search",
          "httpMethod": "POST",
          "response": {
            "$ref": "SearchResponse"
          },
          "flatPath": "{merchantId}/reports/search",
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "get": {
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "id": "content.pubsubnotificationsettings.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "path": "{merchantId}/pubsubnotificationsettings",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the account for which to get pubsub notification settings."
            }
          }
        },
        "update": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            }
          },
          "path": "{merchantId}/pubsubnotificationsettings",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request.",
          "id": "content.pubsubnotificationsettings.update",
          "httpMethod": "PUT",
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "delete": {
          "parameters": {
            "productId": {
              "type": "string",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account."
            }
          },
          "path": "{merchantId}/productdeliverytime/{productId}",
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes the delivery time of a product.",
          "id": "content.productdeliverytime.delete",
          "httpMethod": "DELETE"
        },
        "create": {
          "flatPath": "{merchantId}/productdeliverytime",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/productdeliverytime",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "content.productdeliverytime.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "ProductDeliveryTime"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates or updates the delivery time of a product.",
          "response": {
            "$ref": "ProductDeliveryTime"
          }
        },
        "get": {
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "productId": {
[...]
