{
  "fullyEncodeReservedExpansion": true,
  "revision": "20260309",
  "version_module": true,
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult",
      "description": "The result of testing a constraint expression on a pair of conversations.",
      "properties": {
        "conversationA": {
          "description": "The first conversation resource name.",
          "type": "string"
        },
        "conversationB": {
          "description": "The second conversation resource name.",
          "type": "string"
        },
        "ruleConstraintResults": {
          "type": "array",
          "description": "The results for each applicable constraint rule.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResultRuleConstraintResult"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice": {
      "description": "A slice contains a total and (if the request specified a time granularity) a time series of metric values. Each slice contains a unique combination of the cardinality of dimensions from the request. For example, if the request specifies a single ISSUE dimension and it has a cardinality of 2 (i.e. the data used to compute the metrics has 2 issues in total), the response will have 2 slices: * Slice 1 -> dimensions=[Issue 1] * Slice 2 -> dimensions=[Issue 2]",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "A unique combination of dimensions that this slice represents.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dimension"
          }
        },
        "timeSeries": {
          "description": "A time series of metric values. This is only populated if the request specifies a time granularity other than NONE.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceTimeSeries"
        },
        "total": {
          "description": "The total metric value. The interval of this data point is [starting create time, ending create time) from the request.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSlice"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "description": "Wrapper for detailed, step-by-step results.",
      "properties": {
        "constraintResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConstraintEvaluationResult"
          },
          "description": "A list of constraint evaluation results for each pair of conversations."
        },
        "joinKeyResults": {
          "type": "array",
          "description": "A list of join key correlation results for each conversation tested.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults"
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadataSampleConversationsStats": {
      "description": "Statistics for SampleConversations operation.",
      "properties": {
        "failedSampleCount": {
          "type": "integer",
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true,
          "format": "int32"
        },
        "successfulSampleCount": {
          "description": "Output only. The number of new conversations added during this sample operation.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsMetadataSampleConversationsStats"
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponse",
      "type": "object",
      "description": "The response of testing correlation config.",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsMetadataDownloadStats",
      "type": "object",
      "description": "Statistics for BulkDownloadFeedbackLabels operation.",
      "properties": {
        "processedObjectCount": {
          "type": "integer",
          "description": "The number of objects processed during the download operation.",
          "format": "int32"
        },
        "fileNames": {
          "description": "Output only. Full name of the files written to Cloud storage.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "successfulDownloadCount": {
          "description": "The number of new feedback labels downloaded during this operation. Different from \"processed\" because some labels might not be downloaded because an error.",
          "format": "int32",
          "type": "integer"
        },
        "totalFilesWritten": {
          "type": "integer",
          "description": "Total number of files written to the provided Cloud Storage bucket.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SentimentData",
      "description": "The data for a sentiment annotation.",
      "properties": {
        "score": {
          "type": "number",
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "format": "float"
        },
        "magnitude": {
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "properties": {
        "correctnessLevel": {
          "description": "The correctness level of an answer.",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "type": "string",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ]
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback"
    },
    "GoogleCloudContactcenterinsightsV1mainInterruptionData": {
      "description": "The data for an interruption annotation.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainInterruptionData"
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest": {
      "description": "Request to import an issue model.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource"
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsResponse",
      "type": "object",
      "description": "Response for the BulkDownloadFeedbackLabel endpoint.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessage": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessage",
      "type": "object",
      "description": "The message in the conversation.",
      "properties": {
        "messageId": {
          "description": "The message id of the message.",
          "type": "string"
        },
        "systemMessage": {
          "description": "A message from the system in response to the user.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessage"
        },
        "createTime": {
          "type": "string",
          "description": "For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "format": "google-datetime"
        },
        "userMessage": {
          "description": "A message from the user that is interacting with the system.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageUserMessage"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsResponse",
      "description": "The response for a bulk analyze conversations operation.",
      "properties": {
        "failedAnalysisCount": {
          "type": "integer",
          "description": "Count of failed analyses.",
          "format": "int32"
        },
        "successfulAnalysisCount": {
          "description": "Count of successful analyses.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1FeedbackLabel": {
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "properties": {
        "label": {
          "description": "String label used for Topic Modeling.",
          "type": "string"
        },
        "labeledResource": {
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
          "type": "string"
        },
        "qaAnswerLabel": {
          "description": "QaAnswer label used for Quality AI example conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time of the label.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update time of the label.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1FeedbackLabel",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewResponse",
      "type": "object",
      "description": "The response for querying performance overview.",
      "properties": {
        "summaryText": {
          "description": "The summary text of the performance.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination",
      "description": "Google Sheets document details to write the feedback labels to.",
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA. The spreadsheet ID written to will be returned as `file_names` in the BulkDownloadFeedbackLabelsMetadata.",
          "type": "string"
        },
        "sheetTitle": {
          "description": "Optional. The title of the new sheet to write the feedback labels to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessage": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessage",
      "description": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system.",
      "properties": {
        "chartSpec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Chart spec from LLM"
        },
        "generatedSqlQuery": {
          "description": "Raw SQL from LLM, before templatization",
          "type": "string"
        },
        "textOutput": {
          "description": "A direct natural language response to the user message.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessageTextOutput"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Analysis": {
      "description": "The analysis resource.",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "Output only. The time at which the analysis was requested.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}",
          "type": "string"
        },
        "analysisResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes.",
          "readOnly": true
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Analysis"
    },
    "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata",
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "properties": {
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata",
      "description": "Metadata for deleting an issue model.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for deletion.",
          "$ref": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages",
      "description": "A wrapper for system messages per turn.",
      "properties": {
        "systemMessages": {
          "description": "A message from the system in response to the user.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagRequest": {
      "description": "The request for deleting a QaQuestionTag.",
      "properties": {
        "name": {
          "description": "Required. The name of the QaQuestionTag to delete.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeleteQaQuestionTagRequest"
    },
    "GoogleCloudContactcenterinsightsV1mainIntent": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainIntent",
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier of the intent.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CallAnnotation": {
      "description": "A piece of metadata that applies to a window of a call.",
      "properties": {
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueMatchData"
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1SilenceData"
        },
        "channelTag": {
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32",
          "type": "integer"
        },
        "intentMatchData": {
          "description": "Data specifying an intent match.",
          "$ref": "GoogleCloudContactcenterinsightsV1IntentMatchData"
        },
        "phraseMatchData": {
          "description": "Data specifying a phrase match.",
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchData"
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "entityMentionData": {
          "description": "Data specifying an entity mention.",
          "$ref": "GoogleCloudContactcenterinsightsV1EntityMentionData"
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1InterruptionData"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1HoldData"
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CallAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessage",
      "type": "object",
      "description": "The message in the conversation.",
      "properties": {
        "messageId": {
          "description": "The message id of the message.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "userMessage": {
          "description": "A message from the user that is interacting with the system.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageUserMessage"
        },
        "systemMessageWrapper": {
          "description": "A wrapper for system messages per turn.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessages"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSmartReplyData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainSmartReplyData",
      "description": "Agent Assist Smart Reply data.",
      "properties": {
        "confidenceScore": {
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "double",
          "type": "number"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "type": "object"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "reply": {
          "description": "The content of the reply.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource": {
      "description": "Google Cloud Storage Object details to get the feedback label file from.",
      "properties": {
        "format": {
          "description": "Required. File format which will be ingested.",
          "enumDescriptions": [
            "Unspecified format.",
            "CSV format.",
            "JSON format."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "JSON"
          ]
        },
        "objectUri": {
          "description": "Required. The Google Cloud Storage URI of the file to import. Format: `gs://bucket_name/object_name`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestGcsSource"
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata": {
      "description": "Metadata for creating an issue model.",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1mainSampleConversationsResponse",
      "type": "object",
      "description": "The response to an SampleConversations operation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1DialogflowIntent": {
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
    },
    "GoogleCloudContactcenterinsightsV1ArticleSuggestionData": {
      "description": "Agent Assist Article Suggestion data.",
      "properties": {
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "confidenceScore": {
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float",
          "type": "number"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "uri": {
          "description": "Article URI.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "description": "Request for the BulkDownloadFeedbackLabel endpoint.",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "feedbackLabelType": {
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "type": "string",
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ]
        },
        "templateQaScorecardId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored."
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "maxDownloadCount": {
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded.",
          "format": "int32",
          "type": "integer"
        },
        "conversationFilter": {
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling.",
          "type": "string"
        },
        "sheetsDestination": {
          "description": "A sheets document destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination"
        },
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationUserInput": {
      "id": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationUserInput",
      "type": "object",
      "description": "Explicit input used for generating the answer",
      "properties": {
        "query": {
          "description": "Query text. Article Search uses this to store the input query used to generate the search results.",
          "type": "string"
        },
        "querySource": {
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "description": "Query source for the answer.",
          "enumDescriptions": [
            "Unknown query source.",
            "The query is from agents.",
            "The query is a query from previous suggestions, e.g. from a preceding SuggestKnowledgeAssist response."
          ]
        },
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata",
      "description": "Metadata for undeploying an issue model.",
      "properties": {
        "request": {
          "description": "The original request for undeployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1mainGcsSource",
      "type": "object",
      "description": "A Cloud Storage source of conversation data.",
      "properties": {
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        },
        "transcriptUri": {
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo",
      "type": "object",
      "description": "Word-level info for words in a transcript.",
      "properties": {
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "format": "float"
        },
        "endOffset": {
          "type": "string",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration"
        },
        "startOffset": {
          "description": "Time offset of the start of this word relative to the beginning of the total conversation.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelResponse": {
      "description": "Response from import issue model",
      "properties": {
        "issueModel": {
          "description": "The issue model that was imported.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SampleConversationsRequest",
      "description": "The request to sample conversations to a dataset.",
      "properties": {
        "destinationDataset": {
          "description": "The dataset resource to copy the sampled conversations to.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Dataset"
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SampleRule"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "type": "object",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata": {
      "description": "The metadata for a bulk delete conversations operation.",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for bulk delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse": {
      "description": "The response for generative insights.",
      "properties": {
        "generativeResponses": {
          "type": "array",
          "description": "The full list of generative responses. Each response is ordered by time.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse"
          }
        },
        "transcript": {
          "description": "The transcript of the generative insights conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse"
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
      "description": "A BigQuery Table Reference.",
      "properties": {
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ListFeedbackLabelsResponse": {
      "description": "The response for listing feedback labels.",
      "properties": {
        "feedbackLabels": {
          "type": "array",
          "description": "The feedback labels that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
          }
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ListFeedbackLabelsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "type": "object",
      "description": "An error that occurred during correlation for a specific conversation.",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig": {
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "agentId": {
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided through the `metadata_bucket_uri`.",
          "type": "string"
        },
        "customerChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32",
          "type": "integer"
        },
        "agentChannel": {
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIngestConversationsRequestConversationConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowSource": {
      "description": "A Dialogflow source of conversation data.",
      "properties": {
        "dialogflowConversation": {
          "type": "string",
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "readOnly": true
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DialogflowSource",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsResponse",
      "type": "object",
      "description": "The response to an SampleConversations operation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainSampleRule": {
      "description": "Message for sampling conversations.",
      "properties": {
        "samplePercentage": {
          "description": "Percentage of conversations that we should sample based on the dimension between [0, 100].",
          "format": "double",
          "type": "number"
        },
        "sampleRow": {
          "description": "Number of the conversations that we should sample based on the dimension.",
          "format": "int64",
          "type": "string"
        },
        "dimension": {
          "description": "Optional. Group by dimension to sample the conversation. If no dimension is provided, the sampling will be applied to the project level. Current supported dimensions is 'quality_metadata.agent_info.agent_id'.",
          "type": "string"
        },
        "conversationFilter": {
          "description": "To specify the filter for the conversions that should apply this sample rule. An empty filter means this sample rule applies to all conversations.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainSampleRule",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse": {
      "description": "Response from export issue model",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata",
      "description": "The metadata for a bulk delete conversations operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "type": "array"
        },
        "request": {
          "description": "The original request for bulk delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest",
      "type": "object",
      "description": "The request to export insights.",
      "properties": {
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "type": "string",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ]
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination"
        },
        "writeDisposition": {
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "description": "Options for what to do if the destination table already exists."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryPerformanceOverviewMetadata",
      "description": "The metadata for querying performance overview.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata": {
      "description": "Call-specific metadata created during analysis.",
      "properties": {
        "entities": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Entity"
          },
          "description": "All the entities in the call.",
          "type": "object"
        },
        "phraseMatchers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData"
          },
          "description": "All the matched phrase matchers in the call."
        },
        "intents": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Intent"
          },
          "description": "All the matched intents in the call."
        },
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult"
        },
        "qaScorecardResults": {
          "description": "Results of scoring QaScorecards.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaScorecardResult"
          },
          "type": "array"
        },
        "silence": {
          "description": "Overall conversation-level silence during the call.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence"
        },
        "sentiments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment"
          },
          "description": "Overall conversation-level sentiment for each channel of the call."
        },
        "annotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation"
          },
          "description": "A list of call annotations that apply to this call."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence",
      "type": "object",
      "description": "Conversation-level silence data.",
      "properties": {
        "silenceDuration": {
          "description": "Amount of time calculated to be in silence.",
          "format": "google-duration",
          "type": "string"
        },
        "silencePercentage": {
          "type": "number",
          "description": "Percentage of the total conversation spent in silence.",
          "format": "float"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessage": {
      "description": "The message in the conversation.",
      "properties": {
        "systemMessageWrapper": {
          "description": "A wrapper for system messages per turn.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessages"
        },
        "userMessage": {
          "description": "A message from the user that is interacting with the system.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageUserMessage"
        },
        "createTime": {
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "messageId": {
          "description": "The message id of the message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessage",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig",
      "type": "object",
      "description": "Configuration for summarization.",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "summarizationModel": {
          "description": "Default summarization model to be used.",
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ]
        },
        "generator": {
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata",
      "description": "The metadata for an `UploadConversation` operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest",
          "description": "Output only. The original request.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "analysisOperation": {
          "type": "string",
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "readOnly": true
        },
        "appliedRedactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "description": "Output only. The redaction config applied to the uploaded conversation.",
          "readOnly": true
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSpeechConfig": {
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        },
        "disableWordTimeOffsets": {
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainSpeechConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "type": "object",
      "description": "Configs for the input data used to create the issue model.",
      "properties": {
        "trainingConversationsCount": {
          "description": "Output only. Number of conversations used in training. Output only.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`."
        },
        "filter": {
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details.",
          "type": "string"
        }
      }
    },
    "GoogleTypeInterval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeInterval"
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio": {
      "description": "A wrapper for holding the audio for any given turn.",
      "properties": {
        "audioGcsUri": {
          "description": "The Cloud Storage URI of the audio for any given turn.",
          "type": "string"
        },
        "audioDuration": {
          "type": "string",
          "description": "The duration of the audio.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio"
    },
    "GoogleCloudContactcenterinsightsV1AssessmentRule": {
      "description": "The CCAI Insights project wide assessment rule. This assessment rule will be applied to all conversations from the previous sampling cycle that match the sample rule defined in the assessment rule. One project can have multiple assessment rules.",
      "properties": {
        "scheduleInfo": {
          "description": "Schedule info for the assessment rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1ScheduleInfo"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this assessment rule was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which this assessment rule was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "active": {
          "description": "If true, apply this rule to conversations. Otherwise, this rule is inactive.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Display Name of the assessment rule.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the assessment rule. Format: projects/{project}/locations/{location}/assessmentRules/{assessment_rule}",
          "type": "string"
        },
        "sampleRule": {
          "description": "The sample rule for the assessment rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AssessmentRule",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest": {
      "description": "The request to delete conversations in bulk.",
      "properties": {
        "filter": {
          "description": "Filter used to select the subset of conversations to delete.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
          "type": "string"
        },
        "maxDeleteCount": {
          "description": "Maximum number of conversations to delete.",
          "format": "int32",
          "type": "integer"
        },
        "force": {
          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest": {
      "id": "GoogleCloudContactcenterinsightsV1TuneQaScorecardRevisionRequest",
      "type": "object",
      "description": "Request for TuneQaScorecardRevision endpoint.",
      "properties": {
        "filter": {
          "description": "Required. Filter for selecting the feedback labels that needs to be used for training. This filter can be used to limit the feedback labels used for tuning to a feedback labels created or updated for a specific time-window etc.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. Run in validate only mode, no fine tuning will actually run. Data quality validations like training data distributions will run. Even when set to false, the data quality validations will still run but once the validations complete we will proceed with the fine tune, if applicable.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewMetadata": {
      "description": "The metadata for querying performance overview.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryPerformanceOverviewMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation": {
      "description": "The conversation used to generate the chart.",
      "properties": {
        "conversationId": {
          "description": "The conversation id of the chart.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessage"
          },
          "description": "Ordered list of messages, including user inputs and system responses."
        },
        "createTime": {
          "type": "string",
          "description": "The create time of the conversation.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "The update time of the conversation.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation"
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "properties": {
        "totalRequestedAnalysesCount": {
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "format": "int32",
          "type": "integer"
        },
        "failedAnalysesCount": {
          "type": "integer",
          "description": "The number of requested analyses that have failed so far.",
          "format": "int32"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "properties": {
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        },
        "playbookDisplayName": {
          "description": "Optional. The dialogflow playbook display name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "description": "The measure related to dialogflow interactions.",
      "properties": {
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileAudioInAudioOutLatency": {
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata": {
      "description": "Metadata for the BulkDeleteFeedbackLabels endpoint.",
      "properties": {
        "request": {
          "description": "Output only. The original request for delete.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
        },
        "partialErrors": {
          "description": "Partial errors during deletion operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceTimeSeries",
      "type": "object",
      "description": "A time series of metric values.",
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "The data points that make up the time series .",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPoint"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1EncryptionSpec": {
      "description": "A customer-managed encryption key specification that can be applied to all created resources (e.g. `Conversation`).",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
          "type": "string"
        },
        "kmsKey": {
          "description": "Required. The name of customer-managed encryption key that is used to secure a resource and its sub-resources. If empty, the resource is secured by our default encryption key. Only the key in the same location as this resource is allowed to be used for encryption. Format: `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "description": "A text output message from the system.",
      "properties": {
        "text": {
          "description": "The parts of the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ],
          "description": "The type of the text message.",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput"
    },
    "GoogleCloudContactcenterinsightsV1AppealAssessmentRequest": {
      "id": "GoogleCloudContactcenterinsightsV1AppealAssessmentRequest",
      "type": "object",
      "description": "The message to appeal an assessment.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1ExactMatchConfig": {
      "id": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
      "type": "object",
      "description": "Exact match configuration.",
      "properties": {
        "caseSensitive": {
          "description": "Whether to consider case sensitivity when performing an exact match.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainEntity": {
      "id": "GoogleCloudContactcenterinsightsV1mainEntity",
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "format": "float",
          "type": "number"
        },
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type.",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse",
      "description": "The response to initialize a location-level encryption specification.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest",
      "type": "object",
      "description": "The request for querying metrics.",
      "properties": {
        "timeGranularity": {
          "enum": [
            "TIME_GRANULARITY_UNSPECIFIED",
            "NONE",
            "DAILY",
            "HOURLY",
            "PER_MINUTE",
            "PER_5_MINUTES",
            "MONTHLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The time granularity is unspecified and will default to NONE.",
            "No time granularity. The response won't contain a time series. This is the default value if no time granularity is specified.",
            "Data points in the time series will aggregate at a daily granularity. 1 day means [midnight to midnight).",
            "Data points in the time series will aggregate at a daily granularity. 1 HOUR means [01:00 to 02:00).",
            "Data points in the time series will aggregate at a daily granularity. PER_MINUTE means [01:00 to 01:01).",
            "Data points in the time series will aggregate at a 1 minute granularity. PER_5_MINUTES means [01:00 to 01:05).",
            "Data points in the time series will aggregate at a monthly granularity. 1 MONTH means [01st of the month to 1st of the next month)."
          ],
          "description": "The time granularity of each data point in the time series. Defaults to NONE if this field is unspecified."
        },
        "measureMask": {
          "description": "Measures to return. Defaults to all measures if this field is unspecified. A valid mask should traverse from the `measure` field from the response. For example, a path from a measure mask to get the conversation count is \"conversation_measure.count\".",
          "format": "google-fieldmask",
          "type": "string"
        },
        "filter": {
          "description": "Required. Filter to select a subset of conversations to compute the metrics. Must specify a window of the conversation create time to compute the metrics. The returned metrics will be from the range [DATE(starting create time), DATE(ending create time)). ",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dimension"
          },
          "description": "The dimensions that determine the grouping key for the query. Defaults to no dimension if this field is unspecified. If a dimension is specified, its key must also be specified. Each dimension's key must be unique. If a time granularity is also specified, metric values in the dimension will be bucketed by this granularity. Up to one dimension is supported for now."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue": {
      "id": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue",
      "type": "object",
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "properties": {
        "skipValue": {
          "type": "boolean",
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated.",
          "readOnly": true
        },
        "strValue": {
          "description": "String value.",
          "type": "string"
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        },
        "key": {
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key.",
          "type": "string"
        },
        "potentialScore": {
          "type": "number",
          "description": "Output only. The maximum potential score of the question.",
          "readOnly": true,
          "format": "double"
        },
        "numValue": {
          "description": "Numerical value.",
          "format": "double",
          "type": "number"
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "normalizedScore": {
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "score": {
          "description": "Output only. Numerical score of the answer.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "description": "Issue Modeling result on a conversation.",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainGenerativeInsightsMetadata",
      "type": "object",
      "description": "The metadata for generative insights.",
      "properties": {
        "errorMessages": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The error message when the generative insights request fails.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SpeechConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1SpeechConfig",
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        },
        "disableWordTimeOffsets": {
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse": {
      "description": "The response from a GenerateConversationSignedAudio request.",
      "properties": {
        "signedAudioUris": {
          "description": "The signed uris for the audio.",
          "$ref": "GoogleCloudContactcenterinsightsV1SignedAudioUris"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
    },
    "GoogleCloudContactcenterinsightsV1Entity": {
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "type": "object"
        },
        "salience": {
          "type": "number",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "format": "float"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "description": "The entity type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Entity",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataMetadata": {
      "description": "Metadata for an export insights operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "completedExportCount": {
          "type": "integer",
          "description": "The number of conversations that were exported successfully.",
          "format": "int32"
        },
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "failedExportCount": {
          "type": "integer",
          "description": "The number of conversations that failed to be exported.",
          "format": "int32"
        },
        "partialErrors": {
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Conversation": {
      "id": "GoogleCloudContactcenterinsightsV1Conversation",
      "type": "object",
      "description": "The conversation resource.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadataJson": {
          "description": "Input only. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "correlationInfo": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo",
          "description": "Output only. Info for correlating across conversations.",
          "readOnly": true
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "format": "google-duration"
        },
        "runtimeAnnotations": {
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
          },
          "type": "array"
        },
        "latestSummary": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "description": "Output only. Latest summary of the conversation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the conversation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "transcript": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
          "description": "Output only. The conversation transcript.",
          "readOnly": true
        },
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata"
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadata"
        },
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "format": "google-duration"
        },
        "dialogflowIntents": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
          },
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "readOnly": true,
          "type": "object"
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which the conversation started.",
          "format": "google-datetime",
          "type": "string"
        },
        "latestAnalysis": {
          "$ref": "GoogleCloudContactcenterinsightsV1Analysis",
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true
        },
        "dataSource": {
          "description": "The source of the audio and transcription for the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSource"
        },
        "expireTime": {
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the conversation was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "medium": {
          "description": "Immutable. The conversation medium.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ]
        },
        "entityUniqueId": {
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to.",
          "type": "string"
        },
        "sentiment": {
          "description": "Sentiment expressed for this mention of the entity.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation",
      "description": "A piece of metadata that applies to a window of a call.",
[...]
