{
  "ownerDomain": "google.com",
  "title": "Content API for Shopping",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "servicePath": "content/v2.1/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "shoppingadsprogram": {
      "methods": {
        "get": {
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "Required. The ID of the account.",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "{merchantId}/shoppingadsprogram",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves the status and review eligibility for the Shopping Ads program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "flatPath": "{merchantId}/shoppingadsprogram",
          "response": {
            "$ref": "ShoppingAdsProgramStatus"
          },
          "id": "content.shoppingadsprogram.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestreview": {
          "request": {
            "$ref": "RequestReviewShoppingAdsRequest"
          },
          "id": "content.shoppingadsprogram.requestreview",
          "flatPath": "{merchantId}/shoppingadsprogram/requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/shoppingadsprogram/requestreview",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Requests a review of Shopping ads in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the account.",
              "format": "int64",
              "type": "string"
            }
          }
        }
      }
    },
    "collectionstatuses": {
      "methods": {
        "get": {
          "id": "content.collectionstatuses.get",
          "flatPath": "{merchantId}/collectionstatuses/{collectionId}",
          "response": {
            "$ref": "CollectionStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/collectionstatuses/{collectionId}",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "description": "Gets the status of a collection from your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "collectionId": {
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "path": "{merchantId}/collectionstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the statuses of the collections in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of collection statuses to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "flatPath": "{merchantId}/collectionstatuses",
          "response": {
            "$ref": "ListCollectionStatusesResponse"
          },
          "id": "content.collectionstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "regions": {
      "methods": {
        "get": {
          "path": "{merchantId}/regions/{regionId}",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Retrieves a region defined in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve region definition.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "regionId": {
              "type": "string",
              "required": true,
              "description": "Required. The id of the region to retrieve.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "{merchantId}/regions/{regionId}",
          "response": {
            "$ref": "Region"
          },
          "id": "content.regions.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "patch": {
          "id": "content.regions.patch",
          "flatPath": "{merchantId}/regions/{regionId}",
          "response": {
            "$ref": "Region"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Region"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`."
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The id of the merchant for which to update region definition.",
              "format": "int64"
            },
            "regionId": {
              "type": "string",
              "required": true,
              "description": "Required. The id of the region to update.",
              "location": "path"
            }
          },
          "path": "{merchantId}/regions/{regionId}",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Updates a region definition in your Merchant Center account."
        },
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The id of the merchant for which to create region definition.",
              "required": true,
              "location": "path"
            },
            "regionId": {
              "type": "string",
              "location": "query",
              "description": "Required. The id of the region to create."
            }
          },
          "path": "{merchantId}/regions",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a region definition in your Merchant Center account.",
          "id": "content.regions.create",
          "flatPath": "{merchantId}/regions",
          "response": {
            "$ref": "Region"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Region"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/regions/{regionId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to delete region definition.",
              "format": "int64",
              "type": "string"
            },
            "regionId": {
              "type": "string",
              "required": true,
              "description": "Required. The id of the region to delete.",
              "location": "path"
            }
          },
          "id": "content.regions.delete",
          "httpMethod": "DELETE",
          "description": "Deletes a region definition from your Merchant Center account.",
          "path": "{merchantId}/regions/{regionId}",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ]
        },
        "list": {
          "id": "content.regions.list",
          "flatPath": "{merchantId}/regions",
          "response": {
            "$ref": "ListRegionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to list region definitions.",
              "format": "int64",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "{merchantId}/regions",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the regions in your Merchant Center account."
        }
      }
    },
    "accounttax": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.list",
          "flatPath": "{merchantId}/accounttax",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "path": "{merchantId}/accounttax",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account."
            }
          }
        },
        "custombatch": {
          "flatPath": "accounttax/batch",
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "id": "content.accounttax.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "path": "accounttax/batch",
          "parameterOrder": [],
          "description": "Retrieves and updates tax settings of multiple accounts in a single request."
        },
        "get": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the tax settings of the account.",
          "path": "{merchantId}/accounttax/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "id": "content.accounttax.get"
        },
        "update": {
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "path": "{merchantId}/accounttax/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.update",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          }
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "get": {
          "parameters": {
            "language": {
              "type": "string",
              "description": "The language to get the datafeed status for. If this parameter is provided then `country` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query"
            },
            "country": {
              "type": "string",
              "location": "query",
              "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target."
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datafeedId": {
              "type": "string",
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "feedLabel": {
              "location": "query",
              "description": "The feed label to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "{merchantId}/datafeedstatuses/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "flatPath": "{merchantId}/datafeedstatuses/{datafeedId}",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "id": "content.datafeedstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "path": "datafeedstatuses/batch",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "datafeedstatuses/batch",
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "id": "content.datafeedstatuses.custombatch"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/datafeedstatuses",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "id": "content.datafeedstatuses.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "path": "{merchantId}/datafeedstatuses",
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "merchantsupport": {
      "methods": {
        "renderproductissues": {
          "path": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Provide a list of issues for merchant's product with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "location": "query"
            },
            "productId": {
              "description": "Required. The [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id) of the product to fetch issues for.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "timeZone": {
              "location": "query",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the product.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "RenderProductIssuesRequestPayload"
          },
          "flatPath": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "response": {
            "$ref": "RenderProductIssuesResponse"
          },
          "id": "content.merchantsupport.renderproductissues",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "triggeraction": {
          "httpMethod": "POST",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "Optional. Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) used to localize the response. If not set, the result will be in default language `en-US`.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the merchant's account.",
              "required": true,
              "location": "path"
            }
          },
          "path": "{merchantId}/merchantsupport/triggeraction",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Start an action. The action can be requested by merchants in third-party application. Before merchants can request the action, the third-party application needs to show them action specific content and display a user input form. You can request access using [Trigger action allowlist form](https://docs.google.com/forms/d/e/1FAIpQLSfeV_sBW9MBQv9BMTV6JZ1g11PGHLdHsrefca-9h0LmpU7CUg/viewform?usp=sharing). The action can be successfully started only once all `required` inputs are provided. If any `required` input is missing, or invalid value was provided, the service will return 400 error. Validation errors will contain Ids for all problematic field together with translated, human readable error messages that can be shown to the user.",
          "id": "content.merchantsupport.triggeraction",
          "flatPath": "{merchantId}/merchantsupport/triggeraction",
          "response": {
            "$ref": "TriggerActionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "TriggerActionPayload"
          }
        },
        "renderaccountissues": {
          "request": {
            "$ref": "RenderAccountIssuesRequestPayload"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.merchantsupport.renderaccountissues",
          "flatPath": "{merchantId}/merchantsupport/renderaccountissues",
          "response": {
            "$ref": "RenderAccountIssuesResponse"
          },
          "description": "Provide a list of merchant's issues with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "path": "{merchantId}/merchantsupport/renderaccountissues",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account to fetch issues for.",
              "type": "string"
            },
            "timeZone": {
              "location": "query",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            }
          }
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "get": {
          "path": "{merchantId}/accountstatuses/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "httpMethod": "GET",
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query"
            }
          },
          "id": "content.accountstatuses.get",
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "response": {
            "$ref": "AccountStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "path": "accountstatuses/batch",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accountstatuses/batch",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "id": "content.accountstatuses.custombatch"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accountstatuses",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "id": "content.accountstatuses.list",
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "path": "{merchantId}/accountstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "name": {
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "reports": {
      "methods": {
        "search": {
          "flatPath": "{merchantId}/reports/search",
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "content.reports.search",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "SearchRequest"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Id of the merchant making the call. Must be a standalone account or an MCA subaccount.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "path": "{merchantId}/reports/search",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves merchant performance metrics matching the search query and optionally segmented by selected dimensions."
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "path": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves a Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "type": "string",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "location": "query",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ]
            },
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            }
          },
          "id": "content.accounts.get",
          "flatPath": "{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestphoneverification": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.requestphoneverification",
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          },
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "int64"
            },
            "accountId": {
              "description": "Required. The ID of the account.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Request verification code to start phone verification.",
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "delete": {
          "description": "Deletes a Merchant Center sub-account.",
          "path": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "force": {
              "default": "false",
              "location": "query",
              "description": "Option to delete sub-accounts with products. The default value is false.",
              "type": "boolean"
            }
          },
          "id": "content.accounts.delete",
          "httpMethod": "DELETE"
        },
        "verifyphonenumber": {
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the account.",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.verifyphonenumber",
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "id": "content.accounts.update",
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account."
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "path": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "link": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "id": "content.accounts.link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "accountId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that should be linked.",
              "format": "uint64",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "path": "{merchantId}/accounts/{accountId}/link",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "listlinks": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.listlinks",
          "flatPath": "{merchantId}/accounts/{accountId}/listlinks",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account for which to list links.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of links to return in the response, used for pagination. The minimum allowed value is 5 results per page. If provided value is lower than 5, it will be automatically increased to 5."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "path": "accounts/batch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.custombatch",
          "flatPath": "accounts/batch",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          }
        },
        "list": {
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "path": "{merchantId}/accounts",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "location": "query",
              "format": "uint64",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "view": {
              "location": "query",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "id": "content.accounts.list"
        },
        "authinfo": {
          "flatPath": "accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "id": "content.accounts.authinfo",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/authinfo",
          "parameterOrder": [],
          "description": "Returns information about the authenticated user.",
          "parameters": {},
          "httpMethod": "GET"
        },
        "claimwebsite": {
          "description": "Claims the website of a Merchant Center sub-account. Merchant accounts with approved third-party CSSs aren't required to claim a website.",
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account whose website is claimed.",
              "type": "string"
            },
            "overwrite": {
              "type": "boolean",
              "location": "query",
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.claimwebsite",
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          }
        },
        "updatelabels": {
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.updatelabels",
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account.",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account whose labels are updated.",
              "format": "uint64",
              "type": "string"
            }
          }
        },
        "insert": {
          "id": "content.accounts.insert",
          "flatPath": "{merchantId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/accounts",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a Merchant Center sub-account."
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.labels.list",
              "flatPath": "accounts/{accountId}/labels",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The account id for whose labels are to be listed.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                }
              },
              "description": "Lists the labels assigned to an account.",
              "path": "accounts/{accountId}/labels",
              "parameterOrder": [
                "accountId"
              ]
            },
            "create": {
              "request": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.labels.create",
              "flatPath": "accounts/{accountId}/labels",
              "response": {
                "$ref": "AccountLabel"
              },
              "description": "Creates a new label, not assigned to any account.",
              "path": "accounts/{accountId}/labels",
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "description": "Required. The id of the account this label belongs to.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "response": {
                "$ref": "AccountLabel"
              },
              "id": "content.accounts.labels.patch",
              "request": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "labelId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The id of the label to update.",
                  "format": "int64",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The id of the account this label belongs to.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates a label.",
              "path": "accounts/{accountId}/labels/{labelId}",
              "parameterOrder": [
                "accountId",
                "labelId"
              ]
            },
            "delete": {
              "path": "accounts/{accountId}/labels/{labelId}",
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "id": "content.accounts.labels.delete",
              "httpMethod": "DELETE",
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "description": "Required. The id of the account that owns the label.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "labelId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The id of the label to delete.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "returncarrier": {
          "methods": {
            "list": {
              "id": "content.accounts.returncarrier.list",
              "flatPath": "accounts/{accountId}/returncarrier",
              "response": {
                "$ref": "ListAccountReturnCarrierResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "path": "accounts/{accountId}/returncarrier",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Lists available return carriers in the merchant account."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/{accountId}/returncarrier",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "id": "content.accounts.returncarrier.create",
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                }
              },
              "httpMethod": "POST",
              "description": "Links return carrier to a merchant account.",
              "path": "accounts/{accountId}/returncarrier",
              "parameterOrder": [
                "accountId"
              ]
            },
            "patch": {
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "description": "Updates a return carrier in the merchant account.",
              "httpMethod": "PATCH",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "format": "int64",
                  "required": true,
                  "location": "path"
                },
                "carrierAccountId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "id": "content.accounts.returncarrier.patch",
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "delete": {
              "description": "Delete a return carrier in the merchant account.",
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "required": true,
                  "location": "path"
                },
                "carrierAccountId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "id": "content.accounts.returncarrier.delete",
              "httpMethod": "DELETE"
            }
          }
        },
        "credentials": {
          "methods": {
            "create": {
              "path": "accounts/{accountId}/credentials",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Uploads credentials for the Merchant Center account. If credentials already exist for this Merchant Center account and purpose, this method updates them.",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The merchant id of the account these credentials belong to.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AccountCredentials"
              },
              "id": "content.accounts.credentials.create",
              "flatPath": "accounts/{accountId}/credentials",
              "response": {
                "$ref": "AccountCredentials"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      }
    },
    "conversionsources": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. List of fields being updated. The following fields can be updated: `attribution_settings`, `display_name`, `currency_code`.",
              "type": "string"
            },
            "conversionSourceId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the conversion source to be updated.",
              "location": "path"
            },
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "description": "Updates information of an existing conversion source.",
          "id": "content.conversionsources.patch",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "response": {
            "$ref": "ConversionSource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "ConversionSource"
          }
        },
        "get": {
          "id": "content.conversionsources.get",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "response": {
            "$ref": "ConversionSource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "conversionSourceId": {
              "description": "Required. The REST ID of the collection.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "description": "Fetches a conversion source."
        },
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64",
              "type": "string"
            }
          },
          "path": "{merchantId}/conversionsources",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a new conversion source.",
          "id": "content.conversionsources.create",
          "flatPath": "{merchantId}/conversionsources",
          "response": {
            "$ref": "ConversionSource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "ConversionSource"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.conversionsources.delete",
          "httpMethod": "DELETE",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "conversionSourceId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the conversion source to be deleted.",
              "location": "path"
            }
          },
          "description": "Archives an existing conversion source. It will be recoverable for 30 days. This archiving behavior is not typical in the Content API and unique to this service.",
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "undelete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.conversionsources.undelete",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "request": {
            "$ref": "UndeleteConversionSourceRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "type": "string"
            },
            "conversionSourceId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the conversion source to be undeleted.",
              "location": "path"
            }
          },
          "description": "Re-enables an archived conversion source.",
          "path": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "list": {
          "parameters": {
            "pageSize": {
              "description": "The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "showDeleted": {
              "description": "If true, also returns archived conversion sources.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Page token.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the list of conversion sources the caller has access to.",
          "path": "{merchantId}/conversionsources",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/conversionsources",
          "response": {
            "$ref": "ListConversionSourcesResponse"
          },
          "id": "content.conversionsources.list"
        }
      }
    },
    "ordertrackingsignals": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.ordertrackingsignals.create",
          "flatPath": "{merchantId}/ordertrackingsignals",
          "response": {
            "$ref": "OrderTrackingSignal"
          },
          "request": {
            "$ref": "OrderTrackingSignal"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the merchant for which the order signal is created.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Creates new order tracking signal.",
          "path": "{merchantId}/ordertrackingsignals",
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "collections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of collections to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "type": "integer"
            }
          },
          "path": "{merchantId}/collections",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the collections in your Merchant Center account. The response might contain fewer items than specified by page_size. Rely on next_page_token to determine if there are more items to be requested.",
          "id": "content.collections.list",
          "flatPath": "{merchantId}/collections",
          "response": {
            "$ref": "ListCollectionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.collections.get",
          "flatPath": "{merchantId}/collections/{collectionId}",
          "response": {
            "$ref": "Collection"
          },
          "description": "Retrieves a collection from your Merchant Center account.",
          "path": "{merchantId}/collections/{collectionId}",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "format": "int64",
              "type": "string"
            },
            "collectionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The REST ID of the collection."
            }
          }
        },
        "create": {
          "description": "Uploads a collection to your Merchant Center account. If a collection with the same collectionId already exists, this method updates that entry. In each update, the collection is completely replaced by the fields in the body of the update request.",
          "path": "{merchantId}/collections",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Collection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/collections",
          "response": {
            "$ref": "Collection"
          },
          "id": "content.collections.create"
        },
        "delete": {
          "description": "Deletes a collection from your Merchant Center account.",
          "path": "{merchantId}/collections/{collectionId}",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/collections/{collectionId}",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account."
            },
            "collectionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection."
            }
          },
          "id": "content.collections.delete",
          "httpMethod": "DELETE"
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "custombatch": {
          "path": "shippingsettings/batch",
          "parameterOrder": [],
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "id": "content.shippingsettings.custombatch",
          "flatPath": "shippingsettings/batch",
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "getsupportedpickupservices": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/supportedPickupServices",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "id": "content.shippingsettings.getsupportedpickupservices",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported pickup services."
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves supported pickup services for an account.",
          "path": "{merchantId}/supportedPickupServices",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "id": "content.shippingsettings.get",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            },
            "accountId": {
              "type": "string",
              "description": "The ID of the account for which to get/update shipping settings.",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the shipping settings of the account.",
          "path": "{merchantId}/shippingsettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "getsupportedholidays": {
          "flatPath": "{merchantId}/supportedHolidays",
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "id": "content.shippingsettings.getsupportedholidays",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "{merchantId}/supportedHolidays",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves supported holidays for an account."
        },
        "list": {
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "path": "{merchantId}/shippingsettings",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of shipping settings to return in the response, used for paging.",
              "type": "integer"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.list",
          "flatPath": "{merchantId}/shippingsettings",
          "response": {
            "$ref": "ShippingsettingsListResponse"
          }
        },
        "update": {
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "id": "content.shippingsettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "ShippingSettings"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            },
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "path": "{merchantId}/shippingsettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource."
        },
        "getsupportedcarriers": {
          "flatPath": "{merchantId}/supportedCarriers",
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "id": "content.shippingsettings.getsupportedcarriers",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/supportedCarriers",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves supported carriers and carrier services for an account.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "regionalinventory": {
      "methods": {
        "custombatch": {
          "path": "regionalinventory/batch",
          "parameterOrder": [],
          "description": "Updates regional inventory for multiple products or regions in a single request.",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "RegionalinventoryCustomBatchRequest"
          },
          "flatPath": "regionalinventory/batch",
          "response": {
            "$ref": "RegionalinventoryCustomBatchResponse"
          },
          "id": "content.regionalinventory.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Updates the regional inventory of a product in your Merchant Center account. If a regional inventory with the same region ID already exists, this method updates that entry.",
          "path": "{merchantId}/products/{productId}/regionalinventory",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "productId": {
              "type": "string",
              "required": true,
              "description": "The REST ID of the product for which to update the regional inventory.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "RegionalInventory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.regionalinventory.insert",
          "flatPath": "{merchantId}/products/{productId}/regionalinventory",
          "response": {
            "$ref": "RegionalInventory"
          }
        }
      }
    },
    "recommendations": {
      "methods": {
        "reportInteraction": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that wants to report an interaction.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Reports an interaction on a recommendation for a merchant.",
          "path": "{merchantId}/recommendations/reportInteraction",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.recommendations.reportInteraction",
          "flatPath": "{merchantId}/recommendations/reportInteraction",
          "request": {
            "$ref": "ReportInteractionRequest"
          }
        },
        "generate": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.recommendations.generate",
          "flatPath": "{merchantId}/recommendations/generate",
          "response": {
            "$ref": "GenerateRecommendationsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account to fetch recommendations for.",
              "required": true,
              "location": "path"
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. Language code of the client. If not set, the result will be in default language (English). This language code affects all fields prefixed with \"localized\". This should be set to ISO 639-1 country code. List of currently verified supported language code: en, fr, cs, da, de, es, it, nl, no, pl, pt, pt, fi, sv, vi, tr, th, ko, zh-CN, zh-TW, ja, id, hi",
              "type": "string"
            },
            "allowedTag": {
              "type": "string",
              "description": "Optional. List of allowed tags. Tags are a set of predefined strings that describe the category that individual recommendation types belong to. User can specify zero or more tags in this field to indicate what categories of recommendations they want to receive. Current list of supported tags: - TREND",
              "repeated": true,
              "location": "query"
            }
          },
          "description": "Generates recommendations for a merchant.",
          "path": "{merchantId}/recommendations/generate",
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "freelistingsprogram": {
      "resources": {
        "checkoutsettings": {
          "methods": {
            "get": {
              "id": "content.freelistingsprogram.checkoutsettings.get",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameters": {
                "merchantId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the account."
                }
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ],
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings."
            },
            "delete": {
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "httpMethod": "DELETE",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameters": {
                "merchantId": {
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ],
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program."
            },
            "insert": {
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "merchantId": {
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ],
              "description": "Enrolls merchant in `Checkout` program."
            }
          }
        }
      },
      "methods": {
        "get": {
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "path": "{merchantId}/freelistingsprogram",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/freelistingsprogram",
          "response": {
            "$ref": "FreeListingsProgramStatus"
          },
          "id": "content.freelistingsprogram.get"
        },
        "requestreview": {
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "id": "content.freelistingsprogram.requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "pos": {
      "methods": {
        "inventory": {
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "id": "content.pos.inventory",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Submit inventory for the given merchant.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST"
        },
        "list": {
          "description": "Lists the stores of the target merchant.",
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "targetMerchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the target merchant.",
              "format": "uint64"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosListResponse"
          },
          "id": "content.pos.list"
        },
        "delete": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameters": {
            "targetMerchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "required": true,
              "location": "path"
            },
            "storeCode": {
              "type": "string",
              "required": true,
              "description": "A store code that is unique per merchant.",
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          },
          "id": "content.pos.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "description": "Deletes a store for the given merchant."
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "pos/batch",
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "id": "content.pos.custombatch",
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "description": "Batches multiple POS-related calls in a single request.",
          "path": "pos/batch",
          "parameterOrder": []
        },
        "insert": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosStore"
          },
          "id": "content.pos.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "PosStore"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "location": "path"
            },
            "targetMerchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Creates a store for the given merchant."
        },
        "sale": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "type": "string"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Submit a sale event for the given merchant.",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "response": {
            "$ref": "PosSaleResponse"
          },
          "id": "content.pos.sale",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "PosSaleRequest"
          }
        },
        "get": {
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "description": "Retrieves information about the given store.",
          "httpMethod": "GET",
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "location": "path"
            }
          },
          "id": "content.pos.get",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "response": {
[...]
