{
  "revision": "20260421",
  "batchPath": "batch",
  "ownerName": "Google",
  "title": "Content API for Shopping",
  "canonicalName": "Shopping Content",
  "kind": "discovery#restDescription",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "version": "v2.1",
  "id": "content:v2.1",
  "basePath": "/content/v2.1/",
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "servicePath": "content/v2.1/",
  "discoveryVersion": "v1",
  "name": "content",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "resources": {
    "promotions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/promotions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ListPromotionResponse"
          },
          "description": "List all promotions from your Merchant Center account.",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer"
            },
            "countryCode": {
              "location": "query",
              "type": "string",
              "description": "[CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (for example, \"US\"), used as a filter on promotions target country."
            },
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListPromotion` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotion` must match the call that provided the page token."
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The two-letter ISO 639-1 language code associated with the promotions, used as a filter."
            }
          },
          "id": "content.promotions.list",
          "path": "{merchantId}/promotions"
        },
        "create": {
          "request": {
            "$ref": "Promotion"
          },
          "id": "content.promotions.create",
          "path": "{merchantId}/promotions",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection."
            }
          },
          "flatPath": "{merchantId}/promotions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Inserts a promotion for your Merchant Center account. If the promotion already exists, then it updates the promotion instead. To [end or delete] (https://developers.google.com/shopping-content/guides/promotions#end_a_promotion) a promotion update the time period of the promotion to a time that has already passed.",
          "response": {
            "$ref": "Promotion"
          }
        },
        "get": {
          "id": "content.promotions.get",
          "path": "{merchantId}/promotions/{id}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "id"
          ],
          "flatPath": "{merchantId}/promotions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Promotion"
          },
          "description": "Retrieves a promotion from your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the account that contains the collection.",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. REST ID of the promotion to retrieve."
            }
          }
        }
      }
    },
    "localinventory": {
      "methods": {
        "insert": {
          "parameters": {
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product for which to update local inventory."
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the local inventory of a product in your Merchant Center account.",
          "response": {
            "$ref": "LocalInventory"
          },
          "flatPath": "{merchantId}/products/{productId}/localinventory",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "{merchantId}/products/{productId}/localinventory",
          "request": {
            "$ref": "LocalInventory"
          },
          "id": "content.localinventory.insert"
        },
        "custombatch": {
          "parameters": {},
          "response": {
            "$ref": "LocalinventoryCustomBatchResponse"
          },
          "description": "Updates local inventory for multiple products or stores in a single request.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "localinventory/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "localinventory/batch",
          "id": "content.localinventory.custombatch",
          "request": {
            "$ref": "LocalinventoryCustomBatchRequest"
          }
        }
      }
    },
    "conversionsources": {
      "methods": {
        "list": {
          "id": "content.conversionsources.list",
          "path": "{merchantId}/conversionsources",
          "flatPath": "{merchantId}/conversionsources",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves the list of conversion sources the caller has access to.",
          "response": {
            "$ref": "ListConversionSourcesResponse"
          },
          "parameters": {
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "If true, also returns archived conversion sources."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token."
            },
            "merchantId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total.",
              "location": "query",
              "type": "integer"
            }
          }
        },
        "patch": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true
            },
            "conversionSourceId": {
              "description": "Required. The ID of the conversion source to be updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. List of fields being updated. The following fields can be updated: `attribution_settings`, `display_name`, `currency_code`.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ConversionSource"
          },
          "description": "Updates information of an existing conversion source.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "id": "content.conversionsources.patch",
          "request": {
            "$ref": "ConversionSource"
          }
        },
        "undelete": {
          "description": "Re-enables an archived conversion source.",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source."
            },
            "conversionSourceId": {
              "description": "Required. The ID of the conversion source to be undeleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "request": {
            "$ref": "UndeleteConversionSourceRequest"
          },
          "id": "content.conversionsources.undelete"
        },
        "create": {
          "request": {
            "$ref": "ConversionSource"
          },
          "id": "content.conversionsources.create",
          "path": "{merchantId}/conversionsources",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true
            }
          },
          "flatPath": "{merchantId}/conversionsources",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Creates a new conversion source.",
          "response": {
            "$ref": "ConversionSource"
          }
        },
        "get": {
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "id": "content.conversionsources.get",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "format": "int64"
            },
            "conversionSourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The REST ID of the collection."
            }
          },
          "description": "Fetches a conversion source.",
          "response": {
            "$ref": "ConversionSource"
          },
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Archives an existing conversion source. It will be recoverable for 30 days. This archiving behavior is not typical in the Content API and unique to this service.",
          "id": "content.conversionsources.delete",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "conversionSourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the conversion source to be deleted."
            }
          },
          "path": "{merchantId}/conversionsources/{conversionSourceId}"
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "get": {
          "flatPath": "{merchantId}/datafeedstatuses/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "required": true
            },
            "datafeedId": {
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "country": {
              "location": "query",
              "type": "string",
              "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target."
            },
            "language": {
              "description": "The language to get the datafeed status for. If this parameter is provided then `country` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "feedLabel": {
              "location": "query",
              "type": "string",
              "description": "The feed label to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target."
            }
          },
          "id": "content.datafeedstatuses.get",
          "path": "{merchantId}/datafeedstatuses/{datafeedId}"
        },
        "custombatch": {
          "parameters": {},
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "datafeedstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "datafeedstatuses/batch",
          "id": "content.datafeedstatuses.custombatch",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging."
            }
          },
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "flatPath": "{merchantId}/datafeedstatuses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/datafeedstatuses",
          "id": "content.datafeedstatuses.list"
        }
      }
    },
    "quotas": {
      "methods": {
        "list": {
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the account that has quota. This account must be an admin.",
              "format": "int64"
            },
            "pageSize": {
              "description": "The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/quotas",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ListMethodQuotasResponse"
          },
          "description": "Lists the daily call quota and usage per method for your Merchant Center account.",
          "id": "content.quotas.list",
          "path": "{merchantId}/quotas"
        }
      }
    },
    "products": {
      "methods": {
        "delete": {
          "flatPath": "{merchantId}/products/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Deletes a product from your Merchant Center account.",
          "id": "content.products.delete",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "feedId": {
              "format": "uint64",
              "description": "The Content API Supplemental Feed ID. If present then product deletion applies to the data in a supplemental feed. If absent, entire product will be deleted.",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product."
            }
          },
          "path": "{merchantId}/products/{productId}"
        },
        "get": {
          "response": {
            "$ref": "Product"
          },
          "description": "Retrieves a product from your Merchant Center account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/products/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "required": true
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product."
            }
          },
          "path": "{merchantId}/products/{productId}",
          "id": "content.products.get"
        },
        "update": {
          "parameters": {
            "productId": {
              "description": "The REST ID of the product for which to update.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "The comma-separated list of product attributes to be updated. Example: `\"title,salePrice\"`. Attributes specified in the update mask without a value specified in the body will be deleted from the product. *You must specify the update mask to delete attributes.* Only top-level product attributes can be updated. If not defined, product attributes with set values will be updated and other attributes will stay unchanged.",
              "format": "google-fieldmask"
            }
          },
          "description": "Updates an existing product in your Merchant Center account. Only updates attributes provided in the request.",
          "response": {
            "$ref": "Product"
          },
          "flatPath": "{merchantId}/products/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "{merchantId}/products/{productId}",
          "request": {
            "$ref": "Product"
          },
          "id": "content.products.update"
        },
        "insert": {
          "flatPath": "{merchantId}/products",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "response": {
            "$ref": "Product"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "feedId": {
              "location": "query",
              "type": "string",
              "description": "The Content API Supplemental Feed ID. If present then product insertion applies to the data in a supplemental feed.",
              "format": "uint64"
            }
          },
          "request": {
            "$ref": "Product"
          },
          "id": "content.products.insert",
          "path": "{merchantId}/products"
        },
        "custombatch": {
          "parameters": {},
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "flatPath": "products/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "products/batch",
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "id": "content.products.custombatch"
        },
        "list": {
          "id": "content.products.list",
          "path": "{merchantId}/products",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/products",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductsListResponse"
          },
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging. The default value is 25. The maximum value is 250."
            }
          }
        }
      }
    },
    "regions": {
      "methods": {
        "patch": {
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "Required. The id of the merchant for which to update region definition.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
              "format": "google-fieldmask"
            },
            "regionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The id of the region to update."
            }
          },
          "description": "Updates a region definition in your Merchant Center account.",
          "response": {
            "$ref": "Region"
          },
          "flatPath": "{merchantId}/regions/{regionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "path": "{merchantId}/regions/{regionId}",
          "request": {
            "$ref": "Region"
          },
          "id": "content.regions.patch"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
            },
            "merchantId": {
              "required": true,
              "format": "int64",
              "description": "Required. The id of the merchant for which to list region definitions.",
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32"
            }
          },
          "description": "Lists the regions in your Merchant Center account.",
          "response": {
            "$ref": "ListRegionsResponse"
          },
          "flatPath": "{merchantId}/regions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/regions",
          "id": "content.regions.list"
        },
        "get": {
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The id of the merchant for which to retrieve region definition.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "regionId": {
              "description": "Required. The id of the region to retrieve.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/regions/{regionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Retrieves a region defined in your Merchant Center account.",
          "response": {
            "$ref": "Region"
          },
          "id": "content.regions.get",
          "path": "{merchantId}/regions/{regionId}"
        },
        "create": {
          "path": "{merchantId}/regions",
          "request": {
            "$ref": "Region"
          },
          "id": "content.regions.create",
          "description": "Creates a region definition in your Merchant Center account.",
          "response": {
            "$ref": "Region"
          },
          "flatPath": "{merchantId}/regions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The id of the merchant for which to create region definition."
            },
            "regionId": {
              "description": "Required. The id of the region to create.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "flatPath": "{merchantId}/regions/{regionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "description": "Deletes a region definition from your Merchant Center account.",
          "id": "content.regions.delete",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The id of the merchant for which to delete region definition.",
              "format": "int64"
            },
            "regionId": {
              "description": "Required. The id of the region to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/regions/{regionId}"
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "create": {
          "path": "{merchantId}/productdeliverytime",
          "id": "content.productdeliverytime.create",
          "request": {
            "$ref": "ProductDeliveryTime"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "description": "Creates or updates the delivery time of a product.",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/productdeliverytime",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "description": "Gets `productDeliveryTime` by `productId`.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "productId": {
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/productdeliverytime/{productId}",
          "id": "content.productdeliverytime.get"
        },
        "delete": {
          "id": "content.productdeliverytime.delete",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`."
            }
          },
          "path": "{merchantId}/productdeliverytime/{productId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes the delivery time of a product."
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "get": {
          "id": "content.accountstatuses.get",
          "path": "{merchantId}/accountstatuses/{accountId}",
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account."
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "response": {
            "$ref": "AccountStatus"
          }
        },
        "custombatch": {
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "id": "content.accountstatuses.custombatch",
          "path": "accountstatuses/batch",
          "parameters": {},
          "flatPath": "accountstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          }
        },
        "list": {
          "parameters": {
            "name": {
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "destinations": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of account statuses to return in the response, used for paging."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/accountstatuses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "id": "content.accountstatuses.list",
          "path": "{merchantId}/accountstatuses"
        }
      }
    },
    "collectionstatuses": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of collection statuses to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer"
            }
          },
          "flatPath": "{merchantId}/collectionstatuses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the statuses of the collections in your Merchant Center account.",
          "response": {
            "$ref": "ListCollectionStatusesResponse"
          },
          "id": "content.collectionstatuses.list",
          "path": "{merchantId}/collectionstatuses"
        },
        "get": {
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "collectionId": {
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets the status of a collection from your Merchant Center account.",
          "response": {
            "$ref": "CollectionStatus"
          },
          "flatPath": "{merchantId}/collectionstatuses/{collectionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "path": "{merchantId}/collectionstatuses/{collectionId}",
          "id": "content.collectionstatuses.get"
        }
      }
    },
    "datafeeds": {
      "methods": {
        "custombatch": {
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "id": "content.datafeeds.custombatch",
          "path": "datafeeds/batch",
          "parameters": {},
          "flatPath": "datafeeds/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          }
        },
        "list": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/datafeeds",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/datafeeds",
          "id": "content.datafeeds.list"
        },
        "insert": {
          "path": "{merchantId}/datafeeds",
          "request": {
            "$ref": "Datafeed"
          },
          "id": "content.datafeeds.insert",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            }
          },
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "response": {
            "$ref": "Datafeed"
          },
          "flatPath": "{merchantId}/datafeeds",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "update": {
          "response": {
            "$ref": "Datafeed"
          },
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "datafeedId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "id": "content.datafeeds.update",
          "request": {
            "$ref": "Datafeed"
          }
        },
        "get": {
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64"
            },
            "datafeedId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Datafeed"
          },
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "id": "content.datafeeds.get",
          "path": "{merchantId}/datafeeds/{datafeedId}"
        },
        "delete": {
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "id": "content.datafeeds.delete",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "datafeedId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "{merchantId}/datafeeds/{datafeedId}"
        },
        "fetchnow": {
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "datafeedId": {
              "description": "The ID of the datafeed to be fetched.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the [Products service](https://developers.google.com/shopping-content/reference/rest/v2.1/products) to update your product data.",
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "id": "content.datafeeds.fetchnow",
          "path": "{merchantId}/datafeeds/{datafeedId}/fetchNow"
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "get": {
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account for which to get pubsub notification settings.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            }
          },
          "id": "content.pubsubnotificationsettings.get",
          "path": "{merchantId}/pubsubnotificationsettings"
        },
        "update": {
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "id": "content.pubsubnotificationsettings.update",
          "path": "{merchantId}/pubsubnotificationsettings",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account.",
              "format": "uint64"
            }
          },
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request.",
          "response": {
            "$ref": "PubsubNotificationSettings"
          }
        }
      }
    },
    "regionalinventory": {
      "methods": {
        "custombatch": {
          "path": "regionalinventory/batch",
          "id": "content.regionalinventory.custombatch",
          "request": {
            "$ref": "RegionalinventoryCustomBatchRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "RegionalinventoryCustomBatchResponse"
          },
          "description": "Updates regional inventory for multiple products or regions in a single request.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "regionalinventory/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product for which to update the regional inventory."
            }
          },
          "description": "Updates the regional inventory of a product in your Merchant Center account. If a regional inventory with the same region ID already exists, this method updates that entry.",
          "response": {
            "$ref": "RegionalInventory"
          },
          "flatPath": "{merchantId}/products/{productId}/regionalinventory",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "{merchantId}/products/{productId}/regionalinventory",
          "request": {
            "$ref": "RegionalInventory"
          },
          "id": "content.regionalinventory.insert"
        }
      }
    },
    "productstatuses": {
      "methods": {
        "get": {
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Gets the status of a product from your Merchant Center account.",
          "response": {
            "$ref": "ProductStatus"
          },
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product."
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "id": "content.productstatuses.get",
          "path": "{merchantId}/productstatuses/{productId}"
        },
        "custombatch": {
          "parameters": {},
          "description": "Gets the statuses of multiple products in a single request.",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "flatPath": "productstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "productstatuses/batch",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "id": "content.productstatuses.custombatch"
        },
        "list": {
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "format": "uint32"
            }
          },
          "flatPath": "{merchantId}/productstatuses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "id": "content.productstatuses.list",
          "path": "{merchantId}/productstatuses"
        }
      }
    },
    "ordertrackingsignals": {
      "methods": {
        "create": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the merchant for which the order signal is created.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OrderTrackingSignal"
          },
          "description": "Creates new order tracking signal.",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/ordertrackingsignals",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/ordertrackingsignals",
          "id": "content.ordertrackingsignals.create",
          "request": {
            "$ref": "OrderTrackingSignal"
          }
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "update": {
          "id": "content.shippingsettings.update",
          "request": {
            "$ref": "ShippingSettings"
          },
          "path": "{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ShippingSettings"
          },
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account for which to get/update shipping settings.",
              "format": "uint64"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            }
          }
        },
        "getsupportedpickupservices": {
          "path": "{merchantId}/supportedPickupServices",
          "id": "content.shippingsettings.getsupportedpickupservices",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported pickup services."
            }
          },
          "description": "Retrieves supported pickup services for an account.",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "flatPath": "{merchantId}/supportedPickupServices",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "custombatch": {
          "path": "shippingsettings/batch",
          "id": "content.shippingsettings.custombatch",
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "shippingsettings/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {}
        },
        "getsupportedholidays": {
          "path": "{merchantId}/supportedHolidays",
          "id": "content.shippingsettings.getsupportedholidays",
          "description": "Retrieves supported holidays for an account.",
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "flatPath": "{merchantId}/supportedHolidays",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "path": "{merchantId}/shippingsettings",
          "id": "content.shippingsettings.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of shipping settings to return in the response, used for paging.",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/shippingsettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "id": "content.shippingsettings.get",
          "path": "{merchantId}/shippingsettings/{accountId}",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ShippingSettings"
          },
          "description": "Retrieves the shipping settings of the account."
        },
        "getsupportedcarriers": {
          "id": "content.shippingsettings.getsupportedcarriers",
          "path": "{merchantId}/supportedCarriers",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/supportedCarriers",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "description": "Retrieves supported carriers and carrier services for an account."
        }
      }
    },
    "liasettings": {
      "methods": {
        "custombatch": {
          "id": "content.liasettings.custombatch",
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "path": "liasettings/batch",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "liasettings/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request."
        },
        "list": {
          "id": "content.liasettings.list",
          "path": "{merchantId}/liasettings",
          "flatPath": "{merchantId}/liasettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "setposdataprovider": {
          "id": "content.liasettings.setposdataprovider",
          "path": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "parameters": {
            "posExternalAccountId": {
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query",
              "type": "string"
            },
            "accountId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "location": "path",
              "type": "string"
            },
            "country": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The country for which the POS data provider is selected."
            },
            "posDataProviderId": {
              "location": "query",
              "type": "string",
              "format": "uint64",
              "description": "The ID of POS data provider."
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "description": "Sets the POS data provider for the specified country.",
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          }
        },
        "getaccessiblegmbaccounts": {
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "description": "Retrieves the list of accessible Business Profiles.",
          "parameters": {
            "accountId": {
              "required": true,
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            }
          },
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "path": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts"
        },
        "requestgmbaccess": {
          "parameters": {
            "gmbEmail": {
              "description": "The email of the Business Profile.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which Business Profile access is requested.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "description": "Requests access to a specified Business Profile.",
          "id": "content.liasettings.requestgmbaccess",
          "path": "{merchantId}/liasettings/{accountId}/requestgmbaccess"
        },
        "setinventoryverificationcontact": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "contactName": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The name of the inventory verification contact."
            },
            "accountId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "contactEmail": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The email of the inventory verification contact."
            },
            "country": {
              "description": "The country for which inventory verification is requested.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "language": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The language for which inventory verification is requested."
            }
          },
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "description": "Sets the inventory verification contact for the specified country.",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country",
            "language",
            "contactName",
            "contactEmail"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "id": "content.liasettings.setinventoryverificationcontact"
        },
        "update": {
          "id": "content.liasettings.update",
          "request": {
            "$ref": "LiaSettings"
          },
          "path": "{merchantId}/liasettings/{accountId}",
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiaSettings"
          },
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource."
        },
        "requestinventoryverification": {
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "type": "string"
            },
            "country": {
              "description": "The country for which inventory validation is requested.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "description": "Requests inventory validation for the specified country.",
          "id": "content.liasettings.requestinventoryverification",
          "path": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}"
        },
        "listposdataproviders": {
          "parameters": {},
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "liasettings/posdataproviders",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "id": "content.liasettings.listposdataproviders",
          "path": "liasettings/posdataproviders"
        },
        "setomnichannelexperience": {
          "path": "{merchantId}/liasettings/{accountId}/setomnichannelexperience",
          "id": "content.liasettings.setomnichannelexperience",
          "description": "Sets the omnichannel experience for the specified country. Only supported for merchants whose POS data provider is trusted to enable the corresponding experience. For more context, see these help articles [about LFP](https://support.google.com/merchants/answer/7676652) and [how to get started](https://support.google.com/merchants/answer/7676578) with it.",
          "response": {
            "$ref": "LiaOmnichannelExperience"
          },
          "flatPath": "{merchantId}/liasettings/{accountId}/setomnichannelexperience",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "country": {
              "location": "query",
              "type": "string",
              "description": "The CLDR country code (for example, \"US\") for which the omnichannel experience is selected."
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "lsfType": {
              "description": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here.",
              "location": "query",
              "type": "string"
            },
            "pickupTypes": {
              "description": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" ",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "{merchantId}/liasettings/{accountId}",
          "id": "content.liasettings.get",
          "response": {
            "$ref": "LiaSettings"
          },
          "description": "Retrieves the LIA settings of the account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "required": true
            }
          }
        }
      }
    },
    "freelistingsprogram": {
      "methods": {
        "get": {
          "id": "content.freelistingsprogram.get",
          "path": "{merchantId}/freelistingsprogram",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "required": true
            }
          },
          "flatPath": "{merchantId}/freelistingsprogram",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "response": {
            "$ref": "FreeListingsProgramStatus"
          }
        },
        "requestreview": {
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "id": "content.freelistingsprogram.requestreview",
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account.",
              "location": "path",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "checkoutsettings": {
          "methods": {
            "insert": {
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "response": {
                "$ref": "CheckoutSettings"
              },
              "description": "Enrolls merchant in `Checkout` program.",
              "httpMethod": "POST",
              "parameterOrder": [
                "merchantId"
              ],
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "merchantId": {
                  "description": "Required. The ID of the account.",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program.",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "merchantId"
              ],
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "parameters": {
                "merchantId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "id": "content.freelistingsprogram.checkoutsettings.get",
              "parameters": {
                "merchantId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the account.",
                  "format": "int64"
                }
              },
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "response": {
                "$ref": "CheckoutSettings"
              },
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "merchantId"
              ]
            }
          }
        }
      }
    },
    "collections": {
      "methods": {
        "delete": {
          "description": "Deletes a collection from your Merchant Center account.",
          "flatPath": "{merchantId}/collections/{collectionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "path": "{merchantId}/collections/{collectionId}",
          "id": "content.collections.delete",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account."
            },
            "collectionId": {
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "flatPath": "{merchantId}/collections/{collectionId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Collection"
          },
          "description": "Retrieves a collection from your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "collectionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The REST ID of the collection."
            }
          },
          "id": "content.collections.get",
          "path": "{merchantId}/collections/{collectionId}"
        },
        "create": {
          "flatPath": "{merchantId}/collections",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Uploads a collection to your Merchant Center account. If a collection with the same collectionId already exists, this method updates that entry. In each update, the collection is completely replaced by the fields in the body of the update request.",
          "response": {
            "$ref": "Collection"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "request": {
            "$ref": "Collection"
          },
          "id": "content.collections.create",
          "path": "{merchantId}/collections"
        },
        "list": {
          "id": "content.collections.list",
          "path": "{merchantId}/collections",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of collections to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token."
            }
          },
          "flatPath": "{merchantId}/collections",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the collections in your Merchant Center account. The response might contain fewer items than specified by page_size. Rely on next_page_token to determine if there are more items to be requested.",
          "response": {
            "$ref": "ListCollectionsResponse"
          }
        }
      }
    },
    "pos": {
      "methods": {
        "get": {
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "id": "content.pos.get",
          "response": {
            "$ref": "PosStore"
          },
          "description": "Retrieves information about the given store.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "required": true
            },
            "targetMerchantId": {
              "required": true,
              "description": "The ID of the target merchant.",
              "format": "uint64",
[...]
