{
  "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/",
  "revision": "20260324",
  "canonicalName": "Container",
  "version": "v1",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://container.googleapis.com/",
  "basePath": "",
  "schemas": {
    "IdentityServiceConfig": {
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API",
      "type": "object",
      "id": "IdentityServiceConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable the Identity Service component"
        }
      }
    },
    "CompleteNodePoolUpgradeRequest": {
      "description": "CompleteNodePoolUpgradeRequest sets the name of target node pool to complete upgrade.",
      "properties": {},
      "id": "CompleteNodePoolUpgradeRequest",
      "type": "object"
    },
    "CidrBlock": {
      "id": "CidrBlock",
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "cidrBlock": {
          "type": "string",
          "description": "cidr_block must be specified in CIDR notation."
        }
      }
    },
    "CheckAutopilotCompatibilityResponse": {
      "description": "CheckAutopilotCompatibilityResponse has a list of compatibility issues.",
      "id": "CheckAutopilotCompatibilityResponse",
      "type": "object",
      "properties": {
        "summary": {
          "type": "string",
          "description": "The summary of the autopilot compatibility response."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "AutopilotCompatibilityIssue"
          },
          "description": "The list of issues for the given operation."
        }
      }
    },
    "FastSocket": {
      "properties": {
        "enabled": {
          "description": "Whether Fast Socket features are enabled in the node pool.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "FastSocket",
      "description": "Configuration of Fast Socket feature."
    },
    "ClientCertificateConfig": {
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      },
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster."
    },
    "RecurringTimeWindow": {
      "properties": {
        "recurrence": {
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window recurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        },
        "window": {
          "$ref": "TimeWindow",
          "description": "The window of the first recurrence."
        }
      },
      "id": "RecurringTimeWindow",
      "type": "object",
      "description": "Represents an arbitrary window of time that recurs."
    },
    "BinaryAuthorization": {
      "id": "BinaryAuthorization",
      "properties": {
        "enabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored."
        },
        "evaluationMode": {
          "type": "string",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ],
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED."
        }
      },
      "type": "object",
      "description": "Configuration for Binary Authorization."
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created."
        }
      },
      "description": "A set of Shielded Instance options.",
      "id": "ShieldedInstanceConfig",
      "type": "object"
    },
    "SwapConfig": {
      "id": "SwapConfig",
      "properties": {
        "dedicatedLocalSsdProfile": {
          "description": "Provisions a new, separate local NVMe SSD exclusively for swap.",
          "$ref": "DedicatedLocalSsdProfile"
        },
        "ephemeralLocalSsdProfile": {
          "description": "Swap on the local SSD shared with pod ephemeral storage.",
          "$ref": "EphemeralLocalSsdProfile"
        },
        "encryptionConfig": {
          "description": "Optional. If omitted, swap space is encrypted by default.",
          "$ref": "EncryptionConfig"
        },
        "enabled": {
          "description": "Optional. Enables or disables swap for the node pool.",
          "type": "boolean"
        },
        "bootDiskProfile": {
          "description": "Swap on the node's boot disk.",
          "$ref": "BootDiskProfile"
        }
      },
      "description": "Configuration for swap memory on a node pool.",
      "type": "object"
    },
    "PodAutoscaling": {
      "properties": {
        "hpaProfile": {
          "enumDescriptions": [
            "HPA_PROFILE_UNSPECIFIED is used when no custom HPA profile is set.",
            "Customers explicitly opt-out of HPA profiles.",
            "PERFORMANCE is used when customers opt-in to the performance HPA profile. In this profile we support a higher number of HPAs per cluster and faster metrics collection for workload autoscaling."
          ],
          "enum": [
            "HPA_PROFILE_UNSPECIFIED",
            "NONE",
            "PERFORMANCE"
          ],
          "description": "Selected Horizontal Pod Autoscaling profile.",
          "type": "string"
        }
      },
      "description": "PodAutoscaling is used for configuration of parameters for workload autoscaling.",
      "id": "PodAutoscaling",
      "type": "object"
    },
    "RegistryHostConfig": {
      "type": "object",
      "description": "RegistryHostConfig configures the top-level structure for a single containerd registry server's configuration, which represents one hosts.toml file on the node. It will override the same fqdns in PrivateRegistryAccessConfig.",
      "id": "RegistryHostConfig",
      "properties": {
        "server": {
          "description": "Defines the host name of the registry server, which will be used to create configuration file as /etc/containerd/hosts.d//hosts.toml. It supports fully qualified domain names (FQDN) and IP addresses: Specifying port is supported, while scheme and path are NOT supported. Wildcards are NOT supported. Examples: - `my.customdomain.com` - `10.0.1.2:5000`",
          "type": "string"
        },
        "hosts": {
          "items": {
            "$ref": "HostConfig"
          },
          "type": "array",
          "description": "HostConfig configures a list of host-specific configurations for the server. Each server can have at most 10 host configurations."
        }
      }
    },
    "NodeKernelModuleLoading": {
      "description": "Configuration for kernel module loading on nodes.",
      "type": "object",
      "properties": {
        "policy": {
          "enumDescriptions": [
            "Default behavior. GKE selects the image based on node type. For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not.",
            "Enforced signature verification: Node pools will use a Container-Optimized OS image configured to allow loading of *Google-signed* external kernel modules. Loadpin is enabled but configured to exclude modules, and kernel module signature checking is enforced.",
            "Mirrors existing DEFAULT behavior: For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not."
          ],
          "enum": [
            "POLICY_UNSPECIFIED",
            "ENFORCE_SIGNED_MODULES",
            "DO_NOT_ENFORCE_SIGNED_MODULES"
          ],
          "type": "string",
          "description": "Set the node module loading policy for nodes in the node pool."
        }
      },
      "id": "NodeKernelModuleLoading"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "operationId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object",
      "description": "CancelOperationRequest cancels a single operation."
    },
    "MemoryManager": {
      "type": "object",
      "id": "MemoryManager",
      "description": "The option enables the Kubernetes NUMA-aware Memory Manager feature. Detailed description about the feature can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/).",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Controls the memory management policy on the Node. See https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/#policies The following values are allowed. * \"none\" * \"static\" The default value is 'none' if unspecified."
        }
      }
    },
    "RayOperatorConfig": {
      "type": "object",
      "description": "Configuration options for the Ray Operator add-on.",
      "properties": {
        "rayClusterMonitoringConfig": {
          "$ref": "RayClusterMonitoringConfig",
          "description": "Optional. Monitoring configuration for Ray clusters."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the Ray Operator addon is enabled for this cluster."
        },
        "rayClusterLoggingConfig": {
          "description": "Optional. Logging configuration for Ray clusters.",
          "$ref": "RayClusterLoggingConfig"
        }
      },
      "id": "RayOperatorConfig"
    },
    "StartIPRotationRequest": {
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "properties": {
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "rotateCredentials": {
          "description": "Whether to rotate credentials during IP rotation.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "projectId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "type": "object",
      "id": "StartIPRotationRequest"
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "type": "object",
      "id": "SetLegacyAbacRequest",
      "properties": {
        "enabled": {
          "description": "Required. Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        },
        "clusterId": {
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "WorkloadIdentityConfig": {
      "id": "WorkloadIdentityConfig",
      "type": "object",
      "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies.",
      "properties": {
        "workloadPool": {
          "type": "string",
          "description": "The workload pool to attach all Kubernetes service accounts to."
        }
      }
    },
    "PodCIDROverprovisionConfig": {
      "id": "PodCIDROverprovisionConfig",
      "description": "[PRIVATE FIELD] Config for pod CIDR size overprovisioning.",
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Whether Pod CIDR overprovisioning is disabled. Note: Pod CIDR overprovisioning is enabled by default."
        }
      },
      "type": "object"
    },
    "NodePoolUpgradeInfo": {
      "id": "NodePoolUpgradeInfo",
      "properties": {
        "autoUpgradeStatus": {
          "description": "The auto upgrade status.",
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ],
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "type": "string"
          }
        },
        "upgradeDetails": {
          "description": "The list of past auto upgrades.",
          "items": {
            "$ref": "UpgradeDetails"
          },
          "type": "array"
        },
        "endOfExtendedSupportTimestamp": {
          "description": "The nodepool's current minor version's end of extended support timestamp.",
          "type": "string"
        },
        "patchTargetVersion": {
          "description": "patch_target_version indicates the target version for patch upgrade.",
          "type": "string"
        },
        "minorTargetVersion": {
          "type": "string",
          "description": "minor_target_version indicates the target version for minor upgrade."
        },
        "endOfStandardSupportTimestamp": {
          "description": "The nodepool's current minor version's end of standard support timestamp.",
          "type": "string"
        },
        "pausedReason": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ],
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "SYSTEM_CONFIG"
            ]
          },
          "description": "The auto upgrade paused reason."
        }
      },
      "description": "NodePoolUpgradeInfo contains the upgrade information of a nodepool.",
      "type": "object"
    },
    "GPUDirectConfig": {
      "properties": {
        "gpuDirectStrategy": {
          "description": "The type of GPU direct strategy to enable on the node pool.",
          "enumDescriptions": [
            "Default value. No GPU Direct strategy is enabled on the node.",
            "GPUDirect-RDMA on A3 Ultra, and A4 machine types"
          ],
          "enum": [
            "GPU_DIRECT_STRATEGY_UNSPECIFIED",
            "RDMA"
          ],
          "type": "string"
        }
      },
      "description": "GPUDirectConfig specifies the GPU direct strategy on the node pool.",
      "id": "GPUDirectConfig",
      "type": "object"
    },
    "MasterAuth": {
      "type": "object",
      "id": "MasterAuth",
      "properties": {
        "clientKey": {
          "readOnly": true,
          "description": "Output only. Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
          "type": "string"
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "password": {
          "type": "string",
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true
        },
        "clusterCaCertificate": {
          "description": "Output only. Base64-encoded public certificate that is the root of trust for the cluster.",
          "type": "string",
          "readOnly": true
        },
        "clientCertificate": {
          "type": "string",
          "description": "Output only. Base64-encoded public certificate used by clients to authenticate to the cluster endpoint. Issued only if client_certificate_config is set.",
          "readOnly": true
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates."
    },
    "NetworkPolicyConfig": {
      "id": "NetworkPolicyConfig",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether NetworkPolicy is enabled for this cluster."
        }
      },
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes."
    },
    "SyncRotationConfig": {
      "description": "SyncRotationConfig is config for secret manager auto rotation.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the rotation is enabled.",
          "type": "boolean"
        },
        "rotationInterval": {
          "format": "google-duration",
          "description": "The interval between two consecutive rotations. Default rotation interval is 2 minutes.",
          "type": "string"
        }
      },
      "id": "SyncRotationConfig"
    },
    "WritableCgroups": {
      "description": "Defines writable cgroups configuration.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether writable cgroups is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "WritableCgroups"
    },
    "DisruptionEvent": {
      "type": "object",
      "id": "DisruptionEvent",
      "properties": {
        "disruptionType": {
          "enumDescriptions": [
            "DISRUPTION_TYPE_UNSPECIFIED indicates the disruption type is unspecified.",
            "POD_NOT_ENOUGH_PDB indicates there are still running pods on the node during node drain because their evictions are blocked by PDB.",
            "POD_PDB_VIOLATION indicates that there are force pod evictions during node drain which violate the PDB."
          ],
          "description": "The type of the disruption event.",
          "type": "string",
          "enum": [
            "DISRUPTION_TYPE_UNSPECIFIED",
            "POD_NOT_ENOUGH_PDB",
            "POD_PDB_VIOLATION"
          ]
        },
        "pdbViolationTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "The timeout in seconds for which the node drain is blocked by PDB. After this timeout, pods are forcefully evicted. This field is only populated when event_type is POD_PDB_VIOLATION."
        },
        "pdbBlockedNode": {
          "description": "The node whose drain is blocked by PDB. This field is set for both POD_PDB_VIOLATION and POD_NOT_ENOUGH_PDB event.",
          "type": "string"
        },
        "pdbBlockedPod": {
          "items": {
            "$ref": "PdbBlockedPod"
          },
          "type": "array",
          "description": "The pods whose evictions are blocked by PDB. This field is set for both POD_PDB_VIOLATION and POD_NOT_ENOUGH_PDB event."
        }
      },
      "description": "DisruptionEvent is a notification sent to customers about the disruption event of a resource."
    },
    "NodeKubeletConfig": {
      "type": "object",
      "id": "NodeKubeletConfig",
      "description": "Node kubelet configs.",
      "properties": {
        "cpuManagerPolicy": {
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. * \"none\": the default, which represents the existing scheduling behavior. * \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified.",
          "type": "string"
        },
        "cpuCfsQuotaPeriod": {
          "type": "string",
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration between 1ms and 1 second, inclusive."
        },
        "evictionMinimumReclaim": {
          "$ref": "EvictionMinimumReclaim",
          "description": "Optional. eviction_minimum_reclaim is a map of signal names to quantities that defines minimum reclaims, which describe the minimum amount of a given resource the kubelet will reclaim when performing a pod eviction while that resource is under pressure."
        },
        "imageMaximumGcAge": {
          "description": "Optional. Defines the maximum age an image can be unused before it is garbage collected. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300s\", \"1.5h\", and \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration greater than image_minimum_gc_age or \"0s\". The default value is \"0s\" if unspecified, which disables this field, meaning images won't be garbage collected based on being unused for too long.",
          "type": "string"
        },
        "evictionMaxPodGracePeriodSeconds": {
          "description": "Optional. eviction_max_pod_grace_period_seconds is the maximum allowed grace period (in seconds) to use when terminating pods in response to a soft eviction threshold being met. This value effectively caps the Pod's terminationGracePeriodSeconds value during soft evictions. Default: 0. Range: [0, 300].",
          "type": "integer",
          "format": "int32"
        },
        "cpuCfsQuota": {
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified.",
          "type": "boolean"
        },
        "podPidsLimit": {
          "description": "Set the Pod PID limits. See https://kubernetes.io/docs/concepts/policy/pid-limiting/#pod-pid-limits Controls the maximum number of processes allowed to run in a pod. The value must be greater than or equal to 1024 and less than 4194304.",
          "type": "string",
          "format": "int64"
        },
        "maxParallelImagePulls": {
          "format": "int32",
          "description": "Optional. Defines the maximum number of image pulls in parallel. The range is 2 to 5, inclusive. The default value is 2 or 3 depending on the disk type. See https://kubernetes.io/docs/concepts/containers/images/#maximum-parallel-image-pulls for more details.",
          "type": "integer"
        },
        "imageGcLowThresholdPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Defines the percent of disk usage before which image garbage collection is never run. Lowest disk usage to garbage collect to. The percent is calculated as this field value out of 100. The value must be between 10 and 85, inclusive and smaller than image_gc_high_threshold_percent. The default value is 80 if unspecified."
        },
        "evictionSoft": {
          "$ref": "EvictionSignals",
          "description": "Optional. eviction_soft is a map of signal names to quantities that defines soft eviction thresholds. Each signal is compared to its corresponding threshold to determine if a pod eviction should occur."
        },
        "memoryManager": {
          "$ref": "MemoryManager",
          "description": "Optional. Controls NUMA-aware Memory Manager configuration on the node. For more information, see: https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/"
        },
        "topologyManager": {
          "$ref": "TopologyManager",
          "description": "Optional. Controls Topology Manager configuration on the node. For more information, see: https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/"
        },
        "containerLogMaxFiles": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Defines the maximum number of container log files that can be present for a container. See https://kubernetes.io/docs/concepts/cluster-administration/logging/#log-rotation The value must be an integer between 2 and 10, inclusive. The default value is 5 if unspecified."
        },
        "allowedUnsafeSysctls": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Defines a comma-separated allowlist of unsafe sysctls or sysctl patterns (ending in `*`). The unsafe namespaced sysctl groups are `kernel.shm*`, `kernel.msg*`, `kernel.sem`, `fs.mqueue.*`, and `net.*`. Leaving this allowlist empty means they cannot be set on Pods. To allow certain sysctls or sysctl patterns to be set on Pods, list them separated by commas. For example: `kernel.msg*,net.ipv4.route.min_pmtu`. See https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/ for more details.",
          "type": "array"
        },
        "shutdownGracePeriodCriticalPodsSeconds": {
          "description": "Optional. shutdown_grace_period_critical_pods_seconds is the maximum allowed grace period (in seconds) used to terminate critical pods during a node shutdown. This value should be <= shutdown_grace_period_seconds, and is only valid if shutdown_grace_period_seconds is set. https://kubernetes.io/docs/concepts/cluster-administration/node-shutdown/ Range: [0, 120].",
          "format": "int32",
          "type": "integer"
        },
        "crashLoopBackOff": {
          "description": "Optional. Contains configuration options to modify node-level parameters for container restart behavior.",
          "$ref": "CrashLoopBackOffConfig"
        },
        "imageMinimumGcAge": {
          "type": "string",
          "description": "Optional. Defines the minimum age for an unused image before it is garbage collected. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300s\", \"1.5h\", and \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration less than or equal to 2 minutes. The default value is \"2m0s\" if unspecified."
        },
        "imageGcHighThresholdPercent": {
          "format": "int32",
          "description": "Optional. Defines the percent of disk usage after which image garbage collection is always run. The percent is calculated as this field value out of 100. The value must be between 10 and 85, inclusive and greater than image_gc_low_threshold_percent. The default value is 85 if unspecified.",
          "type": "integer"
        },
        "insecureKubeletReadonlyPortEnabled": {
          "type": "boolean",
          "description": "Enable or disable Kubelet read only port."
        },
        "evictionSoftGracePeriod": {
          "$ref": "EvictionGracePeriod",
          "description": "Optional. eviction_soft_grace_period is a map of signal names to quantities that defines grace periods for each soft eviction signal. The grace period is the amount of time that a pod must be under pressure before an eviction occurs."
        },
        "shutdownGracePeriodSeconds": {
          "description": "Optional. shutdown_grace_period_seconds is the maximum allowed grace period (in seconds) the total duration that the node should delay the shutdown during a graceful shutdown. This is the total grace period for pod termination for both regular and critical pods. https://kubernetes.io/docs/concepts/cluster-administration/node-shutdown/ If set to 0, node will not enable the graceful node shutdown functionality. This field is only valid for Spot VMs. Allowed values: 0, 30, 120.",
          "format": "int32",
          "type": "integer"
        },
        "singleProcessOomKill": {
          "type": "boolean",
          "description": "Optional. Defines whether to enable single process OOM killer. If true, will prevent the memory.oom.group flag from being set for container cgroups in cgroups v2. This causes processes in the container to be OOM killed individually instead of as a group."
        },
        "containerLogMaxSize": {
          "description": "Optional. Defines the maximum size of the container log file before it is rotated. See https://kubernetes.io/docs/concepts/cluster-administration/logging/#log-rotation Valid format is positive number + unit, e.g. 100Ki, 10Mi. Valid units are Ki, Mi, Gi. The value must be between 10Mi and 500Mi, inclusive. Note that the total container log size (container_log_max_size * container_log_max_files) cannot exceed 1% of the total storage of the node, to avoid disk pressure caused by log files. The default value is 10Mi if unspecified.",
          "type": "string"
        }
      }
    },
    "RayClusterLoggingConfig": {
      "type": "object",
      "description": "RayClusterLoggingConfig specifies configuration of Ray logging.",
      "id": "RayClusterLoggingConfig",
      "properties": {
        "enabled": {
          "description": "Enable log collection for Ray clusters.",
          "type": "boolean"
        }
      }
    },
    "TimeWindow": {
      "properties": {
        "maintenanceExclusionOptions": {
          "$ref": "MaintenanceExclusionOptions",
          "description": "MaintenanceExclusionOptions provides maintenance exclusion related options."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time that the window ends. The end time should take place after the start time.",
          "type": "string"
        },
        "startTime": {
          "description": "The time that the window first starts.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Represents an arbitrary window of time.",
      "id": "TimeWindow"
    },
    "Jwk": {
      "type": "object",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "id": "Jwk",
      "properties": {
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "kty": {
          "description": "Key Type.",
          "type": "string"
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "kid": {
          "type": "string",
          "description": "Key ID."
        },
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "x": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        }
      }
    },
    "ListUsableSubnetworksResponse": {
      "description": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest.",
      "properties": {
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages.",
          "type": "string"
        },
        "subnetworks": {
          "items": {
            "$ref": "UsableSubnetwork"
          },
          "description": "A list of usable subnetworks in the specified network project.",
          "type": "array"
        }
      },
      "id": "ListUsableSubnetworksResponse",
      "type": "object"
    },
    "GcePersistentDiskCsiDriverConfig": {
      "id": "GcePersistentDiskCsiDriverConfig",
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "properties": {
        "enabled": {
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SetNodePoolSizeRequest": {
      "description": "SetNodePoolSizeRequest sets the size of a node pool.",
      "properties": {
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The desired node count for the pool."
        },
        "projectId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      },
      "id": "SetNodePoolSizeRequest",
      "type": "object"
    },
    "BigQueryDestination": {
      "description": "Parameters for using BigQuery as the destination of resource usage export.",
      "id": "BigQueryDestination",
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        }
      }
    },
    "EphemeralLocalSsdProfile": {
      "description": "Swap on the local SSD shared with pod ephemeral storage.",
      "id": "EphemeralLocalSsdProfile",
      "type": "object",
      "properties": {
        "swapSizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Specifies the size of the swap space in gibibytes (GiB)."
        },
        "swapSizePercent": {
          "description": "Specifies the size of the swap space as a percentage of the ephemeral local SSD capacity.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "WorkloadMetadataConfig": {
      "id": "WorkloadMetadataConfig",
      "properties": {
        "mode": {
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ]
        }
      },
      "type": "object",
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool."
    },
    "OperationProgress": {
      "type": "object",
      "id": "OperationProgress",
      "description": "Information about operation (or operation stage) progress.",
      "properties": {
        "name": {
          "type": "string",
          "description": "A non-parameterized string describing an operation stage. Unset for single-stage operations."
        },
        "status": {
          "type": "string",
          "description": "Status of an operation stage. Unset for single-stage operations.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ]
        },
        "metrics": {
          "type": "array",
          "description": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]",
          "items": {
            "$ref": "Metric"
          }
        },
        "stages": {
          "items": {
            "$ref": "OperationProgress"
          },
          "type": "array",
          "description": "Substages of an operation or a stage."
        }
      }
    },
    "UpgradeSettings": {
      "type": "object",
      "properties": {
        "maxUnavailable": {
          "format": "int32",
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready.",
          "type": "integer"
        },
        "strategy": {
          "description": "Update strategy of the node pool.",
          "enumDescriptions": [
            "Default value if unset. GKE internally defaults the update strategy to SURGE for unspecified strategies.",
            "blue-green upgrade.",
            "SURGE is the traditional way of upgrade a node pool. max_surge and max_unavailable determines the level of upgrade parallelism.",
            "SHORT_LIVED is the dedicated upgrade strategy for QueuedProvisioning and flex start nodepools scaled up only by enqueueing to the Dynamic Workload Scheduler (DWS)."
          ],
          "enum": [
            "NODE_POOL_UPDATE_STRATEGY_UNSPECIFIED",
            "BLUE_GREEN",
            "SURGE",
            "SHORT_LIVED"
          ],
          "type": "string"
        },
        "blueGreenSettings": {
          "$ref": "BlueGreenSettings",
          "description": "Settings for blue-green upgrade strategy."
        },
        "maxSurge": {
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available. These upgrade settings configure the upgrade strategy for the node pool. Use strategy to switch between the strategies applied to the node pool. If the strategy is ROLLING, use max_surge and max_unavailable to control the level of parallelism and the level of disruption caused by upgrade. 1. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. 2. maxUnavailable controls the number of nodes that can be simultaneously unavailable. 3. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). If the strategy is BLUE_GREEN, use blue_green_settings to configure the blue-green upgrade related settings. 1. standard_rollout_policy is the default policy. The policy is used to control the way blue pool gets drained. The draining is executed in the batch mode. The batch size could be specified as either percentage of the node pool size or the number of nodes. batch_soak_duration is the soak time after each batch gets drained. 2. node_pool_soak_duration is the soak time after all blue nodes are drained. After this period, the blue pool nodes will be deleted.",
      "id": "UpgradeSettings"
    },
    "CertificateConfig": {
      "id": "CertificateConfig",
      "properties": {
        "gcpSecretManagerSecretUri": {
          "type": "string",
          "description": "The URI configures a secret from [Secret Manager](https://cloud.google.com/secret-manager) in the format \"projects/$PROJECT_ID/secrets/$SECRET_NAME/versions/$VERSION\" for global secret or \"projects/$PROJECT_ID/locations/$REGION/secrets/$SECRET_NAME/versions/$VERSION\" for regional secret. Version can be fixed (e.g. \"2\") or \"latest\""
        }
      },
      "type": "object",
      "description": "CertificateConfig configures certificate for the registry."
    },
    "NodePoolAutoscaling": {
      "id": "NodePoolAutoscaling",
      "type": "object",
      "properties": {
        "locationPolicy": {
          "description": "Location policy used when scaling up a nodepool.",
          "enum": [
            "LOCATION_POLICY_UNSPECIFIED",
            "BALANCED",
            "ANY"
          ],
          "enumDescriptions": [
            "Not set.",
            "BALANCED is a best effort policy that aims to balance the sizes of different zones.",
            "ANY policy picks zones that have the highest capacity available."
          ],
          "type": "string"
        },
        "totalMaxNodeCount": {
          "format": "int32",
          "description": "Maximum number of nodes in the node pool. Must be greater than or equal to total_min_node_count. There has to be enough quota to scale up the cluster. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "type": "integer"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "Minimum number of nodes for one location in the node pool. Must be greater than or equal to 0 and less than or equal to max_node_count.",
          "type": "integer"
        },
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of nodes for one location in the node pool. Must be >= min_node_count. There has to be enough quota to scale up the cluster."
        },
        "totalMinNodeCount": {
          "type": "integer",
          "description": "Minimum number of nodes in the node pool. Must be greater than or equal to 0 and less than or equal to total_max_node_count. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "format": "int32"
        },
        "autoprovisioned": {
          "type": "boolean",
          "description": "Can this node pool be deleted automatically."
        },
        "enabled": {
          "type": "boolean",
          "description": "Is autoscaling enabled for this node pool."
        }
      },
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage."
    },
    "SoleTenantConfig": {
      "type": "object",
      "id": "SoleTenantConfig",
      "description": "SoleTenantConfig contains the NodeAffinities to specify what shared sole tenant node groups should back the node pool.",
      "properties": {
        "minNodeCpus": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. This field can only be set if the node pool is created in a shared sole-tenant node group."
        },
        "nodeAffinities": {
          "items": {
            "$ref": "NodeAffinity"
          },
          "description": "NodeAffinities used to match to a shared sole tenant node group.",
          "type": "array"
        }
      }
    },
    "NodeLabels": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of node label keys and node label values.",
          "type": "object"
        }
      },
      "description": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels).",
      "id": "NodeLabels"
    },
    "ServiceExternalIPsConfig": {
      "id": "ServiceExternalIPsConfig",
      "description": "Config to block services with externalIPs field.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Services with ExternalIPs field are allowed or not."
        }
      },
      "type": "object"
    },
    "ControlPlaneEgress": {
      "type": "object",
      "description": "ControlPlaneEgress defines the settings needed to enable control plane egress control.",
      "id": "ControlPlaneEgress",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Default value not specified.",
            "Control plane has public IP and no restriction on egress.",
            "No public IP on control plane and only internal allowlisted egress."
          ],
          "description": "Defines the mode of control plane egress.",
          "enum": [
            "MODE_UNSPECIFIED",
            "VIA_CONTROL_PLANE",
            "NONE"
          ]
        }
      }
    },
    "WindowsNodeConfig": {
      "description": "Parameters that can be configured on Windows nodes. Windows Node Config that define the parameters that will be used to configure the Windows node pool settings.",
      "properties": {
        "osVersion": {
          "type": "string",
          "enum": [
            "OS_VERSION_UNSPECIFIED",
            "OS_VERSION_LTSC2019",
            "OS_VERSION_LTSC2022"
          ],
          "description": "OSVersion specifies the Windows node config to be used on the node.",
          "enumDescriptions": [
            "When OSVersion is not specified.",
            "LTSC2019 specifies to use LTSC2019 as the Windows Servercore Base Image.",
            "LTSC2022 specifies to use LTSC2022 as the Windows Servercore Base Image."
          ]
        }
      },
      "id": "WindowsNodeConfig",
      "type": "object"
    },
    "AdditionalNodeNetworkConfig": {
      "properties": {
        "network": {
          "type": "string",
          "description": "Name of the VPC where the additional interface belongs"
        },
        "subnetwork": {
          "description": "Name of the subnetwork where the additional interface belongs",
          "type": "string"
        }
      },
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message",
      "type": "object",
      "id": "AdditionalNodeNetworkConfig"
    },
    "MaintenancePolicy": {
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "properties": {
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        },
        "disruptionBudget": {
          "description": "Optional. The upgrade disruption budget for the cluster control plane.",
          "$ref": "DisruptionBudget"
        },
        "resourceVersion": {
          "type": "string",
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy."
        }
      },
      "type": "object",
      "id": "MaintenancePolicy"
    },
    "UpgradeAvailableEvent": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The release version available for upgrade."
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example, the relative path of the node pool."
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "description": "The resource type of the release version."
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The release channel of the version. If empty, it means a non-channel release."
        }
      },
      "id": "UpgradeAvailableEvent",
      "description": "UpgradeAvailableEvent is a notification sent to customers when a new available version is released."
    },
    "GkeAutoUpgradeConfig": {
      "id": "GkeAutoUpgradeConfig",
      "description": "GkeAutoUpgradeConfig is the configuration for GKE auto upgrades.",
      "properties": {
        "patchMode": {
          "description": "PatchMode specifies how auto upgrade patch builds should be selected.",
          "enum": [
            "PATCH_MODE_UNSPECIFIED",
            "ACCELERATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "PATCH_MODE_UNSPECIFIED defaults to using the upgrade target from the channel's patch upgrade targets as the upgrade target for the version.",
            "ACCELERATED denotes that the latest patch build in the channel should be used as the upgrade target for the version."
          ]
        }
      },
      "type": "object"
    },
    "ClusterUpgradeInfo": {
      "id": "ClusterUpgradeInfo",
      "type": "object",
      "description": "ClusterUpgradeInfo contains the upgrade information of a cluster.",
      "properties": {
        "autoUpgradeStatus": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ]
          },
          "description": "The auto upgrade status.",
          "type": "array"
        },
        "pausedReason": {
          "type": "array",
          "items": {
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "CLUSTER_DISRUPTION_BUDGET",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE",
              "SYSTEM_CONFIG"
            ],
            "type": "string",
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "CLUSTER_DISRUPTION_BUDGET indicates the cluster is outside the cluster disruption budget.",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE indicates the cluster is outside the cluster disruption budget for minor version upgrade.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ]
          },
          "description": "The auto upgrade paused reason."
        },
        "patchTargetVersion": {
          "type": "string",
          "description": "patch_target_version indicates the target version for patch upgrade."
        },
        "upgradeDetails": {
          "items": {
            "$ref": "UpgradeDetails"
          },
          "type": "array",
          "description": "The list of past auto upgrades."
        },
        "minorTargetVersion": {
          "type": "string",
          "description": "minor_target_version indicates the target version for minor upgrade."
        },
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The cluster's current minor version's end of standard support timestamp."
        },
        "endOfExtendedSupportTimestamp": {
          "description": "The cluster's current minor version's end of extended support timestamp.",
          "type": "string"
        }
      }
    },
    "NetworkTierConfig": {
      "id": "NetworkTierConfig",
      "type": "object",
      "properties": {
        "networkTier": {
          "type": "string",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_DEFAULT",
            "NETWORK_TIER_PREMIUM",
            "NETWORK_TIER_STANDARD"
          ],
          "description": "Network tier configuration.",
          "enumDescriptions": [
            "By default, use project-level configuration. When unspecified, the behavior defaults to NETWORK_TIER_DEFAULT. For cluster updates, this implies no action (no-op).",
            "Default network tier. Use project-level configuration. User can specify this value, meaning they want to keep the same behaviour as before cluster level network tier configuration is introduced. This field ensures backward compatibility for the network tier of cluster resources, such as node pools and load balancers, for their external IP addresses.",
            "Premium network tier.",
            "Standard network tier."
          ]
        }
      },
      "description": "NetworkTierConfig contains network tier information."
    },
    "AdditionalPodRangesConfig": {
      "type": "object",
      "properties": {
        "podRangeInfo": {
          "readOnly": true,
          "description": "Output only. Information for additional pod range.",
          "items": {
            "$ref": "RangeInfo"
          },
          "type": "array"
        },
        "podRangeNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name for pod secondary ipv4 range which has the actual range defined ahead."
        }
      },
      "description": "AdditionalPodRangesConfig is the configuration for additional pod secondary ranges supporting the ClusterUpdate message.",
      "id": "AdditionalPodRangesConfig"
    },
    "ListClustersResponse": {
      "type": "object",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "id": "ListClustersResponse",
      "properties": {
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        },
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Defines encryption settings for the swap space.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. If true, swap space will not be encrypted. Defaults to false (encrypted).",
          "type": "boolean"
        }
      }
    },
    "ClusterUpdate": {
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "properties": {
        "desiredAutoIpamConfig": {
          "description": "AutoIpamConfig contains all information related to Auto IPAM",
          "$ref": "AutoIpamConfig"
        },
        "desiredLoggingConfig": {
          "$ref": "LoggingConfig",
          "description": "The desired logging configuration."
        },
        "desiredContainerdConfig": {
          "description": "The desired containerd config for the cluster.",
          "$ref": "ContainerdConfig"
        },
        "desiredNodePoolId": {
          "type": "string",
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\" or \"desired_node_pool_autoscaling\" is specified and there is more than one node pool on the cluster."
        },
        "desiredNodePoolAutoConfigResourceManagerTags": {
          "description": "The desired resource manager tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "ResourceManagerTags"
        },
        "desiredNodePoolAutoscaling": {
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "desiredPrivateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "type": "string",
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ]
        },
        "desiredPodAutoscaling": {
          "description": "The desired config for pod autoscaling.",
          "$ref": "PodAutoscaling"
        },
        "desiredInTransitEncryptionConfig": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ],
          "description": "Specify the details of in-transit encryption.",
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ]
        },
        "removedAdditionalPodRangesConfig": {
          "$ref": "AdditionalPodRangesConfig",
          "description": "The additional pod ranges that are to be removed from the cluster. The pod ranges specified here must have been specified earlier in the 'additional_pod_ranges_config' argument."
        },
        "desiredFleet": {
          "$ref": "Fleet",
          "description": "The desired fleet configuration for the cluster."
        },
        "desiredNotificationConfig": {
          "$ref": "NotificationConfig",
          "description": "The desired notification configuration."
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "deprecated": true,
          "description": "The desired configuration options for master authorized networks feature. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.authorized_networks_config instead."
        },
        "desiredEnableCiliumClusterwideNetworkPolicy": {
          "type": "boolean",
          "description": "Enable/Disable Cilium Clusterwide Network Policy for the cluster."
        },
        "desiredAnonymousAuthenticationConfig": {
          "$ref": "AnonymousAuthenticationConfig",
          "description": "Configuration for limiting anonymous access to all endpoints except the health checks."
        },
        "desiredShieldedNodes": {
          "description": "Configuration for Shielded Nodes.",
          "$ref": "ShieldedNodes"
        },
        "desiredControlPlaneEndpointsConfig": {
          "description": "Control plane endpoints configuration.",
          "$ref": "ControlPlaneEndpointsConfig"
        },
        "desiredMasterVersion": {
          "description": "The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredAuthenticatorGroupsConfig": {
          "description": "The desired authenticator groups config for the cluster.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "desiredParentProductConfig": {
          "description": "The desired parent product config for the cluster.",
          "$ref": "ParentProductConfig"
        },
        "desiredGcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "The desired GCFS config for the cluster"
        },
        "desiredStackType": {
          "description": "The desired stack type of the cluster. If a stack type is provided and does not match the current stack type of the cluster, update will attempt to change the stack type to the new type.",
          "type": "string",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4",
            "IPV4_IPV6"
          ],
          "enumDescriptions": [
            "Default value, will be defaulted as IPV4 only",
            "Cluster is IPV4 only",
            "Cluster can use both IPv4 and IPv6"
          ]
        },
        "desiredAdditionalIpRangesConfig": {
          "description": "The desired config for additional subnetworks attached to the cluster.",
          "$ref": "DesiredAdditionalIPRangesConfig"
        },
        "desiredNodePoolAutoConfigKubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "The desired node kubelet config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "desiredVerticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "desiredEnableMultiNetworking": {
          "type": "boolean",
          "description": "Enable/Disable Multi-Networking for the cluster"
        },
        "desiredLocations": {
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed.",
          "type": "array"
        },
        "userManagedKeysConfig": {
          "deprecated": true,
          "description": "The Custom keys configuration for the cluster. This field is deprecated. Use ClusterUpdate.desired_user_managed_keys_config instead.",
          "$ref": "UserManagedKeysConfig"
        },
        "desiredWorkloadIdentityConfig": {
          "description": "Configuration for Workload Identity.",
          "$ref": "WorkloadIdentityConfig"
        },
        "desiredIdentityServiceConfig": {
          "$ref": "IdentityServiceConfig",
          "description": "The desired Identity Service component configuration."
        },
        "additionalPodRangesConfig": {
          "description": "The additional pod ranges to be added to the cluster. These pod ranges can be used by node pools to allocate pod IPs.",
          "$ref": "AdditionalPodRangesConfig"
        },
        "desiredNodePoolLoggingConfig": {
          "description": "The desired node pool logging configuration defaults for the cluster.",
          "$ref": "NodePoolLoggingConfig"
        },
        "desiredLoggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredNetworkPerformanceConfig": {
          "description": "The desired network performance config.",
          "$ref": "ClusterNetworkPerformanceConfig"
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "desiredMonitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "desiredDatabaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "desiredNetworkTierConfig": {
          "$ref": "NetworkTierConfig",
          "description": "The desired network tier configuration for the cluster."
        },
        "desiredDefaultEnablePrivateNodes": {
          "description": "Override the default setting of whether future created nodes have private IP addresses only, namely NetworkConfig.default_enable_private_nodes",
          "type": "boolean"
        },
        "enableK8sBetaApis": {
          "$ref": "K8sBetaAPIConfig",
          "description": "Kubernetes open source beta apis enabled on the cluster. Only beta apis"
        },
        "desiredManagedMachineLearningDiagnosticsConfig": {
          "description": "The desired managed machine learning diagnostics configuration.",
          "$ref": "ManagedMachineLearningDiagnosticsConfig"
        },
        "desiredSecretSyncConfig": {
          "$ref": "SecretSyncConfig",
          "description": "Configuration for sync Secret Manager secrets as k8s secrets."
        },
        "desiredDisableL4LbFirewallReconciliation": {
          "type": "boolean",
          "description": "Enable/Disable L4 LB VPC firewall reconciliation for the cluster."
        },
        "desiredReleaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The desired release channel configuration."
        },
        "desiredRbacBindingConfig": {
          "description": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created.",
          "$ref": "RBACBindingConfig"
        },
        "desiredImageType": {
          "type": "string",
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well."
        },
        "desiredDatapathProvider": {
          "description": "The desired datapath provider for the cluster.",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "type": "string"
        },
        "desiredUserManagedKeysConfig": {
          "description": "The desired user managed keys config for the cluster.",
          "$ref": "UserManagedKeysConfig"
        },
        "desiredSecurityPostureConfig": {
          "description": "Enable/Disable Security Posture API features for the cluster.",
          "$ref": "SecurityPostureConfig"
        },
        "desiredMonitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "The desired monitoring configuration."
        },
        "desiredResourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "The desired configuration for exporting resource usage."
        },
        "desiredEnableFqdnNetworkPolicy": {
          "description": "Enable/Disable FQDN Network Policy for the cluster.",
          "type": "boolean"
        },
        "desiredClusterAutoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "desiredK8sBetaApis": {
          "description": "Desired Beta APIs to be enabled for cluster.",
          "$ref": "K8sBetaAPIConfig"
        },
        "desiredEnterpriseConfig": {
          "$ref": "DesiredEnterpriseConfig",
          "description": "The desired enterprise configuration for the cluster. Deprecated: GKE Enterprise features are now available without an Enterprise tier.",
          "deprecated": true
        },
        "desiredNodePoolAutoConfigLinuxNodeConfig": {
          "description": "The desired Linux node config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters. Currently only `cgroup_mode` can be set here.",
          "$ref": "LinuxNodeConfig"
        },
        "desiredL4ilbSubsettingConfig": {
          "description": "The desired L4 Internal Load Balancer Subsetting configuration.",
          "$ref": "ILBSubsettingConfig"
        },
        "desiredDefaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "The desired status of whether to disable default sNAT for this cluster."
        },
        "desiredCostManagementConfig": {
          "description": "The desired configuration for the fine-grained cost management feature.",
          "$ref": "CostManagementConfig"
        },
        "desiredSecretManagerConfig": {
          "description": "Enable/Disable Secret Manager Config.",
          "$ref": "SecretManagerConfig"
        },
        "desiredCompliancePostureConfig": {
          "description": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster.",
          "$ref": "CompliancePostureConfig",
          "deprecated": true
        },
        "desiredPrivilegedAdmissionConfig": {
          "$ref": "PrivilegedAdmissionConfig",
          "description": "The desired privileged admission config for the cluster."
        },
        "etag": {
          "type": "string",
          "description": "The current etag of the cluster. If an etag is provided and does not match the current etag of the cluster, update will be blocked and an ABORTED error will be returned."
        },
        "desiredBinaryAuthorization": {
          "description": "The desired configuration options for the Binary Authorization feature.",
          "$ref": "BinaryAuthorization"
        },
        "desiredServiceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field."
        },
        "desiredNodeKubeletConfig": {
          "description": "The desired node kubelet config for the cluster.",
          "$ref": "NodeKubeletConfig"
        },
        "gkeAutoUpgradeConfig": {
          "description": "Configuration for GKE auto upgrade.",
          "$ref": "GkeAutoUpgradeConfig"
        },
        "desiredControlPlaneEgress": {
          "description": "The desired control plane egress control config for the cluster.",
          "$ref": "ControlPlaneEgress"
        },
        "desiredGatewayApiConfig": {
          "description": "The desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "desiredManagedOpentelemetryConfig": {
          "description": "The desired managed open telemetry configuration.",
          "$ref": "ManagedOpenTelemetryConfig"
        },
        "desiredEnablePrivateEndpoint": {
          "deprecated": true,
          "type": "boolean",
          "description": "Enable/Disable private endpoint for the cluster's master. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true."
        },
        "desiredMeshCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "MeshCertificates"
        },
        "desiredAutopilotWorkloadPolicyConfig": {
          "$ref": "WorkloadPolicyConfig",
          "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy"
        },
        "desiredDnsConfig": {
          "$ref": "DNSConfig",
          "description": "DNSConfig contains clusterDNS config for this cluster."
        },
        "desiredAutopilotClusterPolicyConfig": {
          "description": "The desired autopilot cluster policies that to be enforced in the cluster.",
          "$ref": "ClusterPolicyConfig"
        },
        "desiredPrivateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "The desired private cluster configuration. master_global_access_config is the only field that can be changed via this field. See also ClusterUpdate.desired_enable_private_endpoint for modifying other fields within PrivateClusterConfig. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.global_access instead.",
          "deprecated": true
        },
        "desiredIntraNodeVisibilityConfig": {
          "description": "The desired config of Intra-node visibility.",
          "$ref": "IntraNodeVisibilityConfig"
        }
      },
      "type": "object",
      "id": "ClusterUpdate"
    },
    "CertificateConfigPair": {
      "properties": {
        "cert": {
          "$ref": "CertificateConfig",
          "description": "Cert configures the client certificate."
        },
        "key": {
          "description": "Key configures the client private key. Optional.",
          "$ref": "CertificateConfig"
        }
      },
      "description": "CertificateConfigPair configures pairs of certificates, which is used for client certificate and key pairs under a registry.",
      "id": "CertificateConfigPair",
      "type": "object"
    },
    "NodePoolDefaults": {
      "description": "Subset of Nodepool message that has defaults.",
      "properties": {
        "nodeConfigDefaults": {
          "description": "Subset of NodeConfig message that has defaults.",
          "$ref": "NodeConfigDefaults"
        }
      },
      "id": "NodePoolDefaults",
      "type": "object"
    },
    "AdditionalPodNetworkConfig": {
      "id": "AdditionalPodNetworkConfig",
      "description": "AdditionalPodNetworkConfig is the configuration for additional pod networks within the NodeNetworkConfig message",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Name of the subnetwork where the additional pod network belongs."
        },
        "networkAttachment": {
          "description": "The name of the network attachment for pods to communicate to; cannot be specified along with subnetwork or secondary_pod_range.",
          "type": "string"
        },
        "maxPodsPerNode": {
          "$ref": "MaxPodsConstraint",
          "description": "The maximum number of pods per node which use this pod network."
        },
        "secondaryPodRange": {
          "type": "string",
          "description": "The name of the secondary range on the subnet which provides IP address for this pod range."
        }
      },
      "type": "object"
    },
    "NodeAffinity": {
      "properties": {
        "operator": {
          "description": "Operator for NodeAffinity.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "Invalid or unspecified affinity operator.",
            "Affinity operator.",
            "Anti-affinity operator."
          ],
          "type": "string"
        },
        "key": {
          "description": "Key for NodeAffinity.",
          "type": "string"
        },
        "values": {
          "description": "Values for NodeAffinity.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "NodeAffinity",
      "type": "object",
      "description": "Specifies the NodeAffinity key, values, and affinity operator according to [shared sole tenant node group affinities](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes#node_affinity_and_anti-affinity)."
    },
    "WorkloadPolicyConfig": {
      "type": "object",
      "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
      "id": "WorkloadPolicyConfig",
      "properties": {
        "allowNetAdmin": {
          "description": "If true, workloads can use NET_ADMIN capability.",
          "type": "boolean"
        },
        "autopilotCompatibilityAuditingEnabled": {
          "type": "boolean",
          "description": "If true, enables the GCW Auditor that audits workloads on standard clusters."
        }
      }
    },
    "AutoscaledRolloutPolicy": {
      "description": "Autoscaled rollout policy utilizes the cluster autoscaler during blue-green upgrade to scale both the blue and green pools.",
      "properties": {
        "waitForDrainDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Time to wait after cordoning the blue pool before draining the nodes. Defaults to 3 days. The value can be set between 0 and 7 days, inclusive."
        }
      },
      "id": "AutoscaledRolloutPolicy",
      "type": "object"
    },
    "HighScaleCheckpointingConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the High Scale Checkpointing is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the High Scale Checkpointing.",
      "id": "HighScaleCheckpointingConfig"
    },
    "GkeBackupAgentConfig": {
      "description": "Configuration for the Backup for GKE Agent.",
      "properties": {
        "enabled": {
          "description": "Whether the Backup for GKE agent is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "GkeBackupAgentConfig",
      "type": "object"
    },
    "MonitoringComponentConfig": {
      "properties": {
        "enableComponents": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "Storage",
              "Horizontal Pod Autoscaling",
              "Pod",
              "DaemonSet",
              "Deployment",
              "Statefulset",
              "CADVISOR",
              "KUBELET",
              "NVIDIA Data Center GPU Manager (DCGM)",
              "JobSet"
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "STORAGE",
              "HPA",
              "POD",
              "DAEMONSET",
              "DEPLOYMENT",
              "STATEFULSET",
              "CADVISOR",
              "KUBELET",
              "DCGM",
              "JOBSET"
            ]
          },
          "description": "Select components to collect metrics. An empty set would disable all monitoring."
        }
      },
      "type": "object",
      "id": "MonitoringComponentConfig",
      "description": "MonitoringComponentConfig is cluster monitoring component configuration."
    },
    "AdvancedMachineFeatures": {
      "properties": {
        "enableNestedVirtualization": {
          "description": "Whether or not to enable nested virtualization (defaults to false).",
          "type": "boolean"
        },
        "threadsPerCore": {
          "type": "string",
          "description": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
          "format": "int64"
        },
        "performanceMonitoringUnit": {
          "enum": [
            "PERFORMANCE_MONITORING_UNIT_UNSPECIFIED",
            "ARCHITECTURAL",
            "STANDARD",
            "ENHANCED"
          ],
          "type": "string",
          "description": "Type of Performance Monitoring Unit (PMU) requested on node pool instances. If unset, PMU will not be available to the node.",
          "enumDescriptions": [
            "PMU not enabled.",
            "Architecturally defined non-LLC events.",
            "Most documented core/L2 events.",
            "Most documented core/L2 and LLC events."
          ]
        }
      },
      "type": "object",
      "id": "AdvancedMachineFeatures",
      "description": "Specifies options for controlling advanced machine features."
    },
    "VerticalPodAutoscaling": {
      "description": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it.",
      "id": "VerticalPodAutoscaling",
      "properties": {
        "enabled": {
          "description": "Enables vertical pod autoscaling.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ResourceUsageExportConfig": {
      "description": "Configuration for exporting cluster resource usages.",
      "id": "ResourceUsageExportConfig",
      "type": "object",
      "properties": {
        "bigqueryDestination": {
          "description": "Configuration to use BigQuery as usage export destination.",
          "$ref": "BigQueryDestination"
        },
        "enableNetworkEgressMetering": {
          "type": "boolean",
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic."
        },
        "consumptionMeteringConfig": {
          "$ref": "ConsumptionMeteringConfig",
          "description": "Configuration to enable resource consumption metering."
        }
      }
    },
    "ManagedPrometheusConfig": {
      "description": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable Managed Collection.",
          "type": "boolean"
        },
        "autoMonitoringConfig": {
          "description": "GKE Workload Auto-Monitoring Configuration.",
          "$ref": "AutoMonitoringConfig"
        }
      },
      "id": "ManagedPrometheusConfig"
    },
    "ClusterPolicyConfig": {
      "description": "ClusterPolicyConfig stores the configuration for cluster wide policies.",
      "type": "object",
      "id": "ClusterPolicyConfig",
      "properties": {
        "noStandardNodePools": {
          "type": "boolean",
          "description": "Denotes preventing standard node pools and requiring only autopilot node pools."
        },
        "noUnsafeWebhooks": {
          "type": "boolean",
          "description": "Denotes preventing unsafe webhooks."
        },
        "noSystemMutation": {
          "description": "Denotes that preventing creation and mutation of resources in GKE managed namespaces and cluster-scoped GKE managed resources .",
          "type": "boolean"
        },
        "noSystemImpersonation": {
          "description": "Denotes preventing impersonation and CSRs for GKE System users.",
          "type": "boolean"
        }
      }
    },
    "AnonymousAuthenticationConfig": {
      "description": "AnonymousAuthenticationConfig defines the settings needed to limit endpoints that allow anonymous authentication.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Defines the mode of limiting anonymous access in the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Default value not specified.",
            "Anonymous authentication is allowed for all endpoints.",
            "Anonymous authentication is allowed for only health check endpoints."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ENABLED",
            "LIMITED"
          ]
        }
      },
      "id": "AnonymousAuthenticationConfig"
    },
    "AutoMonitoringConfig": {
      "id": "AutoMonitoringConfig",
      "description": "AutoMonitoringConfig defines the configuration for GKE Workload Auto-Monitoring.",
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "description": "Scope for GKE Workload Auto-Monitoring.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "ALL",
            "NONE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Auto-Monitoring is enabled for all supported applications.",
            "Disable Auto-Monitoring."
          ]
        }
      }
    },
    "NetworkPolicy": {
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "description": "The selected network policy provider.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        }
      },
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "type": "object",
      "id": "NetworkPolicy"
    },
    "ContainerdConfig": {
      "type": "object",
      "properties": {
        "writableCgroups": {
          "description": "Optional. WritableCgroups defines writable cgroups configuration for the node pool.",
          "$ref": "WritableCgroups"
        },
        "registryHosts": {
          "type": "array",
          "items": {
            "$ref": "RegistryHostConfig"
          },
          "description": "RegistryHostConfig configures containerd registry host configuration. Each registry_hosts represents a hosts.toml file. At most 25 registry_hosts are allowed."
        },
        "privateRegistryAccessConfig": {
          "description": "PrivateRegistryAccessConfig is used to configure access configuration for private container registries.",
          "$ref": "PrivateRegistryAccessConfig"
        }
      },
      "id": "ContainerdConfig",
      "description": "ContainerdConfig contains configuration to customize containerd."
    },
    "NodeConfigDefaults": {
      "properties": {
        "containerdConfig": {
          "$ref": "ContainerdConfig",
          "description": "Parameters for containerd customization."
        },
        "nodeKubeletConfig": {
          "description": "NodeKubeletConfig controls the defaults for new node-pools. Currently only `insecure_kubelet_readonly_port_enabled` can be set here.",
          "$ref": "NodeKubeletConfig"
        },
        "loggingConfig": {
          "description": "Logging configuration for node pools.",
          "$ref": "NodePoolLoggingConfig"
        },
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS (Google Container File System, also known as Riptide) options."
        }
      },
      "id": "NodeConfigDefaults",
      "type": "object",
      "description": "Subset of NodeConfig message that has defaults."
    },
    "ConfidentialNodes": {
      "type": "object",
      "id": "ConfidentialNodes",
      "properties": {
        "confidentialInstanceType": {
          "description": "Defines the type of technology used by the confidential node.",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "AMD Secure Encrypted Virtualization.",
            "AMD Secure Encrypted Virtualization - Secure Nested Paging.",
            "Intel Trust Domain eXtension."
          ],
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ],
          "type": "string"
        },
        "enabled": {
          "description": "Whether Confidential Nodes feature is enabled.",
          "type": "boolean"
        }
      },
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs."
    },
    "DesiredAdditionalIPRangesConfig": {
      "type": "object",
      "id": "DesiredAdditionalIPRangesConfig",
[...]
