{
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Contactcenterinsights",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1InterruptionData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
      "type": "object",
      "properties": {},
      "description": "The data for an interruption annotation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig": {
      "description": "Configuration for summarization.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig",
      "type": "object",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "summarizationModel": {
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "description": "Default summarization model to be used."
        },
        "generator": {
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AutoLabelingRule": {
      "description": "Rule for auto-labeling conversations.",
      "id": "GoogleCloudContactcenterinsightsV1AutoLabelingRule",
      "type": "object",
      "properties": {
        "labelKey": {
          "description": "The label key. This is also the {auto_labeling_rule} in the resource name. Only settable if label_key_type is LABEL_KEY_TYPE_CUSTOM.",
          "type": "string"
        },
        "active": {
          "description": "Whether the rule is active.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the rule was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the auto-labeling rule. Format: projects/{project}/locations/{location}/autoLabelingRules/{auto_labeling_rule}",
          "type": "string"
        },
        "displayName": {
          "description": "The user-provided display name of the rule.",
          "type": "string"
        },
        "description": {
          "description": "The description of the rule.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this rule was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labelKeyType": {
          "enum": [
            "LABEL_KEY_TYPE_UNSPECIFIED",
            "LABEL_KEY_TYPE_CUSTOM"
          ],
          "description": "The type of the label key.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified label key type.",
            "The label key is custom defined by the user."
          ]
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition"
          },
          "description": "Conditions to apply for auto-labeling the label_key. Representing sequential block of if .. else if .. else statements. The value of the first matching condition will be used.",
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest": {
      "description": "The request for deleting a QaQuestionTag.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the QaQuestionTag to delete.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Dataset": {
      "description": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)",
      "id": "GoogleCloudContactcenterinsightsV1Dataset",
      "type": "object",
      "properties": {
        "description": {
          "description": "Dataset description.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Dataset create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Dataset update time."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "For evals only.",
            "Dataset with new conversations coming in regularly (Insights legacy conversations and AI trainer)"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EVAL",
            "LIVE"
          ],
          "description": "Dataset usage type."
        },
        "name": {
          "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
          "type": "string"
        },
        "ttl": {
          "description": "Optional. Option TTL for the dataset.",
          "type": "string",
          "format": "google-duration"
        },
        "displayName": {
          "description": "Display name for the dataaset",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata",
      "type": "object",
      "properties": {
        "menuPath": {
          "description": "An arbitrary string value specifying the menu path the customer took.",
          "type": "string"
        },
        "feedbackLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel"
          },
          "description": "Input only. The feedback labels associated with the conversation."
        },
        "customerSatisfactionRating": {
          "type": "integer",
          "format": "int32",
          "description": "An arbitrary integer value indicating the customer's satisfaction rating."
        },
        "waitDuration": {
          "description": "The amount of time the customer waited to connect with an agent.",
          "type": "string",
          "format": "google-duration"
        },
        "agentInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo"
          },
          "description": "Information about agents involved in the call."
        }
      },
      "description": "Conversation metadata related to quality management."
    },
    "GoogleCloudContactcenterinsightsV1mainSilenceData": {
      "id": "GoogleCloudContactcenterinsightsV1mainSilenceData",
      "type": "object",
      "properties": {},
      "description": "The data for a silence annotation."
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult": {
      "description": "Tags and their corresponding results.",
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The tag the score applies to.",
          "type": "string"
        },
        "potentialScore": {
          "type": "number",
          "format": "double",
          "description": "The potential score the tag applies to."
        },
        "score": {
          "type": "number",
          "format": "double",
          "description": "The score the tag applies to."
        },
        "normalizedScore": {
          "format": "double",
          "type": "number",
          "description": "The normalized score the tag applies to."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessage": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessage",
      "type": "object",
      "properties": {
        "userMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageUserMessage",
          "description": "A message from the user that is interacting with the system."
        },
        "systemMessage": {
          "description": "A message from the system in response to the user.",
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessage"
        },
        "messageId": {
          "description": "The message id of the message.",
          "type": "string"
        },
        "createTime": {
          "description": "For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The message in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse": {
      "description": "The response of testing correlation config.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse",
      "type": "object",
      "properties": {
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults"
        },
        "partialErrors": {
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "id": "GoogleCloudContactcenterinsightsV1SentimentData",
      "type": "object",
      "properties": {
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number from 0 to infinity which represents the absolute magnitude of sentiment regardless of score."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive)."
        }
      },
      "description": "The data for a sentiment annotation."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSource": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSource",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "A Cloud Storage location specification for the audio and transcript.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGcsSource"
        },
        "turnLevelAudios": {
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio"
          },
          "type": "array"
        },
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowSource"
        },
        "metadataUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata.",
          "type": "string"
        }
      },
      "description": "The conversation source, which is a combination of transcript and audio."
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata",
      "type": "object",
      "properties": {
        "sampleConversationsStats": {
          "description": "Output only. Statistics for SampleConversations operation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
          "description": "Output only. The original request for sample conversations to dataset."
        },
        "partialErrors": {
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "The metadata for an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1mainImportIssueModelRequestGcsSource",
      "type": "object",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "description": "Google Cloud Storage Object URI to get the issue model file from."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource"
        },
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig"
        },
        "sampleSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set, this fields indicates the number of objects to ingest from the Cloud Storage bucket. If empty, the entire bucket will be ingested. Unless they are first deleted, conversations produced through sampling won't be ingested by subsequent ingest requests."
        },
        "transcriptObjectConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig",
          "description": "Configuration for when `source` contains conversation transcripts."
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        },
        "speechConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1SpeechConfig",
          "description": "Optional. Default Speech-to-Text configuration. Optional, will default to the config specified in Settings."
        }
      },
      "description": "The request to ingest conversations."
    },
    "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListAutoLabelingRulesResponse",
      "type": "object",
      "properties": {
        "autoLabelingRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1AutoLabelingRule"
          },
          "description": "The auto labeling rules."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response message for listing auto labeling rules."
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource": {
      "description": "Google Sheets document details to get the feedback label file from.",
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
      "type": "object",
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata": {
      "description": "Metadata for creating an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest": {
      "description": "The request to delete an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource",
      "type": "object",
      "properties": {
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue"
        },
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "description": "What created the answer."
        }
      },
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer."
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse": {
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse",
      "type": "object",
      "properties": {},
      "description": "The response to initialize a location-level encryption specification."
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData",
      "type": "object",
      "properties": {
        "confidenceScore": {
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "double",
          "type": "number"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "reply": {
          "description": "The content of the reply.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates."
        }
      },
      "description": "Agent Assist Smart Reply data."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest": {
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
      "type": "object",
      "properties": {
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "exportSchemaVersion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "description": "Optional. Version of the export schema.",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ]
        },
        "writeDisposition": {
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Options for what to do if the destination table already exists."
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        }
      },
      "description": "The request to export insights."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData": {
      "description": "The data for an issue match annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData",
      "type": "object",
      "properties": {
        "issueAssignment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
          "description": "Information about the issue's assignment."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QaAnswer": {
      "description": "An answer to a QaQuestion.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QaAnswer",
      "type": "object",
      "properties": {
        "questionBody": {
          "description": "Question text. E.g., \"Did the agent greet the customer?\"",
          "type": "string"
        },
        "qaQuestion": {
          "description": "The QaQuestion answered by this answer.",
          "type": "string"
        },
        "conversation": {
          "description": "The conversation the answer applies to.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "User-defined list of arbitrary tags. Matches the value from QaScorecard.ScorecardQuestion.tags. Used for grouping/organization and for weighting the score of each answer.",
          "items": {
            "type": "string"
          }
        },
        "answerSources": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerSource"
          },
          "description": "Lists all answer sources containing one or more answer values of a specific source type, e.g., all system-generated answer sources, or all manual edit answer sources.",
          "type": "array"
        },
        "answerValue": {
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessage": {
      "description": "The message in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessage",
      "type": "object",
      "properties": {
        "systemMessageWrapper": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageSystemMessages",
          "description": "A wrapper for system messages per turn."
        },
        "messageId": {
          "description": "The message id of the message.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. For user messages, this is the time at which the system received the message. For system messages, this is the time at which the system generated the message."
        },
        "userMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightConversationTranscriptMessageUserMessage",
          "description": "A message from the user that is interacting with the system."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination": {
      "description": "A BigQuery Table Reference.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
      "type": "object",
      "properties": {
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1InterruptionData": {
      "id": "GoogleCloudContactcenterinsightsV1InterruptionData",
      "type": "object",
      "properties": {},
      "description": "The data for an interruption annotation."
    },
    "GoogleCloudContactcenterinsightsV1SilenceData": {
      "id": "GoogleCloudContactcenterinsightsV1SilenceData",
      "type": "object",
      "properties": {},
      "description": "The data for a silence annotation."
    },
    "GoogleCloudContactcenterinsightsV1CesTurnAnnotation": {
      "description": "The CES diagnostic information.",
      "id": "GoogleCloudContactcenterinsightsV1CesTurnAnnotation",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCesV1mainMessage"
          },
          "description": "The messages in the turn."
        },
        "rootSpan": {
          "$ref": "GoogleCloudCesV1mainSpan",
          "description": "The root span of the action processing."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse",
      "type": "object",
      "properties": {
        "smartHighlighterMatches": {
          "type": "object",
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "issueMatchesStats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          },
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`"
        },
        "conversationCountTimeSeries": {
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria.",
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries"
        },
        "averageTurnCount": {
          "description": "The average number of turns per conversation.",
          "format": "int32",
          "type": "integer"
        },
        "customHighlighterMatches": {
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations."
        },
        "averageDuration": {
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "format": "google-duration",
          "type": "string"
        },
        "issueMatches": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "deprecated": true
        },
        "conversationCount": {
          "description": "The total number of conversations.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The response for calculating conversation statistics."
    },
    "GoogleCloudContactcenterinsightsV1alpha1LossPattern": {
      "description": "A loss pattern of a virtual agent and suggested fixes.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1LossPattern",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The unique identifier for the loss pattern.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the loss pattern.",
          "readOnly": true,
          "type": "string"
        },
        "percentage": {
          "format": "double",
          "type": "number",
          "readOnly": true,
          "description": "Output only. The percentage of conversations that match this loss pattern."
        },
        "suggestedFixes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A markdown description of the suggested fixes."
        },
        "conversationIds": {
          "type": "array",
          "description": "Output only. A list of conversation IDs that match this loss pattern.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A markdown description of the loss pattern."
        },
        "examples": {
          "description": "Output only. A markdown of loss pattern examples.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination",
      "type": "object",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "description": "Google Cloud Storage Object URI to save the issue model to."
    },
    "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata": {
      "description": "Metadata about the QA scorecard dimension.",
      "id": "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata",
      "type": "object",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCesV1mainToolResponse": {
      "id": "GoogleCloudCesV1mainToolResponse",
      "type": "object",
      "properties": {
        "toolsetTool": {
          "$ref": "GoogleCloudCesV1mainToolsetTool",
          "description": "Optional. The toolset tool that got executed."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "id": {
          "description": "Optional. The matching ID of the tool call the response is for.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the tool.",
          "readOnly": true
        }
      },
      "description": "The execution result of a specific tool from the client or the agent."
    },
    "GoogleCloudContactcenterinsightsV1mainUploadConversationMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainUploadConversationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainUploadConversationRequest"
        },
        "appliedRedactionConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainRedactionConfig",
          "description": "Output only. The redaction config applied to the uploaded conversation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "analysisOperation": {
          "type": "string",
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "readOnly": true
        }
      },
      "description": "The metadata for an `UploadConversation` operation."
    },
    "GoogleCloudContactcenterinsightsV1Conversation": {
      "description": "The conversation resource.",
      "id": "GoogleCloudContactcenterinsightsV1Conversation",
      "type": "object",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted."
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the conversation was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "turnCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of turns in the conversation."
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadata"
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "dialogflowIntents": {
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry."
        },
        "correlationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCorrelationInfo",
          "description": "Output only. Info for correlating across conversations."
        },
        "runtimeAnnotations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
          },
          "description": "Output only. The annotations that were generated during the customer and agent interaction."
        },
        "ttl": {
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "type": "string",
          "format": "google-duration"
        },
        "metadataJson": {
          "description": "Input only. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats.",
          "type": "string"
        },
        "latestSummary": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "description": "Output only. Latest summary of the conversation."
        },
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the conversation was created."
        },
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1Analysis"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the conversation started."
        },
        "medium": {
          "description": "Immutable. The conversation medium.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "duration": {
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "transcript": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
          "description": "Output only. The conversation transcript."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "type": "object",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "type": "array"
        }
      },
      "description": "Issue Modeling result on a conversation."
    },
    "GoogleCloudContactcenterinsightsV1Note": {
      "description": "The conversation assessment note resource.",
      "id": "GoogleCloudContactcenterinsightsV1Note",
      "type": "object",
      "properties": {
        "conversationTurnNote": {
          "$ref": "GoogleCloudContactcenterinsightsV1NoteConversationTurnNote",
          "description": "The note is associated with a conversation turn."
        },
        "name": {
          "description": "Identifier. The resource name of the note. Format: projects/{project}/locations/{location}/conversations/{conversation}/assessments/{assessment}/notes/{note}",
          "type": "string"
        },
        "qaQuestionNote": {
          "description": "The note is associated with a QA question in one of the conversation's scorecard results.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteQaQuestionNote"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the note was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "content": {
          "description": "The note content.",
          "type": "string"
        },
        "noteCreator": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1UserInfo",
          "description": "Output only. The user that created the note."
        },
        "assessmentNote": {
          "description": "The note is associated to the entire parent assessment.",
          "$ref": "GoogleCloudContactcenterinsightsV1NoteAssessmentNote"
        },
        "updateTime": {
          "description": "Output only. The time at which the note was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "request": {
          "description": "The original request for undeployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for undeploying an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult": {
      "description": "Issue Modeling result on a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult",
      "type": "object",
      "properties": {
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "issues": {
          "description": "All the matched issues.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment"
          },
          "type": "array"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource",
      "type": "object",
      "properties": {
        "bucketObjectType": {
          "type": "string",
          "enumDescriptions": [
            "The object type is unspecified and will default to `TRANSCRIPT`.",
            "The object is a transcript.",
            "The object is an audio file."
          ],
          "enum": [
            "BUCKET_OBJECT_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "AUDIO"
          ],
          "description": "Optional. Specifies the type of the objects in `bucket_uri`. Avoid passing this. This is inferred from the `transcript_bucket_uri`, `audio_bucket_uri`."
        },
        "transcriptBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation transcripts. Note that: [1] Transcript files are expected to be in JSON format. [2] Transcript, audio, metadata files must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "customMetadataKeys": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 100 labels per conversation.",
          "type": "array"
        },
        "audioBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation audio file. Note that: [1] Audio files will be transcribed if not already. [2] Audio files and transcript files must be in separate buckets / folders. [3] A source file and its corresponding audio file must share the same name to be properly ingested, E.g. `gs://bucket/transcript/conversation1.json` and `gs://bucket/audio/conversation1.mp3`.",
          "type": "string"
        },
        "metadataBucketUri": {
          "description": "Optional. The Cloud Storage path to the conversation metadata. Note that: [1] Metadata files are expected to be in JSON format. [2] Metadata and source files (transcripts or audio) must be in separate buckets / folders. [3] A source file and its corresponding metadata file must share the same name to be properly ingested, E.g. `gs://bucket/audio/conversation1.mp3` and `gs://bucket/metadata/conversation1.json`.",
          "type": "string"
        },
        "bucketUri": {
          "description": "Optional. The Cloud Storage bucket containing source objects. Avoid passing this. Pass this through one of `transcript_bucket_uri` or `audio_bucket_uri`.",
          "type": "string"
        }
      },
      "description": "Configuration for Cloud Storage bucket sources."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo",
      "type": "object",
      "properties": {
        "endOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation."
        },
        "startOffset": {
          "description": "Time offset of the start of this word relative to the beginning of the total conversation.",
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Word-level info for words in a transcript."
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        },
        "sheetsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequestSheetsDestination",
          "description": "A sheets document destination."
        },
        "feedbackLabelType": {
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ]
        },
        "templateQaScorecardId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored."
        },
        "maxDownloadCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded."
        },
        "conversationFilter": {
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainBulkDownloadFeedbackLabelsRequestGcsDestination"
        }
      },
      "description": "Request for the BulkDownloadFeedbackLabel endpoint."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
      "type": "object",
      "properties": {
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        },
        "endTime": {
          "description": "The time at which the analysis ended.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The result of an analysis."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsights": {
      "description": "Request that use natural language query to generate the chart.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsights",
      "type": "object",
      "properties": {
        "sqlComparisonKey": {
          "description": "Optional. For charts with comparison, this key will determine the metric that will be compared between the current and another dataset.",
          "type": "string"
        },
        "sqlQuery": {
          "description": "SQL query used to generate the chart.",
          "type": "string"
        },
        "chartCheckpoint": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint",
          "description": "The chart checkpoint used to generate the chart."
        },
        "request": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "chartSpec": {
          "type": "object",
          "description": "Chart spec for the chart.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "chartConversations": {
          "readOnly": true,
          "description": "Output only. The chart conversations used to generate the chart.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "description": "A text output message from the system.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parts of the message."
        },
        "textType": {
          "type": "string",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "description": "The type of the text message.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata": {
      "description": "Metadata for deleting an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainDeleteIssueModelRequest",
          "description": "The original request for deletion."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1mainUndeployIssueModelRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "description": "The request to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1Dimension": {
      "description": "A dimension determines the grouping key for the query. In SQL terms, these would be part of both the \"SELECT\" and \"GROUP BY\" clauses.",
      "id": "GoogleCloudContactcenterinsightsV1Dimension",
      "type": "object",
      "properties": {
        "mediumDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata",
          "description": "Output only. Metadata about the conversation medium dimension."
        },
        "conversationalAgentsToolDimensionMetadata": {
          "description": "Output only. Metadata about the Conversational Agents tool dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsToolDimensionMetadata"
        },
        "labelDimensionMetadata": {
          "description": "Output only. Metadata about conversation labels.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionLabelDimensionMetadata"
        },
        "qaQuestionDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionDimensionMetadata",
          "description": "Output only. Metadata about the QA question dimension."
        },
        "conversationalAgentsPlaybookDimensionMetadata": {
          "description": "Output only. Metadata about the Conversational Agents playbook dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationalAgentsPlaybookDimensionMetadata"
        },
        "clientSentimentCategoryDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata",
          "description": "Output only. Metadata about the client sentiment category dimension."
        },
        "dimensionKey": {
          "description": "The key of the dimension.",
          "enum": [
            "DIMENSION_KEY_UNSPECIFIED",
            "ISSUE",
            "ISSUE_NAME",
            "AGENT",
            "AGENT_TEAM",
            "QA_QUESTION_ID",
            "QA_QUESTION_ANSWER_VALUE",
            "QA_SCORECARD_ID",
            "CONVERSATION_PROFILE_ID",
            "MEDIUM",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_ID",
            "CONVERSATIONAL_AGENTS_PLAYBOOK_NAME",
            "CONVERSATIONAL_AGENTS_TOOL_ID",
            "CONVERSATIONAL_AGENTS_TOOL_NAME",
            "CLIENT_SENTIMENT_CATEGORY",
            "AGENT_VERSION_ID",
            "AGENT_DEPLOYMENT_ID",
            "AGENT_ASSIST_SUPERVISOR_ID",
            "LABEL_KEY",
            "LABEL_VALUE",
            "LABEL_KEY_AND_VALUE",
            "LAST_TRANSFER_SUB_AGENT_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "The key of the dimension is unspecified.",
            "The dimension is keyed by issues.",
            "The dimension is keyed by issue names.",
            "The dimension is keyed by agents.",
            "The dimension is keyed by agent teams.",
            "The dimension is keyed by QaQuestionIds. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing stats for the same question across different scorecard revisions.",
            "The dimension is keyed by QaQuestionIds-Answer value pairs. Note that: We only group by the QuestionId and not the revision-id of the scorecard this question is a part of. This allows for showing distribution of answers per question across different scorecard revisions.",
            "The dimension is keyed by QaScorecardIds. Note that: We only group by the ScorecardId and not the revision-id of the scorecard. This allows for showing stats for the same scorecard across different revisions. This metric is mostly only useful if querying the average normalized score per scorecard.",
            "The dimension is keyed by the conversation profile ID.",
            "The dimension is keyed by the conversation medium.",
            "The dimension is keyed by the Conversational Agents playbook ID.",
            "The dimension is keyed by the Conversational Agents playbook display name.",
            "The dimension is keyed by the Conversational Agents tool ID.",
            "The dimension is keyed by the Conversational Agents tool display name.",
            "The dimension is keyed by the client sentiment category.",
            "The dimension is keyed by the agent version ID.",
            "The dimension is keyed by the agent deployment ID.",
            "The dimension is keyed by the supervisor ID of the assigned human supervisor for virtual agents.",
            "The dimension is keyed by label keys.",
            "The dimension is keyed by label values.",
            "The dimension is keyed by label key-value pairs.",
            "The dimension is keyed by the last transfer sub agent name."
          ]
        },
        "conversationProfileDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionConversationProfileDimensionMetadata",
          "description": "Output only. Metadata about the conversation profile dimension."
        },
        "qaScorecardDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaScorecardDimensionMetadata",
          "description": "Output only. Metadata about the QA scorecard dimension."
        },
        "agentDimensionMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionAgentDimensionMetadata",
          "description": "Output only. Metadata about the agent dimension."
        },
        "qaQuestionAnswerDimensionMetadata": {
          "description": "Output only. Metadata about the QA question-answer dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionQaQuestionAnswerDimensionMetadata"
        },
        "issueDimensionMetadata": {
          "description": "Output only. Metadata about the issue dimension.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1DimensionIssueDimensionMetadata"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteFeedbackLabelsRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource for new feedback labels.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
          "type": "string"
        }
      },
      "description": "Request for the BulkDeleteFeedbackLabels endpoint."
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment",
      "type": "object",
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "channelTag": {
          "description": "The channel of the audio that the data applies to.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "One channel of conversation-level sentiment data."
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint": {
      "description": "The current chart checkpoint state.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartCheckpoint",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "The session id of the chart.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision id of the chart.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig": {
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig",
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        },
        "disableWordTimeOffsets": {
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "type": "object",
      "properties": {
        "conversation": {
          "description": "The conversation resource name that had an error during correlation.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status."
        }
      },
      "description": "An error that occurred during correlation for a specific conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination": {
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination",
      "type": "object",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint": {
      "description": "A data point contains the metric values mapped to an interval.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPoint",
      "type": "object",
      "properties": {
        "conversationMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointConversationMeasure",
          "description": "The measure related to conversations."
        },
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats": {
      "description": "Statistics for SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats",
      "type": "object",
      "properties": {
        "successfulSampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of new conversations added during this sample operation.",
          "readOnly": true
        },
        "failedSampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of objects which were unable to be sampled due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsResponse",
      "type": "object",
      "properties": {},
      "description": "The response to an SampleConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata",
      "type": "object",
      "properties": {
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "type": "integer",
          "format": "int32"
        },
        "agentChannel": {
          "description": "The audio channel that contains the agent.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Call-specific metadata."
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition": {
      "id": "GoogleCloudContactcenterinsightsV1AutoLabelingRuleLabelingCondition",
      "type": "object",
      "properties": {
        "condition": {
          "description": "A optional CEL expression to be evaluated as a boolean value. Once evaluated as true, then we will proceed with the value evaluation. An empty condition will be auto evaluated as true.",
          "type": "string"
        },
        "value": {
          "description": "CEL expression to be evaluated as the value.",
          "type": "string"
        }
      },
      "description": "Condition for auto-labeling conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata": {
      "description": "Call-specific metadata.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
      "type": "object",
      "properties": {
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "type": "integer",
          "format": "int32"
        },
        "agentChannel": {
          "type": "integer",
          "format": "int32",
          "description": "The audio channel that contains the agent."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainEntity": {
      "id": "GoogleCloudContactcenterinsightsV1mainEntity",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData",
          "description": "The aggregate sentiment expressed for this entity in the conversation."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ]
        },
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata": {
      "description": "Metadata about the QA question-answer dimension. This is useful for showing the answer distribution for questions for a given scorecard.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionQaQuestionAnswerDimensionMetadata",
      "type": "object",
      "properties": {
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        },
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        },
        "answerValue": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse": {
      "description": "The response of listing issue models.",
      "id": "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse",
      "type": "object",
      "properties": {
        "issueModels": {
          "description": "The issue models that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListViewsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListViewsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "views": {
          "description": "The views that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1View"
          },
          "type": "array"
        }
      },
      "description": "The response of listing views."
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest",
          "description": "Output only. The original request for initialization."
        },
        "partialErrors": {
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Metadata for initializing a location-level encryption specification."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ]
        },
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination"
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "writeDisposition": {
          "type": "string",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Options for what to do if the destination table already exists."
        }
      },
      "description": "The request to export insights."
    },
    "GoogleCloudContactcenterinsightsV1mainSherlockStep": {
      "description": "A step in the agent's reasoning process (Trajectory Step).",
      "id": "GoogleCloudContactcenterinsightsV1mainSherlockStep",
      "type": "object",
      "properties": {
        "toolOutput": {
          "type": "object",
          "description": "Output only. The output response from the tool execution.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "thought": {
          "type": "string",
          "description": "Output only. The reasoning or internal monologue of the agent.",
          "readOnly": true
        },
        "toolCalls": {
          "type": "array",
          "description": "Output only. The tool call issued by the agent.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainToolCall"
          }
        },
        "textInput": {
          "type": "array",
          "description": "Output only. Natural language input stimulus.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "description": "Configuration information of a phrase match rule.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "type": "object",
      "properties": {
        "exactMatchConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
          "description": "The configuration for the exact match rule."
        },
        "regexMatchConfig": {
          "description": "The configuration for the regex match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1RegexMatchConfig"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest": {
      "description": "The request to undeploy a QaScorecardRevision",
      "id": "GoogleCloudContactcenterinsightsV1UndeployQaScorecardRevisionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest": {
      "description": "The request to initialize a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest",
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainEncryptionSpec",
          "description": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats": {
      "description": "Aggregated statistics about an issue.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats",
      "type": "object",
      "properties": {
        "issue": {
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        },
        "labeledConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of conversations attached to the issue at this point in time."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "description": "The measure related to dialogflow interactions.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "type": "object",
      "properties": {
        "percentileLlmCallLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level."
        },
        "percentileAudioInAudioOutLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level."
        },
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointPercentileResult"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse",
      "type": "object",
      "properties": {},
      "description": "Response for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest": {
      "description": "Request to export an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage URI to export the issue model to.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequestGcsDestination"
        },
        "name": {
          "description": "Required. The issue model to export.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata": {
      "description": "Metadata about the QA scorecard dimension.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaScorecardDimensionMetadata",
      "type": "object",
      "properties": {
        "qaScorecardId": {
          "description": "Optional. The QA scorecard ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure": {
      "description": "The measure related to dialogflow interactions.",
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointDialogflowInteractionMeasure",
      "type": "object",
      "properties": {
        "percentileAudioInAudioOutLatency": {
          "description": "The percentile result for audio in audio out latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileLlmCallLatency": {
          "description": "The percentile result for LLM latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileTtsLatency": {
          "description": "The percentile result for TTS latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        },
        "percentileToolUseLatency": {
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
          "description": "The percentile result for tool use latency in milliseconds per dialogflow interaction level."
        },
        "percentileEndToEndLatency": {
          "description": "The percentile result for end to end chat latency in milliseconds per dialogflow interaction level.",
          "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations": {
      "id": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequestConversations",
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "Optional. The conversations.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          }
        }
      },
      "description": "Wrapper for a list of conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence": {
      "description": "Conversation-level silence data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence",
      "type": "object",
      "properties": {
        "silenceDuration": {
          "description": "Amount of time calculated to be in silence.",
          "format": "google-duration",
          "type": "string"
        },
        "silencePercentage": {
          "description": "Percentage of the total conversation spent in silence.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainCreateIssueModelMetadata": {
      "description": "Metadata for creating an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainCreateIssueModelMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainCreateIssueModelRequest",
          "description": "The original request for creation."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListDashboardsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListDashboardsResponse",
      "type": "object",
      "properties": {
        "dashboards": {
          "description": "The dashboards under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Dashboard"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The value returned by the last `ListDashboardsResponse`. This value indicates that this is a continuation of a prior `ListDashboards` call and that the system should return the next page of data.",
          "type": "string"
        }
      },
      "description": "The response of listing dashboards."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointPercentileResult",
      "type": "object",
      "properties": {
        "p50": {
          "description": "The 50th percentile value.",
          "format": "double",
          "type": "number"
        },
        "p99": {
          "description": "The 99th percentile value.",
          "type": "number",
          "format": "double"
        },
        "p90": {
          "description": "The 90th percentile value.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th."
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "$ref": "GoogleCloudContactcenterinsightsV1Dataset",
          "description": "The dataset resource to copy the sampled conversations to."
        },
        "parent": {
          "description": "Required. The parent resource of the dataset.",
          "type": "string"
        },
        "sampleRule": {
          "description": "Optional. The sample rule used for sampling conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1SampleRule"
        }
      },
      "description": "The request to sample conversations to a dataset."
    },
[...]
