{
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "description": "This API is deprecated. Please use Merchant API instead: https://developers.google.com/merchant/api. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "title": "Content API for Shopping",
  "kind": "discovery#restDescription",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "canonicalName": "Shopping Content",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "version": "v2.1",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "name": "content",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "id": "content:v2.1",
  "servicePath": "content/v2.1/",
  "revision": "20260408",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "accounttax": {
      "methods": {
        "custombatch": {
          "parameterOrder": [],
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "path": "accounttax/batch",
          "httpMethod": "POST",
          "flatPath": "accounttax/batch",
          "parameters": {},
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.custombatch"
        },
        "list": {
          "id": "content.accounttax.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of tax settings to return in the response, used for paging."
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "flatPath": "{merchantId}/accounttax",
          "path": "{merchantId}/accounttax",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "AccounttaxListResponse"
          }
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountTax"
          },
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "path": "{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to get/update account tax settings.",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "description": "Retrieves the tax settings of the account.",
          "id": "content.accounttax.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "id": "content.accounttax.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update account tax settings.",
              "required": true
            }
          },
          "request": {
            "$ref": "AccountTax"
          },
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "path": "{merchantId}/accounttax/{accountId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountTax"
          }
        }
      }
    },
    "pos": {
      "methods": {
        "inventory": {
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.inventory",
          "parameters": {
            "targetMerchantId": {
              "location": "path",
              "description": "The ID of the target merchant.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "description": "Submit inventory for the given merchant."
        },
        "custombatch": {
          "flatPath": "pos/batch",
          "path": "pos/batch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "id": "content.pos.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {},
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "description": "Batches multiple POS-related calls in a single request."
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "response": {
            "$ref": "PosStore"
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "description": "Retrieves information about the given store.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.get"
        },
        "insert": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "targetMerchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "required": true
            }
          },
          "request": {
            "$ref": "PosStore"
          },
          "description": "Creates a store for the given merchant.",
          "id": "content.pos.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosStore"
          },
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "httpMethod": "POST"
        },
        "sale": {
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosSaleResponse"
          },
          "id": "content.pos.sale",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "request": {
            "$ref": "PosSaleRequest"
          },
          "description": "Submit a sale event for the given merchant."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "httpMethod": "DELETE",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "id": "content.pos.delete",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "parameters": {
            "targetMerchantId": {
              "location": "path",
              "description": "The ID of the target merchant.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "description": "Deletes a store for the given merchant."
        },
        "list": {
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.list",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "targetMerchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "required": true
            }
          },
          "description": "Lists the stores of the target merchant."
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "get": {
          "id": "content.pubsubnotificationsettings.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get pubsub notification settings.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "path": "{merchantId}/pubsubnotificationsettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "PubsubNotificationSettings"
          }
        },
        "update": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account.",
              "required": true
            }
          },
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request.",
          "id": "content.pubsubnotificationsettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "path": "{merchantId}/pubsubnotificationsettings",
          "httpMethod": "PUT"
        }
      }
    },
    "conversionsources": {
      "methods": {
        "create": {
          "path": "{merchantId}/conversionsources",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/conversionsources",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ConversionSource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.conversionsources.create",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "ConversionSource"
          },
          "description": "Creates a new conversion source."
        },
        "undelete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.conversionsources.undelete",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "location": "path"
            },
            "conversionSourceId": {
              "description": "Required. The ID of the conversion source to be undeleted.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "UndeleteConversionSourceRequest"
          },
          "description": "Re-enables an archived conversion source.",
          "path": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}:undelete",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ]
        },
        "patch": {
          "id": "content.conversionsources.patch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "conversionSourceId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the conversion source to be updated.",
              "required": true
            },
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. List of fields being updated. The following fields can be updated: `attribution_settings`, `display_name`, `currency_code`.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ConversionSource"
          },
          "description": "Updates information of an existing conversion source.",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "response": {
            "$ref": "ConversionSource"
          }
        },
        "get": {
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "response": {
            "$ref": "ConversionSource"
          },
          "id": "content.conversionsources.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "conversionSourceId": {
              "type": "string",
              "description": "Required. The REST ID of the collection.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Fetches a conversion source."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/conversionsources/{conversionSourceId}",
          "httpMethod": "DELETE",
          "flatPath": "{merchantId}/conversionsources/{conversionSourceId}",
          "id": "content.conversionsources.delete",
          "parameterOrder": [
            "merchantId",
            "conversionSourceId"
          ],
          "parameters": {
            "conversionSourceId": {
              "type": "string",
              "description": "Required. The ID of the conversion source to be deleted.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Archives an existing conversion source. It will be recoverable for 30 days. This archiving behavior is not typical in the Content API and unique to this service."
        },
        "list": {
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the account that owns the new conversion source.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total."
            },
            "pageToken": {
              "description": "Page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "If true, also returns archived conversion sources."
            }
          },
          "description": "Retrieves the list of conversion sources the caller has access to.",
          "id": "content.conversionsources.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ListConversionSourcesResponse"
          },
          "flatPath": "{merchantId}/conversionsources",
          "path": "{merchantId}/conversionsources",
          "httpMethod": "GET"
        }
      }
    },
    "regionalinventory": {
      "methods": {
        "custombatch": {
          "parameters": {},
          "request": {
            "$ref": "RegionalinventoryCustomBatchRequest"
          },
          "description": "Updates regional inventory for multiple products or regions in a single request.",
          "id": "content.regionalinventory.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "RegionalinventoryCustomBatchResponse"
          },
          "flatPath": "regionalinventory/batch",
          "path": "regionalinventory/batch",
          "httpMethod": "POST"
        },
        "insert": {
          "parameters": {
            "productId": {
              "location": "path",
              "type": "string",
              "description": "The REST ID of the product for which to update the regional inventory.",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "request": {
            "$ref": "RegionalInventory"
          },
          "description": "Updates the regional inventory of a product in your Merchant Center account. If a regional inventory with the same region ID already exists, this method updates that entry.",
          "id": "content.regionalinventory.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "response": {
            "$ref": "RegionalInventory"
          },
          "flatPath": "{merchantId}/products/{productId}/regionalinventory",
          "path": "{merchantId}/products/{productId}/regionalinventory",
          "httpMethod": "POST"
        }
      }
    },
    "ordertrackingsignals": {
      "methods": {
        "create": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "The ID of the merchant for which the order signal is created.",
              "required": true
            }
          },
          "request": {
            "$ref": "OrderTrackingSignal"
          },
          "description": "Creates new order tracking signal.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.ordertrackingsignals.create",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "OrderTrackingSignal"
          },
          "path": "{merchantId}/ordertrackingsignals",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/ordertrackingsignals"
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "get": {
          "path": "{merchantId}/datafeedstatuses/{datafeedId}",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/datafeedstatuses/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "response": {
            "$ref": "DatafeedStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.datafeedstatuses.get",
          "parameters": {
            "feedLabel": {
              "location": "query",
              "description": "The feed label to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The language to get the datafeed status for. If this parameter is provided then `country` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query"
            },
            "country": {
              "location": "query",
              "description": "Deprecated. Use `feedLabel` instead. The country to get the datafeed status for. If this parameter is provided then `language` must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "datafeedId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "required": true
            }
          },
          "description": "Retrieves the status of a datafeed from your Merchant Center account."
        },
        "custombatch": {
          "parameters": {},
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "id": "content.datafeedstatuses.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "flatPath": "datafeedstatuses/batch",
          "path": "datafeedstatuses/batch",
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.datafeedstatuses.list",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "path": "{merchantId}/datafeedstatuses",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/datafeedstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          }
        }
      }
    },
    "liasettings": {
      "methods": {
        "listposdataproviders": {
          "parameterOrder": [],
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "flatPath": "liasettings/posdataproviders",
          "path": "liasettings/posdataproviders",
          "httpMethod": "GET",
          "parameters": {},
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "id": "content.liasettings.listposdataproviders",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestinventoryverification": {
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "path": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "country": {
              "type": "string",
              "description": "The country for which inventory validation is requested.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Requests inventory validation for the specified country.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.requestinventoryverification"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            }
          },
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "id": "content.liasettings.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "flatPath": "{merchantId}/liasettings",
          "path": "{merchantId}/liasettings",
          "httpMethod": "GET"
        },
        "setposdataprovider": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.setposdataprovider",
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "posDataProviderId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of POS data provider.",
              "location": "query"
            },
            "country": {
              "location": "query",
              "type": "string",
              "description": "The country for which the POS data provider is selected.",
              "required": true
            },
            "posExternalAccountId": {
              "type": "string",
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query"
            }
          },
          "description": "Sets the POS data provider for the specified country.",
          "path": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          }
        },
        "custombatch": {
          "parameters": {},
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "id": "content.liasettings.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "flatPath": "liasettings/batch",
          "path": "liasettings/batch",
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "LiaSettings"
          },
          "path": "{merchantId}/liasettings/{accountId}",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to get or update LIA settings.",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "description": "Retrieves the LIA settings of the account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.get"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.update",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get or update LIA settings.",
              "required": true
            }
          },
          "request": {
            "$ref": "LiaSettings"
          },
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource.",
          "path": "{merchantId}/liasettings/{accountId}",
          "httpMethod": "PUT",
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "LiaSettings"
          }
        },
        "setinventoryverificationcontact": {
          "path": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country",
            "language",
            "contactName",
            "contactEmail"
          ],
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.setinventoryverificationcontact",
          "parameters": {
            "accountId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "contactName": {
              "location": "query",
              "type": "string",
              "description": "The name of the inventory verification contact.",
              "required": true
            },
            "contactEmail": {
              "location": "query",
              "type": "string",
              "description": "The email of the inventory verification contact.",
              "required": true
            },
            "country": {
              "type": "string",
              "description": "The country for which inventory verification is requested.",
              "required": true,
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The language for which inventory verification is requested.",
              "required": true,
              "location": "query"
            }
          },
          "description": "Sets the inventory verification contact for the specified country."
        },
        "setomnichannelexperience": {
          "parameters": {
            "country": {
              "location": "query",
              "type": "string",
              "description": "The CLDR country code (for example, \"US\") for which the omnichannel experience is selected."
            },
            "lsfType": {
              "location": "query",
              "description": "The Local Store Front (LSF) type for this country. Acceptable values are: - \"`ghlsf`\" (Google-Hosted Local Store Front) - \"`mhlsfBasic`\" (Merchant-Hosted Local Store Front Basic) - \"`mhlsfFull`\" (Merchant-Hosted Local Store Front Full) More details about these types can be found here.",
              "type": "string"
            },
            "pickupTypes": {
              "location": "query",
              "description": "The Pickup types for this country. Acceptable values are: - \"`pickupToday`\" - \"`pickupLater`\" ",
              "repeated": true,
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "description": "Sets the omnichannel experience for the specified country. Only supported for merchants whose POS data provider is trusted to enable the corresponding experience. For more context, see these help articles [about LFP](https://support.google.com/merchants/answer/7676652) and [how to get started](https://support.google.com/merchants/answer/7676578) with it.",
          "id": "content.liasettings.setomnichannelexperience",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "LiaOmnichannelExperience"
          },
          "flatPath": "{merchantId}/liasettings/{accountId}/setomnichannelexperience",
          "path": "{merchantId}/liasettings/{accountId}/setomnichannelexperience",
          "httpMethod": "POST"
        },
        "getaccessiblegmbaccounts": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to retrieve accessible Business Profiles.",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "description": "Retrieves the list of accessible Business Profiles.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "path": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts"
        },
        "requestgmbaccess": {
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which Business Profile access is requested.",
              "required": true
            },
            "gmbEmail": {
              "type": "string",
              "description": "The email of the Business Profile.",
              "required": true,
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Requests access to a specified Business Profile.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.requestgmbaccess",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "path": "{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/liasettings/{accountId}/requestgmbaccess"
        }
      }
    },
    "freelistingsprogram": {
      "methods": {
        "requestreview": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "required": true
            }
          },
          "request": {
            "$ref": "RequestReviewFreeListingsRequest"
          },
          "description": "Requests a review of free listings in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "id": "content.freelistingsprogram.requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/freelistingsprogram/requestreview",
          "path": "{merchantId}/freelistingsprogram/requestreview",
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "required": true
            }
          },
          "description": "Retrieves the status and review eligibility for the free listing program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.freelistingsprogram.get",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "FreeListingsProgramStatus"
          },
          "path": "{merchantId}/freelistingsprogram",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/freelistingsprogram"
        }
      },
      "resources": {
        "checkoutsettings": {
          "methods": {
            "delete": {
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.freelistingsprogram.checkoutsettings.delete",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "parameterOrder": [
                "merchantId"
              ],
              "parameters": {
                "merchantId": {
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "required": true
                }
              },
              "description": "Deletes `Checkout` settings and unenrolls merchant from `Checkout` program."
            },
            "insert": {
              "id": "content.freelistingsprogram.checkoutsettings.insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "InsertCheckoutSettingsRequest"
              },
              "description": "Enrolls merchant in `Checkout` program.",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings",
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "httpMethod": "POST",
              "parameterOrder": [
                "merchantId"
              ],
              "response": {
                "$ref": "CheckoutSettings"
              }
            },
            "get": {
              "parameters": {
                "merchantId": {
                  "location": "path",
                  "description": "Required. The ID of the account.",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "description": "Gets Checkout settings for the given merchant. This includes information about review state, enrollment state and URL settings.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.freelistingsprogram.checkoutsettings.get",
              "parameterOrder": [
                "merchantId"
              ],
              "response": {
                "$ref": "CheckoutSettings"
              },
              "path": "{merchantId}/freelistingsprogram/checkoutsettings",
              "httpMethod": "GET",
              "flatPath": "{merchantId}/freelistingsprogram/checkoutsettings"
            }
          }
        }
      }
    },
    "merchantsupport": {
      "methods": {
        "renderaccountissues": {
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "RenderAccountIssuesResponse"
          },
          "path": "{merchantId}/merchantsupport/renderaccountissues",
          "httpMethod": "POST",
          "flatPath": "{merchantId}/merchantsupport/renderaccountissues",
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account to fetch issues for.",
              "required": true,
              "location": "path"
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC."
            }
          },
          "request": {
            "$ref": "RenderAccountIssuesRequestPayload"
          },
          "description": "Provide a list of merchant's issues with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.merchantsupport.renderaccountissues"
        },
        "renderproductissues": {
          "flatPath": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "path": "{merchantId}/merchantsupport/renderproductissues/{productId}",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "response": {
            "$ref": "RenderProductIssuesResponse"
          },
          "id": "content.merchantsupport.renderproductissues",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "productId": {
              "location": "path",
              "type": "string",
              "description": "Required. The [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id) of the product to fetch issues for.",
              "required": true
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. The [IETF BCP-47](https://tools.ietf.org/html/bcp47) language code used to localize support content. If not set, the result will be in default language `en-US`.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the account that contains the product.",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "timeZone": {
              "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in support content. For example 'America/Los_Angeles'. If not set, results will use as a default UTC.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "RenderProductIssuesRequestPayload"
          },
          "description": "Provide a list of issues for merchant's product with a support content and available actions. This content and actions are meant to be rendered and shown in third-party applications."
        },
        "triggeraction": {
          "flatPath": "{merchantId}/merchantsupport/triggeraction",
          "path": "{merchantId}/merchantsupport/triggeraction",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "TriggerActionResponse"
          },
          "id": "content.merchantsupport.triggeraction",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "Optional. Language code [IETF BCP 47 syntax](https://tools.ietf.org/html/bcp47) used to localize the response. If not set, the result will be in default language `en-US`.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the merchant's account.",
              "required": true
            }
          },
          "request": {
            "$ref": "TriggerActionPayload"
          },
          "description": "Start an action. The action can be requested by merchants in third-party application. Before merchants can request the action, the third-party application needs to show them action specific content and display a user input form. You can request access using [Trigger action allowlist form](https://docs.google.com/forms/d/e/1FAIpQLSfeV_sBW9MBQv9BMTV6JZ1g11PGHLdHsrefca-9h0LmpU7CUg/viewform?usp=sharing). The action can be successfully started only once all `required` inputs are provided. If any `required` input is missing, or invalid value was provided, the service will return 400 error. Validation errors will contain Ids for all problematic field together with translated, human readable error messages that can be shown to the user."
        }
      }
    },
    "csses": {
      "methods": {
        "list": {
          "parameterOrder": [
            "cssGroupId"
          ],
          "response": {
            "$ref": "ListCssesResponse"
          },
          "flatPath": "{cssGroupId}/csses",
          "path": "{cssGroupId}/csses",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of CSS domains to return. The service may return fewer than this value. If unspecified, at most 50 CSS domains will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListCsses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCsses` must match the call that provided the page token.",
              "type": "string"
            },
            "cssGroupId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The CSS group ID of CSS domains to be listed.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Lists CSS domains affiliated with a CSS group.",
          "id": "content.csses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatelabels": {
          "id": "content.csses.updatelabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "cssGroupId": {
              "description": "Required. The CSS group ID of the updated CSS domain.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "cssDomainId": {
              "description": "Required. The ID of the updated CSS domain.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "request": {
            "$ref": "LabelIds"
          },
          "description": "Updates labels that are assigned to a CSS domain by its CSS group.",
          "flatPath": "{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "path": "{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "httpMethod": "POST",
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ],
          "response": {
            "$ref": "Css"
          }
        },
        "get": {
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ],
          "response": {
            "$ref": "Css"
          },
          "path": "{cssGroupId}/csses/{cssDomainId}",
          "httpMethod": "GET",
          "flatPath": "{cssGroupId}/csses/{cssDomainId}",
          "parameters": {
            "cssGroupId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the managing account. If this parameter is not the same as [cssDomainId](#cssDomainId), then this ID must be a CSS group ID and `cssDomainId` must be the ID of a CSS domain affiliated with this group.",
              "required": true
            },
            "cssDomainId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the CSS domain to return.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves a single CSS domain by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.csses.get"
        }
      }
    },
    "productstatuses": {
      "methods": {
        "get": {
          "id": "content.productstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "productId": {
              "type": "string",
              "description": "The REST ID of the product.",
              "required": true,
              "location": "path"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "description": "Gets the status of a product from your Merchant Center account.",
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "path": "{merchantId}/productstatuses/{productId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "response": {
            "$ref": "ProductStatus"
          }
        },
        "custombatch": {
          "parameterOrder": [],
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "path": "productstatuses/batch",
          "httpMethod": "POST",
          "flatPath": "productstatuses/batch",
          "parameters": {},
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "description": "Gets the statuses of multiple products in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productstatuses.custombatch"
        },
        "list": {
          "id": "content.productstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of product statuses to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "location": "query"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "flatPath": "{merchantId}/productstatuses",
          "path": "{merchantId}/productstatuses",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ProductstatusesListResponse"
          }
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "custombatch": {
          "flatPath": "accountstatuses/batch",
          "path": "accountstatuses/batch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "id": "content.accountstatuses.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {},
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "description": "Retrieves multiple Merchant Center account statuses in a single request."
        },
        "list": {
          "path": "{merchantId}/accountstatuses",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/accountstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accountstatuses.list",
          "parameters": {
            "name": {
              "location": "query",
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "type": "string"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of account statuses to return in the response, used for paging."
            }
          },
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account."
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountStatus"
          },
          "path": "{merchantId}/accountstatuses/{accountId}",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            },
            "destinations": {
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account.",
              "required": true
            }
          },
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accountstatuses.get"
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "getsupportedcarriers": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "description": "Retrieves supported carriers and carrier services for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.getsupportedcarriers",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "path": "{merchantId}/supportedCarriers",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/supportedCarriers"
        },
        "getsupportedholidays": {
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "path": "{merchantId}/supportedHolidays",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/supportedHolidays",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves supported holidays for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.getsupportedholidays"
        },
        "custombatch": {
          "parameterOrder": [],
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "path": "shippingsettings/batch",
          "httpMethod": "POST",
          "flatPath": "shippingsettings/batch",
          "parameters": {},
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.custombatch"
        },
        "get": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "accountId": {
              "description": "The ID of the account for which to get/update shipping settings.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "description": "Retrieves the shipping settings of the account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "ShippingSettings"
          },
          "path": "{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/shippingsettings/{accountId}"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.update",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings.",
              "required": true
            }
          },
          "request": {
            "$ref": "ShippingSettings"
          },
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "path": "{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "PUT",
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "ShippingSettings"
          }
        },
        "getsupportedpickupservices": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported pickup services.",
              "required": true
            }
          },
          "description": "Retrieves supported pickup services for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.getsupportedpickupservices",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "path": "{merchantId}/supportedPickupServices",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/supportedPickupServices"
        },
        "list": {
          "flatPath": "{merchantId}/shippingsettings",
          "path": "{merchantId}/shippingsettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "id": "content.shippingsettings.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of shipping settings to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account."
        }
      }
    },
    "products": {
      "methods": {
        "insert": {
          "flatPath": "{merchantId}/products",
          "path": "{merchantId}/products",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "Product"
          },
          "id": "content.products.insert",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            },
            "feedId": {
              "description": "The Content API Supplemental Feed ID. If present then product insertion applies to the data in a supplemental feed.",
              "type": "string",
              "format": "uint64",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Product"
          },
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.get",
          "parameters": {
            "productId": {
              "type": "string",
              "description": "The REST ID of the product.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "description": "Retrieves a product from your Merchant Center account.",
          "path": "{merchantId}/products/{productId}",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/products/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "response": {
            "$ref": "Product"
          }
        },
        "update": {
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "response": {
            "$ref": "Product"
          },
          "path": "{merchantId}/products/{productId}",
          "httpMethod": "PATCH",
          "flatPath": "{merchantId}/products/{productId}",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The comma-separated list of product attributes to be updated. Example: `\"title,salePrice\"`. Attributes specified in the update mask without a value specified in the body will be deleted from the product. *You must specify the update mask to delete attributes.* Only top-level product attributes can be updated. If not defined, product attributes with set values will be updated and other attributes will stay unchanged.",
              "location": "query"
            },
            "productId": {
              "location": "path",
              "description": "The REST ID of the product for which to update.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Product"
          },
          "description": "Updates an existing product in your Merchant Center account. Only updates attributes provided in the request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.update"
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "productId": {
              "description": "The REST ID of the product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            },
            "feedId": {
              "location": "query",
              "type": "string",
              "format": "uint64",
              "description": "The Content API Supplemental Feed ID. If present then product deletion applies to the data in a supplemental feed. If absent, entire product will be deleted."
            }
          },
          "description": "Deletes a product from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/products/{productId}",
          "httpMethod": "DELETE",
          "flatPath": "{merchantId}/products/{productId}",
          "id": "content.products.delete"
        },
        "list": {
          "flatPath": "{merchantId}/products",
          "path": "{merchantId}/products",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ProductsListResponse"
          },
          "id": "content.products.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of products to return in the response, used for paging. The default value is 25. The maximum value is 250.",
              "type": "integer",
              "format": "uint32"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested."
        },
        "custombatch": {
          "parameters": {},
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.custombatch",
          "parameterOrder": [],
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "path": "products/batch",
          "httpMethod": "POST",
          "flatPath": "products/batch"
        }
      }
    },
    "reports": {
      "methods": {
        "search": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. Id of the merchant making the call. Must be a standalone account or an MCA subaccount.",
              "required": true
            }
          },
          "request": {
            "$ref": "SearchRequest"
          },
          "description": "Retrieves merchant performance metrics matching the search query and optionally segmented by selected dimensions.",
          "id": "content.reports.search",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "SearchResponse"
          },
          "flatPath": "{merchantId}/reports/search",
          "path": "{merchantId}/reports/search",
          "httpMethod": "POST"
        }
      }
    },
    "shoppingadsprogram": {
      "methods": {
        "requestreview": {
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/shoppingadsprogram/requestreview",
          "path": "{merchantId}/shoppingadsprogram/requestreview",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The ID of the account.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "RequestReviewShoppingAdsRequest"
          },
          "description": "Requests a review of Shopping ads in a specific region. This method deprecated. Use the `MerchantSupportService` to view product and account issues and request a review.",
          "id": "content.shoppingadsprogram.requestreview",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "path": "{merchantId}/shoppingadsprogram",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/shoppingadsprogram",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShoppingAdsProgramStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shoppingadsprogram.get",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves the status and review eligibility for the Shopping Ads program. Returns errors and warnings if they require action to resolve, will become disapprovals, or impact impressions. Use `accountstatuses` to view all issues for an account."
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "delete": {
          "path": "{merchantId}/productdeliverytime/{productId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productdeliverytime.delete",
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "productId": {
              "location": "path",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Deletes the delivery time of a product."
        },
        "create": {
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "flatPath": "{merchantId}/productdeliverytime",
          "path": "{merchantId}/productdeliverytime",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "request": {
            "$ref": "ProductDeliveryTime"
          },
          "description": "Creates or updates the delivery time of a product.",
          "id": "content.productdeliverytime.create",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "parameters": {
            "productId": {
              "location": "path",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Gets `productDeliveryTime` by `productId`.",
          "id": "content.productdeliverytime.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "path": "{merchantId}/productdeliverytime/{productId}",
          "httpMethod": "GET"
        }
      }
    },
    "collectionstatuses": {
      "methods": {
        "get": {
          "parameterOrder": [
            "merchantId",
            "collectionId"
          ],
          "response": {
            "$ref": "CollectionStatus"
          },
          "path": "{merchantId}/collectionstatuses/{collectionId}",
          "httpMethod": "GET",
          "flatPath": "{merchantId}/collectionstatuses/{collectionId}",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "collectionId": {
              "description": "Required. The collectionId of the collection. CollectionId is the same as the REST ID of the collection.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets the status of a collection from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.collectionstatuses.get"
        },
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ListCollectionStatusesResponse"
          },
          "flatPath": "{merchantId}/collectionstatuses",
          "path": "{merchantId}/collectionstatuses",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of collection statuses to return in the response, used for paging. Defaults to 50; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the account that contains the collection. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Lists the statuses of the collections in your Merchant Center account.",
          "id": "content.collectionstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "returnpolicyonline": {
      "methods": {
        "delete": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "returnPolicyId": {
              "location": "path",
              "description": "Required. The id of the return policy to delete.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes an existing return policy.",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "id": "content.returnpolicyonline.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "httpMethod": "DELETE"
        },
        "list": {
          "flatPath": "{merchantId}/returnpolicyonline",
          "path": "{merchantId}/returnpolicyonline",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ListReturnPolicyOnlineResponse"
          },
          "id": "content.returnpolicyonline.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "Required. The id of the merchant for which to retrieve the return policy online object.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Lists all existing return policies."
        },
        "get": {
          "flatPath": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "path": "{merchantId}/returnpolicyonline/{returnPolicyId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "response": {
            "$ref": "ReturnPolicyOnline"
          },
[...]
