{
  "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/",
  "name": "container",
  "discoveryVersion": "v1",
  "rootUrl": "https://container.googleapis.com/",
  "id": "container:v1",
  "ownerDomain": "google.com",
  "schemas": {
    "RecurringTimeWindow": {
      "properties": {
        "recurrence": {
          "type": "string",
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window recurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
        },
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        }
      },
      "description": "Represents an arbitrary window of time that recurs.",
      "id": "RecurringTimeWindow",
      "type": "object"
    },
    "FastSocket": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Fast Socket features are enabled in the node pool.",
          "type": "boolean"
        }
      },
      "id": "FastSocket",
      "description": "Configuration of Fast Socket feature."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "CertificateAuthorityDomainConfig": {
      "description": "CertificateAuthorityDomainConfig configures one or more fully qualified domain names (FQDN) to a specific certificate.",
      "id": "CertificateAuthorityDomainConfig",
      "type": "object",
      "properties": {
        "fqdns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of fully qualified domain names (FQDN). Specifying port is supported. Wildcards are NOT supported. Examples: - my.customdomain.com - 10.0.1.2:5000"
        },
        "gcpSecretManagerCertificateConfig": {
          "description": "Secret Manager certificate configuration.",
          "$ref": "GCPSecretManagerCertificateConfig"
        }
      }
    },
    "SetNetworkPolicyRequest": {
      "id": "SetNetworkPolicyRequest",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "type": "object",
      "properties": {
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Required. Configuration options for the NetworkPolicy feature."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "ResourceUsageExportConfig": {
      "id": "ResourceUsageExportConfig",
      "type": "object",
      "description": "Configuration for exporting cluster resource usages.",
      "properties": {
        "enableNetworkEgressMetering": {
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic.",
          "type": "boolean"
        },
        "consumptionMeteringConfig": {
          "$ref": "ConsumptionMeteringConfig",
          "description": "Configuration to enable resource consumption metering."
        },
        "bigqueryDestination": {
          "description": "Configuration to use BigQuery as usage export destination.",
          "$ref": "BigQueryDestination"
        }
      }
    },
    "Cluster": {
      "properties": {
        "notificationConfig": {
          "description": "Notification configuration of the cluster.",
          "$ref": "NotificationConfig"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "servicesIpv4Cidr": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address range of the Kubernetes services in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
        },
        "nodePoolDefaults": {
          "$ref": "NodePoolDefaults",
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
        },
        "defaultMaxPodsConstraint": {
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support.",
          "$ref": "MaxPodsConstraint"
        },
        "networkConfig": {
          "description": "Configuration for cluster networking.",
          "$ref": "NetworkConfig"
        },
        "userManagedKeysConfig": {
          "$ref": "UserManagedKeysConfig",
          "description": "The Custom keys configuration for the cluster."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The current status of this cluster.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is unusable. It will be automatically deleted. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podAutoscaling": {
          "$ref": "PodAutoscaling",
          "description": "The config for pod autoscaling."
        },
        "fleet": {
          "$ref": "Fleet",
          "description": "Fleet information for the cluster."
        },
        "alphaClusterFeatureGates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of user specified Kubernetes feature gates. Each string represents the activation status of a feature gate (e.g. \"featureX=true\" or \"featureX=false\")"
        },
        "enableTpu": {
          "type": "boolean",
          "deprecated": true,
          "description": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of cluster fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "nodePools": {
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "enableKubernetesAlpha": {
          "type": "boolean",
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation."
        },
        "legacyAbac": {
          "description": "Configuration for the legacy ABAC authorization mode.",
          "$ref": "LegacyAbac"
        },
        "addonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "costManagementConfig": {
          "$ref": "CostManagementConfig",
          "description": "Configuration for the fine-grained cost management feature."
        },
        "instanceGroupUrls": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Deprecated. Use node_pools.instance_group_urls."
        },
        "statusMessage": {
          "description": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available.",
          "type": "string",
          "deprecated": true,
          "readOnly": true
        },
        "confidentialNodes": {
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled.",
          "$ref": "ConfidentialNodes"
        },
        "monitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "securityPostureConfig": {
          "$ref": "SecurityPostureConfig",
          "description": "Optional. Enable/Disable Security Posture API features for the cluster."
        },
        "identityServiceConfig": {
          "$ref": "IdentityServiceConfig",
          "description": "Configuration for Identity Service component."
        },
        "managedOpentelemetryConfig": {
          "description": "Configuration for Managed OpenTelemetry pipeline.",
          "$ref": "ManagedOpenTelemetryConfig"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "currentNodeVersion": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated, use [NodePools.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes.",
          "type": "string"
        },
        "resourceLabels": {
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "currentMasterVersion": {
          "description": "Output only. The current software version of the master endpoint.",
          "type": "string",
          "readOnly": true
        },
        "databaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique id for the cluster."
        },
        "controlPlaneEndpointsConfig": {
          "description": "Configuration for all cluster's control plane endpoints.",
          "$ref": "ControlPlaneEndpointsConfig"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Logging configuration for the cluster."
        },
        "nodePoolAutoConfig": {
          "$ref": "NodePoolAutoConfig",
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "resourceUsageExportConfig": {
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified.",
          "$ref": "ResourceUsageExportConfig"
        },
        "secretManagerConfig": {
          "description": "Secret CSI driver configuration.",
          "$ref": "SecretManagerConfig"
        },
        "gkeAutoUpgradeConfig": {
          "$ref": "GkeAutoUpgradeConfig",
          "description": "Configuration for GKE auto upgrades."
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array",
          "description": "Which conditions caused the current cluster state."
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
          "type": "string"
        },
        "enterpriseConfig": {
          "deprecated": true,
          "$ref": "EnterpriseConfig",
          "description": "GKE Enterprise Configuration. Deprecated: GKE Enterprise features are now available without an Enterprise tier."
        },
        "endpoint": {
          "type": "string",
          "description": "Output only. The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
          "readOnly": true
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "autopilot": {
          "$ref": "Autopilot",
          "description": "Autopilot configuration for the cluster."
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "parentProductConfig": {
          "description": "The configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of the GKE cluster and take the ownership of the cluster.",
          "$ref": "ParentProductConfig"
        },
        "location": {
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides.",
          "readOnly": true,
          "type": "string"
        },
        "nodeConfig": {
          "deprecated": true,
          "$ref": "NodeConfig",
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
        },
        "nodeIpv4CidrSize": {
          "description": "Output only. The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "initialNodeCount": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead."
        },
        "subnetwork": {
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used."
        },
        "anonymousAuthenticationConfig": {
          "description": "Configuration for limiting anonymous access to all endpoints except the health checks.",
          "$ref": "AnonymousAuthenticationConfig"
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "currentNodeCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "type": "integer",
          "deprecated": true
        },
        "ipAllocationPolicy": {
          "description": "Configuration for cluster IP allocation.",
          "$ref": "IPAllocationPolicy"
        },
        "shieldedNodes": {
          "description": "Shielded Nodes configuration.",
          "$ref": "ShieldedNodes"
        },
        "tpuIpv4CidrBlock": {
          "description": "Output only. The IP address range of the Cloud TPUs in this cluster, in [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25.",
          "type": "string",
          "readOnly": true,
          "deprecated": true
        },
        "enableK8sBetaApis": {
          "$ref": "K8sBetaAPIConfig",
          "description": "Beta APIs Config"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "maintenancePolicy": {
          "description": "Configure the maintenance policy for this cluster.",
          "$ref": "MaintenancePolicy"
        },
        "authenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "workloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies."
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "name": {
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
          "type": "string"
        },
        "masterAuthorizedNetworksConfig": {
          "deprecated": true,
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.authorized_networks_config instead."
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "Release channel configuration. If left unspecified on cluster creation and a version is specified, the cluster is enrolled in the most mature release channel where the version is available (first checking STABLE, then REGULAR, and finally RAPID). Otherwise, if no release channel configuration and no version is specified, the cluster is enrolled in the REGULAR channel with its default version."
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "rbacBindingConfig": {
          "$ref": "RBACBindingConfig",
          "description": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created."
        },
        "compliancePostureConfig": {
          "$ref": "CompliancePostureConfig",
          "deprecated": true,
          "description": "Optional. Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster."
        },
        "meshCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "MeshCertificates"
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Monitoring configuration for the cluster."
        },
        "zone": {
          "readOnly": true,
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead.",
          "type": "string",
          "deprecated": true
        },
        "selfLink": {
          "description": "Output only. Server-defined URL for the resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A Google Kubernetes Engine cluster.",
      "type": "object",
      "id": "Cluster"
    },
    "WorkloadPolicyConfig": {
      "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
      "id": "WorkloadPolicyConfig",
      "type": "object",
      "properties": {
        "autopilotCompatibilityAuditingEnabled": {
          "type": "boolean",
          "description": "If true, enables the GCW Auditor that audits workloads on standard clusters."
        },
        "allowNetAdmin": {
          "description": "If true, workloads can use NET_ADMIN capability.",
          "type": "boolean"
        }
      }
    },
    "DisruptionBudget": {
      "id": "DisruptionBudget",
      "type": "object",
      "properties": {
        "minorVersionDisruptionInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The minimum duration between two minor version upgrades of the control plane."
        },
        "lastMinorVersionDisruptionTime": {
          "format": "google-datetime",
          "description": "Output only. The last time a minor version upgrade was performed on the control plane.",
          "type": "string",
          "readOnly": true
        },
        "lastDisruptionTime": {
          "readOnly": true,
          "description": "Output only. The last time a disruption was performed on the control plane.",
          "format": "google-datetime",
          "type": "string"
        },
        "patchVersionDisruptionInterval": {
          "description": "Optional. The minimum duration between two patch version upgrades of the control plane.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "DisruptionBudget defines the upgrade disruption budget for the cluster control plane."
    },
    "GetOpenIDConfigResponse": {
      "properties": {
        "grant_types": {
          "type": "array",
          "description": "Supported grant types.",
          "items": {
            "type": "string"
          }
        },
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "response_types_supported": {
          "items": {
            "type": "string"
          },
          "description": "Supported response types.",
          "type": "array"
        },
        "claims_supported": {
          "description": "Supported claims.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jwks_uri": {
          "description": "JSON Web Key uri.",
          "type": "string"
        },
        "subject_types_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported subject types."
        },
        "id_token_signing_alg_values_supported": {
          "description": "supported ID Token signing Algorithms.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "For HTTP requests, this field is automatically extracted into the Cache-Control HTTP header."
        }
      },
      "id": "GetOpenIDConfigResponse",
      "type": "object",
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details."
    },
    "Jwk": {
      "type": "object",
      "properties": {
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        },
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "kid": {
          "type": "string",
          "description": "Key ID."
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "y": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "x": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        }
      },
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "id": "Jwk"
    },
    "WorkloadIdentityConfig": {
      "properties": {
        "workloadPool": {
          "description": "The workload pool to attach all Kubernetes service accounts to.",
          "type": "string"
        }
      },
      "id": "WorkloadIdentityConfig",
      "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies.",
      "type": "object"
    },
    "NodeKernelModuleLoading": {
      "id": "NodeKernelModuleLoading",
      "properties": {
        "policy": {
          "enumDescriptions": [
            "Default behavior. GKE selects the image based on node type. For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not.",
            "Enforced signature verification: Node pools will use a Container-Optimized OS image configured to allow loading of *Google-signed* external kernel modules. Loadpin is enabled but configured to exclude modules, and kernel module signature checking is enforced.",
            "Mirrors existing DEFAULT behavior: For CPU and TPU nodes, the image will not allow loading external kernel modules. For GPU nodes, the image will allow loading any module, whether it is signed or not."
          ],
          "type": "string",
          "description": "Set the node module loading policy for nodes in the node pool.",
          "enum": [
            "POLICY_UNSPECIFIED",
            "ENFORCE_SIGNED_MODULES",
            "DO_NOT_ENFORCE_SIGNED_MODULES"
          ]
        }
      },
      "type": "object",
      "description": "Configuration for kernel module loading on nodes."
    },
    "ReleaseChannelConfig": {
      "id": "ReleaseChannelConfig",
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "properties": {
        "upgradeTargetVersion": {
          "type": "string",
          "description": "The auto upgrade target version for clusters on the channel."
        },
        "defaultVersion": {
          "description": "The default version for newly created clusters on the channel.",
          "type": "string"
        },
        "channel": {
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED"
          ],
          "type": "string",
          "description": "The release channel this configuration applies to.",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production.",
            "Clusters subscribed to EXTENDED receive extended support and availability for versions which are known to be stable and reliable in production."
          ]
        },
        "validVersions": {
          "items": {
            "type": "string"
          },
          "description": "List of valid versions for the channel.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "WindowsNodeConfig": {
      "description": "Parameters that can be configured on Windows nodes. Windows Node Config that define the parameters that will be used to configure the Windows node pool settings.",
      "id": "WindowsNodeConfig",
      "properties": {
        "osVersion": {
          "enumDescriptions": [
            "When OSVersion is not specified.",
            "LTSC2019 specifies to use LTSC2019 as the Windows Servercore Base Image.",
            "LTSC2022 specifies to use LTSC2022 as the Windows Servercore Base Image."
          ],
          "type": "string",
          "description": "OSVersion specifies the Windows node config to be used on the node.",
          "enum": [
            "OS_VERSION_UNSPECIFIED",
            "OS_VERSION_LTSC2019",
            "OS_VERSION_LTSC2022"
          ]
        }
      },
      "type": "object"
    },
    "RotationConfig": {
      "type": "object",
      "id": "RotationConfig",
      "description": "RotationConfig is config for secret manager auto rotation.",
      "properties": {
        "rotationInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "The interval between two consecutive rotations. Default rotation interval is 2 minutes."
        },
        "enabled": {
          "description": "Whether the rotation is enabled.",
          "type": "boolean"
        }
      }
    },
    "StandardRolloutPolicy": {
      "id": "StandardRolloutPolicy",
      "type": "object",
      "properties": {
        "batchNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of blue nodes to drain in a batch."
        },
        "batchSoakDuration": {
          "description": "Soak time after each batch gets drained. Default to zero.",
          "type": "string",
          "format": "google-duration"
        },
        "batchPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of the blue pool nodes to drain in a batch. The range of this field should be (0.0, 1.0]."
        }
      },
      "description": "Standard rollout policy is the default policy for blue-green."
    },
    "CloudRunConfig": {
      "description": "Configuration options for the Cloud Run feature.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether Cloud Run addon is enabled for this cluster.",
          "type": "boolean"
        },
        "loadBalancerType": {
          "type": "string",
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ],
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ],
          "description": "Which load balancer type is installed for Cloud Run."
        }
      },
      "id": "CloudRunConfig"
    },
    "RegistryHeader": {
      "id": "RegistryHeader",
      "description": "RegistryHeader configures headers for the registry.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value configures the header value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "Key configures the header key."
        }
      }
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorType": {
          "type": "string",
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)"
        },
        "gpuDriverInstallationConfig": {
          "$ref": "GPUDriverInstallationConfig",
          "description": "The configuration for auto installation of GPU driver."
        },
        "acceleratorCount": {
          "type": "string",
          "description": "The number of the accelerator cards exposed to an instance.",
          "format": "int64"
        },
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "gpuSharingConfig": {
          "description": "The configuration for GPU sharing options.",
          "$ref": "GPUSharingConfig"
        }
      },
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "id": "AcceleratorConfig",
      "type": "object"
    },
    "VerticalPodAutoscaling": {
      "description": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables vertical pod autoscaling."
        }
      },
      "id": "VerticalPodAutoscaling"
    },
    "ServerConfig": {
      "description": "Kubernetes Engine service configuration.",
      "id": "ServerConfig",
      "properties": {
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        },
        "defaultClusterVersion": {
          "type": "string",
          "description": "Version of Kubernetes the service deploys by default."
        },
        "validNodeVersions": {
          "description": "List of valid node upgrade target versions, in descending order.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "validMasterVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid master versions, in descending order."
        },
        "validImageTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid image types."
        },
        "channels": {
          "type": "array",
          "description": "List of release channel configurations.",
          "items": {
            "$ref": "ReleaseChannelConfig"
          }
        }
      },
      "type": "object"
    },
    "LoggingComponentConfig": {
      "description": "LoggingComponentConfig is cluster logging component configuration.",
      "id": "LoggingComponentConfig",
      "type": "object",
      "properties": {
        "enableComponents": {
          "items": {
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "workloads",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "kcp-sshd",
              "kcp connection logs",
              "horizontal pod autoscaler decision logs"
            ],
            "type": "string",
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "KCP_SSHD",
              "KCP_CONNECTION",
              "KCP_HPA"
            ]
          },
          "type": "array",
          "description": "Select components to collect logs. An empty set would disable all logging."
        }
      }
    },
    "UpdateNodePoolRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "maxRunDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The maximum duration for the nodes to exist. If unspecified, the nodes can exist indefinitely."
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        },
        "machineType": {
          "description": "Optional. The desired [Google Compute Engine machine type](https://cloud.google.com/compute/docs/machine-types) for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified machine type.",
          "type": "string"
        },
        "diskType": {
          "description": "Optional. The desired disk type (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk type.",
          "type": "string"
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        },
        "queuedProvisioning": {
          "$ref": "QueuedProvisioning",
          "description": "Specifies the configuration of queued provisioning."
        },
        "fastSocket": {
          "$ref": "FastSocket",
          "description": "Enable or disable NCCL fast socket for the node pool."
        },
        "gvnic": {
          "$ref": "VirtualNIC",
          "description": "Enable or disable gvnic on the node pool."
        },
        "diskSizeGb": {
          "description": "Optional. The desired disk size for nodes in the node pool specified in GB. The smallest allowed disk size is 10GB. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk size.",
          "type": "string",
          "format": "int64"
        },
        "resourceManagerTags": {
          "description": "Desired resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Existing tags will be replaced with new values.",
          "$ref": "ResourceManagerTags"
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "consolidationDelay": {
          "format": "google-duration",
          "description": "Consolidation delay defines duration after which the Cluster Autoscaler can scale down underutilized nodes. If not set, nodes are scaled down by default behavior, i.e. according to the chosen autoscaling profile.",
          "type": "string"
        },
        "resourceLabels": {
          "$ref": "ResourceLabels",
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources."
        },
        "nodeDrainConfig": {
          "description": "The desired node drain configuration for nodes in the node pool.",
          "$ref": "NodeDrainConfig"
        },
        "windowsNodeConfig": {
          "description": "Parameters that can be configured on Windows nodes.",
          "$ref": "WindowsNodeConfig"
        },
        "bootDisk": {
          "description": "The desired boot disk config for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified boot disk config.",
          "$ref": "BootDisk"
        },
        "linuxNodeConfig": {
          "description": "Parameters that can be configured on Linux nodes.",
          "$ref": "LinuxNodeConfig"
        },
        "storagePools": {
          "type": "array",
          "description": "List of Storage Pools where boot disks are provisioned. Existing Storage Pools will be replaced with storage-pools.",
          "items": {
            "type": "string"
          }
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "flexStart": {
          "description": "Flex Start flag for enabling Flex Start VM.",
          "type": "boolean"
        },
        "labels": {
          "description": "The desired node labels to be applied to all nodes in the node pool. If this field is not present, the labels will not be changed. Otherwise, the existing node labels will be *replaced* with the provided labels.",
          "$ref": "NodeLabels"
        },
        "containerdConfig": {
          "$ref": "ContainerdConfig",
          "description": "The desired containerd config for nodes in the node pool. Initiates an upgrade operation that recreates the nodes with the new config."
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The desired workload metadata config for the node pool."
        },
        "loggingConfig": {
          "$ref": "NodePoolLoggingConfig",
          "description": "Logging configuration."
        },
        "imageType": {
          "type": "string",
          "description": "Required. The desired image type for the node pool. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types."
        },
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "type": "array"
        },
        "confidentialNodes": {
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled.",
          "$ref": "ConfidentialNodes"
        },
        "nodeNetworkConfig": {
          "$ref": "NodeNetworkConfig",
          "description": "Node network config."
        },
        "taints": {
          "description": "The desired node taints to be applied to all nodes in the node pool. If this field is not present, the taints will not be changed. Otherwise, the existing node taints will be *replaced* with the provided taints.",
          "$ref": "NodeTaints"
        },
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "etag": {
          "description": "The current etag of the node pool. If an etag is provided and does not match the current etag of the node pool, update will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "tags": {
          "description": "The desired network tags to be applied to all nodes in the node pool. If this field is not present, the tags will not be changed. Otherwise, the existing network tags will be *replaced* with the provided tags.",
          "$ref": "NetworkTags"
        },
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS config."
        },
        "locations": {
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the node pool's nodes should be located. Changing the locations for a node pool will result in nodes being either created or removed from the node pool, depending on whether locations are being added or removed. Warning: It is recommended to update node pool locations in a standalone API call. Do not combine a location update with changes to other fields (such as `tags`, `labels`, `taints`, etc.) in the same request. Otherwise, the API performs a structural modification where changes to other fields will only apply to newly created nodes and will not be applied to existing nodes in the node pool. To ensure all nodes are updated consistently, use a separate API call for location changes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeVersion": {
          "description": "Required. The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        }
      },
      "description": "UpdateNodePoolRequests update a node pool's image and/or version.",
      "id": "UpdateNodePoolRequest"
    },
    "NetworkTierConfig": {
      "properties": {
        "networkTier": {
          "description": "Network tier configuration.",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_DEFAULT",
            "NETWORK_TIER_PREMIUM",
            "NETWORK_TIER_STANDARD"
          ],
          "enumDescriptions": [
            "By default, use project-level configuration. When unspecified, the behavior defaults to NETWORK_TIER_DEFAULT. For cluster updates, this implies no action (no-op).",
            "Default network tier. Use project-level configuration. User can specify this value, meaning they want to keep the same behaviour as before cluster level network tier configuration is introduced. This field ensures backward compatibility for the network tier of cluster resources, such as node pools and load balancers, for their external IP addresses.",
            "Premium network tier.",
            "Standard network tier."
          ],
          "type": "string"
        }
      },
      "description": "NetworkTierConfig contains network tier information.",
      "type": "object",
      "id": "NetworkTierConfig"
    },
    "MasterAuth": {
      "properties": {
        "clientCertificate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Base64-encoded public certificate used by clients to authenticate to the cluster endpoint. Issued only if client_certificate_config is set."
        },
        "clientKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Base64-encoded private key used by clients to authenticate to the cluster endpoint."
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true,
          "type": "string"
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "clusterCaCertificate": {
          "type": "string",
          "description": "Output only. Base64-encoded public certificate that is the root of trust for the cluster.",
          "readOnly": true
        },
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "MasterAuth",
      "type": "object",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates."
    },
    "NetworkConfig": {
      "type": "object",
      "id": "NetworkConfig",
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "properties": {
        "dnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "disableL4LbFirewallReconciliation": {
          "description": "Disable L4 load balancer VPC firewalls to enable firewall policies.",
          "type": "boolean"
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "readOnly": true,
          "type": "string"
        },
        "defaultEnablePrivateNodes": {
          "type": "boolean",
          "description": "Controls whether by default nodes have private IP addresses only. It is invalid to specify both PrivateClusterConfig.enablePrivateNodes and this field at the same time. To update the default setting, use ClusterUpdate.desired_default_enable_private_nodes"
        },
        "datapathProvider": {
          "type": "string",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation."
        },
        "enableCiliumClusterwideNetworkPolicy": {
          "type": "boolean",
          "description": "Whether CiliumClusterwideNetworkPolicy is enabled on this cluster."
        },
        "gatewayApiConfig": {
          "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "privateIpv6GoogleAccess": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ]
        },
        "enableFqdnNetworkPolicy": {
          "type": "boolean",
          "description": "Whether FQDN Network Policy is enabled on this cluster."
        },
        "enableL4ilbSubsetting": {
          "type": "boolean",
          "description": "Whether L4ILB Subsetting is enabled for this cluster."
        },
        "enableMultiNetworking": {
          "type": "boolean",
          "description": "Whether multi-networking is enabled for this cluster."
        },
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        },
        "defaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic."
        },
        "serviceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not."
        },
        "subnetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "networkPerformanceConfig": {
          "$ref": "ClusterNetworkPerformanceConfig",
          "description": "Network bandwidth tier configuration."
        },
        "inTransitEncryptionConfig": {
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ],
          "description": "Specify the details of in-transit encryption. Now named inter-node transparent encryption.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ]
        }
      }
    },
    "HighScaleCheckpointingConfig": {
      "properties": {
        "enabled": {
          "description": "Whether the High Scale Checkpointing is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for the High Scale Checkpointing.",
      "id": "HighScaleCheckpointingConfig"
    },
    "RayClusterMonitoringConfig": {
      "description": "RayClusterMonitoringConfig specifies monitoring configuration for Ray clusters.",
      "id": "RayClusterMonitoringConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable metrics collection for Ray clusters."
        }
      },
      "type": "object"
    },
    "ILBSubsettingConfig": {
      "properties": {
        "enabled": {
          "description": "Enables l4 ILB subsetting for this cluster.",
          "type": "boolean"
        }
      },
      "id": "ILBSubsettingConfig",
      "description": "ILBSubsettingConfig contains the desired config of L4 Internal LoadBalancer subsetting on this cluster.",
      "type": "object"
    },
    "StartIPRotationRequest": {
      "id": "StartIPRotationRequest",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "zone": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP."
    },
    "IPAllocationPolicy": {
      "properties": {
        "servicesIpv6CidrBlock": {
          "description": "Output only. The services IPv6 CIDR block for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "autoIpamConfig": {
          "$ref": "AutoIpamConfig",
          "description": "Optional. AutoIpamConfig contains all information related to Auto IPAM"
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "subnetworkName": {
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork.",
          "type": "string"
        },
        "ipv6AccessType": {
          "description": "The ipv6 access type (internal or external) when create_subnetwork is true",
          "enumDescriptions": [
            "Default value, will be defaulted as type external.",
            "Access type internal (all v6 addresses are internal IPs)",
            "Access type external (all v6 addresses are external IPs)"
          ],
          "enum": [
            "IPV6_ACCESS_TYPE_UNSPECIFIED",
            "INTERNAL",
            "EXTERNAL"
          ],
          "type": "string"
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "networkTierConfig": {
          "description": "Cluster-level network tier configuration is used to determine the default network tier for external IP addresses on cluster resources, such as node pools and load balancers.",
          "$ref": "NetworkTierConfig"
        },
        "clusterIpv4Cidr": {
          "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
          "deprecated": true,
          "type": "string"
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "deprecated": true,
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
        },
        "podCidrOverprovisionConfig": {
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the cluster. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is doubled and then rounded off to next power of 2 to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled.",
          "$ref": "PodCIDROverprovisionConfig"
        },
        "servicesIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "additionalIpRangesConfigs": {
          "description": "Output only. The additional IP ranges that are added to the cluster. These IP ranges can be used by new node pools to allocate node and pod IPs automatically. Each AdditionalIPRangesConfig corresponds to a single subnetwork. Once a range is removed it will not show up in IPAllocationPolicy.",
          "items": {
            "$ref": "AdditionalIPRangesConfig"
          },
          "readOnly": true,
          "type": "array"
        },
        "subnetIpv6CidrBlock": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The subnet's IPv6 CIDR block used by nodes and pods."
        },
        "nodeIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "useIpAliases": {
          "type": "boolean",
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        },
        "additionalPodRangesConfig": {
          "description": "Output only. The additional pod ranges that are added to the cluster. These pod ranges can be used by new node pools to allocate pod IPs automatically. Once the range is removed it will not show up in IPAllocationPolicy.",
          "readOnly": true,
          "$ref": "AdditionalPodRangesConfig"
        },
        "createSubnetwork": {
          "type": "boolean",
          "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true."
        },
        "defaultPodIpv4RangeUtilization": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. The utilization of the cluster default IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode."
        },
        "servicesSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "nodeIpv4Cidr": {
          "deprecated": true,
          "type": "string",
          "description": "This field is deprecated, use node_ipv4_cidr_block."
        },
        "useRoutes": {
          "type": "boolean",
          "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use services_ipv4_cidr_block.",
          "deprecated": true
        },
        "stackType": {
          "description": "The IP stack type of the cluster",
          "type": "string",
          "enumDescriptions": [
            "Default value, will be defaulted as IPV4 only",
            "Cluster is IPV4 only",
            "Cluster can use both IPv4 and IPv6"
          ],
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4",
            "IPV4_IPV6"
          ]
        }
      },
      "type": "object",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "id": "IPAllocationPolicy"
    },
    "HttpLoadBalancing": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers."
        }
      },
      "id": "HttpLoadBalancing",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object"
    },
    "MonitoringConfig": {
      "id": "MonitoringConfig",
      "description": "MonitoringConfig is cluster monitoring configuration.",
      "properties": {
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "ManagedPrometheusConfig"
        },
        "advancedDatapathObservabilityConfig": {
          "$ref": "AdvancedDatapathObservabilityConfig",
          "description": "Configuration of Advanced Datapath Observability features."
        },
        "componentConfig": {
          "description": "Monitoring components configuration",
          "$ref": "MonitoringComponentConfig"
        }
      },
      "type": "object"
    },
    "DnsCacheConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether NodeLocal DNSCache is enabled for this cluster."
        }
      },
      "id": "DnsCacheConfig",
      "description": "Configuration for NodeLocal DNSCache"
    },
    "Fleet": {
      "id": "Fleet",
      "type": "object",
      "description": "Fleet is the fleet configuration for the cluster.",
      "properties": {
        "membership": {
          "description": "Output only. The full resource name of the registered fleet membership of the cluster, in the format `//gkehub.googleapis.com/projects/*/locations/*/memberships/*`.",
          "readOnly": true,
          "type": "string"
        },
        "preRegistered": {
          "description": "Output only. Whether the cluster has been registered through the fleet API.",
          "readOnly": true,
          "type": "boolean"
        },
        "project": {
          "description": "The Fleet host project(project ID or project number) where this cluster will be registered to. This field cannot be changed after the cluster has been registered.",
          "type": "string"
        },
        "membershipType": {
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ],
          "description": "The type of the cluster's fleet membership.",
          "type": "string"
        }
      }
    },
    "IPEndpointsConfig": {
      "description": "IP endpoints configuration.",
      "id": "IPEndpointsConfig",
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's control plane. Only populated if enabled.",
          "type": "string",
          "readOnly": true
        },
        "globalAccess": {
          "type": "boolean",
          "description": "Controls whether the control plane's private endpoint is accessible from sources in other regions. It is invalid to specify both PrivateClusterMasterGlobalAccessConfig.enabled and this field at the same time."
        },
        "privateEndpointSubnetwork": {
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. It is invalid to specify both PrivateClusterConfig.privateEndpointSubnetwork and this field at the same time.",
          "type": "string"
        },
        "enabled": {
          "description": "Controls whether to allow direct IP access.",
          "type": "boolean"
        },
        "enablePublicEndpoint": {
          "description": "Controls whether the control plane allows access through a public IP. It is invalid to specify both PrivateClusterConfig.enablePrivateEndpoint and this field at the same time.",
          "type": "boolean"
        },
        "publicEndpoint": {
          "readOnly": true,
          "description": "Output only. The external IP address of this cluster's control plane. Only populated if enabled.",
          "type": "string"
        },
        "authorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "Configuration of authorized networks. If enabled, restricts access to the control plane based on source IP. It is invalid to specify both Cluster.masterAuthorizedNetworksConfig and this field at the same time."
        }
      }
    },
    "ReleaseChannel": {
      "properties": {
        "channel": {
          "description": "channel specifies which release channel the cluster is subscribed to.",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED"
          ],
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production.",
            "Clusters subscribed to EXTENDED receive extended support and availability for versions which are known to be stable and reliable in production."
          ],
          "type": "string"
        }
      },
      "id": "ReleaseChannel",
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled.",
      "type": "object"
    },
    "ResourceLimit": {
      "properties": {
        "minimum": {
          "type": "string",
          "description": "Minimum amount of the resource in the cluster.",
          "format": "int64"
        },
        "resourceType": {
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string.",
          "type": "string"
        },
        "maximum": {
          "type": "string",
          "description": "Maximum amount of the resource in the cluster.",
          "format": "int64"
        }
      },
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB.",
      "id": "ResourceLimit",
      "type": "object"
    },
    "AuthenticatorGroupsConfig": {
      "description": "Configuration for returning group information from authenticators.",
      "type": "object",
      "properties": {
        "securityGroup": {
          "description": "The name of the security group-of-groups to be used. Only relevant if enabled = true.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups.",
          "type": "boolean"
        }
      },
      "id": "AuthenticatorGroupsConfig"
    },
    "UserManagedKeysConfig": {
      "description": "UserManagedKeysConfig holds the resource address to Keys which are used for signing certs and token that are used for communication within cluster.",
      "properties": {
        "aggregationCa": {
          "type": "string",
          "description": "The Certificate Authority Service caPool to use for the aggregation CA in this cluster."
        },
        "serviceAccountVerificationKeys": {
          "description": "The Cloud KMS cryptoKeyVersions to use for verifying service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccountSigningKeys": {
          "description": "The Cloud KMS cryptoKeyVersions to use for signing service account JWTs issued by this cluster. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{cryptoKey}/cryptoKeyVersions/{cryptoKeyVersion}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "controlPlaneDiskEncryptionKey": {
          "type": "string",
          "description": "The Cloud KMS cryptoKey to use for Confidential Hyperdisk on the control plane nodes."
        },
        "clusterCa": {
          "type": "string",
          "description": "The Certificate Authority Service caPool to use for the cluster CA in this cluster."
        },
        "etcdPeerCa": {
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd peer CA in this cluster.",
          "type": "string"
        },
        "controlPlaneDiskEncryptionKeyVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. All of the versions of the Cloud KMS cryptoKey that are used by Confidential Hyperdisks on the control plane nodes.",
          "items": {
            "type": "string"
          }
        },
        "etcdApiCa": {
          "type": "string",
          "description": "Resource path of the Certificate Authority Service caPool to use for the etcd API CA in this cluster."
        },
        "gkeopsEtcdBackupEncryptionKey": {
          "description": "Resource path of the Cloud KMS cryptoKey to use for encryption of internal etcd backups.",
          "type": "string"
        }
      },
      "id": "UserManagedKeysConfig",
      "type": "object"
    },
    "MeshCertificates": {
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
      "type": "object",
      "properties": {
        "enableCertificates": {
          "type": "boolean",
          "description": "enable_certificates controls issuance of workload mTLS certificates. If set, the GKE Workload Identity Certificates controller and node agent will be deployed in the cluster, which can then be configured by creating a WorkloadCertificateConfig Custom Resource. Requires Workload Identity (workload_pool must be non-empty)."
        }
      },
      "id": "MeshCertificates"
    },
    "NetworkTags": {
      "description": "Collection of Compute Engine network tags that can be applied to a node's underlying VM instance.",
      "type": "object",
      "id": "NetworkTags",
      "properties": {
        "tags": {
          "type": "array",
          "description": "List of network tags.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Autopilot": {
      "description": "Autopilot is the configuration for Autopilot settings on the cluster.",
      "id": "Autopilot",
      "properties": {
        "workloadPolicyConfig": {
          "description": "WorkloadPolicyConfig is the configuration related to GCW workload policy",
          "$ref": "WorkloadPolicyConfig"
        },
        "enabled": {
          "description": "Enable Autopilot",
          "type": "boolean"
        },
        "privilegedAdmissionConfig": {
          "description": "PrivilegedAdmissionConfig is the configuration related to privileged admission control.",
          "$ref": "PrivilegedAdmissionConfig"
        }
      },
      "type": "object"
    },
    "TopologyManager": {
      "description": "TopologyManager defines the configuration options for Topology Manager feature. See https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/",
      "id": "TopologyManager",
      "type": "object",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Configures the strategy for resource alignment. Allowed values are: * none: the default policy, and does not perform any topology alignment. * restricted: the topology manager stores the preferred NUMA node affinity for the container, and will reject the pod if the affinity if not preferred. * best-effort: the topology manager stores the preferred NUMA node affinity for the container. If the affinity is not preferred, the topology manager will admit the pod to the node anyway. * single-numa-node: the topology manager determines if the single NUMA node affinity is possible. If it is, Topology Manager will store this and the Hint Providers can then use this information when making the resource allocation decision. If, however, this is not possible then the Topology Manager will reject the pod from the node. This will result in a pod in a Terminated state with a pod admission failure. The default policy value is 'none' if unspecified. Details about each strategy can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/#topology-manager-policies)."
        },
        "scope": {
          "description": "The Topology Manager aligns resources in following scopes: * container * pod The default scope is 'container' if unspecified. See https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/#topology-manager-scopes",
          "type": "string"
        }
      }
    },
    "PrivilegedAdmissionConfig": {
      "description": "PrivilegedAdmissionConfig stores the list of authorized allowlist paths for the cluster.",
      "type": "object",
      "id": "PrivilegedAdmissionConfig",
      "properties": {
        "allowlistPaths": {
          "items": {
            "type": "string"
          },
          "description": "The customer allowlist Cloud Storage paths for the cluster. These paths are used with the `--autopilot-privileged-admission` flag to authorize privileged workloads in Autopilot clusters. Paths can be GKE-owned, in the format `gke:////`, or customer-owned, in the format `gs:///`. Wildcards (`*`) are supported to authorize all allowlists under specific paths or directories. Example: `gs://my-bucket/*` will authorize all allowlists under the `my-bucket` bucket.",
          "type": "array"
        }
      }
    },
    "AddonsConfig": {
      "type": "object",
      "id": "AddonsConfig",
      "properties": {
        "rayOperatorConfig": {
          "description": "Optional. Configuration for Ray Operator addon.",
          "$ref": "RayOperatorConfig"
        },
        "parallelstoreCsiDriverConfig": {
          "$ref": "ParallelstoreCsiDriverConfig",
          "description": "Configuration for the Cloud Storage Parallelstore CSI driver."
        },
        "configConnectorConfig": {
          "$ref": "ConfigConnectorConfig",
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted Google Cloud services through the Kubernetes API."
        },
        "sliceControllerConfig": {
          "description": "Optional. Configuration for the slice controller add-on.",
          "$ref": "SliceControllerConfig"
        },
        "gcsFuseCsiDriverConfig": {
          "description": "Configuration for the Cloud Storage Fuse CSI driver.",
          "$ref": "GcsFuseCsiDriverConfig"
        },
        "highScaleCheckpointingConfig": {
          "$ref": "HighScaleCheckpointingConfig",
          "description": "Configuration for the High Scale Checkpointing add-on."
        },
        "lustreCsiDriverConfig": {
          "$ref": "LustreCsiDriverConfig",
          "description": "Configuration for the Lustre CSI driver."
        },
        "dnsCacheConfig": {
          "$ref": "DnsCacheConfig",
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes"
        },
        "gcePersistentDiskCsiDriverConfig": {
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver.",
          "$ref": "GcePersistentDiskCsiDriverConfig"
        },
        "gcpFilestoreCsiDriverConfig": {
          "$ref": "GcpFilestoreCsiDriverConfig",
          "description": "Configuration for the Filestore CSI driver."
        },
        "httpLoadBalancing": {
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
          "$ref": "HttpLoadBalancing"
        },
        "cloudRunConfig": {
          "$ref": "CloudRunConfig",
          "description": "Configuration for the Cloud Run addon, which allows the user to use a managed Knative service."
        },
        "horizontalPodAutoscaling": {
          "$ref": "HorizontalPodAutoscaling",
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
        },
        "kubernetesDashboard": {
          "deprecated": true,
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "$ref": "KubernetesDashboard"
        },
        "networkPolicyConfig": {
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
          "$ref": "NetworkPolicyConfig"
        },
        "gkeBackupAgentConfig": {
          "description": "Configuration for the Backup for GKE agent addon.",
          "$ref": "GkeBackupAgentConfig"
        },
        "statefulHaConfig": {
          "$ref": "StatefulHAConfig",
          "description": "Optional. Configuration for the StatefulHA add-on."
        }
      },
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality."
    },
    "ConfidentialNodes": {
      "type": "object",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
      "id": "ConfidentialNodes",
      "properties": {
        "confidentialInstanceType": {
          "type": "string",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "AMD Secure Encrypted Virtualization.",
            "AMD Secure Encrypted Virtualization - Secure Nested Paging.",
            "Intel Trust Domain eXtension."
          ],
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ],
          "description": "Defines the type of technology used by the confidential node."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled."
        }
      }
    },
    "ParallelstoreCsiDriverConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Cloud Storage Parallelstore CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "ParallelstoreCsiDriverConfig",
      "description": "Configuration for the Cloud Storage Parallelstore CSI driver."
    },
    "MaxPodsConstraint": {
      "properties": {
        "maxPodsPerNode": {
          "description": "Constraint enforced on the max num of pods per node.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Constraints applied to pods.",
      "type": "object",
      "id": "MaxPodsConstraint"
    },
    "ResourceLabels": {
      "description": "Collection of [Resource Manager labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels).",
      "id": "ResourceLabels",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of node label keys and node label values.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "ServiceExternalIPsConfig": {
      "id": "ServiceExternalIPsConfig",
      "type": "object",
      "description": "Config to block services with externalIPs field.",
      "properties": {
        "enabled": {
          "description": "Whether Services with ExternalIPs field are allowed or not.",
          "type": "boolean"
        }
      }
    },
    "GPUDriverInstallationConfig": {
      "type": "object",
      "description": "GPUDriverInstallationConfig specifies the version of GPU driver to be auto installed.",
      "id": "GPUDriverInstallationConfig",
      "properties": {
        "gpuDriverVersion": {
          "description": "Mode for how the GPU driver is installed.",
          "enumDescriptions": [
            "Default value is to not install any GPU driver.",
            "Disable GPU driver auto installation and needs manual installation",
            "\"Default\" GPU driver in COS and Ubuntu.",
            "\"Latest\" GPU driver in COS."
          ],
          "enum": [
            "GPU_DRIVER_VERSION_UNSPECIFIED",
            "INSTALLATION_DISABLED",
            "DEFAULT",
            "LATEST"
          ],
          "type": "string"
        }
      }
    },
    "SoleTenantConfig": {
      "description": "SoleTenantConfig contains the NodeAffinities to specify what shared sole tenant node groups should back the node pool.",
      "properties": {
        "nodeAffinities": {
          "items": {
            "$ref": "NodeAffinity"
          },
          "description": "NodeAffinities used to match to a shared sole tenant node group.",
          "type": "array"
        },
        "minNodeCpus": {
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. This field can only be set if the node pool is created in a shared sole-tenant node group.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "SoleTenantConfig"
    },
    "MaintenancePolicy": {
      "type": "object",
      "id": "MaintenancePolicy",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "properties": {
        "disruptionBudget": {
          "$ref": "DisruptionBudget",
          "description": "Optional. The upgrade disruption budget for the cluster control plane."
        },
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        },
        "resourceVersion": {
          "type": "string",
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy."
        }
      }
    },
    "GkeBackupAgentConfig": {
      "properties": {
        "enabled": {
          "description": "Whether the Backup for GKE agent is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the Backup for GKE Agent.",
      "type": "object",
      "id": "GkeBackupAgentConfig"
    },
    "BootDisk": {
      "type": "object",
      "description": "BootDisk specifies the boot disk configuration for nodepools.",
      "id": "BootDisk",
      "properties": {
        "provisionedIops": {
          "format": "int64",
          "type": "string",
          "description": "For Hyperdisk-Balanced only, the provisioned IOPS config value."
        },
        "sizeGb": {
          "format": "int64",
[...]
