{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Contact Center AI Insights API",
  "version_module": true,
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "description": "",
  "canonicalName": "Contactcenterinsights",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "id": "contactcenterinsights:v1",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "updateSettings": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "httpMethod": "PATCH",
              "id": "contactcenterinsights.projects.locations.updateSettings",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "description": "Immutable. The resource name of the settings resource. Format: projects/{project}/locations/{location}/settings",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Updates project-level settings.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              }
            },
            "bulkDeleteFeedbackLabels": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
              },
              "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
              "description": "Delete feedback labels in bulk using a filter.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.bulkDeleteFeedbackLabels",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource for new feedback labels.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDeleteFeedbackLabels",
              "httpMethod": "POST"
            },
            "listAllFeedbackLabels": {
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:listAllFeedbackLabels",
              "description": "List all feedback labels by project number.",
              "id": "contactcenterinsights.projects.locations.listAllFeedbackLabels",
              "parameters": {
                "pageToken": {
                  "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource of all feedback labels per project.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:listAllFeedbackLabels",
              "httpMethod": "GET"
            },
            "queryPerformanceOverview": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryPerformanceOverview",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.queryPerformanceOverview",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource of the conversations to derive performance stats from. \"projects/{project}/locations/{location}\"",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest"
              },
              "path": "v1/{+parent}:queryPerformanceOverview",
              "description": "Generates a summary of predefined performance metrics for a set of conversations. Conversations can be specified by specifying a time window and an agent id, for now. The summary includes a comparison of metrics computed for conversations in the previous time period, and also a comparison with peers in the same time period.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "updateCorrelationConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.updateCorrelationConfig",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Immutable. Identifier. The resource name of the correlation config. Format: projects/{project}/locations/{location}/correlationConfig",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "path": "v1/{+name}",
              "description": "Updates correlation config.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              }
            },
            "queryMetrics": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:queryMetrics",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.queryMetrics",
              "parameters": {
                "location": {
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest"
              },
              "path": "v1/{+location}:queryMetrics",
              "description": "Query metrics.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "diagnoseConversations": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1DiagnoseConversationsRequest"
              },
              "path": "v1/{+parent}:diagnoseConversations",
              "description": "Analyzes conversation data using specialized agentic workflows, such as ReAct, to diagnose issues and provide insights.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:diagnoseConversations",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.diagnoseConversations",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource where the analysis will be performed.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "bulkDownloadFeedbackLabels": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
              },
              "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
              "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkDownloadFeedbackLabels",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.bulkDownloadFeedbackLabels",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource for new feedback labels.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "getSettings": {
              "id": "contactcenterinsights.projects.locations.getSettings",
              "parameters": {
                "name": {
                  "description": "Required. The name of the settings resource to get.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1Settings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets project-level settings."
            },
            "getEncryptionSpec": {
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1EncryptionSpec"
              },
              "path": "v1/{+name}",
              "description": "Gets location-level encryption key specification.",
              "parameterOrder": [
                "name"
              ],
              "id": "contactcenterinsights.projects.locations.getEncryptionSpec",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the encryption spec resource to get.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "httpMethod": "GET"
            },
            "getCorrelationConfig": {
              "response": {
                "$ref": "GoogleCloudContactcenterinsightsV1CorrelationConfig"
              },
              "path": "v1/{+name}",
              "description": "Gets correlation config.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.getCorrelationConfig",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the correlation config resource to get. Format: projects/{project}/locations/{location}/correlationConfig",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/correlationConfig$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/correlationConfig",
              "httpMethod": "GET"
            },
            "generativeInsights": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+location}:generativeInsights",
              "description": "Natural language based Insights which powers the next generation of dashboards in Insights. Next generation of QueryMetrics.",
              "parameterOrder": [
                "location"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.generativeInsights",
              "parameters": {
                "location": {
                  "required": true,
                  "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generativeInsights",
              "httpMethod": "POST"
            },
            "bulkUploadFeedbackLabels": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.bulkUploadFeedbackLabels",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource for new feedback labels.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:bulkUploadFeedbackLabels",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
              },
              "path": "v1/{+parent}:bulkUploadFeedbackLabels",
              "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations."
            },
            "testCorrelationConfig": {
              "parameterOrder": [
                "location"
              ],
              "request": {
                "$ref": "GoogleCloudContactcenterinsightsV1TestCorrelationConfigRequest"
              },
              "path": "v1/{+location}:testCorrelationConfig",
              "description": "Tests correlation config on a conversation.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:testCorrelationConfig",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenterinsights.projects.locations.testCorrelationConfig",
              "parameters": {
                "location": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location to test correlation config. Format: projects/{project}/locations/{location}",
                  "type": "string",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "diagnostics": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/diagnostics",
                  "description": "Lists diagnostics.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDiagnosticsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/diagnostics",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.diagnostics.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the diagnostics.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of diagnostics to return. The service may return fewer than this value. If unspecified, at most 100 diagnostics will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDiagnostics` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list (e.g. `create_time > \"2023-01-01T00:00:00Z\"`).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a diagnostic.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.diagnostics.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the diagnostic to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/diagnostics/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/diagnostics/{diagnosticsId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Diagnostic"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets a diagnostic.",
                  "id": "contactcenterinsights.projects.locations.diagnostics.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/diagnostics/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the diagnostic to retrieve.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/diagnostics/{diagnosticsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "encryptionSpec": {
              "methods": {
                "initialize": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:initialize",
                  "description": "Initializes a location-level encryption key specification. An error will result if the location has resources already created before the initialization. After the encryption specification is initialized at a location, it is immutable and all newly created resources under the location will be encrypted with the existing specification.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.encryptionSpec.initialize",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                      "location": "path",
                      "required": true,
                      "description": "Immutable. The resource name of the encryption key specification resource. Format: projects/{project}/locations/{location}/encryptionSpec",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/encryptionSpec:initialize",
                  "httpMethod": "POST"
                }
              }
            },
            "datasets": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Delete a dataset.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "DELETE",
                  "id": "contactcenterinsights.projects.locations.datasets.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to delete.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets a dataset.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenterinsights.projects.locations.datasets.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the dataset to get.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "GET"
                },
                "list": {
                  "path": "v1/{+parent}/datasets",
                  "description": "List datasets matching the input.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListDatasetsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.datasets.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListDatasetsResponse`; indicates that this is a continuation of a prior `ListDatasets` call and the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the dataset.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of datasets to return in the response. If this value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. A filter to reduce results to a specific subset. Useful for querying datasets with specific properties. Supported fields include, for Q2 though we only support list by project: - `type` - `description` - `project_number`",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.datasets.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the dataset.",
                      "type": "string",
                      "required": true
                    },
                    "datasetId": {
                      "description": "Optional. The ID to use for the dataset.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/datasets",
                  "description": "Creates a dataset.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  }
                },
                "bulkUploadFeedbackLabels": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.datasets.bulkUploadFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource for new feedback labels.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkUploadFeedbackLabels",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequest"
                  },
                  "path": "v1/{+parent}:bulkUploadFeedbackLabels",
                  "description": "Upload feedback labels from an external source in bulk. Currently supports labeling Quality AI example conversations."
                },
                "patch": {
                  "id": "contactcenterinsights.projects.locations.datasets.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1Dataset"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates a dataset."
                },
                "bulkDownloadFeedbackLabels": {
                  "path": "v1/{+parent}:bulkDownloadFeedbackLabels",
                  "description": "Download feedback labels in bulk from an external source. Currently supports exporting Quality AI example conversations with transcripts and question bodies.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDownloadFeedbackLabels",
                  "httpMethod": "POST",
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDownloadFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for new feedback labels.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "bulkDeleteFeedbackLabels": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:bulkDeleteFeedbackLabels",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.datasets.bulkDeleteFeedbackLabels",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for new feedback labels.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}:bulkDeleteFeedbackLabels",
                  "description": "Delete feedback labels in bulk using a filter.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "listAllFeedbackLabels": {
                  "path": "v1/{+parent}:listAllFeedbackLabels",
                  "description": "List all feedback labels by project number.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAllFeedbackLabelsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:listAllFeedbackLabels",
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.datasets.listAllFeedbackLabels",
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter to reduce results to a specific subset in the entire project. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of all feedback labels per project.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAllFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListAllFeedbackLabels` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "insightsdata": {
                  "methods": {
                    "export": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+parent}/insightsdata:export",
                      "description": "Export insights data to a destination defined in the request body.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.insightsdata.export",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource to export data from.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/insightsdata:export",
                      "httpMethod": "POST"
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "bulkDelete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.bulkDelete",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:bulkDelete",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
                      },
                      "path": "v1/{+parent}/conversations:bulkDelete",
                      "description": "Deletes multiple conversations in a single request."
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations",
                      "httpMethod": "GET",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource of the conversation.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of conversations to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                          "location": "query",
                          "type": "integer"
                        },
                        "view": {
                          "description": "The level of details of the conversation. Default is `BASIC`.",
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ]
                        },
                        "filter": {
                          "description": "A filter to reduce results to a specific subset. Useful for querying conversations with specific properties.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. The attribute by which to order conversations in the response. If empty, conversations will be ordered by descending creation time. Supported values are one of the following: * create_time * customer_satisfaction_rating * duration * latest_analysis * start_time * turn_count The default sort order is ascending. To specify order, append `asc` or `desc` (`create_time desc`). For more details, see [Google AIPs Ordering](https://google.aip.dev/132#ordering).",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "The value returned by the last `ListConversationsResponse`. This value indicates that this is a continuation of a prior `ListConversations` call and that the system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/conversations",
                      "description": "Lists conversations.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1ListConversationsResponse"
                      }
                    },
                    "calculateStats": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse"
                      },
                      "path": "v1/{+location}/conversations:calculateStats",
                      "description": "Gets conversation statistics.",
                      "parameterOrder": [
                        "location"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsRequest"
                      },
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.calculateStats",
                      "parameters": {
                        "location": {
                          "required": true,
                          "description": "Required. The location of the conversations.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:calculateStats",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets a conversation.",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "description": "Required. The name of the conversation to get.",
                          "type": "string",
                          "required": true
                        },
                        "view": {
                          "enumDescriptions": [
                            "The conversation view is not specified. * Defaults to `FULL` in `GetConversationRequest`. * Defaults to `BASIC` in `ListConversationsRequest`.",
                            "Populates all fields in the conversation.",
                            "Populates all fields in the conversation except the transcript."
                          ],
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "FULL",
                            "BASIC"
                          ],
                          "location": "query",
                          "description": "The level of details of the conversation. Default is `FULL`.",
                          "type": "string"
                        }
                      }
                    },
                    "generateSignedAudio": {
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.generateSignedAudio",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the conversation to sign.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}:generateSignedAudio",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse"
                      },
                      "path": "v1/{+name}:generateSignedAudio",
                      "description": "Gets the signed URI for the audio for the given conversation.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Deletes a conversation.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the conversation to delete.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$"
                        },
                        "force": {
                          "description": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses.",
                          "location": "query",
                          "type": "boolean"
                        }
                      }
                    },
                    "sample": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.sample",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource of the dataset.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:sample",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+parent}/conversations:sample",
                      "description": "Samples conversations based on user configuration and handles the sampled conversations for different use cases.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest"
                      }
                    },
                    "ingest": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations:ingest",
                      "httpMethod": "POST",
                      "id": "contactcenterinsights.projects.locations.datasets.conversations.ingest",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource for new conversations.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
                      },
                      "path": "v1/{+parent}/conversations:ingest",
                      "description": "Imports conversations and processes them according to the user's configuration.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  },
                  "resources": {
                    "feedbackLabels": {
                      "methods": {
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "httpMethod": "DELETE",
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.delete",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The name of the feedback label to delete.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "description": "Delete feedback label.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "get": {
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the feedback label to get.",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "description": "Get feedback label."
                        },
                        "patch": {
                          "path": "v1/{+name}",
                          "description": "Update feedback label.",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels/{feedbackLabelsId}",
                          "httpMethod": "PATCH",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.patch",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+/feedbackLabels/[^/]+$",
                              "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}",
                              "type": "string",
                              "required": true
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Required. The list of fields to be updated.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/feedbackLabels",
                          "description": "List feedback labels.",
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.list",
                          "parameters": {
                            "filter": {
                              "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Automatically sorts by conversation ID. To sort by all feedback labels in a project see ListAllFeedbackLabels. Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. The parent resource of the feedback labels.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. The maximum number of feedback labels to return in the response. A valid page size ranges from 0 to 100,000 inclusive. If the page size is zero or unspecified, a default page size of 100 will be chosen. Note that a call might return fewer results than the requested page size.",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Optional. The value returned by the last `ListFeedbackLabelsResponse`. This value indicates that this is a continuation of a prior `ListFeedbackLabels` call and that the system should return the next page of data.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        },
                        "create": {
                          "path": "v1/{+parent}/feedbackLabels",
                          "description": "Create feedback label.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "response": {
                            "$ref": "GoogleCloudContactcenterinsightsV1FeedbackLabel"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/conversations/{conversationsId}/feedbackLabels",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "contactcenterinsights.projects.locations.datasets.conversations.feedbackLabels.create",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource of the feedback label.",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/conversations/[^/]+$"
                            },
                            "feedbackLabelId": {
                              "description": "Optional. The ID of the feedback label to create. If one is not specified it will be generated by the server.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "insightsdata": {
              "methods": {
                "export": {
                  "path": "v1/{+parent}/insightsdata:export",
                  "description": "Export insights data to a destination defined in the request body.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsdata:export",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.insightsdata.export",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource to export data from.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                }
              }
            },
            "authorizedViewSets": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.create",
                  "parameters": {
                    "authorizedViewSetId": {
                      "description": "Optional. A unique ID for the new AuthorizedViewSet. This ID will become the final component of the AuthorizedViewSet's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. See https://google.aip.dev/122#resource-id-segments",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the AuthorizedViewSet.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
                  },
                  "path": "v1/{+parent}/authorizedViewSets",
                  "description": "Create AuthorizedViewSet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAuthorizedViewSetsResponse`. This value indicates that this is a continuation of a prior `ListAuthorizedViewSets` call and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The filter expression to filter authorized view sets listed in the response.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. The order by expression to order authorized view sets listed in the response.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the AuthorizedViewSets.",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of view sets to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1ListAuthorizedViewSetsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/authorizedViewSets",
                  "description": "List AuthorizedViewSets"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Get AuthorizedViewSet",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}",
                  "httpMethod": "GET",
                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+$",
                      "description": "Required. The name of the AuthorizedViewSet to get.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the AuthorizedViewSet. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `display_name`",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates an AuthorizedViewSet.",
                  "response": {
                    "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenterinsights.projects.locations.authorizedViewSets.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the AuthorizedViewSet to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+$",
                      "location": "path"
                    },
                    "force": {
                      "description": "Optional. If set to true, all of this AuthorizedViewSet's child resources will also be deleted. Otherwise, the request will only succeed if it has none.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes an AuthorizedViewSet.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              },
              "resources": {
                "authorizedViews": {
                  "methods": {
                    "setIamPolicy": {
                      "response": {
                        "$ref": "GoogleIamV1Policy"
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "GoogleIamV1SetIamPolicyRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.setIamPolicy",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}:setIamPolicy",
                      "httpMethod": "POST"
                    },
                    "queryPerformanceOverview": {
                      "path": "v1/{+parent}:queryPerformanceOverview",
                      "description": "Generates a summary of predefined performance metrics for a set of conversations. Conversations can be specified by specifying a time window and an agent id, for now. The summary includes a comparison of metrics computed for conversations in the previous time period, and also a comparison with peers in the same time period.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QueryPerformanceOverviewRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}:queryPerformanceOverview",
                      "httpMethod": "POST",
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.queryPerformanceOverview",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource of the conversations to derive performance stats from. \"projects/{project}/locations/{location}\"",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "queryMetrics": {
                      "parameterOrder": [
                        "location"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1QueryMetricsRequest"
                      },
                      "path": "v1/{+location}:queryMetrics",
                      "description": "Query metrics.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}:queryMetrics",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.queryMetrics",
                      "parameters": {
                        "location": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
                      },
                      "path": "v1/{+name}",
                      "description": "Updates an AuthorizedView.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
                      },
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.patch",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the AuthorizedView. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}/authorizedViews/{authorized_view}",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to be updated. All possible fields can be updated by passing `*`, or a subset of the following updateable fields can be provided: * `conversation_filter` * `display_name`",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}",
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews",
                      "httpMethod": "POST",
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.create",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource of the AuthorizedView.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+$"
                        },
                        "authorizedViewId": {
                          "description": "Optional. A unique ID for the new AuthorizedView. This ID will become the final component of the AuthorizedView's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. See https://google.aip.dev/122#resource-id-segments",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/authorizedViews",
                      "description": "Create AuthorizedView",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
                      },
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
                      }
                    },
                    "getIamPolicy": {
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.getIamPolicy",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$"
                        },
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}:getIamPolicy",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleIamV1Policy"
                      },
                      "path": "v1/{+resource}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "generativeInsights": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.generativeInsights",
                      "parameters": {
                        "location": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The location of the data. \"projects/{project}/locations/{location}\"",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}:generativeInsights",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "location"
                      ],
                      "request": {
                        "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsRequest"
                      },
                      "path": "v1/{+location}:generativeInsights",
                      "description": "Natural language based Insights which powers the next generation of dashboards in Insights. Next generation of QueryMetrics."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1AuthorizedView"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Get AuthorizedView",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the AuthorizedView to get.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Deletes an AuthorizedView.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.delete",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the AuthorizedView to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}",
                      "httpMethod": "DELETE"
                    },
                    "search": {
                      "response": {
                        "$ref": "GoogleCloudContactcenterinsightsV1SearchAuthorizedViewsResponse"
                      },
                      "path": "v1/{+parent}/authorizedViews:search",
                      "description": "SearchAuthorizedViewSets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.search",
                      "parameters": {
                        "query": {
                          "description": "Optional. The query expression to search authorized views.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The value returned by the last `ListAuthorizedViewsResponse`. This value indicates that this is a continuation of a prior `ListAuthorizedViews` call and that the system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. The order by expression to order authorized views listed in the response.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource of the AuthorizedViews. If the parent is set to `-`, all AuthorizedViews under the location will be returned.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of view to return in the response. If the value is zero, the service will select a default size. A call might return fewer objects than requested. A non-empty `next_page_token` in the response indicates that more data is available.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews:search",
                      "httpMethod": "GET"
                    },
                    "testIamPermissions": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizedViewSets/{authorizedViewSetsId}/authorizedViews/{authorizedViewsId}:testIamPermissions",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "contactcenterinsights.projects.locations.authorizedViewSets.authorizedViews.testIamPermissions",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authorizedViewSets/[^/]+/authorizedViews/[^/]+$",
[...]
