{
  "title": "Contact Center AI Insights API",
  "kind": "discovery#restDescription",
  "id": "contactcenterinsights:v1",
  "revision": "20260401",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "version_module": true,
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1",
  "name": "contactcenterinsights",
  "canonicalName": "Contactcenterinsights",
  "description": "",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse": {
      "properties": {
        "successfulAnalysisCount": {
          "format": "int32",
          "description": "Count of successful analyses.",
          "type": "integer"
        },
        "failedAnalysisCount": {
          "type": "integer",
          "description": "Count of failed analyses.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse",
      "type": "object",
      "description": "The response for a bulk analyze conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsMetadata",
      "type": "object",
      "description": "The metadata for generative insights.",
      "properties": {
        "errorMessages": {
          "type": "array",
          "description": "The error message when the generative insights request fails.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainIssue": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this issue was created."
        },
        "sampleUtterances": {
          "description": "Output only. Resource names of the sample representative utterances that match to this issue.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The representative name for the issue.",
          "type": "string"
        },
        "displayDescription": {
          "description": "Representative description of the issue.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time that this issue was updated."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainIssue",
      "type": "object",
      "description": "The issue resource."
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedView": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the AuthorizedView. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}/authorizedViews/{authorized_view}",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the authorized view was updated.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        },
        "conversationFilter": {
          "description": "A filter to reduce conversation results to a specific subset. The AuthorizedView's assigned permission (read/write) could be applied to the subset of conversations. If conversation_filter is empty, there is no restriction on the conversations that the AuthorizedView can access. Having *authorizedViews.get* access to the AuthorizedView means having the same read/write access to the Conversations (as well as metadata/annotations linked to the conversation) that this AuthorizedView has.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the authorized view was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedView",
      "type": "object",
      "description": "An AuthorizedView represents a view of accessible Insights resources (for example, Conversation and Scorecard). Who have read access to the AuthorizedView resource will have access to these Insight resources as well."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata": {
      "description": "Metadata about the Conversational Agents playbook dimension.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionConversationalAgentsPlaybookDimensionMetadata",
      "type": "object",
      "properties": {
        "playbookDisplayName": {
          "type": "string",
          "description": "Optional. The dialogflow playbook display name."
        },
        "playbookId": {
          "description": "Optional. The dialogflow playbook ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData",
      "type": "object",
      "description": "Agent Assist frequently-asked-question answer data.",
      "properties": {
        "answer": {
          "description": "The piece of text from the `source` knowledge base document.",
          "type": "string"
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.",
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "metadata": {
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        },
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource"
        },
        "createNewModel": {
          "type": "boolean",
          "description": "Optional. If set to true, will create an issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file."
        }
      },
      "description": "Request to import an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SignedAudioUris": {
      "description": "Signed audio URIs for a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1SignedAudioUris",
      "type": "object",
      "properties": {
        "signedGcsAudioUri": {
          "type": "string",
          "description": "The signed URI for the audio from the Cloud Storage conversation source."
        },
        "signedTurnLevelAudios": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
          },
          "type": "array",
          "description": "The signed URI for the audio corresponding to each turn in the conversation."
        },
        "signedDialogflowAudioUri": {
          "description": "The signed URI for the audio from the Dialogflow conversation source.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata": {
      "description": "The metadata for an SampleConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadata",
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsRequest",
          "description": "Output only. The original request for sample conversations to dataset."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial errors during sample conversations operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "type": "array"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "sampleConversationsStats": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1SampleConversationsMetadataSampleConversationsStats",
          "description": "Output only. Statistics for SampleConversations operation."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "properties": {
        "trainingStats": {
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats"
        },
        "state": {
          "description": "Output only. State of the model.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this issue model was created."
        },
        "displayName": {
          "description": "The representative name for the issue model.",
          "type": "string"
        },
        "issueCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of issues in this issue model.",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "readOnly": true,
          "type": "string"
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig"
        },
        "modelType": {
          "description": "Type of the model.",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "type": "string"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        }
      },
      "description": "The issue model resource.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModel",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult": {
      "properties": {
        "p90": {
          "description": "The 90th percentile value.",
          "type": "number",
          "format": "double"
        },
        "p50": {
          "format": "double",
          "type": "number",
          "description": "The 50th percentile value."
        },
        "p99": {
          "format": "double",
          "type": "number",
          "description": "The 99th percentile value."
        }
      },
      "description": "The percentile result. Currently supported percentiles are 50th, 90th, and 99th.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1QueryMetricsResponseSliceDataPointPercentileResult",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel",
      "type": "object",
      "description": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time of the label.",
          "readOnly": true,
          "type": "string"
        },
        "label": {
          "description": "String label used for Topic Modeling.",
          "type": "string"
        },
        "labeledResource": {
          "description": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the label.",
          "format": "google-datetime"
        },
        "qaAnswerLabel": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
          "description": "QaAnswer label used for Quality AI example conversations."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse",
      "type": "object",
      "description": "The response of testing correlation config.",
      "properties": {
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
        },
        "detailedResults": {
          "description": "Results for the DETAILED_SYNC execution mode.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest": {
      "properties": {
        "writeDisposition": {
          "description": "Options for what to do if the destination table already exists.",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties."
        },
        "exportSchemaVersion": {
          "description": "Optional. Version of the export schema.",
          "enumDescriptions": [
            "Unspecified. Defaults to EXPORT_V3.",
            "Export schema version 1.",
            "Export schema version 2.",
            "Export schema version 3.",
            "Export schema version 4.",
            "Export schema version 5.",
            "Export schema version 6.",
            "Export schema version 7.",
            "Export schema version 8.",
            "Export schema version 9.",
            "Export schema version 10.",
            "Export schema version 11.",
            "Export schema version 12.",
            "Export schema version 13.",
            "Export schema version 14.",
            "Export schema version 15.",
            "Export schema version 16.",
            "Export schema version 17.",
            "Export schema version latest available."
          ],
          "enum": [
            "EXPORT_SCHEMA_VERSION_UNSPECIFIED",
            "EXPORT_V1",
            "EXPORT_V2",
            "EXPORT_V3",
            "EXPORT_V4",
            "EXPORT_V5",
            "EXPORT_V6",
            "EXPORT_V7",
            "EXPORT_V8",
            "EXPORT_V9",
            "EXPORT_V10",
            "EXPORT_V11",
            "EXPORT_V12",
            "EXPORT_V13",
            "EXPORT_V14",
            "EXPORT_V15",
            "EXPORT_V16",
            "EXPORT_V17",
            "EXPORT_VERSION_LATEST_AVAILABLE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainExportInsightsDataRequest",
      "type": "object",
      "description": "The request to export insights."
    },
    "GoogleCloudContactcenterinsightsV1mainConversationDataSource": {
      "properties": {
        "gcsSource": {
          "description": "A Cloud Storage location specification for the audio and transcript.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainGcsSource"
        },
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowSource"
        },
        "metadataUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata."
        },
        "turnLevelAudios": {
          "type": "array",
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSourceTurnLevelAudio"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConversationDataSource",
      "type": "object",
      "description": "The conversation source, which is a combination of transcript and audio."
    },
    "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse": {
      "description": "The response from a ListQaQuestions request.",
      "id": "GoogleCloudContactcenterinsightsV1ListQaQuestionsResponse",
      "type": "object",
      "properties": {
        "qaQuestions": {
          "description": "The QaQuestions under the parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1QaQuestion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchData": {
      "properties": {
        "displayName": {
          "description": "The human-readable name of the phrase matcher.",
          "type": "string"
        },
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        }
      },
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "description": "Configs for the input data used to create the issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "type": "object",
      "properties": {
        "medium": {
          "deprecated": true,
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string"
        },
        "trainingConversationsCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of conversations used in training. Output only."
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest",
          "description": "Output only. The original request for ingest."
        },
        "partialErrors": {
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "ingestConversationsStats": {
          "description": "Output only. Statistics for IngestConversations operation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "sampledConversations": {
          "description": "Output only. Stores the conversation resources produced by ingest sampling operations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for an IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse": {
      "properties": {},
      "description": "Response from export issue model",
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionMediumDimensionMetadata",
      "type": "object",
      "description": "Metadata about the conversation medium dimension.",
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput": {
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
      "type": "object",
      "description": "A text output message from the system.",
      "properties": {
        "text": {
          "type": "array",
          "description": "The parts of the message.",
          "items": {
            "type": "string"
          }
        },
        "textType": {
          "type": "string",
          "description": "The type of the text message.",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata",
      "type": "object",
      "description": "The metadata for a bulk analyze conversations operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "completedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have completed successfully so far.",
          "type": "integer"
        },
        "failedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have failed so far."
        },
        "relabel": {
          "description": "Output only. If true, the labeling rules will be re-evaluated for the conversations.",
          "readOnly": true,
          "type": "boolean"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest"
        },
        "partialErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "totalRequestedAnalysesCount": {
          "type": "integer",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats",
      "type": "object",
      "description": "Statistics for IngestConversations operation.",
      "properties": {
        "duplicatesSkippedCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "format": "int32"
        },
        "successfulIngestCount": {
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "failedIngestCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "format": "int32"
        },
        "processedObjectCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of objects processed during the ingest operation.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversation": {
      "description": "The conversation resource.",
      "id": "GoogleCloudContactcenterinsightsV1mainConversation",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the conversation was created.",
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted."
        },
        "qualityMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata",
          "description": "Conversation metadata related to quality management."
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "dialogflowIntents": {
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainDialogflowIntent"
          }
        },
        "agentId": {
          "type": "string",
          "description": "An opaque, user-specified string representing the human agent who handled the conversation."
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "format": "google-duration"
        },
        "callMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCallMetadata",
          "description": "Call-specific metadata."
        },
        "medium": {
          "type": "string",
          "description": "Immutable. The conversation medium.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "type": "string"
        },
        "latestAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnalysis",
          "description": "Output only. The conversation's latest analysis, if one exists."
        },
        "labels": {
          "type": "object",
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "transcript": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationTranscript",
          "description": "Output only. The conversation transcript."
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "correlationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo",
          "description": "Output only. Info for correlating across conversations."
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the conversation started.",
          "format": "google-datetime"
        },
        "runtimeAnnotations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation"
          },
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "readOnly": true,
          "type": "array"
        },
        "metadataJson": {
          "type": "string",
          "description": "Input only. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats."
        },
        "turnCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of turns in the conversation."
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the conversation was updated.",
          "format": "google-datetime"
        },
        "latestSummary": {
          "description": "Output only. Latest summary of the conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "properties": {
        "dialogflowParticipantName": {
          "type": "string",
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role of the participant.",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "dialogflowParticipant": {
          "type": "string",
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "deprecated": true
        }
      },
      "description": "The call participant speaking for a given utterance.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource": {
      "id": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerSource",
      "type": "object",
      "description": "A question may have multiple answers from varying sources, one of which becomes the \"main\" answer above. AnswerSource represents each individual answer.",
      "properties": {
        "sourceType": {
          "description": "What created the answer.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Answer was system-generated; created during an Insights analysis.",
            "Answer was created by a human via manual edit."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED",
            "MANUAL_EDIT"
          ],
          "type": "string"
        },
        "answerValue": {
          "$ref": "GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
          "description": "The answer value from this source. This field is populated by default, unless the question has a selection strategy configured to return multiple answer values, in which case `answer_values` will be populated instead."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse": {
      "properties": {
        "signedAudioUris": {
          "description": "The signed uris for the audio.",
          "$ref": "GoogleCloudContactcenterinsightsV1SignedAudioUris"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GenerateConversationSignedAudioResponse",
      "type": "object",
      "description": "The response from a GenerateConversationSignedAudio request."
    },
    "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError": {
      "description": "An error that occurred during correlation for a specific conversation.",
      "id": "GoogleCloudContactcenterinsightsV1mainTestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError",
      "type": "object",
      "properties": {
        "status": {
          "description": "The error status.",
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "type": "string",
          "description": "The conversation resource name that had an error during correlation."
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata": {
      "properties": {
        "medium": {
          "description": "Optional. The conversation medium. Currently supports : PHONE_CALL, CHAT.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DimensionMediumDimensionMetadata",
      "type": "object",
      "description": "Metadata about the conversation medium dimension."
    },
    "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1QaQuestionTuningMetadata",
      "type": "object",
      "description": "Metadata about the tuning operation for the question. Will only be set if a scorecard containing this question has been tuned.",
      "properties": {
        "totalValidLabelCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of valid labels provided for the question at the time of tuining."
        },
        "datasetValidationWarnings": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified data validation warning.",
              "A non-trivial percentage of the feedback labels are invalid.",
              "The quantity of valid feedback labels provided is less than the recommended minimum.",
              "One or more of the answers have less than the recommended minimum of feedback labels.",
              "All the labels in the dataset come from a single answer choice."
            ],
            "enum": [
              "DATASET_VALIDATION_WARNING_UNSPECIFIED",
              "TOO_MANY_INVALID_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS",
              "INSUFFICIENT_FEEDBACK_LABELS_PER_ANSWER",
              "ALL_FEEDBACK_LABELS_HAVE_THE_SAME_ANSWER"
            ]
          },
          "description": "A list of any applicable data validation warnings about the question's feedback labels.",
          "type": "array"
        },
        "tuningError": {
          "description": "Error status of the tuning operation for the question. Will only be set if the tuning operation failed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Conversation": {
      "description": "The conversation resource.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Conversation",
      "type": "object",
      "properties": {
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Analysis"
        },
        "callMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
          "description": "Call-specific metadata."
        },
        "medium": {
          "type": "string",
          "description": "Immutable. The conversation medium.",
          "enumDescriptions": [
            "Default value for unspecified.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        },
        "duration": {
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "type": "string"
        },
        "agentId": {
          "type": "string",
          "description": "An opaque, user-specified string representing the human agent who handled the conversation."
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "dialogflowIntents": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}"
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the conversation was created.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string"
        },
        "latestSummary": {
          "description": "Output only. Latest summary of the conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData"
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the conversation was updated."
        },
        "metadataJson": {
          "type": "string",
          "description": "Input only. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats."
        },
        "turnCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of turns in the conversation."
        },
        "startTime": {
          "description": "The time at which the conversation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "runtimeAnnotations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation"
          },
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "readOnly": true,
          "type": "array"
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "correlationInfo": {
          "description": "Output only. Info for correlating across conversations.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationInfo"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry."
        },
        "transcript": {
          "description": "Output only. The conversation transcript.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "properties": {
        "maxDownloadCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded."
        },
        "sheetsDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestSheetsDestination",
          "description": "A sheets document destination."
        },
        "templateQaScorecardId": {
          "type": "array",
          "description": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored.",
          "items": {
            "type": "string"
          }
        },
        "conversationFilter": {
          "type": "string",
          "description": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
        },
        "gcsDestination": {
          "description": "A cloud storage bucket destination.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequestGcsDestination"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new feedback labels."
        },
        "feedbackLabelType": {
          "description": "Optional. The type of feedback labels that will be downloaded.",
          "enumDescriptions": [
            "Unspecified format",
            "Downloaded file will contain all Quality AI labels from the latest scorecard revision.",
            "Downloaded file will contain only Topic Modeling labels.",
            "Agent Assist Summarization labels."
          ],
          "enum": [
            "FEEDBACK_LABEL_TYPE_UNSPECIFIED",
            "QUALITY_AI",
            "TOPIC_MODELING",
            "AGENT_ASSIST_SUMMARY"
          ],
          "type": "string"
        }
      },
      "description": "Request for the BulkDownloadFeedbackLabel endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnswerFeedback": {
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1AnswerFeedback",
      "type": "object",
      "properties": {
        "correctnessLevel": {
          "type": "string",
          "description": "The correctness level of an answer.",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ]
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata": {
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainExportIssueModelRequest",
          "description": "The original export request."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        }
      },
      "description": "Metadata used for export issue model.",
      "id": "GoogleCloudContactcenterinsightsV1mainExportIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainCallAnnotation": {
      "properties": {
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSilenceData"
        },
        "interruptionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainInterruptionData",
          "description": "Data specifying an interruption."
        },
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainHoldData"
        },
        "entityMentionData": {
          "description": "Data specifying an entity mention.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainEntityMentionData"
        },
        "phraseMatchData": {
          "description": "Data specifying a phrase match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainPhraseMatchData"
        },
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32"
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainAnnotationBoundary"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainSentimentData"
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainIssueMatchData"
        },
        "intentMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainIntentMatchData",
          "description": "Data specifying an intent match."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainCallAnnotation",
      "type": "object",
      "description": "A piece of metadata that applies to a window of a call."
    },
    "GoogleCloudContactcenterinsightsV1mainIntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1mainIntentMatchData",
      "type": "object",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig": {
      "description": "Configuration for summarization.",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig",
      "type": "object",
      "properties": {
        "conversationProfile": {
          "type": "string",
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}"
        },
        "generator": {
          "description": "The resource name of the existing created generator. Format: projects//locations//generators/",
          "type": "string"
        },
        "summarizationModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The CCAI baseline model. This model is deprecated and will be removed in the future. We recommend using `generator` instead.",
            "The CCAI baseline model, V2.0. This model is deprecated and will be removed in the future. We recommend using `generator` instead."
          ],
          "enumDeprecated": [
            false,
            true,
            true
          ],
          "description": "Default summarization model to be used.",
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL",
            "BASELINE_MODEL_V2_0"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsToolDimensionMetadata": {
      "properties": {
        "toolId": {
          "type": "string",
          "description": "Optional. The dialogflow tool ID."
        },
        "toolDisplayName": {
          "type": "string",
          "description": "Optional. The dialogflow tool display name."
        }
      },
      "description": "Metadata about the Conversational Agents tool dimension.",
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionConversationalAgentsToolDimensionMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowInteractionData": {
      "id": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
      "type": "object",
      "description": "Dialogflow interaction data.",
      "properties": {
        "dialogflowIntentId": {
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListChartsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The value returned by the last `ListChartsResponse`. This value indicates that this is a continuation of a prior `ListCharts` call and that the system should return the next page of data.",
          "type": "string"
        },
        "charts": {
          "type": "array",
          "description": "The charts under the parent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Chart"
          }
        }
      },
      "description": "The response of listing charts.",
      "id": "GoogleCloudContactcenterinsightsV1ListChartsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModel": {
      "properties": {
        "trainingStats": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
          "description": "Output only. Immutable. The issue model's label statistics on its training data."
        },
        "state": {
          "description": "Output only. State of the model.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this issue model was created.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "issueCount": {
          "description": "Output only. Number of issues in this issue model.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "format": "google-datetime"
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig"
        },
        "modelType": {
          "type": "string",
          "description": "Type of the model.",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ]
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        }
      },
      "description": "The issue model resource.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsResponse",
      "type": "object",
      "description": "The response for a bulk delete conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1mainSilenceData": {
      "description": "The data for a silence annotation.",
      "id": "GoogleCloudContactcenterinsightsV1mainSilenceData",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1ConversationDataSource": {
      "properties": {
        "dialogflowSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1DialogflowSource",
          "description": "The source when the conversation comes from Dialogflow."
        },
        "metadataUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata."
        },
        "turnLevelAudios": {
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
          }
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1GcsSource",
          "description": "A Cloud Storage location specification for the audio and transcript."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationDataSource",
      "type": "object",
      "description": "The conversation source, which is a combination of transcript and audio."
    },
    "GoogleCloudContactcenterinsightsV1ListIssuesResponse": {
      "description": "The response of listing issues.",
      "id": "GoogleCloudContactcenterinsightsV1ListIssuesResponse",
      "type": "object",
      "properties": {
        "issues": {
          "description": "The issues that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Issue"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata": {
      "description": "Metadata for initializing a location-level encryption specification.",
      "id": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "request": {
          "description": "Output only. The original request for initialization.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest"
        },
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during initializing operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AuthorizedViewSet": {
      "properties": {
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Display Name. Limit 64 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the AuthorizedViewSet. Format: projects/{project}/locations/{location}/authorizedViewSets/{authorized_view_set}"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AuthorizedViewSet",
      "type": "object",
      "description": "An AuthorizedViewSet contains a set of AuthorizedView resources."
    },
    "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1QueryMetricsMetadata",
      "type": "object",
      "description": "The metadata from querying metrics.",
      "properties": {
        "resultIsTruncated": {
          "description": "Whether the result rows were truncated because the result row size is too large to materialize.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest": {
      "id": "GoogleCloudContactcenterinsightsV1FinalizeAssessmentRequest",
      "type": "object",
      "description": "The message to finalize an assessment. Finalizing makes an assessment and its notes immutable.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource": {
      "id": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource",
      "type": "object",
      "description": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores.",
      "properties": {
        "normalizedScore": {
          "description": "The normalized score, which is the score divided by the potential score.",
          "type": "number",
          "format": "double"
        },
        "sourceType": {
          "description": "What created the score.",
          "enumDescriptions": [
            "Source type is unspecified.",
            "Score is derived only from system-generated answers.",
            "Score is derived from both system-generated answers, and includes any manual edits if they exist."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "SYSTEM_GENERATED_ONLY",
            "INCLUDES_MANUAL_EDITS"
          ],
          "type": "string"
        },
        "score": {
          "description": "The overall numerical score of the result.",
          "type": "number",
          "format": "double"
        },
        "qaTagResults": {
          "type": "array",
          "description": "Collection of tags and their scores.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult"
          }
        },
        "potentialScore": {
          "type": "number",
          "description": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation.",
          "format": "double"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "properties": {
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1]."
        }
      },
      "description": "Information about the issue.",
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint": {
      "description": "A data point contains the metric values mapped to an interval.",
      "id": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPoint",
      "type": "object",
      "properties": {
        "conversationMeasure": {
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointConversationMeasure",
          "description": "The measure related to conversations."
        },
        "interval": {
          "description": "The interval that this data point represents. * If this is the total data point, the interval is [starting create time, ending create time) from the request. * If this a data point from the time series, the interval is [time, time + time granularity from the request).",
          "$ref": "GoogleTypeInterval"
        },
        "dialogflowInteractionMeasure": {
          "description": "The measure related to dialogflow interactions.",
          "$ref": "GoogleCloudContactcenterinsightsV1mainQueryMetricsResponseSliceDataPointDialogflowInteractionMeasure"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1InitializeEncryptionSpecResponse",
      "type": "object",
      "description": "The response to initialize a location-level encryption specification."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "properties": {
        "exactMatchConfig": {
          "description": "The configuration for the exact match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig"
        },
        "regexMatchConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1RegexMatchConfig",
          "description": "The configuration for the regex match rule."
        }
      },
      "description": "Configuration information of a phrase match rule.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse": {
      "properties": {},
      "description": "The response to an IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata": {
      "properties": {
        "sentimentCategory": {
          "description": "Optional. The client sentiment category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DimensionClientSentimentCategoryDimensionMetadata",
      "type": "object",
      "description": "Metadata about the client sentiment category dimension."
    },
    "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionDimensionMetadata": {
      "properties": {
        "qaScorecardId": {
          "type": "string",
          "description": "Optional. The QA scorecard ID."
        },
        "questionBody": {
          "description": "Optional. The full body of the question.",
          "type": "string"
        },
        "qaQuestionId": {
          "description": "Optional. The QA question ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainDimensionQaQuestionDimensionMetadata",
      "type": "object",
      "description": "Metadata about the QA question dimension."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData": {
      "description": "Conversation summarization suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
      "type": "object",
      "properties": {
        "text": {
          "description": "The summarization content that is concatenated into one string.",
          "type": "string"
        },
        "answerRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "conversationModel": {
          "type": "string",
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}"
        },
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value."
        },
        "confidence": {
          "format": "float",
          "description": "The confidence score of the summarization.",
          "type": "number"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that contains metadata about the summarization and the document from which it originates.",
          "type": "object"
        },
        "generatorId": {
          "description": "Agent Assist generator ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest": {
      "description": "The request to analyze conversations in bulk.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
      "type": "object",
      "properties": {
        "relabel": {
          "type": "boolean",
          "description": "Optional. If true, the labeling rules will be re-evaluated for the conversations."
        },
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "analysisPercentage": {
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "type": "number",
          "format": "float"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata",
      "type": "object",
      "description": "The metadata for an `UploadConversation` operation.",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "analysisOperation": {
          "description": "Output only. The operation name for a successfully created analysis operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "appliedRedactionConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "description": "Output only. The redaction config applied to the uploaded conversation."
        },
        "request": {
          "description": "Output only. The original request.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment": {
      "properties": {
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "format": "double"
        },
        "displayName": {
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analysis and immutable since then.",
          "type": "string"
        }
      },
      "description": "Information about the issue.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Chart": {
      "description": "Configurable dashboard's widget that displays data as a chart.",
      "id": "GoogleCloudContactcenterinsightsV1Chart",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Filter applied to all charts in the container. Should support scope later.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Chart resource name. Format: projects/{project}/locations/{location}/dashboards/{dashboard}/charts/{chart}"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Chart create time.",
          "readOnly": true,
          "type": "string"
        },
        "dateRangeConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1DateRangeConfig",
          "description": "Date range config applied to the chart."
        },
        "width": {
          "description": "The width of the chart in grid units.",
          "type": "integer",
          "format": "int32"
        },
        "chartVisualizationType": {
          "type": "string",
          "description": "Chart visualization type.",
          "enumDescriptions": [
            "Unspecified chart visualization type.",
            "Bar chart.",
            "Line chart.",
            "Area chart.",
            "Pie chart.",
            "Scatter chart.",
            "Table chart.",
            "Score card chart.",
            "Sunburst chart.",
            "Gauge chart.",
            "Sankey chart."
          ],
          "enum": [
            "CHART_VISUALIZATION_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "PIE",
            "SCATTER",
            "TABLE",
            "SCORE_CARD",
            "SUNBURST",
            "GAUGE",
            "SANKEY"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the chart."
        },
        "chartType": {
          "enumDescriptions": [
            "Unspecified chart type.",
            "Pre-defined chart type.",
            "Configurable chart type."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Chart type.",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "SYSTEM_DEFINED",
            "USER_DEFINED"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Chart last update time.",
          "readOnly": true,
          "type": "string"
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ChartDataSource"
        },
        "action": {
          "description": "Optional action to be taken when the chart is clicked.",
          "$ref": "GoogleCloudContactcenterinsightsV1ChartAction"
        },
        "height": {
          "type": "integer",
          "description": "The height of the chart in grid units.",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "Chart description"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse": {
      "properties": {
        "generativeResponses": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse"
          },
          "description": "The full list of generative responses. Each response is ordered by time.",
          "type": "array"
        },
        "transcript": {
          "$ref": "GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscript",
          "description": "The transcript of the generative insights conversation."
        }
      },
      "description": "The response for generative insights.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessageTextOutput": {
      "description": "A text output message from the system.",
      "id": "GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageSystemMessageTextOutput",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the text message.",
          "enumDescriptions": [
            "The default text type.",
            "The text is a thinking plan generated by the thinking tool.",
            "The text is a final response to the user question.",
            "The text is an informational message about the agent's progress, such as a tool being invoked. This is distinct from the agent's internal thought process (`THOUGHT`) and the final answer to the user (`FINAL_RESPONSE`). These messages provide insight into the agent's actions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "THOUGHT",
            "FINAL_RESPONSE",
            "PROGRESS"
          ]
        },
        "texts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The parts of the message."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse": {
      "properties": {
        "chartSpec": {
          "type": "object",
          "description": "The chart spec for the data. This will be specified in the vega-lite or vega format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textOutput": {
          "type": "string",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response.",
          "deprecated": true
        },
        "textMessage": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponseTextOutput",
          "description": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
        },
        "generatedSqlQuery": {
          "type": "string",
          "description": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource."
        }
      },
      "description": "Wrapper for storing the generative response for a chart.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GenerativeInsightsResponseGenerativeResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource": {
      "id": "GoogleCloudContactcenterinsightsV1BulkUploadFeedbackLabelsRequestSheetsSource",
      "type": "object",
      "description": "Google Sheets document details to get the feedback label file from.",
      "properties": {
        "spreadsheetUri": {
          "description": "Required. The Google Sheets document to write the feedback labels to. Retrieved from Google Sheets URI. E.g. `https://docs.google.com/spreadsheets/d/1234567890` The spreadsheet must be shared with the Insights P4SA.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainSmartReplyData": {
      "description": "Agent Assist Smart Reply data.",
      "id": "GoogleCloudContactcenterinsightsV1mainSmartReplyData",
      "type": "object",
      "properties": {
        "confidenceScore": {
          "format": "double",
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "reply": {
          "type": "string",
          "description": "The content of the reply."
        },
        "metadata": {
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata",
      "type": "object",
      "description": "Conversation metadata related to quality management.",
      "properties": {
        "feedbackLabels": {
          "description": "Input only. The feedback labels associated with the conversation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainFeedbackLabel"
          }
        },
        "customerSatisfactionRating": {
          "description": "An arbitrary integer value indicating the customer's satisfaction rating.",
          "type": "integer",
          "format": "int32"
        },
        "waitDuration": {
          "description": "The amount of time the customer waited to connect with an agent.",
          "type": "string",
          "format": "google-duration"
        },
        "menuPath": {
          "description": "An arbitrary string value specifying the menu path the customer took.",
          "type": "string"
        },
        "agentInfo": {
          "type": "array",
          "description": "Information about agents involved in the call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1mainConversationQualityMetadataAgentInfo"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsResponse",
      "type": "object",
      "description": "The response for a bulk delete conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
      "type": "object",
      "description": "The conversation source, which is a combination of transcript and audio.",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
          "description": "A Cloud Storage location specification for the audio and transcript."
        },
        "dialogflowSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
          "description": "The source when the conversation comes from Dialogflow."
        },
        "metadataUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation metadata.",
          "type": "string"
        },
        "turnLevelAudios": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio"
          },
          "type": "array",
          "description": "Cloud Storage URIs that points to files that contain the conversation audio for each turn. Assume the order of the URIs is the same as the order of the transcript turns."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue": {
      "description": "Message for holding the value of a QaAnswer. QaQuestion.AnswerChoice defines the possible answer values for a question.",
      "id": "GoogleCloudContactcenterinsightsV1mainQaAnswerAnswerValue",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "A short string used as an identifier. Matches the value used in QaQuestion.AnswerChoice.key."
        },
        "normalizedScore": {
          "format": "double",
          "description": "Output only. Normalized score of the questions. Calculated as score / potential_score.",
          "readOnly": true,
          "type": "number"
        },
        "score": {
          "description": "Output only. Numerical score of the answer.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        },
        "naValue": {
          "description": "A value of \"Not Applicable (N/A)\". Should only ever be `true`.",
          "type": "boolean"
        },
        "numValue": {
          "type": "number",
          "description": "Numerical value.",
          "format": "double"
        },
        "skipValue": {
          "description": "Output only. A value of \"Skip\". If provided, this field may only be set to `true`. If a question receives this answer, it will be excluded from any score calculations. This would mean that the question was not evaluated.",
          "readOnly": true,
          "type": "boolean"
        },
        "strValue": {
          "type": "string",
          "description": "String value."
        },
        "potentialScore": {
          "format": "double",
          "description": "Output only. The maximum potential score of the question.",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SpeechConfig": {
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1SpeechConfig",
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "type": "string",
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`"
        },
        "disableWordTimeOffsets": {
          "description": "Whether to disable word time offsets. If true, the `enable_word_time_offsets` field in the recognition config will be set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult": {
      "properties": {
        "constraintMet": {
          "type": "boolean",
          "description": "Whether the constraint expression evaluated to true for (A, B) or (B, A)."
        },
        "ruleId": {
          "type": "string",
          "description": "The rule ID."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error status if the constraint expression failed to evaluate."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1mainConstraintEvaluationResultRuleConstraintResult",
      "type": "object",
      "description": "The result of a single constraint rule on the pair of conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult": {
      "description": "The result of testing correlation config on a single conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCorrelationResult",
      "type": "object",
      "properties": {
        "conversation": {
          "description": "The conversation resource name.",
          "type": "string"
        },
        "ruleResults": {
[...]
