{
  "discoveryVersion": "v1",
  "version": "v1",
  "canonicalName": "Container",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "schemas": {
    "NodeKubeletConfig": {
      "type": "object",
      "id": "NodeKubeletConfig",
      "description": "Node kubelet configs.",
      "properties": {
        "imageMinimumGcAge": {
          "description": "Optional. Defines the minimum age for an unused image before it is garbage collected. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300s\", \"1.5h\", and \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration less than or equal to 2 minutes. The default value is \"2m0s\" if unspecified.",
          "type": "string"
        },
        "maxParallelImagePulls": {
          "description": "Optional. Defines the maximum number of image pulls in parallel. The range is 2 to 5, inclusive. The default value is 2 or 3 depending on the disk type. See https://kubernetes.io/docs/concepts/containers/images/#maximum-parallel-image-pulls for more details.",
          "type": "integer",
          "format": "int32"
        },
        "shutdownGracePeriodCriticalPodsSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. shutdown_grace_period_critical_pods_seconds is the maximum allowed grace period (in seconds) used to terminate critical pods during a node shutdown. This value should be <= shutdown_grace_period_seconds, and is only valid if shutdown_grace_period_seconds is set. https://kubernetes.io/docs/concepts/cluster-administration/node-shutdown/ Range: [0, 120]."
        },
        "insecureKubeletReadonlyPortEnabled": {
          "type": "boolean",
          "description": "Enable or disable Kubelet read only port."
        },
        "shutdownGracePeriodSeconds": {
          "description": "Optional. shutdown_grace_period_seconds is the maximum allowed grace period (in seconds) the total duration that the node should delay the shutdown during a graceful shutdown. This is the total grace period for pod termination for both regular and critical pods. https://kubernetes.io/docs/concepts/cluster-administration/node-shutdown/ If set to 0, node will not enable the graceful node shutdown functionality. This field is only valid for Spot VMs. Allowed values: 0, 30, 120.",
          "type": "integer",
          "format": "int32"
        },
        "topologyManager": {
          "description": "Optional. Controls Topology Manager configuration on the node. For more information, see: https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/",
          "$ref": "TopologyManager"
        },
        "memoryManager": {
          "description": "Optional. Controls NUMA-aware Memory Manager configuration on the node. For more information, see: https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/",
          "$ref": "MemoryManager"
        },
        "evictionMinimumReclaim": {
          "description": "Optional. eviction_minimum_reclaim is a map of signal names to quantities that defines minimum reclaims, which describe the minimum amount of a given resource the kubelet will reclaim when performing a pod eviction while that resource is under pressure.",
          "$ref": "EvictionMinimumReclaim"
        },
        "crashLoopBackOff": {
          "description": "Optional. Contains configuration options to modify node-level parameters for container restart behavior.",
          "$ref": "CrashLoopBackOffConfig"
        },
        "cpuManagerPolicy": {
          "type": "string",
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. * \"none\": the default, which represents the existing scheduling behavior. * \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified."
        },
        "containerLogMaxSize": {
          "description": "Optional. Defines the maximum size of the container log file before it is rotated. See https://kubernetes.io/docs/concepts/cluster-administration/logging/#log-rotation Valid format is positive number + unit, e.g. 100Ki, 10Mi. Valid units are Ki, Mi, Gi. The value must be between 10Mi and 500Mi, inclusive. Note that the total container log size (container_log_max_size * container_log_max_files) cannot exceed 1% of the total storage of the node, to avoid disk pressure caused by log files. The default value is 10Mi if unspecified.",
          "type": "string"
        },
        "podPidsLimit": {
          "type": "string",
          "format": "int64",
          "description": "Set the Pod PID limits. See https://kubernetes.io/docs/concepts/policy/pid-limiting/#pod-pid-limits Controls the maximum number of processes allowed to run in a pod. The value must be greater than or equal to 1024 and less than 4194304."
        },
        "evictionSoftGracePeriod": {
          "description": "Optional. eviction_soft_grace_period is a map of signal names to quantities that defines grace periods for each soft eviction signal. The grace period is the amount of time that a pod must be under pressure before an eviction occurs.",
          "$ref": "EvictionGracePeriod"
        },
        "containerLogMaxFiles": {
          "description": "Optional. Defines the maximum number of container log files that can be present for a container. See https://kubernetes.io/docs/concepts/cluster-administration/logging/#log-rotation The value must be an integer between 2 and 10, inclusive. The default value is 5 if unspecified.",
          "format": "int32",
          "type": "integer"
        },
        "imageMaximumGcAge": {
          "type": "string",
          "description": "Optional. Defines the maximum age an image can be unused before it is garbage collected. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300s\", \"1.5h\", and \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration greater than image_minimum_gc_age or \"0s\". The default value is \"0s\" if unspecified, which disables this field, meaning images won't be garbage collected based on being unused for too long."
        },
        "singleProcessOomKill": {
          "description": "Optional. Defines whether to enable single process OOM killer. If true, will prevent the memory.oom.group flag from being set for container cgroups in cgroups v2. This causes processes in the container to be OOM killed individually instead of as a group.",
          "type": "boolean"
        },
        "evictionMaxPodGracePeriodSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. eviction_max_pod_grace_period_seconds is the maximum allowed grace period (in seconds) to use when terminating pods in response to a soft eviction threshold being met. This value effectively caps the Pod's terminationGracePeriodSeconds value during soft evictions. Default: 0. Range: [0, 300]."
        },
        "cpuCfsQuota": {
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified.",
          "type": "boolean"
        },
        "evictionSoft": {
          "description": "Optional. eviction_soft is a map of signal names to quantities that defines soft eviction thresholds. Each signal is compared to its corresponding threshold to determine if a pod eviction should occur.",
          "$ref": "EvictionSignals"
        },
        "cpuCfsQuotaPeriod": {
          "type": "string",
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration between 1ms and 1 second, inclusive."
        },
        "imageGcHighThresholdPercent": {
          "description": "Optional. Defines the percent of disk usage after which image garbage collection is always run. The percent is calculated as this field value out of 100. The value must be between 10 and 85, inclusive and greater than image_gc_low_threshold_percent. The default value is 85 if unspecified.",
          "type": "integer",
          "format": "int32"
        },
        "allowedUnsafeSysctls": {
          "type": "array",
          "description": "Optional. Defines a comma-separated allowlist of unsafe sysctls or sysctl patterns (ending in `*`). The unsafe namespaced sysctl groups are `kernel.shm*`, `kernel.msg*`, `kernel.sem`, `fs.mqueue.*`, and `net.*`. Leaving this allowlist empty means they cannot be set on Pods. To allow certain sysctls or sysctl patterns to be set on Pods, list them separated by commas. For example: `kernel.msg*,net.ipv4.route.min_pmtu`. See https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/ for more details.",
          "items": {
            "type": "string"
          }
        },
        "imageGcLowThresholdPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Defines the percent of disk usage before which image garbage collection is never run. Lowest disk usage to garbage collect to. The percent is calculated as this field value out of 100. The value must be between 10 and 85, inclusive and smaller than image_gc_high_threshold_percent. The default value is 80 if unspecified."
        }
      }
    },
    "RayOperatorConfig": {
      "description": "Configuration options for the Ray Operator add-on.",
      "properties": {
        "rayClusterMonitoringConfig": {
          "description": "Optional. Monitoring configuration for Ray clusters.",
          "$ref": "RayClusterMonitoringConfig"
        },
        "rayClusterLoggingConfig": {
          "description": "Optional. Logging configuration for Ray clusters.",
          "$ref": "RayClusterLoggingConfig"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the Ray Operator addon is enabled for this cluster."
        }
      },
      "id": "RayOperatorConfig",
      "type": "object"
    },
    "SetLegacyAbacRequest": {
      "id": "SetLegacyAbacRequest",
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether ABAC authorization will be enabled in the cluster."
        }
      },
      "type": "object"
    },
    "StartIPRotationRequest": {
      "type": "object",
      "id": "StartIPRotationRequest",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      }
    },
    "ResourceUsageExportConfig": {
      "id": "ResourceUsageExportConfig",
      "description": "Configuration for exporting cluster resource usages.",
      "properties": {
        "enableNetworkEgressMetering": {
          "type": "boolean",
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic."
        },
        "consumptionMeteringConfig": {
          "description": "Configuration to enable resource consumption metering.",
          "$ref": "ConsumptionMeteringConfig"
        },
        "bigqueryDestination": {
          "description": "Configuration to use BigQuery as usage export destination.",
          "$ref": "BigQueryDestination"
        }
      },
      "type": "object"
    },
    "NetworkPerformanceConfig": {
      "description": "Configuration of all network bandwidth tiers",
      "properties": {
        "totalEgressBandwidthTier": {
          "description": "Specifies the total network bandwidth tier for the NodePool.",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ],
          "type": "string"
        }
      },
      "id": "NetworkPerformanceConfig",
      "type": "object"
    },
    "ClusterUpgradeInfo": {
      "type": "object",
      "description": "ClusterUpgradeInfo contains the upgrade information of a cluster.",
      "properties": {
        "autoUpgradeStatus": {
          "description": "The auto upgrade status.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ]
          },
          "type": "array"
        },
        "upgradeDetails": {
          "description": "The list of past auto upgrades.",
          "items": {
            "$ref": "UpgradeDetails"
          },
          "type": "array"
        },
        "minorTargetVersion": {
          "description": "minor_target_version indicates the target version for minor upgrade.",
          "type": "string"
        },
        "patchTargetVersion": {
          "type": "string",
          "description": "patch_target_version indicates the target version for patch upgrade."
        },
        "endOfExtendedSupportTimestamp": {
          "description": "The cluster's current minor version's end of extended support timestamp.",
          "type": "string"
        },
        "pausedReason": {
          "description": "The auto upgrade paused reason.",
          "items": {
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "CLUSTER_DISRUPTION_BUDGET",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE",
              "SYSTEM_CONFIG"
            ],
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "CLUSTER_DISRUPTION_BUDGET indicates the cluster is outside the cluster disruption budget.",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE indicates the cluster is outside the cluster disruption budget for minor version upgrade.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The cluster's current minor version's end of standard support timestamp."
        }
      },
      "id": "ClusterUpgradeInfo"
    },
    "BootDiskProfile": {
      "type": "object",
      "id": "BootDiskProfile",
      "description": "Swap on the node's boot disk.",
      "properties": {
        "swapSizeGib": {
          "description": "Specifies the size of the swap space in gibibytes (GiB).",
          "type": "string",
          "format": "int64"
        },
        "swapSizePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of the swap space as a percentage of the boot disk size."
        }
      }
    },
    "MemoryManager": {
      "type": "object",
      "id": "MemoryManager",
      "description": "The option enables the Kubernetes NUMA-aware Memory Manager feature. Detailed description about the feature can be found [here](https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/).",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Controls the memory management policy on the Node. See https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/#policies The following values are allowed. * \"none\" * \"static\" The default value is 'none' if unspecified."
        }
      }
    },
    "NodeNetworkConfig": {
      "id": "NodeNetworkConfig",
      "description": "Parameters for node pool-level network config.",
      "properties": {
        "podRange": {
          "type": "string",
          "description": "The ID of the secondary range for pod IPs. If `create_pod_range` is true, this ID is used for the new range. If `create_pod_range` is false, uses an existing secondary range with this ID. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "podCidrOverprovisionConfig": {
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the node pool. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is rounded off to next power of 2 and we then double that to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled.",
          "$ref": "PodCIDROverprovisionConfig"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The subnetwork name/path for the node pool. Format: projects/{project}/regions/{region}/subnetworks/{subnetwork} If the cluster is associated with multiple subnetworks, the subnetwork can be either: - A user supplied subnetwork name during node pool creation (e.g., `my-subnet`). The name must be between 1 and 63 characters long, start with a letter, contain only letters, numbers, and hyphens, and end with a letter or a number. - A full subnetwork path during node pool creation, such as `projects/gke-project/regions/us-central1/subnetworks/my-subnet` - A subnetwork path picked based on the IP utilization during node pool creation and is immutable."
        },
        "enablePrivateNodes": {
          "description": "Whether nodes have internal IP addresses only. If enable_private_nodes is not specified, then the value is derived from Cluster.NetworkConfig.default_enable_private_nodes",
          "type": "boolean"
        },
        "networkTierConfig": {
          "description": "Output only. The network tier configuration for the node pool inherits from the cluster-level configuration and remains immutable throughout the node pool's lifecycle, including during upgrades.",
          "readOnly": true,
          "$ref": "NetworkTierConfig"
        },
        "additionalPodNetworkConfigs": {
          "description": "We specify the additional pod networks for this node pool using this list. Each pod network corresponds to an additional alias IP range for the node",
          "items": {
            "$ref": "AdditionalPodNetworkConfig"
          },
          "type": "array"
        },
        "acceleratorNetworkProfile": {
          "type": "string",
          "description": "Immutable. The accelerator network profile for the node pool. For now the only valid value is \"auto\". If specified, the network configuration of the nodes in this node pool will be managed by this profile for the supported machine types, zone, etc."
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "NetworkPerformanceConfig"
        },
        "podIpv4CidrBlock": {
          "description": "The IP address range for pod IPs in this node pool. Only applicable if `create_pod_range` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) to pick a specific range to use. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "createPodRange": {
          "description": "Input only. Whether to create a new range for pod IPs in this node pool. Defaults are provided for `pod_range` and `pod_ipv4_cidr_block` if they are not specified. If neither `create_pod_range` or `pod_range` are specified, the cluster-level default (`ip_allocation_policy.cluster_ipv4_cidr_block`) is used. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "boolean"
        },
        "additionalNodeNetworkConfigs": {
          "type": "array",
          "description": "We specify the additional node networks for this node pool using this list. Each node network corresponds to an additional interface",
          "items": {
            "$ref": "AdditionalNodeNetworkConfig"
          }
        },
        "podIpv4RangeUtilization": {
          "description": "Output only. The utilization of the IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "DnsCacheConfig": {
      "type": "object",
      "description": "Configuration for NodeLocal DNSCache",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether NodeLocal DNSCache is enabled for this cluster."
        }
      },
      "id": "DnsCacheConfig"
    },
    "K8sBetaAPIConfig": {
      "description": "K8sBetaAPIConfig , configuration for beta APIs",
      "properties": {
        "enabledApis": {
          "type": "array",
          "description": "Enabled k8s beta APIs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "K8sBetaAPIConfig",
      "type": "object"
    },
    "EvictionGracePeriod": {
      "type": "object",
      "id": "EvictionGracePeriod",
      "description": "Eviction grace periods are grace periods for each eviction signal.",
      "properties": {
        "pidAvailable": {
          "description": "Optional. Grace period for eviction due to pid available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsAvailable": {
          "description": "Optional. Grace period for eviction due to imagefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "memoryAvailable": {
          "description": "Optional. Grace period for eviction due to memory available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "imagefsInodesFree": {
          "description": "Optional. Grace period for eviction due to imagefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "nodefsInodesFree": {
          "description": "Optional. Grace period for eviction due to nodefs inodes free signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        },
        "nodefsAvailable": {
          "description": "Optional. Grace period for eviction due to nodefs available signal. Sample format: \"10s\". Must be >= 0. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals",
          "type": "string"
        }
      }
    },
    "AnonymousAuthenticationConfig": {
      "type": "object",
      "description": "AnonymousAuthenticationConfig defines the settings needed to limit endpoints that allow anonymous authentication.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "ENABLED",
            "LIMITED"
          ],
          "description": "Defines the mode of limiting anonymous access in the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Default value not specified.",
            "Anonymous authentication is allowed for all endpoints.",
            "Anonymous authentication is allowed for only health check endpoints."
          ]
        }
      },
      "id": "AnonymousAuthenticationConfig"
    },
    "RegistryHeader": {
      "id": "RegistryHeader",
      "description": "RegistryHeader configures headers for the registry.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key configures the header key."
        },
        "value": {
          "description": "Value configures the header value.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GkeAutoUpgradeConfig": {
      "type": "object",
      "id": "GkeAutoUpgradeConfig",
      "description": "GkeAutoUpgradeConfig is the configuration for GKE auto upgrades.",
      "properties": {
        "patchMode": {
          "enumDescriptions": [
            "PATCH_MODE_UNSPECIFIED defaults to using the upgrade target from the channel's patch upgrade targets as the upgrade target for the version.",
            "ACCELERATED denotes that the latest patch build in the channel should be used as the upgrade target for the version."
          ],
          "type": "string",
          "description": "PatchMode specifies how auto upgrade patch builds should be selected.",
          "enum": [
            "PATCH_MODE_UNSPECIFIED",
            "ACCELERATED"
          ]
        }
      }
    },
    "ConsumptionMeteringConfig": {
      "id": "ConsumptionMeteringConfig",
      "description": "Parameters for controlling consumption metering.",
      "properties": {
        "enabled": {
          "description": "Whether to enable consumption metering for this cluster. If enabled, a second BigQuery table will be created to hold resource consumption records.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MasterAuthorizedNetworksConfig": {
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "properties": {
        "enabled": {
          "description": "Whether or not master authorized networks is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "description": "cidr_blocks define up to 50 external networks that could access Kubernetes master through HTTPS.",
          "items": {
            "$ref": "CidrBlock"
          },
          "type": "array"
        },
        "gcpPublicCidrsAccessEnabled": {
          "type": "boolean",
          "description": "Whether master is accessible via Google Compute Engine Public IP addresses."
        },
        "privateEndpointEnforcementEnabled": {
          "type": "boolean",
          "description": "Whether master authorized networks is enforced on private endpoint or not."
        }
      },
      "id": "MasterAuthorizedNetworksConfig",
      "type": "object"
    },
    "Metric": {
      "description": "Progress metric is (string, int|float|string) pair.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\"."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "For metrics with integer value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "For metrics with floating point value."
        },
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        }
      },
      "id": "Metric",
      "type": "object"
    },
    "ListUsableSubnetworksResponse": {
      "id": "ListUsableSubnetworksResponse",
      "description": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest.",
      "properties": {
        "subnetworks": {
          "description": "A list of usable subnetworks in the specified network project.",
          "items": {
            "$ref": "UsableSubnetwork"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages."
        }
      },
      "type": "object"
    },
    "AccurateTimeConfig": {
      "type": "object",
      "description": "AccurateTimeConfig contains configuration for the accurate time synchronization feature.",
      "properties": {
        "enablePtpKvmTimeSync": {
          "type": "boolean",
          "description": "Enables enhanced time synchronization using PTP-KVM."
        }
      },
      "id": "AccurateTimeConfig"
    },
    "RotationConfig": {
      "id": "RotationConfig",
      "description": "RotationConfig is config for secret manager auto rotation.",
      "properties": {
        "enabled": {
          "description": "Whether the rotation is enabled.",
          "type": "boolean"
        },
        "rotationInterval": {
          "description": "The interval between two consecutive rotations. Default rotation interval is 2 minutes.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BigQueryDestination": {
      "type": "object",
      "description": "Parameters for using BigQuery as the destination of resource usage export.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        }
      },
      "id": "BigQueryDestination"
    },
    "DedicatedLocalSsdProfile": {
      "description": "Provisions a new, separate local NVMe SSD exclusively for swap.",
      "properties": {
        "diskCount": {
          "description": "The number of physical local NVMe SSD disks to attach.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DedicatedLocalSsdProfile",
      "type": "object"
    },
    "GcsFuseCsiDriverConfig": {
      "type": "object",
      "id": "GcsFuseCsiDriverConfig",
      "description": "Configuration for the Cloud Storage Fuse CSI driver.",
      "properties": {
        "enabled": {
          "description": "Whether the Cloud Storage Fuse CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "PodSnapshotConfig": {
      "description": "PodSnapshotConfig is the configuration for GKE Pod Snapshots feature.",
      "properties": {
        "enabled": {
          "description": "Whether or not the Pod Snapshots feature is enabled.",
          "type": "boolean"
        }
      },
      "id": "PodSnapshotConfig",
      "type": "object"
    },
    "MonitoringComponentConfig": {
      "id": "MonitoringComponentConfig",
      "description": "MonitoringComponentConfig is cluster monitoring component configuration.",
      "properties": {
        "enableComponents": {
          "type": "array",
          "description": "Select components to collect metrics. An empty set would disable all monitoring.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "Storage",
              "Horizontal Pod Autoscaling",
              "Pod",
              "DaemonSet",
              "Deployment",
              "Statefulset",
              "CADVISOR",
              "KUBELET",
              "NVIDIA Data Center GPU Manager (DCGM)",
              "JobSet"
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "STORAGE",
              "HPA",
              "POD",
              "DAEMONSET",
              "DEPLOYMENT",
              "STATEFULSET",
              "CADVISOR",
              "KUBELET",
              "DCGM",
              "JOBSET"
            ]
          }
        }
      },
      "type": "object"
    },
    "SecondaryBootDiskUpdateStrategy": {
      "type": "object",
      "id": "SecondaryBootDiskUpdateStrategy",
      "description": "SecondaryBootDiskUpdateStrategy is a placeholder which will be extended in the future to define different options for updating secondary boot disks.",
      "properties": {}
    },
    "PrivateRegistryAccessConfig": {
      "type": "object",
      "description": "PrivateRegistryAccessConfig contains access configuration for private container registries.",
      "properties": {
        "certificateAuthorityDomainConfig": {
          "description": "Private registry access configuration.",
          "items": {
            "$ref": "CertificateAuthorityDomainConfig"
          },
          "type": "array"
        },
        "enabled": {
          "description": "Private registry access is enabled.",
          "type": "boolean"
        }
      },
      "id": "PrivateRegistryAccessConfig"
    },
    "GkeBackupAgentConfig": {
      "type": "object",
      "id": "GkeBackupAgentConfig",
      "description": "Configuration for the Backup for GKE Agent.",
      "properties": {
        "enabled": {
          "description": "Whether the Backup for GKE agent is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "AdditionalNodeNetworkConfig": {
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message",
      "properties": {
        "subnetwork": {
          "description": "Name of the subnetwork where the additional interface belongs",
          "type": "string"
        },
        "network": {
          "description": "Name of the VPC where the additional interface belongs",
          "type": "string"
        }
      },
      "id": "AdditionalNodeNetworkConfig",
      "type": "object"
    },
    "HugepagesConfig": {
      "type": "object",
      "description": "Hugepages amount in both 2m and 1g size",
      "properties": {
        "hugepageSize2m": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Amount of 2M hugepages"
        },
        "hugepageSize1g": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Amount of 1G hugepages"
        }
      },
      "id": "HugepagesConfig"
    },
    "NodeTaints": {
      "type": "object",
      "description": "Collection of Kubernetes [node taints](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration).",
      "properties": {
        "taints": {
          "description": "List of node taints.",
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array"
        }
      },
      "id": "NodeTaints"
    },
    "HorizontalPodAutoscaling": {
      "id": "HorizontalPodAutoscaling",
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "NodePoolAutoscaling": {
      "type": "object",
      "id": "NodePoolAutoscaling",
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "properties": {
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        },
        "autoprovisioned": {
          "type": "boolean",
          "description": "Can this node pool be deleted automatically."
        },
        "totalMinNodeCount": {
          "description": "Minimum number of nodes in the node pool. Must be greater than or equal to 0 and less than or equal to total_max_node_count. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "format": "int32",
          "type": "integer"
        },
        "totalMaxNodeCount": {
          "description": "Maximum number of nodes in the node pool. Must be greater than or equal to total_min_node_count. There has to be enough quota to scale up the cluster. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "format": "int32",
          "type": "integer"
        },
        "maxNodeCount": {
          "description": "Maximum number of nodes for one location in the node pool. Must be >= min_node_count. There has to be enough quota to scale up the cluster.",
          "format": "int32",
          "type": "integer"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes for one location in the node pool. Must be greater than or equal to 0 and less than or equal to max_node_count.",
          "format": "int32",
          "type": "integer"
        },
        "locationPolicy": {
          "enumDescriptions": [
            "Not set.",
            "BALANCED is a best effort policy that aims to balance the sizes of different zones.",
            "ANY policy picks zones that have the highest capacity available."
          ],
          "type": "string",
          "description": "Location policy used when scaling up a node pool.",
          "enum": [
            "LOCATION_POLICY_UNSPECIFIED",
            "BALANCED",
            "ANY"
          ]
        }
      }
    },
    "CostManagementConfig": {
      "id": "CostManagementConfig",
      "description": "Configuration for fine-grained cost management feature.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the feature is enabled or not."
        }
      },
      "type": "object"
    },
    "ILBSubsettingConfig": {
      "type": "object",
      "description": "ILBSubsettingConfig contains the desired config of L4 Internal LoadBalancer subsetting on this cluster.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables l4 ILB subsetting for this cluster."
        }
      },
      "id": "ILBSubsettingConfig"
    },
    "HttpCacheControlResponseHeader": {
      "description": "RFC-2616: cache control support",
      "properties": {
        "directive": {
          "type": "string",
          "description": "14.9 request and response directives"
        },
        "expires": {
          "type": "string",
          "description": "14.21 response cache expires, in RFC 1123 date format"
        },
        "age": {
          "type": "string",
          "format": "int64",
          "description": "14.6 response cache age, in seconds since the response is generated"
        }
      },
      "id": "HttpCacheControlResponseHeader",
      "type": "object"
    },
    "EphemeralLocalSsdProfile": {
      "type": "object",
      "description": "Swap on the local SSD shared with pod ephemeral storage.",
      "properties": {
        "swapSizeGib": {
          "description": "Specifies the size of the swap space in gibibytes (GiB).",
          "type": "string",
          "format": "int64"
        },
        "swapSizePercent": {
          "description": "Specifies the size of the swap space as a percentage of the ephemeral local SSD capacity.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EphemeralLocalSsdProfile"
    },
    "UpdateMasterRequest": {
      "type": "object",
      "id": "UpdateMasterRequest",
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "masterVersion": {
          "type": "string",
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      }
    },
    "RayClusterLoggingConfig": {
      "type": "object",
      "id": "RayClusterLoggingConfig",
      "description": "RayClusterLoggingConfig specifies configuration of Ray logging.",
      "properties": {
        "enabled": {
          "description": "Enable log collection for Ray clusters.",
          "type": "boolean"
        }
      }
    },
    "ConfidentialNodes": {
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
      "properties": {
        "enabled": {
          "description": "Whether Confidential Nodes feature is enabled.",
          "type": "boolean"
        },
        "confidentialInstanceType": {
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ],
          "description": "Defines the type of technology used by the confidential node.",
          "type": "string",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "AMD Secure Encrypted Virtualization.",
            "AMD Secure Encrypted Virtualization - Secure Nested Paging.",
            "Intel Trust Domain eXtension."
          ]
        }
      },
      "id": "ConfidentialNodes",
      "type": "object"
    },
    "NodeManagement": {
      "type": "object",
      "id": "NodeManagement",
      "description": "NodeManagement defines the set of node management services turned on for the node pool.",
      "properties": {
        "autoRepair": {
          "description": "A flag that specifies whether the node auto-repair is enabled for the node pool. If enabled, the nodes in this node pool will be monitored and, if they fail health checks too many times, an automatic repair action will be triggered.",
          "type": "boolean"
        },
        "upgradeOptions": {
          "description": "Specifies the Auto Upgrade knobs for the node pool.",
          "$ref": "AutoUpgradeOptions"
        },
        "autoUpgrade": {
          "type": "boolean",
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node pool. If enabled, node auto-upgrade helps keep the nodes in your node pool up to date with the latest release version of Kubernetes."
        }
      }
    },
    "PrivateClusterConfig": {
      "type": "object",
      "id": "PrivateClusterConfig",
      "description": "Configuration options for private clusters.",
      "properties": {
        "enablePrivateNodes": {
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking. Deprecated: Use NetworkConfig.default_enable_private_nodes instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "peeringName": {
          "description": "Output only. The peering name in the customer VPC used by this cluster.",
          "readOnly": true,
          "type": "string"
        },
        "privateEndpointSubnetwork": {
          "type": "string",
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint_subnetwork instead.",
          "deprecated": true
        },
        "publicEndpoint": {
          "description": "Output only. The external IP address of this cluster's master endpoint. Deprecated:Use ControlPlaneEndpointsConfig.IPEndpointsConfig.public_endpoint instead.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "enablePrivateEndpoint": {
          "type": "boolean",
          "description": "Whether the master's internal IP address is used as the cluster endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true.",
          "deprecated": true
        },
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's master endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint instead.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "masterIpv4CidrBlock": {
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network.",
          "type": "string"
        },
        "masterGlobalAccessConfig": {
          "description": "Controls master global access settings. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_global_access instead.",
          "deprecated": true,
          "$ref": "PrivateClusterMasterGlobalAccessConfig"
        }
      }
    },
    "SetMonitoringServiceRequest": {
      "type": "object",
      "id": "SetMonitoringServiceRequest",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "monitoringService": {
          "type": "string",
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "LoggingConfig": {
      "description": "LoggingConfig is cluster logging configuration.",
      "properties": {
        "componentConfig": {
          "description": "Logging components configuration",
          "$ref": "LoggingComponentConfig"
        }
      },
      "id": "LoggingConfig",
      "type": "object"
    },
    "ResourceManagerTags": {
      "type": "object",
      "description": "A map of resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Tags must be according to specifications in https://cloud.google.com/vpc/docs/tags-firewalls-overview#specifications. A maximum of 5 tag key-value pairs can be specified. Existing tags will be replaced with new values.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "TagKeyValue must be in one of the following formats ([KEY]=[VALUE]) 1. `tagKeys/{tag_key_id}=tagValues/{tag_value_id}` 2. `{org_id}/{tag_key_name}={tag_value_name}` 3. `{project_id}/{tag_key_name}={tag_value_name}`",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ResourceManagerTags"
    },
    "NetworkTierConfig": {
      "type": "object",
      "description": "NetworkTierConfig contains network tier information.",
      "properties": {
        "networkTier": {
          "enumDescriptions": [
            "By default, use project-level configuration. When unspecified, the behavior defaults to NETWORK_TIER_DEFAULT. For cluster updates, this implies no action (no-op).",
            "Default network tier. Use project-level configuration. User can specify this value, meaning they want to keep the same behaviour as before cluster level network tier configuration is introduced. This field ensures backward compatibility for the network tier of cluster resources, such as node pools and load balancers, for their external IP addresses.",
            "Premium network tier.",
            "Standard network tier."
          ],
          "type": "string",
          "description": "Network tier configuration.",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_DEFAULT",
            "NETWORK_TIER_PREMIUM",
            "NETWORK_TIER_STANDARD"
          ]
        }
      },
      "id": "NetworkTierConfig"
    },
    "PodCIDROverprovisionConfig": {
      "type": "object",
      "description": "[PRIVATE FIELD] Config for pod CIDR size overprovisioning.",
      "properties": {
        "disable": {
          "description": "Whether Pod CIDR overprovisioning is disabled. Note: Pod CIDR overprovisioning is enabled by default.",
          "type": "boolean"
        }
      },
      "id": "PodCIDROverprovisionConfig"
    },
    "ResourceLabels": {
      "type": "object",
      "description": "Collection of [Resource Manager labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels).",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of node label keys and node label values."
        }
      },
      "id": "ResourceLabels"
    },
    "GcpFilestoreCsiDriverConfig": {
      "type": "object",
      "id": "GcpFilestoreCsiDriverConfig",
      "description": "Configuration for the Filestore CSI driver.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Filestore CSI driver is enabled for this cluster."
        }
      }
    },
    "NotificationConfig": {
      "type": "object",
      "description": "NotificationConfig is the configuration of notifications.",
      "properties": {
        "pubsub": {
          "description": "Notification config for Pub/Sub.",
          "$ref": "PubSub"
        }
      },
      "id": "NotificationConfig"
    },
    "RecurringTimeWindow": {
      "description": "Represents an arbitrary window of time that recurs.",
      "properties": {
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        },
        "recurrence": {
          "type": "string",
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window recurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
        }
      },
      "id": "RecurringTimeWindow",
      "type": "object"
    },
    "ParallelstoreCsiDriverConfig": {
      "description": "Configuration for the Cloud Storage Parallelstore CSI driver.",
      "properties": {
        "enabled": {
          "description": "Whether the Cloud Storage Parallelstore CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "ParallelstoreCsiDriverConfig",
      "type": "object"
    },
    "GPUSharingConfig": {
      "type": "object",
      "id": "GPUSharingConfig",
      "description": "GPUSharingConfig represents the GPU sharing configuration for Hardware Accelerators.",
      "properties": {
        "maxSharedClientsPerGpu": {
          "type": "string",
          "format": "int64",
          "description": "The max number of containers that can share a physical GPU."
        },
        "gpuSharingStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "GPUs are time-shared between containers.",
            "GPUs are shared between containers with NVIDIA MPS."
          ],
          "enum": [
            "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "TIME_SHARING",
            "MPS"
          ],
          "description": "The type of GPU sharing strategy to enable on the GPU node."
        }
      }
    },
    "WindowsNodeConfig": {
      "type": "object",
      "id": "WindowsNodeConfig",
      "description": "Parameters that can be configured on Windows nodes. Windows Node Config that define the parameters that will be used to configure the Windows node pool settings.",
      "properties": {
        "osVersion": {
          "enumDescriptions": [
            "When OSVersion is not specified.",
            "LTSC2019 specifies to use LTSC2019 as the Windows Servercore Base Image.",
            "LTSC2022 specifies to use LTSC2022 as the Windows Servercore Base Image."
          ],
          "type": "string",
          "description": "OSVersion specifies the Windows node config to be used on the node.",
          "enum": [
            "OS_VERSION_UNSPECIFIED",
            "OS_VERSION_LTSC2019",
            "OS_VERSION_LTSC2022"
          ]
        }
      }
    },
    "GetOpenIDConfigResponse": {
      "id": "GetOpenIDConfigResponse",
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "OIDC Issuer."
        },
        "subject_types_supported": {
          "type": "array",
          "description": "Supported subject types.",
          "items": {
            "type": "string"
          }
        },
        "jwks_uri": {
          "type": "string",
          "description": "JSON Web Key uri."
        },
        "response_types_supported": {
          "description": "Supported response types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id_token_signing_alg_values_supported": {
          "type": "array",
          "description": "supported ID Token signing Algorithms.",
          "items": {
            "type": "string"
          }
        },
        "grant_types": {
          "description": "Supported grant types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cacheHeader": {
          "description": "For HTTP requests, this field is automatically extracted into the Cache-Control HTTP header.",
          "$ref": "HttpCacheControlResponseHeader"
        },
        "claims_supported": {
          "description": "Supported claims.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PlacementPolicy": {
      "id": "PlacementPolicy",
      "description": "PlacementPolicy defines the placement policy used by the node pool.",
      "properties": {
        "tpuTopology": {
          "type": "string",
          "description": "Optional. TPU placement topology for pod slice node pool. https://cloud.google.com/tpu/docs/types-topologies#tpu_topologies"
        },
        "policyName": {
          "type": "string",
          "description": "If set, refers to the name of a custom resource policy supplied by the user. The resource policy must be in the same project and region as the node pool. If not found, InvalidArgument error is returned."
        },
        "type": {
          "enumDescriptions": [
            "TYPE_UNSPECIFIED specifies no requirements on nodes placement.",
            "COMPACT specifies node placement in the same availability domain to ensure low communication latency."
          ],
          "type": "string",
          "description": "The type of placement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "COMPACT"
          ]
        }
      },
      "type": "object"
    },
    "DefaultSnatStatus": {
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster.",
      "properties": {
        "disabled": {
          "description": "Disables cluster default sNAT rules.",
          "type": "boolean"
        }
      },
      "id": "DefaultSnatStatus",
      "type": "object"
    },
    "ClusterAutoscaling": {
      "type": "object",
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
      "properties": {
        "resourceLimits": {
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
          "items": {
            "$ref": "ResourceLimit"
          },
          "type": "array"
        },
        "autoprovisioningNodePoolDefaults": {
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
          "$ref": "AutoprovisioningNodePoolDefaults"
        },
        "enableNodeAutoprovisioning": {
          "description": "Enables automatic node pool creation and deletion.",
          "type": "boolean"
        },
        "autoprovisioningLocations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP.",
          "items": {
            "type": "string"
          }
        },
        "autopilotGeneralProfile": {
          "enum": [
            "AUTOPILOT_GENERAL_PROFILE_UNSPECIFIED",
            "NO_PERFORMANCE",
            "NONE"
          ],
          "description": "Autopilot general profile for the cluster, which defines the configuration for the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Use default configuration.",
            "Avoid extra IP consumption.",
            "Use default configuration."
          ]
        },
        "autoscalingProfile": {
          "type": "string",
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ],
          "description": "Defines autoscaling behaviour."
        },
        "defaultComputeClassConfig": {
          "description": "Default compute class is a configuration for default compute class.",
          "$ref": "DefaultComputeClassConfig"
        }
      },
      "id": "ClusterAutoscaling"
    },
    "ListClustersResponse": {
      "type": "object",
      "id": "ListClustersResponse",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "properties": {
        "missingZones": {
          "type": "array",
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones.",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        }
      }
    },
    "MonitoringConfig": {
      "type": "object",
      "id": "MonitoringConfig",
      "description": "MonitoringConfig is cluster monitoring configuration.",
      "properties": {
        "componentConfig": {
          "description": "Monitoring components configuration",
          "$ref": "MonitoringComponentConfig"
        },
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "ManagedPrometheusConfig"
        },
        "advancedDatapathObservabilityConfig": {
          "description": "Configuration of Advanced Datapath Observability features.",
          "$ref": "AdvancedDatapathObservabilityConfig"
        }
      }
    },
    "NodePoolUpgradeInfo": {
      "id": "NodePoolUpgradeInfo",
      "description": "NodePoolUpgradeInfo contains the upgrade information of a node pool.",
      "properties": {
        "autoUpgradeStatus": {
          "type": "array",
          "description": "The auto upgrade status.",
          "items": {
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ],
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "type": "string"
          }
        },
        "upgradeDetails": {
          "type": "array",
          "description": "The list of past auto upgrades.",
          "items": {
            "$ref": "UpgradeDetails"
          }
        },
        "minorTargetVersion": {
          "type": "string",
          "description": "minor_target_version indicates the target version for minor upgrade."
        },
        "pausedReason": {
          "type": "array",
          "description": "The auto upgrade paused reason.",
          "items": {
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "SYSTEM_CONFIG"
            ],
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ],
            "type": "string"
          }
        },
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The node pool's current minor version's end of standard support timestamp."
        },
        "patchTargetVersion": {
          "description": "patch_target_version indicates the target version for patch upgrade.",
          "type": "string"
        },
        "endOfExtendedSupportTimestamp": {
          "description": "The node pool's current minor version's end of extended support timestamp.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseEncryption": {
      "type": "object",
      "id": "DatabaseEncryption",
      "description": "Configuration of etcd encryption.",
      "properties": {
        "currentState": {
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption.",
            "Encryption (or re-encryption with a different CloudKMS key) of Secrets is in progress.",
            "Encryption (or re-encryption with a different CloudKMS key) of Secrets in etcd encountered an error.",
            "De-crypting Secrets to plain text in etcd is in progress.",
            "De-crypting Secrets to plain text in etcd encountered an error.",
            "Encryption of all objects in the storage is enabled. It does not guarantee that all objects in the storage are encrypted, but eventually they will be.",
            "Enablement of the encryption of all objects in storage is pending.",
            "Enabling encryption of all objects in storage encountered an error."
          ],
          "type": "string",
          "description": "Output only. The current state of etcd encryption.",
          "readOnly": true,
          "enum": [
            "CURRENT_STATE_UNSPECIFIED",
            "CURRENT_STATE_ENCRYPTED",
            "CURRENT_STATE_DECRYPTED",
            "CURRENT_STATE_ENCRYPTION_PENDING",
            "CURRENT_STATE_ENCRYPTION_ERROR",
            "CURRENT_STATE_DECRYPTION_PENDING",
            "CURRENT_STATE_DECRYPTION_ERROR",
            "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ENABLED",
            "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_PENDING",
            "CURRENT_STATE_ALL_OBJECTS_ENCRYPTION_ERROR"
          ]
        },
        "decryptionKeys": {
          "type": "array",
          "description": "Output only. Keys in use by the cluster for decrypting existing objects, in addition to the key in `key_name`. Each item is a CloudKMS key resource.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "lastOperationErrors": {
          "type": "array",
          "description": "Output only. Records errors seen during DatabaseEncryption update operations.",
          "readOnly": true,
          "items": {
            "$ref": "OperationError"
          }
        },
        "keyName": {
          "type": "string",
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key"
        },
        "state": {
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption.",
            "Encryption of all objects in the storage is enabled. There is no guarantee that all objects in the storage are encrypted, but eventually they will be."
          ],
          "type": "string",
          "description": "The desired state of etcd encryption.",
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED",
            "ALL_OBJECTS_ENCRYPTION_ENABLED"
          ]
        }
      }
    },
    "BinaryAuthorization": {
      "type": "object",
      "description": "Configuration for Binary Authorization.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored.",
          "deprecated": true
        },
        "evaluationMode": {
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ]
        }
      },
      "id": "BinaryAuthorization"
    },
    "ShieldedNodes": {
      "id": "ShieldedNodes",
      "description": "Configuration of Shielded Nodes feature.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster."
        }
      },
      "type": "object"
    },
    "IdentityServiceConfig": {
      "type": "object",
      "id": "IdentityServiceConfig",
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API",
      "properties": {
        "enabled": {
          "description": "Whether to enable the Identity Service component",
          "type": "boolean"
        }
      }
    },
    "DesiredAdditionalIPRangesConfig": {
      "id": "DesiredAdditionalIPRangesConfig",
      "description": "DesiredAdditionalIPRangesConfig is a wrapper used for cluster update operation and contains multiple AdditionalIPRangesConfigs.",
      "properties": {
        "additionalIpRangesConfigs": {
          "description": "List of additional IP ranges configs where each AdditionalIPRangesConfig corresponds to one subnetwork's IP ranges",
          "items": {
            "$ref": "AdditionalIPRangesConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ManagedOpenTelemetryConfig": {
      "description": "ManagedOpenTelemetryConfig is the configuration for the GKE Managed OpenTelemetry pipeline.",
      "properties": {
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "NONE",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS"
          ],
          "description": "Scope of the Managed OpenTelemetry pipeline.",
          "type": "string",
          "enumDescriptions": [
            "SCOPE_UNSPECIFIED is when the scope is not set.",
            "NONE is used to disable the Managed OpenTelemetry pipeline.",
            "COLLECTION_AND_INSTRUMENTATION_COMPONENTS is used to enable the Managed OpenTelemetry pipeline for collection and instrumentation components."
          ]
        }
      },
      "id": "ManagedOpenTelemetryConfig",
      "type": "object"
    },
    "RollbackNodePoolUpgradeRequest": {
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
      "properties": {
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "respectPdb": {
          "description": "Option for rollback to ignore the PodDisruptionBudget. Default value is false.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        }
      },
      "id": "RollbackNodePoolUpgradeRequest",
      "type": "object"
    },
    "SetNodePoolSizeRequest": {
      "type": "object",
      "description": "SetNodePoolSizeRequest sets the size of a node pool.",
      "properties": {
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The desired node count for the pool."
        }
      },
      "id": "SetNodePoolSizeRequest"
    },
    "ResourceLimit": {
      "type": "object",
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB.",
      "properties": {
        "minimum": {
          "description": "Minimum amount of the resource in the cluster.",
          "format": "int64",
          "type": "string"
        },
        "maximum": {
          "description": "Maximum amount of the resource in the cluster.",
          "format": "int64",
          "type": "string"
        },
        "resourceType": {
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string.",
          "type": "string"
        }
      },
      "id": "ResourceLimit"
    },
    "DisruptionEvent": {
      "type": "object",
      "description": "DisruptionEvent is a notification sent to customers about the disruption event of a resource.",
      "properties": {
        "pdbBlockedNode": {
          "type": "string",
          "description": "The node whose drain is blocked by PDB. This field is set for both POD_PDB_VIOLATION and POD_NOT_ENOUGH_PDB event."
        },
        "disruptionType": {
          "description": "The type of the disruption event.",
          "enum": [
            "DISRUPTION_TYPE_UNSPECIFIED",
            "POD_NOT_ENOUGH_PDB",
            "POD_PDB_VIOLATION"
          ],
          "enumDescriptions": [
            "DISRUPTION_TYPE_UNSPECIFIED indicates the disruption type is unspecified.",
            "POD_NOT_ENOUGH_PDB indicates there are still running pods on the node during node drain because their evictions are blocked by PDB.",
            "POD_PDB_VIOLATION indicates that there are force pod evictions during node drain which violate the PDB."
          ],
          "type": "string"
        },
        "pdbViolationTimeout": {
          "description": "The timeout in seconds for which the node drain is blocked by PDB. After this timeout, pods are forcefully evicted. This field is only populated when event_type is POD_PDB_VIOLATION.",
          "format": "google-duration",
          "type": "string"
        },
        "pdbBlockedPod": {
          "type": "array",
          "description": "The pods whose evictions are blocked by PDB. This field is set for both POD_PDB_VIOLATION and POD_NOT_ENOUGH_PDB event.",
          "items": {
            "$ref": "PdbBlockedPod"
          }
        }
      },
      "id": "DisruptionEvent"
    },
    "NetworkConfig": {
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "properties": {
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        },
        "enableL4ilbSubsetting": {
          "type": "boolean",
          "description": "Whether L4ILB Subsetting is enabled for this cluster."
        },
        "serviceExternalIpsConfig": {
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not.",
          "$ref": "ServiceExternalIPsConfig"
        },
        "enableMultiNetworking": {
          "type": "boolean",
          "description": "Whether multi-networking is enabled for this cluster."
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "ClusterNetworkPerformanceConfig"
        },
        "disableL4LbFirewallReconciliation": {
          "description": "Disable L4 load balancer VPC firewalls to enable firewall policies.",
          "type": "boolean"
        },
        "datapathProvider": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation."
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "readOnly": true,
          "type": "string"
        },
        "inTransitEncryptionConfig": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified, will be inferred as default - IN_TRANSIT_ENCRYPTION_UNSPECIFIED.",
            "In-transit encryption is disabled.",
            "Data in-transit is encrypted using inter-node transparent encryption."
          ],
          "enum": [
            "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED",
            "IN_TRANSIT_ENCRYPTION_DISABLED",
            "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          ],
          "description": "Specify the details of in-transit encryption. Now named inter-node transparent encryption."
        },
        "gatewayApiConfig": {
          "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "dnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "defaultSnatStatus": {
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic.",
          "$ref": "DefaultSnatStatus"
        },
        "enableFqdnNetworkPolicy": {
          "type": "boolean",
          "description": "Whether FQDN Network Policy is enabled on this cluster."
        },
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "readOnly": true,
          "type": "string"
        },
        "enableCiliumClusterwideNetworkPolicy": {
          "description": "Whether CiliumClusterwideNetworkPolicy is enabled on this cluster.",
          "type": "boolean"
        },
        "privateIpv6GoogleAccess": {
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables private IPv6 access to and from Google Services"
          ],
          "type": "string"
        },
        "defaultEnablePrivateNodes": {
          "type": "boolean",
          "description": "Controls whether by default nodes have private IP addresses only. It is invalid to specify both PrivateClusterConfig.enablePrivateNodes and this field at the same time. To update the default setting, use ClusterUpdate.desired_default_enable_private_nodes"
        }
      },
      "id": "NetworkConfig",
      "type": "object"
    },
    "AcceleratorConfig": {
      "type": "object",
      "id": "AcceleratorConfig",
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "properties": {
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "gpuSharingConfig": {
          "description": "The configuration for GPU sharing options.",
          "$ref": "GPUSharingConfig"
        },
        "gpuDriverInstallationConfig": {
          "description": "The configuration for auto installation of GPU driver.",
          "$ref": "GPUDriverInstallationConfig"
        },
        "acceleratorCount": {
          "description": "The number of the accelerator cards exposed to an instance.",
          "format": "int64",
          "type": "string"
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)",
          "type": "string"
        }
      }
    },
    "SetNodePoolManagementRequest": {
      "id": "SetNodePoolManagementRequest",
      "description": "SetNodePoolManagementRequest sets the node management properties of a node pool.",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "management": {
          "description": "Required. NodeManagement configuration for the node pool.",
          "$ref": "NodeManagement"
        },
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutoIpamConfig": {
      "type": "object",
      "description": "AutoIpamConfig contains all information related to Auto IPAM",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The flag that enables Auto IPAM on this cluster"
        }
      },
      "id": "AutoIpamConfig"
    },
    "SwapConfig": {
      "type": "object",
      "description": "Configuration for swap memory on a node pool.",
      "properties": {
        "enabled": {
          "description": "Optional. Enables or disables swap for the node pool.",
          "type": "boolean"
        },
        "encryptionConfig": {
          "description": "Optional. If omitted, swap space is encrypted by default.",
          "$ref": "EncryptionConfig"
        },
        "ephemeralLocalSsdProfile": {
          "description": "Swap on the local SSD shared with pod ephemeral storage.",
          "$ref": "EphemeralLocalSsdProfile"
        },
        "bootDiskProfile": {
          "description": "Swap on the node's boot disk.",
          "$ref": "BootDiskProfile"
        },
        "dedicatedLocalSsdProfile": {
          "description": "Provisions a new, separate local NVMe SSD exclusively for swap.",
          "$ref": "DedicatedLocalSsdProfile"
        }
      },
      "id": "SwapConfig"
    },
    "GPUDirectConfig": {
      "type": "object",
      "description": "GPUDirectConfig specifies the GPU direct strategy on the node pool.",
      "properties": {
        "gpuDirectStrategy": {
          "enum": [
            "GPU_DIRECT_STRATEGY_UNSPECIFIED",
            "RDMA"
          ],
          "description": "The type of GPU direct strategy to enable on the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Default value. No GPU Direct strategy is enabled on the node.",
            "GPUDirect-RDMA on A3 Ultra, and A4 machine types"
          ]
        }
      },
      "id": "GPUDirectConfig"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This operation resource represents operations that may have happened or are happening on the cluster. All fields are output only.",
      "properties": {
        "detail": {
          "description": "Output only. Detailed operation progress, if available.",
          "readOnly": true,
          "type": "string"
        },
        "clusterConditions": {
          "type": "array",
          "description": "Which conditions caused the current cluster state. Deprecated. Use field error instead.",
          "deprecated": true,
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "nodepoolConditions": {
          "type": "array",
          "description": "Which conditions caused the current node pool state. Deprecated. Use field error instead.",
          "deprecated": true,
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "location": {
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides.",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "description": "Output only. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation is taking place. This field is deprecated, use location instead.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The server-assigned ID for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "operationType": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            true,
            true,
            false,
            false
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER",
            "UPDATE_CLUSTER",
            "CREATE_NODE_POOL",
            "DELETE_NODE_POOL",
            "SET_NODE_POOL_MANAGEMENT",
            "AUTO_REPAIR_NODES",
            "AUTO_UPGRADE_NODES",
            "SET_LABELS",
            "SET_MASTER_AUTH",
            "SET_NODE_POOL_SIZE",
            "SET_NETWORK_POLICY",
            "SET_MAINTENANCE_POLICY",
            "RESIZE_CLUSTER",
            "FLEET_FEATURE_UPGRADE"
          ],
          "description": "Output only. The operation type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The cluster is being created. The cluster should be assumed to be unusable until the operation finishes. In the event of the operation failing, the cluster will enter the ERROR state and eventually be deleted.",
            "The cluster is being deleted. The cluster should be assumed to be unusable as soon as this operation starts. In the event of the operation failing, the cluster will enter the ERROR state and the deletion will be automatically retried until completed.",
            "The cluster version is being updated. Note that this includes \"upgrades\" to the same version, which are simply a recreation. This also includes [auto-upgrades](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-upgrades#upgrading_automatically). For more details, see [documentation on cluster upgrades](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-upgrades#cluster_upgrades).",
            "A node pool is being updated. Despite calling this an \"upgrade\", this includes most forms of updates to node pools. This also includes [auto-upgrades](https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-upgrades). This operation sets the progress field and may be canceled. The upgrade strategy depends on [node pool configuration](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pool-upgrade-strategies). The nodes are generally still usable during this operation.",
            "A problem has been detected with the control plane and is being repaired. This operation type is initiated by GKE. For more details, see [documentation on repairs](https://cloud.google.com/kubernetes-engine/docs/concepts/maintenance-windows-and-exclusions#repairs).",
            "The cluster is being updated. This is a broad category of operations and includes operations that only change metadata as well as those that must recreate the entire cluster. If the control plane must be recreated, this will cause temporary downtime for zonal clusters. Some features require recreating the nodes as well. Those will be recreated as separate operations and the update may not be completely functional until the node pools recreations finish. Node recreations will generally follow [maintenance policies](https://cloud.google.com/kubernetes-engine/docs/concepts/maintenance-windows-and-exclusions). Some GKE-initiated operations use this type. This includes certain types of auto-upgrades and incident mitigations.",
[...]
