{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "version_module": true,
  "servicePath": "",
  "batchPath": "batch",
  "title": "Contact Center AI Platform API",
  "rootUrl": "https://contactcenteraiplatform.googleapis.com/",
  "id": "contactcenteraiplatform:v1alpha1",
  "canonicalName": "CCAI Platform",
  "version": "v1alpha1",
  "revision": "20260226",
  "description": "",
  "mtlsRootUrl": "https://contactcenteraiplatform.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/solutions/contact-center-ai-platform",
  "basePath": "",
  "schemas": {
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "Early": {
      "description": "LINT.IfChange First Channel to receive the updates. Meant to dev/test instances",
      "type": "object",
      "id": "Early",
      "properties": {}
    },
    "GenerateShiftsRequest": {
      "properties": {
        "shiftTemplates": {
          "type": "array",
          "description": "Required. Set of shift templates specifying rules for generating shifts. A shift template can be used for generating multiple shifts.",
          "items": {
            "$ref": "ShiftTemplate"
          }
        },
        "planningHorizon": {
          "description": "Required. The solver will generate the maximum number of shifts per shift template.",
          "$ref": "PlanningHorizon"
        },
        "employeeInfo": {
          "description": "Optional. Employee information that should be considered when generating shifts.",
          "items": {
            "$ref": "EmployeeInfo"
          },
          "type": "array"
        },
        "solverConfig": {
          "description": "Required. Parameters for the solver.",
          "$ref": "SolverConfig"
        },
        "workforceDemands": {
          "description": "Required. All the workforce demands that the generated shifts need to cover. The planning horizon is defined between the earliest start time and the latest end time across all the entries. This field cannot be empty.",
          "$ref": "WorkforceDemandList"
        }
      },
      "id": "GenerateShiftsRequest",
      "type": "object",
      "description": "Request with constraints for generating shifts. The shifts generated must adhere to these constraints."
    },
    "SolverConfig": {
      "description": "Specifies additional parameters for the solver generating shifts.",
      "type": "object",
      "id": "SolverConfig",
      "properties": {
        "maximumProcessingDuration": {
          "type": "string",
          "description": "Optional. Maximum time the solver should spend on the problem. If not set, defaults to 1 minute. The choice of a time limit should depend on the size of the problem. To give an example, when solving a 7-day instance with 2 `ShiftTemplates`, each with ~20 possible start times and holding 2 events with ~30 possible start times, and two days off per week, recommended values are: <10s for fast solutions (and likely suboptimal), (10s, 300s) for good quality solutions, and >300s for an exhaustive search. Larger instances may require longer time limits. This value is not a hard limit and it does not account for the communication overhead. The expected latency to solve the problem may slightly exceed this value.",
          "format": "google-duration"
        },
        "scheduleType": {
          "type": "string",
          "description": "Required. Specifies the type of schedule to generate.",
          "enumDescriptions": [
            "Unspecified schedule type. Should not be used.",
            "Each `EmployeeSchedule` will include exactly one shift.",
            "`EmployeeSchedule`s will include several shifts to generate a week-long schedule. The start and end time of events in a particular `EmployeeSchedule` will be identical. All the shifts have the same start and end time.",
            "`EmployeeSchedule`s will include several shifts to generate a week-long schedule. The start and end time of events in a particular `EmployeeSchedule` can vary. All the shifts have the same start and end time. This option may result in longer solve times."
          ],
          "enum": [
            "SCHEDULE_TYPE_UNSPECIFIED",
            "SINGLE_SHIFT",
            "WEEKLY_WITH_FIXED_EVENTS",
            "WEEKLY_WITH_VARIABLE_EVENTS"
          ]
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "properties": {
        "instanceSize": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size MULTIREGION_SMALL",
            "Instance Size MULTIREGION_MEDIUM",
            "Instance Size MULTIREGION_LARGE",
            "Instance Size MULTIREGION_XLARGE",
            "Instance Size MULTIREGION_2XLARGE.",
            "Instance Size MULTIREGION_3XLARGE.",
            "Instance Size DEV_SMALL",
            "Instance Size SANDBOX_SMALL",
            "Instance Size TRIAL_SMALL",
            "Instance Size TIME_LIMITED_TRIAL_SMALL"
          ],
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "MULTIREGION_SMALL",
            "MULTIREGION_MEDIUM",
            "MULTIREGION_LARGE",
            "MULTIREGION_XLARGE",
            "MULTIREGION_2XLARGE",
            "MULTIREGION_3XLARGE",
            "DEV_SMALL",
            "SANDBOX_SMALL",
            "TRIAL_SMALL",
            "TIME_LIMITED_TRIAL_SMALL"
          ],
          "description": "The instance size of this the instance configuration.",
          "type": "string"
        }
      },
      "description": "Message storing the instance configuration.",
      "type": "object"
    },
    "URIs": {
      "type": "object",
      "description": "Message storing the URIs of the ContactCenter.",
      "properties": {
        "mediaUri": {
          "description": "Media Uri of the ContactCenter.",
          "type": "string"
        },
        "chatBotUri": {
          "description": "Chat Bot Uri of the ContactCenter",
          "type": "string"
        },
        "rootUri": {
          "description": "Root Uri of the ContactCenter.",
          "type": "string"
        },
        "virtualAgentStreamingServiceUri": {
          "type": "string",
          "description": "Virtual Agent Streaming Service Uri of the ContactCenter."
        }
      },
      "id": "URIs"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "contactCenter": {
          "description": "Contact center information for this request",
          "$ref": "ContactCenter"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ContactCenter": {
      "id": "ContactCenter",
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp in UTC of when this resource was soft-deleted.",
          "format": "google-datetime"
        },
        "featureConfig": {
          "description": "Optional. Feature configuration to populate the feature flags.",
          "$ref": "FeatureConfig"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp in UTC of when this resource is considered expired.",
          "format": "google-datetime"
        },
        "adminUser": {
          "description": "Optional. Info about the first admin user, such as given name and family name.",
          "$ref": "AdminUser"
        },
        "purgeTime": {
          "description": "Output only. Timestamp in UTC of when this resource is going to be hard-deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "privateComponents": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. TODO(b/283407860) Deprecate this field.",
          "items": {
            "type": "string"
          }
        },
        "early": {
          "description": "Optional. Early release channel.",
          "$ref": "Early"
        },
        "samlParams": {
          "description": "Optional. Params that sets up Google as IdP.",
          "$ref": "SAMLParams"
        },
        "uris": {
          "description": "Output only. URIs to access the deployed ContactCenters.",
          "$ref": "URIs",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsKey": {
          "type": "string",
          "description": "Immutable. The KMS key name to encrypt the user input (`ContactCenter`)."
        },
        "instanceConfig": {
          "description": "The configuration of this instance, it is currently immutable once created.",
          "$ref": "InstanceConfig"
        },
        "privateAccess": {
          "description": "Optional. VPC-SC related networking configuration.",
          "$ref": "PrivateAccess"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "State DEPLOYING",
            "State DEPLOYED",
            "State TERMINATING",
            "State FAILED",
            "State TERMINATING_FAILED",
            "Reused for soft-deleted state because semantically equivalent to `DELETED` as implied by go/aip/164.",
            "State IN_GRACE_PERIOD",
            "State in STATE_FAILING_OVER. This State must ONLY be used by Multiregional Instances when a failover was triggered. Customers are not able to update instances in this state.",
            "State DEGRADED. This State must ONLY be used by Multiregional Instances after a failover was executed successfully. Customers are not able to update instances in this state.",
            "State REPAIRING. This State must ONLY be used by Multiregional Instances after a fallback was triggered. Customers are not able to update instancs in this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_DEPLOYING",
            "STATE_DEPLOYED",
            "STATE_TERMINATING",
            "STATE_FAILED",
            "STATE_TERMINATING_FAILED",
            "STATE_TERMINATED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_FAILING_OVER",
            "STATE_DEGRADED",
            "STATE_REPAIRING"
          ],
          "description": "Output only. The state of this contact center.",
          "readOnly": true,
          "type": "string"
        },
        "ccaipManagedUsers": {
          "description": "Optional. Whether to enable users to be created in the CCAIP-instance concurrently to having users in Cloud identity",
          "type": "boolean"
        },
        "critical": {
          "description": "Optional. Critical release channel.",
          "$ref": "Critical"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime"
        },
        "customerDomainPrefix": {
          "type": "string",
          "description": "Required. Immutable. At least 2 and max 16 char long, must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt)."
        },
        "displayName": {
          "description": "Required. A user friendly name for the ContactCenter.",
          "type": "string"
        },
        "userEmail": {
          "description": "Optional. Email address of the first admin user.",
          "type": "string"
        },
        "normal": {
          "description": "Optional. Normal release channel.",
          "$ref": "Normal"
        },
        "releaseVersion": {
          "description": "Output only. UJET release version, unique for each new release.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "advancedReportingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the advanced reporting feature is enabled."
        }
      },
      "description": "Message describing ContactCenter object",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "PscSetting": {
      "type": "object",
      "description": "Private service connect settings.",
      "properties": {
        "producerProjectIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The CCAIP tenant project ids.",
          "items": {
            "type": "string"
          }
        },
        "allowedConsumerProjectIds": {
          "type": "array",
          "description": "The list of project ids that are allowed to send traffic to the service attachment. This field should be filled only for the ingress components.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PscSetting"
    },
    "WeeklySchedule": {
      "type": "object",
      "description": "Message representing a weekly schedule.",
      "properties": {
        "days": {
          "description": "Required. Days of the week this schedule applies to.",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "startTime": {
          "description": "Required. Daily start time of the schedule.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "description": "Optional. Duration of the schedule.",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Optional. Daily end time of the schedule. If `end_time` is before `start_time`, the schedule will be considered as ending on the next day.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "WeeklySchedule"
    },
    "Critical": {
      "description": "Instances in this Channel will receive updates after all instances in `Normal` were updated. They also will only be updated outside of their peak hours.",
      "type": "object",
      "id": "Critical",
      "properties": {
        "peakHours": {
          "type": "array",
          "description": "Required. Hours during which the instance should not be updated.",
          "items": {
            "$ref": "WeeklySchedule"
          }
        }
      }
    },
    "ShiftTemplate": {
      "properties": {
        "daysOffCountPerWeek": {
          "description": "Optional. Fixed number of days off per week. An employee has a given day off if they are not assigned to a shift that starts on that day. A week is 7 days and begins on Sunday.",
          "format": "int32",
          "type": "integer"
        },
        "startTimeIncrementMinutes": {
          "description": "Optional. The time increment (in minutes) used to generate the set of possible start times between `earliest_start_time` and `latest_start_time`. For example, if the earliest start time is 8:00, the latest start time is 8:30, and the start time increment is 10 minutes, then all possible start times for this shift template are: 8:00, 8:10, 8:20, and 8:30.",
          "format": "int32",
          "type": "integer"
        },
        "minimumEmployeeCount": {
          "type": "integer",
          "description": "Optional. Minimum number of employees that can be assigned to all shifts generated by this template on working days.",
          "format": "int32"
        },
        "id": {
          "description": "Required. Unique ID of this template.",
          "type": "string"
        },
        "daysOffDates": {
          "description": "Optional. Fixed dates when shifts from this template should not be generated.",
          "$ref": "DateList"
        },
        "maximumEmployeeCount": {
          "type": "integer",
          "description": "Required. Maximum number of employees that can be assigned to all shifts generated by this template on working days.",
          "format": "int32"
        },
        "earliestStartTime": {
          "description": "Required. Earliest time in the day that a shift can start. This value is specified with hours and minutes; seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "latestStartTime": {
          "description": "Required. Latest time in the day that a shift can start. This value is specified with hours and minutes; seconds and nanos are ignored. If this value is less than the `earliest_start_time`, it may imply an overnight shift.",
          "$ref": "TimeOfDay"
        },
        "eventTemplates": {
          "type": "array",
          "description": "Optional. Rules for generating events for each shift. Exactly one event will be included in each shift for each `EventTemplate` specified.",
          "items": {
            "$ref": "EventTemplate"
          }
        },
        "minimumIntereventGapMinutes": {
          "type": "integer",
          "description": "Optional. Minimum minutes between the end of one event and the start of the next.",
          "format": "int32"
        },
        "assignableEmployeeIds": {
          "type": "array",
          "description": "Optional. A list of specific employee IDs that can be assigned to shifts generated by this template. If this field is present, there will be `EmployeeSchedule`s in the response for which the `EmployeeSchedule.employee_id` field is set to one of the IDs in this list. The number of employee schedules with an assigned employee ID will be between `minimum_employee_count` and `maximum_employee_count`. If this field is empty, between `minimum_employee_count` and `maximum_employee_count` employees can be assigned to shifts generated by this template and the employee schedules won't have an assigned employee ID. Currently, only one assignable employee ID is supported.",
          "items": {
            "type": "string"
          }
        },
        "durationMinutes": {
          "type": "integer",
          "description": "Required. Fixed duration of a shift generated by this template.",
          "format": "int32"
        }
      },
      "id": "ShiftTemplate",
      "type": "object",
      "description": "Template specifying rules for generating shifts. A shift is a unit of work that specifies a start time, end time, and may contain events (e.g. lunch, breaks etc.). Shifts will be assigned to specific dates in the response."
    },
    "SAMLParams": {
      "properties": {
        "ssoUri": {
          "description": "Single sign-on URL",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Entity id URL"
        },
        "certificate": {
          "type": "string",
          "description": "SAML certificate"
        },
        "emailMapping": {
          "type": "string",
          "description": "IdP field that maps to the user’s email address"
        },
        "authenticationContexts": {
          "type": "array",
          "description": "Additional contexts used for authentication.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The Unspecified class indicates that the authentication was performed by unspecified means.",
              "The Internet Protocol class is applicable when a principal is authenticated through the use of a provided IP address.",
              "The Internet Protocol Password class is applicable when a principal is authenticated through the use of a provided IP address, in addition to a username/password.",
              "This class is applicable when the principal has authenticated using a password to a local authentication authority, in order to acquire a Kerberos ticket. That Kerberos ticket is then used for subsequent network authentication.",
              "Reflects no mobile customer registration procedures and an authentication of the mobile device without requiring explicit end-user interaction. This context class authenticates only the device and never the user; it is useful when services other than the mobile operator want to add a secure device authentication to their authentication process.",
              "Reflects no mobile customer registration procedures and a two-factor based authentication, such as secure device and user PIN. This context class is useful when a service other than the mobile operator wants to link their customer ID to a mobile supplied two-factor authentication service by capturing mobile phone data at enrollment.",
              "Reflects mobile contract customer registration procedures and a single factor authentication. For example, a digital signing device with tamper resistant memory for key storage, such as the mobile MSISDN, but no required PIN or biometric for real-time user authentication.",
              "Reflects mobile contract customer registration procedures and a two-factor based authentication. For example, a digital signing device with tamper resistant memory for key storage, such as a GSM SIM, that requires explicit proof of user identity and intent, such as a PIN or biometric.",
              "The Password class is applicable when a principal authenticates to an authentication authority through the presentation of a password over an unprotected HTTP session.",
              "The PasswordProtectedTransport class is applicable when a principal authenticates to an authentication authority through the presentation of a password over a protected session.",
              "The PreviousSession class is applicable when a principal had authenticated to an authentication authority at some point in the past using any authentication context supported by that authentication authority",
              "The X509 context class indicates that the principal authenticated by means of a digital signature where the key was validated as part of an X.509 Public Key Infrastructure.",
              "The PGP context class indicates that the principal authenticated by means of a digital signature where the key was validated as part of a PGP Public Key Infrastructure.",
              "The SPKI context class indicates that the principal authenticated by means of a digital signature where the key was validated via an SPKI Infrastructure.",
              "This context class indicates that the principal authenticated by means of a digital signature according to the processing rules specified in the XML Digital Signature specification [XMLSig].",
              "The Smartcard class is identified when a principal authenticates to an authentication authority using a smartcard.",
              "The SmartcardPKI class is applicable when a principal authenticates to an authentication authority through a two-factor authentication mechanism using a smartcard with enclosed private key and a PIN.",
              "The Software-PKI class is applicable when a principal uses an X.509 certificate stored in software to authenticate to the authentication authority.",
              "This class is used to indicate that the principal authenticated via the provision of a fixed-line telephone number, transported via a telephony protocol such as ADSL.",
              "Indicates that the principal is \"roaming\" (perhaps using a phone card) and authenticates via the means of the line number, a user suffix, and a password element.",
              "This class is used to indicate that the principal authenticated via the provision of a fixed-line telephone number and a user suffix, transported via a telephony protocol such as ADSL.",
              "Indicates that the principal authenticated via the means of the line number, a user suffix, and a password element.",
              "The Secure Remote Password class is applicable when the authentication was performed by means of Secure Remote Password as specified in [RFC 2945].",
              "This class indicates that the principal authenticated by means of a client certificate, secured with the SSL/TLS transport.",
              "The TimeSyncToken class is applicable when a principal authenticates through a time synchronization token."
            ],
            "enum": [
              "AUTHENTICATION_CONTEXT_UNSPECIFIED",
              "INTERNET_PROTOCOL",
              "INTERNET_PROTOCOL_PASSWORD",
              "KERBEROS",
              "MOBILE_ONE_FACTOR_UNREGISTERED",
              "MOBILE_TWO_FACTOR_UNREGISTERED",
              "MOBILE_ONE_FACTOR_CONTRACT",
              "MOBILE_TWO_FACTOR_CONTRACT",
              "PASSWORD",
              "PASSWORD_PROTECTED_TRANSPORT",
              "PREVIOUS_SESSION",
              "PUBLIC_KEY_X509",
              "PUBLIC_KEY_PGP",
              "PUBLIC_KEY_SPKI",
              "PUBLIC_KEY_XML_DIGITAL_SIGNATURE",
              "SMARTCARD",
              "SMARTCARD_PKI",
              "SOFTWARE_PKI",
              "TELEPHONY",
              "TELEPHONY_NOMADIC",
              "TELEPHONY_PERSONALIZED",
              "TELEPHONY_AUTHENTICATED",
              "SECURE_REMOTE_PASSWORD",
              "SSL_TLS_CERTIFICATE_BASED",
              "TIME_SYNC_TOKEN"
            ]
          }
        },
        "userEmail": {
          "deprecated": true,
          "description": "Email address of the first admin users.",
          "type": "string"
        }
      },
      "id": "SAMLParams",
      "type": "object",
      "description": "Message storing SAML params to enable Google as IDP."
    },
    "Quota": {
      "type": "object",
      "description": "Quota details.",
      "properties": {
        "contactCenterCountSum": {
          "type": "integer",
          "description": "Reflects the count sum of contact centers on a billing account.",
          "format": "int32"
        },
        "contactCenterCountLimit": {
          "type": "integer",
          "description": "Reflects the count limit of contact centers on a billing account.",
          "format": "int32"
        },
        "contactCenterInstanceSize": {
          "description": "Contact center instance type.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size MULTIREGION_SMALL",
            "Instance Size MULTIREGION_MEDIUM",
            "Instance Size MULTIREGION_LARGE",
            "Instance Size MULTIREGION_XLARGE",
            "Instance Size MULTIREGION_2XLARGE.",
            "Instance Size MULTIREGION_3XLARGE.",
            "Instance Size DEV_SMALL",
            "Instance Size SANDBOX_SMALL",
            "Instance Size TRIAL_SMALL",
            "Instance Size TIME_LIMITED_TRIAL_SMALL"
          ],
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "MULTIREGION_SMALL",
            "MULTIREGION_MEDIUM",
            "MULTIREGION_LARGE",
            "MULTIREGION_XLARGE",
            "MULTIREGION_2XLARGE",
            "MULTIREGION_3XLARGE",
            "DEV_SMALL",
            "SANDBOX_SMALL",
            "TRIAL_SMALL",
            "TIME_LIMITED_TRIAL_SMALL"
          ]
        }
      },
      "id": "Quota"
    },
    "EmployeeInfo": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Unique ID of this employee."
        },
        "unwantedEventIntervals": {
          "description": "Optional. A list of unwanted event intervals for this employee. The start time of the interval must be in the planning horizon.",
          "items": {
            "$ref": "UnwantedEventInterval"
          },
          "type": "array"
        }
      },
      "id": "EmployeeInfo",
      "type": "object",
      "description": "Information about a particular employee for planning purposes."
    },
    "DateList": {
      "id": "DateList",
      "properties": {
        "values": {
          "description": "Optional. Values in the list.",
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      },
      "description": "List of dates.",
      "type": "object"
    },
    "ListContactCentersResponse": {
      "description": "Message for response to listing ContactCenters",
      "type": "object",
      "id": "ListContactCentersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "contactCenters": {
          "description": "The list of ContactCenter",
          "items": {
            "$ref": "ContactCenter"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkforceDemand": {
      "id": "WorkforceDemand",
      "properties": {
        "endTime": {
          "description": "Required. End of the time interval for the given demand (exclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        },
        "employeeCount": {
          "type": "integer",
          "description": "Optional. Number of employees needed to cover the demand for this interval.",
          "format": "int32"
        },
        "startTime": {
          "description": "Required. Start of the time interval for the given demand (inclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        }
      },
      "description": "Specifies the number of employees required to cover the demand in the given time interval. The length of the interval must be strictly positive.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AdminUser": {
      "type": "object",
      "description": "Message storing info about the first admin user. Next ID: 3",
      "properties": {
        "givenName": {
          "description": "Optional. First/given name of the first admin user.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "Optional. Last/family name of the first admin user."
        }
      },
      "id": "AdminUser"
    },
    "DateTime": {
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DateTime",
      "type": "object",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudCommonOperationMetadata": {
      "id": "GoogleCloudCommonOperationMetadata",
      "properties": {
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "TimeOfDay": {
      "properties": {
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        }
      },
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "EventTemplate": {
      "type": "object",
      "description": "Template specifying rules for generating a single event that occurs during a shift. An event may represent a meeting, break, lunch, etc.",
      "properties": {
        "minimumMinutesAfterShiftStart": {
          "description": "Optional. Minimum number of minutes after the beginning of a shift that this event can start.",
          "format": "int32",
          "type": "integer"
        },
        "durationMinutes": {
          "description": "Required. Fixed duration in minutes of this event.",
          "format": "int32",
          "type": "integer"
        },
        "startTimeIncrementMinutes": {
          "description": "Required. The time increment (in minutes) used to generate the set of possible event start times between `minimum_minutes_after_shift_start` and `maximum_minutes_after_shift_start`. For example, if the minimum minutes after shift start are 30, maximum minutes after shift start are 45, and the start time increment is 5 minutes, the event can take place 30, 35, 40, or 45 minutes after the start of the shift.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "Required. Unique ID of this template.",
          "type": "string"
        },
        "maximumMinutesAfterShiftStart": {
          "type": "integer",
          "description": "Optional. Maximum number of minutes after the beginning of a shift that this event can start.",
          "format": "int32"
        }
      },
      "id": "EventTemplate"
    },
    "PrivateAccess": {
      "id": "PrivateAccess",
      "properties": {
        "egressSettings": {
          "description": "List of egress components that should not be accessed via the Internet. For more information see go/ccaip-private-path-v2.",
          "items": {
            "$ref": "Component"
          },
          "type": "array"
        },
        "ingressSettings": {
          "type": "array",
          "description": "List of ingress components that should not be accessed via the Internet. For more information see go/ccaip-private-path-v2.",
          "items": {
            "$ref": "Component"
          }
        },
        "pscSetting": {
          "description": "Private service connect settings.",
          "$ref": "PscSetting"
        }
      },
      "description": "Defines ingress and egress private traffic settings for CCAIP instances.",
      "type": "object"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "Component": {
      "type": "object",
      "description": "Defines a logical CCAIP component that e.g. “EMAIL”, \"CRM\". For more information see go/ccaip-private-path-v2. Each logical component is associated with a list of service attachments.",
      "properties": {
        "serviceAttachmentNames": {
          "type": "array",
          "description": "Associated service attachments. The service attachment names that will be used for sending private traffic to the CCAIP tenant project. Example service attachment name: \"projects/${TENANT_PROJECT_ID}/regions/${REGION}/serviceAttachments/ingress-default\".",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the component.",
          "type": "string"
        }
      },
      "id": "Component"
    },
    "ContactCenterQuota": {
      "id": "ContactCenterQuota",
      "properties": {
        "contactCenterCountSum": {
          "description": "Deprecated: Use the Quota fields instead. Reflects the count sum of contact centers on a billing account.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "contactCenterCountLimit": {
          "description": "Deprecated: Use the Quota fields instead. Reflects the count limit of contact centers on a billing account.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "quotas": {
          "description": "Quota details per contact center instance type.",
          "items": {
            "$ref": "Quota"
          },
          "type": "array"
        }
      },
      "description": "Represents a quota for contact centers.",
      "type": "object"
    },
    "FeatureConfig": {
      "id": "FeatureConfig",
      "properties": {
        "agentDesktopEnabled": {
          "description": "Optional. If true - enables the agent desktop feature. Default is false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PlanningHorizon": {
      "properties": {
        "startTime": {
          "description": "Required. Start of the time interval for the given demand (inclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        },
        "endTime": {
          "description": "Required. End of the time interval for the given demand (exclusive). These values are read down to the minute; seconds and all smaller units are ignored.",
          "$ref": "DateTime"
        }
      },
      "id": "PlanningHorizon",
      "type": "object",
      "description": "Specifies the time interval during which the solver should generate shifts. The start time must be before the end time."
    },
    "WorkforceDemandList": {
      "id": "WorkforceDemandList",
      "properties": {
        "values": {
          "description": "Optional. Values in the list.",
          "items": {
            "$ref": "WorkforceDemand"
          },
          "type": "array"
        }
      },
      "description": "List of workforce demands.",
      "type": "object"
    },
    "UnwantedEventInterval": {
      "properties": {
        "startTime": {
          "description": "Required. Start time of the event.",
          "$ref": "DateTime"
        },
        "durationMinutes": {
          "type": "integer",
          "description": "Required. Duration of the event.",
          "format": "int32"
        }
      },
      "id": "UnwantedEventInterval",
      "type": "object",
      "description": "Specifies a time interval during which the overlap with events (generated from event templates) should be minimal."
    },
    "Normal": {
      "id": "Normal",
      "properties": {},
      "description": "Instances in this Channel will receive updates after all instances in `Early` were updated + 2 days.",
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "contactcenteraiplatform",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "baseUrl": "https://contactcenteraiplatform.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "contactcenteraiplatform.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}"
                },
                "cancel": {
                  "path": "v1alpha1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.operations.list"
                }
              }
            },
            "contactCenters": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "name of resource",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the ContactCenter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "description": "Updates the parameters of a single ContactCenter."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a single ContactCenter.",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "description": "Required. Name of the resource",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a single ContactCenter.",
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ContactCenter"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "description": "Required. Name of the resource",
                      "required": true
                    }
                  }
                },
                "list": {
                  "path": "v1alpha1/{+parent}/contactCenters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListContactCentersResponse"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListContactCentersRequest",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.list",
                  "httpMethod": "GET",
                  "description": "Lists ContactCenters in a given project and location."
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "description": "Creates a new ContactCenter in a given project and location.",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "parameters": {
                    "contactCenterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and contact_center_id from the method_signature of Create RPC"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/contactCenters"
                }
              }
            }
          },
          "methods": {
            "queryContactCenterQuota": {
              "id": "contactcenteraiplatform.projects.locations.queryContactCenterQuota",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Queries the contact center quota, an aggregation over all the projects, that belongs to the billing account, which the input project belongs to.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+parent}:queryContactCenterQuota",
              "response": {
                "$ref": "ContactCenterQuota"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:queryContactCenterQuota",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent project resource id.",
                  "required": true
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                }
              },
              "id": "contactcenteraiplatform.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project."
            },
            "generateShifts": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GenerateShiftsRequest"
              },
              "description": "Generates shifts constrained by various parameters.",
              "id": "contactcenteraiplatform.projects.locations.generateShifts",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:generateShifts",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Name of the parent resource associated with the request. Format: projects/{project}/locations/{location}",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+parent}:generateShifts"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "contactcenteraiplatform.projects.locations.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  }
}