{
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://dataflow.googleapis.com/",
  "canonicalName": "Dataflow",
  "basePath": "",
  "revision": "20260405",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1b3",
  "fullyEncodeReservedExpansion": true,
  "id": "dataflow:v1b3",
  "documentationLink": "https://cloud.google.com/dataflow",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://dataflow.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "title": "Dataflow API",
  "schemas": {
    "JobExecutionStageInfo": {
      "type": "object",
      "properties": {
        "stepName": {
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "JobExecutionStageInfo",
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed."
    },
    "Snapshot": {
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "The time after which this snapshot will be automatically deleted."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "description": "State of the snapshot."
        },
        "pubsubMetadata": {
          "type": "array",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "description": "Pub/Sub snapshot metadata."
        },
        "creationTime": {
          "description": "The time this snapshot was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "diskSizeBytes": {
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "type": "string",
          "format": "int64"
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "region": {
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\".",
          "type": "string"
        },
        "projectId": {
          "description": "The project this snapshot belongs to.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a snapshot of a job.",
      "id": "Snapshot"
    },
    "WorkerDetails": {
      "properties": {
        "workerName": {
          "type": "string",
          "description": "Name of this worker"
        },
        "workItems": {
          "type": "array",
          "description": "Work items processed by this worker, sorted by time.",
          "items": {
            "$ref": "WorkItemDetails"
          }
        }
      },
      "type": "object",
      "description": "Information about a worker",
      "id": "WorkerDetails"
    },
    "WorkerShutdownNotice": {
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "id": "WorkerShutdownNotice",
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceGetMetadataRequest": {
      "description": "A request to compute the SourceMetadata of a Source.",
      "id": "SourceGetMetadataRequest",
      "properties": {
        "source": {
          "description": "Specification of the source whose metadata should be computed.",
          "$ref": "Source"
        }
      },
      "type": "object"
    },
    "WorkerMessage": {
      "description": "WorkerMessage provides information to the backend about a worker.",
      "id": "WorkerMessage",
      "properties": {
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "workerShutdownNotice": {
          "description": "Shutdown notice by workers.",
          "$ref": "WorkerShutdownNotice"
        },
        "labels": {
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "workerHealthReport": {
          "description": "The health of a worker.",
          "$ref": "WorkerHealthReport"
        },
        "workerMetrics": {
          "description": "Resource metrics reported by workers.",
          "$ref": "ResourceUtilizationReport"
        },
        "workerThreadScalingReport": {
          "description": "Thread scaling information reported by workers.",
          "$ref": "WorkerThreadScalingReport"
        },
        "dataSamplingReport": {
          "description": "Optional. Contains metrics related to go/dataflow-data-sampling-telemetry.",
          "$ref": "DataSamplingReport"
        },
        "streamingScalingReport": {
          "description": "Contains per-user worker telemetry used in streaming autoscaling.",
          "$ref": "StreamingScalingReport"
        },
        "perWorkerMetrics": {
          "description": "System defined metrics for this worker.",
          "$ref": "PerWorkerMetrics"
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the worker_message."
        },
        "workerLifecycleEvent": {
          "description": "Record of worker lifecycle events.",
          "$ref": "WorkerLifecycleEvent"
        }
      },
      "type": "object"
    },
    "CounterMetadata": {
      "properties": {
        "otherUnits": {
          "type": "string",
          "description": "A string referring to the unit type."
        },
        "kind": {
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "type": "string",
          "description": "Counter aggregation kind."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        },
        "standardUnits": {
          "type": "string",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ],
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "description": "System defined Units, see above enum."
        }
      },
      "type": "object",
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "id": "CounterMetadata"
    },
    "JobMetrics": {
      "type": "object",
      "properties": {
        "metricTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp as of which metric values are current."
        },
        "metrics": {
          "description": "All metrics for this job.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array"
        }
      },
      "id": "JobMetrics",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. For more information, see [Dataflow job metrics] (https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf). This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring."
    },
    "ParameterMetadataEnumOption": {
      "id": "ParameterMetadataEnumOption",
      "description": "ParameterMetadataEnumOption specifies the option shown in the enum form.",
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Optional. The label to display for the enum option."
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the enum option."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description to display for the enum option."
        }
      }
    },
    "ConcatPosition": {
      "type": "object",
      "properties": {
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the inner source."
        }
      },
      "id": "ConcatPosition",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources."
    },
    "DataflowGaugeValue": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The value of the gauge."
        },
        "measuredTime": {
          "description": "The timestamp when the gauge was recorded.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DataflowGaugeValue",
      "description": "The gauge value of a metric."
    },
    "ReadInstruction": {
      "id": "ReadInstruction",
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "type": "object",
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      }
    },
    "ComputationTopology": {
      "description": "All configuration data for a particular Computation.",
      "id": "ComputationTopology",
      "properties": {
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "inputs": {
          "description": "The inputs to the computation.",
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array"
        },
        "stateFamilies": {
          "type": "array",
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          }
        },
        "systemStageName": {
          "description": "The system stage name.",
          "type": "string"
        },
        "keyRanges": {
          "type": "array",
          "description": "The key ranges processed by the computation.",
          "items": {
            "$ref": "KeyRangeLocation"
          }
        },
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          },
          "description": "The outputs from the computation."
        }
      },
      "type": "object"
    },
    "WorkItemStatus": {
      "properties": {
        "metricUpdates": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "DEPRECATED in favor of counter_updates.",
          "type": "array",
          "deprecated": true
        },
        "counterUpdates": {
          "description": "Worker output counters for this WorkItem.",
          "items": {
            "$ref": "CounterUpdate"
          },
          "type": "array"
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number",
          "format": "double"
        },
        "reportIndex": {
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "type": "string",
          "format": "int64"
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "type": "string",
          "format": "google-duration"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "sourceFork": {
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "$ref": "SourceFork",
          "deprecated": true
        },
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "progress": {
          "deprecated": true,
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        }
      },
      "type": "object",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "id": "WorkItemStatus"
    },
    "WorkerMessageResponse": {
      "type": "object",
      "properties": {
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        },
        "workerThreadScalingReportResponse": {
          "description": "Service's thread scaling recommendation for workers.",
          "$ref": "WorkerThreadScalingReportResponse"
        },
        "workerHealthReportResponse": {
          "description": "The service's response to a worker's health report.",
          "$ref": "WorkerHealthReportResponse"
        },
        "streamingScalingReportResponse": {
          "description": "Service's streaming scaling response for workers.",
          "$ref": "StreamingScalingReportResponse"
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        }
      },
      "id": "WorkerMessageResponse",
      "description": "A worker_message response allows the server to pass information to the sender."
    },
    "PubsubSnapshotMetadata": {
      "properties": {
        "topicName": {
          "description": "The name of the Pubsub topic.",
          "type": "string"
        },
        "snapshotName": {
          "type": "string",
          "description": "The name of the Pubsub snapshot."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expire time of the Pubsub snapshot."
        }
      },
      "type": "object",
      "description": "Represents a Pubsub snapshot.",
      "id": "PubsubSnapshotMetadata"
    },
    "ProgressTimeseries": {
      "properties": {
        "currentProgress": {
          "type": "number",
          "format": "double",
          "description": "The current progress of the component, in the range [0,1]."
        },
        "dataPoints": {
          "type": "array",
          "description": "History of progress for the component. Points are sorted by time.",
          "items": {
            "$ref": "Point"
          }
        }
      },
      "type": "object",
      "description": "Information about the progress of some component of job execution.",
      "id": "ProgressTimeseries"
    },
    "SourceGetMetadataResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "The computed metadata.",
          "$ref": "SourceMetadata"
        }
      },
      "id": "SourceGetMetadataResponse",
      "description": "The result of a SourceGetMetadataOperation."
    },
    "RuntimeEnvironment": {
      "id": "RuntimeEnvironment",
      "description": "The environment values to set at runtime.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "streamingMode": {
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ],
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "type": "string"
        },
        "numWorkers": {
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11.",
          "type": "integer",
          "format": "int32"
        },
        "additionalUserLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of the service account to run the job as."
        },
        "additionalExperiments": {
          "type": "array",
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option.",
          "items": {
            "type": "string"
          }
        },
        "subnetwork": {
          "description": "Optional. Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "tempLocation": {
          "type": "string",
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "bypassTempDirValidation": {
          "type": "boolean",
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution."
        },
        "workerZone": {
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "maxWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000. The default value is 1."
        },
        "additionalPipelineOptions": {
          "description": "Optional. Additional pipeline option flags for the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "ipConfiguration": {
          "description": "Optional. Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "enableStreamingEngine": {
          "description": "Optional. Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "diskSizeGb": {
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance.",
          "type": "integer",
          "format": "int32"
        },
        "machineType": {
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "workerRegion": {
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        }
      }
    },
    "LaunchFlexTemplateRequest": {
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "id": "LaunchFlexTemplateRequest",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IntegerMean": {
      "description": "A representation of an integer mean metric contribution.",
      "id": "IntegerMean",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      },
      "type": "object"
    },
    "Base2Exponent": {
      "type": "object",
      "properties": {
        "scale": {
          "type": "integer",
          "format": "int32",
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`."
        },
        "numberOfBuckets": {
          "type": "integer",
          "format": "int32",
          "description": "Must be greater than 0."
        }
      },
      "id": "Base2Exponent",
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))"
    },
    "WorkerHealthReportResponse": {
      "properties": {
        "reportInterval": {
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "id": "WorkerHealthReportResponse"
    },
    "ApproximateReportedProgress": {
      "id": "ApproximateReportedProgress",
      "description": "A progress measurement of a WorkItem by a worker.",
      "type": "object",
      "properties": {
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        },
        "remainingParallelism": {
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off.",
          "$ref": "ReportedParallelism"
        },
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite.",
          "$ref": "ReportedParallelism"
        },
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed)."
        }
      }
    },
    "KeyRangeLocation": {
      "properties": {
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "deliveryEndpoint": {
          "type": "string",
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery."
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "deprecatedPersistentDirectory": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      },
      "type": "object",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "id": "KeyRangeLocation"
    },
    "MetricStructuredName": {
      "properties": {
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "context": {
          "type": "object",
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "id": "MetricStructuredName"
    },
    "InstructionInput": {
      "id": "InstructionInput",
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "type": "object",
      "properties": {
        "producerInstructionIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask."
        },
        "outputNum": {
          "description": "The output index (origin zero) within the producer.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ComponentSource": {
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "id": "ComponentSource",
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        }
      },
      "type": "object"
    },
    "PubsubLocation": {
      "properties": {
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "topic": {
          "type": "string",
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\""
        },
        "timestampLabel": {
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival.",
          "type": "string"
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "dynamicDestinations": {
          "type": "boolean",
          "description": "If true, then this location represents dynamic topics."
        },
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        },
        "idLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort."
        }
      },
      "type": "object",
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "id": "PubsubLocation"
    },
    "DynamicSourceSplit": {
      "type": "object",
      "properties": {
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        },
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        }
      },
      "id": "DynamicSourceSplit",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
    },
    "StructuredMessage": {
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "id": "StructuredMessage",
      "properties": {
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        },
        "messageKey": {
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The structured data associated with this message.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SourceMetadata": {
      "id": "SourceMetadata",
      "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc.",
      "type": "object",
      "properties": {
        "estimatedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader."
        },
        "producesSortedKeys": {
          "type": "boolean",
          "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order."
        },
        "infinite": {
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source).",
          "type": "boolean"
        }
      }
    },
    "TemplateMetadata": {
      "type": "object",
      "properties": {
        "defaultStreamingMode": {
          "type": "string",
          "description": "Optional. Indicates the default streaming mode for a streaming template. Only valid if both supports_at_least_once and supports_exactly_once are true. Possible values: UNSPECIFIED, EXACTLY_ONCE and AT_LEAST_ONCE"
        },
        "yamlDefinition": {
          "type": "string",
          "description": "Optional. For future use."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the template."
        },
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template.",
          "type": "array"
        },
        "supportsAtLeastOnce": {
          "description": "Optional. Indicates if the streaming template supports at least once mode.",
          "type": "boolean"
        },
        "supportsExactlyOnce": {
          "description": "Optional. Indicates if the streaming template supports exactly once mode.",
          "type": "boolean"
        },
        "streaming": {
          "type": "boolean",
          "description": "Optional. Indicates if the template is streaming or not."
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        }
      },
      "id": "TemplateMetadata",
      "description": "Metadata describing a template."
    },
    "WorkerShutdownNoticeResponse": {
      "properties": {},
      "type": "object",
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
      "id": "WorkerShutdownNoticeResponse"
    },
    "Environment": {
      "type": "object",
      "properties": {
        "useStreamingEngineResourceBasedBilling": {
          "type": "boolean",
          "description": "Output only. Whether the job uses the Streaming Engine resource-based billing model.",
          "readOnly": true
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. Identity to run virtual machines as. Defaults to the default account."
        },
        "flexResourceSchedulingGoal": {
          "description": "Optional. Which Flexible Resource Scheduling mode to run in.",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string"
        },
        "streamingMode": {
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ],
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes)."
        },
        "serviceOptions": {
          "type": "array",
          "description": "Optional. The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on).",
          "items": {
            "type": "string"
          }
        },
        "workerZone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity."
        },
        "workerPools": {
          "items": {
            "$ref": "WorkerPool"
          },
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "type": "array"
        },
        "internalExperiments": {
          "description": "Experimental settings.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "experiments": {
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "dataset": {
          "description": "Optional. The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "Optional. If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "debugOptions": {
          "description": "Optional. Any debugging options to be supplied to the job.",
          "$ref": "DebugOptions"
        },
        "sdkPipelineOptions": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "type": "object"
        },
        "shuffleMode": {
          "type": "string",
          "description": "Output only. The shuffle mode used for the job.",
          "readOnly": true,
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ],
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ]
        },
        "userAgent": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. A description of the process that generated the request.",
          "type": "object"
        },
        "workerRegion": {
          "type": "string",
          "description": "Optional. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "usePublicIps": {
          "description": "Optional. True when any worker pool that uses public IPs is present.",
          "type": "boolean"
        },
        "version": {
          "description": "A structure describing which components and their versions of the service are required in order to run the job.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "Environment",
      "description": "Describes the environment in which a Dataflow Job runs."
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "id": "Disk",
      "properties": {
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "SourceSplitShard": {
      "properties": {
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        },
        "derivationMode": {
          "description": "DEPRECATED",
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      },
      "type": "object",
      "description": "DEPRECATED in favor of DerivedSource.",
      "id": "SourceSplitShard"
    },
    "ParameterMetadata": {
      "id": "ParameterMetadata",
      "description": "Metadata for a specific parameter.",
      "type": "object",
      "properties": {
        "customMetadata": {
          "type": "object",
          "description": "Optional. Additional metadata for describing this parameter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "parentName": {
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field.",
          "type": "string"
        },
        "groupName": {
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the parameter.",
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean."
        },
        "hiddenUi": {
          "description": "Optional. Whether the parameter should be hidden in the UI.",
          "type": "boolean"
        },
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Regexes that the parameter must match.",
          "type": "array"
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "enumOptions": {
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          },
          "description": "Optional. The options shown when ENUM ParameterType is specified.",
          "type": "array"
        },
        "parentTriggerValues": {
          "type": "array",
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided).",
          "items": {
            "type": "string"
          }
        },
        "paramType": {
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input.",
            "Deprecated. Please use KAFKA_READ_TOPIC instead.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be either a Google Managed Kafka topic or a non-managed Kafka topic.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be an existing Google Managed Kafka topic, the name for a new Google Managed Kafka topic, or an existing non-managed Kafka topic."
          ],
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER",
            "KAFKA_TOPIC",
            "KAFKA_READ_TOPIC",
            "KAFKA_WRITE_TOPIC"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "type": "string"
        }
      }
    },
    "SpannerIODetails": {
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for a Spanner connector used by the job.",
      "id": "SpannerIODetails"
    },
    "ApproximateSplitRequest": {
      "properties": {
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionOfRemainder": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input)."
        },
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input)."
        }
      },
      "type": "object",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "id": "ApproximateSplitRequest"
    },
    "SourceSplitRequest": {
      "id": "SourceSplitRequest",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Specification of the source to be split.",
          "$ref": "Source"
        },
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        }
      }
    },
    "JobMetadata": {
      "type": "object",
      "properties": {
        "sdkVersion": {
          "description": "The SDK version used to run the job.",
          "$ref": "SdkVersion"
        },
        "datastoreDetails": {
          "type": "array",
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "description": "Identification of a Datastore source used in the Dataflow job."
        },
        "bigTableDetails": {
          "type": "array",
          "description": "Identification of a Cloud Bigtable source used in the Dataflow job.",
          "items": {
            "$ref": "BigTableIODetails"
          }
        },
        "spannerDetails": {
          "type": "array",
          "items": {
            "$ref": "SpannerIODetails"
          },
          "description": "Identification of a Spanner source used in the Dataflow job."
        },
        "pubsubDetails": {
          "items": {
            "$ref": "PubSubIODetails"
          },
          "description": "Identification of a Pub/Sub source used in the Dataflow job.",
          "type": "array"
        },
        "fileDetails": {
          "description": "Identification of a File source used in the Dataflow job.",
          "items": {
            "$ref": "FileIODetails"
          },
          "type": "array"
        },
        "bigqueryDetails": {
          "type": "array",
          "items": {
            "$ref": "BigQueryIODetails"
          },
          "description": "Identification of a BigQuery source used in the Dataflow job."
        },
        "userDisplayProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "List of display properties to help UI filter jobs."
        }
      },
      "id": "JobMetadata",
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view."
    },
    "StreamingSetupTask": {
      "id": "StreamingSetupTask",
      "description": "A task which initializes part of a streaming Dataflow job.",
      "type": "object",
      "properties": {
        "drain": {
          "type": "boolean",
          "description": "The user has requested drain."
        },
        "receiveWorkPort": {
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "type": "integer",
          "format": "int32"
        },
        "workerHarnessPort": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness."
        },
        "streamingComputationTopology": {
          "description": "The global topology of the streaming Dataflow job.",
          "$ref": "TopologyConfig"
        },
        "snapshotConfig": {
          "description": "Configures streaming appliance snapshot.",
          "$ref": "StreamingApplianceSnapshotConfig"
        }
      }
    },
    "DataSamplingConfig": {
      "properties": {
        "behaviors": {
          "type": "array",
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ],
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ]
          }
        }
      },
      "type": "object",
      "description": "Configuration options for sampling elements.",
      "id": "DataSamplingConfig"
    },
    "DeleteSnapshotResponse": {
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse",
      "properties": {},
      "type": "object"
    },
    "BoundedTrieNode": {
      "properties": {
        "truncated": {
          "type": "boolean",
          "description": "Whether this node has been truncated. A truncated leaf represents possibly many children with the same prefix."
        },
        "children": {
          "description": "Children of this node. Must be empty if truncated is true.",
          "additionalProperties": {
            "$ref": "BoundedTrieNode"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "A single node in a BoundedTrie.",
      "id": "BoundedTrieNode"
    },
    "SourceOperationResponse": {
      "id": "SourceOperationResponse",
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "type": "object",
      "properties": {
        "split": {
          "description": "A response to a request to split a source.",
          "$ref": "SourceSplitResponse"
        },
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        }
      }
    },
    "JobMessage": {
      "properties": {
        "time": {
          "description": "The timestamp of the message.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageImportance": {
          "description": "Importance level of the message.",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        },
        "id": {
          "type": "string",
          "description": "Deprecated."
        }
      },
      "type": "object",
      "description": "A particular message pertaining to a Dataflow job.",
      "id": "JobMessage"
    },
    "StreamLocation": {
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "id": "StreamLocation",
      "properties": {
        "customSourceLocation": {
          "description": "The stream is a custom source.",
          "$ref": "CustomSourceLocation"
        },
        "sideInputLocation": {
          "description": "The stream is a streaming side input.",
          "$ref": "StreamingSideInputLocation"
        },
        "streamingStageLocation": {
          "description": "The stream is part of another computation within the current streaming Dataflow job.",
          "$ref": "StreamingStageLocation"
        },
        "pubsubLocation": {
          "description": "The stream is a pubsub stream.",
          "$ref": "PubsubLocation"
        }
      },
      "type": "object"
    },
    "StreamingOperationalLimits": {
      "id": "StreamingOperationalLimits",
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "type": "object",
      "properties": {
        "maxGlobalDataBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for an element in global data."
        },
        "maxProductionOutputBytes": {
          "description": "The maximum size for a single output element.",
          "type": "string",
          "format": "int64"
        },
        "maxKeyBytes": {
          "description": "The maximum size allowed for a key.",
          "type": "string",
          "format": "int64"
        },
        "maxTagBytes": {
          "description": "The maximum size for a state tag.",
          "type": "string",
          "format": "int64"
        },
        "maxValueBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a value state field."
        },
        "maxBagElementBytes": {
          "description": "The maximum size for an element in bag state.",
          "type": "string",
          "format": "int64"
        },
        "maxSortedListElementBytes": {
          "description": "The maximum size for an element in sorted list state.",
          "type": "string",
          "format": "int64"
        },
        "maxSourceStateBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a source state update."
        }
      }
    },
    "CounterStructuredNameAndMetadata": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        },
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        }
      },
      "id": "CounterStructuredNameAndMetadata",
      "description": "A single message which encapsulates structured name and metadata for a given counter."
    },
    "StreamingApplianceSnapshotConfig": {
      "type": "object",
      "properties": {
        "snapshotId": {
          "type": "string",
          "description": "If set, indicates the snapshot id for the snapshot being performed."
        },
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        }
      },
      "id": "StreamingApplianceSnapshotConfig",
      "description": "Streaming appliance snapshot configuration."
    },
    "Straggler": {
      "description": "Information for a straggler.",
      "id": "Straggler",
      "properties": {
        "batchStraggler": {
          "description": "Batch straggler identification and debugging information.",
          "$ref": "StragglerInfo"
        },
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        }
      },
      "type": "object"
    },
    "ComponentTransform": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        }
      },
      "type": "object",
      "description": "Description of a transform executed as part of an execution stage.",
      "id": "ComponentTransform"
    },
    "TransformSummary": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "SDK generated id of this transform instance."
        },
        "outputCollectionName": {
          "items": {
            "type": "string"
          },
          "description": "User names for all collection outputs to this transform.",
          "type": "array"
        },
        "kind": {
          "description": "Type of transform.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "name": {
          "type": "string",
          "description": "User provided name for this transform instance."
        },
        "displayData": {
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Transform-specific display data."
        },
        "inputCollectionName": {
          "items": {
            "type": "string"
          },
          "description": "User names for all collection inputs to this transform.",
          "type": "array"
        }
      },
      "id": "TransformSummary",
      "description": "Description of the type, names/ids, and input/outputs for a transform."
    },
    "GPUUtilization": {
      "type": "object",
      "properties": {
        "rate": {
          "type": "number",
          "format": "double",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1]."
        }
      },
      "id": "GPUUtilization",
      "description": "Utilization details about the GPU."
    },
    "ApproximateProgress": {
      "type": "object",
      "properties": {
        "remainingTime": {
          "description": "Obsolete.",
          "deprecated": true,
          "type": "string",
          "format": "google-duration"
        },
        "percentComplete": {
          "description": "Obsolete.",
          "type": "number",
          "format": "float",
          "deprecated": true
        },
        "position": {
          "description": "Obsolete.",
          "$ref": "Position",
          "deprecated": true
        }
      },
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest."
    },
    "CounterUpdate": {
      "id": "CounterUpdate",
      "description": "An update to a Counter sent from a worker. Next ID: 17",
      "type": "object",
      "properties": {
        "floatingPoint": {
          "type": "number",
          "format": "double",
          "description": "Floating point value for Sum, Max, Min."
        },
        "integer": {
          "description": "Integer value for Sum, Max, Min.",
          "$ref": "SplitInt64"
        },
        "boolean": {
          "description": "Boolean value for And, Or.",
          "type": "boolean"
        },
        "integerMean": {
          "description": "Integer mean aggregation value for Mean.",
          "$ref": "IntegerMean"
        },
        "shortId": {
          "description": "The service-generated short identifier for this counter. The short_id -> (name, metadata) mapping is constant for the lifetime of a job.",
          "type": "string",
          "format": "int64"
        },
        "internal": {
          "type": "any",
          "description": "Value for internally-defined counters used by the Dataflow service."
        },
        "boundedTrie": {
          "description": "Bounded trie data",
          "$ref": "BoundedTrie"
        },
        "integerGauge": {
          "description": "Gauge data",
          "$ref": "IntegerGauge"
        },
        "distribution": {
          "description": "Distribution data",
          "$ref": "DistributionUpdate"
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        },
        "integerList": {
          "description": "List of integers, for Set.",
          "$ref": "IntegerList"
        },
        "structuredNameAndMetadata": {
          "description": "Counter structured name and metadata.",
          "$ref": "CounterStructuredNameAndMetadata"
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta."
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        }
      }
    },
    "GPUUsage": {
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "Required. Timestamp of the measurement.",
          "type": "string",
          "format": "google-datetime"
        },
        "utilization": {
          "description": "Required. Utilization info about the GPU.",
          "$ref": "GPUUtilization"
        }
      },
      "id": "GPUUsage",
      "description": "Information about the GPU usage on the worker."
    },
    "Step": {
      "properties": {
        "properties": {
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job."
        }
      },
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "id": "Step"
    },
    "ServiceResources": {
      "properties": {
        "zones": {
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Resources used by the Dataflow Service to run the job.",
      "id": "ServiceResources"
    },
    "MountedDataDisk": {
      "type": "object",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "id": "MountedDataDisk",
      "description": "Describes mounted data disk."
    },
    "LeaseWorkItemResponse": {
      "description": "Response to a request to lease WorkItems.",
      "id": "LeaseWorkItemResponse",
      "properties": {
        "unifiedWorkerResponse": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "items": {
            "$ref": "WorkItem"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RuntimeUpdatableParams": {
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation.",
      "id": "RuntimeUpdatableParams",
      "properties": {
        "maxNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs."
        },
        "latencyTier": {
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "type": "string"
        },
        "workerUtilizationHint": {
          "type": "number",
          "format": "double",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline)."
        },
        "acceptableBacklogDuration": {
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative.",
          "type": "string",
          "format": "google-duration",
          "deprecated": true
        },
        "minNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs."
        },
        "autoscalingTier": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\"."
        }
      },
      "type": "object"
    },
    "CreateJobFromTemplateRequest": {
      "id": "CreateJobFromTemplateRequest",
      "description": "A request to create a Cloud Dataflow job from a template.",
      "type": "object",
      "properties": {
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        }
      }
    },
    "SdkHarnessContainerImage": {
      "id": "SdkHarnessContainerImage",
      "description": "Defines an SDK harness container for executing Dataflow pipelines.",
      "type": "object",
      "properties": {
        "environmentId": {
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness.",
          "type": "string"
        },
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        },
        "capabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)"
        }
      }
    },
    "DerivedSource": {
      "properties": {
        "source": {
          "description": "Specification of the source.",
          "$ref": "Source"
        },
        "derivationMode": {
          "description": "What source to base the produced source on (if any).",
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      },
      "type": "object",
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "id": "DerivedSource"
    },
    "StreamingStageLocation": {
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "id": "StreamingStageLocation",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "Identifies the particular stream within the streaming Dataflow job."
        }
      },
      "type": "object"
    },
    "IntegerGauge": {
      "description": "A metric value representing temporal values of a variable.",
      "id": "IntegerGauge",
      "properties": {
        "value": {
          "description": "The value of the variable represented by this gauge.",
          "$ref": "SplitInt64"
        },
        "timestamp": {
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "PerStepNamespaceMetrics": {
      "type": "object",
      "properties": {
        "metricValues": {
          "description": "Optional. Metrics that are recorded for this namespace and unfused step.",
          "items": {
            "$ref": "MetricValue"
          },
          "type": "array"
        },
        "metricsNamespace": {
          "type": "string",
          "description": "The namespace of these metrics on the worker."
        },
        "originalStep": {
          "description": "The original system name of the unfused step that these metrics are reported from.",
          "type": "string"
        }
      },
      "id": "PerStepNamespaceMetrics",
      "description": "Metrics for a particular unfused step and namespace. A metric is uniquely identified by the `metrics_namespace`, `original_step`, `metric name` and `metric_labels`."
    },
    "HotKeyDebuggingInfo": {
      "description": "Information useful for debugging a hot key detection.",
      "id": "HotKeyDebuggingInfo",
      "properties": {
        "detectedHotKeys": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          },
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key."
        }
      },
      "type": "object"
    },
    "SnapshotJobRequest": {
      "properties": {
        "ttl": {
          "description": "TTL for the snapshot.",
          "type": "string",
          "format": "google-duration"
        },
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        },
        "location": {
          "type": "string",
          "description": "The location that contains this job."
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        }
      },
      "type": "object",
      "description": "Request to create a snapshot of a job.",
      "id": "SnapshotJobRequest"
    },
    "LaunchFlexTemplateParameter": {
      "type": "object",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "type": "object"
        },
        "transformNameMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "type": "object"
        },
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content."
        },
        "launchOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
        },
        "update": {
          "type": "boolean",
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        }
      },
      "id": "LaunchFlexTemplateParameter",
      "description": "Launch FlexTemplate Parameter."
    },
    "SeqMapTaskOutputInfo": {
      "id": "SeqMapTaskOutputInfo",
      "description": "Information about an output of a SeqMapTask.",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the TupleTag the user code will tag the output value by."
        },
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        }
      }
    },
    "Parameter": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        }
      },
      "id": "Parameter",
      "description": "Structured data associated with this message."
    },
    "MapTask": {
      "properties": {
        "counterPrefix": {
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow.",
          "type": "string"
        },
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "The instructions in the MapTask.",
          "type": "array"
        },
[...]
