{
  "documentationLink": "https://cloud.google.com/dataproc/",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "rootUrl": "https://dataproc.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        }
      }
    }
  },
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "servicePath": "",
  "title": "Cloud Dataproc API",
  "schemas": {
    "ExecutorPeakMetricsDistributions": {
      "properties": {
        "executorMetrics": {
          "type": "array",
          "items": {
            "$ref": "ExecutorMetrics"
          }
        },
        "quantiles": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "ExecutorPeakMetricsDistributions",
      "type": "object"
    },
    "MemoryMetrics": {
      "id": "MemoryMetrics",
      "type": "object",
      "properties": {
        "usedOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "usedOffHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOffHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ClusterStatus": {
      "id": "ClusterStatus",
      "type": "object",
      "description": "The status of a cluster and its instances.",
      "properties": {
        "stateStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this state was entered (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CREATING",
            "RUNNING",
            "ERROR",
            "ERROR_DUE_TO_UPDATE",
            "DELETING",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "REPAIRING",
            "SCHEDULED"
          ],
          "description": "Output only. The cluster's state.",
          "readOnly": true,
          "enumDescriptions": [
            "The cluster state is unknown.",
            "The cluster is being created and set up. It is not ready for use.",
            "The cluster is currently running and healthy. It is ready for use.Note: The cluster state changes from \"creating\" to \"running\" status after the master node(s), first two primary worker nodes (and the last primary worker node if primary workers > 2) are running.",
            "The cluster encountered an error. It is not ready for use.",
            "The cluster has encountered an error while being updated. Jobs can be submitted to the cluster, but the cluster cannot be updated.",
            "The cluster is being deleted. It cannot be used.",
            "The cluster is being updated. It continues to accept and process jobs.",
            "The cluster is being stopped. It cannot be used.",
            "The cluster is currently stopped. It is not ready for use.",
            "The cluster is being started. It is not ready for use.",
            "The cluster is being repaired. It is not ready for use.",
            "Cluster creation is currently waiting for resources to be available. Once all resources are available, it will transition to CREATING and then RUNNING."
          ]
        },
        "detail": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Details of cluster's state."
        },
        "substate": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNHEALTHY",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information that includes status reported by the agent.",
          "readOnly": true,
          "enumDescriptions": [
            "The cluster substate is unknown.",
            "The cluster is known to be in an unhealthy state (for example, critical daemons are not running or HDFS capacity is exhausted).Applies to RUNNING state.",
            "The agent-reported status is out of date (may occur if Dataproc loses communication with Agent).Applies to RUNNING state."
          ]
        }
      }
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "properties": {
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have the vTPM enabled."
        },
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether instances have integrity monitoring enabled.",
          "type": "boolean"
        }
      },
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm)."
    },
    "SparkPlanGraph": {
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SparkPlanGraphNodeWrapper"
          }
        },
        "edges": {
          "type": "array",
          "items": {
            "$ref": "SparkPlanGraphEdge"
          }
        },
        "executionId": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A graph used for storing information of an executionPlan of DataFrame.",
      "id": "SparkPlanGraph",
      "type": "object"
    },
    "WorkflowTemplatePlacement": {
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required.",
      "properties": {
        "managedCluster": {
          "description": "A cluster that is managed by the workflow.",
          "$ref": "ManagedCluster"
        },
        "clusterSelector": {
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted.",
          "$ref": "ClusterSelector"
        }
      },
      "id": "WorkflowTemplatePlacement",
      "type": "object"
    },
    "RddPartitionInfo": {
      "id": "RddPartitionInfo",
      "type": "object",
      "description": "Information about RDD partitions.",
      "properties": {
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "blockName": {
          "type": "string"
        },
        "storageLevel": {
          "type": "string"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "executors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SparkJob": {
      "id": "SparkJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN.",
      "properties": {
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file that contains the main class."
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "type": "array"
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "fileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in SparkJob.jar_file_uris.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RddOperationGraph": {
      "properties": {
        "rootCluster": {
          "$ref": "RddOperationCluster"
        },
        "incomingEdges": {
          "type": "array",
          "items": {
            "$ref": "RddOperationEdge"
          }
        },
        "edges": {
          "type": "array",
          "items": {
            "$ref": "RddOperationEdge"
          }
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "outgoingEdges": {
          "type": "array",
          "items": {
            "$ref": "RddOperationEdge"
          }
        }
      },
      "description": "Graph representing RDD dependencies. Consists of edges and a root cluster.",
      "id": "RddOperationGraph",
      "type": "object"
    },
    "AccessSessionSparkApplicationJobResponse": {
      "id": "AccessSessionSparkApplicationJobResponse",
      "type": "object",
      "description": "Details of a particular job associated with Spark Application",
      "properties": {
        "jobData": {
          "$ref": "JobData",
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true
        }
      }
    },
    "SparkConnectConfig": {
      "id": "SparkConnectConfig",
      "type": "object",
      "description": "Spark connect configuration for an interactive session.",
      "properties": {}
    },
    "StartClusterRequest": {
      "id": "StartClusterRequest",
      "type": "object",
      "description": "A request to start a cluster.",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      }
    },
    "PoolData": {
      "properties": {
        "name": {
          "type": "string"
        },
        "stageIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Pool Data",
      "id": "PoolData",
      "type": "object"
    },
    "DriverSchedulingConfig": {
      "id": "DriverSchedulingConfig",
      "type": "object",
      "description": "Driver scheduling configuration.",
      "properties": {
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The amount of memory in MB the driver is requesting."
        },
        "vcores": {
          "description": "Required. The number of vCPUs the driver is requesting.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WorkflowMetadata": {
      "description": "A Dataproc workflow template resource.",
      "properties": {
        "endTime": {
          "description": "Output only. Workflow end time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createCluster": {
          "readOnly": true,
          "$ref": "ClusterOperation",
          "description": "Output only. The create cluster operation metadata."
        },
        "graph": {
          "readOnly": true,
          "$ref": "WorkflowGraph",
          "description": "Output only. The workflow graph."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Workflow start time."
        },
        "deleteCluster": {
          "readOnly": true,
          "$ref": "ClusterOperation",
          "description": "Output only. The delete cluster operation metadata."
        },
        "template": {
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "readOnly": true,
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from parameter names to values that were used for those parameters."
        },
        "clusterUuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The UUID of target cluster."
        },
        "dagEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends."
        },
        "dagTimeout": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "state": {
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "readOnly": true,
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "Output only. The workflow state.",
          "type": "string"
        },
        "clusterName": {
          "description": "Output only. The name of the target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "dagStartTime": {
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "WorkflowMetadata",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ClusterOperationMetadata": {
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Short description of operation."
        },
        "operationType": {
          "description": "Output only. The operation type.",
          "readOnly": true,
          "type": "string"
        },
        "warnings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Errors encountered during operation execution."
        },
        "childOperationIds": {
          "description": "Output only. Child operation ids",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusHistory": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The previous operation status.",
          "items": {
            "$ref": "ClusterOperationStatus"
          }
        },
        "labels": {
          "description": "Output only. Labels associated with the operation",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the cluster for the operation."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Current operation status.",
          "$ref": "ClusterOperationStatus"
        }
      },
      "description": "Metadata describing the operation.",
      "id": "ClusterOperationMetadata",
      "type": "object"
    },
    "RepositoryConfig": {
      "id": "RepositoryConfig",
      "type": "object",
      "description": "Configuration for dependency repositories",
      "properties": {
        "pypiRepositoryConfig": {
          "$ref": "PyPiRepositoryConfig",
          "description": "Optional. Configuration for PyPi repository."
        }
      }
    },
    "AccessSparkApplicationStageRddOperationGraphResponse": {
      "properties": {
        "rddOperationGraph": {
          "$ref": "RddOperationGraph",
          "description": "RDD operation graph for a Spark Application Stage."
        }
      },
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters.",
      "id": "AccessSparkApplicationStageRddOperationGraphResponse",
      "type": "object"
    },
    "ExecutorMetricsDistributions": {
      "id": "ExecutorMetricsDistributions",
      "type": "object",
      "properties": {
        "failedTasks": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "shuffleWrite": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "inputRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "shuffleReadRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "diskBytesSpilled": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "taskTimeMillis": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "quantiles": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "inputBytes": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "memoryBytesSpilled": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "succeededTasks": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "outputBytes": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "shuffleWriteRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "shuffleRead": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "outputRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "peakMemoryMetrics": {
          "$ref": "ExecutorPeakMetricsDistributions"
        },
        "killedTasks": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "NodeGroupAffinity": {
      "id": "NodeGroupAffinity",
      "type": "object",
      "properties": {
        "nodeGroupUri": {
          "type": "string",
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 node-group-1"
        }
      },
      "description": "Node Group Affinity for clusters using sole-tenant node groups. The Dataproc NodeGroupAffinity resource is not related to the Dataproc NodeGroup resource."
    },
    "InstanceReference": {
      "id": "InstanceReference",
      "type": "object",
      "description": "A reference to a Compute Engine instance.",
      "properties": {
        "instanceId": {
          "description": "The unique identifier of the Compute Engine instance.",
          "type": "string"
        },
        "instanceName": {
          "description": "The user-friendly name of the Compute Engine instance.",
          "type": "string"
        },
        "publicKey": {
          "description": "The public RSA key used for sharing data with this instance.",
          "type": "string"
        },
        "publicEciesKey": {
          "description": "The public ECIES key used for sharing data with this instance.",
          "type": "string"
        }
      }
    },
    "TrinoJob": {
      "id": "TrinoJob",
      "type": "object",
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster.",
      "properties": {
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats",
          "type": "string"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "clientTags": {
          "description": "Optional. Trino client tags to attach to this query",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListBatchesResponse": {
      "id": "ListBatchesResponse",
      "type": "object",
      "description": "A list of batch workloads.",
      "properties": {
        "batches": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The batches from the specified collection.",
          "items": {
            "$ref": "Batch"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of Batches that could not be included in the response. Attempting to get one of these resources may indicate why it was not included in the list response.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ResourceInformation": {
      "id": "ResourceInformation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SummarizeSparkApplicationStageAttemptTasksResponse": {
      "description": "Summary of tasks for a Spark Application stage attempt.",
      "properties": {
        "stageAttemptTasksSummary": {
          "description": "Summary of tasks for a Spark Application Stage Attempt",
          "$ref": "StageAttemptTasksSummary"
        }
      },
      "id": "SummarizeSparkApplicationStageAttemptTasksResponse",
      "type": "object"
    },
    "ExecutorResourceRequest": {
      "description": "Resources used per executor used by the application.",
      "properties": {
        "resourceName": {
          "type": "string"
        },
        "amount": {
          "type": "string",
          "format": "int64"
        },
        "vendor": {
          "type": "string"
        },
        "discoveryScript": {
          "type": "string"
        }
      },
      "id": "ExecutorResourceRequest",
      "type": "object"
    },
    "TaskData": {
      "id": "TaskData",
      "type": "object",
      "properties": {
        "schedulerDelayMillis": {
          "type": "string",
          "format": "int64"
        },
        "index": {
          "type": "integer",
          "format": "int32"
        },
        "partitionId": {
          "type": "integer",
          "format": "int32"
        },
        "taskMetrics": {
          "$ref": "TaskMetrics"
        },
        "executorLogs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "executorId": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "taskLocality": {
          "type": "string"
        },
        "attempt": {
          "type": "integer",
          "format": "int32"
        },
        "resultFetchStart": {
          "type": "string",
          "format": "google-datetime"
        },
        "speculative": {
          "type": "boolean"
        },
        "hasMetrics": {
          "type": "boolean"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "gettingResultTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "taskId": {
          "type": "string",
          "format": "int64"
        },
        "accumulatorUpdates": {
          "type": "array",
          "items": {
            "$ref": "AccumulableInfo"
          }
        },
        "errorMessage": {
          "type": "string"
        },
        "launchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "durationMillis": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Data corresponding to tasks created by spark."
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "StopClusterRequest": {
      "id": "StopClusterRequest",
      "type": "object",
      "description": "A request to stop a cluster.",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "KubernetesClusterConfig": {
      "id": "KubernetesClusterConfig",
      "type": "object",
      "description": "The configuration for running the Dataproc cluster on Kubernetes.",
      "properties": {
        "kubernetesNamespace": {
          "type": "string",
          "description": "Optional. A namespace within the Kubernetes cluster to deploy into. If this namespace does not exist, it is created. If it exists, Dataproc verifies that another Dataproc VirtualCluster is not installed into it. If not specified, the name of the Dataproc Cluster is used."
        },
        "gkeClusterConfig": {
          "$ref": "GkeClusterConfig",
          "description": "Required. The configuration for running the Dataproc cluster on GKE."
        },
        "kubernetesSoftwareConfig": {
          "$ref": "KubernetesSoftwareConfig",
          "description": "Optional. The software configuration for this Dataproc cluster running on Kubernetes."
        }
      }
    },
    "InputQuantileMetrics": {
      "id": "InputQuantileMetrics",
      "type": "object",
      "properties": {
        "recordsRead": {
          "$ref": "Quantiles"
        },
        "bytesRead": {
          "$ref": "Quantiles"
        }
      }
    },
    "ClusterConfig": {
      "properties": {
        "initializationActions": {
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          },
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi "
        },
        "autoscalingConfig": {
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset.",
          "$ref": "AutoscalingConfig"
        },
        "diagnosticBucket": {
          "description": "Optional. A Cloud Storage bucket used to collect checkpoint diagnostic data (https://cloud.google.com/dataproc/docs/support/diagnose-clusters#checkpoint_diagnostic_data). If you do not specify a diagnostic bucket, Cloud Dataproc will use the Dataproc temp bucket to collect the checkpoint diagnostic data. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "securityConfig": {
          "$ref": "SecurityConfig",
          "description": "Optional. Security settings for the cluster."
        },
        "clusterType": {
          "description": "Optional. The type of the cluster.",
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/single-node-clusters",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ],
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "SINGLE_NODE",
            "ZERO_SCALE"
          ],
          "type": "string"
        },
        "engine": {
          "description": "Optional. The cluster engine.",
          "enumDescriptions": [
            "The engine is not specified. Works the same as ENGINE_DEFAULT.",
            "The cluster is a default engine cluster.",
            "The cluster is a lightning engine cluster."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "DEFAULT",
            "LIGHTNING"
          ],
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for the cluster."
        },
        "lifecycleConfig": {
          "description": "Optional. Lifecycle setting for the cluster.",
          "$ref": "LifecycleConfig"
        },
        "clusterTier": {
          "description": "Optional. The cluster tier.",
          "enumDescriptions": [
            "Not set. Works the same as CLUSTER_TIER_STANDARD.",
            "Standard Dataproc cluster.",
            "Premium Dataproc cluster."
          ],
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "CLUSTER_TIER_STANDARD",
            "CLUSTER_TIER_PREMIUM"
          ],
          "type": "string"
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for cluster software."
        },
        "gkeClusterConfig": {
          "description": "Optional. BETA. The Kubernetes Engine config for Dataproc clusters deployed to The Kubernetes Engine config for Dataproc clusters deployed to Kubernetes. These config settings are mutually exclusive with Compute Engine-based options, such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config.",
          "deprecated": true,
          "$ref": "GkeClusterConfig"
        },
        "gceClusterConfig": {
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster.",
          "$ref": "GceClusterConfig"
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for a cluster's secondary worker instances"
        },
        "dataprocMetricConfig": {
          "description": "Optional. The config for Dataproc metrics.",
          "$ref": "DataprocMetricConfig"
        },
        "auxiliaryNodeGroups": {
          "items": {
            "$ref": "AuxiliaryNodeGroup"
          },
          "description": "Optional. The node group settings.",
          "type": "array"
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's worker instances."
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. Metastore configuration."
        },
        "tempBucket": {
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket (see Dataproc staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "masterConfig": {
          "description": "Optional. The Compute Engine config settings for the cluster's master instance.",
          "$ref": "InstanceGroupConfig"
        }
      },
      "description": "The cluster config.",
      "id": "ClusterConfig",
      "type": "object"
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "type": "object",
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "properties": {
        "consumeReservationType": {
          "description": "Optional. Type of reservation to consume",
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "type": "string"
        },
        "key": {
          "description": "Optional. Corresponds to the label key of reservation resource.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of reservation resource."
        }
      }
    },
    "BatchOperationMetadata": {
      "id": "BatchOperationMetadata",
      "type": "object",
      "description": "Metadata describing the Batch operation.",
      "properties": {
        "batch": {
          "type": "string",
          "description": "Name of the batch for the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the operation was created."
        },
        "batchUuid": {
          "description": "Batch UUID for the operation.",
          "type": "string"
        },
        "doneTime": {
          "description": "The time when the operation finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Short description of the operation."
        },
        "operationType": {
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "description": "The operation type.",
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ],
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered during operation execution."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with the operation."
        }
      }
    },
    "SearchSparkApplicationExecutorStageSummaryResponse": {
      "description": "List of Executors associated with a Spark Application Stage.",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest.",
          "type": "string"
        },
        "sparkApplicationStageExecutors": {
          "type": "array",
          "items": {
            "$ref": "ExecutorStageSummary"
          },
          "description": "Details about executors used by the application stage."
        }
      },
      "id": "SearchSparkApplicationExecutorStageSummaryResponse",
      "type": "object"
    },
    "SinkProgress": {
      "id": "SinkProgress",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "numOutputRows": {
          "type": "string",
          "format": "int64"
        },
        "metrics": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "WorkflowGraph": {
      "properties": {
        "nodes": {
          "items": {
            "$ref": "WorkflowNode"
          },
          "description": "Output only. The workflow nodes.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The workflow graph.",
      "id": "WorkflowGraph",
      "type": "object"
    },
    "SparkPlanGraphCluster": {
      "properties": {
        "name": {
          "type": "string"
        },
        "sparkPlanGraphClusterId": {
          "type": "string",
          "format": "int64"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        },
        "desc": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SparkPlanGraphNodeWrapper"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Additional metadata for the spark plan graph cluster."
        }
      },
      "description": "Represents a tree of spark plan.",
      "id": "SparkPlanGraphCluster",
      "type": "object"
    },
    "AutotuningConfig": {
      "id": "AutotuningConfig",
      "type": "object",
      "description": "Autotuning configuration of the workload.",
      "properties": {
        "scenarios": {
          "type": "array",
          "description": "Optional. Scenarios for which tunings are applied.",
          "items": {
            "type": "string",
            "enum": [
              "SCENARIO_UNSPECIFIED",
              "SCALING",
              "BROADCAST_HASH_JOIN",
              "MEMORY",
              "NONE",
              "AUTO"
            ],
            "enumDescriptions": [
              "Default value.",
              "Scaling recommendations such as initialExecutors.",
              "Adding hints for potential relation broadcasts.",
              "Memory management for workloads.",
              "No autotuning.",
              "Automatic selection of scenarios."
            ]
          }
        }
      }
    },
    "OutputMetrics": {
      "id": "OutputMetrics",
      "type": "object",
      "description": "Metrics about the data written by the task.",
      "properties": {
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ShuffleWriteQuantileMetrics": {
      "id": "ShuffleWriteQuantileMetrics",
      "type": "object",
      "properties": {
        "writeBytes": {
          "$ref": "Quantiles"
        },
        "writeRecords": {
          "$ref": "Quantiles"
        },
        "writeTimeNanos": {
          "$ref": "Quantiles"
        }
      }
    },
    "SearchSparkApplicationsResponse": {
      "id": "SearchSparkApplicationsResponse",
      "type": "object",
      "properties": {
        "sparkApplications": {
          "description": "Output only. High level information corresponding to an application.",
          "items": {
            "$ref": "SparkApplication"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationsRequest.",
          "type": "string"
        }
      },
      "description": "A list of summary of Spark Applications"
    },
    "JobScheduling": {
      "description": "Job scheduling options.",
      "properties": {
        "maxFailuresTotal": {
          "description": "Optional. Maximum total number of times a driver can be restarted as a result of the driver exiting with a non-zero code. After the maximum number is reached, the job will be reported as failed.Maximum value is 240.Note: Currently, this restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "type": "integer",
          "format": "int32"
        },
        "maxFailuresPerHour": {
          "description": "Optional. Maximum number of times per hour a driver can be restarted as a result of driver exiting with non-zero code before job is reported failed.A job might be reported as thrashing if the driver exits with a non-zero code four times within a 10-minute window.Maximum value is 10.Note: This restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "JobScheduling",
      "type": "object"
    },
    "ListJobsResponse": {
      "description": "A list of jobs in a project.",
      "properties": {
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "Output only. Jobs list.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of jobs with kms_key-encrypted parameters that could not be decrypted. A response to a jobs.get request may indicate the reason for the decryption failure for a specific job."
        }
      },
      "id": "ListJobsResponse",
      "type": "object"
    },
    "AccessSessionSparkApplicationStageRddOperationGraphResponse": {
      "id": "AccessSessionSparkApplicationStageRddOperationGraphResponse",
      "type": "object",
      "properties": {
        "rddOperationGraph": {
          "description": "RDD operation graph for a Spark Application Stage.",
          "$ref": "RddOperationGraph"
        }
      },
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters."
    },
    "LifecycleConfig": {
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "properties": {
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "idleStopTtl": {
          "description": "Optional. The duration to keep the cluster started while idling (when no jobs are running). Passing this threshold will cause the cluster to be stopped. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoStopTtl": {
          "description": "Optional. The lifetime duration of the cluster. The cluster will be auto-stopped at the end of this period, calculated from the time of submission of the create or update cluster request. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTtl": {
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTime": {
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-datetime"
        },
        "autoStopTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when cluster will be auto-stopped (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        }
      },
      "id": "LifecycleConfig",
      "type": "object"
    },
    "InjectCredentialsRequest": {
      "id": "InjectCredentialsRequest",
      "type": "object",
      "properties": {
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        },
        "clusterUuid": {
          "description": "Required. The cluster UUID.",
          "type": "string"
        }
      },
      "description": "A request to inject credentials into a cluster."
    },
    "AccessSparkApplicationSqlSparkPlanGraphResponse": {
      "properties": {
        "sparkPlanGraph": {
          "description": "SparkPlanGraph for a Spark Application execution.",
          "$ref": "SparkPlanGraph"
        }
      },
      "description": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters.",
      "id": "AccessSparkApplicationSqlSparkPlanGraphResponse",
      "type": "object"
    },
    "AutoscalingConfig": {
      "description": "Autoscaling Policy config associated with the cluster.",
      "properties": {
        "policyUri": {
          "type": "string",
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region."
        }
      },
      "id": "AutoscalingConfig",
      "type": "object"
    },
    "AccessSparkApplicationEnvironmentInfoResponse": {
      "properties": {
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo",
          "description": "Details about the Environment that the application is running in."
        }
      },
      "description": "Environment details of a Saprk Application.",
      "id": "AccessSparkApplicationEnvironmentInfoResponse",
      "type": "object"
    },
    "WriteSparkApplicationContextResponse": {
      "id": "WriteSparkApplicationContextResponse",
      "type": "object",
      "description": "Response returned as an acknowledgement of receipt of data.",
      "properties": {}
    },
    "SparkSqlBatch": {
      "id": "SparkSqlBatch",
      "type": "object",
      "properties": {
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "type": "array"
        },
        "queryFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute."
        },
        "queryVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        }
      },
      "description": "A configuration for running Apache Spark SQL (https://spark.apache.org/sql/) queries as a batch workload."
    },
    "StreamingQueryProgress": {
      "properties": {
        "durationMillis": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "batchId": {
          "type": "string",
          "format": "int64"
        },
        "sink": {
          "$ref": "SinkProgress"
        },
        "observedMetrics": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "streamingQueryProgressId": {
          "type": "string"
        },
        "runId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "SourceProgress"
          }
        },
        "batchDuration": {
          "type": "string",
          "format": "int64"
        },
        "stateOperators": {
          "type": "array",
          "items": {
            "$ref": "StateOperatorProgress"
          }
        },
        "eventTime": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "StreamingQueryProgress",
      "type": "object"
    },
    "SessionStateHistory": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "description": "Output only. The state of the session at this point in the session history.",
          "type": "string",
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ],
          "readOnly": true
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Details about the state at this point in the session history."
        },
        "stateStartTime": {
          "description": "Output only. The time when the session entered the historical state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Historical state information.",
      "id": "SessionStateHistory",
      "type": "object"
    },
    "SecurityConfig": {
      "properties": {
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Kerberos related configuration."
        },
        "identityConfig": {
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings.",
          "$ref": "IdentityConfig"
        }
      },
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "id": "SecurityConfig",
      "type": "object"
    },
    "MetastoreConfig": {
      "description": "Specifies a Metastore configuration.",
      "properties": {
        "dataprocMetastoreService": {
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]",
          "type": "string"
        }
      },
      "id": "MetastoreConfig",
      "type": "object"
    },
    "GkeNodePoolAcceleratorConfig": {
      "description": "A GkeNodeConfigAcceleratorConfig represents a Hardware Accelerator request for a node pool.",
      "properties": {
        "acceleratorType": {
          "description": "The accelerator type resource namename (see GPUs on Compute Engine).",
          "type": "string"
        },
        "gpuPartitionSize": {
          "type": "string",
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA mig user guide (https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning)."
        },
        "acceleratorCount": {
          "description": "The number of accelerator cards exposed to an instance.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GkeNodePoolAcceleratorConfig",
      "type": "object"
    },
    "QueryList": {
      "description": "A list of queries to run on a cluster.",
      "properties": {
        "queries": {
          "type": "array",
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "QueryList",
      "type": "object"
    },
    "InstanceSelectionResult": {
      "id": "InstanceSelectionResult",
      "type": "object",
      "properties": {
        "vmCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of VM provisioned with the machine_type."
        },
        "machineType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full machine-type names, e.g. \"n1-standard-16\"."
        }
      },
      "description": "Defines a mapping from machine types to the number of VMs that are created with each machine type."
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "type": "object",
      "properties": {
        "containerImage": {
          "description": "Optional. Optional custom container image for the job runtime environment. If not specified, a default container image will be used.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the batch runtime."
        },
        "autotuningConfig": {
          "$ref": "AutotuningConfig",
          "description": "Optional. Autotuning configuration of the workload."
        },
        "cohort": {
          "description": "Optional. Cohort identifier. Identifies families of the workloads that have the same shape, for example, daily ETL jobs.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, which are used to configure workload execution.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "repositoryConfig": {
          "$ref": "RepositoryConfig",
          "description": "Optional. Dependency repository configuration."
        }
      },
      "description": "Runtime configuration for a workload."
    },
    "StageMetrics": {
      "properties": {
        "executorDeserializeCpuTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "executorRunTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "executorDeserializeTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "stageInputMetrics": {
          "$ref": "StageInputMetrics"
        },
        "diskBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "stageShuffleReadMetrics": {
          "$ref": "StageShuffleReadMetrics"
        },
        "jvmGcTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "resultSerializationTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "peakExecutionMemoryBytes": {
          "type": "string",
          "format": "int64"
        },
        "resultSize": {
          "type": "string",
          "format": "int64"
        },
        "stageOutputMetrics": {
          "$ref": "StageOutputMetrics"
        },
        "memoryBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "executorCpuTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "stageShuffleWriteMetrics": {
          "$ref": "StageShuffleWriteMetrics"
        }
      },
      "description": "Stage Level Aggregated Metrics",
      "id": "StageMetrics",
      "type": "object"
    },
    "TerminateSessionRequest": {
      "id": "TerminateSessionRequest",
      "type": "object",
      "description": "A request to terminate an interactive session.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the service receives two TerminateSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.TerminateSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      }
    },
    "SparkPlanGraphNodeWrapper": {
      "id": "SparkPlanGraphNodeWrapper",
      "type": "object",
      "description": "Wrapper user to represent either a node or a cluster.",
      "properties": {
        "node": {
          "$ref": "SparkPlanGraphNode"
        },
        "cluster": {
          "$ref": "SparkPlanGraphCluster"
        }
      }
    },
    "RddOperationEdge": {
      "description": "A directed edge representing dependency between two RDDs.",
      "properties": {
        "toId": {
          "type": "integer",
          "format": "int32"
        },
        "fromId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "RddOperationEdge",
      "type": "object"
    },
    "BasicAutoscalingAlgorithm": {
      "properties": {
        "yarnConfig": {
          "$ref": "BasicYarnAutoscalingConfig",
          "description": "Optional. YARN autoscaling configuration."
        },
        "sparkStandaloneConfig": {
          "$ref": "SparkStandaloneAutoscalingConfig",
          "description": "Optional. Spark Standalone autoscaling configuration"
        },
        "cooldownPeriod": {
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Basic algorithm for autoscaling.",
      "id": "BasicAutoscalingAlgorithm",
      "type": "object"
    },
    "AccessSparkApplicationStageAttemptResponse": {
      "properties": {
        "stageData": {
          "readOnly": true,
          "$ref": "StageData",
          "description": "Output only. Data corresponding to a stage."
        }
      },
      "description": "Stage Attempt for a Stage of a Spark Application",
      "id": "AccessSparkApplicationStageAttemptResponse",
      "type": "object"
    },
    "ListSessionTemplatesResponse": {
      "properties": {
        "sessionTemplates": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Session template list",
          "items": {
            "$ref": "SessionTemplate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "A list of session templates.",
      "id": "ListSessionTemplatesResponse",
      "type": "object"
    },
    "AccessSessionSparkApplicationSqlQueryResponse": {
      "id": "AccessSessionSparkApplicationSqlQueryResponse",
      "type": "object",
      "description": "Details of a query for a Spark Application",
      "properties": {
        "executionData": {
          "$ref": "SqlExecutionUiData",
          "description": "SQL Execution Data"
        }
      }
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      },
      "description": "Request message for GetIamPolicy method.",
      "id": "GetIamPolicyRequest",
      "type": "object"
    },
    "SparkWrapperObject": {
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "Application Id created by Spark."
        },
        "streamBlockData": {
          "$ref": "StreamBlockData"
        },
        "sparkConnectExecutionInfo": {
          "$ref": "SparkConnectExecutionInfo",
          "description": "Spark Connect Execution Info"
        },
        "executorSummary": {
          "$ref": "ExecutorSummary"
        },
        "streamingQueryProgress": {
          "$ref": "StreamingQueryProgress"
        },
        "appSummary": {
          "$ref": "AppSummary"
        },
        "poolData": {
          "$ref": "PoolData"
        },
        "nativeBuildInfoUiData": {
          "$ref": "NativeBuildInfoUiData",
          "description": "Native Build Info"
        },
        "eventTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "VM Timestamp associated with the data object."
        },
        "rddStorageInfo": {
          "$ref": "RddStorageInfo"
        },
        "taskData": {
          "$ref": "TaskData"
        },
        "resourceProfileInfo": {
          "$ref": "ResourceProfileInfo"
        },
        "stageData": {
          "$ref": "StageData"
        },
        "nativeSqlExecutionUiData": {
          "$ref": "NativeSqlExecutionUiData",
          "description": "Native SQL Execution Info"
        },
        "rddOperationGraph": {
          "$ref": "RddOperationGraph"
        },
        "speculationStageSummary": {
          "$ref": "SpeculationStageSummary"
        },
        "executorStageSummary": {
          "$ref": "ExecutorStageSummary"
        },
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph"
        },
        "sparkConnectSessionInfo": {
          "description": "Spark Connect Session Info",
          "$ref": "SparkConnectSessionInfo"
        },
        "jobData": {
          "$ref": "JobData"
        },
        "streamingQueryData": {
          "$ref": "StreamingQueryData"
        },
        "applicationInfo": {
          "$ref": "ApplicationInfo"
        },
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo"
        },
        "processSummary": {
          "$ref": "ProcessSummary"
        },
        "sqlExecutionUiData": {
          "$ref": "SqlExecutionUiData"
        }
      },
      "description": "Outer message that contains the data obtained from spark listener, packaged with information that is required to process it.",
      "id": "SparkWrapperObject",
      "type": "object"
    },
    "ShuffleWriteMetrics": {
      "properties": {
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "writeTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Shuffle data written by task.",
      "id": "ShuffleWriteMetrics",
      "type": "object"
    },
    "SparkPlanGraphNode": {
      "id": "SparkPlanGraphNode",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "sparkPlanGraphNodeId": {
          "type": "string",
          "format": "int64"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        },
        "desc": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Additional metadata for the spark plan graph cluster."
        }
      },
      "description": "Represents a node in the spark plan tree."
    },
    "AccessSparkApplicationJobResponse": {
      "description": "Details of a particular job associated with Spark Application",
      "properties": {
        "jobData": {
          "description": "Output only. Data corresponding to a spark job.",
          "$ref": "JobData",
          "readOnly": true
        }
      },
      "id": "AccessSparkApplicationJobResponse",
      "type": "object"
    },
    "AuxiliaryNodeGroup": {
      "id": "AuxiliaryNodeGroup",
      "type": "object",
      "properties": {
        "nodeGroup": {
          "description": "Required. Node group configuration.",
          "$ref": "NodeGroup"
        },
        "nodeGroupId": {
          "type": "string",
          "description": "Optional. A node group ID. Generated if not specified.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of from 3 to 33 characters."
        }
      },
      "description": "Node group identification and configuration information."
    },
    "NodePool": {
      "properties": {
        "repairAction": {
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "DELETE"
          ],
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "enumDescriptions": [
            "No action will be taken by default.",
            "delete the specified list of nodes."
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique id of the node pool. Primary and Secondary workers can be specified using special reserved ids PRIMARY_WORKER_POOL and SECONDARY_WORKER_POOL respectively. Aux node pools can be referenced using corresponding pool id."
        },
        "instanceNames": {
          "type": "array",
          "description": "Name of instances to be repaired. These instances must belong to specified node pool.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "indicating a list of workers of same type",
      "id": "NodePool",
      "type": "object"
    },
    "ManagedCluster": {
      "description": "Cluster that is managed by the workflow.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster."
        },
        "clusterName": {
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters.",
          "type": "string"
        },
        "config": {
          "description": "Required. The cluster configuration.",
          "$ref": "ClusterConfig"
        }
      },
      "id": "ManagedCluster",
      "type": "object"
    },
    "AccessSessionSparkApplicationSqlSparkPlanGraphResponse": {
      "properties": {
        "sparkPlanGraph": {
          "description": "SparkPlanGraph for a Spark Application execution.",
          "$ref": "SparkPlanGraph"
        }
      },
      "description": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters.",
      "id": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse",
      "type": "object"
    },
    "ExecutionConfig": {
      "properties": {
        "resourceManagerTags": {
          "description": "Optional. Associates Resource Manager tags with the workload nodes. There is a max limit of 30 tags. Keys and values can be either in numeric format, such as tagKeys/{tag_key_id} and tagValues/{tag_value_id}, or in namespaced format, such as {org_id|project_id}/{tag_key_short_name} and {tag_value_short_name}.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkUri": {
          "type": "string",
          "description": "Optional. Network URI to connect workload to."
        },
        "idleTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Applies to sessions only. The duration to keep the session alive while it's idling. Exceeding this threshold causes the session to terminate. This field cannot be set on a batch workload. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). Defaults to 1 hour if not set. If both ttl and idle_ttl are specified for an interactive session, the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceeded, whichever occurs first."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration after which the workload will be terminated, specified as the JSON representation for Duration (https://protobuf.dev/programming-guides/proto3/#json). When the workload exceeds this duration, it will be unconditionally terminated without waiting for ongoing work to finish. If ttl is not specified for a batch workload, the workload will be allowed to run until it exits naturally (or run forever without exiting). If ttl is not specified for an interactive session, it defaults to 24 hours. If ttl is not specified for a batch that uses 2.1+ runtime version, it defaults to 4 hours. Minimum value is 10 minutes; maximum value is 14 days. If both ttl and idle_ttl are specified (for an interactive session), the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceeded, whichever occurs first."
        },
        "serviceAccount": {
          "description": "Optional. Service account that used to execute workload.",
          "type": "string"
        },
        "subnetworkUri": {
          "type": "string",
          "description": "Optional. Subnetwork URI to connect workload to."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Tags used for network traffic control.",
          "type": "array"
        },
        "stagingBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage workload dependencies, config files, and store workload output and other ephemeral data, such as Spark history files. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location according to the region where your workload is running, and then create and manage project-level, per-location staging and temporary buckets. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption.",
          "type": "string"
        },
        "authenticationConfig": {
          "$ref": "AuthenticationConfig",
          "description": "Optional. Authentication configuration used to set the default identity for the workload execution. The config specifies the type of identity (service account or user) that will be used by workloads to access resources on the project(s)."
        }
      },
      "description": "Execution configuration for a workload.",
      "id": "ExecutionConfig",
      "type": "object"
    },
    "KerberosConfig": {
      "id": "KerberosConfig",
      "type": "object",
      "description": "Specifies Kerberos related configuration.",
      "properties": {
        "kdcDbKeyUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database.",
          "type": "string"
        },
        "truststorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "crossRealmTrustSharedPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship."
        },
        "truststoreUri": {
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "realm": {
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm.",
          "type": "string"
        },
        "rootPrincipalPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password.",
          "type": "string"
        },
        "keystoreUri": {
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "tgtLifetimeHours": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used."
        },
        "crossRealmTrustRealm": {
          "type": "string",
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust."
        },
        "crossRealmTrustKdc": {
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "enableKerberos": {
          "type": "boolean",
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster."
        },
        "kmsKeyUri": {
          "type": "string",
          "description": "Optional. The URI of the KMS key used to encrypt sensitive files."
        },
        "keystorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "crossRealmTrustAdminServer": {
          "type": "string",
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DataprocMetricConfig": {
      "description": "Dataproc metric config.",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Required. Metrics sources to enable.",
          "items": {
            "$ref": "Metric"
          }
        }
      },
      "id": "DataprocMetricConfig",
      "type": "object"
    },
    "ClusterMetrics": {
      "properties": {
        "hdfsMetrics": {
          "description": "The HDFS metrics.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "yarnMetrics": {
          "description": "YARN metrics.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "ClusterMetrics",
      "type": "object"
    },
    "SparkPlanGraphEdge": {
      "id": "SparkPlanGraphEdge",
      "type": "object",
      "description": "Represents a directed edge in the spark plan tree from child to parent.",
      "properties": {
        "fromId": {
          "type": "string",
          "format": "int64"
        },
        "toId": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListSessionsResponse": {
      "description": "A list of interactive sessions.",
      "properties": {
        "sessions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The sessions from the specified collection.",
          "items": {
            "$ref": "Session"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token, to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListSessionsResponse",
      "type": "object"
    },
    "ApplicationEnvironmentInfo": {
      "id": "ApplicationEnvironmentInfo",
      "type": "object",
      "description": "Details about the Environment that the application is running in.",
      "properties": {
        "systemProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "classpathEntries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resourceProfiles": {
          "type": "array",
          "items": {
            "$ref": "ResourceProfileInfo"
          }
        },
        "hadoopProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sparkProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metricsProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runtime": {
          "$ref": "SparkRuntimeInfo"
        }
      }
    },
    "ResourceProfileInfo": {
      "description": "Resource profile that contains information about all the resources required by executors and tasks.",
      "properties": {
        "executorResources": {
          "additionalProperties": {
            "$ref": "ExecutorResourceRequest"
          },
          "type": "object"
        },
        "taskResources": {
          "additionalProperties": {
            "$ref": "TaskResourceRequest"
          },
          "type": "object"
        },
        "resourceProfileId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ResourceProfileInfo",
      "type": "object"
    },
    "ManagedGroupConfig": {
      "description": "Specifies the resources used to actively manage an instance group.",
      "properties": {
        "instanceTemplateName": {
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true,
          "type": "string"
        },
        "instanceGroupManagerUri": {
          "description": "Output only. The partial URI to the instance group manager for this group. E.g. projects/my-project/regions/us-central1/instanceGroupManagers/my-igm.",
          "readOnly": true,
          "type": "string"
        },
        "instanceGroupManagerName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Instance Group Manager for this group."
        }
      },
      "id": "ManagedGroupConfig",
      "type": "object"
    },
    "EnvironmentConfig": {
      "id": "EnvironmentConfig",
      "type": "object",
      "description": "Environment configuration for a workload.",
      "properties": {
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "Optional. Execution configuration for a workload."
        },
        "peripheralsConfig": {
          "description": "Optional. Peripherals configuration that workload has access to.",
          "$ref": "PeripheralsConfig"
        }
      }
    },
    "Batch": {
      "id": "Batch",
      "type": "object",
      "description": "A representation of a batch workload in the service.",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the batch was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sparkSqlBatch": {
          "description": "Optional. SparkSql batch config.",
          "$ref": "SparkSqlBatch"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the batch.",
          "readOnly": true,
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ]
        },
        "creator": {
          "description": "Output only. The email address of the user who created the batch.",
          "readOnly": true,
          "type": "string"
        },
        "runtimeInfo": {
          "$ref": "RuntimeInfo",
          "description": "Output only. Runtime information about batch execution.",
          "readOnly": true
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the batch entered a current state."
        },
        "uuid": {
          "description": "Output only. A batch UUID (Unique Universal Identifier). The service generates this value when it creates the batch.",
          "readOnly": true,
          "type": "string"
        },
        "stateHistory": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Historical state information for the batch.",
          "items": {
            "$ref": "StateHistory"
          }
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime configuration for the batch execution."
        },
        "pysparkBatch": {
          "$ref": "PySparkBatch",
          "description": "Optional. PySpark batch config."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the operation associated with this batch."
        },
        "sparkRBatch": {
          "$ref": "SparkRBatch",
          "description": "Optional. SparkR batch config."
        },
        "stateMessage": {
          "description": "Output only. Batch state details, such as a failure description if the state is FAILED.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the batch."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
[...]
