{
  "version_module": true,
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "id": "dataform:v1",
  "rootUrl": "https://dataform.googleapis.com/",
  "schemas": {
    "InstallNpmPackagesResponse": {
      "id": "InstallNpmPackagesResponse",
      "type": "object",
      "description": "`InstallNpmPackages` response message.",
      "properties": {}
    },
    "CommitRepositoryChangesResponse": {
      "properties": {
        "commitSha": {
          "type": "string",
          "description": "The commit SHA of the current commit."
        }
      },
      "description": "`CommitRepositoryChanges` response message.",
      "id": "CommitRepositoryChangesResponse",
      "type": "object"
    },
    "ResetWorkspaceChangesResponse": {
      "properties": {},
      "id": "ResetWorkspaceChangesResponse",
      "type": "object",
      "description": "`ResetWorkspaceChanges` response message."
    },
    "DeleteFile": {
      "properties": {},
      "id": "DeleteFile",
      "type": "object",
      "description": "Represents the delete file operation."
    },
    "FetchFileGitStatusesResponse": {
      "description": "`FetchFileGitStatuses` response message.",
      "id": "FetchFileGitStatusesResponse",
      "type": "object",
      "properties": {
        "uncommittedFileChanges": {
          "type": "array",
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file."
        }
      }
    },
    "ActionSimpleLoadMode": {
      "properties": {},
      "id": "ActionSimpleLoadMode",
      "type": "object",
      "description": "Simple load definition"
    },
    "PullGitCommitsResponse": {
      "id": "PullGitCommitsResponse",
      "type": "object",
      "description": "`PullGitCommits` response message.",
      "properties": {}
    },
    "Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Notebook": {
      "properties": {
        "contents": {
          "description": "The contents of the notebook.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a notebook.",
      "id": "Notebook",
      "type": "object"
    },
    "ListWorkflowInvocationsResponse": {
      "properties": {
        "workflowInvocations": {
          "description": "List of workflow invocations.",
          "type": "array",
          "items": {
            "$ref": "WorkflowInvocation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListWorkflowInvocationsResponse",
      "type": "object",
      "description": "`ListWorkflowInvocations` response message."
    },
    "TeamFolderContentsEntry": {
      "description": "Represents a single content entry.",
      "id": "TeamFolderContentsEntry",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      }
    },
    "DataPreparation": {
      "properties": {
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "contentsYaml": {
          "type": "string",
          "description": "The data preparation definition, stored as a YAML string."
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        }
      },
      "id": "DataPreparation",
      "type": "object",
      "description": "Defines a compiled Data Preparation entity"
    },
    "GitRemoteSettings": {
      "properties": {
        "sshAuthenticationConfig": {
          "description": "Optional. Authentication fields for remote uris using SSH protocol.",
          "$ref": "SshAuthenticationConfig"
        },
        "defaultBranch": {
          "description": "Required. The Git remote's default branch name. If not set, `main` will be used and stored for the repository.",
          "type": "string"
        },
        "tokenStatus": {
          "deprecated": true,
          "description": "Output only. Deprecated: The field does not contain any token status information.",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "type": "string"
        },
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        }
      },
      "description": "Controls Git remote configuration for a repository.",
      "id": "GitRemoteSettings",
      "type": "object"
    },
    "DataEncryptionState": {
      "id": "DataEncryptionState",
      "type": "object",
      "description": "Describes encryption state of a resource.",
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Required. The KMS key version name with which data of a resource is encrypted."
        }
      }
    },
    "FetchGitAheadBehindResponse": {
      "properties": {
        "commitsAhead": {
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "format": "int32",
          "type": "integer"
        },
        "commitsBehind": {
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "`FetchGitAheadBehind` response message.",
      "id": "FetchGitAheadBehindResponse",
      "type": "object"
    },
    "NotebookAction": {
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "id": "NotebookAction",
      "type": "object",
      "properties": {
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run."
        },
        "contents": {
          "description": "Output only. The code contents of a Notebook to be run.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CommitWorkspaceChangesResponse": {
      "description": "`CommitWorkspaceChanges` response message.",
      "id": "CommitWorkspaceChangesResponse",
      "type": "object",
      "properties": {}
    },
    "NotebookRuntimeOptions": {
      "properties": {
        "gcsOutputBucket": {
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`.",
          "type": "string"
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications."
        }
      },
      "description": "Configures various aspects of Dataform notebook runtime.",
      "id": "NotebookRuntimeOptions",
      "type": "object"
    },
    "MakeDirectoryRequest": {
      "description": "`MakeDirectory` request message.",
      "id": "MakeDirectoryRequest",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      }
    },
    "QueryTeamFolderContentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "description": "List of entries in the TeamFolder.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          }
        }
      },
      "description": "`QueryTeamFolderContents` response message.",
      "id": "QueryTeamFolderContentsResponse",
      "type": "object"
    },
    "RemoveFileResponse": {
      "properties": {},
      "description": "`RemoveFile` response message.",
      "id": "RemoveFileResponse",
      "type": "object"
    },
    "PushGitCommitsResponse": {
      "properties": {},
      "id": "PushGitCommitsResponse",
      "type": "object",
      "description": "`PushGitCommits` response message."
    },
    "Interval": {
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "BigQueryAction": {
      "properties": {
        "sqlScript": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The generated BigQuery SQL script that will be executed."
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
        }
      },
      "id": "BigQueryAction",
      "type": "object",
      "description": "Represents a workflow action that will run against BigQuery."
    },
    "CompilationResultAction": {
      "properties": {
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        },
        "relation": {
          "description": "The database relation created/updated by this action.",
          "$ref": "Relation"
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        }
      },
      "id": "CompilationResultAction",
      "type": "object",
      "description": "Represents a single Dataform action in a compilation result."
    },
    "CancelWorkflowInvocationResponse": {
      "description": "`CancelWorkflowInvocation` response message.",
      "id": "CancelWorkflowInvocationResponse",
      "type": "object",
      "properties": {}
    },
    "WorkflowConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The workflow config's name."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the WorkflowConfig was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "format": "google-datetime"
        },
        "recentScheduledExecutionRecords": {
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ScheduledExecutionRecord"
          }
        },
        "releaseConfig": {
          "type": "string",
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "invocationConfig": {
          "description": "Optional. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of workflow invocations.",
          "type": "boolean"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC."
        }
      },
      "id": "WorkflowConfig",
      "type": "object",
      "description": "Represents a Dataform workflow configuration."
    },
    "SearchTeamFoldersResponse": {
      "description": "`SearchTeamFolders` response message.",
      "id": "SearchTeamFoldersResponse",
      "type": "object",
      "properties": {
        "results": {
          "description": "List of TeamFolders that match the search query.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderSearchResult"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "QueryRepositoryDirectoryContentsResponse",
      "type": "object",
      "description": "`QueryRepositoryDirectoryContents` response message."
    },
    "FetchRemoteBranchesResponse": {
      "description": "`FetchRemoteBranches` response message.",
      "id": "FetchRemoteBranchesResponse",
      "type": "object",
      "properties": {
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The remote repository's branch names."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "IncrementalTableConfig": {
      "properties": {
        "refreshDisabled": {
          "type": "boolean",
          "description": "Whether this table should be protected from being refreshed."
        },
        "incrementalPreOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before inserting new rows into the relation."
        },
        "updatePartitionFilter": {
          "type": "string",
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information)."
        },
        "uniqueKeyParts": {
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "incrementalPostOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed after inserting new rows into the relation."
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        }
      },
      "id": "IncrementalTableConfig",
      "type": "object",
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`."
    },
    "QueryWorkflowInvocationActionsResponse": {
      "description": "`QueryWorkflowInvocationActions` response message.",
      "id": "QueryWorkflowInvocationActionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workflowInvocationActions": {
          "description": "List of workflow invocation actions.",
          "type": "array",
          "items": {
            "$ref": "WorkflowInvocationAction"
          }
        }
      }
    },
    "PolicyName": {
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "id": "PolicyName",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc."
        },
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        }
      }
    },
    "MoveFolderRequest": {
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "description": "`MoveFolder` request message.",
      "id": "MoveFolderRequest",
      "type": "object"
    },
    "CompilationError": {
      "id": "CompilationError",
      "type": "object",
      "description": "An error encountered when attempting to compile a Dataform project.",
      "properties": {
        "stack": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error's full stack trace."
        },
        "message": {
          "description": "Output only. The error's top level message.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root."
        },
        "actionTarget": {
          "$ref": "Target",
          "description": "Output only. The identifier of the action where this error occurred, if available. LINT.ThenChange(//depot/google3/google/cloud/dataform/v2main/data_pipelines.proto:CompilationError)",
          "readOnly": true
        }
      }
    },
    "CommitMetadata": {
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      },
      "description": "Represents a Dataform Git commit.",
      "id": "CommitMetadata",
      "type": "object"
    },
    "Repository": {
      "properties": {
        "teamFolderName": {
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder.",
          "readOnly": true,
          "type": "string"
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`."
        },
        "setAuthenticatedUserAdmin": {
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The repository's name."
        },
        "workspaceCompilationOverrides": {
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information.",
          "$ref": "WorkspaceCompilationOverrides"
        },
        "displayName": {
          "description": "Optional. The repository's user-friendly name.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Repository user labels."
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format.",
          "type": "string"
        },
        "gitRemoteSettings": {
          "description": "Optional. If set, configures this repository to be linked to a Git remote.",
          "$ref": "GitRemoteSettings"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the repository was created.",
          "format": "google-datetime"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`"
        }
      },
      "id": "Repository",
      "type": "object",
      "description": "Represents a Dataform Git repository."
    },
    "DirectorySearchResult": {
      "description": "Client-facing representation of a directory entry in search results.",
      "id": "DirectorySearchResult",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      }
    },
    "SearchResult": {
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        }
      },
      "id": "SearchResult",
      "type": "object",
      "description": "Client-facing representation of a search result entry."
    },
    "FilesystemEntryMetadata": {
      "description": "Represents metadata for a single entry in a filesystem.",
      "id": "FilesystemEntryMetadata",
      "type": "object",
      "properties": {
        "sizeBytes": {
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Represents the time of the last modification of the entry.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CompilationResult": {
      "properties": {
        "gitCommitish": {
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "dataformCoreVersion": {
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true,
          "type": "string"
        },
        "codeCompilationConfig": {
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the compilation result was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The compilation result's name.",
          "readOnly": true,
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "$ref": "PrivateResourceMetadata"
        },
        "compilationErrors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          },
          "description": "Output only. Errors encountered during project compilation."
        },
        "releaseConfig": {
          "type": "string",
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "resolvedGitCommitSha": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace."
        }
      },
      "description": "Represents the result of compiling a Dataform project.",
      "id": "CompilationResult",
      "type": "object"
    },
    "QueryUserRootContentsResponse": {
      "id": "QueryUserRootContentsResponse",
      "type": "object",
      "description": "`QueryUserRootContents` response message.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "description": "List of entries in the folder.",
          "type": "array",
          "items": {
            "$ref": "RootContentsEntry"
          }
        }
      }
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ListWorkflowConfigsResponse": {
      "description": "`ListWorkflowConfigs` response message.",
      "id": "ListWorkflowConfigsResponse",
      "type": "object",
      "properties": {
        "workflowConfigs": {
          "description": "List of workflow configs.",
          "type": "array",
          "items": {
            "$ref": "WorkflowConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        }
      }
    },
    "WorkflowInvocation": {
      "id": "WorkflowInvocation",
      "type": "object",
      "description": "Represents a single invocation of a compilation result.",
      "properties": {
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "workflowConfig": {
          "type": "string",
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`."
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. This workflow invocation's current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ]
        },
        "resolvedCompilationResult": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true,
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "readOnly": true
        },
        "invocationTiming": {
          "description": "Output only. This workflow invocation's timing details.",
          "readOnly": true,
          "$ref": "Interval"
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        }
      }
    },
    "MakeDirectoryResponse": {
      "properties": {},
      "id": "MakeDirectoryResponse",
      "type": "object",
      "description": "`MakeDirectory` response message."
    },
    "FetchRepositoryHistoryResponse": {
      "properties": {
        "commits": {
          "type": "array",
          "items": {
            "$ref": "CommitLogEntry"
          },
          "description": "A list of commit logs, ordered by 'git log' default order."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`FetchRepositoryHistory` response message.",
      "id": "FetchRepositoryHistoryResponse",
      "type": "object"
    },
    "ColumnDescriptor": {
      "description": "Describes a column.",
      "id": "ColumnDescriptor",
      "type": "object",
      "properties": {
        "bigqueryPolicyTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of BigQuery policy tags that will be applied to the column."
        },
        "path": {
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "A textual description of the column."
        }
      }
    },
    "RemoveDirectoryResponse": {
      "properties": {},
      "id": "RemoveDirectoryResponse",
      "type": "object",
      "description": "`RemoveDirectory` response message."
    },
    "RelationDescriptor": {
      "properties": {
        "columns": {
          "description": "A list of descriptions of columns within the relation.",
          "type": "array",
          "items": {
            "$ref": "ColumnDescriptor"
          }
        },
        "bigqueryLabels": {
          "description": "A set of BigQuery labels that should be applied to the relation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "A text description of the relation.",
          "type": "string"
        }
      },
      "description": "Describes a relation and its columns.",
      "id": "RelationDescriptor",
      "type": "object"
    },
    "RemoveDirectoryRequest": {
      "description": "`RemoveDirectory` request message.",
      "id": "RemoveDirectoryRequest",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "CommitAuthor": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The commit author's name."
        },
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        }
      },
      "id": "CommitAuthor",
      "type": "object",
      "description": "Represents the author of a Git commit."
    },
    "Assertion": {
      "id": "Assertion",
      "type": "object",
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "WorkflowInvocationAction": {
      "properties": {
        "invocationTiming": {
          "$ref": "Interval",
          "readOnly": true,
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "notebookAction": {
          "description": "Output only. The workflow action's notebook action details.",
          "readOnly": true,
          "$ref": "NotebookAction"
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true,
          "$ref": "Target"
        },
        "canonicalTarget": {
          "$ref": "Target",
          "readOnly": true,
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "dataPreparationAction": {
          "$ref": "DataPreparationAction",
          "readOnly": true,
          "description": "Output only. The workflow action's data preparation action details."
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If and only if action's state is FAILED a failure reason is set."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. This action's current state.",
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ]
        },
        "bigqueryAction": {
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true,
          "$ref": "BigQueryAction"
        }
      },
      "id": "WorkflowInvocationAction",
      "type": "object",
      "description": "Represents a single action in a workflow invocation."
    },
    "SearchFilesResponse": {
      "properties": {
        "searchResults": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "List of matched results."
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Client-facing representation of a file search response.",
      "id": "SearchFilesResponse",
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "description": "`MoveDirectory` request message.",
      "id": "MoveDirectoryRequest",
      "type": "object",
      "properties": {
        "newPath": {
          "type": "string",
          "description": "Required. The new path for the directory including directory name, rooted at workspace root."
        },
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "DeleteFolderTreeRequest": {
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "id": "DeleteFolderTreeRequest",
      "type": "object",
      "description": "`DeleteFolderTree` request message."
    },
    "WriteFileResponse": {
      "id": "WriteFileResponse",
      "type": "object",
      "description": "`WriteFile` response message.",
      "properties": {}
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "type": "object",
      "description": "`ListRepositories` response message.",
      "properties": {
        "repositories": {
          "description": "List of repositories.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "MoveRepositoryRequest": {
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "description": "`MoveRepository` request message.",
      "id": "MoveRepositoryRequest",
      "type": "object"
    },
    "CommitWorkspaceChangesRequest": {
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed."
        }
      },
      "id": "CommitWorkspaceChangesRequest",
      "type": "object",
      "description": "`CommitWorkspaceChanges` request message."
    },
    "SqlDefinition": {
      "description": "Definition of a SQL Data Preparation",
      "id": "SqlDefinition",
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        },
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        }
      }
    },
    "ReadRepositoryFileResponse": {
      "description": "`ReadRepositoryFile` response message.",
      "id": "ReadRepositoryFileResponse",
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "description": "The file's contents.",
          "format": "byte"
        }
      }
    },
    "CommitLogEntry": {
      "properties": {
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "type": "string",
          "description": "The commit message for this commit log entry."
        },
        "commitTime": {
          "description": "Commit timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "commitSha": {
          "type": "string",
          "description": "The commit SHA for this commit log entry."
        }
      },
      "description": "Represents a single commit log.",
      "id": "CommitLogEntry",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "OperationMetadata": {
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "IncrementalLoadMode": {
      "id": "IncrementalLoadMode",
      "type": "object",
      "description": "Load definition for incremental load modes",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      }
    },
    "MoveFileResponse": {
      "id": "MoveFileResponse",
      "type": "object",
      "description": "`MoveFile` response message.",
      "properties": {}
    },
    "ListCompilationResultsResponse": {
      "description": "`ListCompilationResults` response message.",
      "id": "ListCompilationResultsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "compilationResults": {
          "type": "array",
          "items": {
            "$ref": "CompilationResult"
          },
          "description": "List of compilation results."
        },
        "unreachable": {
          "description": "Locations which could not be reached. LINT.ThenChange(//depot/google3/google/cloud/dataform/v2main/data_pipelines.proto:ListCompilationResultsResponse)",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ActionLoadConfig": {
      "id": "ActionLoadConfig",
      "type": "object",
      "description": "Simplified load configuration for actions",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        }
      }
    },
    "ReleaseConfig": {
      "properties": {
        "name": {
          "description": "Identifier. The release config's name.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string. LINT.ThenChange(//depot/google3/google/cloud/dataform/v2main/data_pipelines.proto:ReleaseConfig)"
        },
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "recentScheduledReleaseRecords": {
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          }
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results."
        },
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of compilation results."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig",
      "type": "object"
    },
    "ActionErrorTable": {
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "type": "integer",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "format": "int32"
        }
      },
      "id": "ActionErrorTable",
      "type": "object",
      "description": "Error table information, used to write error data into a BigQuery table."
    },
    "ErrorTable": {
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "type": "integer",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "format": "int32"
        }
      },
      "description": "Error table information, used to write error data into a BigQuery table.",
      "id": "ErrorTable",
      "type": "object"
    },
    "FolderContentsEntry": {
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "description": "Represents a single content entry.",
      "id": "FolderContentsEntry",
      "type": "object"
    },
    "FileSearchResult": {
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      },
      "id": "FileSearchResult",
      "type": "object",
      "description": "Client-facing representation of a file entry in search results."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "TeamFolderSearchResult": {
      "description": "Represents a single content entry.",
      "id": "TeamFolderSearchResult",
      "type": "object",
      "properties": {
        "teamFolder": {
          "description": "A TeamFolder resource that is in the project / location.",
          "$ref": "TeamFolder"
        }
      }
    },
    "FetchFileDiffResponse": {
      "properties": {
        "formattedDiff": {
          "type": "string",
          "description": "The raw formatted Git diff for the file."
        }
      },
      "description": "`FetchFileDiff` response message.",
      "id": "FetchFileDiffResponse",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "description": "`ListWorkspaces` response message.",
      "id": "ListWorkspacesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        },
        "workspaces": {
          "description": "List of workspaces.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "id": "Operations",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "queries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "relationDescriptor": {
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true.",
          "$ref": "RelationDescriptor"
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        }
      }
    },
    "RootContentsEntry": {
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "description": "Represents a single content entry.",
      "id": "RootContentsEntry",
      "type": "object"
    },
    "SshAuthenticationConfig": {
      "id": "SshAuthenticationConfig",
      "type": "object",
      "description": "Configures fields for performing SSH authentication.",
      "properties": {
        "hostPublicKey": {
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host.",
          "type": "string"
        },
        "userPrivateKeySecretVersion": {
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "QueryFolderContentsResponse": {
      "description": "`QueryFolderContents` response message.",
      "id": "QueryFolderContentsResponse",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "FolderContentsEntry"
          },
          "description": "List of entries in the folder."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Target": {
      "id": "Target",
      "type": "object",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "properties": {
        "name": {
          "description": "Optional. The action's name, within `database` and `schema`.",
          "type": "string"
        },
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The action's database (Google Cloud project ID) .",
          "type": "string"
        }
      }
    },
    "MoveFileRequest": {
      "properties": {
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        },
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MoveFileRequest",
      "type": "object",
      "description": "`MoveFile` request message."
    },
    "WriteFileRequest": {
      "description": "`WriteFile` request message.",
      "id": "WriteFileRequest",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file."
        },
        "contents": {
          "description": "Required. The file's contents.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "UncommittedFileChange": {
      "id": "UncommittedFileChange",
      "type": "object",
      "description": "Represents the Git state of a file with uncommitted changes.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "readOnly": true,
          "description": "Output only. Indicates the status of the file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ]
        },
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        }
      }
    },
    "InstallNpmPackagesRequest": {
      "properties": {},
      "description": "`InstallNpmPackages` request message.",
      "id": "InstallNpmPackagesRequest",
      "type": "object"
    },
    "SimpleLoadMode": {
      "properties": {},
      "id": "SimpleLoadMode",
      "type": "object",
      "description": "Simple load definition"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "LoadConfig": {
      "id": "LoadConfig",
      "type": "object",
      "description": "Simplified load configuration for actions",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "SimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "IncrementalLoadMode"
        }
      }
    },
    "InvocationConfig": {
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "id": "InvocationConfig",
      "type": "object",
      "properties": {
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "includedTags": {
          "description": "Optional. The set of tags to include.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "includedTargets": {
          "description": "Optional. The set of action identifiers to include.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "type": "boolean",
          "description": "Optional. When set to true, any incremental tables will be fully refreshed."
        },
        "queryPriority": {
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ]
        }
      }
    },
    "PullGitCommitsRequest": {
      "properties": {
        "author": {
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace.",
          "$ref": "CommitAuthor"
        },
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used."
        }
      },
      "description": "`PullGitCommits` request message.",
      "id": "PullGitCommitsRequest",
      "type": "object"
    },
    "Config": {
      "description": "Config for all repositories in a given project and location.",
      "id": "Config",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        }
      }
    },
    "IamPolicyOverrideView": {
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "id": "IamPolicyOverrideView",
      "type": "object",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Whether the IAM policy encoded in this view is active."
        },
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        }
      }
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "type": "object",
      "properties": {
        "tokenStatus": {
          "description": "Indicates the status of the Git access token.",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ]
        }
      }
    },
    "QueryCompilationResultActionsResponse": {
      "description": "`QueryCompilationResultActions` response message.",
      "id": "QueryCompilationResultActionsResponse",
      "type": "object",
      "properties": {
        "compilationResultActions": {
          "type": "array",
          "items": {
            "$ref": "CompilationResultAction"
          },
          "description": "List of compilation result actions."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "DirectoryEntry": {
      "properties": {
        "file": {
          "type": "string",
          "description": "A file in the directory."
        },
        "directory": {
          "description": "A child directory in the directory.",
          "type": "string"
        },
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        }
      },
      "description": "Represents a single entry in a directory.",
      "id": "DirectoryEntry",
      "type": "object"
    },
    "PushGitCommitsRequest": {
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      },
      "id": "PushGitCommitsRequest",
      "type": "object",
      "description": "`PushGitCommits` request message."
    },
    "MoveDirectoryResponse": {
      "description": "`MoveDirectory` response message.",
      "id": "MoveDirectoryResponse",
      "type": "object",
      "properties": {}
    },
    "DataPreparationAction": {
      "properties": {
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "ActionSqlDefinition"
        },
        "generatedSql": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only."
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
        },
        "contentsYaml": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
        }
      },
      "description": "Represents a workflow action that will run a Data Preparation.",
      "id": "DataPreparationAction",
      "type": "object"
    },
    "Declaration": {
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "id": "Declaration",
      "type": "object",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions."
    },
    "PrivateResourceMetadata": {
      "description": "Metadata used to identify if a resource is user scoped.",
      "id": "PrivateResourceMetadata",
      "type": "object",
      "properties": {
        "userScoped": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace."
        }
      }
    },
    "TeamFolder": {
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "id": "TeamFolder",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The TeamFolder's user-friendly name."
        },
        "creatorIamPrincipal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the TeamFolder was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The TeamFolder's name.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        }
      }
    },
    "ActionIncrementalLoadMode": {
      "id": "ActionIncrementalLoadMode",
      "type": "object",
      "description": "Load definition for incremental load modes",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      }
    },
    "ActionSqlDefinition": {
      "properties": {
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ActionErrorTable"
        },
        "loadConfig": {
          "description": "Load configuration.",
          "$ref": "ActionLoadConfig"
        }
      },
      "description": "Definition of a SQL Data Preparation",
      "id": "ActionSqlDefinition",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
[...]
