{
  "title": "Datastream API",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20260318",
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "ListConnectionProfilesResponse": {
      "id": "ListConnectionProfilesResponse",
      "description": "Response message for listing connection profiles.",
      "type": "object",
      "properties": {
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "oracleProfile": {
          "description": "Profile for connecting to an Oracle source.",
          "$ref": "OracleProfile"
        },
        "gcsProfile": {
          "description": "Profile for connecting to a Cloud Storage destination.",
          "$ref": "GcsProfile"
        },
        "mysqlProfile": {
          "description": "Profile for connecting to a MySQL source.",
          "$ref": "MysqlProfile"
        },
        "bigqueryProfile": {
          "description": "Profile for connecting to a BigQuery destination.",
          "$ref": "BigQueryProfile"
        },
        "postgresqlProfile": {
          "description": "Profile for connecting to a PostgreSQL source.",
          "$ref": "PostgresqlProfile"
        },
        "sqlServerProfile": {
          "description": "Profile for connecting to a SQLServer source.",
          "$ref": "SqlServerProfile"
        },
        "salesforceProfile": {
          "description": "Profile for connecting to a Salesforce source.",
          "$ref": "SalesforceProfile"
        },
        "mongodbProfile": {
          "description": "Profile for connecting to a MongoDB source.",
          "$ref": "MongodbProfile"
        },
        "spannerProfile": {
          "description": "Profile for connecting to a Spanner source.",
          "$ref": "SpannerProfile"
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        }
      }
    },
    "OracleProfile": {
      "id": "OracleProfile",
      "description": "Profile for connecting to an Oracle source.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the Oracle connection.",
          "type": "string"
        },
        "port": {
          "description": "Port for the Oracle connection, default value is 1521.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. Username for the Oracle connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "databaseService": {
          "description": "Required. Database for the Oracle connection.",
          "type": "string"
        },
        "connectionAttributes": {
          "description": "Connection string attributes",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        },
        "oracleAsmConfig": {
          "description": "Optional. Configuration for Oracle ASM connection.",
          "$ref": "OracleAsmConfig"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      }
    },
    "OracleSslConfig": {
      "id": "OracleSslConfig",
      "description": "Oracle SSL configuration information.",
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile.",
          "readOnly": true,
          "type": "boolean"
        },
        "serverCertificateDistinguishedName": {
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced.",
          "type": "string"
        }
      }
    },
    "OracleAsmConfig": {
      "id": "OracleAsmConfig",
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the Oracle ASM connection.",
          "type": "string"
        },
        "port": {
          "description": "Required. Port for the Oracle ASM connection.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. Username for the Oracle ASM connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the Oracle ASM connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "asmService": {
          "description": "Required. ASM service name for the Oracle ASM connection.",
          "type": "string"
        },
        "connectionAttributes": {
          "description": "Optional. Connection string attributes",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle ASM connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      }
    },
    "GcsProfile": {
      "id": "GcsProfile",
      "description": "Profile for connecting to a Cloud Storage destination.",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "description": "Optional. The root path inside the Cloud Storage bucket.",
          "type": "string"
        }
      }
    },
    "MysqlProfile": {
      "id": "MysqlProfile",
      "description": "Profile for connecting to a MySQL source.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the MySQL connection.",
          "type": "string"
        },
        "port": {
          "description": "Port for the MySQL connection, default value is 3306.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. Username for the MySQL connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. Password for the MySQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "SSL configuration for the MySQL connection.",
          "$ref": "MysqlSslConfig"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the MySQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      }
    },
    "MysqlSslConfig": {
      "id": "MysqlSslConfig",
      "description": "MySQL SSL configuration information.",
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "BigQueryProfile": {
      "id": "BigQueryProfile",
      "description": "Profile for connecting to a BigQuery destination.",
      "type": "object",
      "properties": {}
    },
    "PostgresqlProfile": {
      "id": "PostgresqlProfile",
      "description": "Profile for connecting to a PostgreSQL source.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "port": {
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)",
          "$ref": "PostgresqlSslConfig"
        }
      }
    },
    "PostgresqlSslConfig": {
      "id": "PostgresqlSslConfig",
      "description": "PostgreSQL SSL configuration information.",
      "type": "object",
      "properties": {
        "serverVerification": {
          "description": " If this field is set, the communication will be encrypted with TLS encryption and the server identity will be authenticated.",
          "$ref": "ServerVerification"
        },
        "serverAndClientVerification": {
          "description": "If this field is set, the communication will be encrypted with TLS encryption and both the server identity and the client identity will be authenticated.",
          "$ref": "ServerAndClientVerification"
        }
      }
    },
    "ServerVerification": {
      "id": "ServerVerification",
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option.",
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      }
    },
    "ServerAndClientVerification": {
      "id": "ServerAndClientVerification",
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "type": "object",
      "properties": {
        "clientCertificate": {
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      }
    },
    "SqlServerProfile": {
      "id": "SqlServerProfile",
      "description": "Profile for connecting to a SQLServer source.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SQLServer connection.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SQLServer connection, default value is 1433.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. Username for the SQLServer connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the SQLServer connection.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the SQLServer connection.",
          "$ref": "SqlServerSslConfig"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      }
    },
    "SqlServerSslConfig": {
      "id": "SqlServerSslConfig",
      "description": "SQL Server SSL configuration information.",
      "type": "object",
      "properties": {
        "encryptionNotEnforced": {
          "description": "If set, Datastream will not enforce encryption. If the DB server mandates encryption, then connection will be encrypted but server identity will not be authenticated.",
          "$ref": "EncryptionNotEnforced"
        },
        "basicEncryption": {
          "description": "If set, Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
          "$ref": "BasicEncryption"
        },
        "encryptionAndServerValidation": {
          "description": "If set, Datastream will enforce encryption and authenticate server identity.",
          "$ref": "EncryptionAndServerValidation"
        }
      }
    },
    "EncryptionNotEnforced": {
      "id": "EncryptionNotEnforced",
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility.",
      "type": "object",
      "properties": {}
    },
    "BasicEncryption": {
      "id": "BasicEncryption",
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
      "type": "object",
      "properties": {}
    },
    "EncryptionAndServerValidation": {
      "id": "EncryptionAndServerValidation",
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option.",
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate.",
          "type": "string"
        }
      }
    },
    "SalesforceProfile": {
      "id": "SalesforceProfile",
      "description": "Profile for connecting to a Salesforce source.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. Domain endpoint for the Salesforce connection.",
          "type": "string"
        },
        "userCredentials": {
          "description": "User-password authentication.",
          "$ref": "UserCredentials"
        },
        "oauth2ClientCredentials": {
          "description": "Connected app authentication.",
          "$ref": "Oauth2ClientCredentials"
        }
      }
    },
    "UserCredentials": {
      "id": "UserCredentials",
      "description": "Username-password credentials.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Username for the Salesforce connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "securityToken": {
          "description": "Optional. Security token for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_security_token` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "secretManagerStoredSecurityToken": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's security token. Mutually exclusive with the `security_token` field.",
          "type": "string"
        }
      }
    },
    "Oauth2ClientCredentials": {
      "id": "Oauth2ClientCredentials",
      "description": "OAuth2 Client Credentials.",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        },
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        }
      }
    },
    "MongodbProfile": {
      "id": "MongodbProfile",
      "description": "Profile for connecting to a MongoDB source.",
      "type": "object",
      "properties": {
        "hostAddresses": {
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "type": "array",
          "items": {
            "$ref": "HostAddress"
          }
        },
        "replicaSet": {
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "srvConnectionFormat": {
          "description": "Srv connection format.",
          "$ref": "SrvConnectionFormat"
        },
        "standardConnectionFormat": {
          "description": "Standard connection format.",
          "$ref": "StandardConnectionFormat"
        },
        "additionalOptions": {
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "HostAddress": {
      "id": "HostAddress",
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the connection.",
          "type": "string"
        },
        "port": {
          "description": "Optional. Port for the connection.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MongodbSslConfig": {
      "id": "MongodbSslConfig",
      "description": "MongoDB SSL configuration information.",
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "secretManagerStoredClientKey": {
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field.",
          "type": "string"
        }
      }
    },
    "SrvConnectionFormat": {
      "id": "SrvConnectionFormat",
      "description": "Srv connection format.",
      "type": "object",
      "properties": {}
    },
    "StandardConnectionFormat": {
      "id": "StandardConnectionFormat",
      "description": "Standard connection format.",
      "type": "object",
      "properties": {
        "directConnection": {
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI.",
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "SpannerProfile": {
      "id": "SpannerProfile",
      "description": "Profile for connecting to a Spanner source.",
      "type": "object",
      "properties": {
        "database": {
          "description": "Required. Immutable. Cloud Spanner database resource. This field is immutable. Must be in the format: projects/{project}/instances/{instance}/databases/{database_id}.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The Spanner endpoint to connect to. Defaults to the global endpoint (https://spanner.googleapis.com). Must be in the format: https://spanner.{region}.rep.googleapis.com.",
          "type": "string"
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "id": "StaticServiceIpConnectivity",
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "type": "object",
      "properties": {}
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer",
          "format": "int32"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        }
      }
    },
    "PrivateConnectivity": {
      "id": "PrivateConnectivity",
      "description": "Private Connectivity",
      "type": "object",
      "properties": {
        "privateConnection": {
          "description": "Required. A reference to a private connection resource. Format: `projects/{project}/locations/{location}/privateConnections/{name}`",
          "type": "string"
        }
      }
    },
    "DiscoverConnectionProfileRequest": {
      "id": "DiscoverConnectionProfileRequest",
      "description": "Request message for 'discover' ConnectionProfile request.",
      "type": "object",
      "properties": {
        "connectionProfile": {
          "description": "Optional. An ad-hoc connection profile configuration.",
          "$ref": "ConnectionProfile"
        },
        "connectionProfileName": {
          "description": "Optional. A reference to an existing connection profile.",
          "type": "string"
        },
        "fullHierarchy": {
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "hierarchyDepth": {
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved.",
          "type": "integer",
          "format": "int32"
        },
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "mysqlRdbms": {
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "postgresqlRdbms": {
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "PostgresqlRdbms"
        },
        "sqlServerRdbms": {
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata.",
          "$ref": "SqlServerRdbms"
        },
        "salesforceOrg": {
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata.",
          "$ref": "SalesforceOrg"
        },
        "mongodbCluster": {
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata.",
          "$ref": "MongodbCluster"
        },
        "spannerDatabase": {
          "description": "Optional. Spanner database to enrich with child data objects and metadata.",
          "$ref": "SpannerDatabase"
        }
      }
    },
    "OracleRdbms": {
      "id": "OracleRdbms",
      "description": "Oracle database structure.",
      "type": "object",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "type": "array",
          "items": {
            "$ref": "OracleSchema"
          }
        }
      }
    },
    "OracleSchema": {
      "id": "OracleSchema",
      "description": "Oracle schema.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "oracleTables": {
          "description": "Tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "OracleTable"
          }
        }
      }
    },
    "OracleTable": {
      "id": "OracleTable",
      "description": "Oracle table.",
      "type": "object",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "OracleColumn"
          }
        }
      }
    },
    "OracleColumn": {
      "id": "OracleColumn",
      "description": "Oracle Column.",
      "type": "object",
      "properties": {
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "The Oracle data type.",
          "type": "string"
        },
        "length": {
          "description": "Column length.",
          "type": "integer",
          "format": "int32"
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "encoding": {
          "description": "Column encoding.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MysqlRdbms": {
      "id": "MysqlRdbms",
      "description": "MySQL database structure",
      "type": "object",
      "properties": {
        "mysqlDatabases": {
          "description": "Mysql databases on the server",
          "type": "array",
          "items": {
            "$ref": "MysqlDatabase"
          }
        }
      }
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "description": "MySQL database.",
      "type": "object",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "mysqlTables": {
          "description": "Tables in the database.",
          "type": "array",
          "items": {
            "$ref": "MysqlTable"
          }
        }
      }
    },
    "MysqlTable": {
      "id": "MysqlTable",
      "description": "MySQL table.",
      "type": "object",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "MysqlColumn"
          }
        }
      }
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "description": "MySQL Column.",
      "type": "object",
      "properties": {
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "length": {
          "description": "Column length.",
          "type": "integer",
          "format": "int32"
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PostgresqlRdbms": {
      "id": "PostgresqlRdbms",
      "description": "PostgreSQL database structure.",
      "type": "object",
      "properties": {
        "postgresqlSchemas": {
          "description": "PostgreSQL schemas in the database server.",
          "type": "array",
          "items": {
            "$ref": "PostgresqlSchema"
          }
        }
      }
    },
    "PostgresqlSchema": {
      "id": "PostgresqlSchema",
      "description": "PostgreSQL schema.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "postgresqlTables": {
          "description": "Tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "PostgresqlTable"
          }
        }
      }
    },
    "PostgresqlTable": {
      "id": "PostgresqlTable",
      "description": "PostgreSQL table.",
      "type": "object",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "postgresqlColumns": {
          "description": "PostgreSQL columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "PostgresqlColumn"
          }
        }
      }
    },
    "PostgresqlColumn": {
      "id": "PostgresqlColumn",
      "description": "PostgreSQL Column.",
      "type": "object",
      "properties": {
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "The PostgreSQL data type.",
          "type": "string"
        },
        "length": {
          "description": "Column length.",
          "type": "integer",
          "format": "int32"
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SqlServerRdbms": {
      "id": "SqlServerRdbms",
      "description": "SQLServer database structure.",
      "type": "object",
      "properties": {
        "schemas": {
          "description": "SQLServer schemas in the database server.",
          "type": "array",
          "items": {
            "$ref": "SqlServerSchema"
          }
        }
      }
    },
    "SqlServerSchema": {
      "id": "SqlServerSchema",
      "description": "SQLServer schema.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "tables": {
          "description": "Tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTable"
          }
        }
      }
    },
    "SqlServerTable": {
      "id": "SqlServerTable",
      "description": "SQLServer table.",
      "type": "object",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "columns": {
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "SqlServerColumn"
          }
        }
      }
    },
    "SqlServerColumn": {
      "id": "SqlServerColumn",
      "description": "SQLServer Column.",
      "type": "object",
      "properties": {
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "The SQLServer data type.",
          "type": "string"
        },
        "length": {
          "description": "Column length.",
          "type": "integer",
          "format": "int32"
        },
        "precision": {
          "description": "Column precision.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SalesforceOrg": {
      "id": "SalesforceOrg",
      "description": "Salesforce organization structure.",
      "type": "object",
      "properties": {
        "objects": {
          "description": "Salesforce objects in the database server.",
          "type": "array",
          "items": {
            "$ref": "SalesforceObject"
          }
        }
      }
    },
    "SalesforceObject": {
      "id": "SalesforceObject",
      "description": "Salesforce object.",
      "type": "object",
      "properties": {
        "objectName": {
          "description": "The object name.",
          "type": "string"
        },
        "fields": {
          "description": "Salesforce fields. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "type": "array",
          "items": {
            "$ref": "SalesforceField"
          }
        }
      }
    },
    "SalesforceField": {
      "id": "SalesforceField",
      "description": "Salesforce field.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "dataType": {
          "description": "The data type.",
          "type": "string"
        },
        "nillable": {
          "description": "Indicates whether the field can accept nil values.",
          "type": "boolean"
        }
      }
    },
    "MongodbCluster": {
      "id": "MongodbCluster",
      "description": "MongoDB Cluster structure.",
      "type": "object",
      "properties": {
        "databases": {
          "description": "MongoDB databases in the cluster.",
          "type": "array",
          "items": {
            "$ref": "MongodbDatabase"
          }
        }
      }
    },
    "MongodbDatabase": {
      "id": "MongodbDatabase",
      "description": "MongoDB Database.",
      "type": "object",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "collections": {
          "description": "Collections in the database.",
          "type": "array",
          "items": {
            "$ref": "MongodbCollection"
          }
        }
      }
    },
    "MongodbCollection": {
      "id": "MongodbCollection",
      "description": "MongoDB Collection.",
      "type": "object",
      "properties": {
        "collection": {
          "description": "The collection name.",
          "type": "string"
        },
        "fields": {
          "description": "Fields in the collection.",
          "type": "array",
          "items": {
            "$ref": "MongodbField"
          }
        }
      }
    },
    "MongodbField": {
      "id": "MongodbField",
      "description": "MongoDB Field.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field name.",
          "type": "string"
        }
      }
    },
    "SpannerDatabase": {
      "id": "SpannerDatabase",
      "description": "Spanner database structure.",
      "type": "object",
      "properties": {
        "schemas": {
          "description": "Optional. Spanner schemas in the database.",
          "type": "array",
          "items": {
            "$ref": "SpannerSchema"
          }
        }
      }
    },
    "SpannerSchema": {
      "id": "SpannerSchema",
      "description": "Spanner schema.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "tables": {
          "description": "Optional. Spanner tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "SpannerTable"
          }
        }
      }
    },
    "SpannerTable": {
      "id": "SpannerTable",
      "description": "Spanner table.",
      "type": "object",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "columns": {
          "description": "Optional. Spanner columns in the table.",
          "type": "array",
          "items": {
            "$ref": "SpannerColumn"
          }
        }
      }
    },
    "SpannerColumn": {
      "id": "SpannerColumn",
      "description": "Spanner column.",
      "type": "object",
      "properties": {
        "column": {
          "description": "Required. The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "isPrimaryKey": {
          "description": "Optional. Whether or not the column is a primary key.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "Optional. The ordinal position of the column in the table.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DiscoverConnectionProfileResponse": {
      "id": "DiscoverConnectionProfileResponse",
      "description": "Response from a discover request.",
      "type": "object",
      "properties": {
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        },
        "postgresqlRdbms": {
          "description": "Enriched PostgreSQL RDBMS object.",
          "$ref": "PostgresqlRdbms"
        },
        "sqlServerRdbms": {
          "description": "Enriched SQLServer RDBMS object.",
          "$ref": "SqlServerRdbms"
        },
        "salesforceOrg": {
          "description": "Enriched Salesforce organization.",
          "$ref": "SalesforceOrg"
        },
        "mongodbCluster": {
          "description": "Enriched MongoDB cluster.",
          "$ref": "MongodbCluster"
        },
        "spannerDatabase": {
          "description": "Enriched Spanner database.",
          "$ref": "SpannerDatabase"
        }
      }
    },
    "ListStreamsResponse": {
      "id": "ListStreamsResponse",
      "description": "Response message for listing streams.",
      "type": "object",
      "properties": {
        "streams": {
          "description": "List of streams",
          "type": "array",
          "items": {
            "$ref": "Stream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Stream": {
      "id": "Stream",
      "description": "A resource representing streaming data from a source to a destination.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The stream's name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update time of the stream.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "state": {
          "description": "The state of the stream.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ]
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        },
        "errors": {
          "description": "Output only. Errors on the Stream.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "lastRecoveryTime": {
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "ruleSets": {
          "description": "Optional. Rule sets to apply to the stream.",
          "type": "array",
          "items": {
            "$ref": "RuleSet"
          }
        }
      }
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The configuration of the stream source.",
      "type": "object",
      "properties": {
        "sourceConnectionProfile": {
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "oracleSourceConfig": {
          "description": "Oracle data source configuration.",
          "$ref": "OracleSourceConfig"
        },
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration.",
          "$ref": "MysqlSourceConfig"
        },
        "postgresqlSourceConfig": {
          "description": "PostgreSQL data source configuration.",
          "$ref": "PostgresqlSourceConfig"
        },
        "sqlServerSourceConfig": {
          "description": "SQLServer data source configuration.",
          "$ref": "SqlServerSourceConfig"
        },
        "salesforceSourceConfig": {
          "description": "Salesforce data source configuration.",
          "$ref": "SalesforceSourceConfig"
        },
        "mongodbSourceConfig": {
          "description": "MongoDB data source configuration.",
          "$ref": "MongodbSourceConfig"
        },
        "spannerSourceConfig": {
          "description": "Spanner data source configuration.",
          "$ref": "SpannerSourceConfig"
        }
      }
    },
    "OracleSourceConfig": {
      "id": "OracleSourceConfig",
      "description": "Configuration for syncing data from an Oracle source.",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        },
        "excludeObjects": {
          "description": "The Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        },
        "maxConcurrentCdcTasks": {
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "DropLargeObjects"
        },
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        },
        "logMiner": {
          "description": "Use LogMiner.",
          "$ref": "LogMiner"
        },
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        }
      }
    },
    "DropLargeObjects": {
      "id": "DropLargeObjects",
      "description": "Configuration to drop large object values.",
      "type": "object",
      "properties": {}
    },
    "StreamLargeObjects": {
      "id": "StreamLargeObjects",
      "description": "Configuration to stream large object values.",
      "type": "object",
      "properties": {}
    },
    "LogMiner": {
      "id": "LogMiner",
      "description": "Configuration to use LogMiner CDC method.",
      "type": "object",
      "properties": {}
    },
    "BinaryLogParser": {
      "id": "BinaryLogParser",
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "type": "object",
      "properties": {
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        },
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        }
      }
    },
    "OracleAsmLogFileAccess": {
      "id": "OracleAsmLogFileAccess",
      "description": "Configuration to use Oracle ASM to access the log files.",
      "type": "object",
      "properties": {}
    },
    "LogFileDirectories": {
      "id": "LogFileDirectories",
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "type": "object",
      "properties": {
        "onlineLogDirectory": {
          "description": "Required. Oracle directory for online logs.",
          "type": "string"
        },
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        }
      }
    },
    "MysqlSourceConfig": {
      "id": "MysqlSourceConfig",
      "description": "Configuration for syncing data from a MySQL source.",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The MySQL objects to retrieve from the source.",
          "$ref": "MysqlRdbms"
        },
        "excludeObjects": {
          "description": "The MySQL objects to exclude from the stream.",
          "$ref": "MysqlRdbms"
        },
        "maxConcurrentCdcTasks": {
          "description": "Maximum number of concurrent CDC tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        },
        "binaryLogPosition": {
          "description": "Use Binary log position based replication.",
          "$ref": "BinaryLogPosition"
        },
        "gtid": {
          "description": "Use GTID based replication.",
          "$ref": "Gtid"
        }
      }
    },
    "BinaryLogPosition": {
      "id": "BinaryLogPosition",
      "description": "Use Binary log position based replication.",
      "type": "object",
      "properties": {}
    },
    "Gtid": {
      "id": "Gtid",
      "description": "Use GTID based replication.",
      "type": "object",
      "properties": {}
    },
    "PostgresqlSourceConfig": {
      "id": "PostgresqlSourceConfig",
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The PostgreSQL objects to include in the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SqlServerSourceConfig": {
      "id": "SqlServerSourceConfig",
      "description": "Configuration for syncing data from a SQLServer source.",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The SQLServer objects to include in the stream.",
          "$ref": "SqlServerRdbms"
        },
        "excludeObjects": {
          "description": "The SQLServer objects to exclude from the stream.",
          "$ref": "SqlServerRdbms"
        },
        "maxConcurrentCdcTasks": {
          "description": "Max concurrent CDC tasks.",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Max concurrent backfill tasks.",
          "type": "integer",
          "format": "int32"
        },
        "transactionLogs": {
          "description": "CDC reader reads from transaction logs.",
          "$ref": "SqlServerTransactionLogs"
        },
        "changeTables": {
          "description": "CDC reader reads from change tables.",
          "$ref": "SqlServerChangeTables"
        }
      }
    },
    "SqlServerTransactionLogs": {
      "id": "SqlServerTransactionLogs",
      "description": "Configuration to use Transaction Logs CDC read method.",
      "type": "object",
      "properties": {}
    },
    "SqlServerChangeTables": {
      "id": "SqlServerChangeTables",
      "description": "Configuration to use Change Tables CDC read method.",
      "type": "object",
      "properties": {}
    },
    "SalesforceSourceConfig": {
      "id": "SalesforceSourceConfig",
      "description": "Configuration for syncing data from a Salesforce source.",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The Salesforce objects to retrieve from the source.",
          "$ref": "SalesforceOrg"
        },
        "excludeObjects": {
          "description": "The Salesforce objects to exclude from the stream.",
          "$ref": "SalesforceOrg"
        },
        "pollingInterval": {
          "description": "Required. Salesforce objects polling interval. The interval at which new changes will be polled for each object. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "MongodbSourceConfig": {
      "id": "MongodbSourceConfig",
      "description": "Configuration for syncing data from a MongoDB source.",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The MongoDB collections to include in the stream.",
          "$ref": "MongodbCluster"
        },
        "excludeObjects": {
          "description": "The MongoDB collections to exclude from the stream.",
          "$ref": "MongodbCluster"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Optional. Maximum number of concurrent backfill tasks. The number should be non-negative and less than or equal to 50. If not set (or set to 0), the system's default value is used",
          "type": "integer",
          "format": "int32"
        },
        "jsonMode": {
          "description": "Optional. MongoDB JSON mode to use for the stream.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified JSON mode.",
            "Strict JSON mode.",
            "Canonical JSON mode."
          ],
          "enum": [
            "MONGODB_JSON_MODE_UNSPECIFIED",
            "STRICT",
            "CANONICAL"
          ]
        }
      }
    },
    "SpannerSourceConfig": {
      "id": "SpannerSourceConfig",
      "description": "Configuration for syncing data from a Spanner source.",
      "type": "object",
      "properties": {
        "changeStreamName": {
          "description": "Required. Immutable. The change stream name to use for the stream.",
          "type": "string"
        },
        "spannerRpcPriority": {
          "description": "Optional. The RPC priority to use for the stream.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified RPC priority.",
            "Low RPC priority.",
            "Medium RPC priority.",
            "High RPC priority."
          ],
          "enum": [
            "SPANNER_RPC_PRIORITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "fgacRole": {
          "description": "Optional. The FGAC role to use for the stream.",
          "type": "string"
        },
        "maxConcurrentCdcTasks": {
          "description": "Optional. Maximum number of concurrent CDC tasks.",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Optional. Maximum number of concurrent backfill tasks.",
          "type": "integer",
          "format": "int32"
        },
        "includeObjects": {
          "description": "Optional. The Spanner objects to retrieve from the data source. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "excludeObjects": {
          "description": "Optional. The Spanner objects to avoid retrieving. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "backfillDataBoostEnabled": {
          "description": "Optional. Whether to use Data Boost for Spanner backfills. Defaults to false if not set.",
          "type": "boolean"
        }
      }
    },
    "DestinationConfig": {
      "id": "DestinationConfig",
      "description": "The configuration of the stream destination.",
      "type": "object",
      "properties": {
        "destinationConnectionProfile": {
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "gcsDestinationConfig": {
          "description": "A configuration for how data should be loaded to Cloud Storage.",
          "$ref": "GcsDestinationConfig"
        },
        "bigqueryDestinationConfig": {
          "description": "BigQuery destination configuration.",
          "$ref": "BigQueryDestinationConfig"
        }
      }
    },
    "GcsDestinationConfig": {
      "id": "GcsDestinationConfig",
      "description": "Google Cloud Storage destination configuration",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "fileRotationMb": {
          "description": "The maximum file size to be saved in the bucket.",
          "type": "integer",
          "format": "int32"
        },
        "fileRotationInterval": {
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "type": "string",
          "format": "google-duration"
        },
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        }
      }
    },
    "AvroFileFormat": {
      "id": "AvroFileFormat",
      "description": "AVRO file format configuration.",
      "type": "object",
      "properties": {}
    },
    "JsonFileFormat": {
      "id": "JsonFileFormat",
      "description": "JSON file format configuration.",
      "type": "object",
      "properties": {
        "schemaFileFormat": {
          "description": "The schema file format along JSON data files.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ]
        },
        "compression": {
          "description": "Compression of the loaded JSON file.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ]
        }
      }
    },
    "BigQueryDestinationConfig": {
      "id": "BigQueryDestinationConfig",
      "description": "BigQuery destination configuration",
      "type": "object",
      "properties": {
        "singleTargetDataset": {
          "description": "Single destination dataset.",
          "$ref": "SingleTargetDataset"
        },
        "sourceHierarchyDatasets": {
          "description": "Source hierarchy datasets.",
          "$ref": "SourceHierarchyDatasets"
        },
        "dataFreshness": {
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost.",
          "type": "string",
          "format": "google-duration"
        },
        "blmtConfig": {
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration.",
          "$ref": "BlmtConfig"
        },
        "merge": {
          "description": "The standard mode",
          "$ref": "Merge"
        },
        "appendOnly": {
          "description": "Append only mode",
          "$ref": "AppendOnly"
        }
      }
    },
    "SingleTargetDataset": {
      "id": "SingleTargetDataset",
      "description": "A single target dataset to which all data will be streamed.",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference.",
          "type": "string"
        }
      }
    },
    "SourceHierarchyDatasets": {
      "id": "SourceHierarchyDatasets",
      "description": "Destination datasets are created so that hierarchy of the destination data objects matches the source hierarchy.",
      "type": "object",
      "properties": {
        "datasetTemplate": {
          "description": "The dataset template to use for dynamic dataset creation.",
          "$ref": "DatasetTemplate"
        },
        "projectId": {
          "description": "Optional. The project id of the BigQuery dataset. If not specified, the project will be inferred from the stream resource.",
          "type": "string"
        }
      }
    },
    "DatasetTemplate": {
      "id": "DatasetTemplate",
      "description": "Dataset template used for dynamic dataset creation.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "datasetIdPrefix": {
          "description": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information.",
          "type": "string"
        }
      }
    },
    "BlmtConfig": {
      "id": "BlmtConfig",
      "description": "The configuration for BLMT.",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "connectionName": {
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`",
          "type": "string"
        },
        "fileFormat": {
          "description": "Required. The file format.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ]
        },
        "tableFormat": {
          "description": "Required. The table format.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ],
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        }
      }
    },
    "Merge": {
      "id": "Merge",
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "type": "object",
      "properties": {}
    },
    "AppendOnly": {
      "id": "AppendOnly",
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table.",
      "type": "object",
      "properties": {}
    },
    "BackfillAllStrategy": {
      "id": "BackfillAllStrategy",
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "type": "object",
      "properties": {
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "mysqlExcludedObjects": {
          "description": "MySQL data source objects to avoid backfilling.",
          "$ref": "MysqlRdbms"
        },
        "postgresqlExcludedObjects": {
          "description": "PostgreSQL data source objects to avoid backfilling.",
          "$ref": "PostgresqlRdbms"
        },
        "sqlServerExcludedObjects": {
          "description": "SQLServer data source objects to avoid backfilling",
          "$ref": "SqlServerRdbms"
        },
        "salesforceExcludedObjects": {
          "description": "Salesforce data source objects to avoid backfilling",
          "$ref": "SalesforceOrg"
        },
        "mongodbExcludedObjects": {
          "description": "MongoDB data source objects to avoid backfilling",
          "$ref": "MongodbCluster"
        },
        "spannerExcludedObjects": {
          "description": "Spanner data source objects to avoid backfilling.",
          "$ref": "SpannerDatabase"
        }
      }
    },
    "BackfillNoneStrategy": {
      "id": "BackfillNoneStrategy",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "type": "object",
      "properties": {}
    },
    "Error": {
      "id": "Error",
      "description": "Represent a user-facing Error.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "A title that explains the reason for the error.",
          "type": "string"
        },
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "message": {
          "description": "A message containing more information about the error that occurred.",
          "type": "string"
        },
        "errorTime": {
          "description": "The time when the error occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "details": {
          "description": "Additional information about the error.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RuleSet": {
      "id": "RuleSet",
      "description": "A set of rules to apply to a set of objects.",
      "type": "object",
      "properties": {
        "customizationRules": {
          "description": "Required. List of customization rules to apply.",
          "type": "array",
          "items": {
            "$ref": "CustomizationRule"
          }
        },
        "objectFilter": {
          "description": "Required. Object filter to apply the customization rules to.",
          "$ref": "ObjectFilter"
        }
      }
    },
    "CustomizationRule": {
      "id": "CustomizationRule",
      "description": "A customization rule to apply to a set of objects.",
      "type": "object",
      "properties": {
        "bigqueryPartitioning": {
          "description": "BigQuery partitioning rule.",
          "$ref": "BigQueryPartitioning"
        },
        "bigqueryClustering": {
          "description": "BigQuery clustering rule.",
          "$ref": "BigQueryClustering"
        }
      }
    },
    "BigQueryPartitioning": {
      "id": "BigQueryPartitioning",
      "description": "BigQuery partitioning configuration.",
      "type": "object",
      "properties": {
        "integerRangePartition": {
          "description": "Integer range partitioning.",
          "$ref": "IntegerRangePartition"
        },
        "timeUnitPartition": {
          "description": "Time unit column partitioning.",
          "$ref": "TimeUnitPartition"
        },
        "ingestionTimePartition": {
          "description": "Ingestion time partitioning.",
          "$ref": "IngestionTimePartition"
        },
        "requirePartitionFilter": {
          "description": "Optional. If true, queries over the table require a partition filter.",
          "type": "boolean"
        }
      }
    },
    "IntegerRangePartition": {
      "id": "IntegerRangePartition",
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range",
      "type": "object",
      "properties": {
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "start": {
          "description": "Required. The starting value for range partitioning (inclusive).",
          "type": "string",
          "format": "int64"
        },
        "end": {
          "description": "Required. The ending value for range partitioning (exclusive).",
          "type": "string",
          "format": "int64"
        },
        "interval": {
          "description": "Required. The interval of each range within the partition.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TimeUnitPartition": {
      "id": "TimeUnitPartition",
      "description": "Time unit column partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#date_timestamp_partitioned_tables",
      "type": "object",
      "properties": {
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "partitioningTimeGranularity": {
          "description": "Optional. Partition granularity.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ]
        }
      }
    },
    "IngestionTimePartition": {
      "id": "IngestionTimePartition",
      "description": "Ingestion time partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time",
      "type": "object",
      "properties": {
        "partitioningTimeGranularity": {
          "description": "Optional. Partition granularity",
          "type": "string",
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ]
        }
      }
    },
    "BigQueryClustering": {
      "id": "BigQueryClustering",
      "description": "BigQuery clustering configuration.",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Required. Column names to set as clustering columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ObjectFilter": {
      "id": "ObjectFilter",
      "description": "Object filter to apply the rules to.",
      "type": "object",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Specific source object identifier.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "SourceObjectIdentifier": {
      "id": "SourceObjectIdentifier",
      "description": "Represents an identifier of an object in the data source.",
      "type": "object",
      "properties": {
        "oracleIdentifier": {
          "description": "Oracle data source object identifier.",
          "$ref": "OracleObjectIdentifier"
        },
        "mysqlIdentifier": {
          "description": "Mysql data source object identifier.",
          "$ref": "MysqlObjectIdentifier"
        },
        "postgresqlIdentifier": {
          "description": "PostgreSQL data source object identifier.",
          "$ref": "PostgresqlObjectIdentifier"
        },
        "sqlServerIdentifier": {
          "description": "SQLServer data source object identifier.",
          "$ref": "SqlServerObjectIdentifier"
        },
        "salesforceIdentifier": {
          "description": "Salesforce data source object identifier.",
          "$ref": "SalesforceObjectIdentifier"
        },
        "mongodbIdentifier": {
          "description": "MongoDB data source object identifier.",
          "$ref": "MongodbObjectIdentifier"
        },
        "spannerIdentifier": {
          "description": "Spanner data source object identifier.",
          "$ref": "SpannerObjectIdentifier"
        }
      }
    },
    "OracleObjectIdentifier": {
      "id": "OracleObjectIdentifier",
      "description": "Oracle data source object identifier.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "MysqlObjectIdentifier": {
      "id": "MysqlObjectIdentifier",
      "description": "Mysql data source object identifier.",
      "type": "object",
      "properties": {
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "PostgresqlObjectIdentifier": {
      "id": "PostgresqlObjectIdentifier",
      "description": "PostgreSQL data source object identifier.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "SqlServerObjectIdentifier": {
      "id": "SqlServerObjectIdentifier",
      "description": "SQLServer data source object identifier.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "SalesforceObjectIdentifier": {
      "id": "SalesforceObjectIdentifier",
      "description": "Salesforce data source object identifier.",
      "type": "object",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      }
    },
    "MongodbObjectIdentifier": {
      "id": "MongodbObjectIdentifier",
      "description": "MongoDB data source object identifier.",
      "type": "object",
      "properties": {
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "collection": {
          "description": "Required. The collection name.",
          "type": "string"
        }
      }
    },
    "SpannerObjectIdentifier": {
      "id": "SpannerObjectIdentifier",
      "description": "Spanner data source object identifier.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "RunStreamRequest": {
      "id": "RunStreamRequest",
      "description": "Request message for running a stream.",
      "type": "object",
      "properties": {
        "cdcStrategy": {
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used.",
          "$ref": "CdcStrategy"
        },
        "force": {
          "description": "Optional. Update the stream without validating it.",
          "type": "boolean"
        }
      }
    },
    "CdcStrategy": {
      "id": "CdcStrategy",
      "description": "The strategy that the stream uses for CDC replication.",
      "type": "object",
      "properties": {
        "mostRecentStartPosition": {
          "description": "Optional. Start replicating from the most recent position in the source.",
          "$ref": "MostRecentStartPosition"
        },
        "nextAvailableStartPosition": {
          "description": "Optional. Resume replication from the next available position in the source.",
          "$ref": "NextAvailableStartPosition"
        },
        "specificStartPosition": {
          "description": "Optional. Start replicating from a specific position in the source.",
          "$ref": "SpecificStartPosition"
        }
      }
    },
    "MostRecentStartPosition": {
      "id": "MostRecentStartPosition",
      "description": "CDC strategy to start replicating from the most recent position in the source.",
      "type": "object",
      "properties": {}
    },
    "NextAvailableStartPosition": {
      "id": "NextAvailableStartPosition",
      "description": "CDC strategy to resume replication from the next available position in the source.",
      "type": "object",
      "properties": {}
    },
    "SpecificStartPosition": {
      "id": "SpecificStartPosition",
      "description": "CDC strategy to start replicating from a specific position in the source.",
      "type": "object",
      "properties": {
        "mysqlLogPosition": {
          "description": "MySQL specific log position to start replicating from.",
          "$ref": "MysqlLogPosition"
        },
        "oracleScnPosition": {
          "description": "Oracle SCN to start replicating from.",
          "$ref": "OracleScnPosition"
        },
        "sqlServerLsnPosition": {
          "description": "SqlServer LSN to start replicating from.",
          "$ref": "SqlServerLsnPosition"
        },
        "mysqlGtidPosition": {
          "description": "MySQL GTID set to start replicating from.",
          "$ref": "MysqlGtidPosition"
        },
        "mongodbChangeStreamPosition": {
          "description": "MongoDB change stream position to start replicating from.",
          "$ref": "MongodbChangeStreamPosition"
        }
      }
    },
    "MysqlLogPosition": {
      "id": "MysqlLogPosition",
      "description": "MySQL log position",
      "type": "object",
      "properties": {
        "logFile": {
          "description": "Required. The binary log file name.",
          "type": "string"
        },
        "logPosition": {
          "description": "Optional. The position within the binary log file. Default is head of file.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OracleScnPosition": {
      "id": "OracleScnPosition",
      "description": "Oracle SCN position",
      "type": "object",
      "properties": {
        "scn": {
          "description": "Required. SCN number from where Logs will be read",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SqlServerLsnPosition": {
      "id": "SqlServerLsnPosition",
      "description": "SQL Server LSN position",
      "type": "object",
      "properties": {
        "lsn": {
          "description": "Required. Log sequence number (LSN) from where Logs will be read",
          "type": "string"
        }
      }
    },
    "MysqlGtidPosition": {
      "id": "MysqlGtidPosition",
      "description": "MySQL GTID position",
      "type": "object",
      "properties": {
        "gtidSet": {
          "description": "Required. The gtid set to start replication from.",
          "type": "string"
        }
      }
    },
    "MongodbChangeStreamPosition": {
      "id": "MongodbChangeStreamPosition",
      "description": "MongoDB change stream position",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp to start change stream from.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "StreamObject": {
      "id": "StreamObject",
      "description": "A specific stream object (e.g a specific DB table).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The object resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time of the object.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update time of the object.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Active errors on the object.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        },
        "customizationRules": {
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object.",
[...]
