{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "dataform:v1beta1",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "version": "v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://dataform.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "schemas": {
    "IncrementalTableConfig": {
      "id": "IncrementalTableConfig",
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "type": "object",
      "properties": {
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        },
        "updatePartitionFilter": {
          "type": "string",
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information)."
        },
        "uniqueKeyParts": {
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "incrementalPostOperations": {
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "incrementalPreOperations": {
          "type": "array",
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Relation": {
      "type": "object",
      "properties": {
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "preOperations": {
          "description": "SQL statements to be executed before creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "relationType": {
          "type": "string",
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ]
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "clusterExpressions": {
          "type": "array",
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "items": {
            "type": "string"
          }
        },
        "partitionExpirationDays": {
          "description": "Sets the partition expiration in days.",
          "format": "int32",
          "type": "integer"
        },
        "fileFormat": {
          "description": "Optional. The file format for the BigQuery table.",
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "type": "string"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        },
        "storageUri": {
          "type": "string",
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`."
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "partitionExpression": {
          "type": "string",
          "description": "The SQL expression used to partition the relation."
        },
        "additionalOptions": {
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connection": {
          "type": "string",
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT."
        },
        "tableFormat": {
          "description": "Optional. The table format for the BigQuery table.",
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "type": "string"
        }
      },
      "id": "Relation",
      "description": "Represents a database relation."
    },
    "MakeDirectoryRequest": {
      "id": "MakeDirectoryRequest",
      "description": "`MakeDirectory` request message.",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorTable": {
      "type": "object",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer"
        }
      },
      "id": "ErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table."
    },
    "CommitWorkspaceChangesRequest": {
      "type": "object",
      "properties": {
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CommitWorkspaceChangesRequest",
      "description": "`CommitWorkspaceChanges` request message."
    },
    "FilesystemEntryMetadata": {
      "properties": {
        "updateTime": {
          "description": "Output only. Represents the time of the last modification of the entry.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FilesystemEntryMetadata",
      "description": "Represents metadata for a single entry in a filesystem."
    },
    "SearchResult": {
      "type": "object",
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        }
      },
      "id": "SearchResult",
      "description": "Client-facing representation of a search result entry."
    },
    "CompilationError": {
      "properties": {
        "path": {
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "readOnly": true,
          "type": "string"
        },
        "actionTarget": {
          "$ref": "Target",
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Output only. The error's top level message.",
          "readOnly": true
        },
        "stack": {
          "description": "Output only. The error's full stack trace.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "CompilationError",
      "description": "An error encountered when attempting to compile a Dataform project."
    },
    "ReleaseConfig": {
      "id": "ReleaseConfig",
      "description": "Represents a Dataform release configuration.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "releaseCompilationResult": {
          "type": "string",
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "recentScheduledReleaseRecords": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          }
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of compilation results."
        }
      }
    },
    "IamPolicyOverrideView": {
      "id": "IamPolicyOverrideView",
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "properties": {
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        },
        "isActive": {
          "type": "boolean",
          "description": "Whether the IAM policy encoded in this view is active."
        }
      },
      "type": "object"
    },
    "FetchRepositoryHistoryResponse": {
      "id": "FetchRepositoryHistoryResponse",
      "description": "`FetchRepositoryHistory` response message.",
      "properties": {
        "commits": {
          "description": "A list of commit logs, ordered by 'git log' default order.",
          "items": {
            "$ref": "CommitLogEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompilationResult": {
      "id": "CompilationResult",
      "description": "Represents the result of compiling a Dataform project.",
      "type": "object",
      "properties": {
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The compilation result's name.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "dataformCoreVersion": {
          "type": "string",
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the compilation result was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "readOnly": true,
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace."
        },
        "workspace": {
          "type": "string",
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`."
        },
        "codeCompilationConfig": {
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "resolvedGitCommitSha": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace."
        },
        "releaseConfig": {
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "compilationErrors": {
          "description": "Output only. Errors encountered during project compilation.",
          "items": {
            "$ref": "CompilationError"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "PullGitCommitsResponse": {
      "type": "object",
      "properties": {},
      "id": "PullGitCommitsResponse",
      "description": "`PullGitCommits` response message."
    },
    "WriteFile": {
      "id": "WriteFile",
      "description": "Represents the write file operation (for files added or modified).",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkflowInvocation": {
      "type": "object",
      "properties": {
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "readOnly": true,
          "description": "Output only. Only set if the repository has a KMS Key."
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This workflow invocation's timing details.",
          "$ref": "Interval"
        },
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "description": "Output only. This workflow invocation's current state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ]
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "$ref": "PrivateResourceMetadata"
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "resolvedCompilationResult": {
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "WorkflowInvocation",
      "description": "Represents a single invocation of a compilation result."
    },
    "QueryFolderContentsResponse": {
      "id": "QueryFolderContentsResponse",
      "description": "`QueryFolderContents` response message.",
      "properties": {
        "entries": {
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "FolderContentsEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "DataPreparationAction": {
      "id": "DataPreparationAction",
      "description": "Represents a workflow action that will run a Data Preparation.",
      "properties": {
        "contentsYaml": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "ActionSqlDefinition"
        },
        "generatedSql": {
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "IncrementalLoadMode": {
      "type": "object",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "id": "IncrementalLoadMode",
      "description": "Load definition for incremental load modes"
    },
    "SshAuthenticationConfig": {
      "properties": {
        "userPrivateKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "hostPublicKey": {
          "type": "string",
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host."
        }
      },
      "type": "object",
      "id": "SshAuthenticationConfig",
      "description": "Configures fields for performing SSH authentication."
    },
    "CommitLogEntry": {
      "type": "object",
      "properties": {
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        },
        "commitTime": {
          "type": "string",
          "description": "Commit timestamp.",
          "format": "google-datetime"
        },
        "commitSha": {
          "description": "The commit SHA for this commit log entry.",
          "type": "string"
        },
        "commitMessage": {
          "type": "string",
          "description": "The commit message for this commit log entry."
        }
      },
      "id": "CommitLogEntry",
      "description": "Represents a single commit log."
    },
    "SqlDefinition": {
      "type": "object",
      "properties": {
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        },
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        }
      },
      "id": "SqlDefinition",
      "description": "Definition of a SQL Data Preparation"
    },
    "ReadFileResponse": {
      "type": "object",
      "properties": {
        "fileContents": {
          "type": "string",
          "format": "byte",
          "description": "The file's contents."
        }
      },
      "id": "ReadFileResponse",
      "description": "`ReadFile` response message."
    },
    "Notebook": {
      "properties": {
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "contents": {
          "description": "The contents of the notebook.",
          "type": "string"
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        }
      },
      "type": "object",
      "id": "Notebook",
      "description": "Represents a notebook."
    },
    "Folder": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the Folder was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the Folder was last updated."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The Folder's name."
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        },
        "teamFolderName": {
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "creatorIamPrincipal": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IAM principal identifier of the creator of the Folder."
        }
      },
      "id": "Folder",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "DirectoryEntry": {
      "type": "object",
      "properties": {
        "directory": {
          "description": "A child directory in the directory.",
          "type": "string"
        },
        "file": {
          "description": "A file in the directory.",
          "type": "string"
        },
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        }
      },
      "id": "DirectoryEntry",
      "description": "Represents a single entry in a directory."
    },
    "RelationDescriptor": {
      "type": "object",
      "properties": {
        "bigqueryLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A set of BigQuery labels that should be applied to the relation."
        },
        "description": {
          "type": "string",
          "description": "A text description of the relation."
        },
        "columns": {
          "type": "array",
          "description": "A list of descriptions of columns within the relation.",
          "items": {
            "$ref": "ColumnDescriptor"
          }
        }
      },
      "id": "RelationDescriptor",
      "description": "Describes a relation and its columns."
    },
    "CommitRepositoryChangesRequest": {
      "properties": {
        "requiredHeadCommitSha": {
          "type": "string",
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed."
        },
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        },
        "fileOperations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root."
        }
      },
      "type": "object",
      "id": "CommitRepositoryChangesRequest",
      "description": "`CommitRepositoryChanges` request message."
    },
    "BigQueryAction": {
      "id": "BigQueryAction",
      "description": "Represents a workflow action that will run against BigQuery.",
      "properties": {
        "sqlScript": {
          "description": "Output only. The generated BigQuery SQL script that will be executed.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PushGitCommitsResponse": {
      "id": "PushGitCommitsResponse",
      "description": "`PushGitCommits` response message.",
      "properties": {},
      "type": "object"
    },
    "ResetWorkspaceChangesRequest": {
      "id": "ResetWorkspaceChangesRequest",
      "description": "`ResetWorkspaceChanges` request message.",
      "properties": {
        "clean": {
          "description": "Optional. If set to true, untracked files will be deleted.",
          "type": "boolean"
        },
        "paths": {
          "type": "array",
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "MoveFileResponse": {
      "id": "MoveFileResponse",
      "description": "`MoveFile` response message.",
      "properties": {},
      "type": "object"
    },
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "description": "Simple load definition",
      "type": "object",
      "properties": {}
    },
    "ActionErrorTable": {
      "id": "ActionErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Error table partition expiration in days. Only positive values are allowed."
        }
      },
      "type": "object"
    },
    "ActionSimpleLoadMode": {
      "id": "ActionSimpleLoadMode",
      "description": "Simple load definition",
      "type": "object",
      "properties": {}
    },
    "FetchGitAheadBehindResponse": {
      "id": "FetchGitAheadBehindResponse",
      "description": "`FetchGitAheadBehind` response message.",
      "type": "object",
      "properties": {
        "commitsBehind": {
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "format": "int32",
          "type": "integer"
        },
        "commitsAhead": {
          "type": "integer",
          "format": "int32",
          "description": "The number of commits in the remote branch that are not in the workspace."
        }
      }
    },
    "MakeDirectoryResponse": {
      "properties": {},
      "type": "object",
      "id": "MakeDirectoryResponse",
      "description": "`MakeDirectory` response message."
    },
    "TeamFolderSearchResult": {
      "properties": {
        "teamFolder": {
          "description": "A TeamFolder resource that is in the project / location.",
          "$ref": "TeamFolder"
        }
      },
      "type": "object",
      "id": "TeamFolderSearchResult",
      "description": "Represents a single content entry."
    },
    "RemoveDirectoryRequest": {
      "id": "RemoveDirectoryRequest",
      "description": "`RemoveDirectory` request message.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "type": "object"
    },
    "QueryTeamFolderContentsResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "List of entries in the TeamFolder.",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryTeamFolderContentsResponse",
      "description": "`QueryTeamFolderContents` response message."
    },
    "CommitRepositoryChangesResponse": {
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CommitRepositoryChangesResponse",
      "description": "`CommitRepositoryChanges` response message."
    },
    "WriteFileRequest": {
      "id": "WriteFileRequest",
      "description": "`WriteFile` request message.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file."
        },
        "contents": {
          "type": "string",
          "description": "Required. The file's contents.",
          "format": "byte"
        }
      }
    },
    "PrivateResourceMetadata": {
      "id": "PrivateResourceMetadata",
      "description": "Metadata used to identify if a resource is user scoped.",
      "properties": {
        "userScoped": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "MoveFolderRequest": {
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MoveFolderRequest",
      "description": "`MoveFolder` request message."
    },
    "FolderContentsEntry": {
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "id": "FolderContentsEntry",
      "description": "Represents a single content entry."
    },
    "QueryUserRootContentsResponse": {
      "id": "QueryUserRootContentsResponse",
      "description": "`QueryUserRootContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "type": "array",
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "RootContentsEntry"
          }
        }
      }
    },
    "Workspace": {
      "id": "Workspace",
      "description": "Represents a Dataform Git workspace.",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "disableMoves": {
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted.",
          "type": "boolean"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the workspace was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The workspace's name."
        }
      }
    },
    "InstallNpmPackagesRequest": {
      "properties": {},
      "type": "object",
      "id": "InstallNpmPackagesRequest",
      "description": "`InstallNpmPackages` request message."
    },
    "DirectorySearchResult": {
      "id": "DirectorySearchResult",
      "description": "Client-facing representation of a directory entry in search results.",
      "type": "object",
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "ListWorkflowInvocationsResponse": {
      "id": "ListWorkflowInvocationsResponse",
      "description": "`ListWorkflowInvocations` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workflowInvocations": {
          "type": "array",
          "description": "List of workflow invocations.",
          "items": {
            "$ref": "WorkflowInvocation"
          }
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "properties": {
        "tokenStatus": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "description": "Indicates the status of the Git access token."
        }
      },
      "type": "object",
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "description": "`ComputeRepositoryAccessTokenStatus` response message."
    },
    "ScheduledReleaseRecord": {
      "properties": {
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "releaseTime": {
          "description": "Output only. The timestamp of this release attempt.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "compilationResult": {
          "type": "string",
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        }
      },
      "type": "object",
      "id": "ScheduledReleaseRecord",
      "description": "A record of an attempt to create a compilation result for this release config."
    },
    "WriteFileResponse": {
      "properties": {},
      "type": "object",
      "id": "WriteFileResponse",
      "description": "`WriteFile` response message."
    },
    "CommitWorkspaceChangesResponse": {
      "id": "CommitWorkspaceChangesResponse",
      "description": "`CommitWorkspaceChanges` response message.",
      "type": "object",
      "properties": {}
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "description": "`ListWorkspaces` response message.",
      "properties": {
        "workspaces": {
          "description": "List of workspaces.",
          "items": {
            "$ref": "Workspace"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FetchFileGitStatusesResponse": {
      "id": "FetchFileGitStatusesResponse",
      "description": "`FetchFileGitStatuses` response message.",
      "type": "object",
      "properties": {
        "uncommittedFileChanges": {
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "type": "array"
        }
      }
    },
    "QueryDirectoryContentsResponse": {
      "id": "QueryDirectoryContentsResponse",
      "description": "`QueryDirectoryContents` response message.",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ReadRepositoryFileResponse": {
      "id": "ReadRepositoryFileResponse",
      "description": "`ReadRepositoryFile` response message.",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PushGitCommitsRequest": {
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used."
        }
      },
      "type": "object",
      "id": "PushGitCommitsRequest",
      "description": "`PushGitCommits` request message."
    },
    "Location": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "InstallNpmPackagesResponse": {
      "type": "object",
      "properties": {},
      "id": "InstallNpmPackagesResponse",
      "description": "`InstallNpmPackages` response message."
    },
    "RemoveFileRequest": {
      "id": "RemoveFileRequest",
      "description": "`RemoveFile` request message.",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CodeCompilationConfig": {
      "properties": {
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "defaultLocation": {
          "type": "string",
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations."
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "vars": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined variables that are made available to project code during compilation."
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "databaseSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names."
        }
      },
      "type": "object",
      "id": "CodeCompilationConfig",
      "description": "Configures various aspects of Dataform code compilation."
    },
    "MoveFileRequest": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        },
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MoveFileRequest",
      "description": "`MoveFile` request message."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "UncommittedFileChange": {
      "id": "UncommittedFileChange",
      "description": "Represents the Git state of a file with uncommitted changes.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "description": "Output only. Indicates the status of the file.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ]
        },
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        }
      },
      "type": "object"
    },
    "WorkflowInvocationAction": {
      "id": "WorkflowInvocationAction",
      "description": "Represents a single action in a workflow invocation.",
      "properties": {
        "failureReason": {
          "type": "string",
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "readOnly": true
        },
        "notebookAction": {
          "readOnly": true,
          "description": "Output only. The workflow action's notebook action details.",
          "$ref": "NotebookAction"
        },
        "canonicalTarget": {
          "$ref": "Target",
          "readOnly": true,
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "dataPreparationAction": {
          "$ref": "DataPreparationAction",
          "description": "Output only. The workflow action's data preparation action details.",
          "readOnly": true
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "bigqueryAction": {
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true,
          "$ref": "BigQueryAction"
        },
        "target": {
          "$ref": "Target",
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. This action's current state.",
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ]
        }
      },
      "type": "object"
    },
    "ActionIncrementalLoadMode": {
      "type": "object",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "id": "ActionIncrementalLoadMode",
      "description": "Load definition for incremental load modes"
    },
    "TeamFolder": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The TeamFolder's name."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was last updated."
        },
        "createTime": {
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "creatorIamPrincipal": {
          "readOnly": true,
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The TeamFolder's user-friendly name."
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        }
      },
      "id": "TeamFolder",
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls."
    },
    "CompilationResultAction": {
      "properties": {
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "filePath": {
          "type": "string",
          "description": "The full path including filename in which this action is located, relative to the workspace root."
        },
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "relation": {
          "description": "The database relation created/updated by this action.",
          "$ref": "Relation"
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        }
      },
      "type": "object",
      "id": "CompilationResultAction",
      "description": "Represents a single Dataform action in a compilation result."
    },
    "CancelWorkflowInvocationRequest": {
      "id": "CancelWorkflowInvocationRequest",
      "description": "`CancelWorkflowInvocation` request message.",
      "type": "object",
      "properties": {}
    },
    "DeleteFolderTreeRequest": {
      "id": "DeleteFolderTreeRequest",
      "description": "`DeleteFolderTree` request message.",
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources."
        }
      }
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "properties": {
        "directoryEntries": {
          "type": "array",
          "description": "List of entries in the directory.",
          "items": {
            "$ref": "DirectoryEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "QueryRepositoryDirectoryContentsResponse",
      "description": "`QueryRepositoryDirectoryContents` response message."
    },
    "CommitAuthor": {
      "id": "CommitAuthor",
      "description": "Represents the author of a Git commit.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The commit author's name."
        },
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "type": "string",
          "description": "Required. The new path for the directory including directory name, rooted at workspace root."
        }
      },
      "id": "MoveDirectoryRequest",
      "description": "`MoveDirectory` request message."
    },
    "ScheduledExecutionRecord": {
      "id": "ScheduledExecutionRecord",
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "type": "object",
      "properties": {
        "executionTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of this execution attempt."
        },
        "workflowInvocation": {
          "type": "string",
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`."
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        }
      }
    },
    "Declaration": {
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "type": "object",
      "id": "Declaration",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions."
    },
    "FileOperation": {
      "id": "FileOperation",
      "description": "Represents a single file operation to the repository.",
      "properties": {
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        },
        "deleteFile": {
          "description": "Represents the delete operation.",
          "$ref": "DeleteFile"
        }
      },
      "type": "object"
    },
    "ActionSqlDefinition": {
      "type": "object",
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ActionErrorTable"
        },
        "loadConfig": {
          "description": "Load configuration.",
          "$ref": "ActionLoadConfig"
        }
      },
      "id": "ActionSqlDefinition",
      "description": "Definition of a SQL Data Preparation"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "TeamFolderContentsEntry": {
      "id": "TeamFolderContentsEntry",
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      }
    },
    "MoveRepositoryRequest": {
      "id": "MoveRepositoryRequest",
      "description": "`MoveRepository` request message.",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "type": "object"
    },
    "InvocationConfig": {
      "id": "InvocationConfig",
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "properties": {
        "transitiveDependenciesIncluded": {
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed.",
          "type": "boolean"
        },
        "queryPriority": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Query will be executed in BigQuery with interactive priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
            "Query will be executed in BigQuery with batch priority. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#batchqueries."
          ],
          "enum": [
            "QUERY_PRIORITY_UNSPECIFIED",
            "INTERACTIVE",
            "BATCH"
          ],
          "description": "Optional. Specifies the priority for query execution in BigQuery. More information can be found at https://cloud.google.com/bigquery/docs/running-queries#queries.",
          "type": "string"
        },
        "includedTags": {
          "type": "array",
          "description": "Optional. The set of tags to include.",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        },
        "includedTargets": {
          "description": "Optional. The set of action identifiers to include.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "description": "Optional. When set to true, any incremental tables will be fully refreshed.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RootContentsEntry": {
      "id": "RootContentsEntry",
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      }
    },
    "QueryWorkflowInvocationActionsResponse": {
      "properties": {
        "workflowInvocationActions": {
          "type": "array",
          "description": "List of workflow invocation actions.",
          "items": {
            "$ref": "WorkflowInvocationAction"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryWorkflowInvocationActionsResponse",
      "description": "`QueryWorkflowInvocationActions` response message."
    },
    "Config": {
      "id": "Config",
      "description": "Config for all repositories in a given project and location.",
      "type": "object",
      "properties": {
        "defaultKmsKeyName": {
          "type": "string",
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created."
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The config name."
        }
      }
    },
    "FetchFileDiffResponse": {
      "id": "FetchFileDiffResponse",
      "description": "`FetchFileDiff` response message.",
      "properties": {
        "formattedDiff": {
          "type": "string",
          "description": "The raw formatted Git diff for the file."
        }
      },
      "type": "object"
    },
    "NotebookRuntimeOptions": {
      "type": "object",
      "properties": {
        "gcsOutputBucket": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`."
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications."
        }
      },
      "id": "NotebookRuntimeOptions",
      "description": "Configures various aspects of Dataform notebook runtime."
    },
    "LoadConfig": {
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "SimpleLoadMode"
        }
      },
      "type": "object",
      "id": "LoadConfig",
      "description": "Simplified load configuration for actions"
    },
    "Target": {
      "properties": {
        "database": {
          "type": "string",
          "description": "Optional. The action's database (Google Cloud project ID) ."
        },
        "schema": {
          "type": "string",
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`."
        },
        "name": {
          "type": "string",
          "description": "Optional. The action's name, within `database` and `schema`."
        }
      },
      "type": "object",
      "id": "Target",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object."
    },
    "PolicyName": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        },
        "type": {
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc.",
          "type": "string"
        }
      },
      "id": "PolicyName",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names."
    },
    "ListRepositoriesResponse": {
      "properties": {
        "repositories": {
          "type": "array",
          "description": "List of repositories.",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListRepositoriesResponse",
      "description": "`ListRepositories` response message."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ActionLoadConfig": {
      "type": "object",
      "properties": {
        "append": {
          "description": "Append into destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        }
      },
      "id": "ActionLoadConfig",
      "description": "Simplified load configuration for actions"
    },
    "FileSearchResult": {
      "id": "FileSearchResult",
      "description": "Client-facing representation of a file entry in search results.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      }
    },
    "Operations": {
      "properties": {
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "relationDescriptor": {
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true.",
          "$ref": "RelationDescriptor"
        },
        "queries": {
          "description": "A list of arbitrary SQL statements that will be executed without alteration.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Operations",
      "description": "Represents a list of arbitrary database operations."
    },
    "NotebookAction": {
      "id": "NotebookAction",
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "properties": {
        "contents": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The code contents of a Notebook to be run."
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the Vertex job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run."
        }
      },
      "type": "object"
    },
    "SearchTeamFoldersResponse": {
      "properties": {
        "results": {
          "type": "array",
          "description": "List of TeamFolders that match the search query.",
          "items": {
            "$ref": "TeamFolderSearchResult"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "SearchTeamFoldersResponse",
      "description": "`SearchTeamFolders` response message."
    },
    "DeleteFile": {
      "id": "DeleteFile",
      "description": "Represents the delete file operation.",
      "type": "object",
      "properties": {}
    },
    "DeleteTeamFolderTreeRequest": {
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources."
        }
      },
      "type": "object",
      "id": "DeleteTeamFolderTreeRequest",
      "description": "`DeleteTeamFolderTree` request message."
    },
    "GitRemoteSettings": {
      "properties": {
        "tokenStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "description": "Output only. Deprecated: The field does not contain any token status information. Instead use https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories/computeAccessTokenStatus",
          "deprecated": true,
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The Git remote's URL."
        },
        "defaultBranch": {
          "type": "string",
          "description": "Required. The Git remote's default branch name. If not set, `main` will be used and stored for the repository."
        },
        "sshAuthenticationConfig": {
          "description": "Optional. Authentication fields for remote uris using SSH protocol.",
          "$ref": "SshAuthenticationConfig"
        }
      },
      "type": "object",
      "id": "GitRemoteSettings",
      "description": "Controls Git remote configuration for a repository."
    },
    "DataEncryptionState": {
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Required. The KMS key version name with which data of a resource is encrypted."
        }
      },
      "type": "object",
      "id": "DataEncryptionState",
      "description": "Describes encryption state of a resource."
    },
    "ListWorkflowConfigsResponse": {
      "id": "ListWorkflowConfigsResponse",
      "description": "`ListWorkflowConfigs` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workflowConfigs": {
          "description": "List of workflow configs.",
          "items": {
            "$ref": "WorkflowConfig"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Interval": {
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "SearchFilesResponse": {
      "properties": {
        "searchResults": {
          "description": "List of matched results.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchFilesResponse",
      "description": "Client-facing representation of a file search response."
    },
    "ColumnDescriptor": {
      "properties": {
        "path": {
          "type": "array",
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A textual description of the column.",
          "type": "string"
        },
        "bigqueryPolicyTags": {
          "type": "array",
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ColumnDescriptor",
      "description": "Describes a column."
    },
    "RemoveDirectoryResponse": {
      "properties": {},
      "type": "object",
      "id": "RemoveDirectoryResponse",
      "description": "`RemoveDirectory` response message."
    },
    "ResetWorkspaceChangesResponse": {
      "properties": {},
      "type": "object",
      "id": "ResetWorkspaceChangesResponse",
      "description": "`ResetWorkspaceChanges` response message."
    },
    "MoveDirectoryResponse": {
      "type": "object",
      "properties": {},
      "id": "MoveDirectoryResponse",
      "description": "`MoveDirectory` response message."
    },
    "ListCompilationResultsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "compilationResults": {
          "description": "List of compilation results.",
          "items": {
            "$ref": "CompilationResult"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCompilationResultsResponse",
      "description": "`ListCompilationResults` response message."
    },
    "RemoveFileResponse": {
      "properties": {},
      "type": "object",
      "id": "RemoveFileResponse",
      "description": "`RemoveFile` response message."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
[...]
