{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "revision": "20260518",
  "documentationLink": "https://cloud.google.com/database-migration/",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "name": "datamigration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "RestartMigrationJobRequest": {
      "description": "Request message for 'RestartMigrationJob' request.",
      "id": "RestartMigrationJobRequest",
      "properties": {
        "objectsFilter": {
          "description": "Optional. The object filter to apply to the migration job.",
          "$ref": "MigrationJobObjectsConfig"
        },
        "restartFailedObjects": {
          "description": "Optional. If true, only failed objects will be restarted.",
          "type": "boolean"
        },
        "skipValidation": {
          "description": "Optional. Restart the migration job without running prior configuration verification. Defaults to `false`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ViewEntity": {
      "type": "object",
      "description": "View's parent is a schema.",
      "id": "ViewEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the view.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "constraints": {
          "type": "array",
          "description": "View constraints.",
          "items": {
            "$ref": "ConstraintEntity"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ConstraintEntity": {
      "description": "Constraint is not used as an independent entity, it is retrieved as part of another entity such as Table or View.",
      "id": "ConstraintEntity",
      "properties": {
        "tableColumns": {
          "description": "Table columns used as part of the Constraint, for example primary key constraint should list the columns which constitutes the key.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referenceTable": {
          "description": "Reference table which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full name of the referenced table by the foreign key.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "name": {
          "description": "The name of the table constraint.",
          "type": "string"
        },
        "tableName": {
          "description": "Table which is associated with the constraint. In case the constraint is defined on a table, this field is left empty as this information is stored in parent_name. However, if constraint is defined on a view, this field stores the table name on which the view is defined.",
          "type": "string"
        },
        "type": {
          "description": "Type of constraint, for example unique, primary key, foreign key (currently only primary key is supported).",
          "type": "string"
        },
        "referenceColumns": {
          "type": "array",
          "description": "Reference columns which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full names of referenced columns by the foreign key.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SqlServerHomogeneousMigrationJobConfig": {
      "description": "Configuration for homogeneous migration to Cloud SQL for SQL Server.",
      "id": "SqlServerHomogeneousMigrationJobConfig",
      "properties": {
        "useDiffBackup": {
          "description": "Optional. Enable differential backups.",
          "type": "boolean"
        },
        "backupFilePattern": {
          "description": "Required. Pattern that describes the default backup naming strategy. The specified pattern should ensure lexicographical order of backups. The pattern must define one of the following capture group sets: Capture group set #1 yy/yyyy - year, 2 or 4 digits mm - month number, 1-12 dd - day of month, 1-31 hh - hour of day, 00-23 mi - minutes, 00-59 ss - seconds, 00-59 Example: For backup file TestDB_20230802_155400.trn, use pattern: (?.*)_backup_(?\\d{4})(?\\d{2})(?\\d{2})_(?\\d{2})(?\\d{2})(?\\d{2}).trn Capture group set #2 timestamp - unix timestamp Example: For backup file TestDB.1691448254.trn, use pattern: (?.*)\\.(?\\d*).trn or (?.*)\\.(?\\d*).trn",
          "type": "string"
        },
        "databaseBackups": {
          "type": "array",
          "items": {
            "$ref": "SqlServerDatabaseBackup"
          },
          "description": "Required. Backup details per database in Cloud Storage."
        },
        "promoteWhenReady": {
          "description": "Optional. Promote databases when ready.",
          "type": "boolean"
        },
        "dagConfig": {
          "description": "Optional. Configuration for distributed availability group (DAG) for the SQL Server homogeneous migration.",
          "$ref": "SqlServerDagConfig"
        }
      },
      "type": "object"
    },
    "DescribeConversionWorkspaceRevisionsResponse": {
      "id": "DescribeConversionWorkspaceRevisionsResponse",
      "properties": {
        "revisions": {
          "type": "array",
          "description": "The list of conversion workspace revisions.",
          "items": {
            "$ref": "ConversionWorkspace"
          }
        }
      },
      "description": "Response message for 'DescribeConversionWorkspaceRevisions' request.",
      "type": "object"
    },
    "EntityIssue": {
      "description": "Issue related to the entity.",
      "id": "EntityIssue",
      "properties": {
        "message": {
          "description": "Issue detailed message",
          "type": "string"
        },
        "ddl": {
          "description": "The ddl which caused the issue, if relevant.",
          "type": "string"
        },
        "entityType": {
          "type": "string",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "description": "The entity type (if the DDL is for a sub entity)."
        },
        "id": {
          "description": "Unique Issue ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "ISSUE_TYPE_DDL",
            "ISSUE_TYPE_APPLY",
            "ISSUE_TYPE_CONVERT",
            "ISSUE_TYPE_PULL_SCHEMA"
          ],
          "enumDescriptions": [
            "Unspecified issue type.",
            "Issue originated from the DDL",
            "Issue originated during the apply process",
            "Issue originated during the convert process",
            "Issue originated during the pull schema process"
          ],
          "description": "The type of the issue."
        },
        "code": {
          "description": "Error/Warning code",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "ISSUE_SEVERITY_UNSPECIFIED",
            "ISSUE_SEVERITY_INFO",
            "ISSUE_SEVERITY_WARNING",
            "ISSUE_SEVERITY_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified issue severity",
            "Info",
            "Warning",
            "Error"
          ],
          "description": "Severity of the issue"
        },
        "position": {
          "description": "The position of the issue found, if relevant.",
          "$ref": "Position"
        }
      },
      "type": "object"
    },
    "ReverseSshConnectivity": {
      "type": "object",
      "id": "ReverseSshConnectivity",
      "properties": {
        "vmIp": {
          "description": "Required. The IP of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vmPort": {
          "description": "Required. The forwarding port of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "integer",
          "format": "int32"
        },
        "vm": {
          "description": "The name of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vpc": {
          "description": "The name of the VPC to peer with the Cloud SQL private network.",
          "type": "string"
        }
      },
      "description": "The details needed to configure a reverse SSH tunnel between the source and destination databases. These details will be used when calling the generateSshScript method (see https://cloud.google.com/database-migration/docs/reference/rest/v1/projects.locations.migrationJobs/generateSshScript) to produce the script that will help set up the reverse SSH tunnel, and to set up the VPC peering between the Cloud SQL private network and the VPC."
    },
    "QuotaFailureViolation": {
      "id": "QuotaFailureViolation",
      "properties": {
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "quotaDimensions": {
          "type": "object",
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "futureQuotaValue": {
          "type": "string",
          "format": "int64",
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field."
        },
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\".",
          "type": "string"
        },
        "quotaMetric": {
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\".",
          "type": "string"
        },
        "apiService": {
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\".",
          "type": "string"
        },
        "quotaValue": {
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "type": "object"
    },
    "LogMiner": {
      "description": "Configuration to use LogMiner CDC method.",
      "id": "LogMiner",
      "properties": {},
      "type": "object"
    },
    "SourceTextFilter": {
      "id": "SourceTextFilter",
      "properties": {
        "sourceMaxLengthFilter": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The filter will match columns with length smaller than or equal to this number."
        },
        "sourceMinLengthFilter": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The filter will match columns with length greater than or equal to this number."
        }
      },
      "description": "Filter for text-based data types like varchar.",
      "type": "object"
    },
    "ListMigrationJobsResponse": {
      "type": "object",
      "description": "Response message for 'ListMigrationJobs' request.",
      "id": "ListMigrationJobsResponse",
      "properties": {
        "migrationJobs": {
          "type": "array",
          "items": {
            "$ref": "MigrationJob"
          },
          "description": "The list of migration jobs objects."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CommitConversionWorkspaceRequest": {
      "type": "object",
      "description": "Request message for 'CommitConversionWorkspace' request.",
      "id": "CommitConversionWorkspaceRequest",
      "properties": {
        "commitName": {
          "description": "Optional. Optional name of the commit.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "EncryptionConfig": {
      "description": "EncryptionConfig describes the encryption config of a cluster that is encrypted with a CMEK (customer-managed encryption key).",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DescribeDatabaseEntitiesResponse": {
      "type": "object",
      "description": "Response message for 'DescribeDatabaseEntities' request.",
      "id": "DescribeDatabaseEntitiesResponse",
      "properties": {
        "databaseEntities": {
          "type": "array",
          "items": {
            "$ref": "DatabaseEntity"
          },
          "description": "The list of database entities for the conversion workspace."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DatabaseEntity": {
      "type": "object",
      "description": "The base entity type for all the database related entities. The message contains the entity name, the name of its parent, the entity type, and the specific details per entity type.",
      "id": "DatabaseEntity",
      "properties": {
        "mappings": {
          "type": "array",
          "description": "Details about entity mappings. For source tree entities, this holds the draft entities which were generated by the mapping rules. For draft tree entities, this holds the source entities which were converted to form the draft entity. Destination entities will have no mapping details.",
          "items": {
            "$ref": "EntityMapping"
          }
        },
        "database": {
          "description": "Database.",
          "$ref": "DatabaseInstanceEntity"
        },
        "tree": {
          "type": "string",
          "enum": [
            "TREE_TYPE_UNSPECIFIED",
            "SOURCE",
            "DRAFT",
            "DESTINATION"
          ],
          "description": "The type of tree the entity belongs to.",
          "enumDescriptions": [
            "Tree type unspecified.",
            "Tree of entities loaded from a source database.",
            "Tree of entities converted from the source tree using the mapping rules.",
            "Tree of entities observed on the destination database."
          ]
        },
        "parentEntity": {
          "description": "The full name of the parent entity (e.g. schema name).",
          "type": "string"
        },
        "entityType": {
          "description": "The type of the database entity (table, view, index, ...).",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "type": "string",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "shortName": {
          "description": "The short name (e.g. table name) of the entity.",
          "type": "string"
        },
        "storedProcedure": {
          "description": "Stored procedure.",
          "$ref": "StoredProcedureEntity"
        },
        "table": {
          "description": "Table.",
          "$ref": "TableEntity"
        },
        "view": {
          "description": "View.",
          "$ref": "ViewEntity"
        },
        "sequence": {
          "description": "Sequence.",
          "$ref": "SequenceEntity"
        },
        "issues": {
          "type": "array",
          "description": "Details about the various issues found for the entity.",
          "items": {
            "$ref": "EntityIssue"
          }
        },
        "schema": {
          "description": "Schema.",
          "$ref": "SchemaEntity"
        },
        "udt": {
          "description": "UDT.",
          "$ref": "UDTEntity"
        },
        "materializedView": {
          "description": "Materialized view.",
          "$ref": "MaterializedViewEntity"
        },
        "entityDdl": {
          "type": "array",
          "items": {
            "$ref": "EntityDdl"
          },
          "description": "Details about the entity DDL script. Multiple DDL scripts are provided for child entities such as a table entity will have one DDL for the table with additional DDLs for each index, constraint and such."
        },
        "synonym": {
          "description": "Synonym.",
          "$ref": "SynonymEntity"
        },
        "databasePackage": {
          "description": "Package.",
          "$ref": "PackageEntity"
        },
        "databaseFunction": {
          "description": "Function.",
          "$ref": "FunctionEntity"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "StoredProcedureEntity": {
      "type": "object",
      "description": "Stored procedure's parent is a schema.",
      "id": "StoredProcedureEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the stored procedure.",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "PostgreSqlConnectionProfile": {
      "description": "Specifies connection parameters required specifically for PostgreSQL databases.",
      "id": "PostgreSqlConnectionProfile",
      "properties": {
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        },
        "privateServiceConnectConnectivity": {
          "description": "Private service connect connectivity.",
          "$ref": "PrivateServiceConnectConnectivity"
        },
        "enableIamAuthentication": {
          "description": "Optional. If true, Database Migration Service will use IAM database authentication to connect to the database.",
          "type": "boolean"
        },
        "cloudSqlId": {
          "description": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source.",
          "type": "string"
        },
        "alloydbClusterId": {
          "description": "Optional. If the destination is an AlloyDB database, use this field to provide the AlloyDB cluster ID.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The name of the specific database within the host.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The network port of the source PostgreSQL database."
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "ssl": {
          "description": "SSL configuration for the destination to connect to the source database.",
          "$ref": "SslConfig"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "passwordSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates If this connection profile password is stored."
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "staticIpConnectivity": {
          "description": "Static ip connectivity data (default, no additional details needed).",
          "$ref": "StaticIpConnectivity"
        },
        "host": {
          "description": "Required. The IP or hostname of the source PostgreSQL database.",
          "type": "string"
        },
        "networkArchitecture": {
          "readOnly": true,
          "enum": [
            "NETWORK_ARCHITECTURE_UNSPECIFIED",
            "NETWORK_ARCHITECTURE_OLD_CSQL_PRODUCER",
            "NETWORK_ARCHITECTURE_NEW_CSQL_PRODUCER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Instance is in Cloud SQL's old producer network architecture.",
            "Instance is in Cloud SQL's new producer network architecture."
          ],
          "description": "Output only. If the source is a Cloud SQL database, this field indicates the network architecture it's associated with."
        }
      },
      "type": "object"
    },
    "SslConfig": {
      "id": "SslConfig",
      "properties": {
        "clientKey": {
          "description": "Input only. The unencrypted PKCS#1 or PKCS#8 PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' field is mandatory.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "Input only. The x509 PEM-encoded certificate that will be used by the replica to authenticate against the source database server.If this field is used then the 'client_key' field is mandatory.",
          "type": "string"
        },
        "sslFlags": {
          "type": "object",
          "description": "Optional. SSL flags used for establishing SSL connection to the source database. Only source specific flags are supported. An object containing a list of \"key\": \"value\" pairs. Example: { \"server_certificate_hostname\": \"server.com\"}.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "caCertificate": {
          "description": "Required. Input only. The x509 PEM-encoded certificate of the CA that signed the source database server's certificate. The replica will use this certificate to verify it's connecting to the right host.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The ssl config type according to 'client_key', 'client_certificate' and 'ca_certificate'.",
          "enumDescriptions": [
            "Unspecified.",
            "Only 'ca_certificate' specified.",
            "Both server ('ca_certificate'), and client ('client_key', 'client_certificate') specified.",
            "Mandates SSL encryption for all connections. This does not require certificate verification.",
            "Connection is not encrypted."
          ],
          "type": "string",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "SERVER_ONLY",
            "SERVER_CLIENT",
            "REQUIRED",
            "NONE"
          ]
        }
      },
      "description": "SSL configuration information.",
      "type": "object"
    },
    "VpcPeeringConfig": {
      "type": "object",
      "id": "VpcPeeringConfig",
      "properties": {
        "vpcName": {
          "description": "Required. Fully qualified name of the VPC that Database Migration Service will peer to.",
          "type": "string"
        },
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        }
      },
      "description": "The VPC peering configuration is used to create VPC peering with the consumer's VPC."
    },
    "PostgresDestinationConfig": {
      "id": "PostgresDestinationConfig",
      "properties": {
        "transactionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Timeout for data migration transactions."
        },
        "maxConcurrentConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the destination for data migration.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for Postgres as a destination in a migration.",
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "description": "Forward SSH Tunnel connectivity.",
      "id": "ForwardSshTunnelConnectivity",
      "properties": {
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer",
          "format": "int32"
        },
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MachineConfig": {
      "id": "MachineConfig",
      "properties": {
        "cpuCount": {
          "description": "The number of CPU's in the VM instance.",
          "type": "integer",
          "format": "int32"
        },
        "machineType": {
          "description": "Optional. Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        }
      },
      "description": "MachineConfig describes the configuration of a machine.",
      "type": "object"
    },
    "StartMigrationJobRequest": {
      "type": "object",
      "description": "Request message for 'StartMigrationJob' request.",
      "id": "StartMigrationJobRequest",
      "properties": {
        "skipValidation": {
          "description": "Optional. Start the migration job without running prior configuration verification. Defaults to `false`.",
          "type": "boolean"
        }
      }
    },
    "PrivateServiceConnectConnectivity": {
      "id": "PrivateServiceConnectConnectivity",
      "properties": {
        "serviceAttachment": {
          "description": "Required. A service attachment that exposes a database, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}",
          "type": "string"
        }
      },
      "description": "[Private Service Connect connectivity](https://cloud.google.com/vpc/docs/private-service-connect#service-attachments)",
      "type": "object"
    },
    "PrimaryInstanceSettings": {
      "id": "PrimaryInstanceSettings",
      "properties": {
        "privateIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The private IP address for the Instance. This is the connection endpoint for an end-user application."
        },
        "labels": {
          "type": "object",
          "description": "Labels for the AlloyDB primary instance created by DMS. An object containing a list of 'key', 'value' pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outboundPublicIpAddresses": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. All outbound public IP addresses configured for the instance."
        },
        "machineConfig": {
          "description": "Configuration for the machines that host the underlying database engine.",
          "$ref": "MachineConfig"
        },
        "databaseFlags": {
          "type": "object",
          "description": "Database flags to pass to AlloyDB when DMS is creating the AlloyDB cluster and instances. See the AlloyDB documentation for how these can be used.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. The ID of the AlloyDB primary instance. The ID must satisfy the regex expression \"[a-z0-9-]+\".",
          "type": "string"
        },
        "instanceNetworkConfig": {
          "description": "Optional. Metadata related to instance level network configuration.",
          "$ref": "InstanceNetworkConfig"
        }
      },
      "description": "Settings for the cluster's primary instance",
      "type": "object"
    },
    "PostgresSourceConfig": {
      "description": "Configuration for Postgres as a source in a migration.",
      "id": "PostgresSourceConfig",
      "properties": {
        "skipFullDump": {
          "description": "Optional. Whether to skip full dump or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "StopMigrationJobRequest": {
      "type": "object",
      "id": "StopMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'StopMigrationJob' request."
    },
    "TcpProxyScript": {
      "type": "object",
      "description": "Response message for 'GenerateTcpProxyScript' request.",
      "id": "TcpProxyScript",
      "properties": {
        "script": {
          "description": "The TCP Proxy configuration script.",
          "type": "string"
        }
      }
    },
    "SqlAclEntry": {
      "type": "object",
      "description": "An entry for an Access Control list.",
      "id": "SqlAclEntry",
      "properties": {
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "expireTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example: `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. The time-to-leave of this access control entry."
        },
        "label": {
          "description": "A label to identify this entry.",
          "type": "string"
        }
      }
    },
    "SqlServerDagConfig": {
      "type": "object",
      "description": "Configuration for distributed availability group (DAG) for the SQL Server homogeneous migration.",
      "id": "SqlServerDagConfig",
      "properties": {
        "sourceAg": {
          "description": "Required. The name of the source availability group. Only used by DAG migrations.",
          "type": "string"
        },
        "linkedServer": {
          "description": "Required. The name of the linked server that points to the source SQL Server instance. Only used by DAG migrations.",
          "type": "string"
        }
      }
    },
    "EntityDdl": {
      "description": "A single DDL statement for a specific entity",
      "id": "EntityDdl",
      "properties": {
        "ddlKind": {
          "type": "string",
          "enum": [
            "DDL_KIND_UNSPECIFIED",
            "SOURCE",
            "DETERMINISTIC",
            "AI",
            "USER_EDIT"
          ],
          "description": "The DDL Kind selected for apply, or UNSPECIFIED if the entity wasn't converted yet.",
          "enumDescriptions": [
            "The kind of the DDL is unknown.",
            "DDL of the source entity",
            "Deterministic converted DDL",
            "Gemini AI converted DDL",
            "User edited DDL"
          ]
        },
        "entity": {
          "description": "The name of the database entity the ddl refers to.",
          "type": "string"
        },
        "ddlType": {
          "description": "Type of DDL (Create, Alter).",
          "type": "string"
        },
        "ddl": {
          "description": "The actual ddl code.",
          "type": "string"
        },
        "entityType": {
          "type": "string",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "The entity type (if the DDL is for a sub entity).",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ]
        },
        "editedDdlKind": {
          "type": "string",
          "enum": [
            "DDL_KIND_UNSPECIFIED",
            "SOURCE",
            "DETERMINISTIC",
            "AI",
            "USER_EDIT"
          ],
          "enumDescriptions": [
            "The kind of the DDL is unknown.",
            "DDL of the source entity",
            "Deterministic converted DDL",
            "Gemini AI converted DDL",
            "User edited DDL"
          ],
          "description": "If ddl_kind is USER_EDIT, this holds the DDL kind of the original content - DETERMINISTIC or AI. Otherwise, this is DDL_KIND_UNSPECIFIED."
        },
        "issueId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "EntityIssues found for this ddl."
        }
      },
      "type": "object"
    },
    "PostgresHomogeneousConfig": {
      "id": "PostgresHomogeneousConfig",
      "properties": {
        "maxAdditionalSubscriptions": {
          "description": "Optional. Maximum number of additional subscriptions to use for the migration job.",
          "type": "integer",
          "format": "int32"
        },
        "isNativeLogical": {
          "description": "Required. Whether the migration is native logical.",
          "type": "boolean"
        }
      },
      "description": "Configuration for PostgreSQL to PostgreSQL migrations.",
      "type": "object"
    },
    "SequenceEntity": {
      "description": "Sequence's parent is a schema.",
      "id": "SequenceEntity",
      "properties": {
        "increment": {
          "type": "string",
          "format": "int64",
          "description": "Increment value for the sequence."
        },
        "maxValue": {
          "type": "string",
          "format": "byte",
          "description": "Maximum number for the sequence represented as bytes to accommodate large. numbers"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "minValue": {
          "type": "string",
          "format": "byte",
          "description": "Minimum number for the sequence represented as bytes to accommodate large. numbers"
        },
        "startValue": {
          "description": "Start number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string",
          "format": "byte"
        },
        "cycle": {
          "description": "Indicates whether the sequence value should cycle through.",
          "type": "boolean"
        },
        "cache": {
          "description": "Indicates number of entries to cache / precreate.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "EntityMove": {
      "type": "object",
      "id": "EntityMove",
      "properties": {
        "newSchema": {
          "description": "Required. The new schema",
          "type": "string"
        }
      },
      "description": "Options to configure rule type EntityMove. The rule is used to move an entity to a new schema. The rule filter field can refer to one or more entities. The rule scope can be one of: Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT"
    },
    "ApplyJobDetails": {
      "description": "Details regarding an Apply background job.",
      "id": "ApplyJobDetails",
      "properties": {
        "connectionProfile": {
          "description": "Output only. The connection profile which was used for the apply job.",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "description": "Output only. AIP-160 based filter used to specify the entities to apply",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MigrationJobObjectsConfig": {
      "id": "MigrationJobObjectsConfig",
      "properties": {
        "sourceObjectsConfig": {
          "description": "The list of the migration job objects.",
          "$ref": "SourceObjectsConfig"
        }
      },
      "description": "Configuration for the objects to be migrated.",
      "type": "object"
    },
    "ApplyConversionWorkspaceRequest": {
      "type": "object",
      "id": "ApplyConversionWorkspaceRequest",
      "properties": {
        "filter": {
          "description": "Optional. Filter which entities to apply. Leaving this field empty will apply all of the entities. Supports Google AIP 160 based filtering.",
          "type": "string"
        },
        "dryRun": {
          "description": "Optional. Only validates the apply process, but doesn't change the destination database. Only works for PostgreSQL destination connection profile.",
          "type": "boolean"
        },
        "autoCommit": {
          "description": "Optional. Specifies whether the conversion workspace is to be committed automatically after the apply.",
          "type": "boolean"
        },
        "connectionProfile": {
          "description": "Optional. Fully qualified (Uri) name of the destination connection profile.",
          "type": "string"
        }
      },
      "description": "Request message for 'ApplyConversionWorkspace' request."
    },
    "CloudSqlConnectionProfile": {
      "description": "Specifies required connection parameters, and, optionally, the parameters required to create a Cloud SQL destination database instance.",
      "id": "CloudSqlConnectionProfile",
      "properties": {
        "cloudSqlId": {
          "description": "Output only. The Cloud SQL instance ID that this connection profile is associated with.",
          "type": "string",
          "readOnly": true
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination Cloud SQL database.",
          "$ref": "CloudSqlSettings"
        },
        "additionalPublicIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud SQL database instance's additional (outgoing) public IP. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available)."
        },
        "privateIp": {
          "description": "Output only. The Cloud SQL database instance's private IP.",
          "readOnly": true,
          "type": "string"
        },
        "publicIp": {
          "description": "Output only. The Cloud SQL database instance's public IP.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MappingRuleFilter": {
      "description": "A filter defining the entities that a mapping rule should be applied to. When more than one field is specified, the rule is applied only to entities which match all the fields.",
      "id": "MappingRuleFilter",
      "properties": {
        "parentEntity": {
          "description": "Optional. The rule should be applied to entities whose parent entity (fully qualified name) matches the given value. For example, if the rule applies to a table entity, the expected value should be a schema (schema). If the rule applies to a column or index entity, the expected value can be either a schema (schema) or a table (schema.table)",
          "type": "string"
        },
        "entityNameSuffix": {
          "description": "Optional. The rule should be applied to entities whose non-qualified name ends with the given suffix.",
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The rule should be applied to specific entities defined by their fully qualified names."
        },
        "entityNameContains": {
          "description": "Optional. The rule should be applied to entities whose non-qualified name contains the given string.",
          "type": "string"
        },
        "entityNamePrefix": {
          "description": "Optional. The rule should be applied to entities whose non-qualified name starts with the given prefix.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListConversionWorkspacesResponse": {
      "type": "object",
      "description": "Response message for 'ListConversionWorkspaces' request.",
      "id": "ListConversionWorkspacesResponse",
      "properties": {
        "conversionWorkspaces": {
          "description": "The list of conversion workspace objects.",
          "items": {
            "$ref": "ConversionWorkspace"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "AuthorizedNetwork": {
      "id": "AuthorizedNetwork",
      "properties": {
        "cidrRange": {
          "description": "Optional. CIDR range for one authorzied network of the instance.",
          "type": "string"
        }
      },
      "description": "AuthorizedNetwork contains metadata for an authorized network.",
      "type": "object"
    },
    "IntComparisonFilter": {
      "type": "object",
      "description": "Filter based on relation between source value and compare value of type integer in ConditionalColumnSetValue",
      "id": "IntComparisonFilter",
      "properties": {
        "value": {
          "description": "Required. Integer compare value to be used",
          "type": "string",
          "format": "int64"
        },
        "valueComparison": {
          "type": "string",
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ],
          "description": "Required. Relation between source value and compare value",
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ]
        }
      }
    },
    "SinglePackageChange": {
      "id": "SinglePackageChange",
      "properties": {
        "packageBody": {
          "description": "Optional. Sql code for package body",
          "type": "string"
        },
        "packageDescription": {
          "description": "Optional. Sql code for package description",
          "type": "string"
        }
      },
      "description": "Options to configure rule type SinglePackageChange. The rule is used to alter the sql code for a package entities. The rule filter field can refer to one entity. The rule scope can be: Package",
      "type": "object"
    },
    "ImportRulesJobDetails": {
      "type": "object",
      "id": "ImportRulesJobDetails",
      "properties": {
        "fileFormat": {
          "description": "Output only. The requested file format.",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "type": "string",
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ],
          "readOnly": true
        },
        "files": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. File names used for the import rules job.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Details regarding an Import Rules background job."
    },
    "ConversionWorkspace": {
      "type": "object",
      "id": "ConversionWorkspace",
      "properties": {
        "destination": {
          "description": "Required. The destination engine details.",
          "$ref": "DatabaseEngineInfo"
        },
        "displayName": {
          "description": "Optional. The display name for the workspace.",
          "type": "string"
        },
        "latestCommitId": {
          "description": "Output only. The latest commit ID.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the workspace resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "globalSettings": {
          "type": "object",
          "description": "Optional. A generic list of settings for the workspace. The settings are database pair dependant and can indicate default behavior for the mapping rules engine or turn on or off specific features. Such examples can be: convert_foreign_key_to_interleave=true, skip_triggers=false, ignore_non_table_synonyms=true",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceProvider": {
          "description": "Optional. The provider for the source database.",
          "enumDescriptions": [
            "Use this value for on-premise source database instances and ORACLE.",
            "Cloud SQL is the source instance provider.",
            "Amazon RDS is the source instance provider.",
            "Amazon Aurora is the source instance provider.",
            "AlloyDB for PostgreSQL is the source instance provider.",
            "Microsoft Azure Database for MySQL/PostgreSQL."
          ],
          "type": "string",
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB",
            "AZURE_DATABASE"
          ]
        },
        "name": {
          "description": "Full name of the workspace resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source engine details.",
          "$ref": "DatabaseEngineInfo"
        },
        "hasUncommittedChanges": {
          "description": "Output only. Whether the workspace has uncommitted changes (changes which were made after the workspace was committed).",
          "type": "boolean",
          "readOnly": true
        },
        "latestCommitTime": {
          "description": "Output only. The timestamp when the workspace was committed.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the workspace resource was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destinationProvider": {
          "description": "Optional. The provider for the destination database.",
          "enumDescriptions": [
            "Use this value for on-premise source database instances and ORACLE.",
            "Cloud SQL is the source instance provider.",
            "Amazon RDS is the source instance provider.",
            "Amazon Aurora is the source instance provider.",
            "AlloyDB for PostgreSQL is the source instance provider.",
            "Microsoft Azure Database for MySQL/PostgreSQL."
          ],
          "type": "string",
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB",
            "AZURE_DATABASE"
          ]
        }
      },
      "description": "The main conversion workspace resource entity."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "DataCacheConfig": {
      "id": "DataCacheConfig",
      "properties": {
        "dataCacheEnabled": {
          "description": "Optional. Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      },
      "description": "Data cache is an optional feature available for Cloud SQL for MySQL Enterprise Plus edition only. For more information on data cache, see [Data cache overview](https://cloud.google.com/sql/help/mysql-data-cache) in Cloud SQL documentation.",
      "type": "object"
    },
    "SynonymEntity": {
      "type": "object",
      "description": "Synonym's parent is a schema.",
      "id": "SynonymEntity",
      "properties": {
        "sourceType": {
          "description": "The type of the entity for which the synonym is being created (usually a table or a sequence).",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "type": "string",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "sourceEntity": {
          "description": "The name of the entity for which the synonym is being created (the source).",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "OracleConnectionProfile": {
      "description": "Specifies connection parameters required specifically for Oracle databases.",
      "id": "OracleConnectionProfile",
      "properties": {
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        },
        "passwordSet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether a new password is included in the request."
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "oracleAsmConfig": {
          "description": "Optional. Configuration for Oracle ASM connection.",
          "$ref": "OracleAsmConfig"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The network port of the source Oracle database."
        },
        "databaseService": {
          "description": "Required. Database service for the Oracle connection.",
          "type": "string"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "ssl": {
          "description": "SSL configuration for the connection to the source Oracle database. * Only `SERVER_ONLY` configuration is supported for Oracle SSL. * SSL is supported for Oracle versions 12 and above.",
          "$ref": "SslConfig"
        },
        "host": {
          "description": "Required. The IP or hostname of the source Oracle database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PromoteMigrationJobRequest": {
      "type": "object",
      "id": "PromoteMigrationJobRequest",
      "properties": {
        "objectsFilter": {
          "description": "Optional. The object filter to apply to the migration job.",
          "$ref": "MigrationJobObjectsConfig"
        }
      },
      "description": "Request message for 'PromoteMigrationJob' request."
    },
    "SourceNumericFilter": {
      "type": "object",
      "description": "Filter for fixed point number data types such as NUMERIC/NUMBER",
      "id": "SourceNumericFilter",
      "properties": {
        "sourceMaxPrecisionFilter": {
          "description": "Optional. The filter will match columns with precision smaller than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "sourceMaxScaleFilter": {
          "description": "Optional. The filter will match columns with scale smaller than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "sourceMinPrecisionFilter": {
          "description": "Optional. The filter will match columns with precision greater than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "numericFilterOption": {
          "description": "Required. Enum to set the option defining the datatypes numeric filter has to be applied to",
          "enumDescriptions": [
            "Numeric filter option unspecified",
            "Numeric filter option that matches all numeric columns.",
            "Numeric filter option that matches columns having numeric datatypes with specified precision and scale within the limited range of filter.",
            "Numeric filter option that matches only the numeric columns with no precision and scale specified."
          ],
          "type": "string",
          "enum": [
            "NUMERIC_FILTER_OPTION_UNSPECIFIED",
            "NUMERIC_FILTER_OPTION_ALL",
            "NUMERIC_FILTER_OPTION_LIMIT",
            "NUMERIC_FILTER_OPTION_LIMITLESS"
          ]
        },
        "sourceMinScaleFilter": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The filter will match columns with scale greater than or equal to this number."
        }
      }
    },
    "QuotaFailure": {
      "id": "QuotaFailure",
      "properties": {
        "violations": {
          "description": "Describes all quota violations.",
          "items": {
            "$ref": "QuotaFailureViolation"
          },
          "type": "array"
        }
      },
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure.",
      "type": "object"
    },
    "MappingRule": {
      "description": "Definition of a transformation that is to be applied to a group of entities in the source schema. Several such transformations can be applied to an entity sequentially to define the corresponding entity in the target schema.",
      "id": "MappingRule",
      "properties": {
        "name": {
          "description": "Full name of the mapping rule resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{set}/mappingRule/{rule}.",
          "type": "string"
        },
        "singleEntityRename": {
          "description": "Optional. Rule to specify how a single entity should be renamed.",
          "$ref": "SingleEntityRename"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Optional. The mapping rule state",
          "enumDescriptions": [
            "The state of the mapping rule is unknown.",
            "The rule is enabled.",
            "The rule is disabled.",
            "The rule is logically deleted."
          ]
        },
        "multiEntityRename": {
          "description": "Optional. Rule to specify how multiple entities should be renamed.",
          "$ref": "MultiEntityRename"
        },
        "conditionalColumnSetValue": {
          "description": "Optional. Rule to specify how the data contained in a column should be transformed (such as trimmed, rounded, etc) provided that the data meets certain criteria.",
          "$ref": "ConditionalColumnSetValue"
        },
        "singleColumnChange": {
          "description": "Optional. Rule to specify how a single column is converted.",
          "$ref": "SingleColumnChange"
        },
        "singlePackageChange": {
          "description": "Optional. Rule to specify how a single package is converted.",
          "$ref": "SinglePackageChange"
        },
        "ruleOrder": {
          "description": "Required. The order in which the rule is applied. Lower order rules are applied before higher value rules so they may end up being overridden.",
          "type": "string",
          "format": "int64"
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "revisionId": {
          "description": "Output only. The revision ID of the mapping rule. A new revision is committed whenever the mapping rule is changed in any way. The format is an 8-character hexadecimal string.",
          "type": "string",
          "readOnly": true
        },
        "multiColumnDataTypeChange": {
          "description": "Optional. Rule to specify how multiple columns should be converted to a different data type.",
          "$ref": "MultiColumnDatatypeChange"
        },
        "filter": {
          "description": "Required. The rule filter",
          "$ref": "MappingRuleFilter"
        },
        "setTablePrimaryKey": {
          "description": "Optional. Rule to specify the primary key for a table",
          "$ref": "SetTablePrimaryKey"
        },
        "displayName": {
          "description": "Optional. A human readable name",
          "type": "string"
        },
        "convertRowidColumn": {
          "description": "Optional. Rule to specify how multiple tables should be converted with an additional rowid column.",
          "$ref": "ConvertRowIdToColumn"
        },
        "entityMove": {
          "description": "Optional. Rule to specify how multiple entities should be relocated into a different schema.",
          "$ref": "EntityMove"
        },
        "ruleScope": {
          "description": "Required. The rule scope",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "type": "string",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "sourceSqlChange": {
          "description": "Optional. Rule to change the sql code for an entity, for example, function, procedure.",
          "$ref": "SourceSqlChange"
        },
        "filterTableColumns": {
          "description": "Optional. Rule to specify the list of columns to include or exclude from a table.",
          "$ref": "FilterTableColumns"
        }
      },
      "type": "object"
    },
    "Position": {
      "type": "object",
      "description": "Issue position.",
      "id": "Position",
      "properties": {
        "column": {
          "type": "integer",
          "format": "int32",
          "description": "Issue column number"
        },
        "length": {
          "description": "Issue length",
          "type": "integer",
          "format": "int32"
        },
        "line": {
          "type": "integer",
          "format": "int32",
          "description": "Issue line number"
        },
        "offset": {
          "description": "Issue offset",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ConversionWorkspaceInfo": {
      "description": "A conversion workspace's version.",
      "id": "ConversionWorkspaceInfo",
      "properties": {
        "name": {
          "description": "The resource name (URI) of the conversion workspace.",
          "type": "string"
        },
        "commitId": {
          "description": "The commit ID of the conversion workspace.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FieldViolation": {
      "type": "object",
      "description": "A message type used to describe a single bad request field.",
      "id": "FieldViolation",
      "properties": {
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "field": {
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
          "type": "string"
        },
        "reason": {
          "description": "The reason of the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        }
      }
    },
    "DoubleComparisonFilter": {
      "description": "Filter based on relation between source value and compare value of type double in ConditionalColumnSetValue",
      "id": "DoubleComparisonFilter",
      "properties": {
        "valueComparison": {
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ],
          "description": "Required. Relation between source value and compare value",
          "type": "string",
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ]
        },
        "value": {
          "description": "Required. Double compare value to be used",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "OracleToPostgresConfig": {
      "type": "object",
      "id": "OracleToPostgresConfig",
      "properties": {
        "oracleSourceConfig": {
          "description": "Optional. Configuration for Oracle source.",
          "$ref": "OracleSourceConfig"
        },
        "postgresDestinationConfig": {
          "description": "Optional. Configuration for Postgres destination.",
          "$ref": "PostgresDestinationConfig"
        }
      },
      "description": "Configuration for heterogeneous **Oracle to Cloud SQL for PostgreSQL** and **Oracle to AlloyDB for PostgreSQL** migrations."
    },
    "SshScript": {
      "type": "object",
      "id": "SshScript",
      "properties": {
        "script": {
          "description": "The ssh configuration script.",
          "type": "string"
        }
      },
      "description": "Response message for 'GenerateSshScript' request."
    },
    "FetchStaticIpsResponse": {
      "description": "Response message for a 'FetchStaticIps' request.",
      "id": "FetchStaticIpsResponse",
      "properties": {
        "staticIps": {
          "items": {
            "type": "string"
          },
          "description": "List of static IPs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BadRequest": {
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "id": "BadRequest",
      "properties": {
        "fieldViolations": {
          "type": "array",
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "Describes all violations in a client request."
        }
      },
      "type": "object"
    },
    "ImportMappingRulesRequest": {
      "type": "object",
      "id": "ImportMappingRulesRequest",
      "properties": {
        "rulesFormat": {
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "description": "Required. The format of the rules content file.",
          "type": "string",
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ]
        },
        "rulesFiles": {
          "items": {
            "$ref": "RulesFile"
          },
          "description": "Required. One or more rules files.",
          "type": "array"
        },
        "autoCommit": {
          "description": "Required. Should the conversion workspace be committed automatically after the import operation.",
          "type": "boolean"
        }
      },
      "description": "Request message for 'ImportMappingRules' request."
    },
    "SourceSqlChange": {
      "type": "object",
      "description": "Options to configure rule type SourceSqlChange. The rule is used to alter the sql code for database entities. The rule filter field can refer to one entity. The rule scope can be: StoredProcedure, Function, Trigger, View",
      "id": "SourceSqlChange",
      "properties": {
        "sqlCode": {
          "description": "Required. Sql code for source (stored procedure, function, trigger or view)",
          "type": "string"
        }
      }
    },
    "StaticIpConnectivity": {
      "description": "The source database will allow incoming connections from the public IP of the destination database. You can retrieve the public IP of the Cloud SQL instance from the Cloud SQL console or using Cloud SQL APIs. No additional configuration is required.",
      "id": "StaticIpConnectivity",
      "properties": {},
      "type": "object"
    },
    "BinaryLogParser": {
      "type": "object",
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "id": "BinaryLogParser",
      "properties": {
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        },
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        }
      }
    },
    "SqlServerDestinationConfig": {
      "type": "object",
      "id": "SqlServerDestinationConfig",
      "properties": {
        "maxConcurrentConnections": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of connections Database Migration Service will open to the destination for data migration."
        },
        "transactionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Timeout for data migration transactions."
        }
      },
      "description": "Configuration for SQL Server as a destination in a migration."
    },
    "SchemaEntity": {
      "description": "Schema typically has no parent entity, but can have a parent entity DatabaseInstance (for database engines which support it). For some database engines, the terms schema and user can be used interchangeably when they refer to a namespace or a collection of other database entities. Can store additional information which is schema specific.",
      "id": "SchemaEntity",
      "properties": {
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FunctionEntity": {
      "type": "object",
      "description": "Function's parent is a schema.",
      "id": "FunctionEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the function.",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "MaterializedViewEntity": {
      "type": "object",
      "id": "MaterializedViewEntity",
      "properties": {
        "indices": {
          "items": {
            "$ref": "IndexEntity"
          },
          "description": "View indices.",
          "type": "array"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sqlCode": {
          "description": "The SQL code which creates the view.",
          "type": "string"
        }
      },
      "description": "MaterializedView's parent is a schema."
    },
    "RollbackConversionWorkspaceRequest": {
      "type": "object",
      "id": "RollbackConversionWorkspaceRequest",
      "properties": {},
      "description": "Request message for 'RollbackConversionWorkspace' request."
    },
    "ErrorInfo": {
      "type": "object",
      "id": "ErrorInfo",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reason": {
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        }
      },
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "TableEntity": {
      "type": "object",
      "description": "Table's parent is a schema.",
      "id": "TableEntity",
      "properties": {
        "comment": {
          "description": "Comment associated with the table.",
          "type": "string"
        },
        "indices": {
          "items": {
            "$ref": "IndexEntity"
          },
          "description": "Table indices.",
          "type": "array"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ColumnEntity"
          },
          "description": "Table columns."
        },
        "constraints": {
          "items": {
            "$ref": "ConstraintEntity"
          },
          "description": "Table constraints.",
          "type": "array"
        },
        "triggers": {
          "description": "Table triggers.",
          "items": {
            "$ref": "TriggerEntity"
          },
          "type": "array"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "MultiEntityRename": {
      "type": "object",
      "id": "MultiEntityRename",
      "properties": {
        "newNamePattern": {
          "description": "Optional. The pattern used to generate the new entity's name. This pattern must include the characters '{name}', which will be replaced with the name of the original entity. For example, the pattern 't_{name}' for an entity name jobs would be converted to 't_jobs'. If unspecified, the default value for this field is '{name}'",
          "type": "string"
        },
        "sourceNameTransformation": {
          "type": "string",
          "enum": [
            "ENTITY_NAME_TRANSFORMATION_UNSPECIFIED",
            "ENTITY_NAME_TRANSFORMATION_NO_TRANSFORMATION",
            "ENTITY_NAME_TRANSFORMATION_LOWER_CASE",
            "ENTITY_NAME_TRANSFORMATION_UPPER_CASE",
            "ENTITY_NAME_TRANSFORMATION_CAPITALIZED_CASE"
          ],
          "description": "Optional. Additional transformation that can be done on the source entity name before it is being used by the new_name_pattern, for example lower case. If no transformation is desired, use NO_TRANSFORMATION",
          "enumDescriptions": [
            "Entity name transformation unspecified.",
            "No transformation.",
            "Transform to lower case.",
            "Transform to upper case.",
            "Transform to capitalized case."
          ]
        }
      },
      "description": "Options to configure rule type MultiEntityRename. The rule is used to rename multiple entities. The rule filter field can refer to one or more entities. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT"
    },
    "VmCreationConfig": {
      "id": "VmCreationConfig",
      "properties": {
        "vmMachineType": {
          "description": "Required. VM instance machine type to create.",
          "type": "string"
        },
        "subnet": {
          "description": "The subnet name the vm needs to be created in.",
          "type": "string"
        },
        "vmZone": {
          "description": "The Google Cloud Platform zone to create the VM in.",
          "type": "string"
        }
      },
      "description": "VM creation configuration message",
      "type": "object"
    },
    "SourceObjectsConfig": {
      "type": "object",
      "id": "SourceObjectsConfig",
      "properties": {
        "objectsSelectionType": {
          "type": "string",
          "enum": [
            "OBJECTS_SELECTION_TYPE_UNSPECIFIED",
[...]
